[2017-03-04 11:43] poush commented on #3297
I'm on it

[2017-03-04 12:44] poush commented on #3297
@niranjan94 I think the issue is related with the html unclosed html tags from wysiwyg editor  for entering speaker's bio. Since we are generating substring of 120 characters length of speaker's bio. Can we remove all HTML tags from bio to make sure this not happens ?

[2017-03-04 13:02] niranjan94 commented on #3297
@poush i don't think we have any unclosed tags. We're sanitizing the html before saving it. This  is probably a bootstrap grid related issue. Please check.

Removing something without a valid reason just as a hack to fix a bug is not an option.

[2017-03-04 13:10] poush commented on #3297
@niranjan94 I think I wasn't clear here. Firstly No, I'm not saying about the content we are receiving from the editor. The issue is that we are generating substring of speaker's bio to limit it to 120 characters. Now if the content in speaker bio was something like this

[code]

Now if we make substring of it, we will end up with something like

[code]
This will cause ```p``` tag to be left open.

[2017-03-05 02:50] mariobehling opened #3298 "Internal Speaker Images are saved as very big png"
On the organizers and submission pages of speakers images are saved as png. These png are sometimes several MB big. Please ensure a more efficient and smaller storage.

Most speakers will submit an image as jpg. Why is it converted?

![screenshot from 2017-03-05 10-47-50](https://cloud.githubusercontent.com/assets/1583873/23584089/8a810bb8-0191-11e7-93e6-60f70ccac8a6.png)

[2017-03-05 08:05] SaptakS commented on #3297
@mariobehling @niranjan94 I think this issue has been fixed  by #3294. Please check. @poush we are no longer taking a substring of text, so your query is also answered I think.

[2017-03-05 08:15] #3297 closed

[2017-03-05 08:46] mariobehling opened #3299 "pentabarf, ical, xcal implementation not working"
The ical, pentabarf, xcal implementations are linked in the "Export" tab. Currently using the links, e.g. https://eventyay.com/e/45da88b7/schedule/calendar.ics shows an error page.

[2017-03-05 08:54] mariobehling opened #3300 "Images converted to large png images"
Most images uploaded to the event system are relatively small jpg files. The system seems to convert all images to large pngs that are shown in some parts of the app and provided as a source for the API as well.

This is increasing the size of all images. With an larger number of events this potentially slows down the system.

On the client side some of the pngs are 4 to 5 times bigger than the or

[2017-03-05 08:58] CosmicCoder96 commented on #3228
@niranjan94
Please assign this to someone else. I will be away for a few days.

[2017-03-05 11:04] mariobehling commented on #3259
Issue is not solved entirely yet. Please implement in similar way to Webapp:

1. Not expanded version

![screenshot from 2017-03-05 19-03-16](https://cloud.githubusercontent.com/assets/1583873/23586737/889870da-01d6-11e7-851d-3f487a66ab33.png)

2. Expanded version

![screenshot from 2017-03-05 19-03-40](https://cloud.githubusercontent.com/assets/1583873/23586738/91d374ba-01d6-11e7-976a-30cc5cf7b2f

[2017-03-05 11:29] mariobehling commented on #3111
@poush Maybe try as an admin.

I am now receiving notifications 3 times.

![screenshot from 2017-03-05 19-28-48](https://cloud.githubusercontent.com/assets/1583873/23586893/0f4cdd34-01da-11e7-88c0-5b75a575ba2f.png)

[2017-03-05 15:01] Princu7 commented on #3259
I can try to solve this issue if @SaptakS is not currently working on this issue :)

[2017-03-05 15:08] mariobehling commented on #3259
@Princu7 I think @SaptakS has other open issues and already solved the expansion part. So, please go ahead.

[2017-03-05 15:25] #3287 closed

[2017-03-05 17:23] poush commented on #3295
I tried creating a solution. Here is the sample export I'm able to download
![timeline 88](https://cloud.githubusercontent.com/assets/1812082/23589628/7804771c-01f6-11e7-9b7e-cf8850131c67.png)

[2017-03-05 17:28] poush commented on #3295
The concept is that I give the timeline full width for a moment to generate export

![screenflow](https://cloud.githubusercontent.com/assets/1812082/23589660/262eb276-01f7-11e7-98a2-48b5c6ba746f.gif)

[2017-03-05 17:30] poush commented on #3295
We can fade the screen with some popup or modal saying your export is in the process for this moment of the export process.
@mariobehling @niranjan94 @SaptakS Would like to know your suggestions on this.

[2017-03-05 21:21] SaptakS commented on #3300
@mariobehling converting images from jpg to png automatically increases size and it is advised to do image operations on png rather than jpg because it then reduces the quality of image. So the original image upoaded maybe big.

But we need to use only the resized-images rather than the original images. The resized images are smaller in size and match the dimensions as well. So it is advisable to

[2017-03-05 21:22] SaptakS commented on #3298
https://github.com/fossasia/open-event-orga-server/issues/3300#issuecomment-284263761

[2017-03-05 21:26] SaptakS commented on #3259
@Princu7 the expansion part is already done. All you need to do is arrange and put all the relevant information on expanding.

[2017-03-05 21:41] Princu7 commented on #3259
@saptakS Okay. I will try to fill in the rest of the work. Thanks!!

[2017-03-05 22:35] Princu7 commented on #3259
@SaptakS @niranjan94  I am able to access most of the required properties of the speaker though `sessionRefObject.session.speakers` object in the `scheduler.js` file. It contains fields like `name`, `Organization` but doesn't contain the other required fields like `short_biography` and `photo`. Please guide how can I access those fields or from where I can populate them. Thanks!!

[2017-03-06 01:20] mariobehling commented on #3295
@poush Thanks, please make a PR and iterate from there to see if the fade solution is more elegant.

[2017-03-06 01:48] mariobehling commented on #3259
@Princu7 About speaker info, please have a look at the implementation of featured speakers,e.g. https://eventyay.com/e/45da88b7/#feat-speakers.

[2017-03-06 04:50] Princu7 commented on #3259
@mariobehling Thanks. Featured speakers pages directly use the event object passed to it. The schedule page requests data from the API itself. The other info fields of speakers like `short_biography` and `photo` were not defined in the object returned from the API and hence were not present. Adding them to the API should correct the problem :)

[2017-03-06 05:36] #3270 closed

[2017-03-06 11:37] mariobehling opened #3304 "Public Schedule: Empty column at the end of pop out schedule"
There is an empty column at the end of the pop out schedule resulting in a bottom scroll bar that is covering only parts of the bottom. Please see screenshots below.

![screenshot from 2017-03-06 19-33-11](https://cloud.githubusercontent.com/assets/1583873/23608421/375bfc04-02a4-11e7-9293-ca260b31835d.png)

![screenshot from 2017-03-06 19-33-47](https://cloud.githubusercontent.com/assets/1583873/2

[2017-03-06 13:14] #3304 closed

[2017-03-06 14:07] mariobehling opened #3307 "Public Schedule/Calendar View: Increase width of session info and add speaker name in normal view"
The public schedule now shows more info in the calendar view, but the dropdown info is a bit long.

Please increase the width of the dropdown. It can cover part of the left and right column if necessary. If the column is on the very left or very right, please ensure the info is not hidden.

In the normal view (without clicking on the session) also show the speaker name on the calendar view below t

[2017-03-06 14:26] mariobehling opened #3308 "Schedule: "0" showing behind room numbers"
Why are there zeros "0" showing up behind room numbers in the schedule. Please take out these zeros.

![screenshot from 2017-03-06 22-25-11](https://cloud.githubusercontent.com/assets/1583873/23613837/e93ab5e8-02bb-11e7-88ca-b2aef1932296.png)

[2017-03-06 14:38] mariobehling opened #3309 "Public Schedule/Calendar View: Increase the size of the font and make it bold"
The text of the calendar view is often difficult to read as it is small. Please:
* increase the size of the font
* make it bold

![screenshot from 2017-03-06 22-36-13](https://cloud.githubusercontent.com/assets/1583873/23614348/929b4ac0-02bd-11e7-9af3-eae14de17628.png)

[2017-03-06 14:48] mariobehling commented on #3273
@uttu357 Can we make this lightbox make use of 100% of this window, please?

![screenshot from 2017-03-06 22-47-03](https://cloud.githubusercontent.com/assets/1583873/23614760/07f9fe28-02bf-11e7-88c0-c69dc7eed213.png)

[2017-03-06 15:04] mariobehling opened #3310 "Public Schedule: Offer search box in top menu"
The organizer front end offers a search bar for sessions and speakers. The public schedule is missing that. Please offer a search bar in front of the rooms view button (on the left of the button).

![screenshot from 2017-03-06 23-02-39](https://cloud.githubusercontent.com/assets/1583873/23615385/30aacd32-02c1-11e7-923a-2dd010bdc864.png)

[2017-03-06 16:20] SaptakS opened #3313 "Check and remove unused JS files in public page"
Right now in schedule page, the total size of JS files is around 1 MB which is huge!

[2017-03-06 16:21] #3293 closed

[2017-03-06 16:21] #3300 closed

[2017-03-06 16:21] #3308 closed

[2017-03-06 17:56] mariobehling commented on #3259
@Princu7 Ok, got it. Though, I wonder I think that should be in the API.

Would be great, if we could already progress on the other areas. So, we could feature this at the FOSSASIA Summit.

Please open an issue with the details what is missing in the API. Thanks.

[2017-03-06 19:01] Princu7 commented on #3259
@mariobehling @SaptakS The issue has already been solved via a different pull request #3278 :) I have done some work on this issue. Here is a prototype that I made
http://ancient-thicket-44821.herokuapp.com/e/624953ec/schedule/
Please review and suggest. Thanks!!

[2017-03-06 19:06] SaptakS commented on #3259
@Princu7 looks good. Just put the names beside the speaker image, and use `speaker.small` instead of `speaker.photo`. After that please send a PR so I can check the code. Thanks.

[2017-03-07 01:40] mariobehling commented on #3085
@nishapoyarekar Thanks for the commit. Please change the color in accepted to "yellow" (not orange).

Currently it is not possible to send an email to "sessions pending".

![screenshot from 2017-03-07 09-38-24](https://cloud.githubusercontent.com/assets/1583873/23638022/19743f6e-031a-11e7-8888-f60a0e79f5bf.png)

[2017-03-07 01:52] mariobehling opened #3315 "Public Schedule cannot scroll session in pop-out view and decrease space after paragraphs"
* Cannot scroll calendar with expanded session info in pop-out view. Only page scrolling, but not the session view itself.

![screenshot from 2017-03-07 09-48-20](https://cloud.githubusercontent.com/assets/1583873/23638226/40ea25c6-031b-11e7-9292-73ead46c8ab1.png)

* Decrease space after "About Speaker" and "Session" paragraphs.

![screenshot from 2017-03-07 09-46-04](https://cloud.githubuserconte

[2017-03-07 04:14] mariobehling opened #3316 "Public Pop-out schedule: Do not include "timings" on bottom area and don't show scroll bar on bottom if no scroll"
The bottom area of the public schedule shows a scroll bar even if there is not enough content to scroll. Please avoid this.

The area below the scroll bar also shows the timings e.g. Singapore. Please take out the timings from the pop-out menu (only show it in the no pop-out version).

![screenshot from 2017-03-07 12-11-28](https://cloud.githubusercontent.com/assets/1583873/23641548/8eccfcdc-032f-

[2017-03-07 04:19] mariobehling opened #3317 "Public Schedule Calendar View: Decrease width of header to 200px"
Let's save some space to show more info on the screen. Please decrease the header of the table in the public schedule calendar view to 200px width.

![screenshot from 2017-03-07 12-17-47](https://cloud.githubusercontent.com/assets/1583873/23641606/2d4b5b56-0330-11e7-8925-19e92f6fdfe2.png)

[2017-03-07 04:23] mariobehling commented on #3307
Instead of "session name `by` speaker name" use "session name ` | ` speaker name", please. This makes it easier to actually spot the speaker name. Thanks.

![screenshot from 2017-03-07 12-23-06](https://cloud.githubusercontent.com/assets/1583873/23641696/d6acd5da-0330-11e7-81f3-554c6f7a7589.png)

[2017-03-07 04:27] mariobehling opened #3318 "Schedule Calendar View: Show calendar only 15 minutes after last session"
As the session info is not showing over the surrounding areas, please reduce the time of the schedule shown after the last session.

Only show the schedule until "15 minutes after the last session".

[2017-03-07 04:48] mariobehling opened #3319 "Public Event Page: Background image ratio"
It seems the ratio of the background image is a bit distorted. Can you confirm?

e.g. https://eventyay.com/e/45da88b7/

![screenshot from 2017-03-07 12-43-50](https://cloud.githubusercontent.com/assets/1583873/23642277/618d5258-0334-11e7-9718-29ced6291e0b.png)

[2017-03-07 06:20] mariobehling opened #3321 "Schedule Public Calendar: Does not display on Mobile"
When I try to access the calendar view on the mobile it only shows the track view.

Additional issue are:
* pop-out button is overlapping

![screenshot_2017-03-07-14-16-46](https://cloud.githubusercontent.com/assets/1583873/23644208/211f5f38-0341-11e7-9bba-a3861c83030a.png)

[2017-03-07 06:20] poush opened #3322 "Overlapping elements in pop out public schedule"
Due to incorrect use of position property in pop out, the elements are overlapping.

[2017-03-07 06:21] mariobehling opened #3323 "Schedule: Track view on mobile - expansion not possible and not using full width"
Track view of the schedule on mobile has two issues:
* cannot see detailed info of track by tapping on the area on mobile
* track view is not using full width of screen on mobile

[2017-03-07 06:21] poush commented on #3322
<img width="1440" alt="screen shot 2017-03-07 at 11 51 13 am" src="https://cloud.githubusercontent.com/assets/1812082/23644246/6797f746-032c-11e7-8837-1b523a59956f.png">

[2017-03-07 06:22] poush commented on #3322
I'm working on this and I think this will also fix scrollbar issue in #3316

[2017-03-07 06:33] poush commented on #3316
@mariobehling Please see If #3324  resolves the issue for scrollbar.

[2017-03-07 07:56] SaptakS commented on #3228
@mariobehling this issue has been fixed.

[2017-03-07 07:56] #3228 closed

[2017-03-07 09:12] #3322 closed

[2017-03-07 09:40] #3316 closed

[2017-03-07 12:37] #3282 closed

[2017-03-07 12:50] SaptakS commented on #3319
The code seems absolutely fine. https://github.com/fossasia/open-event-orga-server/pull/2838 I had corrected the code. So the code is fine.

[2017-03-07 14:15] mariobehling opened #3328 "Ticket "Check in" on web form does not work. Shows "error""
The checkin on the web system used to be possible. Trying out the feature show "Error saving".

![screenshot from 2017-03-07 22-14-12](https://cloud.githubusercontent.com/assets/1583873/23660183/91435502-0383-11e7-8ec0-4c4aa9bc6691.png)

[2017-03-07 14:22] mariobehling opened #3329 "Mobile version of public event page shows speaker images in different sizes"
Mobile version of public event page shows speaker images in different sizes, e.g. https://eventyay.com/e/45da88b7/

Expected all images should have one size.

![screenshot_2017-03-07-22-04-27](https://cloud.githubusercontent.com/assets/1583873/23660435/648ccefc-0384-11e7-801b-ede469b6d0a6.png)

[2017-03-07 14:40] #3317 closed

[2017-03-07 14:46] mariobehling commented on #3319
Is the image maybe scaled wrongly or is it the issue of the html on that page? Do you see that there is a scaling issue by looking at it?

[2017-03-07 14:59] #3328 closed

[2017-03-07 14:59] #3307 closed

[2017-03-07 16:48] mariobehling opened #3331 "Inactive Promo Code still working"
There is the option of making promo codes inactive in the table view. If the user does it, the code shows "inactive" in the table, but actually on the ticket page the promo code still works.

At the moment the only option is to delete the promo code.

![screenshot from 2017-03-08 00-45-36](https://cloud.githubusercontent.com/assets/1583873/23667414/baf852de-0398-11e7-97ed-8487406588bb.png)

[2017-03-08 03:29] mariobehling opened #3332 "Show discount code in Orders and Attendee Overview and offer Filtered Search for Discounts"
Right now, it is not possible to see all attendees who have used a certain discount code.

* [ ] Please add a discount code in the orders and attendee table as shown below.

![screenshot from 2017-03-08 11-25-39](https://cloud.githubusercontent.com/assets/1583873/23688914/33c8193e-03f2-11e7-84f6-f986dc3154c1.png)

* [ ] Also offer a filtered search for discounts on the dedicated area for searches.

[2017-03-08 05:58] poush commented on #3331
I would like to work on this.

[2017-03-08 07:25] #3331 closed

[2017-03-08 09:12] mariobehling commented on #3295
@poush Thanks for implementing this. In order to be fully functional the complete width of all tracks needs to be exported. The currently implemented version only exports the visible area. Please see below.

![timeline](https://cloud.githubusercontent.com/assets/1583873/23697338/604d5a16-0422-11e7-9038-486a5bcd211b.png)

[2017-03-08 09:15] mariobehling commented on #3295
The "Export PNG" button should be located behind the "Sessions View" button (on the right of it).

Testing the full schedule view also only some areas of the schedule are exported as png.

[2017-03-08 09:27] mariobehling opened #3335 "Schedule: How can we get a PDF print out version from the browser"
The browser does not generate a proper pdf print-out version of the calendar schedule.

https://eventyay.com/e/45da88b7/schedule/

Please implement a pdf.

[2017-03-08 17:21] Princu7 commented on #3259
@SaptakS I am sorry. Could you please clarify more on the `speaker.small` point? There seems to be no such field defined in the `api/sessions.py` file. Also, I have opened a request #3336 regarding this issue. Please review it and suggest improvements. Also, in case, speaker doesn't have any image, how do I show a default image?

[2017-03-08 18:25] cepradeep opened #3337 "Installation not working on Fedora"
**WHAT:**

On Fedora 25, when installing the dependencies with `pip install -r requirements.txt`, the installation of `librabbitmq` fails with the following error:

[code]
You can find a more detailed version of the output in [this text-dump](https://paste.opensuse.org/view/simple/22524203).

**HOW TO REPRODUCE:**

On any Fedora system, navigate to the root of the project, and run `pip install -r

[2017-03-08 18:37] SaptakS commented on #3337
So pip install librabbitmq==1.6.1 doesn't work in fedora 25??

[2017-03-08 18:38] SaptakS commented on #3337
I think I made the modification... For 1.5.1...

[2017-03-08 18:48] cepradeep commented on #3337
No, it doesn't. I spent all of today chasing down various options before finding your PR#2443 referenced here: https://github.com/celery/librabbitmq/issues/61. I think your change was overwritten by a later commit.

I think adding a `requirements-fedora.txt` file and noting this in the install docs is the better way forward, unless someone has noticed a critical clash between these two versions. T

[2017-03-08 18:48] SaptakS commented on #3259
@princu7 we need to add small and other image sizes to the api in that case. I think there I already an issue related to adding missing fields in api. In dashboard version you will see that there are 3 image sizes in which speaks image is resized and used accordingly.

In case speaker image isn't there, onerror() function will automatically show placeholder img

[2017-03-08 18:53] SaptakS commented on #3337
I think fixing it to 1.5.1 is a better solution. I believe that if it isn't working in fedora it might fail in rhel and other OS as well.

[2017-03-08 19:01] cepradeep commented on #3337
Okay, I'm on it!

It's worth noting that we've to be careful about not over-writing these changes, since most developers ought to be at `1.6.1` now.

[2017-03-08 19:43] #3337 closed

[2017-03-09 03:20] LuD1161 commented on #3289
I am working on this

[2017-03-09 03:50] poush commented on #3295
@mariobehling Can you tell me how many rooms were there in that schedule?

[2017-03-09 03:57] poush commented on #3295
If this was the schedule,

![timeline](https://cloud.githubusercontent.com/assets/1812082/23735277/981e080e-04aa-11e7-8a8f-7d45e5a7a524.png)

[2017-03-09 03:58] LuD1161 commented on #3289
@mariobehling ![solved_with_some_issues](https://cloud.githubusercontent.com/assets/17861054/23735294/ae58819e-04aa-11e7-88a3-dfd5a85d67fc.png)
Is this good ?

[2017-03-09 05:58] mariobehling commented on #3289
@LuD1161 I think you did not understand the issue. Links that are not Linkedin, Twitter etc. are rendered as Linkedin icons in the speakers description. This is not desired.

![screenshot from 2017-03-09 13-57-23](https://cloud.githubusercontent.com/assets/1583873/23737830/6daa8658-04d0-11e7-9a31-b1ded62394cf.png)

[2017-03-09 06:10] mariobehling commented on #3295
@poush It is working now. Awesome!

I still see open issues on your screenshot though still:
a) Background is partly transparent. It should be white
b) The last column is not desired. It does not have a track (after Tinkering studio).
c) The expansion icon jumps to the dates
d) The "Export PNG" button should be behind/after "Session View" - Actually can we change this button to a download symbol a

[2017-03-09 06:23] mariobehling opened #3339 "Public Schedule add event name and move some info to bottom"
On the top area please add the name of the event in front of "Schedule".

Also move "Published on..", e.g.  (Published on March 01, 2017) to the bottom without brackets.

![screenshot from 2017-03-09 14-18-01](https://cloud.githubusercontent.com/assets/1583873/23738451/f4477772-04d3-11e7-93c3-12e546405b03.png)

[2017-03-09 07:45] LuD1161 commented on #3289
@mariobehling
I still don't get what issue do you want to solve ?
Cause I don't get any such icons in the speaker's description
![what_icons](https://cloud.githubusercontent.com/assets/17861054/23740538/0d289f46-04ca-11e7-9bad-c4c6acdb70ef.png)

And this is the website screenshot : ( I don't see any icons here too )
![screenshot_20170309-130816](https://cloud.githubusercontent.com/assets/17861054/

[2017-03-09 08:49] niranjan94 commented on #3289
@LuD1161 try add a linkedin link as text in a speaker description .

[2017-03-09 09:09] #3329 closed

[2017-03-09 09:11] LuD1161 commented on #3332
Working on it

[2017-03-09 09:23] LuD1161 commented on #3289
@niranjan94
See the bottom , I added the LinkedIn url ( at the bottom you can see the link ) in the short description  cause the long description isn't being visible on my system.
I am still not able to reproduce the issue ...

![Uploading linkedIn.png…]()

[2017-03-09 09:39] LuD1161 commented on #3332
@mariobehling
Should it be like this ?
Right now I have only finished the first part of the issue , working on the filter part.
![first_part](https://cloud.githubusercontent.com/assets/17861054/23744420/287a3178-04da-11e7-83a3-7b71b4feba72.png)

[2017-03-09 09:43] mariobehling commented on #3332
Instead of "Free" Show the actual discount code, e.g. "PROMOCODE2016" or whatever the discount code is.

[2017-03-09 09:47] LuD1161 commented on #3332
@mariobehling
"Free" is the discount code :)

[2017-03-09 10:32] SaptakS commented on #3319
I think it is an issue with the html. This looks ok, right?

![screenshot from 2017-03-09 14-24-31](https://cloud.githubusercontent.com/assets/9530293/23746347/9d027dc8-04e1-11e7-85cb-e2015befe2a2.png)

[2017-03-09 13:38] cepradeep commented on #3252
I'm working on this.

[2017-03-09 14:45] #3298 closed

[2017-03-09 15:03] cepradeep commented on #3335
One option is to add `@media print` CSS styles, but I'm not sure how much improvement this will fetch us. It's worth a try, though.

[2017-03-09 15:09] mariobehling commented on #3332
@LuD1161 Ok, looks good then. Please make a PR.

[2017-03-09 22:38] shubham-padia commented on #3323
@mariobehling Point one seems to be a vendor specific issue. Mine worked fine for chrome in android. Can you please specify the OS and the browser to recreate the issue.

[2017-03-10 00:13] #3259 closed

[2017-03-10 00:17] mariobehling opened #3346 "Ticketing: More than Maximum Number of Tickets set can be bought"
The system let's users buy more than the maximum number of tickets set by the organizer.

Tickets set in wizard step 1:
![screenshot from 2017-03-10 08-10-13](https://cloud.githubusercontent.com/assets/1583873/23776511/c6735d66-0569-11e7-83a3-c3fa4ddd0570.png)

Tickets sold:
![screenshot from 2017-03-10 08-11-43](https://cloud.githubusercontent.com/assets/1583873/23776518/d72ef002-0569-11e7-89df-f

[2017-03-10 00:52] mariobehling commented on #3346
Tickets Sold is now bigger than Ticket Capacity:

![screenshot from 2017-03-10 08-51-16](https://cloud.githubusercontent.com/assets/1583873/23777343/ebbb254a-056e-11e7-838b-6c8a5aa37a7c.png)

[2017-03-10 01:51] mariobehling commented on #3323
Chrome 56 on Android 4.4.2.

Still not working. Just tried last version.

[2017-03-10 04:03] LuD1161 commented on #3339
@mariobehling
Is this good ?
![scheduler](https://cloud.githubusercontent.com/assets/17861054/23781616/aa455b3e-0574-11e7-9beb-0f97fe2712e3.png)

[2017-03-10 06:49] mariobehling commented on #3339
Yes, very good.

Please also move "Published on.." to the same line as "All timings...". Keep it on the left side and get rid of the "( )" brackets.

[2017-03-10 08:24] LuD1161 commented on #3339
Making a PR with the a new branch and a new forked repo ...
The previous one was all messed up
Hope this is what is needed..

![image](https://cloud.githubusercontent.com/assets/17861054/23787630/f27216c6-0598-11e7-9640-f62e6cae1df9.png)

[2017-03-10 08:47] mariobehling opened #3348 "Sponsors description on public page showing HTML"
Do not show HTML on scroll over, but only show description text.

![screenshot from 2017-03-10 16-46-21](https://cloud.githubusercontent.com/assets/1583873/23788419/4e7b6b3a-05b1-11e7-85d4-146303968154.png)

[2017-03-10 12:17] SaptakS commented on #3289
@mariobehling seems okay to me

![screenshot from 2017-03-10 17-11-07](https://cloud.githubusercontent.com/assets/9530293/23795011/62eebc68-05b9-11e7-8464-a527c37dc1df.png)

[2017-03-10 12:19] mariobehling commented on #3289
Ok, thanks.

[2017-03-10 12:19] #3289 closed

[2017-03-10 12:53] #3348 closed

[2017-03-10 15:03] CosmicCoder96 commented on #3309
@mariobehling I would work on this.

[2017-03-10 16:45] shreyasnbhat opened #3353 "Feature Status ( Each Track being mapped to a color in JSON )"
@mariobehling
Hey!
Is each Track mapped to a color in the server?
I am asking this in reference to the open-event-android app as I would like to implement the UI in the app vis-à-vis to how the color is set in the server.

Thanks!

[2017-03-10 17:24] cepradeep opened #3354 "HTML in sponsor description breaks event page text"
**WHAT:**

In the second step of event creation, if rich text (with underlying HTML) is pasted into the sponsor description field, then the tooltips and text on the event page break after the event is live.

__HOW TO REPRODUCE:__

 - Go to the 'Sponsors' step of creating a new event. Enable sponsors.
 - Go to http://loripsum.net, copy a paragraph of the text and paste it into the 'Description' fie

[2017-03-10 17:39] LuD1161 commented on #3315
@mariobehling
Working on this

[2017-03-10 18:44] mariobehling opened #3355 "Setting rejected talk to Accepted, but it does not show up in scheduler"
After I set a rejected talk to accepted it does not show up in the scheduler.

![screenshot from 2017-03-11 02-43-32](https://cloud.githubusercontent.com/assets/1583873/23808395/a740cbe0-0604-11e7-9ec6-7c20d929f293.png)

[2017-03-10 19:12] betterclever opened #3356 "Time Limit Exceeded dialog appears while trying to buy ticket."
Step to reproduce:
- Login on https://open-event-dev.herokuapp.com/
- Try buying tickets for event betterclever-test-event.

Actual behaviour: The Time Limit Exceeded dialog appears immediately and it is impossible to buy ticket.

Expected behaviour: The Dialog should appear at end of timer.

Relevant Screenshots:

![](https://files.gitter.im/fossasia/open-event-orga-app/C9C9/Screenshot-from-2017-

[2017-03-10 19:43] CosmicCoder96 commented on #3355
@mariobehling working on this.

[2017-03-10 20:40] mejariamol opened #3358 "Ticket is generated and sold without taking ticket holder name, email details."
Order is placed with these empty fields and tickets are generated and sold.

![screenshot 12](https://cloud.githubusercontent.com/assets/13533840/23812166/4e026282-05ff-11e7-9558-c1d268b5c5f7.png)

The JSON response for such attendees is coming as-
[code]

[2017-03-10 22:43] vivekkiran opened #3359 "Login Broken?"
We hosted a instance of the server at Microsoft Azure VPS http://52.168.86.165 following the documentation to setup via docker mentioned in the ReadMe. But still the login is not working. Please help..

[2017-03-11 02:24] niranjan94 commented on #3359
Please use the gitter channel (gitter.im/fossasia/open-event-orga-server) for such questions.

[2017-03-11 02:24] #3359 closed

[2017-03-11 02:27] niranjan94 commented on #3356
It works .. See -> https://open-event-dev.herokuapp.com/orders/2d69431a-08fa-4d19-8564-d9d07a6caf4a/view

Tried on multiple browsers and accounts. Works.

[2017-03-11 02:27] #3356 closed

[2017-03-11 02:29] #3346 closed

[2017-03-11 02:31] #3355 closed

[2017-03-11 02:33] niranjan94 commented on #3353
@shreyasnbhat yes. Each track has a color. You can check the API Docs at https://eventyay.com/api/v1/

[2017-03-11 02:33] #3353 closed

[2017-03-11 02:50] shreyasnbhat commented on #3353
@niranjan94 Thanks!
Just a suggestion!
I think a better way to keep the color attribute is a hex code instead of a name like "green".
It would reduce the app-side code drastically.

@mariobehling
@niranjan94
Thoughts?

[2017-03-11 03:16] CosmicCoder96 commented on #3358
@niranjan94  I am working on this

[2017-03-11 03:27] niranjan94 commented on #3353
@shreyasnbhat the color code is a hex. Please see the API output

[2017-03-11 03:27] niranjan94 commented on #3353
@shreyasnbhat FYI https://eventyay.com/api/v1/events/6/tracks

[2017-03-11 04:52] LuD1161 commented on #3354
@cepradeep
I don't get any broken tooltip and text layout.
My Output is :
![image](https://cloud.githubusercontent.com/assets/17861054/23820689/6b892f76-0644-11e7-88b1-4d578eb63abb.png)

And my http://loripsum.net configuration is :

![image](https://cloud.githubusercontent.com/assets/17861054/23820693/8a392106-0644-11e7-9331-ef4fbb3e45c8.png)

I think I may be missing something , do suggest a way

[2017-03-11 05:33] niranjan94 commented on #3354
@LuD1161 looks like your local repo is behind the `dev` ... From your screenshots, I can see that tooltips are not rendering HTML. BUt HTML rendering in tooltips was added in https://github.com/fossasia/open-event-orga-server/pull/3349

[2017-03-11 06:00] LuD1161 commented on #3309
@mariobehling
Is this good ?
![image](https://cloud.githubusercontent.com/assets/17861054/23821068/1409389a-064e-11e7-88e9-1c282232029b.png)

Or should it be larger ( current font is 15px earlier it was 11px )

[2017-03-11 06:14] LuD1161 commented on #3354
@niranjan94 I have updated the repo , thanks for pointing that out.
But still am unable to recreate the issue.
This is what I get
![image](https://cloud.githubusercontent.com/assets/17861054/23821160/0174979a-0650-11e7-99c9-91fd24ded3b9.png)

[2017-03-11 06:22] poush commented on #3309
@LuD1161 Looks like @CosmicCoder96 is already working on this issue. You can work on other open issues.

[2017-03-11 07:40] geekyd commented on #3277
@niranjan94 @SaptakS Need your help in solving the issue for the web-app.

[2017-03-11 09:12] mariobehling commented on #3315
Scroll with the expanded info and keep the cursor over the expanded area. Not possible here atm.
And when I scroll over other area, the expanded area stays in the place and the background moves only.

[2017-03-11 09:16] mariobehling opened #3361 "Create a screencast showing the main features of the Open Event server"
Please create a screencast taking 3 minutes with the main features of the app. Include:

* Login
* Creating an event including sponsors, tracks and sessions and call for speakers
* Submitting a session as a speaker
* Accepting sessions
* Adding different sessions to the schedule
* Showing the public page and schedule
* at the end show the GitHub page of the project
* do not show any subtitles

If

[2017-03-11 11:05] #3252 closed

[2017-03-11 17:03] SaptakS opened #3362 "Access code doesn't work."
In the ticketing box, access codes don't work at all.

[2017-03-11 17:31] mariobehling opened #3363 "Ticket Attendees Page: Discount and ticket if 0.00 info not displayed"
The ticket overview attendees page does not display:
* discount codes
* ticket cost if 0.00 show "Free"

![screenshot from 2017-03-12 01-29-43](https://cloud.githubusercontent.com/assets/1583873/23825379/a3aaea78-06c3-11e7-87a4-46264686a83a.png)

[2017-03-11 17:44] SaptakS opened #3364 "Discount works on free tickets"
Discount works on free tickets making the amount negative.
![screenshot from 2017-03-11 23-12-29](https://cloud.githubusercontent.com/assets/9530293/23825475/5c8be042-06b0-11e7-8ea9-4e1729ca3524.png)

[2017-03-11 18:59] LuD1161 commented on #3363
@mariobehling
I forgot to update in the attendees page , while solving issue #3332 . Will do it soon.

[2017-03-11 19:43] LuD1161 commented on #3246
I'm working on it.

Right Now ( Kind of Best Possible ):
![screenshot from 2017-03-11 12-05-03](https://cloud.githubusercontent.com/assets/17861054/23826364/ebe646fa-06c0-11e7-817c-df18b2f7fe42.png)

Tried making it in line but couldn't , any ideas ?
As far as CSV is concerned , its done.

[2017-03-11 21:06] #3362 closed

[2017-03-11 21:50] mariobehling commented on #3246
Here is a sample spreadsheet. Could you make a csv file in that format for download from the system, please? I only see pdf files at the moment. Thank you.
[sample.xlsx](https://github.com/fossasia/open-event-orga-server/files/836147/sample.xlsx)

[2017-03-12 02:01] mariobehling opened #3366 "Tickets show sold out even though capacity was increased"
A few days ago the organizers increased the capacity of tickets. Now they show up as sold out even though the capacity is not reached.

![screenshot from 2017-03-12 09-58-38](https://cloud.githubusercontent.com/assets/1583873/23828388/ce9a1f78-070a-11e7-93d0-524c30318981.png)

Shows sold out.

![screenshot from 2017-03-12 10-01-21](https://cloud.githubusercontent.com/assets/1583873/23828392/e1f56e

[2017-03-12 02:30] mariobehling commented on #3309
Good progress, but we need to ensure, that the 10 minute slots can display 3 lines of text.

![screenshot from 2017-03-12 10-25-20](https://cloud.githubusercontent.com/assets/1583873/23828503/90784cc0-070e-11e7-98f8-a5548f77bf03.png)

Please do the following to solve this:
* ensure text padding to the right of the session box is same as to the left indent of text
* decrease space between lines, e.

[2017-03-12 02:31] mariobehling commented on #3309
Please also ensure three dots "..." only appear when the whole space is used.

![screenshot from 2017-03-12 10-31-06](https://cloud.githubusercontent.com/assets/1583873/23828522/1856c9aa-070f-11e7-91b8-2cb06be895c4.png)

[2017-03-12 02:53] mariobehling commented on #3318
It seems like the implementation still shows sessions until 45mins after the end of the last session.

![screenshot from 2017-03-12 10-52-57](https://cloud.githubusercontent.com/assets/1583873/23828605/2aec3016-0712-11e7-9ac6-1da1428c18ac.png)

[2017-03-12 02:55] mariobehling opened #3367 "PNG Export from Full Screen Schedule not showing whole schedule"
The png of the schedule from the full screen expanded view only shows part of the schedule. See below.

![timeline 10](https://cloud.githubusercontent.com/assets/1583873/23828610/6c1af892-0712-11e7-8461-3bec917fc9a6.png)

[2017-03-12 05:25] poush commented on #3366
Would like to work on this.

[2017-03-12 06:39] poush commented on #3295
- [ ] Background is partly transparent. It should be white
- [ ] The last column is not desired. It does not have a track (after Tinkering studio).
- [ ] The expansion icon jumps to the dates
- [ ] The "Export PNG" button should be behind/after "Session View" - Actually can we change this button to a download symbol as well?

[2017-03-12 06:51] SaptakS commented on #3318
@mariobehling seems okay to me.
![screenshot from 2017-03-12 12-20-39](https://cloud.githubusercontent.com/assets/9530293/23829673/64fcb15c-071e-11e7-979e-fbb4614971d4.png)

Can you please clear cache and check maybe?

[2017-03-12 07:53] mariobehling commented on #3318
![screenshot from 2017-03-12 15-28-15](https://cloud.githubusercontent.com/assets/1583873/23830049/ec140682-073b-11e7-84aa-f8f7747b2fb9.png)

The iterations on the schedule time on the left column are in 10 minutes. They should be in 15 minute steps. The schedule become very long now.

Of course we have to look at the size of the font, but that is another issue. 15 minute iterations, if possible.

[2017-03-12 07:55] SaptakS commented on #3318
@mariobehling I told you that in 15 minute iteration if a session is only 5 minutes long then it becomes very thin and almost not visible. So I made it into 10 minutes iteration.

[2017-03-12 07:58] SaptakS commented on #3354
@cepradeep I think you copy pasted instead of pasting it as text. Because when I write the entire thing down as a text it works fine but on copy-pasting there is an error because of some double quotes in the html of the loremipsum text html. Copy-pasting would copy the entire styling as well and not only the text which might be causing the problem. Please confirm.

[2017-03-12 08:00] #3366 closed

[2017-03-12 08:08] #3332 closed

[2017-03-12 08:25] #3339 closed

[2017-03-12 08:29] mariobehling commented on #3318
Yes, exactly. 5 minute tracks are very seldom and it is ok to have them in one line e.g. 5 min break.

[2017-03-12 08:30] SaptakS commented on #3318
So, you recommend to increase the time iteration to 15minutes?? That would make any session below 10 minutes difficult to read or understand.

[2017-03-12 08:40] poush commented on #3364
Would like to propose a fix.

[2017-03-12 09:38] mariobehling commented on #3318
Yes.

That is another issue. We should have the sessions aligned to the top instead of the middle and consider how to adapt the font -> in another issue.

Not sure, how to make it more clear: The schedule like at FOSSASIA is too long.

This is a continuation of a thread we had on chat and this thread is getting a bit too long for me now.

Again: The long schedule does not work on screen and print.

[2017-03-12 09:39] SaptakS opened #3371 "The sidemenu overlaps with footer."
![screenshot from 2017-03-12 15-07-59](https://cloud.githubusercontent.com/assets/9530293/23830650/d5e2af04-0735-11e7-9675-5da34844d767.png)

[2017-03-12 09:40] mariobehling commented on #3318
@SaptakS This is also related to https://github.com/fossasia/open-event-orga-server/issues/3309#issuecomment-285916779

[2017-03-12 09:43] #3254 closed

[2017-03-12 09:43] SaptakS commented on #3318
@mariobehling got it. Fix coming up soon. :)

[2017-03-12 09:48] mariobehling commented on #3318
Actually I am starting to get confused. We are mixing up to issues here now.

Issue a) Scale on the left column.
* Expected: It should be 15 minutes intervals.

Issue b) Space after last session is longer.
* Expected it should be 15 min space below (or one iteration). Also in your screenshot, the last session ends at 17.15 and the schedule ends at 17.40 (to 18.00). So, just one "big row/iteration

[2017-03-12 09:52] SaptakS commented on #3318
@mariobehling please check the https://github.com/fossasia/open-event-orga-server/pull/3373

[2017-03-12 10:01] mariobehling opened #3374 "Schedule Calendar Version: Remove unused column next to rooms columns"
There is a kind of empty column on the right hand side of rooms, which is not holding any information. Please end the table after last room and do not show a column with no information.

![screenshot from 2017-03-12 15-11-32](https://cloud.githubusercontent.com/assets/9530293/23830688/8f16feee-0736-11e7-9a62-fe37e0f9fc2e.png)

[2017-03-12 10:13] mariobehling commented on #3295
Seems to be solved as well.

There is now a tiny symbol "f()65" on the top of exported pngs. Any idea?

![screenshot from 2017-03-12 18-11-52](https://cloud.githubusercontent.com/assets/1583873/23830871/7a6708b8-074f-11e7-83d0-20c9654a9b58.png)

[2017-03-12 10:14] mariobehling opened #3375 "Increase resolution of exported schedule as png to 300px"
The resolution of exported schedule pngs is good for screens, but for print outs it is not high enough. Please increase the resolution to 300px.

[2017-03-12 10:17] #3318 closed

[2017-03-12 10:19] mariobehling opened #3376 "When we create the discount code, the checkboxes should appear only for paid tickets"
When we create the discount code, the checkboxes should appear only for paid tickets. For example, if you create access code, it shows checkbox for only hidden tickets.

[2017-03-12 10:25] #3273 closed

[2017-03-12 10:33] mariobehling opened #3377 "Public Schedule: Do not show bottom scrollbar if there is nothing to scroll"
There is a scroll bar area on the bottom of the public schedule even if there is only one room and nothing to scroll to.

Expected: Do only show scroll bar if there is something to scroll to.

![image](https://cloud.githubusercontent.com/assets/17861054/23787777/a0fb8574-0599-11e7-9d69-bb7cbdd7943e.png)

[2017-03-12 10:55] mariobehling opened #3379 "Public Schedule: Tracks Page: Very large PNGs are displayed for speaker images"
The tracks page loads very large speaker images. We will have lots of users at the weekend and this might crash us.

Please use smaller jpgs here (Tracks Page): https://eventyay.com/e/45da88b7/schedule/

[2017-03-12 13:18] poush commented on #3295
@mariobehling can't reproduce it. Even at the eventyay.com there is no such symbol
<img width="1440" alt="screen shot 2017-03-12 at 6 46 54 pm" src="https://cloud.githubusercontent.com/assets/1812082/23832099/60b023f0-0754-11e7-81b6-8e9a8d10fb6a.png">

[2017-03-12 13:19] poush opened #3381 "Exported public schedule has partly transparent background"
The background should be completely white.
<img width="981" alt="screen shot 2017-03-12 at 11 38 23 pm" src="https://cloud.githubusercontent.com/assets/1812082/23834471/0d6382c2-077d-11e7-87a3-3330af1bde82.png">
<img width="930" alt="screen shot 2017-03-12 at 11 38 33 pm" src="https://cloud.githubusercontent.com/assets/1812082/23834472/0dad31c4-077d-11e7-8852-0394f1dfb79e.png">

[2017-03-12 13:21] poush commented on #3295
@mariobehling another issue has been created for background part. If other things are working fine then please close the issue.

[2017-03-12 13:40] #3295 closed

[2017-03-12 13:52] #3379 closed

[2017-03-12 16:19] Himanshi-Khandelwal commented on #3381
@poush please attach a screenshot with this.

[2017-03-12 16:59] shreyasnbhat commented on #3353
@niranjan94 My bad didn't see that.

[2017-03-12 17:23] mariobehling opened #3382 "Sesssions/Profile of speaker of one event shows up in another event submission form"
When I try to submit my proposal to another event there are suddenly all the talks of an event where I previously proposed/participated in.

E.g. I participate in the FOSSASIA Summit and propose a session for the OpenTechSummit at https://eventyay.com/e/5642d9a1/cfs/

I see sessions and infos from the FOSSASIA Summit.

Expected: Each event should be independent and have their independent set of da

[2017-03-12 18:05] cepradeep commented on #3354
@LuD1161 @SaptakS I confirm that the issue is with double quotes in the HTML. Since there is a fair chance that people are going to copy-paste, what do you guys think is the best way to handle this?

[2017-03-12 18:09] poush commented on #3381
Added to main post

[2017-03-12 18:12] cepradeep commented on #3354
@LuD1161 Did you try creating an event _after_ you pulled the latest changes? Here's one I created just now: http://open-event-dev.herokuapp.com/e/c1d05195/

Here's a better way of reproducing the bug:

 - Go to http://summernote.org/ and type something in the editor.
 - Select the text and give it a highlight color (it's the icon that says `A`).
 - Copy the text and paste it into the Description

[2017-03-12 18:32] Himanshi-Khandelwal commented on #3381
I would like to work on this.

[2017-03-12 18:43] Himanshi-Khandelwal commented on #3381
@poush  are you talking about this export (while clicking in export as png)?
![screenshot from 2017-03-13 00 11 54](https://cloud.githubusercontent.com/assets/17119462/23834763/c4c6a44a-0781-11e7-96f0-d4aa5c74d337.png)

[2017-03-12 19:48] cepradeep commented on #3382
I'd like to work on this.

[2017-03-12 22:18] #3371 closed

[2017-03-13 01:24] geekyd commented on #3377
@mariobehling I would like to fix this.

[2017-03-13 02:21] mariobehling commented on #3382
@cepradeep This is a follow up issue to https://github.com/fossasia/open-event-orga-server/issues/3069. Actually if the speaker has never submitted a talk for the specific event, no talk should show up. Right now sessions of another event show up. Imagine you have two blogs on wordpress and blog post of one blog suddenly show up on your second blog. This is what is happening here.

Events should b

[2017-03-13 02:38] poush commented on #3381
No you are looking into organiser section but the issue is from public schedule. When you export the png using that download button, the exported image as you can see above has transparent background for button above schedule.

[2017-03-13 02:40] poush commented on #3376
I will work on this.

[2017-03-13 03:07] mariobehling opened #3383 "Public Calendar Schedule: Add line break if room name is longer than cell"
On the table of the schedule, if the room name is longer than the width of the cell, parts of the name are hidden or overlapping. Please ensure there are automatic line breaks in this case, e.g. here: https://eventyay.com/e/45da88b7/schedule/

![screenshot from 2017-03-13 11-03-11](https://cloud.githubusercontent.com/assets/1583873/23840060/23ed3244-07dd-11e7-81c5-c9d66b4b8f79.png)

[2017-03-13 06:06] mejariamol commented on #3358
@CosmicCoder96 @niranjan94 please see the screenshots attached.

On pressing submit button with empty fields, processing button is shown with response 400 bad request . And ticket is not generated. But on refreshing same page ticket confirmation page appears.

![screenshot 14](https://cloud.githubusercontent.com/assets/13533840/23843281/c9a33870-07e0-11e7-9094-472173f191b1.png)
![screenshot 15](ht

[2017-03-13 06:09] mariobehling commented on #3246
@LuD1161 Maybe iterate step by step and make a simple csv list first, that also shows who got which ticket. You can then iterate on this.

[2017-03-13 09:01] CosmicCoder96 commented on #3358
@mejarimol
The error code is deliberate. Regarding refresh .. I will look into it.

[2017-03-13 09:09] cepradeep commented on #3382
@mariobehling I was able to get the issue fixed.

Before registering as a speaker, or proposing a session:

![screenshot from 2017-03-13 14-39-55](https://cloud.githubusercontent.com/assets/6213734/23847753/e8f02a94-07f9-11e7-81b6-4b20f43ab627.png)

After proposing a session:

![screenshot from 2017-03-13 14-43-19](https://cloud.githubusercontent.com/assets/6213734/23847773/ff63c6fa-07f9-11e7-8217

[2017-03-13 09:34] geekyd commented on #3377
@mariobehling @SaptakS @niranjan94 Please check the screenshots of the solution.

**When nothing to scroll**
![screen shot 2017-03-13 at 3 00 41 pm](https://cloud.githubusercontent.com/assets/12807846/23848603/11e5fdc6-07fe-11e7-8a51-02a777ea0f86.png)

**When there is something to scroll**
![screen shot 2017-03-13 at 3 01 05 pm](https://cloud.githubusercontent.com/assets/12807846/23848604/11efba64

[2017-03-13 10:16] #3364 closed

[2017-03-13 10:39] cepradeep commented on #3383
Some padding on the sides would be nice too. The following is hard to read:

![screenshot from 2017-03-13 16-15-10](https://cloud.githubusercontent.com/assets/6213734/23850782/e23953f8-0806-11e7-8e49-fb9321c172f1.png)

[2017-03-13 10:51] mariobehling commented on #3377
@geekyd Actually it is an easier flow if you just make a PR instead of asking for some details, that I think are probably obvious. In any case if things are not ok, they can still be discussed in the PR. Especially for small things - just make a PR directly instead of asking too much about opinions. --> Yes, correct: There should not be a search bar if there is nothing to scroll. Thanks.

[2017-03-13 10:56] geekyd commented on #3377
@mariobehling I will keep it in mind. Thank you for the feedback.

[2017-03-13 11:26] #3377 closed

[2017-03-13 18:12] RajuKoushik commented on #3383
Can I work on this ?

[2017-03-13 21:41] mariobehling commented on #3383
Please go ahead.

[2017-03-14 03:07] mariobehling opened #3386 "User cannot change email address without adding mobile phone number"
User cannot change email address without adding mobile phone number. It should be possible to simply change the email address.

![screenshot from 2017-03-14 11-05-02](https://cloud.githubusercontent.com/assets/1583873/23884216/6b7ecb80-08a6-11e7-907b-b76c34b8557d.png)

[2017-03-14 05:55] LuD1161 commented on #3246
@mariobehling
This is what I was able to achieve , trying to get fields 'Discount Code', 'Discount Type', 'Discount Off'.
Right now I don't know how to get data from the relationship field in order model , learning how to fetch data from those.
![image](https://cloud.githubusercontent.com/assets/17861054/23887533/8fac9076-08a8-11e7-88ef-51365058af01.png)

[2017-03-14 07:35] mariobehling commented on #3246
Very good.  Please make a pr and iterate feom there.

[2017-03-14 09:31] Himanshi-Khandelwal commented on #3386
@mariobehling  this means I need to remove the compulsion of adding the mobile number . Is that what you mean?

[2017-03-14 13:58] Himanshi-Khandelwal commented on #3381
@poush can you please exactly tell me where is that , when I am trying to download it is giving some internal error

[2017-03-14 16:12] mariobehling opened #3391 "Speaker editing form uses large image files for "second" speaker"
If the organizer or speaker edits the session form, there is the option of choosing additionals speakers. This form shows a list of registered speakers and there profile picture - in a large image file even though the area is very small. Please use a thumbnail image in that area.

![screenshot from 2017-03-15 00-12-08](https://cloud.githubusercontent.com/assets/1583873/23910269/0d309fea-0914-11e7-

[2017-03-14 16:36] niranjan94 commented on #3381
@Himanshi-Khandelwal you're looking at the wrong place. This is inside Scheduler.

[2017-03-15 03:23] mariobehling opened #3393 "Resending ticket confirmation as an organizer shows "ticket bought in notifications""
Resending a notification for a ticket order results in notifications "Ticket bought by -organizer email-"

There should not be a ticket notification, because no new ticket was bought.

![screenshot from 2017-03-15 11-19-58](https://cloud.githubusercontent.com/assets/1583873/23932210/a17be7a6-0971-11e7-8840-94ccc112ba26.png)

[2017-03-15 06:17] Himanshi-Khandelwal commented on #3386
@mariobehling This issue is solved.

[2017-03-15 06:30] #3386 closed

[2017-03-15 08:54] LuD1161 commented on #3393
@mariobehling
I am working on this

[2017-03-15 09:59] Himanshi-Khandelwal commented on #3381
@poush right?
![timeline](https://cloud.githubusercontent.com/assets/17119462/23943013/1c9ee470-0994-11e7-87be-7a11399698c3.png)

[2017-03-15 15:52] magdalenesuo commented on #3382
@cepradeep Hey there, been busy lately. Sorry for the delay. After new registration (i.e. no session), it is supposed to show a message saying 'No session. Submit a session proposal? ' or something like that. I was suppose to fix that but got hung up on things. You can work on this too while solving this issue.

[2017-03-15 15:54] magdalenesuo commented on #3382
@cepradeep And I think I wrote the code to display all the speaker's sessions , I didn't give a check on which event.

[2017-03-15 17:43] LuD1161 commented on #3363
@mariobehling
I got this :
![image](https://cloud.githubusercontent.com/assets/17861054/23962312/af1fcf0a-09d3-11e7-95fc-709e79846696.png)

But I have some doubts regarding code :
In the file '**app/views/users/ticket_sales.py**'
*if len(order.ticket_holders) == 0:*
what is this order.ticket_holders ?

[2017-03-15 17:48] LuD1161 commented on #3277
@geekyd
Can I work on this /

[2017-03-16 01:31] SaptakS commented on #3375
@mariobehling what I have found out is that for html to png conversion, the technique used everywhere is converting the div to a canvas and on rendering, we save the canvas to a blob. This blob by default saves a png with 96dpi resolution. We can save it in jpg as well but there is no way of changing the resolution. As far as I can see.

So the two options that I have found is:
* Divide the entire

[2017-03-16 01:58] mariobehling commented on #3375
@SaptakS Surely pdf would be the best, but in what size? In the past the pdf export was implemented because it was faster to do. Can you get the pdf export done before the event?

[2017-03-16 02:06] SaptakS commented on #3375
Let me check. I think I can.

[2017-03-16 02:12] CosmicCoder96 commented on #3367
@mariobehling working on this.

[2017-03-16 02:57] #3383 closed

[2017-03-16 07:57] LuD1161 commented on #3310
@mariobehling
Are you talking about this ?

![scheduler](https://cloud.githubusercontent.com/assets/17861054/23986858/559ff382-0a4c-11e7-82f6-90224cac0219.png)
![sessions](https://cloud.githubusercontent.com/assets/17861054/23986859/55c714d0-0a4c-11e7-88b4-559a0357f1ff.png)
![speakers](https://cloud.githubusercontent.com/assets/17861054/23986860/55e4c2e6-0a4c-11e7-934b-8743f555f973.png)

[2017-03-16 08:16] LuD1161 commented on #3195
@mariobehling
Shouldn't we first give permission to Co-organizer
![ezgif com-video-to-gif 2](https://cloud.githubusercontent.com/assets/17861054/23987257/b2ffbbf0-0a4e-11e7-9a35-39bced5af7be.gif)

**The save button is working in my case, suggest ways to recreate the issue , maybe I'm doing it wrong**

[2017-03-16 08:18] #3358 closed

[2017-03-16 08:47] LuD1161 commented on #3391
@mariobehling
I am working on this

[2017-03-16 08:56] LuD1161 commented on #3391
Done .
The new image is shown on the left side.
![image](https://cloud.githubusercontent.com/assets/17861054/23988511/867e38d0-0a54-11e7-8add-ff89a51f7bec.png)

[2017-03-16 10:37] LuD1161 commented on #3374
@mariobehling
Do you suggest something like this ?
![image](https://cloud.githubusercontent.com/assets/17861054/23991936/1722dc5e-0a61-11e7-84c0-4f83ef996c26.png)

[2017-03-16 10:41] LuD1161 commented on #3367
@mariobehling
Working on this

[2017-03-16 13:21] Himanshi-Khandelwal commented on #3310
@LuD1161 I am about to complete this issue.

[2017-03-16 13:21] rctay commented on #3335
See #3398.

[2017-03-16 13:22] Himanshi-Khandelwal commented on #3310
@mariobehling is this ok ?
![screenshot from 2017-03-16 18 51 49](https://cloud.githubusercontent.com/assets/17119462/23998008/ad736d14-0a79-11e7-9e63-9b1eadf0a787.png)

[2017-03-16 13:25] rctay commented on #3310
Do you have it on a branch? So we can have a look.

[2017-03-16 13:39] Himanshi-Khandelwal commented on #3310
I am currently doing the backend part of it. When done will make a PR?

[2017-03-16 13:42] rctay commented on #3310
Sure. Are you reusing the code used for sessions/speakers on admin/organiser view? I think we can't and it's going to be a bit tricky because of the time bars.

[2017-03-16 13:46] Himanshi-Khandelwal commented on #3310
I'll check and will make the appropriate changes. Is frontend part OK?

[2017-03-16 14:21] #3375 closed

[2017-03-16 15:19] mariobehling opened #3399 "Downloading Tickets have name "test""
Tickets that are download from the system have the name "test". Expected: A ticket should have the name "EVENTNAME-Ticket.pdf".

[2017-03-16 15:29] LuD1161 commented on #3399
@mariobehling
Working on this

[2017-03-17 02:01] #3399 closed

[2017-03-17 08:22] #3212 closed

[2017-03-17 09:06] melvinzhang opened #3401 "session json for FOSSASIA 2017 contains long_abstract as "<p></p>" causes blank abstract on schedule page"
The session json at https://github.com/fossasia/2017.fossasia.org/blob/gh-pages/json/sessions generated by the server contains 20 sessions where `"long_abstract": "<p></p>"`. This results in the webapp using `<p></p>` as the content of the session description instead of the `short_abstract` where the real content is.

This shows up at http://2017.fossasia.org/schedule.html for a number of sessions

[2017-03-17 15:01] mariobehling opened #3402 "FOSSASIA Summit no longer on start page event though event is still running"
Please ensure events that are still running are listed on start page until end of event, e.g. check https://eventyay.com

[2017-03-17 15:32] Princu7 commented on #3402
I will try to fix it :)

[2017-03-17 16:26] mariobehling opened #3404 "Add role "Registration" to event roles"
The registration usually just needs access to check in or check out participants. The only page that registration needs to have access to is: `events/[event-ID]/tickets/attendees/` e.g. https://eventyay.com/events/6/tickets/attendees/

At this stage the role neither needs access to the event dashboard or any other page of the event.

[2017-03-18 07:08] #3402 closed

[2017-03-18 13:53] Himanshi-Khandelwal commented on #3310
@rctay  I am implementing the search through javascript .Is this oK? but facing a bit problem.

[2017-03-18 20:22] mariobehling opened #3405 "Exported csv of Orders - name of file not suitable"
The exported csv file of orders have a name that is not suitable: e.g. Orders-FOSSASIA Summit_06-Dec-2016_09_40_01.csv Please export the file using the event name only.

[2017-03-18 20:31] mariobehling opened #3406 "Implement multiple check-in times for attendees"
Currently the checkin times of attendees are not visible in the front end for organizers. This is important information as it helps to understand the event flow.

Please implement checkin times. What is the best option? A small link below the checkin buttons maybe, that displays more info?

Please ensure that several checkin times are possible, e.g. for several days, several entrances, workshops e

[2017-03-18 20:49] geekyd commented on #3405
@mariobehling I will fix it.

[2017-03-19 03:38] mariobehling opened #3408 "Follow speakers proposal logic in "My Sessions" tab"
When a speaker submits a proposal there are two parts: a) Speakers Form b) Sessions Form

Once the session is submitted and the speakers goes to my sessions (e.g. https://eventyay.com/events/mysessions/), s/he only see a link to both combined.

Please implement the same logic: Show each event with speakers form, submitted sessions and their status. Each form should have a separated link.

![screen

[2017-03-19 13:49] Himanshi-Khandelwal commented on #3256
@mariobehling so, where to redirect the user if the user click on date?

[2017-03-19 13:57] niranjan94 commented on #3256
@Himanshi-Khandelwal No redirect. When a date is clicked, the sessions shown below should be filtered to show only those that are on that date.

[2017-03-20 02:05] mariobehling opened #3412 "Start Page/Event Page Placeholder Images missing"
At Open Event we had defined start page and event page images as placeholders in case the user does not upload an image. At the moment no placeholder images show up.

Expected: Topic suitable but neutral placeholder images show up.

![screenshot from 2017-03-20 10-03-10](https://cloud.githubusercontent.com/assets/1583873/24087061/ad37a42c-0d54-11e7-93c1-1f413197c2d6.png)

[2017-03-20 02:53] Himanshi-Khandelwal commented on #3412
@mariobehling  this happens when event type is not chosen and hence event sub-topic and all .So, is that so , we have to put an image by itself (means 1 image is fixed for all types of events if user has not uploaded the image)

[2017-03-20 02:58] Himanshi-Khandelwal commented on #3256
@niranjan94 this is already happening. When I clicked on dates , session of that date are showing.
![screenshot from 2017-03-20 08 25 42](https://cloud.githubusercontent.com/assets/17119462/24087601/f7856680-0d46-11e7-84e4-0055730694f5.png)
![screenshot from 2017-03-20 08 25 59](https://cloud.githubusercontent.com/assets/17119462/24087603/f7881718-0d46-11e7-9c42-3481bd2ff539.png)
![screenshot from

[2017-03-20 04:22] niranjan94 commented on #3412
@Himanshi-Khandelwal yes. Please have a default placeholder image.

[2017-03-20 04:23] niranjan94 commented on #3256
@Himanshi-Khandelwal please look at the attached screenshot in the Issue description. The problem is in the tracks view. You're looking at the rooms view.

[2017-03-20 05:05] #3382 closed

[2017-03-20 08:35] #3405 closed

[2017-03-20 10:18] Himanshi-Khandelwal commented on #3256
@niranjan94 this is happening
![screenshot from 2017-03-20 15 44 23](https://cloud.githubusercontent.com/assets/17119462/24095709/563d22e8-0d84-11e7-8e97-0489ab37939f.png)
![screenshot from 2017-03-20 15 45 31](https://cloud.githubusercontent.com/assets/17119462/24095711/56af7686-0d84-11e7-900f-a9762506c320.png)

[2017-03-20 10:44] guptasimran66 commented on #3111
@mariobehling would like to work on this

[2017-03-20 12:09] niranjan94 commented on #3111
@guptasimran66 set up the app locally and add a comment here once you're done and we'll assign this issue to you.

[2017-03-20 13:35] Himanshi-Khandelwal commented on #3412
I would like to work on this.

[2017-03-21 08:41] guptasimran66 commented on #3111
@niranjan94 Done with the set up and can run on localhost.

[2017-03-21 10:04] niranjan94 commented on #3111
@guptasimran66 please proceed :)

[2017-03-21 11:23] #3401 closed

[2017-03-21 11:24] #3391 closed

[2017-03-21 15:54] virresh opened #3413 "documentation: Broken Command for local installation of the server dependencies"
In the instructions for installation of the App locally, there's the command
[code]
under step 7.

It should use

[code]

The documentation file is here :
https://github.com/fossasia/open-event-orga-server/blob/development/docs/installation/local.md

[2017-03-21 16:23] mariobehling commented on #3412
The feature to show placeholder images is already implemented and you should check the admin UI as well.

[2017-03-21 16:28] virresh commented on #3361
@mariobehling, Can this screencast be a gif or has to be a video ?
And in case of a video, does it have to be one without audio ?

[2017-03-21 17:09] mariobehling commented on #3361
You can make it with or without audio, but it needs to be a video as gif would be too long and too big.

[2017-03-21 17:54] poush commented on #3361
@virresh I think if you are able to make gif then the video should not be the issue.

[2017-03-22 07:45] niranjan94 commented on #3413
@virresh thanks. please make a PR with the fix and reference to this issue.

[2017-03-22 09:35] #3354 closed

[2017-03-22 15:27] virresh commented on #3413
@niranjan94, made the PR. I don't know what to do next. Also please review.
Thanks :-)

[2017-03-22 15:47] virresh commented on #3361
@poush , @mariobehling  I would like to go ahead and make a screencast hopefully soon.
Though I am not sure how do I make a PR or get reviews on the screencast. Shall I upload the video on some hosting website (probably youtube) and embed the link in readme ?

[2017-03-22 15:48] #3413 closed

[2017-03-23 11:12] mariobehling opened #3417 "Exported csv of Attendees - name of file not suitable"
The exported csv file of attendees has a name that is not suitable: e.g. Attendees-FOSSASIA Summit_06-Dec-2016_09_40_01.csv Please export the file using the event name only.

[2017-03-23 11:20] geekyd commented on #3417
@mariobehling I will fix this :)

[2017-03-23 11:27] geekyd commented on #3417
@mariobehling @SaptakS @niranjan94 The name of pdf file also seems to be with the name convention like Attendees-FOSSASIA Summit_06-Dec-2016_09_40_01.pdf should I change it too?

[2017-03-23 11:34] SaptakS commented on #3417
Yes

[2017-03-23 12:07] hpdang opened #3419 "Exported csv of Attendees - incomplete data, missing ticket types"
the csv of Attendees must include the ticket types

[2017-03-23 22:27] magdalenesuo opened #3420 "'Register as a Speaker' takes back to the same pop up"
Even on registering as speaker, user is not registered. After registration, it takes back to the same "Register as Speaker" and "Propose Session" modal.
That is:
![screenshot from 2017-03-24 03-52-33](https://cloud.githubusercontent.com/assets/20799954/24272958/d44e61ba-1045-11e7-8973-1f207ed9a107.png)

And on clicking "Propose session", it takes to speaker_session form rather than only session fo

[2017-03-24 00:57] #3363 closed

[2017-03-24 01:03] #3420 closed

[2017-03-24 01:08] SaptakS commented on #3374
@LuD1161 looks good. Can you please send a PR?

[2017-03-24 01:35] #3419 closed

[2017-03-24 02:11] SaptakS commented on #3323
Working fine. Closing the issue.

[2017-03-24 02:11] #3323 closed

[2017-03-24 02:52] #3376 closed

[2017-03-24 05:26] geekyd commented on #3417
@SaptakS please close this. sorry about the trouble I forgot to give a reference of PR in the description. Thanks

[2017-03-24 12:02] #3417 closed

[2017-03-24 12:44] SaptakS opened #3425 "Implement other details in attendee form"
There are many other details mentioned in ticket holder model. We need to either give optional or accordion to add further details like address, country, etc.

[2017-03-24 18:26] Himanshi-Khandelwal commented on #3412
solved!!!!

[2017-03-24 21:30] mariobehling opened #3427 "Cannot submit session (server error) and no option to submit speaker details for OpenTechSummit"
The call for speakers of the OpenTechSummit does not allow the submission of speaker details and submission of sessions results in error message.

![screenshot from 2017-03-24 18-27-05](https://cloud.githubusercontent.com/assets/1583873/24314351/e2f48c88-10bf-11e7-863a-edb10b75eeac.png)

[2017-03-24 21:31] mariobehling opened #3428 "Sales tab in Admin section gives error message"
Clicking on sales tab results in error message in admin section.

![screenshot from 2017-03-24 18-30-32](https://cloud.githubusercontent.com/assets/1583873/24314399/1fd291c2-10c0-11e7-9d78-64327b59e521.png)

[2017-03-25 02:28] SaptakS commented on #3425
Duplicate of #3153

[2017-03-25 02:28] #3425 closed

[2017-03-25 02:33] SaptakS opened #3430 ""Unscheduled Sessions" tab in mysessions page"
The unscheduled session either appear on the upcoming sessions or past sessions based on the starting date of the event which is wrong. Please make a separate "Unscheduled Sessions" tab for showing all unscheduled sessions.

[2017-03-25 02:48] SaptakS opened #3431 "New sessions added through CFP marked N/A"
I think when sessions submitted through CFP, it is not labelled as under review rather it is not given any state due to which it is shown N/A. @magdalenesuo please have a look into this.

[2017-03-25 02:50] Himanshi-Khandelwal commented on #3412
But , I solved this....and was about to make PR.

[2017-03-25 06:40] Himanshi-Khandelwal commented on #3085
@nishapoyarekar are you working on this?

[2017-03-25 08:51] Himanshi-Khandelwal commented on #3085
If no one then I'll like to do the change.

[2017-03-25 08:55] nishapoyarekar commented on #3085
@Himanshi-Khandelwal I wont be working on this right now. Thanks for checking with me :)

[2017-03-25 09:38] Himanshi-Khandelwal commented on #3085
@mariobehling  @niranjan94  is this ok ?
![screenshot from 2017-03-25 15 07 32](https://cloud.githubusercontent.com/assets/17119462/24321203/ee48e5ea-116c-11e7-9b99-dbb4364184c7.png)

[2017-03-25 10:36] mariobehling commented on #3427
![screenshot from 2017-03-25 07-35-20](https://cloud.githubusercontent.com/assets/1583873/24321551/b4aa12bc-112d-11e7-99b4-139ee67cbb0f.png)

Issue still persists. I neither get the option - the button for adding speaker details.

[2017-03-26 05:46] Himanshi-Khandelwal commented on #3238
@niranjan94 @aayusharora is this issue solved? When I checked the licence is already updated.

[2017-03-26 06:30] Himanshi-Khandelwal commented on #3408
@mariobehling @niranjan94 submitted sessions and their status is already present , so we have to just add speakers form here?

[2017-03-27 03:38] SaptakS opened #3433 "Register Speaker option in CFS to be made in event level"
Right now, if an email address has been registered as a speaker in any of the events, then the register speaker option is not shown in CFS of a new event.

[2017-03-27 06:03] #3428 closed

[2017-03-27 06:03] #3433 closed

[2017-03-27 07:11] SaptakS commented on #3412
Solved in #3432

[2017-03-27 07:11] #3412 closed

[2017-03-27 18:23] LuD1161 commented on #3374
@SaptakS
Will make it soon

[2017-03-28 12:04] mariobehling commented on #3427
After this merge the session proposal form includes the speaker submission form. We had changed this before. The goal is that one speaker can submit several sessions and does not have to fill out speakers info several times - but only one time.

[2017-03-28 15:05] SaptakS commented on #3427
The session proposal form in case the speaker is not registered always included the speaker submission form and has nothing to do with this merge. What we made before was if the user is registered as a speaker then the speaker and session forms were separate. The speaker doesn't have to fill out the speakers info several times even now. Only once per event. I will implement that the user has to re

[2017-03-28 15:14] mariobehling commented on #3427
@SaptakS Please follow the implementation of frab (and other systems) and keep this separate. Only show a "Submit" button after the speaker form has been submitted. Before that show "save as draft".

[2017-03-28 15:52] mariobehling opened #3437 "Load times of tabs and pages very long"
Having events with loads of data increases the load times (sometimes to over 1 minute) a lot, e.g. events with many sessions, many tickets, speakers etc.

Please ensure tabs and pages load fast and implement a better page handling.

[2017-03-28 17:07] mariobehling commented on #3069
I think it has not been clear enough. We only need the buttons:
* Register as a Speaker
* Propose Session

The colors and info on existing sessions has not been implemented. So this issue should have not been closed.

[2017-03-28 17:10] mariobehling commented on #3069
If the speaker's form has not been filled in completely, it should not be possible that the user submits a session. But: The user can save it as a draft. There should be a "draft" button in the sessions form. The "submit" button needs to be grayed out. If the user scrolls over the gray button, show a tool tip "You need to complete the speakers form before you can submit a session."

[2017-03-28 23:11] #2652 closed

[2017-03-29 10:29] jack17529 opened #3438 "Giving password with length less then 4"
Giving password of less then 4 characters gives an unusual error ,instead of asking for rewriting good strong password.

Here is the log file -

vagrant@vagrant-ubuntu-trusty-64:confused:vagrant$ python create_db.pyINFO [alembic.runtime.migration] Context impl PostgresqlImpl.
INFO [alembic.runtime.migration] Will assume transactional DDL.
Your login is 'super_admin'.
Enter email for super_admin :

[2017-03-29 10:30] jack17529 commented on #3438
Please assign me this issue.

[2017-03-29 11:47] mariobehling commented on #3069
The logic for event organizers also allows, that if event organizers add a session the speaker is not obligatory. It means: If the organizer adds a session he/she can still submit the session even if the speaker field is empty.

In that case there will be sessions without any speaker associated with it, that is fine then - if they have been entered by the organizer.

This case came up for breaks f

[2017-03-29 13:55] shubham-padia commented on #3253
@mariobehling @niranjan94 more padding was there to ensure that two track names do not mix up, a solution to that would be borders as implemented below.
![selection_144](https://cloud.githubusercontent.com/assets/13910561/24458059/7c56f5a2-14b5-11e7-98ab-e24cbdbe1e88.png)

[2017-03-29 13:59] niranjan94 commented on #3438
<img width="1680" alt="screen shot 2017-03-29 at 7 28 12 pm" src="https://cloud.githubusercontent.com/assets/2404372/24458202/de450894-14b5-11e7-9f57-26f09c2ea0b8.png">

As you can see above, this works fine. Looks like the issue is on your side. See if you have installed all the necessary packages. Especially, check if eventlet server is installed.

Closing this issue until then.

[2017-03-29 13:59] #3438 closed

[2017-03-29 14:05] niranjan94 commented on #3253
@shubham-padia this one looks nicer ... especially if you make the border color grey.

[2017-03-29 14:09] Achint08 commented on #3253
Sorry I couldn't continue with the issue.

[2017-03-29 14:28] mariobehling commented on #3253
@shubham-padia @Achint08 Could you make the design similar to the web app, please?

[2017-03-29 14:46] lucasruchel opened #3440 "Internationalization to pt-br"
In the Weblate plataform don't have the option to pt-br

[2017-03-29 18:07] Himanshi-Khandelwal commented on #3085
@niranjan94 if this is OK , then I will proceed to make the PR.

[2017-03-30 04:52] #3431 closed

[2017-03-30 08:38] #3253 closed

[2017-03-30 13:52] #3404 closed

[2017-03-31 15:46] shubham-padia commented on #3260
If the `microlocation` field of the session is null, the session is unscheduled. Rather than adding an extra redundant field in the api, we can add a note about this in `docs/general/api.md`. The client side application  e.g open-event-webapp can implement their own logic to see if the session is scheduled or not.

[2017-03-31 18:02] aviaryan commented on #2957
@mariobehling After some discussion at https://github.com/loklak/loklak_server/issues/1003, I think we have a good idea on how to solve these types of problems.
Therefore should I proceed to work on this issue?

**One question**: Since the docs are hosted at eventyay domain, should I assume that docs are needed to be built from master and not development?

[2017-03-31 19:20] shubham-padia commented on #3238
Will add a new api field `licence` with every detail of the licence.

[2017-04-01 20:27] magdalenesuo commented on #3427
@mariobehling  How about adding a "Edit Speaker details" button? After the speaker registers? Along side the "Add Session Proposal" button. Because the guests cannot recheck their submitted details. @SaptakS  comment

[2017-04-01 20:31] SaptakS commented on #3427
@magdalenesuo makes sense. I will put an edit button in both the mysession page and also in cfs so as to give a better U/X and maintain the same logic in both pages.

[2017-04-01 20:32] SaptakS commented on #3427
@magdalenesuo please make an issue and assign it to me. Thanks.

[2017-04-01 20:38] magdalenesuo opened #3446 "Make "Edit Speakers" button in cfs page"

[2017-04-02 10:13] #3427 closed

[2017-04-02 18:35] RamolaWeb opened #3448 "Feedback form for participant of Event for the Event"
It will be great to have an feature for the organizer of the event to create a feedback form for the participant of the event to give feedback about their event. We can create a form of question where the participant can select the suitable options regarding the service , hospitality and improvement of the event

[2017-04-03 14:57] rctay commented on #3277
Looking through scheduler.js, it seems "unscheduled" isn't represented in the sessions model, it's just marked as so based on not having a microlocation or (DOM) position. https://github.com/fossasia/open-event-orga-server/blob/development/app/static/js/events/scheduler.js#L221 Is my understanding right, @niranjan94  ?

[2017-04-03 17:05] #3238 closed

[2017-04-04 16:06] mariobehling opened #3451 "Implement Passbook for tickets"
Passbook is used by Apple users to store tickets. Implement the format for Open Event.

More info: https://developer.apple.com/wallet/

[2017-04-05 10:25] #3408 closed

[2017-04-05 10:26] #3260 closed

[2017-04-05 10:56] shubham-padia commented on #3277
If the microlocation field of the session is null, the session is unscheduled. The details about the state i.e pending, etc. can be found from the `state` field n the api. Refer to https://eventyay.com/api/v1/#!/sessions/get_session for more info. Closing this.

[2017-04-05 10:56] #3277 closed

[2017-04-05 18:40] #3446 closed

[2017-04-06 01:51] Himanshi-Khandelwal commented on #3256
What I found is that when a date is clicked, the sessions shown below are filtered to show only those that are on that date. What needs to be done here then?

[2017-04-06 12:29] mariobehling opened #3454 "Call for Speakers (and potentially other pages): Links on right side bar, that should not be there"
The right side bar on the Call for Speakers pages there are links, where there should not be any links.

Please ensure there is nothing on the right side bar on
* Call for Speakers Page
* Submission Pages (Speaker and Proposal Submission)
* All Schedule Pages

![screenshot from 2017-04-06 14-27-15](https://cloud.githubusercontent.com/assets/1583873/24754140/81c887dc-1ad5-11e7-9720-028b17d2d05e.png

[2017-04-06 12:53] mariobehling opened #3455 "Call for Speakers Forms: Avoid transition effects, delays, rounded corners and implement a semi-transparent white overlay for lightbox"
In order to keep a common appearance across the app we need to keep the number of different design items limited.

Please take out:
* [ ] transition effects for speaker and proposal form
* [ ] avoid any delay in transitions (it makes the app seem slower)
* [ ] take out rounded corners of overlay
* [ ] align the indent (distance to borders) of all text (at the moment heading and bottom text are dif

[2017-04-06 13:10] mariobehling opened #3456 "Call for Speakers: Enhance date display and position"
Please change the display of the time the Call for speakers is open. It is a bit confusing and could be perceived as event dates.

![screenshot from 2017-04-06 15-03-21](https://cloud.githubusercontent.com/assets/1583873/24755405/60d51658-1ada-11e7-9c13-a4b547af1cd1.png)

* [ ] Move dates next to green "Open" button
* [ ] Do not make it bold
* [ ] Show different date info depending on status
   *

[2017-04-06 13:21] mariobehling opened #3457 "Implementation of frontend framework and enahnced APIs"
Using a frontend framework could allow new contributors to join UI development more easily. It would also allow developers to focus more.

What is required to make this happen? What is missing?

[2017-04-06 13:39] niranjan94 commented on #3457
We need to think about an API-centric approach.

An API-Centric approach will reduce code repetition and allow for an easier maintenance. Implementation of additional features in the future would also be easier.

This way, the organiser server will be completely decoupled from the python API server. (this would allow us to get a lot of frontend developers onboard who have little to zero experience

[2017-04-06 13:42] niranjan94 commented on #3457
It would also be great to decouple the front-end from this repository and have this one for just the API server.

[2017-04-06 14:47] mariobehling commented on #3457
@niranjan94

Yes, seems like a logical step, but I think this would come a bit later. How can we keep our current workflow and what are the next steps to decouple the front-end? Could you open issues, please and list them here?

[2017-04-06 14:56] niranjan94 commented on #3457
@mariobehling if we go for a front-end framework, it would be best if we move it to a separate repo. Because that framework would have it's own build script, folder structure and tests and everything.

And before we open issues, we'll have to decide on a front-end framework

[2017-04-06 15:18] mariobehling commented on #3457
@niranjan94 Can we start with implementing the APIs first and solve the bugs of the system first to get the project more stable?

Starting a front-end repo - we should also think about our approach to design. What is a good approach here? Bootstrap, Material?

[2017-04-06 15:32] niranjan94 commented on #3457
@mariobehling cool. We'll start with APIs first.

For frontend we need two frameworks. The app framework (js) and the UI framework. For UI, instead of the usual bootstrap or material, we could go with [Semantic UI](https://semantic-ui.com/). Beautifully built. Professional looking. Highly customizable. has numerous components.

[2017-04-06 15:38] niranjan94 commented on #3457
In-fact semantic UI has a lot of components that would be of great use to us.

[2017-04-06 15:40] mariobehling commented on #3457
@niranjan94 Ok, great.

1. About the APIs: Please open issues.

2. Semantic looks great, but I am worried that it is mainly depending on one developer for over a year.

3. Regarding the front-end actually an option would also be to split the current repo after the APIs are ready into a) API server and b) Python front-end, isn't it? So, actually there could be different front-ends.

[2017-04-06 15:47] niranjan94 commented on #3457
- Will open more issues about API @mariobehling

- I'm not sure about that. But it is actively developed. And also, if you take bootstrap into consideration, even now, we use a lot of third-party bootstrap plugins for various functionality that has less or sometimes even zero activity on the repo. But in the case of semantic, almost all of those are part of the core library. I have been using sema

[2017-04-06 16:14] mariobehling commented on #3457
The reason for my question is: How do we make the transition from the current one-stop solution? How long would the development of a new front-end take? If we would have a separate python-frontend we might be able separate the repositories rather earlier than later.

Anyways, the big question is: What would be a realistic timeframe in which we could achieve a release (if we go with ember or angula

[2017-04-06 16:43] niranjan94 commented on #3457
I don't agree on that. What we have right now is a frontend deeply coupled with the backend. (which is also a cause of issues for us and making it harder for maintenance). So, whatever it is, it's gonna take the same effort to separate them both.

I would suggest, once we start the work on API, the frontend work also starts. (I can setup a base frontend project with ember+semantic in day or two al

[2017-04-06 18:33] niranjan94 commented on #3457
@mariobehling in fact, until the new frontend is done, we will still be maintaining the old frontend (with only minor bug fixes ... No feature additions) and API v1 (any breaking bug-fixes only) while working intensively on the API v2.

eventyay.com will be running on v1 until v2 is done (any breaking bugs will be fixed as hotfixes). staging.eventyay.com can start running v2 once we're at 25% of c

[2017-04-06 18:42] geekyd opened #3458 "Cannot access events on heruku build"
Currently if the user creates a new event or tries to manage the created events leads to  internal error page instead of opening admin panel.

**Reproducing the case**

- Create a new event and publish it

OR

- Click on manage events.

- Click on the name of the event.

**Screenshot**
![screen shot 2017-04-07 at 12 11 31 am](https://cloud.githubusercontent.com/assets/12807846/24770222/cefa6e16-1b

[2017-04-06 18:50] aviaryan commented on #3457
@mariobehling @niranjan94
I also agree with switching to a separate frontend + a backend only server. In addition to the already discussed points here, here are some more reasons on why this will benefit our project in the long term.

1. BUGS - Most of the bugs we face are related to the frontend flow of the server. This is because frontend is very unorganized. Lots of logic has been included in t

[2017-04-07 13:02] niranjan94 opened #3459 "Ensure that the API follows JSON-API schema"
Parent issue: #3457

Currently, the API doesn't follow any standard schema. Ensure it follows the [json-api](http://jsonapi.org) schema

Any of the following libraries can be used:
http://jsonapi.org/implementations/#server-libraries-python

[2017-04-07 13:07] niranjan94 opened #3460 "Enhance event API to support full event creation"
Parent issue: #3457
To be done after: #3459

Currently the event API only supports adding basic fields in the API. Ensure that all of the fields that are currently saved via the orga-server frontend are possible via the API too.

[2017-04-07 13:09] niranjan94 opened #3461 "Add endpoint to get event summary"
Parent issue #3459
To be done after #3645

We need a way to get summary of an event. Which includes but not limited to the following:
- Tickets sold and total (grouped by ticket type)
- Number of sessions
- Number of attendees
- Proposal count (grouped by status)

[2017-04-07 13:09] niranjan94 opened #3462 "Implement tickets API"
Parent issue #3459
To be done after #3645

Following endpoints are required
- Add ticket
- Remove ticket
- View tickets
- Edit ticket

[2017-04-07 13:11] niranjan94 opened #3463 "Implement Sales API"
Parent issue #3459
To be done after #3645

We don't have a way to get the current stats of the ticket sales via the API. Everything that is available in the frontend will need to be accessible via an API which includes but not limited to
- Filtering based on status (#2981)
- Based on tickets (#2981)

[2017-04-07 13:12] niranjan94 opened #3464 "Implement admin settings API"
Parent issue #3459
To be done after #3645

Allow all the settings under the admin dashboard (`/admin/`) to be accessed and modified via API calls.

[2017-04-07 13:14] niranjan94 opened #3465 "Implement speaker invite and proposal submission in the sessions/speakers API"
Parent issue #3459
To be done after #3645

- Add speaker invite functionality to the speakers API
- Add proposal submission functionality to the session API (submit/draft/confirmed states required)

[2017-04-07 13:16] niranjan94 opened #3466 "Implement Notifications API"
Parent issue #3459
To be done after #3645

Implement notifications API to do the following
- Send system-wide notification
- Get current notifications of a user
- Mark notification as read (or mark all as read)
- Send emails to a user/email ID (custom payload support and existing template support)
- Trigger push-notification on client apps (android, webapp, organizer app)
- Update/view user notifi

[2017-04-07 13:22] niranjan94 opened #3467 "Implement elasticsearch for Indexing and search of events"
Implement [elasticsearch](https://github.com/elastic/elasticsearch) so that we can index and search large number of events easily and efficiently.

Required:
- Adding of event to the elasticsearch index on creation
- Updating of event in the elasticsearch index on edit
- Deleting of event from elasticsearch index when the event is deleted
- Search API to search using elasticsearch
- Experiment on

[2017-04-07 13:30] niranjan94 opened #3468 "Implement ticketing and payments API"
Parent issue #3459
To be done after #3645

We need to be able to initiate purchases via API. The following are required.
- API to create order and get payment link
- API to set order purchase status after payment (would need encryption and verification of the data with the payment gateway server for validity before accepting)
- API to view current orders of a user (along with status)
- API to edit

[2017-04-07 18:53] #3319 closed

[2017-04-07 19:02] mariobehling commented on #3091
Any update on this issue? Would be great to see logos in their correct scale.

[2017-04-07 20:22] #3456 closed

[2017-04-07 21:36] shubham-padia commented on #3459
@niranjan94 Since we're using `flask-restplus` which is using swagger docs. I think it is compliant with the [OpenApi](http://swagger.io/specification/) specification (previously known as swagger specification). `flask-restplus` is also listed on http://swagger.io/open-source-integrations/ .

[2017-04-08 03:47] niranjan94 commented on #3459
@shubham-padia swagger spec is a spec for describing an API and its documentation. Wheras JSON-API spec is a specification for all the response objects, relationships, paths and is widely compatible with a lot of clients.

[2017-04-08 06:48] aviaryan commented on #3467
Some questions:

* Who will use the ElasticSearch server ? The API server or the client apps.
* What is the advantage of using ElasticSearch when we can already use our backend server to do these tasks? I know it will be more fast but is that it.

[2017-04-08 07:28] niranjan94 commented on #3467
- The API server will use the elasticsearch. (for example, if we use the open event api to search for event, the api server will communicate with elastic search and get the data)
- Speed is what we need at this point. Especially when we have thousands or more events. And also, this would allow us to use Kibana or some tool like that in future to make sense of our search index and data for providin

[2017-04-08 07:30] niranjan94 commented on #3467
Also, when eventyay starts getting as many events as eventbrite or something, we can easily scale the platform up by creating multiple shards of elasticsearch and provide quick results to the users irrespective of the number of events or the number of users we have.

[2017-04-08 13:05] mariobehling commented on #3430
There is no need for that. The tabs depend on the event dates. Let's focus on the bugs and follow up on more features later.

[2017-04-08 13:05] #3430 closed

[2017-04-08 13:15] mariobehling opened #3471 "My Sessions Page: Do not show "Withdraw Proposal" once event is over"
Speaker should not be able to withdraw a proposal once the event is over.

![screenshot from 2017-04-08 15-15-08](https://cloud.githubusercontent.com/assets/1583873/24829215/56d2d238-1c44-11e7-9c73-d3475ec7d584.png)

[2017-04-08 13:19] enigmaeth commented on #3459
How do I get started with this?
I read the docs at http://jsonapi.org/format/ and took an overview of Flask-REST-JSONAPI from the list of the libraries above.

[2017-04-08 13:34] niranjan94 commented on #3459
@enigmaeth  Since this is gonna be a major change to the current API, the first step would be to propose how you're planning to implement it, here ... So, that all can know what is happening and can suggest improvements

[2017-04-08 13:57] mariobehling commented on #3246
Thanks!

[2017-04-08 13:57] #3246 closed

[2017-04-08 14:01] mariobehling commented on #3458
Working for me. Please re-open if problem reoccurs.

[2017-04-08 14:01] #3458 closed

[2017-04-08 14:34] Himanshi-Khandelwal commented on #3471
I will like to work on this.

[2017-04-08 15:38] niranjan94 commented on #3471
@Himanshi-Khandelwal please proceed

[2017-04-09 01:59] #3393 closed

[2017-04-09 08:11] #3454 closed

[2017-04-09 18:40] mariobehling commented on #3232
@SaptakS The original columns of speaker was 5 columns. I think this does not have priority anymore. We can keep it as is now.

[2017-04-09 20:28] shubham-padia commented on #3195
Working as of now, please reopen the issue along with steps to recreate it .

[2017-04-09 20:28] #3195 closed

[2017-04-09 20:33] shubham-padia commented on #3229
solved by #3450

[2017-04-09 20:33] #3229 closed

[2017-04-09 20:38] shubham-padia commented on #3081
Seems working fine, please reopen if the issue still persists along with steps to recreate the issue.

[2017-04-09 20:38] #3081 closed

[2017-04-09 20:44] shubham-padia commented on #3274
Unable to recreate the issue, seems working fine, please reopen if the issue still persists along with steps to recreate the issue.

[2017-04-09 20:44] #3274 closed

[2017-04-09 20:50] shubham-padia commented on #3200
Seems working fine, please reopen if the issue still persists along with steps to recreate the issue.

[2017-04-09 20:50] #3200 closed

[2017-04-09 21:00] SaptakS commented on #3232
@mariobehling then I guess the issue is resolved.

[2017-04-09 21:00] #3232 closed

[2017-04-09 21:10] shubham-padia commented on #3080
Cannot reproduce the issue at the moment, every mail I could find uses the `send_email` function which logs and saves the mail to the db. Please reopen the issue if it still persists along with the mail info of the mail which was not added to the mail count. Closing this.

[2017-04-09 21:10] #3080 closed

[2017-04-10 07:18] #3091 closed

[2017-04-10 12:36] niranjan94 commented on #3457
Child-issues have been opened. Front-end repo created at `fossasia/open-event-frontend`. This discussion can be closed. More specific discussion issues could be opened if and when needed.

[2017-04-10 12:36] #3457 closed

[2017-04-10 12:38] niranjan94 opened #3478 "Allow event API to accept both event-id and event-identifier"
Parent issue: #3457

Current the Event API accepts only the event ID to look up a specific event. But since we widely use the alphanumeric event identifier too in a lot of places, we need the API to accept that too.

[2017-04-10 14:47] #3478 closed

[2017-04-10 17:11] #3471 closed

[2017-04-11 09:38] niranjan94 opened #3480 "Ensure we have a uniform database-column naming schema through the project"
We currently have a mixed schema in different models. They need to be unified such that it's easier to under stand and maintain.

| Component                       | Naming style (`snake_case`)

[2017-04-11 18:33] #3321 closed

[2017-04-11 20:26] SaptakS commented on #3374
@LuD1161 are you still working on this?

[2017-04-11 20:28] SaptakS commented on #3256
@mariobehling @niranjan94 this issue must have been resolved by some other PR. It works fine now. Closing.

[2017-04-11 20:28] #3256 closed

[2017-04-12 00:06] SaptakS commented on #3279
@mariobehling search is already implemented in https://github.com/fossasia/open-event-orga-server/pull/3481 . And the track list is already implemented in the sessions view. You want a similar one in the tracks view also, am I correct?

[2017-04-12 08:37] SaptakS opened #3482 "Organizers of OSCAL getting Internal Server Error"

[2017-04-12 08:37] #3310 closed

[2017-04-12 14:13] #3482 closed

[2017-04-13 06:02] mejariamol commented on #3480
All the changes will be in `/app/models/` only. Right?

[2017-04-13 06:40] niranjan94 commented on #3480
@mejariamol not just there. It'll be throughout the application. Anywhere it is referred to. Proper migrations have to be generated for renaming existing columns without losing data too.

[2017-04-13 07:02] aviaryan commented on #3480
Anyone willing to work on this please take one (or few) table(s) at a time. This will make the review process much more easy and efficient. Contributors should create child issues for each table refactoring and should refer to this thread from that issue.

[2017-04-13 15:06] rohanagarwal94 opened #3485 "Allow event organisers to create a FAQ section"
Facebook just released their F8 app. Similarly a JSON could be generated like the sample JSONs for microlocations, speakers etc.

![screenshot_2017-04-13-20-29-04-493_com facebook f8](https://cloud.githubusercontent.com/assets/13241256/25010514/011dc094-2088-11e7-806b-db129f2614bf.png)

[2017-04-13 22:22] mariobehling opened #3486 "Organizer get error when trying to download csv or pdf list of attendees"
OSCAL organizers encounter this issue.

![screenshot from 2017-04-13 18-32-54](https://cloud.githubusercontent.com/assets/1583873/25026747/64a4acb6-20a8-11e7-9a4b-e24671a17392.png)

[2017-04-13 22:49] #3279 closed

[2017-04-14 08:28] #3374 closed

[2017-04-14 08:32] #3486 closed

[2017-04-14 09:45] shubham-padia opened #3489 "Refactor access_codes and discount_codes according to the new naming schema"
Parent issue: #3480

[2017-04-14 10:24] shubham-padia commented on #3480
For boolean fields, following `is_<name>` would alos be a good idea. e.g `is_active` .

[2017-04-14 11:55] mariobehling opened #3491 "Add link to issue tracker to error pages"
The error pages of Open Event sometimes show messages in the direction "we are working on the issue", but actually we don't even know about issues.

As a first step please add a link to our error pages to the issue tracker: https://github.com/fossasia/open-event-orga-server/issues and change the error text to "Please report any errors or bug to our issue tracker on..."

[2017-04-14 12:07] mariobehling opened #3492 "Link for Video/Slides/Audio missing - Implement option a) Upload or b) Link"
Currently the link for video, slides, audio cannot be provided as only an upload option is available in the sessions form.

Please provide an option either link or upload.

![screenshot from 2017-04-14 14-05-25](https://cloud.githubusercontent.com/assets/1583873/25042857/b2d80162-211b-11e7-9032-376a505150c0.png)

[2017-04-14 12:17] niranjan94 commented on #3480
@shubham-padia good idea

[2017-04-14 12:57] niranjan94 opened #3494 "Change logic for soft deletes"
In the current implementation, for soft-deletes we have two fields `in_trash` and `trash_date` (Example: see `app/models/event.py`)

Instead, have one nullable datetime field called `deleted_at`. That field should have `null` as the default. If that field is null, then the record is not deleted. If it isn't null, then it is deleted.

_(This is similar to the soft-delete implementation done in [Lar

[2017-04-14 13:02] aviaryan commented on #3494
@niranjan94 I would like to work on this.

[2017-04-14 13:02] rafalkowalski commented on #3494
Here it's an example how we can solve it in sqlalchemy https://blog.miguelgrinberg.com/post/implementing-the-soft-delete-pattern-with-flask-and-sqlalchemy

[2017-04-14 13:09] aviaryan commented on #3494
@rafalkowalski That link shows a very similar implementation to our current situation, using a `deleted` bool variable instead of ours `in_trash`. And it doesn't store deleted time.
What is suggested here is the best way IMO, we will now only use one variable and it will have the required data (deleted time) also.

[2017-04-14 16:15] mariobehling opened #3495 "Switching buttons on and off results in data loss"
When an organizer switches key buttons on or off all data is gone. Expected: When the organizers switches the button on again, the data should be there again, e.g.
* Ticket module on wizard step 1
* Sponsors button wizard step 2
* Sessions and Speakers wizard step 3

Secondly, switching buttons on and off in step 3 results in "all sessions" that have been submitted being deleted. Expected: Session

[2017-04-14 17:52] #3489 closed

[2017-04-14 18:19] shubham-padia commented on #3480
@niranjan94 @SaptakS @aviaryan
What should be the ideal way to go about solving this issue. All of the tables at once or one/few tables at a time ? Please provide your views.

one/few tables at a time:
- easier code review
- Large no. of commits and PRs

All tables at once:
- harder code review
- Less no. of commits
- Not enough tests to confirm if a feature is broken due to the change or not. ( T

[2017-04-14 19:50] aviaryan commented on #3480
@shubham-padia Few tables should be the way to go. But if you find that refactoring few tables is generating a light diff, you can incorporate more tables till the diff is of a considerable size. This will help minimize commits/PRs.
Also see my comment at https://github.com/fossasia/open-event-orga-server/pull/3490#issuecomment-294141041

[2017-04-15 05:09] #3494 closed

[2017-04-15 16:45] mariobehling opened #3499 "My Sessions: Show all session information on main page without subpages"
The my sessions pages has sub pages of sessions at events. The additional "click" is not needed. Expected: We can show all relevant information on the my sessions page, e.g. at https://eventyay.com/events/mysessions/

Please create one section for each event and show the information for each sessions within the "event box" on the my sessions page instead of showing it on sub pages.

![screenshot f

[2017-04-16 06:43] niranjan94 opened #3500 "API & Placeholder images"
In our new API-Centric approach, how do we handle placeholder images (based on category/topic/sub-topic) ?

1. Does the API response for an event itself returns a placeholder image URL in the place of the background image if the background image doesn't exist ?
2. Or, does the API response for an event return `null` for a non-existent image and we have a separate endpoint that provides all the pla

[2017-04-16 07:00] aviaryan commented on #3500
Right now, in the /browse UI, placeholder images are not being differentiated from a real image at all. So I think we should have the API response return placeholder image if event's background is null.
But, after we move to the API centric approach, the edit event page may also use the same API for fetching existing event details. It won't be good to return placeholder images there.
If the endpoi

[2017-04-16 07:16] SaptakS commented on #3500
I think fetching from a separate endpoint is a better option. That way things would be clean and separate and won't create confusion in terms of API results returned. If there is no background image, the API endpoint should return a null value instead of a placeholder value to avoid confusion at later stages of production. This also helps in avoiding any kind of interference with editing or updati

[2017-04-16 07:20] aviaryan commented on #3500
:+1: Since an event will only have one placeholder image, adding a field like this won't cause any overhead. And this certainly removes all ambiguities.

[2017-04-16 07:20] niranjan94 commented on #3500
@SaptakS I like the option suggested by you ... 👍

[2017-04-16 10:48] Himanshi-Khandelwal commented on #3499
is this what is required ?
![screenshot from 2017-04-16 16 16 30](https://cloud.githubusercontent.com/assets/17119462/25070590/576385d0-22c0-11e7-9a63-e19d52f3c269.png)

[2017-04-16 10:58] mariobehling commented on #3499
Please sort all sessions of one event below each other. So all sessions in a list instead of next to each other.

Only offer one "Edit Speaker Details" per event.

[2017-04-16 11:04] Himanshi-Khandelwal commented on #3499
@mariobehling will "withdraw sessions" option won't be provided ?

[2017-04-16 11:20] mariobehling commented on #3499
yes

[2017-04-16 15:16] #3309 closed

[2017-04-17 03:02] #3491 closed

[2017-04-17 12:30] SaptakS opened #3503 "Eventyay Order Details: Download of tickets don't work."
The ticket download doesn't work for OSCAL event in eventyay.

[2017-04-17 12:33] SaptakS opened #3504 "Order Details: Billing details don't show name."
The information in the billing details for an order isn't shown properly. The name is not shown in any cases and many of the time the other details are also not shown and instead `none` is shown.

[2017-04-17 17:20] mariobehling opened #3505 "Organizer of OSCAL cannot create discount code - error "no permission""
The organizer of OSCAL reported: "I can't create a discount code, It says that I don't have permission access."

Expected: Sufficient permissions for organizers and co-organizers to create discount codes.

[2017-04-17 22:59] mariobehling opened #3506 "Paid ticket allows to enter 0.00 USD or other currency"
Currently it is possible to enter a paid ticket that costs 0.00 USD.

Expected: It should not be possible to enter amount 0.

[2017-04-17 23:00] mariobehling opened #3507 "Entering and saving a ticket should result in immediate ticket display"
If the user enters a new ticket, the ticket time is set to the time the ticket is created. However, the ticket does not display immediately. Apparently the time zone of the server or system or user is not aligned.

Please ensure the ticket is immediately displayed (if the user does not set another start time).

[2017-04-18 00:54] SaptakS opened #3508 "Paid via cash shows payment due: false"
When paid via cash, cheque and so on, the payment due should be set to true, since the order is made but the payment is still not made. Right now it shows false.

[2017-04-18 03:36] #3504 closed

[2017-04-18 07:24] SaptakS opened #3512 "Refactor populate_db"
There are a lot many code in populate_db that might need to be changed during production but it isn't recommended. So a better solution needs to be found out for this. @niranjan94 @aviaryan @magdalenesuo @shubham-padia your views?

[2017-04-18 07:40] #3505 closed

[2017-04-18 11:53] aviaryan commented on #3512
@SaptakS: Can you please elaborate on what change is needed here?
The way I see it; we are starting with some defaults which can be changed from the admin section of the site and so there is no problem with this.

[2017-04-18 11:55] aviaryan commented on #3500
So should I work on this? @niranjan94

[2017-04-18 12:12] niranjan94 commented on #3500
@aviaryan yes. You can proceed.

[2017-04-18 17:14] mariobehling commented on #2853
@SaptakS I am getting feedback from different organizers that this has high priority for them. Would be great if this could be tackled soon.

[2017-04-18 17:20] SaptakS commented on #2853
@mariobehling okay. I will look into this ASAP after completing the other issues in hand.

[2017-04-19 04:37] #3503 closed

[2017-04-19 11:06] mariobehling opened #3515 "Ticketing: Paid tickets not working for OSCAL"
![7593010997858230146-account_id 1](https://cloud.githubusercontent.com/assets/1583873/25177096/f11d8210-2500-11e7-8780-d87aa06e171f.jpg)

Expected: People need to be able to pay with Paypal.

[2017-04-19 17:36] #3515 closed

[2017-04-19 17:36] SaptakS commented on #3515
The paypal token was expired. Solved now.

[2017-04-19 18:41] #3500 closed

[2017-04-20 17:37] CosmicCoder96 commented on #3506
@mariobehling I would like to work on this.

[2017-04-20 17:57] aviaryan opened #3518 "Make background_image field in Event API nested"
@niranjan94 said (https://github.com/fossasia/open-event-orga-server/pull/3514#issuecomment-295222321):

While we are at it .. Can we put these fields `thumbnail`, `large` and `background_image` into a nested object ?

Something like,
[code]
If there is no background image available `background_image` will be `null`

[2017-04-20 19:47] mejariamol opened #3519 "Ticket email alert remains on the ticket view page"
When we navigate to ticket view page through **My Tickets**, the ticket email alert remains on the top.

Expected: It should only appear when user buys a ticket and he is redirected to ticket view page.

![screenshot 33](https://cloud.githubusercontent.com/assets/13533840/25249667/44287dc2-2630-11e7-83b7-ff808693ada9.png)

[2017-04-20 19:48] mejariamol commented on #3519
I will work on this.

[2017-04-20 23:08] SaptakS opened #3520 "Schedule Public(expanded view): Popovers don't update position on scroll."
On scrolling, the position of the popover remains fixed and isn't relative to the scheduled session cards. Should we try some other option rather than bootstrap popover because this is an issue of bootstrap popover? @niranjan94 @mariobehling what do you suggest? This is also related to the [expanded scroll issue](https://github.com/fossasia/open-event-orga-server/issues/3315)

[2017-04-21 12:14] niranjan94 opened #3523 "Make file exports take into consideration the storage setting on the app"
Right now, file exports write the exported zip to the local file system by default irrespective of what the user's storage setting (google cloud, s3, local) is. Ensure the exported zip is placed in the appropriate location.

This is especially important when we have something like a kubernetes deployment where the local-storage is volatile and isolated by default. Local storage is not sharable b/w

[2017-04-22 03:15] #3506 closed

[2017-04-22 08:50] #3455 closed

[2017-04-22 09:18] simsausaurabh commented on #3451
Can you please elaborate a bit?
And whether distribution of pass is required?

[2017-04-22 11:54] mariobehling opened #3524 "Set up monitoring for eventyay deployment"
The site on Eventyay.com was offline today due to internal server error. Please propose and implement a solution for monitoring where a set of people get an email automatically when the site has issues.

[2017-04-22 20:39] aviaryan commented on #3524
We can use a known free service such as [Uptime Robot](https://uptimerobot.com) for this.
It checks the website every 5 minutes and notifies the concerned if there is a problem. The notification medium can be anything from SMS, Email, Twitter, Slack or a webhook.

[2017-04-22 22:00] geekyd commented on #3524
We can have a project to monitoring all the applications including open-event(eventyay) of the organisation, it will report us whenever any website is having issues. Building the monitoring system might take time, so we can use free services till we build it. I would love to hear your opinion. Thanks

[2017-04-23 05:18] mejariamol opened #3525 "Tickets info is not saved on creating/editing any event now"
Observations:

1. one event I had created earlier with a free ticket is showing up ticket info on the event page also in manage events page.. but now on adding new tickets, these tickets appear in the manage events page, but not on event page.

2. Currently on creating new event with tickets, ticket info is not shown on manage events page and event page.

[2017-04-23 06:24] #3525 closed

[2017-04-23 06:34] mejariamol commented on #3525
actually the issue is with ticket sale start date, hence closing this issue and creating new one.

[2017-04-23 06:37] mejariamol opened #3526 "Ticket options are not shown on event page if sale start date is today"
Ticketing option is not shown on the event page if the sales start date of the ticket is today.

Expected: Ticket option should be shown on the event page if the sale start time is before now.

[2017-04-23 06:42] aviaryan commented on #3523
Adding to this issue:
Right now we are not deleting the exported zip. As the zip is being stored in a volatile storage, this wasn't seen necessary. But now as the zip will be stored on S3 or google cloud, they will have to be deleted at some point (+ 24 hours) so that they don't end up taking space. A celery scheduled job will easily do this.

PS - I would have loved to fix this issue but alas, en

[2017-04-23 07:56] SaptakS commented on #3526
@mejariamol would you like to work on this issue?

[2017-04-23 09:27] SaptakS opened #3528 "Remove eventlet dependency"
We are using eventlet only in notifications to make it real time which isn't essential right now. Eventlet breaks the docker integration and hence the kubernetes deployment. https://github.com/eventlet/eventlet/issues/401.

Since it is not essential to our system, we can remove the dependency on eventlet. Otherwise this breaks the eventyay deployment.

[2017-04-23 09:28] niranjan94 commented on #3528
We can re-implement web-sockets later when we have more use for them.

[2017-04-23 10:14] mejariamol commented on #3526
@SaptakS yes, I will work on this.

[2017-04-23 10:56] mejariamol commented on #3526
@niranjan94 @SaptakS which time zone will server use to check sale start time ??

[2017-04-23 11:21] niranjan94 commented on #3526
Internally ... We use UTC ... But we should take into consideration the event's timezone while calculating ticket sales start and end

[2017-04-23 11:36] mejariamol commented on #3526
Can't we switch now to **unix time** while storing date time to server.. and converting it to local while showing..?? that will be easier right..?

[2017-04-23 11:38] mejariamol commented on #3526
never mind.. we can do the same with UTC  :)

[2017-04-23 11:59] shubham-padia opened #3532 "Missing migration for removing `creator_id` field"

[2017-04-23 12:12] shubham-padia opened #3533 "Propose and implement a method to test data integrity b/w schema migrations."
Currently there is no way to test that the schema migrations occurring in the project maintain data integrity. Please propose a method to test data integrity b/w schema migrations.

[2017-04-23 14:18] mejariamol commented on #3526
@SaptakS @niranjan94 It is working correctly according to UTC.. I was putting local time for ticket sale start.. that was making issue..
But I think we should take input time from user in local time zone.. and convert it to UTC internally.. That will avoid such issues in the future.. what do you think??

[2017-04-23 14:32] mejariamol commented on #3526
@niranjan94 It is working correctly for date time input in UTC..
Just wanna be clear about these things..

1. Are we taking date time input from user in UTC or in selected local time zone?

2. And in which form we are storing date time on database ,, UTC or local time zone??

[2017-04-23 14:37] niranjan94 commented on #3526
1. The user picks a date and time and selects the timezone it is in.
2. It is stored in the database as a _naive datetime_ and the timezone is stored in a separate field.

[2017-04-23 22:01] shubham-padia commented on #3526
@mejariamol Can you please provide steps to recreate this issue, i.e the example data that you filled. I set my timezone to US, and added a ticket which had its start time automatically set according to US. And I was able to access the tickets immediately.

[2017-04-24 02:48] mejariamol commented on #3526
@shubham-padia

1. choose timezone which is +HHMM to your local timezone .. for example if you are in Asia/Kolkata time zone which is UTC+0530  then choose Pacific/Nauru which is UTC+1200..

2. now select sale start time one hour prior to current time in the chosen timezone i.e., UTC+1200..

[2017-04-24 04:19] #3519 closed

[2017-04-24 15:26] #3526 closed

[2017-04-24 15:50] shubham-padia opened #3536 "Server error on access codes edit"
![selection_158](https://cloud.githubusercontent.com/assets/13910561/25345878/b9e3296c-2933-11e7-97ee-ca09bcaf460b.png)

[2017-04-24 17:23] shubham-padia commented on #3536
closed via #3537

[2017-04-24 17:23] #3536 closed

[2017-04-25 11:22] SaptakS commented on #3532
Can you please elaborate this issue? I am not sure what you mean by this. Is this `creator_id` something that should be removed? But according to your comment [here](https://github.com/fossasia/open-event-orga-server/pull/3527#discussion_r112831396), you are saying this column doesn't exist at the moment.

[2017-04-25 11:48] shubham-padia commented on #3532
@SaptakS According to @aviaryan 's comment here: https://github.com/fossasia/open-event-orga-server/pull/3527#discussion_r112831502 , the `creator_id` field was removed from the model but no migration file was generated for it.

[2017-04-25 11:59] shubham-padia commented on #3532
@SaptakS Yep.

[2017-04-25 14:54] mariobehling opened #3538 "If speaker edit their profile or session they are unassigned"
If speaker edit their profile or session they are unassigned from their session. Result: Organizer needs to re-add them to the session.

Expected: If speaker edit profile or session nothing should change. Sessions should still have the same speaker and same status.

[2017-04-25 15:02] #3532 closed

[2017-04-25 18:13] #3538 closed

[2017-04-25 22:03] mariobehling opened #3540 "Avoid white empty space in schedule"
There is an empty space next to the time in the schedule. Please take it out.

![screenshot from 2017-04-26 00-01-39](https://cloud.githubusercontent.com/assets/1583873/25409788/bb92294e-2a13-11e7-9008-98f5fd3d6535.png)

[2017-04-26 05:14] CosmicCoder96 commented on #3540
@mariobehling working on this.

[2017-04-26 08:29] mariobehling opened #3543 "Test Google Cloud deployment with Kubernetes"
The setup with Kubernetes has issues at points and there are ideas to improve the setup. We need everyone to understand it and set up a system for her/himself with Kubernetes. Please report your experience and share a link here.

@shreyasnbhat @rohanagarwal94 @Shailesh351 @arpitdec5 @mahikaw @geekyd @harshitagupta30 @anu-007 @sumedh123 @CosmicCoder96 @utkarshnath @Ronak-59 @mejariamol @iamareebjam

[2017-04-26 10:36] mariobehling opened #3544 "Create a real world sample of a past event including sponsors, tracks, call for papers, speakers and sessions etc."
Please test the system and its flow and create a sample event using a real world event e.g. a past FOSDEM event, Linux conference etc. on eventyay and post the link to the public event here.

Please ensure you are using all features of the event. The event sample should be as complete as possible. Create a real world sample event that includes:
* organizers info
* social media
* code of conduct
*

[2017-04-26 15:43] #3540 closed

[2017-04-26 17:09] SaptakS opened #3545 "Public Schedule: Close all popover on expand view"
If you have opened a popover for a session, and then clicked on the expand view to see the expanded view of the schedule, the popover (rather all popovers) should be closed, since their position won't be updated otherwise.

[2017-04-26 18:17] SaptakS opened #3546 "Public Schedule: Scroll fix of the sidebar"
The sidebar position and top values get updated weirdly. You can check it out here: https://eventyay.com/e/45da88b7/schedule/

[2017-04-26 21:09] #3315 closed

[2017-04-26 21:09] #3520 closed

[2017-04-26 21:10] #3545 closed

[2017-04-26 23:41] mariobehling commented on #2853
Unfortunately the ticket sort order does not work on eventyay on the public page.

[2017-04-27 03:42] SaptakS commented on #2853
I checked on eventyay. It is working absolutely fine. Here are the screenshots:
![screenshot from 2017-04-27 09-09-23](https://cloud.githubusercontent.com/assets/9530293/25467009/6b4cbc94-2b29-11e7-9779-2495abe25f4b.png)
![screenshot from 2017-04-27 09-09-26](https://cloud.githubusercontent.com/assets/9530293/25467010/6b518918-2b29-11e7-853d-df252a215204.png)

Ticket 3 was at the end. Then it was

[2017-04-27 06:31] niranjan94 opened #3547 "Call for speakers section shows all live events"
The call for speakers section on the home page, shows all live events irrespective of whether they have an active call for speakers or not.

**Expected:**
Show only events that have a call for speakers open right now.

[2017-04-27 06:33] niranjan94 opened #3548 "Ticket ordering does not work for existing events"
Related issue: #2853
Caused by: #3527

Ticket ordering now works for events that were created after implementation of the ordering functionality. But we need it to work for events created before too.

**Expected:**
Ticket ordering should work for all events.

[2017-04-27 06:34] niranjan94 commented on #2853
Can be fixed in #3548

[2017-04-27 06:34] #2853 closed

[2017-04-27 06:48] niranjan94 opened #3549 "Make API requests and responses timezone aware"
For example, the call for speakers response right now is
[code]

Instead, ensure the timezone is part of the start_date and end_date. Ensure [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format is followed. (Eg. `2017-04-27T00:27:49+00:00`)

Ensure this is done for all date time responses throughout the app.

---

Same to be followed while making requests. For example, right now, for filtering

[2017-04-27 10:04] #3547 closed

[2017-04-27 13:05] poush commented on #3524
There are many ways to implement this. One option could be to add the script in orga server which will be called by our Scheduler every minute or 5. If the main website is not resolving it will send a mail to provided mail IDs or to the admin email ID in orga server. This is easy to implement since we will be directly using the email service of orga server and all other people using orga server pr

[2017-04-28 08:19] mariobehling opened #3551 "Events without CfS show up in Call for Speakers area"
Recent changes broke the display of events on the front page. Events without CfS now show up in Call for Speakers area on front page.

![screenshot from 2017-04-28 10-17-47](https://cloud.githubusercontent.com/assets/1583873/25520427/1ee8d7ba-2bfc-11e7-9e86-ddc66e30b92b.png)

[2017-04-28 08:35] niranjan94 commented on #3551
Already resolved by #3547

[2017-04-28 08:35] #3551 closed

[2017-04-28 08:54] mariobehling opened #3552 "Editing social links results in errors or does not save data"
Trying https://eventyay.com/admin/content/#!social-links results in bad gateway error.

![screenshot from 2017-04-28 10-53-28](https://cloud.githubusercontent.com/assets/1583873/25521726/09845408-2c01-11e7-993f-1a273cdecdab.png)

[2017-04-28 08:56] niranjan94 commented on #3552
@mariobehling works for me. Could you confirm?

[2017-04-28 08:57] mariobehling opened #3553 "Updating system images through UI resulting in error and eternal upload screen"
Trying to update system images is not successful at https://eventyay.com/admin/content/#

![screenshot from 2017-04-28 10-56-33](https://cloud.githubusercontent.com/assets/1583873/25521875/818881e0-2c01-11e7-823b-2995a898853f.png)

[2017-04-28 09:07] mariobehling commented on #3552
Ok, does not result in bad gateway, but now it does not save any changes, e.g. adding https://www.facebook.com/eventyay/

[2017-04-28 09:20] mariobehling opened #3554 "Wizard Step 3 - Session Colors: Show preview and automatically choose black or white font color"
Currently we only have standard font color white or black in the list and calendar views of the schedule.

The font color should be chosen automatically depending on the contrast. Please implement the following:
* behind each line implement a preview area with the background and automatically chosen font color a) black or b) white
* implement the font color in the schedule view
* add the font colo

[2017-04-28 09:20] niranjan94 commented on #3552
@mariobehling I just added facebook.

[2017-04-28 09:21] mariobehling commented on #3552
What is the issue? Why is it working with you?

[2017-04-28 09:23] elioqoshi commented on #3554
Thanks! This is very important I believe as it's a big accessibility issue right now.

[2017-04-28 09:24] niranjan94 commented on #3552
@mariobehling I used the superadmin account. Which account had you used ?

[2017-04-28 09:25] mariobehling commented on #3552
Same. I tried again adding Youtube and was logged out twice now.

Third time worked. I am puzzled.

[2017-04-28 09:26] niranjan94 commented on #3552
Hmm ... weird. Then this is a bug and needs to be investigated.

[2017-04-28 10:45] mejariamol commented on #3554
I will work on this.

[2017-04-28 13:03] niranjan94 commented on #3554
@mejariamol please proceed

[2017-04-30 05:13] niranjan94 commented on #3554
@mariobehling I don't think the font color should be sent via the API. The track color is the primary data and that is all we should send. How that data is going to be used and how it is going to be displayed (I mean what font color to use, etc) should be decided by the respective frontends.

[2017-04-30 19:48] mariobehling commented on #3554
@niranjan94 The font-color depends on the background color. We don't want to re-implement the same functionality in each client. If we decide that the respective frontend does not need to follow that, it is ok. But right now we should not re-implement things several times and ask users to enter the same info again on the web app generator and android app generator. The idea is also to have a more

[2017-05-01 15:10] mariobehling opened #3555 "Propose and implement calendar view as full width in different resolutions"
The calendar view is not full-width in all resolutions, which would be desired. The issue also happened in the open event web app. It was solved in two commits. Please compare:
* https://github.com/fossasia/open-event-webapp/pull/1246
* https://github.com/fossasia/open-event-webapp/pull/1257

![screenshot from 2017-05-01 17-08-01](https://cloud.githubusercontent.com/assets/1583873/25583225/3524e4c

[2017-05-01 15:16] mariobehling opened #3556 "Schedule: Show more info from inside of sessions box"
When user clicks currently more info is shown below the session. It would be more suitable to show more info directly below the session text within the box of the session (similar to open event web app).

![screenshot from 2017-05-01 17-14-32](https://cloud.githubusercontent.com/assets/1583873/25583386/d72fd0e8-2e91-11e7-95ad-6c35fe2f756f.png)

[2017-05-01 15:45] geekyd commented on #3555
@mariobehling I'm working on this issue

[2017-05-01 22:11] mariobehling opened #3557 "Propose and implement solution for Full HD screens"
The images and views on the site are optimized for mobile and relatively small screen views. They do not look very well on full HD. Users are asking to increase the px per inch to 300dpi. This could increase the size of image and with many speakers it could increase the loading times for mobile users. What options do we have?

[2017-05-02 07:10] mejariamol commented on #3554
@niranjan94 @mariobehling See if this is fine.. I did front-end part only..

![screenshot from 2017-05-02 12-26-59](https://cloud.githubusercontent.com/assets/13533840/25607478/592e34ca-2f34-11e7-867e-09eb13d959e6.png)

[2017-05-02 07:30] mariobehling commented on #3554
Thanks. I assume the color wheel is not affected by the changes. Please samples to middle of row. Looking forward to the back-end implementation.

[2017-05-03 03:05] SaptakS commented on #3508
Paid via cash has been removed as an option for payment. Closing.

[2017-05-03 03:05] #3508 closed

[2017-05-03 04:46] SaptakS opened #3558 "Open Tickets error in public view"
Even after the events have tickets created, the tickets are not shown in the live page. For example: http://open-event-dev.herokuapp.com/e/02f36ba7/

Probably cause: There is some timezone error which is causing trouble to determine whether ticket sales is open.

[2017-05-03 05:07] SaptakS commented on #3558
Duplicate of https://github.com/fossasia/open-event-orga-server/issues/3507. Closing.

[2017-05-03 05:07] #3558 closed

[2017-05-03 09:29] mariobehling opened #3560 "Speakers: Name missing even though it is required"
The name is always a required field for speakers. Apparently it is marked as such but if the name is still missing the submission is still possible. Please ensure the name the named needs to be entered always also in Drafts.

![screenshot from 2017-05-03 11-27-30](https://cloud.githubusercontent.com/assets/1583873/25655024/b57a080c-2ff3-11e7-8cdd-61baebebd6f5.png)

[2017-05-03 09:30] #3507 closed

[2017-05-03 09:32] SaptakS commented on #3560
@mariobehling this happens when someone submits a paper from CFS page. Since the speaker and session forms have been separated, so if the speaker is not registered and he saves a session as draft, then there is no speaker name associated with that session.

[2017-05-03 09:49] mariobehling commented on #3560
It looks like the process is not clear for speakers. We need to think about how to make this clearer. Speakers seems to think they already submitted.

[2017-05-03 09:50] SaptakS commented on #3560
@mariobehling So what if we make it necessary to register as a speaker before submitting a session to an event. I think that will make things clearer.

[2017-05-03 09:53] mariobehling opened #3561 "Speakers: Implement "Export" speakers and sessions as csv for organizers"
Organizers sometimes want to work on details and get a list of all emails of speakers. Please implement a button "export" speakers and sessions as csv
a) on the speakers tab
b) on the session tab
In both ares the buttons export the same document that should include all information of sessions and speakers as csv.

[2017-05-03 09:58] mariobehling commented on #3560
I want to look at how things are done with https://frab.cccv.de. Here it is very clear. What is the difference to us? Let's follow their approach more clearly.

[2017-05-03 10:28] SaptakS commented on #3560
@mariobehling atleast what I see they ask the user to register first and then allow session submission, one after the other. This is what I had proposed. But then we decided to keep the two things completely separate and not compulsory. If we don't make it compulsory for the speaker to register before submitting session, there is no way we can get speaker's information such as names.

If you want

[2017-05-03 10:36] niranjan94 commented on #3560
I think the first option is better. Speakers needs to create an account to submit a CFS Proposal. That makes sense. And I guess that is what frab is also doing.

[2017-05-03 10:45] niranjan94 commented on #3560
@mariobehling this is Frab's implementation. We had a similar implementation in open event too at one point.

![screen shot 2017-05-03 at 4 13 22 pm](https://cloud.githubusercontent.com/assets/2404372/25657443/86cfda36-301b-11e7-8f26-4acd798dc2af.png)

[2017-05-03 10:47] SaptakS commented on #3560
@niranjan94 agreed... Infact the previous flow of eventyay was somewhat like this only. Just that the speaker and session forms were combined into a single one. I guess we should allow session submission only once speaker is registered for the event.

[2017-05-03 10:52] mariobehling commented on #3560
@SaptakS They differentiate between a) signing up and b) adding info for a session proposal (they call it event). So in our case, that would mean users have access to the system. Then if they want to apply for an event, they need to add their personal information first. If you mean that, sounds good.

As our system is also a ticketing system our sign up flow needs to be open for both and is slight

[2017-05-03 10:53] SaptakS commented on #3560
@mariobehling that is exactly what I was proposing.

[2017-05-03 10:55] mariobehling commented on #3560
Ok, sounds good. Maybe change "Register as a Speaker" to "Speaker Details".

By the way, existing sessions currently don't show up here. I am opening an issue.

[2017-05-03 10:58] mariobehling opened #3562 "Event Proposal: Existing sessions not showing up"
A session was added for a speaker by an organizer through the "Create Session" form. It does not show up as an existing session in the event proposal form linked from the Call for speakers.
![screenshot from 2017-05-03 12-48-27](https://cloud.githubusercontent.com/assets/1583873/25657827/08115ed8-3000-11e7-807b-daacc7d5ccae.png)

The session does show up on "My Sessions" and in sessions tab.
![scr

[2017-05-03 11:09] mariobehling opened #3563 "Cannot sign in with Facebook Oath Error"
Trying to sign up with Facebook not possible.

Getting "OAuth Authorization error. Please try again later."

![screenshot from 2017-05-03 13-06-24](https://cloud.githubusercontent.com/assets/1583873/25658150/b32eda38-3001-11e7-8755-4cb25f38ea92.png)

[2017-05-03 11:48] roschaefer opened #3564 "Social Login: Signup without password"
I thought the whole point of social logins was a login without username or password. When I create an account prior to the procedure in #3565 and I click on "Login with Google" I still have to provide a password. Why?

[2017-05-03 11:55] roschaefer opened #3565 "Register as speaker: 500 Server error"
I did the following twice (with a googlemail address and an ordinary email address):
1) Click on https://eventyay.com/e/5642d9a1/cfs/
2) Create an account
3) Register as speaker
4) Fill in all requested form fields
5) Hit save

The next time when I want to visit https://eventyay.com/e/5642d9a1/cfs/ I get a 500 HTTP error.
![internal server error - 500 - eventyay - chromium_138](https://cloud.githu

[2017-05-03 11:58] roschaefer opened #3566 "Register as speaker: Broken javascript form field validation"
1. When I try to register as speaker as described in #3565
2. and I don't fill in the short biography,
3. and I click 'Save'

Nothing happens.

My javascript console tells me:
[code]

[2017-05-03 13:03] mariobehling commented on #3564
We are still not sure, where we are heading with social logins and trying to figure out the policies, e.g. Facebook sometimes only allows to save data for a certain time. This would be bad, if a speaker registers and then we have to delete parts of the data because FB requires that. Therefore we implemented this in a way just as other service do it, e.g. sign up with a social media account on pint

[2017-05-03 13:03] #3564 closed

[2017-05-03 14:51] SaptakS commented on #3562
I am looking into it...

[2017-05-04 07:38] #3548 closed

[2017-05-05 17:17] LuD1161 commented on #3561
Will implement it tomorrow , similar to [this pull request ](https://github.com/fossasia/open-event-orga-server/pull/3390) of the issue #3246

[2017-05-06 06:41] poush commented on #3492
I'm Working on it.

[2017-05-06 07:19] poush commented on #3565
This happens when I try to register as speaker without proposing any session. Since no session is mapped with my speaker request.

[2017-05-06 10:46] poush commented on #3546
Looks like it is working till certain height. I tried testing it on small height than full screen and it worked well but at full screen issue start showing on.

[2017-05-06 12:33] LuD1161 commented on #3565
@poush
Same issue I am facing right now.

![error-registering-user](https://cloud.githubusercontent.com/assets/17861054/25772340/3cd3c646-3286-11e7-9c66-dfc2a445b8cd.png)
[code]

[2017-05-06 12:43] LuD1161 commented on #3565
@roschaefer @poush
Not only for speaker's but also when registering for the sessions , I get the same error.

![image](https://cloud.githubusercontent.com/assets/17861054/25772397/9990417e-3287-11e7-80c5-0f5554ef8ee3.png)
[code]

[2017-05-06 12:53] poush commented on #3565
Strange, I am able to propose session with no issues. I will re-try to produce this error.

[2017-05-06 15:03] roschaefer commented on #3565
@poush could you please re-open this?

I did the following:
1. visit https://eventyay.com/e/5642d9a1/cfs/
2. Click on "Submit proposal"
3. Log-in with my email and password
4. HTTP 500 error

![internal server error - 500 - eventyay - chromium_140](https://cloud.githubusercontent.com/assets/2110676/25773455/bf52cecc-327d-11e7-875e-06d1c6f24b82.png)

Still can't submit my talk :sob:

[2017-05-06 15:59] shubham-padia commented on #3565
@roschaefer The changes are still on development branch and not merged to master, maybe @SaptakS or @niranjan94 could help.

[2017-05-06 16:00] niranjan94 commented on #3565
@shubham-padia @roschaefer will trigger a production deployment now. You should see the changes in about 40 mins.

[2017-05-06 16:25] poush commented on #3566
@roschaefer I'm not able to reproduce it here. No such message on my chrome and safari consoles. Can you please tell me the browser and OS you are using. Also after the recent bug fix, you will be able to register as a speaker without any errors.

[2017-05-07 07:19] #3554 closed

[2017-05-07 08:46] poush commented on #3523
I'm working on this

[2017-05-07 10:49] roschaefer commented on #3565
Sucess! thanks :smile_cat:

[2017-05-07 10:50] niranjan94 commented on #3565
@roschaefer you're welcome ! 😄
Apologies for the inconvenience ..

[2017-05-07 10:51] roschaefer commented on #3566
[code]

[2017-05-07 11:05] roschaefer commented on #3566
Ok, I couldn't reproduce it myself:

After #3565 is resolved, I'm am now logged in and created a session proposal. When I visited the session proposal for the first time and clicked on "Edit speaker" details, my speaker details were empty (strange, where have they gone?). I enter the form fields, leave out 'short biography' and click on 'Save'. The speaker details were successfully updated.

I thi

[2017-05-07 11:05] #3566 closed

[2017-05-07 14:22] SaptakS commented on #3562
@mariobehling I am unable to reproduce this issue. Works fine for me. Can you please tell me what exactly was done to reproduce this error?

[2017-05-07 14:23] SaptakS commented on #3562
These are the screenshots:

![screenshot from 2017-05-07 19-52-30](https://cloud.githubusercontent.com/assets/9530293/25781973/dd705d66-335e-11e7-812e-d0493f084515.png)
![screenshot from 2017-05-07 19-52-38](https://cloud.githubusercontent.com/assets/9530293/25781974/ddd373d8-335e-11e7-95fc-647fe6b98c9b.png)

[2017-05-07 19:27] poush commented on #3518
I'm working on it.

[2017-05-07 21:33] enigmaeth commented on #3544
I have created an event [here](https://eventyay.com/e/9bad906e/). Please comment your email so that I can add you as co-organiser.

I published the schedule but the schedule page shows a 404 error. I can share the raw schedule in an excel sheet.

[2017-05-07 22:23] mariobehling commented on #3544
@enigmaeth

Please submit an issue. The goal of this issue is that you find bugs.

Did you understand the other goals of this issue

We want some sample events here with lots of data, e.g. tons of speakers to see if things work. It seems like you created a fake event, that does not help in that goal.

[2017-05-08 03:44] mejariamol commented on #3549
@niranjan94 I will work on this.

[2017-05-08 05:06] niranjan94 commented on #3549
@mejariamol sure. Proceed

[2017-05-08 06:43] enigmaeth commented on #3544
@mariobehling

The event I am creating is based on a fest that happened recently. There were many tracks and sessions and speakers, so that event serves the purpose of testing( it is incomplete on eventyay as of now though) .
By real world event do you mean that I should create something like an actual upcoming event?

[2017-05-09 03:13] mejariamol opened #3575 "Make Event and Session API responses timezone aware"
Sub Issue of #3549
I am working on this.

[Milestone 1 (GSoC 2017)](https://github.com/fossasia/open-event-orga-server/milestone/21)

[2017-05-09 05:12] mejariamol commented on #3549
@niranjan94 Without making any changes in the database fields. right?

[2017-05-09 07:13] icedwater opened #3576 "QR code on generated ticket PDF cannot be scanned due to black background"
It is not possible to scan the ticket QR code from the generated ticket PDF as the black background prevents the code from being detected. Compare the scans from the original location and the transposed location in the attachment.

A proposed solution is to shift the position of the generated QR code down so that it does not overlap; in additon, a guideline for designing the ticket template could

[2017-05-09 07:23] #3560 closed

[2017-05-09 07:23] #3562 closed

[2017-05-09 08:36] poush commented on #3549
@mejariamol If I'm right database is already using timestamp data type which by default stores the time zone as well

[2017-05-09 08:38] niranjan94 commented on #3549
@poush not exactly. We store timezone as a separate field in the database.
Any timezone information that is part of the date is discarded and the date
time stored in the db is considered to be timezone-naive

On Tue, May 9, 2017, 2:06 PM Piyush Agrawal <notifications@github.com>
wrote:

[2017-05-09 12:42] Himanshi-Khandelwal commented on #3499
file:///home/himanshi/Pictures/Screenshot%20from%202017-05-09%2015:46:44.png
is this ok?

[2017-05-09 12:42] Himanshi-Khandelwal commented on #3499
file:///home/himanshi/Pictures/Screenshot%20from%202017-05-09%2015:46:44.png
is this ok?

[2017-05-09 12:53] Himanshi-Khandelwal commented on #3499
is that what is required?
http://www.filetolink.com/afd42a52f5

[2017-05-09 15:33] poush commented on #3576
<img width="980" alt="screen shot 2017-05-09 at 9 02 18 pm" src="https://cloud.githubusercontent.com/assets/1812082/25858996/d5db160c-34fa-11e7-8455-76eb37697ce1.png">

@icedwater see this image. I think this will work.

[2017-05-09 15:52] icedwater commented on #3576
@poush indeed. Now I need to find or build the app to scan that code.

[2017-05-10 06:28] poush commented on #3576
@niranjan94 Can you please assign me and add UI tag on this issue.

[2017-05-11 05:44] LuD1161 commented on #3461
@niranjan94
What all do I need to look at which involves solving this ?
where should I start ?

[2017-05-11 05:46] niranjan94 commented on #3461
@LuD1161 please wait on all API related issues until the introductory session this weekend get's over. There's a lot of planning required on this front.

In the mean time, there are over 70 _other_ issues/bugs that can be solved. Please work on one of them for now.

[2017-05-11 05:50] LuD1161 commented on #3461
@niranjan94
Ok :+1:
Thanks

[2017-05-11 06:28] #3576 closed

[2017-05-11 13:31] Nitish18 commented on #3563
Hi,
can I work on this issue if no one is assigned this bug ??

[2017-05-11 13:31] niranjan94 commented on #3563
@Nitish18 sure,

[2017-05-11 14:48] kirstin opened #3578 "Validity period for promotional codes cannot be longer than one day"
When trying to enter a vailidity period for a promotional code and one selects a date on the date picker for either "VALID FROM" or "EXPIRES ON" both dates are changed.

When I first entered a date for EXPIRES ON it was set for both. When I tried to change the VALID FROM both dates were changed to the same date.
Now both dates are adjusted when I change one. It seems to be an offset I cannot influ

[2017-05-12 04:40] LuD1161 commented on #3221
@niranjan94 @mariobehling
SInce no work has been done as of now , I would like to work on this.
Also what exactly do you think it should be displaying , when looking for **'P'** , should it be showing events with the name **P** or should it show events in the **location P** ?

[2017-05-12 10:36] shubham-padia commented on #3495
@niranjan94 @SaptakS please assign this to me.

[2017-05-12 13:35] #3578 closed

[2017-05-12 13:35] #3523 closed

[2017-05-13 04:37] LuD1161 commented on #3556
@mariobehling
Any suggestions as to how this can be done , any real life implementation you can suggest for me to look into ? ( although I am searching , this myself it would be easier if I get a suggestion straightaway cause I am not much into designing myself )

[2017-05-13 04:45] LuD1161 commented on #3556
@mariobehling
Can you suggest something or somewhere I can look at ( cause I'm not very good at designing issues but surely can learn from some examples , maybe even real life implementations can help ).
Thanks

[2017-05-13 04:54] shubham-padia commented on #3556
@LuD1161 as mentioned in the issue, the implementation had to be done similar to open event webapp. Have a look at this sample site https://fossasia.github.io/open-event-webapp/schedule.html for more info.

[2017-05-13 07:54] RamolaWeb opened #3582 "Wrong Password in DATABASE_URL in basic.md lead to authentication error"
Currently the DATABASE_URL in the basic.md file provided for generic installation is having a wrong password which must be set to "test" as provided while creating the user in the postgres sql instead of the "start" provided which lead to authentication error while executing manage.py file.

[2017-05-13 08:10] shubham-padia commented on #3582
@RamolaWeb Do you want to send a PR for this ?

[2017-05-13 08:21] RamolaWeb commented on #3582
@shubham-padia  I will send PR please have a review

[2017-05-13 09:42] #3582 closed

[2017-05-14 09:17] heysadboy opened #3585 "Internal server error on attempt to import the data"
I tried to create an event using the zip file of FOSSASIA 2016 already present in the open-event repo but internal server error occurs.

![screenshot 111](https://cloud.githubusercontent.com/assets/22588035/26032569/2099a264-38b4-11e7-94c6-7e5803ef50e0.png)

[2017-05-14 09:38] heysadboy opened #3586 "Application error on attempt to export Pentabarf XML data"
I tried to export the FOSSASIA 2016 data in pentabarf xml format but this gives application error. Also the link to go to .xml file is not working even when the event is live

![screenshot 120](https://cloud.githubusercontent.com/assets/22588035/26032703/267b38fc-38b7-11e7-9f0f-5cd5e2e06f8b.png)

![screenshot 114](https://cloud.githubusercontent.com/assets/22588035/26032697/0ab77306-38b7-11e7-8b2c

[2017-05-14 09:40] heysadboy opened #3587 "Error on clicking on notification"
After being added in the conference we get a notification. I accepted the notification but the green circle stays there. Also when I click the notification again it gives this error

![screenshot 121](https://cloud.githubusercontent.com/assets/22588035/26036970/06615e66-3907-11e7-9135-ecbe96dc3997.png)

[2017-05-14 09:40] niranjan94 commented on #3586
Looks like it's failing because the event is too big and the connection times out before the the XML is generated ...

A possible fix would be,
To generate the XML in the background via Celery and store the file in the preferred storage (every time any session/event data is edited) and serve the file when required.

[2017-05-14 09:42] heysadboy commented on #3586
@niranjan94 Sure, I could help with this. I need this to add support to Giggity.

[2017-05-14 09:58] #3553 closed

[2017-05-14 11:40] kirstin opened #3588 "Error exporting attendees as csv"
When trying to export the list of attendees as CSV, eventyay reports an internal server error.

The url visited is: https://eventyay.com/events/<event_no>/tickets/attendees/csv

Exporting as PDF Document works.

[2017-05-14 11:55] #3495 closed

[2017-05-14 17:57] SaptakS commented on #3587
@heysadboy firstly, please try to share only the necessary part of the screenshot instead of the entire screenshot since it might show many private information. Secondly, can you please be a little more clear. Is it happening for all notifications? Because the url opened has nothing to do with the green notification. And if it was the role invite link, it was supposed to work only once. So I am no

[2017-05-14 18:02] SaptakS commented on #3552
@mariobehling @niranjan94  works for me as well. No error whatsoever. I checked the code as well. No error. Can you please confirm?

[2017-05-14 18:03] SaptakS commented on #3546
@poush yes. You are right. Are you working on this issue?

[2017-05-14 19:14] heysadboy commented on #3587
@SaptakS Sorry for this, I updated the screenshot.

- After being added in the conference as co organizer for testing I got this notification.
- I clicked the notification and was able to accept.
- I still see the green bubble of new notification when I go back.
- When I open again and click that old notification this error occurs.

[2017-05-14 20:12] SaptakS commented on #3437
@mariobehling since we are de-coupling the orga server anyways and are moving to a more API oriented back-end, how much of a priority or bug is this issue?

[2017-05-14 22:59] mariobehling opened #3589 "Full Screen Schedule not anymore showing on full screen"
The full screen schedule is cut-off and shows a black area on the bottom.

Compare: https://eventyay.com/e/5642d9a1/schedule/

![screenshot from 2017-05-15 00-57-49](https://cloud.githubusercontent.com/assets/1583873/26038490/acefe1d8-3909-11e7-8287-09b6436b2481.png)

[2017-05-15 06:03] niranjan94 commented on #1547
I don't think this would be possible. Especially if there is no SSH access either. We'll re-visit this when needed.

[2017-05-15 06:03] #1547 closed

[2017-05-15 06:05] niranjan94 opened #3590 "Implement support for multiple media files in Sessions API"
Parent issue #3459
To be done after #3645

Currently we support one of each slides, video and audio. We need to be able to add multiple media files.

[2017-05-15 06:06] niranjan94 commented on #2801
API work will continue in #3590
`frontend` tag added. Appropriate issue will be created on frontend repo and linked to this.

[2017-05-15 06:06] #2801 closed

[2017-05-15 06:07] niranjan94 commented on #3220
`frontend` tag added. Will be continued in frontend repo

[2017-05-15 06:07] #3220 closed

[2017-05-15 06:07] niranjan94 commented on #3220
`frontend` tag added. Will be continued in frontend repo

[2017-05-15 06:10] niranjan94 opened #3591 "Implement Speakers API with multiple Profile support"
Parent issue #3459
To be done after #3645

The goal of this feature is, to allow speakers to have different description and bios for different events.

A speaker should be able to save their profile, copy and edit it.

All of the profiles would be linked to a single user. The user would select the appropriate profile when he/she is signing up for an event.

[2017-05-15 06:11] niranjan94 commented on #2802
API work will continue in #3591
`frontend` tag added. This issue will be cloned to the frontend repo.

[2017-05-15 06:11] #2802 closed

[2017-05-15 09:48] mariobehling opened #3592 "Schedule Page: Left menu sidebar disappearing and jumping on scrolling in Chrome"
Left menu sidebar is acting strangely and disappearing at times when the user scrolls.

Compare: https://eventyay.com/e/5642d9a1/schedule/
![screenshot from 2017-05-15 11-46-29](https://cloud.githubusercontent.com/assets/1583873/26051983/534d3ff8-3964-11e7-9f0e-549f50ada68e.png)

[2017-05-15 09:50] SaptakS commented on #3592
Duplicate of https://github.com/fossasia/open-event-orga-server/issues/3546. Closing.

[2017-05-15 09:50] #3592 closed

[2017-05-15 10:07] SaptakS commented on #3221
@mariobehling this error happens because of the response from google maps based on the latitude and longitude of the event. Right now the response received for the latitude and longitude for the specific key we are using for Potsdam is P, so it is showing P. And in search you will see that if it's just a single character, then it matches all events. I am trying to find a workaround.

[2017-05-15 14:48] kirstin opened #3594 "Exporting Event Schedule as PNG not working as expected"
When trying to export the Schedule as PNG, the resulting file is not what I expected it to be.
I expected the whole schedule to be on this one PNG. However, the PNG contains, what is visible in the "schedule window" at the time of pressing the "Export to PNG" button.

Please see attached examples.

![otsschedule_2](https://cloud.githubusercontent.com/assets/564775/26063195/954b02d6-398d-11e7-9dac-

[2017-05-15 15:30] niranjan94 commented on #2935
`frontend` tag added. Issue will be cloned in the frontend repo.

[2017-05-15 15:30] #2935 closed

[2017-05-15 15:39] niranjan94 opened #3595 "Provide customisation option for Attendee Registration API"
Parent issue #3459
To be done after #3645

- ~An attendee registration implementation similar to Speakers registration~ (done in https://github.com/fossasia/open-event-orga-server/pull/3744)
- Should include custom data fields support similar to Speakers registration

More info at #2897 & #3153

[2017-05-15 15:39] #2897 closed

[2017-05-15 15:39] niranjan94 commented on #3153
`frontend` tag added. Issue will be re-created on the frontend repo.

[2017-05-15 15:39] #3153 closed

[2017-05-15 15:41] niranjan94 commented on #2981
Linked to related API Issue.
`frontend` tag added. Issue will be re-created on frontend repo.

[2017-05-15 15:41] #2981 closed

[2017-05-15 15:43] niranjan94 commented on #2996
Linked to related API issue.
`frontend` tag added and issue will be re-created on frontend repo.

[2017-05-15 15:43] #2996 closed

[2017-05-15 15:43] #3087 closed

[2017-05-15 15:44] niranjan94 commented on #3087
Issue `invalid` due to new frontend.

[2017-05-15 15:45] niranjan94 commented on #3210
Will be handled in the `frontend`

[2017-05-15 15:45] #3210 closed

[2017-05-15 15:45] niranjan94 commented on #3138
To be handled in `frontend`. Issue will be re-created on the frontend repo. No progress here anyway.

[2017-05-15 15:45] #3138 closed

[2017-05-15 15:48] niranjan94 commented on #3036
Linked to related API Parent issue.

`frontend` tag added. Issue will be re-created on frontend repo.

[2017-05-15 15:48] #3036 closed

[2017-05-15 15:51] niranjan94 commented on #3062
Linked to related API parent issue.

[2017-05-15 15:51] #3062 closed

[2017-05-15 15:52] niranjan94 commented on #3046
@mariobehling is this necessary asap at this point. ? If not, I can keep this only for the new frontend and close it here.

[2017-05-15 15:59] #3085 closed

[2017-05-15 16:03] niranjan94 commented on #3243
`frontend` tag added.
Will be re-created on the frontend repo.

[2017-05-15 16:03] #3243 closed

[2017-05-15 16:04] niranjan94 commented on #3226
`frontend` tag added.
Will be re-created on the frontend repo.

[2017-05-15 16:04] #3226 closed

[2017-05-15 16:05] niranjan94 commented on #3192
`frontend` tag added.
Issue will be re-created on the frontend repo. Discussion can continue there.

[2017-05-15 16:05] #3192 closed

[2017-05-15 16:06] niranjan94 commented on #3244
`frontend` tag added.
Issue will be re-created on the frontend repo.

[2017-05-15 16:06] #3244 closed

[2017-05-15 16:07] niranjan94 commented on #3263
`frontend` tag added.
Issue will be re-created on the frontend repo.

[2017-05-15 16:07] #3263 closed

[2017-05-15 16:07] niranjan94 commented on #3313
`invalid` due to new frontend

[2017-05-15 16:07] #3313 closed

[2017-05-15 16:08] #3361 closed

[2017-05-15 16:12] niranjan94 commented on #3499
`frontend` tag added.
Issue will be re-created on the frontend repo.

[2017-05-15 16:12] #3499 closed

[2017-05-15 16:24] niranjan94 commented on #3437
Have to agree with @SaptakS on this. Implementing this in the current UI would require some extensive changes in the current UI and backend. Which IMO, is kinda pointless and a waste of time when we're moving to a new frontend that is gonna be much faster (since it will be calling the API in a paginated manner and loading only what is necessary)

[2017-05-15 16:31] niranjan94 commented on #3557
This discussion can continue on the `frontend` repo.
issue will be re-created.

[2017-05-15 16:31] #3557 closed

[2017-05-15 16:31] #3528 closed

[2017-05-15 18:58] SaptakS commented on #3556
@niranjan94 I think this is an issue to be handled in the frontend repo. That is if it comes up there. What do you think?

[2017-05-15 18:59] SaptakS commented on #3555
@niranjan94 I think this is an issue for frontend repo.

[2017-05-15 19:12] niranjan94 commented on #3555
`frontend` tag added.
Issue will be re-created on the frontend repo when appropriate.

[2017-05-15 19:12] #3555 closed

[2017-05-15 19:13] niranjan94 commented on #3556
`frontend` tag added.
Issue will be re-created on the fronted repo when appropriate.

[2017-05-15 19:13] #3556 closed

[2017-05-15 19:30] #3552 closed

[2017-05-16 05:17] niranjan94 commented on #3299
Related to #3586

[2017-05-16 05:20] niranjan94 commented on #3518
@poush any progress on this ? Assigning this to milestone 2

[2017-05-16 05:28] niranjan94 commented on #3367
@LuD1161 what's the progress on this front ?

[2017-05-16 05:29] #3437 closed

[2017-05-16 05:30] niranjan94 commented on #3563
@Nitish18 any progress on this ?

[2017-05-16 05:41] niranjan94 commented on #3459
@shubham-padia @SaptakS @enigmaeth @poush @LuD1161 @magdalenesuo

Please research and this and give in your ideas here.

[2017-05-16 06:01] shubham-padia commented on #3459
[flask-rest-jsonapi](https://github.com/miLibris/flask-rest-jsonapi) seems like the best choice out of the given libraries and has better out of the box support for json-api. Also according to some [testaments](https://twitter.com/bonsaistudio/status/863358681462837248), it perfectly couples with emberjs.

[2017-05-16 06:21] niranjan94 commented on #3459
@shubham-padia that looks like a great library ! 😄

These are the primary things that we require:
- Proper relationship definitions
- Sorting
- Filtering
- Pagination

Looks like Flask-REST-JSONAPI has all of them. Let's keep this mind. We'll see what the rest of them come up.

[2017-05-16 06:34] Nitish18 commented on #3563
hi niranjan,
I think i got the problem. I'll complete it by today and will send you a PR
by today's night.

On Tue, May 16, 2017 at 11:00 AM, Niranjan Rajendran <
notifications@github.com> wrote:

[2017-05-16 10:15] NinaNC opened #3597 "All days should appear on the scheduler"
Hi all,

Our event is seven days long and when I went to the scheduler, it showed only one day.  Now that I submitted a test talk, it works fine. But it would improve the user experience to show all the days before talks have been submitted.

Keep up the good work!

[2017-05-16 12:21] shubham-padia commented on #3543
The link for the test app is http://104.198.101.205:8080/ (working as of may 16 17:50 IST)

[2017-05-16 13:01] mariobehling commented on #3221
Unfortunately this issue is not solved in way that is required. Instead of cities there are now addresses.
![screenshot from 2017-05-16 15-00-28](https://cloud.githubusercontent.com/assets/1583873/26107123/7ea24a7e-3a48-11e7-8cbb-885cd340293e.png)

[2017-05-16 13:03] SaptakS commented on #3221
@mariobehling looking into it right away.

[2017-05-16 13:51] mariobehling commented on #3561
@LuD1161 I am unassigning as there is no update on this. Would be great to get this feature actually.

[2017-05-16 13:53] niranjan94 commented on #3561
@mariobehling actually ... there is progress. But looks like @LuD1161 hasn't linked the PR to this properly. I have linked now.

[2017-05-16 13:54] niranjan94 commented on #3561
@LuD1161 please follow the best practices at http://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/

It is very important that you do.

[2017-05-16 15:09] shubham-padia commented on #3299
From  https://github.com/fossasia/open-event-orga-server/issues/3586#issuecomment-301301344.
I am thinking of implementing [signals](http://flask.pocoo.org/docs/0.12/signals/) to throw a signal everytime an edit occurs related to an event (change in event, speaker, sessions, etc ). If this seems okay I'll setup seperate signals for speaker update, sessions update etc.
@SaptakS @niranjan94 @magdale

[2017-05-16 15:54] enigmaeth commented on #3585
@heysadboy Are you working on this issue?
I am also working so you might help if you want :smile:

[2017-05-16 16:07] magdalenesuo opened #3599 "Accept/Reject email Message not getting sent."
I cannot recreate the error @mariobehling  described, i.e https://github.com/fossasia/open-event-orga-server/issues/3171#issuecomment-282312740 on either my local pc or herokuapp.
However I get a different mail content from the modal on sending session confirmation with email.
Cause of #3171 maybe because the modal message does not get sent.
'Message' have no content in the backend.

![screenshot

[2017-05-16 18:27] enigmaeth commented on #3587
Where should the user be redirected to, once he/she accepts the co-organizer invitation?
( Right now, there is an error page shown, on top of which is a success message. Also the web page's title is Internal Server Error.  ) I think the notifications page should still be there.
@shubham-padia @SaptakS

![image](https://cloud.githubusercontent.com/assets/14938154/26121655/9e8f0878-3a92-11e7-8e6a-b7

[2017-05-16 18:29] niranjan94 commented on #3587
@enigmaeth the issue here is, once an invitation is accepted, the notification should disappear. But it still stays. And when you click on it the second time, you get an internal server error. So, should be done is, the notification should be marked as read once invitation is accepted and the user shouldn't be able to click on the notification again

[2017-05-16 18:30] enigmaeth commented on #3587
Yes, I reproduced that, but the screenshot above is from the first time I clicked on the notif. So we need to change this also apart from marking the notif as read.

[2017-05-16 18:34] niranjan94 commented on #3587
Yes. Notification page should be there.

[2017-05-16 18:37] heysadboy commented on #3587
@niranjan94 @enigmaeth I also noticed this on clicking this again. it shows -1, instead of disappearing
![screenshot 104](https://cloud.githubusercontent.com/assets/22588035/26122327/b532905c-3a94-11e7-8bc9-d5bf1eeafa23.png)

[2017-05-16 20:05] #3221 closed

[2017-05-17 01:06] profemo opened #3601 "Buy 4 - get one - Ticket issue"
If you buy more than Tickets at one Computer the exported pdf will show only the name of the second last registred person.

this brings a lot off confussion

[2017-05-17 04:45] LuD1161 commented on #3561
@mariobehling @niranjan94
Will follow best practices and make sure that it gets merged as soon as possible.
All the technical work has been done , will correct the squashing error today.

[2017-05-17 04:53] LuD1161 commented on #3367
@niranjan94
Actually left it quite a while back , right now looking again into it.

[2017-05-17 05:06] mariobehling opened #3602 "When ordering a ticket it shows "Email resent" in notifications"
"Email resent" in notifications should be "email sent". It also appears several times instead of one time.
![screenshot from 2017-05-17 07-03-56](https://cloud.githubusercontent.com/assets/1583873/26139237/5a481212-3acf-11e7-948c-c79e826b1a65.png)

[2017-05-17 05:24] mariobehling commented on #3601
To verify this bug, please order two kids tickets on OTS and check the pdf Download of the ticket. You will see only one name on the ticket order. https://eventyay.com/e/5642d9a1/

[2017-05-17 06:17] #3589 closed

[2017-05-17 08:09] #3171 closed

[2017-05-17 08:09] #3599 closed

[2017-05-17 08:20] #3601 closed

[2017-05-17 09:20] magdalenesuo opened #3604 "QR code developed same on static pdf"
From discussion [#3603(comment)](https://github.com/fossasia/open-event-orga-server/pull/3603#issuecomment-302020755)
and [#3603(comment)](https://github.com/fossasia/open-event-orga-server/pull/3603#issuecomment-302028980)

[2017-05-17 10:21] kirstin opened #3606 "Export of Documents leads to 404"
When Trying to export the event as Documents (json files) the page reports that my request was completed successfully.
However, when clicking on the download link I get a 404.
In this case, the exact link visited was:
https://eventyay.com/notifications/opev/open_eventhttps://storage.googleapis.com/eventyay.com/exports/69/aVllSlAvdk/event69.zip

[2017-05-17 10:23] kirstin commented on #3606
Only taking the second part of the link works.
The only problem seems to be, that the link is not generated correctly.

[2017-05-17 11:37] #3604 closed

[2017-05-17 12:18] mejariamol commented on #3602
@mariobehling @niranjan94 Yes, I too had noticed that. Notifications didn't get read until click on mark as read button. Hence it appears several times.

Expected: Once the notifications comes in the viewport of the list it should get read itself. What do you think..?  Mark as read option can be given on notifications page to mark notifications read collectively.

This should be implemented in fro

[2017-05-17 13:39] SaptakS commented on #3299
@shubham-padia I am a little confused. Though it will make things a little more structured and maybe can be used even for triggering notifications and emails, but then again it would add yet another dependency and I think I and @niranjan94 were already planning to reduce the dependencies. Because dependencies can later lead to many troubles in case some bug appears in the dependency itself. Like w

[2017-05-17 14:05] shubham-padia commented on #3299
@SaptakS
IMO Problem with dependencies are generally a one-off case e.g with eventlet, while the bigger problem at hand is the constant bugs we are facing, and sure strict testing in future will prevent that, but a more structured code will really help in that. Both the approaches have their ups and downs I think. Let's wait for what @niranjan94 thinks.

[2017-05-17 14:21] niranjan94 commented on #3299
@SaptakS I agree with your argument regarding dependencies. We should cut down on dependency. But I think this is worth it.

@shubham-padia you can go ahead with implementation of signals. This will surely make the code more maintainable and structured.

Next steps would be to make maximum use of it everywhere. Some of the place we can use this are :
- Sending emails after session submission etc
-

[2017-05-17 14:29] SaptakS commented on #3299
@niranjan94 @shubham-padia in this case like you said we should use it in all possible places where sending signals would be a better way of doing it and replace function calls such as trigger_notification calls

[2017-05-17 14:37] shubham-padia opened #3607 "Implement user notifications via signals"
**I'm submitting a ...**
- feature request

**Current behavior:**

Function calls are used to trigger notifications, which makes them hard to maintain.

**Expected behavior:**

Implement  [signals](http://flask.pocoo.org/docs/0.12/signals/)  for better structure.

**Steps to reproduce:**

None

**Related code:**
none

[2017-05-17 14:40] shubham-padia opened #3608 "Implement sending emails after session submission, ticket purchase, etc via signals"
**I'm submitting a ...**  (check one with "x")
- feature request

**Current behavior:**
Sending emails after session submission, ticket purchase, etc is done via a function call.

**Expected behavior:**
Send emails after session submission, ticket purchase, etc with the help of signals

**Steps to reproduce:**

none

**Related code:**
none

**Other information:**

none

[2017-05-17 14:42] SaptakS commented on #3586
@niranjan94 @heysadboy isn't this issue related to (or maybe same) [this](https://github.com/fossasia/open-event-orga-server/issues/3299) ?

[2017-05-17 14:43] SaptakS commented on #3586
Closing as the duplicate of https://github.com/fossasia/open-event-orga-server/issues/3299

[2017-05-17 14:43] #3586 closed

[2017-05-17 14:43] heysadboy commented on #3586
@saptaks Yes.

[2017-05-17 14:53] shubham-padia opened #3609 "Create proper signals for data related changes and handle them accordingly to clear and regenerate caches."
**I'm submitting a feature request**

Create proper signals for data related changes and handle them accordingly to clear and regenerate caches.

[2017-05-17 15:48] enigmaeth opened #3610 "Microservices and Payment Gateways display same settings"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Microservices and Payment Gateways display same settings

**Expected behavior:**
Different setting should be displayed.

**Steps to reproduce:**
A

[2017-05-18 10:30] #3606 closed

[2017-05-18 10:36] SaptakS opened #3613 "Scheduling: Bug when two or more co organizers edit the session together."
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Right now all the organizers and co-organizers are able to edit the scheduling and it is causing error when more than one co-organizers are editin

[2017-05-18 10:41] poush commented on #3518
@niranjan94 Just one concern, as mentioned by @SaptakS in its PR, Is it a good idea to work on it when we are going to create new API format from scratch?

[2017-05-18 10:54] niranjan94 commented on #3518
Yep. @poush . We'll do that.

[2017-05-18 11:08] enigmaeth commented on #3587
@niranjan94

Please go through these two ways for marking notifications as read.

- The user clicks on a notification in the notif-drop-down and it is marked as read( count decreases by 1 upto 0). Clicking on the notif takes the user to the `/notifications` page where the invitation does not show up under *Unread* - that is an issue. So the user will find it under *All*.

- The user clicks on a no

[2017-05-18 12:38] mariobehling opened #3615 "Print out version no longer showing complete schedule"
The print out version was implemented with this issues https://github.com/fossasia/open-event-orga-server/issues/3335. After other changes it is now no longer available in full width.
![timeline 29](https://cloud.githubusercontent.com/assets/1583873/26202426/b2673dc0-3bd7-11e7-9251-e9f9f595b8d3.png)

[2017-05-18 12:42] mariobehling commented on #3335
Still pending full implementation.

[2017-05-18 12:46] niranjan94 commented on #3335
@mariobehling then it can be taken forward in issue #3615

No need to have two open issues for the same bug.

[2017-05-18 12:55] mariobehling commented on #3335
Ok, sorry. Let me be more clear. As css was mentioned in this issue, let's follow up on the pdf version that requires a specific css in this issue. Made the title clearer for this.

[2017-05-18 13:07] #3613 closed

[2017-05-18 13:14] #3561 closed

[2017-05-19 10:52] mariobehling opened #3616 "Multi-ticket order PDF tickets should not be available for all single ticket holders"
The issue arises with the following use case: If a user orders several tickets at once he/she can download a pdf with all tickets at once. This is what is expected. Each person also receives a ticket link for multi-ticket orders. These ticket-holders currently are able to download the complete list of tickets.

Expected is:
1. The person who orders all tickets should be able to download a PDF with

[2017-05-19 10:56] #3069 closed

[2017-05-19 11:46] mahikaw opened #3618 "Open event Orga server generic installation on Mac OSX"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Current behavior:**
Currently, there is no documentation for OSX.

**Expected behavior:**
It'll be nice to have OSX documentation as well.

[2017-05-19 12:20] poush commented on #3563
@Nitish18 If you haven't started or fixed it yet. You can leave it. Actually, this issue is solved in the process of solving  #2803.

[2017-05-19 12:25] poush commented on #2803
@mariobehling @niranjan94 Are we looking to store the tokens as well to perform any actions like giving option user/organizer to post on their page automatically?

[2017-05-19 12:58] LuD1161 commented on #3123
@niranjan94 @mariobehling
Does it suffice ?
Or something else should also be added to the info .

![ticket](https://cloud.githubusercontent.com/assets/17861054/26248625/b8f13b02-3cc0-11e7-9383-003d4a39c32a.png)

[2017-05-19 15:18] #3587 closed

[2017-05-19 21:22] mariobehling opened #3620 "Export of CSV of speakers and sessions shows error"
The export of the CSV on the speakers and session dashboard tab results in an error message.
![screenshot from 2017-05-19 23-21-24](https://cloud.githubusercontent.com/assets/1583873/26267377/0eb76ae2-3cea-11e7-9e92-0feabcd18dbc.png)

[2017-05-20 04:18] #3610 closed

[2017-05-20 07:01] mariobehling opened #3621 "Add session and speaker status to API"
Currently there is not session and speaker status defined in the API. The result is that speakers get added in the autogenerated apps, which are not accepted.

Please implement the status in the API:
* draft
* pending
* accepted
* rejected
* confirmed

[2017-05-20 08:25] LuD1161 commented on #3620
@mariobehling
I tried this here : [Trial Event](https://eventyay.com/events/185/sessions/)

### Output

#### CSV file
![CSV file](https://cloud.githubusercontent.com/assets/17861054/26274270/a35ea36c-3d63-11e7-80a7-51a6e74f1213.png)

#### Sessions page
![image](https://cloud.githubusercontent.com/assets/17861054/26274271/acc5340c-3d63-11e7-87bd-3d756c658ba0.png)

I may have missed this , can you p

[2017-05-20 08:29] niranjan94 commented on #3620
@LuD1161 the issue mainly occurs when there are a large number of sessions and speakers.

Please test your implementation with the fossasia 2016 sample.

[2017-05-20 08:39] LuD1161 opened #3623 "Schedule Not Found"
**I'm submitting a ...**
- [x] bug report

**Current behavior:**
I am getting an error not found when I try to access the schedule of an event :

![image](https://cloud.githubusercontent.com/assets/17861054/26274292/943e89c8-3d64-11e7-88eb-49b094e91ebf.png)

**Expected behavior:**
The schedule should be displayed .

**Steps to reproduce:**
* Create an event
* Add sessions to it and assign speakers

[2017-05-20 09:00] LuD1161 commented on #3367
@mariobehling @niranjan94
I am unable to reproduce this issue due to **Schedule Not Found** , have raised an issue [Issue#3623](https://github.com/fossasia/open-event-orga-server/issues/3623).

![The error](https://cloud.githubusercontent.com/assets/17861054/26274292/943e89c8-3d64-11e7-88eb-49b094e91ebf.png)

[2017-05-20 10:12] shubham-padia commented on #3623
@LuD1161 Please crop your screenshots in future to avoid unnecessary details.

[2017-05-20 16:01] #3123 closed

[2017-05-20 16:04] niranjan94 opened #3627 "Remove UI related test cases on nextgen branch"
Remove UI related test cases on `nextgen` branch to speed up the travis build process.

Lets keep the API tests for now. Some of them could be re-used.

[2017-05-20 18:24] poush commented on #2803
@mariobehling Are we expecting experience similar to this below
![screenflow](https://cloud.githubusercontent.com/assets/1812082/26278407/9d387716-3db7-11e7-8b39-46e026dd0926.gif)

[2017-05-20 18:26] niranjan94 commented on #2803
@poush

[2017-05-20 19:02] mejariamol commented on #3623
@LuD1161 check the status of the sessions. `accepted` sessions are only shown in schedule.

@niranjan94 why only accepted sessions are shown in the schedule. what if session is confirmed? please check this code. https://github.com/fossasia/open-event-orga-server/blob/development/app/views/public/event_detail.py#L58

when all the sessions are confirmed, `get_count(DataGetter.get_sessions(event.id))

[2017-05-20 19:31] #3616 closed

[2017-05-21 04:14] LuD1161 commented on #3623
I think we should change show sessions which are in either of the two states confirmed ,accepted.
That should suffice .

@niranjan94 @mejariamol

 what do you suggest ?

[2017-05-21 04:15] niranjan94 commented on #3623
@LuD1161 agreed. Both states should be displayed

[2017-05-21 16:09] shubham-padia opened #3630 "Migration: multiple heads"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

Migrations: There are two heads currently
652f5bf2e030 (head)
a1c17effff1d (head)

**Expected behavior:**

Keep only one he

[2017-05-21 17:00] niranjan94 commented on #3543
@shreyasnbhat @rohanagarwal94 @Shailesh351 @arpitdec5 @mahikaw @geekyd @harshitagupta30 @anu-007 @sumedh123 @CosmicCoder96 @utkarshnath @Ronak-59 @mejariamol @iamareebjamal @LuD1161 @magdalenesuo @poush @enigmaeth @shubham-padia @Princu7 @SaptakS

The kubernetes configuration has been refactored and updated (the updated config and guide can be found in the `nextgen` branch).
- Config -> https://gi

[2017-05-21 19:10] #3630 closed

[2017-05-21 20:28] SaptakS commented on #3621
@mariobehling @niranjan94 working on it.

[2017-05-21 20:34] SaptakS commented on #3588
@mariobehling @niranjan94 this doesn't seem to be any code related problem, but something related to the deployment or storage.

[2017-05-21 20:36] SaptakS commented on #3588
@mariobehling @niranjan94 this is an error given only when the number of attendees is large. I think there is some timeout error.

[2017-05-21 20:39] SaptakS commented on #3588
I think we can use signals here as well and put a celery task to prevent timeout. @niranjan94 @shubham-padia opinion?

[2017-05-21 20:40] magdalenesuo opened #3635 "Buyer do not get notification on purchasing a ticket, only organizer and co-organizer do."
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

Buyer do not get notification even after buying a ticket/tickets.

**Expected behavior:**

Buyer should also get notificati

[2017-05-21 21:03] #3602 closed

[2017-05-21 21:08] #3492 closed

[2017-05-21 21:15] #3299 closed

[2017-05-21 21:43] shubham-padia commented on #3588
@SaptakS Sounds good.

[2017-05-22 04:05] mejariamol commented on #3585
@enigmaeth what is the progress on this? please let me know as you are done with this so I can follow up with #3580

[2017-05-22 06:47] poush commented on #3492
@mariobehling @niranjan94 @SaptakS Can you assign me to this issue ( Since it is required as mentioned in Guidelines )

[2017-05-22 06:50] poush commented on #3563
@niranjan94 Please assign me this as well.

[2017-05-22 07:32] shubham-padia opened #3638 "Speed up unit tests: remove unittests/test_db_performance.py and relevant docs."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

The tests in [unittests/test_db_performance.py](https://github.com/fossasia/open-event-orga-server/blob/development/tests/u

[2017-05-22 07:36] shubham-padia commented on #3480
Closed via #3628.

[2017-05-22 07:36] #3480 closed

[2017-05-22 07:47] #3635 closed

[2017-05-22 08:31] #3638 closed

[2017-05-22 09:19] shubham-padia commented on #3627
closed via #3636

[2017-05-22 09:19] #3627 closed

[2017-05-22 09:26] shubham-padia opened #3640 "Setup flask-rest-jsonapi on the nextgen branch."
Please open sub-issues to this parent issue to implement flask-rest-jsonapi on the nextgen branch.

[2017-05-22 09:30] niranjan94 commented on #3640
These are the very basic requirements to get started on this.

- JSON-API Specification to be followed
- Re-use existing JWT Authentication
- API will be located at `/v1` (eg. `https://api.eventyay.com/v1`)
- All dates (in responses, payload, filtering) should follow ISO 8601 with timezone information (Eg. `2017-05-22T09:12:44+00:00`)

[2017-05-22 09:35] niranjan94 opened #3641 "API documentation implementation for the nextgen API"
Parent issue #3640

Currently we use swagger for documenting our API (Can be seen at https://eventyay.com/api/v1/). The important question now are:
- Can swagger be used when we move to `flask-rest-jsonapi` ?
- Is there an alternative to swagger that would work better for our new API architecture ?

Please add in your thoughts here.

[2017-05-22 10:07] niranjan94 commented on #3585
@mejariamol I don't see any relation to this and your PR #3580. All others PRs are passing travis properly. You please check you PR again. This is **not** a blocker for your PR.

[2017-05-22 10:07] niranjan94 commented on #3585
@enigmaeth any progress on this ? This was assigned to Milestone 2. But I see no progress on this front.

[2017-05-22 10:08] #3518 closed

[2017-05-22 10:08] niranjan94 commented on #3623
@LuD1161 what's the progress on that ? This seemingly simple issue has been open for the past two days. Ideally we want to close all issues in a day.

[2017-05-22 10:10] niranjan94 commented on #3620
@LuD1161 what's the progress on this ?

[2017-05-22 10:12] niranjan94 commented on #3440
Translations will move to frontend

[2017-05-22 10:12] #3440 closed

[2017-05-22 10:21] #3546 closed

[2017-05-22 10:22] #3122 closed

[2017-05-22 10:23] niranjan94 commented on #3175
Image sizes categorizing is a FE task. Moving there.

[2017-05-22 10:23] #3175 closed

[2017-05-22 12:32] #3621 closed

[2017-05-22 13:40] niranjan94 commented on #3524
One long-term solution would be to use something like [Prometheus](https://prometheus.io/). Which could be running on an isolated pod monitoring every other pod/service in the cluster.

The advantages of Prometheus include but not limited to:
- Supports Kubernetes ( ❤️ )
- Open Sourced ! (Yayy 🎉 )
- Has loads of ways to alert people (including good old email)
- Many big players including DigitalOc

[2017-05-22 13:54] LuD1161 commented on #3623
@niranjan94
Done.

[2017-05-22 13:56] niranjan94 commented on #3623
@LuD1161 where is the PR ? No issue is done without a linked PR.

[2017-05-22 14:32] LuD1161 commented on #3620
@niranjan94
Can't proceed with this **as there is an error in import** which is mentioned in [issue#3585](https://github.com/fossasia/open-event-orga-server/issues/3585) **( Internal server error on attempt to import the data )**.
So , I can't work on large data datasets like fossasia 2016 sample , however it's working fine on smaller events.

[2017-05-22 14:33] niranjan94 commented on #3620
@LuD1161 that is not a valid reason. There are always other ways to create additional data. You can even write a simple script that can use the local api to create 1000s of records.

[2017-05-22 14:33] niranjan94 commented on #3620
#3585 is **not** a blocker to this issue.

[2017-05-22 14:44] LuD1161 commented on #3620
@niranjan94
Didn't thought of it.
I will do it rightaway.

[2017-05-23 00:11] shubham-padia opened #3644 "Merge user and user_detail table and maintain data integrity"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

Currently the user and user_detail have on 1-1 relationship with user_id acting as the primary key in both tables.

**Expec

[2017-05-23 00:15] shubham-padia opened #3645 "Setup flask-rest-jsonapi and implement a login endpoint"
parent issue: #3640 .
To be done after: #3646  .

implement a login endpoint

[2017-05-23 00:20] shubham-padia opened #3646 "Move the existing api code to a different folder."
Parent issue: #3640.
To be done after: #3644.

Move the existing api code to a different folder called `old_api` and refactor code directly dependent on the api code ( not the api endpoints ).
Also disable api related tests

[2017-05-23 06:19] LuD1161 opened #3647 "Button hidden for adding new links and social media in the event creation page"
**I'm submitting a ...**
- [x] bug report

**Current behavior:**

The buttons **+** and **-** are with **opacity -1** and  **0** respectively.
![image](https://cloud.githubusercontent.com/assets/17861054/26340593/ea0d0790-3fac-11e7-9cb8-c207c15ab5be.png)

**Expected behavior:**

It should be displayed like this.
![image](https://cloud.githubusercontent.com/assets/17861054/26340617/09da4466-3fad-11

[2017-05-23 08:26] enigmaeth commented on #3585
I used some checkpoints and the error is with the celery task execution.
The task was created without any issue.
As for milestone 2, I solved two issues and got this assigned as no one
else was assigned. I think this issue can be fixed by tomorrow.

On Monday, May 22, 2017, Niranjan Rajendran <notifications@github.com>
wrote:

[2017-05-23 13:12] #3646 closed

[2017-05-23 13:12] #3623 closed

[2017-05-23 14:54] shubham-padia commented on #3644
`user` is a reserved is postgresql, also rename it to users.

[2017-05-23 14:54] niranjan94 commented on #3644
@shubham-padia wasn't user->users rename part of the db refactor ?

[2017-05-23 17:33] shubham-padia commented on #3644
@niranjan94 Must have been missed during the changes, it was hard to keep track of every single change.

[2017-05-24 06:16] hongquan opened #3651 "Read environment variables from file"
I found that our project uses some environment variables to maintain different configuration for different deployment. But for local development, developers have to run many `export` commands. It is not convenient (we human are lazy).

My suggestion is to write down those variables in _.env_, let it ignored by Git, and use [envparse](https://github.com/rconradharris/envparse) to parse the file.

[2017-05-24 06:19] niranjan94 commented on #3651
@hongquan agreed. This will make new developers on-boarding a bit easier. Thanks for the suggestion :)

[2017-05-24 08:31] mariobehling commented on #3620
@LuD1161 What is the progress? OpenTechSummit is tomorrow.

[2017-05-24 10:36] shubham-padia opened #3652 "Generate migrations for renaming foreign key constraints."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

During the migrations for the db naming convention refactor, following rename of constraints were not detected by alembic, generate migrations for

[2017-05-24 11:49] SaptakS opened #3653 "Export order csv and attendee csv through celery"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request

**Current behavior:**
Right now it makes an http response and returns it to be downloaded. However this results in timeout and doesn't work for large data. As we can see in #3588

[2017-05-24 12:33] shubham-padia opened #3655 "Propose and implement testing for database migrations upgrade and downgrade"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

Currently migrations are not being tested

**Expected behavior:**

implement testing for database migrations upgrade and do

[2017-05-24 13:01] mariobehling opened #3656 "Adding Registrars and Moderators leads to Error Pages like Access Denied"
1. Adding Registrars is not possible. User cannot accept the link and received error page.
Expected: Registrar can view tickets and add ticket holders via web checkin.

2. Moderator: Can accept the link, but immediately receive "Access Denied".
![screenshot from 2017-05-24 14-58-24](https://cloud.githubusercontent.com/assets/1583873/26404297/ac1896ee-4091-11e7-9dd0-2892c3236c0c.png)

Expected: Mod

[2017-05-24 13:34] LuD1161 commented on #3620
@mariobehling
Currently working on **PNG Export from Full Screen Schedule not showing whole schedule**( [issue#3367](https://github.com/fossasia/open-event-orga-server/issues/3367) )

Found the root cause of the problem , still trying to find a way to fix it.
Soon will catch up with this.

[2017-05-24 13:36] LuD1161 commented on #3594
@kirstin
It is the same bug as in of [**PNG Export from Full Screen Schedule not showing whole schedule issues#3367**](https://github.com/fossasia/open-event-orga-server/issues/3367).

Working on this issue.
It gives partial png when schedule is full screen .
However when it's not enlarged to cover the full screen it's working fine.

[2017-05-24 17:35] CosmicCoder96 commented on #3543
The link for my  test app (as updated on the wiki) is htt[s://orga.gq
Feedback:
The only very minor glitch I faced while following the guide was:
It was required to use `gcloud auth login` to authorise. Else it resulted in an
`insufficient permission` error.
Platform : Mac OS Sierra

[2017-05-24 17:54] #3615 closed

[2017-05-24 18:28] shubham-padia opened #3662 "Refactor templates and views for user and user_detail merge"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

**Expected behavior:**

Refactor templates and views for user and user_detail merge

**Steps to reproduce:**

view running

[2017-05-24 18:50] shubham-padia commented on #3662
closed via #3663 .

[2017-05-24 18:50] #3662 closed

[2017-05-24 18:51] shubham-padia commented on #3652
fixed via #3654

[2017-05-24 18:51] #3652 closed

[2017-05-24 18:51] shubham-padia commented on #3644
closed via #3650

[2017-05-24 18:51] #3644 closed

[2017-05-24 19:07] niranjan94 opened #3664 "Internal Server Error on Event Dashboard"
- [x] bug report

**Current behavior:**
![screenshot-from-2017-05-24-20-55-39](https://cloud.githubusercontent.com/assets/2404372/26421061/463c39b0-40e2-11e7-8c6e-f57880cf1ad4.png)

**Expected behavior:**
Dashboard should open without any errors

**Steps to reproduce:**
Open the dashboard for any event with tickets & completed orders

[2017-05-24 19:34] #3664 closed

[2017-05-25 02:29] hongquan commented on #3651
In the #3661, you didn't take advantage of _envparse_ feature. This is for example your config code:

[code]

But it should be:

[code]

Be aware that you have some inconsistent data type:

[code]
with `env.str`, you are expecting a string, but you default value is `NoneType`, instead of string.

One more thing, value of environment variable is originally string, you don't need to _cast_ its type

[2017-05-25 02:53] magdalenesuo commented on #3651
@hongquan Oh I see. I didn't know about that, thank you. I'll change it.

[2017-05-25 05:27] magdalenesuo commented on #3594
Closing. Fixed in #3660

[2017-05-25 05:27] #3594 closed

[2017-05-25 05:49] magdalenesuo commented on #3111
I think this PR #3634 would have already fixed this issue.
Closing it.

[2017-05-25 05:49] #3111 closed

[2017-05-25 08:52] #3367 closed

[2017-05-25 11:03] hongquan commented on #3524
We should have a bug collecting system, like [Sentry](https://github.com/getsentry/sentry). It will collect debug information at the time the error occurred, for us to have idea what is wrong.

Example from one of the projects I took part in:

![selection_157](https://cloud.githubusercontent.com/assets/314607/26447801/75a3efe4-4174-11e7-9996-a88d9d94d1f0.png)

[2017-05-25 11:10] niranjan94 commented on #3524
Nice one @hongquan . We could maybe use the self-hosted version of sentry (Using [Sentry On-Premise](https://github.com/getsentry/onpremise) _which I assume is free ?_) and use it for all our apps.

[2017-05-25 11:12] hongquan commented on #3524
Yes. We seems to already have enough infrastructure from Google Cloud, let's take advantage of it.

[2017-05-25 14:47] poush commented on #3656
I would like to work on this.

[2017-05-25 14:51] #3120 closed

[2017-05-25 15:32] #3651 closed

[2017-05-25 16:49] shubham-padia commented on #3459
@niranjan94 I'm having second thoughts about the library. I missed out `Flask-restless` as it wasn't listed in the implementations link, but it also supports jsonapi spec. Flask-restless has a detailed documentation and has been widely used. Can you have a look at it and provide some feedback from it.
https://github.com/jfinkels/flask-restless
https://flask-restless.readthedocs.org/

[2017-05-25 16:53] niranjan94 commented on #3459
How well does it support relationship definitions as per json api
specifications?

On Thu, May 25, 2017, 10:19 PM Shubham Padia <notifications@github.com>
wrote:

[2017-05-25 16:56] niranjan94 commented on #3459
I don't seem to be able to find anything about relationships in the docs. Also, is there sorting support out of the box?

[2017-05-25 17:00] shubham-padia commented on #3459
Yes. Seems so, lets leave it then.

[2017-05-25 17:10] niranjan94 commented on #3459
@shubham-padia cool. The please proceed with Flask-REST-JSONAPI

[2017-05-25 19:12] SaptakS opened #3668 "Handle race condition in all export files"
**Current behavior:**
As pointed out by @hongquan [here](https://github.com/fossasia/open-event-orga-server/pull/3649#issuecomment-304088669) we can have race conditions in the different exports that we have right now since the exports are done using the same file in the same folder for a particular event.

**Suggestion:**
To avoid this we can follow like @hongquan has suggested here:

We then hav

[2017-05-25 20:12] #3588 closed

[2017-05-25 20:12] #3653 closed

[2017-05-26 06:46] shubham-padia opened #3670 "Implement api endpoints for `users` model"
Parent issue #3459
To be done after #3645

[2017-05-26 06:55] shubham-padia commented on #3645
closed via #3669

[2017-05-26 06:55] #3645 closed

[2017-05-26 06:56] #3640 closed

[2017-05-26 07:04] niranjan94 commented on #3670
Required endpoints for now:
- `GET /v1/users` - Get users - should support filtering, sorting and pagination
- `POST /v1/users` - Create user
- `GET /v1/users/<user_id>` - Get a single user
- `PATCH /v1/users/<user_id>` - Update a single user
- `DELETE /v1/users/<user_id>` - Delete a single user

[2017-05-26 09:30] enigmaeth opened #3672 "Exception object does not have code attribute in api/helpers/import_helpers.py"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
`'InvalidRequestError' object has no attribute 'code'` error when trying to import event from zip file

![image](https://clo

[2017-05-26 10:04] poush commented on #3656
It seems the issue is related with permission to access the events home page. I have added a fix for registrar so that they will be able to see (redirect to) attendee section. I would like to know about the moderator permission, are they allowed to view the event home page?

[2017-05-26 15:28] rohanagarwal94 commented on #3543
https://orga.ml/

[2017-05-26 15:40] niranjan94 commented on #3543
@rohanagarwal94 please add it to https://github.com/fossasia/open-event-orga-server/wiki

[2017-05-26 16:13] poush commented on #3656
@SaptakS @niranjan94 Can you please assign this to me.

[2017-05-27 07:50] SaptakS commented on #3620
@niranjan94 this seems similar to the attendee export issue. I would like to take this up.

[2017-05-27 07:51] niranjan94 commented on #3620
@SaptakS please proceed

[2017-05-27 08:19] #3656 closed

[2017-05-27 11:08] niranjan94 commented on #2722
Finally resolved by 8922ce1b5336213a65436500738660f04c59c34e :)

[2017-05-27 11:08] #2722 closed

[2017-05-27 12:08] #2447 closed

[2017-05-27 13:59] mariobehling opened #3676 "Switching on "Use Ticketing System" not working"
When creating an event the "Switch on Ticketing System" does not display the ticketing option in Chromium.
![screenshot from 2017-05-27 15-58-36](https://cloud.githubusercontent.com/assets/1583873/26521943/85998c92-42f5-11e7-90c3-59bd9010eb01.png)

[2017-05-27 15:22] #2803 closed

[2017-05-27 15:22] #3563 closed

[2017-05-28 13:58] #3672 closed

[2017-05-28 14:05] #3585 closed

[2017-05-28 14:35] #3647 closed

[2017-05-28 16:40] shubham-padia commented on #3670
closed via #3679 .

[2017-05-28 16:40] #3670 closed

[2017-05-28 17:07] niranjan94 opened #3682 "Make Users API follow proper json spec"
- attribute names must be hyphen separated. should be `is-verified` instead of `is_verified`
- ~default sort should be ascending. (`?sort=name`). Currently it seems to be descending ([spec](http://jsonapi.org/format/#fetching-sorting))~
- Hybrid properties throw error in sorting.

The rest seem to work nice. Haven't tested relationships yet since we don't have any

[2017-05-28 17:22] shubham-padia commented on #3682
@niranjan94 Can you please recheck `default sort should be ascending. (?sort=name). Currently it seems to be descending` once, seems to be ascending for me.

[2017-05-28 17:29] niranjan94 commented on #3682
For `https://api.eventyay.com/v1/users?sort=firstname` this is the response I get. Which is descending right ? But it should be ascending.

[code]

[2017-05-28 17:31] niranjan94 commented on #3682
Okay. Ignore my comment. It is in ascending. Me blind 😋

[2017-05-28 17:48] shubham-padia commented on #3682
There's also another bug, Hybrid properties throw error in sorting, looking into it.

[2017-05-29 05:27] LuD1161 commented on #3461
@niranjan94
Should I proceed with this ?

[2017-05-29 07:50] shubham-padia commented on #3682
`attribute names must be hyphen separated. should be is-verified instead of is_verified`, how much of a blocker is this ? `flask-rest-jsonapi` doesn't play well with hyphens.

[2017-05-29 07:58] niranjan94 commented on #3682
Hmm... Okay. This can be compensated for in client side. But just
curious... What issue does the lib have with hyphen separated attribute
names?

On Mon, May 29, 2017, 1:20 PM Shubham Padia <notifications@github.com>
wrote:

[2017-05-29 08:12] shubham-padia commented on #3682
@niranjan94 As variables can't have hyphens, marshmallow provides http://marshmallow.readthedocs.io/en/latest/api_reference.html#module-marshmallow.fields, load_from and dump_to, but weirdly flask-rest-jsonapi doesn't respect them at some places. If I give a query with `?sort=created-at` it interprets the sorting param as createdat and throws an error.

[2017-05-29 08:14] niranjan94 commented on #3682
Hmm... Okay... Weird. Cool. This shouldn't be a big blocker. Can be
corrected in the client side pretty easily. Will confirm though.

On Mon, May 29, 2017, 1:42 PM Shubham Padia <notifications@github.com>
wrote:

[2017-05-29 11:53] shubham-padia commented on #3682
Closed via #3683

[2017-05-29 11:53] #3682 closed

[2017-05-29 13:56] shubham-padia commented on #3641
[Api-Blueprint](https://apiblueprint.org/) is worth a consideration, the thing that powers apiary. here is an example jsonapi using Api-Blueprint. Here's an example api doc : http://docs.accountjsonapi.apiary.io/#introduction/query-parameter. But all of the documentation has to be written manually.
If anybody can find a way or library that automtaes the documentaion process, it'd be really great.

[2017-05-29 14:17] shubham-padia opened #3684 "Implement Proper permissions for the users api"
- GET /users (Restricted to super-admin / (admin with relevant access) )
- POST /users (Public)
- All methods /users/<id> (Restricted to super-admin / (admin with relevant access) )

Some more endpoints need to be defined for the users api. Another issue is being opened for them

[2017-05-29 14:20] shubham-padia opened #3685 "Propose and implement methods to verify user email"
~~- GET/PATCH/DELETE `/users/me`~~
- Endpoint to verify email (please don't follow the current implementation, first propose a standard implementation being used widely)

[2017-05-29 14:24] shubham-padia opened #3686 "[Discussion Thread] Best way to handle soft-deletes and hard-deletes in the api"
@niranjan94 @SaptakS @magdalenesuo @enigmaeth @poush @LuD1161
Please present your views here.

[2017-05-29 15:21] niranjan94 commented on #3685
@shubham-padia the `/users/me` endpoint is not required. The logged in user id is already part of the JWT token payload. Requests can be made using that that to `/users/<user_id>` itself.

[2017-05-29 15:39] shubham-padia commented on #3685
@niranjan94 +1.

[2017-05-30 05:00] poush commented on #3686
The simplest way can be adding a column "deleted_at" ( as in Laravel ) and non-null values of this table will be the records that are soft deleted.
For the API part ```DELETE``` request can be used to soft-delete the record and returning ```204``` in response but then if are giving the option to admins or the organizers to permanently delete record then we can do something like
- ```PUT ``` reques

[2017-05-30 05:05] niranjan94 commented on #3686
No. Delete (soft or permanent) should be handled by the DELETE request
type.

What I propose is,
By default DELETE can do a soft delete
But delete with a query parameter like permanent=true will do a permanent
delete.

The database already uses a deleted_at field similar to laravel eloquent's
soft delete implement.

On Tue, May 30, 2017, 10:30 AM Piyush Agrawal <notifications@github.com>
wrote:

[2017-05-30 05:09] SaptakS commented on #3686
I think @niranjan94's idea makes more sense to me since in the API, the DELETE endpoint should be used for deleting instead of PUT. Since, in general we do soft-delete, we can make it the default case, and passing a parameter to make it permanent delete sounds good.

Performance issues like?

[2017-05-30 05:15] niranjan94 commented on #3686
And for the GET endpoints... By default soft deleted records will not be
retrieved. But when passes a query parameter like with_trashed=true, soft
deleted should also be included.

And for direct ID retrievals
If for example, in case of an event.. Let's say event 1 is soft deleted.
/events/1 - 404 error
/events/1?with_trashed=true - get that event record

On Tue, May 30, 2017, 10:39 AM Saptak Seng