[2020-01-05 06:49] kushthedude commented on #6716
@iamareebjamal When will the server release be made ?

[2020-01-05 11:03] iamareebjamal commented on #6716
How was it solved when the patch fixed was not released in production?

[2020-01-05 11:03] #6320 closed

[2020-01-05 11:08] kushthedude commented on #6716
The following screenshot was of my local, and it was solved after the PR
was merged. However the issue of production may be different then it.

On Sun, 5 Jan, 2020, 16:33 Areeb Jamal, <notifications@github.com> wrote:

[2020-01-05 11:15] iamareebjamal commented on #6716
Is there even as issue in producion?

[2020-01-05 11:21] kushthedude commented on #6716
https://github.com/fossasia/open-event-frontend/issues/3712#issuecomment-570410932

[2020-01-05 11:22] kushthedude commented on #6716
I cross verified on my local and this was the issue I was facing. I did not check on eventyay.

[2020-01-05 12:05] diru1100 commented on #6722
can I take up this issue?

[2020-01-05 12:42] iamareebjamal commented on #6716
Then that issue is unrelated to this

[2020-01-05 12:42] iamareebjamal commented on #6722
Yes

[2020-01-05 13:39] codedsun commented on #6724
@iamareebjamal - The db values are different from what you mentioned here

https://github.com/fossasia/open-event-server/blob/e758cfc1dc812bd0d867beed0a65f24886634158/populate_db.py#L98-L103

[2020-01-05 14:10] iamareebjamal commented on #6724
The admin panel shows different values. It means it is not tied to the admin settings - https://eventyay.com/admin/settings/images

And similarly, these are not stored in DB as well. There are only 2 types in DB. event and profile. And admin settings shows profile one as `Profile/Speaker images`

[2020-01-05 14:11] iamareebjamal commented on #6724
https://api.eventyay.com/v1/speaker-image-sizes

Shows 150

[2020-01-05 14:23] codedsun commented on #6724
@iamareebjamal  - Okay, will check for the case of 150. Thanks

[2020-01-05 18:27] codedsun opened #6725 "Resize image task not working"
**Describe the bug**
Requests throwing invalid image for evry different image I upload

Error

[code]

**Expected behavior**
This should not happen

[2020-01-05 18:31] iamareebjamal commented on #6725
See the URL it is trying to fetch and its response. This is a local issue

[2020-01-05 18:52] #6725 closed

[2020-01-05 19:18] codedsun commented on #6724
@iamareebjamal - the flow is working fine. I try to upload 2 images for speakers
1. with dimension
724 × 1024

the dimension of thumbnail image is - 150*212
![image](https://user-images.githubusercontent.com/20026440/71784835-15232b80-301e-11ea-81ba-ad93c2571ba3.png)

2. with dimension
900*750

the thumbnail image dimension - 150*125

![image](https://user-images.githubusercontent.com/20026440/717

[2020-01-05 19:20] codedsun commented on #6724
For this

I shall then set the thumbnail_url to originial_image_url u meant?

[2020-01-05 20:16] iamareebjamal commented on #6724
Not working in production. I resized them using the manage.py method you created. Thumbnail images are of 150px

[2020-01-05 20:18] codedsun commented on #6724
@iamareebjamal - Let me check out this on master branch then.

[2020-01-05 20:19] iamareebjamal commented on #6724
Try the manage.py command

[2020-01-05 20:19] codedsun commented on #6724
The method is not working you meant? Okay will chck

[2020-01-06 07:18] codedsun commented on #6724
@iamareebjamal - Resized using manage.py command also, same result. the manage.py command also uses the same celery task which is used while uploading speaker image. Both are working fine for me in dev. What else should I try to reproduce this issue?

[2020-01-06 17:35] kushthedude opened #6726 "Session & Speaker: User can change his session/speaker details after CFS is closed"
**Describe the bug**

User can change his session/speaker details after CFS is closed.

**To Reproduce**

Steps to reproduce the behaviour:

1. Submit a Proposal and Confirm it.
2. Wait for CFS to get closed and then edit your proposal.
3. See error

**Expected behaviour**

User should not have the right to edit the proposal once CFS is ended.

See Also : https://github.com/fossasia/open-event-fro

[2020-01-07 05:44] diru1100 commented on #6722
I have created a DB called opevtest before writing test code for this.
**1)** Do I have to run the server in localhost to see my test code ?
**2)****I am getting the following error as some module is not found while running test code :**

(venv) Rohits-MacBook-Pro:open-event-server rohitdandamudi$ python3 -m unittest tests/all/unit/api/helpers/test_created_at.py
E
=================================

[2020-01-07 08:24] codedsun commented on #6724
@iamareebjamal  - Ping

[2020-01-07 09:26] iamareebjamal commented on #6724
Will check why it didn't work in production

[2020-01-07 09:31] iamareebjamal commented on #6722
The models have to be manually imported for them to be registered. Either run all tests using `nosetests tests/` or add temporary import of `from app.api import routes` in the test file

[2020-01-07 10:21] codedsun commented on #6724
@iamareebjamal - One possibly would be when the values were not found, then only the else condition will execute which takes `thumbnail_width_height=500`

https://github.com/fossasia/open-event-server/blob/95357f2460246d3b2cd534e111f2a024aa068e70/app/api/helpers/files.py#L130-L140

[2020-01-07 10:30] iamareebjamal commented on #6724
What is `image_sizes_type`? It should be profile

[2020-01-07 10:37] codedsun commented on #6724
@iamareebjamal - But the task runs with type `speaker-image`

[2020-01-07 11:31] iamareebjamal commented on #6724
That's wrong. In production, the type is profile, the same is used in the admin settings - https://api.eventyay.com/v1/speaker-image-sizes

See the type. Check on your local. What's the type

[2020-01-07 11:39] codedsun commented on #6724
@iamareebjamal - The celery task also uses the same key `speaker-image`. The createdb file also creates the same and on my local also shows the same.

![image](https://user-images.githubusercontent.com/20026440/71892990-66dbcb00-3170-11ea-9835-bb01dcd1d836.png)

The api running on production says type `profile` . That's strange

[2020-01-07 11:51] iamareebjamal commented on #6724
It's not strange. The API just fetches the row with ID 2 regardless of type. I know it's stupid. I already opened the reimplementation issue for image resizing 1-2 months back.

For now, try to figure what should be used, profile or speaker-profile. Check where profile is being used

[2020-01-07 11:55] codedsun commented on #6724
@iamareebjamal - yes this is the issue, I shall take that up after 1-2 issues.

https://github.com/fossasia/open-event-server/issues/6641

Also, This should be fixed then.

It's `speaker-image` not ~speaker-profile~. I will get back to you

[2020-01-07 12:19] iamareebjamal commented on #6724
It's pretty normal. profile was being used previously. When speaker image split from it, nobody bothered to create a migration. It's kind of tradition

[2020-01-07 17:54] diru1100 opened #6729 "Update docs for running celery properly"
**Describe the bug**

Not able to run celery during installation

**Expected behavior**

Not able to run celery in  local machine

**Additional context**

The command has been changed to a different one.

[2020-01-07 17:57] diru1100 commented on #6729
@iamareebjamal
Can I make the necessary changes in all documentation?

[2020-01-07 17:59] diru1100 commented on #6503
Can I work on this?

[2020-01-07 18:00] iamareebjamal commented on #6729
Yes

[2020-01-07 18:00] iamareebjamal commented on #6503
Yes

[2020-01-07 19:30] diru1100 opened #6730 "Error while following installation missing library"
**Describe the bug**

Cannot run create_db.py without a certain library.
**To Reproduce**
Steps to reproduce the behavior:
1. Follow the installation steps
2. See  **ImportError: failed to find libmagic.**  Check your installation while running create_db.py

**Additional details (please complete the following information):**
 - OS:  MacOS
 - Python Version 3.7.1

**Additional context**

Additional

[2020-01-07 19:43] iamareebjamal commented on #6730
Use linux. If not, install libmagic from brew. Not an issue of the server. We can't install the dependency for you

[2020-01-07 19:43] #6730 closed

[2020-01-08 05:35] mariobehling opened #6731 "After-Event Email: Several identical mails sent out, if user has several sessions/roles"
If a user has several sessions and roles, e.g. speaker and event organizer, several after-event emails are sent out. Expected: Only send one email per email address.

![Screenshot from 2020-01-08 11-02-59](https://user-images.githubusercontent.com/1583873/71952996-c8e70f80-3206-11ea-916f-f9e332d70faf.png)

[2020-01-08 08:17] codedsun commented on #6724
@iamareebjamal - `speaker-image` is used everywhere in dev.

[2020-01-08 08:22] iamareebjamal commented on #6724
And profile isn't used?

[2020-01-08 08:26] iamareebjamal commented on #6731
Bug in APS, to be replaced by celery beat

[2020-01-08 08:30] codedsun commented on #6724
Nopes!

[2020-01-08 08:35] iamareebjamal commented on #6724
OK. Wow. Then change the logic of API to fetch by type and not ID, it should fix everything

[2020-01-08 19:59] kushthedude commented on #6731
APS: Python Scheduler ?

[2020-01-08 20:11] #6729 closed

[2020-01-10 08:39] hedonhermdev commented on #6726
Can I work on this issue?

[2020-01-10 08:49] codedsun commented on #6726
@hedonhermdev Yes sure

[2020-01-10 16:37] codedsun commented on #6731
Taking this up! 👍

[2020-01-10 16:41] kushthedude commented on #6731
Also there are already 3-4 PR opened by you which are not merged. Please work on them before making more new one's.

[2020-01-10 16:50] codedsun commented on #6731
It has been 3 days and no one was working and the priority is HIGH also.
@kushthedude If you are working on this, then no problem. Also yes they are in the pending state due to the solution being searched simultaneously as I m stuck in both and in sync with Areeb (You can see the conversation). And if you are not working on this, then I can send the patch, why not move the project forward simultan

[2020-01-10 16:55] kushthedude commented on #6731
There are a lot of issues already present,needless to say you should give
atleast a week to other dev before claiming the issue if they are working
on it. If you dont hear from them a week or dont see a patch you should
definitely go ahead after commenting.
Each contributor should get an equal opportunity for contribution whether
it be me, you or any new comer.
Anyway, If you don't have issue to w

[2020-01-11 03:13] vishakhanihore commented on #6731
@codedsun Are you working on it?

[2020-01-11 04:18] codedsun commented on #6731
No, @vishakhanihore You may ask @kushthedude if he is working on it.

[2020-01-11 10:36] kushthedude commented on #6731
Sure go ahead.

On Sat, 11 Jan, 2020, 09:48 Suneet Srivastava, <notifications@github.com>
wrote:

[2020-01-12 16:45] amansheaven commented on #6426
So by that you mean you want a enhanced api that could deliver event details in a .xls sheet?? The one you were able to procure was from
`GET  /v1/events/{event_identifier}/export/orders/csv `
on open event server. It's not such a big feature but i would love to work on this once this get tagged by any contributor :)

If you need some more data sqeezed it maybe we can give that to you with a speci

[2020-01-13 07:56] amrit-instamojo commented on #528
Issue closed without any solution?

[2020-01-13 10:18] #6659 closed

[2020-01-13 10:21] amrit-instamojo commented on #528
@iamareebjamal db is already created, now need to apply migration after making a change in the model.

[2020-01-13 10:22] iamareebjamal commented on #528
Then what's the issue?

[2020-01-13 17:07] kushthedude opened #6736 "Speaker Model: Instagram field is present in custom form but not in speaker model"
Add Instagram field to the speaker as it is present in form mixin.
[code]

[2020-01-14 08:20] #6736 closed

[2020-01-14 15:46] codedsun opened #6738 "Remove version model"
**Describe the bug**
The version model is not used currently and should be removed

https://github.com/fossasia/open-event-server/blob/development/app/models/version.py

**Additional context**
@iamareebjamal Taking this

[2020-01-15 00:28] snitin315 opened #6742 "Add ageGroup field in Attendee Model"
Related Front-End Issue - [#3796](https://github.com/fossasia/open-event-frontend/issues/3796)

add `ageGroup` field in attndee model for the same.

**Additional context**

I am working on this issue.

[2020-01-15 07:34] #6738 closed

[2020-01-15 13:47] koushik8608 opened #6743 "Open event"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `4629c62`]

**Additional context**

[2020-01-15 13:48] koushik8608 commented on #6743
I like your organisation
So,i am doing this task

[2020-01-15 13:50] koushik8608 commented on #6743
I like your organisation
So,i am doing this task

[2020-01-15 14:08] #6743 closed

[2020-01-15 17:13] codedsun commented on #6722
Taking this up @diru1100  as it has been 8 days and their is no work from your side. Thanks

[2020-01-15 17:18] diru1100 commented on #6722
I was out of station and was unable to work on this. Can I please work on this till Sunday if possible?

[2020-01-16 01:21] mrsaicharan1 commented on #6722
@codedsun You seem to have 5-6 open PRs already. Please try wrapping up those before moving on to new ones.

[2020-01-16 04:03] codedsun commented on #6722
@diru1100 Ok sure

[2020-01-17 13:08] #6742 closed

[2020-01-17 20:14] codedsun commented on #6601
@iamareebjamal - If I run the command of `sh scripts/push_api_docs.sh` in config.yml. I think it will make this done.

But the travis also uses the same script. so what shall be the value of

[code]

Also will their be any ssh changes or not in the file `scripts/push_api_docs`

[2020-01-17 20:35] codedsun commented on #6606
@iamareebjamal @prateekj117  - the custom endpoints refers to the endpoints like this

https://github.com/fossasia/open-event-server/blob/b69df88f6d802aefd046865ed0ef0e41f5c00797/app/api/attendees.py#L31

So, we have to move this to the custom folder with filename `attendee.py` and just make this work.

Am I correct?

[2020-01-18 02:15] mrsaicharan1 opened #6750 "Missing link attributes in mail templates"
**Describe the bug**
Due to the messy HTML being sent over mails, it's difficult for people to confirm their emails/view their session links over a mobile device

**Additional context**
Working on it.

[2020-01-18 09:35] codedsun commented on #6601
@iamareebjamal - Ping!

[2020-01-18 09:38] iamareebjamal commented on #6601
No it won't work

[2020-01-18 10:39] codedsun opened #6753 "Error in migrations"
**Describe the bug**
Due to recent merging of PRs https://github.com/fossasia/open-event-server/pull/6744/ https://github.com/fossasia/open-event-server/pull/6748

The PR https://github.com/fossasia/open-event-server/pull/6744 has an invalid migration to remove the 'secret' column from the db which was unrelated to PR. Hence now we have two migration for  the same column `secret` from `settings` w

[2020-01-18 11:08] iamareebjamal commented on #6753
#6744 has wrong migration. Not #6748

Remove it from migration

[2020-01-18 11:11] codedsun commented on #6753
Sorry copy paste error.

[2020-01-18 11:38] #6753 closed

[2020-01-18 15:08] Shehanka opened #6756 "Implement confirmation email when speaker add a session"
**Is your feature request related to a problem? Please describe.**
Yes.
**Describe the solution you'd like**
Confirmation emails

**Describe alternatives you've considered**

**Additional context**
I would like to implement this feature

[2020-01-19 07:42] #6750 closed

[2020-01-19 13:05] codedsun commented on #6731
@vishakhanihore - Are you still working on this?

[2020-01-19 13:17] vishakhanihore commented on #6731
Didnt get time to finish it. You may go ahead if you want.

On Sun, 19 Jan, 2020, 18:35 Suneet Srivastava, <notifications@github.com>
wrote:

[2020-01-19 18:01] codedsun commented on #6731
@iamareebjamal - In this, all the scheduled jobs will become a celery task and then be scheduled by celery beat. correct?

[2020-01-19 18:55] iamareebjamal commented on #6731
yes

[2020-01-21 06:29] #6726 closed

[2020-01-21 15:12] kushthedude commented on #6731
When sending mail function is called, it sends to all speaker, organiser, owner irrespective of if it has already been sent to one.

[2020-01-21 16:27] codedsun commented on #6731
@kushthedude - Yes, but it runs after every 5:30 mins. Can you point more clearly what you want to say.

Also, @iamareebjamal mentioned that it was due to the gununicorn workers(4) which were causing this issue, that's why we replaced the APS with celery beat.

[2020-01-21 16:30] kushthedude commented on #6731
I didn't know why you even mentioned this.

See this snippet
[code]

[2020-01-21 19:38] #6606 closed

[2020-01-22 04:13] rob729 opened #6762 "Unable to like/dislike some events"
**Describe the bug**
Unable to like/dislike some events in the open event attendee app.

**Expected behavior**
The user should be able to like/dislike the events without any error.

**Additional context**
URL: https://open-event-api-dev.herokuapp.com/v1/user-favourite-events
Response:
[code]

URL: https://open-event-api-dev.herokuapp.com/v1/user-favourite-events/16
Response:
[code]

**Would you li

[2020-01-22 07:01] codedsun commented on #6762
@rob729 Thankyou for opening an issue, We also mention the client-side issue which was created for reference.

https://github.com/fossasia/open-event-attendee-android/issues/2553

[2020-01-22 11:06] kushthedude opened #6763 "My Sessions: Server is returning duplicated data"
**Describe the bug**
My Session is showing session's multiple times

**Expected behaviour**
Server should return session only once

**Screenshots**
[![multiple session](http://img.youtube.com/vi/EMXLyCehYCM/0.jpg)](http://www.youtube.com/watch?v=EMXLyCehYCM "multiple session")

Responses for Reference :
https://github.com/fossasia/open-event-frontend/pull/3811#issuecomment-575883439
https://github

[2020-01-22 11:21] kushthedude commented on #6763
cc: @iamareebjamal @mrsaicharan1

[2020-01-22 13:41] codedsun commented on #6763
@kushthedude - Are you working on this?

[2020-01-22 13:44] kushthedude commented on #6763
You may proceed!

On Wed, 22 Jan, 2020, 19:11 Suneet Srivastava, <notifications@github.com>
wrote:

[2020-01-22 14:33] #6762 closed

[2020-01-22 14:42] iamareebjamal opened #6765 "Lenient URL validation"
URL validation is strict and requires protocol as well. Please make it lenient and add `https://` automatically if not present

[2020-01-22 14:45] iamareebjamal opened #6766 "Add black for formatting"
Add black for autoformatting files

- [x] Add in requirements
- [x] Add pre commit hook
- [x] Format the project using it

[2020-01-22 15:14] mariobehling opened #6776 "Admin no longer able to edit and save an event of another user"
In the wizard step 1 the system admin is no longer able to edit and save the event, e.g. the way we kept spam from the start page manually was to set events to private in wizard step 1.

![Screenshot from 2020-01-22 16-12-04](https://user-images.githubusercontent.com/1583873/72906241-2f554d00-3d32-11ea-94e9-34d6e9fb1790.png)

[2020-01-22 18:27] iamareebjamal opened #6769 "Task send_event_fee_notification failing"
[code]

[2020-01-22 19:18] #6769 closed

[2020-01-22 21:57] kushthedude commented on #6766
looking into it

[2020-01-23 10:20] iamareebjamal opened #6775 "Event fee notification task is triggered every minute"
Should be triggered once per day

Please fix @codedsun

[2020-01-23 10:36] codedsun commented on #6775
Okay checking this

[2020-01-23 11:09] kushthedude commented on #6776
@iamareebjamal Is it due to the old version of the fork of `JSON-Rest` we are using ?

[2020-01-23 11:09] iamareebjamal commented on #6776
It didn't happen before, so no

[2020-01-23 11:17] kushthedude commented on #6776
@iamareebjamal The case is not for admin editing events, No one can create private events

[2020-01-23 18:29] imrahul361 commented on #6508
How can work on it? can u help me to setup the codebase ?@iamareebjamal

[2020-01-23 18:32] codedsun commented on #6508
@imrahul361 - Please have a look ay the Readme of the project.

[2020-01-23 18:35] imrahul361 commented on #6508
@codedsun i have limited space of 7-8gb only...is it enough to begin with this project...because it seems to have alot of dependencies and packages involve

[2020-01-23 18:42] imrahul361 commented on #6503
@iamareebjamal I am newbie i don't know what exactly we need to do?Can you help me out?

[2020-01-23 19:03] codedsun commented on #6503
@imrahul361 - Please read about py.test here https://docs.pytest.org/en/latest/

[2020-01-23 19:05] codedsun commented on #6508
@imrahul361 - Give it a try, you will know the best answer to your question.

[2020-01-23 19:20] codedsun commented on #6775
Can we close this issue?

[2020-01-23 19:21] #6775 closed

[2020-01-24 01:39] mrsaicharan1 opened #6781 "Dataclass migration for Event Related models"
**Feature description**
Parent Issue #6465
Migrate to data classes for the following models:

- EventCopyright
- EventInvoice
- EventLocation
- EventOrga
- EventSubTopic
- EventType
- Event

[2020-01-24 05:20] diru1100 opened #6782 "Created_at set to NoneType in RoleInvite model"
**Describe the bug**

created_at variable set to NoneType while comparing
**To Reproduce**
Steps to reproduce the behavior:
1. Instantiate the RoleInvite class, and save_to_db
2. Compared it with the current time

**Expected behavior**

Expected it to print the current time

**Additional details (please complete the following information):**
 -  MacOS

**Additional context**

The error I got while

[2020-01-24 06:59] iamareebjamal commented on #6782
No need for new issue. The testing issue was created to catch all bugs like this

[2020-01-24 06:59] #6782 closed

[2020-01-24 19:12] iamareebjamal opened #6784 "Session export celery task status endpoint failing"
celery task endpoint was failing due to old celery import remaining to be refactored

[2020-01-24 20:55] sakshamb2113 commented on #6669
Hi @iamareebjamal  i am a newbie. Can i work on this issue ?

[2020-01-24 21:39] #6766 closed

[2020-01-24 23:01] kushthedude commented on #6784
Fixed in #6783

[2020-01-24 23:01] #6784 closed

[2020-01-26 08:44] snitin315 opened #6788 "user is able to save event without selecting payment method for donation ticket."
**Describe the bug**
Related Frontend issue - [#3850](https://github.com/fossasia/open-event-frontend/issues/3850)

Right now user is able to save event with `donation ticket` without selecting a `payment method`.

**Expected behavior**
Server should throw an error like `Donation ticket must have a payment method` as it throws in case of `Paid Tickets`

**Additional context**

I will work on this

[2020-01-26 12:17] iamareebjamal opened #6791 "Remove unused imports and variables"
There are several unused imports and variables in the project

[2020-01-26 12:18] #6791 closed

[2020-01-26 15:19] codedsun commented on #6763
@kushthedude @iamareebjamal - Is their a specific case for sessions to return duplicated data.?

For me, I have a user with two sessions which have been submitted but not accepted. But the api returns correct data.

`http://127.0.0.1:5000/v1/users/2/sessions?sort=starts-at`

Response:
[code]

[2020-01-26 15:21] codedsun commented on #6763
http://127.0.0.1:5000/v1/users/2/sessions?page%5Bsize%5D=10&page%5Bnumber%5D=1&include=event&sort=starts-at

By removing the filter also works fine for me.

[2020-01-26 15:24] kushthedude commented on #6763
I have given the API Link above it is returning same sessions for page 2
and 3. Same is the case on local

On Sun, 26 Jan, 2020, 20:51 Suneet Srivastava, <notifications@github.com>
wrote:

[2020-01-26 15:36] iamareebjamal commented on #6763
@codedsun Because there are not even enough items to do pagination, so obviously it'll return correct data

[2020-01-26 15:37] codedsun commented on #6763
Ok will check it out.

On Sun, Jan 26, 2020, 9:06 PM Areeb Jamal <notifications@github.com> wrote:

[2020-01-26 18:01] codedsun commented on #6776
@kushthedude - The request from the frontend is

[code]

The relationship here
`"order-statistics":{"data":{"type":"order-statistics-event","id":"40"}}`

should be

`"event-order-statistics": {
                "data": {
                    "type": "order-statistics-event",
                    "id": "40"
                }
            },
`

which means  the key ~order-statistics~ renamed to `event-o

[2020-01-26 18:09] iamareebjamal commented on #6776
Why is frontend even sending order statistics? Makes no sense

And the relationship should be order-statistics only, not `event-order-statistics`

So, it is both a server issue and frontend issue. More severe issue on the frontend

[2020-01-26 18:11] #6788 closed

[2020-01-26 18:12] codedsun commented on #6776
@iamareebjamal - The frontend is also sending event-general-statistics. This should also not be sent.

[2020-01-26 18:13] iamareebjamal commented on #6776
That is my point. It should not be sending any relationship

[2020-01-26 18:15] codedsun commented on #6776
@iamareebjamal - The relationship endpoint is `'/events/<int:id>/relationships/order-statistics'` oly. So not an issue on server

[code]

[2020-01-26 18:16] iamareebjamal commented on #6776
Then the server should be able to expect 'order-statistics' and not fail like it is currently

[2020-01-26 20:48] codedsun commented on #6776
As per the discussion with @iamareebjamal sir. It's not a server issue.

Areeb: Then change the key in frontend. Nothing can be done on server for this for now

[2020-01-26 20:51] kushthedude commented on #6776
Open the issue on frontend with the problems discussed with @iamareebjamal .

On Mon, 27 Jan, 2020, 02:18 Suneet Srivastava, <notifications@github.com>
wrote:

[2020-01-27 02:39] Samwisebuze commented on #5994
@uds5501 Has this issue been resolved? If not I can look into updating the doc.

[2020-01-27 04:40] diru1100 commented on #6765
may I please know which URL do we have to validate here and where it is present?

[2020-01-27 05:38] diru1100 commented on #6503
Hello,
Do I just have to change the commands from nose to pytest and do the same in necessary documents?
P.S:  pytest command is working fine for all the current tests written when I run it locally.

[2020-01-27 05:52] diru1100 commented on #6508
can I work on this?

[2020-01-27 06:52] iamareebjamal commented on #6503
No, you need to change the test style

[2020-01-27 08:28] kushthedude opened #6794 "User sessions list not working with sort parameter"
Due to recent multiple session PR. The route is broke with stacktrace :
[code]

[2020-01-27 08:29] kushthedude commented on #6794
cc: @codedsun

[2020-01-27 12:06] uds5501 commented on #5994
Go ahead @Samwisebuze

[2020-01-27 13:16] kushthedude commented on #6794
@iamareebjamal All the FE PRs will fail the build because of this, can you revert the PR for now, until this issue is fixed ?

[2020-01-27 19:14] diru1100 commented on #6503
By style, you mean to change the current tests code to a pytest version of them?
I have google how to convert from nose to pytest and found [this issue as a reference.](https://github.com/ckan/ckan/issues/3310) [The respective PR for the same](https://github.com/ckan/ckan/pull/4996) was also successfully merged.

[2020-01-27 19:31] iamareebjamal commented on #6503
Yes

[2020-01-28 15:45] kushthedude commented on #6763
Since the merged PR has been reverted. Reopening this issue, also please check https://github.com/fossasia/open-event-server/issues/6794 for reason why the PR was reverted .

[2020-01-28 15:46] kushthedude commented on #6794
Closed in favour of original issue https://github.com/fossasia/open-event-server/issues/6763

[2020-01-28 15:46] #6794 closed

[2020-01-29 15:17] diru1100 commented on #6765
Can I please get a little more details on this to get started?

[2020-01-29 15:32] iamareebjamal commented on #6765
URL fields in marshmallow schema

[2020-01-30 11:20] iamareebjamal opened #6798 "Clarify DB tables"
Some table's roles are unclear.

- [ ] roles_panels - contains 1000s of duplicate entries
- [ ] transaction - why are these in the database?

[2020-01-30 11:23] iamareebjamal opened #6799 "Restructure custom forms table"
The table is not normaized and stores extraordinary amount of redundant items.

[code]

You get the point. Normalize the table and remove redundant info into another custom form fields table

[2020-01-30 11:54] mrsaicharan1 commented on #6763
I'll take a look at this.

[2020-01-30 11:55] iamareebjamal commented on #6763
@mrsaicharan1 #6794 was actual solution but it doesn't work with sort parameter, so that needs to be fixed

[2020-01-30 14:50] kushthedude commented on #6798
This takes a record of each & every mail which is sent from the app to the users. And details regarding those are then displayed in `Admin/Mails`

[2020-01-30 14:57] iamareebjamal commented on #6798
I know what it is used for, but why?

[2020-01-31 00:34] kushthedude commented on #6731
@iamareebjamal What should be the optimal approach for this, A bunch of conditionals with flag variable or something else?

[2020-01-31 00:44] iamareebjamal commented on #6731
Extract all emails in a set and loop over them to send the email

[2020-01-31 13:51] diru1100 opened #6802 "change from pep8 to pycodestyle for code checking"
pep8 has been renamed to pycodestyle
The use of the pep8 tool will be removed in a future release.

[2020-01-31 14:31] iamareebjamal commented on #6802
Where are we using pep8?

[2020-01-31 14:38] diru1100 commented on #6802
in requirements/dev.txt

[2020-01-31 15:44] kushthedude commented on #6731
There is more this issue, being ab owner and Speaker of a event. I just
received 15 after event mail

On Fri, 31 Jan, 2020, 06:14 Areeb Jamal, <notifications@github.com> wrote:

[2020-01-31 15:57] iamareebjamal commented on #6802
It's unused

[2020-01-31 17:29] diru1100 commented on #6802
can be used while writing code to avoid more hound issues, helped me doing the same

[2020-01-31 18:04] codedsun commented on #6763
@iamareebjamal - If we change the queery to
`                query_.distinct(Session.id, Session.starts_at).join(User)` it will work.

the error occurs because the Order by runs on different field and distinct runs on another one

[2020-01-31 18:06] iamareebjamal commented on #6763
Great, send a PR so we can revert it when `?order_by=ends_at` crashes. That is not the solution

[2020-01-31 18:06] codedsun commented on #6763
@iamareebjamal - Nopes this isn't the right solution. I am looking for more

[2020-01-31 18:09] iamareebjamal commented on #6763
Paste the SQL query generated in the statement with and without distinct

[2020-02-01 02:27] mrsaicharan1 commented on #6798
@iamareebjamal For `orders_tickets`, how exactly is redis caching going to be useful?

[2020-02-01 03:20] iamareebjamal commented on #6798
If you need to cache the amount of tickets associated with the order, cache it rather than storing it in a separate table in DB. It's the violation of single source of truth and source of bugs

[2020-02-01 03:25] mrsaicharan1 commented on #6798
The number of tickets associated with orders is being used everywhere in the application. Okay, I get your point.
But what I'm still skeptical about is the reason why the `quantity` field wasn't present in the `orders` table from before

[2020-02-01 03:28] mrsaicharan1 commented on #6798
Nvm, it's there

[2020-02-01 03:42] iamareebjamal commented on #6798
[code]

[2020-02-01 08:05] mrsaicharan1 commented on #6486
I'll take this up. I've also found out what happened here.
Because there was no ticket fee set up on the admin system, the emails started erroring out.

[code]
Will fix this up and add the test

[2020-02-01 17:38] maze-runnar commented on #6799
@iamareebjamal @uds5501 i am new at server side can you please help me here a bit :pray: . Can you please explain little where to start for this issue?

[2020-02-01 18:21] iamareebjamal commented on #6799
Not a beginner-friendly issue

[2020-02-01 18:23] maze-runnar commented on #6799
please help little, i will try my best, i do.

[2020-02-01 18:26] iamareebjamal commented on #6799
I'm not saying this to discourage you. First, work on other issues and understand the structure of the project. This issue requires changes on DB architecture, API, serialization and business logic level. This is the most advanced issue there can be

[2020-02-01 18:28] maze-runnar commented on #6799
ok, thank you

[2020-02-01 18:33] diru1100 commented on #6802
black command solves most of hound problems we can remove I guess.

[2020-02-01 22:30] kushthedude commented on #6569
Should we still wait for the new API or find a way to fix it for now? @iamareebjamal

[2020-02-02 04:46] iamareebjamal commented on #6569
No, take this up

[2020-02-02 06:54] maze-runnar commented on #6765
@iamareebjamal , is it right approach for adding validation -
`https_url =  fields.Url(dump_only=True, allow_none=True,absolute=True, scheme='https')`

[2020-02-02 06:55] iamareebjamal commented on #6765
If it works without protocol this way, then yes

[2020-02-02 06:59] dheerajkotwani opened #6806 "Add user name to the feedbacks"
**Is your feature request related to a problem? Please describe.**
For now there is no fields for name of the person who has wrote a feedback, Adding it can make it look good as name of person would also be displayed with the feedback.

**Describe the solution you'd like**
Add the user name field to the feedback section

[2020-02-02 07:16] dheerajkotwani opened #6807 "Add country code to phone number"
**Is your feature request related to a problem? Please describe.**
Currently there is no field for country code of attendee on the server

**Describe the solution you'd like**
Adding country code with phone number can help in easily identifying to which country does the phone number belongs to.

[2020-02-02 07:40] iamareebjamal commented on #6807
No need

[2020-02-02 07:40] #6807 closed

[2020-02-02 12:37] #6776 closed

[2020-02-02 13:29] diru1100 commented on #6467
Can I explore a bit and work on this, if there's still more to do?

[2020-02-02 13:34] diru1100 commented on #6765
does the commit solve the issue? I explored a bit on marshmallow to work on this. I can work on other issue if there's progress here.

[2020-02-02 15:30] #6722 closed

[2020-02-02 15:55] iamareebjamal opened #6814 "Error in discount code fetch API"
[code]

[2020-02-02 16:13] mrsaicharan1 commented on #6814
I'll check this out

[2020-02-02 17:16] Rits1272 commented on #6806
I would like to work on this issue!

[2020-02-03 11:07] diru1100 commented on #6503
Hello,
I have made a change to my fork. Once can you please check it out.
https://github.com/diru1100/open-event-server/commit/c9569593b3f81d87d8129661e9fb864b397b0ef2

[2020-02-03 11:13] iamareebjamal commented on #6503
Send a PR

[2020-02-05 02:14] mariobehling opened #6818 "Ticket Email: Ticket Download not working. Wrong URL"
The ticket download email comes with a wrong URL to something like "https://api.eventyay.com/generated/tickets/orders/tickets/pdf/9bdedaa....".

It results in a page: "Not Found
The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again."

![Screenshot from 2020-02-05 03-13-13](https://user-images.githubusercontent.com/1583873/73804964-a

[2020-02-05 13:54] hkbiet commented on #5498
Is it done ?

[2020-02-05 14:18] mrsaicharan1 commented on #6818
@abhiandthetruth Are you willing to work on this?

[2020-02-05 14:39] abhiandthetruth commented on #6818
Nope it's open

[2020-02-05 14:40] mrsaicharan1 commented on #6818
Will fix this.

[2020-02-05 14:42] abhiandthetruth commented on #6818
All the best.

On Wed, Feb 5, 2020, 7:48 PM Sai Charan <notifications@github.com> wrote:

[2020-02-05 15:13] mrsaicharan1 commented on #6818
@iamareebjamal @mariobehling If the user can access the ticket via a link, it would bring us back to this issue https://github.com/fossasia/open-event-server/issues/5608

[2020-02-05 15:15] mrsaicharan1 commented on #6818
As the tickets are already attached, I don't think it's necessary for the link. If there was any error and the tickets/invoice could not be sent to the user, we could point them to eventyay.com so that they could download it.

[2020-02-05 15:20] iamareebjamal commented on #6818
The pdf link should still work. It won't lead to the above issue because of your PR itself

[2020-02-05 15:21] mrsaicharan1 commented on #6818
Alright

On Wed, 5 Feb 2020 at 8:50 PM, Areeb Jamal <notifications@github.com> wrote:

[2020-02-06 01:54] mrsaicharan1 commented on #6818
`https://<API_HOST>/generated/invoices/orders/invoices/pdf/1a523e55-7b46-46bd-90c1-85805384e9da/U3ZUQUZoTE/1a523e55-7b46-46bd-90c1-85805384e9da.pdf`.

The current link which is being stored would've had no errors if the files were stored in static/templates(where flask looks to serve static files like these). But all our tickets are at `generated/`.

@iamareebjamal What do you suggest as a plausib

[2020-02-06 02:38] mrsaicharan1 opened #6820 "Failing event fee notification task"
**Describe the bug**
[code]
Due to the aforementioned error, the event fee notification task fails every month.

[2020-02-06 02:41] mrsaicharan1 commented on #6820
@iamareebjamal I see that this has occurred before. I think we need a test for this as well.

[2020-02-06 02:45] mrsaicharan1 commented on #6820
This should've been tested properly - https://github.com/fossasia/open-event-server/issues/6769

[2020-02-06 05:57] iamareebjamal commented on #6818
It was already created by you only

[2020-02-06 07:19] iamareebjamal commented on #6818
Thinking about this again, you are right. This can not work without it being accessible to the general public. @mariobehling It will either be available to anyone with the link or it'll throw an error for the user. There is no way to know who the user is with just the link of the PDF. So what should be done? We can either remove the link from the email and users can go to frontend to see the ticke

[2020-02-06 07:21] #6486 closed

[2020-02-06 16:15] mariobehling commented on #6818
Best would be to provide a request for the user to login. The first step is to send the tickets by email and dont send the link in the confirmation email as a quick fix. We can simply say "Your ticket is enclosed. You can also download in the My ticket section in your account."

[2020-02-06 16:19] mrsaicharan1 commented on #6818
@mariobehling Ticket attachments are already being sent. So that's covered. I'll add the request for the user to login.

[2020-02-08 05:52] mishari opened #6823 "Invitation link cause an error"
**Describe the bug**
I received an invitation link to be coorganizer. When I click on the link I get this error:

**To Reproduce**
Steps to reproduce the behavior:
Click on co-organizer invite link in email, login, click on link again.

**Expected behavior**
I'm expecting to use my existing credentials to be a co-organizer.

**Stacktrace**
Error: TransitionAborted
    at e (/fastboot/dist/assets/v

[2020-02-08 08:37] iamareebjamal commented on #6823
Duplicate of https://github.com/fossasia/open-event-frontend/issues/3347

[2020-02-08 08:37] #6823 closed

[2020-02-08 09:29] #6818 closed

[2020-02-08 11:25] kushthedude opened #6826 "After Event Mail: Mails are getting sent in every 5 hours."
The scheduled job for the after event mail is misbehaving. I have been getting 3 emails periodically every 5 hours once my event was over.

[2020-02-08 15:24] mrsaicharan1 commented on #6826
Will fix this .

[2020-02-09 07:28] diru1100 opened #6828 "Write tests for notification functions"
**Description**
This is a sub issue of #5320

Tests are required for notification functions to ensure that they work properly. This increases the test coverage for the code.

**Additional context**
Working on it.

[2020-02-09 07:59] iamareebjamal commented on #6828
Please only create sub issues when the PR is ready

[2020-02-09 11:29] kushthedude opened #6829 "Admin can not change the details of any user"
Admin can not change details of other users, as admin should be able to do so.

Stacktrace :
[code]

[2020-02-09 11:49] kushthedude opened #6830 "Error in deleting marketer role user"
User with marketer role are not getting deleted

[2020-02-09 12:17] #6830 closed

[2020-02-10 11:45] kushthedude opened #6832 "Celery not working"
Celery is not starting as `ENABLE_ELASTICSEARCH` argument has been removed from `.env`.
`ENABLE_ELASTICSEARCH = False` to make celery worker start or else it throws error :
[code]

[2020-02-10 11:48] kushthedude opened #6833 "Celery accesses SMTP configs before exporting event"
Celery needs SMTP Configuration before exporting the event.

#### Actual Behaviour :
Without the SMTP configuration, the event export task fails and throws this error.

[code]

#### Expected :
Event Export should work without the SMTP Configuration too.

[2020-02-10 11:50] kushthedude commented on #6832
@iamareebjamal I think elastic search initialisation is still not removed. Should this be `ENABLE_ELASTICSEARCH = False` explicitly mentioned in the env as before?

[2020-02-10 12:00] iamareebjamal commented on #6833
How is this an issue?

[2020-02-10 12:01] kushthedude commented on #6833
Why celery needs smtp config to export an event?

On Mon, 10 Feb, 2020, 17:30 Areeb Jamal, <notifications@github.com> wrote:

[2020-02-10 12:02] iamareebjamal commented on #6832
No, the logic should be removed from celery config

[2020-02-10 12:02] iamareebjamal commented on #6833
This error is thrown when send_mail function is used

[2020-02-10 12:03] kushthedude commented on #6833
Wasnt this case handled in the https://github.com/fossasia/open-event-server/pull/6228 , So why celery again accesses SMTP while exporting ?

[2020-02-10 12:33] mrsaicharan1 commented on #6833
What do you mean by *before* exporting an event? How do you exactly reproduce this?
if this happens after you click on export event,
https://github.com/fossasia/open-event-server/issues/6158#issuecomment-512733961

[2020-02-10 12:37] kushthedude commented on #6833
As soon as I click on export event, The loader appears and the celery throws this error.

[2020-02-10 12:42] mrsaicharan1 commented on #6833
Well, in that case, this is not valid. An export event mail task is scheduled which accesses the send_mail function.

[2020-02-10 12:48] kushthedude commented on #6833
Agreed the task is schdules, But the export should also be successfull. The export fails, hence this should be a valid issue

[2020-02-10 12:51] mrsaicharan1 commented on #6833
Ok, In that case, you need to be clear while mentioning the issue. Change the description.

[2020-02-10 13:07] mrsaicharan1 commented on #6829
I'll take this up.

[2020-02-10 14:24] kushthedude commented on #6833
@iamareebjamal @mrsaicharan1 I digged deep into the issue and it is not happening due to the server rather the FE url being generated is `http://127.0.0.1:5000/v1/http://127.0.0.1:5000/static/media/exports/13/zip/ZDlVMEJ4Y0/event13.zip`. There is an extra server URL param before the actual export zip URL which is being added due to https://github.com/fossasia/open-event-frontend/blob/development/a

[2020-02-11 11:47] Rits1272 commented on #6814
I would like to work on this issue

[2020-02-11 12:27] kushthedude opened #6837 "Event Restore is not working."
**Describe the bug**

When Admin tries to restore an event, It fails.
**To Reproduce**
Steps to reproduce the behavior:
- Delete an event
- Try to restore it

**Expected behavior**

Restore should work
**Stacktrace**

[code]

[2020-02-11 12:43] iamareebjamal commented on #6837
Revert this locally - https://github.com/fossasia/open-event-frontend/pull/4056

It'll work

[2020-02-11 12:43] #6837 closed

[2020-02-11 12:44] kushthedude commented on #6837
After reverting it neither deletion nor restoring works !

[2020-02-11 12:45] iamareebjamal commented on #6837
Then wrap it in try catch

[2020-02-13 02:47] kushthedude opened #6838 "SMTP Mailing not working"
**Describe the bug**

SMTP is not working.

**To Reproduce**

Steps to reproduce the behavior:

- Try to send a mail using SMTP

**Expected behavior**

Mailing should work as expected.

**Stacktrace**

[code]

**Additional context**

The following is a bug with Python3.7 where
[code]
throws an error and it should be like
[code]
But since we are using marrow mailer and there is an issue already ope

[2020-02-13 02:48] kushthedude commented on #6838
@iamareebjamal Any solution for this ?

[2020-02-13 06:41] iamareebjamal commented on #6838
Use non SSL version

[2020-02-13 09:27] kushthedude commented on #6838
I tried using TLS but same error log and it ultimately tries to access SSL for TLS too. I don't know why 😕
[code]

[2020-02-13 10:15] iamareebjamal commented on #6838
By non SSL, I mean non TLS

[2020-02-16 20:13] iamareebjamal opened #6845 "No celery task getting executed in heroku - celery crashing"
No celery task is getting executed in heroku since celery crashes on startup -

[code]

Bug found due to verification mails not being sent here - https://github.com/fossasia/open-event-frontend/issues/4001#issuecomment-586744209

Ref: https://github.com/celery/celery/issues/5948
https://github.com/celery/kombu/issues/1152
https://github.com/andymccurdy/redis-py/issues/1275

[2020-02-16 20:16] #6845 closed

[2020-02-16 20:22] iamareebjamal opened #6846 "Add test for celery process"
In the light of #6845

There should be a test which checks if celery process is correctly executing and processing tasks

[2020-02-17 04:20] diru1100 commented on #6846
Can I take up this issue?

[2020-02-17 05:58] iamareebjamal commented on #6846
It's not for beginners unfortunately. If you want to work on it, comment your approach here and get it approved before sending PR

[2020-02-17 15:35] snitin315 opened #6847 "wrong links being sent for development instance."
**Describe the bug**

Due to recent change in netlify link the links being sent by server are no longer valid.

- Email verification links.
- Role invitation links , etc

`open-event-fe.netlify.com` being sent instead of `open-event.netlify.com`

[2020-02-17 16:57] iamareebjamal commented on #6847
Fixed

[2020-02-17 16:57] #6847 closed

[2020-02-18 11:53] vibhuti019 commented on #6799
As I think, You want to remove and relocate the unnecessary fields.
for ex:- first name, last name and email is repeated 3 times.
            I will have to change it.
            Some Changes in the API will also be reqd for the same.
Please guide me during the redesigning of the DB.
I will rewrite the APIs too.

[2020-02-18 12:47] iamareebjamal commented on #6799
There should be no change at API level

[2020-02-18 16:46] iamareebjamal opened #6848 "Add gitpod integration"
https://gitpod.io

[2020-02-18 16:56] vibhuti019 commented on #6799
Can you explain with a case.

[2020-02-19 04:05] NirmalManoj commented on #6848
I would like to work on this issue.

[2020-02-20 08:04] #6826 closed

[2020-02-20 09:39] iamareebjamal opened #6856 "Add tests for cron job"
- [ ] Add tests for cron jobs that they are scheduled for correct intervals
- [ ] Add option to monitor cron jobs using https://healthchecks.io

[2020-02-20 10:23] iamareebjamal opened #6857 "Server crashing on order PATCH"
[code]

Rolled back the release

[2020-02-20 13:55] kushthedude commented on #6857
@iamareebjamal I tried patching an order . It worked successfully. Any specific endpoint ? I used `PATCH /v1/orders/{identifier}`

[2020-02-20 14:22] #6857 closed

[2020-02-20 15:01] diru1100 commented on #6856
I would like to give it a try if it's beginner-friendly .

[2020-02-20 16:45] diru1100 commented on #6828
In send_followup_notif_monthly_fee_payment and send_notif_monthly_fee_payment in helpers notification.py.

There is **no** title attribute in NOTIFS[MONTHLY_PAYMENT_FOLLOWUP_NOTIF] and NOTIFS[MONTHLY_PAYMENT_NOTIF]

[2020-02-20 16:55] iamareebjamal commented on #6828
Great. You can go ahead and fix it

[2020-02-20 18:37] kushthedude opened #6862 "Document about configuring pre-commit on local installation"
There is no documentation about how to configure pre-commit hooks.
Please add the required documentation for the same.

[2020-02-20 18:57] diru1100 commented on #6862
I had issues with pre-commit and black usage before. Would love to document it.

[2020-02-21 04:52] scheleon commented on #6862
I would like to work on it if it is not already assigned!

[2020-02-29 17:50] imskr commented on #6802
Can i work on this issue?

[2020-02-29 17:53] iamareebjamal commented on #6802
Not required

[2020-02-29 17:53] #6802 closed

[2020-03-01 10:29] iamareebjamal opened #6869 "Error while sending monthly invoice"
[code]

We should never be throwing unhandled exceptions in jobs where no one can handle them

[code]

[2020-03-02 18:22] kushthedude commented on #6869
IMO as can be seen from logs Ticket Fee is not set in the Admin Panel .

[2020-03-03 05:34] iamareebjamal commented on #6869
So, should the task crash because of it?

[2020-03-04 08:55] iamareebjamal opened #6872 "Paypal integration not working: MissingConfig"
[code]

[code]

Maybe Related: https://github.com/paypal/PayPal-Python-SDK/issues/49

[2020-03-04 09:06] iamareebjamal commented on #6872
I have overridden environment variables for now to mitigate the issue. But this needs to be solved

[2020-03-05 17:29] remaininlight opened #6874 "Docker image eventyay/nextgen-api-server does not exists, preventing Kubernetes deployment"
**Describe the bug**
The Docker image eventyay/nextgen-api-server referred to in the Kubernetes deployment yamls (https://github.com/fossasia/open-event-server/blob/development/kubernetes/yamls/api-server/deployment.yml#L21) does not exist.

![image](https://user-images.githubusercontent.com/4106946/76007480-02d24a80-5f06-11ea-914b-1ad3c8055801.png)

This means that when Kubernetes attempts to pul

[2020-03-05 17:53] iamareebjamal commented on #6874
Yes, kubernetes docs are quite outdated as we are currently using docker-compose in production

[2020-03-07 22:20] iamareebjamal opened #6879 "Discount code quantity calculation logic is completely wrong"
https://github.com/fossasia/open-event-server/blob/1aebc2fcf6910a48ea3d7dcc0f632639c831a466/app/api/helpers/ticketing.py#L35-L41

This just calculates all the bought tickets, and not the tickets bought with discount code. God knows how it was supposed to work.

Secondly, discount code should be redesigned as it is confusing, it is applicable to individual ticket instead of entire order, but is sav

[2020-03-07 22:22] iamareebjamal opened #6880 "Reimplement discount code"
DB and code level reimplementation of discount code is necessary after discussion and deciding what are the actual requirements of the functionality as the current implementation tries to do a lot of things, and all in wrong ways

See #6879

[2020-03-07 22:45] #6879 closed

[2020-03-14 10:24] serverwentdown opened #7401 "GitHub URL validator different from server validator"
**Describe the bug**

The GitHub Profile validator is different from the server implementation: entering "github.com/profile" is valid on the frontend but throws a server error on the server, without explanation.

**To Reproduce**
Steps to reproduce the behaviour:
1. Register for an event
2. Enter a URL without "https://"
3. Frontend says it's valid
4. Submit the form
5. A server error occurs

**E

[2020-03-23 13:06] iamareebjamal opened #6892 "Integrate Sentry APM tracing"
https://docs.sentry.io/performance/distributed-tracing/#python

And enable SQLAlchemy integration

[2020-03-25 06:31] nisarhassan12 commented on #6848
Gitpod support would be nice for simplifying code contributions. A lot of popular OSS projects out there are using it:

- https://github.com/freeCodeCamp/freeCodeCamp
- https://github.com/facebook/docusaurus
- https://github.com/mozilla/pdf.js/

You can find a brief list of them at https://contribute.dev

![image](https://user-images.githubusercontent.com/46004116/77501629-64893300-6e7a-11ea-82d7-

[2020-03-25 09:02] iamareebjamal commented on #6848
@nisarhassan12 Go ahead

[2020-03-25 16:02] NirmalManoj commented on #6848
@nisarhassan12 Please go ahead. I got busy with some other work, and since no one responded, I thought it was not a high-priority issue, so I could do it later.

[2020-03-25 16:18] nisarhassan12 commented on #6848
Thanks! I will soon make a PR.

[2020-03-28 05:49] imskr commented on #6892
I would like to fix this!  Assign me

[2020-03-28 07:53] iamareebjamal commented on #6892
Please go ahead. We don't assign external contributors

[2020-03-28 17:11] imskr commented on #6892
@iamareebjamal Done!

[2020-03-28 17:19] #6892 closed

[2020-03-28 17:28] imskr commented on #6862
I would like to document this. Which file should I place this?

[2020-03-28 21:00] iamareebjamal commented on #6862
README.md

[2020-03-29 11:17] iamareebjamal opened #6903 "Alpha Integration of GraphQL"
### Reasons

1. Although the JSONAPI integration is good enough, its tooling in Python is absolutely abysmal and it becomes really painful to create new API or integrate existing API with new changes with good developer experience.
2. The development speed on the server is thus, extraordinarily slow.
3. The upstream library is unmaintained and docs are as good as non-existent. Sometimes, it is eve

[2020-04-01 06:59] nisarhassan12 commented on #6848
Can anyone help me with Gitpodifying this project? this is what is automated so far via Gitpod what else is supposed to be automated?
![image](https://user-images.githubusercontent.com/46004116/78107931-cf54e400-740f-11ea-8a62-a2e36074746e.png)

You can try the current state via this link on my fork of the repo:

https://gitpod.io/#https://github.com/nisarhassan12/open-event-server/

I'm a Front-e

[2020-04-01 13:09] iamareebjamal commented on #6848
Hi, there's no need for yarn install and just installing requirements/dev.txt should be enough. I don't understand 2 init blocks. The command should be `python manage.py runserver`

The exports aren't needed. Instead .env.example should be copied to .env file and a `SECRET_KEY` should be generated. This process is given in the installation guide

[2020-04-07 15:11] iamareebjamal opened #6916 "PATCH in old session raises date error"
`starts-at should be after current date-time`

Later, it should only validate changed data and not existing one

[2020-04-07 15:13] #6916 closed

[2020-04-17 17:54] codedsun commented on #6872
@iamareebjamal - How do i reproduce this issue?

[2020-04-17 18:20] iamareebjamal commented on #6872
It's difficult to reproduce

[2020-04-20 18:00] codedsun commented on #6869
@iamareebjamal - When ticketFee is not found, then
what shall be the value of them below .. 0 ?

     ticket_fee_maximum = ticket_fee_object.maximum_fee

[2020-04-20 19:07] iamareebjamal commented on #6869
Skip that entry and log an error

[2020-04-22 18:36] iamareebjamal opened #6927 "Remove arrow from project"
Only 1 line uses the dependency and can be replaced by other dependencies we are using

[2020-04-24 09:19] #6869 closed

[2020-04-27 00:36] markvdb opened #6953 "Assign track organiser role to specific track(s)"
**Is your feature request related to a problem? Please describe.**
Right now, unless I'm mistaken, it is not possible to assign a track organiser to organising a specific track.

At https://fosdem.org for example, we have this as a hard requirement. Specific communities (e.g. BSD, python, ...) each manage their own developer room without intervention from the central conference organising committe

[2020-05-06 18:09] iamareebjamal opened #6971 "Remove {'source': ''} from every error"
It is extraordinarily redundant and does not even serve its purpose. Change it to actual source of error or remove it

[2020-05-06 18:54] #6665 closed

[2020-05-06 19:40] sumitks866 opened #6972 "Ticket price should be displayed in local currency instead of USD"
https://eventyay.com
While ordering tickets price should be displayed in local currency.

[2020-05-06 20:01] #6828 closed

[2020-05-06 20:02] iamareebjamal commented on #6972
It is shown in whatever currency the organizer has chosen

[2020-05-06 20:02] #6972 closed

[2020-05-07 08:53] kaushik397 commented on #6927
I am a beginner can I work on this?

[2020-05-07 10:04] iamareebjamal commented on #6927
Yes

[2020-05-07 10:16] prateekj117 opened #6976 "Add flask_graphql to requirements"
**Describe the bug**

When running `python manage.py db upgrade`, it shows the following error, when if you update all the dependencies:
[code]

[2020-05-07 10:20] iamareebjamal commented on #6976
https://github.com/fossasia/open-event-server/blob/1afa3afb4fa1458a29f8d89a13c3a60329698e44/requirements/common.txt#L66-L69

Already present

[2020-05-07 10:20] #6976 closed

[2020-05-07 10:21] prateekj117 commented on #6976
Ohh. I also see it is present in the dependencies but I still get this error.

[2020-05-07 10:22] iamareebjamal commented on #6976
Maybe issue with virtual environment. Rerun pip install -r requirements.txt

[2020-05-07 10:27] prateekj117 commented on #6976
`pip install -r requirements.txt`
Ran this again inside the venv. Earlier also I ran it inside virtual env.
I again got the same error. I also got the message that requirement already satisfied in case of `pip install -r requirements.txt` and graphql dependencies.

It was solved when I ran `python3 -m pip install flask-graphql==2.0.1`

[2020-05-07 10:29] prateekj117 commented on #6976
[code]

[2020-05-07 10:47] iamareebjamal commented on #6976
Seems the project wasn't running in venv

[2020-05-07 13:45] 199301200 commented on #6971
@iamareebjamal can i work on this issue

[2020-05-07 13:46] iamareebjamal commented on #6971
yes

[2020-05-07 16:40] prateekj117 opened #6978 "Change max line length in deepsource config."
**Describe the bug**
Hound allows a line length of 90, and deepsource allows a default line length of 88.

**Expected behavior**
Deepsource should allow a line length of 90.

[2020-05-07 17:17] pnijhara commented on #6978
@prateekj117 I am on it.

[2020-05-07 18:12] Deeksha2501 commented on #6806
Is the issue still unresolved?
I would like to work on this.

[2020-05-07 18:13] #6978 closed

[2020-05-07 20:08] EkanshMangal commented on #6927
Hello I am also a beginner and start contributing. Can I work on this issue?

[2020-05-07 20:11] EkanshMangal commented on #6463
Hello Sir, Can I work on this issue?

[2020-05-07 20:13] EkanshMangal commented on #5498
Hello Sir, Is any issue left?

[2020-05-07 20:16] EkanshMangal commented on #6798
Hello Sir,
If issue is not solved, Can i try to solve it

[2020-05-07 20:18] EkanshMangal commented on #5994
@uds5501 Sir, If this issue is still open, Can I look at it?

[2020-05-08 02:41] snitin315 commented on #6927
@EkanshMangal as @kaushik397 asked first he will be working on this issue for now, if there is no sign of work done after some days feel free to take this up.

Do read FOSSASIA's contributing best practices [here](https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/)

[2020-05-08 02:48] snitin315 commented on #6463
@EkanshMangal Yes, you can.

[2020-05-08 03:47] iamareebjamal opened #6983 "Fix some breaking tests with nested transactions"
After enabling nested transactions in https://github.com/fossasia/open-event-server/pull/6981, some tests which were relying on auto increment IDs starting from 1 were broken, because IDs are not reset when transactions are rolled back, they're reset only when schema is dropped. Hence, I reverted those tests to old format, which is quite slow, 10s instead of 1s

Furthermore, factories should not r

[2020-05-08 03:47] iamareebjamal commented on #5994
If an issue is green, it is open. If it is red, it is close

[2020-05-08 03:48] iamareebjamal commented on #6798
Not meant for beginners, please don't spam comment on issues

[2020-05-08 03:49] iamareebjamal commented on #5498
There can 100s of issues open. So yes, many issues left. Please comment on only those which you think you can solve. Don't spam

[2020-05-08 03:50] iamareebjamal commented on #6463
Yes, you can like the others who mentioned above and never did. So please, instead of spamming "Can I work on this issue?" on every issue, which is very annoying, pick one and send a PR, which by judging previous behaviours of commentators won't happen

[2020-05-08 03:51] iamareebjamal commented on #6927
And please stop spamming while you are at it

[2020-05-08 03:58] iamareebjamal commented on #6806
Low priority, please pick high priority issues or the ones created by maintainers

[2020-05-08 05:04] Deeksha2501 commented on #6806
ok :)

[2020-05-08 16:20] #6719 closed

[2020-05-08 16:22] iamareebjamal commented on #6302
There are some concerns over current implementation of calculation, hence fixing them and adding tests before integration in frontend

[2020-05-08 17:53] iamareebjamal opened #6984 "Deduplicate get_new_slug method"
`get_new_slug` method is duplicated many times through the project

[2020-05-08 18:36] prateekj117 commented on #6302
@iamareebjamal So if I am sending an `create-order` request with say the following payload:
[code]

Then in the `complete-order` request payload, the first two attendee info's will be for ticket_id 14, and the last one for ticket_id 13.

[2020-05-08 18:37] prateekj117 commented on #6302
For example:
[code]
John1, and John2 details would go to ticket holders of ticket_id 14, and John3 will go to ticket holder of ticket_id 13.

[2020-05-08 18:38] iamareebjamal commented on #6302
Hmm, this needs some better mechanism. Will think of something

[2020-05-08 18:39] prateekj117 commented on #6302
@iamareebjamal Hmmm, I also think so.

[2020-05-08 19:37] iamareebjamal opened #6986 "Create unit tests for model creation"
These need to have unit tests created for them:

- [ ] Popular Locations API
- [ ] Role Invite API
- [ ] Event Creation API

[2020-05-08 19:50] jerrycode06 commented on #6984
I want to work on this issue. Can I give it a try?

[2020-05-08 19:56] iamareebjamal commented on #6984
Sure

[2020-05-08 19:58] sanjana-302 commented on #6984
I want to work on this issue. Can I try?

[2020-05-08 20:21] iamareebjamal commented on #6984
@jerrycode06 has already claimed it

[2020-05-09 18:58] prateekj117 opened #6989 "Specify OS supported in README"
**Describe the bug**
I see many people trying to contribute here and using windows. It's much better if we specify in the README itself which OSs are supported for local installation.

[2020-05-09 19:15] sanjana-302 commented on #6989
Can I work on this issue?

[2020-05-09 19:28] prateekj117 commented on #6989
@sanjana-302 Sure, go ahead.

[2020-05-09 19:29] prateekj117 commented on #6669
@sakshamb2113 Go ahead.

[2020-05-09 19:54] iamareebjamal commented on #6669
Yes

[2020-05-10 04:43] jerrycode06 commented on #6984
@iamareebjamal My system facing some problem so it will take time to fix that's why I am not working this issue right now. Anyone can work on it.
Thanks

[2020-05-10 04:52] iamareebjamal commented on #6984
@sanjana-302 Go ahead

[2020-05-10 20:58] salonigupta1 commented on #6862
Can I work on this issue, if this is available?

[2020-05-10 21:00] prateekj117 commented on #6862
@salonigupta1 Sure, go ahead.

[2020-05-11 11:57] Muzammil7786 commented on #6503
hi @iamareebjamal  if its not resolved can i take it

[2020-05-11 12:00] iamareebjamal commented on #6503
Go ahead

[2020-05-11 12:03] Muzammil7786 commented on #6927
hi @iamareebjamal  can i take it if its not resolved , even i'm a beginner

[2020-05-11 12:04] iamareebjamal commented on #6927
Yes, go ahead

[2020-05-11 12:05] snitin315 commented on #6927
Before commenting on any issue please try to read the previous conversation 😀.

[2020-05-11 12:15] iamareebjamal commented on #6927
No response for 4 days, likely not going to continue

[2020-05-11 12:15] iamareebjamal commented on #6927
It's a tradition to just comment 'Can I work on this' and leave

[2020-05-11 14:00] Muzammil7786 commented on #6927
hi @snitin315 , i've  just seen the vedio of aman bhai about gsoc , congratulations for being shortlisted , even im passionate about gsoc can u guide me through the upcoming gsoc??

[2020-05-11 14:06] iamareebjamal commented on #6927
Yes, definitely, I'll also write my autobiography in GitHub issues

[2020-05-11 14:40] Muzammil7786 commented on #6927
I'm not be able to clone repositories can you guide me.

[2020-05-11 14:42] snitin315 commented on #6927
Have you even installed and configured git locally?

[2020-05-11 14:50] Muzammil7786 commented on #6927
Yes

[2020-05-11 14:52] Muzammil7786 commented on #6927
$ git status
On branch development
Your branch is up to date with 'origin/development'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
        deleted:    .circleci/config.yml
        deleted:    .coveragerc
        deleted:    .deepsource.toml
        deleted:    .dockerignore
        deleted:    .editorconfig
        deleted:    .env.example
        deleted:    .fl

[2020-05-11 14:55] snitin315 commented on #6927
You can't see any file because you just deleted every file.

[2020-05-11 14:59] Muzammil7786 commented on #6927
warning: Clone succeeded, but checkout failed.
after cloning it appears in this way

[2020-05-11 14:59] iamareebjamal commented on #6927
Please think before pasting logs as long as "A la recherche du temps perdu"

[2020-05-11 15:00] iamareebjamal commented on #6927
Are you by any chance using Windows?

[2020-05-11 15:02] iamareebjamal commented on #6927
https://github.com/fossasia/open-event-server/issues/6989

[2020-05-11 15:08] Muzammil7786 commented on #6927
yes

[2020-05-11 15:30] iamareebjamal commented on #6927
Read the linked issue

[2020-05-11 21:14] Muzammil7786 commented on #6927
where do i find the problem

[2020-05-11 23:12] #6989 closed

[2020-05-12 08:08] Muzammil7786 commented on #6927
Sorry, i didn't get it.

[2020-05-12 09:24] iamareebjamal commented on #6927
Read the note https://github.com/fossasia/open-event-server#installation

[2020-05-12 11:41] Muzammil7786 commented on #6927
As im a beginner im not be able to get anything can you explain in breif

[2020-05-12 11:43] Muzammil7786 commented on #6927
I dont even know what is #6989

[2020-05-12 14:20] iamareebjamal commented on #6927
That is something you need to read

[2020-05-12 14:20] iamareebjamal commented on #6927
Click on the link and read the issue

[2020-05-12 16:26] Muzammil7786 commented on #6927
Bro , Not yet getting anything

[2020-05-12 16:40] snitin315 commented on #6927
After reading?

[2020-05-12 16:57] Muzammil7786 commented on #6927
I've searched , I didnt get what is #6927

[2020-05-12 16:57] Muzammil7786 commented on #6927
I dont find any thing to read

[2020-05-12 18:45] iamareebjamal commented on #6927
Did you even click on it. Or give me Teamviewer ID and password and I will click the link for you and make you read it

[2020-05-12 18:46] iamareebjamal commented on #6927
Unfortunately, if you can't even open a link of an issue and read it, then this issue if too advanced for you

[2020-05-12 19:11] Muzammil7786 commented on #6927
Ya ,This is my first project

[2020-05-12 19:12] Muzammil7786 commented on #6927
ID : Muzammil7786
Pass: Babammijaan264

[2020-05-13 03:20] iamareebjamal commented on #6927
But is it your first day on the internet? Have you never opened a link? We have a ton of people everyday who contribute for the first time, everyone can click and read. And the password and ID you shared is not of TeamViewer. You have shared your GitHub ID and password. Has no one told you to not share your credentials to anyone? Please don't give your credit card pin to a stranger asking you nice

[2020-05-13 03:30] snitin315 commented on #6927
Also, enable two-factor authentication.

[2020-05-13 05:30] iamareebjamal opened #6998 "Use marshmallow to parse calculate order and custom order"
json.loads and dealing with dictionaries is very error prone

It also does not convert str to float and vice versa where necessary.
Take user input using marshmallow for:

- [ ] Order calculation endpoint
- [ ] Order creation endpoint
- [ ] Order completion endpoint

And similarly, use marshmallow to serialize the dict/object as well

[2020-05-13 05:45] iamareebjamal opened #6999 "Add more tests for order amount and creation"
- [x] Test deleted discount codes are not accepted
- [x] Test deleted tickets are not accepted
- [x] Test tickets for deleted events are not accepted

[2020-05-13 05:47] iamareebjamal commented on #6223
Already fixed about a year ago

[2020-05-13 05:47] #6223 closed

[2020-05-13 05:49] iamareebjamal commented on #6381
Closing since no investigation carried on

[2020-05-13 05:49] #6381 closed

[2020-05-13 05:52] iamareebjamal commented on #4477
Closing this as there is no clear way a seed data can be created, eg, what fields should be used? The factories also don't reuse existing models but recreate relationships. If needed, will reopen

[2020-05-13 05:52] #4477 closed

[2020-05-13 05:52] iamareebjamal commented on #5535
Closing this as there is no clear way a seed data can be created, eg, what fields should be used? The factories also don't reuse existing models but recreate relationships. If needed, will reopen

[2020-05-13 05:52] #5535 closed

[2020-05-13 06:40] deadoralive023 commented on #6669
is this issue still open?

[2020-05-13 06:58] iamareebjamal commented on #6669
Looks like that to me
![image](https://user-images.githubusercontent.com/3874064/81781084-35577f80-9515-11ea-944f-96b01988e9f2.png)

[2020-05-13 07:15] deadoralive023 commented on #6669
This is my first time trying to contribute to an  open source, so please let me know can I take this issue if its still open

[2020-05-13 08:06] iamareebjamal commented on #6669
https://github.com/fossasia/open-event-server/issues/6669#issuecomment-627788095

[2020-05-13 08:22] Muzammil7786 commented on #6927
Sorry 😅 can u once share me the link

[2020-05-13 08:45] iamareebjamal commented on #6927
Shared 3 times already

[2020-05-13 12:02] iamareebjamal opened #7000 "Architectural problems and simplification"
This is a discussion ground of several major issue with the current architecture of the project which makes it incredibly hard to make logical decisions about the project as their is no formal set of requirements/specifications. Ask these questions and flesh out a specification to be followed in the future by maintainers and contributors.

### What to do on ticket modification/deletion? (LT)
All p

[2020-05-13 12:04] iamareebjamal commented on #7000
@mariobehling Notifying beforehand that we need to discuss ticket and event discount behaviour in upcoming meeting as it is confusing to me. It is also not implemented correctly. Right now, I'm implementing what is currently implemented, but will change in future if needed. Also, after these and more questions are resolved, I will create a doc in the repository documenting the expected behaviours

[2020-05-13 17:57] sanjana-302 commented on #6984
Why mention get_new_slug method in open-event-server/app/api/helpers/db.py?
I think get_new_slug method is a Database-helper and is not restricted to any particular model as mention in line 10 open-event-server/app/api/helpers/db.py.
Line 10: #ONLY INCLUDE THOSE DB HELPERS WHICH ARE NOT SPECIFIC TO ANY MODEL

get_new_slug method is reused in the following models:
open-event-server/app/models/event

[2020-05-13 18:05] iamareebjamal opened #7001 "Remove repetitive safe_query"
You'll find a lot of unnecessary and repetitive `safe_query` calls like `safe_query(db, Session, 'id', view_kwargs['session_id'], 'session_id')`

First of all, all of this should be abstracted, manually calling this is the ultimate source of bugs. However, that will take massive restructuring of the project and hence, for now, just refactor it to be simpler, like `safe_query_kwargs(Session, view_k

[2020-05-13 18:08] iamareebjamal commented on #6984
It is redefined in those models with subtle differences, you need to define a generic `get_new_slug` and remove it from these places:

[code]

[2020-05-14 06:42] iamareebjamal commented on #7001
See last commit of #6997 for more info

[2020-05-14 06:48] #6999 closed

[2020-05-14 11:08] satya7289 commented on #7001
@iamareebjamal I want to work on this issue.

[2020-05-14 11:10] prateekj117 commented on #7001
@satya7289 Go ahead.

[2020-05-14 11:44] iamareebjamal opened #7005 "Add dredd tests for calculate order amount and create order"
Calculate Order Amount and create order APIs need to be added in API Blueprint for dredd tests

[2020-05-14 16:15] iamareebjamal commented on #7001
Not really?

[2020-05-14 16:18] satya7289 commented on #7001
Yes, In the latest master branch. Nowhere I see the code start with safe_query(db.. or safe_query(self ..

[2020-05-14 16:38] satya7289 commented on #7001
I got it. I have to convert the all safe_query(Session, 'id', view_kwargs['session_id'], 'session_id')
1. self_query_by_id(Session,view_kwargs['session_id']) if view_kwargs['session_id']=='session_id'. and second parameter is 'id'.

Am I right? . @iamareebjama

[2020-05-14 16:59] iamareebjamal commented on #7001
No, you need to create a new method which takes the dictionary and key and does the same thing as safe query but without repetition

[2020-05-14 20:47] iamareebjamal opened #7008 "Remove duplicate exceptions in api/helpers/errors and exceptions.py"
For some strange reason, duplicate errors like ForbiddenException, ConflictException and UnprocessableEntity are present in code in errors.py and exceptions.py. Remove duplicate types

[2020-05-15 16:01] Satyam52 commented on #7008
@iamareebjamal Can I work on this issue?

[2020-05-15 16:34] iamareebjamal commented on #7008
Go ahead

[2020-05-15 18:57] iamareebjamal opened #7011 "Discount Code creation failed"
After merging of #6985, discount code creation fails:

For some bizarre reason, user_id was passed in constructor of DiscountCode and then set to marketer_id :man_shrugging:
Anyway it was still working because for another bizarre reason, marketer passed from the API was changed to user_id on server :man_shrugging: :shrug:

So now, because the constructor is removed, there is no user_id kwarg in Di

[2020-05-15 19:06] iamareebjamal commented on #7011
See #4964 and #4911 for relevant changes

[2020-05-15 22:18] #7011 closed

[2020-05-15 22:18] iamareebjamal opened #7014 "Re-enable skipped dredd tests"
Many dredd tests are disabled, this hides issues present in the API and tests completely lose their purpose

See https://github.com/fossasia/open-event-server/issues/7011 for more info

[2020-05-16 07:31] #6984 closed

[2020-05-16 07:34] iamareebjamal opened #7016 "Deduplicate get_new_identifier"
Like #6984, get_new_identifier is duplicated in event, order and event invoice. It should be refactored and reused

[2020-05-16 10:39] jonodrew commented on #7016
Can I take a look at this, please?

[2020-05-16 10:41] snitin315 commented on #7016
Yes go ahead.

[2020-05-16 12:36] satya7289 commented on #7001
I'm actually new in this, I do not understand 'safe query but without repetition' part, need some more clarification. @iamareebjamal

[2020-05-16 12:38] iamareebjamal commented on #7001
You have to change `safe_query(db, Session, 'id', view_kwargs['session_id'], 'session_id')` into `safe_query_kwargs(Session, view_kwargs, 'session_id')` so there's no repetition

[2020-05-16 14:23] Satyam52 commented on #7008
@iamareebjamal  these duplicates have a little different name so, should I import UnprocessableEntityError as UnprocessableEntity or should I change the error some function is throwing UnprocessableEntity to UnprocessableEntityError?

[2020-05-16 14:24] iamareebjamal commented on #7008
The point is to remove the duplicates, remove the ones which are less

[2020-05-16 15:25] jonodrew commented on #7016
Why is the identifier for the `Event` model so different to the others? https://github.com/fossasia/open-event-server/blob/069d8f8cb80b347b641b57b311305838d14ae5ef/app/models/event.py#L29

[2020-05-16 16:20] iamareebjamal commented on #7016
Because it needed to be short. You can go with other identifiers for now

[2020-05-16 16:55] Satyam52 commented on #7008
#7019

[2020-05-17 03:34] Satyam52 commented on #7008
@iamareebjamal I fixed remaining issue but coverage result is failing ? How to correct it?

[2020-05-17 06:05] iamareebjamal commented on #7008
Leave it

[2020-05-17 14:55] crazzyflynn commented on #6756
Hello Sir
I would like to work on this issue
and I think it's related to "creating triggers"

[2020-05-17 15:10] Rachit420 commented on #7016
I am new and want to contribute can i get this project.

[2020-05-17 15:19] iamareebjamal commented on #6756
Umm no, and I am not sure what the issue is about

[2020-05-17 15:30] iamareebjamal commented on #7016
Go ahead

[2020-05-17 15:38] #7001 closed

[2020-05-17 17:30] crazzyflynn commented on #6756
Can I get my hands on?

[2020-05-17 17:35] iamareebjamal commented on #6756
I don't even know what the issue is about

[2020-05-17 17:42] crazzyflynn commented on #6756
Okay Sir😅

[2020-05-17 19:03] #6756 closed

[2020-05-18 13:31] mansiag commented on #6927
Can I work on this issue?

[2020-05-18 13:31] prateekj117 commented on #6927
@mansiag Sure, go ahead.

[2020-05-18 16:31] satya7289 commented on #6998
I want to work on this issue. @iamareebjamal

[2020-05-18 16:33] iamareebjamal commented on #6998
Right now, 2 out of 3 APIs are not finalized, so you can work on some other issue

[2020-05-18 17:54] satya7289 commented on #6998
Ok

[2020-05-18 17:56] satya7289 commented on #6971
If it is available, I want to work on this issue.
 @iamareebjamal

[2020-05-18 18:00] iamareebjamal commented on #6971
Go ahead

[2020-05-18 18:00] iamareebjamal commented on #6971
But first, please finalize your PR

[2020-05-19 04:12] rgrupesh commented on #7016
Can I take a look at this?

[2020-05-19 06:15] iamareebjamal commented on #7016
Go ahead

[2020-05-19 10:20] mansiag commented on #6927
@prateekj117 @iamareebjamal what I understand is, here arrow takes the timezone aware datetime object and humanizes it. Timezone plays a role in this as the datetime values are stored (in database) in that timezone only, along with an attribute to store the timezone.
For ex -
`datetime.datetime(2020, 5, 19, 12, 54, 31, 756604, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None)) `
So, it

[2020-05-19 10:25] iamareebjamal commented on #6927
That can be solved by replacing the tzinfo of both datetimes to utc, then relative time will be correct

[2020-05-20 05:10] satya7289 commented on #6971
In most of the cases it is raised error manually like access denied(forbidden exception). In this situation what will be the actual source of error.
@iamareebjamal

[2020-05-20 06:58] iamareebjamal commented on #6971
If access was denied because I am not a co-organizer for an event, then event_id will source/pointer

[2020-05-20 12:32] satya7289 commented on #6971
In which situation it sources should be removed.
Also if I remove it, in place of it I put this {}?

[2020-05-20 13:01] iamareebjamal commented on #6971
When there is no source of error in user's request, they should be removed. Nothing will be put in its place, only single argument will be passed to the constructor

[2020-05-21 14:46] Satyam52 commented on #7008
@iamareebjamal I rebased and also used pre-commit Formater. Can you look into PR?

[2020-05-21 15:34] #7008 closed

[2020-05-22 09:37] #6927 closed

[2020-05-22 17:15] divyanshutewari17 commented on #6388
I would love to work on this. Can you please elaborate the issue?

[2020-05-27 11:08] #6838 closed

[2020-05-27 11:08] #6833 closed

[2020-05-30 03:05] rkrahulmishra887 commented on #6846
I wanna work on this issue. Please assign this to me and also guide me through it.

[2020-05-30 12:43] rkrahulmishra887 commented on #6846
If I use rabbitmq as a massage broker instead of Redis then we can solve the problem.
because redis is more susceptible to data loss.

[2020-05-30 13:01] iamareebjamal commented on #6846
Completely irrelevant to the issue which isn't even about data loss at all. And people don't just change their tech stack because someone tagged along and said we should use xyz instead on an issue which is about testing celery.

[2020-06-02 03:43] webmaster-sys commented on #5498
any issue left?

[2020-06-02 04:00] webmaster-sys commented on #6503
hi @iamareebjamal if its not resolved can i take it

[2020-06-02 11:31] mariobehling opened #7041 "Remove external dependencies e.g. Google fonts, maxcdn etc."
The API web service uses external dependencies. In order to avoid sharing our data with external services we need to avoid and remove external services as much as possible.

![Screenshot from 2020-06-02 13-29-40](https://user-images.githubusercontent.com/1583873/83515273-60f6d580-a4d5-11ea-86ad-1317d5e2091f.png)

[2020-06-02 12:16] iamareebjamal commented on #6503
Go ahead

[2020-06-02 12:16] iamareebjamal commented on #5498
Literally 136 issues left

[2020-06-05 05:41] mansiag commented on #6955
Can I work on this issue?

[2020-06-05 06:07] snitin315 commented on #6955
Go ahead

[2020-06-05 21:00] mansiag commented on #6955
why do we use filter, ( starts_at > current_time or ends_at > current_time) for the upcoming events, when we can only use (ends_at > current_time) as ends_at time is always greater than starts_at and ends_at is never empty in any published event?

[2020-06-05 21:41] iamareebjamal commented on #6955
That's better because then we'll also be showing events which  are currently happening

[2020-06-05 22:05] mansiag commented on #6955
We can show both the future events and events which are currently happening by only checking ends_at > current_time. We don't need starts_at comparison for that.

[2020-06-05 22:14] iamareebjamal commented on #6955
Exactly

[2020-06-05 22:46] #6569 closed

[2020-06-05 22:48] iamareebjamal commented on #6654
Solved months ago by disabling link tracker

[2020-06-05 22:48] #6654 closed

[2020-06-05 22:57] iamareebjamal commented on #6126
Solved by reimplementation. Will rivisit when discount codes are reimplemented

[2020-06-05 22:57] #6126 closed

[2020-06-07 02:47] codedsun commented on #6829
@iamareebjamal -
The request body has the wrong event-id in relationship. Also, should the relationships be sent from client-side while patching the user?
[code]

The relationships is

[2020-06-07 03:03] iamareebjamal commented on #6829
No, they shouldn't. But it's the amazing ember-data which decides what it should do for us

[2020-06-07 06:36] codedsun commented on #6829
Then I should fix for the relationships that are being sent wrong at the first place from the server. Correct?

[2020-06-07 17:05] iamareebjamal commented on #6829
Fix should be in frontend. It shouldn't send those relationships. Set them to readonly

[2020-06-09 01:17] iamareebjamal opened #7055 "Simplify order update checks"
There are unnecessary repetition of same logic checks in Order update API with subtle changes. It is checked 8 times, **8** times, that a field being updated in an order is allowed or not. It becomes impossible to update any logic and not lose track of why is this branch being checked and why is this in else block.

There is a branch for order made in ticket section, there is a branch for order ma

[2020-06-19 05:44] faraz16iqbal commented on #6669
Working on this issue if it's still open!

[2020-06-20 06:18] iamareebjamal opened #7063 "event-invoices endpoint failing"
/event-invoices endpoint is failing because it has `has_organizer` decorator set up which either expects `event_id` param in URL or expects user to be an admin.

This is obviously not the case with the endpoint. Hence, it should be fixed

[2020-06-21 15:30] God-father1 commented on #7063
I want to work on this issue, please assign me.

[2020-06-21 17:14] iamareebjamal commented on #7063
Go ahead

[2020-06-21 18:17] God-father1 commented on #7063
Will you please guide me i'm not able to find the file.

[2020-06-21 20:41] iamareebjamal commented on #7063
You'll have to understand the codebase first

[2020-06-22 04:54] iamareebjamal opened #7066 "Disallow attendee editing after order is in pending+ state"
Right now, there is no check on attendee editing being disallowed based on order state, this should be fixed

[2020-06-22 04:56] iamareebjamal opened #7067 "Disallow attendee edit to change ticket, order, event, user"
Under no circumstances should a user be able to edit ticket, order, event or user of an attendee.

This is a MASSIVE security issue in context of the server

[2020-06-22 05:54] iamareebjamal opened #7068 "Required fields in attendee form are not being validated"
You can set certain fields in attendee custom forms to be required or optional. Those are not being validated and can be set to null

[2020-06-22 05:58] iamareebjamal opened #7069 "Order should fail to transition to pending state if attendee info is incomplete"
Right now, since there was no validation on attendee form, an attendee could submit dummy information and change order status to pending and complete the order. After #7068, order validation should be put into place so that no order can be completed without correct attendee info state

[2020-06-22 06:19] #7067 closed

[2020-06-22 06:19] #7068 closed

[2020-06-22 06:34] satyasai7 commented on #6669
Can i work ?

[2020-06-22 09:36] deadoralive023 commented on #6669
Yes you can

On Mon, 22 Jun 2020 at 11:34 AM, satyasai7 <notifications@github.com> wrote:

[2020-06-23 03:55] iamareebjamal opened #7071 "Move initial custom form creation on server from frontend"
Currently, custom form's initial fields are created on frontend when an event is created first. This is not the correct behaviour. They should be created on server. In the `after_create_object` hook of the Event Post Handler, the custom form fields of attendee, speaker and session should be created and then the logic should be removed from frontend

[2020-06-23 03:56] iamareebjamal opened #7072 "Change custom form field identifiers from camel case to snake case"
For some reason(likely frontend centric approach), field identifiers were denoted in camel case instead of snake case. Once #7071 is complete and relevant code is removed from frontend, this will be changed on server and a migration will be created for the same

[2020-06-23 05:00] iamareebjamal opened #7074 "Add custom form complex field validation"
Validate that custom form complex fields:

- [x] Required complex fields are present
- [x] Normalize complex fields to snake case
- [x] Unmatched form fields are ignored and not saved. Throwing an error might have been a better option but this behaviour is consistent with other API which just ignores extra fields
- [x] fields are of the correct type

[2020-06-23 13:40] himanshujaidka commented on #7066
please explain to me.

[2020-06-26 06:01] #7074 closed

[2020-06-27 06:54] b-thebest commented on #6463
Hello, Can I work on this issue.

[2020-06-27 06:55] b-thebest commented on #6669
Can I work on this issue?

[2020-06-27 06:57] deadoralive023 commented on #6669
Yes you can

On Sat, 27 Jun 2020 at 11:55 AM, Burhanuddin Kamlapurwala <
notifications@github.com> wrote:

[2020-06-27 08:48] iamareebjamal commented on #6463
Yes, please go ahead

[2020-06-27 10:00] b-thebest commented on #6669
This is gonna be my first contribution, Can you please navigate me to the file or location where I need to do the change

[2020-06-27 10:26] iamareebjamal commented on #6669
First you need to understand the project. Unfortunately, we can't spoonfeed you the steps

[2020-06-27 12:16] b-thebest commented on #6669
Sure, I will check it out. Thank you

[2020-06-28 07:02] #6955 closed

[2020-06-28 17:16] iamareebjamal opened #7087 "Remove modules from project"
Modules of Ticketing System, Payments and Donation are disabled by default and confuse beginners. Also, they are not even correctly implemented to prevent API usage in backend. They should be removed

[2020-06-28 22:28] #6669 closed

[2020-06-29 16:45] Haider8 commented on #7063
@iamareebjamal Can I work on this issue

[2020-06-29 16:45] iamareebjamal commented on #7063
Go ahead

[2020-06-29 17:39] #7066 closed

[2020-06-29 20:11] iamareebjamal opened #7093 "Change unique constraints of soft deleted models"
All models were changed to soft deletion without much thought about which ones make sense to be soft deleted and which ones don't. This leads to many errors as some models have unique constraints like discount code and when they are deleted and same code is added again, it throws an error. Thus, we need to revisit which models make sense to add soft deletion to, which should never be deleted (orde

[2020-06-29 21:15] iamareebjamal opened #7094 "Test custom form name migration"
It failed on production. Manually fixed it but test why it happened and fix in code

[2020-06-30 12:19] Haider8 commented on #6998
@iamareebjamal Can I work on `/complete-order` endpoint

[2020-06-30 12:26] iamareebjamal commented on #6998
That won't be needed for now. You can work on unique constraint issue

[2020-06-30 14:53] Haider8 opened #7097 "Black in pre-commit applying changes to migrations"
**Describe the bug**

Black in pre-commit is applying changes to excluded directory like `migrations`.

**Expected behavior**

Shouldn't apply changes to excluded path.

**Additional details (please complete the following information):**
 - OS: [Ubuntu]
 - Python Version [`3.7.0`]
 - `HEAD` Commit hash [e.g. `4629c62`]

**Additional context**

Will work on this

[2020-06-30 17:37] #7063 closed

[2020-06-30 23:56] XitizVerma commented on #6862
May i work on this issue?

[2020-07-01 06:55] iamareebjamal commented on #6862
Go ahead

[2020-07-02 16:29] Haider8 commented on #7097
@iamareebjamal How should I start working on this

[2020-07-02 19:12] Haider8 opened #7101 "USD as currency for free tickets in invoice pdf total amount"
**Describe the bug**

There is no need to show currency (in `Total Amount`) for free tickets in invoice pdf. We can just show it to be 0.

![invoice-screenshot](https://user-images.githubusercontent.com/43299408/86400062-96a20080-bcc5-11ea-849f-7ed0966d296d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create event with free tickets
2. Complete order for that event
3. Download invoice

[2020-07-02 19:27] iamareebjamal commented on #7101
Not a priority, adds more complexity

[2020-07-02 19:27] #7101 closed

[2020-07-02 22:39] iamareebjamal opened #7104 "Attendee info should be editable by admin or user itself"
Like Speaker Information, the attendee info should only be editable by the admin or user itself. Right now, anyone can edit it.

[2020-07-02 22:39] iamareebjamal commented on #7104
@Haider8 Please take this up urgently, leaving other tasks

[2020-07-02 23:28] iamareebjamal opened #7105 "Remove deprecated Attendee Creation Endpoint"
Now attendee creation is controlled through create order API, and hence the Attendee Creation Endpoint must be removed

[2020-07-02 23:55] iamareebjamal opened #7106 "Speaker Schema should not receive user relationship"
Unless entered by the admin, the user relationship in speaker schema in POST and PATCH should be rejected and replaced with currently logged in user.

[2020-07-03 13:38] Haider8 commented on #7105
@iamareebjamal Can I work on this

[2020-07-03 13:40] iamareebjamal commented on #7105
To be done when everything is tested on web and migrated in Android

[2020-07-03 13:49] God-father1 commented on #7087
Do we need to keep the tickets module or not?

[2020-07-03 13:50] iamareebjamal commented on #7087
The modules functionality needs to be removed. All modules will be kept.

[2020-07-03 13:52] God-father1 commented on #7087
I'm looking in models, is that where we need to edit the functionality? (new of opensource)

[2020-07-03 13:55] iamareebjamal commented on #7087
In models, schema, API, permissions, etc.

[2020-07-03 13:56] God-father1 commented on #7087
Thank You! Working on it!

[2020-07-04 19:12] #7104 closed

[2020-07-04 19:19] #7093 closed

[2020-07-06 23:17] iamareebjamal opened #7116 "Session POST request fails if track is submitted with it"
The error says "Co-organizer access is required"

Discussion: https://gitter.im/fossasia/open-event-server?at=5f0090467ba3965373e882b6

A wrong validation was placed checking that tracks should only be controlled by co-organizers but the validation didn't throw an exception but returned it, which made the server ignore the error and allow the submission of the session.

After the PR #6780, it conv

[2020-07-07 01:12] #7116 closed

[2020-07-07 12:32] #7069 closed

[2020-07-09 09:28] Haider8 commented on #7071
@iamareebjamal Can I work on this?

[2020-07-09 11:16] iamareebjamal commented on #7071
This has work to be done on both frontend and backend. Go ahead

[2020-07-09 18:54] #7106 closed

[2020-07-10 08:03] #6731 closed

[2020-07-11 10:43] iamareebjamal opened #7131 "eventlet worker class conflicts with gunicorn preload"
Several issues have previously been caused due to eventlet worker which changes blocking I/O to non-blocking by monkey patching (see https://github.com/fossasia/open-event-frontend/issues/4544), greatly increasing the concurrency of the server. To fix the bugs, we previously disabled eventlet worker as a workaround. But the performance of the server decreased so we re-enabled it after verifying th

[2020-07-13 17:30] DevanshD3 commented on #7087
Hey i am new to open source and want to be familiar with it . Can i work on this issue?

[2020-07-18 11:06] mirajhad commented on #6862
can I work on this issue.

[2020-07-18 11:11] snitin315 commented on #6862
yes

[2020-07-20 11:55] mariobehling commented on #4213
This has been implemented in the form of "donation" tickets.

[2020-07-20 11:55] #4213 closed

[2020-07-20 11:59] mariobehling commented on #5994
Solved during order rewrite.

[2020-07-20 11:59] #5994 closed

[2020-07-20 12:04] mariobehling commented on #5797
Firebase is out of scope of this project.

[2020-07-20 12:04] #5797 closed

[2020-07-20 12:19] mariobehling commented on #5175
Out of scope.

[2020-07-20 12:19] #5175 closed

[2020-07-20 12:26] mariobehling commented on #4526
Out of scope according to updated plan.

[2020-07-20 12:26] #4526 closed

[2020-07-20 16:25] kbhagi commented on #7016
Folks , is this issue still open . I would like to contribute to this fix ?

[2020-07-20 17:09] iamareebjamal commented on #7016
Yes

[2020-07-21 11:05] mariobehling opened #7148 "Ticket Email: Create a better Text Email for confirmed ticket orders"
We need a better ticket email. An HTML email would require a number of changes, but we can already create a better text email to improve things in the first step. An Email sample below.

 Questions:
* What if the user bought several tickets, what link do we provide?
* Would it be possible to create a link string to provide the option "Add to my calendar", e.g. Google, Outlook, iCal

---

SUBJECT:

[2020-07-21 21:15] iamareebjamal opened #7149 "Add session status change validations"
These are the allowed state changes for session:

Draft -> Pending -> Confirmed, Accepted, Rejected -> Cancelled, Withdrawn

Draft: Not ready to be reviewed, won't be shown to the organizer
Pending: Ready to be reviewed by the organizer and accepted or rejected
Confirmed/Accepted: Don't know what's the distinction between these two
Rejected: Session was rejected
Cancelled: Organizer can cancel the

[2020-07-22 07:40] #6763 closed

[2020-07-22 12:26] mariobehling commented on #7149
**SESSION ACCEPTANCE FLOW**
Draft (Speaker is working on a submission, but has not submitted it. Organizer can see "draft", but cannot accept it)
↓
Pending (Speaker submitted session. Organizer can see submission and change status to accepted or directly to confirmed)
↲ ↳
↲ 1) Accepted (Organizer has accepted the session. Usually at this stage the organizer communicates with the speaker about deta

[2020-07-22 12:33] mariobehling commented on #7149
The speaker can withdraw at any time after he/she submitted. (It would not make sense to withdraw in draft mode.)
The organizer can also mark a session "Withdrawn" at any time after the speaker submitted it. Sometimes speakers only write an email and dont login to perform this action. Therefore organizers should also have the right to do that.

Sessions can only be cancelled after the status "Acce

[2020-07-22 12:35] mariobehling commented on #7149
We need email actions for each state. Let's work this out in a separate issue and focus on the flow in this issue. If it is easier maybe just allow status changes without emails for now.

[2020-07-23 01:17] iamareebjamal opened #7155 "Session accept reject email sent without state changes"
In session after_update_object, session accept reject email is sent if the final state of session is 'accepted' or 'rejected'. This is not desirable as the email will be sent even when there is any update about the session and not necessarily change in state. Thus, email should only be sent when there a change in 'state' of session, and not any change in session data itself

[2020-07-23 02:22] iamareebjamal commented on #7149
Everything else makes sense, but what operations should be allowed in withdrawn mode? Can a speaker put it back in pending mode? Can an organizer change status from withdrawn to accepted, confirmed, rejected?

[2020-07-23 02:31] iamareebjamal commented on #7149
These are the possible transition states as of now. If anything needs to be changed, please tell

[code]

[2020-07-23 08:36] Haider8 commented on #7155
@iamareebjamal I get that here we want to remove `accepted` and `rejected` check. But do I also need to check that the status has actually changed?

[2020-07-23 08:52] iamareebjamal commented on #7155
Yes

[2020-07-23 10:19] snitin315 commented on #7087
Taking this up.

[2020-07-23 12:25] mariobehling commented on #7149
No, I think the most logic thing is: If someone withdraws the withdraw is final. A message that says "Are you sure you want to withdraw this sessions? This cannot be reverted." would be good.

I think withdrawing is final. Of course we need to see if I am wrong here. We will use this and see how it works, but I think withdrawing is final. If a speaker wants to submit again, he/she needs to fill it

[2020-07-24 10:22] #7155 closed

[2020-07-24 11:12] snitin315 commented on #7087
@iamareebjamal You mean the functionality to enable/disable modules? and Enable them by default.

[2020-07-24 11:14] iamareebjamal commented on #7087
It means that API, schema, db models will be removed. And similarly, they'll be removed from the frontend first and assumed to be always enabled

[2020-07-24 11:16] snitin315 commented on #7087
Got it.

[2020-07-25 02:05] iamareebjamal opened #7160 "Merge local installation steps and generic installation steps"
Both methods are same and contain conflicting information. We can't maintain both, and hence they should be merged into one

[2020-07-25 02:07] iamareebjamal opened #7161 "Create recommended installation steps for docker-compose and link in frontend"
The recommended mode for installation of open event on servers is using docker-compose, which we use in production. Steps for that aren't available in the docs. So create steps for deployment of both server and frontend in respective repositories and link them respectively

[2020-07-25 04:30] #7087 closed

[2020-07-25 06:59] #7149 closed

[2020-07-25 09:02] snitin315 commented on #7148
Taking this up.

[2020-07-26 07:47] MaulikVarshney commented on #7161
@iamareebjamal I want to work on this issue with you.

[2020-07-26 07:48] iamareebjamal commented on #7161
Go ahead

[2020-07-26 07:52] MaulikVarshney commented on #7161
Can you guide me a bit as I am a noob to open source and this is the first issue that I am working for.

[2020-07-26 08:45] iamareebjamal commented on #7161
I understand, but you need to solve this yourself. If I give you the exact instructions, that'll be spoonfeeding and you'll not learn anything in the process. Deploy the server using docker-compose locally and document those steps

[2020-07-27 04:19] iamareebjamal opened #7164 "Saving session and speaker fails if created before addition of custom form"
If a speaker or session was created before addition of a required custom form, then it is impossible to send a PATCH request to edit them since new required field is not present in the request. So, custom form required checks must only be applied if either speaker or session is being created or custom form values are present in the PATCH request

[2020-07-27 04:45] iamareebjamal commented on #7164
In a PATCH request:

- If complex field values are present
  - Apply validation
- If complex field values are null or {}
  - Apply validation if previously there were complex field values assigned
- If complex field values are absent
  - Don't apply validation

[2020-07-27 10:57] Ranjit1312 commented on #7160
@iamareebjamal
can I work on this issue?

[2020-07-27 10:57] iamareebjamal commented on #7160
Go ahead

[2020-07-28 03:13] iamareebjamal commented on #7164
It is becoming more and more complicated just for the sake of allowing organizer to edit status.

I think it's better if we allow organizers to edit session as they see fit and apply normal validations for speakers

[2020-07-28 16:05] MaulikVarshney commented on #7161
Hi Sir, I have successfully set up the docker in my system. Whenever I try to run the command "docker-compose up", an error:

Couldn't find env files:  /path/.env
occurs. Do I need to change the code to run it locally?

[2020-07-28 16:36] iamareebjamal commented on #7161
You need to copy .env.example to .env

Like written in README

[2020-07-29 04:33] MaulikVarshney commented on #7161
Does it usually take huge time for the command 'docker-compose up' command to end or mine is taking very long on ubuntu terminal?

[2020-07-29 04:48] iamareebjamal commented on #7161
Depends on your internet connection. It shows you the progress about what it's doing

[2020-07-29 05:36] MaulikVarshney commented on #7161
![Screenshot from 2020-07-29 11-01-38](https://user-images.githubusercontent.com/46424707/88760778-5d0cca00-d18b-11ea-967f-15c0932caa02.png)
These processes keep on repeating. Am I on the right path?

[2020-07-29 06:48] iamareebjamal commented on #7161
It is running

[2020-07-29 17:21] MaulikVarshney commented on #7161
opev_pass as using as the password is ending in password authentication failed for user.

[2020-07-29 17:38] MaulikVarshney commented on #7161
![Screenshot from 2020-07-29 23-07-12](https://user-images.githubusercontent.com/46424707/88833698-4cdb0600-d1f0-11ea-8a95-7a104ab1c8c2.png)
Module 'sentry_sdk' is not found.

[2020-07-29 17:49] MaulikVarshney commented on #7161
DocType has been renamed to Document in newer versions.
Shall I update the code and change the DocType to Document or do anything else as DocType is not able to be imported from elasticsearch_dsl.

[2020-07-29 20:56] iamareebjamal commented on #7161
Remove elasticsearch code. It isn't being used

[2020-07-30 03:46] #7164 closed

[2020-07-30 12:08] MaulikVarshney commented on #7161
![Screenshot from 2020-07-30 17-36-58](https://user-images.githubusercontent.com/46424707/88920951-54032200-d28b-11ea-8d3d-dfecaf238f26.png)
Sir an Error 'Running outside of application context' is raising. How can I resolve this ishue?

[2020-07-30 12:16] iamareebjamal commented on #7161
That is strange. I recently set up the project and it didn't come up. I see you're not using virtual env, use that

[2020-07-30 12:34] Ranjit1312 commented on #7160
@iamareebjamal
https://github.com/fossasia/open-event-server/pull/7174 is my pull request.

[2020-07-30 16:47] MaulikVarshney commented on #7161
![Screenshot from 2020-07-30 22-14-32](https://user-images.githubusercontent.com/46424707/88950482-5462e380-d2b2-11ea-86be-88de3f41f132.png)
Even after changing to a virtual environment, same problem persist

[2020-07-30 17:06] iamareebjamal commented on #7161
If you installed requirements.txt, how was it missing qrcode dependency? Use pip and python, not pip3 and python3

[2020-07-30 19:33] MaulikVarshney commented on #7161
![Screenshot from 2020-07-31 01-01-59](https://user-images.githubusercontent.com/46424707/88966133-79168580-d2c9-11ea-9674-2b77a3da1589.png)
Sir I have even tried using  python create_db.py but the same error occurs.

[2020-07-31 03:16] iamareebjamal commented on #7161
We use python3.7

Project isn't compatible with 3.8

[2020-07-31 04:23] aj4ayushjain opened #7175 "Handle passwords with '#'"
**Handling password**
So this I encountered while setting up server locally on my machine. So if the  postgres password contains a '#' character inside the .env file specially
DATABASE_URL = postgresql://open_event_user:passwordwith#@localhost:5432/oevent
 then it fail to complete the step
$> Python3 create_db.py
and encounters an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2020-07-31 04:40] iamareebjamal commented on #7175
It is supported, you need to escape the # as in any other URL

[2020-07-31 17:54] aj4ayushjain commented on #7175
Sorry and Thanks, i wasn't aware about this @iamareebjamal .
Should I close this for now.

[2020-07-31 18:35] iamareebjamal commented on #7175
Yes

[2020-07-31 18:35] #7175 closed

[2020-08-01 03:21] progmatic-99 commented on #7161
Is this still open??
What does it mean by ```link in frontend```?

[2020-08-01 03:48] iamareebjamal commented on #7161
Link in frontend docs

[2020-08-01 05:20] progmatic-99 commented on #7161
do we have to create a separate issue in the frontend repo?

[2020-08-01 05:57] progmatic-99 commented on #7161
Link in frontend docs to  where ?
Can you please specify?

[2020-08-01 07:03] iamareebjamal commented on #7161
In frontend repo

[2020-08-01 08:25] prateekj117 commented on #7097
@Haider8 Looks like a known issue. This might help: https://github.com/psf/black/issues/395.

[2020-08-01 08:28] Haider8 commented on #7097
Yeah. The workaround could be, explicitly adding excluded files in pre-commit config.

[2020-08-01 08:31] prateekj117 commented on #7097
Not sure if we would call it a workaround. The behavior of `black` when processing through pre-commit is that it takes the files which are passed through the command line. I think you can find a good explanation in this answer: https://stackoverflow.com/a/61046953/9169348.

[2020-08-01 16:43] iamareebjamal commented on #6173
Not a good idea. Adds a lot of complexity

[2020-08-01 16:43] #6173 closed

[2020-08-02 07:26] progmatic-99 commented on #7161
I am building open-event-server using docker, after i run this command
```docker run web sh```
I get this error:
[code]

[2020-08-02 08:46] prateekj117 commented on #7094
@iamareebjamal I didn't face it locally. Can you maybe share between which exact commits/versions it happened? So that I can pinpoint better and try to reproduce it?

[2020-08-02 11:47] iamareebjamal commented on #7094
Then it should be fine. It failed in production for some reason

[2020-08-02 11:47] #7094 closed

[2020-08-02 12:19] iamareebjamal commented on #7161
You should use docker-compose, not individual docker command

[2020-08-04 03:20] #7016 closed

[2020-08-04 18:27] iamareebjamal opened #7185 "Session unlock not possible for organizers and admins"
Session unlock should be possible for organizers and admins, but not for normal speakers

[2020-08-04 18:59] #7185 closed

[2020-08-05 06:06] Ranjit1312 commented on #6467
@iamareebjamal :
Hi,
If this issue is till open, can I work on this ?

[2020-08-05 06:07] iamareebjamal commented on #6467
Yes

[2020-08-05 11:13] iamareebjamal opened #7187 "Stripe publishable key should be accessible to non-admin user"
The settings schema for non-admin user does not contain stripe publishable key and hence non-admin user cannot add stripe to its event.

https://api.eventyay.com/v1/settings should contain stripe publishable key

See #6277 as well

[2020-08-06 15:34] kootox opened #7191 "I cannot see/modify my event schedule"
**Describe the bug**
I cannot see/modify my event schedule due to error on fullcalendar.js (as it seems)

**To Reproduce**

1. Go to scheduler page on your event (on eventyay.com)
2. No calendar is viewable and stacktrace present in console

**Expected behavior**
Should have the calendar to see / modify event schedule

**Stacktrace**
Uncaught TypeError: Cannot read property 'footprint' of undefine

[2020-08-06 20:51] iamareebjamal commented on #7191
Hi, can you please paste the link of the event

[2020-08-07 05:36] kootox commented on #7191
The event scheduler is here : https://eventyay.com/events/16fa59c7/scheduler and event is here https://eventyay.com/e/16fa59c7

[2020-08-07 05:38] iamareebjamal commented on #7191
Thanks. Will check what's the issue

[2020-08-08 15:39] iamareebjamal opened #7193 "Deleted roles/invites in event are not handled correctly"
As most things with soft delete enabled, deleted invites/roles are not correctly handled/filtered. And there is little to no benefit in keeping soft deletion in these cases, so remove soft deletion for this

[2020-08-08 16:22] mansiag opened #7194 "Fix: Make the test_order creation time in test_humanize_helper timezone aware"
https://github.com/fossasia/open-event-server/blob/8612d914c6d49298211c2aaf4a4a4571f5113e87/tests/all/integration/api/helpers/test_humanize_helper.py#L10
Currently the creation time of the `test_order` object is timezone unaware, it should be timezone aware, as it is used in testing the functionality.

[2020-08-08 16:42] iamareebjamal opened #7195 "Session change notifications being sent to random users"
When session is accepted or rejected, the notification is saved for speaker ID instead of speaker user ID, so random people get notification about their session being accepted or rejected 🤦

[2020-08-08 18:00] #7195 closed

[2020-08-08 20:56] #7187 closed

[2020-08-10 17:23] maze-runnar commented on #7148
@snitin315 are you still on it or I can start with this?

[2020-08-10 17:24] snitin315 commented on #7148
You can go ahead with this.

[2020-08-11 10:58] sualko opened #7200 "Google Maps JavaScript API error: ApiNotActivatedMapError"
**Describe the bug**

I'm not able to add speaker details at the @nextcloud conference page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://eventyay.com/e/0917096d/cfs
2. Click on "Add speaker details"
3. Nothing happens

**Expected behavior**
I can add some speaker details.

**Stacktrace**

JS console after clicking on the "Add speaker details" button (I modified the tokens i

[2020-08-11 15:39] maze-runnar commented on #7148
@iamareebjamal I have added sendgrid API to Admin panel, but still not getting mail service -
![Screenshot from 2020-08-11 21-06-25](https://user-images.githubusercontent.com/56407566/89917856-f372ce00-dc16-11ea-80a1-b1f8224b4c3d.jpg)

Do I need to add some thing else too.

[2020-08-11 15:40] iamareebjamal commented on #7148
You need to run celery to receive mails

[2020-08-11 15:41] maze-runnar commented on #7148
ok

[2020-08-12 02:55] maze-runnar commented on #7148
@iamareebjamal I am getting error while trying to send an email after starting celery -
![Screenshot from 2020-08-12 08-23-21](https://user-images.githubusercontent.com/56407566/89969963-4c714f00-dc75-11ea-85e8-e5ebe7aa8c6a.png)

[2020-08-12 05:34] iamareebjamal commented on #7148
Sendgrid is rejecting the request.

[2020-08-12 12:34] Ranjit1312 commented on #6467
@iamareebjamal :

As per the latest update on: https://marshmallow-sqlalchemy.readthedocs.io/en/latest/

For the model Book relationship with model Author, there are changes required in the Schema of Author and Book as well.

Models:
class Author(Base):
    __tablename__ = "authors"
    id = sa.Column(sa.Integer, primary_key=True)
    name = sa.Column(sa.String, nullable=False)

    def __repr__(s

[2020-08-13 11:46] maze-runnar commented on #7148
@iamareebjamal I have not find solution of the following part of email template, should I create a PR for rest. Or if you please help me with this in getting individual tickets and types.
[code]

[2020-08-13 11:51] iamareebjamal commented on #7148
Create the PR and discuss it there

[2020-08-15 04:21] mishari opened #7212 "Users don't know they need to register / login before pressing "order""
After selecting ticket, not being able to press the "order" button feels like a bug. There's no way of knowing what one has to do to order

If registration is required, then the order box shouldn't be displayed, or there should be text under the box that says "please login before ordering"

[2020-08-15 07:12] maze-runnar commented on #7212
I think this can be handled in frontend.

[2020-08-15 08:58] letmerecall opened #7213 "Broken link to API description/blueprint"
**Describe the bug**

A link to local changes in API blueprint is broken in `README.md`.
I think the file referenced here got deleted in [this](https://github.com/fossasia/open-event-server/pull/6300) PR.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/fossasia/open-event-server#api-documentation
2. In first line, Click on [the description](https://github.com/fossasi

[2020-08-15 11:47] blossom2017 commented on #6862
@mirajhad  I noticed that there hasn't been any recent activity since a while now. Hence I have linked a PR. Hope it's okay.

[2020-08-15 17:34] iamareebjamal commented on #7213
Yes, it is generated using this command:

https://github.com/fossasia/open-event-server/blob/aa8fd3dfdb1c1067ee08a319aee6c63b5a4bb972/.circleci/config.yml#L73

[2020-08-15 17:40] iamareebjamal commented on #7212
![State-of-the-Source-_-eventyay-Google-Chrome-2020-08-15-23-07-00](https://user-images.githubusercontent.com/3874064/90318175-5d0f1700-df4c-11ea-9fd6-1c53c4d8cf36.gif)

I think you are able to click on order button and it shows that you need to login and once you do enter your email and password, it continues with the order process

[2020-08-16 00:31] mishari commented on #7212
@iamareebjamal the ticket total should update regardless of whether one has logged in or not.

[2020-08-16 00:38] iamareebjamal commented on #7212
It is updated regardless of a person being logged in or not, as evident in the GIF above

[2020-08-16 10:00] Ranjit1312 commented on #7213
@iamareebjamal  can I work on this issue ?

[2020-08-16 10:02] Ranjit1312 commented on #7193
@iamareebjamal

can I work on this issue ?

[2020-08-16 11:56] iamareebjamal commented on #7193
Go ahead

[2020-08-16 11:56] iamareebjamal commented on #7213
Go ahead

[2020-08-16 15:12] prateekj117 commented on #7055
@iamareebjamal What is the status of the new Orders API. Is it not integrated on Frontend?

[2020-08-16 15:17] iamareebjamal commented on #7055
Order complete isn't integrated because for now, it's working fine. PATCH request is still being used to edit attendees and order but it's not changed because it'll require heavy refactoring and may break something more. Security issues have been fixed so it's ok for now

[2020-08-16 15:19] iamareebjamal commented on #7055
When a new order is created, the attendees are created on server instead of on frontend, so it's ok for now

[2020-08-16 15:20] prateekj117 commented on #7105
@iamareebjamal This issue is good to go now, right?

[2020-08-16 15:21] iamareebjamal commented on #7105
No, Android apps haven't been updated yet

[2020-08-17 14:03] DiptoChakrabarty commented on #7161
Hey can I attempt this too , I think I  will be able to run it  and then update the docs

[2020-08-17 14:05] iamareebjamal commented on #7161
Go ahead

[2020-08-18 14:14] #6862 closed

[2020-08-20 17:48] blossom2017 opened #7220 "Wrong link generated for email verification during local open-event-frontend setup"
**Describe the bug**
I set up open-event-frontend locally and signed up. The email verification link sent to my email was not working and always resulted in 'Not Found'.  I signed up using the prod version and successfully verified my mail, however on setting the local server up again it still showed unverified user.
**To Reproduce**
Steps to reproduce the behavior:
Explained Above

**Expected beh

[2020-08-20 18:34] iamareebjamal commented on #7220
open-event-frontend.now.sh/verify?token=TOKEN will verify the token at production server, so it is wrong.

localhost:4200 should be the local server link

[2020-08-23 20:44] iamareebjamal commented on #4782
Solved already

[2020-08-23 20:44] #4782 closed

[2020-08-24 05:28] Ranjit1312 commented on #7193
@mansiag
You can work on the issue

[2020-08-26 10:32] #7193 closed

[2020-08-28 14:07] pranavjandu commented on #7194
Can I use pytz library for this ?

[2020-08-28 14:58] mansiag commented on #7194
Yes

[2020-08-29 20:13] iamareebjamal opened #7235 "Disconnected role invites and actual role"
There's a problem in permissions system. In dashboard, it shows role invites and in backend it uses UserEventRoles so if you edit a role in dashboard, it changes nothing in the backend. No idea why these 2 are different things but you are still a co-organizer in backend

[2020-08-29 20:14] iamareebjamal commented on #7235
Either backend should disallow editing role invites because it is confusing, or update actual roles when edited

[2020-08-30 12:27] progmatic-99 commented on #7213
Is this open?
Can I take this up??

[2020-08-30 12:28] snitin315 commented on #7213
@progmatic-99 yes.

[2020-08-30 12:52] prateekj117 commented on #6134
@iamareebjamal Is this issue still valid?

[2020-08-30 13:54] iamareebjamal commented on #6134
Letting it remain open till it's possible to create order via order endpoint

[2020-08-31 06:34] mansiag commented on #6134
@iamareebjamal for this issue, does the old order API need to be removed or this vulnerability of payments to be fixed in the old API?

[2020-08-31 08:00] iamareebjamal commented on #6134
Once Android apps use the new API, we'll remove the old API

[2020-09-01 09:31] mansiag commented on #7235
Can I work on this issue?

[2020-09-01 10:16] iamareebjamal commented on #7235
Go ahead. We have decided to remove the option of editing role invite

[2020-09-02 10:07] mansiag commented on #7235
And what about deleting role invite? Similar to editing, deleting accepted role-invite should either be reflected in UserEventRoles, or deletion should also not be allowed.

[2020-09-02 11:02] iamareebjamal commented on #7235
Deleting accepted role invite shouldn't be possible I think. Logically, an invite can only be deleted before it is accepted.

[2020-09-02 11:02] iamareebjamal commented on #7235
Unless there is some kind of unique constraint which disallows sending the invite again

[2020-09-02 12:25] mansiag commented on #7235
As of now, organizer can delete accepted role invite(although no email is being sent to the user, to inform about this deletion). So, I need to make changes so that it is not possible to delete accepted role invite.
But shouldn't there be functionality to allow organizers to delete any assigned role to other user, not using role-invites model, but other model(UserEventRoles)?

[2020-09-02 12:30] iamareebjamal commented on #7235
Yes

[2020-09-03 12:36] mansiag commented on #7235
As of now, anyone can get the details of a particular role_invite through its id. Is it alright that it is accessible to everyone?

[2020-09-03 12:58] iamareebjamal commented on #7235
Yes

[2020-09-03 14:04] #7213 closed

[2020-09-03 14:50] mariobehling commented on #6155
We are not sending the tickets anymore. Therefore closing the issue.

[2020-09-03 14:50] #6155 closed

[2020-09-03 14:51] mariobehling commented on #6419
Seems to be working now.

[2020-09-03 14:51] #6419 closed

[2020-09-04 16:26] ludwig2000 commented on #7160
Is it still Open?

[2020-09-05 12:25] progmatic-99 commented on #6953
Can i take this up?? Also, can you provide more info on how to approach this??

[2020-09-05 12:34] iamareebjamal commented on #6953
Pick one issue at a time and only those which you think you can solve

[2020-09-08 12:30] iamareebjamal opened #7252 "Previously set fields are not nullable in event"
The use_defaults decorator doesn't work as expected.

[2020-09-08 12:52] #7252 closed

[2020-09-10 06:16] iamareebjamal opened #7255 "Remove individual role links and add team link"
There are `/events/organizer` `/events/coorganizer` `/events/moderator` like APIs and even if they may be needed, they can be derived from a `/events/team` and a filter query

What's even worse that there are APIs like `/users/:id/organizer-event` `/users/:id/coorganizer-event` `/users/:id/moderator-event` and instead of getting all managed events using one link, the users page in frontend loads a

[2020-09-11 06:42] godslayer201 commented on #7161
Hey @iamareebjamal does this still require help? Will try to help out.

[2020-09-11 06:45] iamareebjamal commented on #7161
Last section needs to be modified still

[2020-09-11 07:28] godslayer201 commented on #7161
@iamareebjamal Will update and try to contribute.

[2020-09-13 07:10] #7005 closed

[2020-09-14 07:48] Rahul-3000 opened #7265 "New contributer"
Hey folk!!
I m Rahul Pawar B.Tech 2nd year student. I have tried to set up the environment but wasn't able to set it up/build it. Can anyone mentor me to setup local environment of development

[2020-09-14 08:07] iamareebjamal commented on #7265
Hi, please use gitter channel for dev support - https://gitter.im/fossasia/open-event-server

[2020-09-14 08:07] #7265 closed

[2020-09-14 08:29] Rahul-3000 commented on #7265
Hey!
I have send a message but nobody responded. Really sorry can you help me.

On Mon, Sep 14, 2020 at 1:37 PM Areeb Jamal <notifications@github.com>
wrote:

[2020-09-14 10:45] iamareebjamal commented on #7265
Hmm, you sent the message at 14:00 and posted this comment at 13:58

Besides, people help voluntarily in their own time. And especially when you specify your problem in the question itself. No one wants another indirection of asking what was the problem. Please read this https://jvns.ca/blog/good-questions/

[2020-09-15 07:41] pradeeptrain9 commented on #5498
im new canu assign it to me

[2020-09-15 07:48] pradeeptrain9 commented on #7160
i want to work on this issue can you assign me

[2020-09-18 13:56] max-keviv commented on #7255
@iamareebjamal  can i handle this

[2020-09-18 13:58] iamareebjamal commented on #7255
It's an advanced issue

[2020-09-19 08:53] mansiag opened #7278 "Feat: Allow User Verification through API request"
To add [this](https://github.com/fossasia/open-event-frontend/issues/5040) feature, changes need to be made at the server, to allow `is-verified` field to be changed through API request.

**Additional Context:**
I am willing to work on this issue

[2020-09-19 21:07] wanderrful commented on #6503
Found this while searching for `help-wanted` tags.

Please correct me if I'm wrong here, but doesn't Pytest prefer having all tests in one giant `tests/` folder? I don't think that the `conftest.py` file will auto-apply itself to all of the subfolders, and I don't think Pytest's CLI has an option for recursively discovering tests in sub-folders.  Maybe I just don't see the option.

In practice, I

[2020-09-19 22:38] iamareebjamal commented on #6503
That's not true. We already have pytest setup now, we just want existing classic python tests to be converted to pytest format. It supports nesting directories just fine and we are currently using pytest runner only

[2020-09-19 22:39] iamareebjamal commented on #6503
We are running the same command as written in README
https://github.com/fossasia/open-event-server/blob/98a7563f8e77043c1b7a467f68023c05da3713c3/.travis.yml#L32
https://travis-ci.com/github/fossasia/open-event-server/builds/185249206

[2020-09-19 22:55] wanderrful commented on #6503
Maybe I just missed something as I was following the directions for getting setup, my mistake

[2020-09-23 10:07] #7278 closed

[2020-09-24 17:11] dependabot-preview[bot] opened #7285 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/fossasia) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/48505768).

[2020-09-24 18:12] #7285 closed

[2020-09-25 18:34] iamareebjamal opened #7292 "paid_via, payment mode switch from v1"
For some reason, when new version was created, a behaviour from legacy site was changed. paid_via, payment_mode were switched with each other. And this is causing inconsistencies in backend and frontend. - [ ] Discuss and standardize the usage of these columns,
- [ ] create a migration to switch between the two to make it consistent,
- [ ] and fix server and frontend code to use correct fields whe

[2020-09-26 12:39] mariobehling opened #8487 "Email Templates: Standardize Email Templates"
We are following some different formats for email templates. Standardize email templates where needed.

Ressources, e.g.

- https://github.com/wildbit/postmark-templates
- https://postmarkapp.com/transactional-email-templates

[2020-09-28 07:13] iamareebjamal opened #7297 "Schedule action to cache upcoming events with criteria"
Criteria for upcoming events is complex and cannot (and should not) run on every query of API on frontend, so there should be a 2-3 hour schedule action which runs the query and caches the result so we can readily return the cached results.

See this for remaining criteria to be implemented and used: https://github.com/fossasia/open-event-frontend/issues/4697

[2020-09-28 18:14] Devansh3712 commented on #6971
@mariobehling can i work on this issue?

[2020-09-29 00:03] iamareebjamal commented on #6971
Take up one issue at a time

[2020-09-30 21:48] iamareebjamal commented on #6872
Finally found the problem

[2020-09-30 21:59] #6872 closed

[2020-10-01 03:01] satya7289 commented on #6954
I wanted to work on it. @iamareebjamal

[2020-10-01 07:00] HADES-01 commented on #7071
@iamareebjamal Is it still open? I would  love to work this issue.

[2020-10-01 08:23] vj-codes opened #7309 "Update all messages for hindi language"
**Is your feature request related to a problem? Please describe.**
Currently in [this file](https://github.com/fossasia/open-event-server/blob/development/app/translations/hi/LC_MESSAGES/messages.po) only some messages are translated from hindi to english .

**Describe the solution you'd like**
Update all translations and remove errors if required

Note: I would like to work on this , if it's appr

[2020-10-01 08:26] vj-codes commented on #7309
@mariobehling hey can you please validate or approve this issue and will this be considered as a `Codehea`t issue? Thanks!

[2020-10-01 09:04] mariobehling commented on #7309
Thank you! It would be great if you could work on this. In codeheat we focus on existing issues and issues opened by maintainers though. Thank you.

[2020-10-01 09:09] iamareebjamal commented on #7309
This is outdated and we have translations in frontend repo now

[2020-10-01 18:01] sp35 commented on #7292
@iamareebjamal Going by the example it makes sense to see `payment_mode` as `card` and `paid_via` as `stripe`; standardizing `paid_via` as the provider and `payment_mode` as the method.

[2020-10-01 18:12] sp35 commented on #7292
https://github.com/fossasia/open-event-server/blob/2a55a5ff1a94d5ef19d9f1249c39d99080128b86/app/api/schema/event_invoices.py#L30-L36
https://github.com/fossasia/open-event-server/blob/2a55a5ff1a94d5ef19d9f1249c39d99080128b86/app/api/schema/orders.py#L64-L81

[2020-10-01 18:31] vj-codes commented on #7148
@mariobehling @iamareebjamal I would like to work on this , anything more that I should know?

[2020-10-01 23:45] iamareebjamal commented on #7292
Yes, that makes sense but I'd like to discuss this in meeting once as well. I forgot last time. However,  if you want to work on it, you can start because the above reason looks the most logical. If we need to switch, it won't take much time

[2020-10-01 23:49] iamareebjamal commented on #7148
@vj-codes Please take a look at the linked PR. Most of the work has been done. You can continue on that

[2020-10-02 04:19] satya7289 commented on #7105
Can I work on this issue @iamareebjamal @mariobehling

[2020-10-03 06:36] integral-rip commented on #6377
hey, can i work on it

[2020-10-03 09:08] iamareebjamal commented on #6377
Not worth it as some of the warnings are deliberate

[2020-10-03 09:08] #6377 closed

[2020-10-04 04:55] hongquan opened #7319 "Use Poetry to manage dependency"
**Is your feature request related to a problem? Please describe.**

Managing packages with requirements.txt is too simple. For example when we want to upgrade packages, we want the packages are upgrade with newest version but still stay compatible with each other. Using requirements.txt means that we have to manually choose and try version for each packages, which is tiresome.

**Describe the solu

[2020-10-04 08:03] hongquan opened #7321 "Idea to modernize the technological stack"
- [ ] Use Poetry to manage dependency
- [ ] Use [Dynaconf](https://dynaconf.com/) to divide and load settings by environment.
- [ ] Switch to an ASGI framework.

The reason of ASGI is:
- We seems to support async communication (SocketIO), but Flask is synchronous and is not actively update.
- A spec for async-friendly Python web framework has been introduced for a while: ASGI. It is so widely supp

[2020-10-04 10:18] iamareebjamal commented on #7321
SocketIO isn't working and removed from the system since v2. We run on eventlet worker to make WSGI somewhat asynchronous. I'm afraid ASGI won't be possible in foreseeable future because everything from ORM to HTTP layer in the project is synchronous. Even if Django has support for ASGI views, they don't have support for ASGI ORM and I don't think they will without breaking changes. Having async O

[2020-10-04 12:18] prakhargurunani commented on #7319
@hongquan I have already implemented this previously in an app. I am working on it and will submit a PR soon.

[2020-10-04 13:25] hongquan commented on #7321
I am aware of lacking async ORM, but the current stack of Flask + SQAlchemy is not better. At least in ASGI, we can convert non-ORM parts to true async, still better than current stack where every things are still synchronous.

Another things about SQLAlchemy: SQLAlchemy ORM is not async-ready, but SQLAlchemy Core is. Actually, SQLAlchemy Core is not related with "sync or async", because it is jus

[2020-10-04 14:13] hongquan commented on #7321
Because we no longer use SocketIO, let's skip the ASGI idea.

[2020-10-04 14:54] hongquan commented on #7319
@prakhargurunani Thanks. Let's do it.

[2020-10-06 00:16] ShreehariVaasishta commented on #7321
FYI FastAPI can be used. It seems promising.

[2020-10-06 00:36] iamareebjamal commented on #7321
No, it can't be. Read the comment again. It'll take us months to migrate. There is no compatibility between ORM or views in FastAPI. It'll literally be a rewrite, which we don't want to do. There are much more important things to handle than rewriting the entire server.

[2020-10-06 04:46] ShreehariVaasishta commented on #7321
Okay, got it.

[2020-10-06 17:00] joy2306 commented on #7160
is it still open?

[2020-10-06 22:27] #7097 closed

[2020-10-07 05:32] bellaphan opened #7339 "Unable to proceed with payments on Paypal"
When I try to make a payment using Paypal and want to proceed to checkout, then this occur

<img width="1417" alt="Screen Shot 2020-10-07 at 12 07 38 am" src="https://user-images.githubusercontent.com/50802607/95236841-a8012880-0831-11eb-9723-bba297bdeed4.png">

<img width="1417" alt="Screen Shot 2020-10-07 at 12 07 10 am" src="https://user-images.githubusercontent.com/50802607/95236829-a5063800-0

[2020-10-07 05:51] satya7289 commented on #6954
@iamareebjamal please let me know, what's should return from the server if it is deleted.

[2020-10-07 05:54] iamareebjamal commented on #6954
I'm not sure if this is an issue now. Definitely not high priority. Someone will need to reproduce it and make sure it's still an issue

[2020-10-07 10:06] iamareebjamal commented on #7339
Keeping the conversation here to not divide discussion - https://github.com/fossasia/open-event-frontend/issues/5258

[2020-10-07 10:06] #7339 closed

[2020-10-09 11:05] iamareebjamal opened #7343 "User can see draft events"
Like event list API, draft events should only be visible to the admins or organizers. But, right now, draft events can be seen by anyone with event identifier. Event detail API should behave similar to event list API.

- [ ] Fix the bug
- [ ] Add the test

[2020-10-10 14:20] Aaryan-kapur commented on #7161
Hey!
Would love to contribute to this in any matter possible. @iamareebjamal @godslayer201 @DiptoChakrabarty  are you guys still working on this? or **is it open to take up?**

[2020-10-11 02:40] iamareebjamal commented on #7161
Open

[2020-10-13 19:20] Aaryan-kapur commented on #7161
Thank you so much
could you assign me please? @iamareebjamal

[2020-10-13 19:20] iamareebjamal commented on #7161
Please send a PR

[2020-10-15 04:03] AkshatSaraswat03 commented on #7160
Hey is this issue still open? I would like to work on it.

[2020-10-16 12:34] namanjain007 opened #7362 "Confirmation mail redirecting error"
A mail is successfully sent to the email but after clicking to the redirect link, Token not found error is popping up !

[2020-10-16 12:37] namanjain007 commented on #7343
can I try to work upon it ?

[2020-10-16 17:18] iamareebjamal commented on #7362
Please use gitter for support. Paste the link there

[2020-10-16 17:18] #7362 closed

[2020-10-16 17:18] iamareebjamal commented on #7343
Go ahead

[2020-10-16 19:04] iamareebjamal opened #7363 "User can see pending sessions"
Pending sessions should only be visible to the admins or organizers or the users who created them. But, right now, they can be seen by anyone in either list or detail view.

- [ ] Fix the bug
- [ ] Add the test

[2020-10-19 03:24] Akshat1Nar commented on #7363
I would like to contribute,please help me get started. @iamareebjamal

[2020-10-19 19:40] mariobehling opened #7366 "Substitute Google fonts and MaxCDN Bootstrap with local version"
Please include Google fonts and Bootstrap on the local server instead of downloading it from CDN to improve the privacy of user.

[2020-10-19 20:13] iamareebjamal commented on #7366
@mariobehling This for the doc pages of https://api.eventyay.com I presume? The link os opened once a month by no other person than a developer. The effort will definitely be more than benefit in this case. We are not using a specialized bundler like frontend here. I can safely say that no user is impacted by this in regards of privacy

[2020-10-20 09:32] mariobehling commented on #7366
Ok, thanks for adding the details. Just keep it without priority.

[2020-10-20 22:45] #7343 closed

[2020-10-22 05:41] Aayush-hub commented on #7148
@mariobehling I want to work on it!

[2020-10-22 06:46] Aayush-hub commented on #6717
Can I take this issue? @edenyay @mariobehling

[2020-10-23 04:23] BLasan commented on #7055
@iamareebjamal Is this still opened?

[2020-10-23 08:39] iamareebjamal commented on #7055
Green means open

[2020-10-27 03:19] DiptoChakrabarty commented on #6467
Hey would like to contribute to this

[2020-10-28 19:57] sansyrox opened #7385 "PARSE_QSL issue in DB initialisation"
**Describe the bug**
When using the commands in a `python3.8` venv:
1. `python3 manage.py db stamp head`
2. `python3 create_db.py`

 I get the following error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a python3.8 venv
2. Use the following commands:
 - `python3 manage.py db stamp head`
 - `python3 create_db.py`

**Expected behavior**
It should work without this issue

**S

[2020-10-28 21:00] iamareebjamal commented on #7385
https://github.com/fossasia/open-event-server/blob/development/docs/installation/local.md#for-debianubuntu

[2020-10-28 21:01] #7385 closed

[2020-10-30 00:54] iamareebjamal opened #7390 "Anonymous user can access event attendees"
The permission logic seems to consider the case of logged in user and unauthenticated user but because of no tests and wrong logic, it allows unauthenticated users to view event attendees

[2020-10-30 12:33] sravani2415 commented on #7148
@mariobehling I want to work on this can anyone explain me about this please

[2020-10-30 12:35] sravani2415 commented on #6806
can i work on this issue

[2020-10-30 12:43] sravani2415 commented on #6243
can I work on this ?

[2020-10-30 15:30] iamareebjamal commented on #6243
Take up one issue at a time

[2020-10-30 20:37] iamareebjamal opened #7396 "Ticket Holders cannot access non-buyer tickets/orders"
If a ticket is bought by user A which contains emails of user B, user B is a valid ticket holder but still can neither see tickets in `My Tickets` section nor access the order endpoint to download the PDF

[2020-10-30 20:46] iamareebjamal opened #7397 "Ticket PDF should exist for each attendee"
Ticket PDF is currently associated with an order which should instead be associated with an attendee as each attendee should have a ticket

[2020-10-30 20:48] #7396 closed

[2020-10-31 06:40] codedsun commented on #7397
Ticket PDF if associated with an attendee, now for 2 events and same attendee how we will map the 2pdf and 1attendee? @iamareebjamal

[2020-10-31 08:41] codedsun commented on #7397
Taking this up!

[2020-10-31 09:03] codedsun commented on #7397
@iamareebjamal - The ticket holder has the column `pdf_url` which holds the value of the Ticket PDF. Can you explain me more here?

[2020-10-31 13:51] iamareebjamal commented on #7397
There is a single endpoint to download tickets for an order - https://github.com/fossasia/open-event-server/blob/47eb8e2adb18fc4b31ca8ea6c68f8b45ba36328a/app/api/custom/orders.py#L35-L38

This means I cannot download it for individual attendees

[2020-11-01 19:39] iamareebjamal commented on #7401
Duplicate of #6765

[2020-11-01 19:39] #7401 closed

[2020-11-01 21:30] iamareebjamal opened #7402 "Allow user to view their own event's invoices"
Currently, users can view their account's invoices `/users/6/event-invoices`, but not able to see their event's invoices `/events/34/event-invoices`. Even though it is the same data. It is only possible for admin to do this. Allow users to access event invoice API for an event

[2020-11-02 03:20] #7390 closed

[2020-11-02 18:17] iamareebjamal opened #7405 "Make emails translatable"
EMails are defined in https://github.com/fossasia/open-event-server/blob/development/app/api/helpers/system_mails.py

They should be translatable and extracted in the POT files

[2020-11-03 15:58] #7402 closed

[2020-11-04 00:36] iamareebjamal opened #7412 "Fix order complete and email sending logic"
The order complete logic is duplicated in 5 places and really really messed up. It is impossible to figure out what'll happen when with subtle differences. This is the reason why attachments to users were not working in the first place.

Fix and deduplicate the logic once and for all

[2020-11-04 11:53] sarvangjain commented on #7405
My team wants to work on this issue.

[2020-11-04 16:44] iamareebjamal commented on #7405
Steps:

1. Extract emails from https://github.com/fossasia/open-event-server/blob/development/app/api/helpers/system_mails.py to email templates here https://github.com/fossasia/open-event-server/tree/development/app/templates/email
2. Change the syntax to Jinja 2

https://github.com/fossasia/open-event-server/blob/a6c2e2c26314138afa9a7857a6951892d6100ddb/app/api/helpers/system_mails.py#L240-L245

[2020-11-04 16:45] iamareebjamal commented on #7405
@mariobehling As the steps are quite involved, can we first cherry-pick a few emails from https://github.com/fossasia/open-event-server/blob/development/app/api/helpers/system_mails.py to be converted and translated first?

[2020-11-04 16:56] vedant-jam008 commented on #7405
I am starting with open source, so would you recommend me solving this issue

[2020-11-04 18:11] mariobehling commented on #7405
Yes, agree. Could we do these emails first:
* Welcome
* Ticket Email
* Password Reset

[2020-11-05 05:42] codedsun commented on #7405
@sarvangjain - Are you working on this?

[2020-11-05 05:48] sarvangjain commented on #7405
@codedsun - I'd love to. But I could really use some guidance.

[2020-11-05 05:59] codedsun commented on #7405
@sarvangjain - You have commented on various task that you are working on it. If you are not working on any other task then please take this task and mmention that you are working on it. Also, the steps are mentioned here on how to complete the task. please have a look

[2020-11-05 07:03] codedsun commented on #7405
@sarvangjain ? taking this

[2020-11-05 07:39] sarvangjain commented on #7405
Unfortunately, I am unable to understand this properly. I'd work on some other issue
Sorry to bother you

[2020-11-05 08:11] imrahul361 commented on #6463
Is anyone working on this issue?

[2020-11-05 08:13] imrahul361 commented on #6471
Is this issue available to work on? @mariobehling @iamareebjamal

[2020-11-05 08:28] iamareebjamal commented on #6463
Considering it has been 6 months, no

[2020-11-05 08:29] iamareebjamal commented on #6471
Green means open

[2020-11-05 15:27] codedsun commented on #7405
Taking this up!

[2020-11-05 16:50] Siddhant-K-code commented on #7405
@codedsun i would like to work on this, but i also some to help to resolve this issue.

[2020-11-06 09:00] #7148 closed

[2020-11-06 09:11] #7412 closed

[2020-11-07 06:50] manakwadhwa2002 commented on #7405
@codedsun I would like to work with you on this issue. Can you please take me on this ?

[2020-11-07 07:03] manakwadhwa2002 commented on #6956
@mariobehling I would like to work on this issue, should I start the work in following steps:

1. Detect the language user is using to signup.
2. Send that language as a language that will be used in email.
3. Push the email in same given language.

[2020-11-07 07:35] iamareebjamal commented on #6956
Duplicate of #7405

[2020-11-07 07:35] #6956 closed

[2020-11-08 12:36] iamareebjamal commented on #7405
Reopening for more emails

[2020-11-08 12:43] codedsun commented on #7405
@iamareebjamal - Will take this up for more emails

[2020-11-08 12:44] iamareebjamal commented on #7405
Work on other issues for now

[2020-11-08 14:34] Shiwali735 commented on #7161
Hello! is it open to take up? i wanna work on this.

[2020-11-08 14:36] Shiwali735 commented on #7160
i wanna work on this issue,  can you assign me please?

[2020-11-08 14:43] iamareebjamal commented on #7161
Green means open

[2020-11-08 15:46] Shiwali735 commented on #7161
Okay!

[2020-11-09 22:27] iamareebjamal commented on #5858
Implemented already

[2020-11-09 22:27] #5858 closed

[2020-11-09 22:29] iamareebjamal opened #7423 "Prevent order from being deleted"
An order should not be deleted. If need be, it can be cancelled. Currently, our server does not handle the logic or soft deleted orders correctly.

[2020-11-09 22:32] iamareebjamal opened #7424 "Return dummy user for deleted ones except for admin user endpoint"
Organizers/Admins can access user info such as for attendees. In cases a user deletes its account, they can still view their name and email and such. Please return a dummy user for such cases except on the admin page which shows deleted users.

Dummy user's name can be 'Deleted User' and email 'deleted.account@eventyay'

[2020-11-11 04:20] sentry-fossasia[bot] opened #7428 "EncodeError: Object of type User is not JSON serializable"
Sentry Issue: [EVENTYAY-SERVER-P](https://sentry.fossasia.org/organizations/eventyay/issues/225/?referrer=github_integration)

[code]

[2020-11-11 04:22] iamareebjamal commented on #7428
@codedsun When you changed from send_email_with_action to send_email, you didn't change user to user.email

[2020-11-11 04:26] iamareebjamal opened #7430 "Test email is being sent"
Using mail recorder, test that email is being sent and to a particular user

Test for user registration, order confirmation and password reset first and expand to more emails

[2020-11-11 04:33] #7428 closed

[2020-11-11 04:34] iamareebjamal opened #7431 "Test code which was fixed in recent merges"
To ensure it keeps working in the future:

- [ ] Order invoice and ticket PDF download https://github.com/fossasia/open-event-server/pull/7426
- [ ] Ticket deletion prevention https://github.com/fossasia/open-event-server/pull/7392
- [x] Direct ICS export https://github.com/fossasia/open-event-server/pull/7414
- [ ] Expand order access to ticket holders #7395
- [ ] Only prevent fulfilled or pendin

[2020-11-12 14:26] iamareebjamal opened #7438 "Change email and PDF datetimes to event timezone"
They are currently shown in server timezone

[2020-11-13 18:09] madhur1846 commented on #7438
Can you elaborate more please?

[2020-11-14 05:44] iamareebjamal commented on #6302
API Is now stable, so removing high priority

[2020-11-14 05:49] iamareebjamal commented on #5529
I have implemented it in frontend already in an efficient way https://github.com/fossasia/open-event-frontend/pull/4848 https://github.com/fossasia/open-event-frontend/pull/5171

[2020-11-14 05:49] #5529 closed

[2020-11-14 05:49] iamareebjamal commented on #6134
API fixed so removing high priority

[2020-11-14 09:02] mariobehling commented on #7397
To clarify: Feature-wise we need both a) a way to download all tickets in an order in one PDF and b) a way to download each ticket and share access of different tickets within an order with the (intended) ticket holder.

Who has access to tickets?
1. The person who has made the order has access to all tickets of an order.
2. Different tickets within an order can be bought for different people. Eac

[2020-11-14 09:14] mariobehling commented on #7397
Other questions that need to be handled in subsequent issues (this is getting rather complex permission-wise):
* Who has access to the order invoice? -> Only the person ordering the tickets has access. Other people should be able to see the button "invoice" on their complete ticket/order page, but when they click on it, they should see a message "Only the account that made the order is able to acc

[2020-11-16 03:45] iamareebjamal commented on #7131
This was fixed in multiple PRs and now we're using gevent instead of eventlet 7446

[2020-11-16 03:46] #7131 closed

[2020-11-16 03:47] iamareebjamal commented on #6832
Working correctly

[2020-11-16 03:47] #6832 closed

[2020-11-16 03:48] iamareebjamal commented on #6820
Fixed in reimplementation

[2020-11-16 03:48] #6820 closed

[2020-11-16 05:36] codedsun commented on #7428
@iamareebjamal - This was handelled inside the function

https://github.com/fossasia/open-event-server/blob/b56f9c9504b009081273aab94e56541e6164a5f0/app/api/helpers/mail.py#L62-L64

[2020-11-16 05:40] iamareebjamal commented on #7428
Look at the date of this change

[2020-11-16 07:53] codedsun commented on #7438
Do they also need to be changed in csv files? @iamareebjamal

[2020-11-16 07:58] iamareebjamal commented on #7438
That can be handled in another PR

[2020-11-16 18:56] rajdesai24 commented on #7423
can I take this?

[2020-11-16 19:22] rajdesai24 commented on #7424
can I take this?

[2020-11-17 00:54] iamareebjamal commented on #7424
Take one issue at a time

[2020-11-17 20:04] rajdesai24 commented on #7424
where do you suggest I should begin?

[2020-11-18 15:08] #7438 closed

[2020-11-19 01:08] utkarsh2787 commented on #6396
i am a newbie...can i get the chance and assistance on how to contribute

[2020-11-19 23:14] Xx-Ashutosh-xX commented on #7431
@iamareebjamal This would be my first issue & I think I would be able to do it, can you assign me to it.

[2020-11-20 03:01] iamareebjamal commented on #7431
We don't assign external contributors
. Please send a PR

[2020-11-20 06:31] amansohal8654 commented on #7430
hello, I would like to work on this issue. could you please guide me

[2020-11-20 14:46] PawanVerma1337 commented on #7424
@rajdesai24 are you working on this issue ?
If not then can i work on this issue ?
@iamareebjamal

[2020-11-21 14:02] codedsun commented on #7423
wanted to ask, that order iss a soft deleted model. So when delete action is performed, the deleted at field is updated.

https://github.com/fossasia/open-event-server/blob/4c8922be1282ce694d5d0364e8fe58b50031d9c4/app/api/orders.py#L456

So, now it shall be marked as cancelled if delete action is performed, also should deleted_at field be updated or not?

[2020-11-21 14:07] iamareebjamal commented on #7423
Soft deletion should be removed, all orders which have deleted_at set should be actually deleted. And DELETE endpoint should not be allowed, once it'll be removed, server will throw 405 errors when someone tries to delete a ticket

[2020-11-21 14:14] codedsun commented on #7423
@iamareebjamal - If the DELETE endpoint is not allowed, then how an order will be deleted?

[2020-11-21 15:20] iamareebjamal commented on #7423
Migration

[2020-11-22 11:09] #7423 closed

[2020-11-24 09:30] saif007sm commented on #6806
Can I work on this issue

[2020-11-25 14:13] ANIKET502 commented on #7430
Hi i wanna do work on this issue please assign it to me.

[2020-11-25 14:15] ANIKET502 commented on #7297
Hi i wanna do work on this issue please assign it to me. Please notice this point that i came first on this issue so please do assign it to me to work.

[2020-11-25 14:15] ANIKET502 commented on #7014
Hi i wanna do work on this issue please assign it to me. Please notice this point that i came first on this issue so please do assign it to me to work.

[2020-11-25 14:21] iamareebjamal commented on #7014
We don't assign external contributors. Please take one issue at a time

[2020-11-26 10:47] rajdesai24 commented on #7424
@PawanVerma1337  I actually didn't get an update, maybe we can both take it up if you want

[2020-11-28 05:19] daretobedifferent18 opened #7474 "Handle the maxQuantity being negative"
**Describe the bug**

Presently maxQuantity for discount codes is 100000.
Handle the maxQuantity being negative, i.e. -1
If it is negative, server should not limit the discount code count.

[2020-11-28 06:12] satishhhh commented on #7474
@daretobedifferent18 i would like to work on this issue
you mean that if -1 is the quantity it should not limit the discount count but now it is limiting

[2020-11-28 09:50] codedsun opened #7476 "order.user should not be available to the ticket holder"
**Describe the bug**
order.user should not be available to the ticket holder and be only available when the holder is ticket purchaser

Steps:
 - [ ] Remove the user relation when holder is not purchaser
 - [ ] Make the changes in frontend also

[2020-11-28 09:59] #7397 closed

[2020-11-29 05:28] daretobedifferent18 commented on #7474
Pls refer [fossaisa/open-event-frontend](https://github.com/fossasia/open-event-frontend/pull/5758)

[2020-11-29 18:27] parmeshwar1807 commented on #7476
I wanna take up this issue. Assign me

[2020-12-01 15:48] HimanshunVIDIA commented on #7424
can I work on this issue I really want to work on it

[2020-12-01 15:50] HimanshunVIDIA commented on #7297
I want work on this issue please assign this issue to me

[2020-12-02 14:10] iamareebjamal opened #7479 "Organizer and admin should be able to see ticket holders and PDF"
After recent changes, only people who bought the ticket can see that

[2020-12-02 21:25] #7479 closed

[2020-12-03 18:37] sentry-fossasia[bot] opened #7486 "AttributeError: 'NoneType' object has no attribute 'state'"
Sentry Issue: [EVENTYAY-SERVER-N](https://sentry.fossasia.org/organizations/eventyay/issues/216/?referrer=github_integration)

[code]

[2020-12-03 18:39] iamareebjamal commented on #7486
When an event is not found, the argument in after_get is None, which is not handled correctly

[2020-12-04 04:10] ANIKET502 commented on #7486
can i do work on this issue please do assign this to me

[2020-12-04 04:11] b-thebest commented on #7160
Is it still open? I want to work on this

[2020-12-04 04:12] b-thebest commented on #6595
Can I work on this issue?

[2020-12-04 04:13] b-thebest commented on #6384
Can I work on this?

[2020-12-04 04:14] b-thebest commented on #7486
Can I work on this issue?

[2020-12-04 04:15] b-thebest commented on #7476
I want to work on this, Could you assign it to me

[2020-12-04 04:15] b-thebest commented on #7474
I want to work on this issue, Could you please assign me

[2020-12-04 07:27] Vineet955 commented on #7160
@iamareebjamal  Can I work on this issue?

[2020-12-04 07:30] Vineet955 commented on #6503
@iamareebjamal  Can I try on this issue?

[2020-12-04 11:05] iamareebjamal commented on #6503
Yes

[2020-12-04 11:15] iamareebjamal commented on #7474
We don't assign external contributors, please send a PR

[2020-12-04 11:16] iamareebjamal commented on #6384
Don't spam. Pick one issue and work on it

[2020-12-04 11:18] #6595 closed

[2020-12-04 12:13] #7486 closed

[2020-12-05 02:51] Dhriti-Roy commented on #3945
May I work on this issue

[2020-12-05 10:16] iamareebjamal commented on #3945
Yes

[2020-12-06 01:47] imSanko commented on #7476
I wanna work on to this project can you assign it to me.

[2020-12-06 03:16] imSanko commented on #7430
I wanna take this issue and word on it kindly assign it to me

[2020-12-06 08:32] iamareebjamal commented on #7430
We don't assign issues q

[2020-12-07 04:27] b-thebest commented on #7474
Hello @iamareebjamal I have made one pull request. Could you please review it. Please correct me / suggest me if I am wrong

[2020-12-07 04:43] b-thebest commented on #7160
@iamareebjamal I have observed that in local installation it is stated that source code should be there before running given command. In generic also, we need source code or not? because its not mentioned there. One more question is that, local contains different steps for macOS users, so in case of generic installation we should add steps for mac user also?

[2020-12-09 16:13] Vaishnavi-cyber-blip commented on #7363
I would like to work on this issue,  @iamareebjamal please help me get started.

[2020-12-10 03:50] rishabh129 commented on #7160
@iamareebjamal can i work on this?

[2020-12-13 09:24] hari193023 commented on #6463
can I work on this issue?

[2020-12-17 04:50] Shakil-786 commented on #7160
is it still open? I want to work on it

[2020-12-17 05:00] Shakil-786 commented on #6463
can I work on this?

[2020-12-18 18:33] SaranshMaheshwari commented on #7255
Can I work on this issue ?

[2020-12-19 23:04] Creatoon opened #7521 "User registration email should contain "Login ID" not just "Login"
**Describe the bug**
User registration email is missing "ID" word after "login"

To Reproduce
Steps to reproduce the behavior:
    1. Go to https://eventyay.com/
    2. Register
    3. Check the welcome email , After this line "Your account has been created on Open Event. Congratulations!"
    4. "Your Login is"

Expected behavior
"Your Login Id is"

Screenshots
![Screenshot_2020-12-20 (1) assacds

[2020-12-19 23:05] Creatoon commented on #7521
@mariobehling  if it's a mistake , I want to fix this.

[2020-12-20 12:44] sneha281 commented on #7476
Please assign it to me sir @codedsun.I am a Python devloper.

[2020-12-20 12:44] sneha281 commented on #7476
Please assign it to me @codedsun

[2020-12-20 13:07] sneha281 commented on #7430
Hi , I want to work on this , please assign me @iamareebjamal

[2020-12-20 19:44] iamareebjamal commented on #7430
Read the comment just above yours please

[2020-12-21 12:58] MohitPatni0731 commented on #7521
Can I work on this issue.

[2020-12-21 12:59] MohitPatni0731 commented on #7431
Can I work on this issue

[2020-12-21 12:59] MohitPatni0731 commented on #7220
Can I work on this issue

[2020-12-21 13:11] Creatoon commented on #7521
@MohitPatni0731 Actually I have created an PR on this issue,  please find another issues.

[2020-12-21 13:13] MohitPatni0731 commented on #7521
Np @Creatoon
Thanks for letting me know

[2020-12-21 13:43] HarryHuy commented on #7319
@prakhargurunani @hongquan How is this going?

[2020-12-21 13:47] prakhargurunani commented on #7319
@HarryHuy I had got busy with my job and completely forgot about this issue. You can take this.

[2020-12-21 13:57] HarryHuy commented on #7319
Thanks for your quickly response @prakhargurunani,  I take it from now.

[2020-12-26 07:29] Atri22 commented on #7476
please assign it to me

[2020-12-26 12:29] codedsun commented on #7476
You guys can take up the issue if someone has claimed that he/she may work on the issue but no PR is submitted till 5-6 days. their is no need of assigning the issue to anyone.

[2020-12-26 14:57] Atri22 commented on #7476
Sir when I click on the fork button it say that "You don't have the permission to fork to these organization" and when I try to download the code via git these appears.
![Screenshot (34)](https://user-images.githubusercontent.com/72877136/103153729-a011ae80-47b8-11eb-85ed-0e903f39d1dd.png)
![Screenshot (35)](https://user-images.githubusercontent.com/72877136/103153731-a1db7200-47b8-11eb-8f99-4a3d5

[2020-12-26 15:01] Atri22 commented on #7476
Sorry to disturb you. The problem has been solved

[2020-12-26 17:32] Atri22 commented on #7476
No sir this problem is not solved. I was having problem in forking (that is solved). I am still having issues in cloning the code.
some screenshots.
![Screenshot (37)](https://user-images.githubusercontent.com/72877136/103156416-59c74a00-47ce-11eb-94cc-1be2d9110d18.png)
![Screenshot (38)](https://user-images.githubusercontent.com/72877136/103156418-5df36780-47ce-11eb-9e80-7ee57e738884.png)
please

[2020-12-26 17:42] codedsun commented on #7476
@Atri22 - I would request you to clean the directory containing the code and clone the project again.

[2020-12-26 19:25] mariobehling opened #7538 "Implement Organizer API with list of EventIDs of Organizers"
Here is a question of a user about REST APIs which we also need for the organizer feature:

Is it possible to use this REST interface to query all upcoming events of an organizer? Specifically, that means, can I query all upcoming published events of a user with a web service request and receive the EventIDs? I can then use the EventIDs for the individual queries of the specific event data.

[2020-12-27 00:29] iamareebjamal commented on #7538
Once group feature is implemented, yes. Currently, the events of a user are private to them

[2020-12-27 00:30] iamareebjamal commented on #7476
Use Linux or WSL

[2020-12-27 18:09] Bhavik-Ardeshna commented on #7430
@iamareebjamal can you plz elaborate issue .
I'm not getting it properly..

[2020-12-27 18:28] Atri22 commented on #7476
@codedshun -  I cleaned the directory containing the code but nothing happened, I even created a new directory in the D drive for cloning the code but still the same problem is arising. I tried to clone codes of some other projects to see if there is something wrong with my pc, but other projects were cloned properly. Please help me solve the issue sir.
here are some screenshots

![Screenshot (42)

[2020-12-27 18:43] Bhavik-Ardeshna commented on #6620
@iamareebjamal  Hey I need to work in which file plz help me I started checking all files ?

[2020-12-27 18:52] Bhavik-Ardeshna commented on #6620
Means I need to change the message ??

[2020-12-30 13:42] iamareebjamal commented on #6586
Not sure what's the use case, but if there is in future, we can easily handle it in frontend instead

[2020-12-30 13:42] #6586 closed

[2020-12-30 14:41] #6814 closed

[2020-12-30 15:25] Tlazypanda opened #7549 "Add redis start instruction for Linux in installation"
Currently the local setup instruction lacks the redis-server start instruction for Linux that can introduce errors on hitting endpoints. Adding the instruction `sudo service redis-server start` to the local installation instructions can help new comers avoid this error.

## Screenshot of error
![image](https://user-images.githubusercontent.com/33183263/103363541-56d79c80-4ae1-11eb-9ebb-f7046c13866

[2020-12-30 15:27] Tlazypanda commented on #7549
@iamareebjamal @mariobehling can you please approve this issue if it seems fit? Thank you :v:

[2020-12-30 16:25] vardaan-raj commented on #5772
Hello!, can I contribute to this and if so can you tell me a bit about this and what is it that you specifically want

[2020-12-30 17:57] Tlazypanda commented on #6619
@iamareebjamal I tried to reproduce this issue on events patch but seems to be working fine :sweat_smile:

[2020-12-30 18:36] Tlazypanda commented on #6134
@iamareebjamal is this issue still open? :sweat_smile:

[2020-12-31 02:10] iamareebjamal commented on #6619
OK

[2020-12-31 02:10] #6619 closed

[2020-12-31 02:41] iamareebjamal commented on #6134
Till the Android apps switch to new API, yes

[2021-01-01 13:26] #6393 closed

[2021-01-01 13:47] Tlazypanda opened #7558 "Add functionality to delete User Event Role"
**Is your feature request related to a problem? Please describe.**
Currently there is no functionality to delete User Event Role. Adding this functionality can allow event organizers to delete role assigned to any user.

Ref issue: #7235

[2021-01-01 13:50] Tlazypanda commented on #7558
@iamareebjamal @mariobehling can we approve this issue? :sweat_smile:

[2021-01-01 18:34] VinamraGuptaa commented on #6971
Is this issue still open?

[2021-01-02 17:22] Tlazypanda commented on #7476
@codedsun For approaching this issue do we add a post_dump method in the order schema file that checks against the current user and accordingly eliminates the order.user relation or do we make changes elsewhere? :sweat_smile:

[2021-01-02 17:46] Tlazypanda commented on #7558
@iamareebjamal for creating this endpoint I was wondering if we can pass the id of user event role for deletion or not since I don't see it returned otherwise at any place. So should I instead pass role_invite id and from that query the user event role object and delete? Thanks :v:

[2021-01-02 18:02] iamareebjamal commented on #7558
No, event user role, like all other endpoints

[2021-01-02 18:11] Tlazypanda commented on #7558
@iamareebjamal so I should add this as a standalone misc endpoint in role_invites,py or create the api and schema file and set up the resource manager architecture since right now I don't see those files and creation for this model is handled in accept_invite function itself? :sweat_smile:

[2021-01-02 19:52] iamareebjamal commented on #7558
create the api and schema file and set up the resource manager architecture

[2021-01-03 16:07] nitinosiris commented on #7549
Hey @Tlazypanda ,
I just followed the instructions from https://github.com/fossasia/open-event-server/blob/development/docs/installation/local.md
I am using Ubuntu 20.04.1 LTS and the error you mentioned never appeared.
I guess it is not compulsory to run that command.

[2021-01-03 16:37] nitinosiris commented on #7549
Hey @Tlazypanda,
I just followed the instructions listed https://github.com/fossasia/open-event-server/blob/development/docs/installation/local.md here. I am using Ubuntu 20.04.1 LTS and I got no such error about redis-server.

[2021-01-03 17:00] iamareebjamal commented on #7549
Yes, it gets started automatically

[2021-01-03 17:02] nitinosiris commented on #7549
Maybe in Mac, we need to do it manually as per instructions.

[2021-01-03 17:03] Tlazypanda commented on #7549
@iamareebjamal @nitinosiris In my case the server was working fine but when I was hitting any endpoint then it was showing this error :sweat_smile: can you try that out?

[2021-01-03 17:49] #7474 closed

[2021-01-04 16:09] Aniruddh1709 commented on #7538
Can I work on this issue?

[2021-01-04 17:39] iaryangoyal commented on #7558
can I work on this issue?

[2021-01-05 04:56] #7424 closed

[2021-01-05 06:47] tuchang commented on #5498
Is it done? any tasks about it left?

[2021-01-05 09:15] Tlazypanda commented on #7549
Closing this since not reproducible.

[2021-01-05 09:15] #7549 closed

[2021-01-05 09:54] #7558 closed

[2021-01-05 11:19] adityababar07 commented on #5498
iam on to it

[2021-01-05 11:48] nitinosiris commented on #7366
I would like to work on it  @mariobehling

[2021-01-05 14:53] Tlazypanda opened #7568 "Add users_events_roles relationship to events schema"
**Is your feature request related to a problem? Please describe.**
Currently we don't have the means to access a url like `events/2?include=roles.role` Adding users_events_roles relationship to events schema can solve this issue for us.

Ref: #7562

[2021-01-05 14:54] Tlazypanda commented on #7568
@iamareebjamal @mariobehling can you please approve this issue? :sweat_smile:

[2021-01-06 11:32] #7476 closed

[2021-01-07 10:37] #7568 closed

[2021-01-07 11:15] #5988 closed

[2021-01-12 15:46] mansijain980 commented on #7319
@hongquan sir, i am a participant at Codeheat.
 I am working on this repo from last some days so I want to make a PR on this issue.

May i fix this issue?
It will be great experience for me.
Thanks

[2021-01-13 13:29] HarryHuy commented on #7319
@mansijain980 I think it's almost done. I'm testing the deployment image.

[2021-01-13 17:27] deo002 opened #7598 "Wrong value given to one of the backref attributes in discount_code.py"
**Describe the bug**
 Wrong value given to one of the backref attributes in discount_code.py.

marketer = db.relationship('User', backref='discount_codes_')
The value of backref attribute of this line should be changed to 'discount_codes'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to open-event-server/app/models/discount_code.py
2. Check the value of *marketer* inside of DiscountCod

[2021-01-13 20:08] ujjwallabh commented on #7598
Hey i am new here can you help me out with its working procedure?
how to work on the issue.

[2021-01-14 15:26] mansijain980 commented on #7598
@deo002 sir, I would like to fix this issue.

May i ?
It will be great for me.
Thanks

[2021-01-14 17:31] ujjwallabh commented on #7598
@mansijain980 can i be a part of ur contribution so that i can learn?
please take look if thats possible i am new to open source contribution

[2021-01-16 01:50] #7319 closed

[2021-01-16 13:43] mariobehling opened #7615 "Delete space in front of colons"
Some text pieces coming from the server has a space in front of colons " :". Please check all text including email texts and delete the space in front of colons.

[2021-01-16 15:23] tanay13 commented on #7615
please assign this to me

[2021-01-16 16:15] iamareebjamal commented on #7615
please assign this to me

[2021-01-17 08:24] deo002 commented on #7615
I would like to work on this issue.

[2021-01-18 06:17] ashutoshc8101 opened #7619 "Inconsistent use of indentation in docs/installation/local.md"
**Describe the bug**

Indentation is inconsistent in docs/installation/local.md file

**To Reproduce**
Steps to reproduce the behavior:
1. Open docs/installation/local.md
2. Scroll to poetry section.

**Expected behavior**
Consistent indentation

**Screenshot**
![issue](https://user-images.githubusercontent.com/24855641/104878808-a4c61e80-5982-11eb-9acd-5bc899f0d4f4.PNG)

[2021-01-18 08:32] pratik-99 opened #7621 "Minor grammatical error in README.md"
Change required:
The README.md part has a minor grammatical error in "Join the development" part, 3rd point
![Screenshot (75)](https://user-images.githubusercontent.com/67754331/104890469-9a615000-5995-11eb-84a0-94e019957ca0.png)

[2021-01-18 21:14] dependabot-preview[bot] opened #7623 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/63841744).

[2021-01-18 23:17] #7623 closed

[2021-01-19 00:32] mariobehling opened #7630 "Order Email: Translate it to German"
We need more emails translated to other languages preferably through weblate. Below an example translation for the order email to German.

If possible please also take out a space in front of " :" (colons) in the English version.

![Screenshot from 2021-01-19 01-29-06](https://user-images.githubusercontent.com/1583873/104973716-df1cd380-59f5-11eb-83ed-a0a02169b0bf.png)

**Subject:** Rechnung und T

[2021-01-19 09:54] mariobehling opened #7632 "Order Email: Add ics as attachment and standardize for calendar"
When an email arrives from other event platforms Gmail and other email clients automatically provide an option to add it to the calendar.

1. Please research and implement the structure of the email and possibly tags, so these emails provide the same functionality.
2. Add an .ics file as an attachment to order emails for the event as well.

Example how an event shows up on Gmail.

![Screenshot fro

[2021-01-19 16:22] mariobehling opened #7633 "Event Order Mail: Time of event wrong"
In the order email of events the timing is wrong.

It is:
Datum: February 12, 2021 01:00 PM - February 12, 2021 03:00 PM

It should be
Datum: February 12, 2021 02:00 PM - February 12, 2021 04:00 PM

compare https://eventyay.com/e/e366f5ca

[2021-01-19 16:35] mariobehling commented on #7630
Date and messages "Below you find a message from the organizer:" are not translated in the current version.

[2021-01-19 16:36] mariobehling commented on #7630
![Screenshot from 2021-01-19 17-34-52](https://user-images.githubusercontent.com/1583873/105064120-cc011680-5a7c-11eb-871c-fa6b54c6ecbd.png)

[2021-01-19 16:39] mariobehling commented on #7633
Also the dates are not translated.

Question: Should they have the timezone added as in other views maybe?

[2021-01-19 16:57] mariobehling opened #7634 "First time user order cannot fill in all fields"
When a user signs up and gets a ticket for the first time it is ticked “The ticket holder is the same person the ticket buyer”. Then the custom field "Organisation" cannot be filled in.

[2021-01-19 17:00] iamareebjamal commented on #7633
Translation of dates is not that easy in server, I'll add timezone though

[2021-01-19 17:15] mariobehling commented on #7634
![Screenshot from 2021-01-19 18-14-56](https://user-images.githubusercontent.com/1583873/105069467-45e7ce80-5a82-11eb-8fc3-23229994567c.png)

The problem is that there is a tick set when the first fields are still empty as they user has never filled in their name at that point.

[2021-01-19 18:06] iamareebjamal commented on #7630
"Below you find a message from the organizer:" is translatable but is not translated

[2021-01-20 00:29] mariobehling opened #7640 "Sign up/Verification Emails shows "Message clipped" in Gmail"
Gmail clips messages that are larger than 102 KB. As the our signup/verification email only has very little content, it is unclear why it should appear bigger than that or what other reason there is that it clips in Gmail. Please research the cause and implement a solution to ensure the email does not clip in Gmail.

![Screenshot from 2021-01-20 01-24-33](https://user-images.githubusercontent.com/

[2021-01-20 00:38] iamareebjamal commented on #7640
No message is clipped above, the entire message is being shown

![image](https://user-images.githubusercontent.com/3874064/105110968-dc99a700-5ae5-11eb-8735-b5cc5c935fb3.png)

[2021-01-20 01:53] #7630 closed

[2021-01-20 01:53] #7633 closed

[2021-01-20 04:38] SAP-20 commented on #6503
a newbie in open source.Can I work on this issue??

[2021-01-20 04:42] SAP-20 commented on #7598
a newbie to open source .Can i work on this??

[2021-01-20 10:23] mariobehling commented on #7640
@iamareebjamal Yes, it is the entire message, but the clipped message is still being shown, which confuses users. How can we get rid of that "Clipped Message" option?

[2021-01-20 10:24] mariobehling commented on #7640
I corrected the title of the issue.

[2021-01-20 12:39] mariobehling opened #7642 "Ticket PDF distorted and organizer message missing line breaks"
Since the organizer message has been added to the ticket PDF the document is distorted for longer organizer messages.

Tested with https://eventyay.com/e/e366f5ca

![Screenshot from 2021-01-20 13-35-54](https://user-images.githubusercontent.com/1583873/105175939-dbd43580-5b24-11eb-9470-45d23c1940d4.png)

[2021-01-20 14:28] iamareebjamal commented on #7640
Don't know, it might be a bug in gmail, nothing I found on internet suggests anything that can be done by us AFAIK

[2021-01-22 04:04] 2kSHIVAM commented on #7621
can I work on this isssue...

[2021-01-22 13:48] #7642 closed

[2021-01-22 14:22] #7521 closed

[2021-01-23 20:00] sudipg4112001 commented on #7640
It may be due to some storage issues in the respective mail or attachment.  The attachments are not included in the code.

[2021-01-24 10:37] Tlazypanda opened #7660 "Preset roles deletion is allowed"
**Describe the bug**
Currently the preset roles like "organizer, coorganizer etc" should not be deleted from the db. But right now it is possible to delete these entries.

**To Reproduce**
Steps to reproduce the behavior:
1. Hit the delete endpoint for role
2. Choose any of the ids pointing to any of the 7 preset roles
3. You can find deletion to be successful

**Expected behavior**

**Stacktrace*

[2021-01-24 13:33] #7660 closed

[2021-01-24 15:21] Tlazypanda commented on #7105
@iamareebjamal is this issue active? :sweat_smile:

[2021-01-24 15:40] iamareebjamal commented on #7105
https://github.com/fossasia/open-event-server/issues/7105#issuecomment-674539683

[2021-01-24 17:43] Tlazypanda commented on #7071
@iamareebjamal Was checking the code for this I can see a create custom fields function for attendees in the after_create_object method only on the required fields so should I add this for speaker and session on the required fields? :sweat_smile: Didn't understand where the camelCase identifier code is present though?

[2021-01-26 06:03] Tlazypanda commented on #7071
@iamareebjamal is my understanding of this issue alright? :sweat_smile:

[2021-01-26 06:06] iamareebjamal commented on #7071
Leave camel case part

[2021-01-26 06:48] mariobehling opened #7668 "Ticket Invoice: Make it translatable"
The ticket invoice is not translated to other languages. Please make it translatable.

![Screenshot from 2021-01-26 07-46-59](https://user-images.githubusercontent.com/1583873/105810217-d22a5200-5faa-11eb-9473-e47ad583d55e.png)

[2021-01-26 22:29] ShauryaAg commented on #7632
I would like to work on this issue.

[2021-01-27 17:29] ShauryaAg commented on #7632
I can't figure out how to set the `SMTP_HOST`, `SMTP_USERNAME` etc for development purposes, some help would be appreciated.

[2021-01-27 17:50] iamareebjamal commented on #7632
Set in settings table

[2021-01-27 17:56] ShauryaAg commented on #7632
Is there any easy way to do it other than using SQL queries in the Postgres Container?

[2021-01-27 18:01] iamareebjamal commented on #7632
Run frontend and change through it

[2021-01-27 18:28] ShauryaAg commented on #7632
I am unable to create a super user for it. I tried running `python manage.py initialize_db -c admin@example.com:password`, but still the user doesn't exist.

Even though the command executes without any exceptions.

![image](https://user-images.githubusercontent.com/31778302/106036536-7cb18a80-60fb-11eb-9ae0-6edd27892e61.png)

[2021-01-27 19:30] iamareebjamal commented on #7632
Should have run create_db.py while installing like mentioned in the docs

[2021-01-27 19:38] ShauryaAg commented on #7632
I have installed using docker.

[2021-01-27 19:49] ShauryaAg commented on #7632
Even when I run `python create_db.py example@example.com password`, it doesn't create a new user.

This is the output I get:
[code]

[2021-01-27 20:57] iamareebjamal commented on #7632
I don't understand why are you using docker?

[2021-01-27 21:00] ShauryaAg commented on #7632
It is easier to setup using docker. Is it not possible to use docker for development purpose?

[2021-01-27 21:51] iamareebjamal commented on #7632
No, it is for deployment only

[2021-01-27 21:54] ShauryaAg commented on #7632
Can we create another issue to do necessary changes in order to make docker available for development purposes too?
After solving this issue.

[2021-01-27 21:58] iamareebjamal commented on #7632
What's difficult in local installation?

[2021-01-27 23:05] ShauryaAg commented on #7632
There aren't any issues, but docker installation is easier.

[2021-01-27 23:08] iamareebjamal commented on #7632
And development harder

[2021-01-28 12:02] ShauryaAg commented on #7632
Upon some research through [here](https://github.com/sendgrid/sendgrid-python/issues/179#issuecomment-244974054), [here](https://stackoverflow.com/questions/45055188/calendar-invite-is-received-as-ics-file-in-outlook-laravel), and [here](https://github.com/PHPMailer/PHPMailer/issues/175#issuecomment-33802847). It looks like outlook and some other clients (excluding Gmail) needs `Method: Request;`

[2021-01-29 08:33] Akshansh99 commented on #7668
Hey @mariobehling ! Can you explain what you mean by **translatable** ?

[2021-01-29 08:43] #7632 closed

[2021-01-30 09:17] nayanvayada commented on #7538
I wanna work on this isssue

[2021-01-30 16:44] iamareebjamal commented on #7538
Group feature has been implemented now

[2021-02-01 13:42] ashutoshc8101 opened #7691 "One file for all database operations for developers."
**Feature Request**
It would be better if functionality to create, populate and drop the database is available using the `manage.py` file instead of using three additional files `create_db.py`, `drop_db.py`, and 'populate_db.py`.

The developer should be able to create database using `python manage.py create_database`, drop database using `python manage.py drop_db` and populate using `python manag

[2021-02-01 13:42] ashutoshc8101 opened #7692 "Migrate from flask-script to flask inbuilt cli"
**Feature Request**
It would be better if functionality to create, populate and drop the database is available using the `manage.py` file instead of using three additional files `create_db.py`, `drop_db.py`, and `populate_db.py`.

The developer should be able to create a database using `python manage.py create_database`, drop a database using `python manage.py drop_db`, and populate using `python

[2021-02-01 13:43] ashutoshc8101 commented on #7692
@iamareebjamal What do you think?

[2021-02-01 13:43] #7691 closed

[2021-02-01 18:38] iamareebjamal commented on #7692
We want to shift to flask script, so manage.py is deprecated. If you shift existing commands to flask script and add these new commands, then go ahead

[2021-02-02 08:36] ashutoshc8101 commented on #7692
@iamareebjamal what about this warning??
![Screenshot from 2021-02-02 14-04-04](https://user-images.githubusercontent.com/24855641/106573381-915cab00-655f-11eb-8e85-3f68a71cbfd1.png)

Should I use Flask's built-in command-line interface or ignore this warning?

[2021-02-02 09:02] iamareebjamal commented on #7692
Sorry, I meant use Flask CLI script, not flask script

[2021-02-02 13:27] ashutoshc8101 commented on #7692
Ok, I am working on this. I will send a PR as soon as possible.

[2021-02-03 08:08] mariobehling opened #8486 "New session email to organizers uses CfS link and needs text improvements"
The "new session" email to organizers uses the CfS link of the session which is used for speakers. When changing this email, please also enhance the email. So expected is: It should use the organizer session link.

1. Current email and link:
Hi office@fossasia.org,
The event FOSSASIA Summit 2021 has received a new session proposal.
Visit this link to view the session: https://eventyay.com/e/fa96ae

[2021-02-03 18:17] AhwiniMirajkar commented on #6471
Is this issue is available to work on it?

[2021-02-04 01:50] iamareebjamal opened #7707 "Evaluate Optic for API documentation"
https://github.com/opticdev/optic

Manually adding API docs is tedious and many times dev forget to do so. Optic automatically watches API calls and adds them in the document

It can work together with OpenAPI spec and dredd supports OpenAPI spec as well

Having Open API Spec makes it easier to import in Postman and other API testing tools making it easier for beginners to start testing API

It ca

[2021-02-07 02:59] 309666 commented on #7640
i would like to work on this issue

[2021-02-11 16:53] 17sushmita commented on #7668
Hi @mariobehling, Please clarify what do you mean my translatable and how to reproduce the bug?

[2021-02-14 07:40] mariobehling opened #7743 "Invoice Email: Amount not showing two digits after dot"
In the invoice emails the invoice amount shows only one digit after the dot, e.g. 180.6 USD instead of 180.60 USD.

![Screenshot from 2021-02-14 08-26-16](https://user-images.githubusercontent.com/1583873/107871260-318bcb80-6ea0-11eb-82da-16edd7bd6e4a.png)

[2021-02-15 17:55] rudrani1964 commented on #7743
Hey @mariobehling can I work on this issue?

[2021-02-20 22:38] avats-dev commented on #7743
I would like to contribute if no one else is working on this. Any tips would be great to start with.

[2021-02-22 06:15] lordnodd commented on #7743
Since it was defined as Float in database so I believe the bug is the value getting type-casted in calculation of invoice_amount. I would like to debug this if it is not assigned to somone yet.

[2021-02-23 04:30] Ayushsunny commented on #7161
I would like to work on this issue

[2021-02-24 03:50] Paras0-7 commented on #7743
Can I work on this issue?

[2021-02-26 17:46] avats-dev commented on #7668
I couldn't find exactly which templates we need to edit here to add translation for invoices. I have found that some are [here](https://github.com/fossasia/open-event-server/tree/development/app/templates/pdf) but I am not sure which one. Also, do we need to implement this in templates only?

[2021-02-27 12:56] prateekj117 commented on #7743
@iamareebjamal @mariobehling I noticed this is only happening when the second digit after the decimal is zero. In case the amount is say something like `180.66`, it does not happen.

[2021-02-27 13:17] iamareebjamal commented on #7743
Yes

[2021-02-27 14:43] #7743 closed

[2021-02-27 15:01] avats-dev commented on #7668
@iamareebjamal

[2021-02-27 15:04] iamareebjamal commented on #7668
Yes

[2021-02-28 11:16] prateekj117 opened #7781 "favourite_sessions Docs not included in api_blueprint_source"
**Describe the bug**

`favourite_sessions.apib` (contains docs regarding `/v1/user-favourite-sessions` endpoint) file is not included in `api_blueprint_source.apib` file because of which the docs are not displayed. There might be some tests failing as well in case the file is included. Also, look into that.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'locahost:5000'
2. Search for f

[2021-02-28 11:21] prateekj117 opened #7782 "Add favourite_count to sessions"
**Is your feature request related to a problem? Please describe.**

As part of the issue [fossasia/open-event-frontend#6814](https://github.com/fossasia/open-event-frontend/issues/6814), we need to get favourite-count of each session.

**Describe the solution you'd like**

Add an aggregate function to sessions for column `favourite_count`. Solution similar to #7712.

**Additional context**

Workin

[2021-02-28 15:32] #7782 closed

[2021-03-01 11:07] SwapnilSoni1999 opened #7786 "Api Schema: Extra spaces in constants"
Found some extra spaces in [message_settings.py](https://github.com/fossasia/open-event-server/blob/development/app/api/schema/message_settings.py) this might cause some formatting issues in future mails.

[2021-03-04 11:56] AbhiSahane0 commented on #7786
Can I complete the last task plzz
.

[2021-03-04 12:54] meprogemur commented on #6467
Hey, I want to work on this. Can I contribute?

[2021-03-05 04:15] SwapnilSoni1999 commented on #7786
Okay sure

[2021-03-06 05:45] gopal0208 commented on #7615
I would like to work on this issue

[2021-03-06 10:13] meprogemur commented on #6005
I'm working on this. Can you provide me a little more insight on the problem?

[2021-03-06 10:20] meprogemur commented on #6005
@mariobehling

[2021-03-08 09:47] ria-19 commented on #7707
Can I work on this issue?

[2021-03-08 09:48] ria-19 commented on #7619
Can I work on this issue?

[2021-03-08 10:26] ashutoshc8101 commented on #7619
@ria-19 No use, here maintainers don't review PRs from external developers.
This project is on Github just forsake. This project does not have a single trait of open source projects.
Stop wasting time here.

[2021-03-08 10:32] ria-19 commented on #7619
Okay, I didn't know about this.
Thanks.

[2021-03-08 10:32] iamareebjamal commented on #7619
Yes, we don't review PRs for issues which are extremely low priority and which are not endorsed or triaged by the maintainers themselves. If you want your PR to be reviewed, please checkout issues labeled codeheat or created by the project maintainers. People have strange notion about open source that they can open any issue they want and send any PR and maintainers have to give time to review and

[2021-03-08 10:32] #7619 closed

[2021-03-08 13:27] ashutoshc8101 commented on #7619
@iamareebjamal Ok this way, I finally got your attention.
What about this? #7705. This pull request was made after talking about this issue with you.
Note: There were no merge conflicts at the time of PR creation.
![approval](https://user-images.githubusercontent.com/24855641/110324049-789e5400-803b-11eb-8617-dbdd575bbccc.PNG)
You said 'go ahead'  but even after my several requests, you didn't rev

[2021-03-08 13:29] ashutoshc8101 commented on #7619
@iamareebjamal Ok this way, I finally got your attention.
What about this? #7705. This pull request was made after talking about this issue with you.
Note: There were no merge conflicts at the time of PR creation.
![approval](https://user-images.githubusercontent.com/24855641/110324049-789e5400-803b-11eb-8617-dbdd575bbccc.PNG)
You said 'go ahead'  but even after my several requests, you didn't rev

[2021-03-08 14:59] MeghalBisht commented on #7619
@ashutoshc8101 Why don't you consider rephrasing your comment with less garbage words in it?

[2021-03-08 15:53] iamareebjamal commented on #7619
I cannot comment about SUSI, as I am not a maintainer there. About your PRs here, #7705 is important and will be merged once we have cleared more important PRs before it. A rule of thumb, consider the PRs with no comment from maintainers are of least priority. As for #7705, I commented `go ahead` means I will eventually merge it. Your PR cannot be merged by just me seeing the code changes. I have

[2021-03-08 16:49] ashutoshc8101 commented on #7619
@iamareebjamal
I am sorry for being rude in the previous comments.
But I had to get some response from you, I was not getting any by being nice.
Sorry once again, going to delete my previous comments.

[2021-03-20 04:53] mishari opened #7842 "Calendar link in calendar not working properly"
In the description, "Join using link:  https://eventyay.com/e/fa96ae2c/video/Main Hall/187"

The space is treated as a break, clipping the link at Main"

"Main Hall" should be HTTP encoded to Main%20Hall

[2021-03-20 19:10] aadityasinha-dotcom commented on #7707
Hey! Can I work on this issue?

[2021-03-26 12:56] kaiwalyakoparkar commented on #7842
I would like to work on this issue. Could you please help me out?

[2021-03-28 10:27] gyanprakash0221 commented on #7668
Is this issue still open or closed.

[2021-03-31 14:31] rajpratyush commented on #7842
hi @mishari Can I take up this issue

[2021-03-31 15:49] ashutosh264 commented on #7842
I think we can't address this issue just by adding (%20), as in this scenario we are the one deciding particular string is link or not.
For example: In the description, "Join using the link: https://eventyay.com/e/fa96ae2c/video/Main Hall/187 at 8:00 pm"
our code will end up adding (%20) in place of each space.
What we can do is just remove auto conversion to link, as there is option to covert str

[2021-03-31 16:01] iamareebjamal commented on #7842
Space should be replaced by %20, or `Main Hall` should be converted to `main-hall`

[2021-04-01 13:01] #7842 closed

[2021-04-01 18:08] #7668 closed

[2021-04-02 18:33] iaryangoyal commented on #7786
can I fix this?

[2021-04-03 11:36] SwapnilSoni1999 commented on #7786
@iaryangoyal  I've already sent a PR

[2021-04-04 07:17] iaryangoyal commented on #7786
ok @SwapnilSoni1999 my bad

[2021-04-07 10:58] mdPial commented on #7366
I am working on this 😊

[2021-04-07 11:00] mdPial commented on #7366
Could it be considered for the **codeheat**?

[2021-04-07 11:38] mdPial commented on #7366
Shoud I add **fonts** in `./static/font/` and bootstrap to `./static/framework` ?

[2021-04-07 14:36] iamareebjamal commented on #7366
Tell me your approach, how will you remove CDN references from an autogenerated file?

[2021-04-07 15:02] mdPial commented on #7366
@iamareebjamal I haven't found any approach to do that. Could you give me guidelines to do that?. I thought I don't have to remove those references for this issue. I looked earlier, from which files references are linking but didn't find any.

[2021-04-07 15:06] mdPial commented on #7366
Oh. I misunderstood then :sweat:

[2021-04-07 15:06] mdPial commented on #7366
Could you help me?

[2021-04-07 18:44] #7538 closed

[2021-04-08 13:16] #7615 closed

[2021-04-12 17:06] MeghalBisht opened #7884 "Event Room Chat: Renaming Event name shows no room exists"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'event page' after renaming the event
2. Click on 'side panel - chat'
4. See error

![Screenshot from 2021-04-12 22-34-19](https://user-images.githubusercontent.com/61330148/114433382-620d8e80-9bdf-11eb-9ec0-9fcf43412fd8.png)

**Additional Context**
https://developer.rocket.chat/api/rest-api/methods/groups/rename

[2021-04-15 22:24] gyanprakash0221 commented on #6495
Hey I want to work on this issue, Can you please help me along the way to get this done.

[2021-04-21 21:21] rishabhrathore055 commented on #7430
Hi i wanna do work on this issue please assign it to me.

[2021-04-22 18:27] #7884 closed

[2021-05-04 05:15] faisalkhandholpur commented on #7292
Please assign this issue

[2021-05-04 05:16] faisalkhandholpur commented on #7292
But why

[2021-05-04 05:19] faisalkhandholpur commented on #7161
I wanna work this issue

[2021-05-04 05:26] faisalkhandholpur commented on #7160
Can i work this issue

[2021-05-06 17:47] #7621 closed

[2021-05-11 18:37] MeghalBisht opened #7946 "Event Transfer: Current owner to be downgraded to Organiser, no duplicate owner role invites allowed"
**Is your feature request related to a problem? Please describe.**

When a user transfers the event to a user A. [role - owner]
And then again transfers it to user B [role - owner]
So, if A accepts the invite - A becomes the owner of the event.
If B accepts the invite as well, A is removed as owner and B is now the owner [Non-ideal case]
The event is removed from the user who started the transfer

[2021-05-13 13:15] sachinchauhan2889 opened #7953 "Role Invite: Allow users to resend invitations of event transfer from the settings page itself."
**Is your feature request related to a problem? Please describe.**

Currently whenever we try to resend role invite from event transfer from setting page we get error message that role invite is already sent.

**Describe the solution you'd like**

If there is no role invite, create role invite. If role invite already exist, resend email to user.

[2021-05-14 14:38] mariobehling opened #7956 "Switch backend to redisearch to enable more search options"
It was stated by Areeb in the past that we need to switch to redisearch in order to have more options for search. Please implement it and ensure search on the frontend works as expected.

[2021-05-17 18:32] namanjain007 commented on #7956
working on it .

[2021-05-19 10:43] klsingh016 commented on #7956
can i work?

[2021-05-27 09:25] Anmollenka commented on #6668
@codedsun is this issue still relevant?

[2021-06-02 12:35] progmatic-99 commented on #7946
I am not able to reproduce this.
When I transferred the owner role to a account that was not in the organizer list, the transfer happened as is needed, i.e, the current owner became organizer.
But when I tried to transfer the owner role to an existing organizer, it showed an error: ```Role invite has already been sent.````

[2021-06-02 13:09] MeghalBisht commented on #7946
The current owner is removed and NOT downgraded to organizer once the transfer is successful. However, we need to downgrade him to an organizer now instead.

That is because the user is already having a role of organizer, in order to now make him a owner, you need to delete the previous role and then initiate the transfer of event.

[2021-06-03 19:59] mariobehling opened #8008 "CSV Session Export: Show Average Rating and Number of Ratings"
The CSV export file of sessions currently does not show "Average Rating" and "Number of Ratings". Please add these two columns into the CSV.

![Screenshot from 2021-06-03 21-57-13](https://user-images.githubusercontent.com/1583873/120704439-dfa29c00-c4b6-11eb-8c88-99f5a311af05.png)

[2021-06-03 20:00] #7640 closed

[2021-06-03 20:02] #7363 closed

[2021-06-03 20:06] mariobehling commented on #6829
We will follow up on this during the development of open event next.

[2021-06-03 20:09] #7366 closed

[2021-06-03 20:12] #7220 closed

[2021-06-04 00:23] mariobehling opened #8009 "CSV Ticket Export: Add Payment Info"
In the CSV export of ticket holders the payment info is not added. Therefore please add the following:
* Payment Method
* Billing Info (Name, Email, Company, Address, Tax ID, whatever is shared)

[2021-06-04 00:26] mariobehling commented on #6426
Thank you. Most information of custom forms etc. has already been added to the CSV. Remaining is to add payment method and billing information which we will track through this issue here https://github.com/fossasia/open-event-server/issues/8009

[2021-06-04 00:26] #6426 closed

[2021-06-04 00:30] mariobehling commented on #6388
Closing this as there has been some work in this area already been done.

[2021-06-04 00:30] #6388 closed

[2021-06-04 00:37] mariobehling commented on #6364
Implementation has changed. Therefore closing this.

[2021-06-04 00:37] #6364 closed

[2021-06-04 00:41] mariobehling commented on #6224
A lot of translated strings have been added to the project through Weblate https://hosted.weblate.org/projects/open-event/frontend/. There are also French speaking events hosted nowadays on the system, e.g. https://eventyay.com/e/bcf0a8e9

Remaining is to translate the upcoming enhanced emails, so users will also receive email communication in French. Translation is an ongoing issue and we have es

[2021-06-04 00:41] #6224 closed

[2021-06-04 00:46] #6094 closed

[2021-06-04 00:52] mariobehling commented on #6065
Thanks, we have defined a simpler approach to refunds in the frontend. Therefore closing this.

[2021-06-04 00:52] #6065 closed

[2021-06-04 00:55] mariobehling commented on #6021
Already resolved. Thanks.

[2021-06-04 00:55] #6021 closed

[2021-06-04 00:56] #6019 closed

[2021-06-04 00:56] #6005 closed

[2021-06-04 00:57] #5998 closed

[2021-06-04 00:57] #5929 closed

[2021-06-04 00:58] #5871 closed

[2021-06-04 00:59] #5811 closed

[2021-06-04 01:00] #5796 closed

[2021-06-04 01:01] #5740 closed

[2021-06-04 01:03] #6954 closed

[2021-06-04 01:05] #5772 closed

[2021-06-04 01:05] #5546 closed

[2021-06-04 01:07] #5760 closed

[2021-06-04 01:09] #5363 closed

[2021-06-04 01:10] #4781 closed

[2021-06-04 01:10] #4729 closed

[2021-06-04 01:10] #6028 closed

[2021-06-04 01:11] #5009 closed

[2021-06-04 01:12] #4937 closed

[2021-06-04 01:12] #4548 closed

[2021-06-04 01:13] #4514 closed

[2021-06-04 01:13] #1244 closed

[2021-06-04 01:13] #1847 closed

[2021-06-04 02:29] #4687 closed

[2021-06-04 02:34] #5798 closed

[2021-06-04 02:37] #6022 closed

[2021-06-04 02:59] mariobehling commented on #6600
As it does not seem to be needed for our current feature set, I am closing this.

[2021-06-04 02:59] #6600 closed

[2021-06-07 17:54] #8008 closed

[2021-06-09 07:43] maze-runnar commented on #7598
@MeghalBisht I don't think this is an issue, discount_codes_ in not even used anywhre. If so then please close it.

[2021-06-10 13:07] sachinchauhan2889 opened #8028 "CSV: Show time in human readable form."
Show time in human readable form  in CSV export.

Currently it is shown like this `2021-03-12 10:52:27.918251+00:00`

[2021-06-10 17:14] #7598 closed

[2021-06-11 07:33] maze-runnar commented on #6396
https://github.com/fossasia/open-event-server/pull/6594#issuecomment-738728679

[2021-06-11 07:33] #6396 closed

[2021-06-11 10:34] PrasanthChettri commented on #7953
Can I be assigned to this issue ?

[2021-06-13 03:21] maze-runnar commented on #6210
@MeghalBisht @sachinchauhan2889 @ranjitkshah isn't it already there?

[2021-06-13 09:52] hongquan opened #8034 "Clean out-of-tree code"
Some places use undefined code, like here:

https://github.com/fossasia/open-event-server/blob/b3f8a4669c43237f0c5f914a4b52d21da0ae783f/manage.py#L101-L106

The import path "app.helpers.sessions_speakers.speakers" no longer exists.

[2021-06-14 02:44] deo002 commented on #8028
I would like to work on this issue.

[2021-06-16 11:29] NamamiShanker commented on #8034
I would like to work on this issue

[2021-06-16 13:10] NamamiShanker commented on #8034
Hey @hongquan, would you like me to search and drop these functions/classes? They are not being used anywhere either.

[2021-06-16 15:21] NamamiShanker commented on #8034
@hongquan I used `pylint` to find `Unable to import` messages. I couldn't find any other out-of-tree code portions. I have removed this function and corrected some import syntaxes.

[2021-06-16 16:33] NamamiShanker commented on #8034
@hongquan Please review PR #8041

[2021-06-18 13:39] #8009 closed

[2021-06-19 09:52] #8034 closed

[2021-06-19 16:56] #7953 closed

[2021-06-22 15:23] MeghalBisht opened #8052 "Add API Blueprint for all API endpoints"
Add API blueprint for all API endpoints.
Starting with the newly added APIs.

[2021-06-25 06:39] #7194 closed

[2021-06-25 08:10] #8028 closed

[2021-06-29 14:26] #7692 closed

[2021-06-29 16:36] #6503 closed

[2021-07-01 03:14] maze-runnar commented on #5320
validations and helpers are done for unit test.

[2021-07-01 03:14] #5320 closed

[2021-07-01 03:22] maze-runnar commented on #5471
https://github.com/fossasia/open-event-server/blob/26f9734d0c13adc4a0fab108e13a666d2ee6233a/tests/hook_main.py#L2672
it is already done.

[2021-07-01 03:24] #5471 closed

[2021-07-02 10:42] maze-runnar commented on #5504
done here https://github.com/fossasia/open-event-server/pull/7261

[2021-07-02 10:42] #5504 closed

[2021-07-05 12:05] #7946 closed

[2021-07-13 12:47] mariobehling opened #8098 "Ticket Emails: Calendar the attached ics does maintain formatting"
The calendar ics that is sent out with the ticket email does not maintain its formatting. It converts html to text and displays the html. Please fix this. Screenshots are below.

![file-4](https://user-images.githubusercontent.com/1583873/125454034-f8e82414-4d5d-43e5-8128-c14bb228cbe6.png)
![file-6](https://user-images.githubusercontent.com/1583873/125454047-fe418863-2b81-404b-b990-982eb45655a8.pn