[2017-01-07 11:16] shubham-padia commented on #2854
I'd like to work on this.

[2017-01-07 12:18] #2849 closed

[2017-01-07 12:21] Heredroky commented on #2851
@mariobehling I want to work on this

[2017-01-07 12:26] Heredroky commented on #2851
I want to work on this

[2017-01-07 13:24] SaptakS commented on #2848
@abhi2424shek tell me one thing. Why is text not aligned to centre in ticket an issue? Don't you think that was done by choice?

[2017-01-07 13:40] Abhi2424shek commented on #2848
It's on two pages

[2017-01-07 14:44] #2817 closed

[2017-01-07 14:44] niranjan94 commented on #2851
@Heredroky you can proceed

[2017-01-07 16:08] #2847 closed

[2017-01-07 16:34] #2813 closed

[2017-01-07 17:43] nikhilrayaprolu commented on #2801
@niranjan94 @mariobehling I see that as and when the submit button is clicked ,the files are being uploaded now  along with form data.

- so a way to show upload progress is by uploading the documents immediately when they are selected(something as done by gmail while sending mail)(upload for each individual file can be shown).here we have to implement  back end functions which handle the uploads.

[2017-01-07 17:52] SaptakS commented on #2801
@nikhilrayaprolu do the first one. Use ajax and do it like it is done for images.

[2017-01-07 18:22] Amritanshu54 opened #2861 "Location interface not working properly"
I had the the GCI 2016 Task -> Open Event Orga Server: Add and test events in eventyay (FOSSASIA)

I had a problem entering the venue of the event. As I would enter the venue, either it won't accept it or the map won't show it. Also when I try adding the name of the country ( or say anything) first , it doesn't appear there. So I request you to look into this issue

[2017-01-07 18:31] nikhilrayaprolu opened #2862 "hide password while setting the smtp settings"
![screenshot from 2017-01-07 23-55-02](https://cloud.githubusercontent.com/assets/15216503/21744057/cc17f214-d534-11e6-8b4d-33febba8ed32.png)

hiding the password field would be better at /admin/settings/ ,since many users prefer having the password field hided
we could implement a small (show password) button beside the input field for user convenience.

this feature could be extended to other mo

[2017-01-07 18:34] Bhargavasomu commented on #2862
I would like to work on this issue. Please assign it to me

[2017-01-07 18:34] shubham-padia commented on #2852
I'd like to work on this

[2017-01-07 18:44] mariobehling opened #2863 "Implement "Apply" Promotional Code on event site itself"
Our promotional code/discount gets applied only after the user advances to the next page.

Expected:
* [x] There should be an "Apply" button on the right hand side of the promotion field (when it is expanded).
![screenshot from 2017-01-07 19-33-17](https://cloud.githubusercontent.com/assets/1583873/21744213/9ed3ba18-d511-11e6-9eef-06cb652f6cdf.png)

* [ ] After the user hits "Apply":
    * [ ] Dis

[2017-01-07 18:53] #2793 closed

[2017-01-07 18:55] mariobehling opened #2864 "Implement "Create Access Codes""
We already have the feature of "hidden tickets", but there is currently no way to share hidden tickets with someone.

Please implement Access Codes in the ticket tab below "Discount Codes". Take inspiration from eventbrite, e.g. here: https://www.youtube.com/watch?v=c2qeZMJBCbg

![screenshot from 2017-01-07 19-52-15](https://cloud.githubusercontent.com/assets/1583873/21744315/20946af6-d513-11e6-8c

[2017-01-07 19:26] Heredroky commented on #2851
@niranjan94 @mariobehling When I am creating an event, I can't add tickets, do you know how can I add tickets ?
![screen shot 2017-01-07 at 2 25 51 pm](https://cloud.githubusercontent.com/assets/15079370/21744524/4c59ac92-d4e5-11e6-88a7-01a76110b457.png)

[2017-01-07 19:55] mariobehling commented on #2851
Switch on the module in the admin section.

[2017-01-07 20:21] niranjan94 commented on #2861
Duplicate of #2810

[2017-01-07 20:21] #2861 closed

[2017-01-07 20:22] #2854 closed

[2017-01-07 20:24] Heredroky commented on #2851
@mariobehling
![screen shot 2017-01-07 at 3 24 28 pm](https://cloud.githubusercontent.com/assets/15079370/21744905/6cce81f2-d4ed-11e6-89b6-72721a76d471.png)

[2017-01-07 20:38] nikhilrayaprolu commented on #2796
I have tried configuring the settings ,ended up with errors`
ERROR/MainProcess] Task send.email.post.smtp[a58e3232-ffe2-42d0-ad53-03dc4dc6b980] raised unexpected: KeyError('encryption',)`

![screenshot from 2017-01-08 02-07-25](https://cloud.githubusercontent.com/assets/15216503/21744990/3d791dfe-d547-11e6-99b2-506621ef6dae.png)

what might be causing the problem?the above image shows my settings

[2017-01-07 21:36] #2852 closed

[2017-01-07 22:59] shubham-padia commented on #2846
I'd like to work on this

[2017-01-07 23:36] Heredroky commented on #2851
@mariobehling How can I access to the admin section?

[2017-01-07 23:57] shubham-padia commented on #2846
I'm assuming free ticket here refers to a discount code. Please correct me if I'm wrong :)

[2017-01-08 00:08] shubham-padia commented on #2863
I'd like to work on this

[2017-01-08 03:05] gaeun opened #2867 "Invalid argument error in `getpass` method."
<img width="922" alt="screen shot 2017-01-08 at 12 03 18 pm" src="https://cloud.githubusercontent.com/assets/13972732/21746963/8cbde34c-d59a-11e6-9b4a-5b912aa059c7.png">

After running `python create_db.py` there is an error in the getpass method that prevents login as super_admin. I can work on this issue.

[2017-01-08 04:30] #2846 closed

[2017-01-08 04:44] niranjan94 commented on #2796
@nikhilrayaprolu thanks :) Have been fixed at #2869

[2017-01-08 06:38] nikhilrayaprolu commented on #2796
@niranjan94 @mariobehling can I know a route where lightbox has been implemented in openevent .so that I could follow the same pattern.

[2017-01-08 06:44] niranjan94 commented on #2796
@nikhilrayaprolu we have modal windows in the event wizard, the home page for showing the share link etc ..

[2017-01-08 06:52] nikhilrayaprolu opened #2870 "Bad Request 400 error on uploading a new profile image"
![screenshot from 2017-01-08 12-18-40](https://cloud.githubusercontent.com/assets/15216503/21747929/b96ef94c-d59c-11e6-8575-8157ca473707.png)
uploading a profile image at /profile is raising a bad request 400

[2017-01-08 08:37] SaptakS commented on #2870
Duplicate issue of #2794

[2017-01-08 08:37] #2870 closed

[2017-01-08 10:12] SaptakS commented on #2790
@mariobehling do you want me to show the description in form of tooltip? But then description having all the formatting doesn't make sense.

[2017-01-08 10:18] mariobehling commented on #2790
@SaptakS We are collecting the description with formatting. So, we can later add a "sponsors page", but this is lower priority. Still, the way it is, is good then. Tooltip sounds good for now, but the priority is to get the sorting right for now.

I will open another issue as I have some ideas how to improve this whole section. The first step before we make more substantial changes - is to make th

[2017-01-08 10:23] SaptakS commented on #2790
@mariobehling have implemented the sorting based on the level. Please check #2872

[2017-01-08 10:27] SaptakS commented on #2790
The last edited sponsor gets shown at the last. Though this is a weird phenomenon but now since sorting is done based on level, the ordering inside a single level may change after editing but it will still be sorted based on levels.

[2017-01-08 10:28] Abhi2424shek commented on #1845
This issue is looming large, can I go for a complete fix pls.

[2017-01-08 10:32] SaptakS commented on #2848
Can you provide links?

[2017-01-08 10:35] SaptakS commented on #1845
What do you have in mind?

[2017-01-08 10:37] SaptakS commented on #2851
@Heredroky setup the environment in your local system. Then you can put in your super admin details and also access the admin section. You can't access admin section in deployed version because you don't have permission.

[2017-01-08 10:39] SaptakS commented on #2853
@mariobehling which route should we implement this feature?? I mean while entering ticket details or when tickets shown in event dashboard?

[2017-01-08 10:41] mariobehling commented on #2853
@SaptakS In the event wizard step 1, please.

[2017-01-08 10:47] Abhi2424shek commented on #2848
@SaptakS https://open-event-dev.herokuapp.com/mytickets/ and https://open-event-dev.herokuapp.com/events/create/ please remember to login first !

[2017-01-08 12:21] satwikkansal commented on #2864
@mariobehling I'd like to be assigned to this issue.

[2017-01-08 17:18] #2848 closed

[2017-01-08 19:38] PARAG00991 commented on #2810
I'd like to work on this.

[2017-01-08 21:47] mariobehling opened #2876 "Incorrect calculation of discounts if cost is less than 1USD"
If I enter 99% or 41.50USD discount of a 42USD ticket, the ticketing system does not calculate Cents. It is also not possible to give 20.50 USD discount.

Expected: Please ensure, Cents and other currencies, that use discounts that result in anything behind the fullstop (or comma) are calculated as well.

[2017-01-08 22:11] mariobehling opened #2877 "Footer bar not vertically centered in area"
After recent changes the footer bar is not anymore vertically centered. Expected: Imprint and other info is centered in the middle between the two lines above/below.

![screenshot from 2017-01-08 23-09-15](https://cloud.githubusercontent.com/assets/1583873/21753987/cf4e2d7c-d5f7-11e6-955f-cea6fdba7fe5.png)

[2017-01-08 22:56] mariobehling opened #2878 "Errors in calculation of ticket sales"
The calculation of ticket sales is erroneous. If discounted or free tickets are sold the sales overview still shows the normal ticket price instead of the real ticket price.

Expected: Show the real sales revenue in the sales column.

The total already shows the correct income.

![screenshot from 2017-01-08 23-51-36](https://cloud.githubusercontent.com/assets/1583873/21754310/07b07976-d5fe-11e6-98

[2017-01-08 23:04] mariobehling opened #2879 "Show actually paid ticket price in view Attendees section"
The view attendees section of event organizers has a column with the ticket price. Please show the real price paid here (e.g. if people are using discounts) instead of the normal ticket price.

![screenshot from 2017-01-09 00-01-33](https://cloud.githubusercontent.com/assets/1583873/21754389/24d5569c-d5ff-11e6-8ecc-921c2647ab29.png)

[2017-01-09 03:44] #2862 closed

[2017-01-09 03:53] PARAG00991 commented on #2877
I'd like to work on this issue.

[2017-01-09 03:58] PARAG00991 commented on #2879
I'd like to work on this issue.

[2017-01-09 04:55] niranjan94 commented on #2877
@PARAG00991 proceed :)

[2017-01-09 04:56] niranjan94 commented on #2879
@PARAG00991 you can proceed working on this once you're done with #2877

[2017-01-09 06:39] PARAG00991 commented on #2877
@mariobehling @niranjan94  I don't see any of the footer options when I run locally like the ones @mariobehling mentioned above (imprint, T&C and so).
![footer_error](https://cloud.githubusercontent.com/assets/8044561/21758711/4de19f22-d664-11e6-9d84-a347dadc5f6a.png)
Could you tell me how to get them?

[2017-01-09 07:55] SaptakS commented on #2848
@Abhi2424shek I think this was my GSoC project and being one of the maintainers and upstream contributors of this project I think I know in which page I need to login first. Thanks for reminding me however...

And the left alignment was chosen during designing. It's not a bug. Please do proper research before creating an issue or commenting on it. I think you haven't gone through the pages properl

[2017-01-09 08:16] magdalenesuo commented on #2878
I'd like to do this.

[2017-01-09 08:28] mariobehling opened #2880 "Move license info from sidebar to bottom of content area"
The license information is currently on the sidebar.
![screenshot from 2017-01-09 09-25-34](https://cloud.githubusercontent.com/assets/1583873/21760635/d7919d9c-d64d-11e6-9f3b-f7a546e40752.png)

Please move it to the bottom of the content area of the event below "Getting Here".

![screenshot from 2017-01-09 09-27-10](https://cloud.githubusercontent.com/assets/1583873/21760648/ed4bb640-d64d-11e6-92

[2017-01-09 08:31] magdalenesuo commented on #2880
I'd like to work on this

[2017-01-09 09:00] mariobehling opened #2881 "Propose and Create more tests"
The server currently is missing tests of a number of functions. Please implement additional tests.

[2017-01-09 09:00] niranjan94 commented on #2877
@PARAG00991 you need to goto the admin settings and add the system pages

[2017-01-09 09:07] SaptakS commented on #2778
@mariobehling the problem is there is an error in saving. If you notice the snackbar, it is often giving an error for image upload and saving. But the thing is while editing, the wizard proceeds to next step and then gives error for the last step in snackbar, which is why it goes unnoticed. I am checking both of this errors. Will fix them.

[2017-01-09 09:17] gaeun commented on #2867
Closing via #2868

[2017-01-09 09:17] #2867 closed

[2017-01-09 11:19] pipix51 opened #2882 "Authentication Issues with Signing In"
If I sign in with Google+ or Facebook errors are thrown and I see errors such as invalid_client. I set the webpage up using the one-click Heroku depoly button- could that have contributed to the problem?
![screenshot 47](https://cloud.githubusercontent.com/assets/19341222/21764882/5f82d322-d6a0-11e6-8df0-b3276d48ddb0.png)
![screenshot 48](https://cloud.githubusercontent.com/assets/19341222/2176488

[2017-01-09 11:22] niranjan94 commented on #2882
@pipix51 that is because you have not correctly configured the keys for facebook, google etc at `/admin/settings`

[2017-01-09 11:22] #2882 closed

[2017-01-09 12:52] hpdang opened #2883 "Ticket page - remove redundant text & column"
Ticket Page: https://eventyay.com/e/45da88b7

Please remove (attached screenshot)
- Column Fee
- the word '- paid' after each ticket type.

![eventyay tickets](https://cloud.githubusercontent.com/assets/1658742/21767010/f102c1ce-d671-11e6-86ae-9895d2b60e42.png)

[2017-01-09 13:03] adarsh-ideal commented on #2883
I would like to work on this.

[2017-01-09 13:04] SaptakS commented on #2883
@hpdang I think this is the same issue as this: https://github.com/fossasia/open-event-orga-server/issues/2851

Please check and close. Thanks.

[2017-01-09 13:14] hpdang commented on #2883
thanks @SaptakS, closing this

[2017-01-09 13:14] #2883 closed

[2017-01-09 14:10] RajuKoushik opened #2885 "Installation guide for macOS"
As many developers use the macOS for development, it would be really great if there is an installation guide for the installation.

[2017-01-09 14:12] RajuKoushik commented on #2885
Can I work on this issue ?

[2017-01-09 14:34] aviaryan commented on #2885
👍 That would be a great addition I think. We can include side-by-side mac osx instructions in the [INSTALLATION.md](https://github.com/aviaryan/open-event-orga-server/blob/development/docs/INSTALLATION.md) where applicable. What do you think? @SaptakS @niranjan94

[2017-01-09 15:40] #2880 closed

[2017-01-09 15:40] niranjan94 commented on #2885
@RajuKoushik go ahead

[2017-01-09 17:47] aviaryan commented on #2824
@SaptakS
Is there a need to add these fields to Speakers API? IMO we should add them for completeness.
If not, then maybe this issue can be closed.

[2017-01-09 18:01] SaptakS commented on #2824
@aviaryan I think the speaker fields should be added for completeness.

[2017-01-09 18:14] aviaryan commented on #2824
@SaptakS ok, will do it. I will also write some tests for them.

[2017-01-09 19:02] magdalenesuo commented on #2879
I'm doing 2878 and this is also fixed by a similar change, I'd like to do this aswell and fix this in the same PR...

[2017-01-09 19:08] SaptakS commented on #2878
@mariobehling I have a small doubt in this issue. In this issue you say to show the discounted ticket price. But the discount really is on the order rather than a ticket. So basically a ticket can never have a discount.

An order can have a discount. But at the same time an order can have multiple tickets in it. So showing discounted sales in tickets doesn't really make sense don't you think? Beca

[2017-01-09 19:27] SaptakS commented on #2879
@magdalenesuo @niranjan I think there is a ambiguity we should clear first about this 2 issues:
https://github.com/fossasia/open-event-orga-server/issues/2878#issuecomment-271377070

After that @magdalenesuo feel free to work. Since you are working on #2878 the same code should fix both the issues.

[2017-01-09 19:48] mariobehling commented on #2878
@SaptakS The discounts are on the ticket. A user can get e.g. one discounted community ticket and one early bird ticket (at normal price). So the tickets are in fact discounted. We follow the same way as eventbrite and eventnook.

[2017-01-09 19:51] SaptakS commented on #2878
@mariobehling but right now we can apply the discount code only on the total order rather than each ticket. We can't give discount exactly like specific to a particular ticket. In DB also I think the discount code is stored with order rather than all the tickets bought. @niranjan94 correct me if I am wrong.

[2017-01-09 19:51] mariobehling commented on #2878
@SaptakS I also compared this with the dashboard of eventnook. Here as well the tickets are calculated at the price they are really sold. If two community tickets were sold at the price of 1 Dollar, it cannot show up as 42 Dollars. So, this does not make sense. It should show the real price.

[2017-01-09 19:53] Heredroky commented on #2851
@SaptakS @mariobehling How can I add fee to a ticket?

[2017-01-09 19:54] SaptakS commented on #2878
@mariobehling Suppose for example there is an order with 1 community ticket of $10 and 1 early bird ticket of $20. Now I apply a promocode which gives me $5 discount. So the final total will be $10 + $20 - $5, right? But we can't say that the real price in which community ticket is sold is $5 instead of $10 or something like that. Because the promocode is applied on the entire order.

In this case

[2017-01-09 19:55] mariobehling commented on #2878
@SaptakS I do not know how to explain: You cannot show up 42USD in one row and then the final total calculation of 1USD in another row. All numbers need to make sense. If there is a question how we save it in the DB or how the discount is calculated, then we need to fix the DB. It is wrong for the accounting otherwise. You can continue to explain this to me, but the fact is: No customer will under

[2017-01-09 19:57] SaptakS commented on #2878
That can be solved by showing like this maybe:
![screenshot from 2017-01-10 01-05-03](https://cloud.githubusercontent.com/assets/9530293/21781046/d4bdf256-d6d3-11e6-9257-1aa4d40909f6.png)

But the main question is should it be implemented in order or ticket level. Because if it has to be in ticket level then I think the code needs to be changed.

[2017-01-09 19:58] mariobehling commented on #2878
Yes, the code needs to be changed then. Eventbrite and Eventnook do it that way. If we do it differently everyone will be confused.

[2017-01-09 20:01] hpdang commented on #2851
For this issue, please Remove redundant text & column as showed below, @Heredroky if you are not sure what to do, please let other take care of this and you try something else. Thank you.
![eventyay tickets](https://cloud.githubusercontent.com/assets/1658742/21781136/75a7a96c-d6ae-11e6-8726-007a268600e8.png)

[2017-01-09 20:01] mariobehling commented on #2878
Here is an example of Eventnook. We should follow this simple approach. The income is calculated - based on the real income (not some theoretical income without discounts). The row of the Early Bird tickets show the real income.

![screenshot from 2017-01-09 20-59-08](https://cloud.githubusercontent.com/assets/1583873/21781219/d2f5655a-d6ae-11e6-9205-d8e75f54c886.png)

[2017-01-09 20:04] SaptakS commented on #2878
@mariobehling got you. I think the way of implementation needs to be changed rather than the way of showing. I will look into it.

[2017-01-09 20:14] Heredroky commented on #2851
@hpdang I already did that, but now I want to add fee to the tickets to test the changes I made

[2017-01-09 20:15] mariobehling commented on #2851
@hpdang Thanks for clarifying.

I think there is another problem here as well. The fee feature "absorb or pass on" is not anymore in the ticketing system. It must have gotten lost at some point.

This is how it looks like at eventbrite:

![screenshot from 2017-01-09 21-11-55](https://cloud.githubusercontent.com/assets/1583873/21781664/c4f1bcf4-d6b0-11e6-903c-bdf9e167bed9.png)

[2017-01-09 20:18] Heredroky commented on #2851
@mariobehling Hmm, then I am going to make a PR, and you can check my changes 😄 .
But I have a problem with deploying the app to heroku or the other services that are in the docs, and the problem is that I don't have a credit card

[2017-01-09 20:19] mariobehling opened #2894 "Add absorb or pass on fees to the ticketing system"
Open Event has a fee system, that can be defined in the admin section. See screenshot:

![screenshot from 2017-01-09 21-17-01](https://cloud.githubusercontent.com/assets/1583873/21781732/167f717e-d6b1-11e6-81cf-f04edaf0fc8b.png)

Please implement "absorb fee" or "pass on fees" in the ticketing system similar to other systems.

![screenshot from 2017-01-09 21-11-55](https://cloud.githubusercontent.

[2017-01-09 20:23] Heredroky commented on #2851
@mariobehling My trial on Bluemix is already finished, and when I try to create a Redis instance, it asks for a CC verification :/

[2017-01-09 20:38] satwikkansal commented on #2864
@mariobehling I'm working on it. I had a question though, How is the buyer supposed to discover the ticket? I mean where should he/she enter the Access code to reveal the tickets.

[2017-01-09 21:12] mariobehling commented on #2879
I think the questions have been cleared up. Please proceed. Cheers.

[2017-01-09 21:16] mariobehling opened #2896 "My Tickets: Logo scaled wrongly"
The logo in the my tickets tab is scaled wrongly or not scaled. Expected: Logo should fit into the area on the left of the ticket info.

![screenshot from 2017-01-09 22-14-00](https://cloud.githubusercontent.com/assets/1583873/21783826/311eca4a-d6b9-11e6-8d59-86298c46d45e.png)

[2017-01-09 21:26] mariobehling commented on #2864
@satwikkansal The access code should be entered into the same field as the promotional code. After it is applied, additional tickets should show up in this. This only make sense if the organizer makes certain tickets only available through an access code, which he/she should.

![screenshot from 2017-01-09 22-25-07](https://cloud.githubusercontent.com/assets/1583873/21784130/98e0bf52-d6ba-11e6-897e

[2017-01-10 04:28] mariobehling opened #2897 "Add a registration form for attendees"
The current registration only covers basic details. Other event ticketing systems have the option to define custom fields. Please take inspiration from the following screenshot and research how others are handling custom forms. Then implement the form and add a link in the event setup checklist on the event dashboard.

This is a parent issue. Please open sub-issues for this feature.

![screenshot

[2017-01-10 04:59] aviaryan commented on #2881
- [ ] Pentabarf, ical, xcal imports and exports are entirely untested. I will write tests for them.

Will update issue as I find more.

[2017-01-10 05:26] mariobehling opened #2898 "Cannot save changes in profile"
Trying to save any changes in the profile result in an error page.

![screenshot from 2017-01-10 06-25-43](https://cloud.githubusercontent.com/assets/1583873/21794781/ba2e31ba-d6fd-11e6-866c-38778ff3b878.png)

[2017-01-10 05:29] #2877 closed

[2017-01-10 05:30] #2824 closed

[2017-01-10 05:33] niranjan94 opened #2899 "Setup automatic scheduled backups for the eventyay.com database"

[2017-01-10 05:41] aviaryan commented on #2898
I will have a look at it.

[2017-01-10 05:50] #2851 closed

[2017-01-10 06:14] #2850 closed

[2017-01-10 09:54] SaptakS opened #2901 "Change the logic of Discount Code to something similar to Eventnook"
In eventnook the discount code is applied on individual tickets rather than the total like we do. We need to modify that to follow the way it is done in eventnook and other event organising websites.

[2017-01-10 10:34] mariobehling opened #2902 "Increase width of ticketing form"
The ticket sales form is breaking lines for long ticket names, but there is still some space left in the area.

Please increase the width of the form. Ensure it does not look too squeezed though.

![screenshot from 2017-01-10 11-31-59](https://cloud.githubusercontent.com/assets/1583873/21803068/b8daad2c-d728-11e6-8fbd-20c1f48f93ba.png)

[2017-01-10 11:40] aviaryan commented on #2885
PR #2888

[2017-01-10 11:55] #2885 closed

[2017-01-10 13:40] SaptakS commented on #2878
@magdalenesuo you can proceed with this issue and #2879 once #2906 is merged. The logical error has been fixed. You can now show the discounted price for each tickets as said in the issue.

[2017-01-10 13:48] RajuKoushik opened #2907 "Inconsistency of Design Layout of Buttons"
Inconsistency of the dimensions of the buttons on the 'register' page.
![screen shot 2017-01-10 at 7 17 54 pm](https://cloud.githubusercontent.com/assets/10185323/21808486/8c9cef54-d769-11e6-8e28-77b6b77fd036.png)

[2017-01-10 13:54] #2901 closed

[2017-01-10 15:55] satwikkansal commented on #2864
Okay.. I'm working on it :)

[2017-01-10 16:18] PARAG00991 opened #2908 "No Flash message showing on clicking save button"
When admin clicks on the save button after making changes in admin `modules` and **social links** section in admin `content`, flash message doesn't display showing `Changes Saved Successfully` or something like that.

[2017-01-10 16:19] PARAG00991 commented on #2908
I'd like to work on this.

[2017-01-10 16:33] niranjan94 commented on #2908
@PARAG00991 sure ... Go on

[2017-01-10 16:34] magdalenesuo opened #2909 "Ticket get discounted even if the ticket not selected for discount code."
![screenshot from 2017-01-10 21-57-34](https://cloud.githubusercontent.com/assets/20799954/21814841/a3b0c816-d780-11e6-8632-b9e5926a29b0.png)
![screenshot from 2017-01-10 21-58-08](https://cloud.githubusercontent.com/assets/20799954/21814842/a46f67c6-d780-11e6-8ac6-1ecc2d28d60d.png)

[2017-01-10 16:40] #2778 closed

[2017-01-10 16:41] #2790 closed

[2017-01-10 16:41] niranjan94 commented on #2780
Seems to work fine on eventyay.com & open-event-dev ... Closing this for now.

[2017-01-10 16:41] #2780 closed

[2017-01-10 16:43] niranjan94 commented on #2797
@nikhilrayaprolu were you able to reproduce this with what I have said above ?

[2017-01-10 16:47] niranjan94 commented on #1457
This could be taken up at #2881

[2017-01-10 16:47] #1457 closed

[2017-01-10 16:51] niranjan94 commented on #1845
I think we already have a set of good pictures given by @PolBaladas in #2648. That covers the scope of this ticket. Anything more could be dealt with in a new ticket. So closing this for now.

@Abhi2424shek if you wish to contribute alternative images please do go ahead with a PR referencing this issue (even if it is closed). Would love to have more contributions :smile:

[2017-01-10 16:51] #1845 closed

[2017-01-10 16:53] niranjan94 commented on #1991
Documentation can be added at https://github.com/fossasia/support.eventyay.com/issues.

[2017-01-10 16:53] #1991 closed

[2017-01-10 16:54] #2605 closed

[2017-01-10 16:54] niranjan94 commented on #2652
@gureks ?

[2017-01-10 16:57] niranjan94 commented on #2036
I guess we're going with Jekyll. Meets all our requirements.

According to https://github.com/fossasia/support.eventyay.com

So this can be closed.

[2017-01-10 16:57] #2036 closed

[2017-01-10 17:38] RajuKoushik commented on #2907
Fixed the issue and sent a PR.

[2017-01-10 19:20] rafalkowalski opened #2911 "event page return 404 error"
https://eventyay.com/explore/bengaluru/events/
Event "Science Hack India" visibles on events list but we can't go to details.
We get 404 error https://eventyay.com/e/7c140a8f/

[2017-01-10 20:01] SaptakS opened #2912 "Attendees showing only completed orders"
Attendees in ticket tab has options for all different tabs but shows on completed orders only.

[2017-01-10 23:26] shubham-padia opened #2916 "Admin sales section: Navbar absent on fees, fees status, discount code, create discount code section"
![selection_063](https://cloud.githubusercontent.com/assets/13910561/21829119/58fd4198-d7ba-11e6-9eed-0f7092fa08a3.png)

[2017-01-10 23:44] shubham-padia commented on #2894
I'd like to start working on this once other PRs with db model changes open right now are merged.

Also for clarification -
- `absorb fees` - no fees to be taken
- `pass on fees` -  take fee according to defined fee value.

[2017-01-11 02:09] mariobehling commented on #2894
"absorb fees" - fees go into the ticket price
*pass on" - fees go on top of the ticket price

The fees are defined in the admin section at "settings" and depend on the country. Also add the actual fee info into the UI. Best is: Just have a look at eventbrite how they do it, please.

[2017-01-11 02:22] mariobehling commented on #2916
I am unclear about this issue as it seems to cover a lot of different things. Please also consider, it is not always the best choice to give too many options. Keep it simple for now. It also decreases the areas we have to maintain and test continuously.

OK - Sorting by Fees seems like a nice thing to have
X  - Fee status - it means if fees are absorbed or passed on. I think it is not relevant for

[2017-01-11 02:27] mariobehling commented on #2902
The whole area should be expanded. After the change the final row is not aligned anymore. Please help to finalize this. Thank you.

![screenshot from 2017-01-11 03-26-02](https://cloud.githubusercontent.com/assets/1583873/21832783/d376f9bc-d7ad-11e6-876e-66716be0eb92.png)

[2017-01-11 03:16] Rohanhacker commented on #2902
how about this ? is it acceptable ?
![screenshot from 2017-01-11 08-43-13](https://cloud.githubusercontent.com/assets/9512969/21834289/064d7ea2-d7da-11e6-8739-880c78024c28.png)

[2017-01-11 04:00] Rohanhacker commented on #2902
is it acceptable ?
![screenshot from 2017-01-11 09-25-04](https://cloud.githubusercontent.com/assets/9512969/21835123/80e23aee-d7e0-11e6-8eee-9d1a65beb27c.png)

[2017-01-11 04:06] mariobehling commented on #2902
Please keep the last column in one row as before.

![screenshot from 2017-01-11 05-05-35](https://cloud.githubusercontent.com/assets/1583873/21835240/b439e57e-d7bb-11e6-997f-99b7bd4c2518.png)

[2017-01-11 04:09] mariobehling commented on #2902
"Enter Promotional Code" and "Order Now" are too much moved to the right in comparison to other areas. Please implement similar to original table. The main goal is to make the area wider.

[2017-01-11 04:16] #2896 closed

[2017-01-11 06:14] magdalenesuo commented on #2912
This will solve in PR #2913

[2017-01-11 06:14] aviaryan opened #2918 "Use Postgres database for unit testing"
Related: #2881

Currently open event uses SQLite database for testing (both locally and on Travis). This approach has a number of problems.

1. DateTime field is not natively supported in SQLite. It is just a string in SQLite so testing date-time database fields becomes difficult. (I was writing tests for pentabarf export/import and there I noticed this issue. I remember facing the same issue a lo

[2017-01-11 06:23] SaptakS commented on #2918
@aviaryan locally you can run it on postgreSQL. I am myself running it locally on postgreSQL. You can see the documentation for setting it up locally which does mention using postgreSQL. The issue isn't clear to me.

[2017-01-11 06:26] aviaryan commented on #2918
@SaptakS I think you missed my point here. I am talking about unit testing, not running.

[2017-01-11 06:34] niranjan94 commented on #2918
@aviaryan we are already using Postgres in testing

[2017-01-11 06:35] niranjan94 commented on #2918
See https://github.com/fossasia/open-event-orga-server/blob/development/.travis.yml

[2017-01-11 06:40] niranjan94 commented on #2918
Okay ... Looks like testing config is overriding the env at `tests/unittests/setup_database.py` .. So, just that line should be changed

[2017-01-11 06:40] aviaryan commented on #2918
@niranjan94 It may seem like that but [setup_database.py](https://github.com/fossasia/open-event-orga-server/blob/development/tests/unittests/setup_database.py) which is responsible for testing application has DATABASE_URL hard-coded. So in reality, SQLite is being used.

[2017-01-11 06:42] SaptakS commented on #2918
@aviaryan @niranjan94 yeah it needs to changed for the unittesting environment. True.

[2017-01-11 07:50] shubham-padia commented on #2916
I think there is a misunderstanding here. This issue does not cover the things mentioned in the above comment. These sections were already existing before the issue.

This is a simple issue about the missing tab navbar on the top of these poor existing sections.

Before:
![selection_063](https://cloud.githubusercontent.com/assets/13910561/21829119/58fd4198-d7ba-11e6-9eed-0f7092fa08a3.png)

After:

[2017-01-11 07:54] shubham-padia commented on #2916
A sperate issue can be opened about the issues mentioned in the above comment.

[2017-01-11 07:58] SaptakS commented on #2911
@mariobehling @rafalkowalski I think this issue is because there was an issue related to public link on copying events #2837 which was fixed. Due to that fix, these links must have become invalid because the changes get implemented from the next events created. This is the only logical reason or explanation I can come up with. @niranjan94 what do you think?

[2017-01-11 08:49] niranjan94 opened #2919 "Sections required in admin sales tab"
From @mariobehling 's comment at https://github.com/fossasia/open-event-orga-server/issues/2916#issuecomment-271759687

OK - Sorting by Fees seems like a nice thing to have
X - Fee status - it means if fees are absorbed or passed on. I think it is not relevant for the sales people. It is only relevant for organizers.
X - Sales By Discount Code. This data is mainly interesting for the specific even

[2017-01-11 08:50] #2916 closed

[2017-01-11 09:32] shubham-padia commented on #2919
`Fee status` allows the sales admin to look through all the invoices, which seems important to the sales admin, renaming it to something like `All Invoices` would be good.

`Discount Code` section allows the sales admin to create discount codes, but in the current implementation, discount codes are created and maintained by the event organiser, so this seems redundant.

[2017-01-11 10:03] arpitn30 commented on #2802
I'd like to work on this

[2017-01-11 10:06] niranjan94 commented on #2802
@arpitn30 good to know that you're interested :) ... But as you can see this issue is labeled as `later` which means, we're first looking to solve the bugs in the system first. So, browse through the issues available and help us fix the bugs soon :)

[2017-01-11 12:55] #2909 closed

[2017-01-11 12:55] #2878 closed

[2017-01-11 12:55] #2879 closed

[2017-01-11 12:55] #2912 closed

[2017-01-11 13:02] arpitn30 commented on #2800
@Marauderer97 Are you still working on this issue? I'd like to try this one

[2017-01-11 13:12] magdalenesuo commented on #2907
@SaptakS  and @niranjan94 I think this issue has been fixed.

[2017-01-11 13:15] #2907 closed

[2017-01-11 13:48] aviaryan commented on #2918
Working on this now. Unfortunately it's not being as simple as changing one line. Some tests are failing. I will try to send a PR after I fix everything ASAP.

[2017-01-11 13:51] mariobehling commented on #2911
Yes, I think so.

I deleted the event. If this issue should re-appear we can reopen it. Thanks!

[2017-01-11 13:51] #2911 closed

[2017-01-11 14:06] magdalenesuo commented on #2815
I would like to work on this if no one else is working on it.

[2017-01-11 14:41] RajuKoushik commented on #2908
Can I work on this if the work has not been started ?

[2017-01-11 14:51] PARAG00991 commented on #2908
@RajuKoushik I'm working on it.

[2017-01-11 15:00] RajuKoushik commented on #2908
Sure :)

[2017-01-11 15:06] Abhi2424shek commented on #2722
Guys I have a suggestion we could integrate the geo locator which is a project of FOSSASIA currently for this, the project is at: github.com/fossasia/geo_locator it currently works for the gci16 site only we could improve it's reach. Suggestions please @niranjan94

[2017-01-11 15:45] niranjan94 commented on #2722
@Abhi2424shek I don't think that could be used here ... And this issue is related the wrong IP address of the user being passed on to the app

[2017-01-11 15:48] Abhi2424shek commented on #2722
Hah @niranjan94 i interpreted it the other way, reading through.

[2017-01-11 17:50] #2918 closed

[2017-01-11 18:12] #2908 closed

[2017-01-11 18:38] Marauderer97 commented on #2800
@arpitn30 Yes I am. Facing an issue with setting up the mail service as of now.

[2017-01-11 20:34] #2815 closed

[2017-01-11 20:38] mariobehling commented on #2794
@SaptakS Any updates?

[2017-01-11 20:41] mariobehling commented on #2919
@shubham-padia Thanks for the clarification. I agree invoices is a good idea. Could you simply call it "invoices", please?

Also agree, that Discount Codes is not needed in this section at the moment.

Please proceed with "Invoices". Cheers.

[2017-01-11 21:01] SaptakS commented on #2794
This issue doesn't come up in local system. However occurs in deployments. I did check in heroku which gave a R14 memory error. Will check for kubernetes. Problem is since I cant recreate in local system its a little difficult. I will try to solve this issue by tomorrow.

[2017-01-11 21:07] #2876 closed

[2017-01-11 21:51] shubham-padia opened #2924 "Ticketing: Implement logic for fees defined in the settings section"
Fees defined in `admin/settings` have not been implemented in the ticketing logic. Implement this along with `absorb fees` from #2894 .
P.S working on this.

[2017-01-11 22:09] shubham-padia commented on #2919
@niranjan94 @SaptakS Should I comment out the relevant code (in the `views`) for now or should the code be removed. Also IMO the relevant template files should not be deleted for now. Please give you suggestions.

[2017-01-11 22:28] SaptakS commented on #2924
Pease make one commit about this in #2925 only. Because merging only a frontend PR doesn't make sense. Thanks.

[2017-01-12 04:59] niranjan94 commented on #2919
@shubham-padia comment out for now. Let the code stay. Will review this later.

[2017-01-12 16:01] shubham-padia opened #2929 "Remove discount code related sections from admin/sales, also rename fees status to Invoices."
Follow up from #2919. The relevant code should commented out

[2017-01-12 17:08] #2929 closed

[2017-01-12 20:01] mariobehling commented on #2797
Bug is still vaild on eventyay. Please see below. There are no options to switch on or off anything.

![screenshot from 2017-01-12 21-01-00](https://cloud.githubusercontent.com/assets/1583873/21906136/5630d03c-d90a-11e6-8280-8a547f2c9e48.png)

[2017-01-12 20:04] mariobehling opened #2933 "Implement option to get orders information of own events"
In "Settings" please add an option for own events to get email updates. Whenever the user creates a new event implement "get email updates" as a standard.

Implement as follows:
* [ ] Subscribe Order Alert
Subscribe me for an order alert email (receive a notification email when there is an order)

![screenshot from 2017-01-12 20-56-55](https://cloud.githubusercontent.com/assets/1583873/21906197/97

[2017-01-12 20:36] #2894 closed

[2017-01-12 20:36] #2924 closed

[2017-01-12 20:59] SaptakS opened #2934 "UI bugs in Attendees Page"
These are some of the UI bugs that need to be fixed in Attendees Page `/events/<event-id>/tickets/attendees/`

- [ ] Placed label is shown in red. -> Change it to blue like in orders page.
- [ ] Order by whom is not shown.
- [ ] Order URL is wrong.
- ~~Only Placed and Completed orders shown.~~ Not an UI issue. So will be solved in #2936
- [ ] The Actions not shown for Completed orders.

@magdalene

[2017-01-12 21:07] SaptakS commented on #2934
@mariobehling a little digging into this issue led me to find that ticket holders info is saved only if the order is placed or completed. This logic seems to be correct because if one doesn't reach either of the state, then the details of attendees can't be attained. In that case I feel the "pending" and "expired" tabs shouldn't be there in Attendees page. @niranjan94 @magdalenesuo views?

[2017-01-12 21:18] mariobehling commented on #2934
@SaptakS Yes, this is one way to see it. However, in that case we could also take out "pending" in "Orders".

Actually it is possible to get the attendee information if the user has entered them already or the user was logged in, when he/she started the process. The only difference is: The user has not paid yet.

So, if the user has entered all data, but has not paid, we actually have all the data

[2017-01-12 21:28] SaptakS commented on #2934
We do have the user who started the order but not the details of the all the attendees in that order, i.e. if there are multiple tickets in that order. This already does get save.

This is a possible way of showing but we can show only the order and order status information. That would be fine?

If the user has entered the attendee data and pressed pay now, but not completed payment procedure or i

[2017-01-12 21:34] shubham-padia opened #2935 "Custom pages: add option allowing user to enter html"
Current in the pages in the admin section, Text,links etc according to the textbox can be entered, but those do not seem to be sufficient for custom pages.

- An option allowing user to enter html directly would be helpful. And as the content is coming from the admin himself, we do not have to worry about sanitizing the input.

![selection_071](https://cloud.githubusercontent.com/assets/13910561/2

[2017-01-12 21:40] SaptakS commented on #2935
@shubham-padia the description does have options for adding styles to the text. Are you suggesting we allow to write html apart from this?Also, sanitizing is necessary because though the admin enters but an attacker can easily write a javascript code to add some malicious scripts. So sanitizing is always necessary even if it is in admin section, I feel.

[2017-01-12 21:47] shubham-padia commented on #2935
Yes.

did not quite understand how this is possible unless the attacker is the admin itself. Would be great if you could explain in more detail :)

[2017-01-12 21:49] SaptakS commented on #2935
I don't think this is the right place to explain. But you should always sanitize your data. Just like you should always store your passwords in DB in encrypted form even though only DBA is supposed to be getting access to DB. :)

[2017-01-12 22:00] shubham-padia commented on #2935
@SaptakS just to clear if any misunderstanding was there, i am taking about [HTML sanitization](url). i.e allowing all html tags inputted by the admin to be displayed

[2017-01-12 22:04] mariobehling commented on #2934
Yes, sounds good to me.

[2017-01-12 22:05] SaptakS commented on #2935
@shubham-padia I understand. I think any html tag except <script> <form> <iframe> tag is fine I think. @niranjan94 would you like to add any?

Also, I think since the formattings such as bold, italics etc do store in html format and shown in the same way without sanitization, then so should be any other html tag. `| safe` filter can be used in Jinja2 templating to show with the html format as save

[2017-01-12 22:07] SaptakS opened #2936 "Save attendee data once Pay Now is clicked"
Right now the attendee data gets saved only after the order has been placed or completed. What we want to achieve is save the attendee data immediately after pay now is clicked with status="pending".

[2017-01-12 22:15] shubham-padia commented on #2935
Yes the safe filter does exactly that.

[2017-01-12 22:23] SaptakS commented on #2935
Whether to allow or not to allow, I leave the decision to @mariobehling. I feel we have enough rich editor features so as not to allow separate HTML content. Most of CMS websites also allow only a rich text editor. We can keep an option in future to upload html files or maybe html for system pages. Right now I personally feel it's enough. There are other more important bugs that need to be address

[2017-01-12 22:58] mariobehling commented on #2935
@shubham-padia You have both good arguments and yes we really want better pages like what you can see on other pages. However, right now there are so many bugs that have a much higher priority than this. I think when we want to build beautiful pages we should come back to this issue to understand which html features we really need. Could we postpone this please? There are features like registratio

[2017-01-12 23:01] mariobehling commented on #2935
Sorry to divert from this ticket, but a beautiful html info page does not help if the system has bugs in essential areas. Please help us. Our priorities are here: https://github.com/fossasia/open-event-orga-server/labels/bug

[2017-01-12 23:07] SaptakS commented on #2794
@mariobehling figured out the issue why it works properly in local system but not in deployments. The problem is in local system, the absolute path of the image returned is correct however in deployment we use AWS which now due to some reason returns a wrong path. I will get this fixed by today. :)

[2017-01-12 23:20] mariobehling commented on #2794
@SaptakS We are using AWS in Heroku I think, but for eventyay/master branch we are using Google Cloud.

[2017-01-13 03:52] shubham-padia commented on #2935
@mariobehling  sounds good. We can focus on this later :)

[2017-01-13 04:31] RajuKoushik commented on #2933
@mariobehling  Can I work on this issue ?

[2017-01-13 04:34] RajuKoushik commented on #2902
Can i work on this ?

[2017-01-13 04:44] niranjan94 commented on #2902
I think @Rohanhacker is already working on it ... Let's see

[2017-01-13 04:44] niranjan94 commented on #2933
@RajuKoushik sure. Proceed

[2017-01-13 04:45] #2794 closed

[2017-01-13 05:31] SaptakS commented on #2794
@mariobehling the reason was same. The temporary image that we use to give a preview should be saved where the files are saved i.e. in heroku or kubernetes. After that when we press "Upload Changes" button, it resizes from the local image copy and uploads it to either AWS or Google Cloud. The error was it was uploading directly to AWS or Google Cloud and then it was unable to create a proper path

[2017-01-13 09:18] #2934 closed

[2017-01-13 09:20] SaptakS commented on #2934
The above discussion will be resolved in #2936

[2017-01-13 11:04] SaptakS commented on #2801
@nikhilrayaprolu what is the status of this???

[2017-01-13 13:26] mariobehling opened #2940 "Add tagline to home page and as option in admin settings"
The home page currently shows up on search engine at "eventyay - Home"

Please add a tagline to the home page and ensure the title in the meta information shows up as:
eventyay - Event Management and Ticketing

Please add the option about the tagline in the admin settings below "App Name".

![screenshot from 2017-01-13 14-26-02](https://cloud.githubusercontent.com/assets/1583873/21931534/3f9b8078-

[2017-01-13 15:11] magdalenesuo commented on #2940
I'd like to try this, please

[2017-01-13 16:05] Abhi2424shek commented on #2848
@SaptakS I never mentioned to annoy you.

But I felt that center text was good and never imposed my proposals. I mentioned sir it was opened for improvements. You could have proved it wrong :) sir, I am always pen for suggestions and is the same for each things I create.

I would however go further in next time ;)

Thanks for your help sir :)
Happy coding ;)

[2017-01-13 20:11] shubham-padia opened #2942 "Cannot create new events"
![selection_074](https://cloud.githubusercontent.com/assets/13910561/21944127/7bbf608e-d9fa-11e6-8354-0d749b847a47.png)

Vuejs cannot compile the wizard template.

[code]

[2017-01-13 21:36] shubham-padia commented on #2936
@SaptakS @mariobehling I followed the discussion on #2934.

Some points i'd like to mention.
- Currently the data is indeed being saved on clicking pay now.
- In the discussion there seemed to be a confusion b/w `Initialized` and `Pending` status
  - `Initialized` - User has entered the attendee details and clicked on pay now.
  - `Pending` -  User is on the fill attendee information page and has

[2017-01-13 21:51] mariobehling commented on #2936
Please do not add an initialized status. This is information is not relevant for organizers. Please follow existing services. Maybe we should postpone this as well, cause there are bugs that really prevent us from a release whereas the initialize information add little value for the actual event management. Please help to keep things simple. We do not need to re-invent things. Just follow existing

[2017-01-13 22:05] shubham-padia commented on #2936
@mariobehling I think there is a misunderstanding, there is no mention of re-inventing. The `Initialized` status is a pre-existing field already existing in the current app

 The above comment clarifies how things are working with the app right now.

[2017-01-13 22:34] mariobehling commented on #2936
Please keep this discussion shorter: No additional UI statuses. Keep it simple for users.

[2017-01-13 22:40] shubham-padia commented on #2936
The initialized status is not additional, it is already displayed in the UI, then should it be removed?

Agreed. Maybe we can come on this later.

[2017-01-14 00:44] shubham-padia commented on #2800
@Marauderer97 If you are facing an issue with setting up the mail service, please take up another issue for now, so that we can move faster towards a beta release. There are many other open issue unrelated to mail. Thank you. :smile:

[2017-01-14 01:10] shubham-padia commented on #2797
If no one else is working on this, i'd like to work on this.

[2017-01-14 01:23] shubham-padia opened #2945 "Links to docs in README.md broken due to change in the structure of docs folder"

[2017-01-14 05:11] #2942 closed

[2017-01-14 05:13] #2945 closed

[2017-01-14 05:15] #2810 closed

[2017-01-14 06:23] SaptakS commented on #2936
@shubham-padia I have already fixed this. System crashed yesterday so couldn't send a PR.

[2017-01-14 12:11] #2940 closed

[2017-01-14 12:43] aviaryan opened #2949 "Page titles shown as {app name} - {page name}"
Continuing from https://github.com/fossasia/open-event-orga-server/pull/2941#discussion_r96114730

I think "{page name} - {app name}" is more natural and practical.
Only on homepage we should have {app name} - {tagline}

---

Correct way to make titles for site pages is {page name} - {app name}.

[2017-01-14 13:13] magdalenesuo commented on #2949
@aviaryan I tried to change it as @mariobehling asked for. This was followed in Eventbrite site, so I made the changes for the whole site in general rather than the Home page alone. :sweat_smile:
![screenshot from 2017-01-14 18-39-12](https://cloud.githubusercontent.com/assets/20799954/21955087/39d5cf16-da89-11e6-87d9-3c8247c4241d.png)

[2017-01-14 13:32] aviaryan commented on #2949
@magdalenesuo 👍 Ok, I can understand why you did that. But I am not sure if that's the way to go.
What do you think? @mariobehling @hpdang

[2017-01-14 16:34] #2949 closed

[2017-01-14 17:05] mariobehling opened #2952 "Take out Disqus from documentation site"
Disqus was integrated into the documentation site, but actually we do not really need it. Please take it out. No need for comments.

![screenshot from 2017-01-14 18-04-05](https://cloud.githubusercontent.com/assets/1583873/21956539/ea5ae00c-da83-11e6-9c52-878545e61b84.png)

[2017-01-14 18:07] mariobehling opened #2953 "Improve structure, add info and enhance layout of documentation"
Ideas for improvements:
* [ ] Move "About" and "Contact" to dev branch docs folder and generate it from there
* [ ] Add Readme.md as start page and ensure the links to the subfolders are working
* [ ] In API.md add a link to the Swagger API docs in the subfolder
* [ ] Define a way to add pages into the documentation structure (a mini how to for the documentation)
* [ ] Propose the implementation o

[2017-01-14 18:26] aviaryan commented on #2952
Working on it now.

[2017-01-14 20:02] shubham-padia commented on #2797
@niranjan94 @SaptakS
Finally :sleepy:, found the cause behind this and why it was displaying for @nikhilrayaprolu .

- `message_settings` table is used for managing the mail settings at `admin/messages/`
- The same `message_settings` table is used to handle user email preferences (which IMO is a mistake as it does not contain a user id field) and you cannot see the settings until that table is ini

[2017-01-14 20:10] shubham-padia commented on #2764
@mariobehling Any updates on this?

The above comments seem to fix the issue

Works as of right now ( on open event dev heroku)

Thanks.

[2017-01-14 20:13] shubham-padia commented on #2797
^^ Should I create relevant issues and move ahead.

[2017-01-14 20:20] mariobehling commented on #2764
Ok, great.

[2017-01-14 20:20] #2764 closed

[2017-01-15 13:45] magdalenesuo commented on #2864
Can I work on this if no is?

[2017-01-15 13:55] satwikkansal commented on #2864
@magdalenesuo You can, I'm stuck with my exams this week :(

[2017-01-15 16:17] SaptakS commented on #2902
@Rohanhacker are you working on this?? what is the progress??

[2017-01-15 16:29] Rohanhacker commented on #2902
@SaptakS i am super busy this week. Anyone can feel free to send PRS otherwise I'll continue to work on this after friday.

[2017-01-15 16:30] RajuKoushik commented on #2902
So should I proceed fixing this issue ?

[2017-01-15 16:30] SaptakS commented on #2902
@RajuKoushik yeah sure.

[2017-01-15 19:09] mariobehling opened #2957 "How to structure documentation"
We have 3 main projects repository. If we want to keep the documentation in each project repo, how could we give users access to a common developers documentation website?

An idea would be to do the following:
http://dev.eventyay.com - overview of projects
http://dev.eventyay.com/server/ - documentation of server project
http://dev.eventyay.com/droidgen/ - documentation of Android generator
http:

[2017-01-16 09:19] #2936 closed

[2017-01-16 18:43] aviaryan commented on #2957
One way this seems possible is by using a travis build task that clones each repo, structures the files and then pushes them to the github pages branch.
We will need to have the script in the master branches of all repos and whenever a doc in any repo is updated, the whole website will be updated.
We can use the gh-pages of [open-event repo](https://github.com/fossasia/open-event) for hosting gene

[2017-01-16 21:17] SaptakS opened #2959 "Discount shown in Event Guest Page is wrong."
The total and the discount seem to be exchanged in the event guest page.

[2017-01-16 21:21] magdalenesuo commented on #2959
I'll work on this

[2017-01-16 23:24] #2864 closed

[2017-01-17 01:21] mariobehling commented on #2957
@aviaryan Yes, I also had a similar idea, but was hoping someone comes up with something better here.

[2017-01-17 11:31] Marauderer97 commented on #2953
@mariobehling I would like to help with this.

[2017-01-17 11:34] SaptakS opened #2961 "Applying access code shows all the hidden tickets"
Applying access code now shows all the hidden tickets in the event. What should be done is show only the ones in which the access code is applicable.

[2017-01-17 11:36] magdalenesuo commented on #2961
Oh yes, I've forgotten to add a check. Will fix

[2017-01-17 11:37] SaptakS commented on #2961
@magdalenesuo No problem. Thanks.

[2017-01-17 12:06] SaptakS commented on #2797
@shubham-padia, no need to create separate issues. Please do the needful and solve the issue. I think we will need and users' email preference table and prepopulate it, right?

[2017-01-17 13:00] #2959 closed

[2017-01-17 13:30] #2961 closed

[2017-01-17 13:54] RajuKoushik commented on #2902
@aviaryan  @SaptakS  I am finding it difficult to locate the the directory for buying a ticket after creating an event. Could you please help me figuring it out ?

[2017-01-17 14:01] SaptakS commented on #2902
@RajuKoushik, you can find the files in `templates/gentellela/public/event/` . In the website you can access it in `/e/<event_identifier>/`

[2017-01-17 14:51] shubham-padia opened #2963 "Pre-Populate message_settings table with default config"
The aforementioned table maintains the config for The email preferences maintained by the Admin/super admin at `/admin/messages`
During the initial creation of the app, the table is not populated without going to `/admin/messages` and saving the form once. Pre populate it

[2017-01-17 15:51] #2800 closed

[2017-01-17 17:15] shubham-padia commented on #2963
Just noticed `email_notifications` table takes care of the user email notifications settings.
closed in favour on #2797 .

[2017-01-17 17:15] #2963 closed

[2017-01-17 17:38] shubham-padia opened #2965 "Miscellaneous bugs in ticketing section"
- Payment currency is hard-coded at some places
- Label and ticket holder box overlap
![selection_078](https://cloud.githubusercontent.com/assets/13910561/22032287/d3ccff18-dd09-11e6-8c5e-ce1675564949.png)

[2017-01-17 17:44] shubham-padia commented on #2933
@RajuKoushik Are you currently working on this ? . If not I would like to proceed with the issue.

[2017-01-17 18:21] RajuKoushik commented on #2933
@shubham-padia You can proceed with it. Due to an unforeseen situation I am occupied with something else.

[2017-01-18 03:49] SaptakS commented on #2965
* The label and ticket holder box overlap was done consciously by me. :sweat_smile: @niranjan94 comments.

[2017-01-18 04:34] SaptakS commented on #2902
@RajuKoushik you are working on this, right?

[2017-01-18 04:39] #2952 closed

[2017-01-18 08:20] RajuKoushik commented on #2902
Yes @SaptakS

[2017-01-18 10:01] Himanshi-Khandelwal commented on #2953
@mariobehling I want to work on this. A little guidance would be appreciated.

[2017-01-18 10:05] #2965 closed

[2017-01-18 10:32] Himanshi-Khandelwal commented on #2897
@mariobehling I really want to contribute for this issue . (Little guidance would be appreciated).

[2017-01-18 10:34] SaptakS commented on #2897
@Himanshi-Khandelwal sure.. Go Ahead... You can check into how custom forms are implemented for sessions and speakers in open-event... The approach will be similar...

@mariobehling do we keep the design also like in custom_forms? That way there will be a consistency in design. Or should we make it like eventnook does?

[2017-01-18 11:10] Himanshi-Khandelwal commented on #2897
where to create this custom form ? Is it where user creates an account there?

[2017-01-18 11:37] #2933 closed

[2017-01-18 11:42] SaptakS commented on #2897
@Himanshi-Khandelwal the custom form is there while creating an event.

[2017-01-18 12:15] Himanshi-Khandelwal commented on #2897
@SaptakS while creating the form , (first name , last name and email ) is not there as given in the screenshot . or is it that I have to change the create event page in this way?

[2017-01-18 20:58] mariobehling opened #2969 "No access to sales tab"
Cannot access sales tab as an admin.

![screenshot from 2017-01-18 21-57-35](https://cloud.githubusercontent.com/assets/1583873/22082724/326f5f42-ddc9-11e6-9e30-c85a46fb12c5.png)

[2017-01-18 21:00] hpdang opened #2970 "Reset a lost password function doesn't work"
Hi, I tried to reset my password for the registered account. Nothing happened. I did not receive any email, also not in my spam folder. I got this screen after submitted my email in the form

![screenshot from 2017-01-18 18 31 45](https://cloud.githubusercontent.com/assets/1658742/22082766/5eeba616-ddc9-11e6-95c5-f24c1add9c57.png)

[2017-01-18 21:06] mariobehling opened #2971 "Feature to make users admin no longer available for superadmins"
The feature to make users an admin seems to be lost for super admins. Super admins can only add sales and marketers.

[2017-01-18 21:29] hpdang opened #2972 "Access codes not working - giving error "Promotional Code not valid""
After the organizer has set up an access code and new attendees make an order with this access code, the error message comes up "The promotional code entered is not valid. No offer has been applied to this order."

Expected: User can make an order of the hidden ticket.

![screenshot from 2017-01-18 22 26 48](https://cloud.githubusercontent.com/assets/1658742/22083694/7dada852-ddcd-11e6-885e-b8fb98

[2017-01-18 21:30] mariobehling commented on #2864
@satwikkansal The access code feature has been added to the master deployment on eventyay now. Just tested it, but unfortunately an error message comes up. Issue is filed here: https://github.com/fossasia/open-event-orga-server/issues/2972

Could you help, please?

[2017-01-18 21:41] mariobehling commented on #2863
Implementation of this issue is not complete. When the discount code is applied the user should see the ticket cost striked through and the discounted cost. Please compare to screenshot.

![screenshot from 2017-01-07 19-41-23](https://cloud.githubusercontent.com/assets/1583873/21744210/93941abc-d511-11e6-987c-002254742874.png)

[2017-01-18 21:46] shubham-padia commented on #2863
:+1:

[2017-01-18 21:49] shubham-padia commented on #2971
@mariobehling Currently working for me. Can you recheck, please? Thanks !!
![selection_083](https://cloud.githubusercontent.com/assets/13910561/22084387/f9d2aa22-ddf5-11e6-987a-6fea4bece47e.png)

[2017-01-18 21:56] mariobehling commented on #2972
The logic that needs to be implemented is:
a) If an "Access Code" exists, it should allow the order and display "You access code is applied an your and you can make this order now."
b) If a "Discount Code" exists" the system should act as of now.
c) If an "Access Code" and a "Discount Code" with the same name exists, both Access Code and Discount Code should be applied to tickets and the relevant

[2017-01-18 22:05] mariobehling commented on #2971
Yes, there it is. Thank you!

[2017-01-18 22:05] #2971 closed

[2017-01-19 06:14] #2970 closed

[2017-01-19 08:56] magdalenesuo commented on #2972
@mariobehling @hpdang I'll look into it.

[2017-01-19 09:21] SaptakS commented on #2972
@magdalenesuo the discount calculation in the pre_payment_page has again been broken. Please fix that also. Thanks.

[2017-01-19 10:00] SaptakS opened #2975 "Discount in the public event page gets applied to all tickets."
Discount in the public event page gets applied to all tickets instead of getting applied to only those tickets which are applicable for the discount.

[2017-01-19 11:02] #2972 closed

[2017-01-19 12:27] mariobehling opened #2978 "Overview of ticket income shows incorrect number"
Comparing numbers in the ticket sales of organizers and in the admin ticket dashboard shows different numbers. Numbers in the specific event ticket dashboard are correct.

![screenshot from 2017-01-19 13-26-05](https://cloud.githubusercontent.com/assets/1583873/22106840/fd61506c-de4a-11e6-9676-721528644717.png)

[2017-01-19 12:30] mariobehling opened #2979 "Admin Sales Tab: Last table row breaks design"
The last ticket row is indented to the right and should be correctly aligned to the above cells in a number of tables of the admin sales tab.

![screenshot from 2017-01-19 13-29-30](https://cloud.githubusercontent.com/assets/1583873/22106927/75302938-de4b-11e6-8f3b-ffc9c01cf83d.png)

[2017-01-19 12:40] mariobehling opened #2980 "Enhance admin sales tab with date and links"
In the tables of the admin sales tab please enhance as follows:
* [ ] add event dates in the second column
* [ ] in first column make event name itself link to the specific event dashboard and add in brackets "(View Live Site)"

![screenshot from 2017-01-19 13-35-22](https://cloud.githubusercontent.com/assets/1583873/22107206/d4e02652-de4c-11e6-9a90-f9b44e9197ee.png)

[2017-01-19 12:48] mariobehling opened #2981 "Admin Sales Tab: Implement additional filters"
Please implement additional filters for the sales admin tab. Probably a dropbdown menu with cross boxes is suitable or make another suggestion.

Implement as follows with:
* [ ] Filter to only show Live, Past, or Draft events
* [ ] Filter to only show events with paid tickets

![screenshot from 2017-01-19 13-45-50](https://cloud.githubusercontent.com/assets/1583873/22107410/ed80fc6c-de4d-11e6-8a2f

[2017-01-19 13:36] mariobehling opened #2982 "Implement discount/access code link to show hidden tickets and discounts"
Other ticketing platforms offer to access discount tickets or tickets available with access code through a direct link. Please implement the same here. An example of the event link here:
1. Normal event link: https://eventyay.com/e/45da88b7
2. Event link with access and/or discount code "railsgirls": https://eventyay.com/e/45da88b7?code=railsgirls

Please add the link to copy just above the save b

[2017-01-19 15:24] magdalenesuo opened #2984 "sales tab in admin gives Internal server error"
![screenshot from 2017-01-19 20-41-54](https://cloud.githubusercontent.com/assets/20799954/22112565/6d75ceee-de89-11e6-957b-2088f73eab8f.png)

[2017-01-19 15:44] #2975 closed

[2017-01-19 16:03] niranjan94 commented on #2984
Duplicate of #2969

[2017-01-19 16:03] #2984 closed

[2017-01-19 16:05] #2969 closed

[2017-01-19 16:10] mariobehling opened #2985 "Auto delete pending orders after 72 hours"
Currently pending orders seem to be kept in the system forever. Please delete pending orders and pending attendees automatically after 72 hours.

![screenshot from 2017-01-19 17-08-56](https://cloud.githubusercontent.com/assets/1583873/22114524/19d1df86-de6a-11e6-81a6-8a58e861004b.png)

[2017-01-19 16:10] magdalenesuo commented on #2982
I'll do this

[2017-01-19 16:15] SaptakS commented on #2985
Do we change it to "Expired" ? And what about the "Expired"? Should we let them stay?

[2017-01-19 16:19] mariobehling opened #2986 "Implement Cancel and Delete order"
Currently orders cannot be cancelled or deleted by the organizer. Please implement a cancel and delete action from the ticket dashboard.

* [ ] Cancel means the ticket stays in the dashboard but shows up as canceled and in this case all generated ticket QR codes should become invalid.
* [ ] Delete means all tickets of the order are canceled and the tickets and orders is deleted from the organizer

[2017-01-19 17:19] mariobehling commented on #2898
This issue is not entirely solved. The fix still has issues:
When the user uploads a photo and saves it, any text that is in the "description" is deleted. On the other hand if the user goes to another page and returns to the profile and then changes anything in the "description" field the images disappears after the change is "Updated".

Expected: Image and test should be saved.

[2017-01-19 17:22] SaptakS commented on #2898
@mariobehling checking

[2017-01-19 18:15] hpdang opened #2990 "Access Code for Hidden Ticket: Errors occurred during ticket selection process"
After I applied the access code, the system showed me the hidden ticket. But when I tried to select ticket, it didn't show the calculation and Order Now button doesn't work. See below:

![screenshot from 2017-01-19 18 56 57](https://cloud.githubusercontent.com/assets/1658742/22119160/cb15f696-de7a-11e6-862d-652f090e3b19.png)

Note: even though the calculation and Order Now button didn't work, when

[2017-01-19 18:16] hpdang commented on #2972
still have some errors, please check https://github.com/fossasia/open-event-orga-server/issues/2990

[2017-01-19 19:13] #2990 closed

[2017-01-19 19:24] mariobehling commented on #2985
Yes, good idea.

[2017-01-19 19:58] #2898 closed

[2017-01-19 21:23] mariobehling opened #2993 "Ticket description not shown"
Please ensure the ticket description shows up below the ticket. If description is hidden show a text "Show details". If user choose " Display Ticket description on Public Events page" in wizard step one show description as expanded.

Compare eventnook:
![screenshot from 2017-01-19 22-20-26](https://cloud.githubusercontent.com/assets/1583873/22125892/d24dfba0-de95-11e6-91b3-2647cefd746b.png)

[2017-01-19 21:41] mariobehling opened #2994 "Cannot edit ticket details"
The editing of tickets is blocked with the info "Orders have been placed". As a matter of fact orders have not been placed. There are possibly pending orders though. However as filed in an issue elsewhere pending orders do not seem to expire. In any case they should not block the editing of tickets.

Expected:
* [ ] It should be possible to edit and delete tickets, that do not have "completed orde

[2017-01-19 21:44] SaptakS commented on #2994
@mariobehling right now the limitation is that there is pending orders. If expired orders, you can edit but for pending orders you can't. You want to allow edit for all case except "completed orders". How about a order is in "pending" state, someone is about to make payment when you make the changes. So he sees $5 ticket thinks cool and buys but you change it to $15 when he actually buys. How do w

[2017-01-19 21:56] mariobehling opened #2995 "Implement "User Links" in User Admin dashboard"
In the admin dashboard `/admin/users/` implement a column "User Links" behind the "Event Roles" column with the following links:

* [ ] Link to User's Tickets
* [ ] Link to User's Sessions
* [ ] Link to User's Events
* [ ] Link to User's Settings

[2017-01-19 22:09] mariobehling opened #2996 "Add "Action" dropdown menu to the last column on the specific event ticket dashboard"
Add "Action" dropdown menu to the last column on the specific event ticket dashboard with the following action items:

* [x] Mark as Cancel -> Send user to cancel form https://github.com/fossasia/open-event-orga-server/issues/2997
* [x] Resend Confirmation Email -> Directing user to Email resend form https://github.com/fossasia/open-event-orga-server/issues/2998
* [ ] Edit Order Info -> Directing

[2017-01-19 22:11] mariobehling opened #2997 "Implement form to cancel ticket"
The ticket dashboard of events should offer a link to cancel tickets as described here https://github.com/fossasia/open-event-orga-server/issues/2996. Please implement a form with this feature similar to the one in the screenshot below.

![screenshot from 2017-01-19 23-09-13](https://cloud.githubusercontent.com/assets/1583873/22127534/8b216d46-de9c-11e6-9f38-f9a97a86d0a8.png)

[2017-01-19 22:14] mariobehling opened #2998 "Implement "Resend Confirmation" form in the ticketing dashboard"
At points users will contact organizers, that they have not received their ticket. Please implement a form to "Resend Confirmation" similar to screenshot below. This action item will be linked from the ticketing dashboard and should be part of that dashboard keeping the menu on the left.

This is a subissue to https://github.com/fossasia/open-event-orga-server/issues/2996

![screenshot from 2017-0

[2017-01-19 22:24] mariobehling opened #2999 "Show "completed orders" and "attendees with completed orders" in ticketing dashboard first"
The ticketing dashboard currently shows "All" orders and "All" attendees first including the ones with orders pending or expired. Please move the "All" button to the very right of the button row and show "Completed" Orders/Attendees first when the users opens the tab.

![screenshot from 2017-01-19 23-03-50](https://cloud.githubusercontent.com/assets/1583873/22127910/631ae7f8-de9e-11e6-8516-e53f18d

[2017-01-19 23:56] mariobehling commented on #2994
@SaptakS Firstly pending orders right now, never seem to expire and I see pending orders that are 19 days old in one event.

This could happen, but then how often is this case actually happen? There could just be a quick message "We are sorry, but ticket sale was not successful. The ticket is no longer available. Please check for other options."

Right now we have the issue, that tickets with smal

[2017-01-20 01:55] Princu7 commented on #2999
@mariobehling I would like to try to fix this issue. Thanks!!

[2017-01-20 03:07] mariobehling opened #3000 "Wizard Step 2 Sponsors: Using red delete button deletes last sponsor in list instead of sponsor in row"
Using red delete button deletes last sponsor in list instead of sponsor in row.

Expected: The sponsor which is next to the delete button should be deleted.
![screenshot from 2017-01-20 04-04-38](https://cloud.githubusercontent.com/assets/1583873/22134224/c0ddca00-dec5-11e6-9172-fb67f8309926.png)

[2017-01-20 05:33] SaptakS commented on #2994
Ok. I will look into this. Also I will look into the auto expiring issue for tickets. Solving both together will do the trick I feel.

[2017-01-20 12:00] #2899 closed

[2017-01-20 12:07] #2979 closed

[2017-01-20 14:11] anukul commented on #3000
Hi, where do I find this button?
I installed Open Event orga server on an AWS EC2 instance using the instructions [here].(https://github.com/fossasia/open-event-orga-server/blob/development/docs/installation/aws.md)
But all I see is:

![image](https://cloud.githubusercontent.com/assets/5358644/22152348/7518c57e-df48-11e6-887e-a0d9538932cc.png)

[2017-01-20 14:37] anukul commented on #3000
Hi, I think it deletes the sponsor next to which the Remove button is located.
I followed the instructions [here](https://github.com/fossasia/open-event-orga-server/blob/development/docs/installation/aws.md) and set it up.

Here's a gif: https://github.com/anukul/anukul.github.io/blob/master/output.gif

[2017-01-20 16:37] hpdang commented on #2863
hi guys, can someone take care of this please?

[2017-01-20 17:15] shubham-padia commented on #2863
@hpdang sorry for the delay, been busy with academics lately, will take it up tonight and fix it.

[2017-01-20 18:09] #2982 closed

[2017-01-20 23:12] shubham-padia opened #3007 "Discount code logic: fees excluded from discount"
Currently fees are being excluded from percentage discounts:
e.g even if the discount is 100%, the user still has to pay the fee.
![selection_087](https://cloud.githubusercontent.com/assets/13910561/22168635/f772d802-df93-11e6-9168-fc993bf0d845.png)

[2017-01-21 06:49] SaptakS commented on #3007
@shubham-padia the logic needs to be corrected in all the pages including event dashboard, pre payment order form, admin/sales tab. Please take care of that as well.

[2017-01-21 08:40] Princu7 commented on #2995
@mariobehling I will try to solve this issue.

[2017-01-21 12:02] #2863 closed

[2017-01-21 12:53] Princu7 commented on #2999
Please close this issue.

[2017-01-21 13:19] #2902 closed

[2017-01-21 13:19] #2993 closed

[2017-01-21 14:46] #3007 closed

[2017-01-21 15:26] magdalenesuo opened #3013 "Add 'Placed' Column in Admin Dashboard"
only Completed and Pending showing at the moment:
![screenshot from 2017-01-21 20-53-53](https://cloud.githubusercontent.com/assets/20799954/22175507/e6f9b6ca-e01b-11e6-96fc-758eba46b46e.png)

[2017-01-21 15:26] magdalenesuo commented on #2978
I'll do this

[2017-01-21 16:32] #2994 closed

[2017-01-21 18:47] #3013 closed

[2017-01-21 19:31] magdalenesuo commented on #2980
Can I work on this, please?

[2017-01-21 21:40] mariobehling opened #3017 "Avoid line breaks by distributing columns"
How can we distribute the column more event in the ticketing table and avoid breaking rates and dates.

Please implement a better distribution of columns.

![screenshot from 2017-01-21 22-39-04](https://cloud.githubusercontent.com/assets/1583873/22177965/94add662-e02a-11e6-9e66-3f600ba443b4.png)

[2017-01-21 22:38] #2980 closed

[2017-01-22 01:18] #3017 closed

[2017-01-22 08:06] yasirunilan opened #3020 "Installation error"
I followed the intallation guide , when I tried to install the requirements  by running
pip install -r requirements.txt

I get this error
Error: You need to install postgresql-server-dev-X.Y for building a server-side extension or libpq-dev for building a client-side application.
What could be wrong?

[2017-01-22 08:25] aviaryan commented on #3020
If you are on Linux, apt install libpq-dev

On 22-Jan-2017 1:36 PM, "yasirunilan" <notifications@github.com> wrote:

I followed the intallation guide , when I tried to install the requirements
by running
pip install -r requirements.txt

I get this error
Error: You need to install postgresql-server-dev-X.Y for building a
server-side extension or libpq-dev for building a client-side application.
Wha

[2017-01-22 08:47] darkharshg opened #3021 "create event issue"
I followed in installation procedures in [Local.md](https://github.com/fossasia/open-event-orga-server/blob/development/docs/installation/local.md) but whenever I try to create an event it lands me onto the following page.
![foss](https://cloud.githubusercontent.com/assets/22577945/22181223/564a9a08-e0ad-11e6-9d46-586b43bdde03.png)

Is there anyway to resolve this?

[2017-01-22 08:57] SaptakS commented on #3021
Can you provide the terminal log?

[2017-01-22 08:59] darkharshg commented on #3021
[code]

[2017-01-22 09:01] darkharshg commented on #3021
[code]

[2017-01-22 09:15] aviaryan commented on #3021
@darkharshg Can you try accessing the server from `127.0.0.1:5000` rather than localhost:5000.
I think it is worth a shot. 👍

[2017-01-22 09:24] darkharshg commented on #3021
@aviaryan using 127.0.0.1 instead of localhost lands me on 404 page.

[2017-01-22 09:24] niranjan94 commented on #3020
@yasirunilan please do not open an issue for assistance during installation. You'd get better support at our Gitter channel :smile:

https://gitter.im/fossasia/open-event-orga-server

[2017-01-22 09:24] #3020 closed

[2017-01-22 11:20] aviaryan commented on #3021
I ran the latest dev version on my side without any issues. Does this error happen only in create event page or in other pages too? Also which OS are you on?

[2017-01-22 13:15] darkharshg commented on #3021
@aviaryan yes it happens only on create event page. Everything else works just fine. I'm working on ubuntu 14.04

[2017-01-22 13:52] arpitn30 commented on #2997
This looks like an easy one for a beginner, I'd like to work on this if that's not a problem

[2017-01-22 19:47] SaptakS commented on #2999
#3008 fixes it. Thanks @Princu7

[2017-01-23 20:27] rafalkowalski opened #3023 "OAuth Authorization error. Please try again later."
I've tried to create an account on eventyay.com but it threw an error

```OAuth Authorization error. Please try again later.```

[2017-01-24 07:57] yasirunilan commented on #2998
@mariobehling  can I work on this?

[2017-01-24 11:09] shubham-padia commented on #2986
I'd like to work on this.

[2017-01-24 12:58] Himanshi-Khandelwal commented on #3021
@darkharshg try it using without internet , it will work . it's geoip problem

[2017-01-24 13:11] Himanshi-Khandelwal commented on #2953
@mariobehling I want to work on this. A little guidance would be appreciated.

[2017-01-24 14:07] yasirunilan opened #3024 "Hints for installation steps"
It's better  if some hints could be given with installation steps. I encountered many problems while following the given steps. Installing some other packages and upgrading PIP worked for me. I think those things should be added to the documentation.

[2017-01-24 14:29] shubham-padia commented on #2985
@SaptakS Are you currently working on this, if not i'd like to take this up.

[2017-01-24 15:55] #3024 closed

[2017-01-24 17:42] mariobehling commented on #2998
@yasirunilan sure. Go ahead.  Thanks

[2017-01-24 19:05] SaptakS commented on #2985
@shubham-padia you can continue on this after completing https://github.com/fossasia/open-event-orga-server/pull/3026 if I don't solve it by then. :smiley:

[2017-01-24 23:56] mariobehling commented on #3023
@rafalkowalski Cannot confirm this. I just tried. It all works for me? Or did you use another way through Google/Facebook? How did you get that. Cheers. Closing it. Please re-open, if it does not work for you still.

[2017-01-24 23:56] #3023 closed

[2017-01-25 00:06] mariobehling opened #3027 "Use same colors for background cells"
In the table the completed, placed and pending order cells should have the same color as the background for respective category in the upper table.

![screenshot from 2017-01-25 01-04-07](https://cloud.githubusercontent.com/assets/1583873/22272438/4b0ca476-e29a-11e6-85c7-d424464eab75.png)

[2017-01-25 00:10] mariobehling commented on #2999
Unfortunately this issue is not solved entirely yet. Clicking on "orders" and "attendees" shows the tab "completed tickets", but the content below still shows all tickets. Expected: The opening tab should only show the tickets that are actually completed.

![screenshot from 2017-01-25 01-07-48](https://cloud.githubusercontent.com/assets/1583873/22272555/16e0bccc-e29b-11e6-9ed6-6ff38af13893.png)

[2017-01-25 03:11] #3027 closed

[2017-01-25 04:49] SaptakS commented on #2997
@mariobehling what is the difference between this cancel and the cancellation in #2986 ?

[2017-01-25 08:15] sainiak009 commented on #2981
@mariobehling I want to work on this. Please assign this task to me.

[2017-01-25 08:27] yasirunilan commented on #2998
@mariobehling just to be clear the this should be a seperate page right?
And also do I need to implement the menu as metioned in #2996 to link it to this particular page?

[2017-01-25 08:43] mariobehling commented on #2986
The goal is to get something like this:

![screenshot from 2017-01-19 23-09-13](https://cloud.githubusercontent.com/assets/1583873/22127534/8b216d46-de9c-11e6-9f38-f9a97a86d0a8.png)

[2017-01-25 08:43] mariobehling commented on #2997
Yes, this is a duplicate. Thanks.

[2017-01-25 08:43] #2997 closed

[2017-01-25 08:48] mariobehling commented on #2998
@yasirunilan Yes, both issues are related.

Yes, this would be a separate page (like in screenshot above), that shows the ticket data just like when the user orders a ticket.

[2017-01-25 09:30] mariobehling commented on #2953
Thanks. @niranjan94 already set up branch for http://dev.eventyay.com. Let's follow up opening specific issues to improve this.

[2017-01-25 09:32] mariobehling commented on #2953
Ahh sorry, saw that this is implemented, but actually this issue is not finished yet. The documentation is generated by a script. Please check at the dev site and see how you could improve these points mentioned in the issue.

[2017-01-25 13:01] Himanshi-Khandelwal commented on #2953
@mariobehling how can I contribute for this?

[2017-01-25 16:58] magdalenesuo commented on #2999
I'd like to work on this if no one is.

[2017-01-25 17:29] Princu7 commented on #2999
I am sorry I didn't see this through. @magdalenesuo I am currently working on another issue. You can work on it if you like. Thanks!!

[2017-01-25 17:40] SaptakS opened #3031 "The colors in Admin Sales tab and Ticketing dashboard don't match."
The colors in table headers for admin sales tab and ticketing dashboard are different. Make the admin sales tab similar to ticketing tab.

[2017-01-25 17:44] magdalenesuo commented on #3031
I'd like to work on this, please

[2017-01-25 17:45] magdalenesuo commented on #2999
@Princu7 okay great :)

[2017-01-25 20:03] #3031 closed

[2017-01-25 21:18] shubham-padia commented on #2986
Cancel confirmation form and cancel mail should be send only on completed orders, in other cases the form should not appear, am i Interpreting this right?

[2017-01-26 04:50] Princu7 commented on #2995
@SaptakS @niranjan94 @mariobehling I have implemented the mentioned points. The server is live at
http://ancient-thicket-44821.herokuapp.com
Please check the required routes. If anything is missing or incorrect, please mention it for correction.
Admin Credentials:
email-id   :   princu7@gmail.com
password :  fossasia

[2017-01-26 05:57] niranjan94 commented on #2995
@Princu7 please open a PR too.

[2017-01-26 06:43] Princu7 commented on #2995
@niranjan94 Done. Please review and suggest improvements. Thanks!!!

[2017-01-26 07:11] #2995 closed

[2017-01-26 08:14] Himanshi-Khandelwal commented on #2897
@SaptakS  @mariobehling  ok I got it how and where  to create these custom forms . how to start doing this . A little guidance needed.

[2017-01-26 08:55] #2796 closed

[2017-01-27 06:33] Himanshi-Khandelwal commented on #2897
@mariobehling @SaptakS exactly same form is to be created as given in the screenshot?

[2017-01-27 07:41] #2986 closed

[2017-01-27 09:52] mariobehling commented on #2897
@Himanshi-Khandelwal Yes, but the design according to ours. The functionality is important. You can try out these kind of forms at eventnook and evenbrite to get a better idea.

[2017-01-27 15:42] shubham-padia opened #3036 "Ticketing: refund amount on cancellation of paid tickets"
Follow-up from the discussion in #3026.

The paypal/stripe token info is stored in the orders table. Use that info to initiate refund when the user cancels a paid and completed order. Please implement necessary pages required for this

[2017-01-27 16:24] #2985 closed

[2017-01-27 17:33] mariobehling opened #3039 "On specific event dashboard show number of sold and available tickets"
1. Currently the specific event dashboard only shows a green progress bar of ticket sales, e.g. https://eventyay.com/events/6/. Please implement the following alternative:

* [ ] Show a list of all tickets with bullet points, e.g. Business Ticket, Sponsor Ticket, Community Ticket etc.
* [ ] Show number of sold tickets/number of available tickets, e.g. 18/200
* [ ] Ensure only sold tickets that are

[2017-01-28 01:34] mariobehling commented on #2978
The numbers in the subtab in the admin sales section still do not add up correctly. Please see example below in screenshot.

![screenshot from 2017-01-28 02-33-53](https://cloud.githubusercontent.com/assets/1583873/22393141/51130ae4-e502-11e6-8ec5-6f8f99e9b8a3.png)

[2017-01-28 01:49] mariobehling opened #3040 "Cannot change "Call for Speakers" - does not save"
Currently the Call for Speakers cannot be changed as "Saving" is not executed.

![screenshot from 2017-01-28 02-47-57](https://cloud.githubusercontent.com/assets/1583873/22393308/570004dc-e504-11e6-8787-1befb8ad3b6e.png)

[2017-01-28 02:41] mariobehling opened #3041 "Accepting Speakers with or without Email Confirmation not possible"
Trying to accept speakers with or without email confirmation results in error message.

![screenshot from 2017-01-28 03-42-14](https://cloud.githubusercontent.com/assets/1583873/22393682/c8c08586-e50b-11e6-8997-e9a150f1fe7a.png)

![screenshot from 2017-01-28 03-40-55](https://cloud.githubusercontent.com/assets/1583873/22393676/ac853f2e-e50b-11e6-9af0-6bf9a34aa2a1.png)

[2017-01-28 02:46] mariobehling opened #3042 "Speaker image not getting saved"
After organizer adds a speaker and adds the speaker image, it is not saved, when revisiting the page.

![screenshot from 2017-01-28 03-44-31](https://cloud.githubusercontent.com/assets/1583873/22393693/2593b878-e50c-11e6-907c-b49e50d7d833.png)

[2017-01-28 10:12] #3040 closed

[2017-01-28 11:27] Jatinbalodhi96 commented on #2185
is xcal format import finished? or someone working on this?

[2017-01-28 11:30] mariobehling opened #3045 "Linkify shown link on access code page and discount page"
The access and discount code pages show links to tickets. Please linkify the links to open in a new tab on the overview page.

![screenshot from 2017-01-28 12-27-58](https://cloud.githubusercontent.com/assets/1583873/22396306/9a6dc15e-e555-11e6-864d-17a7870dde6d.png)

[2017-01-28 11:32] #3041 closed

[2017-01-28 11:34] Princu7 commented on #3039
@mariobehling Can I try this issue?

[2017-01-28 11:46] aviaryan commented on #2185
@Jatinbalodhi96 No, it's not implemented yet. You can go ahead and send a PR 😄

[2017-01-28 11:48] mariobehling opened #3046 "Enable to use access code and discount code together"
If the user generates an access code, it is not possible to apply a discount code as well. Please implement as follows:
* [ ] Allow to enter a discount code on a page that has an access code applied
* [ ] Allow the combination of access + discount code links (manually for now) e.g. `/e/47582707/?acode=VIP&dcode=888`

[2017-01-28 12:00] mariobehling opened #3047 "Add "Canceled" tab to ticket dashboard"
On the link e.g. https://eventyay.com/events/6/tickets/, please add a tab "Canceled" and show all canceled tickets.

![screenshot from 2017-01-28 12-59-53](https://cloud.githubusercontent.com/assets/1583873/22396438/c6275ce8-e559-11e6-8885-a5812e2f076b.png)

[2017-01-28 12:10] mariobehling opened #3048 "Ticket Dashboard: Ensure links in order summary link to the specific category tab"
On Ticket Dashboard: The links in the order summary table should link to the specific category tab. The links on "View Reports" column are currently not linking to the tabs.

![screenshot from 2017-01-28 13-08-58](https://cloud.githubusercontent.com/assets/1583873/22396484/1dc4a07c-e55b-11e6-8337-cff23c8fdaa4.png)

[2017-01-28 12:26] mariobehling opened #3049 "Discount code only applied after user selected ticket"
Discount code only applied after user selected ticket.

![screenshot from 2017-01-28 13-20-20](https://cloud.githubusercontent.com/assets/1583873/22396580/4c661a08-e55d-11e6-915d-d3024845afc5.png)

Expected behavior: Discount code should be shown in the list before the speaker applied the code.

![screenshot from 2017-01-28 13-24-52](https://cloud.githubusercontent.com/assets/1583873/22396581/5159

[2017-01-28 12:38] niranjan94 commented on #3039
@Princu7 please proceed :)

[2017-01-28 14:59] #3047 closed

[2017-01-28 16:21] mariobehling commented on #2797
Unfortunately the issue has not actually been solved. Still valid on eventyay. There are no options for email updates for specific events.

![screenshot from 2017-01-28 17-19-56](https://cloud.githubusercontent.com/assets/1583873/22397965/23a89354-e57e-11e6-8792-5069a28fcd5a.png)

[2017-01-28 16:53] mariobehling opened #3052 "Heroku deployment for master branch not working"
Please check out deployment for master to Heroku; http://open-event.herokuapp.com/

Currently I am getting a server error message.

[2017-01-28 17:23] shubham-padia commented on #2797
@mariobehling This bug was at database creation phase which has been fixed, could you please go to `/admin/messages` and click on save once. That should fix it :)

[2017-01-28 17:31] mariobehling commented on #3049
Still not working on eventyay.com after merge.

[2017-01-28 17:35] mariobehling commented on #2797
Thanks!

[2017-01-28 17:43] Jatinbalodhi96 commented on #3046
Hi @mariobehling I was looking to contribute to open-event-orga-server, so can i work on this issue if not assigned to anyone?

Thanks
Jatin

[2017-01-28 18:11] mariobehling commented on #3046
@Jatinbalodhi96 Sure go ahead. Thanks!

[2017-01-28 18:15] mariobehling opened #3054 "Only show sessions when schedule has been published"
There are issues with the public sessions page:
* [ ] Sessions that have not a time show up at the beginning of the program
* [ ] The session page shows up even though the schedule has not been published

![screenshot from 2017-01-28 19-13-05](https://cloud.githubusercontent.com/assets/1583873/22398703/0bc9dd78-e58e-11e6-923f-a84edc55f6f5.png)

[2017-01-28 18:24] mariobehling opened #3056 "Show available time (duration) in the speakers submission form"
In the "Session Type" field in the speakers form currently the time that is available does not show up. Please add it.

![screenshot from 2017-01-28 19-22-40](https://cloud.githubusercontent.com/assets/1583873/22398783/5a24c86a-e58f-11e6-9162-bc39860e29b3.png)

[2017-01-28 19:29] shubham-padia commented on #2801
@mariobehling @niranjan94 @SaptakS What are your opinions about using this plugin: https://blueimp.github.io/jQuery-File-Upload/.

[2017-01-29 00:28] #3056 closed

[2017-01-29 03:03] #3048 closed

[2017-01-29 03:06] niranjan94 commented on #2801
@shubham-padia we don't need another plugin for this. Our js files are already going out of control. We'll just still with jQuery's ajax and get the progress from there.

[2017-01-29 03:21] mariobehling opened #3058 "Option in "Where did you heard about our event?" always shows "Other" and results in error messages"
Option in "Where did you heard about our event?" always shows "Other" and results in error messages, that it needs to be filled out.

Expected: Only show additional option, when user chooses "Other" and do not show error if user leaves area empty.

![screenshot from 2017-01-29 04-03-05](https://cloud.githubusercontent.com/assets/1583873/22401593/31c2b1ca-e5da-11e6-832a-910336730cbc.png)

[2017-01-29 03:39] mariobehling opened #3059 "Session Overview with scrollbars, long text, draft issue"
The session overview has a few issues:
* [ ] shows scroll bars after saving sessions - Expected: No scrollbars
* [x] After user adds more information to an accepted session, the session shows up again in draft mode - Expected: Session should stay in same mode as before
* [ ] The abstract text in overview is very long - Expected: Only show the first 200 characters of the abstract

![screenshot from

[2017-01-29 05:30] #3021 closed

[2017-01-29 08:57] mariobehling opened #3060 "Deleted session not deleted in speaker dashboard"
A session that was entered accidentally for a speaker was deleted. It still shows up in the speakers dashboard.

Expected: Deleted Sessions should be deleted entirely.

![screenshot from 2017-01-29 09-54-21](https://cloud.githubusercontent.com/assets/1583873/22402953/51700764-e609-11e6-89ac-58056da14e78.png)

[2017-01-29 10:30] #2797 closed

[2017-01-29 11:59] hpdang opened #3062 "Unable to update email preferences"
since this morning I was unable to update email preferences. I tried to switch ON email updates but it always turned back to OFF mode.

Secondly, the event I am co-organizer in does not show up in preferences.

Expected behavior: User should be able to control email notifications.

![updateemailpreferences](https://cloud.githubusercontent.com/assets/1658742/22403799/b9a28cf8-e622-11e6-8c77-9c6de7a

[2017-01-29 12:35] #3042 closed

[2017-01-29 12:37] Jatinbalodhi96 commented on #3046
I have setup up the whole server on my local machine but I didn't set up "Flask-SocketIO development" and while creating a test event i am getting an notification error : **"An error occurred while saving. Please try again later ...DISMISS
![1](https://cloud.githubusercontent.com/assets/10434201/22404019/574b3566-e64d-11e6-8773-4d8f53d928b8.png)
"**
so is this error because i didn't setup flask-so

[2017-01-29 13:07] mariobehling commented on #3049
Please show currency in complete format. Currently it shows e.g. 30.0 USD instead of 30.00 USD.

[2017-01-29 13:16] mariobehling opened #3064 "Spaces are added in the speakers form boxes after saving it"
After saving the speakers form, spaces are added to boxes. Expected: No spaces in front of words in boxes.

![screenshot from 2017-01-29 14-11-08](https://cloud.githubusercontent.com/assets/1583873/22404263/7441f332-e62d-11e6-8c9c-9e2fa0ba00bd.png)

[2017-01-29 13:20] #3060 closed

[2017-01-29 13:24] Jatinbalodhi96 commented on #3046
Its working now, but can you tell me why we need to generate an access code or what is its requirement?

Thanks

[2017-01-29 13:49] #3064 closed

[2017-01-29 14:52] #3052 closed

[2017-01-29 17:50] mariobehling opened #3067 "Speakers Form: Add multiple choice for "What is your gender?""
On the speakers form please add a multiple choice question about the gender before "Where did you heard about our event?"

Implement:

* What is your gender?
  * Male
  * Female
  * Other

[2017-01-29 18:19] mariobehling opened #3069 "Enhance Form for Call of Speakers"
The form to answer the call for speakers needs to be improved to be fully usable, e.g. if a speaker wants to submit two proposals it is currently not possible. Therefore, please implement the following:

* [ ] When the user clicks "Submit Proposal" on Call for Speakers page open a pop up with the following options a) Register as a Speaker and b) Propose Session
* [ ] Split forms for Speakers and R

[2017-01-29 19:04] #3054 closed

[2017-01-29 20:21] #3067 closed

[2017-01-29 22:44] #3058 closed

[2017-01-29 23:28] #3045 closed

[2017-01-30 08:37] Himanshi-Khandelwal commented on #3069
@mariobehling is the pop up - a modal form pop up with the options a) Register as a Speaker and b) Propose Session?

[2017-01-30 08:57] mariobehling opened #3073 "Speakers Dashboard: Show 50 speakers as standard"
Currently the speakers dashboard shows 10 speakers in the standard view. Please change the standard view to 50 speakers.

![screenshot from 2017-01-30 09-56-04](https://cloud.githubusercontent.com/assets/1583873/22417059/7f5697f0-e6d2-11e6-8042-1d0a7926b637.png)

[2017-01-30 09:43] mariobehling opened #3074 "Speakers Dashboard: Photo uploaded by speakers not showing up in dashboard"
A user who makes a speaker submissions adds a photo. After the speaker is accepted the photo shows up on the website, but it does not show up in the speakers dashboard, e.g. on https://eventyay.com/events/6/speakers/

![screenshot from 2017-01-30 10-41-09](https://cloud.githubusercontent.com/assets/1583873/22418326/dab80e02-e6d8-11e6-9e14-fe4f6acf955f.png)

[2017-01-30 10:02] hpdang opened #3076 "Speaker can't change the photo"
After speaker submited a propposal, he/she should be able to change his/her photo.

![screenshot from 2017-01-30 11 00 02](https://cloud.githubusercontent.com/assets/1658742/22418931/6f6bc924-e6db-11e6-910c-209be69c92ce.png)

[2017-01-30 10:08] mariobehling commented on #3054
It seems like the change also affected, that the speakers do not show up on the page anymore.

[2017-01-30 10:10] SaptakS commented on #3054
@mariobehling without the sessions, showing the speakers seemed meaningless. So I asked @magdalenesuo to show only speakers for whose session has been scheduled in her PR. https://github.com/fossasia/open-event-orga-server/pull/3068#pullrequestreview-18998572

[2017-01-30 10:11] mariobehling opened #3077 "Speakers no longer on the page after they have been approved"
In issue https://github.com/fossasia/open-event-orga-server/issues/3054 we defined that the schedule should not show up as long as it is not published. However, as soon as speakers are approved, they can be shown on the page. This was the case until the PR for issue https://github.com/fossasia/open-event-orga-server/issues/3054.

Please re-enable to show speakers on the event page as soon as they

[2017-01-30 10:11] hpdang opened #3078 "Autofill option for ticket buyer"
if I want to buy a ticket for myself only, I still have to fill in my name and email twice. Is it possible to implement an autofill mode?

![autorefill](https://cloud.githubusercontent.com/assets/1658742/22419249/dd24d41e-e6dc-11e6-8a10-4ddfcdc6e851.png)

[2017-01-30 10:30] mariobehling opened #3080 "Number of Sent Mails in Dashboard incorrect"
The number of sent mails in the admin dashboard is not increasing even though a number of additional emails have been sent out, e.g. https://eventyay.com/admin/

![screenshot from 2017-01-30 11-28-47](https://cloud.githubusercontent.com/assets/1583873/22419808/66020ea8-e6df-11e6-9863-9a1e9fc5ab6b.png)

[2017-01-30 10:32] mariobehling opened #3081 "Mail reports and mail sent outs not working in a number of cases"
The mail sent outs are erroneous in a number of cases. Please have a look in the logs and solve mail issues (https://eventyay.com/admin/reports/#!mail-logs).

![screenshot from 2017-01-30 11-31-42](https://cloud.githubusercontent.com/assets/1583873/22419892/d0087a3a-e6df-11e6-87ab-0d0980cd6443.png)

[2017-01-30 10:36] mariobehling opened #3082 "Mail: New Session Proposals not Sent out to Organizers and Co-organizers"
After the submission of several people the new Session Proposals have not been sent out to Organizers and Co-organizers. One reason could be, that these people did not verify their email address.

Please check configuration and ensure all emails of all submissions are sent to organizers/co-organizers.

[2017-01-30 10:41] mariobehling opened #3083 "Attendee Dashboard: Design broken/Filter disappeared"
The filter disappeared on the attendee dashboard and the design is broken.

Please help to fix.

![screenshot from 2017-01-30 11-39-14](https://cloud.githubusercontent.com/assets/1583873/22420124/ffb9f41a-e6e0-11e6-8e9d-79f323b4ea94.png)

[2017-01-30 10:41] #3077 closed

[2017-01-30 13:20] #3074 closed

[2017-01-30 13:20] #3076 closed

[2017-01-30 13:27] mariobehling opened #3085 "Speakers Proposal Acceptance: Add Status "Confirmed""
After a speaker submits a proposal currently there are the following states: 1. Pending, 2. Accepted, 3. Rejected.

When the session is accepted the speaker receives the info that he is accepted. The organizer still does not have any info if the speaker is really confirmed and has booked the travel. Therefore we need an additional state "Confirmed"

Please implement an additional button "Confirmed

[2017-01-30 13:34] shubham-padia commented on #2801
+1, I'll start work on it tonight.

[2017-01-30 13:49] shubham-padia opened #3087 "Implement vue.js data binding on guest ticketing box"
Currently all the data binding on guest ticketing box is done with pure javascript, due to which code has piled up over time and is difficult to maintain. Please implement data-binding with the help of vue.js on that page.

[2017-01-30 13:50] Princu7 commented on #3073
I am on it :)

[2017-01-30 14:23] #3049 closed

[2017-01-30 14:40] mariobehling opened #3089 "Add speakers fields to API/JSON"
There have been recent additions to the form in the speakers form. Please check all fields in the create event wizard step 3 and ensure they are covered in the API and JSON.

Implement the missing fields in the API.

![screenshot from 2017-01-30 15-39-15](https://cloud.githubusercontent.com/assets/1583873/22427155/53bc1da6-e702-11e6-9f49-d26e2045a158.png)

[2017-01-30 18:24] #2978 closed

[2017-01-30 19:22] mariobehling opened #3091 "Event Dashboard: Adjust column width, event info/functions and add event logo"
The event dashboard is using a very basic style and should be enhanced. The main idea of the event rows is a) to provide a link to the event itself and b) to give an overview.

To make it easier for the user according to these goals, please implement the following:

* [x] Add Event logo in a large rectangle on the left of the event and the event name below
* [x] Adjust the column widths to use the

[2017-01-30 19:28] mariobehling opened #3092 "Event Dashboard: Add security step before deleting event"
The event dashboard offers the functionality to delete an event in the last row of the table. As some events hold a lot of data this step is relatively "dangerous" for the user. Therefore please implement the deletion process as follows.

When the user clicks the delection button please open a box with the following
   * [ ] Add the question: "Are you sure you want to delete this event?"
   * [ ]

[2017-01-30 21:26] #3083 closed

[2017-01-30 21:34] mariobehling opened #3094 "Proposal Stage changing from pending to accepted after editing content"
Editing session proposals as an organizer results in sessions showing up in the "Accepted Filter" on the speakers dashboard, but at the same time they are not promoted to the public event page.

Expected: Editing speakers proposals should not change their state.

![screenshot from 2017-01-30 22-30-23](https://cloud.githubusercontent.com/assets/1583873/22442579/298aaefa-e73c-11e6-8863-170ee2b4e3a8.

[2017-01-30 21:37] mariobehling commented on #3094
At the same time in the speakers dashboard tab the speakers show up in draft. Expected, they should show up in "Pending" here as well.

![screenshot from 2017-01-30 22-36-38](https://cloud.githubusercontent.com/assets/1583873/22442762/b44f59b4-e73c-11e6-88e5-ba99f8f4f8ad.png)

[2017-01-31 08:27] vaishnavit commented on #3089
I want to work on this. Can you please assign this to me?

[2017-01-31 08:30] niranjan94 commented on #3089
@vaishnavit drop in a comment here once you have setup the server locally, then the issue will be assigned to you :smile:

[2017-01-31 12:04] #2919 closed

[2017-01-31 12:05] vaishnavit commented on #3089
@niranjan94 I am running server locally now. Can you please assign.

[2017-01-31 12:35] niranjan94 commented on #3089
@vaishnavit you can proceed.

[2017-01-31 13:28] niranjan94 opened #3095 "Test Issue"

[2017-01-31 13:28] #3095 closed

[2017-01-31 17:12] mariobehling opened #3099 "Speakers images on public event page larger than required and saved non-standard way"
The speaker images on the public event page are loading very slowly. It seems the systems calls the original - very large - image sizes. The images also have non-standard names that includes a dot in the file name e.g. 1485768628.36.png.

* [x] Please avoid file names with a dot
* [x] Implement the automatic generation of the correct image size. In https://eventyay.com/admin/settings/#!images it i

[2017-01-31 17:43] mariobehling opened #3101 "Public Event Page: Placeholders image for Speakers without Picture not showing up on Firefox"
On Firefox the placeholder image for speakers without a picture does not show up.

![screenshot from 2017-01-31 18-40-53](https://cloud.githubusercontent.com/assets/1583873/22477115/29672d00-e7e5-11e6-9ba7-08c15eef733d.png)

[2017-01-31 17:50] mariobehling opened #3102 "How should organizer add sessions of speakers with existing email addresses"
A question: We want to sign up speakers for a session who are not added to the event yet. However, the email address of the speakers was used to get a ticket already. Can I add these speakers to the event and ensure that is shows up in the speakers account?

I can go to "https://eventyay.com/events/6/sessions/" and create a session, but even if I add another email address, I see that the session s

[2017-01-31 18:43] #3099 closed

[2017-01-31 20:58] mariobehling opened #3106 "Enhance orders and attendees tab with search and filter"
Currently the orders and attendee in the ticket dashboard does not offer a search and filter function. Please implement the following on these two pages:

* [ ] Add search field on the very right behind the dropdown for the number of displayed entries
* [ ] Add a filter for date search
* [ ] Add a filter to show specific tickets
![screenshot from 2017-01-31 21-53-54](https://cloud.githubuserconten

[2017-01-31 21:56] CosmicCoder96 commented on #3092
@mariobehling Can I work on this?

[2017-01-31 22:07] CosmicCoder96 commented on #3092
@mariobehling Can I work on this ?

[2017-02-01 05:13] Princu7 commented on #3106
I would like to add this feature. Thanks

[2017-02-01 07:33] #3102 closed

[2017-02-01 07:46] mariobehling opened #3107 "Avoid double spaces and lines for ticket info in organizer and admin dashboard"
The list of tickets uses a lot of space, because of double line spaces.

* [ ] Please avoid double spaces and
* [ ] implement list without bullet points on personal event dashboard `/events/` and admin dashboard `/admin/event`

![screenshot from 2017-02-01 08-37-07](https://cloud.githubusercontent.com/assets/1583873/22498727/6624ec9e-e85a-11e6-9cdd-49d371510e96.png)

[2017-02-01 08:59] mariobehling opened #3108 "Public Event Page: Add icon for website below speaker image"
Currently there are links to social networks below the speaker image. Please also add an icon for the website and add the icon, if the speaker has specified a website, e.g. compare: https://eventyay.com/e/45da88b7/

![screenshot from 2017-02-01 09-57-02](https://cloud.githubusercontent.com/assets/1583873/22500513/0799ccca-e865-11e6-8d62-1b145cbbe7dd.png)

[2017-02-01 09:26] Himanshi-Khandelwal commented on #3108
I m on it :)

[2017-02-01 10:28] mariobehling opened #3110 "Admin Panel: Show detailed user numbers"
In the admin panel there is a widget with a table "System Roles". Please improve as follows:

* [ ] Add Row "Unverified User"
* [ ] On the last row show "Total No. of Users"

![screenshot from 2017-02-01 11-25-18](https://cloud.githubusercontent.com/assets/1583873/22503343/99f8450e-e871-11e6-8f22-59ba0537ea2c.png)

[2017-02-01 10:32] mariobehling opened #3111 "Notifications for one and the same activity appear twice"
A similar bug happened on the emails before. The notifications show up twice for the same activity.

![screenshot from 2017-02-01 11-31-00](https://cloud.githubusercontent.com/assets/1583873/22503438/0d3a9aee-e872-11e6-828d-bb99d9c1716c.png)

[2017-02-01 11:52] mariobehling opened #3113 "Specify from "Name" for emails in admin dashboard"
The system emails that are sent out from eventyay currently show "info" as the name. Please implement a field in the email settings to specify a "Name" so when people get an email from the system this name shows up in their inbox.

![screenshot from 2017-02-01 12-49-24](https://cloud.githubusercontent.com/assets/1583873/22505728/4c3c80ee-e87d-11e6-922f-c470e4c1a6e6.png)

[2017-02-01 12:59] #3073 closed

[2017-02-01 13:18] Himanshi-Khandelwal commented on #3110
I am on it :)

[2017-02-01 13:33] Himanshi-Khandelwal commented on #3110
@mariobehling  @SaptakS  @niranjan94 who can be called as an unverified user?
(out of number_live_events , number_draft_events , number_past_events , organizers ,  co_organizers ,  track_organizers ,   attendees , accepted_sessions ,  rejected_sessions.)

or some other field is to be created?

[2017-02-01 13:53] mariobehling opened #3114 "Ticket information "additional information" line spacing is double"
The line-spacing of the ticket description has changed in a recent commit to double spacing. Please ensure the spacing of the description is single line.

![screenshot from 2017-02-01 14-29-50](https://cloud.githubusercontent.com/assets/1583873/22509382/255a29fc-e88e-11e6-92a0-ce122dc84eb7.png)

[2017-02-01 14:01] mariobehling opened #3115 "Speakers image rendered quality not sufficient"
Many speakers images are not rendered in a sufficient quality. The challenge is: Some speaker upload very high quality images while others upload smaller images. What is the best setting?

![screenshot from 2017-02-01 15-00-16](https://cloud.githubusercontent.com/assets/1583873/22509670/5a344684-e88f-11e6-9b3a-50552ba8bd2d.png)

[2017-02-01 14:07] niranjan94 commented on #3115
@mariobehling ... actually all speakers who upload pics before https://github.com/fossasia/open-event-orga-server/pull/3100 are shown in a bad quality

[2017-02-01 14:08] niranjan94 commented on #3115
I'll see if I can regenerate the correct images in backend

[2017-02-01 14:19] mariobehling opened #3116 "Clarify "Deleted Tickets" - where do they come from"
The dashboard of our event shows a high number of "Deleted Tickets".

Where do they come from?

Why should they be in the organizers dashboard?

I think we might need a section for these tickets in the admin dashboard, not the organizer dashboard.

![screenshot from 2017-02-01 15-09-29](https://cloud.githubusercontent.com/assets/1583873/22510299/b9f0997c-e891-11e6-9830-6715195ece32.png)

[2017-02-01 14:26] shubham-padia commented on #3116
These come from the automatically deleted pending/expired orders

They cannot be accessed from the organizer dashboard. Only the count is shown currently for the user, The count can be removed if it does not help from the organiser's point of view.

Yes, this should be definitely implemented.

[2017-02-01 14:46] mariobehling opened #3117 "Call for Speakers not open even though time to open is specified"
The call for papers does not open according to the time specified. Possibly it uses the server timezone instead of the event timezone.

![screenshot from 2017-02-01 15-45-26](https://cloud.githubusercontent.com/assets/1583873/22511329/9f26fd4e-e895-11e6-90a5-6c2ecbbb045e.png)

[2017-02-01 14:54] Himanshi-Khandelwal commented on #3110
@mariobehling  @SaptakS  @niranjan94  difficulty in finding  unverified user count .Please help

[2017-02-01 14:54] mariobehling opened #3118 "Do not show "Absorb Fees" in Free Tickets"
Free Tickets do not have a cost in the system. Therefore do not show the option "Absorb Fees" in free tickets.

![screenshot from 2017-02-01 15-53-33](https://cloud.githubusercontent.com/assets/1583873/22511672/ae3d2ad2-e896-11e6-9d34-4867382cd83d.png)

[2017-02-01 15:37] mariobehling commented on #3116
Ok, I am trying to understand what is useful for the organizer.

I think we should not move expired orders to deleted. This is not logic, cause nobody deleted the orders.

[2017-02-01 15:55] mariobehling opened #3120 "Improve ticket management and implement ticket overview/management in admin dashboard"
Currently there is an info box showing different ticket statuses.

The organizer box should not have the info for deleted tickets.

However, the admin should be able to get an overview of tickets. Therefore, please propose and implement a ticketing info section in the admin area.

[2017-02-01 16:09] niranjan94 opened #3122 "Speed up python unit-tests"
We need to research on some way to speed up our test-suit without any reduction in test coverage. Right now it takes about 20 mins. Sometimes more. We could maybe experiment with nosetests parallel runner, try to optimize test-cases etc ...

Some places to start at:
- https://nose.readthedocs.io/en/latest/doc_tests/test_multiprocess/multiprocess.html
- https://coreygoldberg.blogspot.in/2013/06/pyt

[2017-02-01 16:35] shubham-padia commented on #3116
This was done as discussed in #2985 and #3035 .
`Expired orders` are the orders in which the 10 minute limit for transaction is exceeded.

[2017-02-01 16:53] niranjan94 commented on #3115
@mariobehling the images have been re-generated. Now everything is proper.

[2017-02-01 16:53] #3115 closed

[2017-02-01 19:30] mariobehling commented on #3116
I think old pending orders should become "expired", but the "expired" ones should not prevent the editing of tickets in the wizard.

I am also still not clear about "deleted orders". Maybe we should not event allow deleted orders, but only allow canceling of orders. In this case canceled orders should neither prevent the editing of tickets (if there are no active tickets).

[2017-02-01 20:02] mariobehling opened #3123 "Add widget "tickets" to event dashboard"
Show a widget with basic ticketing info in the dashboard of event at `/events/event-id` including:
* List of tickets with available and sold tickets
* Number of overall sold tickets
* Number of orders
* Sales

[2017-02-01 20:08] mariobehling opened #3124 "If speaker or organizer edits a session it goes back to Draft Mode, but it should not"
If speaker or organizer edits a session it goes back to Draft Mode, but it should not. Expected: It should stay in the mode that it was already. Probably the save button is using the same function as "save draft" instead of "submit".

The result of the draft mode is, that accepted talks do not show up anymore on the live page.

E.g. check at https://eventyay.com/events/6/sessions/

[2017-02-01 21:30] shubham-padia commented on #3116
canceled orders should neither prevent the editing of tickets

Ahh.. got it. We can disable editing of tickets only if completed orders have been placed for the ticket

Yes, that can be done, but we have to then decide which category of orders should be permanently deleted after a certain time frame. Currently, only the orders moved to `deleted orders` get deleted after 30 days. If none of the ord

[2017-02-02 07:42] mariobehling commented on #3116
:+1:

I think no problem if they pile up or is it? As long as they do not show up right away in the UI and would block the editing of tickets, they can stay in the system.

[2017-02-02 07:55] mariobehling opened #3125 "Tickets and Orders: Show latest orders first"
In the event orders and tickets tab (e.g. `events/event-id/tickets/orders/`) and admin sales tab (`/admin/sales/events/`) please sort to show new order/tickets/events on top and older orders/tickets/events on the bottom.

![screenshot from 2017-02-02 08-49-46](https://cloud.githubusercontent.com/assets/1583873/22541227/5d7c1466-e925-11e6-99cc-0fdf65df2476.png)

[2017-02-02 08:29] shubham-padia commented on #3116
Okay, let's not delete records permanently for now, if more data piles up in future and affects query time, we can delete the data at that time.

[2017-02-02 08:38] shubham-padia opened #3126 "Allow editing of tickets if no completed/placed order has been placed for it"
Currently editing of preexisting tickets is not allowed even if there is a single pending/expired order for it. Allow editing if no completed/placed orders have been placed for the said ticket

[2017-02-02 08:47] SaptakS commented on #3126
This issue was already fixed in https://github.com/fossasia/open-event-orga-server/pull/3014

[2017-02-02 08:57] SaptakS commented on #3126
@shubham-padia I am not getting this issue. I created a new event that has a pending order. And the tickets are editable. http://open-event-dev.herokuapp.com/events/338/ Check.

[2017-02-02 08:57] #3126 closed

[2017-02-02 08:58] shubham-padia commented on #3126
@SaptakS Thanks. Noticed it now.

[2017-02-02 09:06] shubham-padia opened #3127 "Do not show deleted orders in organiser ui and do not auto delete expired orders"

[2017-02-02 09:34] #3127 closed

[2017-02-02 09:40] SaptakS commented on #3101
![screenshot from 2017-02-02 15-09-13](https://cloud.githubusercontent.com/assets/9530293/22544152/9cfaaa38-e959-11e6-9c5b-5f084346b304.png)

Working fine for me.

[2017-02-02 09:40] #3101 closed

[2017-02-02 09:45] mariobehling commented on #3101
Great!

[2017-02-02 12:59] #3124 closed

[2017-02-02 12:59] #3094 closed

[2017-02-02 15:22] yasirunilan commented on #3123
@mariobehling You mean to add the widget to the Overview tab under /events/event-id  which have the general info?

[2017-02-02 15:25] mariobehling commented on #3123
@yasirunilan Yes, correct.

[2017-02-02 15:32] yasirunilan commented on #3118
Can I work on this?

[2017-02-02 15:35] yasirunilan commented on #3123
Thanks @mariobehling  I will start working on this

[2017-02-02 15:43] niranjan94 commented on #3118
Sure @yasirunilan ... you can work on this once you're done with #3123

[2017-02-02 15:47] yasirunilan commented on #3118
@niranjan94  can I work on this first and move to #3123 ?

[2017-02-02 15:53] niranjan94 commented on #3118
Sure ...

[2017-02-02 18:41] #3118 closed

[2017-02-02 19:29] SaptakS commented on #3062
@hpdang seems to be working for me. Can you please check and confirm.

![screenshot from 2017-02-03 00-57-02](https://cloud.githubusercontent.com/assets/9530293/22564797/ca348f62-e9ab-11e6-95d7-95d9487b721f.png)

[2017-02-02 19:57] #3114 closed

[2017-02-02 21:24] mariobehling commented on #3059
Thanks, definitely a good improvement and the scroll bar does not appear so often anymore. In some smaller resolutions it is still there. There is a dataTables_scrollBody and overflow hidden in the html causing this. A way to go is also to distribute the column width more efficiently. But please ensure the content appears as part of the page and is not a frame.

![screenshot from 2017-02-02 22-20-

[2017-02-02 21:27] mariobehling opened #3137 "Session submission and last changed date shows event date instead of submission/last changed"
In the speakers info tab the dates shown for session submission and last changed date show the event date instead of the actual submission time/date.

![screenshot from 2017-02-02 22-25-45](https://cloud.githubusercontent.com/assets/1583873/22569157/b7549e10-e996-11e6-9c09-cd8a6bd36090.png)

[2017-02-02 21:33] SaptakS commented on #3059
@mariobehling, the scroll was kept in smaller resolutions to allow scrolling in table in smaller screen to see the entire content. Since the exact width can't be and shouldn't be put, I think for smaller resolution we should let the scroll be there. Maybe we can reduce a few pixels in media queries... But that will break many other designs...

[2017-02-02 21:39] mariobehling commented on #3125
Cannot confirm this is solved after merging to live page.

![screenshot from 2017-02-02 22-39-40](https://cloud.githubusercontent.com/assets/1583873/22569611/8532d4ae-e998-11e6-9587-eb6f1cf67ada.png)

[2017-02-02 21:47] mariobehling opened #3138 "Tables with scroll bars in small resolutions"
We are using some tables in a number of pages, e.g. `/events/`. In smaller resolutions these tables result in scrollbars within pages.

Please implement a solution without -internal- scroll bars.

This issue is also related to: https://github.com/fossasia/open-event-orga-server/issues/3059

![screenshot from 2017-02-02 22-45-04](https://cloud.githubusercontent.com/assets/1583873/22569896/97d2a840-

[2017-02-02 21:50] SaptakS commented on #3138
@mariobehling this was the solution we unanimously decided for tables in smaller resolution. Moreover I don't think this is a bug. This is a well discussed and decided plan that we implemented. There is no other way to make tables responsive. We discussed things like showing accordion and stuff but they all create lots of problem with dependencies. So I feel scroll in smaller resolution is the bes

[2017-02-02 21:50] mariobehling commented on #3059
@SaptakS I do not know any modern website that results in scroll bars within the page.

I also see that some columns contain a lot of content in a relatively thin area and other columns have empty spaces. We need a better distribution of the column width.

[2017-02-02 21:57] SaptakS commented on #3059
I agree to this but that won't solve the problem of showing tables in smaller resolution.

I agree with this. But then we have made tables as our base of showing information from beginning. To replace it, we need to replace it everywhere now and think of some other alternative... Else we need to show them in the form of accordions in smaller screens where you will have only the list of events and

[2017-02-02 22:00] SaptakS commented on #3059
Also @mariobehling I think we can close this issue and continue this in #3138 because this is a problem in all tables...

[2017-02-02 22:00] hpdang commented on #3062
@SaptakS Issue is still there for me.

Also on the email settings page an event exists, that was deleted from the system long ago. Please see screenshot below.

![screenshot from 2017-02-02 22-56-38](https://cloud.githubusercontent.com/assets/1658742/22570401/698b1592-e99b-11e6-9e00-99d9ac473001.png)

[2017-02-02 22:03] SaptakS commented on #3062
@hpdang I think the issue is because all events are being fetched instead of the ones that are not in trash. That needs to be fixed. And as of not showing notifications for other events, I am thinking maybe it's implemented only for organisers and speakers. Maybe not co-organisers. Can that be a possibility?? @niranjan94 ?

[2017-02-02 22:03] mariobehling commented on #3059
Ok, follow up in #3138.

[2017-02-02 22:07] SaptakS commented on #3138
@niranjan94 @magdalenesuo check the comment [here](https://github.com/fossasia/open-event-orga-server/issues/3059#issuecomment-277097355) and tell your views... Do you think we should move to accordion for smaller screens?? Because I don't see any way of showing an entire table without scroll in smaller screens??? @mariobehling any suggestions???

[2017-02-02 22:09] mariobehling commented on #3138
@SaptakS To go for tables allowed us to get started and focus on the features itself. Genetella is an admin theme originally. So, it is not always the best solution. However, in this issue it would out of scope to decide on the next steps in the design evolution, but I hope we can get a more evolutionarr solution here for the moment.

1. It would be good to go through the tables and improve the di

[2017-02-02 22:16] SaptakS commented on #3138
The problem with this is the top navbars looks weird then since the entire page will have a horizontal scroll but the width of the top navbar and other parts will remain same. So it might look weird. We need to find out something so that it doesn't break other designs as well.

[2017-02-02 22:20] mariobehling commented on #3138
Sure. Maybe there is no perfect solution for the moment, but as long as there are no internal scroll bars, it would be a step in a good direction.

[2017-02-02 22:36] #3108 closed

[2017-02-03 06:56] Himanshi-Khandelwal commented on #3110
@mariobehling @niranjan94 @SaptakS  issue solved !!
![screenshot from 2017-02-03 12 24 25](https://cloud.githubusercontent.com/assets/17119462/22582289/f410c958-ea0b-11e6-9a4b-9cc51965a874.png)

[2017-02-03 09:04] Jatinbalodhi96 commented on #3046
@mariobehling do we required to add a input box for access_code input like we have for discount_code on the event details page?

[2017-02-03 12:00] Abhi2424shek commented on #3116
@mariobehling fixed by @shubham-padia

[2017-02-03 12:02] Abhi2424shek commented on #3110
@Himanshi-Khandelwal PR? #?

[2017-02-03 12:05] #3116 closed

[2017-02-03 15:35] niranjan94 commented on #3000
@mariobehling I have to agree with anukul. This issue seems non-existent.

Please see the following screencast.
https://webmshare.com/BOo61

[2017-02-03 15:59] mariobehling commented on #3000
@niranjan94 Ok, it was probably solved as part of another issue then. Thanks for following up!

[2017-02-03 16:14] mariobehling commented on #3046
@Jatinbalodhi96 The best would be if we can use the same field. This could work like that: The user clicks a link with an access code and then adds a discount.

If the user only has the code it works like that a) The user types in the access code and gets the tickets with access code and b) the user types in the discount code and also gets the discount on the tickets.

There could be two fields, b

[2017-02-04 07:08] SaptakS commented on #3000
The issue is not resolved.

[2017-02-04 07:31] niranjan94 commented on #3000
@SaptakS on it.

[2017-02-04 09:55] hpdang opened #3144 "Unable to approve a session with email notification to speaker"
When speaker submits his/her talks, it will go to Pending. Admin can review and 1) Approve without email or 2) Approve with email.

Function **Approve with Email** doesn't work for me. Whenever I clicked, the screen froze (see attachment), the speaker also didn't receive any email.

![emailconfirmation](https://cloud.githubusercontent.com/assets/1658742/22617552/6e735faa-eac8-11e6-88d7-bb0b479dd3b

[2017-02-04 10:02] yasirunilan commented on #3123
I created the UI prototype first, is the requirement is like this?
[
![screenshot from 2017-02-04 01 59 53](https://cloud.githubusercontent.com/assets/9814784/22617597/eec2f06c-ea7d-11e6-9662-e5886536ad7a.png)
](url)

[2017-02-04 10:05] yasirunilan commented on #3123
I created a UI prototype, is this the requirement ?
![screenshot from 2017-02-04 01 59 53](https://cloud.githubusercontent.com/assets/9814784/22617603/1d0c1084-ea7e-11e6-8af4-eac8c374fec7.png)

[2017-02-04 10:20] #3000 closed

[2017-02-04 10:24] mariobehling commented on #3000
Thank you!

[2017-02-04 14:12] mariobehling opened #3145 "Add correct links to orders dashboard in last column"
The "view reports" links on the orders dashboard currently do not link to the specific filter of orders and attendees. Please implement correct links.

![screenshot from 2017-02-04 15-11-21](https://cloud.githubusercontent.com/assets/1583873/22619079/5ba979d0-eaec-11e6-8a87-60700e1c219e.png)

[2017-02-04 18:25] CosmicCoder96 commented on #3107
@mariobehling I would like to work on this.

[2017-02-04 19:33] CosmicCoder96 commented on #3145
@mariobehling I would like to work on this.

[2017-02-04 19:52] Jatinbalodhi96 commented on #3046
Thanks @mariobehling, okay i will look into it.

[2017-02-05 07:47] #3092 closed

[2017-02-05 08:32] CosmicCoder96 commented on #3137
@mariobehling I would like to work on this.

[2017-02-05 08:34] #3145 closed

[2017-02-05 08:34] niranjan94 commented on #3137
@CosmicCoder96 you can work on this once you're done with #3107

[2017-02-05 08:34] niranjan94 commented on #3107
@CosmicCoder96 please proceed

[2017-02-05 10:16] mariobehling opened #3153 "Implement a detailed form for registrations (without customized form elements)"
Subissue to: https://github.com/fossasia/open-event-orga-server/issues/2897

In the first step of creating a form we need a detailed form, that does not need to have the option for customized form elements. Please implement this below the ticket information on wizard step 1.

Please implement:

* [ ] a button to switch on/off Basic Registration form and Detailed Registration form

For the detailed

[2017-02-05 17:29] yasirunilan commented on #3123
any feedback for this one?

[2017-02-05 17:35] niranjan94 commented on #3123
-Align the columns.
-Add the total sold to the first table as a footer below the sold column.
-Add a total.l Available to the same footer.
- and sales should be a amount. Show the amount in a formatted way(comma separated digit groupinh)  with the proper currency symbol.

[2017-02-06 00:21] indranil-tiwary commented on #3091
Hey, I'm interested in solving this issue under your guidance. Can you please clarify about the event logo. Is it beside the name column?

[2017-02-06 08:25] mariobehling commented on #2999
It still does not work entirely. If the user clicks on the left side bar, the first view does not show the tickets sorted.

![screenshot from 2017-02-06 09-22-18](https://cloud.githubusercontent.com/assets/1583873/22639384/1f8436e4-ec4e-11e6-9def-b35b2b20bc64.png)

If the user clicks on "orders" in the bar, the table is empty even though tickets have been sold.

![screenshot from 2017-02-06 09-25-

[2017-02-06 17:00] CosmicCoder96 commented on #3078
@hpdang I would like to work on this.

[2017-02-07 04:00] #3137 closed

[2017-02-07 09:36] mariobehling commented on #3059
The abstract text showing up in the draft tab is still longer.

![screenshot from 2017-02-07 10-35-14](https://cloud.githubusercontent.com/assets/1583873/22685605/3bace1d0-ed21-11e6-8d31-d8697d9ed012.png)

[2017-02-07 09:41] mariobehling opened #3158 "Search not working for Scheduler"
Search in scheduler does not work.

![screenshot from 2017-02-07 10-40-01](https://cloud.githubusercontent.com/assets/1583873/22685770/e5c7f74a-ed21-11e6-9754-644d7e218e9d.png)

[2017-02-07 09:47] mariobehling opened #3159 "Scheduler does not show option for different event dates"
When event has several dates only the first day is displayed in the scheduler.

Expected: There should be buttons on top for the different event days

![screenshot from 2017-02-07 10-45-58](https://cloud.githubusercontent.com/assets/1583873/22685995/ca5d6a48-ed22-11e6-8c17-baeeaab0a7aa.png)

[2017-02-07 11:29] mariobehling opened #3161 "Simplify "Add Microlocations" in Scheduler"
There are a number of fields in the "Add Microlocations.
![screenshot from 2017-02-07 10-53-00](https://cloud.githubusercontent.com/assets/1583873/22689324/b161e808-ed30-11e6-96b5-56e5b8350859.png)

Please simplify this as follows:

* [ ] Change "Name" to "Room Name"
* [ ] Move "Floor" to second position and make it optional
* [ ] Make Longitude/Latitude optional
* [ ] The bottom option for "Room"

[2017-02-07 16:20] CosmicCoder96 commented on #3161
@mariobehling I would like to work on this.

[2017-02-07 16:20] CosmicCoder96 commented on #3117
@mariobehling I would like to work on this.

[2017-02-07 16:37] niranjan94 commented on #3161
You can work on this once you're done with #3117

[2017-02-07 16:37] niranjan94 commented on #3117
Please proceed

[2017-02-07 17:57] HitenSethiya commented on #3153
@mariobehling I would like to work on this issue
I plan to make a flask-wtform dynamic form with bool fields as check boxes to include/exclude the extra fields for each event's reg form.
It will be more scalable then since we plan on doing much more further with the same.
but I am not sure how will we extend that form to specific event

[2017-02-08 07:12] #3161 closed

[2017-02-08 11:25] mariobehling opened #3166 "Ticket Dashboard: No tab link if user is on subpage"
If the user is on one of the subtabs, the link "Tickets" (next to "Overview") is not linkified.

Expected: It should always be a link to the main ticket dashboard. When the user is on a subpage and they click on "Tickets" they should be directed to the main ticket page.

![screenshot from 2017-02-08 12-22-40](https://cloud.githubusercontent.com/assets/1583873/22735354/9ec07d08-edf9-11e6-916f-bd293

[2017-02-08 12:50] #3166 closed

[2017-02-08 14:01] Himanshi-Khandelwal commented on #3123
@niranjan94 I would like to work on this and complete it. are these changes made by @yasirunilan in the development branch ?

[2017-02-08 15:39] yasirunilan commented on #3123
I'm still working on this @Himanshi-Khandelwal

[2017-02-08 16:03] Himanshi-Khandelwal commented on #3123
:+1:

[2017-02-08 17:28] Himanshi-Khandelwal commented on #3110
this issue is solved !! and the PR is merged ..

[2017-02-08 17:32] #3110 closed

[2017-02-08 19:28] Himanshi-Khandelwal commented on #3059
@mariobehling  It is working fine in my case.
![screenshot from 2017-02-09 00 56 37](https://cloud.githubusercontent.com/assets/17119462/22753628/ce79e624-ee62-11e6-939e-b614892b1ede.png)

[2017-02-08 19:34] SaptakS commented on #3059
@mariobehling works fine for me

![screenshot from 2017-02-09 01-02-21](https://cloud.githubusercontent.com/assets/9530293/22753878/a6804a68-ee63-11e6-86e8-44dbdd4b2b1a.png)

[2017-02-09 09:54] #3125 closed

[2017-02-09 14:15] #3078 closed

[2017-02-09 14:43] #3039 closed

[2017-02-09 14:49] #3059 closed

[2017-02-09 16:17] CosmicCoder96 commented on #3153
@mariobehling I would like to work on this.

[2017-02-09 16:49] magdalenesuo opened #3171 "'Approve/Reject session with email' does not work."
In reference to #3144
'Approve session with email' leads to an error page after clicking send mail button on the email message popup:
![screenshot from 2017-02-09 22-03-23](https://cloud.githubusercontent.com/assets/20799954/22793297/78cdf89c-ef15-11e6-9be8-cda497cfc44c.png)
![screenshot from 2017-02-09 22-03-34](https://cloud.githubusercontent.com/assets/20799954/22793337/93a0c316-ef15-11e6-9404-

[2017-02-09 17:01] SaptakS commented on #3144
@hpdang I agree with @magdalenesuo in #3171 . I do get a modal but it leads to an error. Are you still getting this error??

[2017-02-09 18:29] #3117 closed

[2017-02-09 18:58] Himanshi-Khandelwal commented on #3091
Solved this and created PR.
![screenshot from 2017-02-10 00 26 31](https://cloud.githubusercontent.com/assets/17119462/22798365/ac6b78ca-ef27-11e6-8325-816ae3e27177.png)

[2017-02-10 05:30] #3158 closed

[2017-02-10 06:08] Himanshi-Khandelwal commented on #3091
I apologize for this and  will take care in future.

[2017-02-10 07:14] poush commented on #3111
@mariobehling Can't reproduce here (tried booking ticket for one event in local machine). Can you suggest some steps for same ?

[2017-02-10 09:47] CosmicCoder96 commented on #3113
I am working on this.

[2017-02-10 11:13] mariobehling opened #3175 "Categorize image sizes and ensure all image locations use abstracted image"
In the admin section we define images according to different sizes. Please test all system areas and ensure they use one of the categories and settings. If you encounter an image size that is not covered add a new category and add it to the system.

[2017-02-10 15:41] Achint08 commented on #3080
Can I work on this @mariobehling ?

[2017-02-10 17:06] poush commented on #3138
I would like to give it a shot. I think I can provide a simple solution with internal scroll bar

[2017-02-10 17:13] poush commented on #3138
<img width="902" alt="screen shot 2017-02-10 at 10 42 21 pm" src="https://cloud.githubusercontent.com/assets/1812082/22836398/3b3353d8-efe2-11e6-9f86-e10b4c5aa48d.png">

A scroll bar at this place can be placed easily on overflow.

[2017-02-10 18:52] Himanshi-Khandelwal commented on #2981
@mariobehling  @sainiak009 anyone working on this issue?

[2017-02-11 04:14] niranjan94 commented on #3080
@Achint08 please proceed

[2017-02-11 04:14] #3113 closed

[2017-02-11 05:47] poush commented on #2999
I'm working on this.

[2017-02-11 13:10] mariobehling commented on #3138
@poush Thank you, but the goal is to have no internal scroll bars. Cheers.

[2017-02-11 14:54] magdalenesuo commented on #2999
@poush Hey there. The issue was because of a typo. I've fixed it. Maybe you can help with the other issues/bugs.

[2017-02-11 15:12] #3144 closed

[2017-02-11 15:50] #2999 closed

[2017-02-11 18:58] #3089 closed

[2017-02-11 19:02] mariobehling commented on #3138
Very nice idea. This could work out, as we still have the filters. Excellent!

[2017-02-11 19:04] shubham-padia opened #3181 "Checkbox not visible on admin/messages"
![selection_122](https://cloud.githubusercontent.com/assets/13910561/22856628/e3456cea-f0ba-11e6-97dd-72d991b14e9d.png)

[2017-02-11 19:04] mariobehling commented on #3138
Actually, in fact we could get rid of the column "Order Status" completely and integrate it in the "Order Column" that you show.

[2017-02-11 19:13] poush commented on #3138
Alright then, I will make a PR for this.

[2017-02-11 19:32] mariobehling commented on #3046
No.

But: access_code and discount_code included in one URL should work.

[2017-02-11 20:39] shubham-padia opened #3184 "Remove redundant creator fields from event model"
Remove redundant creator fields from event model. It was used before user event roles were implemented

[2017-02-11 21:39] #3181 closed

[2017-02-11 21:44] mariobehling commented on #3107
Not sure why, but double lines are back.

![screenshot from 2017-02-11 22-43-12](https://cloud.githubusercontent.com/assets/1583873/22857761/a251c332-f0ab-11e6-92f6-5f9c80de4eaa.png)

[2017-02-11 21:59] CosmicCoder96 commented on #3107
@mariobehling
I believe the problem with the double line was when bullet points were there, there used to be a double line in the same ticket's name.
For instance if the ticket name is really long, it will break into multiple lines all with multiple spacings.

This blank line was left intentionally for better readability on smaller screens or when the window is minimized. Like in this case, having

[2017-02-11 22:07] mariobehling commented on #3107
Thanks.

It is ok to have everything closer together here. Please do not add a space in between. This was one point in the issue. If an organizer has 15 ticket types (which is a usual case, including speaker and exhibitor passes for example), then the line gets too long otherwise. In a table we want to have things in one view. Please implement it without spaces. Thanks

[2017-02-11 22:12] CosmicCoder96 commented on #3107
@mariobehling Just a suggestion. Does the idea of using ellipses for multi-line ticket names sounds good? and the full name can be displayed in a tool-tip.

[2017-02-11 22:15] #2998 closed

[2017-02-11 22:24] CosmicCoder96 commented on #3107
@mariobehling
Thanks.  I have made a PR for the same.

[2017-02-11 22:26] mariobehling opened #3188 "Deleting ticket not executed"
After the user deletes a ticket, it is not shown anymore and when the user continues and saves it it shows as successfully done. However going back to the editing of the event shows: the ticket is still there. It also shows up on "Access Code" creation if it is a hidden ticket.

Expected: If no purchase has been made, tickets it should be possible to delete a ticket successfully.

![screenshot fro

[2017-02-12 03:53] #3082 closed

[2017-02-12 06:35] #3107 closed

[2017-02-12 06:42] Himanshi-Khandelwal commented on #2935
@mariobehling @SaptakS @shubham-padia  we can also enable use of html tags by using javascript library "Markdown". It  is quite flexible and customisable, implemented as a jQuery plug-in and useful in many situations. It is fairly clean and well maintained.

[2017-02-12 06:44] niranjan94 commented on #2935
@Himanshi-Khandelwal we already have summernote lib in our project. We are not looking for adding yet another javascript dependency to this project. All we need is a direct HTML editing functionality alongside the already existing rich text editing provided by summernote. Much like how it's implemented in wordpress.

But anyway, this issue is for later. Let the bugs be fixed first.

[2017-02-12 08:02] HitenSethiya commented on #3153
@mariobehling
I was going through this issue and the parent one.
here's my thought:
Right now the registration form is pretty basic one its totally in template
I was planning to extend it via WTForms so that it will be easier to make custom fields afterwards and extend these fields to the template as well.
To handle input about registration form from event creator which fields to take I thought we

[2017-02-12 08:13] HitenSethiya commented on #3153
[code]
something like this

[2017-02-12 08:20] poush commented on #3188
I'm on this.

[2017-02-12 10:55] #3159 closed

[2017-02-12 10:58] SaptakS commented on #3138
The PR fixes this problem for only orders table... But I believe this problem is there in all tables..

[2017-02-12 11:07] poush commented on #3138
I will make these changes on all other table too.

[2017-02-12 11:10] niranjan94 commented on #3153
@HitenSethiya please go ahead

[2017-02-12 11:11] niranjan94 commented on #3153
But before that read through this issue and the attached parent clearly to ensure you understand what the requirements are.

[2017-02-12 11:19] HitenSethiya commented on #3153
Definitely
 Thanks

[2017-02-12 11:20] mariobehling commented on #3138
Please reduce the width of "#" and "Qty" in all ticket order/attendee tables as well. Thank you.

[2017-02-12 12:56] arpitn30 commented on #2803
I fixed the "Facebook does not show up" bug, should a put up a pull request or solve other bugs too before doing so?

[2017-02-12 13:24] mariobehling commented on #2803
@arpitn30 Please make a PR and mention that it "partly fixes" the issue.

[2017-02-12 14:42] mariobehling opened #3192 "Scheduler showing undefined available time in rooms"
The publisher currently shows available times from 9AM to 5PM on the test event. These times are no-where defined though. There can be a feature request, where we define these times, but currently it is unclear where the time range is defined. On the first day of activities it could be that the user defines 9AM as the event start time, but if it takes place over three days, it is not defined what

[2017-02-12 20:12] magdalenesuo opened #3193 "Add Login/SignUp for speakers if not logged in"
If the user is not logged in and clicks on "Submit Proposal" below call for speakers, show a message "Please login to submit your proposal and show a screen option "Login or Signup".

[2017-02-12 20:29] mariobehling commented on #3193
The login option should appear here when clicking on the button here:

![screenshot from 2017-02-12 21-28-41](https://cloud.githubusercontent.com/assets/1583873/22865725/4d791c88-f16a-11e6-8391-64f5bd0631be.png)

[2017-02-13 01:18] magdalenesuo commented on #3069
@mariobehling Should I go about this way?
![screenshot from 2017-02-13 06-42-37](https://cloud.githubusercontent.com/assets/20799954/22868103/047f7c22-f1b8-11e6-976a-2ab9d080ed76.png)

**Case 1: Only Speaker Form (Register As Speaker)**
![screenshot from 2017-02-13 06-42-47](https://cloud.githubusercontent.com/assets/20799954/22868113/22391db8-f1b8-11e6-9e57-e7c8fc5442c3.png)

**Case 2: Only Sessi

[2017-02-13 06:42] HitenSethiya commented on #3153
@niranjan94 @mariobehling
How should I store the fields in the database.
Since right now there's nothing in the registration form to store, the initiate_invoice_payment function only stores the invoice/billing info in the database through the InvoiceManager.initiate_invoice_payment function, I don't have much clue how to store the new fields also I am guessing existing user model/guest user entrie

[2017-02-13 07:07] niranjan94 commented on #3153
@HitenSethiya the fields can be added to `app/models/ticket_holder.py`

[2017-02-13 07:42] #3193 closed

[2017-02-13 08:08] mariobehling commented on #3069
Yes, the first screenshot is going into the right direction. Let' do as follows:
* [ ] Show "Add Speaker Information" (if the speaker information is complete show green tick, if all required fields are filled in show a relevant [orange exclamation mark](https://farm2.staticflickr.com/1149/1070601182_0fe532a667.jpg), if it is empty and missing required fields show a gray incomplete symbol or someth

[2017-02-13 10:52] Princu7 commented on #3106
This issue has been solved. Please close it. Thanks!!

[2017-02-13 11:11] mariobehling opened #3195 "Co-organizer cannot change/save event data"
At the OSCAL event the co-organizer wants to add (save) items, e.g. track in wizard step 3 - receives "error cannot save", but also other items cannot be saved.

Please give event editing rights to co-organizers.

[2017-02-13 11:12] niranjan94 commented on #3106
@Princu7

Make sure your PR's description contains GitHub's special keyword references that automatically close the related issue when the PR is merged. (More info at https://github.com/blog/1506-closing-issues-via-pull-requests )

[2017-02-13 11:18] mariobehling commented on #3195
Tried editing the eventroles in Admin, but "Save" button does not work.

![screenshot from 2017-02-13 12-17-48](https://cloud.githubusercontent.com/assets/1583873/22881389/80b01472-f1e6-11e6-8059-aec18bfa8e7c.png)

[2017-02-13 13:16] mariobehling opened #3196 "Permissions are not editable in admin tab"
On https://eventyay.com/admin/permissions/#!eventroles the eventroles are not editable by the "admin" role.

![screenshot from 2017-02-13 12-17-48](https://cloud.githubusercontent.com/assets/1583873/22884809/08e1edb0-f1f7-11e6-8467-711c0a83a367.png)

Related to: https://github.com/fossasia/open-event-orga-server/issues/3195#issuecomment-279359247

[2017-02-13 13:35] Princu7 commented on #3196
@mariobehling I would like to work on this. I will send a fix soon.

[2017-02-13 13:44] mariobehling commented on #3106
Ok, so the filters are there now. Thanks! But, applying the filters does not work yet. It does not show the results. Re-opening the ticket therefore.

[2017-02-13 13:46] Princu7 commented on #3106
@mariobehling It seemed to work before when I made the PR. No problem. I will again have a look at it. Thanks. :)

[2017-02-13 13:54] mariobehling commented on #3106
Thank you. @hpdang Just tested it as well. Not working for her neither.

[2017-02-13 15:19] mariobehling opened #3198 "Scheduler: Show Unscheduled Sessions in assigned track colors"
Currently the track colors of sessions only appear once they are added into the schedule. Please show colors of sessions also when they are unscheduled on the left hand-side.

![screenshot from 2017-02-13 16-18-11](https://cloud.githubusercontent.com/assets/1583873/22889082/3a8bc582-f208-11e6-8a5b-d7f276e83f4b.png)

[2017-02-13 16:36] #3106 closed

[2017-02-13 21:28] CosmicCoder96 commented on #3198
@mariobehling I would like to work on this.

[2017-02-13 22:18] mariobehling commented on #3196
@Princu7 Can you confirm that the functions work? As a co-organizer I still receive the info "error saving" even though the co-organizers received all permission. Maybe there are permissions that we do not cover yet?

![screenshot from 2017-02-13 23-16-33](https://cloud.githubusercontent.com/assets/1583873/22905973/be569fba-f242-11e6-8975-f5dc080329cf.png)

[2017-02-13 22:21] mariobehling opened #3200 "User who accepts invitation as co-organizer from the notifications panel receives 404 page"
![screenshot from 2017-02-13 23-20-20](https://cloud.githubusercontent.com/assets/1583873/22906050/14d6b226-f243-11e6-85bc-381b2fee92b3.png)

Clicking "Accept" on the notifications page after an invitation to an event as a co-organizer leads to a 404 page.

[2017-02-14 05:28] Princu7 commented on #3196
@mariobehling Yeah, sure. I will have a look at the cause of the error :)

[2017-02-14 09:07] HitenSethiya commented on #3153
@niranjan94
Sir, I have done a lot of changes :sweat_smile:
but still because the ticket_holder model is extended there aresome views which are not fixed accordingly, so right now I am struggling to debug it out.
Shall I take some more time and figure them out on my own or just create a PR and debug the code here.
:smile:

[2017-02-14 09:21] niranjan94 commented on #3153
@HitenSethiya sure ... You can take your time :)

[2017-02-14 12:27] Rohanhacker opened #3202 "Can we use a client side framework"
We already have an api adding client side framework and separating client and server will allow more front end developers to contribute and make frontend more organised.

[2017-02-14 12:31] niranjan94 commented on #3202
@Rohanhacker that is under consideration. But it would involve a continuous and intense development sprint along with a lot of contributors since it would be a major upgrade. API has to be modified too to add a lot of functionality. (Right now we support only basic CRUD operations)

As of now, our priorities are to fix bugs and move to production.

Closing this for later.

[2017-02-14 12:31] #3202 closed

[2017-02-14 13:17] akashtalole opened #3203 "We seem to be having some issues on our side. Inconvenience is regretted. We'll fix this as soon as possible."
I installed on Ubuntu 15.10. When open page 127.0.0.1:5000 it gives error. AttributeError: 'Response' object has no attribute 'set_data'

[2017-02-14 13:57] niranjan94 commented on #3203
Please use the gitter channel (https://gitter.im/fossasia/open-event-orga-server) for installation assistance

[2017-02-14 13:57] #3203 closed

[2017-02-14 17:22] Princu7 commented on #3196
@mariobehling @niranjan94 The permissions are saved correctly. The problem occurs when the co-organizer saves the changes he made. Currently, we send an AJAX request to save the modifications. Inside the main event route to which the request is sent, we only check whether the current user is staff or organizer of that event or not. We don't do any additional checks. This is the reason why the requ

[2017-02-15 03:41] niranjan94 commented on #3196
@Princu7 you're right. Could you make a PR with the fix. ?

[2017-02-15 04:06] Princu7 commented on #3196
@niranjan94 Sure. I am working on it. Will send a patch soon :)

[2017-02-15 06:07] Himanshi-Khandelwal commented on #3200
@mariobehling I tried this , but there was no 404 error. It easily redirected me to the next page.
![screenshot from 2017-02-15 11 35 23](https://cloud.githubusercontent.com/assets/17119462/22962485/088a12ca-f373-11e6-9e5f-36ea76033200.png)
![screenshot from 2017-02-15 11 35 59](https://cloud.githubusercontent.com/assets/17119462/22962487/0f2f32d6-f373-11e6-9d1b-4c48579904f4.png)

[2017-02-15 12:35] #3188 closed

[2017-02-16 20:13] mariobehling opened #3204 "Add Albania to the list of Countries for Currency"
Paypal does not accept the local Albanian currency, but it accepts it as a country for account holders.

https://www.paypal.com/al/cgi-bin/webscr?cmd=_display-xborder-fees-outside&countries=

Please add Albania to the list of countries, where payments are accepted (dropdown menu).

[2017-02-17 08:15] Princu7 commented on #3196
@niranjan94 @mariobehling I have done some work on this issue but there are many areas which I want to discuss.
Here is the test server: http://ancient-thicket-44821.herokuapp.com
Admin Credentials:
[code]

Co-Organizer Credentials(of the event _Hurry_)
[code]

We have CRUD permissions for different event roles like co-organizer for entities like sessions, speakers, sponsors, tracks and microlocat

[2017-02-17 09:01] #3184 closed

[2017-02-17 11:34] #3204 closed

[2017-02-17 16:30] niranjan94 commented on #3196
@Princu7 for now, give the co-organizer the same permissions as the organizer by default.

[2017-02-17 16:32] niranjan94 commented on #3196
For the wizard mods, all Co-organizers and organizers should have the permission

[2017-02-17 16:38] niranjan94 commented on #3196
Good work on #3205 . have added some comments.

But before that, could you quickly fix such that co-organizers have the same perms as organizers ? Since this is a priority right now. After that we can discuss and come to a proper plan for more detailed permissions.

[2017-02-17 17:19] Princu7 commented on #3196
@niranjan94 Thanks for the review :) Just to be absolutely clear, we are intending to give full rights to co-organizer for all the wizard steps irrespective of the permissions specified for that role in the admin section?

[2017-02-17 19:08] Himanshi-Khandelwal commented on #2981
@mariobehling @niranjan94 are these filters to be shown inside the Showing all records dropdown box?

[2017-02-17 19:15] niranjan94 commented on #2981
Yes. There... Or if you think any other place would be more efficient and practical feel free to suggest it here... :)

[2017-02-18 08:51] SaptakS opened #3210 "Tab implementation needs to be improved"
Either the tab implementation needs to be improved or an alternative implementation needs to be found for the [kubernetes server logs page in Admin section](https://eventyay.com/admin/reports/#!server-logs)

![screenshot from 2017-02-18 14-17-37](https://cloud.githubusercontent.com/assets/9530293/23091853/76d8b53c-f5e5-11e6-9ca6-ea56e7cccce6.png)

[2017-02-18 09:51] Princu7 commented on #3196
@niranjan94  Opened a new PR #3209

[2017-02-18 10:06] SaptakS opened #3211 "Sponsors Widget in Event Dashboard: Don't show 'None' if level not defined."
![screenshot from 2017-02-18 15-17-19](https://cloud.githubusercontent.com/assets/9530293/23092379/a0153010-f5ef-11e6-8526-23aa3682497c.png)

[2017-02-18 10:17] codebhendi commented on #3211
hi, can i solve this issue ?

[2017-02-18 10:26] SaptakS opened #3212 "Improve `Number of Sessions` in Event Dashboard in General Info Dashboard"
How it looks:

![screenshot from 2017-02-18 15-55-13](https://cloud.githubusercontent.com/assets/9530293/23092505/cbb70d94-f5f2-11e6-8555-9a1071228d91.png)

How it should look:

![screenshot from 2017-02-18 15-48-53](https://cloud.githubusercontent.com/assets/9530293/23092507/d296c956-f5f2-11e6-9f49-d26b106a68f2.png)

[2017-02-18 10:32] mariobehling commented on #3198
![screenshot from 2017-02-18 18-31-31](https://cloud.githubusercontent.com/assets/1583873/23092548/1d2b1938-f600-11e6-967b-e7e6b07498f3.png)

This is not working for existing sessions. After upgrade on Master colors are still not showing.

[2017-02-18 10:45] rahuldecoded commented on #3212
Can I fix this bug? @SaptakS

[2017-02-18 10:46] Himanshi-Khandelwal commented on #3212
I will like to work on this.

[2017-02-18 10:46] mariobehling opened #3214 "Scheduler: Search results showing up twice when changing the date"
When the user does a search e.g. "Python" on one date and then clicks another date and performs the same search, the search results are showing the same sessions twice. If the search is performed again, the search is showing up three times and more times for more searches.

![screenshot from 2017-02-18 18-42-46](https://cloud.githubusercontent.com/assets/1583873/23092645/34dbe222-f602-11e6-8827-59

[2017-02-18 11:21] #3211 closed

[2017-02-18 12:38] poush commented on #3214
Working on this.

[2017-02-18 14:17] #3196 closed

[2017-02-18 14:21] niranjan94 commented on #3198
![screenshot from 2017-02-18 19 50 35](https://cloud.githubusercontent.com/assets/2404372/23093841/8bd35b26-f613-11e6-8f19-bacb38d8d3da.png)

@mariobehling it works for me. Try clearing browser cache.

[2017-02-18 14:21] #3198 closed

[2017-02-18 14:26] mariobehling commented on #3198
Thanks, yes it is working now. I wonder if Google Cloud sometimes has some server caching mechanism, cause I used forced refresh which usually overrides local caches.

[2017-02-18 14:36] mariobehling opened #3217 "Cannot move session to drag and drop location when calendar is off-screen"
If an event has a lot of sessions, some sessions are below the actual drag and drop calendar. It is not possible to drag the sessions to the calendar that are outside the viewable calendar.

Expected: User should be able to drag and drop a session.

![screenshot from 2017-02-18 22-33-37](https://cloud.githubusercontent.com/assets/1583873/23093941/a7a41216-f62a-11e6-9a47-d7a2e21e16dd.png)

[2017-02-18 14:41] mariobehling commented on #3214
Actually it looks like any search results in the duplication of sessions.

![screenshot from 2017-02-18 22-40-35](https://cloud.githubusercontent.com/assets/1583873/23093971/5b35ba50-f62b-11e6-8e97-f464fe82c2f1.png)

[2017-02-18 15:36] niranjan94 commented on #3198
@mariobehling we'll have to implement an asset pipeline for this project with static assets minifications and cache busting ... I think that could be a mini task for gsoc 17

[2017-02-18 18:36] poush commented on #3217
Working on this.

[2017-02-18 20:40] poush commented on #3200
@mariobehling There is no such issue here too. There is only one possible case to 404 and that is when you re-accept the already accepted invitation.

[2017-02-18 21:16] mariobehling commented on #3198
@niranjan94 Ok. Please open an issue here. If someone is interested this can be defined as a parent issue. Cheers.

[2017-02-18 22:55] mariobehling opened #3220 "Increase standard font size of text"
The standard font size of the text and a number of areas is very small and often difficult to read, especially on the public event page, e.g. event information and call for speakers.

Please increase the font size. At the same time ensure the design is still working across the app. Also test your changes in depth in all areas that are affected from the css change.

![screenshot from 2017-02-19 06-

[2017-02-18 23:06] mariobehling opened #3221 "Events showing in location "P" on bottom bar and search"
A number of search results are showing events for the search "P". And it is showing Singapore results as well.

![screenshot from 2017-02-19 07-04-44](https://cloud.githubusercontent.com/assets/1583873/23097568/b8c4eb3c-f671-11e6-8a32-51d1ceb7d2ed.png)

Also on the page bottom it shows "P". The location of the OpenTechSumit is Potsdam actually.
![screenshot from 2017-02-19 07-03-16](https://cloud.

[2017-02-19 00:06] CosmicCoder96 opened #3222 "Faulty tool tips on unscheduled sessions in scheduler"
This is how the tool tip looks on a scheduled session.
![image](https://cloud.githubusercontent.com/assets/17252805/23097819/dd54477a-f664-11e6-9133-cb83def10c65.png)

However once a scheduled session is unscheduled , it appears in this form, where it is not supposed to appear. Only the sessions which have been unscheduled after being scheduled seem to behave like this.
![image](https://cloud.gith

[2017-02-19 04:45] nishapoyarekar commented on #3085
I would like to work on this. @SaptakS can you please assign this issue to me?

[2017-02-19 06:26] poush commented on #3220
Working on this.

[2017-02-19 06:41] niranjan94 commented on #3085
@nishapoyarekar you can proceed

[2017-02-19 06:41] niranjan94 commented on #3222
@CosmicCoder96 please proceed

[2017-02-19 06:42] niranjan94 commented on #3198
@mariobehling I'll open up a detailed issue.

[2017-02-19 06:43] #3217 closed

[2017-02-19 08:34] poush commented on #3220
What if we use "rem" units instead of "px".

Here are few snapshots with "1.35rem"

<img width="1440" alt="screen shot 2017-02-19 at 1 59 59 pm" src="https://cloud.githubusercontent.com/assets/1812082/23100619/fd0266fa-f6ab-11e6-9f98-f3cf59d8a1d9.png">
<img width="622" alt="screen shot 2017-02-19 at 2 00 10 pm" src="https://cloud.githubusercontent.com/assets/1812082/23100620/fd4da6f6-f6ab-11e6-9a4

[2017-02-19 08:38] poush commented on #3138
Attendee and Orders page have been fixed.

@mariobehling  @SaptakS @niranjan94 Can you suggest something for My Events page? Can we hide one or two column on reducing screen size?

First look tells me that width can be reduced through "Public Url" column.

[2017-02-19 18:38] mariobehling commented on #3138
Last column can probably also be reduced.

[2017-02-19 18:41] mariobehling commented on #3220
Thanks. How can we avoid internal scrollbars in mobile views?

[2017-02-20 03:51] mariobehling opened #3223 "Scheduler: Dragged and dropped session not saved or shows up on another day"
Issues being encountered with the scheduler are that, either:
* sessions are not saved and when the scheduler is re-opened they are unscheduled
* sessions are saved, but if the user clicks right away on another day, they are showing up on another day

![screenshot from 2017-02-20 11-49-22](https://cloud.githubusercontent.com/assets/1583873/23111341/f5736a8a-f762-11e6-9434-fb286e00ea67.png)

[2017-02-20 07:34] mariobehling opened #3224 "Changes of colors not getting saved in event wizard step 3"
If a user changes the colors in event wizard they are not being saved. It will display the previously auto-assigned colors.

![screenshot from 2017-02-20 15-33-17](https://cloud.githubusercontent.com/assets/1583873/23115769/09d1eb68-f782-11e6-9fb3-7a5c13c8c93a.png)

[2017-02-20 09:45] mariobehling opened #3225 "Sessions Dashboard: Show rejected sessions in red"
Rejected sessions currently have the same orange background color as pending sessions. Please change the background color of rejected sessions to red.

![screenshot from 2017-02-20 17-41-23](https://cloud.githubusercontent.com/assets/1583873/23119733/5af4a820-f794-11e6-93a5-b2c4948d519e.png)

[2017-02-20 14:10] Himanshi-Khandelwal commented on #3225
I will like to fix this. Please assign this to me.

[2017-02-20 14:45] niranjan94 commented on #3225
@Himanshi-Khandelwal please proceed

[2017-02-21 02:09] mariobehling opened #3226 "Scheduler Timeslots limited"
The timeslots in an event that happens over several days are limited to the end time of the last day.

Expected: Show the complete timespan available.

(In future we can define the available timespace for each day, but this is a feature, that we can implement later.)

![screenshot from 2017-02-21 09-51-00](https://cloud.githubusercontent.com/assets/1583873/23147943/c3971230-f81d-11e6-8898-84016eca

[2017-02-21 02:27] mariobehling opened #3227 "Cannot drag a session to the schedule if calendar is off-screen"
If a session is listed off-screen, the user cannot drag it to the calendar.

![screenshot from 2017-02-21 10-24-53](https://cloud.githubusercontent.com/assets/1583873/23148371/42a13fcc-f820-11e6-97ab-341e135b653d.png)

[2017-02-21 19:54] poush commented on #3227
I think it should be solved by #3219 as this issue looks like duplicate of #3217

[2017-02-21 19:54] poush commented on #3217
This can be closed by #3219

[2017-02-21 19:57] poush commented on #3223
@mariobehling could not able to reproduce it here.

[2017-02-21 19:58] poush commented on #3224
Working on this.

[2017-02-21 20:07] poush commented on #3220
We have to redesign the tickets UI for mobile in that case. We can use accordions like "collapsable" of bootstrap for this.

There are many places in orga server which require design changes to work on mobile. Many places where I removed one or more scrollbars fixes the issue for average/small screen sizes but not for mobiles. Administrator panel is not a big issue since most of the time admin and

[2017-02-22 04:11] mariobehling opened #3228 "Zip Download show "Not Found" after generating zip"
After the user generates a zip and clicks on "Download" a message is shown "Not Found". Apparently the image is generated, but it seems the link is wrong.

![screenshot from 2017-02-22 12-08-32](https://cloud.githubusercontent.com/assets/1583873/23196976/f5ed85c2-f8f7-11e6-9c37-d07a0ad2e293.png)

[2017-02-22 05:51] mariobehling opened #3229 "Implement session to be "unscheduled" in system and API"
After sessions are accepted they currently get a time assigned that is the start time of the event.

Please implement sessions to have no time assigned.

Use case is: We want to show unscheduled session in the system in the next steps. So, there should not be a wrong time.

Currently also the API shows the time of sessions even though they have not been scheduled.

[2017-02-22 07:24] mariobehling commented on #3224
If the user goes into the field and edits the color code and then saves it, it is working most of the time. However, if the user chooses the color dropper it does not save the color code.

[2017-02-22 07:31] poush commented on #3229
@niranjan94 Currently our "start_time" column is non nullable so there should be some data in it. I think there are two possible solutions for this, first one is to make this column nullable and second one is to make our application such that if sessions is not scheduled then show null in "start_time"

[2017-02-22 09:14] poush commented on #3224
The issue was related to event triggering of input fields after color picking.
@mariobehling @niranjan94 Please see #3230

[2017-02-22 10:07] SaptakS commented on #3226
It was previously decided that a session would happen over a single day. We will need to add this feature then because this feature isn't even present.

[2017-02-22 10:16] poush commented on #3226
Yes, Here in my installation, I'm getting complete timeline of the day ( till 23:45 ) in the calendar

[2017-02-22 10:23] #3214 closed

[2017-02-22 14:03] #3227 closed

[2017-02-22 18:33] mariobehling opened #3232 "Show a section for featured speakers on public event page"
We already collect information on which speakers are featured.

Please implement a section featured speakers on the public event page and show them with their short bio (200 characters) next to them.

Show a heading "Featured Speakers"

![screenshot from 2017-02-23 02-33-16](https://cloud.githubusercontent.com/assets/1583873/23226430/79ce867a-f970-11e6-885b-0f8576e6c74b.png)

[2017-02-22 20:44] poush commented on #3232
Would like to work on this.

[2017-02-23 03:54] mariobehling commented on #3232
Thanks! Please keep the sizes of speaker images same as other speakers.

[2017-02-23 06:13] CosmicCoder96 commented on #3228
@mariobehling I would like to work on this one.

[2017-02-23 06:22] #3224 closed

[2017-02-23 08:39] shubham-padia commented on #3223
@SaptakS @mariobehling regarding  first point, are you getting a message "Error occurred while saving the changes" ?
A reason for this ( atleast for me ) was that initially when accepting proposals i did not have some fields enabled as "required" in the custom form for sessions. e.g when accepting proposals initially, in my case, slides was not required, but I changed it to required afterwards.
Ca

[2017-02-23 09:09] mariobehling commented on #3223
@shubham-padia It was not the case with me and in the last two days I did not encounter the issue. The behavior you are stating here is another issue.

[2017-02-23 09:33] mariobehling opened #3235 "Events not displaying ticket information on events overview page"
The events overview page on https://eventyay.com/events/ is missing ticketing info on newer events.

![screenshot from 2017-02-23 17-29-26](https://cloud.githubusercontent.com/assets/1583873/23253048/11a8d4c8-f9ee-11e6-8204-05eb70a3c70a.png)

[2017-02-23 10:18] #3222 closed

[2017-02-23 11:26] poush commented on #3232
My suggestion would be to maintain this size for all speakers,

<img width="1440" alt="screen shot 2017-02-23 at 4 53 48 pm" src="https://cloud.githubusercontent.com/assets/1812082/23257197/c99137e8-f9e8-11e6-9653-e61ad9c747d6.png">

And if we try to reduce size through grid we will get something like this
<img width="1440" alt="screen shot 2017-02-23 at 4 54 32 pm" src="https://cloud.githubuserco

[2017-02-23 14:31] #3235 closed

[2017-02-23 14:31] aayusharora opened #3237 "Maintaining Consistency in the API"
The `key` which was `long_abstract` in the previous version of API now changed to `short_abstract`.
Also, the key `long_biography` from previous FOSSASIA 16 API sample has changed to  `short_biography`
@SaptakS @niranjan94 we have to maintain a consistency between the server and the app.

Please check the issue https://github.com/fossasia/open-event-webapp/issues/1061

[2017-02-23 14:39] niranjan94 commented on #3237
Yep. I guess it's our fault for not informing the app teams about the key change.
This was done quite sometime ago. `Jun 15, 2016` (https://github.com/fossasia/open-event-orga-server/commit/bd6e5947f8286ac824e44343f67ad842f7648024) to be exact.

So at the point, API was still in a volatile stage with a lot of changes. But as of now, the API is pretty stable. It will not be undergoing any field nam

[2017-02-23 14:44] niranjan94 commented on #3237
And also, I recommend the app teams have a look at API docs at https://open-event-dev.herokuapp.com/api/v1/ (which is always updated with the correct API specs) from time to time in case we miss something.

[2017-02-23 15:22] Princu7 commented on #3237
@niranjan94, No problem, we will implement it accordance to the new changes :)

[2017-02-23 15:22] niranjan94 commented on #3237
@Princu7 thanks :smile: ... closing this issue now

[2017-02-23 15:22] #3237 closed

[2017-02-23 16:06] mariobehling commented on #3237
@aayusharora @Princu7 Please also take into account that there could be short and long bio. So, best would be "if short bio is not present, but long bio is present, then use long bio" (same for speakers info).

[2017-02-23 16:25] aayusharora opened #3238 "Wrong Information in REST API for FOSSASIA 2017 Summit"
API end point : `https://eventyay.com/api/v1/events/6`

 - [ ]  Correct the copyright licence from `Attribution` to `Creative Commons Attribution License.`
      Issue : https://github.com/fossasia/open-event-webapp/issues/1063
 - [x]  Correct the Ticket URL from `https://eventyay.com/e/45da88b7/tickets/` to `https://eventyay.com/e/45da88b7/`
     Issue: https://github.com/fossasia/open-event-weba

[2017-02-24 08:37] geekyd opened #3240 "Missing information in Rest API for fossasia summit"
The Speaker data in the api is missing some attributes for some speakers in https://eventyay.com/api/v1/events/6.

- `"session_type" = null` for some speakers [fossasia/open-event-webapp#1069](https://github.com/fossasia/open-event-webapp/issues/1069)

- Multiple speakers listed as `speaker1 and speaker2` as a single speaker . [fossasia/open-event-webapp#1065](https://github.com/fossasia/open-even

[2017-02-24 08:48] niranjan94 commented on #3240
@geekyd neither of this is an issue with the server
1. Session type. If a session is not assigned to a session type, you get a null. it's the organizers responsibility to assign session types to sessions.

2. The speakers. I checked the raw data in the system. The speaker information itself has the name like that. Looks like that was the text entered in by the speaker. Again ... It the organizers

[2017-02-24 08:48] #3240 closed

[2017-02-24 09:00] Himanshi-Khandelwal commented on #3200
@mariobehling instead of 404 error there should be a modal appearing that "You have already accepted the invite".

[2017-02-24 09:03] geekyd commented on #3240
@niranjan94 Thanks for the clearance.
But can't we restrict the organiser to add multiple names in speaker field in the orga-server itself?

[2017-02-24 09:15] niranjan94 commented on #3240
@geekyd the speaker information is added by the person who is submitting the proposal ...  And don't think we can properly differentiate b/w multiple speakers names and a correct firstname lastname

[2017-02-24 14:39] poush commented on #3238
@niranjan94 #3239 partially fixes this issue. First part is yet to be solved.

[2017-02-24 14:39] mariobehling opened #3243 "Allow parallel sessions in one location on scheduler"
Currently the schedule does not allow overlapping sessions. If we want to use the scheduler for exhibitions at events it should be possible to show several exhibitions in one location. Please implement this.

![screenshot from 2017-02-24 22-36-21](https://cloud.githubusercontent.com/assets/1583873/23307354/20c4b3ec-fae2-11e6-96f4-9c5457846dfa.png)

[2017-02-24 14:49] mariobehling opened #3244 "Enhance process when organizer adds new sessions"
Currently when the organizer adds a new sessions, the organizers needs to fill out the complete speaker and session information, please enhance the process as follows:

1. If the organizer clicks on "Create Session"
  * [ ] Show a pop up "Choose an existing speaker for this session or add a new speaker"
  * [ ] Provide a menu for the organizer to choose from the existing speaker list
  * [ ] Show

[2017-02-24 15:02] mariobehling commented on #3171
This feature was not working for me since then. Currently accepting speakers with email just shows a layover lightbox without email options.

[2017-02-24 15:07] CosmicCoder96 commented on #3244
@mariobehling I would like to work on this.
@niranjan94 The issue is taking some time so can I work on this while I'm on it ?

[2017-02-24 15:27] aayusharora opened #3245 "Unclear Level values for Sponsors in FOSSASIA SUMMIT end point"
- API end point https://eventyay.com/api/v1/events/6

-  The api end point provides unclear level information. Please make sure that the `platinum` level numbers should be low as `level 1` followed by gold , silver and others.
The webapp maps the api `level` number with the `priority order` to show the sponsor images.
Issue https://github.com/fossasia/open-event-webapp/issues/1068

[2017-02-24 15:51] mariobehling commented on #3245
@aayusharora This is not the way the system works. A) Organizers can define what is the name of their sponsorship levels. B) The ranking of the levels is decided by numbers, that can be set by the organizers, e.g. if "5" is the highest number, then 5 is the highest level. If "-3" is the lowest level number, then it is listed last.

[2017-02-24 16:14] aayusharora commented on #3245
@mariobehling ` Organizers can define what is the name of their sponsorship levels.`
    Yes, the webapp is configured with this.
 ` The ranking of the levels is decided by numbers, that can be set by the organizers, `
   Ok thanks for remembering, We have to handle this part on webapp. Currently,  it arranges sponsors according to values ranging from 1 to 5.
Closing this and forwarding discussion

[2017-02-24 16:14] #3245 closed

[2017-02-24 17:04] niranjan94 commented on #3244
@CosmicCoder96 it's better if we work on High Priority issues first

[2017-02-25 07:06] mariobehling opened #3246 "Implement "Download Attendees List" and "Download Orders List""
Please implement "Download Attendees List" and "Download Orders List" from the pages.

Implement the function:
* [ ] on the right hand side next to the filer button
* [ ] offer download as pdf
* [ ] or download as csv

![screenshot from 2017-02-25 15-05-09](https://cloud.githubusercontent.com/assets/1583873/23329119/fd1395e6-fb6b-11e6-80e0-2da25d86a52c.png)

[2017-02-25 07:21] poush commented on #3232
@mariobehling Any suggestions? Also, do we need to show short_bio in mobile view as well?

[2017-02-25 08:29] CosmicCoder96 commented on #3228
@mariobehling   I was trying to reproduce it, but each time the event exported successfully with and without images. Can you point out an specific instance where it  occurred? I tested with multiple events on localhost as well as heroku deployment.

[2017-02-25 10:07] aayusharora commented on #3238
@niranjan94 @poush It seems that the ticket URL is corrected in the PR. I am in doubt why the API end point ` https://eventyay.com/api/v1/events/6` still provides wrong Ticket URL. Please confirm.

[2017-02-25 10:09] poush commented on #3238
Actually the ticket url is stored on the database and last PR fixed the process to store correct url on database. So the url you are receiving is coming directly from database. I think updating the event through wizard will fix this.

[2017-02-25 10:12] niranjan94 commented on #3238
@aayusharora this PR has still not be deployed into the eventyay server. The URL will get updated once it is deployed and event get's updated.

Deployment will be done in a few hours.

[2017-02-25 10:14] aayusharora opened #3249 "Text appending outside div"
The tracks contain some overflow of content. Please check why the content is shown without even clicking on the div.
![wrong](https://cloud.githubusercontent.com/assets/12194719/23330336/261885b4-fb71-11e6-9570-6f4dd14f2869.png)

[2017-02-25 10:16] #3249 closed

[2017-02-25 10:22] aayusharora commented on #3238
I don't know why it is closed. @niranjan94 please check if both the mentioned points are covered.
` Correct the copyright licence from Attribution to Creative Commons Attribution License.
Issue : fossasia/open-event-webapp#1063`
Please recheck this one.

[2017-02-25 10:27] niranjan94 commented on #3238
@aayusharora sorry ... the closing was accidental .. Pressed the wrong comment button :sweat_smile:

[2017-02-25 10:27] #3223 closed

[2017-02-25 11:37] Himanshi-Khandelwal commented on #3244
I would like to try this.

[2017-02-25 12:28] niranjan94 commented on #3244
@Himanshi-Khandelwal it would be great if you could help on high priority issues https://github.com/fossasia/open-event-orga-server/issues?q=is%3Aissue+is%3Aopen+label%3A%22Priority%3A+High%22

[2017-02-25 13:12] Himanshi-Khandelwal commented on #3244
@niranjan94 ok I will . All are assigned except two in higher priority list . I will have a look at the rest two ones.

[2017-02-25 13:26] niranjan94 commented on #3244
@Himanshi-Khandelwal you could also have a look at all the issues tagged as bugs https://github.com/fossasia/open-event-orga-server/issues?q=is%3Aissue+is%3Aopen+label%3Abug

[2017-02-25 13:31] mariobehling commented on #3232
The featured speakers section shows html "<p><span style="">".

@poush Could you check, please?

[2017-02-25 13:32] mariobehling commented on #3232
The changes also resulted in the break of the speakers section.

![screenshot from 2017-02-25 21-32-15](https://cloud.githubusercontent.com/assets/1583873/23331486/eb5c6fe0-fba1-11e6-8ebc-2830b5ef3bb7.png)

[2017-02-25 13:37] mariobehling commented on #3232
* [ ] Display of social media icons also broken

[2017-02-25 13:47] poush commented on #2803
Also, I think we need to add a check as well where fields of those platforms will not be shown for which app token and secret in admin setting isn't set

[2017-02-25 13:48] niranjan94 commented on #2803
@poush we already have an OAuth implementation in the server. (we use it for login now). Please reuse the existing implementation and not add more libraries.

[2017-02-25 13:49] #3225 closed

[2017-02-25 13:54] mariobehling commented on #3228
@CosmicCoder96 Does not work on current FOSSASIA Summit 2017.

@niranjan94 Could that be connected to the Google Cloud deployment?

![screenshot from 2017-02-25 21-47-46](https://cloud.githubusercontent.com/assets/1583873/23331639/f71dcf60-fba4-11e6-82ee-6ac3a0ef6566.png)

![screenshot from 2017-02-25 21-53-33](https://cloud.githubusercontent.com/assets/1583873/23331637/f4294230-fba4-11e6-8d32-05a

[2017-02-25 14:48] niranjan94 commented on #3228
@mariobehling yes. This is connected to the deployment. The code has to use the correct shared NFS server to store the file. It's supposed to be used automatically ... (Import functionality uses it correctly .. Looks like export is not ...)

[2017-02-25 14:54] niranjan94 commented on #3228
@mariobehling @CosmicCoder96

In kubernetes deployment, we have celery and web server running on separate pods (containers). Export is done in celery. So, when celery generates the zip, it stores the zip in it's pod. Not in the web server's pod. So, to share files between both pods, we have a shared folder located at `config['BASE_DIR'] + '/static/uploads/'` ... Any files in this folder will be ac

[2017-02-25 14:58] niranjan94 commented on #3228
I know the shared folder says _uploads_ ... Since it was first used for import functionality. But let's just use the same folder now irrespective of what it's called ... Because changing the folder will need some careful modification in kubernetes config and every place where it is used ... So, let's not risk affecting other parts of the application and just use the same folder for now.

[2017-02-25 15:22] mariobehling commented on #3091
Implementation has issues:
* [ ] Logos scaled wrongly. Ratio is not correct
* [ ] Ticket column is too small now

![screenshot from 2017-02-25 23-21-02](https://cloud.githubusercontent.com/assets/1583873/23332230/33e52e1e-fbb1-11e6-8230-9e8214bb9b4f.png)

[2017-02-25 15:29] mariobehling commented on #3232
* [ ] Display of social media icons not changed back to original display
* [ ] Speakers columns was changed from 5 columns to 4 columns for no reason

[2017-02-25 15:33] mariobehling commented on #3232
Indention of images and text should be same across sections. Please help to keep the style consistent.

* [ ] Change indention of featured speaker section to match the speaker section.

![screenshot from 2017-02-25 23-31-01](https://cloud.githubusercontent.com/assets/1583873/23332320/b687ea7c-fbb2-11e6-8708-e27a5e42e09b.png)

[2017-02-25 16:01] mariobehling opened #3252 "Events Dashboard: Live, Draft, Past events overview table not consistent anymore"
All views of Live, Draft and Past events should be consistent. They are not anymore currently, e.g. Draft page is showing a table that does not occupy 100% of the space.

![screenshot from 2017-02-25 23-59-59](https://cloud.githubusercontent.com/assets/1583873/23332564/b3da4564-fbb6-11e6-9545-eef205d4a5b2.png)

[2017-02-25 17:02] poush commented on #3232
@mariobehling Speaker images grid changed from 5 to 4 to ensure the same size of all speakers ( including featured )

```" Display of social media icons also broken" ```
Are you saying about centering them as they were before?

And sure I will fix this indentation issue.

[2017-02-25 17:09] mariobehling opened #3253 "Display all tracks and take out expansion feature"
The expansion feature of the tracks **menu** on the public schedule and session page is not helping users. Users should be able to see all relevant tracks right away. At the same time, please reduce the space between track.

Implement as follows:

* Show all tracks
* Keep space above and next to tracks with reasonable padding, but ensure that the tracks menu does not take up too much screen space

[2017-02-25 17:11] mariobehling opened #3254 "Scrolling session very slow"
On https://eventyay.com/e/45da88b7/sessions/ the scrolling down for session info is very slow.

[2017-02-25 17:16] mariobehling opened #3255 "Schedule: Scheduled Times not displaying correctly"
The time in the schedule sometimes have a jump, e.g.

02:00 PM The Qemu/KVM ecosystem: Navigating the code!
04:29 PM Hello Wayland, Goodbye X11 - The year of the Linux desktop!
02:30 PM Linux-Sunxi: Community behind Allwinner SOCs mainline support

![screenshot from 2017-02-26 01-15-01](https://cloud.githubusercontent.com/assets/1583873/23333125/2cc73306-fbc1-11e6-9d07-5a4c51c2aaab.png)

[2017-02-25 17:21] mariobehling commented on #3255
Please compare: Schedule times in the scheduler

![screenshot from 2017-02-26 01-20-10](https://cloud.githubusercontent.com/assets/1583873/23333159/c63643d8-fbc1-11e6-9903-6600080993d1.png)

Schedule different on the public page:

![screenshot from 2017-02-26 01-21-15](https://cloud.githubusercontent.com/assets/1583873/23333166/e90e1246-fbc1-11e6-80f0-7cf82abaaddc.png)

[2017-02-25 17:25] mariobehling opened #3256 "Dates on tracks page do not link to the specified date (there is no date section)"
The dates shown do not have a function or link to a date section. There are not any date sections actually.

![screenshot from 2017-02-26 01-24-14](https://cloud.githubusercontent.com/assets/1583873/23333197/5cda2098-fbc2-11e6-896e-2cad1f364502.png)

[2017-02-25 18:33] mariobehling opened #3257 "Public Schedule: Only show rooms with sessions and only show time from first session and until end of last session"
The public schedule currently shows all available rooms and times for sessions. In the scheduler used by the organizer to create the events this is what is needed.

In the public event schedule page only the used rooms and the times from the first session until the last session should be displayed.

Empty rooms are not important information for users.

![screenshot from 2017-02-26 02-30-19](https:

[2017-02-26 03:35] mariobehling commented on #3232
I did not see this was discussed here.

Please change it back to the grid of 5 speakers. Reason a) Images are not always in sufficient quality, b) the list of speakers gets too long. 5 speakers worked just fine for now.

Here you changed the padding around the icons or something. They are too close to the text now.
Correct you also changed the alignment without discussion or any hint beforehand.

[2017-02-26 03:41] mariobehling commented on #3232
Well, maybe you simply changed the paragraph style and now the icons are too small. It would be so good, if you could just change back everything that was not part of this issue.

[2017-02-26 08:29] mariobehling opened #3259 "Tracks Page does not show additional info"
Sessions on the tracks page are supposed to show additional info on clicking on the specific session (similar to web app and sessions view). Currently the area does not expand on clicking it.

![screenshot from 2017-02-26 15-00-30](https://cloud.githubusercontent.com/assets/1583873/23338266/c753ccac-fc40-11e6-9f53-779db90f2f4a.png)

[2017-02-26 08:58] poush commented on #3232
Actually to make sure images are of same size as of featured speaker as you suggested me before, I made sure they are on same grid size. As per your suggestion I reverting the changes.
Yes, the margin was changed a little bit to make sure they fit with the featured section images. Making a fix for other speakers.

Here is the progress/changes coming up in next PR

- [x] Display of social media ico

[2017-02-26 09:04] poush commented on #3232
@niranjan94 @SaptakS @mariobehling

If I show substring of 200 characters by not escaping html in jinja, there is possibility that the html tags could be left open. May be we can either remove all html tags from the string before or disable wysiwyg editing on adding bio. Any suggestions ?

[2017-02-26 10:30] mariobehling opened #3260 "Do not add "Unscheduled Sessions" to the API and JSON or public schedule"
If sessions are unscheduled, they should not be displayed publicly. Currently they are. Unscheduled sessions show up in the public schedule, are transferred through the API and saved in JSON files.

Expected: Please do not add unscheduled sessions to public data set. There should be a data field "null" or something in the time fields, that ensures they are not displayed. We still want the data of

[2017-02-26 10:42] Achint08 opened #3261 "Title of the active tab Hidden for the admin section"
In the admin section , the title of the active tab is hidden below the displayed tab list.

![screenshot from 2017-02-26 15 44 43](https://cloud.githubusercontent.com/assets/15813932/23338958/ad3613aa-fc3d-11e6-8470-63722181c2a0.png)

[2017-02-26 10:51] mariobehling opened #3263 "Add "Breaks & Activities" in Wizard Step 3 and Scheduler"
Many events have breaks and activity announcements. These breaks are not necessarily part of a track. Breaks are also recurring. So, in the current flow, we would need to add a number of sessions for coffee breaks so they appear in the schedule. These sessions would also need a speaker. There should be a better way.

Therefore please implement the following:

* [ ] In the create event wizard step

[2017-02-26 11:01] #3261 closed

[2017-02-26 11:07] mariobehling opened #3264 "Public Schedule Page/Session Page: Do not show right sidebar"
The right sidebar on the schedule pages reduces the space for the actual schedule.

Please take out the right sidebar on the following pages and expand the schedule/session area to make use of the additional space:
* [x] the public schedule page (and subpages)
* [x] the public session page

![screenshot from 2017-02-26 19-05-12](https://cloud.githubusercontent.com/assets/1583873/23339148/be142a72-

[2017-02-26 11:43] poush commented on #3232
@mariobehling can we add restriction of 200 characters at the biography input box for speaker?

[2017-02-26 12:06] mariobehling commented on #3232
@poush The solution should be same as on the Open Event Web app. Please try out the web app using the sample from 2016 - https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16.zip

[2017-02-26 14:30] Himanshi-Khandelwal commented on #3091
@mariobehling Is this ok ?
![screenshot from 2017-02-26 20 00 06](https://cloud.githubusercontent.com/assets/17119462/23340546/41e5bdd2-fc5e-11e6-9299-fcb59aab9576.png)

[2017-02-26 17:16] dristybutola opened #3268 "Missing comma error in static.py"

[2017-02-26 17:22] #3268 closed

[2017-02-26 20:11] Achint08 commented on #3264
I want to work on this

[2017-02-26 22:51] mariobehling opened #3270 "Schedule: On click show more info"
On clicking on the schedule sessions currently only limited information is displayed. Please show more info here:
* Start time and End time
* Short abstract (up to 500 characters)
* Speaker info (up to 500 characters)

 ![screenshot from 2017-02-27 01-00-24](https://cloud.githubusercontent.com/assets/1583873/23344507/b1af5eac-fcb8-11e6-9939-746e1e3cfcad.png)

[2017-02-27 02:08] andyli commented on #3254
The interesting thing is, it even automatically scrolls back to top if I scroll a little bit down with my mouse wheel... I'm using Chrome 56.0.2924.87 on Windows.

[2017-02-27 08:49] nishapoyarekar commented on #3085
My understanding of the issue is that once Accepted, a mail needs to be sent to the speaker asking them to confirm their availability for the session.
I have attached a screenshot with the change-
<img width="1265" alt="confirmationemailiconandfilter" src="https://cloud.githubusercontent.com/assets/20510268/23354551/b81fc940-fcf7-11e6-98bd-a56408fbbd7d.png">
<img width="1087" alt="confirmationemai

[2017-02-27 08:59] mariobehling commented on #3085
Yes, the right direction. Please implement as follows:
* [ ] Change color of green accepted buttons to yellow
* [ ] After session is accepted fffer two buttons in green with
   * [ ] a) Confirm without email
   * [ ] b) Confirm with email
* [ ] Keep the red buttons to reset the status to "rejected" if organization of sessions requires this at a later stage.

[2017-02-27 09:03] mariobehling opened #3271 "Email option to send email to speaker not working as expected"
There is an email option with a blue button and a mail sign on the accepted sessions, e.g. https://eventyay.com/events/6/sessions/

Currently there is no email window that opens, when the user clicks on the button.

![screenshot from 2017-02-27 17-01-00](https://cloud.githubusercontent.com/assets/1583873/23354971/7c2a0ad8-fd0e-11e6-80e6-c1fd3b891ed8.png)

Expected behavior is: An email windows ope

[2017-02-27 11:33] mariobehling opened #3272 "Name missing in ticket email and invoice"
A recent changed resulted in the name of buyers of tickets not being displayed anymore in the ticket email and orders.

![screenshot from 2017-02-27 19-32-34](https://cloud.githubusercontent.com/assets/1583873/23359936/a2df3ee0-fd23-11e6-9217-6d5998f1f650.png)

[2017-02-27 13:25] Himanshi-Khandelwal commented on #3091
@mariobehling @niranjan94   is it ok ?  ![screenshot from 2017-02-26 20 00 06](https://cloud.githubusercontent.com/assets/17119462/23362973/4217c6ae-fd1e-11e6-9009-8f2ba95a2458.png)

[2017-02-27 13:37] niranjan94 commented on #3091
@Himanshi-Khandelwal the logo still seems to be distorted. Please maintain aspect ratio.

And yes, a new PR will need to be made.

[2017-02-27 14:01] #3264 closed

[2017-02-27 14:09] mariobehling opened #3273 "Add pop out feature and icon for lightbox of schedule"
The pop out feature to open a lightbox is a common element in many applications e.g. in Gmail.

![screenshot from 2017-02-27 22-03-32](https://cloud.githubusercontent.com/assets/1583873/23364143/be4b31ba-fd38-11e6-80fd-0e198dd3c2be.png)

Add the icon to access this feature to the schedule on the right-hand side next to "Session View".

Open the schedule in a lightbox with white background and a cl

[2017-02-27 16:28] mariobehling opened #3274 "Free Order directs organizer to Paypal payment page"
The free order of paid tickets directs organizer to Paypal and requires organizer to fill in paypal fields (but actually it still shows the ticket as booked without payment at Paypal).

Expected: Do not send organizer to Paypal and show ticket as booked.

![screenshot from 2017-02-28 00-25-39](https://cloud.githubusercontent.com/assets/1583873/23369585/d4a8e40c-fd4c-11e6-9fc9-053aadba5ce6.png)

[2017-02-28 20:02] uttu357 commented on #3273
I would like to work on this issue.. :)

[2017-02-28 20:07] sainiak009 commented on #3272
Please assign this to me.I am working on this.

[2017-02-28 20:53] sainiak009 commented on #3272
@mariobehling Please review #3276

[2017-02-28 22:31] mariobehling opened #3277 "Unscheduled, pending and rejected sessions show up as part of the schedule in the API"
1. Pending sessions show up in the API and get rendered as part of the schedule by external e.g. Web App Generator apps.

2. If the user accepts sessions and then changes the status to rejected, the sessions will still show up in the API and be displayed on the program if external (e.g. Web App Generator) renders the event.

3. If the event is unscheduled it will just show up on the start time of

[2017-03-01 03:51] #3255 closed

[2017-03-01 04:48] Achint08 commented on #3270
I want to work on this. :)

[2017-03-01 07:26] niranjan94 commented on #3270
@Achint08 please proceed

[2017-03-01 07:27] niranjan94 commented on #3273
@uttu357 please proceed ...

[2017-03-01 12:10] sj29-innovate commented on #3221
Hello @mariobehling .
I would like to work on this issue.

[2017-03-01 12:14] niranjan94 commented on #3221
@sj29-innovate you can proceed if you have set up the server locally on your PC

[2017-03-01 14:07] abhishek1995s commented on #2676
Hi @niranjan94 I am cofounder of a startup working on a similar project . It is a mobile selection website . When user select a model name my website scarp all reviews, youtube comments, and twitter comments on behalf of the product perform machine learning and provide and overall picture to the user . I think i can make good contribution to this feature

[2017-03-01 14:13] mariobehling opened #3279 "Tracks Schedule View: Add Tracks List and Search"
The tracks bar of the web app generator offers a tracks list and search. Please implement the same in the server app. Compare to e.g. http://2017.fossasia.org/tracks.html

![screenshot from 2017-03-01 22-11-15](https://cloud.githubusercontent.com/assets/1583873/23463389/3aad0eb0-fecc-11e6-8755-2596e6c4bece.png)

[2017-03-01 16:56] #3257 closed

[2017-03-01 19:57] aayusharora commented on #3238
@poush Any updates with this.

[2017-03-02 02:24] mariobehling opened #3282 "Change sessions min time from 15 minutes to 3 minutes"
The session time in the scheduler is minimum 15 minutes. Actually we have sessions that are shorter. Please give organizers the option to scale down the time up to 3 minutes in the scheduler.

[2017-03-02 10:30] sainiak009 commented on #3271
I would like to work on this issue.

[2017-03-02 13:37] sainiak009 commented on #3271
@niranjan94 Please review my pull request #3284 for this issue.

[2017-03-02 15:04] mariobehling opened #3285 "Show scroll bar for featured speakers on scroll over"
The start page of the Open Event Web app has a nice feature where there is a scroll button for featured speakers on scroll over. Example here: http://fossasia.github.io/open-event-webapp/

Please implement the same feature for featured speakers on the public event page.

![screenshot from 2017-03-02 23-03-17](https://cloud.githubusercontent.com/assets/1583873/23512698/70f40e3a-ff9c-11e6-8d9d-e2e9a

[2017-03-02 16:35] Himanshi-Khandelwal commented on #3282
in this do I need to change time from 15 to 3 min? or give this right to the organiser to do so?

[2017-03-02 16:38] niranjan94 commented on #3282
The organizer should have the ability to change minimum time unit on scheduler to any duration b/w 15 mins and 3 mins.

[2017-03-02 17:08] #3271 closed

[2017-03-02 18:25] LuD1161 commented on #3274
I was trying to solve this issue but didn't get the option to make a paid ticket on the local server.
This is what I get on my local server :
![paid-option](https://cloud.githubusercontent.com/assets/17861054/23521120/be48f338-ffa3-11e6-9dfe-a379e94c7ccd.png)

[2017-03-02 21:24] Achint08 commented on #3253
I would like to work on this. :)

[2017-03-03 01:22] mariobehling opened #3287 "Session information on bottom entry hidden in schedule calendar view"
In the calendar the bottom entries are hidden within the frame. Expected: Show session info on top.

![screenshot from 2017-03-03 09-21-09](https://cloud.githubusercontent.com/assets/1583873/23534436/eecc267a-fff2-11e6-96b5-7e0672227ed9.png)

[2017-03-03 04:42] mariobehling opened #3288 "My Sessions Page not showing correct time of sessions"
All sessions on the my sessions page start at 9AM. It does not show the correct timing.

![screenshot from 2017-03-03 12-41-13](https://cloud.githubusercontent.com/assets/1583873/23538521/c9470804-000e-11e7-9ed4-c13c07fad4a2.png)

[2017-03-03 06:37] mariobehling opened #3289 "Links in the featured speaker description are rendered as icons"
Links in the speaker description should be shown as in the description text.

![screenshot from 2017-03-03 14-36-36](https://cloud.githubusercontent.com/assets/1583873/23540874/eca5faf2-001e-11e7-8ecc-74fcc986cf6b.png)

[2017-03-03 07:05] niranjan94 commented on #3253
@Achint08 please proceed once you're done with #3278

[2017-03-03 11:54] sainiak009 commented on #3272
@mariobehling @niranjan94 This issue is resolved.

[2017-03-03 11:56] niranjan94 commented on #3272
@sainiak009 please add proper keywords in your PR description such that issues are closed automatically when merging PR.

https://github.com/blog/1506-closing-issues-via-pull-requests

And please don't put issue number in your commit message.

[2017-03-03 11:56] #3272 closed

[2017-03-03 11:57] sainiak009 commented on #3263
@niranjan94 @SaptakS I would like to work on this.

[2017-03-03 12:02] niranjan94 commented on #3263
@sainiak009 this is an enhancement. There are more higher priority issue that require attention. Please work one of them.

[2017-03-04 06:13] mariobehling opened #3293 "Add Speakers name to calendar and tracks view"
Please add the speakers name(s) to the calendar view like this "Awesomse session | Fantastic Speaker".

For the tracks view please follow the track example of the web app e.g. compare: http://2017.fossasia.org/tracks.html

[2017-03-04 06:38] mariobehling commented on #3277
I think defining status of sessions in the API would be best and leave room for more improvements in the future. It would also enable us to solve the issue of the web app quickly.

[2017-03-04 06:46] mariobehling opened #3295 "Add png export to public schedule page"
We already have a png export of the schedule, but it is only implemented for the organizers. It also has issues as it only exports the screen view and not always the full calendar.

Please implement the following:
* [ ] Add png export to the public schedule page e.g. https://eventyay.com/e/45da88b7/schedule/
* [ ] Ensure that the whole schedule is exported including areas that might be off-screen

[2017-03-04 07:33] #3285 closed

[2017-03-04 08:01] #3288 closed

[2017-03-04 08:34] mariobehling opened #3297 "White space in featured speaker section"
The featured speaker section has a white space issue.

![screenshot from 2017-03-04 16-33-32](https://cloud.githubusercontent.com/assets/1583873/23577372/7a7df792-00f8-11e7-86ba-ebc708779e10.png)