[2019-04-15 19:44] shubham3211 opened #6028 "Deleted speakers are visible in sessions"
**Describe the bug**
Deleted speakers are visible in sessions

**Expected behaviour**
Deleted speakers should not be visible in sessions

**Screenshots**
![speaker1](https://user-images.githubusercontent.com/19900978/56160500-f343cd80-5fe4-11e9-9f30-74ab52041b92.gif)

**Additional context**
I am working on it

[2019-04-16 02:44] mrsaicharan1 commented on #5804
@theLimitBreaker I'll try to fix this blocking issue.

[2019-04-16 04:11] iamareebjamal commented on #5804
Yes, amount should not be null, but if it is not sent to the server, it should automatically be taken as 0

[2019-04-16 04:17] #5752 closed

[2019-04-16 07:31] ghost opened #5805 "The ability to delete my account."
**Is your feature request related to a problem? Please describe.**
I had this app mistaken for something else, and I would like to delete my account. However, there doesn't seem to be an easy way to do that, and the only way to contact you according to your website (aside from social media, which I don't have) is Github.

**Describe the solution you'd like**

Allow somebody to erase their account

[2019-04-16 08:09] shreyanshdwivedi commented on #5805
I'll take a look to it. @iamareebjamal @CosmicCoder96 I think this should be implemented. Your views?

[2019-04-16 08:14] mrsaicharan1 commented on #5805
If this is to be implemented, I would like to work in collaboration with
you. I could implement the front-end part of this @shreyanshdwivedi.

On Tue, 16 Apr 2019 at 1:39 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-04-16 09:05] iamareebjamal commented on #5805
Due to the nature of the application, it is not very simple to do so.

Consider this -

I publish an event, add paid tickets, people buy them.
I get 1000s of dollars in my account, and then just delete my account. No event happens, people have encountered a fraud and it has been done through our system.

It is definitely possible to add this feature, but it has several aspects of security and real

[2019-04-16 10:06] shreyanshdwivedi commented on #5773
@prateekj117 it's already 6 days since you claimed the issue. It is just a documentation update. Please open a PR by tonight or let others do it :)

[2019-04-16 10:07] shreyanshdwivedi commented on #5775
@uds5501 are you working on it? If you are busy with any other issue, can I take it over?

[2019-04-16 10:09] uds5501 commented on #5775
@shreyanshdwivedi I am working on it have prepared the changes on the local. I will push the PR by tonight!

[2019-04-16 10:14] iamareebjamal commented on #5773
@shreyanshdwivedi Please go ahead with this

[2019-04-16 17:10] shreyanshdwivedi opened #5808 "docs(api) : repetition in documentation"
**Describe the bug**

We are repeating ourselves a lot. We should be keeping the documentation DRY and use types.

https://blog.apimatic.io/common-mistakes-developers-make-in-their-api-blueprint-files-4b3b8c61306b

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `docs/api/api_blueprint.apib`
2. See error

**Expected behavior**

We should be using types to avoid repeatition

**Additional

[2019-04-16 17:12] shreyanshdwivedi commented on #5772
@kushthedude if you haven't worked upon it, I think you should let me take it over. It's already 6 days since you claimed it. I'll be opening a PR tonight

[2019-04-16 17:13] kushthedude commented on #5772
Cool take it

On Tue, 16 Apr 2019 at 10:42 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-04-16 22:14] uds5501 commented on #5737
@prateekj117 this is a partially occuring error. not consistent at all.

[2019-04-17 02:34] prateekj117 commented on #5737
@uds5501 Yaa, noticed that. But it seems like it was occuring due to event-copyright and event-tax only. So it might be the same issue. Will confirm that.

[2019-04-17 04:27] aggarwalpulkit596 opened #5810 "Un-Authenticated request for Event FAQ List"
Is your feature request related to a problem? Please describe.
https://api.eventyay.com/v1/events/1/faqs
the request is only allowed for logged in user I guess it shouldn't be right?

Describe the solution you'd like
Remove the authentication from event faq list as each and every user should be able to see the faq's related to the event

[2019-04-17 04:28] aggarwalpulkit596 commented on #5810
@mrsaicharan1  

[2019-04-17 04:28] mrsaicharan1 commented on #5810
Will take a look into it

On Wed, 17 Apr 2019 at 9:57 AM, Pulkit Aggarwal <notifications@github.com>
wrote:

[2019-04-17 06:07] uds5501 opened #5811 "Co-organizer access required error on leaving sponsor step"
**Describe the bug**

If I make an event using non-admin user, it can't leave sponsor form or go away from session form using previous and forward buttons .

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event using non-admin user
2. try to move forward from sponsor step
3. See error

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/21087061/56264750-15cd0800-61

[2019-04-17 07:08] uds5501 commented on #5811
@iamareebjamal @mrsaicharan1
I digged deep in this and the reason came out behind this error was :
When our event identifiers are strings, this method works out all right, but in the cases where the event identifier goes out to be all integer, that's where this method breaks.

In this particular case, the event identifier that it was assigned is `00784287` but the identifier being passed around in

[2019-04-17 07:26] iamareebjamal commented on #5811
Explicitly convert identifiers to string

[2019-04-17 11:40] kushthedude commented on #5772
@shreyanshdwivedi May i retake if you havent made changes on your local

[2019-04-17 11:52] shreyanshdwivedi commented on #5772
@kushthedude I'm taking help from @mrsaicharan1 as we both are unable to export events. I'll let you know if I am unable to proceed

[2019-04-17 15:10] iamareebjamal opened #5813 "Notification Design Document"
Current notification schema is naive and not scalable. This needs to change. This issue will track the required changes in notification schema

[code]

[2019-04-17 16:15] #5810 closed

[2019-04-18 06:16] #5774 closed

[2019-04-18 07:12] uds5501 opened #5815 "A mail to signup being sent up for an existing user on role invite"
**Describe the bug**

Currently, if I invite a user for an event role, be it existing user or non existing, they both are sent the same mail for signing up. Which shouldn't happen for existing user.

**To Reproduce**
Steps to reproduce the behavior:
1 Invite an existing user
2. See the email
3. See error

**Expected behavior**

For an existing user, the email sent should've been of login instead.

[2019-04-18 09:46] #5753 closed

[2019-04-18 10:11] uds5501 commented on #5809
@iamareebjamal this has been taken care of in #5801

[2019-04-18 10:28] shreyanshdwivedi commented on #5809
Closed via https://github.com/fossasia/open-event-server/pull/5801

[2019-04-18 10:28] #5809 closed

[2019-04-18 10:53] #5802 closed

[2019-04-18 10:58] prateekj117 commented on #5653
@Anupam-dagar I see you closed the PR, are you still working on this issue?

[2019-04-18 10:59] shreyanshdwivedi commented on #5653
@prateekj117 I think I was already in the queue :)

[2019-04-18 11:06] Anupam-dagar commented on #5653
@shreyanshdwivedi @prateekj117 I am updating my PR. Please look for other issues. :smile:

[2019-04-18 14:23] #5804 closed

[2019-04-18 16:23] mrsaicharan1 opened #5817 "Admin translations should only be accessible by admin"
**Describe the bug**
Currently, admin translations can be downloaded by anyone who possesses the link. Security issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/v1/admin/content/translations/all`
2. Unauthenticated/non-admins/admins are able to access admins translations

**Expected behavior**
Only the admins should be able to download the translations as `zip`

**Additional co

[2019-04-18 17:11] #5817 closed

[2019-04-19 07:36] mrsaicharan1 commented on #5652
I'd like to take this issue as it's been inactive for quite a long time.

[2019-04-19 07:38] uds5501 commented on #5652
@mrsaicharan1 go ahead

[2019-04-19 07:50] mrsaicharan1 commented on #5652
@angmas1 Just to make it a bit more perceivable, do you want it for a specific end-point or only event-topics? The aforementioned solution is a bit unclear.
Also, isn't this possible right now?
e.g Sending a GET request to `v1/event-types/1?includes=event.location`

[2019-04-19 08:09] uds5501 opened #5819 "Add server code for is_featured events"
## Parent Issue:

fossasia/open-event-frontend#1925

[2019-04-19 08:15] angmas1 commented on #5652
I found a work around for this so I don't need this anymore

[2019-04-19 08:15] #5652 closed

[2019-04-19 08:20] mariobehling opened #5823 "Implement Omise Payment Gateway"
For the OpenTechSummit in Thailand we need local payment gateways. The most popular one is omise. Please implement it.

[2019-04-19 08:58] #5819 closed

[2019-04-19 12:04] shreyanshdwivedi commented on #5805
@iamareebjamal I think we can implement this feature to the users who have not created any event. I don't think there is any other possibility of fraud other that the one you stated, which can be eliminated if we apply a check on which I stated above.
Also, currently any event can be deleted easily. Shoul I open an issue to apply a check which prevents deleting an event which has any order associa

[2019-04-19 12:06] shreyanshdwivedi commented on #5794
@kushthedude are you working on it?

[2019-04-19 12:08] kushthedude commented on #5794
@shreyanshdwivedi Just make the API reject the same old password , else will be handled in https://github.com/fossasia/open-event-frontend/issues/2636

[2019-04-19 12:09] shreyanshdwivedi commented on #5772
@mrsaicharan1 @uds5501 @kushthedude I am unable to export events on my local. If you are able to export events can you please post the screenshots of network request and response section?

[2019-04-19 12:10] kushthedude commented on #5772
Same for me @shreyanshdwivedi

[2019-04-19 12:16] shreyanshdwivedi commented on #5794
@kushthedude can I proceed?

[2019-04-19 12:17] kushthedude commented on #5794
Sure

On Fri, 19 Apr 2019 at 5:46 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-04-19 12:31] iamareebjamal commented on #5805
Yes, that's what I meant

[2019-04-19 15:22] prateekj117 commented on #5815
@uds5501 Can I take this up?

[2019-04-19 15:35] uds5501 commented on #5815
@prateekj117 Sure!

[2019-04-19 15:47] #5794 closed

[2019-04-20 11:36] prateekj117 commented on #4734
@srv-twry Can I take this up?

[2019-04-20 11:56] mohitm15 opened #5872 "Typo in the notification invitation message"
**Describe the bug**

Currently, one user gets the notification-<b>You've been invited to be `a` attendee at TEST EVENT2.</b> But for attendees and for organizer, it should be changed to-<b> You've been invited to be `an` attendee at TEST EVENT2.</b> according to standards.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'notification panel.'
2. Scroll down.
4. See error.

**Expected

[2019-04-20 12:21] shreyanshdwivedi opened #5822 "Implement checks on deleting an event"
**Is your feature request related to a problem? Please describe.**

Deleting of an event should be prevent by an API if any order has been placed for the event, in order to avoid fraud. Please refer to https://github.com/fossasia/open-event-server/issues/5805#issuecomment-483576022

**Describe the solution you'd like**

Implement checks on deleting event. An event shouldn't be deleted if it has an

[2019-04-20 12:24] shreyanshdwivedi commented on #5822
@iamareebjamal @mrsaicharan1 @uds5501 I wanted to discuss few things before proceeding. I'm planning to do this - If any order is associated with an event, APIs must restrict its deletion. Once the event passes, we must wait for a span of few days before enabling the deletion of the event because it may happen that the event organiser didn't show up at the venue or no event was there at the venue.

[2019-04-20 12:35] mrsaicharan1 commented on #5822
The part about the API blocking the deletion of an event with an order associated is fine I guess. But I'm a little skeptical about the deletion after the event has passed. But I don't think you should allow deletion of past events. The organizer might never show up/conduct the event.

[2019-04-20 13:06] iamareebjamal commented on #5822
Right, for now, just implement check for Order thing, we'll tackle other things later

[2019-04-20 13:11] iamareebjamal commented on #5822
Disable delete for any event with any order for now, we'll refine these checks later.

Then allow deletes only when all the events from account have been deleted

[2019-04-20 15:18] iamareebjamal commented on #5823
@prateekj117 I meant generic payments issue you mentioned in your proposal, not this

[2019-04-20 15:20] prateekj117 commented on #5823
@iamareebjamal Ohh, Ok. Sorry, I misunderstood.

[2019-04-20 15:45] #5608 closed

[2019-04-21 05:58] uds5501 opened #5825 "Updating speaker detail in cfs throws a 403"
**Describe the bug**

If a non-admin user decides to update his/her speaker details in the cfs section, they are greeted with a 403 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a non-admin user
2. Register yourself as a speaker via cfs
3. Try and edit the details after submission
4. See error

**Expected behavior**

The speaker should be able to access his/her own session

*

[2019-04-21 05:59] uds5501 commented on #5825
### A sample to reproduce
![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/21087061/56466045-a61e8c00-6428-11e9-8710-3390cb3212e3.gif)

[2019-04-21 19:27] yitzikc opened #5827 "HTTP connection hangs and flooding of "Booting worker with pid" from openv-web container"
I'm trying to run the server with docker-compose, following the instructions in aws.md and docker.md. Even though all the docker containers are up and port 8080 is supposed to be exposed, attempts to connect to it hang forever.
I see this behaviour both in an EC2 running Ubuntu and with Docker 2.0.0.3 on MacOS/X 10.14. I've raised the debug level on my OS/X docker setup to "debug" by editing the "

[2019-04-21 19:34] iamareebjamal commented on #5827
Can you try stopping the elasticsearch container? It takes a lot of resources.

[code]

Also, can you share the output of this command?

[code]

[2019-04-21 19:37] iamareebjamal opened #5828 "Depenendency Upgrades"
The following dependencies have to be upgraded

- urllib3 = ">=1.24.2"
- SQLAlchemy = ">=1.3.0"
- Jinja2 = ">=2.10.1"
- marshmallow = ">=2.15.1"

[2019-04-21 19:45] yitzikc commented on #5827
Thanks for the quick reply! I've edited docker-compose.yml to run without Elasticsearch, and I still see the same behaviour. The output from docker ps is below. I'm pasting below my edited docker-compose.yml.

`
 docker ps
CONTAINER ID        IMAGE                      COMMAND                  CREATED             STATUS              PORTS                    NAMES
439814d29ea2        open-event-ser

[2019-04-21 19:50] yitzikc commented on #5827
my edited docker-compose.yml - including it inline since Github doesn't support uploading YAML files.

[code]

[2019-04-21 20:03] iamareebjamal commented on #5827
This issue is not reproducible for me, but I would like to help you out in figuring out what's the problem. Can you check the output of `curl -L localhost:8080`?

[2019-04-21 20:09] yitzikc commented on #5827
Nothing, it just hangs. I'll try it later on Linux with strace and see if I get any more insight. How would you suggest debugging this, and see what's troubling Gunicorn and causing those endless worker re-spawns?

[2019-04-21 20:18] iamareebjamal commented on #5827
I think it will be due to less memory perhaps, but the server runs fine in even 1 GB RAM setting.

[2019-04-21 23:21] prateekj117 commented on #5828
@iamareebjamal May I work on it?

[2019-04-22 02:34] mrsaicharan1 opened #5829 "Ticket Downloads Path issue"
**Describe the bug**
The hash of the uploads path is missing from the path of the ticket returned at the route which leads to a `FileNotFound` Error event though the ticket is present.

**Expected behavior**
The ticket needs to be returned

**Stacktrace**
FileNotFoundError: [Errno 2] No such file or directory: '/generated/tickets/attendees/tickets/pdf/44ea48b7-d9de-4b7b-ac8f-a10fecd747d7/OUMxaFQ3c

[2019-04-22 02:42] mrsaicharan1 opened #5831 "Incomplete path for local uploads"
**Describe the bug**
The default parameter for `upload_dir` in `upload_local` method is missing a leading slash which leads to an incomplete file path(`static/media/`).

**Expected behavior**
Should upload the files as expected

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `

[2019-04-22 04:22] mrsaicharan1 opened #5832 "docs(api): Update blueprint for Event FAQ and Feedback"
**Describe the bug**
The docs still show that the authorization headers are required for viewing Event Feedback and FAQ. The Authorization requirements were recently removed for public access. Docs need to be updated for this.

**Expected behavior**
Docs should only show that the content-type is required.

**Additional context**
Working on this.

[2019-04-22 05:40] #5832 closed

[2019-04-22 05:41] #5829 closed

[2019-04-22 05:42] iamareebjamal commented on #5828
Go ahead

[2019-04-22 09:09] #5831 closed

[2019-04-22 22:32] yitzikc commented on #5827
I was able to work around the problem by adding ` --preload` to the Gunicorn command-line in `scripts/container_start.sh`. I haven't been able to get much insight into the underlying root cause, but I can offer my fix this as a pull request if desired. I'd be glad to help determine the root cause if you have any requests (e.g. run code from branches that have extra logging etc.).

[2019-04-23 17:40] #5773 closed

[2019-04-23 17:44] iamareebjamal commented on #5827
Thanks @yitzikc. We'd really appreciate your PR. Thank you for trying to determine the root cause, can you test the latest commit from development?

However, I am not sure if it will make any difference since the problem seems to be arising from gunicorn and not the server code, but it doesn't hurt to try

Thanks again

[2019-04-23 18:13] iamareebjamal opened #5837 "Integrate and verify new sentry SDK"
Update sentry SDK and verify it works

[2019-04-23 19:53] uds5501 commented on #5777
@Anupam-dagar Can I take over? I have half of the work down, if you allow I shall push it by tomorrow.

[2019-04-23 20:41] Anupam-dagar commented on #5777
@uds5501 Sure.

[2019-04-24 03:38] mrsaicharan1 opened #5838 "Make namespace uniform for endpoints"
**Describe the bug**
Currently, the ticket endpoint has a url-prefix of '/' which is not uniform with all other endpoints which have the namespace of '/v1'.

**Expected behavior**
Tickets route needs to be mapped to `/v1/tickets/order-identifier`

[2019-04-24 04:02] #5838 closed

[2019-04-24 09:00] uds5501 commented on #5307
@iamareebjamal will #5330 resolve the issue?

[2019-04-24 10:12] kokoye2007 commented on #1646
Not Working with search or manual point on Maps

[2019-04-24 17:00] mariobehling opened #5848 "Export: Event export API and Zip not working "Network Error""
Trying to access the API through export page and downloading the zip results in "Network Error" e.g. at https://next.eventyay.com/events/45da88b7/export

[2019-04-24 19:26] iamareebjamal commented on #5307
But it is closed. If the issue it was addressing is fixed, then yes

[2019-04-24 22:27] yitzikc commented on #5827
I've also managed to reproduce the bug on my dev workstation (Docker Desktop 2.0.0.3 on OS/X 10.14) with the development branch (commit `5c5e3cb9a6647fe05f426d39381e6988338c6964`). The same workaround also resolves it.
_A wild guess_: something that should be specified as an environment variable is specified as a shell variable instead, hence it doesn't survive forks. Your test environment might s

[2019-04-25 00:46] uds5501 opened #5842 "Creating a session without speaker is throwing 500"
**Describe the bug**

Creating a session without a speaker involved should be possible but currently, it's throwing a 500 server error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to event/sessions-create or cfs/new-session
2. Create a session
3. Select no speaker
4. See error

**Expected behavior**

It should work without any error.

**Additional details (please complete the following

[2019-04-25 01:17] uds5501 commented on #5307
@iamareebjamal This issue has been resolved already. The original image url is being returned as required.

[code]

[2019-04-25 03:37] theLimitBreaker opened #5844 "api.eventyay.com/v1 throwing HTTP 500"
**Describe the bug**
On client side , on hitting `api.eventyay.com/v1/` its throwing HTTP 500

**Expected behavior**

**Stacktrace**
On the Client side (open event android)

[code]

[2019-04-25 03:49] mrsaicharan1 commented on #5844
I'll take a look into it

On Thu, 25 Apr 2019 at 9:08 AM, Rohan Maity <notifications@github.com>
wrote:

[2019-04-25 03:56] uds5501 commented on #5761
@iamareebjamal @CosmicCoder96 please transfer it to frontend, it's an ember-table issue. I am debugging it.

[2019-04-25 03:58] uds5501 commented on #5761
# Addition to issue

Even the sortings aren't working.

[2019-04-25 14:28] iamareebjamal commented on #5844
Please try now

[2019-04-25 16:41] theLimitBreaker commented on #5844
Yeah its working now.

[2019-04-25 16:50] #5844 closed

[2019-04-26 00:42] kushthedude opened #5849 "Space issue in notification generated after `Acceptance of proposal`"
**Is your feature request related to a problem? Please describe.**

No space between `Rejected`

**Screenshot**

<img width="1253" alt="Screenshot 2019-04-26 at 6 10 22 AM" src="https://user-images.githubusercontent.com/44091822/56776468-345c8e80-67ea-11e9-8211-e93d53734c67.png">

[2019-04-26 01:03] mrsaicharan1 opened #5845 "Admin Event Tab / All Events Tab missing Session Information"
**Describe the bug**
The admin events tab and the events tab are missing session information. It shows "0" for different statuses.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/admin/events/past`
2. See incorrect number of submitted sessions.

**Expected behavior**
Should show total sessions

**Additional context**
Working on this.

[2019-04-26 01:13] mrsaicharan1 opened #5847 "Event exports as Zip not working."
**Describe the bug**
The celery task responsible for Exporting an event as zip is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `<event_id>/export`
2. Click on `Export event as zip`

**Expected behavior**
Events should be exported.

**Additional context**
Working on it.

[2019-04-27 20:01] uds5501 commented on #5848
@mariobehling can't recreate the network issue, the zip file downloads perfectly

[2019-04-28 02:51] mrsaicharan1 commented on #5847
Duplicate.

[2019-04-28 02:51] #5847 closed

[2019-04-28 17:02] iamareebjamal commented on #5848
Because localhost:4200 is running on your PC

[2019-04-28 19:48] uds5501 commented on #5848
@iamareebjamal okay, looking into it then

[2019-04-28 19:54] uds5501 commented on #5732
@iamareebjamal This is a front end issue, please transfer it there

[2019-04-29 19:10] #5845 closed

[2019-04-30 10:45] CosmicCoder96 opened #5851 "Paypal is not using production settings"
Paypal live mode should be used, when the app is in production which was the intended behavior.

[2019-04-30 13:49] #5851 closed

[2019-05-01 08:47] iamareebjamal opened #5854 "Update Dockerfile and other configs to support Python 3.7"
No reason to not use latest version

[2019-05-01 08:55] uds5501 opened #5855 "Paypal token request syntax isn't backwards compatible"
**Describe the bug**

 Currently, the paypal token access requires the python version to be `>=3.6.2`, This needs to be fixed

**Stacktrace**

[code]
**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS] Ubuntu 16.04
 - Python Version [e.g. `3.5`, `3.6`] 3.5

[2019-05-01 10:16] #5855 closed

[2019-05-01 12:39] ashwani99 commented on #5854
May I take this?

[2019-05-01 12:42] iamareebjamal commented on #5854
Go ahead

[2019-05-01 13:27] aggarwalpulkit596 opened #5857 "Delete User Favorite By EventId"
**Is your feature request related to a problem? Please describe.**
Current Implementation of user-favorite-events allows deletion of events by using the id given by the server.
**Describe the solution you'd like**
There should be an option to delete the event using eventId rather the user-favorite-event id

[2019-05-01 13:28] aggarwalpulkit596 commented on #5857
@mrsaicharan1 Can you take a look

[2019-05-01 13:29] mrsaicharan1 commented on #5857
Yeah! Will solve this.

On Wed, 1 May 2019 at 6:58 PM, Pulkit Aggarwal <notifications@github.com>
wrote:

[2019-05-02 09:40] aggarwalpulkit596 commented on #5857
@mrsaicharan1 any update on this ?

[2019-05-03 06:34] #5849 closed

[2019-05-03 06:34] #5777 closed

[2019-05-03 06:42] #5842 closed

[2019-05-03 06:42] #5836 closed

[2019-05-03 06:44] #5825 closed

[2019-05-03 08:54] mariobehling opened #5865 "Able to book more discounted or access restricted tickets than allowed"
Even if the organizer only allows 1 Discount Ticket. The discount ticket code still works after 1 ticket was sold. The same applies for access codes.

Expected: Discount Tickets and Access Codes should only work for the number of tickets specified.

E.g.:
* if the user chooses to buy two tickets, only one ticket should be discounted, if only one discount ticket is left.
* if all discount tickets a

[2019-05-04 07:45] mariobehling opened #6956 "Support Signup Emails in Other Languages than English"
If a user is signing up in a specific language e.g. uses Thai, then the signup email should also have Thai on the top of the email and English (as a backup) below.

[2019-05-04 20:18] anhanh11001 opened #5858 "Fail on fetching invoice"
**Describe the bug**
I was trying to fetch the invoice with the URL but I get 500 INTERNAL SERVER ERROR
`GET/v1/events/{event_identifier}/event-invoices{?sort,filter}`
`GET/v1/users/{user_id}/event-invoices{?sort,filter}`
Logs are attached below.

Besides, please clarify the documentation:  the title is `event invoice list of an user` but the description is `Get a single event invoice.`. Same goes

[2019-05-04 20:45] uds5501 opened #5859 "Add Omise credential columns in settings schema and model"
Parent issue- #5823
Scope - Addition of columns in schema and models
Mode, Test and Live Keys

**Additional context**

Working on it

[2019-05-05 15:23] ashwani99 opened #5861 "Incorrect redis package name for RH based linux"
**Describe the bug**

In the local installation [doc](https://github.com/fossasia/open-event-server/blob/development/docs/installation/local.md) the package name of `redis-server` is the old one.

**Expected behavior**

Redis package name should be replaced with `redis`.

**Additional details (please complete the following information):**
 - OS: Fedora 27

**Additional context:**
Working on it

[2019-05-07 08:19] CosmicCoder96 opened #5862 "Add canPayByOmise fields to event schema"
Add fields for the Omise payment gateway in event model and schema

Parent issue #5823

[2019-05-07 08:55] CosmicCoder96 opened #5864 "Update API docs for Omise payment Gateway fields"
New fields have been introduced in the event and settings models. API docs need to be updated to reflect those changes

Parent issue: #5823

[2019-05-07 09:49] kushthedude commented on #5864
@CosmicCoder96 Can i take it ?

[2019-05-07 10:01] CosmicCoder96 commented on #5864
@kushthedude yes please proceed.

[2019-05-07 11:44] #5862 closed

[2019-05-08 10:55] ShridharGoel commented on #5700
Any updates on this?

[2019-05-08 19:49] kushthedude commented on #5859
@uds5501 it should be closed i think

[2019-05-08 19:51] #5859 closed

[2019-05-08 19:57] kushthedude commented on #5805
@shreyanshdwivedi , Implementing the feature on user who have not created any event should also be considered , If a user has bought some amount of Free Tickets for spamming and user deletes his account , It can be a loss to event organiser . So this needs a proper discussion .

[2019-05-08 20:03] kushthedude commented on #5737
Cant reproduce , Any specific steps for it @prateekj117

[2019-05-08 20:07] kushthedude commented on #5653
@iamareebjamal @shreyanshdwivedi I think case sensitive discount code is perfect , Case Insensitivity reduces the security factor , and finally its a promotional code which should be case sensitive . Should close this i suggest

[2019-05-08 20:47] uds5501 opened #5866 "Sponsored events with images not getting copied"
**Describe the bug**

The image resizing task needs to be turned into a celery task to avoid server block

**To Reproduce**
Steps to reproduce the behavior:
1. Try copying an event with Sponsor images
2. See error

**Expected behavior**

The `create_save_resized_image` function shouldn't jam the server

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu,

[2019-05-09 08:09] uds5501 opened #5871 "Deleted Tickets being listed in manage events"
**Describe the bug**

In the manage-events/Tickets column, the tickets which have been deleted are also being listed.

![image](https://user-images.githubusercontent.com/21087061/57437562-aa87d900-725f-11e9-9e70-bb6afa33334e.png)
![image](https://user-images.githubusercontent.com/21087061/57437578-b1aee700-725f-11e9-81ee-d3aded26269a.png)

**Expected behaviour**

The deleted tickets shouldn't be l

[2019-05-09 19:52] uds5501 opened #5868 "Set default value of amount in orders to 0"
**Describe the bug**

In free orders, the amount being set is null , which should be defaulted to 0 in such cases

**To Reproduce**
See : fossasia/open-event-android#1728

**Stacktrace**

[code]

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS] Ubuntu 16.04
 - Python Version [e.g. `3.5`, `3.6`] 3.6

**Additional context**

Working on it

[2019-05-10 09:40] #5868 closed

[2019-05-10 16:50] kushthedude commented on #5872
@mohitm15 Are you on it or should i overtake ?

[2019-05-10 17:35] mohitm15 commented on #5872
On it @kushthedude

[2019-05-10 17:35] kushthedude commented on #5872
Its been 20 days

[2019-05-10 17:38] mohitm15 commented on #5872
Encountered a bug..so gets delayed

[2019-05-10 22:16] #5861 closed

[2019-05-11 14:19] uds5501 commented on #5871
@CosmicCoder96 @iamareebjamal  The problem here is that `get_trashed=True` works only on the source object. For example, in this context, our query object is :
[code]
The get_trashed=true won't work for the included models i.e. tickets.
We may add a hybrid property to the tickets model : is_deleted and add it into the schema and fetch from frontend.
If there is any other approach to tackle this is

[2019-05-11 16:36] iamareebjamal commented on #5871
You have to add nested filter options unfortunately. I wish/think Flask JSON RESTAPI provides a hook to override the default fetching logic of the related resources, but I'm not sure

[2019-05-11 16:38] iamareebjamal commented on #5871
But, this is a serious issue nevertheless. Deleted resources should never be sent out. So, even if it doesn't allow us to override the fetching logic, we need to patch the library

[2019-05-11 16:53] uds5501 commented on #5872
@CosmicCoder96 @iamareebjamal Can we put a beginner friendly issue tag on this? I guess it will be great issue for new comers

[2019-05-11 16:56] kushthedude commented on #5872
👍

[2019-05-11 22:43] uds5501 commented on #5871
Tried reading their code for a while, apparently they only filter attributes and don't look out for relationships

[2019-05-12 04:56] uds5501 commented on #5700
@ShridharGoel I think I found the error. We are getting this error because `id` is not an attribute. can your functionality work with event identifier maybe?

[2019-05-12 05:23] uds5501 commented on #5700
@iamareebjamal I have patched the flask-rest-jsonapi locally , it now returns this request in this form :

### Resuest
[code]
### Response

[code]

If I have to push the updates, how do I do that?

[2019-05-12 19:13] mrsaicharan1 commented on #5857
@aggarwalpulkit596 Sorry for the delay on this. Will get up to speed with this today.

[2019-05-12 19:27] mrsaicharan1 commented on #5858
@anhanh11001 i believe that many of the android requests need this. Will fix this on priority.

[2019-05-12 21:38] shreyanshdwivedi opened #5874 "Add checks on creating/editing discount codes"
**Describe the bug**

Currently their is no server side validation of data sent on creating/editing a discount code.
If we try to enter amount > the ticket price, it is accepted.
If we try to enter % greater than 100, it is accepted

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Manage Events`
2. Click on `Tickets`
3. Scroll down to `Discount Codes` and try creating discount code wit

[2019-05-12 22:08] anhanh11001 commented on #5858
@mrsaicharan1 for the current Android app, I think this issue is not really urgent. But as we have discussed a little bit in the meeting today, if the invoice API also contains a pdf link then it would be nicer, because the mobile app cannot generate the invoice pdf by window printing like frontend.

[2019-05-12 22:17] anhanh11001 opened #5875 "Fail on updating user profile image"
**Describe the bug**
The current flow of updating the user profile image inside Open Event Android is:
1. Upload the new encoded image string to the server by
`POST  /v1/upload/image` (This works fine)
2. After updating the image string, the server will return the image URL to Android application (This works fine)
3. Android application continue to update user profile with
`PATCH  /v1/users/{user_

[2019-05-12 22:48] kushthedude opened #5876 "Implementing Checks on Number of Discounted and Access Code Tickets"
Parent Issue - : #5874

**Additional Information**

Implement a Server Side Check on Number of Discounted `Tickets/Access Tickets` User enters

Working On It

[2019-05-13 04:41] mrsaicharan1 commented on #5865
Will be fixing this as it's related to other open PRs #5786

[2019-05-13 04:41] mrsaicharan1 commented on #5876
Duplicate of #5865. Please close.

[2019-05-13 04:44] mrsaicharan1 commented on #5876
@kushthedude Also, please try to check if this has **already been implemented/an issue has been opened** for this already. There is a method which has been implemented to check this and we need to take a closer look at it. This is the main reason why the tests were failing for #5786

[2019-05-13 07:51] #5876 closed

[2019-05-13 07:54] iamareebjamal commented on #5700
Create a PR on the FOSSASIA fork

[2019-05-13 07:57] iamareebjamal commented on #5871
No, you can filter for relationships

[2019-05-13 08:00] #5731 closed

[2019-05-13 08:39] kushthedude commented on #5876
@mrsaicharan1 didnt look close before opening , will take care

[2019-05-13 10:04] uds5501 commented on #5875
@anhanh11001 @CosmicCoder96 This could be due to the recent POSTGRES bug, please try updating now?

[2019-05-13 11:03] mrsaicharan1 commented on #5857
DELETE methods are automatically integrated when JSON API endpoints are created. What is the query you're having a problem with right now? You can directly delete the event using event_id.

[2019-05-13 11:04] mrsaicharan1 commented on #5857
http://127.0.0.1:5000/#events-event-details-delete

[2019-05-13 12:14] anhanh11001 commented on #5875
@uds5501 yes it works now. Thanks.

Can you also have a look at this endpoint:
`PATCH   /v1/users/{user_id}`

So currently, if I want to clear the user profile image, then I would put avatar-url inside the body of the request to be null. But it seems like the server handles it by ignoring the null avatar-url and keep the previous avatar-url. Can you take a look at it as well?

[2019-05-13 15:44] mrsaicharan1 opened #5878 "Generate Order Invoice properly(akin to Tickets)"
**Describe the bug**
The order invoice which is currently being generated is a screenshot of the page. Instead of this, we need to replace this with a generation of a proper PDF, similar to how the tickets are generated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any event ticket
2. Click on Order Invoice

**Expected behavior**
A page should be printed with proper fields, rather t

[2019-05-13 15:54] mrsaicharan1 commented on #5878
@CosmicCoder96 What are the fields which we exactly need to include?

[2019-05-13 16:06] CosmicCoder96 commented on #5878
As of now, the ones we have _tried_ to incorporate on the frontend. See the current invoice structure, also all the billing info.

[2019-05-13 16:55] uds5501 commented on #5700
@IamAdiSri Did it

[2019-05-13 16:58] uds5501 commented on #5875
@anhanh11001 Sure, I will look into it too

[2019-05-13 17:09] CosmicCoder96 opened #5879 "Tickets endpoint results in too many redirects in production."
[code]

The redirect call seems to be the problem, removing it and manually sending the response seems to fix it.

[2019-05-13 19:12] iamareebjamal commented on #5857
We're talking about deleting favorite, not the event

[2019-05-13 19:53] uds5501 commented on #5795
@mrsaicharan1 Please try it now?

[2019-05-14 00:35] shreyanshdwivedi commented on #5805
@iamareebjamal @mrsaicharan1 @kushthedude  I think it's time that we should finalize what needs to be done for this issue. I'm suggesting that for initials we can allow someone who have not created any event or is not associated with any order to delete his/her account. Your views?

[2019-05-14 06:42] CosmicCoder96 opened #5881 "In order wizard,loading state is not used properly to disable forms and page"
The loading state should be used to disable the various fields while a request is being processed on the backend.

[2019-05-14 08:49] iamareebjamal commented on #5805
Yeah, go ahead

[2019-05-14 14:28] #4613 closed

[2019-05-14 20:54] mariobehling opened #5883 "Email not send for Ticket Orders"
Users don't receive an email with their order and PDF.

Expected: After a user orders a ticket, they should receive a PDF. If the attendee is a different person with a different email, the attendee should also receive an email.

[2019-05-15 04:59] mrsaicharan1 commented on #5879
should we just replace it with a simple error message?

[2019-05-15 07:32] CosmicCoder96 commented on #5883
@uds5501 Taking this one now, as it's a bit high priority for the opntech summit, someone is trying to place an order, thanks!

[2019-05-15 10:26] uds5501 opened #5885 "expire pending tickets after one day"
Parent Issue : fossasia/open-event-frontend#2852

Point to work on : Expiring the pending tickets after 1 day using a scheduled task.

[2019-05-15 15:16] #5866 closed

[2019-05-15 16:44] #5883 closed

[2019-05-15 18:35] CosmicCoder96 opened #5888 "Tickets not attached when tickets confirmation mail is sent"
@mrsaicharan1 The previous refactor for the ticket flow seems to have broken this process. Please consider this a priority issue. The link sent in the mail is broken too. It still points to the old URL.

[2019-05-15 18:37] mrsaicharan1 commented on #5888
Will get up to speed with this.

[2019-05-15 21:45] shreyanshdwivedi opened #5889 "Deleted user cannot signup with the same email"
**Describe the bug**

Once a user gets deleted by admin or if he himself deletes the account, then later he cannot signup with the same email. An error `User already exists.` persists

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Admin > Users`
2. Delete a test user
3. Try to signup again using same email as of test user
4. See error

**Expected behavior**

The user must be allowed

[2019-05-15 21:52] shreyanshdwivedi opened #5890 "Transfer the ownership of your events to another organizer."
**Is your feature request related to a problem? Please describe.**

We are implementing feature to provide ability to a user to delete his/her account. If the user is associated with any event, he/she must be given choice to transfer the events to other organizers associated with the event. (Just like in GitHub)

**Describe the solution you'd like**

Something similar to `Github's Danger Zone`
![d

[2019-05-15 21:57] kushthedude commented on #5889
@shreyanshdwivedi is the user able to login with the following credentials

[2019-05-15 21:58] shreyanshdwivedi commented on #5889
Nope. When you try to login using the old creds, it raises error `Your credentials were incorrect.`

[2019-05-15 23:39] iamareebjamal commented on #5889
Yeah. When deleting a user, append an underscore in their email, and keep appending until it is unique

[2019-05-15 23:40] iamareebjamal commented on #5889
Also create a migration to do the same to previously deleted users

[2019-05-16 03:16] uds5501 commented on #5889
@shreyanshdwivedi let me know if you need any help regarding this?

[2019-05-16 07:37] #5885 closed

[2019-05-16 07:49] CosmicCoder96 commented on #5879
@mrsaicharan1 I was thinking, that you handle a `fileNotFoundError` by then creating the tickets, and recalling the endpoint.
if you just replace this portion with:
[code]
Then there is no need for redirecting in that case.

[2019-05-16 12:15] shreyanshdwivedi commented on #5889
@iamareebjamal you mean when deleting a user on server using this code  -
[code]
I should also update email of the user like this -
[code]
Right?

[2019-05-16 13:29] iamareebjamal commented on #5889
```user.email = user.email + '_' ```

Yes

[2019-05-16 13:54] uds5501 commented on #5890
@shreyanshdwivedi Okay, I will finalise the endpoint over here, and help you with the frontend part.

[2019-05-16 14:20] mrsaicharan1 commented on #5879
I guess you're right. I'll send a PR with the changes.

[2019-05-16 14:52] mrsaicharan1 opened #5891 "Make Order Invoice similar to EventBrite"
**Describe the bug**
Parent Issue:
https://github.com/fossasia/open-event-server/issues/5878

**Expected behavior**
The current order invoice needs to be generated as a proper PDF with the details specified here:
https://github.com/fossasia/open-event-server/pull/5886#issuecomment-492976538

_**While calculating the tax, the percentage and the amount must be shown**_

**Additional context**
Will w

[2019-05-16 16:22] mrsaicharan1 commented on #5888
@CosmicCoder96 I've tested the email and observed that the tickets link which is being sent points to the proper location.
Also, were the tickets as a pdf attached previously?
[code]
I don't see them being attached anywhere.

[2019-05-16 17:00] #5878 closed

[2019-05-16 17:04] iamareebjamal opened #5893 "Assign a version to the server and do fortnighly release"
There are several issues with current release process:

- [x] There is no concrete app version which users might use
- [x] `master` is severely outdated and buggy, `development` is much more stable
- [x] Building of docker images is done on the live server instead of using prebuilt images
- [x] To use a definite version of docker image, we need to tag releases with versions and just change the ver

[2019-05-16 18:47] CosmicCoder96 commented on #5888
@mrsaicharan1 Okay I got confused by the  mail body. For `TICKET_PURCHASED` its:
[code]

There is no mention of tickets at all here, just invoice. And even though it says invoice it's creating a hyperlink for the tickets for the case where holder is the purchaser. Seems confusing, also either way we need to attach the tickets in the mail. Now that the end point is protected, clicking on the link w

[2019-05-16 22:31] shreyanshdwivedi commented on #5889
@uds5501 @iamareebjamal I've a query regarding this. Suppose I updated the email of user by apapending `_` to his/her email when admin deleted his/her account.
Now comes the real problem -
 - When admin views his/her deleted users list, the email will be the new appended email. However when I add this code block -
[code]
the deleted users list produces this error `TypeError: list indices must be i

[2019-05-16 22:34] kushthedude commented on #5889
@shreyanshdwivedk I was thinking about the same issue , as the deleted
users still have their data stored stored in database which can be restored
by superadmin , we can have two approaches here -:
1.) Erase the user data from database .
2.) Do something like facebook , if a deleted user sign in again , restore
his data except events and orders .
Your views @uds5501 , @iamareebjamal

On Fri, 17 Ma

[2019-05-16 22:36] kushthedude commented on #5889
The error here created is due to the email now created after is not a form of unicode email which has been recently solved by @CosmicCoder96 in frontend

[2019-05-16 22:57] uds5501 commented on #5889
@shreyanshdwivedi Or we could simply not use SoftDeletionSchema for this? But that would finish the restoration feature.

I like @kushthedude idea. We can see the last login / deleted-at timestamp and simply login the same user all over again if it's less than 15 days Otherwise, reallocate the same user entry to the new user except, with the user centric data wiped out and a password reset link be

[2019-05-17 06:18] CosmicCoder96 opened #5910 "Transfer legacy.eventyay.com to hetzner"
Shift it from google cloud to hetzner

[2019-05-17 06:20] CosmicCoder96 opened #5911 "Transfer google cloude storage static data of legacy events to hetzner storage"
All the legacy events still use google cloud storage.

[2019-05-17 07:38] iamareebjamal commented on #5889
I don't understand what's so complicated here that this much of analysis is required. We want the email field to be unique, none of the above solutions work with that. How can you have a unique field with duplicate emails? Also, restoration will and should not work in case someone has created a new account with that email.

As it should be

No

his data except events and orders .

We don't want th

[2019-05-17 07:58] uds5501 commented on #5889
@iamareebjamal @shreyanshdwivedi Apparently, adding an `_` at the end won't be of much help. How about instead of
`xyz@email.com` to `xyz@email.com_`, we do `xyz_@email.com`

The former one gives a unicode violation and hence this page :
![image](https://user-images.githubusercontent.com/21087061/57912314-a71bcf80-78a7-11e9-92ed-c617a4fb53d1.png)

[2019-05-17 10:25] shreyanshdwivedi commented on #5889
uds5501 exactly. Even I mentioned it earlier. Besides the error u mentioned, the list page is also breaking.

xyz@email.com to xyz@email.com_, we do xyz_@email.com

iamareebjamal your thoughts?

[2019-05-17 10:41] CosmicCoder96 commented on #5889
@uds5501 it is more likely a violation of the field of type ‘email’. It
might not be a valid email address according to marshmallow validations
defined in user schema. Not a Unicode issue. Xyz_@email.com if allowed
sounds good.

On Fri, 17 May 2019 at 6:25 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-05-17 10:43] uds5501 commented on #5889
@CosmicCoder96 I have checked, the XYz_ works fine and yes, it's a schema validation issue.

[2019-05-17 10:49] mariobehling opened #5913 "Ticket Sales are coming in with invalid date"
The ticket sales for the Open Tech Summit Europe are showing "invalid date".

![Screenshot from 2019-05-17 12-49-01](https://user-images.githubusercontent.com/1583873/57923308-3b833380-78a2-11e9-9e8f-aa687539a359.png)

[2019-05-17 13:02] shreyanshdwivedi commented on #5889
It can be worked only after https://github.com/fossasia/open-event-server/pull/5882 gets merged.

[2019-05-17 13:23] iamareebjamal commented on #5889
`xyz_@email.com` is a problem. Now we taking up a new email which may belong to other person

Try `xyz@email.com.deleted`

[2019-05-17 14:04] uds5501 commented on #5889
@iamareebjamal `.deleted` works
@shreyanshdwivedi apply these changes in the migration?

[2019-05-17 14:06] shreyanshdwivedi commented on #5889
Yeah, once the mentioned PR gets merged, I'll pish the changes alongwith a migration file to update the email of deleted users.

[2019-05-17 14:23] #5822 closed

[2019-05-17 15:39] #5828 closed

[2019-05-17 15:44] iamareebjamal opened #5912 "Delete handling logic problems"
`data.get('deleted_at') != user.deleted_at` will be true when deleting object and also when restoring object.

Does everyone agree?

We need to change this

[2019-05-17 16:37] CosmicCoder96 opened #5915 "Heroku build failing. Piplock file is out of date."
@iamareebjamal can the recent dependency updates be the reason for this?

[code]
Heroku logs ^

[2019-05-17 16:38] #5913 closed

[2019-05-17 16:43] iamareebjamal commented on #5915
On it already

[2019-05-17 16:47] iamareebjamal commented on #5915
@uds5501 You can also try to pull changes and sync the lock file. As it takes hours to lock. Let's see who gets it first. Hopefully, it'll complete before I sleep

[2019-05-17 17:19] iamareebjamal commented on #5915
I win. Had to use Compute Server though

[2019-05-17 17:20] uds5501 commented on #5915
@iamareebjamal and here I am, still figuring out the correct hash for resolving the conflict

[2019-05-17 17:31] #5915 closed

[2019-05-18 05:52] prateekj117 commented on #5653
@shreyanshdwivedi Would be working on this issue.

[2019-05-18 05:58] mrsaicharan1 opened #5923 "Credentials Exposed to non-admin users"
**Describe the bug**
Sensitive data is currently being exposed to non-admin users which is a major vulnerability
issue and needs to be fixed on priority.
Postgres configs, admin credentials, configs on the production server etc are made visible to non-admin users.

**Expected behavior**
This should only be accessible by the admin

**Additional context**
Working on this.

[2019-05-18 05:59] kushthedude commented on #5653
Why do we even need insensitivity in discount codes? @iamareebjamal @shreyanshdwivedi

[2019-05-18 06:01] iamareebjamal commented on #5653
There are a lot of reasons. Mainly because we don't want someone to create codes like `summit19` and `suMMit19` and `SUMMit19` and `SUMMIT19` and have them behave differently

[2019-05-18 06:02] #5805 closed

[2019-05-18 06:03] kushthedude commented on #5653
Code Sensitivity always provides an additional security factor on the codes . And as it is related to payments , Sensitivity should be given priority .

[2019-05-18 06:09] iamareebjamal commented on #5653
It provides annoyance and no security. Tomorrow someone will complain he/she got 50% off when it was written 75% off just because he didn't factor in case sensitivity. Or the discount code is not working altogether. Please back your claim with proof how it provides security?

[2019-05-18 06:10] prateekj117 commented on #5653
@iamareebjamal May I work on this?

[2019-05-18 08:10] iamareebjamal commented on #5653
Go ahead

[2019-05-18 08:16] #5879 closed

[2019-05-18 10:05] #4525 closed

[2019-05-18 10:05] #4632 closed

[2019-05-18 10:05] #4633 closed

[2019-05-18 11:57] iamareebjamal opened #5925 "Move Pipfile and Pipfile.lock"
We are using requirements.txt in Docker and other areas. Maintaining 2 dependency list is not feasible. We would remove requirements.txt but as of now pipenv is painfully slow and there is no provision of maintaining dev/testing dependencies(in my knowledge).

We need automatic dependency upgrades tool but we can't test pipenv dependencies as travis build uses requirements, so upgrading them break

[2019-05-18 13:25] CosmicCoder96 commented on #5923
@mrsaicharan1 How? can you add more details

[2019-05-18 13:29] iamareebjamal commented on #5923
@CosmicCoder96 I discussed with him on gitter. Sending same info to you. Not a good idea sharing this in publuc

[2019-05-18 14:36] #5888 closed

[2019-05-19 10:33] aggarwalpulkit596 commented on #5857
Any Update @mrsaicharan1  on this

[2019-05-19 10:34] aggarwalpulkit596 commented on #5857
This is a major roadblock for the app we need this ASAP @iamareebjamal correct?

[2019-05-19 10:37] mrsaicharan1 commented on #5857
There are some priority issues which are blocking the system from
functioning properly right now. I've been involved in the discussions and
the necessary things required for them.
Will try to do this as soon as I'm finished with those. You can keep a tab
on the issue tracker and the gitter channels as to what we've been talking
about :) .However, in the meantime, anyone else is welcome to take thi

[2019-05-19 10:39] iamareebjamal commented on #5857
@prateekj117 Can you take this up?

[2019-05-19 10:42] prateekj117 commented on #5857
@iamareebjamal Sure. On it. 👍

[2019-05-19 13:08] #5925 closed

[2019-05-19 13:12] kushthedude opened #5929 "Implement Checks and Improvise the way to change the Date/Time for a Live Event"
Currently , There are no checks or a proper way to change the `Event's Time And Date` .
Organiser can change the `Date and Time ` of any of the `Live Events` created .
I propose :-

* Provide some checks for organiser , restricting him to change `Date and Time` of `Live Event`.
* Send `Notification` to attendee and buyers regarding the changes done by organiser.

[2019-05-19 13:12] kushthedude commented on #5929
@iamareebjamal Can we have some labels for the issue ?

[2019-05-19 21:57] shreyanshdwivedi opened #5930 "Implement locking a session feature by organizer"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

This feature will lock a session and associated speaker which will prevent her/him from further editing a session. It'll involve adding a new attribute `isLocked` to session which will be initially set to false. And handling a PATCH request to update it alonwith new dedicated error messages

*

[2019-05-20 12:36] mariobehling opened #5932 "Call for Speakers Not working - Fields description disappeared in Wizard and Public Form"
Call for Speakers Not working - Fields description disappeared in Wizard and Public Form

![Screenshot from 2019-05-20 14-35-19](https://user-images.githubusercontent.com/1583873/58021960-ab94f200-7b0c-11e9-9780-dccfd87d343a.png)

[2019-05-20 16:12] uds5501 opened #5933 "Add new field for attendee form activation"
Server issue of  fossasia/open-event-frontend#2963
- Add new model field for an event, "is_ticket_form_enabled"

[2019-05-20 18:00] prateekj117 commented on #5857
So one solution here is to pass body in the Request, but @iamareebjamal told that Delete method doesn't work with body. So one solution is to make a new endpoint. Or is there any other solution? @uds5501 @mrsaicharan1 @shreyanshdwivedi

[2019-05-20 19:02] #5932 closed

[2019-05-20 20:41] kushthedude commented on #5675
@uds5501 This can be closed , I cant reproduce it now

[2019-05-21 05:16] #5675 closed

[2019-05-21 11:19] mrsaicharan1 commented on #5857
You'll need to make a new API endpoint using flask_reset_json_api to create
and update this. The delete function will be integrated automatically.

On Mon, 20 May 2019 at 1:00 PM, Prateek Jain <notifications@github.com>
wrote:

[2019-05-21 14:24] prateekj117 commented on #5875
@uds5501 Still on it? Would like to work on this.

[2019-05-21 14:25] prateekj117 commented on #5562
@iamareebjamal Can I take this up?

[2019-05-21 14:29] prateekj117 commented on #5875
@uds5501 Thanks for the info. I will see how clear functionality is implemented in other parts of the application, like clearly Event Image, etc.

[2019-05-21 15:09] iamareebjamal commented on #5562
Not a priority right now

[2019-05-21 15:14] prateekj117 opened #5943 "Timestamp saved in Database is not correct"
**Describe the bug**
Timestamp saved in `created_at` column of users field is not correct.

![Screenshot from 2019-05-21 20-40-02](https://user-images.githubusercontent.com/31065687/58108228-13306780-7c09-11e9-8494-7f8cfffbfaed.png)

Here, all five users were created at different times.

**Expected behavior**
Timestamp should be correct.

**Additional context**
Working on it.

[2019-05-21 15:39] iamareebjamal commented on #5857
There'll be no need of create as it won't be different from the previous endpoint and delete function won't be integrated automatically since you're not deleting the resource by its ID. you are deleting it by event's ID

[2019-05-21 15:42] prateekj117 commented on #5857
@iamareebjamal Without creating a new endpoint, how would we know if the client passed an id or an event_id to delete the favorite.

[2019-05-21 15:45] iamareebjamal commented on #5857
You can create a new endpoint, but there'll be no create or update and delete will not be integrated automatically. You'll have to write custom delete function

[2019-05-21 15:56] prateekj117 commented on #5857
@iamareebjamal So a new endpoint with a custom delete function, right?

[2019-05-21 16:09] iamareebjamal commented on #5857
No

[2019-05-21 16:16] prateekj117 commented on #5943
@iamareebjamal I noticed that same time saves in case of subsequent requests. Any idea why? Though the package used for saving default time shows the correct time when printing the value in some other file in the same request.

[2019-05-21 16:37] iamareebjamal commented on #5943
Time is saved in UTC. What is wrong?

[2019-05-21 16:38] prateekj117 commented on #5943
It saves the same time even when they are created at different times.

[2019-05-21 16:40] prateekj117 opened #5945 "New Endpoint for Most used Event-Locations"
Server issue of [fossasia/open-event-frontend#2970](https://github.com/fossasia/open-event-frontend/issues/2970)

[2019-05-21 16:49] prateekj117 commented on #5945
@iamareebjamal I see the event-locations table has some already saved Locations. So should I instead use the locations from the events table itself? As I think event-locations table is not being updated when creating a new event, or am I wrong?

[2019-05-21 17:11] iamareebjamal commented on #5943
How much separation was there between the requests

[2019-05-21 17:15] iamareebjamal commented on #5945
Only location name would be saved in the event table AFAIK. What's stored in event-location table?

[2019-05-21 17:20] prateekj117 commented on #5943
@iamareebjamal Around 10-15 seconds.

[2019-05-21 17:22] prateekj117 commented on #5945
@iamareebjamal Some country names, which are hard-coded I guess.

[2019-05-21 18:35] iamareebjamal commented on #5945
Then use the locations in event table

[2019-05-21 18:35] iamareebjamal commented on #5943
Debug why

[2019-05-21 18:37] prateekj117 commented on #5943
@iamareebjamal On it.

[2019-05-21 19:43] mrsaicharan1 commented on #5858
@anhanh11001 I've created an endpoint for order invoice serving. Will open an issue for docs update pertaining to the invoice generation.

[2019-05-21 20:00] anhanh11001 commented on #5858
@mrsaicharan1 that's great. Thank you, so this issue can be closed now right?

[2019-05-22 15:13] #5943 closed

[2019-05-23 03:10] shreyanshdwivedi opened #5950 "Add a new field rating in session schema"
Parent issue - https://github.com/fossasia/open-event-frontend/issues/2959

Add a new field `rating` in `session schema`.

[2019-05-23 03:29] shreyanshdwivedi commented on #5950
@iamareebjamal @CosmicCoder96 @mrsaicharan1 I wanted to discuss few things before implementing it.
So, do we need to implement rating a session by admin/organizers via `feedback` schema or just update the rating on submission without having any feedback object?
If we are planning on saving a feedback object, we'll have to add a `average_rating` field rather than `rating` in sessions schema.

[2019-05-23 04:59] iamareebjamal commented on #5950
Why the field `average_rating`? `average_rating` can be calculated from the saved objects in DB

[2019-05-23 05:00] #5923 closed

[2019-05-23 05:02] shreyanshdwivedi commented on #5950
I found a similar implementation for event schema in which we are having an `average_rating` field which will be indeed calculated calculated via saved objects.
I think the whole idea was to reduce computation at the time of loading bcoz if we'll calculate rating at the time of loading, it'll be a overhead calculation which can be reduced by using an averag_rating field.

[2019-05-23 05:03] iamareebjamal commented on #5950
When is `average_rating` calculated? Is it in schema only or in model as well. If it is in model then it will almost certainly be inconsistent

[2019-05-23 05:12] shreyanshdwivedi commented on #5950
It's only in schema @iamareebjamal

https://github.com/fossasia/open-event-server/blob/e261d23d802cedd180424551c01c2ec8fd6c33e1/app/api/schema/events.py#L123

[2019-05-25 07:30] QuietDilletante commented on #5872
Hi there, I have experience with Python, but have never made a PR, or worked with OS. Could I give this a try? I might have a few stupid questions, but it seems like something I could manage.

[2019-05-25 07:32] uds5501 commented on #5872
@QuietDilletante sure, go ahead!

[2019-05-25 07:32] QuietDilletante commented on #5872
Great, I'll let you know if I have issues.

[2019-05-25 18:36] mrsaicharan1 opened #5955 "Error while editing event"
**Describe the bug**
While editing an event, an unusual error pops up:
`EventCopyright 1:Not Found`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'One of your created events'
2. Edit any attribute
3. See error

**Expected behavior**
The edited changes must be saved.

**Stacktrace**

`INFO:werkzeug:127.0.0.1 - - [25/May/2019 13:32:43] "GET /v1/events/1/event-copyright HTTP/1.1" 404 -`

[2019-05-25 18:39] uds5501 opened #5956 "No local pdf ticket/invoice being generated for PLACED orders"
**Describe the bug**

There is no local pdf being generated for *placed* orders and hence download ticket/invoice throws error on frontend.

**Expected behavior**

The file should be generated on local

**Stacktrace**

When trying to download the file :

[code]

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS] Ubuntu
 - Python Version [e.g. `3

[2019-05-25 18:41] shreyanshdwivedi commented on #5956
@uds5501 this is intentional. It doesn't make sense to create invoice/ticket till it's completed.
Currently we are only creating tickets for completed/placed orders

[2019-05-25 18:42] mrsaicharan1 commented on #5956
Yeah, I guess that's right. Pending orders are the orders which are in the
phase where user enter details. It can't be geenrated without details

On Sat, 25 May 2019 at 1:41 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-05-25 18:43] uds5501 commented on #5956
@mrsaicharan1 @shreyanshdwivedi in that case the option to download and print invoices should be removed , from the pending page, right?

[2019-05-25 19:23] uds5501 commented on #5837
@iamareebjamal Looking into it

[2019-05-25 19:24] uds5501 commented on #5837
@iamareebjamal We are currently using `raven[flask]` to include sentry sdk, shall I update that dependency itself?

[2019-05-25 21:23] iamareebjamal commented on #5837
Yes

[2019-05-25 21:25] #5956 closed

[2019-05-26 05:16] prateekj117 commented on #5498
@uds5501 Will be doing both.

[2019-05-26 15:34] mrsaicharan1 opened #5958 "FallBack to SMTP when SendGrid Fails/Exceeds Quota"
**Describe the feature request**
We need a feature in the system where the SMTP protocol must be used when SendGrid's quota exceeds/ fails to work.
This is essential as whenever someone orders a ticket, they expect the tickets/invoice to reach them via mail. A backup service like this would be useful.

**Additional context**
Working on it.

[2019-05-26 16:25] mrsaicharan1 opened #5959 "Integration of AliPay Payment Gateway"
**Describe the feature**
Integration of _AliPay_ to extend the payment gateway options in China. Stripe Sources will be used for the integration of this.
This will be followed by a frontend PR pertaining to AliPay Enabling, Keys, payment buttons etc.
This is a parent issue which will be followed by sub tasks :

1: Create a Source object
2: Have the customer complete authorization
3: Charge the Sou

[2019-05-26 16:31] shreyanshdwivedi commented on #5959
@mrsaicharan1 if you need any help on front-end PR, I can help you out. Please let me know

[2019-05-26 16:34] mrsaicharan1 commented on #5959
@shreyanshdwivedi Yeah, will notify you as soon as I'm done with the main workflow of the backend and I have any doubts with the frontend!

[2019-05-26 16:36] prateekj117 commented on #5959
@mrsaicharan1 I can help with server sub-tasks. Let me know what you have in mind and what things you would be working on.

[2019-05-26 18:49] iamareebjamal commented on #5958
A simpler version should be implemented first. An email sender object that provides an interface like `send_email` so that we can just use it. And internally it checks the configuration and uses sendgrid or SMTP according to config present. Then it can be enhanced to add the fallback usage

[2019-05-26 20:59] kushthedude commented on #5959
@mrsaicharan1 no need for this , Omise provides alipay , I and @uds5501 had a discussion about the various strategies omise provided and alipay is one of them and is working fine with omise

[2019-05-26 21:02] mrsaicharan1 commented on #5959
Stripe has already been integrated and this works well with stripe sources.
No need of integrating with Omise.

On Sun, 26 May 2019 at 3:59 PM, Kush Trivedi <notifications@github.com>
wrote:

[2019-05-26 21:03] kushthedude commented on #5959
You sure , there are some local wallets supported by omise which were our main meed for open tech summit thailand ?

[2019-05-26 21:06] mrsaicharan1 commented on #5959
Omise is the most popular payment gateway in Thailand. On the other hand,
AliPay can be integrated either ways but this was the idea proposed in my
GSoC proposal. This works well for Sofort Pay as well. This is the main
reason why I’m using Stripe sources. Please check the documentation
pertaining to this.

On Sun, 26 May 2019 at 4:03 PM, Kush Trivedi <notifications@github.com>
wrote:

[2019-05-26 21:08] mrsaicharan1 commented on #5959
Does Omise work for Sofort Pay? @kushthedude

On Sun, 26 May 2019 at 4:06 PM, saicharan reddy <saicharan.reddy1@gmail.com>
wrote:

[2019-05-26 21:12] kushthedude commented on #5959
AFAIK safart is widely used in western states , omise might not be
supporting safart as of now

On Mon, 27 May 2019 at 2:38 AM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-05-26 21:16] mrsaicharan1 commented on #5959
Yeah, so that’s the clear justification i’m trying to point you towards
here. Stripe supports a huge basket of gateways through sources and I plan
to integrate these two gateways, as soon as I’m done testing Omise with
@uds5501

On Sun, 26 May 2019 at 4:12 PM, Kush Trivedi <notifications@github.com>
wrote:

[2019-05-27 00:09] #5930 closed

[2019-05-27 01:40] shreyanshdwivedi commented on #5950
@iamareebjamal I dig deeper into this and found out that the event model and session model both are associated with a property `average_rating` something like this -
[code]
Also, both event and session schema has field `average_rating` too. Like you said earlier that if this field is present in both schema and models, then it'll lead to delay in fetching results. So, is this fine or do we need to

[2019-05-27 04:23] liveHarshit opened #5961 "Update PayPal integration and make it agnostic"
**Describe the bug**
Currently, PayPal is configured that it is too frontend/ember data-centric, and not agnostic which makes it difficult for Android apps to do stuff, as there is no standard JSONAPI library and we have to do filtering and resource querying by hand.
Docs - https://developer.paypal.com/docs/archive/checkout/how-to/server-integration

[2019-05-27 11:53] mrsaicharan1 commented on #5958
Oh, okay ! @iamareebjamal , just to clarify, we have two separate tasks written out, `send_email_task` for Sendgrid and ` send_mail_via_smtp_task` for SMTP. Do you mean that we just need one method which checks for the internal config and sends it according to the enabled protocol?

[2019-05-27 12:23] iamareebjamal commented on #5958
Correct

[2019-05-27 12:45] iamareebjamal commented on #5950
No, it's not a field in model, it's a method. This is fine. Implement it in same way

[2019-05-27 18:59] kushthedude commented on #5961
@liveHarshit Are you interested working on it  or should i try ?

[2019-05-28 02:46] liveHarshit commented on #5961
You can try, I'm not familiar witb the server implementation.

[2019-05-28 03:18] uds5501 commented on #5837
@iamareebjamal I was looking at raven documentation and it says that it's being phased out for `sentry-python` . Should we update our repository to sentry-python implementation or just use the legacy `raven` one?

[2019-05-28 05:58] CosmicCoder96 opened #5962 "App tries to use google or amazon storage buckets even though local storage is selected in Admin dashboard."
Could be a docker issue if it works locally, the point is, irrespective of this error being thrown server still returns a garbage corrupt PDF, so it looks like everything is fine, on the frontend, but the tickets don't actually open.

[code]

[2019-05-28 06:02] shreyanshdwivedi commented on #5962
@CosmicCoder96 this PR was merged 2 days back which fixes the generation of tickets for placed orders too.
https://github.com/fossasia/open-event-server/pull/5957
Idk if this is merged to production too. It might be the reason to this error as we were getting it before this PR.

[2019-05-28 06:09] CosmicCoder96 commented on #5962
@shreyanshdwivedi Everything so far is merged  into production.

[2019-05-28 06:44] CosmicCoder96 commented on #5962
Had to comment out storage helpers for gs bucket and others for it to work, seems like a bug with settings. Will open an issue when I figure out what exactly is breaking.

[2019-05-28 07:21] iamareebjamal commented on #5837
That's the point of the issue

[2019-05-28 13:38] kokoye2007 opened #5963 "Hour after Minus - Hour is 00 again"
**Describe the bug**
HH:MM is not working

**To Reproduce**
in event time
1. HH choose
2. MM choose
3. HH is 00 again
4. See error

[2019-05-28 16:17] jancborchardt opened #5964 "Error when trying to pay for event on eventyay.com"
**Describe the bug**
Trying to pay for an event, clicking the button does nothing:
![eventyay payment error](https://user-images.githubusercontent.com/925062/58494101-9ce5b500-8174-11e9-8bcd-4e441c6efbb1.png)

**To Reproduce**
Steps to reproduce the behavior:
Not sure if this is reproducible, I can’t really check paying for an event. :)

**Expected behavior**
I get some means to pay after clicking

[2019-05-28 21:25] uds5501 commented on #5962
@CosmicCoder96 @shreyanshdwivedi This could be for the old tickets, actually my PR ensured that the new tickets are being generated, but they didn't handle the case of old non-generated tickets and invoices

[2019-05-28 21:30] uds5501 commented on #5964
@CosmicCoder96 suggested priority : Urgent bug

[2019-05-28 23:00] kushthedude commented on #5963
@iamareebjamal the following issue is of FE and already the work has been started on it , It can be closed .

[2019-05-29 09:18] iamareebjamal commented on #5963
Please mention the issue number

[2019-05-29 13:24] ShridharGoel opened #5968 "Organizer should be able to download tickets of attendees"
Organizers should have access to download tickets of attendees of their own events.

[2019-05-29 13:25] mrsaicharan1 commented on #5968
@ShridharGoel The recent ticketing refactor made it point to a different link. Will fix this.

[2019-05-29 14:35] #5837 closed

[2019-05-29 14:49] liveHarshit opened #5969 "Email verification link is not working"
![image](https://user-images.githubusercontent.com/27783786/58566870-fd492500-824e-11e9-963e-3ccb84f48b26.png)

[2019-05-29 14:57] mrsaicharan1 commented on #5969
@liveHarshit Can you point me to the exact link which is being redirected to?

[2019-05-29 15:00] mrsaicharan1 commented on #5968
@ShridharGoel This issue is not present locally.
<img width="957" alt="Screenshot 2019-05-29 at 10 00 41 AM" src="https://user-images.githubusercontent.com/25197147/58567785-98fb7680-81f8-11e9-9c26-ce5450c241b7.png">

[2019-05-29 15:15] liveHarshit commented on #5969
@mrsaicharan1 Email is -
[code]

[2019-05-29 16:03] ShridharGoel commented on #5968
Just checked, the URL for new attendees is having `generated` instead of `static/media` but still the link is not working. Did you try to open the link?

[2019-05-29 16:06] mrsaicharan1 commented on #5968
Will check

[2019-05-29 16:16] mrsaicharan1 commented on #5968
@ShridharGoel You can't access the tickets directly. The request going to that link must have certain authorisation headers to access it. This was a security refactor on the server to prevent access to the unauthorized personnel.

[2019-05-29 16:18] ShridharGoel commented on #5968
@mrsaicharan1 Yes I'm providing JWT authorization token in the Headers.

[2019-05-29 16:19] ShridharGoel commented on #5968
The link is being fetched properly. It's just that it's not opening.

[2019-05-29 16:21] mrsaicharan1 commented on #5968
Yeah, I go that. But the mechanism the server is in such a way that a `current_user` proxy must be present. What is the exact error ?

[2019-05-29 16:24] ShridharGoel commented on #5968
@mrsaicharan1 This is displayed:

![Error screenshot](https://user-images.githubusercontent.com/35566748/58573866-4653a600-825c-11e9-9fff-85873ebe388c.png)

[2019-05-29 16:31] mrsaicharan1 commented on #5968
[code]

[2019-05-29 16:33] mrsaicharan1 commented on #5968
@ShridharGoel So basically, either the order_identifier which you are passing is wrong or the order isn't going through and isn't saved on the db.

[2019-05-29 17:00] iamareebjamal commented on #5968
@ShridharGoel Please post the URL here

[2019-05-29 17:23] ShridharGoel commented on #5968
https://open-event-api-dev.herokuapp.com/generated/tickets/attendees/tickets/pdf/3697e440-c43e-405b-8af3-d16de4386cb0/cjN6Q2pwNS/3697e440-c43e-405b-8af3-d16de4386cb0.pdf

[2019-05-29 17:25] ShridharGoel commented on #5968
Please send link of that PDF

[2019-05-29 17:44] iamareebjamal commented on #5968
@mrsaicharan1 Please check if you can dowwnload the PDF

[2019-05-29 17:48] mrsaicharan1 commented on #5968
I can download from the front-end

On Wed, 29 May 2019 at 12:44 PM, Areeb Jamal <notifications@github.com>
wrote:

[2019-05-29 17:51] iamareebjamal commented on #5968
@mrsaicharan1 I'm talking about the link shared here

[2019-05-29 18:12] mrsaicharan1 commented on #5968
It's the same link I believe

On Wed, 29 May 2019 at 12:25 PM, Shridhar Goel <notifications@github.com>
wrote:

[2019-05-29 18:26] mrsaicharan1 commented on #5968
NO, @iamareebjamal .

[2019-05-29 18:29] ShridharGoel commented on #5968
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTkxNTgyMTQsImlhdCI6MTU1OTA3MTgxNCwibmJmIjoxNTU5MDcxODE0LCJpZGVudGl0eSI6NH0.ekLj24ie4a_RDPCVurL1dpsCSpjRQJzbtoGTYgsbt_U

[2019-05-29 18:33] mrsaicharan1 commented on #5968
Yeah, 404 not found.

[2019-05-29 18:35] iamareebjamal commented on #5968
So this issue is valid then

[2019-05-29 18:35] ShridharGoel commented on #5968
How is it related to the JWT token? Shouldn't the link to download be working anyways?

[2019-05-29 18:39] iamareebjamal commented on #5968
No, I shouldn't be able to download your ticket

[2019-05-29 18:40] mrsaicharan1 commented on #5968
This ^ @ShridharGoel

[2019-05-29 18:49] ShridharGoel commented on #5968
But organizers can download the tickets of the attendees of their event, right?

[2019-05-29 18:55] mrsaicharan1 commented on #5968
I think a new endpoint is required for that where they can download individual/all tickets.

[2019-05-29 19:24] ShridharGoel commented on #5968
Actually, the links of the PDFs of attendees are being provided to the organizer in the Orga App. Due to the recent security changes, this functionality might have changed because of which the links can no longer be accessed by the organizers. Although, in the present case, I'm not able to download my own tickets too using the Attendee App.

[2019-05-29 19:36] ShridharGoel opened #5970 "Unverified accounts can place orders"
**Describe the bug**
Unverified accounts can place orders.

**Expected behavior**
Only verified accounts should be allowed to place orders.

[2019-05-29 20:20] shreyanshdwivedi commented on #5970
@ShridharGoel we are even allowing guest users to place the order who can just enter their email and place an order. So why should only be verified users allowed to place an order?

[2019-05-29 22:31] kushthedude commented on #5970
@ShridharGoel Please see #5760 , A discussion is going for the order flow , So the following can be close

[2019-05-29 22:32] kushthedude commented on #5963
See https://github.com/fossasia/open-event-frontend/issues/2077 and https://github.com/fossasia/open-event-frontend/issues/2366

[2019-05-29 22:33] kushthedude commented on #5964
@iamareebjamal The following is solved , through https://github.com/fossasia/open-event-frontend/pull/3034/files

[2019-05-29 22:36] kushthedude commented on #5969
@liveHarshit The following deployment you are using is of `gh-Pages` , Please check on master or `eventyay`

[2019-05-29 22:52] kushthedude commented on #5955
@mrsaicharan1 I was able to edit `Existing Events` ,Please check it once again

[2019-05-30 03:35] prateekj117 opened #5973 "'werkzeug.contrib.profiler' has moved to 'werkzeug.middleware.profiler'"
**Describe the bug**
This import has been deprecated as of version 0.15 and will be removed in version 1.0.

**Additional context**
Working on it.

[2019-05-30 06:31] #5973 closed

[2019-05-30 06:35] iamareebjamal commented on #5969
@kushthedude The link he's using is correct because the backend he's using is open-event-dev

[2019-05-30 06:40] liveHarshit commented on #5969
Yes, I want to create test events so I use the debug build. But my account is not verified.
@iamareebjamal Should we use the same in attendee app that user cannot buy tickets without verifying the email?

[2019-05-30 06:45] liveHarshit commented on #5969
Fund discussion about it. https://github.com/fossasia/open-event-server/issues/5760 :+1:

[2019-05-30 06:48] ShridharGoel commented on #5970
Okay, if that's intentional then it's fine.

But in a past issue this has been addressed as a 'huge security flaw'
https://github.com/fossasia/open-event-frontend/issues/1616

[2019-05-30 06:54] #5970 closed

[2019-05-30 06:59] iamareebjamal commented on #5968
@ShridharGoel That's because attendee app has not implemented the security changes.

@mrsaicharan1 No need for new endpoint, just change the added check that allows organizer to download the ticket as well

[2019-05-30 07:01] iamareebjamal commented on #5963
Duplicate of above issues. Hence, closing

[2019-05-30 07:03] #5964 closed

[2019-05-30 17:31] ShridharGoel opened #5976 "Error in link provided in new session proposal email"
**Describe the bug**
The link contains an extra `/` after `https://fossasia.github.io/open-event-frontend/`

![New session proposal wrong link](https://user-images.githubusercontent.com/35566748/58651381-c8ac9a80-832e-11e9-98ba-6fe533ee5950.png)

[2019-05-31 04:31] uds5501 commented on #5969
@liveHarshit @iamareebjamal   This issue will be fixed in fossasia/open-event-frontend#3041

[2019-05-31 05:16] uds5501 commented on #5864
@CosmicCoder96 Taking this one due to inactivity

[2019-05-31 05:35] iamareebjamal commented on #5969
@uds5501 This issue is unrelated to fossasia/open-event-frontend#3041

A user should nevertheless be able to verify his/her account

[2019-05-31 05:44] kushthedude opened #5978 "Wrong Twitter URL Redirection"
#### Description :-

* Twitter URL added for `Speaker` is getting an additional `EventYay` attribute which is Useless .

* Due to this `Speaker Twitter URL` is getting redirected to wrong URL .

#### To Check :-

* Go To [This Event](https://eventyay.com/e/433e7b16/speakers)
* Click On Speaker.
* Check the `Twitter Redirected URL`.

*Example* : `https://eventyay.com/e/433e7b16/twitter.com/kushthed

[2019-05-31 07:20] uds5501 commented on #5978
@kushthedude Will have a look into it

[2019-05-31 07:59] anhanh11001 opened #5980 "No token error on Stripe"
**Describe the bug**
On open-event-android, stripe payment is not successful due to fail on No such token error.

**Logs**
[code]

Context: https://github.com/fossasia/open-event-android/pull/1863

[2019-05-31 08:25] kushthedude commented on #5978
@uds5501 Thanks for checking , IDK what was the error before , Just changed the URL and everything seemed working fine .

[2019-05-31 08:25] #5978 closed

[2019-06-01 14:20] #5864 closed

[2019-06-02 04:36] liveHarshit commented on #4526
Is anyone working on it?

[2019-06-02 04:39] shreyanshdwivedi commented on #4526
@liveHarshit currently no one is working on it. As @iamareebjamal mentioned, it needs OAuth for implementation, which itself isn't implemented. So it is skipped for now

[2019-06-02 09:11] #5933 closed

[2019-06-02 09:41] uds5501 opened #5983 "multiple db heads present"
**Describe the bug**

Multiple db heads present after recent merge, will push a fix making them sequential:

[code]

[2019-06-02 11:05] #5983 closed

[2019-06-02 15:37] #5969 closed

[2019-06-02 16:46] mrsaicharan1 commented on #5961
@liveHarshit Please add `AliPay` to the title as soon as https://github.com/fossasia/open-event-server/pull/5960 is merged. Would like to fix this as soon as possible.

[2019-06-02 17:25] liveHarshit commented on #5961
@mrsaicharan1 Please add the implementation to the server docs also, so I can follow the document interections.

[2019-06-02 20:35] prateekj117 commented on #4526
@iamareebjamal What services are we planning to integrate?

[2019-06-02 21:02] prateekj117 opened #5985 "Typo in the mail being sent after event ends"
**Describe the bug**
Typo in the mail being sent after the event ends.

![Screenshot from 2019-06-03 02-29-20](https://user-images.githubusercontent.com/31065687/58767363-a5d8eb00-85a7-11e9-8742-94bca64884f9.png)

**Additional context**
Free for anyone to take up.

[2019-06-02 21:11] prateekj117 commented on #5875
@uds5501 There is no solution implemented in the events `PATCH` as well. @iamareebjamal What should be the way to go here according to you?

[2019-06-02 22:31] iamareebjamal commented on #4526
None

[2019-06-02 22:32] iamareebjamal commented on #5875
???

[2019-06-02 23:23] kushthedude commented on #5985
@iamareebjamal We should label it Good First Issue

[2019-06-03 05:35] prateekj117 commented on #5875
@iamareebjamal What's the way to go if someone wants to delete the logo-Url or the profile picture Url? We will have to send a NULL string respective to what we want to delete. But it returns Status Code `422` when trying to pass a NULL value.

[2019-06-03 05:46] uds5501 commented on #5875
@prateekj117 AFAIK, this is all about PATCH at the moment, of course there is no solution implemented for it.

[2019-06-03 05:47] prateekj117 commented on #5875
@uds5501 Yaa, but what should be the way to go if we want to implement this?

[2019-06-03 07:58] prateekj117 commented on #5875
@iamareebjamal @uds5501 Tried passing `null`, it doesn't throw any error but doesn't update the respective null fields.

![Screenshot from 2019-06-03 13-27-01](https://user-images.githubusercontent.com/31065687/58785575-5fb17500-8603-11e9-85cd-ac13f5306067.png)

[2019-06-03 13:52] ShridharGoel opened #5986 "Multiple role invitations to the same email are allowed and are stored multiple times"
**Describe the bug**
Currently, multiple role invitations can be sent to the same email id and even invitations with the same email and same role can be sent more than once and it is being stored multiple times in the list of roles.

**Expected behavior**
There can be an option to resend a pending invitation and that should not be stored as a duplicate entry.

[2019-06-03 14:45] shreyanshdwivedi commented on #5986
On it.

[2019-06-03 15:21] iamareebjamal commented on #5875
https://github.com/fossasia/open-event-server/issues/5875#issuecomment-494414496

[2019-06-03 15:31] #5891 closed

[2019-06-03 16:25] CosmicCoder96 commented on #5910
Finished today.

[2019-06-03 16:25] #5910 closed

[2019-06-03 16:32] shreyanshdwivedi opened #5988 "test_multiple_heads is not raising the expected error"
**Describe the bug**

On having multiple heads, the travis build fails with error -
[code]
It should raise error as expected in - https://github.com/fossasia/open-event-server/blob/development/scripts/test_multiple_heads.sh

**Expected behavior**

Expected error should be raised - `Error: Multiple Migration Heads`

**Additional context**

On it

[2019-06-03 16:50] ram-nad commented on #5985
I am taking up this issue

[2019-06-03 16:52] liveHarshit opened #5989 "Wrong error throwing during sign up"
**Describe the bug**
For short length of the password, the error is `HTTP 422`, It should be `HTTP 400`.

[2019-06-03 16:56] shreyanshdwivedi commented on #5989
Checking it now

[2019-06-03 17:07] mrsaicharan1 opened #5991 "Ability to add donation support"
**Describe the feature**
Our system requires the option of adding NGO events. When an event is categorised as an NGO event, it should have the feature of selling **only free** tickets. It should also have the option where people can donate funds to the fundraising event.

This is a **parent** issue. It can be divided into sub-parts:
1. Integration of a working donation system
2. Adding NGO events/

[2019-06-03 17:10] shreyanshdwivedi commented on #5989
@liveHarshit @iamareebjamal currently we don't have any exception with status `HTTP 422`. The exceptions present currently can be viewed in `app/api/helpers/exceptions.py`
Do we need to introduce new exception for using it only at one place?

[2019-06-03 17:24] prateekj117 commented on #5991
@mrsaicharan1 Can I work on the server side implementation of this?

[2019-06-03 18:40] #5889 closed

[2019-06-03 18:41] iamareebjamal commented on #5989
We need 400 Bad Request, not 422

Also, server already throws a lot of 400 errors, just the name and mechanism of throwing might be different

[2019-06-03 19:46] mrsaicharan1 commented on #5991
@prateekj117 I was planning to work on this myself, as discussed in the latest meeting. Will notify if I need help :)

[2019-06-04 06:16] uds5501 opened #5994 "The ticket_fees documentation needs to be updated"
The ticket fees api docs have no mention of country variable and the post request needs to be updated accordingly for travis build of #5657 to pass

**Additional context**

Working on it

[2019-06-04 10:48] #5985 closed

[2019-06-04 10:49] #5959 closed

[2019-06-04 18:17] prateekj117 opened #5996 "No attribute 'days' error in expiring pending tickets after 3 days function"
**Describe the bug**
After 3 days of a pending order, when trying to expire it throws error.

**Expected behavior**
Should not throw any error.

**Error Screenshot**
![Screenshot from 2019-06-04 10-34-19](https://user-images.githubusercontent.com/31065687/58903442-13f5ed00-8723-11e9-80ff-d3b14450ba6b.png)

**Additional context**
Working on it.

[2019-06-04 21:07] #5996 closed

[2019-06-04 21:14] anhanh11001 opened #5998 "Fetching featured speakers, accepted sessions, public call for speaker by default"
**Describe the bug**
By default, the server should only return featured speakers, accepted sessions, public speakers call when client-side make GET requests. Currently, it also returns pending sessions or private call for speaker.

**Additional context**
Discussed in: https://github.com/fossasia/open-event-android/pull/1902 (comment)

[2019-06-04 22:30] mariobehling commented on #5890
This also means we should have the main organizer role to be renamed to "event owner". So, the one who creates an event is the "owner".

[2019-06-04 22:37] iamareebjamal commented on #5998
Except featured speakers, everything should be done as @anhanh11001 stated

[2019-06-05 01:37] shreyanshdwivedi commented on #5986
- I've pushed changes which will raise error if a role-invite having a user with the same email and the same role is created.
   - IMO we should allow multiple role invitations can be sent to the same email id (not with the same email and same role). What's ur opinion?
   - And for an option to resend a pending invitation and that should not be stored as a duplicate entry we need a different route

[2019-06-05 04:34] kushthedude commented on #5986
@shreyanshdwivedi What is the problem with multiple roles associated with same email?

[2019-06-05 04:39] shreyanshdwivedi commented on #5986
I don't see any problem with multiple roles with same email as I already mentioned in my previous comment.
The main problem which I can fetch from issue is the creation of duplicate entries in db. And I've created a PR which solves this issue.
@kushthedude do you find any other issue which can be incorporated in this PR?

[2019-06-05 04:55] uds5501 commented on #5986
I don't see any problem with that, of course a particular email can have multiple role invites

@shreyanshdwivedi wait, we are re-sending the invitations? I didn't come across this implementation. In case we are doing this, you are right, POST won't make sense, not at least with similar data.

[2019-06-05 04:59] shreyanshdwivedi commented on #5986
@uds5501 no, we are not sending re-invitations for now. Please refer to `Expected Behavior` of issue description, where @ShridharGoel mentioned that we can have such a feature.
I think it's better to handle it in separate PR because it'll involve frontend implementation too and label it as a `feature`. For now we can fix the duplicate entries ?
@uds5501 @ShridharGoel @kushthedude your thoughts?

[2019-06-05 05:00] kushthedude commented on #5986
This makes sense

[2019-06-05 05:16] shreyanshdwivedi commented on #5872
@QuietDilletante any update?

[2019-06-05 06:05] ShridharGoel commented on #5986
Feature to resend a pending invitation would be required because the old invitation link becomes invalid after sometime (I think after 24 hours).

[2019-06-05 06:21] ShridharGoel commented on #5986
Is the system configured to allow multiple roles, like if a role has a permission set to true and another has it as false, would it consider it as true if the organizer has both the roles?

Also, it there any need of multiple roles? A co-organizer having the role of a moderator also would not be required. But maybe the case is different if we consider `track_organizer` and `registrar`, I'm not sur

[2019-06-05 06:31] muznahaftab commented on #5872
@prateekj117 May I work on this?

[2019-06-05 06:32] prateekj117 commented on #5872
@muznahaftab Go ahead.

[2019-06-05 07:29] shreyanshdwivedi commented on #5986
I think that feature to resend invitation will be good to have but can you please mention the line where this job is scheduled that makes old invitation invalid? @ShridharGoel

I also thought of similar example that's why I mentioned not to change multiple role invitation

[2019-06-05 07:34] ShridharGoel commented on #5986
https://github.com/fossasia/open-event-server/blob/1c1c46f899ac8d916ff7c5204a8001ad52515a71/open_event/views/admin/models_views/events.py#L296-L302

[2019-06-05 10:49] kushthedude commented on #5963
@iamareebjamal Since the following is a FE issue ,Closing it henceforth

[2019-06-05 10:49] #5963 closed

[2019-06-05 10:59] kushthedude commented on #5955
@uds5501 @shreyanshdwivedi Can you guys reproduce it ?

[2019-06-05 11:03] kushthedude commented on #5875
@prateekj117 How are we gonna handle it ?

[2019-06-05 11:05] prateekj117 commented on #5875
@iamareebjamal So, should I make changes in `flask-rest-jsonapi`?

[2019-06-05 11:05] kushthedude commented on #5858
@mrsaicharan1 Are we good to close it ?

[2019-06-05 11:05] uds5501 commented on #5875
@prateekj117 Yes, please

[2019-06-05 11:09] kushthedude commented on #5871
@uds5501 I was not able to recreate this , Today i made some changes to the event

[2019-06-05 11:12] kushthedude commented on #5795
Not Reproducible

[2019-06-05 11:12] #5795 closed

[2019-06-05 11:12] uds5501 commented on #5871
@kushthedude if you weren't able to then it's a good news, but I think we would appreciate a sample. A gif maybe, meanwhile I'll check on my local

[2019-06-05 11:15] kushthedude commented on #5871
@uds5501 I refreshed the page at that point and Ticket disappeared , I checked now and i needed to refresh again , A PR might be appreciated for the issue

[2019-06-05 11:16] kushthedude commented on #5690
@uds5501 I think they are working now , Are we good to close ?

[2019-06-05 11:18] uds5501 commented on #5871
@kushthedude for all we know as of right now this isn't due to our code specifically, i believe it's error in the dependency.

[2019-06-05 11:19] uds5501 commented on #5690
@kushthedude yes. close this

[2019-06-05 11:19] #5690 closed

[2019-06-05 11:20] kushthedude commented on #5762
<img width="1440" alt="Screenshot 2019-06-05 at 4 50 00 PM" src="https://user-images.githubusercontent.com/44091822/58952670-fae84d00-87b1-11e9-9fe3-38c5d6b91bdf.png">
@uds5501 Just created a super admin , Can you check again please ?

[2019-06-05 11:31] #5737 closed

[2019-06-05 11:34] prateekj117 commented on #5737
@kushthedude If you are not sure if the error is reproducible or not, don't close the issue. Though I think the `tax not found` and `event-copyright` not found error don't exist anymore. @uds5501 Are you facing these issues?

[2019-06-05 11:35] uds5501 commented on #5737
@prateekj117 it was recently resolved by @CosmicCoder96 in the frontend PR, don't worry

[2019-06-05 11:35] kushthedude commented on #5737
@prateekj117 I think this error could be due to some outdated dependancies , As of now the following issue is not reported , if you are still facing it Please tell the pattern or steps involved

[2019-06-05 11:44] iamareebjamal commented on #5795
Fixed in https://github.com/fossasia/flask-rest-jsonapi/pull/5

[2019-06-05 11:45] iamareebjamal commented on #5700
Fixed in https://github.com/fossasia/flask-rest-jsonapi/pull/5

[2019-06-05 11:45] #5700 closed

[2019-06-05 12:00] iamareebjamal commented on #5986
Add unique constraint

[2019-06-05 13:11] shreyanshdwivedi opened #6001 "Introduce event owner user role"
**Is your feature request related to a problem? Please describe.**

Currently, owners of the event cannot be differentiated. So `organizer` event role is to be changed to `owner`, to differentiate and make it clear.

**Additional context**

On it.
Reference https://github.com/fossasia/open-event-frontend/issues/3012#issuecomment-498873640

[2019-06-05 13:21] #5562 closed

[2019-06-05 13:23] kushthedude commented on #5762
@uds5501 Please check , If it still persists on your local will re-open .

[2019-06-05 13:23] #5762 closed

[2019-06-05 13:48] iamareebjamal commented on #5871
It is our code. We should be filtering out deleted_at != None items by default

[2019-06-05 13:49] iamareebjamal commented on #5858
@mrsaicharan1 Please mention the doc update here so we can close it

[2019-06-05 13:50] mrsaicharan1 commented on #5858
@iamareebjamal Will do it asap

On Wed, 5 Jun 2019 at 8:49 AM, Areeb Jamal <notifications@github.com> wrote:

[2019-06-05 15:32] uds5501 opened #6003 "minor typo in settings schema and add omise payment to order schema"
**Describe the bug**

change `is_omise_activate` to `is_omise_activated`
The typo is messing up frontend settings model so this is required

[2019-06-06 02:41] mariobehling commented on #4734
As currently are not focusing on Kubernetes, I am closing this.

[2019-06-06 02:41] #4734 closed

[2019-06-06 02:58] mariobehling commented on #5115
Out of scope currently.

[2019-06-06 02:58] #5115 closed

[2019-06-06 02:58] mariobehling commented on #4697
Out of scope currently.

[2019-06-06 02:58] #4697 closed

[2019-06-06 02:59] #4554 closed

[2019-06-06 03:00] mariobehling commented on #4475
Out of scope currently.

[2019-06-06 03:00] #4475 closed

[2019-06-06 03:02] mariobehling commented on #5060
Overlapping with other issues.

[2019-06-06 03:02] #5060 closed

[2019-06-06 03:06] mariobehling commented on #5518
This is cool, but out of scope currently. In a perfect world would be great, if someone could take this up when such issues are opened. The team is still working on core features. Closing it therefore.

[2019-06-06 03:06] #5518 closed

[2019-06-06 03:06] mariobehling commented on #5667
Out of scope currently.

[2019-06-06 03:06] #5667 closed

[2019-06-06 03:14] mariobehling opened #6005 "Review Wiki documentation and move content to /docs"
Some docs have been posted to the wiki instead of the /docs repo. Please review the documentation in the wiki and what to keep. Move what is still relevant to /docs, please: https://github.com/fossasia/open-event-server/wiki

[2019-06-06 05:21] prateekj117 commented on #5991
@mrsaicharan1 As @mariobehling said that the term `is_ngo` is misleading, should we change the field name in the models as well?

[2019-06-06 07:25] #6003 closed

[2019-06-06 09:28] prateekj117 commented on #4937
@iamareebjamal Is it a priority. If yes, I would like to work on this.

[2019-06-06 09:30] mrsaicharan1 commented on #5991
@prateekj117 yes, Please remove this

[2019-06-06 14:20] iamareebjamal commented on #4937
Milestone is already added

[2019-06-06 16:37] #5986 closed

[2019-06-06 16:41] prateekj117 commented on #5991
@iamareebjamal What should we rename it to?

[2019-06-06 16:49] iamareebjamal commented on #5991
Ask your peers

[2019-06-06 16:50] prateekj117 commented on #5991
@mrsaicharan1 @uds5501 @shreyanshdwivedi What should I rename it to?

[2019-06-06 23:00] anhanh11001 commented on #5858
Please update the documentation, I checked the implementation and tried to fetch order by identifier but I still get this 500 error. I'm not sure if the endpoint I'm using in here is correct but please take a look
[code]

[2019-06-06 23:06] anhanh11001 opened #6007 "Fail on updating sessions"
**Describe the bug**
Endpoint PATCH: /v1/sessions/{session_id} is not working in Android app.

**Logs**
[code]

**Additional context**
Discussion on: https://github.com/fossasia/open-event-android/pull/1886

[2019-06-07 05:39] shreyanshdwivedi commented on #6001
@iamareebjamal @mariobehling should I change the role `organizer` to `owner` or add a new role as `owner`?

[2019-06-07 12:20] kushthedude opened #6027 "Same Discount Code is not able to be applied for two different events"
**Describe the bug**

Currently if you create two same discount codes for two events , You will see it is invalid for one of the event

**To Reproduce**

Steps to reproduce the behavior:

- Create Discount Code X for Event A
- Create Discount Code X for Event B
- Apply X to B
- See Error

**Expected behavior**

Same Discount Should be able to apply

#### Screenshot

<img width="1440" alt="Screensh

[2019-06-07 17:36] Anupam-dagar commented on #5955
@mrsaicharan1 i can confirm this, although I don't know the proper reason for it and how it occurs, but it has happened to me many times.

[2019-06-07 17:38] mrsaicharan1 commented on #5955
Yeah, it's mostly due to the server validation errors. Have to check which
ones specifically

On Fri, 7 Jun 2019 at 12:36 PM, Anupam Dagar <notifications@github.com>
wrote:

[2019-06-07 18:28] mrsaicharan1 commented on #5991
@prateekj117 It's better to remove the fields as they are not required. We already have donation fields for events. At first, we needed NGo so that we could represent them separately as Open Source/ngo events. But, we just need donation support. So yeah, it'd be better to remove these fields now.

[2019-06-07 19:16] mrsaicharan1 commented on #5976
@iamareebjamal What is the exact frontend url in production?

[2019-06-07 19:51] mrsaicharan1 commented on #5929
@mariobehling What would be the best way to restrict the organizer from changing the date/time of an event? Should we leave the organizer to change the event date/time whenever they want, or should we restrict them[For example, not allowing the organizer to change the date/time 5-10 days before the actual event]?

[2019-06-07 20:04] mrsaicharan1 commented on #5772
@shreyanshdwivedi Can you do this? I'll help you out with the documentation.

[2019-06-07 21:04] mrsaicharan1 commented on #5998
@anhanh11001 I'd like to take this.

[2019-06-07 21:24] mrsaicharan1 commented on #5989
@shreyanshdwivedi Still on this?

[2019-06-08 02:20] mrsaicharan1 opened #6012 "Admin Translations downloads error"
**Describe the bug**
Downloading admin translations gives the following error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin Panel`
2. Click on 'content'
3. Click on download translations

**Expected behavior**
Should download zip file

**Additional details (please complete the following information):**
 - MacOS Mojave

**Additional context**
Working on it

[2019-06-08 03:25] mrsaicharan1 commented on #6012
This is an FE issue. I've tested the API locally with the JWT token of an admin user. Was able to download it. @CosmicCoder96 Please transfer this to FE.

[2019-06-08 06:48] uds5501 commented on #6007
@anhanh11001 tested it via postman, seems to be working fine on local

[2019-06-08 10:28] uds5501 opened #6014 "Add role name in role-invite"
Add role name attribute in the json response on acceptance of a role.

[2019-06-08 14:24] mrsaicharan1 commented on #5998
@anhanh11001 Which endpoint are you talking about?

[2019-06-08 15:30] iamareebjamal commented on #5989
I'm sorry, I thought 422 was conflict. Unprocessable Entity is correct

[2019-06-08 15:33] shreyanshdwivedi commented on #5989
So we don't need to have Bad Request Exception? This issue is to be closed ? @iamareebjamal

[2019-06-08 15:34] #5989 closed

[2019-06-08 15:36] iamareebjamal commented on #5998
@mrsaicharan1 every endpoint which returns sessions or call for speakers

[2019-06-08 15:40] iamareebjamal commented on #6007
@uds5501 Please try the exact payload mentioned in the issue

[2019-06-08 15:44] iamareebjamal commented on #5929
https://www.merriam-webster.com/dictionary/improvise

[2019-06-08 15:49] iamareebjamal commented on #5976
Doesn't matter, make_frontend_url should handle it. I have written tests for it. Check why it happened

[2019-06-08 17:24] CosmicCoder96 commented on #5555
fixed now since all the data inside gcloud has been moved to storage.eventyay.com

[2019-06-08 17:24] #5555 closed

[2019-06-09 06:50] #6014 closed

[2019-06-09 07:58] CosmicCoder96 commented on #5911
Completed.

[2019-06-09 07:58] #5911 closed

[2019-06-09 08:02] CosmicCoder96 commented on #5848
It works now.

[2019-06-09 08:02] #5848 closed

[2019-06-09 11:50] kushthedude commented on #6012
@mrsaicharan1 The following is not a FE issue , I checked into it and found that the following is due to the `CORS` , We need to check for `Access Control` headers returned from header, So that preflight response made by browser can be successful

[2019-06-09 12:02] kushthedude opened #6018 "Invoice cant render currency symbol"
#### Details :

- Invoice generated after buying ticket is not rendering `Currency Symbol` and showing a black dot instead

#### Screenshot

<img width="1440" alt="Screenshot 2019-06-09 at 5 30 12 PM" src="https://user-images.githubusercontent.com/44091822/59158742-7876ca80-8adc-11e9-8fa6-8a8a5b2d2ba7.png">

[2019-06-09 12:02] kushthedude commented on #6018
@mrsaicharan1 Can you please have look into it

[2019-06-09 13:59] #5976 closed

[2019-06-09 14:26] mrsaicharan1 commented on #6018
@kushthedude Which currency symbol were you using?

[2019-06-09 14:29] kushthedude commented on #6018
INR

On Sun, 9 Jun 2019 at 7:56 PM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-06-09 15:01] iamareebjamal commented on #6012
@CosmicCoder96 Please add frontend sites to CORS allow origin

[2019-06-09 15:19] mrsaicharan1 opened #6019 "Update docs for Order Invoice fetch"
**Describe the bug**
The recent order flow change has brought about a change as to how order invoices were generated. Docs need to be updated.

**Additional context**
Working on this.

[2019-06-09 15:35] mrsaicharan1 commented on #5858
@anhanh11001 I apologise for the delay. The API docs PR needs to be merged https://github.com/fossasia/open-event-server/pull/6020/
Here's the information alluding to the API request in the meantime.
<img width="1000" alt="Screenshot 2019-06-09 at 10 16 33 AM" src="https://user-images.githubusercontent.com/25197147/59160989-3fb9ff80-8aa2-11e9-8041-70f33c6bd8fa.png">

[2019-06-10 00:00] mrsaicharan1 commented on #6012
@iamareebjamal Was this removed recently? It used to work before.

[2019-06-10 00:50] mrsaicharan1 opened #6021 "Implementation of a payment reminder mechanism for organisers(invoice)"
**Describe the feature**
**Parent issue**
Event organizers should be reminded to pay the invoice to the eventyay platform. This can further be extended to limit certain features of the platform such as limiting access to specific areas of the it.
These reminders can be sent through mail or by pushing notifications to their dashboard.
The exact implementation can be discussed.
The frequency of mail

[2019-06-10 00:53] mrsaicharan1 commented on #6021
@mariobehling Is this the right in which we can proceed or am I missing something? Would be great if you could clarify.

[2019-06-10 03:25] shreyanshdwivedi commented on #6001
As discussed on call, I'll be adding a new role `owner` and keep other roles as it is

[2019-06-10 05:29] kushthedude commented on #5891
@mrsaicharan1 , Our invoice is very different and very depreciated in terms of `EventBrite` , Can you have a look
<img width="651" alt="VAT_invoice_example_PDF" src="https://user-images.githubusercontent.com/44091822/59174361-ac9acb80-8b6e-11e9-9f50-fa68908ccbcb.png">

[2019-06-10 05:36] kushthedude opened #6022 "Sending of Tax Invoice As of EventBrite , Make Invoice more similar to EventBrite"
Currently our invoice is very different from eventbrite , And we are not sending Tax Invoice if Organizer checks the box on tax information .
Make all of this changes .
Example of Tax Invoice -:
<img width="651" alt="VAT_invoice_example_PDF" src="https://user-images.githubusercontent.com/44091822/59174700-0bad1000-8b70-11e9-9c87-ec15ee5e1cd3.png">

[2019-06-10 06:50] iamareebjamal commented on #6012
IDK

[2019-06-10 06:52] kushthedude commented on #6012
@mrsaicharan1 AFAIK due to old dependency and packages , the following error was not getting shown , still this was present from before

[2019-06-10 15:32] mrsaicharan1 commented on #5968
@ShridharGoel So the main problem here is, you're not able to download your own ticket right
?

[2019-06-10 16:07] ShridharGoel commented on #5968
@mrsaicharan1 I am able to download my own ticket from the frontend, but not from the attendee app. That might be because the attendee app has not implemented the security changes as @iamareebjamal mentioned above.

The change required is that the organizers should be able to download the tickets of the attendees of their events as well.

[2019-06-10 16:07] mrsaicharan1 commented on #5968
Alright.

On Mon, 10 Jun 2019 at 11:07 AM, Shridhar Goel <notifications@github.com>
wrote:

[2019-06-10 16:08] mrsaicharan1 commented on #5968
Just change the issue link and will work on this.

On Mon, 10 Jun 2019 at 11:07 AM, saicharan reddy <saicharan.reddy1@gmail.com>
wrote:

[2019-06-10 16:13] ShridharGoel commented on #5968
Updated.

[2019-06-11 02:39] mrsaicharan1 commented on #6018
@kushthedude Why is the order invoice on the pending page? There should never be an order invoice for a pending order.

[2019-06-11 05:52] kushthedude commented on #6018
That's an order invoice of `Placed Order`, And there should be an invoice of `Offline Order`

[2019-06-11 10:44] prateekj117 commented on #6027
@uds5501 In case you are busy, can I take this one up.

[2019-06-11 10:54] uds5501 commented on #6027
@prateekj117 please feel free to do so, ask @kushthedude to assign you this issue

[2019-06-11 11:11] prateekj117 opened #6029 "Revert dependency version of sqlalchemy-utils"
**Describe the bug**
The recent update of sqlalchemy-utils version is causing errors in running migrations.

[2019-06-11 11:53] iamareebjamal commented on #6029
Paste the error here

[2019-06-11 12:27] uds5501 opened #6031 "Add `show_stats_public` field in public tickets page"
This is the server issue for fossasia/open-event-frontend#3090

Adding a Boolean field to allow event owner to show remaining tickets on the public event page

[2019-06-11 17:34] #6029 closed

[2019-06-12 08:27] liveHarshit commented on #5961
@mrsaicharan1 @kushthedude What is the status?

[2019-06-12 10:20] mariobehling opened #6033 "Limit the number of emails an account can sent out in a given timeframe"
One account yesterday tried a password reset requesting a reset 1000 times.

Please implement a threshhold for account resets and propose a threshhold for other emails in a certain time frame. Open relevant issues for this.

A threshhold for an account reset email should be 3 times per hour. After that the user should receive a message: "You have reached the threshhold for this action. Please try

[2019-06-12 10:43] shreyanshdwivedi commented on #6033
I'll be working on this

[2019-06-12 10:45] mariobehling commented on #6033
Thank you. It is related to this frontend issue: https://github.com/fossasia/open-event-frontend/issues/3128

[2019-06-12 12:37] CosmicCoder96 opened #6034 "Don't allow unverified users to place free orders"
Unverified users shouldn't be allowed to place free orders, paid orders are okay.

[2019-06-12 12:37] CosmicCoder96 commented on #6033
@shreyanshdwivedi https://github.com/fossasia/open-event-server/issues/6034

[2019-06-12 12:42] shreyanshdwivedi commented on #6034
@CosmicCoder96 is this PR not fixing this issue? https://github.com/fossasia/open-event-server/pull/6008

[2019-06-12 14:06] kushthedude commented on #6034
@shreyanshdwivedi Thats what i was saying , We should be restricting free orders rather than free tickets .

[2019-06-12 14:06] niranjan94 commented on #6033
Also, we need rate limiting on all of the API endpoints to prevent misuse. @shreyanshdwivedi please create an issue for it with the solution.

[2019-06-12 14:07] kushthedude opened #6036 "Implementation ReCaptcha for Sensitive Activities"
Please See https://github.com/fossasia/open-event-frontend/issues/3129

[2019-06-12 14:10] shreyanshdwivedi commented on #6034
Okay then. I'll work on it and fix it asap
Should I revert https://github.com/fossasia/open-event-server/pull/6008 in my upcoming PR for free order?

[2019-06-12 14:12] shreyanshdwivedi opened #6037 "Implement rate limiter on all endpoints to prevent misuse"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Currently, there is no limiting factor on endpoints. Anyone can make a script and misuse it.

**Additional context**

https://github.com/fossasia/open-event-server/issues/6033 https://github.com/fossasia/open-event-server/issues/6033#issuecomment-501289551

[2019-06-12 14:17] kushthedude commented on #6036
@uds5501 Would you like to take server side ?

[2019-06-12 14:25] liveHarshit opened #6038 "Docs update: Create endpoint to receive verification token"
**Is your feature request related to a problem? Please describe.**
Create endpoint to receive email verification token and verify email.

[2019-06-12 14:34] ShridharGoel commented on #6038
It already exists:

POST `/v1/auth/verify-email`

[code]

[2019-06-12 14:35] iamareebjamal commented on #6037
Please implement rate limiting with user ID as key and fallback to IP for only unauthenticated users. I used to think this naive way of rate limiting is very easy until users of my college started to get limited despite being working from different computers. Because computers behind universities and companies sit behind a proxy which does Network Address Translation and maps internal IPs to a set

[2019-06-12 14:36] shreyanshdwivedi commented on #6037
I agree with your concern. I'm currently reading the docs and will keep it in mind

[2019-06-12 14:39] kushthedude commented on #6038
@liveHarshit It is there i think ?

[2019-06-12 14:40] liveHarshit commented on #6038
Sorry, I don't find it in the server documentation.

[2019-06-12 14:40] ShridharGoel commented on #6038
Check this out: https://github.com/fossasia/open-event-orga-app/issues/1404#issuecomment-449965876

[2019-06-12 14:42] liveHarshit commented on #6038
What is the response? @kushthedude Can you please add it in the server documentation?

[2019-06-12 14:49] iamareebjamal commented on #6037
Also, this'll work for app.route

Also see what can be done for jsonapi controllers

[2019-06-12 15:26] kushthedude commented on #6034
@shreyanshdwivedi That would work , Try to inculcate both the changes in same PR if possible

[2019-06-12 15:34] anhanh11001 commented on #6007
@uds5501 Have you figured it out what was the problems from the server and can you show me how did you test to make it work? I'm having trouble both on creating/updating sessions and need some advices

[2019-06-12 16:36] mrsaicharan1 opened #6039 "Adding fields for organizer billing info"
**Describe the feature**
Related Frontend Issue:https://github.com/fossasia/open-event-frontend/issues/3117
There is a requirement to submit the billing info so that the organiser can pay the invoice. For this, additional fields need to be added in the user model.

(Add fields for the following information: Contact Name*, Phone, Email (Use account email here), Country*, Tax ID, Registered Entity o

[2019-06-12 17:16] #6031 closed

[2019-06-12 17:36] mrsaicharan1 commented on #6039
@shreyanshdwivedi @uds5501 @CosmicCoder96 @iamareebjamal  I'm actually a little skeptical about the issue. I just had an idea. For paying invoice, how would it be if the organisers were directed to the orders page with the order info as 'Event Invoice'  where they can have their billing info entered. I just feel that adding these fields would be redundant but I'm open to suggestions.

[2019-06-12 18:08] CosmicCoder96 opened #6040 "Add an end point for sending test mails"
The endpoint should only be available to the admin, and can be used to send a test mail to any address.

[2019-06-13 06:41] kushthedude commented on #6036
@iamareebjamal Can you please help, How do I integrate the following reCAPTCHA with server, I already read docs of ember-g-reCAPTCHA, didn't find much about server integration, And after reading the integration of reCAPTCHA with flask, They provide the method to integrate with WTForms and we are not using WTF anywhere except for login validators.

[2019-06-13 11:18] iamareebjamal commented on #6036
https://codelabs.developers.google.com/codelabs/reCAPTCHA/index.html#6

[2019-06-13 14:00] kushthedude opened #6043 "Add fields for reCAPTCHA Keys"
Sub-Issue Of #6036

[2019-06-13 18:06] CosmicCoder96 opened #6045 "Error logs generated in Celery while sending Mails"
[code]

Similar logs are there for JSON format of mail objects.

[2019-06-14 02:46] CosmicCoder96 opened #6047 "Mails with attachment are blocked by gmail"
![image](https://user-images.githubusercontent.com/17252805/59480039-a750c000-8e91-11e9-8698-ae52d3420cce.png)

[2019-06-14 06:41] #6045 closed

[2019-06-14 06:46] uds5501 commented on #6007
This seems to be the problem @anhanh11001 . My local server can't process this. Try restructuring it as:
[code]
I hope this solves the error

[2019-06-14 06:59] #5815 closed

[2019-06-14 08:35] kushthedude commented on #6007
@anhanh11001 @uds5501 Closing the following .

[2019-06-14 10:00] iamareebjamal commented on #6007
Not to be closed until verified working

[2019-06-14 11:21] anhanh11001 commented on #6007
@uds5501 I still have problem updating session here. Please take a look, I think I've followed the example in the API document
[code]

[code]

[2019-06-14 14:07] prateekj117 opened #6049 "Only event organizers should be able to create discount codes for an event."
**Describe the bug**
User who is not the event organizer should not be able to create a discount code for the event.

**Expected behavior**
Only event organizers should be allowed to create a discount code for the event.

**Additional context**
Working on it.

[2019-06-14 21:03] #5968 closed

[2019-06-14 21:04] #5823 closed

[2019-06-14 21:22] iamareebjamal opened #6051 "Build failing because of kombu"
Seems like a lot of python library devs don't follow semantic versioning of the libraries

https://github.com/celery/kombu/issues/1060

[2019-06-14 22:49] iamareebjamal commented on #6051
Solved upstream

[2019-06-14 22:49] #6051 closed

[2019-06-15 05:36] mrsaicharan1 commented on #6047
@CosmicCoder96 Is this only through Sendgrid or protocol agnostic?

[2019-06-15 06:17] CosmicCoder96 commented on #6047
Sendgrid, I believe merely notified that mail is blocked. The mail was
actually blocked by gmail itself.

On Sat, 15 Jun 2019 at 1:36 PM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-06-15 06:48] iamareebjamal commented on #6047
Thus, it is protocol agnostic

[2019-06-15 08:17] #6049 closed

[2019-06-15 08:32] mrsaicharan1 commented on #6047
@iamareebjamal @CosmicCoder96 There's supposed to be an option which needs to be enabled. It's called `Less Secure Apps` in Gmail. Attachments are usually blocked because of that.
![Screenshot 2019-06-15 at 2 02 14 PM](https://user-images.githubusercontent.com/25197147/59549100-3097ed80-8f8b-11e9-924d-b5bea9a046f9.png)

[2019-06-15 14:48] kushthedude opened #6053 "Include OMISE in requirements"
Currently, Omise is not defined in requirements, which needs to be manually installed when a new user tries to run server,
Define OMISE in Requirements File

[2019-06-15 14:51] #6053 closed

[2019-06-15 14:51] kushthedude commented on #6053
Closing due to my ignorance while updating branch

[2019-06-16 00:00] anhanh11001 commented on #5980
Close as I just reread the documentation from Stripe, I used their test card but I didn't use the corresponding token but my own token

[2019-06-16 00:00] #5980 closed

[2019-06-16 06:46] #5991 closed

[2019-06-16 07:08] #6040 closed

[2019-06-16 07:56] CosmicCoder96 commented on #5513
Fixed in #5514

[2019-06-16 07:56] #5513 closed

[2019-06-17 04:13] mrsaicharan1 commented on #6038
@liveHarshit Docs need to be updated for this. Just change the name of this issue to a doc update. Meanwhile, the response is
[code]

[2019-06-17 04:14] mrsaicharan1 commented on #5961
Will start working on this as soon as the intial workflow for alipay gateway is done!

[2019-06-17 05:57] uds5501 commented on #5865
Taking a look at it

[2019-06-17 11:00] CosmicCoder96 opened #6054 "Populate event locations with most frequent locations routinely"
Parent issue https://github.com/fossasia/open-event-frontend/issues/2970

Event locations endpoint should return the most popular locations for events, and be updated regularly.

[2019-06-17 11:03] prateekj117 commented on #6054
@CosmicCoder96 I will take this one. Closed the old one  (https://github.com/fossasia/open-event-server/pull/5982). Will open a new one by tonight.

[2019-06-17 11:04] prateekj117 commented on #6054
Also, this is a duplicate of https://github.com/fossasia/open-event-server/issues/5945

[2019-06-17 12:00] CosmicCoder96 commented on #6054
@prateekj117
![image](https://user-images.githubusercontent.com/17252805/59602883-8363d780-913a-11e9-9b5d-41c5c82af4c6.png)
That means I am working on this.

[2019-06-17 12:04] prateekj117 commented on #6054
@CosmicCoder96 Wanted to work on it. No issue. 😅

[2019-06-17 12:15] mariobehling opened #6085 "Cancelled Order notifications should have link to the order page itself"
Cancelled Order notifications currently don't have a link and neither the info about the relevant event name to the cancelled ticket or order itself for
a) ticket buyer - Expected: It should have the event name and link to order page itself.
b) organizer - Expected: It should have the event name and link to the cancelled order page in the organizer ticket area

![Screenshot from 2019-06-17 14-11-4

[2019-06-17 12:15] CosmicCoder96 commented on #6054
Yeah, I figured but had already started working on it :) after self
assigning.

On Mon, 17 Jun 2019 at 8:04 PM, Prateek Jain <notifications@github.com>
wrote:

[2019-06-17 15:37] mariobehling opened #6243 "Create a notification and ensure Mail is working as expected"
When an order is created, but the user aborts the order or does not pay, the user should receive an email after the order time is finished.

There is already an email in the admin message section listed. The user should also receive a notification in that case. Please activate options by default.

Please also change this system message

to

* Subject: Your order for {event_name} has expired. Visit

[2019-06-17 20:12] kushthedude commented on #5811
@uds5501 Can you please check it once again? Since on event yay none of us is an admin, And still our event creation was going smooth

[2019-06-17 20:17] uds5501 commented on #5811
@kushthedude kindly follow the discussion in the closed PR, you'll understand where the error is messing up

[2019-06-17 23:28] kushthedude opened #6059 "Addition of Field for `Override Email` for Speaker"
Sub-Issue of https://github.com/fossasia/open-event-frontend/issues/2953

[2019-06-18 00:53] CosmicCoder96 opened #6060 "Legacy data still has invalid URLs present in some records"
This is currently preventing the master branch auto deploy cycle to be executed on hetzner. As a temporary solution, URL validations were removed exclusively for production server after some discussion.

These URLs are also the source of the several random 500s thrown in the admin wizard on events, users, sessions and messages route.

[2019-06-18 04:35] mrsaicharan1 opened #6061 "feat: Max/Min price fields for donation tickets"
**Describe the feature**
There is a requirement of min. price and max.price for donation tickets. Schemas need to be added as well.
Frontend PR: https://github.com/fossasia/open-event-frontend/pull/3069

**Additional info**
Working on it

[2019-06-18 06:45] shreyanshdwivedi commented on #5988
@iamareebjamal  I think this issue is non-existent now. I just got error for this travis failure - https://travis-ci.org/fossasia/open-event-server/builds/547072348?utm_source=github_status&utm_medium=notification

Error: `Error: Multiple heads are present; please specify a single target revision`

[2019-06-18 08:04] prateekj117 commented on #5955
@mrsaicharan1 @Anupam-dagar Used to happen with me as well a lot, event-taxes also showed this problem, though I don't face it anymore.

[2019-06-18 10:05] CosmicCoder96 commented on #6007
@anhanh11001 Can you instead post the logs of the server here? Once it's a 500 without a reason, client-side logs don't give enough info.

[2019-06-18 10:08] iamareebjamal commented on #5988
Sometimes it fails correctly, sometimes it doesn't

[2019-06-18 10:24] shreyanshdwivedi commented on #4903
@prateekj117 any update on this?

[2019-06-18 10:26] prateekj117 commented on #4903
@shreyanshdwivedi No. You can take this up if you want.

[2019-06-18 10:26] mrsaicharan1 commented on #4903
@shreyanshdwivedi It would be great if you could fix this asap! This is acting as a major issue because of the vague errors being logged.

[2019-06-18 10:36] iamareebjamal commented on #6007
@CosmicCoder96 He doesn't have access to server logs, that's why we need this fixed ASAP https://github.com/fossasia/open-event-server/issues/4903

[2019-06-18 10:39] shreyanshdwivedi commented on #4903
@mrsaicharan1 I'll try to fix this today. Meanwhile if anyone else finds a fix, please open a PR

[2019-06-18 17:18] #6043 closed

[2019-06-18 19:03] kushthedude commented on #4943
Closing it in favour of https://github.com/fossasia/open-event-frontend/issues/3157 , Will open new issue with necessary details regarding Refund

[2019-06-18 19:03] #4943 closed

[2019-06-18 19:07] kushthedude opened #6065 "Implementation Of Refund Functionality and Event Policy"
Addition of new feature available to organiser: `Refund Policy`
A rough idea of the plan :
- A Toggle while creation of event :
    - Organizer should have two options for orders :
        - Cancel & refund (and ability to specify cancellation charge)
        - Cancel without refund
        - Organizer should be able to turn on/off ticket cancellation functionality.
- Option to specify the followi

[2019-06-18 19:58] #6054 closed

[2019-06-18 23:00] kushthedude commented on #5529
@iamareebjamal @CosmicCoder96 As of present , Since when `Session and Speakers` and other data is not present and we need to query the DB to check for their presence , I have a simple approach for the following , As the `Bools` introduced by @CosmicCoder96 in the above PR, We can do the following, Whenever a speaker is confirmed , just toggle the value of the present `bool` and we can just check t

[2019-06-19 06:15] iamareebjamal opened #6069 "Error raised on reset password if user is not registered"
Raising an error on password reset if the user is not registered is like gifting hackers a list of users present in the database.

Instead, regardless of user being present in the system, it should return

"If your email was registered with us, you'll get an email with reset link shortly"

[2019-06-19 10:21] shreyanshdwivedi commented on #6069
Will work on it

[2019-06-19 18:44] CosmicCoder96 commented on #6060
Ran these queries on the server:

[code]

Seems to have eliminated most of the rogue cases.

[2019-06-19 18:44] #6060 closed

[2019-06-19 18:47] #6061 closed

[2019-06-19 20:00] shreyanshdwivedi opened #6072 "Refactor workflow for pending orders"
**Is your feature request related to a problem? Please describe.**

Currently, a user who orders pending ticket gets 3 days time to complete payment. Till then the ticket is reserved.

**Describe the solution you'd like**

As discussed with @mariobehling, we should implement these two points -
 - provide 30 minute time to user to pay for pending tickets. If payment is not done in 30 minutes, updat

[2019-06-19 20:10] shreyanshdwivedi commented on #6072
As I've completed all of my WIP PRs, I'll start working on it

[2019-06-19 20:19] iamareebjamal commented on #4903
I tested this, and seems that the heroku and test configs were just misconfigured, ProductionConfig was being used instead of DevelopmentConfig. Will verify and close this

[2019-06-19 20:20] iamareebjamal commented on #6007
Please try again and post the response

[2019-06-19 21:01] kushthedude commented on #6069
@shreyanshdwivedi Can I take this as you will be handling order workflow?

[2019-06-19 21:18] #6033 closed

[2019-06-19 21:22] kushthedude commented on #4903
So the #6068 should be closed ?

[2019-06-19 21:25] iamareebjamal commented on #4903
Let me and other people verify that they are getting full stacktrace instead of obscure errors, then yes

[2019-06-19 21:35] iamareebjamal opened #6074 "Centralized API doc link"
Make API doc HTML local to the API

https://github.com/fossasia/open-event-server/blob/329e586ff086d47add654438c47f11e10f8476e4/app/views/__init__.py#L90

This always points to the latest API. Someone may be hosting old API and it will still point to this. If I am hosting my own instance of API, I don't want to link FOSSASIA's API doc

[2019-06-20 00:35] kushthedude commented on #6072
Can you please also open an issue to show `Deleted Orders` in `Admin Panel`

[2019-06-20 01:55] mrsaicharan1 commented on #6072
@shreyanshdwivedi Please notify if you need any help here :)

[2019-06-20 02:52] kushthedude opened #6075 "Remove Registration Time Limit from Event Model and Add it to Settings Model"
Please see https://github.com/fossasia/open-event-frontend/issues/3161

[2019-06-20 03:11] kushthedude commented on #6075
@iamareebjamal, I needed a bit of help regarding fossasia/open-event-frontend# 3161, For the following change we will need some changes in the server too :

- Remove the Expiry_Time from Event Schema and Add an Expiry_Time field in Settings Model.
- Change the field value in helpers/order.py for the status change of order.
- Change apib, And as for the new changes made by me

#### Is there any oth

[2019-06-20 04:06] uds5501 commented on #6072
@shreyanshdwivedi

I can help with this, my last PR handled this only so I think I can implement this one. Let me know if you require any help

[2019-06-20 04:53] mrsaicharan1 commented on #6072
@shreyanshdwivedi I'll try to do the 30mins expiry part.

[2019-06-20 05:01] shreyanshdwivedi commented on #6072
@uds5501 @mrsaicharan1 go ahead :)

[2019-06-20 05:02] shreyanshdwivedi commented on #6069
@kushthedude order workflow is being handled by @uds5501 and @mrsaicharan1 as he had a similar PR few days ago. I'll open a PR in few hours

[2019-06-20 05:03] kushthedude commented on #6069
Cool

On Thu, 20 Jun 2019 at 10:32 AM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-06-20 05:42] mrsaicharan1 opened #6076 "Modify time window for pending tickets"
This is a sub issue
Parent issue: #6072

Currently, a user who orders pending ticket gets 3 days time to complete payment. Till then the ticket is reserved.

**Proposed implementation**
Provide 30 minute time to user to pay for pending tickets. If payment is not done in 30 minutes, update the status of ticket to expired.

[2019-06-20 05:48] uds5501 opened #6078 "Send notif and email on pending -> expired order transition"
This is a sub issue
Parent issue: #6072

When the ticket reservation expires after 30 minutes, send an email and notification to the user:
"Do you want to order this ticket still? You can order through this link within 24 hours ( if ticket is available )"

[2019-06-20 06:43] shreyanshdwivedi commented on #6034
@kushthedude can you please take care of this please? I'm involved in other issues

[2019-06-20 06:47] shreyanshdwivedi commented on #5988
@iamareebjamal what should be done then? I'm unable to reproduce it for now

[2019-06-20 06:48] shreyanshdwivedi commented on #5875
@uds5501 @prateekj117 @kushthedude I updated my profile image and there was no error. Can you guys please check again?

[2019-06-20 06:54] uds5501 commented on #5875
@shreyanshdwivedi Did you try patching it this way:

`attribute` from `non-null` to `null` value?

[2019-06-20 06:57] shreyanshdwivedi commented on #5875
Okay. I tried from `null` to `non-null`. Will check out what you mentioned.
Btw @prateekj117 any update?

[2019-06-20 07:04] iamareebjamal commented on #5988
Increase the milestone

[2019-06-20 07:05] shreyanshdwivedi commented on #5988
@iamareebjamal I don't have access. 😅
Please do so

[2019-06-20 07:08] prateekj117 commented on #5875
@shreyanshdwivedi Will have a look today.

[2019-06-20 21:25] #5958 closed

[2019-06-21 23:51] kushthedude commented on #6034
@shreyanshdwivedi Sure will take a look at it , Just a doubt what about an order with 100% discount do we need check on it too?

[2019-06-22 02:40] kushthedude commented on #6034
@iamareebjamal @niranjan94

[2019-06-22 04:37] shreyanshdwivedi opened #6087 "Add new attribute 'threshold' to message settings"
**Is your feature request related to a problem? Please describe.**

Server side of https://github.com/fossasia/open-event-frontend/issues/3128

Currently the system is open for very simple attacks, e.g. a user can just request an email reset 1000 times. Add the following: threshold [number of max. messages / hour]

No entry (null) means unlimited.

[2019-06-22 06:25] ShridharGoel opened #6089 "Unable to create events, sign up or use other features on development instance"
**Describe the bug**
Error when trying to create an event, or signing up for a new account and also in other functionalities like creation of tickets when using https://open-event-api-dev.herokuapp.com/v1/ as the base URL.

**Logs**

Logs when trying to create tickets:
[code]

[2019-06-22 06:49] CosmicCoder96 opened #6090 "After event mail cron job fails"
[code]

[2019-06-22 06:51] CosmicCoder96 opened #6091 "Multi-attendee ticket download fails"
A 403 error is generated.

A corrupt PDF file is still returned.

[2019-06-22 06:52] iamareebjamal commented on #6089
Try now

[2019-06-22 06:54] ShridharGoel commented on #6089
Working now.

[2019-06-22 06:54] #6089 closed

[2019-06-22 07:05] prateekj117 commented on #5945
@iamareebjamal Closing this one.

[2019-06-22 07:05] #5945 closed

[2019-06-22 07:49] iamareebjamal opened #6093 "Remove app_environment and secret from settings"
1. app_environment is a server wide setting. Changing it while running server can lead to unpredictable results. For example, Changing from production to development won't cause the server to start showing debug errors since it requires server restart. Also, the APP_CONFIG environment variable controls the flask server mode and database app_environment controls the programmatic config settings, th

[2019-06-22 08:07] liveHarshit opened #6094 "Add relationship of tickets (price range) in Events"
Reference issue: https://github.com/fossasia/open-event-android/issues/1990

[2019-06-22 08:24] prateekj117 commented on #6094
@liveHarshit On it.

[2019-06-22 09:04] iamareebjamal commented on #6094
Relationship will be added, not attribute

[2019-06-22 09:31] kushthedude commented on #6093
@iamareebjamal Where do you think we should put the following fields than ?

[2019-06-22 11:01] niranjan94 commented on #6093
@kushthedude 👇

The same can be the case for environment too.

[2019-06-22 12:08] #5955 closed

[2019-06-22 12:11] kushthedude commented on #5955
The issue has been closed because all the validations have been removed for now , if anyone experience it again , please reopen it

[2019-06-22 12:16] #6090 closed

[2019-06-22 12:50] #5874 closed

[2019-06-22 13:48] #6091 closed

[2019-06-23 02:23] mrsaicharan1 opened #6097 "Add details for admin invoice billing"
**Describe the feature**
Related front-end PR:https://github.com/fossasia/open-event-frontend/pull/3152
We need model additions for admin invoice billing info in settings so that the organisers can pay their invoice to the admin.

**Additional context**
Working on it.

[2019-06-23 02:35] #4903 closed

[2019-06-24 06:22] CosmicCoder96 opened #6099 "Speakers are queried by role in after event mail cron job but no such role exists"
Currently, speakers are being queried under the assumption that there is a role called speaker, no such role exists.

[2019-06-24 07:33] mrsaicharan1 opened #6101 "Event Invoices need to be shown to Organizers"
**Is your feature request related to a problem? Please describe.**

Related:
 https://github.com/fossasia/open-event-server/pull/6098
https://github.com/fossasia/open-event-frontend/commit/bf580cb9b33b9c381fc4ceb91c7ac36fbc69213d

 After the billing details for the admin are incorporated(after #6098 moves forward), the organiser should have a view where they could view/pay their event invoices. Up

[2019-06-24 11:08] #6099 closed

[2019-06-24 11:54] mrsaicharan1 commented on #6018
This is happening for quite a few currency symbols. I've explored what was going wrong and found out that `pisa`, the library which is currently being used to generate invoice pdfs is not able to render these symbols properly. For a workaround, to display what currency is present, I was thinking of removing the template filter which is being used so that it would display `INR`,'THB'   in the order

[2019-06-24 13:50] uds5501 commented on #6018
@mrsaicharan1 I think it will be fine to work that way.

[2019-06-24 13:58] uds5501 opened #6102 "sub issue : prevent order placement on potential overuse of discount code"
Parent Issue : #5865

This issue prevents the order to be placed in the case the discount codes will be potentially overused.

[2019-06-24 14:11] iamareebjamal commented on #6018
Try some solutions here https://duckduckgo.com/?q=pisa+python+unicode&t=canonical&ia=web

[2019-06-24 14:13] mrsaicharan1 commented on #6018
@iamareebjamal, tried out some solutions before, will try these out too and
get back to you.

On Mon, 24 Jun 2019 at 7:41 PM, Areeb Jamal <notifications@github.com>
wrote:

[2019-06-24 15:52] liveHarshit opened #6104 "Notifications are not updating"
Updating notification is not working: https://api.eventyay.com/#notifications-notification-detail-patch , It is giving same notification without updating in response. (I have tried to change value for is-read = true )

Reference PR (discussion): https://github.com/fossasia/open-event-android/pull/1998

[2019-06-25 15:28] #5950 closed

[2019-06-26 09:15] kushthedude opened #6106 "Write migration file for gender in attendee custom form from text to select"
Referrence : https://github.com/fossasia/open-event-frontend/pull/3180

[2019-06-26 11:29] mrsaicharan1 opened #6107 "test: Write tests for user delete helper functions"
**Description**
This is a sub issue of #5320

Integration Tests are required for user delete helper functions to ensure that they work properly. This increases the test coverage for the code.

**Additional context**
Working on it.

[2019-06-26 11:40] uds5501 commented on #6104
@liveHarshit I tried updating notifications in my local server and they seem to be working fine. The front-end notification updates are working fine too!

[2019-06-26 12:48] iamareebjamal commented on #6104
@uds5501 Please paste the payload and URL you used to update the notification state from unread to read

[2019-06-26 13:01] #6069 closed

[2019-06-26 14:29] CosmicCoder96 opened #6109 "Multi-attendee invoice download fails"
403 Forbidden error, corrupt PDF file.

[2019-06-26 15:21] #6109 closed

[2019-06-26 15:35] uds5501 commented on #6104
Payload :

[code]

URL : `http://127.0.0.1:5000/v1/notifications/68`
I tested this locally and it worked.

[2019-06-26 16:06] uds5501 opened #6111 "Add fields for proposed attendee form costumization"
Front-end Issue : fossasia/open-event-frontend#3199

Proposed addition to custom-forms field :

- Question Field : To let organisers add details about the custom question (String)
- IsCustomQuestion : To separate the default fields from these custom fields (Boolean)

[2019-06-27 07:05] ShridharGoel opened #6113 "Verification mail not being sent in development instance"
**Describe the bug**

Response received is fine:

[code]

But mail is not being sent.

[2019-06-27 11:26] CosmicCoder96 commented on #6113
@iamareebjamal Done.

[2019-06-27 11:26] #6113 closed

[2019-06-27 14:22] CosmicCoder96 opened #6114 "Bank Orders dated before May 23, 2019 have status of completed instead of placed"
This might be because frontend implemented the correct status logic recently. These past orders need some refactoring.

[2019-06-27 14:48] ShridharGoel opened #6115 "Wrong email verification link for development instance"
**Describe the bug**
`eventyay.com` link is being sent instead of `open-event-fe.netlify.com` for development instance.

[2019-06-27 14:55] CosmicCoder96 commented on #6115
Fixed.

[2019-06-27 14:55] #6115 closed

[2019-06-27 14:59] ShridharGoel opened #6116 "Enable ticketing for development instance"
**Describe the bug**
Ticketing is disabled for the development instance.

[2019-06-27 15:05] ShridharGoel commented on #6116
Fixed.

[2019-06-27 15:05] #6116 closed

[2019-06-27 16:35] #6097 closed

[2019-06-27 18:56] mariobehling opened #6119 "Order Invoice PDF not suitable for long names and addresses"
Long names and addresses in the order invoice PDF and going over the edge. Please improve the design of the invoice to be suitable for long names and addresses.

![Screenshot from 2019-06-27 20-44-46](https://user-images.githubusercontent.com/1583873/60292682-f8df5d00-991d-11e9-89b3-a0d1753b9690.png)

[2019-06-27 20:31] #6085 closed

[2019-06-28 04:49] liveHarshit commented on #6104
I'm getting following response after updating notification
[code]
With
[code]

Here
Body `notification.isRead` is true.

And the notification class -
[code]

[2019-06-28 04:53] uds5501 commented on #6104
@liveHarshit I am not really good at understanding this format .
[code]

but does it mean that `isRead` = `is-read` in the current context?

[2019-06-28 05:00] liveHarshit commented on #6104
yes

[2019-06-28 05:07] uds5501 commented on #6104
@liveHarshit
Wait. Doesn't this mean that you are passing `is-read=false` in your attributes? (If the response you sent was for this request itself)
Can you please check if making it `true` to the same object changes it's `is-read` status

[2019-06-28 05:13] mrsaicharan1 opened #6120 "Implement module to show paid, due and upcoming invoices"
**Is your feature request related to a problem? Please describe.**

This is a sub issue of #6101 .
 For the implementation of paying invoices, the organizer needs to be able to go through their paid, due and upcoming invoices. For this, currently there is no internal implementation. Helper functions are required.
Through this server side implementation, the FE integration can be expedited.

**Addi

[2019-06-28 05:14] liveHarshit commented on #6104
I have tried with creating a new object and pass it, same results -
[code]

[2019-06-28 06:16] mrsaicharan1 commented on #6120
EventBrite gives 30 days to pay invoices for events hosted on their platform.
https://www.eventbrite.com/support/articles/en_US/Troubleshooting/understanding-eventbrite-fee-invoices?lg=en_US
Will be implementing accordingly.

[2019-06-28 06:36] iamareebjamal commented on #6104
@liveHarshit Open Chrome DevTools through stetho and see what is going to the server rather than guessing

[2019-06-28 06:53] liveHarshit commented on #6104
@iamareebjamal Found the problem. It is taking `isRead` to `read` instead of `is-read` in Body.
![image](https://user-images.githubusercontent.com/27783786/60323365-7dbe8b00-999f-11e9-854c-ea921501a953.png)

[2019-06-28 06:58] liveHarshit commented on #6104
It should not happen with the ResourceConverter

[2019-06-28 07:01] iamareebjamal commented on #6104
Configure the Jackson settings correctly and it should work. Closing this issue

[2019-06-28 07:01] #6104 closed

[2019-06-28 07:17] #6107 closed

[2019-06-28 18:43] CosmicCoder96 commented on #6114
[code]
was run on server, after verifying there were no orders in statys other than completed for these payment modes.

[2019-06-28 18:43] #6114 closed

[2019-06-29 06:03] shreyanshdwivedi commented on #6007
@anhanh11001 Please post the response

[2019-06-29 06:06] iamareebjamal commented on #6007
And do it on the debug server

[2019-06-29 06:06] shreyanshdwivedi commented on #5988
It is not reproducible till now. Encountered correct error message twice this week

[2019-06-29 06:29] liveHarshit commented on #6038
@mrsaicharan1 What is the request payload?

[2019-06-29 08:32] anhanh11001 commented on #5961
@iamareebjamal I should implement it with Braintree with this documentation https://developer.paypal.com/docs/accept-payments/express-checkout/ec-braintree-sdk/server-side/python/, right?

I'm a bit confused because Paypal server integration for Android app tutorials/blogs,... I found are so various, some of them redirect to the documentation links which have been deleted

[2019-06-29 08:36] iamareebjamal commented on #5961
No, braintree is not supported on our server

https://github.com/fossasia/open-event-server/issues/5185

@anhanh11001 See the current implementation on the server, and coordinate with @liveHarshit to list what is missing/required and make appropriate changes

[2019-06-29 08:38] iamareebjamal commented on #5961
Braintree will be better if you can remove the limitation listed in the issue above

[2019-06-29 09:00] liveHarshit commented on #5961
Stripe configuration is accepting following payload request -
![image](https://user-images.githubusercontent.com/27783786/60381999-52f53500-9a7a-11e9-8c8b-e1a783400050.png)

So that we can charge a token after completing the payment.
But for PayPal it is -
![Uploading image.png…]()

And the response from PayPal Android SDK after successful payment-
[code]

[2019-06-29 09:03] liveHarshit commented on #5961
@iamareebjamal Do we have a live API key for PayPal?

[2019-06-29 09:21] iamareebjamal commented on #5961
That is not needed on Android I guess

[2019-06-29 09:25] liveHarshit commented on #5961
Required for PayPal Android SDK, according to the documentation: https://github.com/paypal/PayPal-Android-SDK/blob/master/docs/single_payment.md

[2019-06-29 11:55] anhanh11001 commented on #5961
So the guidance I read in blog posts and tutorials often start with let's say a shop A want to sell stuff, they create a Paypal account (containing client token) and then inside the app they put the token created. So user can make payment with that token, but only to the app. But we want to make payment with different Paypal users -> different token -> I haven't found a good solution for this.

Th

[2019-06-29 12:14] anhanh11001 commented on #5961
One solution I suggest is to create a pending order for the user, just like in the frontend. And then in the Android app, we will display a dialog to indicate that payment should be done in WebView, and we can redirect user to that by [BASE_URL}/orders/<order_identifier>/pending @liveHarshit

[2019-06-29 12:31] anhanh11001 commented on #6007
Sorry for not responding, I'll do it now and send the response

[2019-06-29 12:35] liveHarshit commented on #5961
Yes, It can be implemented until Braintree supports on the server.

[2019-06-29 12:39] anhanh11001 commented on #5961
Braintree was supported a year ago but it had to go as it doesn't support the kind of payment we need. So I'm not even sure if implementing Braintree into the server would help.

[2019-06-29 12:40] liveHarshit commented on #5961
It will not work currently as the user needs to login and after login, the page destroyed.

[2019-06-29 12:46] anhanh11001 commented on #5961
I think even Eventbrite doesn't have their Paypal integrated in their system as well. You can try to search for The Day Party with J.Cole in New York in Eventbrite. It is an event with Paypal payment method and it immediately redirects to the website when ordering ticket

[2019-06-29 12:53] liveHarshit commented on #5961
I'm not sure it is web view as PayPal is opening in the app itself. But sure that it is not PayPal Android SDK.

[2019-06-29 12:56] liveHarshit commented on #5961
Why this link. Can't we directly redirect to PayPal payment link?

[2019-06-29 12:59] liveHarshit commented on #5961
This event configuration is different. Please try with other paid event

[2019-06-29 13:08] iamareebjamal commented on #5961
Client ID is different from API key

[2019-06-29 13:08] mrsaicharan1 opened #6123 "Design Event Invoice Template"
**Is your feature request related to a problem? Please describe.**
Currently there is no template for event invoice. Please design one so that it can be rendered.
**Describe the solution you'd like**
Something similar to this, a basic design would do for now. No need of DRAFT in the back now. We can integrate it later.

<img width="569" alt="Screenshot 2019-06-29 at 6 36 37 PM" src="https://user-i

[2019-06-29 13:23] mrsaicharan1 opened #6124 "Implement function for event invoice calculation & invoice generation"
**Describe the feature**
To calculate event invoice and send it to the organizer, the event invoice needs to be calculated and scheduled for every 1st of the month. This can then be rendered onto an event invoice PDF and become available for the organizer.
A job can scheduled on the 1st of every month. The invoice generation function will be associated
with the job.
**Additional context**
Working

[2019-06-29 14:17] kushthedude commented on #6123
@mrsaicharan1 I think, Breaking every part of the invoice to different sub-issue will be better for reviewing and checking workflow.
If anyone wants to start work on it, Please open a sub-issue and proceed step-by-step.

[2019-06-29 14:36] prateekj117 commented on #6027
@uds5501 @kushthedude I am not able to face this issue, instead of going request to 'discount-code', the request goes to 'access-code', which makes me wonder what's the difference between them. The issue does not exist if there are two same 'access-codes' for different events.

[2019-06-30 06:33] shreyanshdwivedi commented on #6123
@mrsaicharan1 it would be great if you can make an outline having details of sub-issues so that we can start working by taking up a sub-issue

[2019-06-30 06:39] mrsaicharan1 commented on #6123
Sure, @shreyanshdwivedi .
Here is the list of sub-issues:

- Add Billing Addresses (To and From)
- Add Info regarding Eventyay service fees
- Add table for ticket sales and Gross Revenue(Total Revenue) and Net Revenue(Revenue after slashing eventyay fees)

[2019-06-30 06:41] kushthedude commented on #6123
@mrsaicharan1 Please an Basic Design outlet as another sub issue with
eventyay logo on top

On Sun, 30 Jun 2019 at 12:09 PM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-06-30 06:42] mrsaicharan1 commented on #6123
@kushthedude Please check the issue. I've already added it.

[2019-06-30 06:52] uds5501 commented on #6123
@mrsaicharan1 as far as the billing address is concerned, we can proceed after the merge of #6103. Correct?

[2019-06-30 06:53] mrsaicharan1 commented on #6123
Yup. The basic layout would be the best thing to go about first.

On Sun, 30 Jun 2019 at 12:22 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-06-30 15:33] prateekj117 commented on #6027
@iamareebjamal Your views on this?

[2019-06-30 20:12] shreyanshdwivedi opened #6125 "Buggy checks on session and role-invite and owner role"
**Describe the bug**

- If an organizer of an event tries to delete any user who has accepted role invite, then 422 error is produced - `Unprocessable Entity: "Only users can edit their own status"` on FE
This is due to a check on server -
[code]

- When the locked status is tried to be changed by organizer, error is raised.
`KeyError: event_id`
- missing owner from admin_statistics_api
- missing

[2019-07-01 06:25] uds5501 opened #6126 "Handle discount code logic on db level"
The discount code calculation should be done on database level queries.

Refer : https://github.com/fossasia/open-event-server/pull/6055#pullrequestreview-256064847

[2019-07-01 07:48] #6075 closed

[2019-07-01 09:48] mrsaicharan1 opened #6127 "Additional fields required for timezone & invoice sent out date"
**Is your feature request related to a problem? Please describe.**
Ref: https://github.com/fossasia/open-event-frontend/issues/3126
These need to be added for the FE form to work.

**Additional context**
working on it.

[2019-07-01 10:19] mrsaicharan1 opened #6128 "order_expiry_time migration error"
**Describe the bug**
The latest migration, `2c7ff9781032` had a bug where the server_default was supposed to be a string.

**Additional context**
Working on it.

[2019-07-01 13:32] #6128 closed

[2019-07-02 01:50] #6039 closed

[2019-07-02 04:29] mrsaicharan1 commented on #6123
@shreyanshdwivedi Can you design the basic layout for this? Would be great if someone could design the basic layout for this as this would serve as a crucial factor to save those PDFs and make them accessible to the organizer.

[2019-07-02 05:35] mrsaicharan1 opened #6132 "Unable to order multiple types of tickets at once"
**Describe the bug**
An order which is being placed with multiple types of tickets gives the following error:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to any event with paid & free tickets
2. Place an order with paid & free tickets
3. See error

**Expected behavior**
The order should go through

**Additional context**
Working on it.

[2019-07-02 07:03] shreyanshdwivedi commented on #6123
Sure. Will open a sub-issue and start working on it

[2019-07-02 07:48] iamareebjamal commented on #5988
https://travis-ci.org/fossasia/open-event-server/builds/553157177?utm_source=github_status&utm_medium=notification

[2019-07-02 07:57] shreyanshdwivedi commented on #5988
@iamareebjamal I saw correct error message in this travis failure -
`info: Hooks handler stderr: ERROR [root] Error: Multiple heads are present; please specify a single target revision`

[2019-07-02 08:24] iamareebjamal commented on #5988
That's not the point of the script. That's flask failure, unrelated to script. The script is meant to stop the build ASAP as it encounters multiple heads and not continue dredd tests and others

[2019-07-02 08:52] iamareebjamal opened #6134 "Client can create wrong status of an order"
https://github.com/fossasia/open-event-attendee-android/pull/2032

As a client, I should never be able to create a wrong status on an order.

For example, if the starting state of an order is 'initializing', client should not be able to set it as 'pending', or 'confirmed'. In fact, client should have minimal control over the order status, it should be automatically changed on backend depending on

[2019-07-02 08:53] shreyanshdwivedi commented on #6134
Will work on this

[2019-07-02 08:59] #6001 closed

[2019-07-02 10:23] #5857 closed

[2019-07-02 13:30] #6132 closed

[2019-07-02 14:11] kushthedude commented on #6134
@shreyanshdwivedi @iamareebjamal Correct me if I am wrong, We need to handle changing of order status on the server rather than FE?

[2019-07-02 14:44] #6106 closed

[2019-07-02 15:06] kushthedude commented on #5988
https://travis-ci.org/fossasia/open-event-server/builds/553303214?utm_source=github_status&utm_medium=notification
Occurred here too

[2019-07-02 15:53] iamareebjamal commented on #5988
Nope. That's failure during installing dredd

[2019-07-03 10:58] shreyanshdwivedi commented on #6134
@kushthedude I think yes, that is what I understood too

[2019-07-03 11:24] iamareebjamal commented on #6134
The FE may send a status to ease the process of change on the server, but it should never be assigned wrong status just because FE sent so

[2019-07-03 11:44] prateekj117 commented on #6034
@kushthedude Taking this due to inactivity.

[2019-07-03 11:54] kushthedude commented on #6034
@prateekj117 Sure, Please go ahead , Some Points :
- Revert the Old PR , Once yours is ready.
- Take care the zero amount is not created due to some discount code.

[2019-07-03 16:48] CosmicCoder96 opened #6137 "Make billing information mandatory for paid orders"

[2019-07-03 18:27] #6125 closed

[2019-07-04 06:12] #6127 closed

[2019-07-04 10:07] kushthedude commented on #6137
@CosmicCoder96 Wont this be handled in FE Validations ?

[2019-07-04 10:18] iamareebjamal commented on #6137
@kushthedude Handling anything on frontend is equivalent to handing a blank cheque with your signature to a thief and hoping he won't cash it. Seems like you missed my message a month back in the gitter channel about frontend validations === useless validations

[2019-07-04 14:23] liveHarshit commented on #6094
Solved

[2019-07-04 14:57] iamareebjamal commented on #6094
How?

[2019-07-04 15:07] liveHarshit commented on #6094
Already there-
![image](https://user-images.githubusercontent.com/27783786/60676025-73b6f380-9e9b-11e9-8250-3c0f6ed65910.png)

[2019-07-04 15:07] iamareebjamal commented on #6094
Umm, you'll load all tickets to find min and max count?

[2019-07-04 15:46] liveHarshit commented on #6094
I've created a class with price and Id but I'm getting zero price for all tickets: PR https://github.com/fossasia/open-event-attendee-android/pull/2066

[2019-07-04 18:12] shreyanshdwivedi opened #6141 "Discrepancies in cancelling order"
**Describe the bug**

- The `send_notif_ticket_cancel` function is having missing fields in the body
- The check applied in `before_update_object` in `app/api/orders.py` is incorrect
  Reason: `getattr(order, element, None)` has different output than that of `data[element]`

**To Reproduce**
Steps to reproduce the behavior:
1. Order from a different account than that of the organizer
2. Go to `Man

[2019-07-05 05:40] mrsaicharan1 opened #6143 "Schedule Order Expiry with APschedudler instead of celery"
**Is your feature request related to a problem? Please describe.**

Currently, order expiry is a celery task and it becomes very tedious to debug info related to it as the server runs successfully in spite of an error related to it(because celery may/may not be running). APScheduler guarantees that it's scheduling the task. If the server is running, APS is also running & it stays synchronised with

[2019-07-05 09:03] mrsaicharan1 commented on #6018
@iamareebjamal I've tried the solutions but alas, the black dot icon still remains. :/

[2019-07-05 09:35] mrsaicharan1 commented on #6143
Order expiry is actually tied to an APS task itself. I guess this is not persistent. Closing it therefore.

[2019-07-05 09:35] #6143 closed

[2019-07-05 10:07] iamareebjamal commented on #6143
?

[2019-07-05 10:08] mrsaicharan1 commented on #6143
Order expiry is an APScheduler task. That's what I meant to say. But do you think we need this for other tasks such as sending emails and downloading images?

[2019-07-05 10:13] iamareebjamal commented on #6018
OK, go ahead with what was planned

[2019-07-05 10:13] iamareebjamal commented on #6143
No, just confused about what is not persistent? Does the task of expiry not persist on server restart for APS Scheduler?

[2019-07-05 10:16] mrsaicharan1 commented on #6143
@iamareebjamal I haven't confirmed that part. I will check it out.

[2019-07-05 10:19] mrsaicharan1 opened #6144 "Implementation of a route to serve Event Invoices"
**Is your feature request related to a problem? Please describe.**
An event invoice should be served over a route which allows only the organizer to access their respective event invoices.

**Describe the solution you'd like**
Similar to tickets & order invoice serving.

**Additional context**
Working on it.

[2019-07-05 10:19] mrsaicharan1 commented on #6144
@shreyanshdwivedi As soon as I've implemented this, you can test your basic layout for the event invoice PDF template written in Jinja :)

[2019-07-05 13:09] CosmicCoder96 opened #6147 "Deleted Event Restoration fails"
[code]

[2019-07-06 05:49] #6018 closed

[2019-07-06 08:04] shreyanshdwivedi opened #6149 "feedback query always returns all the feedbacks"
**Describe the bug**

Currently, there is no filter in the `query` method of `FeedbackList` in `app/api/feedbacks.py`.
Query should be introduced to fiter the feedbacks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/events/<int:event_id>/feedbacks` or `/users/<int:user_id>/feedbacks` or `/events/<event_identifier>/feedbacks` or `/sessions/<int:session_id>/feedbacks` in postman
2. Se

[2019-07-06 23:59] #5653 closed

[2019-07-07 06:29] prateekj117 commented on #5875
@iamareebjamal Let's close this issue.

[2019-07-07 07:08] #5875 closed

[2019-07-07 07:10] #6149 closed

[2019-07-07 09:08] ShridharGoel opened #6151 "Update password reset email to include token additionally"
Add token separately also so that it can be easily copied by mobile users:

https://github.com/fossasia/open-event-organizer-android/issues/578#issuecomment-508980043

[2019-07-07 09:09] prateekj117 commented on #6151
@ShridharGoel On it.

[2019-07-07 12:25] sidmttl commented on #6038
@prateekj117 could i be assigned this issue? i would like to work on this issue.

[2019-07-07 12:25] prateekj117 commented on #6038
@sidmttl Go ahead.

[2019-07-07 15:01] shreyanshdwivedi opened #6152 "User with organizer or coorganizer role can delete other roles too"
**Describe the bug**

Currently, a user with coorganizer access to an event can delete other organizers/coorganizers/owners too. But the user should be allowed to delete users with roles smaller than the user itself.

**Expected behavior**

User should be able to delete another user (having a role in the event), only if the user

**Additional context**

On it

[2019-07-07 19:57] shreyanshdwivedi opened #6153 "No hard delete for feedback"
**Describe the bug**

Currently there is hard delete for feedback. When a user sets his/her rating to 0 again, the feedback of the user should be removed completely from the db.
This issue needs to be solved to merge https://github.com/fossasia/open-event-frontend/pull/3198

**Expected behavior**

When the user clears his/her rating (i.e. sets it to 0 again), the feedback must be removed.

**Addit

[2019-07-07 20:20] iamareebjamal commented on #6153
Don't understand why is there a need of hard delete?

[2019-07-07 20:23] shreyanshdwivedi commented on #6153
Actually currently when user sets its rating to 0 again, I destroyed the record on frontend by - `feedback.destroyRecord()` but it is only setting rhe deleted_at to 0.
The feedback is still in db and messes up with avg rating and number of ratings

[2019-07-07 21:12] iamareebjamal commented on #6153
Then fix the queries of average rating and number of ratings

[2019-07-07 21:18] shreyanshdwivedi commented on #6153
One more case - suppose user again rates the session, then their will be similar entries in db - same user, same session. Even if I fix the queries for avg rating and number of ratings, these similar entries will exist.
Also, we soft delete event, user etc so that they can be restored later but I don't think any such purpose is required in case of feedback. That's why I thought of hard delete.
How

[2019-07-07 21:22] iamareebjamal commented on #6153
OK, go ahead with hard delete

[2019-07-08 07:37] #6120 closed

[2019-07-08 07:37] #6124 closed

[2019-07-08 08:45] ShridharGoel commented on #6152
In my opinion, either only owner should have the access to create/delete roles or only owner and organizers should have that access, with organizers being allowed to create/delete roles except that of owner.

[2019-07-08 09:32] mrsaicharan1 opened #6155 "Ticket attachments for attendee emails are not working."
**Describe the bug**
After adding support for multi attendee ticket downloads, the storage path was changed. Due to this, the tickets weren't being attached. Ergo, the email wasn't being sent.

**Reference**
The key was changed in this PR. https://github.com/fossasia/open-event-server/pull/6095
**To Reproduce**
Steps to reproduce the behavior:
1. Place any order
2. Email is not sent

**Expected be

[2019-07-08 09:38] mrsaicharan1 commented on #6155
@uds5501 @shreyanshdwivedi @iamareebjamal This should fix the email `FileNotFoundError`

[2019-07-08 13:30] CosmicCoder96 opened #6157 "Users with invalid email address have been found on production DB"
This crashes the users route of admin.

[2019-07-08 14:20] CosmicCoder96 commented on #6157
[code]
Was used to fix this.

[2019-07-08 14:20] #6157 closed

[2019-07-08 17:07] kushthedude opened #6158 "Event Export: Celery export tries to access SMTP Configs"
**Describe the bug**

Event Export tries to access SMTP Configs

**To Reproduce**

Steps to reproduce the behavior:

- Don't fill SMPT Configs.
- Try Export Event, See Stack Trace

**Expected behaviour**

It should not access SMTP

**Stacktrace**

[code]

**Additional details (please complete the following information):**
 - OS: MacOS
 - Python Version 3.7

[2019-07-09 03:41] uds5501 opened #6162 "Implement order route for re-sending order confirmation mails"
Add a route for implementing re-sending  the order confirmation emails for completed and placed orders.

Handling it in the following way :
- Only Organiser / Co-organiser are allowed to resend the email
- Only completed and placed orders emails should be sent otherwise an error should be thrown

[2019-07-09 17:18] #6153 closed

[2019-07-09 21:52] #5890 closed

[2019-07-10 04:33] mrsaicharan1 opened #6165 "Scheduled task for marking event invoices as Due"
**Sub feature Description**
For event invoices, as soon as the invoice becomes 30 days old from issued date, it should be marked as due.

Parent Issue: #6101

**Additional context**
Working on it

[2019-07-10 04:37] mrsaicharan1 commented on #6158
Will work on this.

[2019-07-10 04:42] mrsaicharan1 commented on #6076
This issue has been resolved through this commit.
https://github.com/fossasia/open-event-server/commit/47363b945513deae47d50530211e11d97cb19b50

[2019-07-10 04:42] #6076 closed

[2019-07-10 07:30] ShridharGoel opened #6167 "Internal server error during email verification"
Error when a wrong token is used for email verification.

POST `/v1/auth/verify-email`
[code]

Response for `https://open-event-api-dev.herokuapp.com`:
[code]

Response for `https://api.eventyay.com`:
[code]

[2019-07-10 09:44] iamareebjamal commented on #6167
This is on dev server? Please post complete URL and payload. How else will we reproduce the error?

[2019-07-10 10:17] ShridharGoel commented on #6167
Updated.

[2019-07-10 11:35] James7777 opened #6168 "API implementation for Token Refresh"
**Is your feature request related to a problem? Please describe.**

There is currently an issue in both apps(attendee and organizer) when the token expires, the user is asked to re-login, this is not good for user experience.

**Describe the solution you'd like**

Token refresh should happen under the hood using the existing expired token.

**Describe alternatives you've considered**

Two options;

[2019-07-10 13:22] #6165 closed

[2019-07-10 13:41] iamareebjamal commented on #6168
For server, it doesn't matter the approach client takes. That detail is to be discussed on client repo. For now, long life refresh tokens are to be granted if the request payload contains `remember-me` as true. If the client is mobile, it'll be granted the refresh token in response JSON itself. In case of web, it'll be sent using HttpOnly and secure cookie to protect from XSS attacks. This will st

[2019-07-10 14:20] James7777 commented on #6168
Sounds like a good plan, thanks iamareebjamal

[2019-07-10 14:50] mrsaicharan1 commented on #6167
I'd like to work on this.
For now, I've tried reproducing it locally and it's the `binascii` error.
`binascii.Error: Incorrect padding`
Usually, this error occurs when the length of the base64 encoded string is not divisible by 4. We usually add padding by appending `==` or `====` to enable divisibility by 4.
But the problem is that the encoded string's length is 168. Any pointers on this? @shreya

[2019-07-10 15:40] iamareebjamal commented on #6168
Will be done within fortnight hopefully

[2019-07-10 16:21] #6151 closed

[2019-07-10 16:31] liveHarshit opened #6169 "Make payment option mandatory for ogranizer"
**Describe the bug**
Make payment option mandatory for organizer while creating paid events.

[2019-07-10 16:37] mrsaicharan1 commented on #6169
Will do this.

[2019-07-10 17:07] liveHarshit opened #6170 "Incomplete data while fetching custom forms"
Fields for name and email are missing while they are required, cannot be edited by organizer also.

Request:
![image](https://user-images.githubusercontent.com/27783786/60989241-073c6880-a363-11e9-9c15-2e451fb3ffd5.png)

Response:
[code]

[2019-07-11 01:53] kushthedude opened #6171 "Accounts: Profile Picture not getting updated"
**Describe the bug**

Profile Picture not getting updated

**To Reproduce**

Steps to reproduce the behavior:

- Try to change your `Profile Image` in `Accounts`

**Expected behavior**

Should be done without any issue.

**Stacktrace**

[code]

[2019-07-11 07:32] iamareebjamal commented on #6167
Any invalid base64 string throws this exception, it should be handled and response sent that it is an invalid token

[2019-07-11 08:10] uds5501 opened #6173 "Allow admin to soft delete orders"
To include an order table in admin section, the admin needs to  have access to delete any order

[2019-07-11 09:27] ShridharGoel opened #6174 "Wrong links of images when fetching user details in development instance"
**Describe the bug**

GET `/v1/users/{user_id}`

Response contains wrong URLs of images, starting with `http://localhost/static/media/users/`.

Issue exists only for the development instance. Correct links are received for the production instance.

**Expected behavior**

Links should start with `https://open-event-api-dev.herokuapp.com/static/media/users/`.

[2019-07-11 09:51] ShridharGoel opened #6175 "Error when trying to accept role invitation in production instance"
**Describe the bug**
Error when trying to accept role invitation in production instance:

[code]

[2019-07-11 10:22] iamareebjamal commented on #6175
Please specify prod or dev

[2019-07-11 10:39] ShridharGoel commented on #6175
Updated. I thought the issue would be in both but it's there only in the production instance.

[2019-07-11 14:46] #6169 closed

[2019-07-11 20:50] shreyanshdwivedi commented on #6174
@ShridharGoel where is this data you are fetching from?

[2019-07-11 21:03] CosmicCoder96 opened #6177 "Organizer/co-organizer/owner cannot delete expired orders"
403: Cannot update deleted-at of an order.

[2019-07-11 21:11] ShridharGoel commented on #6174
@shreyanshdwivedi Are you taking about the endpoint? I've already mentioned it in the issue.

[2019-07-11 21:18] shreyanshdwivedi commented on #6174
@ShridharGoel not endpoint. Actually what is the url of server which you're fetching it from? Just wanted to check once where problem could reside

[2019-07-11 21:38] CosmicCoder96 opened #6179 "Owner unable send any role invite"
403: Organizer access is required.

[2019-07-11 21:43] iamareebjamal commented on #6174
open-event-api-dev.herokuapp.com

[2019-07-11 21:47] iamareebjamal commented on #6177
Duplicate of #6173?

[2019-07-11 22:24] shreyanshdwivedi commented on #6179
@CosmicCoder96 I just sent successful role invite. Can you please give more info like what was the role u are inviting?
[code]

[2019-07-11 22:24] CosmicCoder96 commented on #6179
The database had given the owner role to someone other than the creator of the event for nextcloud event. Not sure if it's a trend and migrations were wrong, or if they were indeed created by someone, else. Have manually updated the production Db user event roles table for now.

[2019-07-11 22:25] CosmicCoder96 commented on #6179
Actually letting it remain open, need to check for some other events which were created on legacy server, and imported here.

[2019-07-11 22:36] #6177 closed

[2019-07-11 23:33] CosmicCoder96 opened #6181 "Coorganizer and owners can't download tickets, invoices"
Current config only allows the organizer role to download the tickets

[2019-07-11 23:58] #6181 closed

[2019-07-12 02:03] mrsaicharan1 commented on #6174
@shreyanshdwivedi I'll take a deeper look into this.

[2019-07-12 08:19] James7777 commented on #6168
Thank you so much guys for this project

[2019-07-12 10:05] #6034 closed

[2019-07-12 13:38] liveHarshit opened #6185 "Docs: Update order expiry time Admin Only tag"
![image](https://user-images.githubusercontent.com/27783786/61132155-6c659a80-a4d8-11e9-9ef9-dd61e681c69e.png)

https://github.com/fossasia/open-event-attendee-android/pull/2104#discussion_r302898824

[2019-07-12 13:40] shreyanshdwivedi commented on #6185
On it

[2019-07-12 13:51] shreyanshdwivedi commented on #6185
@liveHarshit I can retrieve `order-expiry-time` even without login
This is the code -
[code]
And `SettingSchemaPublic` has `order_expiry_time`.
If you go to your browser and hit url - `http://localhost:5000/v1/settings` then alo you can view `order-expiry-time` in the response (keep server up and running).
I think you're not using dev branch. Please take a look and let me know if you still face an

[2019-07-12 13:55] liveHarshit commented on #6185
@shreyanshdwivedi Yes I'm also able to get through the browser, will check again the implementation in Android. Now the docs need to be update. :+1:

[2019-07-12 13:55] shreyanshdwivedi commented on #6185
Will update the docs :)

[2019-07-12 15:32] prateekj117 commented on #6171
Not facing this issue. @uds5501 @mrsaicharan1 @shreyanshdwivedi Are you able to reproduce it locally?

[2019-07-12 16:00] prateekj117 commented on #6171
Ok, turns out I am not able to update profile picture from `non-null` to `null`

[2019-07-12 16:12] mrsaicharan1 commented on #6171
@kushthedude @prateekj117 Works fine in all cases.

[2019-07-12 16:14] prateekj117 commented on #6171
@mrsaicharan1 Have you tried with open-event-frontend? Change avatar from `non-null` to `null`.

[2019-07-12 16:14] mrsaicharan1 commented on #6171
Yes

[2019-07-12 16:18] kushthedude commented on #6171
Will check again and not ,will close the issue

On Fri, 12 Jul 2019 at 9:44 PM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-07-12 16:38] mrsaicharan1 commented on #6171
So, I've checked again. This is happening by chance. Sometimes it's happening, sometimes it isn't so let's keep it open.

[2019-07-12 16:39] kushthedude commented on #6171
Was the stacktrace same @mrsaicharan1 ?

[2019-07-12 17:20] kushthedude commented on #6185
Why does the client need to see expiry-time?

[2019-07-12 17:48] iamareebjamal commented on #6185
To show to the user

[2019-07-12 17:48] #6144 closed

[2019-07-12 22:31] #6162 closed

[2019-07-13 03:58] anhanh11001 commented on #6094
@liveHarshit I'm reopening this as I think I can take this issue up, then we would have a better solution in Android

[2019-07-13 05:26] kushthedude commented on #6093
Will be taking a look into it

[2019-07-13 09:13] iamareebjamal opened #6187 "Lowercase email migration not being called"
For some reason, migration 7bb5891a9f2e_lowercase_email.py is not being called on new db creations, that is why the citext extension wasn't created and devs were encountering errors

This would most probably be due to some merge conflict and erroneous linking to previous migration. In this way, multiple migrations may have been knocked out of the chain.

This was called on production DB, so we nee

[2019-07-13 09:19] prateekj117 commented on #6027
@uds5501 @iamareebjamal @mrsaicharan1 Here the problem is, we query discount code only by its name, and event_id is not passed in params.
So there is no way to query it using event. What should be the way to go about it?

[2019-07-13 09:24] iamareebjamal commented on #6027
Paste the query here

[2019-07-13 09:26] prateekj117 commented on #6027
@iamareebjamal
`discount = db.session.query(DiscountCode).filter_by(code=kwargs.get('code'), deleted_at=None).first()`

[2019-07-13 09:27] iamareebjamal commented on #6027
The query browser is making

[2019-07-13 09:28] prateekj117 commented on #6027
@iamareebjamal I checked the kwargs, event_id is not being passed from frontend as well.

[2019-07-13 09:29] kushthedude commented on #6027
?

[2019-07-13 09:36] iamareebjamal commented on #6027
@prateekj117 That's why I asked, what query is coming from frontend?

[2019-07-13 18:54] prateekj117 commented on #6027
@iamareebjamal
![Screenshot from 2019-07-14 00-22-52](https://user-images.githubusercontent.com/31065687/61175469-a19fe480-a5cd-11e9-8909-849162095017.png)

[2019-07-13 19:09] prateekj117 commented on #6167
@mrsaicharan1 May I take this one?

[2019-07-13 19:19] iamareebjamal commented on #6027
Change the access code accessor to /event/<id>/access-code/<access-code-id> as it should have been

Change to be done in both server and client.

This is a high priority change. So don't take a lot of time please

[2019-07-13 22:49] shreyanshdwivedi commented on #6152
So, only users with organizer access can create events. The only problem lies with the delete function. Creating a PR for it

[2019-07-14 00:45] prateekj117 commented on #6170
@liveHarshit On it.

[2019-07-14 05:30] kushthedude commented on #5871
@iamareebjamal @CosmicCoder96 Why is this problem is only present for `Manage Events List` ? There are many other places where query already filters out Deleted Tickets ?

[2019-07-14 07:47] uds5501 commented on #4624
Moved over to the next version, no longer valid

[2019-07-14 07:47] #4624 closed

[2019-07-14 07:49] #6072 closed

[2019-07-14 07:59] sundarrinsa commented on #4624
Any swag will be awarded for reporting the issue.

On Sun, Jul 14, 2019, 13:17 Uddeshya Singh <notifications@github.com> wrote:

[2019-07-14 08:16] CosmicCoder96 opened #6191 "Propose and Implement a schema for complex custom forms"
Current custom forms are really restricted, and rigid. Only text fields are available, along with hardcoded dropdowns. Further, the user is only able to select from among the hardcoded fields and toggle them on/off for his/her event.

We already have the framework to associate simple custom fields with individual events or orders, and an API to create them. The custom forms schema needs to be now

[2019-07-14 23:26] shreyanshdwivedi commented on #6147
@CosmicCoder96 this check was implemented on event schema to avoid any event to have invalid dates.
What exactly do we need to fix this issue? As the check is on the schema, we cannot simply remove it for a few cases and apply it for other cases.

[2019-07-15 03:50] mrsaicharan1 commented on #6123
@shreyanshdwivedi Could you start off with the basic layout? Would be helpful to test the event invoice functionality as a whole :)

[2019-07-15 05:23] kushthedude commented on #6123
@shreyanshdwivedi If you are busy, May I take care of it ?

[2019-07-15 07:13] mrsaicharan1 opened #6193 "Add integration tests for event invoice functions"
**Describe the bug**
Parent issue #5320

**Additional context**
Working on it.

[2019-07-15 23:22] shreyanshdwivedi commented on #6123
@kushthedude yeah please go ahead. I'm working on other bugs currently

[2019-07-16 00:14] #6152 closed

[2019-07-16 03:16] kushthedude commented on #6123
Cool

On Tue, 16 Jul, 2019, 04:52 Shreyansh Dwivedi, <notifications@github.com>
wrote:

[2019-07-16 04:04] mrsaicharan1 opened #6195 "Add Foreign keys to Invoice model"
**Is your feature request related to a problem? Please describe.**
Currently, Event Invoice does not link to an order. This should be linked as it would  help in the integration of invoice payments with the order workflow

**Additional context**
Working on it.

[2019-07-16 07:21] kushthedude opened #6197 "Design Skeleton for Event Invoice Template"
Parent Issue: #6123

[2019-07-16 07:47] iamareebjamal commented on #6195
Now that I think of it, this will require change in every query where Order is used and in relationship as well. This will be a no go. Please create a new table for it and add order as foreign key, which will both save the work and not break existing code

Reverting the PR

[2019-07-16 07:49] mrsaicharan1 commented on #6195
@iamareebjamal Yes, I was dubious about this because of this. Event Invoice table is already present so I'll just use it.

[2019-07-16 09:53] mrsaicharan1 commented on #6195
@iamareebjamal Just a question. The orders would still have to be recorded onto the Order model right?
Wouldn't it interfere in every query where Order is used(as this order is payment for event invoice)?

[2019-07-16 10:49] iamareebjamal commented on #6195
Why will order be inserted? It'll already be there in the table, right?

[2019-07-16 11:26] liveHarshit opened #6201 "Enable stripe in dev instance"
Not able to configure stripe for debug server

[2019-07-16 11:34] kushthedude opened #6202 "Events without name can be published"
Disable publishing of event without a name .

[2019-07-16 16:25] #6202 closed

[2019-07-17 05:00] mrsaicharan1 opened #6205 "Server endpoints for Events & related attributes check"
**Is your feature request related to a problem? Please describe.**
There should be an endpoint which tells if various components of an event are available. For instance, if sessions or tickets are available. Currently, just to check if sessions or tickets exist, a significant number of them are loaded from the backend which ruins the performance of frontend.

**Describe the solution you'd like**
E

[2019-07-17 06:36] shreyanshdwivedi commented on #6170
@prateekj117 any updated?

[2019-07-17 06:37] shreyanshdwivedi commented on #6094
@anhanh11001 any update?

[2019-07-17 06:39] shreyanshdwivedi commented on #6059
@kushthedude are you working on it? If you are into designing invoice template, can I take this up?

[2019-07-17 06:40] kushthedude commented on #6059
That would be great

On Wed, 17 Jul, 2019, 12:09 Shreyansh Dwivedi, <notifications@github.com>
wrote:

[2019-07-17 06:41] shreyanshdwivedi commented on #6007
@anhanh11001 please post the response so that we can move forward if this issue doesn't persist now.

[2019-07-17 07:11] #6167 closed

[2019-07-17 09:46] uds5501 commented on #6147
@shreyanshdwivedi How about we ignore the test for deleted events?

[2019-07-17 15:47] prateekj117 commented on #6170
@shreyanshdwivedi Will make a PR by tomorrow. Working on some other issues rn.

[2019-07-17 22:43] #6195 closed

[2019-07-18 04:59] anhanh11001 commented on #6007
It's still failling. Here is my request:
`    {"data":{"type":"session","attributes":{"title":"vvg","language":"","short-abstract":"","comments":""},"relationships":{"event":{"data":{"type":"event","id":"23"}},"track":{"data":{"type":"track","id":"7"}}}}}
`

[2019-07-18 05:00] anhanh11001 commented on #6007
Here is the response and the log, it is pretty long, please take a look
[code]

[2019-07-18 05:01] anhanh11001 commented on #6007
@shreyanshdwivedi does this mean that I have to specify the time of the session as well? If so then I think you can close this issue now, as I have figured out the problem and I'll fix in the client side?

[2019-07-18 05:05] anhanh11001 commented on #6007
But it is kinda weird that if a speaker needs to include the specific date/time when sending a proposal. They aren't even sure if they are accepted,

[2019-07-18 07:30] iamareebjamal commented on #6007
No this issue shouldn't be closed. Server should throw proper error if a required key is missing. Not a 500

[2019-07-18 08:40] prateekj117 commented on #6170
@shreyanshdwivedi @uds5501 @mrsaicharan1 I tried, didn't face this issue. Can you try as well? Also, @liveHarshit can you please see if I am missing something here.
![Screenshot from 2019-07-18 14-07-43](https://user-images.githubusercontent.com/31065687/61442587-86363000-a965-11e9-87cf-887682453ad4.png)

[2019-07-18 08:47] iamareebjamal commented on #6170
Try on prod or dev

[2019-07-18 08:48] prateekj117 commented on #6170
@iamareebjamal Tried on dev.

[2019-07-18 09:12] mrsaicharan1 commented on #6158
@kushthedude I've taken a look at this and found out that the issue is corresponding to the export mail which is being sent out. So, basically, the whole thing fails when the mail fails to get delivered. I'll fix that to make sure that the event is exported even though the mail service fails.

[2019-07-18 09:38] kushthedude opened #6210 "Event Wizard: Require Tickets before Event Publishing"
See https://github.com/fossasia/open-event-frontend/issues/2482

Make sure `Event` has tickets available before ` Publishing`

[2019-07-18 10:19] liveHarshit commented on #6170
Name and email are missing for event id: 910, But it's working for other events. I think field for name and email are mandatory for the user?

[2019-07-18 23:03] CosmicCoder96 opened #6212 "Nextcloud session throws a 500 error on visiting"
Nextcloud session throws a 500 error on visiting

https://eventyay.com/events/70d8ad61/sessions/5344

[2019-07-19 01:58] kushthedude opened #6213 "Event Export: Download Link points to localhost on production"
After `Event Export` is done, The download link points to `localhost:`.

![image](https://user-images.githubusercontent.com/44091822/61503875-ef19b880-a9f6-11e9-9142-c526a6af0291.png)

[2019-07-19 02:29] mrsaicharan1 commented on #6213
Will fix this

[2019-07-19 05:37] mrsaicharan1 opened #6214 "Event Export always has localhost in file path(any environment)"
**Describe the bug**
When you export an event, the file path always contains localhost as a part of it regardless of the environment.

**Screenshot**
<img width="1279" alt="Screenshot 2019-07-19 at 10 49 12 AM" src="https://user-images.githubusercontent.com/25197147/61511761-68280880-aa15-11e9-9635-53e215dd58bb.png">

[2019-07-19 09:26] prateekj117 commented on #6170
@iamareebjamal Let's close this in that case. @liveHarshit Yes, they are compulsory. No idea how they are missing for a particular event. Nothing wrong with the server code though, AFAIK.

[2019-07-19 09:48] shreyanshdwivedi commented on #6147
@uds5501 actually when the event is restored, a PATCH request is sent which updates the deleted-at to null again and so when these values are passed to schema, we cannot know if the event was deleted or not.
One thing we can do is update the event start and end time to current time while restoration.
Should I follow this approach? @iamareebjamal @uds5501

[2019-07-19 09:58] iamareebjamal commented on #6147
Why can't we just only check dates if event is being created/ or dates are being updated

[2019-07-19 09:59] iamareebjamal commented on #6170
No, this needs to be mandatory for every event. So, this is a bug in server

[2019-07-19 10:07] shreyanshdwivedi commented on #6147
Actually the check is on schema and it is validated automatically for any update. @iamareebjamal

[2019-07-19 10:09] prateekj117 commented on #6170
@iamareebjamal Ok. I noticed it was mandatory on frontend, will handle the server condition.

[2019-07-19 10:12] kushthedude commented on #6213
@mrsaicharan1 Is the issue you created is its replica?

[2019-07-19 10:13] mrsaicharan1 commented on #6213
This is a bit different than the other one

On Fri, 19 Jul 2019 at 3:42 PM, Kush Trivedi <notifications@github.com>
wrote:

[2019-07-19 10:14] kushthedude commented on #6213
So this means the recent PR don't solves this.

[2019-07-19 10:14] mrsaicharan1 commented on #6213
It does.

On Fri, 19 Jul 2019 at 3:44 PM, Kush Trivedi <notifications@github.com>
wrote:

[2019-07-19 10:19] shreyanshdwivedi commented on #6007
@anhanh11001 I think you missed `id` in the request data. Please include id and try.
I used your request data and added `id`. It worked
[code]
My request data ^^

[2019-07-19 10:19] iamareebjamal commented on #6147
So there is no way to see if the entity is being created or updated?

[2019-07-19 10:23] shreyanshdwivedi commented on #6147
I haven't found a way to know if the event is being created or updated.
The data which is being passed to `validate_date` while restoration-
[code]
I didn't find any relevant key to know if the event is created or updated.

[2019-07-19 11:19] CosmicCoder96 commented on #6147
updated.
Before update, after update , before create, after create hooks? What do
you mean?

[2019-07-19 11:58] shreyanshdwivedi commented on #6147
@CosmicCoder96 I meant that the schema check which is implemented, it has no way to know if the event is being created or updated. It works automatically and we don't call it explicitly.

[2019-07-19 12:02] iamareebjamal commented on #6147
Then please delete the schema check and add programmatic check

[2019-07-19 17:07] anhanh11001 commented on #6007
Yes, my bad, PATH request was working fine, request I mentioned above was POST request to create a proposal but I also figured it out the way to make it works now as well, so there is no problem in the client-side now.

[2019-07-19 17:40] #6007 closed

[2019-07-19 19:28] uds5501 commented on #6212
@CosmicCoder96 stack trace?

[2019-07-19 20:01] #6059 closed

[2019-07-20 01:24] CosmicCoder96 commented on #6212
Fixed in the production DB. Between the releases, before validations were reinstated, an invalid github URL for a speaker was present.

[2019-07-20 01:24] #6212 closed

[2019-07-20 17:21] cclauss opened #6221 "empty_string() needs a rewrite"
**Describe the bug**

https://github.com/fossasia/open-event-server/blob/development/app/api/helpers/utilities.py#L28-L34 is exceedingly convoluted, does `__type(x)__` compares contrary to PEP8, and contains several logic errors.  A code review of this function would be a worthwhile effort.  Some `__doctests__` would really be helpful here.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2019-07-20 18:57] iamareebjamal commented on #6221
Yup. it was created when Python 2 to 3 migration/compatibility was needed

[2019-07-20 19:02] iamareebjamal commented on #6221
There are unit tests. The behaviour is flaky though. None should return True, it is returning False

https://github.com/fossasia/open-event-server/blob/ff408e557f6ff12e37e72a5201d110d589ce50e3/tests/all/integration/api/helpers/test_utilities.py#L32

[2019-07-20 19:19] cclauss commented on #6221
Perhaps add a few more tests for clarity:
[code]

[2019-07-20 19:23] cclauss commented on #6221
self.assertTrue(string_empty('\t  \n'))  # <tab><space><return

[2019-07-20 19:24] cclauss commented on #6221
Does this codebase still support Python 2 or not?

[2019-07-20 19:30] cclauss commented on #6221
From README.md it looks like legacy Python can be dropped so:
[code]

[2019-07-20 20:14] iamareebjamal commented on #6221
[code]

[2019-07-21 08:20] #6027 closed

[2019-07-21 18:23] mrsaicharan1 opened #6223 "Move all unit tests to the appropriate directory"
**Describe the issue**
Currently, unit & integration tests are being perceived as the same kind & put into one directory together. Segregation is required for this.

**Expected Behaviour**
Tests should be moved to appropriate places

**Additional context**
Working on it

[2019-07-22 04:48] npettiaux opened #6224 "Translation of the interface to French and Flemish"
I need, to respect the will of the sponsors as well as our attendees to have the interface completely translated to both French and Flemish as soon as possible. The event we deal with is 954136a on September 27.

We are ready to help with the translation itself.

Much thanks for your consideration

[2019-07-22 06:04] mrsaicharan1 commented on #6224
I'll work on this.

[2019-07-22 06:11] npettiaux commented on #6224
Much thanks. As soon as you have .po file or other files that we (= me and my team) can translate to French first then to Dutch/Flemish, we'll start. Even one file at a time or part of such.

[2019-07-22 06:12] npettiaux commented on #6224
Indeed this is a front-end issue. The most important one is on the server side. Then on the web-app and the fdroid app as well.

[2019-07-22 07:33] #6221 closed

[2019-07-23 13:29] sameshl commented on #6185
@iamareebjamal I want to take this up but I don't exactly understand what I have to do here. Should i change `Yes` to `No` in the tab?

[2019-07-23 13:38] kushthedude commented on #6185
@sameshl Feel free to solve the issue.

[2019-07-23 13:39] sameshl commented on #6185
@kushthedude I have to only change the tab value from `Yes` to `No` right?

[2019-07-23 13:45] sameshl commented on #6038
I didn't find `/v1/auth/verify-email` in docs https://open-event-api.herokuapp.com/. Also, I did not find link to server docs? If anyone can help me in that regard, that will be great.

[2019-07-23 14:01] liveHarshit commented on #6038
Check https://open-event-api-dev.herokuapp.com/

[2019-07-23 14:10] kushthedude commented on #6185
Yes ,I think so

On Tue, 23 Jul, 2019, 19:09 Samesh Lakhotia, <notifications@github.com>
wrote:

[2019-07-23 16:18] mrsaicharan1 commented on #6036
@uds5501 Would you like to take this up?

[2019-07-23 16:38] kushthedude commented on #6036
Yeah it would be great if someone could help with Server side , I have
already done the FE using ember g captcha on the local

On Tue, 23 Jul, 2019, 21:48 Saicharan Reddy, <notifications@github.com>
wrote:

[2019-07-23 16:55] uds5501 commented on #6036
@kushthedude I don't think ember g captcha is gonna cut it.
Please take a look at the link @iamareebjamal  provided and check if we can merge the steps given in this resource.

[2019-07-23 17:58] #6185 closed

[2019-07-24 00:29] yitzikc opened #6232 "URL in ticket confirmation mail is hardcoded to eventyay.com"
The ticket-purchased and ticket-cancelled message templates have the phrase '.Login to manage your orders at https://eventyay.com' hardcoded.

**Affected Version**
Backend 1.3.0
Frontend 1.1.0

**To Reproduce**
* Set the frontend URL in system settings to something other than eventyay.com
* Have a ticket purchase / cancel message sent to you.

**Expected behaviour**
The messages should include the

[2019-07-24 05:43] kushthedude commented on #6036
@uds5501 Implementing manual scripts on FE as done for omise will break our
structure of code, I will strongly suggest to use some already developed
module or package, manually implementing reCAPTCHA would take time.

On Tue, 23 Jul, 2019, 22:25 Uddeshya Singh, <notifications@github.com>
wrote:

[2019-07-24 06:21] mrsaicharan1 commented on #6232
Will fix this right away

[2019-07-24 07:06] #6147 closed

[2019-07-24 07:20] iamareebjamal commented on #6036
@kushthedude What manual scripts? This is the way captcha is implemented everywhere. Either find a way ember captcha works with backend integration, or find an ember package that does, or write your own. Writing vanilla javascript is bad, since when? If you only want to use ember package, and there is no such package available, write one yourself.

All these packages are written by humans only and

[2019-07-24 07:23] iamareebjamal commented on #6036
And you think manually implementing captcha will take time as you have to implement the whole captcha recognition system yourself. We have to literally use a library Google provides and hence has already made the process extremely easy. Let's not be spoilt developers who can only add a feature if there's a package for it

[2019-07-24 07:24] iamareebjamal commented on #6232
Please search all instances of eventyay.com and replace

[2019-07-24 07:29] #6232 closed

[2019-07-24 09:32] mrsaicharan1 opened #6234 "Refactor ZIP archiving methods for thread safety"
**Is your feature request related to a problem? Please describe.**
Currently, `make_archive` from `shutil` is not thread-safe & this makes it difficult in the scenarios of multiple users requesting the same file at a particular time.

**Describe the solution you'd like**

https://bugs.python.org/issue14099
https://docs.python.org/3.5/whatsnew/changelog.html#id93
From Python 3.5.5, writing to `zipf

[2019-07-24 17:24] kushthedude opened #6236 "Include Python-dotenv in our Requirements"
#### Description:

Include Python-dotenv in our Requirements to remove the generated warnings indicating the presence of .env files.

#### Stacktrace:

[code]

[2019-07-26 02:22] CosmicCoder96 opened #6239 "Make discount code & access code URL follow json api conventions"
`/event/<int:access_event_id>/access-code/<code>`==>`/events/<int:access_event_id>/access-codes/<code>`

`/event/<int:discount_event_id>/discount-codes/<code>`==>`/events/<int:discount_event_id>/discount-codes/<code>`

[2019-07-26 07:26] uds5501 commented on #6175
@ShridharGoel @iamareebjamal tested this on frontend deployment, it seems to be working fine now. @shreyanshdwivedi can you confirm?

[2019-07-26 07:29] #6239 closed

[2019-07-26 07:32] #6158 closed

[2019-07-26 10:08] uds5501 opened #6240 "Tax information not being carried on event copy action"
**Describe the bug**

Copying an event with tax information isn't copying the tax information too.

Main event :
![image](https://user-images.githubusercontent.com/21087061/61944379-2bcb4e00-afbb-11e9-896e-88ec929f5c68.png)

Copied event :
![image](https://user-images.githubusercontent.com/21087061/61944473-5a492900-afbb-11e9-9a8a-16ea33c3e59c.png)

**Expected behavior**

tax information should've

[2019-07-26 10:27] kushthedude commented on #6171
@mrsaicharan1, It's occurring at every place where we are using the Image Upload tool, and
[code]
with this stacktrace, Were you able to reproduce it ?

[2019-07-27 09:09] iamareebjamal commented on #4937
Low priority

[2019-07-27 16:58] #6240 closed

[2019-07-28 06:10] anhanh11001 opened #6276 "Not being able to pay with Stripe"
**Describe the bug**
Not being able to pay with Stripe. Nothing happens when clicking on Pay Now Button

**Desktop (please complete the following information):**
Chrome

**Additional context**
[code]

[2019-07-28 06:23] prateekj117 commented on #4937
@iamareebjamal It was discussed in the weekly meeting to be done this week. So making a PR and opening a parent issue to check the functionality of Event and Ticket discount code so that we can start using the functionality in the frontend.

[2019-07-28 07:56] CosmicCoder96 commented on #6047
Able to receive mails in latest testing.

[2019-07-28 07:56] #6047 closed

[2019-07-28 08:41] iamareebjamal opened #6244 "User can publish past events"
**Describe the bug**
Past draft events can be published

**To Reproduce**
Create a draft event with today's date. Publish it tomorrow.

**Expected behavior**
Publishing past draft events should fail

[2019-07-28 08:43] shreyanshdwivedi commented on #6244
So if the draft is created within 24 hours, then only it should be publishable?

[2019-07-28 08:47] iamareebjamal commented on #6244
No, if my draft says it event starts on a past date, it should not be publishable. I thought this was already handled in the date verifications

[2019-07-28 09:07] shreyanshdwivedi commented on #6244
Okay. The date check is updated to check only if event date is changed. It was necessary for few checks.
I'll add condition for this transition to check date.

[2019-07-28 09:15] iamareebjamal commented on #6244
It should be able to create a draft event with past date but not publish. I think this will also make it easier to restore events. So when you restore event, if it has past date, make it a draft

[2019-07-28 13:34] mrsaicharan1 commented on #6197
@kushthedude This will be taken up by @shreyanshdwivedi as discussed in today's meeting.

[2019-07-28 13:37] kushthedude commented on #6197
@uds5501 pinged me for claiming it , I have no objections.

On Sun, 28 Jul 2019 at 7:04 PM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-07-28 13:38] mrsaicharan1 opened #6245 "Implement Route for PayPal authorisation[Event Invoices]"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
For Event Invoice Payments, PayPal payment gateway needs to be integrated. Therefore, a route is required to handle payments and their authorization.
This will be similar to AliPay & Omise.

[2019-07-29 03:32] mrsaicharan1 opened #6247 "Implementation of PayTM Payment Gateway"
**Feature Description & Workflow**
Integration of PayTM payment gateway is required to boost sales in India. The workflow would be in the following way

1. When an order is placed, we generate the checksumhash on the server-side.
2. to obtain the txn token, a call is to be made to the `Initiate Transaction API` with the checksum & parameters.
3. We fetch the available Payment Options from the `Fet

[2019-07-29 04:21] #6236 closed

[2019-07-29 06:01] iamareebjamal commented on #6247
Please implement the endpoint in a way it is also usable on Android

[2019-07-29 06:02] mrsaicharan1 commented on #6247
Yeah, will take care.

[2019-07-29 09:42] mrsaicharan1 opened #6248 "Addition of API keys for PayTM"
**Feature Description**
Parent issue #6247
Sub issue:
PayTM API keys require fields in the settings model.  Corresponding front-end fields will be added after this.

[2019-07-29 14:44] kushthedude commented on #6247
@mrsaicharan1 Please tell me if you need any help with FE or Server for the implementation as you are working on other bugs and feature too.

[2019-07-29 18:14] CosmicCoder96 opened #6250 "Use event identifier instead of event id, in the URLs to fetch discount codes"
@iamareebjamal Regarding the recent refactors in discount codes, we have to provide the event id, can we instead switch it to using an identifier instead of the id? As that is what all public event related routes use to refer to it, and also identifiers are the primary key for the FE while dealing with the event.

[2019-07-29 18:18] iamareebjamal commented on #6250
Support both. Event IDs are the primary keys in both DB and mobile

[2019-07-29 20:02] #6250 closed