[2016-08-23 07:45] shivamMg commented on #2345
Closing this. The URL is correct. I thought it was for installations using vagrant.

[2016-08-23 07:45] #2345 closed

[2016-08-23 08:04] shivamMg opened #2352 "Tabs area overlapping table at Admin Events panel"
![screenshot from 2016-08-23 13 33 35](https://cloud.githubusercontent.com/assets/7882752/17884502/46907432-6936-11e6-9674-fe5a12278773.png)

[2016-08-23 08:21] #2307 closed

[2016-08-23 08:47] aviaryan opened #2353 "Set SERVER_NAME in Docker"
SERVER_NAME environment variable has been added which specifies the domain name the app is hosted on. docker-compose.yml should allow to set that variable. Also the docs should be updated to take this into account.

[2016-08-23 09:33] rafalkowalski commented on #2353
@aviaryan can you do it also for Vagrant?

[2016-08-23 09:41] aviaryan commented on #2353
@rafalkowalski Sorry I am not sure how/where to do it.

[2016-08-23 10:11] #2353 closed

[2016-08-23 10:14] #2321 closed

[2016-08-23 12:51] shivamMg opened #2358 "Sales Admin should be a member of Staff"
For an instance of `User` class that is a Sales Admin, but not a Super Admin or Admin, the `is_staff` property returns False.

[2016-08-23 13:00] #2352 closed

[2016-08-23 15:29] shivamMg opened #2359 "Update System Roles in docs"
* [ ] Add info about Panel permissions
* [ ] Add Sales Admin to System Roles

[2016-08-23 16:54] #1758 closed

[2016-08-23 19:17] mariobehling commented on #1862
Thank you looks good. Please take out the line breaks creating empty lines as well.

[2016-08-23 19:20] mariobehling commented on #2046
@SaptakS That is the same that was suggested in this thread already, isn't it? So, if everyone is suggesting this. Let's go with it.

[2016-08-23 19:28] mariobehling commented on #2019
@SaptakS Please tick all * [ ] points in all comments that are solved.

Also, please ensure the aspect ratio is taken into account in all images as mentioned here: https://github.com/fossasia/open-event-orga-server/issues/2019#issuecomment-241279507

Please ensure all configurations only allow the correct aspect ratio. For example, please reflect the following in the configurations:
* [ ] What is

[2016-08-23 19:30] mariobehling commented on #2172
The user is already clear that he/she is in the settings tabe. Please keep the names short as we will be lacking tab space:
Analytics Configurations -> Analytics

Same would be good with images
Image Configurations -> Images

[2016-08-23 21:11] aditya1702 commented on #2323
@niranjan94 I will start working on the first point

[2016-08-24 04:39] SaptakS commented on #2172
@mariobehling as I understand to use Piwik we need to install it first and then use it. Can you please guide me about it? I haven't really used Piwik before.

[2016-08-24 06:02] mariobehling commented on #2172
Let's postpone this then. Thank you.

[2016-08-24 06:11] mariobehling commented on #2179
![screenshot from 2016-08-24 08 08 10](https://cloud.githubusercontent.com/assets/1583873/17920054/4bbcc8a6-69d2-11e6-8237-778863291a86.png)

[2016-08-24 06:22] mariobehling commented on #2341
Thank you. It was a temporary glitch. It is solved.

[2016-08-24 06:24] mariobehling commented on #2341
Oh looks like the master is not working again while the dev is working http://open-event-dev.herokuapp.com

[2016-08-24 07:03] #2293 closed

[2016-08-24 07:35] #2179 closed

[2016-08-24 08:02] mariobehling commented on #2341
Working now :-)

Thanks @niranjan94

[2016-08-24 08:02] #2341 closed

[2016-08-24 08:29] mariobehling commented on #2019
@SaptakS You marked the questions as solved.

Where is it solved? What is the aspect ratio? Where is the info in the UI?

The UI is also missing profile speaker info and the info for logo info.

![screenshot from 2016-08-24 10 12 11] https://cloud.githubusercontent.com/assets/1583873/17923362/24e026d0-69e4-11e6-955b-e3c52910f45b.png)

Surely, there could be different implementations for the same i

[2016-08-24 09:11] SaptakS commented on #2019
![screenshot from 2016-08-24 14 37 52](https://cloud.githubusercontent.com/assets/9530293/17924962/88368b9c-6a08-11e6-8151-d35356e6dbfe.png)

@mariobehling already logo and profile UI are there in the text field.

The default aspect ratio is the width:height mentioned. I will implement the option of forcing or not forcing aspect ratios.

[2016-08-24 09:21] mariobehling opened #2368 "Analytics Tracking Id missing after updates/migrations"
The analytics ID is missing after updates.

[2016-08-24 09:32] mariobehling opened #2369 "Show image and square crop option (like in wizard) for speakers and ensure it shows up after import"
![screenshot from 2016-08-24 11 30 08](https://cloud.githubusercontent.com/assets/1583873/17925701/48dd03be-69ee-11e6-84e4-c353001ddde1.png)

As the above screenshot shows, the image of the speaker does not show up as expected. In the wizard step 1 it is already implemented in that way.

Compare: http://open-event-dev.herokuapp.com/events/132/speakers/882/edit/

[2016-08-24 09:36] mariobehling opened #2370 "After import speakers are shown as pending"
Should we have the info pending/accepted/rejected?

![screenshot from 2016-08-24 11 35 10](https://cloud.githubusercontent.com/assets/1583873/17925871/f6af71ca-69ee-11e6-87d0-92a5f50505d4.png)

[2016-08-24 09:43] mariobehling opened #2371 "Add relevant info and re-add search"
The tab at http://open-event-dev.herokuapp.com/admin/events/ does not show the number if items and search anymore. Also some important info is missing in this table. Please fix/implement the following:

* [ ] For and re-add number of items and search bar as in sessions tab for example
![screenshot from 2016-08-24 11 41 29](https://cloud.githubusercontent.com/assets/1583873/17926056/c44cbb38-69ef-1

[2016-08-24 09:51] mariobehling commented on #2019
Posted this screenshot earlier as a reference:

![screenshot from 2016-08-24 10 12 11] (https://cloud.githubusercontent.com/assets/1583873/17923362/24e026d0-69e4-11e6-955b-e3c52910f45b.png)

The expected view in the settings page is to have
a) an overview of all image styles
b) an overview of all pages with images and the info of the position of the image (as some pages have several images)
c) the

[2016-08-24 10:07] mariobehling commented on #1862
Please ensure ticket sales starts immediately after it is set (set the current day). Surely the user can change it still.

As an end date, please set the end date of the event. (Compare to eventbrite for questions.)

[2016-08-24 12:25] mariobehling commented on #2188
Some open questions remain. Please follow up on comment here: https://github.com/fossasia/open-event/issues/61#issuecomment-242040749

[2016-08-24 15:50] #2346 closed

[2016-08-24 15:50] the-dagger opened #2372 "Incorrect sort order in notification panel"
The sort order for the app generation is not sorted appropriately.
See the image below for example.
![screenshot_20160824_201056](https://cloud.githubusercontent.com/assets/6565270/17937682/93418d1a-6a40-11e6-8716-ca928310ea32.png)
It is neither in ascending or descending order according to the time.

[2016-08-24 16:32] shivamMg opened #2374 "`notificationViewPath` not accessible globally"
![screenshot from 2016-08-24 22 01 49](https://cloud.githubusercontent.com/assets/7882752/17939078/818b8c8c-6a46-11e6-8c10-c40fd1dad58a.png)

[2016-08-24 21:00] the-dagger commented on #1877
This is fixed in the samples I believe.

[2016-08-24 21:00] #1877 closed

[2016-08-24 22:24] SaptakS commented on #2368
@mariobehling  I am unable to recreate this error. Seems to be working fine in both local system and live system.

[2016-08-24 22:32] SaptakS commented on #1845
@mariobehling now the admin himself can set images for the placeholder as in #2016 . What are the things we need to do now in this issue? The only thing I recon is we need to add pictures for subcategories as well which I am doing. Anything else? Should I search for some better default placeholders as well or leave it to the admin to upload his own?

[2016-08-25 08:41] #2368 closed

[2016-08-25 13:17] rafalkowalski commented on #2276
@mariobehling Can you check if is it working?

[2016-08-25 14:32] mariobehling commented on #2276
Yes, great. Thanks.

[2016-08-25 14:32] #2276 closed

[2016-08-25 15:31] aviaryan commented on #2370
I have already fixed the issue at https://github.com/fossasia/open-event/pull/80 but have not updated it on the server.
I have updated it now. Now they don't show as Pending.

This info in speakers page shows the status of their proposed sessions. I think we should show it as that will provide the organizer more information about a speaker when looking at the list.

[2016-08-25 16:37] #2323 closed

[2016-08-25 17:30] #1862 closed

[2016-08-25 20:22] #2358 closed

[2016-08-25 20:22] #2359 closed

[2016-08-26 06:35] mariobehling opened #2385 "Propose attendees/ticketing API"
With the orga app and the implementation of API endpoints in this PR https://github.com/fossasia/open-event-orga-server/pull/2379 we have the first steps to an attendee API. In how far would that overlap with a ticketing API?

What is the best way to implement this and keep it generic? Do we need two APIs - Attendees and Ticketing or would that be handled in one API?

Also related to https://githu

[2016-08-26 06:39] niranjan94 commented on #2385
#### Ticketing API
- [ ] Retrieving the list of available tickets
- [ ] Placing an order
- [ ] Retrieving information about an Order/Payment

#### Attendee API

- [x] Retrieving the list of attendees
- [x] Retrieving information about a particular Attendee
- [x] Check in/Check out of an attendee

@mariobehling So, I don't think we have any overlap.

[2016-08-26 06:48] aviaryan opened #2386 "Unable to edit some events, 400 error"
This is because when event sub_topic field is set as None (null) , then the request form object (request.form) doesn't contain that key . Thus a KeyError happens and this results in 400 error.

This behavior can be seen in imported samples (https://github.com/fossasia/open-event/tree/master/sample) which don't have event sub_topic field set.

[2016-08-26 06:56] aviaryan commented on #1318
Since the sitemap will be linked from footer, I guess what I need to make here is the "USER (public) sitemap" . I think the eventbrite's public sitemap is a nice example to follow.

![eventbrite_sitemap](https://cloud.githubusercontent.com/assets/4047597/17996730/46f0ae70-6b88-11e6-9269-b85183860ce0.png)

@mariobehling What do you think ?

[2016-08-26 07:29] #2371 closed

[2016-08-26 07:29] #2386 closed

[2016-08-26 10:51] rafalkowalski opened #2388 "Internal error in settings"
http://open-event-dev.herokuapp.com/admin/settings/

[2016-08-26 11:25] #2388 closed

[2016-08-26 17:22] mariobehling commented on #1318
Looks very nice. Thank you.

[2016-08-26 17:26] mariobehling commented on #2335
Sorry, but I still see images are downloaded from Google after the merge.

[2016-08-26 17:29] mariobehling commented on #1845
Yes, thank you. Only find a few more images for the subcategories. No need to find more suitable images. We can ask others to do this. It is simple.

[2016-08-26 18:36] SaptakS commented on #1845
Yes. @mariobehling we can even keep this as a GCI task I guess.

[2016-08-26 20:14] mariobehling commented on #1845
Thank you. So, please implement the structure and add some images. They can be changed later.

[2016-08-26 20:15] SaptakS commented on #1845
Yes. Working on it.

[2016-08-26 20:21] mariobehling commented on #2019
Currently, aspect ratio is not maintained. If the user clicks the option and changes the ratio, the other part does not change. If you are unsure how this should work look at wordpress.

![screenshot from 2016-08-26 22 20 24](https://cloud.githubusercontent.com/assets/1583873/18019236/6b157bf2-6bdb-11e6-9e58-c68c7e8f293e.png)

[2016-08-26 20:24] mariobehling commented on #2019
* [ ] What is the actual size of the areas? E.g. Thumbnail size 500px? What is the size of the speaker images area? That should be the standard.

* [ ] Also the image quality should be set to something like 80% or so on standard

![screenshot from 2016-08-26 22 23 05](https://cloud.githubusercontent.com/assets/1583873/18019336/de7aaec8-6bdb-11e6-934b-a4b989a066c2.png)

[2016-08-26 20:25] SaptakS commented on #2019
@mariobehling yes I know that it doesn't change in the UI... Will have to implement using javascript. But it is maintained in the background... I will make the change in the UI as well..

[2016-08-26 20:27] mariobehling commented on #2019
Ok, good.
* [ ] So, please add a help text then below for each image, e.g. "Standard size of the available area is ??px x ??px"

[2016-08-26 20:28] SaptakS commented on #2019
Ok. Will do that.

[2016-08-26 20:32] mariobehling commented on #2019
* [ ] Please set the standard to maintain aspect ratio -> "tick" as well. Thank you.

[2016-08-27 05:59] #2372 closed

[2016-08-27 05:59] #2374 closed

[2016-08-27 06:46] shivamMg commented on #1990
@mariobehling I read about the drupal permissions and user roles. It allows you to create custom Roles and then lets admins assign the user roles: https://www.drupal.org/node/1803614

I brought this up before in another [issue](https://github.com/fossasia/open-event-orga-server/issues/1901#issuecomment-236349291), although it was related to custom Event-Roles. Shall I implement it for System Roles

[2016-08-27 06:55] mariobehling commented on #1990
Yes, please.

As a first step, please implement the listing/table in the way that drupal does it. It is easier to see what are the permissions.

[2016-08-27 06:55] shivamMg opened #2394 "Let Admins assign Custom System Roles at /admin/users"
![screenshot from 2016-08-27 12 25 33](https://cloud.githubusercontent.com/assets/7882752/18025764/5ea2ace8-6c51-11e6-853b-f5b79496039e.png)

Display options to let Admins assign Custom System-Roles at Admin users panel.

[2016-08-27 06:56] mariobehling commented on #1990
Instead of this:

![screenshot from 2016-08-27 08 55 36](https://cloud.githubusercontent.com/assets/1583873/18025766/0da8b926-6c34-11e6-847d-da3f9b7aa40a.png)

Please follow the way Drupal makes this table.

[2016-08-27 07:26] SaptakS commented on #2019
I didn't understand what this means.

[2016-08-27 09:39] mariobehling commented on #2019
It looks like after installation the is no -  ✓- for maintain aspect ratio. Please ensure it is set to yes.

[2016-08-27 10:07] SaptakS commented on #2019
Ok.. Got it..

[2016-08-27 10:52] elioqoshi opened #2395 "Convert Roboto Thin to Roboto Light"
There are many instances where Roboto Thin has been used. Thin is virtually not a viable alternative for websites. Please convert them to Roboto Light (in some cases, when the text is smaller, Regular is better).

Font is not readable on some resolutions with Roboto Thin (and even Light)

[2016-08-27 11:49] #2395 closed

[2016-08-27 16:29] SaptakS opened #2398 "Internal Server Error in CFS via hash"
For example: https://open-event-dev.herokuapp.com/e/cfs/1d04a8a181f9c5f58e5aefe58ea99221ec7b3216

[2016-08-27 17:11] #2398 closed

[2016-08-27 18:08] #1318 closed

[2016-08-27 18:37] aviaryan opened #2401 "Page title not shown for system pages"
As can be seen in the following screenshot, page title for a system page (see active tab) is not shown. That page title is set as ' - Open Event'.

![no-title-page](https://cloud.githubusercontent.com/assets/4047597/18029342/32466aec-6cb3-11e6-85ab-586b615e6e52.png)

[2016-08-28 03:37] #2401 closed

[2016-08-28 10:07] the-dagger opened #2403 "Maintain the extension of uploaded image"
As of now, irrespective of the type of image (jpg or png) added to the event while creating it, the exported zip of the event contains only png files.
For example if the uploaded image is `test.jpg`, the zip contains `test.png.png`
This is a blocker as simply renaming `.jpg` files to `.png` causes their corruption and hence the android build on the server throws an exception.
As I can not determin

[2016-08-28 10:09] SaptakS commented on #2403
@the-dagger this is not just a change in format.. The image is converted properly.
Moreover don't use the background_url or profile_avatar links for image. Instead you will see large, thumbnail, etc links for image which are resized and in jpg format with proper compressed size. Use that.

[2016-08-28 10:13] the-dagger commented on #2403
@SaptakS I'm using
`"background_image":` and `"logo":` in event.json for fetching the images.
But it gives me a `libpng` error saying that the file is not png.
[code]

[2016-08-28 10:15] SaptakS commented on #2403
I will check for the logo but as of background_image, don't use that. I guess there will be fields large, thumbnail, icon, etc. Use those. They should be in proper format.

Moreover the logo and background_image are opening perfectly for me in website, browser, normal desktop. I will check again though but it shouldn't be a problem..

[2016-08-28 10:16] the-dagger commented on #2403
@SaptakS I checked, there is no other field which contains reference to the logo or background image in the event.json.

[2016-08-28 14:52] aviaryan commented on #1547
@mariobehling Can you give me an example of such webhost ? I am not able to find any. I think most of no-ssh ftp-only webhost support PHP only.

[2016-08-28 15:38] aviaryan opened #2404 "Nested fields in export json are ordered randomly"
Nested fields after exporting an event have the tendency to be ordered randomly.

Eg > version field in event json

[code]

This is because eariler we used json dumps sorting when saving the export file but now as we are exporting json in a custom order, we are not using it. So nested fields in the json have a tendency to be exported in a random order.

[2016-08-28 18:21] #2404 closed

[2016-08-28 18:51] mariobehling commented on #1547
Check out Hetzner please, one of the biggest providers in Europe: https://www.hetzner.de/ot/hosting/produktmatrix/webhosting-produktmatrix

[2016-08-28 19:03] mariobehling commented on #2403
@aviaryan Could you please provide input how the recent changes of @SaptakS effect the API, export JSON and image files?

@SaptakS Can you confirm this? As discussed elsewhere png are not suitable for photos and have a large size if those images have lots of details and colors.

There is plenty of information online about this. Please keep jpgs for photos as mentioned before.

Unfortunately PNG-24

[2016-08-28 19:27] aviaryan commented on #2403
When a photo is uploaded, the photo is first saved locally, then optimized/converted and then it is uploaded to S3 cloud. So API, export etc now links to the new image, not the one uploaded by the user. I don't think this creates any issues in the API/Export/Import part.

[2016-08-29 04:03] SaptakS commented on #2019
@mariobehling I think this issue can be closed.

[2016-08-29 04:10] SaptakS commented on #2403
@mariobehling we are keeping jpgs for images only. The PNG that is uploaded is the temporary file and is not used anywhere. Croppie.js converts and saves it as PNG temporarily. But after that all the images are resized, re-scaled and converted to JPG. So the image to be used is in JPG.

[2016-08-29 04:28] SaptakS commented on #2403
@aviaryan according to @the-dagger the fields large, thumbnail, icon fields are not present in the API/Import/Export part which are the new resized and re-scaled images. Could you please check that?

[2016-08-29 06:11] #2019 closed

[2016-08-29 06:23] aviaryan commented on #2403
Yes the large, thumbnail and icon fields haven't been added to the Event API. I will send a PR for it.

[2016-08-29 06:26] aviaryan commented on #2188
@mariobehling I think this can be closed now.

[2016-08-29 06:45] aviaryan opened #2407 "Add background icon, thumbnail, large to Event API"
https://github.com/fossasia/open-event-orga-server/issues/2403#issuecomment-243029766

[2016-08-29 07:16] #2188 closed

[2016-08-29 07:25] SaptakS commented on #2403
@aviaryan Same thing needs to be done for the user profile and speakers as well. Please check the DBs to get a better idea.

[2016-08-29 07:45] mariobehling commented on #2403
@aviaryan Just to be sure, we are all on the same page: The API should only offer the final - actually used - picture on the server. No need to offer the original and other versions in the API/JSONs for the generators.

[2016-08-29 07:45] mariobehling commented on #2403
Or let me know, if I am missing something.

[2016-08-29 13:49] #2228 closed

[2016-08-29 14:35] aviaryan opened #2411 "Custom forms not taken into account when importing"
This happens because custom forms is being imported after speaker/sessions are imported. So the custom form setting for an event is not being taken into account.
Also there are bugs in the way in which custom form based validation is being handled.

[2016-08-29 18:12] #1861 closed

[2016-08-29 18:14] #2171 closed

[2016-08-30 01:30] #2306 closed

[2016-08-30 01:30] #2411 closed

[2016-08-30 06:34] #2370 closed

[2016-08-30 06:36] #2095 closed

[2016-08-30 06:41] aviaryan commented on #2335
@mariobehling I just signed in using g+ and the photo is indeed being download to our server. Maybe in you case, it was an old profile. Here is the link I got for my profile image.

https://opevbucketname.s3.amazonaws.com/users/7/avatar/anZYamExbX/1472539024.83.jpg

[2016-08-30 11:10] #2234 closed

[2016-08-30 16:37] #1806 closed

[2016-08-30 16:49] niranjan94 opened #2415 "Scaling up the system to handle increase in the number of users/traffic"
As pointed out by @mariobehling,

We will have to start thinking about how we can scale up our current system on the cloud easily, in case there are more number of users/traffic at one point.

We will need to think about load balancing and scaling up of the app and PostgreSQL database servers.

Any suggestions and inputs are welcome.

[2016-08-30 16:49] mariobehling commented on #2415
@leto @juslee Any input/ideas from your side on this?

[2016-08-31 11:43] aviaryan opened #2416 "Timezone not being saved on event edit"
I see this error in the terminal.  @niranjan94 Do you have any idea ?

[code]

[2016-08-31 12:06] #2416 closed

[2016-08-31 12:57] tabesin opened #2418 "G+ login broken"
Logging in via Google+ at the dev installation (https://open-event-dev.herokuapp.com) results in "did not find user info" msg.

[2016-09-01 07:10] niranjan94 commented on #904
Closing in favor of #2385.

[2016-09-01 07:10] #904 closed

[2016-09-01 16:51] #2394 closed

[2016-09-02 10:34] ogai commented on #2415
First of all congratulations for this interesting project! I have been working on two similar projects and we have discussed a lot [HA](https://en.wikipedia.org/wiki/High_availability), [LB](https://en.wikipedia.org/wiki/Load_balancing_(computing)) and [R](https://en.wikipedia.org/wiki/Replication_(computing)). All related to [scalability](https://en.wikipedia.org/wiki/Scalability).

Without forge

[2016-09-02 10:44] SaptakS commented on #2415
@ogai thanks for the info.. Looking forward to your blog.

[2016-09-02 16:16] leto commented on #2415
My first suggestion is to decide on some concrete numbers that we want to be able to handle.

How many concurrent web requests and DB requests do we want to handle? Then we have a goal to achieve.

My guess is that our traffic will be very read-heavy (1000s of people looking at the latest schedule just before and during the conf) but won't be as write-heavy. We could probably benefit from having a

[2016-09-02 19:50] ogai commented on #2415
There are some problems with caching:

- The dynamic content of the page when caching the whole page, like name of the user, the number of notifications, or the current language. Some web application frameworks like Django have [template fragment caching](https://docs.djangoproject.com/en/1.10/topics/cache/#template-fragment-caching) for caching only a part of the page (in the current language of

[2016-09-05 18:21] mariobehling opened #2422 "Implement support for Export of other formats"
There are a number of formats of events that are similar but still different. How can we export more formats?

Please
* [x] Find other formats
* [x] Implement import support for https://github.com/frab
  * [x] Pentabarf XML, example https://archive.fosdem.org/2016/schedule/xml (#2498)
  * [x] iCal, example https://archive.fosdem.org/2016/schedule/ical (#2499)
  * [x] xCal, example https://archive.

[2016-09-05 19:31] the-dagger commented on #2403
I'm handling this at the app-generator server.
So closing this for now.

[2016-09-05 19:31] #2403 closed

[2016-09-05 20:16] ogai commented on #2415
There are also some problems with serving static content (with a CDN or whatever):

- **minifying** and **compressing** to save on bandwidth (for the server and the client) and to speed up the building of the page on the client. If you serve the content yourself, you also want to increase with it the number of concurrent users you can serve per second with a single server. This is related to the s

[2016-09-06 07:10] shubham-padia opened #2423 "All api endpoints return the same data"
The orga-server api needs to return an Array of speakers when called something like this : http://open-event-dev.herokuapp.com/api/v2/events/179?include=sessions,microlocations,tracks,speakers,sponsors,tickets/speakers, but right now it does not return an array , and data from the api always remain same , no matter what the link is,

e.g http://open-event-dev.herokuapp.com/api/v2/events/179?includ

[2016-09-06 08:43] aviaryan commented on #2423
@shubham-padia There is nothing wrong.

To get an array of speakers you do http://open-event-dev.herokuapp.com/api/v2/events/179/speakers

----

URLs like the one you have posted above ( http://open-event-dev.herokuapp.com/api/v2/events/179?include=sessions,microlocations,tracks,speakers,sponsors,tickets/speakers ) are getting into the Event API and so the return is like that. If you want Event AP

[2016-09-06 13:10] shubham-padia commented on #2423
@aviaryan Thank you very much :smile: . The buttons to include sessions, speakers, etc at the export page on the orga-server got me confused and i thought that the link :
http://open-event-dev.herokuapp.com/api/v2/events/179?include=sessions,microlocations,tracks,speakers,sponsors,tickets/speakers
has to be provided to the webapp.

[2016-09-06 13:29] #2423 closed

[2016-09-09 10:59] shubham-padia opened #2424 "Content type of images stored in AmazonS3 bucket is `application/octet-stream`"
e.g.
https://opevbucketname.s3.amazonaws.com/events/179/speakers/1263/photo/MFhNSk9yRU/HansBakker_111.jpg has the content type `application/octet-stream` instead of `image/jpeg`.

Following is the response header for the specified file:

[code]

[2016-09-09 11:29] aviaryan commented on #2424
@shubham-padia Are you aware of a reliable way to extract the content type information from a file in Python ? To fix this issue, we will have to set Content-Type header when uploading the file to S3 using boto. This [answer on SO](http://stackoverflow.com/a/33445129/2295672) makes it clear.
The only question that remains is how to get the Content-Type.

Uploaded files can be of many types like `p

[2016-09-09 14:55] shubham-padia commented on #2424
@aviaryan  Maybe this : https://github.com/ahupp/python-magic can do the required task.

[2016-09-12 08:33] SaptakS opened #2425 "Placeholder images for subtopics not shown."
Placeholder images for subtopics are not shown in event thumbnails in the home page.
![screenshot from 2016-09-12 14 02 27](https://cloud.githubusercontent.com/assets/9530293/18429548/a56ad2c0-78f1-11e6-9b6c-10c6a07b7ec3.png)

[2016-09-16 19:34] shivamMg opened #2427 "Add Event tags alongside OG tags"
Object Debugger error:

![screenshot from 2016-09-17 01 03 00](https://cloud.githubusercontent.com/assets/7882752/18598809/79bfb7ce-7c72-11e6-91d1-1729227ba750.png)

[2016-09-17 05:52] #2427 closed

[2016-09-17 13:39] #2350 closed

[2016-09-18 07:54] mariobehling opened #2430 "Profile Icon does not show up on menu"
Please see below. Expected behaviour: Icon should show up on top right.

![screenshot from 2016-09-18 09 53 35](https://cloud.githubusercontent.com/assets/1583873/18614003/eb598892-7d85-11e6-96e4-af58c619b1be.png)

[2016-09-18 09:17] SaptakS commented on #2430
@mariobehling did you upload the image recently? Because like I said before, if you have it uploaded previously, then the method in which we are showing after resizing of images hasn't been applied because of which re-sized images aren't available. That is the reason for image not being shown in top right corner.

[2016-09-18 09:18] SaptakS commented on #2430
@mariobehling however there is an error occurring while uploading using Amazon S3. It wasn't there previously. Will have to check.

[2016-09-18 09:22] SaptakS opened #2431 "Profile Image resized not uploaded using Amazon S3 service."
On uploading a profile image, the resized images are not uploaded. Gives a 500 internal server error.

[2016-09-18 09:56] #2431 closed

[2016-09-18 12:21] SaptakS commented on #2430
@mariobehling the issue has been fixed in #2432 . Please re-upload an image and confirm that the issue has been fixed. Thanks.

[2016-09-18 13:18] mariobehling commented on #2430
I uploaded a new image and it shows as the icon, but now it is converted from a jpg to a png and much bigger than the original.

![screenshot from 2016-09-18 15 17 39](https://cloud.githubusercontent.com/assets/1583873/18615942/1382df58-7db3-11e6-90d0-40b50ac10a39.png)

[2016-09-18 16:17] SaptakS commented on #2430
It is in jpg for me.

![image](https://cloud.githubusercontent.com/assets/9530293/18617265/6a69a23a-7de9-11e6-9a20-b38a5ee81a24.png)

Can you please check?

[2016-09-19 09:11] mariobehling commented on #2430
See here: https://opevbucketname.s3.amazonaws.com/users/4/avatar/UmdLcjVEYm/1474204504.49.png

Over the admin panel you can also view all user accounts: http://open-event-dev.herokuapp.com/admin/users/

My profile http://open-event-dev.herokuapp.com/admin/users/4/

[2016-09-19 10:12] SaptakS commented on #2430
@mariobehling yeah it's getting converted to png that I agree because of the cropping property, but it is not being used. The images used are the resized jpg images.

I missed out the admin panel. Will fix that.

[2016-09-21 10:13] nikhilrayaprolu commented on #2418
@mariobehling @niranjan94 I tried to reproduce the error on the dev installation (https://open-event-dev.herokuapp.com) and the login was successful . I am not able to reproduce the error.
can some one show me the procedure followed when the error was reproduced.
if the problem is only on localmachine some resources online show that the error is due to
1) may be google plus api was not activated i

[2016-09-21 10:27] mariobehling commented on #2418
ok, good. closing it then.

[2016-09-21 10:27] #2418 closed

[2016-09-22 05:18] thegalang opened #2433 "Fix Python 3 SyntaxError"
Running flake8 on this repo, found some syntax errors on Python 3.x:
[code]
Most of them are print statements that are using Python 2 syntax, without parenthesis. This is an error in Python 3.x, as its syntax requires wrapping the arguments in function call with parenthesis : https://docs.python.org/3/whatsnew/3.0.html (see: Print is a function)

[2016-09-22 11:08] jainaman224 commented on #1301
@mariobehling can you please help me what to display on each tag page. I can create page for each tag. Please help me by describing what to display on tag page and it will be great if I am allowed to work on this.

[2016-09-22 11:35] mariobehling commented on #1301
@jainaman224 Thank you. We are looking to get exactly the same implementation as eventbrite. On eventbrite there is no "ConcertorPerformance". Please compare and see how we can improve.

[2016-09-22 15:15] jainaman224 opened #2434 "Increase space between map and adress"
I think there should be some space between map and address.

![screenshot from 2016-09-22 17-56-01](https://cloud.githubusercontent.com/assets/13117482/18754183/64cae1da-8105-11e6-920a-1f83d6d46a8c.png)

[2016-09-24 10:13] IamAdiSri commented on #2425
Can you explain this issue? Which image exactly is it that's missing?

[2016-09-24 10:46] SaptakS commented on #2425
@IamAdiSri as you can see in the above event, the subtopic/topic mentioned is Auto, Boat and Air. In [system images page](http://open-event-dev.herokuapp.com/admin/content/) we have specified the images default for particular topics and subtopics. So the image particular for this subtopic/topic should be shown.

[2016-09-24 11:26] IamAdiSri commented on #2425
Thanks. I was able to recreate the bug. I would like to try to solve this; how should I go about doing so?

[2016-09-24 15:56] jainaman224 commented on #2434
@mariobehling please provide your feedback.
How does it look now...?
![ss](https://cloud.githubusercontent.com/assets/13117482/18809588/46d0b634-829d-11e6-9bed-77002c807d90.png)

[2016-09-24 16:33] SaptakS commented on #2425
@IamAdiSri you need to go to the folder `templates/gentelella/index.html` and fix the jinja2 if condition for the `<img>` tag. That should fix the error. Just play around with it.

[2016-09-24 18:54] mariobehling commented on #2434
Thank you. nice.

[2016-09-25 08:10] DengYiping opened #2436 "Shift from Dockerfile to Docker Compose"
I have implement Dockerfile during GCI, and I believe it is time for us to switch to Docker Compose. Docker Compose will separate the database and the container, and this application will be more maintainable.

I certainly can do that, but as a mentor of Codeheat, I think it is better to leave this task to Codeheat participants. And if this task is pending for a long time, I will do it by myself.

[2016-09-25 08:57] aviaryan commented on #2436
It has been removed. Please check. I migrated Dockerfile to Docker compose in this GSOC.

[2016-09-25 09:10] amitkumarj441 commented on #2436
@DengYiping I just exposed the port in docker compose file and added the Postgres volume.

[2016-09-25 12:16] IamAdiSri commented on #2425
I believe I've Identified the erroneous block of code. Will try to debug now. Can this issue be assigned to me?

[2016-09-25 13:50] jainaman224 commented on #1301
@mariobehling Can you please explain for my better understanding...?
I have seen eventbrite and we have dynamic routing already implemented for tags page. So, what exactly you want me to compare...? then I will work accordingly. Thank you.

[2016-09-25 13:51] DengYiping commented on #2436
It’s fine, I didn’t see there is a docker-compose file @amitkumarj441

[2016-09-25 16:08] amitkumarj441 commented on #2436
@DengYiping Please have a look into the docker-compose file [77f7dd2](https://github.com/fossasia/open-event-orga-server/commit/77f7dd2380dec51d0b277b84bdd3bec51c3cb4f1)

[2016-09-26 06:20] mariobehling opened #2439 "Set up event server on Google Cloud and document it"
Please add documentation how to set up the server on Google Cloud here:
https://github.com/fossasia/open-event-orga-server/blob/development/docs/INSTALLATION_GOOGLE.md

[2016-09-26 12:15] #2434 closed

[2016-09-26 16:43] niranjan94 commented on #2335
@mariobehling could this issue be closed ?

[2016-09-26 16:45] niranjan94 commented on #1598
@SaptakS could tabs be made into a good old simple drop down menu on smaller screens ? (with the selected tab visible and the rest coming up as a drop down)

[2016-09-26 16:48] SaptakS commented on #1598
@niranjan94 I was thinking of a similar idea. Just making it into a dropdown, so that one can select and then we mark that part as active.

But I am expecting someone from codeheat to solve this.

[2016-09-26 16:49] niranjan94 commented on #1598
@SaptakS ... cool :+1: ... I think we could unassign long pending issues so that codeheat guys can take it up

[2016-09-26 16:51] niranjan94 commented on #1301
@jainaman224 in eventbrite, for the tags, no conjunctions are present ... (like and, or etc) ...

For example, **Concert Or Performance** is shown as **#ConcertPerformance** .. and **Family & Education** is shown as **#FamilyEducation** .

[2016-09-26 16:53] SaptakS commented on #1598
@niranjan94 cool

[2016-09-26 16:58] mariobehling commented on #2335
Sure.

[2016-09-26 16:58] #2335 closed

[2016-09-27 10:55] addiittya2006 commented on #2439
Google Cloud Platform offers multiple options for Deploying a Web App like App Engine, Compute Engine and Container Engine too.
What kind of a Deployment are we looking for here as Deploying on Compute Engine would be pretty much similar to Deploying on an AWS EC2 Instance?

[2016-09-27 11:20] aviaryan commented on #2439
Google Container Engine looks to be the most appropriate choice here but using Compute Engine should also work. You can use whatever you prefer. As you say that Compute Engine will be pretty much similar to EC2, it's best that we first start with Compute Engine and then later we can try deploying with Container Engine.

[2016-09-27 21:51] shubham-padia commented on #2424
@aviaryan Apologies for the delay, currently busy with my exams right now :sweat_smile:  .
Please review #2440.

[2016-09-28 01:55] sainiak009 commented on #2425
I have resolved the issue.

@SaptakS Please review my pull request : #2441

Screenshot:
![screenshot 26](https://cloud.githubusercontent.com/assets/13566432/18898036/861f8a70-854c-11e6-864e-19ffbd0bbdbb.png)

[2016-09-28 05:53] #2424 closed

[2016-09-28 08:46] IamAdiSri commented on #2425
I've created a pull request with the fix for this bug at #2442

[2016-09-28 09:09] #2425 closed

[2016-09-28 09:10] SaptakS commented on #2425
@IamAdiSri thanks for the fix. Next time please also provide a screenshot of the outsome of your fix. That helps everyone to review better. Thanks.

[2016-09-28 09:39] IamAdiSri commented on #2425
@SaptakS Sure thing. Thanks.

[2016-09-28 19:36] aviaryan commented on #2433
@thegalang Open Event is supposed to run on Python 2.7 and has not been coded for Python 3. That is the reason why you get this error. Are there any particular advantages in using Python 3 ?
Should we port Open Event to Python 3 ?

[2016-09-29 02:03] sainiak009 commented on #2407
I would like to work on this issue. I have explored event model and export api. I think I got the issue in export api and added required fields in marshaling. I am working on import now and it will be better if anyone can tell me which files I should look for resolving it.

Please assign me for this issue.

[2016-09-29 06:03] essank commented on #2145
It's look interesting, can help you with it?

[2016-09-29 07:14] niranjan94 commented on #2145
Sure @essank... You can take this issue up. :)

[2016-09-29 10:02] SaptakS commented on #2433
@aviaryan we have to port Open Event to Python 3 because PSF has declared that it would withdraw all support for Python 2 in less than 1000 days. Though I agree that it is not a High:Priority Task now but finally we will have to port it to Python 3.

[2016-09-29 10:24] souravsingh commented on #2230
I would like to take a stab at the issue.

[2016-09-29 10:39] SaptakS commented on #2230
@souravsingh awesome.

[2016-09-29 12:45] niranjan94 commented on #2230
@souravsingh are you working on the project as a part of [code heat](http://codeheat.org) ?

[2016-09-29 12:47] niranjan94 commented on #2145
@essank are you working on the project as a part of [code heat](http://codeheat.org) ?

[2016-09-29 14:02] ishanupadhyay commented on #2313
Its just a raw thought.

If the user inquires about not receiving an e-mail then we can search the subject of that particular mail and compare the search string with that of the "Subject" of the e-mail . If the string matches then the mail has  been sent, otherwise not. We can use KMP algorithm for matching the strings.In this way user can easily search for the message he wants from the mail histo

[2016-09-29 14:50] sainiak009 commented on #2407
Please review my pull request.

[2016-09-29 16:20] souravsingh commented on #2230
@niranjan94 I  am not doing the project as part of code heat. I just want to contribute to FOSSASIA.

[2016-09-29 16:44] #2407 closed

[2016-09-29 18:38] essank commented on #2145
@niranjan94 no as Hacktoberfest

[2016-09-29 18:48] sainiak009 commented on #2145
If no one is working on it please assign this issue to me, I want to work on it.

[2016-09-29 19:01] essank commented on #2439
@mariobehling if no one take it, I would like to help with it

[2016-09-29 20:35] mariobehling commented on #2439
Ok, great. Please also accept my invite to the codeheat team and we will be able to assign you. Cheers.

[2016-09-29 21:13] sehgalayush1 commented on #1598
@SaptakS I would like to work on this issue if it is ok.

[2016-09-29 23:34] sainiak009 commented on #1598
I was interested in this issue, and discussed it too but again did the same mistake of not commenting here earlier. If possible please review my PR and merge it.

[2016-09-30 02:12] niranjan94 commented on #2145
@sainiak009... @essank is already working on it.

[2016-09-30 06:05] addiittya2006 commented on #2439
I have successfully deployed it on GCE, as soon as I prepare a guide, I will send a PR

[2016-09-30 06:11] aviaryan commented on #2439
@addiittya2006 Did you use Docker ? Can you share the url so that we can test ?

[2016-09-30 07:07] addiittya2006 commented on #2439
Yes, I did use Docker, The Deployment was Successful as supposed but I am still not able to get it fully done. Looking into it.

[2016-09-30 08:01] essank commented on #2145
@niranjan94 this URL:  https://open-event-dev.herokuapp.com/e/64e50648
 it's not working

[2016-09-30 08:14] SaptakS commented on #1598
This feature needs to be implemented at all places where there is tab and not only in the events dashboard. @sainiak009 @sehgalayush1 please look into it.

[2016-09-30 08:22] sainiak009 commented on #1598
@SaptakS Okay. I will do it.

[2016-09-30 12:11] niranjan94 commented on #2145
@essank probably the event is no longer there. Try a different URL. Like https://open-event-dev.herokuapp.com/e/1cbbfe21/ for example

[2016-09-30 21:35] shivamMg commented on #2145
@essank The Open Graph tags have already been added. You only need to add Twitter card tags.

[2016-09-30 21:37] essank commented on #2145
@shivamMg ok I'll

[2016-10-01 12:43] addiittya2006 commented on #2439
Got this working at http://104.155.189.188/

[2016-10-01 13:43] jig08 commented on #2439
@addiittya2006 Cool, sent a PR referencing this issue ?

[2016-10-01 15:25] addiittya2006 commented on #2439
Soon.

[2016-10-01 16:23] hongquan commented on #2433
We should start to port to Python 3 before too late. The code base will be bigger and bigger and it will be difficult to port this project to Python 3, when Python 2 approaches its end-of-life.

[2016-10-01 16:52] aviaryan commented on #2433
:+1: for porting to Python 3. It also has better unicode support which I think is an important factor for our project.

[2016-10-01 17:06] SaptakS commented on #2433
@hongquan what I thought was porting to python 3 once the project reaches production stage. Since the project is still not in a stable production stage so this is not a very high priority task. What are your opinions @niranjan94 @mariobehling ?

[2016-10-01 17:16] aviaryan opened #2447 "Port project to Python 3"
https://github.com/fossasia/open-event-orga-server/issues/2433#issuecomment-250423863

Python 2 will soon approach its end of life and that can be a huge problem for our application. On the other hand, porting to Python 3 shouldn't require much changes as not much syntax has changed from 2 to 3 ([see a list of changes](http://sebastianraschka.com/Articles/2014_python_2_3_key_diff.html)).
Also Pyth

[2016-10-01 17:18] aviaryan commented on #2433
@SaptakS I have created issue #2447 for it.

Your opinion sounds reasonable. I myself am not sure what to do next. So I have added a "later" label for now in #2447. Let's see what others think.

[2016-10-01 23:32] SaptakS commented on #2433
@aviaryan I guess we should not mark it for "hacktoberfest" if it's labelled as "later" because hacktoberfest is only for the month of October.

[2016-10-02 00:39] mariobehling commented on #2433
Yes, agree. Get to production first and change to Python 3 in a concerted effort later.

[2016-10-02 01:00] mariobehling commented on #2447
We can do this later. We need a version to release now.

[2016-10-02 09:47] amitkumarj441 commented on #2439
Seems this issue is almost resolved, @aviaryan Let me know if I can assist this issue anyway.

[2016-10-02 09:54] amitkumarj441 commented on #2308
@mariobehling I'm willing to take up this issue. Can I add these images?

[2016-10-02 10:03] niranjan94 commented on #2308
@amitkumarj441 you can go ahead :)

[2016-10-02 10:05] amitkumarj441 commented on #2308
@niranjan94 Thanks for your prompt response! Where I can initiate PRs for these images?

[2016-10-02 10:09] niranjan94 commented on #2308
@amitkumarj441 over here https://github.com/fossasia/open-event-orga-server/pulls just like any other PR for this project.

[2016-10-02 10:09] niranjan94 commented on #2308
@amitkumarj441 also, please see `/admin/content/` to know what is expected

[2016-10-02 10:11] amitkumarj441 commented on #2308
Thanks @niranjan94 ! I'll soon initiate some PRs in content!

[2016-10-04 03:53] sainiak009 commented on #2430
I still can't see profile icon anywhere on navigation bar. Can you explain me current condition of this issue ?

[2016-10-04 12:51] mariobehling opened #2451 "Deleting event record results in server error"
After user has deleted event, it should be possible that an admin deletes the record completely in the admin section under "deleted events", e.g. http://open-event-dev.herokuapp.com/admin/events/

Deleting the event here results in a server error currently.

![screenshot from 2016-10-04 14 50 45](https://cloud.githubusercontent.com/assets/1583873/19074746/faa68de0-8a41-11e6-99af-a96792e0fc22.png)

[2016-10-04 13:00] mariobehling opened #2452 "Admin: Under tab "Sales" show subtab sales "By Marketer" and "By Discount Code""
In order to get event sales going we are planning to give discount codes to marketers, who then get a discount for event organizers and at the same time get a share of the income.

Please implement subtabs "By Marketer" and "By Discount Code" in the sales tab therefore, e.g. here
http://open-event-dev.herokuapp.com/admin/sales/

![screenshot from 2016-10-04 14 54 25](https://cloud.githubuserconten

[2016-10-04 13:05] mariobehling opened #2453 "Implement Role "Marketer" as System role and show marketer info on sales tab"
A marketer has the ability to sell events through a event discount code. The marketer will receive discount codes from administrators or sales and can give them out. The discount codes also identify the marketer, who at the end of the month gets a share of the events he/she got onboard.

For the role "marketer" the sales tab should the same information that is shows to other roles, but only show t

[2016-10-04 18:47] #2439 closed

[2016-10-05 01:34] SaptakS commented on #2430
@sainiak009 did you upload your profile pic? Can you share a screenshot with us to understand your situation better?

[2016-10-05 03:53] sainiak009 commented on #2430
@SaptakS I still can't see profile icon anywhere on navigation bar :

![screenshot 35](https://cloud.githubusercontent.com/assets/13566432/19100530/3fafaaa2-8add-11e6-9748-9983fc6aac04.png)

[2016-10-05 21:06] nikhilrayaprolu commented on #2451
@mariobehling I would like to work upon this but I see that I don't have admin access to check with the issue.

[2016-10-05 21:08] SaptakS commented on #2451
@nikhilbalyan you can set it up in your local system and go through the admin panel.

[2016-10-05 21:21] nikhilrayaprolu commented on #2430
@SaptakS @sainiak009 It has  worked well for me , the problem is only when we login using facebook or google for me

[2016-10-05 21:33] nikhilrayaprolu commented on #2301
@obnoxious23 @niranjan94 any updates regarding this discussion.
If something is finalised I would like to work on this

[2016-10-05 22:58] sainiak009 commented on #2452
@niranjan94 Please assign this task to me.

[2016-10-06 02:27] sainiak009 opened #2454 "Make DataTables in admin dashboard responsive"
DataTables are used in admin dashboard under most of the tabs and they are overflowing on small screens.

Screenshots :

![localhost-5000-admin-events- iphone 6 plus 2](https://cloud.githubusercontent.com/assets/13566432/19138488/402119ae-8b9a-11e6-8b0d-a2deb520e8d9.png)

![localhost-5000-admin-events- iphone 6 plus 1](https://cloud.githubusercontent.com/assets/13566432/19138487/401902e6-8b9a-11e6

[2016-10-06 20:47] nikhilrayaprolu commented on #2301
@obnoxious23 @niranjan94 @mariobehling  so what shall we do with account info tab? what all fields are needed to be implemented in it?

[2016-10-07 03:38] hongquan opened #2455 "Gunicorn error: 'Response' object has no attribute 'status_code'"
I followed the _INSTALLATION_LOCAL.md_ doc. I ran the web app with this command:

[code]

After testing a while, I got this error in console:

[code]

Update:
- My Python env: http://hastebin.com/nuwawupalu.ini

[2016-10-07 04:30] aviaryan commented on #2455
It is a gunicorn issue (https://github.com/miguelgrinberg/Flask-SocketIO/issues/223#issuecomment-179957484) and it doesn't lead to any data loss or problems. (https://github.com/miguelgrinberg/Flask-SocketIO/issues/223#issuecomment-222026743)
I don't think there is any thing we can do here. You can check the open issue on gunicorn. https://github.com/benoitc/gunicorn/issues/1210

[2016-10-07 04:43] #2455 closed

[2016-10-07 06:26] SaptakS opened #2456 "Option removed from dropdown in mobile screen after clicking"
All the tabs in dashboard have now been converted to dropdowns ([PR](https://github.com/fossasia/open-event-orga-server/pull/2446)). However, on clicking one of the options in the dropdown, the option disappears from the dropdown in http://open-event-dev.herokuapp.com/events/

To reproduce this issue, follow these steps:

1. Go to http://open-event-dev.herokuapp.com/events/
![screenshot from 2016-

[2016-10-07 06:29] SaptakS commented on #2433
This issue will be fixed once [this](https://github.com/fossasia/open-event-orga-server/issues/2447) issue is done with. Since this is not a high priority issue right now, we will work on it later. So closing this issue as this will be solved once the project is ported for the Python 3 release.

[2016-10-07 06:29] #2433 closed

[2016-10-07 06:31] SaptakS commented on #2422
@mariobehling we can already export it in iCal format once the scheduling of the session is done for a particular event. I don't think we can export in a calendar format until the sessions are scheduled. Please share your views.

Meanwhile I will check out the other formats.

[2016-10-07 07:32] mariobehling commented on #2422
@SaptakS Yes, correct.

[2016-10-07 08:11] sainiak009 commented on #2456
@SaptakS correcting it now.

[2016-10-07 08:41] sainiak009 commented on #2456
@SaptakS Bug resolved, review my pull request #2457

[2016-10-07 11:10] shubham-padia commented on #2451
@mariobehling I was not able to recreate the issue, and the records are deleted successfully without error in the admin panel. Please recheck if the isuue still persists.

Screenshots :
![screenshot from 2016-10-07 15-38-20](https://cloud.githubusercontent.com/assets/13910561/19188007/8a22915a-8cac-11e6-82fb-700bf20a4dfa.png)

![screenshot from 2016-10-07 15-38-26](https://cloud.githubusercontent.

[2016-10-07 12:55] #2456 closed

[2016-10-07 12:56] shubham-padia commented on #2145
@shivamMg Looks like this issue has been idle for sometime. Can i take this up :smile: ?

[2016-10-07 16:45] #2145 closed

[2016-10-08 07:09] IamAdiSri commented on #2451
Tried to recreate the issue and I too have found that permanent deletion of records by the admin does work. There were no errors thrown.

[2016-10-08 08:02] mariobehling commented on #2451
Good job. Thank you.

[2016-10-08 08:02] #2451 closed

[2016-10-09 06:54] abhishek1995s opened #2460 "createdatabase.py execution error"
DATABASE_URL` either not exported or empty
`DATABASE_URL` either not exported or empty
Traceback (most recent call last):
  File "create_db.py", line 35, in <module>
    db.create_all()
  File "/usr/local/lib/python2.7/dist-packages/flask_sqlalchemy/__init__.py", line 972, in create_all
    self._execute_for_all_tables(app, bind, 'create_all')
  File "/usr/local/lib/python2.7/dist-packages/flask_s

[2016-10-09 06:57] niranjan94 commented on #2460
Please follow the installation instructions at [docs/INSTALLATION_LOCAL.md](https://github.com/fossasia/open-event-orga-server/blob/development/docs/INSTALLATION_LOCAL.md) properly. You need to add the database URI as an environment variable named `DATABASE_URL`

[2016-10-09 06:57] #2460 closed

[2016-10-09 10:15] sainiak009 commented on #2454
@niranjan94 : Please review my pull request #2461

[2016-10-09 11:49] abhishek1995s opened #2462 "create_db.py execution error"
abhishek@abhishek-HP-15-Notebook-PC:~/projects/open-event-orga-server-development$ python create_db.py
`DATABASE_URL` either not exported or empty
`DATABASE_URL` either not exported or empty
Traceback (most recent call last):
  File "create_db.py", line 35, in <module>
    db.create_all()
  File "/usr/local/lib/python2.7/dist-packages/flask_sqlalchemy/__init__.py", line 972, in create_all
    self

[2016-10-09 12:09] aviaryan commented on #2462
Create a environment variable DATABASE_URL before running that script. I suppose you are trying to setup Open Event on your system so please refer to [INSTALLAITION_LOCAL](https://github.com/fossasia/open-event-orga-server/blob/development/docs/INSTALLATION_LOCAL.md) file for detailed steps. Closing this issue as it is not a bug.

[2016-10-09 12:09] #2462 closed

[2016-10-09 13:01] abhishek1995s commented on #2462
Thank u
It worked I created permanent environment variables earlier.

[2016-10-10 07:10] #2454 closed

[2016-10-10 18:09] mariobehling commented on #2447
Closing this. Can be reopened when time has come.

[2016-10-11 07:04] abhishek1995s opened #2463 "error while running"
Internal Server Error

The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.
It was working fine

[2016-10-11 07:13] #2463 closed

[2016-10-11 07:23] abhishek1995s opened #2464 "Requesting help"
I am late to this project.Can some one please tell me what all are the things to be completed in this project so that i could contribute to it. I am good in back end web development

[2016-10-11 07:30] niranjan94 commented on #2464
Please use the GitHub issue tracker only for reporting bugs, or feature proposals or any other technical discussions related to the project. Questions like this can be asked over at the Gitter channel (https://gitter.im/fossasia/open-event-orga-server).

As for a list of things to be completed, you can just browse the existing issues at https://github.com/fossasia/open-event-orga-server/issues/.

[2016-10-11 07:30] #2464 closed

[2016-10-11 07:53] abhishek1995s commented on #2464
I am sorry
Thank u

[2016-10-11 14:12] sainiak009 commented on #2046
This is how I propose to implement it :

- I will define a "Languages" dictionary in config.py where all the available languages will be listed.

- A localeselector function needs to be defined which will return best match from Accept-Languages header of browser or user can select his language from available languages.

- All text in views and templates which will need translation needs to be mark

[2016-10-12 04:30] hongquan opened #2465 "Simplify the local installation (for developement)"
Hi

I tried to setup the development environment, following _docs/INSTALLATION_LOCAL.md_ and found it is overcomplicated. Here is my proposal:

#### Database

We tell developer to create database user `open_event_user` and specify a lengthy
[code]
Can we instead just tell developer to create Postgres user with the same name as OS-login user. If my OS-login user is, for example, _quan_, I just need

[2016-10-12 04:44] mariobehling commented on #2465
@hongquan Sounds excellent. Please make a PR to update the local installation readme.

[2016-10-12 05:06] SaptakS commented on #2465
@hongquan one of the reasons for writing the redis installation as :

[code]
 It makes the thing OS independent. There can be linux distros which don't have redis-server in their official distro. Though I do agree with the `&` part to some extent and myself never use it.

Rest seems good to me.

[2016-10-12 05:16] hongquan commented on #2465
Can you estimate how many percent of that case? Should we favor a small number of distro which doesn't have official package for Redis, or favor a majority which do?

For the command to install Redis, we can give example for the 2 most popular distro family, Debian (with `apt`), and Fedora (with `dnf`). For other distro like Arch, Gentoo, their users are already geek enough to know how to install

[2016-10-12 05:19] SaptakS commented on #2465
@hongquan well an extra line copy-paste never hurts, so we wrote that because it anyhow gives a generalized way.  Otherwise I agree with your point but since it doesn't reduce the task much as it involves simple copy-paste, so we thought of sticking with it.

[2016-10-12 05:34] niranjan94 commented on #2046
@mariobehling the above implementation sounds good. What do you think ?

[2016-10-12 05:37] hongquan commented on #2465
After simplifying, the commands are also copy-paste. But by using the standard way, the developer won't make his/her system messy, and it will be consistent with other projects he/she involves. You can imagine that after taking part in some projects, the developer ends up having several instances of Redis in his/her machine, one is installed with distro tool, can be restarted easily (with `sudo se

[2016-10-12 05:43] mariobehling commented on #2046
@niranjan94 @sainiak009 Sound good. Let's go for it!

[2016-10-12 05:54] niranjan94 opened #2466 "Define supported languages"
Parent Issue: #2046

Define the languages Open Event would be supporting initially.

[2016-10-12 05:54] niranjan94 opened #2467 "Mark strings in views/templates that would be locale-specific"
Parent Issue: #2046

All strings in views/templates which will need translation needs to be marked.

[2016-10-12 05:54] niranjan94 opened #2468 "Create required directories/files for holding translations"
Parent Issue: #2046

- [x] Generation of `.pot` file
- [x] Directory to hold the compiled translation files

[2016-10-12 05:54] niranjan94 opened #2469 "Translation tab in the admin panel"
Parent Issue: #2046

* [ ] a) to have the ability to download the original po/pot as a sample for translation (and that can be used in translation applications like rosetta
* [ ] b) have the ability to upload po/pot files for new/updated languages directly into the system

[2016-10-12 05:54] niranjan94 opened #2470 "Compile translation files as a part of the build process"
Parent Issue: #2046

The initial compile of the translation files could be done when the server is starting up/deployed.

[2016-10-12 14:04] mariobehling commented on #2466
English and German

[2016-10-14 02:20] bradstimpson commented on #1991
Hi Folks, I can help out here.  What document has the highest priority?

[2016-10-14 02:59] mariobehling commented on #1991
Hi, there is no special priority. Any help is welcome. Thank you!

[2016-10-15 09:17] hongquan opened #2472 "Preselect timezone when creating new event"
When I create a new event, the Timezone dropdown should have a default value based on my location. I am in Vietnam, for example, the dropdown should be "UTC+7" by default.

[2016-10-15 14:25] #2453 closed

[2016-10-15 16:07] niranjan94 commented on #2324
@mariobehling the discount vouchers for the **marketers** can be created by **sales admin** and the **administrator**. Correct ?

[2016-10-15 22:04] mariobehling commented on #2324
Yes, correct.

2. Where would the new event organizer _enter_ the discount code that he/she has been given by the marketer ??

[2016-10-16 11:18] #2466 closed

[2016-10-16 11:31] sainiak009 commented on #2468
@mariobehling This issue is resolved in #2478

[2016-10-16 11:32] sainiak009 commented on #2469
This issue is resolved in #2478

[2016-10-16 11:44] #2468 closed

[2016-10-16 11:49] sainiak009 commented on #2470
Compile process in implemented on .PO files upload and .MO files are included in version control. So, Compile during build is not required. (Discussed with @niranjan94 ). So, This Issue is also resolved in #2478

[2016-10-16 11:51] #2469 closed

[2016-10-16 11:51] #2470 closed

[2016-10-16 15:57] #2465 closed

[2016-10-18 15:09] #2452 closed

[2016-10-18 16:43] niranjan94 commented on #2324
@mariobehling In the admin sales page, we could have a tab named **promoted events** and display only the events that have a discount code applied. The display format can be the same as that of the **By events** with an additional column with the discount code applied and marketer name.

[2016-10-18 17:08] rafalkowalski opened #2483 "Internal server error while facebook sign in on http://open-event.herokuapp.com/"
[code]

[2016-10-18 18:15] mariobehling commented on #2324
@niranjan94 Yes, good idea. Please proceed.

There is an additional requirement - specific marketer should only see the events with codes assigned to him/herself. Can we do that?

[2016-10-19 01:47] #2430 closed

[2016-10-19 01:55] niranjan94 commented on #2324
@mariobehling yes. that can be done.

[2016-10-19 15:26] #2324 closed

[2016-10-19 15:38] mariobehling opened #2488 "pycrypto installation fail"
On docker installation, the pillow-3.4.2 released on Oct 17, 2016 breaks Fabric-1.11.1 (which requires pycrypto-2.6.1)

Error log,
[code]

For whatever reason it could be, specify the previous pillow release fix this break.

[2016-10-19 16:29] #2488 closed

[2016-10-20 08:34] #2385 closed

[2016-10-21 02:41] niranjan94 commented on #2230
@souravsingh are you still working on this project ? If not, let me know so that I can assign this to someone else

[2016-10-21 13:23] niranjan94 commented on #2483
Facebook API tokens were missing. Fixed.

[2016-10-21 13:23] #2483 closed

[2016-10-22 02:01] niranjan94 commented on #2308
@amitkumarj441 what is the progress on this issue ?

[2016-10-24 02:01] niranjan94 commented on #1990
this issue actually seems to be resolved.

[2016-10-24 02:01] #1990 closed

[2016-10-24 15:46] #1413 closed

[2016-10-24 17:51] #2230 closed

[2016-10-25 07:36] mariobehling commented on #2172
Closing this and will open an issue for Piwik when time has come.

[2016-10-25 07:36] #2172 closed

[2016-10-25 07:40] mariobehling commented on #2415
Thank you for helping to clear up this question. The Google Cloud team agreed to support the project and we will go with this solution. I will open a dedicated issue. Cheers.

[2016-10-25 07:40] #2415 closed

[2016-10-25 07:46] mariobehling opened #2495 "Set up System on Google Cloud and configure automatic deployments"
Kubernetes enables applications to scale up or down based on the needs. Please set up eventyay on Google cloud.

Discussed set up:
- deploy DB on one system
- deploy other parts on separate container(s)

Other:
- Document how to ensure updates (continues integration/continuous deployment)

[2016-10-25 16:04] niranjan94 opened #2498 "Implement Export in Pentabarf XML format"
Parent Issue: #2422

Example: https://debconf16.debconf.org/schedule/pentabarf.xml

[2016-10-25 16:06] niranjan94 opened #2499 "Test & Fix existing iCal export"
Related issue: #2422

We already have an existing iCal export feature part of the scheduler. Verify if the export is correct and maximum amount of data is included. Fix any bugs found.

[2016-10-25 16:15] niranjan94 opened #2500 "Implement export in xCal format"
Related issue: #2422

(Similar to iCal. But in XML)

Sample: https://gist.github.com/niranjan94/1d7ee1a7eb5db50495e66231ca932cf1

[2016-10-25 16:41] benjah1 opened #2501 "Only the first confirmation email can verify user"
Version: 84a0a7d

The link in the resend confirmation email isn't same as the first confirmation email.

Test case,
1. Create a new user, without verifying this account.
2. As this unverified new user, go to `Manage Events` page, and resend the confirmation.
3. Check email again. Now try verify the account with the latest confirmation email.

As a result, I get a 404 page.

[2016-10-25 20:59] benjah1 commented on #2501
After looking into the code, I find out there is a bigger security problem.

First confirmation email can 'always' verify user, because it uses the plain password.
The resend confirmation email may fail, if the encrypted contain '/'.

[2016-10-25 23:15] mariobehling commented on #2501
@benjah1 Thanks for looking into this. What are your ideas to fix this? Could you help with it?

[2016-10-26 01:57] #2501 closed

[2016-10-26 07:20] amitkumarj441 commented on #2308
Sorry @niranjan94 for late reply!

You haven't updated this issue, we already discussed about this issue.
Please update this issue, so that I can able to make some PRs!

[2016-10-26 08:19] niranjan94 commented on #2308
@amitkumarj441 done. Please proceed.

[2016-10-27 02:43] SaptakS opened #2504 "Date-time UI is distorted in Create Event page in smaller screens"
![selection_001](https://cloud.githubusercontent.com/assets/9530293/19752727/25d9a42e-9c1d-11e6-8b1d-8129bcfb7fe5.png)

[2016-10-27 03:07] SaptakS opened #2505 "CFP start and end date needs to be compulsory if announced in create event"
500 internal server error is given if start and end date not provided for CFP announcement in Create Event.

[2016-10-27 04:21] SaptakS commented on #1598
![selection_002](https://cloud.githubusercontent.com/assets/9530293/19754395/e1a348b0-9c2a-11e6-9394-eed1e74e0d4c.png)

The Tabs in admin dashboard are still not responsive.

[2016-10-27 16:30] #2498 closed

[2016-10-27 16:30] #2499 closed

[2016-10-28 05:43] #2505 closed

[2016-10-28 06:04] #2504 closed

[2016-10-28 08:34] SaptakS opened #2511 "Call For Speaker Events in Home Page are wrong."
In home page, only the starting date of call for speakers is checked irrespective of the end date. So even if call for speakers is closed, it is shown.

http://open-event-dev.herokuapp.com/e/0e5d7295/cfs/

[2016-10-28 12:17] #2511 closed

[2016-10-28 14:02] #2422 closed

[2016-10-28 14:02] #2500 closed

[2016-11-01 17:50] shubham-padia commented on #2308
@niranjan94 @mariobehling Can i work on this issue ?

I've roughly implemented the points

and

I can start working on

if i get a go ahead.
Thank You.

[2016-11-02 01:09] niranjan94 commented on #2308
@shubham-padia yes. You can proceed.

[2016-11-02 10:08] #2467 closed

[2016-11-02 10:48] sainiak009 commented on #2046
@niranjan94 @mariobehling Is there anything left for closing this issue ?

[2016-11-02 14:10] niranjan94 commented on #2046
@sainiak009 I think this issue can be closed. Anything else, could be put in a new issue :) ... You did a wonderful job with this !! :D ... Thanks ... :)

[2016-11-02 14:10] #2046 closed

[2016-11-02 21:52] sainiak009 commented on #2036
@niranjan94 @mariobehling I would like start working on it. My queries are :

- As suggested by @shivamMg Either we can have our own support system integrated with this project or we can have a separate support system. ?
-Text Editor can be a simple one with support for rendering images or It can be a markdown editor ?.
- Can we use Google Custom Search or [Flask-WhooshAlchemy](https://pythonhoste

[2016-11-03 02:37] niranjan94 commented on #2495
**TODO:**
- [ ] Persistent storage disk for PostgreSQL & Redis
- [ ] Fix `404` error on deployment by properly setting SERVER_NAME during deployment
- [ ] Continuous deployment on each GitHub push (like heroku)

[2016-11-03 02:41] niranjan94 commented on #2036
- I'm not sure. I think one integrated with this project ?
- We could use a simple WYSIWYG Rich text editor like [summernote](http://summernote.org/)
- WhooshAlchemy looks cool ...

@mariobehling your views ?

[2016-11-03 02:47] mariobehling commented on #2495
I guess, we should be adding another branch "production" after an initial test period.

[2016-11-03 02:51] mariobehling commented on #2036
Preferably a solution hosted separately, e.g. at "support.eventyay.com". Features required:
* simple search
* possibly a system that can be hosted on github pages
* easily translatable

What documentation generators are suitable? Any suggestions?

[2016-11-03 03:29] mariobehling commented on #2046
@sainiak009 Great job! Thank you. Let's get the internationalization rolling now. Cheers.

[2016-11-03 04:57] niranjan94 commented on #2495
@mariobehling correct. And that branch should also have tagged releases.

[2016-11-05 15:26] sainiak009 commented on #2036
@niranjan94 @mariobehling : [Nikola](http://nikola.readthedocs.io/en/latest/) and [Pelican](http://docs.getpelican.com/en/3.6.3/) Both seems to be popular for static site generation but I will suggest using Nikola as it is more user-friendly, Nikola's default theme is Bootstrap which we are also using. It supports reStructured, Markdown, plain HTML etc, Github deployment can be done by just a comm

[2016-11-05 22:03] mariobehling commented on #2036
@sainiak009 Thanks for looking into it. Nikola and Pelican both do not use their system for their own documentation. So, in that area they are unfortunately not convincing.

[2016-11-06 02:07] sainiak009 commented on #2036
@mariobehling NIkola uses It's system for it's documentation. Here is the [link](https://getnikola.com/)
Nikola just place It's latest docs at readthedocs but all documentation of nikola can be found [Here](https://getnikola.com/) too.

[2016-11-06 17:53] sainiak009 commented on #2036
@niranjan94 What are your views and suggestions ?

[2016-11-08 04:12] niranjan94 commented on #2308
@shubham-padia what's the progress on this issue ?

[2016-11-08 05:16] shubham-padia commented on #2308
@niranjan94 #2516 has been merged, only testing on the point

Remains to make sure there aren't any discrepancies .
A third eye would be helpful in testing that :smiley:

[2016-11-08 12:25] amitkumarj441 commented on #2308
@niranjan94 Apologies for the delay! Please let me know if their is anything pending!

[2016-11-08 12:41] niranjan94 commented on #2308
@shubham-padia good work with the progress. But there are a few things I noticed.

1. [ ] Top left logo is missing
2. [ ] The user placeholder displayed is too big and out of proportions

![screenshot from 2016-11-08 18 06 41](https://cloud.githubusercontent.com/assets/2404372/20099441/7ef6148c-a5de-11e6-86fd-210488d042b9.png)

3. [ ] The upload dialog box is not displaying the correct dimensions

[2016-11-08 12:43] niranjan94 opened #2525 "'Logout' text is missing."
The logout text is missing. Probably due to a bug the i18n implementation

### Screenshot:
![screenshot from 2016-11-08 18 12 02](https://cloud.githubusercontent.com/assets/2404372/20099519/e63ef83e-a5de-11e6-9b60-ecb7a1bcd4fc.png)

[2016-11-08 12:43] niranjan94 opened #2526 "Make the name 'Open Event' configurable."
We have currently hard coded the name **"Open Event"** in multiple places (UI) throughout the application.

This has to be configurable in the admin setting page since 'Open Event' is just a code name that we're using.

[2016-11-08 13:00] shubham-padia commented on #2308
@niranjan94 about

Is there a provision for providing the top left logo, because currently it is hardcoded as follows
![screenshot from 2016-11-08 18-27-22](https://cloud.githubusercontent.com/assets/13910561/20099976/2549cc3c-a5e1-11e6-9891-3981b92b28c3.png)

[2016-11-08 13:09] niranjan94 commented on #2308
@shubham-padia you'll have to make it such that the user can upload a logo image ... The text that is there now is just temporary

[2016-11-11 01:14] #2526 closed

[2016-11-11 02:17] niranjan94 opened #2530 "Bug: Kubernetes Deployment Info shown on heroku"
Do not try to show Kubernetes deployment info when not hosted on Kubernetes

[2016-11-11 02:17] #2495 closed

[2016-11-11 10:08] mariobehling opened #2531 "Include "Send again." link in info message box"
Until an account is verified there is an unverified box appearing on certain actions.

Please add a "send again" link in that message.

![screenshot from 2016-11-11 18 07 16](https://cloud.githubusercontent.com/assets/1583873/20211502/de26ca98-a839-11e6-85c0-6efe25c741f6.png)

[2016-11-11 15:19] #2530 closed

[2016-11-12 02:34] #2525 closed

[2016-11-12 04:02] mariobehling opened #2537 "Logs showing email sent, but does not seem to be sent"
Emails do not seem to be sent, but show up as sent in logs on eventyay.

![screenshot from 2016-11-12 12 01 21](https://cloud.githubusercontent.com/assets/1583873/20235544/e1af237c-a8cf-11e6-8b8d-b59d83cb4a8f.png)

[2016-11-12 04:05] mariobehling opened #2538 "Left sidebar and footer bar not showing entries after update"
Expected behaviour: Footer and sidebars should have info after updates.

![screenshot from 2016-11-12 12 03 21](https://cloud.githubusercontent.com/assets/1583873/20235564/5364aaaa-a8d0-11e6-8d05-d0c096ab10fe.png)

![screenshot from 2016-11-12 12 04 28](https://cloud.githubusercontent.com/assets/1583873/20235565/58177208-a8d0-11e6-97fa-37b88d80f853.png)

[2016-11-12 04:09] mariobehling opened #2539 "Implement Google Cloud storage"
Implement Google Cloud storage as an alternative to local storage and Amazon S3.

More info: https://cloud.google.com/storage/docs/migrating

![screenshot from 2016-11-12 12 08 48](https://cloud.githubusercontent.com/assets/1583873/20235583/caa7978a-a8d0-11e6-9d10-f0b25cda0cfa.png)

[2016-11-12 04:15] mariobehling opened #2540 "When adding sponsors information of first sponsor gets copied to second sponsor"
Expected behaviour: Sponsorship info should be empty.

![screenshot from 2016-11-12 12 15 01](https://cloud.githubusercontent.com/assets/1583873/20235622/c3ddad26-a8d1-11e6-822e-7b6c3b08b252.png)

[2016-11-12 04:23] mariobehling opened #2541 "Upload of sponsorship images apparently not working"
Added sponsorship images do not show up in the public page or on the dashboard.

Please ensure:
* [x] Images are uploaded

Resolving this issue, please also:
* [ ] Implement a preview in the upload section (step 2 of wizard) similar to the image upload in wizard step 1

![screenshot from 2016-11-12 12 20 47](https://cloud.githubusercontent.com/assets/1583873/20235656/dad98918-a8d2-11e6-8306-b50995

[2016-11-12 04:28] mariobehling opened #2542 "Instead of ticketing system URL shows up when editing wizard step 1"
When the event was set up, the ticketing system was used. Now a URL shows up to a ticketing page within Open Event.

Expected behavior: Please show the ticketing system as before.

![screenshot from 2016-11-12 12 26 13](https://cloud.githubusercontent.com/assets/1583873/20235682/7151c77a-a8d3-11e6-8858-95bad2ca0ed2.png)

[2016-11-12 04:32] mariobehling opened #2543 "Adding tickets the ticket standard time is set to a later time - Standard should be sales starts now"
I set up an event and I checked out the public page. It shows "ticket sales start in the evening at 7pm".

Expected behavior:

1. When I fill in the ticketing and do not change the timing, the ticket sales should start immediately. The time that ticket sales start, should be set to the "current time".
If the user changes the time him/herself of course the sale should start according to what the us

[2016-11-12 04:36] mariobehling opened #2544 "User who booked a ticket is not directed to top of page"
The user should be viewing the top of the next page after he/she bought a ticket.

![screenshot from 2016-11-12 12 35 43](https://cloud.githubusercontent.com/assets/1583873/20235713/a310d2aa-a8d4-11e6-913f-0e6d2ea832b3.png)

[2016-11-12 05:59] mariobehling opened #2545 "Account data changed when user buys several tickets"
Description:

I added information to get tickets for an event. Both tickets had another name and email (not the account email). I got the tickets, but at the end my account name changed to the second's ticket name.

Expected:

There should not be any change in the account data.

![screenshot from 2016-11-12 13 57 06](https://cloud.githubusercontent.com/assets/1583873/20236024/2606ec70-a8e0-11e6-84

[2016-11-12 06:08] mariobehling opened #2546 "Not receiving ticket email"
After buying tickets user does not receive ticket email even though option is set accordingly in admin email settings.

![screenshot from 2016-11-12 14 08 06](https://cloud.githubusercontent.com/assets/1583873/20236049/79c39c72-a8e1-11e6-8de7-52943694786e.png)

[2016-11-12 06:19] mariobehling opened #2547 "Adding image to speakers form erroneous"
1. There is a setting "max 1MB" which does not show an error message when a larger photo is chosen. Expected: Show error message "Please choose a photo that is maximum 1MB large."

2. Trying to add a photo is not always possible. Expected: It should work like in wizard step 1.

![screenshot from 2016-11-12 14 17 40](https://cloud.githubusercontent.com/assets/1583873/20236093/0b0f2cb8-a8e3-11e6-8ba

[2016-11-12 06:21] mariobehling commented on #2547
It seems like some form interaction takes place "behind" the lightbox overlay.

[2016-11-12 08:34] SaptakS commented on #2547
I will look into this.

I didn't get what do you mean by not always possible.

Yes. The image is first uploaded temporarily so that a preview can be shown.

[2016-11-12 08:47] SaptakS commented on #2541
I will look into this.

[2016-11-12 13:23] mohitsaini12628 opened #2549 "[Bug] Some libraries are present in system but the application files does not read them."
While setting up the application locally [INSTALLATION_LOCAL.md](https://github.com/fossasia/open-event-orga-server/blob/development/docs/INSTALLATION_LOCAL.md), as per the instructions in the command ```python create_db.py``` gives an import error ```ImportError: No module named forex_python.converter```. But this library is present in the system at ```/usr/local/lib/python2.7/site-packages```.
T

[2016-11-12 14:27] SaptakS commented on #2540
I will look into this.

[2016-11-13 01:13] mariobehling commented on #2547
Sometimes it works, sometimes not. In most cases it does not work for me. There should be a scaling function and flow like the photo upload in the event wizard.

The photo is behind the lighbox - it is hidden. The user cannot see. The dialogs also happen behind the box - invisible.

[2016-11-13 05:00] mohitsaini12628 commented on #2549
I found and realised that ```/usr/bin/python``` is the executable path for the python that comes with OS X. ```/usr/local/lib``` is a location for user-installed programs only, possibly from Python.org or Homebrew. So, the best thing is  make sure you use the ```pip``` associated with a particular python. For that, you can run ```python -m pip install <pkg>```, or go look at what the ```pip``` on

[2016-11-13 08:39] SaptakS commented on #2547
@mariobehling I will check this out.

[2016-11-14 12:45] #2542 closed

[2016-11-14 14:11] #2545 closed

[2016-11-14 18:14] magdalenesuo commented on #2540
Can I work on this?

[2016-11-14 19:45] SaptakS opened #2552 "Email sending options"
Sendgrid email often runs out of limit. We have 2 options:

* Get a premium sendgrid account
* Other alternative

This would solve all the erroneous email related issues like #2546 #2537

[2016-11-14 19:45] SaptakS commented on #2537
Closing this issue as solving #2552 solves this.

[2016-11-14 19:45] #2537 closed

[2016-11-14 19:45] SaptakS commented on #2546
Closing this issue as solving #2552 solves this.

[2016-11-14 19:45] #2546 closed

[2016-11-15 01:32] #2549 closed

[2016-11-15 01:51] niranjan94 commented on #2552
We can provide two options in the super admin settings page.

1. SMTP
2. Sendgrid

As far as eventyay is concerned, we may need a premium sendgrid account since we don't have a mail service for eventyay.com yet.

[2016-11-15 14:13] niranjan94 commented on #2538
This was due to incomplete data in the database after #2497. It has been resolved.

[2016-11-15 14:13] #2538 closed

[2016-11-15 14:13] #2552 closed

[2016-11-15 14:37] #2543 closed

[2016-11-15 16:55] #2531 closed

[2016-11-15 18:59] #2540 closed

[2016-11-16 01:53] niranjan94 commented on #2544
@rafalkowalski are you working on this or can I take this up?

[2016-11-16 12:08] #2544 closed

[2016-11-16 12:26] #1301 closed

[2016-11-16 13:37] niranjan94 opened #2559 "Session type duration picker not in HH/MM format"
Session type duration picker not in HH/MM format when a new session type is added.

[2016-11-16 15:48] tonghuix opened #2560 "Confirm mail sending fail"
I register a event at  https://open-event-dev.herokuapp.com/e/edca532e/

And it is fail to live because of confirm mail sending fail.

[2016-11-16 17:22] jarifibrahim opened #2561 "Event delete button does not work"
The delete button on the following page does not work
http://open-event-dev.herokuapp.com/events/

This is what I get after clicking on the delete button

![screenshot from 2016-11-16 22-47-44](https://cloud.githubusercontent.com/assets/12949454/20357669/d4a40cba-ac4e-11e6-95dd-d06aeb95c216.png)

[2016-11-16 17:32] SaptakS commented on #1845
@mariobehling this is supposed to be a GCI task. The structure is already implemented. And we discussed that more images for the sub categories can be added by GCI participants. So I think we shouldn't be adding beta-release. What do you think?

[2016-11-16 17:42] SaptakS commented on #2560
Can you please tell your event_id? So that I can check??

[2016-11-16 19:05] SaptakS commented on #2561
I think it does get deleted but due to some DB query it still gets shown. @jarifibrahim would you like to fix this issue?

[2016-11-16 20:05] jarifibrahim commented on #2561
@SaptakS Definitely. Any suggestions on where I should look?

[2016-11-16 20:07] SaptakS commented on #2561
Check event.py in views folder and see how it is fetching data for that page. I think it will have some function in datagetter.py file inside helper folder.

[2016-11-17 02:18] niranjan94 opened #2564 "Internal Server error on eventyay.com"
Internal Server error on eventyay.com. The containers seem to be up though.

[2016-11-17 03:19] SaptakS commented on #2541
@niranjan94 the preview system hasn't been added. I will add that and close this issue.

[2016-11-17 03:20] SaptakS commented on #2561
@niranjan94 you tagged the wrong issue in your PR. :)

[2016-11-17 03:21] #2559 closed

[2016-11-17 04:57] mariobehling commented on #1845
Yes, correct.
Could you make a list of the images needed, please?
Which size is the standard size?

[2016-11-17 05:11] SaptakS commented on #1845
I will do that. What I wanted to know is is this feature necessary for release?? Because since this is a gci task, I am guessing I wont be completed before December. And we are targeting release in November. So I thought maybe beta-release label is not appropriate.

[2016-11-17 07:46] niranjan94 commented on #2561
@SaptakS oh ... Sorry ... my bad :sweat_smile:

[2016-11-17 14:24] #2564 closed

[2016-11-17 17:01] jarifibrahim commented on #2561
@SaptakS I am not able to reproduce the bug locally. I believe http://open-event-dev.herokuapp.com has some older version of the web app.

[2016-11-17 17:04] SaptakS commented on #2561
@jarifibrahim  [ http://open-event-dev.herokuapp.com](http://open-event-dev.herokuapp.com) is automatically deployed from the development branch. So in case it happens in the link it has to happen in your system as well. And I checked in my local system, the error is still there.

[2016-11-17 18:20] #2561 closed

[2016-11-18 12:15] #2541 closed

[2016-11-18 13:35] SaptakS commented on #2560
@tonghuix, I am unable to reproduce this error. Can you please tell a way to reproduce this? Or can you please tell the event_id of the event you registered?

[2016-11-18 15:09] SaptakS commented on #2547
@mariobehling the problem is happening because of nested modals for the cropping feature. If we remove the cropping feature the bug would be solved. I think we can remove the cropping feature for the time...

[2016-11-18 15:40] mariobehling commented on #2547
@SaptakS Thanks for the explanation. Unfortunately the cropping feature is kind of basic here. Speakers often have images that do not fit well into the design and we need to be sure, that the images are in square format. How to get a fix and keep the feature?

[2016-11-18 15:44] SaptakS commented on #2547
I will try to fix this tonight.

[2016-11-19 03:03] niranjan94 opened #2573 "Create two sets of Kubernetes configuration"
Based on the discussion here: #2572

We can have two sets of kubernetes configuration. One eventyay specific and another one as generic as possible.

[2016-11-19 07:58] Lidilidian opened #2574 "[Proposal] Indonesian translation"
I am interested in the project open-event and want to contribute to translate into Indonesian, I see in this repository there are two languages, namely English and German (there are .po and .mo file german language), for that, can I add a Indonesian to this project ?

[2016-11-19 08:04] mariobehling commented on #2574
Yes, great. Thank you.

[2016-11-19 11:42] Lidilidian commented on #2574
which one should i use for translate template app/translation/message.pot or de/LC_MESSAGES/message.po ?

[2016-11-19 13:57] rafalkowalski opened #2577 "[Proposal] Polish translation"

[2016-11-19 14:14] #2539 closed

[2016-11-20 04:27] mariobehling opened #2578 "Organizer Profile: Improve design of Social Links"
Currently the social links on the organizer profile are simply added as text in the form (e.g. http://open-event-dev.herokuapp.com/profile/).

The domain should not be a part of the form though. Please see example below.

![screenshot from 2016-11-20 05-26-04](https://cloud.githubusercontent.com/assets/1583873/20460420/0e4d3276-aee2-11e6-883e-6350a0bc8969.png)

[2016-11-20 12:46] #2578 closed

[2016-11-20 19:22] jayvdb commented on #2574
@mariobehling , I recommend using weblate for translations, using their free host mentioned at https://weblate.org/en/hosting/#free , by filling in the form at https://hosted.weblate.org/hosting/ .

After a little setup, all translations are automatically merged into the repo, however it is also possible to adjust the translation files using PRs, and these will be pushed into the weblate site as w

[2016-11-20 23:59] mariobehling commented on #2574
@jayvdb Thank you very much. I did not know weblate. Looks very neat. I asked for project hosting. Let's see, if they accept. Cheers.

[2016-11-21 05:36] niranjan94 commented on #2560
@tonghuix new tokens have been added. Email sending should work now.

[2016-11-21 05:36] #2560 closed

[2016-11-21 13:18] niranjan94 opened #2581 "Email preference always shown as 'off'"
In `email preferences` at `/settings/email-preferences/` the Email Updates are always displayed as off irrespective of the actual state

[2016-11-21 16:09] niranjan94 opened #2585 "Implement import of Pentabarf XML format"
Parent issue: #2185

Example: https://debconf16.debconf.org/schedule/pentabarf.xml

[2016-11-21 17:00] #2301 closed

[2016-11-21 18:40] tonghuix commented on #2560
Thank you very much! It is coming alive now https://open-event-dev.herokuapp.com/e/edca532e/

[2016-11-23 13:10] #2581 closed

[2016-11-23 14:46] #1598 closed

[2016-11-24 12:46] niranjan94 opened #2592 "Google cloud storage uploads not working"
Even when google cloud is enabled, files are being saved locally.

[2016-11-24 12:49] niranjan94 opened #2594 "Import not working on Kubernetes deployment"
The file upload for import is not working on Kubernetes deployment. (but works locally and on heroku)

[2016-11-24 12:57] niranjan94 opened #2595 "Page not returning to the correct tab"
At `/admin/content/pages/` once a new page is added or when an old page is edited, the user is not returned to the same **Pages** tab.

[2016-11-24 13:19] #2592 closed

[2016-11-24 14:42] #2595 closed

[2016-11-24 16:51] niranjan94 commented on #2594
**Reason:**
Celery and gunicorn are running in two separate containers. The file upload is stored on a temporarily folder inside gunicorn's container. That folder is obviously not accessible from the celery container.

**Solution:**
Setup a persistent store that can be simultaneously accessed by multiple pods. Hence, we need to use an NFS persistent store.

[2016-11-24 17:20] mariobehling commented on #2594
Will this solution still enable us to scale up and down containers and resources required.. depending on the number of users etc?

[2016-11-25 01:39] niranjan94 commented on #2594
@mariobehling yes. The persistent store will also be scalable.

[2016-11-26 13:16] #2594 closed

[2016-11-26 15:52] #2547 closed

[2016-11-26 17:54] mariobehling opened #2602 "Login with Google not working"
Trying to login with Google, I get an error page with the following info:

The redirect URI in the request, http://eventyay.com/gCallback, does not match the ones authorized for the OAuth client. Visit https://console.developers.google.com/apis/credentials/oauthclient/1033793180170-3hce8s4mcef7s878ojp4tbm9ijfh207i.apps.googleusercontent.com?project=1033793180170 to update the authorized redirect U

[2016-11-27 04:19] #2602 closed

[2016-11-28 09:27] mariobehling opened #2603 "Implement Withdraw proposal feature for speakers"
Currently we do not have a withdraw proposal option for speakers.

[2016-11-28 12:28] niranjan94 commented on #2603
@mariobehling when a speaker _withdraws_ his proposal, should it be deleted or reverted back to the draft state ?

[2016-11-28 14:07] niranjan94 commented on #2603
I have implemented it such that,

When a speaker withdraws a proposal, it gets deleted. (soft delete).

If the speaker wishes to make the proposal a draft again, he can already do it by pressing edit proposal -> save as draft.

[2016-11-28 16:05] #2436 closed

[2016-11-28 16:09] niranjan94 opened #2605 "Clean up python dependencies"
We have loads of python dependencies of which a few are totally unused and can be removed or replaced with a few lines of python code instead of an external dep.

**Tasks:**
- [x] Find the dependencies that are unused and remove them (#2689)
- [ ] If any dependency is just used for a very small function or purpose which could be replaced with vanilla python, replace the dependency

[2016-11-28 16:25] niranjan94 opened #2606 "Remove API v1 endpoints"
The endpoints in question: https://open-event-dev.herokuapp.com/documentation

These endpoints where from the previous version of Open Event and we have gone a long way from there with a lot of changes to the aim of this project. And in my opinion, I feel we don't need to maintain the v1 endpoints any more.

@mariobehling @SaptakS @aviaryan @rafalkowalski your opinon ?

[2016-11-28 18:03] PolBaladas commented on #1845
Hi there!
I've got a little nice image scraping script (scrapes pixabay). Would it be interesting to automatically get the pics that are needed? @mariobehling

[2016-11-28 18:28] PolBaladas commented on #1845
That'd be much faster

[2016-11-28 22:22] SaptakS commented on #1845
@PolBaladas we actually don't need all images but a single image for each subcategory which is just the default image. It is later completely customisable and the one hosting the server or anyone with admin level access can change it later. So I don't think you need scraping as such.You need to checkout the sub-categories and find images accordingly.

[2016-11-28 22:34] PolBaladas commented on #1845
Yeah, okay. I meant that if someone used the script it would be a faster method to get the pics, for exampe using a list with subcategories and taking the first pic each time.

Anyway, I get it now, Thanks! @SaptakS.

[2016-11-28 22:38] SaptakS commented on #1845
Well first pic might not always be the best one. Otherwise I do agree with your approach

[2016-11-28 22:39] PolBaladas commented on #1845
Okay then. We could maybe pick first 5 pics and select from there? I don't know if this would be impractical or not. Thanks

[2016-11-28 22:40] PolBaladas commented on #1845
How many categories are there?

[2016-11-29 06:32] Tandoori-Momos opened #2608 "Bug: Multiple accounts using the same email(Google+ and Facebook Login)"
**Bug:** Multiple accounts can be made with the same email by an user using their Google+ and Facebook account which have the same email.

**For Example:** The two profiles (Top: Google+ - Bottom: Facebook) are different yet they share a common email address.

![bug](https://cloud.githubusercontent.com/assets/22882925/20699064/52a70eb0-b62b-11e6-9bf4-a48b3651f70a.PNG)
![bug2](https://cloud.githubu

[2016-11-29 10:02] niranjan94 commented on #2608
@Tandoori-Momos I believe the underlying account is the same ... Only the profile picture changes

[2016-11-29 11:21] #2608 closed

[2016-11-29 14:22] Wermarter opened #2609 "Signing up new account with Gmail"
@GoogleCodeIn
New password can be entered anyhow (even an one-letter password is acceptable)
![buggy](https://cloud.githubusercontent.com/assets/16450814/20713183/da0ffddc-b679-11e6-8e72-7967814f3004.png)

[2016-11-29 15:03] animeshsinghweb opened #2610 "Confirmation mail unable to send on Gmail accounts"
I had recently created an account on the dev site at heroku, but I noticed there is some bug for sending **confirmation** mail link on gmail accounts. I tried resenting the code, **checked** over my spams and yet I hadn't received the mail. My email account is f4.animesh@gmail.com on the event dev site, and due to non confirmation I was unable to publish the demo event.

Is there anything seriousl

[2016-11-29 15:14] animeshsinghweb opened #2611 "Sponsored Links URL input area is too short"
![img_1428](https://cloud.githubusercontent.com/assets/16618931/20715039/e2ecc6ac-b673-11e6-8ebc-0307e709253b.PNG)

The input box for sponsors URL is too short on Tab devices (in my case from iPad) and also I guess there is no initiative used to ensure that it is a valid URL and it can be used to ruin databases by malicious codes.

Don't you think that the input box should be big enough at least f

[2016-11-29 15:17] niranjan94 commented on #2610
@animeshsinghweb no issue with the code as far as I know. Could be the mail settings. Thanks for the bug report :)

[2016-11-29 15:19] niranjan94 commented on #2609
@Wermarter if you check the registration page (https://open-event-dev.herokuapp.com/register/) you'll see that the min characters required is 6. Login page doesn't require that check.

[2016-11-29 15:19] #2609 closed

[2016-11-29 15:27] animeshsinghweb commented on #2610
Is it with gmail account basically? I hadn't enquired any error in receiveing such mails from any other sites. Should I try other email providers like yahoo or Yandex?
Thanks.

[2016-11-29 15:41] Wermarter commented on #2609
Sorry for the unclear image but what I mean is when you login with an unregistered email, the create password page doesn't have the check.
![buggy](https://cloud.githubusercontent.com/assets/16450814/20716366/8d0bc038-b684-11e6-8655-186fe003997d.png)

[2016-11-29 16:33] jQwotos opened #2612 "Login page still shows login page when logged in"
![http://i.imgur.com/94Ys2CK.png](http://i.imgur.com/94Ys2CK.png)

When logged in, you can still access the [login page](http://open-event-dev.herokuapp.com/login/) which feels odd.

It's probably better to redirect people to [/profile](http://open-event-dev.herokuapp.com/profile/) or a different page when they are logged in.

Steps to Reproduce
* Logged in with Google
* Visit http://open-event-de

[2016-11-29 18:54] jQwotos opened #2613 "Doesn't block error dates on client side"
When creating an event, the user should not be able to enter a start and end date that returns a 500 server error.

This should be blocked on client side initially.
Also because the backend doesn't return with a proper error it also seems to be a backend issue.
![http://i.imgur.com/AQEyjD1.png](http://i.imgur.com/AQEyjD1.png)
![http://i.imgur.com/K3X9IdM.png](http://i.imgur.com/K3X9IdM.png)

Steps

[2016-11-29 21:30] mariobehling commented on #2606
Totally agree. Please clean up anything from v1. It was a prototype that helped us to progress, but the code is no longer needed.

[2016-11-29 21:32] #2603 closed

[2016-11-29 23:14] Wermarter opened #2614 "Signing up with unregistered email account"
New password can be entered anyhow (even an one-letter password is acceptable)
![buggy](https://cloud.githubusercontent.com/assets/16450814/20733048/2697c884-b6c4-11e6-817e-0563c09fde75.png)

[2016-11-30 00:52] PolBaladas commented on #1845
What do you think @mariobehling ?

[2016-11-30 01:07] mariobehling commented on #1845
Please let's keep it simple. Discussion on this issue is already very long.

[2016-11-30 02:45] niranjan94 commented on #2610
@animeshsinghweb not from your side. I meant the server's mail configuration. I'll take a look

[2016-11-30 02:56] niranjan94 commented on #2610
@animeshsinghweb this has been fixed. It was due to an incorrect sendgrid token used on the server.

[2016-11-30 02:56] #2610 closed

[2016-11-30 06:54] PolBaladas commented on #1845
Okay.

[2016-11-30 09:55] SaptakS opened #2616 "Internal Server Error when using Google or FB login"
On trying to logging in with FB or Google we get an Internal Server Error.

[2016-11-30 11:34] aviaryan commented on #2606
Agreed. API v1 is not needed and should|can be removed now. I see there is a `/calendar` API there so maybe we will need to move it to v2.

[2016-11-30 11:44] #2606 closed

[2016-11-30 12:06] #2614 closed

[2016-11-30 12:44] #2613 closed

[2016-11-30 13:33] animeshsinghweb opened #2621 "Language Box on Footer behaves improperly"
The language box on the Footer doesn't shows any language selected by default and this is something not suitable in my eyes as far as UX is concerned.
When I click on the dropdown/dropup box on my device (case iPad) I Can find English, while English is already default on site (but not default on the box).
![img_1432](https://cloud.githubusercontent.com/assets/16618931/20753945/b9708c58-b72e-11e6-9

[2016-11-30 15:46] #2612 closed

[2016-11-30 19:53] mariobehling opened #2622 "Include Weblate in project development"
The translation system is now hosted on https://hosted.weblate.org/projects/open-event/organizer-server/

* [x] Please check that everything looks correct. If you want Weblate to
automatically follow and push to your repository, please follow
instructions on https://weblate.org/en/hosting/, namely:

* [x] To notify Weblate about changes in your repository please add Weblate
Service to your project

[2016-12-01 09:09] SaptakS opened #2623 "Create Sessions from event dashboard gives error if user is not admin"
If the logged in user is not an admin or staff of the server, there are certain checks in the permission decorators which gives Internal Server Error.

[2016-12-01 10:49] #2623 closed

[2016-12-01 12:28] nikhilrayaprolu commented on #2605
@niranjan94 I would like to work on this issue . can you please point the file  where the dependencies are mentioned.

[2016-12-01 12:40] niranjan94 commented on #2605
@nikhilrayaprolu inside the `requirements` folder (https://github.com/fossasia/open-event-orga-server/tree/development/requirements)

[2016-12-01 13:11] nikhilrayaprolu commented on #2605
@niranjan94 out of all those requirements can you sort out those which can be removed. I will work on those requirements and find alternative python codes to replace them

[2016-12-01 13:40] niranjan94 commented on #2605
@nikhilrayaprolu well ... that what this issue is about... I have updated the issue description.

[2016-12-03 14:14] niranjan94 opened #2628 "404 on /admin/messages/ and /admin/content/ shows messages page"
- 404 Error on Super admin messages page - `/admin/messages/`
- Super admin contents page display the messages page - `/admin/content/`

[2016-12-03 14:14] #2621 closed

[2016-12-03 16:04] niranjan94 opened #2629 "Show Kubernetes log if hosted on Kubernetes"
Currently we only display Heroku logs in the super admin panel. On Kubernetes we get an error saying Heroku token unavailable. Instead, we could display the appropriate Kubernetes logs which would make it a lot easier while debugging.

[2016-12-03 19:14] #2628 closed

[2016-12-03 19:14] #2629 closed

[2016-12-04 16:40] vedantrathore commented on #2611
Can I take up on this issue?
and also how would we check for a malicious code like in case of SQLInjection or XSS?

[2016-12-05 03:48] niranjan94 commented on #2611
Yes. you can. this issue has been assigned to you :)

1. **XSS**
All the fields which are rendered as HTML are passed through a HTML Sanitizer (which remove all but a few allowed HTML tags) before being stored to the database. The rest of the fields are automatically escaped by jinja when rendering.

The sanitizer: https://github.com/fossasia/open-event-orga-server/blob/development/app/helpers/ver

[2016-12-05 12:13] PolBaladas commented on #1845
Do we have a list of images that need to be uploaded? @SaptakS

[2016-12-05 12:19] niranjan94 commented on #1845
@PolBaladas yes. You can see the topics and subtopics at [app/helpers/static.py](https://github.com/fossasia/open-event-orga-server/blob/development/app/helpers/static.py)

[2016-12-05 13:06] PolBaladas commented on #1845
Great! Thanks @niranjan94

[2016-12-05 13:18] PolBaladas commented on #1845
What about 133KB (or 272KB) for images and 25KB for thumbnails? @niranjan94 @mariobehling

[2016-12-05 13:52] SaptakS commented on #1845
@PolBaladas you don't need to save separately the thumbnails. When you upload the image, it automatically gets saved in 3 size formats - thumbnail, logo and icon

I think it is cool. But still check once to see whether the resolution is poor. If so you can try something with better resolution

[2016-12-05 13:55] PolBaladas commented on #1845
But this is for placeholder images, right? The ones we define not the ones the user will upload. So we need to include thumbnails.

[2016-12-05 14:14] niranjan94 opened #2632 "Internal server error at /admin/"
Internal server error at https://open-event-dev.herokuapp.com/admin/ .

[2016-12-05 15:42] PolBaladas commented on #1845
Sorry, couldn't resist to scrape it. I've got a script downloading all required images (reads from [/app/helpers/static.py)](open-event-orga-server/app/helpers/static.py)

[2016-12-05 17:05] niranjan94 opened #2635 "Implement iCal import"
Parent Issue: #2185

Sample: https://archive.fosdem.org/2016/schedule/ical

[2016-12-05 17:26] #2616 closed

[2016-12-05 17:26] #2632 closed

[2016-12-06 05:31] #2622 closed

[2016-12-06 08:17] mariobehling commented on #2585
Re-opening as tests show missing items
* [ ] speakers are not showing up on test import of fosdem xml
* [ ] schedule not showing up

[2016-12-06 08:21] mariobehling opened #2638 "Public Event Page: Speakers not showing up after import"
I imported the 2016 FOSSASIA event to eventyay. After the import the speaker images do not show up and the heading of the speakers section has layout issues. Test site at https://eventyay.com/e/18252ab6/

Expected behavior: Import speaker images and show heading on a separate line.

![screenshot from 2016-12-06 15-17-28](https://cloud.githubusercontent.com/assets/1583873/20918019/89d451b2-bbc7-11e

[2016-12-06 08:24] mariobehling opened #2639 "Improve readability on public event page"
The heading and dates are difficult to read. Please check how to improve, e.g. change to bold or experiment how this can be improved.

![screenshot from 2016-12-06 15-23-03](https://cloud.githubusercontent.com/assets/1583873/20918165/2be0eab0-bbc8-11e6-88b0-ca55c9bf4ee7.png)

[2016-12-06 08:35] mariobehling opened #2640 "Top bar on session page using a lot of space"
If there are many tracks at large events the top bar on the sessions page takes up a lot of space, e.g. for FOSDEM.

Please propose a better way to show tracks on the top bar and reduce the height. Compare: https://eventyay.com/e/18252ab6/sessions/

[2016-12-06 08:36] mariobehling opened #2641 "Design issues on session, schedule, CfS page"
* [ ] On the event page the left sidebar stays there when the user scrolls down. Please implement this on the other pages as well, e.g. https://eventyay.com/e/18252ab6/schedule/
   * [ ] sessions page
   * [ ] schedule page
   * [ ] call for speakers page
* [ ] The tracks view on schedule page does not show colors of session (https://eventyay.com/e/18252ab6/schedule/)
* [ ] The call for speaker pa

[2016-12-06 08:49] mariobehling opened #2642 "In event dashboard sponsor images are not scaled properly"
Please show sponsor logos in correct ratio.

![screenshot from 2016-12-06 15-48-39](https://cloud.githubusercontent.com/assets/1583873/20918844/8ec9b51e-bbcb-11e6-92f6-48fb94286a13.png)

[2016-12-06 08:52] mariobehling opened #2643 "Event Dashboard: Large number of Links, Social Media, Session types result in scroll bar"
If there are many links, social media and session types the box in the dashboard shows a vertical scrollbar, e.g. https://eventyay.com/events/5/

Expected behavior: There should be an automatic line break instead of a scroll bar.

![screenshot from 2016-12-06 15-50-34](https://cloud.githubusercontent.com/assets/1583873/20918928/019cdc2e-bbcc-11e6-94ae-b1d8621ba1df.png)

[2016-12-06 09:01] mariobehling opened #2644 "Change open event sample session length format"
In the scheduler and publicly available schedule short sessions are not showing up properly. Compare: https://eventyay.com/events/5/scheduler/

![screenshot from 2016-12-06 16-00-01](https://cloud.githubusercontent.com/assets/1583873/20919202/35f6dee2-bbcd-11e6-9bee-11cd521447e1.png)

[2016-12-06 09:03] niranjan94 commented on #2644
@mariobehling it's because the session timings seem to be overlapping. Which is not supposed to happen.

[2016-12-06 09:40] niranjan94 commented on #2639
![screenshot from 2016-12-06 15 09 02](https://cloud.githubusercontent.com/assets/2404372/20920433/f983e826-bbc5-11e6-8764-00cf321f77f4.png)

@mariobehling
I think this looks better. Removed the gradient and increased the font weight of the datetime and location.

[2016-12-06 09:48] mariobehling commented on #2643
Please also use American English throughout system.

Currently it shows e.g. "Links and Social Media Twitter , Facebook , Blog"

There should be no space in front of a comma.

[2016-12-06 11:12] #2642 closed

[2016-12-06 11:12] #2643 closed

[2016-12-06 11:13] mariobehling commented on #2639
Ok, let's try this out.

[2016-12-06 12:18] #2638 closed

[2016-12-06 16:58] aayushsanghavi commented on #2641
I'd like to take it. I understood the first and third point.
For the second one I didn't understand what is to be done. Which colors of session? What is to be shown in colors of session? Could you please elaborate on these and explain what exactly is supposed to be done.

[2016-12-06 17:38] aayushsanghavi commented on #2640
A horizontally scrolling navbar can be of use here. Something like this -
![screenshot from 2016-12-06 23 06 39](https://cloud.githubusercontent.com/assets/19590302/20936478/be135180-bc08-11e6-8771-ed22523bc29b.png)

[2016-12-06 18:22] mariobehling commented on #2641
@aayushsanghavi The colors of sessions/tracks are defined in the JSON files. The session page has the correct colors of sessions, but on the tracks page all sessions have the same color. Each session should have the color that is according to the track. Also compare to the web app output of the fossasia summit: http://fossasia.github.io/open-event-webapp/tracks.html

[2016-12-06 18:23] #2639 closed

[2016-12-07 00:48] mariobehling opened #2649 "Start page: Longer addresses change height of box and break styling"
Some addresses of event locations are longer requiring two lines on the overview page. This results in a different height of the box on the start page and breaks the style.

Please change the styling to ensure all boxes are displayed in rows.

![screenshot from 2016-12-07 07-46-10](https://cloud.githubusercontent.com/assets/1583873/20950288/7780420c-bc51-11e6-8d2a-13a3269bdf78.png)

[2016-12-07 12:34] vedantrathore commented on #2611
@niranjan94 so I just need to check for the responsiveness of the url input area right? no need to check for malicious code?

[2016-12-08 05:39] niranjan94 commented on #2577
Base translations for this language have been added.

If you would like to contribute to translation of Open Event, you need to [register on this server](https://hosted.weblate.org/accounts/register/).

Once you have activated your account just proceed to the [translation section](https://hosted.weblate.org/projects/open-event/).

[2016-12-08 05:39] #2577 closed

[2016-12-08 05:39] niranjan94 commented on #2574
Base translations for this language have been added.

If you would like to contribute to translation of Open Event, you need to [register on this server](https://hosted.weblate.org/accounts/register/).

Once you have activated your account just proceed to the [translation section](https://hosted.weblate.org/projects/open-event/).

[2016-12-08 05:39] #2574 closed

[2016-12-08 05:43] #1825 closed

[2016-12-08 05:47] niranjan94 opened #2652 "Setup the server on IBM Bluemix and document it"
Parent issue: #1548

_Add one-click deployment button to set up the system, if possible_

[2016-12-08 05:48] niranjan94 commented on #1548
Closing in favor of individual issues.

[2016-12-08 05:48] #1548 closed

[2016-12-08 10:37] niranjan94 opened #2654 "Permanent delete of events not working"
**Location:** `/admin/events/` - `All Deleted Events` Tab
**Possible cause:** Foreign key constraints
**Fix:** Set proper `ON DELETE` directives to all foreign keys

[2016-12-08 13:42] #2585 closed

[2016-12-08 13:42] #2635 closed

[2016-12-08 13:42] #2654 closed

[2016-12-08 15:02] niranjan94 opened #2655 "404 error on all placeholder images"
None of the placeholder images are being served

[2016-12-08 15:36] #2655 closed

[2016-12-09 05:35] mariobehling opened #2657 "Enhance standard image entries"
- [ ] Link to the original image/License
- [ ] App/helpers/static.py, there seem to be 3 entries missing

[2016-12-09 12:52] PolBaladas commented on #2657
Okay!

[2016-12-09 16:16] PolBaladas commented on #2657
There were actually 4 entries missing

[2016-12-09 16:22] PolBaladas commented on #2657
Entries problem is fixed. I am aware that these pictures are held by a Creative Commons Zero (CC0) license as specified in https://www.pexels.com/photo-license/.
Where shall we mention it?

[2016-12-10 15:51] PolBaladas commented on #2657
Hey @mariobehling i think this is done! Shall this be closed?

[2016-12-10 16:12] #2657 closed

[2016-12-11 08:52] SaptakS opened #2663 "No ticket info styling"
No ticket for upcoming event in the My Tickets area is not consistent with the styling of My Session.
![screenshot from 2016-12-11 14-18-27](https://cloud.githubusercontent.com/assets/9530293/21079107/3661f3f6-bfad-11e6-8d84-d76cb2f3d381.png)
![screenshot from 2016-12-11 14-18-33](https://cloud.githubusercontent.com/assets/9530293/21079108/366212dc-bfad-11e6-9cc9-0ed3933f5950.png)

[2016-12-11 10:14] #2663 closed

[2016-12-11 10:19] SaptakS commented on #2611
@vedantrathore, yes the responsiveness and also the size of text box. Also you can put a pattern check to check for http:// or https:// else show an error.

[2016-12-12 04:27] Marauderer97 commented on #2644
Hello, I would like to work on this.. only I cannot see what exactly needs to be done.. could some one please elaborate? Where is the length attribute being displayed?

[2016-12-12 11:52] mamakancha commented on #2605
I would like to get this issue assigned

[2016-12-12 12:14] niranjan94 commented on #2605
@mamakancha  ... You can proceed :)

[2016-12-13 05:19] mamakancha commented on #2605
@niranjan94 Hi. Can I get a starting point? As in I am not able to understand how to go about solving this issue.

[2016-12-13 05:50] niranjan94 commented on #2605
We have all the dependencies for this project listed inside the `requirements` folder (https://github.com/fossasia/open-event-orga-server/tree/development/requirements).

But there maybe some dependencies that are unused. Or some dependencies that can be easily replaced by just a few lines of python code instead of big external dependency.

You'll have to go through all the dependencies and figure

[2016-12-13 15:00] SaptakS commented on #2649
@magdalenesuo thanks for the pull request.

[2016-12-13 15:01] #2649 closed

[2016-12-13 15:19] gureks commented on #2652
Hi
Please assign it to me.
I went through #2269 thoroughly to understand what the issue wants.
Is there anything else you wish to elaborate?

[2016-12-15 13:27] niranjan94 opened #2666 "Copy event does not work"
Cause: PR #2660 - Rework of the event wizard

[2016-12-16 03:38] #2666 closed

[2016-12-16 03:43] shubham-padia commented on #2308
@niranjan94 can you please update the status of this issue. I believe that discrepancies mentioned in https://github.com/fossasia/open-event-orga-server/issues/2308#issuecomment-259126378 have been solved in #2533 . Thanks !!

[2016-12-16 03:46] niranjan94 commented on #2308
@shubham-padia `Top left logo is missing` is still unsolved

[2016-12-16 06:07] niranjan94 opened #2669 "Internal server error when submitting a session"
Issue with custom forms probably

[2016-12-16 06:09] niranjan94 opened #2670 "Search functionality inconsistent"
Seem to be getting server errors from time to time. Inconsistent. Especially with UTF-8 characters.

[2016-12-17 04:15] niranjan94 commented on #2644
Sorry @mariobehling I noticed this comment only now. Currently session length is stored as a `float` in the database. That's the reason it's being displayed as `0.3` in the samples.

I think it would be better if we change it to like `00:30` (just like how it is displayed on the event wizard - step 3)

[2016-12-17 04:17] niranjan94 commented on #2644
@Marauderer97

- The session type model has to be changed such that length is considered as a string instead of a float. (be sure to generate the required migrations too).
- The API definition for session type has to be changed such that length is considered as a string instead of a float. (event better would be a custom type with validation).
- All samples at `fossasia/open-event` have to be modi

[2016-12-17 04:18] niranjan94 commented on #2640
@aayushsanghavi would you like to work on this ?

[2016-12-17 04:19] niranjan94 commented on #2641
@aayushsanghavi what's the progress on this issue ?

[2016-12-17 04:20] SaptakS commented on #2640
@niranjan94 @mariobehling @aayushsanghavi I think a better implementation would be that whenever there is an overflow, we either a put a previous and next button on both side, or we have a "View More" tab which is a dropdown from where we can select the remaining. What do you think?

[2016-12-19 04:08] #2670 closed

[2016-12-19 17:24] rohanagarwal94 opened #2673 "Track number of people going to a particular event."
@the-dagger assign me this. This feature will help users know about the popularity of the session through the number of people going to the event.

[2016-12-19 17:26] the-dagger commented on #2673
You can proceed and work on this. :+1:

[2016-12-20 09:23] niranjan94 opened #2674 "Implement eventbrite scrapper as module in the server"
Scrapper: https://github.com/fossasia/event-collect/blob/master/platforms/scrape_eventbrite.py

Implement the scrapper code from the event-collect repo as a module in the server so that it can be called for scrapping.

[2016-12-20 09:24] niranjan94 opened #2675 "Implement the query-server as a microservice"
We need to have the ability to connect to a query server deployment and query for events.

Query server: https://github.com/fossasia/query-server

[2016-12-20 09:26] niranjan94 opened #2676 "Show results from eventbrite in search"
Prerequisites: #2674 #2675

When a user searches for an event in eventbrite, the backend should also contact the scrapper and the query server and search for events in eventbrite and automatically import it into our site. (a link should be provided to the original site)

[2016-12-20 09:29] shubham-padia opened #2677 "Error in placeholder upload"
I was getting an error when uploading an image in placeholders `OSError: [Errno 2] No such file or directory: '/home/shubham/github/orga2/static/uploads/temp/temp/' ` or `OSError: [Errno 17] File exists: '/home/shubham/github/orga2/static/uploads/temp/' `.
I've fixed the problem in the code, but can someone please double check if the error exists or not ?

[2016-12-20 09:31] niranjan94 commented on #2677
Could you make a PR with your fix ?

[2016-12-20 11:18] aayushsanghavi commented on #2641
Wasn't in town for over a week. And I tried a couple times but I am facing issues setting up the project.

[2016-12-20 13:42] SaptakS commented on #2669
looking into it.

[2016-12-21 03:54] niranjan94 opened #2679 "Wizard: Error when enabling session & speakers"
[code]

[2016-12-21 06:29] #2679 closed

[2016-12-21 07:21] SaptakS commented on #2669
The error was due to error in permissions in database. Error is resolved now. Closing the issue.

[2016-12-21 07:21] #2669 closed

[2016-12-21 11:21] shubham-padia commented on #2677
closed via #2678

[2016-12-21 11:21] #2677 closed

[2016-12-21 14:35] rohanagarwal94 commented on #190
@shivamMg could you be elaborate on how actually you managed to solve this? I am facing a similar issue.

[2016-12-21 19:03] ankitjain28may opened #2687 "Integrate Backstroke to keep repository's forks up to date."
It automatically sends PR to all the repository's forks repo to merge the latest commit.

[2016-12-22 03:26] niranjan94 commented on #2687
This is completely unnecessary. There are so many unused forks of this project. People who actually contribute, will keep their forks updated.

[2016-12-22 03:26] #2687 closed

[2016-12-22 05:24] #1508 closed

[2016-12-22 05:25] niranjan94 commented on #1508
We'll handle this is a different more specific issue. We already have HTML output for Robot tests.

[2016-12-22 07:01] shivamMg commented on #190
@rohanagarwal94 IIRC it was because something went wrong when I was first installing (using install.sh) inside vagrant. And when I was trying again, the script exited because vm provisioning had already been done (https://github.com/fossasia/open-event-orga-server/blob/development/scripts/install.sh#L57). To make it work I just removed the exit statement.

[2016-12-22 12:31] #2611 closed

[2016-12-22 15:25] niranjan94 opened #2690 "Return the user to the same tab in all pages that contain tabs."
After performing any actions like delete return the user to the same tab instead of taking him/her to the first tab.

Has to be done in the following pages

- [ ] - `/admin/events/`
- [ ] - `/admin/sessions/`
- [ ] - `/admin/users/`
- [ ] - `/admin/permissions/`
- [ ] - `/admin/settings/`
- [ ] - `/events/`
- [ ] - `/mytickets/`
- [ ] - `/events/mysessions/`

It has already been done in
- [x] - `/

[2016-12-22 15:30] niranjan94 commented on #2690
@SaptakS issue description has been updated

[2016-12-22 15:33] SaptakS commented on #2690
@niranjan94 noticed. :+1:

[2016-12-22 15:35] niranjan94 opened #2691 "Internal server error when clicking any tags in the home page"
Internal server error on clicking the tags (like #Conference #ScienceAnTechnology ) in the home page under each event.

[2016-12-22 15:38] niranjan94 opened #2692 "Js error in search page when the background image of any event in the result does not exist"
Eg: https://eventyay.com/explore/world/events/

[code]

[2016-12-22 15:59] niranjan94 opened #2693 "UI bugs in /profile/"
![screenshot from 2016-12-22 21 17 04](https://cloud.githubusercontent.com/assets/2404372/21431494/8364dfe0-c88d-11e6-9c74-279ec2daede6.png)

- [ ] Profile picture upload icon mis-aligned
- [ ] Page title missing

[2016-12-22 16:04] niranjan94 opened #2694 "Text missing in export page"
URL: `/events/<event_id>/export/`

![screenshot from 2016-12-22 21 32 35](https://cloud.githubusercontent.com/assets/2404372/21431692/528b0ce0-c88e-11e6-9d85-960f254aeeff.png)

[2016-12-22 16:04] SaptakS commented on #2693
How?

[2016-12-22 16:07] niranjan94 opened #2695 "Show blank instead of None in session/speaker forms if data is empty"
Example:
![onpaste 20161222-213642](https://cloud.githubusercontent.com/assets/2404372/21431799/ca8105c4-c88e-11e6-96cd-cd905534bb49.png)

[2016-12-22 16:08] niranjan94 commented on #2693
@SaptakS

I do not know how. But it's not in the center like everywhere else.

[2016-12-22 16:12] niranjan94 opened #2696 "Internal server error when rejecting/accepting session with email"
Reject URL: `/events/<event_id>/sessions/<session_id>/reject/`
Accept URL: `/events/<event_id>/sessions/<session_id>/accept/`

[2016-12-22 16:18] niranjan94 opened #2697 "Deleting of sessions belonging to a different event works by just changing the session ID"
Eg:
`https://eventyay.com/events/5/sessions/<session_id>/trash`

The session ID can be incremented thereby deleting sessions of any event irrespective of whether you own the event or not,.

[2016-12-23 07:31] nikhilrayaprolu commented on #2697
@niranjan94 can I work on this issue.
is it fine to add @can_access to the function in sessions view https://github.com/fossasia/open-event-orga-server/blob/master/app/views/users/sessions.py#L180

[2016-12-23 08:19] nikhilrayaprolu opened #2698 "bower error while installing using vagrant"
while installing with vagrant I faced an issue with bower , where it is instructing us to install using --allow-root flag.
One way we could remove this error is manually typing bower install after 'vagrant ssh'
or
giving the --allow-root flag to the command in /scripts/install.sh
or
execute the command by exiting from root user mode to user vagrant
![screenshot from 2016-12-23 13-42-33](https://cl

[2016-12-23 08:20] Marauderer97 commented on #2644
@niranjan94  Hello, sorry for the delay, the installations was giving me problems, fixed it finally, I have done the first two steps, but what does all samples at fossasia/open-event refer to exactly?

[2016-12-23 08:33] Marauderer97 commented on #2695
@niranjan94 Can I try and fix this?

[2016-12-23 08:59] nikhilrayaprolu commented on #2696
@niranjan94 It is working well at http://open-event-dev.herokuapp.com/events/255/sessions/7172/accept/
 at the development server

[2016-12-23 09:41] Marauderer97 commented on #2695
![image](https://cloud.githubusercontent.com/assets/20185076/21451039/fa71d716-c921-11e6-952b-cfb18132e309.png)
When I try editing a speaker on my local host, I don't get any None value displayed @niranjan94

[2016-12-23 09:43] magdalenesuo commented on #2693
I would like to work on this issue?

[2016-12-23 09:44] niranjan94 commented on #2695
@Marauderer97

Steps to reproduce:
1. Import the fossasia 2016 sample (https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16.zip)
2. Goto `/events/<event_id>/speakers/`
3. The issue would be seen

[2016-12-23 09:46] niranjan94 commented on #2697
Not exactly ... `@can_access` right now checks only if the user can edit the event ... the session ID is never tested

[2016-12-23 09:48] niranjan94 commented on #2693
@magdalenesuo sure ... You can proceed. please set up the server locally and see if you're able to reproduce the issue

[2016-12-23 09:48] niranjan94 commented on #2644
@Marauderer97 these are the samples https://github.com/fossasia/open-event/

[2016-12-23 09:49] niranjan94 commented on #2698
Thanks :)
Could you add the `--allow-root` flag to `/scripts/install.sh` and make a PR ?

[2016-12-23 09:51] magdalenesuo commented on #2693
@niranjan94 Yes, I have done that. working on the issue now :)

[2016-12-23 10:04] Marauderer97 commented on #2644
@niranjan94 Understood, thanks for patiently elaborating, so does that mean, i make two PRs, one here and one to fossasia/open-event?

[2016-12-23 10:30] SaptakS opened #2701 "Internal Server Error for Profile in case of image uploaded"
If profile has an image uploaded, you get an internal server error at `/profile/`

[2016-12-23 10:31] nikhilrayaprolu commented on #2697
so does that mean checking if the session id belongs to event and then deleting is fine along with @can_access decorator?
or shall we make a new decorator where we check whether the user has access for the session?

[2016-12-23 10:36] SaptakS opened #2703 "Removing profile image doesn't work"
Removing the profile image in `/profile/` doesn't work.

[2016-12-23 10:41] #2694 closed

[2016-12-23 10:42] SaptakS commented on #2694
Thanks @nikhilrayaprolu

[2016-12-23 11:13] magdalenesuo commented on #2695
@niranjan94 hello.. While trying to upload, it gives an "internal server error" message
https://cloud.githubusercontent.com/assets/20799954/21452710/ce46dfb2-c92e-11e6-87b8-cad1ee7e844e.png

[2016-12-23 11:16] magdalenesuo commented on #2701
@SaptakS On upload, I got no "internal server error". However, on reloading the page, the image gets removed.

[2016-12-23 11:18] SaptakS commented on #2701
@magdalenesuo thanks for pointing that out. I will have to recheck the image upload code for profile.

[2016-12-23 11:20] niranjan94 commented on #2695
@magdalenesuo do you have celery and redis running on your local installation ? Both are required for imports to work.

[2016-12-23 11:20] SaptakS opened #2704 "Cleaning Image upload in profile page"
Image upload in profile page doesn't work.

Fixing this issue fixes:
- [ ] #2703
- [ ] #2701

[2016-12-23 11:41] magdalenesuo commented on #2695
@niranjan94 Thanks..got the error. Can I work on this?

[2016-12-23 11:51] nikhilrayaprolu commented on #2692
@niranjan94 can I work on this issue?
and is there any sample event that I could import for reproducing this error?

[2016-12-23 12:12] niranjan94 commented on #2692
No import necessary. Just create a new event yourself.

[2016-12-23 12:12] niranjan94 commented on #2695
@magdalenesuo sure .. you can

[2016-12-23 13:08] nikhilrayaprolu commented on #2691
@niranjan94 looks like this bug is only with category tags,
since there is a line `testandremove('category')` at https://github.com/fossasia/open-event-orga-server/blob/development/app/views/home.py#L244
removing the line works well with the tag

[2016-12-23 13:17] magdalenesuo commented on #2695
@niranjan94  While working on it, I found that if the field is empty , it stays empty after Save. Its just that it has been filled as 'None', and  if I remove the 'None' and save if, it stays blank.

https://cloud.githubusercontent.com/assets/20799954/21454656/303fedce-c940-11e6-9575-d5a9852441f0.png

[2016-12-23 13:20] nikhilrayaprolu commented on #2692
looks like this is an error when the event has no location name. but I could see that for publishing an event a location name is made  mandatory, hence we wont break this issue. if its really required a condition at https://github.com/fossasia/open-event-orga-server/blob/development/app/static/js/admin/guest/explore/event-box-component.js#L25 may work.

[2016-12-23 13:25] niranjan94 commented on #2692
But that doesn't mean we should be fixing this issue ... Now because of one flawed event, the entire search page doesn't work. We need to ensure that irrespective of what data is coming in (empty/filled) our functionality doesn't break like this ...

[2016-12-23 13:26] niranjan94 commented on #2695
@magdalenesuo then can you track at which point it get's saved as 'None' (string) ?

[2016-12-23 13:26] niranjan94 commented on #2691
Please find out why that method is causing an error ...

[2016-12-23 13:30] niranjan94 commented on #2697
@nikhilrayaprolu I'm already working on this issue ... We have other similar security issues, so looking at fixing them in a unified manner :)

[2016-12-23 13:51] nikhilrayaprolu commented on #2690
I have tested this by deleting the events ,sessions ,users in
-/admin/events/
- /admin/sessions/
- /admin/users/
looks like everything works fine
@niranjan94 @SaptakS

[2016-12-23 13:53] niranjan94 commented on #2690
@nikhilrayaprolu everything 'works' fine ... But not very user-friendly is it :wink: .. Each time the user has to go back to the tab he was on before ...

[2016-12-23 14:03] nikhilrayaprolu commented on #2690
but at these addresses
-/admin/settings/
- /events/
It is getting redirect to the same url but to different tab(for instance if we delete a drafted event , it is being redirected to live events tab ,since we dont have a specific url assigned for each tab .
One way we could do this is to implement url query parameters for each tab and read the query parameter by parsing the url each time

[2016-12-23 14:04] niranjan94 commented on #2690
Correct ... But no need to make it too complex by have query params and passing them. See how it has been implemented in

- `/admin/reports/`
- `/admin/content/`

[2016-12-23 14:27] aayushsanghavi commented on #2641
I tried a lot but for some reason I can't set up the project on my local environment. It is causing a delay already. So I suggest, you assign the issue to someone else. Sorry!

[2016-12-23 14:30] Marauderer97 commented on #2641
@mariobehling  @niranjan94 Can I work on this?

[2016-12-23 14:57] magdalenesuo commented on #2695
@niranjan94 I tried creating my own event and added a random speaker. There was no problem with None. I left some fields blank. It didn't get saved as 'None' anywhere.
I think the zip file we imported had already 'None' filled in all empty fields. otherwise, the portion of the code seems to be working fine as is :D

(https://cloud.githubusercontent.com/assets/20799954/21456432/0e1401e6-c94e-11e6-9

[2016-12-23 15:21] niranjan94 commented on #2641
@Marauderer97 yes. you can work on this ...

[2016-12-23 15:22] niranjan94 commented on #2695
@magdalenesuo see https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/speakers ... this is the zip that is being imported.

[2016-12-23 16:03] nikhilrayaprolu commented on #2698
closing this issue ,as the pull request is merged.

[2016-12-23 16:03] #2698 closed

[2016-12-23 16:08] #2693 closed

[2016-12-23 18:25] shubham-padia opened #2708 "Optimise approach for loading custom placeholders"
The current apprach has to loop across the `custom_placeholders` dict everytime to get a placeholder image.

[2016-12-23 19:28] nikhilrayaprolu commented on #2691
Issue is with `request.args.get(key).lower() == request.args.get("query").lower():`
where both objects doesn't a method lower() on them.
@niranjan94

[2016-12-23 20:32] shubham-padia commented on #2674
@niranjan94 I would like to work on this. Can I work on this ?

[2016-12-23 21:25] SaptakS commented on #2673
@rohanagarwal94 @the-dagger this is not exactly a high priority feature right now... So I would prefer you help us solve the bugs rather than implementing a completely new feature which might be helpful but isn't necessary right now. @mariobehling @niranjan94 views?

[2016-12-23 22:38] SaptakS commented on #2695
Thanks @magdalenesuo for the fix.

[2016-12-23 22:38] #2695 closed

[2016-12-24 07:56] mariobehling commented on #2673
@rohanagarwal94 Right now we need to get the app more stable before we include new features. I adding the tag "After-Release" to incorporate this after the first Release. Right now we are in Alpha Release phase.

[2016-12-24 11:25] tarsdev opened #2712 "Cannot add old events information"
In eventyay we cannot add old important events that took place, only upcoming events can be added. This feature must be given so that we can check history of old events.

[2016-12-24 13:17] SaptakS commented on #2712
@tarsdev you can add old event by import functionality. We think if the event has already occured, it is better to be imported and no one will reproduce the entire event information from scratch and nor is it possible in some cases for example the tickets. So the old events getting created without import function is unlikely.

I don't understand this issue. Each event has a unique event id. So onc

[2016-12-24 15:30] GabrielLee22 opened #2713 "Links and Social Media Section Does Not Work"
Tried to add External Link/Twitter/Facebook links to the event page, but links do not show up at the right hand side of the event page as before.

[2016-12-24 16:19] GabrielLee22 commented on #2713
Here's a screenshot showing the area where the links are supposed to be:

![screenshot](https://cloud.githubusercontent.com/assets/9492662/21467893/9931f078-ca37-11e6-8510-4aa673c2a620.PNG)

Tried many times to add the links again and again but was unsuccessful. The social media section on previously created events appears to be working fine though; just that I am now unable to add social media li

[2016-12-24 16:32] GabrielLee22 opened #2714 "Should we remove the default location 'United States' for search function?"
Just wondering whether it would be a good idea to remove the default location 'United States' for the search function.

![search](https://cloud.githubusercontent.com/assets/9492662/21467936/2a5eb670-ca39-11e6-862d-432549c1184a.PNG)

Personally, I feel that it would be better not to have a default location for the search function, so that users can filter through the list of events themselves.

[2016-12-24 17:03] shubham-padia commented on #2640
@mariobehling @SaptakS @niranjan94 What do you think about this kind of approach. The current session and a fixed no. of sessions after that will be displayed in the navbar, for more session the user has to expand the navbar. If this seems okay, inform me so I can make a PR for the same.

![image](https://media.giphy.com/media/W6SoPDSYfhbEY/giphy.gif)

[2016-12-24 17:20] GabrielLee22 commented on #2714
This is especially relevant with regards to the search bar at the top, where users cannot specify a country but can only search for the event. For example, if I were to type 'fossasia singapore' into the search field at the top, the results displayed will still only be for events in the United States - and not Singapore. Screenshot below shows this:

![fossasia](https://cloud.githubusercontent.com

[2016-12-24 17:49] SaptakS commented on #2640
@shubham-padia LGTM

[2016-12-24 18:40] nikhilrayaprolu commented on #2690
@niranjan94 a href to '#tab-name' is used in those pages. So how were you informing the browser to that tab in a response from backend(views) ?

[2016-12-24 18:44] nikhilrayaprolu commented on #2675
@niranjan94 I would like to work upon this. can you please elaborate on this issue

[2016-12-25 09:44] niranjan94 commented on #2690
@nikhilrayaprolu the backend we just gave a redirect to the user's previous page URL ...

[2016-12-25 09:45] niranjan94 commented on #2714
Actually ... The default location is supposed to be user's country based on his/her IP ... If it is always US, then it is a bug. Could you fix it ?

[2016-12-25 09:46] niranjan94 commented on #2712
@SaptakS you seem to have covered everything ...

yep. i don't understand this one either

[2016-12-25 09:47] #2704 closed

[2016-12-25 09:47] niranjan94 commented on #2713
@GabrielLee22 thanks for report :)

[2016-12-25 09:51] niranjan94 commented on #2691
@nikhilrayaprolu Not exactly `request.args.get(key)` returns a `string` which has the method `lower()` (https://docs.python.org/2/library/string.html#string.lower)

[2016-12-25 09:54] niranjan94 commented on #2675
@nikhilrayaprolu As you can see at https://github.com/fossasia/query-server ... we have a query server that returns the list of results from google or other search engine based on a query which we send to it ... So, when a user searches for an event in open-event orga server, we'll also send that query to the query server and get the results and pass on those results to site-specific scrappers ...

[2016-12-25 09:55] niranjan94 commented on #2675
This issue is dependent on the https://github.com/fossasia/query-server being completed and hosted somewhere like heroku or something ... So, this would take a while

[2016-12-25 09:56] niranjan94 commented on #2674
@shubham-padia I'm happy to know that you're interested on this :) .. But let's first get open-event-orga server out of alpha stage by fixing the bugs ... It would be really great if you could assist us there :D .. You can take this up once we're out of alpha ...

[2016-12-25 09:58] shubham-padia commented on #2674
@niranjan94 sure.

[2016-12-25 10:09] shubham-padia commented on #2308
@niranjan94 Can we close this :smiley: ?

[2016-12-25 10:10] niranjan94 commented on #2308
Yep. We can close this ! Good job ! :smile:

[2016-12-25 10:10] #2308 closed

[2016-12-25 10:27] mariobehling opened #2716 "Addresses break style on front page"
Please check how addresses can be displayed without breaking front page design.

![screenshot from 2016-12-25 11-24-24](https://cloud.githubusercontent.com/assets/1583873/21470700/14fb89c8-ca95-11e6-9eaf-e89b41f63b39.png)

[2016-12-25 10:31] mariobehling opened #2717 "After Password Reset direct to Login Page"
After resetting the password the user is redirected to the start page. Please change as folllows:

* [x] redirect to login page
* [x] display message "Your password has been changed. Please login with your new password now."

[2016-12-25 10:34] niranjan94 commented on #2716
@mariobehling  on it

[2016-12-25 10:34] niranjan94 commented on #2717
@mariobehling  on it

[2016-12-25 13:27] nikhilrayaprolu commented on #2690
@niranjan94 can you please point out the line number in views where you have explicitly used this functionality.

[2016-12-25 13:30] nikhilrayaprolu opened #2720 "No action being called on uploading a placeholder"
when a new place holder is replaced in admin/content there is no information about whether the image is uploaded or not except a json response in the console.
also closing the modal doesn't change the placeholder in the content view untill we refresh the page
A redirection to the page along with new image would look good.
![screenshot from 2016-12-25 18-57-11](https://cloud.githubusercontent.com/a

[2016-12-25 13:44] mariobehling commented on #2712
@SaptakS @niranjan94 Eventyay should work as a database of old events where people can see what happened in the past. To enable users to add this info through the UI would increase the outreach of the system. We also have this as a task in GCI.

[2016-12-25 13:46] nikhilrayaprolu commented on #2691
@niranjan94 the issue is with `request.args.get("query").lower():` . we dont have any parameter named "query" so this is returning None

[2016-12-25 14:14] #2697 closed

[2016-12-25 17:21] #2714 closed

[2016-12-25 17:44] niranjan94 commented on #2714
@GabrielLee22 why was this issue closed ?

[2016-12-25 17:45] #2717 closed

[2016-12-25 17:46] #2712 closed

[2016-12-25 17:46] #2716 closed

[2016-12-25 18:10] GabrielLee22 opened #2722 "Search Function: Location incorrect based on user's IP address"
Following up from issue #2714 - the search function does not accurately reflect the country a user is in based on his or her IP address. For instance, I was shown search results for the United States instead of Singapore - although I live in Singapore.

![2a5eb670-ca39-11e6-862d-432549c1184a](https://cloud.githubusercontent.com/assets/9492662/21472359/7ce2cdd2-cb10-11e6-9026-7323e593ba82.PNG)

[2016-12-25 18:11] GabrielLee22 commented on #2714
Created a new issue which explicitly states the problem faced - so that there will not be any confusion regarding the "default location" I mentioned earlier - see issue #2722

[2016-12-25 18:18] GabrielLee22 opened #2723 "Addresses Break Style on Explore Page"
Similar to issue #2716 and pull request #2719 - but this time it occurs on the explore page.

![screenshot](https://cloud.githubusercontent.com/assets/9492662/21472372/8099803c-cb11-11e6-863e-a184e4c7ff1a.PNG)

[2016-12-25 18:55] GabrielLee22 opened #2724 "Cannot Select Dates Before December 26 2016"
On the 'Create an Event' page, I cannot seem to add dates prior to the date which I am accessing the site. In other words, if today's date is 26th December 2016, I cannot add any dates before 26th December 2016 for my (past) event, and I can only add dates after 26th December 2016.

![date](https://cloud.githubusercontent.com/assets/9492662/21472454/18749654-cb16-11e6-874a-0e836995efe1.PNG)

This

[2016-12-25 19:05] GabrielLee22 opened #2725 "Is There A Way to Change the Duration of an Event in Scheduler?"
On the Scheduler page, the duration of each talk has been pre-set to 15 minutes. But I cannot seem to change the duration of each talk. This is because some talks may be slightly longer, or shorter, and being able to change the duration of each talk seems ideal.

![scheduler](https://cloud.githubusercontent.com/assets/9492662/21472486/1b268752-cb18-11e6-89c0-907f6568b91c.PNG)

[2016-12-25 19:13] GabrielLee22 opened #2726 "Logo should be resized in 'My Session Proposals' page"
On 'My Session Proposals' page (https://eventyay.com/events/mysessions/), the organisation's logo seems to be in need of resizing. So that the logo can fit into the square. Or some other alternative perhaps?

![session](https://cloud.githubusercontent.com/assets/9492662/21472513/2d2495ba-cb19-11e6-87e5-f2a3e2c3c0e2.PNG)

[2016-12-25 19:26] niranjan94 commented on #2724
@GabrielLee22... Already reported and fixed here #2721... Thanks anyway 😄

[2016-12-25 19:26] #2724 closed

[2016-12-25 19:26] #2708 closed

[2016-12-25 19:28] niranjan94 commented on #2725
Yes... You can do that by resizing the boxes... Hover your mouse pointer over the bottom edge of a box :)

[2016-12-25 19:28] #2725 closed

[2016-12-25 19:30] niranjan94 commented on #2720
@nikhilrayaprolu would you be interested in fixing this?

[2016-12-25 19:31] #2692 closed

[2016-12-25 19:31] #2703 closed

[2016-12-25 19:31] #2701 closed

[2016-12-25 19:35] niranjan94 commented on #2675
@nikhilrayaprolu  nice to see that you're interested in this :)  .. But let's first get open-event-orga server out of alpha stage by fixing the bugs ... It would be really great if you could assist us there :D .. You can take this up once we're out of alpha ...

[2016-12-25 19:52] nikhilrayaprolu commented on #2720
@niranjan94 sure I will work on this

[2016-12-26 03:47] niranjan94 commented on #2720
Cool. :D

[2016-12-26 09:58] mariobehling opened #2728 "Cannot import FOSSASIA 16 sample file"
Currently FOSSASIA 16 sample file fails on Heroku deployment.

Error Message "File session_types, ID 1, 'length' should be a String"

![screenshot from 2016-12-26 10-56-01](https://cloud.githubusercontent.com/assets/1583873/21480080/2bae0e6e-cb5a-11e6-9451-d21d46bb28e6.png)

[2016-12-26 10:01] mariobehling commented on #2640
@shubham-padia This is a nice implementation. Do you have a sample link, please for testing?

I also wonder how we can increase the number of tracks shows? E.g. decrease distance between lines and widen display area.

It would be good if users could see as many tracks as possible without having to make any interaction. I am reopening this issue therefore.

[2016-12-26 10:09] mariobehling commented on #2640
Ok, I see the link on the eventyay system already works, but I am having issues

* [ ] I cannot get it to work on small resolutions
* [ ] The top bar only appears when the page is moved to the top
* [ ] the bar sometimes moves to the top of the browser window on Chrome.
![screenshot from 2016-12-26 11-02-21](https://cloud.githubusercontent.com/assets/1583873/21480226/48c89b6c-cb5b-11e6-8d3d-987cdc

[2016-12-26 11:40] shubham-padia commented on #2640
@mariobehling I'll provide a fix decreasing distance b/w lines and making the navigation compact and point no.2 of above comment.
Regarding small resolutions, the implementation seems to be functional on my device, I've attached the relevant screenshots.

![selection_027](https://cloud.githubusercontent.com/assets/13910561/21481479/07249642-cb8e-11e6-9e0a-489a3ce9cfbe.png)

[2016-12-26 11:48] mariobehling commented on #2640
@shubham-padia Thank you. Much appreciated.

In your screenshot I see, that the left half of the screen is white. Please open an issue to fix the mobile display, if it is out of scope of this issue. Cheers.

[2016-12-26 12:02] mariobehling commented on #2728
After merging to the latest version of the samples and trying again, the server gives me an "internal error".

![screenshot from 2016-12-26 13-01-36](https://cloud.githubusercontent.com/assets/1583873/21481745/8b2c81c0-cb6b-11e6-964e-98d0b5b7be12.png)

[2016-12-26 12:27] Marauderer97 commented on #2728
@mariobehling in open-event-orga-server I changed length in session-type to a string, and so I made the corresponding changes in open-event's sample files too(and created new zip files). But I get Internal Server Error too, what do you think the issue is?

[2016-12-26 12:52] shubham-padia opened #2729 "Optimise event sessions page for small resolutions."
As seen in the screenshot below, there a lot of white spaces when using the site on mobile.

![selection_027](https://cloud.githubusercontent.com/assets/13910561/21481479/07249642-cb8e-11e6-9e0a-489a3ce9cfbe.png)

[2016-12-26 12:56] niranjan94 commented on #2728
@mariobehling will check this

[2016-12-26 12:57] #2713 closed

[2016-12-26 13:19] shubham-padia commented on #2723
@niranjan94 can I work on this ?

[2016-12-26 13:19] niranjan94 commented on #2723
@shubham-padia sure :)

[2016-12-26 13:32] #2726 closed

[2016-12-26 13:33] niranjan94 commented on #2728
@mariobehling the zip structure was incorrect. Fixed it in
https://github.com/fossasia/open-event/commit/798fde999916a82079bfa5f602b3570f4d79523c

[2016-12-26 13:33] #2728 closed

[2016-12-26 14:44] mariobehling opened #2734 "Importing FOSSASIA sample results in many duplicate speakers"
After importing FOSSASIA 2016 zip, speakers are imported and shown multiple times.

Please compare here: http://open-event-dev.herokuapp.com/e/906f86d6/

[2016-12-26 14:51] mariobehling opened #2735 "Add icon for Linkedin and External Links if user adds it"
A number of services are shown with their social media icons. Linkedin and External Links icons are currently missing. Please add them.

![screenshot from 2016-12-26 15-50-08](https://cloud.githubusercontent.com/assets/1583873/21483490/23d7b8c4-cb83-11e6-903c-f2ae30955447.png)

[2016-12-26 14:52] mariobehling commented on #2734
Internal event management http://open-event-dev.herokuapp.com/events/266/

[2016-12-26 14:57] #2691 closed

[2016-12-26 15:47] #2696 closed

[2016-12-26 15:47] #2734 closed

[2016-12-26 16:08] magdalenesuo commented on #2735
Can work on this?

[2016-12-26 16:09] SaptakS commented on #2735
@magdalenesuo yes, sure.

[2016-12-26 17:20] #2723 closed

[2016-12-27 14:05] shubham-padia commented on #2690
@SaptakS Can I work on this issue ?

[2016-12-27 14:30] magdalenesuo opened #2741 "'External Event URL' field not shown on event create in public page"
If I fill in directly the external event URL it is not shown but if I add a social link and fill it, then it is shown..

filled data:
https://cloud.githubusercontent.com/assets/20799954/21501567/e84a3056-cc6e-11e6-910c-514e6768bb46.png

output:
https://cloud.githubusercontent.com/assets/20799954/21501565/e74a55c8-cc6e-11e6-902b-dc99a58379d1.png

[2016-12-27 14:57] niranjan94 commented on #2690
@nikhilrayaprolu there is no specific point. It is just like any other page. The user is sent back to the previous url.

[2016-12-27 14:59] SaptakS commented on #2690
@shubham-padia I think @nikhilrayaprolu is working in it.

[2016-12-27 15:29] #2735 closed

[2016-12-27 15:40] SaptakS commented on #2741
I think event_url is not getting saved in the Database at all since there is no code in the backend. @magdalenesuo can you add that?

[2016-12-27 17:15] nikhilrayaprolu commented on #2690
@shubham-padia you can proceed with this issue. I am working on another issue right now.

[2016-12-28 03:48] niranjan94 commented on #2722
@shubham-padia we're not using app engine. And extensions written with C work on eventyay

[2016-12-28 03:58] #2690 closed

[2016-12-28 03:59] #2720 closed

[2016-12-28 04:00] #2741 closed

[2016-12-28 04:00] #2640 closed

[2016-12-28 04:10] niranjan94 commented on #2722
I believe the problem exists with the Nginx Ingress Controller. It has to be configured such that the client Ip is visible to the final web service in some form.

[2016-12-28 04:58] shubham-padia commented on #2722
@niranjan94  Ohh...sorry, I always thought eventyay ran on app engine :smile:

[2016-12-28 05:37] niranjan94 commented on #2722
@shubham-padia Nope. We use [Kubernetes](http://kubernetes.io/) ... Do check it out :smile: It's awesome !

Our configuration files are at https://github.com/fossasia/open-event-orga-server/tree/development/kubernetes

[2016-12-28 10:04] Marauderer97 commented on #2641
@niranjan94 I have been working on the second issue(Tracks view not showing colours of session), and I think the reason it doesn't work is the data received using the api,in line
https://github.com/fossasia/open-event-orga-server/blob/development/app/static/js/admin/event/scheduler.js#L873
 doesnot contain the colour of the session just the id and the title, and hence updateColor() in scheduler.js

[2016-12-28 13:13] SaptakS commented on #2641
@Marauderer97 the session data should have a track id, if color of track is not present, you can pull track data using the track id and get the color. @niranjan94 what do you think?

[2016-12-28 13:36] niranjan94 commented on #2641
@SaptakS you're right.

@Marauderer97 you can either do what @SaptakS suggested or you can edit the API such that color is also provided. (I think it's just a one line edit)

[2016-12-28 13:38] #2644 closed

[2016-12-28 13:45] niranjan94 commented on #2729
@SaptakS @shubham-padia

A part of this issue was fixed by https://github.com/fossasia/open-event-orga-server/commit/9f6d2b9977498b0480998f6ca9279e1b62fbce0f (I have no idea how and when that tag went missing)

New screenshot after the fix:

![eventyay com-e-18252ab6-sessions- nexus 5x](https://cloud.githubusercontent.com/assets/2404372/21523196/e11221e0-cd31-11e6-9bfe-7dc68e35c4dc.png)

[2016-12-28 13:46] niranjan94 commented on #2652
@gureks any progress on this front ? :)

[2016-12-28 14:26] SaptakS commented on #2729
@niranjan94 seems good to me. What is the remaining issue then?

[2016-12-28 14:44] niranjan94 commented on #2729
The disappearing track names on the track selection bar. I have commented on https://github.com/fossasia/open-event-orga-server/issues/2745

And there seems to be a lot of extra space right of the text. Maybe we could fix that.

[2016-12-28 14:48] shubham-padia opened #2747 "expand/contract icon shown on events with very less tracks"
![selection_033](https://cloud.githubusercontent.com/assets/13910561/21524250/cca40274-cd3a-11e6-85d7-a739a8462bd2.png)

[2016-12-28 14:55] SaptakS commented on #1991
@bradstimpson are you still working on this issue?

[2016-12-28 15:31] SaptakS opened #2748 "SAWarning: The IN-predicate on "ticket.Id" was invoked with an empty sequence."
I am getting this error on creating an event in my local system:

![screenshot from 2016-12-28 21-00-16](https://cloud.githubusercontent.com/assets/9530293/21525075/c096329e-cd40-11e6-852f-0f3e410537f3.png)

[2016-12-28 15:40] magdalenesuo opened #2749 "'External Event URL' link shows on page even when no link is given as input."
https://cloud.githubusercontent.com/assets/20799954/21525255/0b2c4202-cd42-11e6-92cf-15bb5bf0dba0.png

[2016-12-28 15:42] SaptakS commented on #2749
@magdalenesuo you want to solve this?

[2016-12-28 15:43] magdalenesuo commented on #2749
@SaptakS Yes. Already solved XD sending PR

[2016-12-28 15:59] niranjan94 commented on #2748
@SaptakS it's just a warning right ? Does it break functionality ?

[2016-12-28 16:01] SaptakS commented on #2748
@niranjan94 it gives 404 on publishing event. See the POST request below. It gives error to save event.

[2016-12-28 16:02] niranjan94 commented on #2748
`404` ?! That isn't due to the warning .... Something else seems to be causing it here ,.,

[2016-12-28 16:06] niranjan94 commented on #2748
@SaptakS found it. Due to https://github.com/fossasia/open-event-orga-server/pull/2706. will fix

[2016-12-28 16:36] magdalenesuo opened #2752 "Links cannot start with "www.""
Input links cannot start with "www". It has to be "https://" or "http://".
If it starts with 'www', it takes to page within the open-event site as shown:

https://cloud.githubusercontent.com/assets/20799954/21526383/b8b2059a-cd49-11e6-86e4-3273217455c3.jpg

[2016-12-28 17:29] magdalenesuo opened #2753 "Twitter pops up on page when External event link is given"
Twitter pops up on page, even when no input link for twitter is provided, once External event url link is given. Other cases, Twitter does not appear

https://cloud.githubusercontent.com/assets/20799954/21527406/303bda80-cd51-11e6-841e-f71098178915.png

[2016-12-28 17:34] #2748 closed

[2016-12-28 19:38] shubham-padia opened #2754 "Custom roles functionality broken"
As seen below, I created a custom role superman with access to modules,reports and messages panels.
![selection_035](https://cloud.githubusercontent.com/assets/13910561/21529947/2ede1560-cd63-11e6-8c30-676caf1c2571.png)

I assigned the custom role to a different user.
![selection_034](https://cloud.githubusercontent.com/assets/13910561/21529948/2ee1f3f6-cd63-11e6-800e-c8d3c8e0a832.png)

But the us

[2016-12-28 19:56] shubham-padia opened #2756 "No link for user with custom roles to access their designated tabs."
- [ ] Add link to the first-found accessible tab in dropdown menu
- [x] Show only those tabs to which user has access to ( #2673 )

![selection_039](https://cloud.githubusercontent.com/assets/13910561/21530290/a5febbe8-cd65-11e6-8b04-b66a43599285.png)

[2016-12-28 19:58] shubham-padia commented on #2756
We can list all the admin tabs he/she has access to, in the profile dropdown (the one with logout option)  menu itself.
@niranjan94 @SaptakS Your views ?

[2016-12-29 03:53] niranjan94 commented on #2756
@shubham-padia no. Let there be a link to /admin/ provided there. Let's keep that drop down simple and clean.

[2016-12-29 05:11] #2747 closed

[2016-12-29 09:09] #2752 closed

[2016-12-29 10:00] shubham-padia commented on #2756
@niranjan94 Agreed. But a link to `/admin/` will give the user access denied as the user does not have access to all tabs. Alternatively we could give a link to one of the tabs user has access to.
e.g If the user has access to `reports`,`modules` and `sales`, we cound give a link to `/admin/reports/` in the dropdown, but then the user would have to click all the other tabs(refer below point) visib

[2016-12-29 10:02] SaptakS opened #2758 "Social Links need to be stored with https:// if not present."
Just like in isse #2752 , all other social links also need to be stored with https:// in case it is not entered.

[2016-12-29 10:13] niranjan94 commented on #2756
Or we could have a basic landing page which shows all the tabs that the user has access to along with some very basic information from `/admin/` for those who do not have access to `/admin/`.

Let's try to keep the dropdown clean and minimal.

[2016-12-29 10:17] shubham-padia commented on #2756
@niranjan94 Yeah, that sounds good.
Also about

What should be included in that particularly?

[2016-12-29 11:11] #2753 closed

[2016-12-29 12:27] kshitijsingla opened #2762 "issue in social websites"
Social website section is not appearing and while editing the links dissapear after saving.

[2016-12-29 12:42] shubham-padia opened #2763 "Custom Roles: Show only those tabs to which user has access to"
Parent issue: #2756.
e.g If the user has access to `reports`,`modules` and `messages`, he sees all the other tabs as an option. Show only those tabs to which he has access to.
Thus, in below screenshot only 3 tabs should be displayed i.e `reports`,`modules` and `messages`

![selection_040](https://cloud.githubusercontent.com/assets/13910561/21541264/fc278002-cdda-11e6-9a77-0c1502e0edbf.png)

[2016-12-29 12:48] SaptakS commented on #2762
@kshitijsingla can you elaborate? Seems to work fine for me:

Social section
------------------
![screenshot from 2016-12-29 18-16-34](https://cloud.githubusercontent.com/assets/9530293/21544210/2ac518d0-cdf3-11e6-822d-7bd8310d024a.png)

Editing social link
----------------------
![screenshot from 2016-12-29 18-17-01](https://cloud.githubusercontent.com/assets/9530293/21544213/369a35c8-cdf3-11e6-9

[2016-12-29 12:51] #2758 closed

[2016-12-29 12:51] #2749 closed

[2016-12-29 13:02] niranjan94 commented on #2754
@shubham-padia could you clearly explain this issue ?

(In future, don't just add screenshots with a generic title .. Give a description :) )

[2016-12-29 13:09] shubham-padia commented on #2754
@niranjan94 Updated the description.

[2016-12-29 13:32] #2754 closed

[2016-12-29 13:48] mariobehling opened #2764 "Adding addresses does not show up on map"
A number of addresses entered do not show up on the map (but they show up on the Google Maps site itself), e.g. Indian Institute of Technology Roorkee, Roorkee, Uttarakhand, India.

Also clicking on the extended address fields does not let users enter addresses.

![screenshot from 2016-12-29 14-47-04](https://cloud.githubusercontent.com/assets/1583873/21545201/dc1953b2-cdd5-11e6-9858-fdb5dbc08c4a.

[2016-12-29 13:50] niranjan94 commented on #2764
Will check it out now

[2016-12-29 13:51] kshitijsingla commented on #2762
i did the same and saved.But when we open again its not working.It will vanish(the address)  and there is no output.I don't if it's happening only with me.

[2016-12-29 13:52] niranjan94 commented on #2762
@kshitijsingla what address did you type ? If the address you typed is invalid, it will not be saved.

[2016-12-29 13:55] mariobehling commented on #2762
Having the same issue: When I type in an URL into "External Event URL" on Chromium browser freezes and the page shows an error message. Also cannot copy/paste event URL: http://www.wikicfp.com/cfp/servlet/event.showcfp?eventid=48946

![screenshot from 2016-12-29 14-53-49](https://cloud.githubusercontent.com/assets/1583873/21545297/d33c2110-cdd6-11e6-88d5-6513ec00248f.png)

[2016-12-29 14:15] kshitijsingla commented on #2762
![screenshot from 2016-12-29 19-37-37](https://cloud.githubusercontent.com/assets/24763978/21545602/e6a3a25a-cdfe-11e6-9563-c5a1dbb6067e.png)
i write here the link   AND THEN
![again](https://cloud.githubusercontent.com/assets/24763978/21545609/f91448d6-cdfe-11e6-8bf7-56f7d6f50184.png) AND I CAME HERE BUT FOUND NOTHING BECAUSE
![nothing](https://cloud.githubusercontent.com/assets/24763978/21545650

[2016-12-29 14:37] #2673 closed

[2016-12-29 14:37] shubham-padia commented on #2763
Closed via #2765

[2016-12-29 14:37] #2763 closed

[2016-12-29 14:40] SaptakS commented on #2762
@kshitijsingla this happens in eventyay.com because it serves on the master branch and this issue was already fixed. It will start working once we merge development branch in master.

[2016-12-29 15:16] kshitijsingla commented on #2762
please let us know when its done.Thnx.

[2016-12-29 15:17] #2762 closed

[2016-12-29 15:36] SaptakS opened #2767 "Editing and removing social links doesn't work"
Once I have created an event with suppose a facebook link, then I edit the event and remove the facebook link, the facebook link still stays and is not removed.

[2016-12-29 15:45] magdalenesuo commented on #2767
I think I'd like to try solve this.

[2016-12-29 15:46] magdalenesuo commented on #2767
I'd like to try and solve this

[2016-12-29 15:46] SaptakS commented on #2767
@magdalenesuo sure. go ahead

[2016-12-29 16:17] niranjan94 commented on #2764
@mariobehling the geocoding API itself returns zero results for that search. You can try searching for
`Indian Institute of Technology Roorkee, Roorkee, Uttarakhand, India` here https://developers.google.com/maps/documentation/javascript/examples/geocoding-simple at the official geocoding sample provided by google.

[2016-12-29 16:31] SaptakS commented on #2764
@mariobehling @niranjan94 a possible solution would then be to search for the closest like `Roorkee, Uttarakhand, India`. But I agree with @niranjan94 . It doesn't show up in geocoding.

[2016-12-29 18:50] shubham-padia opened #2769 "Anyone with access to users panel can assign others as admins"
[Roles.md](https://github.com/fossasia/open-event-orga-server/blob/development/docs/ROLES.md#site-specific-roles-staff) states that

Currently if the super-admin gives one of the users access to the `/admin/users` panel , the user can assign himself/herself or any other user as an admin by clicking on the edit icon under the options column.We can remove the edit icon if the person is not a super a

[2016-12-30 04:10] niranjan94 commented on #2769
Yes. Please do that.

I agree with you

[2016-12-30 04:13] #2756 closed

[2016-12-30 04:14] #2767 closed

[2016-12-30 08:15] Marauderer97 commented on #2641
@niranjan94  @SaptakS I am trying to edit the api, but it looks like the color is already provided..
![screen1](https://cloud.githubusercontent.com/assets/20185076/21561651/6cd17fbe-ce95-11e6-9db0-769432610a63.png)
But when I print the track object on the console. As of now, I have been able to give each track the same color that the session gets in the Rooms view using the updateColor function de

[2016-12-30 09:28] niranjan94 commented on #2641
@Marauderer97 you're looking at the wrong file :) .. See https://github.com/fossasia/open-event-orga-server/blob/development/app/api/sessions.py#L32

[2016-12-30 09:52] shubham-padia commented on #2769
Closed via #2772

[2016-12-30 09:52] #2769 closed

[2016-12-30 10:39] shubham-padia opened #2775 "Super admin account can be moved to trash/ permanently deleted via api call"
Although the delete button is removed for super admin when some other admin accesses the users panel, the other user can still make a call to `/admin/users/<user_id>/trash/` and `/admin/users/<user_id>/delete/` and delete super admin.

Move super admin to trash:
![selection_044](https://cloud.githubusercontent.com/assets/13910561/21563638/1ab1ff14-ceaa-11e6-9d47-49a5a073f268.png)

Permanently dele

[2016-12-30 11:16] shubham-padia opened #2777 "Privacy/security: Admins can change personal details of any user"
Admins on clicking on the eye icon shown below on the users panel can view the personal details of any user and even edit them.
@niranjan94 @mariobehling @SaptakS Should this be allowed ?

![selection_046](https://cloud.githubusercontent.com/assets/13910561/21564097/492aa440-ceaf-11e6-8a43-7b6d1f950fce.png)

Steps to recreate:
- click on the specified eye button on any other use
- change name or a

[2016-12-30 11:22] #2775 closed

[2016-12-30 11:34] Marauderer97 commented on #2641
@niranjan94 Thanks! Task 2 and 3 done. In the first task, in the main page the console displays nav-bar having  is_stuck class, but the same nav-bar in other pages like cfs, sessions page, schedule page the class doesnot appear, though the same nav-bar is present, and all the css files are linked. I am not very  familiar with jQuery-sticky-kit, how should I go about this?

[2016-12-30 16:05] mariobehling opened #2778 "Images not displayed from sponsors"
![screenshot from 2016-12-30 17-04-21](https://cloud.githubusercontent.com/assets/1583873/21568116/154531ec-ceb2-11e6-9592-4eaa6227da3e.png)

Please compare: https://eventyay.com/e/ecc2001a

[2016-12-30 17:48] mariobehling commented on #2778
Going back to the editing tab for sponsors, shows "Google" on each sponsor list.

![screenshot from 2016-12-30 17-08-04](https://cloud.githubusercontent.com/assets/1583873/21568178/9c030e98-ceb2-11e6-9358-d89de46517fb.png)

[2016-12-30 18:09] mariobehling opened #2779 "Saved license not displayed"
The event license is saved originally, but once the event is edited it is not displayed again. Expected: Display previously chosen license.

[2016-12-30 18:12] mariobehling opened #2780 "Not saving additional links"
Adding a blog link to the create event wizard page 1, it does not get saved and displayed on the public page.

[2016-12-30 18:16] mariobehling opened #2781 "Standard time for session"
Standard time displayed for sessions is currently 03.00. It should rather be:
"00:30"

Please use ":" instead of "."

[2016-12-30 18:19] mariobehling commented on #2781
Changing time to "00:30" does not get saved in the Talk column on the Wizard step 3.

[2016-12-30 18:27] mariobehling opened #2782 "Add more fileds to "Collect Speaker Details" on Wizard Step 3"
Please offer the collection of the following as well:
* [ ] City
* [ ] Sponsorship Required

[2016-12-30 18:30] mariobehling opened #2783 "Cannot enable session types on Wizard Step 3"
Cannot enable session types in "Collect Session Details" area even though session types have been defined.

Expected: 1. User chooses session types and 2. user can activate session types immediately.

[2016-12-30 18:33] magdalenesuo commented on #2779
I'd like to try doing this

[2016-12-30 18:33] mariobehling opened #2784 "Add levels of required expertise to list of "collect session details""
Many events have "Level" as an option for submissions of speaker proposals.

Please implement "Levels" in the API and offer this option in "collect session details" in the wizard step 3.

Levels needed are:
* Beginner
* Intermediate
* Advanced
* Other

[2016-12-30 18:35] magdalenesuo commented on #2782
Please assign me this as well

[2016-12-30 18:36] mariobehling opened #2785 "Add field "Speaker Experience" in wizard step 3 as an option"
The question that some event organizers have is " Did you give talks / sessions in open source conferences before?". Therefore please implement a field "Speaking Experience" in the wizard step 3.

[2016-12-30 18:39] mariobehling opened #2786 "Some organizers would like to know how speakers know about their event - offer option in wizard"
Some speaker submission forms have the question "Where did you hear about our event?" in their form. Please add this field as an option in wizard step 3.

[2016-12-30 18:40] magdalenesuo commented on #2784
Since I m looking into #2782, and this similar can I complete this along with it?

[2016-12-30 18:44] SaptakS commented on #2779
Sure

[2016-12-30 18:45] SaptakS commented on #2784
Ok... While you are at it, please also look at #2785 if you can... Thanks...

[2016-12-30 18:47] SaptakS commented on #2782
Yeah sure you can

[2016-12-30 18:47] SaptakS commented on #2782
Yeah sure you can

[2016-12-30 18:49] magdalenesuo commented on #2784
@SaptakS okay, sure. :)

[2016-12-30 18:51] magdalenesuo commented on #2785
Since this is similar to #2782 and #2784, can I complete this aswell?

[2016-12-30 20:19] shubham-padia commented on #2783
I would like to work on this.

[2016-12-30 21:46] #2783 closed

[2016-12-30 22:52] shubham-padia commented on #2781
I would like to work on this.

[2016-12-31 08:18] magdalenesuo commented on #2782
@mariobehling Should the 'sponsorship required' field be filled in by the user itself?

[2016-12-31 09:02] #2781 closed

[2016-12-31 09:31] mariobehling commented on #2782
@magdalenesuo Yes, this should be a field with a paragraph, where the user can enter text.

[2016-12-31 11:23] magdalenesuo commented on #2784
@mariobehling Shouldn't the 'level' field be in session form and not in speaker form?

[2016-12-31 11:34] mariobehling commented on #2778
As images get entered and the user proceeds to the next step, there is actually an error message on the bottom.

![screenshot from 2016-12-31 12-33-57](https://cloud.githubusercontent.com/assets/1583873/21577278/88503378-cf55-11e6-84e7-7bb07106fb87.png)

[2016-12-31 11:43] mariobehling opened #2789 "Do not add empty sponsor links on public event page if no link is defined"
Some organizers might not define links of sponsors. Currently there is an empty link set on the public event page.

Expected: No links to anywhere, if no sponsor links are defined.

![screenshot from 2016-12-31 12-41-43](https://cloud.githubusercontent.com/assets/1583873/21577308/a23b311a-cf56-11e6-987d-7e1ef2be6796.png)

[2016-12-31 12:14] mariobehling opened #2790 "Sponsorship details not saved or displayed properly"
There are some issues with the sponsorship wizard:

* [x] Going back an forth between wizard steps results in sponsors not being saved
* [x] The order of sponsors sometimes changes after saving them
* [x] The sponsor levels are not made use of - sponsors are not displayed according to their level
* [x] The type information e.g. Gold is not saved in the form
* [x] The description is not displayed i

[2016-12-31 14:18] mariobehling opened #2792 "Speaker submissions not saving full data set"
I activated all fields for the sample speaker submissions at https://eventyay.com/e/ecc2001a/cfs/new/

Unfortunately the following data is not saved or displayed when the speaker edits the proposal:
* [ ] COMMENTS
* [ ] LANGUAGE
* [ ] SLIDES
* [ ] VIDEO
* [ ] AUDIO
* [ ] SPEAKER AVATAR IMAGE
* [ ] LONG BIOGRAPHY
* [ ] MOBILE
* [ ] FACEBOOK
* [ ] TWITTER
* [ ] GITHUB
* [ ] LINKEDIN

[2016-12-31 14:35] mariobehling opened #2793 "Connecting with Facebook does not save credentials in profile"
The Facebook credentials do not get saved in the account.

![screenshot from 2016-12-31 15-34-22](https://cloud.githubusercontent.com/assets/1583873/21577966/bb868d78-cf6e-11e6-9c6a-ead40412110a.png)

[2016-12-31 14:37] mariobehling opened #2794 "Adding user image to profile and saving it results in error page"
After user uploads an image to the profile page and updates/saves the profile an error page shows up.

![screenshot from 2016-12-31 15-36-41](https://cloud.githubusercontent.com/assets/1583873/21577975/160aba80-cf6f-11e6-999a-d42a21e9561b.png)

[2016-12-31 14:52] mariobehling opened #2796 "Improve Accepting/Rejecting Speaker Sessions with Email"
When an organizer accepts or rejects the speaker session there is an option to send out an email. Please enhance this feature as follows:

* [x] After the organizer clicks the symbol "accept or reject with mail" open a pop up lightbox with the email
* [x] Make the email subject and content editable
* [x] Add the buttons "Accept and Send Mail" or "Reject and Send Mail" to the button
* [x] Also add

[2016-12-31 14:55] Marauderer97 commented on #2789
@mariobehling  I would like to work on this

[2016-12-31 15:19] mariobehling opened #2797 "Email Update option no longer available"
The options to subscribe/unsubscribe to email updates from events are no longer available.

Please make a list of updates and enable them again.

These were solved here https://github.com/fossasia/open-event-orga-server/issues/1179 and here https://github.com/fossasia/open-event-orga-server/issues/1236

![screenshot from 2016-12-31 16-17-32](https://cloud.githubusercontent.com/assets/1583873/21578

[2016-12-31 15:29] mariobehling commented on #2784
@magdalenesuo Yes, correct. It is correct in the heading, but was wrong in the description. Just corrected it. @SaptakS @niranjan94 This also needs to go into the API.

[2016-12-31 15:34] mariobehling opened #2798 "Do not call Stripe API for free tickets"
When ordering a free ticket the Stripe API put out a pop up. Avoid any API calls of payment services for free tickets.

![screenshot from 2016-12-31 16-33-46](https://cloud.githubusercontent.com/assets/1583873/21578178/0ad0d214-cf77-11e6-9505-a61cd4943e4d.png)

[2016-12-31 15:37] mariobehling opened #2799 "Add email confirmation message "Email has been sent.." to ticketing confirmation"
If a user orders a ticket, there is a confirmation page.

Please add a message on top "An email with the ticket has also been sent to your email account."

![screenshot from 2016-12-31 16-36-17](https://cloud.githubusercontent.com/assets/1583873/21578197/739afdec-cf77-11e6-9a63-a5802cc95e9b.png)

[2016-12-31 15:46] mariobehling opened #2800 "Ticket buyer does not receive email with ticket"
After buying a ticket as an anonymous user, the user receives an email "Welcome to eventyay.. Your account has been created".

Expected behavior would be:

**1) The buyer receives an email with the ticket attached.**

After buying a ticket as an anonmyous user, the user should receive an email:

"Your ticket to event ..."

"Hi, this is your registration confirmation for .... on ... (date)...

The

[2016-12-31 16:00] mariobehling opened #2801 "Add progress upload bar and list uploaded items in Call for Speakers form"
The call for speakers form can have upload buttons for slides, video and audio. Currently it does not show that an item is uploaded and it does not show the upload progress. Please implement the following:

* [x] Show upload progress
* [ ] Add "Add More" - Enable upload of several items
* [x] Offer delete functionality
* [x] List uploaded files in the form (currently they are not shown)

![screens

[2016-12-31 16:11] mariobehling opened #2802 "Propose and implement speaker profiles"
The goal of this feature is, to allow speakers to have different description and bios for different events.

A speaker can save their profile, copy and edit it.

The profile page at https://eventyay.com/profile/ should show the following:
* [ ] A standard profile (withh all possible form fields)
* [ ] A dropdown menu for specific event profiles (with the available form fields of that event)

[2016-12-31 18:54] SaptakS commented on #2784
@mariobehling will look into that.

[2016-12-31 18:58] shubham-padia commented on #2792
I would like to try this

[2016-12-31 19:01] SaptakS commented on #2792
@shubham-padia I think it's best to start this issue after #2782 #2784 and #2785 are solved.. Once they are solved I think you can start with this one. Please try and pick some other issue

[2016-12-31 19:03] shubham-padia commented on #2792
@SaptakS Sure

[2016-12-31 19:42] shubham-padia commented on #2793
Weird :confused: , works good on open-event-dev.herokuapp.com.
Sign in with facebook also doesn't work on eventyay.
It may happen that this is a problem with the fb-app set up for eventyay.

[2016-12-31 19:52] mariobehling opened #2803 "Implement Apps similar to twitter applications page"
Connected apps are not currently implement in a clear way, e.g. Google does not show up anywhere as a connected app.

Please create a tab "Applications" in the settings list at https://eventyay.com/settings/ similar to twitter and move the connected accounts from "Profile" here.

![screenshot from 2016-12-31 21-18-38](https://cloud.githubusercontent.com/assets/1583873/21579106/bfa95572-cf9e-11e6-9

[2016-12-31 20:32] shubham-padia commented on #2798
I would like to try to solve this.

[2016-12-31 20:53] SaptakS commented on #2798
@shubham-padia sure go ahead.

[2016-12-31 21:22] mariobehling opened #2805 "Event Ticket time start on local PC time instead of Time of Event location"
After the user entered the ticket, the ticket time starting the sales is automatically chosen - as the current time.

The time displayed is the current ticket time of the time zone. If the timezone of the user/PC is different to the timezone of the event, the ticket time still shows the PC timezone.

Expected behavior: Show the timezone of the event and make all ticket sales according to the event

[2016-12-31 21:24] mariobehling opened #2806 "Errors showing ticketing info"
The ticketing box has the following issues:

* [ ] It shows "the ticket sales will start.." even though the ticket sales start time is in the past
* [ ] It does not show a box to choose multiples tickets

![screenshot from 2016-12-31 22-23-32](https://cloud.githubusercontent.com/assets/1583873/21579296/f338725c-cfa7-11e6-9f75-2af8330e07a2.png)

[2016-12-31 21:29] mariobehling opened #2807 "Ticket price and Paypal email not saved"
Cannot save ticket price and paypal email.

![screenshot from 2016-12-31 22-28-05](https://cloud.githubusercontent.com/assets/1583873/21579307/8519c374-cfa8-11e6-92c8-0fcd8260a41c.png)

[2016-12-31 22:47] shubham-padia commented on #2805
I'd like to work on this.

[2017-01-01 05:57] Marauderer97 commented on #2807
@mariobehling I would like to work on this

[2017-01-01 09:40] #2789 closed

[2017-01-01 12:53] mariobehling opened #2810 "Form conflicts entereing address and not possible to move location point"
When a user enters an address into the first field and then tries to enter additional info into other address fields the first fields gets deleted.

Expected: It should be possible to enter full addresses and move the location point on the map.

![screenshot from 2017-01-01 13-51-08](https://cloud.githubusercontent.com/assets/1583873/21581240/98e56e54-d029-11e6-9590-2dd0b967945e.png)

[2017-01-01 13:01] mariobehling opened #2811 "Event does not show up on "manage events" page when it is a copy"
When the user copies an event and edits it, it does not show up on the event management page.

![screenshot from 2017-01-01 14-01-06](https://cloud.githubusercontent.com/assets/1583873/21581272/d8591f9e-d02a-11e6-8325-2c707636ee5d.png)

[2017-01-01 13:05] mariobehling opened #2812 "Image proportions incorrect on front page"
The uploaded images are not scaled and cropped correctly. Instead it appears that they are stretched.

![screenshot from 2017-01-01 14-04-38](https://cloud.githubusercontent.com/assets/1583873/21581278/5dc2a8c6-d02b-11e6-84d8-103c8b16a5d0.png)

[2017-01-01 13:08] mariobehling opened #2813 "Changes in ticketing cause error and do not get saved"
Changes in ticketing result in error message and do not get saved, e.g. date ticket sales ends.

![screenshot from 2017-01-01 14-07-46](https://cloud.githubusercontent.com/assets/1583873/21581282/c77b4a2a-d02b-11e6-9052-17a892e8c219.png)

[2017-01-01 13:10] mariobehling opened #2814 "If event is copied front page link will direct to original event (the one that was copied)"
If event is copied front page link will direct to original event (the one that was copied)

![screenshot from 2017-01-01 14-10-08](https://cloud.githubusercontent.com/assets/1583873/21581292/1c715bf0-d02c-11e6-8b05-f5f85336f146.png)

[2017-01-01 13:33] mariobehling opened #2815 "Discount Codes not working"
* [x] Applying a discount code results in a message "The promotional code entered is valid. No offer has been applied to this order."
* [x] Trying to edit a discount codes shows that parameters have not been saved including
   * [x] Percent
   * [x] All other options
* [x] For "Amount" it is only possible to enter full numbers. Please ensure e.g. amounts like 5.95 USD can be entered.

![screenshot

[2017-01-01 13:58] nikhilrayaprolu commented on #2814
@mariobehling how to duplicate this issue.(how to copy some event)?

[2017-01-01 14:01] nikhilrayaprolu commented on #2814
thanks @mariobehling I found the option to copy

[2017-01-01 14:04] nikhilrayaprolu commented on #2815
@mariobehling for the third task. I think adding a drop down to select currency type would work?

[2017-01-01 14:15] mariobehling opened #2816 "Search field no longer defined according to IP location"
It seems the search is now always "United States" instead of offering the search according to location of the user defined by the IP.

![screenshot from 2017-01-01 15-13-56](https://cloud.githubusercontent.com/assets/1583873/21581530/169c2bac-d035-11e6-93f8-2f39528d5cf1.png)

[2017-01-01 14:18] Abhi2424shek commented on #2816
Why don't we add a drop down which defaults to the current location using the geo api? The geo api gives more accurate country results than IP address. Besides we have our own geolocation project!

[2017-01-01 14:32] mariobehling opened #2817 "Improve language listings"
Please change as follows:
* [x] reduce space between languages to show more languages in one space
* [x] For Chinese only show a) Chinese (Simplified) and b) Chinese (Traditional)

[2017-01-01 22:02] shubham-padia commented on #2806
I would like to work on this.

[2017-01-01 22:12] shubham-padia commented on #2816
@mariobehling Issue exists on: #2722 .

[2017-01-01 22:47] #2816 closed

[2017-01-01 23:01] mariobehling opened #2819 "Pre-filled event dates should be one month in future"
The pre-filled event dates used to be in the future and are currently showing "the current date".

Please re-implement the future pre-fill.

Show event dates one month in advance and ensure start time is before end time.

![screenshot from 2017-01-02 00-00-02](https://cloud.githubusercontent.com/assets/1583873/21583381/95d62f5a-d07e-11e6-8a69-1c3191f3b1bb.png)

Testing at this moment it shows star

[2017-01-02 03:52] Marauderer97 commented on #2819
@mariobehling the end time has been set to 22:00 default, what do you think the end time should be if the current time(which the start time is set to) is later than 22:00?

[2017-01-02 04:19] mariobehling commented on #2819
Sounds good. But: 1 month in the future of the current date.

If the pre-filled start time is 10 AM, the end time should be something like 5PM.

[2017-01-02 07:21] #2798 closed

[2017-01-02 11:35] CosmicCoder96 commented on #2815
@mariobehling I would like to work on this.

[2017-01-02 12:22] #2641 closed

[2017-01-02 12:51] mariobehling commented on #2815
@CosmicCoder96 Let's do this task as first come, first claim, ok? But there are many other tasks. Please feel free to claim any other issue. Thank you.

[2017-01-02 12:51] #2819 closed

[2017-01-02 13:39] Marauderer97 opened #2821 "Link in paypal option not working"
Clicking on "here" in to `learn how it works click here` simply reloads the edit/create event page.
![image](https://cloud.githubusercontent.com/assets/20185076/21590132/db9ed636-d11e-11e6-9c81-2900aed35933.png)

[2017-01-02 14:08] CosmicCoder96 commented on #2815
@mariobehling Of course.Thank you.

[2017-01-02 14:12] Marauderer97 commented on #2807
@mariobehling Was able to replicate the error, 1 clarification though, this happens only when i want to edit an existing event. Initially the ticket price and the email get stored, but if I try to add them after an event is already created, it reports "Error saving changes"

[2017-01-02 14:36] magdalenesuo commented on #2817
@mariobehling I'd like to do this

[2017-01-02 14:46] #2782 closed

[2017-01-02 14:59] SaptakS commented on #2817
@magdalenesuo sure... go ahead...

[2017-01-02 16:46] magdalenesuo commented on #2792
@shubham-padia Shubham, are you still working on this issue? If not, I would like to work on this, because I just finished similar issues..

[2017-01-02 17:15] shubham-padia commented on #2811
I'd like to work on this

[2017-01-02 17:42] shubham-padia commented on #2792
@magdalenesuo Yeah, I've started on this since the above issues were solved today :smiley:

[2017-01-02 17:44] mariobehling commented on #2807
@Marauderer97 Yes, it is probably the same. Thank you.

[2017-01-02 17:44] #2807 closed

[2017-01-02 18:01] SaptakS opened #2824 "Add fields in speaker-session in API"
Speaker Form
- [ ] City
- [ ] Sponsorship Required
- [ ] Speaking Experience
- [ ] WHERE DID YOU HEAR ABOUT OUR EVENT?

Session Form
- [ ] Level of Session

API version for issue #2782 #2784 #2785 #2786

[2017-01-02 18:15] #2785 closed

[2017-01-02 18:15] #2784 closed

[2017-01-02 18:19] magdalenesuo commented on #2799
Can I work on this?

[2017-01-02 18:22] magdalenesuo commented on #2786
I've worked on similar issue. Please let me work on this

[2017-01-02 18:28] Marauderer97 commented on #2813
@mariobehling I'll try working on this, it is an extension of issue 2807

[2017-01-02 18:39] #2811 closed

[2017-01-02 19:28] magdalenesuo commented on #2786
@mariobehling should I put in dropdown menu to select from: 'friend', 'social media', 'website', 'other', etc? And give a space to fill in if 'other'?

[2017-01-02 19:32] mariobehling commented on #2786
Yes, sounds good. Thank you.

[2017-01-02 22:12] mariobehling commented on #2817
Please avoid deleting existing translations.

Chinese (Taiwan) = Traditional Chinese
Chinese (China) = Simplified Chinese

The idea of this issue was not to get rid of any versions, but to unify versions.

Please do not use anything else except "Traditional Chinese" and "Simplified Chinese" and move existing translation to the relevant version.

[2017-01-03 01:20] #2799 closed

[2017-01-03 03:55] gaeun commented on #2814
@mariobehling I have the same question. How do you copy an event?

[2017-01-03 06:01] #2792 closed

[2017-01-03 07:14] mariobehling commented on #2814
1. Go to an existing event.
2. Choose copy from top right.

[2017-01-03 10:42] #2805 closed

[2017-01-03 12:11] shubham-padia commented on #2806
Solved via #2822

[2017-01-03 12:36] shubham-padia opened #2831 "Add confirm password field to registration form"
Currently the registration form does not have a confirm password field.

![selection_052](https://cloud.githubusercontent.com/assets/13910561/21607923/4b4beab2-d1df-11e6-8d7b-fdc13c7519f6.png)

[2017-01-03 12:39] arpitn30 commented on #2800
I'll check out

[2017-01-03 13:28] gaeun commented on #2803
@mariobehling Can I work on this please?

[2017-01-03 13:38] #2831 closed

[2017-01-03 13:40] #2786 closed

[2017-01-03 14:59] shubham-padia commented on #2777
@mariobehling your views on this?

[2017-01-03 15:01] SaptakS commented on #2778
@mariobehling this is what I get on visiting the link [https://eventyay.com/e/ecc2001a](https://eventyay.com/e/ecc2001a):
![screenshot from 2017-01-03 20-30-13](https://cloud.githubusercontent.com/assets/9530293/21611606/87700974-d1f3-11e6-8fdf-27471e69f25b.png)

Am I missing something?

[2017-01-03 15:03] SaptakS commented on #2777
@shubham-padia I feel editing shouldn't be allowed.

[2017-01-03 15:06] shubham-padia commented on #2777
@SaptakS   I'll make relevant changes so that only the profile can be viewed and exciting is disabled.

[2017-01-03 16:15] mariobehling commented on #2777
Admins: This is a very small group. These are the people who run the system. Of course they are able to see and edit any user. This is just the same as in standard CMS like Drupal and Wordpress.

As the current behavior is the desired behavior, I am closing the issue.

[2017-01-03 16:15] #2777 closed

[2017-01-03 16:16] #2806 closed

[2017-01-03 16:17] #2821 closed

[2017-01-03 16:30] mariobehling commented on #2778
@SaptakS It was a long process to get these images on the site as a showcase. I had to enter the same image several times.

Please set up an event and add several sponsor images. Then save the event and go back to enter other sponsor images and repeat the process. You will encounter a number of issues and fails to save the data.

[2017-01-03 16:34] SaptakS commented on #2778
@mariobehling ok. I will check it more.

[2017-01-03 16:37] magdalenesuo commented on #2814
I think I have figured out how to solve this issue, if no one is working on this, I would like to solve it...

[2017-01-03 16:48] arpitn30 commented on #2800
Is the email system working on Heroku Deployed development branch??

[2017-01-03 21:12] Heredroky opened #2836 "The inputs of the event's location aren't working well"
When I try to write something on event's location inputs, they don't work properly. If it should work like that, then I will close this issue, but if it is a bug, it has to be solved.

![giphy 1](https://cloud.githubusercontent.com/assets/15079370/21623202/4e1e262a-d1cf-11e6-8572-75c039664a1f.gif)

[2017-01-04 05:58] SaptakS commented on #2812
@mariobehling I have fixed the aspect ratio code. This should fix the issue. Previously irrespective of the aspect ratio, the image was being resized to 500 X 200 which resulted in stretching. #2838

[2017-01-04 10:54] gaeun commented on #2836
I think this is redundant with #2810...

[2017-01-04 10:57] gaeun commented on #2810
This works well on https://open-event-dev.herokuapp.com but not on https://eventyay.com/. Should this still be fixed?

[2017-01-04 13:31] nikhilrayaprolu commented on #2815
@mariobehling it looks like nothing has been implemented for the discount functionality.
https://github.com/fossasia/open-event-orga-server/blob/development/app/helpers/ticketing.py#L209
I am working on this issue by creating functionality for giving discounts

[2017-01-04 14:40] niranjan94 commented on #2836
Closing in favor of #2810

[2017-01-04 14:40] #2836 closed

[2017-01-04 15:27] niranjan94 commented on #2810
@gaeun ... If it works well on open-event-dev it's enough ... eventyay is deployed from the master branch. So, when the master is updated, eventyay will also be fixed

[2017-01-04 15:43] Marauderer97 commented on #2780
@mariobehling I tried doing the same and it works..
![image](https://cloud.githubusercontent.com/assets/20185076/21647983/6e18f3d0-d2c2-11e6-92d4-a91566509b65.png)
![image](https://cloud.githubusercontent.com/assets/20185076/21648014/81c90118-d2c2-11e6-8b5b-611135753fb5.png)
One suggestion though, since the link gets added only if we specifically list it as a blog(and not Blogger or Myblog) won't

[2017-01-04 16:39] nikhilrayaprolu commented on #2801
@mariobehling I would like to work on this issue.

[2017-01-04 16:42] Marauderer97 commented on #2800
@mariobehling Can I work on this?

[2017-01-04 17:18] nikhilrayaprolu commented on #2797
I'll try working on this @mariobehling @niranjan94 @SaptakS

[2017-01-04 17:24] nikhilrayaprolu commented on #2794
@mariobehling @SaptakS I amn't facing any issue on my computer , but this problem persists on http://open-event-dev.herokuapp.com and eventyay

[2017-01-05 12:07] Elgayar commented on #2803
@mariobehling @gaeun Has this issue been solved?

[2017-01-05 12:10] gaeun commented on #2803
@Elgayar Yeah, refer to PR #2803. I just have to fix Travis errors.

[2017-01-05 12:20] mariobehling commented on #2815
@niranjan94 Please provide input, if any. Thank you.

[2017-01-05 12:54] hoangvanthien commented on #2801
@nikhilrayaprolu I also want to discover on this issue. :)

[2017-01-05 14:13] niranjan94 commented on #2815
@mariobehling the PR #2840 looks good to me. But needs fixing since travis is failing

[2017-01-05 14:13] niranjan94 commented on #2815
And yes. Looks like discounts were never added to the code that calculates the order amount. :sweat:

[2017-01-05 14:58] nikhilrayaprolu commented on #2801
@mariobehling I dont find any implementation regarding video and audio as shown in your image in openeventdev heroku server. Is it recently implemented which isn't updated yet?
![screenshot from 2017-01-05 20-24-08](https://cloud.githubusercontent.com/assets/15216503/21684885/6faa192c-d385-11e6-8852-bbc7624d2526.png)

[2017-01-05 15:27] niranjan94 commented on #2801
@nikhilrayaprolu it's custom form field. It'll be displayed only when it is turned on in the custom forms settings

[2017-01-05 16:07] nikhilrayaprolu commented on #2801
@niranjan94 where can I turn on it?

[2017-01-05 16:14] nikhilrayaprolu commented on #2797
@mariobehling @niranjan94 @SaptakS I dont find this bug on my pc.
![screenshot from 2017-01-05 21-43-38](https://cloud.githubusercontent.com/assets/15216503/21687620/0ad604b0-d390-11e6-8837-d640f5baf0a4.png)

[2017-01-05 16:38] nikhilrayaprolu commented on #2796
@mariobehling what is the minimum setup I could do to work with this(like setting up an smtp server) ?
does running  the python builtin smtp server works?
"sudo python -m smtpd -n -c DebuggingServer localhost:25" if so how should I configure it?
I think I figured out how to work with this issue

[2017-01-06 04:49] niranjan94 commented on #2796
@nikhilrayaprolu you do not need any of that :) .. All you need is a gmail account. Configure the gmail smtp settings at `/admin/settings/` .

[2017-01-06 04:51] niranjan94 commented on #2797
@nikhilrayaprolu try these. Let's see if the bug comes up in any of this.
1. Import an event and check
2. Create two users A & B. Create an event from user A. Add user B as a speaker in that event. Now check the email settings in User B.

[2017-01-06 04:51] niranjan94 commented on #2801
Step 3 of the event creation wizard

[2017-01-06 04:57] #2812 closed

[2017-01-06 06:18] rohithasrk commented on #2790
@mariobehling : I'd like to work on this. Can you please help me with the files I'd need to look into?

[2017-01-06 06:37] niranjan94 commented on #2790
@rohithasrk You can work on this :) try browsing through the code base. Start at the event creation wizard.

[2017-01-06 07:10] satwikkansal commented on #2676
Hi @niranjan94 , I'd like to work on this issue!

[2017-01-06 07:15] satwikkansal commented on #2824
@aviaryan @SaptakS Shall I work on this issue?

[2017-01-06 07:34] mariobehling commented on #2676
@satwikkansal Would be great. This is an important piece for the future of the project, but we will only incorporate it after the Beta-Release. Right now there are still a lot of bugs in the current version and we need to get the code base more stable. So, feel free to work on this, but understand that it will not be merged right away. Cheers.

[2017-01-06 10:29] aviaryan commented on #2824
@satwikkansal Yes, please proceed.

[2017-01-06 12:55] satwikkansal commented on #2810
@niranjan94 I'm facing the same issue while using `eventlet` server in my local machine. Whenever I start typing into the addition info fields, everything resets. Any idea how to resolve this?

[2017-01-06 16:12] SaptakS commented on #2780
@mariobehling can you confirm this error still exists? I don't find it in the heroku deployment. http://open-event-dev.herokuapp.com/events/302/

[2017-01-07 04:00] mariobehling commented on #2813
Re-opening: The last merge to master deployed the system to the eventyay site. Paypal email still does not get save in the create event wizard.

[2017-01-07 04:14] mariobehling commented on #2803
Thanks for the last PR. The issue is not solved entirely yet. So help is welcome. Also see my comments here, please: https://github.com/fossasia/open-event-orga-server/pull/2839#issuecomment-271061446

[2017-01-07 04:17] mariobehling commented on #2817
I would not want to open a specific issue, cause I think it is maybe clear:
* Please sort languages alphabetically in list

[2017-01-07 04:26] mariobehling commented on #2815
Thanks. Please test this more in detail. Found some things on a quick look:

* [ ] deleting items in "amount" shows error on "Amount" and "Percentage"
* [ ] ticks or crosses overlap on form field
* [ ] If one field has an error all fields show an error

![screenshot from 2017-01-07 05-21-54](https://cloud.githubusercontent.com/assets/1583873/21739364/7ec773b8-d499-11e6-91d4-748fb20fcaee.png)

* [

[2017-01-07 04:29] Abhi2424shek commented on #2815
I think @mariobehling add this to the issue body helps a lot, it's just a thought!

[2017-01-07 04:56] mariobehling opened #2846 "Free tier orders and discount should show up on order summary"
Adding a ticket as an event organizer does not show "free tier" info on the order summary.

Expected: Above total number line, there should be a line in the table "free ticket" -50 USD. (or whatever the ticket cost would have been)

![screenshot from 2017-01-07 05-51-21](https://cloud.githubusercontent.com/assets/1583873/21739557/15f728d8-d49e-11e6-8887-a8d915e8f0d4.png)

[2017-01-07 05:02] mariobehling opened #2847 "Issues in pay cash form, no billing details, pay via etc."
* [x] In the final form for paying cash, the form shows "pay via". Expected would be that there is an info "Pay cash onsite".

![screenshot from 2017-01-07 05-54-31](https://cloud.githubusercontent.com/assets/1583873/21739563/409ba7e4-d49e-11e6-8462-1a05b9c8e03d.png)

* [x] The order summary of pay cash does not show the billing address that was entered in the form
* [x] Instead of "Payment Date"

[2017-01-07 05:15] Abhi2424shek opened #2848 "Design bugs"
There are a lot of design flows i encountered on a quick look feel free to post more, here are the issues, and tick the check boxes after each one is resolved:

- [ ] Buttons sitting very close in create event page:
![screenshot_2017-01-07-10-38-50-113_com android chrome](https://cloud.githubusercontent.com/assets/8947010/21739644/c69b1816-d4c6-11e6-96bf-8264520b2283.png)

- [ ] Apply discount but

[2017-01-07 05:53] nikhilrayaprolu commented on #2815
@mariobehling I will work on this today and update.

[2017-01-07 06:40] hoangvanthien commented on #2801
@niranjan94 When the upload buttons are clicked, which scripts will be run? Can you give the link to that files?

[2017-01-07 07:07] magdalenesuo commented on #2848
I'd like to solve this

[2017-01-07 07:16] magdalenesuo opened #2849 "Design messed up for error pages"
![screenshot from 2017-01-07 12-39-05](https://cloud.githubusercontent.com/assets/20799954/21740175/18fb07be-d4d7-11e6-9e6e-43f32585132a.png)

- [ ] Lines should not overlap the message

- [ ] Make it responsive

[2017-01-07 09:27] arpitn30 commented on #2849
What do you mean by responsive?

[2017-01-07 09:28] arpitn30 commented on #2849
Can I work on this?

[2017-01-07 09:29] Abhi2424shek commented on #2849
@arpitn30 responsive design is a design policy which keeps all kinds of screen resolutions in mind there are various approaches to do so just google for it.

[2017-01-07 09:31] SaptakS commented on #2849
@arpitn30 I think @magdalenesuo is already working on this. It is better that everyone doesn't work on same issue because there are a lot of issues pending anyways.

[2017-01-07 09:34] arpitn30 commented on #2849
Oh Okay, I'll look for a different issue then

[2017-01-07 09:59] arpitn30 opened #2850 "Not being redirected to "404 not found" page when an arbitrary URL is entered"
While any arbitrary url is entered after https://eventyay.com/* or http://open-event-dev.herokuapp.com/*, it just shows a blank page instead of being redirected to the 404 error page.

[2017-01-07 10:00] Abhi2424shek commented on #2850
Can you add some description including the current results, the expected ones and hints on how to reproduce the issue and relevant screen shots or links pls

[2017-01-07 10:00] SaptakS commented on #2850
@arpitn30 you can work on this if you want.

[2017-01-07 10:00] arpitn30 commented on #2850
Yeah Okay, I'll work on it.

[2017-01-07 10:13] vishalburri commented on #2815
This looks like a beginner bug .. can i work on this ..

[2017-01-07 10:15] nikhilrayaprolu commented on #2815
@vishalburri ok you can proceed on this. I would suggest you to look at boostrap validator library

[2017-01-07 10:42] mariobehling opened #2851 "Only show "Fee" column if there is a fee"
Currently the fee column in the tickets also shows up, if there is no fee defined. There is also the info "paid" of "free".

Expected:

* [ ] Please only show the fee column if the organizer adds a fee.
* [ ] Take out "paid" or "free" behind the ticket name. This information is redundant.

![screenshot from 2017-01-07 11-39-34](https://cloud.githubusercontent.com/assets/1583873/21741167/4b9eae90-d

[2017-01-07 10:51] mariobehling opened #2852 "Ticketing: Show currency including Cents on Wizard Step 1"
The wizard in step currently shows the ticket rate without cents. There might be events that charge a rate like 5.50 USD.

Expected: Field also shows Cents.

[2017-01-07 10:55] mariobehling opened #2853 "Let users control order of tickets"
The tickets currently show up in the order entered by the user. The organizer might want another order though.

Please implement a way to change the order of the tickets in the ticket column, e.g. implement up and down arrows.

![screenshot from 2017-01-07 11-54-05](https://cloud.githubusercontent.com/assets/1583873/21741263/2e705876-d4d0-11e6-9096-b08bd70a88a2.png)

[2017-01-07 10:59] mariobehling opened #2854 "Hidden Ticket visible in ticket list"
The hidden ticket option allows organizers to hide tickets on the public form.

Even though activated the a hidden ticket still shows up on the public form currently.

![screenshot from 2017-01-07 11-58-07](https://cloud.githubusercontent.com/assets/1583873/21741276/bb4f8a5a-d4d0-11e6-8b86-8adf498008b3.png)