[2018-08-05 11:25] simarsingh24 commented on #5218
@starlord1311 @srv-twry please continue with this still throwing internal server error

[2018-08-05 11:51] srv-twry opened #5272 "Raise error message when paypal keys are not added on the server."
**Is your feature request related to a problem? Please describe.**

Raise conflict exception when paypal keys aren't added on the server.

[2018-08-05 12:09] starlord1311 commented on #5218
@simarsingh24 can you tell me what i am supposed to do?

[2018-08-05 12:10] simarsingh24 commented on #5218
@starlord1311 please discuss with @srv-twry why its throwing internal error also look at the documentation what response body it should send

[2018-08-05 12:11] starlord1311 commented on #5218
@srv-twry can you tell me what to do?

[2018-08-05 13:28] schedutron commented on #5267
Thanks, it works with the numeric id! But the request sender usually doesn't have any idea about the id.

[2018-08-05 14:04] srv-twry commented on #5267
If they have the object, they'll always have the id.

[2018-08-05 14:08] schedutron commented on #5267
Okay, this can be closed then :)

On Sun, Aug 5, 2018 at 7:34 PM Saurav Tiwary <notifications@github.com>
wrote:

[2018-08-05 15:45] #5267 closed

[2018-08-05 16:51] #5270 closed

[2018-08-05 17:34] schedutron opened #5274 "Migration error while upgrading the database"
**Describe the bug**
While upgrading the database, I get an error that says revision `f375453ca1f6` is absent.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade the database using `python manage.py db upgrade`
**Expected behavior**

Database should be upgraded successfully.

Working on fixing this.

[2018-08-05 18:49] #4842 closed

[2018-08-05 19:15] bhaveshAn commented on #5268
@Kreijstal In follow up to this one. I have tried to move from v1 (code+migrations) to v2 (code+migrations).
https://pacific-island-48926.herokuapp.com/ is a heroku app which I initially made from v1 (fossasia/open-event-legacy#master) then I made a new branch pulled the (fossasia/open-event-server#development) resolved conflicts and pushed the code to this heroku app and that way it gave me v2 (v

[2018-08-05 19:28] bhaveshAn opened #5276 "Add API blueprints of Multiple Email support for users"
**Is your feature request related to a problem? Please describe.**

Add API blueprints of Multiple Email support for users

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Wanna work on this issue**

[2018-08-05 19:29] bhaveshAn opened #5277 "Add API blueprints of Favourite Events of a User"
**Is your feature request related to a problem? Please describe.**

Add API blueprints of Favourite Events of a User

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Wanna work on this issue**

[2018-08-05 19:40] srv-twry opened #5278 "Disallow creating users with same email."
**Is your feature request related to a problem? Please describe.**

Right now we can create users with the same email. If we soft-delete a user account and try to create an account with the same email again, the server allows creating it but sends HTTP 500 when doing so since it voilates the unique constraint in the db.

![image](https://user-images.githubusercontent.com/21277837/43689278-8f3072b2

[2018-08-05 20:24] starlord1311 opened #5279 "Internal server error"
**Describe the bug**

When a POST request is made to the server from postman, I am getting a internal server error.

**To Reproduce**

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**

**Additional context**

[2018-08-05 20:25] bhaveshAn opened #5280 "Internal Server Error due to migration problem"
**Describe the bug**

Internal Server Error due to migration problem

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g

[2018-08-05 20:26] starlord1311 commented on #5280
@bhaveshAn can i take up this issue?

[2018-08-05 20:27] starlord1311 commented on #5268
@Kreijstal @bhaveshAn can i take up this issue?

[2018-08-05 20:29] bhaveshAn commented on #5279
Closing this due to https://github.com/fossasia/open-event-server/issues/5280

[2018-08-05 20:29] #5279 closed

[2018-08-05 20:44] #5280 closed

[2018-08-05 21:15] #5274 closed

[2018-08-06 07:49] bhaveshAn commented on #4619
@open-event-bot move to fossasia/open-event-legacy

[2018-08-06 07:49] #4619 closed

[2018-08-06 07:52] bhaveshAn commented on #4620
@open-event-bot move to fossasia/open-event-legacy

[2018-08-06 07:53] #4620 closed

[2018-08-06 07:53] bhaveshAn commented on #4613
@mayank8318 Can this issue be closed or still something left.

[2018-08-06 07:54] bhaveshAn commented on #4622
@open-event-bot move to fossasia/open-event-legacy

[2018-08-06 07:55] #4622 closed

[2018-08-06 07:57] bhaveshAn commented on #4623
@open-event-bot move to fossasia/open-event-legacy

[2018-08-06 07:57] #4623 closed

[2018-08-06 08:08] bhaveshAn commented on #4611
@mariobehling I have added a test user with following credentials as the admin of test deployment http://open-event-api-dev.herokuapp.com
Password: openevent
Test Email: test@fossasia.org

Hence closing this.

[2018-08-06 08:08] #4611 closed

[2018-08-06 11:22] mayank8318 opened #5282 "Internal server error while creating speaker for a normal user(no event role)"
**Describe the bug**
When a normal user(no event role) tries to submit speaker details, an internal server error is thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Login via a normal(no event role) user
2. Submit speaker details
3. See error

**Expected behavior**
There should be no error.

**Stacktrace**
![screenshot from 2018-08-06 16-51-07](https://user-images.githubusercontent.co

[2018-08-06 14:03] agbilotia1998 opened #5285 "Add API for create, edit, delete and get system roles"
**Describe the bug**
The existing roles API is meant only for the event roles.

**Expected behavior**
Add API for creating, editing, deleting and getting system roles. The corresponding POST, PATCH and DELETE roles API can be removed as the event roles are fixed and shouldn't be modified.

[2018-08-06 14:12] mishuvs opened #5286 "Add support for online event"
**Is your feature request related to a problem? Please describe.**

Support for online event needs to be added, like in EventBrite

**Describe the solution you'd like**

A property `is_event_online` needs to be added, and checks for location need to be handled to allow publishing for online events

[2018-08-06 14:13] #5282 closed

[2018-08-06 14:17] srv-twry opened #5287 "Return Notification id in the actions"
**Is your feature request related to a problem? Please describe.**

Return Notification id in the actions

[2018-08-06 15:07] #5287 closed

[2018-08-06 15:47] bhaveshAn commented on #5286
Currently do we want this or may be later ??

[2018-08-06 16:17] #4907 closed

[2018-08-06 16:25] mishuvs commented on #5286
@bhaveshAn I think an online event is the same as an offline event except they don't have a location, for which we'll have to allow publishing without location. It's a small change I think, can we add it?

[2018-08-06 17:02] #5285 closed

[2018-08-06 18:06] schedutron opened #5291 "Duration fields for sessions shouldn't be mandatory"
**Describe the bug**

Currently `starts-at` and `ends-at` fields are mandatory for sessions. They shouldn't be required so that the organizer can organize their timings conveniently in scheduler and also bring sessions out from the calendar and place them in the unscheduled section.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create a session with these fields unspecified

**Expec

[2018-08-06 18:12] bhaveshAn opened #5293 "Add CRUD APIs for PanelPermission"
**Is your feature request related to a problem? Please describe.**

Add CRUD APIs for PanelPermission

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Wanna work on this issue**

[2018-08-06 18:38] srv-twry opened #5295 "Return subject_id as a string instead of a number"
**Is your feature request related to a problem? Please describe.**

Return subject_id as a string instead of a number

[2018-08-06 18:48] #5293 closed

[2018-08-06 19:09] bhaveshAn opened #5297 "Add API blueprints for Custom System Roles"
**Is your feature request related to a problem? Please describe.**

Add API blueprints for Custom System Roles

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Wanna work on this issue**

[2018-08-06 19:10] bhaveshAn opened #5298 "Add API blueprints for Panel Permissions"
**Is your feature request related to a problem? Please describe.**

Add API blueprints for Panel Permissions

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Wanna work on this issue**

[2018-08-06 19:27] #5295 closed

[2018-08-06 19:30] bhaveshAn opened #5299 "Blueprint for Sales-by-marketer added twice"
**Describe the bug**

Blueprint for Sales-by-marketer added twice

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `

[2018-08-06 19:56] #5299 closed

[2018-08-06 20:11] #5276 closed

[2018-08-06 20:29] #5291 closed

[2018-08-06 21:45] schedutron opened #5301 "Inconsistent Email Verification on BE"
**Describe the bug**

Currently, BE sends email confirmation link on the `/email/verify` endpoint and also sends the welcome message every time a verification is requested. This should be fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new user and notice the verification link sent on the user's email

**Expected behavior**

The link should have the `/verify` endpoint instead

[2018-08-07 07:41] mishuvs commented on #5278
@srv-twry can I take this?

[2018-08-07 10:25] #5137 closed

[2018-08-07 11:48] #5301 closed

[2018-08-07 13:30] bhaveshAn opened #5305 "Use type "event-image" for creating image urls of event"
**Describe the bug**

Use type "event-image" for creating image urls of event

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit

[2018-08-07 16:32] dreadpool2 opened #5307 "Urls like original-image-url get changed after creating events using API"
**Describe the bug**
Urls like `originial-image-url`are getting changed in the response shown after using POST request to create them. API used `api.eventyay.com/v1/events`. Below is the event to be posted raw data and corresponding response.

Event to be posted:-
[code]

Response:-

[code]

[2018-08-07 16:40] bhaveshAn commented on #5307
Not a issue. It is because after getting the image url it first sets it into different sizes and get stored in static directory. And then fetches the url of local image in static dir.

[2018-08-07 16:42] dreadpool2 commented on #5307
But hen how can we show these images in the app? As these links depend on local host

[2018-08-07 17:08] dreadpool2 commented on #5307
@bhaveshAn It's working perfectly fine when we use api `https://open-event-api-dev.herokuapp.com/v1/events` but not when `api.eventyay.com/v1/events` is used

[2018-08-07 17:17] bhaveshAn commented on #5307
Check http://api.eventyay.com/static/media/events/11/icon/cFhCcnBiRV/fc2d8186-c9ff-4fc7-a723-87a21c34808d.jpg

[2018-08-07 17:18] bhaveshAn commented on #5307
Changing `localhost:5000` to `api.eventyay.com` works

[2018-08-07 17:27] dreadpool2 commented on #5307
Isn't it a server bug then? You are returning the correct url while using the heroku API but not while using eventyay? Do correct me if I am wrong.

[2018-08-07 20:01] bhaveshAn commented on #5307
You are right. Do you wanna work on this ??

[2018-08-08 04:39] mishuvs opened #5309 "Add overall sales data to Event"
**Is your feature request related to a problem? Please describe.**

Both the Frontend and the Orga app will need to display overall sales data: (number of tickets sold / number of available tickets) in public schema, net revenue in organizer schema.

**Describe the solution you'd like**

These can be directly added to Event Schemas

**Would you like to work on this?**
Yes

[2018-08-08 08:03] bhaveshAn opened #5310 "Wrong Mail Statistics which troubles it to work completely"
**Describe the bug**

Wrong Mail Statistics which troubles it to work completely

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Comm

[2018-08-08 16:51] #5310 closed

[2018-08-08 17:53] bhaveshAn commented on #5298
Others can claim.

[2018-08-08 17:53] bhaveshAn commented on #5297
Others can claim.

[2018-08-08 17:54] bhaveshAn commented on #5277
Others can claim.

[2018-08-08 18:56] srv-twry commented on #5278
@mishuvs could you please do this quickly. Need this. Moreover it's a simple bug so shouldn't take long.

[2018-08-08 20:10] #5278 closed

[2018-08-09 04:42] Kreijstal opened #5315 "event_sub_topics is not initialized"
In order to do the migration reliably we need event_sub_topics to be initialized just like event_topics are, what is important though is that it contains at least these values:
Comedy
City/Town
Dating
Volleyball
Yoga
Other
Avatar
Robotics
Logo
Food
Cultural
Craft
High Tech
Pop
Science
Medical
Education
Career
Baby
Startups &amp; Small Business
LGBT
Gaming
Easter
Top 40
EDM / Electronic
Educators
S

[2018-08-09 04:48] #5286 closed

[2018-08-09 04:50] bhaveshAn commented on #5315
Each event sub topic has a relation with event topic so please update the
above list alongwith it's event topic name.

On Thu, 9 Aug 2018 10:12 am Kreijstal, <notifications@github.com> wrote:

[2018-08-09 06:16] srv-twry commented on #5268
@starlord1311 No. You're don't have enough experience of this project in order to tackle this.

[2018-08-09 06:55] bhaveshAn opened #5316 "Add validation for is_event_online"
**Describe the bug**

Add validation for is_event_online
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `4629c62`]

[2018-08-09 08:47] Kreijstal commented on #5268
I mapped columns to columns manually, here is the json file I edited
https://pastebin.com/aW0VXqJ6

[2018-08-09 11:47] agbilotia1998 opened #5318 "Add relationship for panel_permission in custom system role APIs"
**Is your feature request related to a problem? Please describe.**
The relationship for panel permission is not present on the server for custom system role APIs.

**Describe the solution you'd like**
Add the relationship for panel_permission in custom system role APIs.

[2018-08-09 14:48] srv-twry opened #5319 "Add support for Order invoice"
**Is your feature request related to a problem? Please describe.**

We need to add support for order invoice in the server so that the order buyer can download the invoice.

[2018-08-09 15:54] srv-twry commented on #5319
Upon a closer look at the implementation in v1, there is no need for this. The v1 project simply prints the web page using window.print(). Similar thing can be done in the frontend itself. Hence closing this one.

[2018-08-09 15:54] #5319 closed

[2018-08-09 16:08] dr0pdb opened #5320 "Improve the testability of the project by adding unit tests"
**Is your feature request related to a problem? Please describe.**

Right now the code coverage is very low and we should improve it by adding unit tests wherever possible.

[2018-08-09 16:09] srv-twry opened #5321 "Add unit test for Event helpers"
**Is your feature request related to a problem? Please describe.**

We should add unit tests for event helpers.

**Additional context**

Parent: #5320

[2018-08-09 16:50] srv-twry opened #5323 "Add docstrings in notification helpers"
**Is your feature request related to a problem? Please describe.**

Most of the methods in the notification helper lacks a proper docstring explaining it's usage. We should add them.

[2018-08-09 17:06] mishuvs commented on #5298
Taking this

[2018-08-09 17:06] mishuvs commented on #5297
Taking this

[2018-08-09 22:19] schedutron opened #5325 "Buggy endpoint for microlocation detail of a session"
**Describe the bug**

The endpoint to get the micro location of a session gives incorrect data.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a GET request on the `/v1/sessions/<session_id>/microlocation` endpoint

**Expected behavior**

Microlocation detail should be fetched successfully.

Working on fixing this.

[2018-08-09 23:33] schedutron opened #5327 "Internal Server Error thrown for patching a nonexistent session"
**Describe the bug**

HTTP 500 error is thrown when a patch request is sent for a session which doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a patch request for a session which doesn't exist

**Expected behavior**

A proper error should be sent.

Working on fixing this.

[2018-08-10 05:05] #5327 closed

[2018-08-10 06:46] #5323 closed

[2018-08-10 10:53] #5321 closed

[2018-08-10 12:18] bhaveshAn commented on #5307
Sure !

[2018-08-10 17:28] #5316 closed

[2018-08-11 07:08] mayank8318 opened #5331 "Orders export tasks fails as a column name has been changed"
**Describe the bug**
Orders export tasks fail as a method `get_tickets_count()` was removed and added as a property `tickets_count`.

**To Reproduce**
Steps to reproduce the behavior:
1. Use any of the orders export endpoints

**Expected behavior**
Export should work normally

**Stacktrace**
[code]

[2018-08-11 08:31] #5325 closed

[2018-08-11 09:11] pradeepgangwar opened #5333 "Discount code api response does not contain tickets"
**Describe the bug**
A request to http://localhost:5000/v1/discount-codes/DC-102 does not return tickets

**Expected behavior**
Tickets should be there in api response.

[2018-08-11 12:03] #5331 closed

[2018-08-11 17:07] #5315 closed

[2018-08-12 06:57] mayank8318 opened #5335 "Unverified users can place an order"
**Describe the bug**
Unverified users are allowed to place an order. This is a big security flaw and needs to be addressed immediately.

**Expected behavior**
Unverified users should be allowed to place an order.

**Additional context**
https://github.com/fossasia/open-event-frontend/issues/1616

[2018-08-12 08:36] #5335 closed

[2018-08-12 11:50] #5309 closed

[2018-08-12 12:14] pradeepgangwar opened #5337 "Unverified user not able to create event even if settings are changed"
**Describe the bug**
Currently unverified accounts are not able to create event even if settings allow so.

**Expected behavior**
If settings allow unverified accounts to create events then there should not be any error message.

[2018-08-12 12:54] #5333 closed

[2018-08-12 18:17] #5318 closed

[2018-08-12 20:07] bhaveshAn opened #5339 "Create Event acc to module values"
**Describe the bug**

Create Event acc to module values

1. Tickets should not be enabled if modules.ticket_include is False.
2. Payments should not be enabled if modules.payment_include is False.
3. Donations should not be enabled if modules.donation_include is False.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expe

[2018-08-12 20:36] srv-twry opened #5341 "Use DiscountCodeSchemaTicket when fetching Discount code via it's code."
**Describe the bug**

We need to use DiscountCodeSchemaTicket when fetching Discount code via it's code.

[2018-08-13 04:52] #5341 closed

[2018-08-13 10:02] bhaveshAn opened #5343 "Change relationship names in panel-permissions and custom-system-roles"
**Describe the bug**

Change relatioship names in panel-permissions and custom-system-roles
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `

[2018-08-13 11:31] bhaveshAn opened #5345 "Sort message-settings by id"
**Describe the bug**

Sort message-settings by id

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `4629c62`]

**Add

[2018-08-13 11:57] #5205 closed

[2018-08-13 13:13] Kreijstal opened #5347 "Remaining tables left to import"
So I did the work of importing most of the tables, you can see the work I did here https://docs.google.com/document/d/1uN5wbkrxTPv5xmt1dbnvOMsBuC9oGWp9zWq5P0ZgNsM/edit

|           Column           |                                                           status                                                          |
|----------------------------|----------------------------------------------

[2018-08-13 14:45] bhaveshAn opened #5348 "Add checker in modules to not support donations in system"
**Describe the bug**

Add checker in modules to not support donations in system

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commi

[2018-08-13 14:53] #5343 closed

[2018-08-13 15:14] bhaveshAn commented on #5337
Working on it.

[2018-08-13 18:14] #5348 closed

[2018-08-13 18:44] #5337 closed

[2018-08-13 20:31] #5345 closed

[2018-08-13 20:35] srv-twry commented on #5218
I can't resolve this untill I get the credentials of the admin account created on the heroku deployment. I have already asked for it thrice on the channel.

The problem is not in the code, it works locally and that's why we have been able to integrate it successfully in the frontend.

[2018-08-14 07:00] Kreijstal opened #5351 "Adding HTTPS support"
https://api.eventyay.com/ currently doesn't work. This will have to be fixed.

[2018-08-14 08:46] bhaveshAn opened #5352 "Bug in can_publish_event method in user model"
**Describe the bug**

Bug in can_publish_event method in user model

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g.

[2018-08-14 09:34] #5352 closed

[2018-08-14 14:53] bhaveshAn opened #5354 "Add doctring to all the unittests"
**Describe the bug**

Add doctring to all the unittests

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `4629c62`]

[2018-08-14 15:17] pradeepgangwar opened #5356 "Access Forbidden on updating order"
**Describe the bug**
Currently on updating order which contains discount code we get access forbidden error related to discount codes.

**Expected behavior**
Request should succeed.

[2018-08-14 17:49] #5356 closed

[2018-08-14 18:13] #5339 closed

[2018-08-15 05:31] bhaveshAn commented on #5354
Closing as fixed in PR : https://github.com/fossasia/open-event-server/pull/5355

[2018-08-15 05:31] #5354 closed

[2018-08-16 04:33] mayank8318 opened #5358 "Celery stops working when elastic search is enabled"
**Describe the bug**
If the elastic search is enabled via `ENABLE_ELASTICSEARCH=true` in the .env file, Celery crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable elastic search by copying `ENABLE_ELASTICSEARCH=true
ELASTICSEARCH_HOST=localhost:9200` lines into your .env file
2. Start celery

**Expected behavior**
It should work properly

**Stacktrace**
[code]

**Additional detai

[2018-08-18 08:45] bhaveshAn commented on #5347
@Kreijstal For the attrs where in models we have set nullable=False, may be you can set nullable=True but the schema should handle this like allow_none=False.
This way you will be able to add/modify the column using postgresql column completely and we are validating data concerning models using schemas in APIs ??

[2018-08-20 09:57] Kreijstal commented on #5347
That can be a solution, I think, then I would have to do a pull request and do it with the new database again

[2018-08-21 14:53] Kreijstal opened #5359 "Admin sales tab API is not on an json format the ember easily accepts"
**Describe the bug**

If you go look on the admin sales, you will see that the admin sales are implement on the server yes, however, they're implemented on a deep data structure, and ember accepts a "flat" data structure, that means no objects inside other objects, and it's not in the same format that the ember implements it.

[2018-08-22 20:15] nikit19 opened #5360 "HTTP 500 error in http://api.eventyay.com"
**Describe the bug**
HTTP 500 error when making any type of request be it  GET/POST

[2018-08-31 21:26] darthgera123 commented on #5175
so sorry i couldnt complete it so far. Ill make a pr in a day or two.

[2018-09-02 14:03] Kreijstal commented on #5360
yeah it was a migration issue, as I posted on the chat
[code]
However, now I am working on it

[2018-09-02 16:59] avsingh999 opened #5362 "Can't sign in with google"
**Describe the bug**
When Click on Sign with google then it's showing this
![signinerr](https://user-images.githubusercontent.com/25536022/44958556-7a817c80-aeff-11e8-811a-32daf4835002.PNG)

**Expected behavior**
when I click on Sign in with google+ must be sign in as it's with facebook

[2018-09-04 18:59] bhaveshAn commented on #5360
@Kreijstal Any leads ?

[2018-09-04 20:11] vkartik97 commented on #5362
It's working now

[2018-09-04 20:15] vkartik97 commented on #5351
Please assign me this issue

[2018-09-06 01:40] mariobehling opened #5363 "Implement additional signups"
Please implement additional signups as follows for speakers and attendees:

* [ ] If you would like your information to be shared with potential recruiters, please check this box. By checking, you allow the Linux Foundation to share your information with potential recruiters.

* [ ] By checking here, you opt-in to being listed in the event's online attendee directory. Some of your registration dat

[2018-09-06 12:35] prateekj117 opened #5364 "Password confirmation while creating tables in local installation"
When I was installing the project locally, after running create_db.py, it didn't ask me to re-confirm the password, and password can easily be mistyped in the first time.

So it would be better if we add password confirmation in that part.

[2018-09-06 12:48] bhaveshAn commented on #5364
Would you like to work on it?

[2018-09-06 12:55] prateekj117 commented on #5364
Yes.

[2018-09-06 23:13] poush commented on #5364
Go ahead.

[2018-09-06 23:14] poush commented on #5362
@avsingh999 Can you confirm if it is working?

[2018-09-07 13:37] avsingh999 commented on #5362
@poush  @vkartik97  No it's not Working

[2018-09-07 13:41] avsingh999 commented on #5362
@poush  also Showing error when we share a event via Google+

[2018-09-07 13:46] avsingh999 commented on #5362
@poush There is also a problem when we share event  via Google+

[2018-09-10 15:15] prabhupant opened #5368 "documentation typo in local.md"
There is a grammatical error in docs/installation/local.md in line number 76

`
For ease development, you should create Postgres user with the...
`

It should have been

`
For ease of development..
`

I will be making a pull request for this

[2018-09-10 19:26] soulspark666 opened #5371 "Missing default action for search bar"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://eventyay.com/'
2. Click on **Search** button without entering any text
![bug on eventyay](https://user-images.githubusercontent.com/37495396/45319239-e77abf00-b55c-11e8-9336-bf2ac248b538.PNG)

3. Redirected to 'https://eventyay.com/explore/united-states/events/'
![bug on eventyay contd](https://user-images.gi

[2018-09-11 03:54] #5364 closed

[2018-09-11 04:18] #5368 closed

[2018-09-11 07:44] bhaveshAn commented on #5371
@open-event-bot move to fossasia/open-event-legacy

[2018-09-12 04:28] prateekj117 opened #5372 "create_db.py should not exit on entering wrong e-mail"
Just as we did with the password feature in create_db.py, we should allow the user to re-enter the e-mail if entered wrong.

[2018-09-13 13:58] prateekj117 commented on #5372
I would like to work on this.

[2018-09-14 12:15] Ananthavijay opened #5373 "build error"
**Describe the bug**

The travis badge shows build error in readme.md

**To Reproduce**

4. See error

[2018-09-14 16:06] bhaveshAn opened #5375 "Travis Build badge shows false status"
**Describe the bug**

Travis Build badge shows false status
[![Travis branch](https://api.travis-ci.org/fossasia/open-event-server.svg?branch=master&style=flat-square)](https://travis-ci.org/fossasia/open-event-server)
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Travis Build badge should s

[2018-09-14 16:31] bhaveshAn opened #5377 "Resolve warnings shown on Dredd Tests"
**Describe the bug**

Remove warning shown on Dredd Tests
![screenshot from 2018-09-14 21-59-40](https://user-images.githubusercontent.com/22936570/45563003-a4289500-b869-11e8-984b-491a8e3f27b6.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete

[2018-09-14 16:36] #5375 closed

[2018-09-14 16:40] bhaveshAn commented on #5362
@open-event-bot move to fossasia/open-event-legacy

[2018-09-16 06:15] nikit19 opened #5379 "No verification email"
**Describe the bug**
No verification email is being sent
**To Reproduce**
Sign up and you won't receive a verification mail

**Expected behavior**
You should receive a verification email

[2018-09-17 10:35] sk9331657 commented on #5379
@nikit19  Actually email is also not delivered in the local setup of serve.

[2018-09-18 08:52] khansultan1 opened #5380 "Login with google not working."
Trying to login with google but having some trouble can anyone  look around it. please find the screenshot for more.
![image](https://user-images.githubusercontent.com/6906715/45675945-31136d00-bb4e-11e8-8fb5-332c39427def.png)

[2018-09-18 15:35] sladyn98 commented on #5379
Can i be assigned this issue

[2018-09-18 19:11] bhaveshAn commented on #5379
Sure. Please fix it asap.

[2018-09-20 08:43] Ananthavijay commented on #5380
@khansultan1 there is a similar issue already opened. Link - https://github.com/fossasia/open-event-server/issues/5362

[2018-09-20 13:42] bhaveshAn commented on #5379
@sladyn98 Any update ?

[2018-09-20 13:43] sladyn98 commented on #5379
Ya I'm working on it I cloned the repo and it should be done by midnight.

On Thu, Sep 20, 2018, 7:12 PM Bhavesh Anand <notifications@github.com>
wrote:

[2018-09-20 15:16] jeswincyriac commented on #5371
I had made a pull request to the repo open-event-legacy for this issue.

[2018-09-21 07:43] nikit19 commented on #5379
@sladyn98 this is a high priority issue. Are you still working on it?

[2018-09-21 08:34] sladyn98 commented on #5379
Yes I am

On Fri, Sep 21, 2018, 1:13 PM Nikit Bhandari <notifications@github.com>
wrote:

[2018-09-21 12:01] realslimshanky opened #5382 "Improper exception handling in manage.py"
**Describe the bug**
Exceptions are not handled properly in `initialize_db` method of `manage` module.

**To Reproduce**
Steps to reproduce the behavior:
1. Open 'manage.py'
2. See https://github.com/fossasia/open-event-server/blob/05cbd1abee0d81dd24d701420c3530e3b9bd645f/manage.py#L77

**Expected behavior**
It should follow standard exception handling format using `Exception` class.

[2018-09-21 15:56] sladyn98 commented on #5379
Where exactly is the function located?

[2018-09-21 16:13] bhaveshAn commented on #5379
Its here : https://github.com/fossasia/open-event-server/pull/5384/files

[2018-09-21 16:46] sladyn98 commented on #5175
Is this issue still open? I have experience with Oauth

[2018-09-24 12:05] #5372 closed

[2018-09-24 12:12] bhaveshAn commented on #5175
@sladyn98 Yes, it is. You can take.

[2018-09-24 17:02] bhaveshAn opened #5385 "Make send_email_task (task) asynchronous"
**Describe the bug**

Make send_email_task (task) asynchronous

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `462

[2018-09-24 18:20] #5379 closed

[2018-09-24 22:08] #5382 closed

[2018-09-26 13:16] sladyn98 commented on #5175
I read the helper classes @bhaveshAn . Can you give me a bit more context on what exactly should be done and what are the exact requirements.Moreover how do i test it?

[2018-09-26 16:11] bhaveshAn commented on #5360
Since http://api.eventyay.com/v1/events works fine hence closing.

[2018-09-26 16:11] #5360 closed

[2018-09-26 16:14] bhaveshAn commented on #5380
@open-event-bot move to fossasia/open-event-legacy

[2018-09-26 16:17] bhaveshAn commented on #5380
Duplicate of https://github.com/fossasia/open-event-server/issues/5362 hence closing

[2018-09-26 16:17] #5380 closed

[2018-09-27 12:09] bhawesh96 commented on #5371
Is the issue resolved? I don't see a PR for it.
If not, I want to work on this.

[2018-09-28 09:45] himanshu-dixit opened #5387 "Internal Server Error : Google OAuth Signin"
**Describe the bug**
While using Sign in with Google, I encountered Internal Server Error.

**To Reproduce**
Steps to reproduce the behavior:
1. Signin with google
2. Authorize access
3. Error is presented

**Expected behavior**
Account is created or user is logged in.

**Stacktrace**
<img width="1477" alt="screenshot 2018-09-28 at 3 13 41 pm" src="https://user-images.githubusercontent.com/6849438

[2018-09-30 10:10] bhaveshAn commented on #5387
Duplicate of https://github.com/fossasia/open-event-server/issues/5362 hence closing

[2018-09-30 10:10] #5387 closed

[2018-09-30 14:46] vkartik97 opened #5391 "Using Pipenv for Packaging"
As an alternative to `virtualenv/venv` which is currently used in the project(requirements.txt), we can use pipenv also for easy installation. Also now `pipenv` is officially recommended python package and virtualization manager.
Please refer https://stackoverflow.com/questions/46330327/please-explain-the-usage-of-pipfile-and-pipfile-lock

[2018-10-01 12:28] #5385 closed

[2018-10-01 13:28] #5377 closed

[2018-10-02 11:29] niranjan94 commented on #5359
@Kreijstal this isn't an issue IMO. ember-data & models make more sense for resources. A route like sales, is more of statistics in the form of a nested-structured data. The FE can very well use the rest client and consume the json object.

[2018-10-02 11:29] #5359 closed

[2018-10-02 15:34] iamareebjamal commented on #5351
Done. No change needed in code as it was handled on the server

[2018-10-02 15:34] #5351 closed

[2018-10-02 15:36] iamareebjamal commented on #5391
Sure. Great idea. Would you like to work on it?

[2018-10-02 16:45] vkartik97 commented on #5391
Sure :+1:

[2018-10-02 20:02] Ishaan28malik commented on #5391
can i work on it ?

[2018-10-02 20:03] Ishaan28malik commented on #5391
can u brief out what is the issue?..

[2018-10-02 20:04] Ishaan28malik commented on #5362
is it still open ?

[2018-10-04 07:43] prabhupant opened #5397 "Initialisation are missing in models/event_orga.py"
**Describe the bug**

in models/event_orga.py, initialisation of `starts_at` and `payment_currency` is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g

[2018-10-04 10:41] prabhupant opened #5399 "Minor error in models/custom_form.py"
**Describe the bug**

In line 71 of models/custom_form.py, in place of `__table_args__ = (UniqueConstraint....)` it should be `__table_args__=(db.UniqueConstraint....)`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**

[2018-10-04 18:46] satyasashi opened #5401 "DocstringTypo in app/search/event.py and app/views/elastic_search.py"
**Describe the bug**
Python Documentation String must either be ''' Triple Single quotes ''' or """ Tripe Double quotes """. But it's like this --> " Docstring "

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'app/models/search/event.py'
2. Check on 'Line number 8 & Line number 32'
3. Go to 'app/views/elastic_search.py'
4. Check on 'Line number 11'

**Expected behavior**
To be either

[2018-10-04 18:52] #5401 closed

[2018-10-04 18:59] satyasashi opened #5402 "Docstring typos in app/models/search/event.py, app/models/search/sync.py and app/views/elastic_search.py"
**Describe the bug**
Python Documentation String must either be ''' Triple Single quotes ''' or """ Tripe Double quotes """. But it's like this --> " Docstring "
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'app/models/search/event.py'
2. Check  'Line number 8 & 22'
3. Go to 'app/views/elastic_search.py'
4. Check 'Line number 11'

**Expected behavior**
Triple-Double quotes or Triple-

[2018-10-05 07:06] yeshijinsel commented on #5362
Wanna work on this issue

[2018-10-05 14:49] niranjan94 commented on #5399
Closing due to https://github.com/fossasia/open-event-server/pull/5400#issuecomment-427391978

[2018-10-05 14:49] #5399 closed

[2018-10-05 14:50] niranjan94 commented on #5362
@Ishaan28malik yes. It is still open. Please proceed if interested.

[2018-10-06 19:46] cursed4ever commented on #5402
Issed PR No. #5405

[2018-10-06 22:08] sarnava1 opened #5406 "No favicon in open-event-server"
**Describe the bug**

There is no favicon in the title bar of open-ebent-server
**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://127.0.0.1:5000/

![nofaviconinopeneventserver](https://user-images.githubusercontent.com/25319565/46576217-6fc87480-c9e2-11e8-8386-708c7f616244.png)

**Expected behavior**
There should be a favicon in the title bar

[2018-10-06 22:10] sarnava1 commented on #5406
@mariobehling @abishekvashok @iamareebjamal @bhaveshAn I want to work on this issue.

[2018-10-07 04:02] iamareebjamal commented on #5406
This is an API server, so it does not need a favicon

[2018-10-07 04:05] sarnava1 commented on #5406
@iamareebjamal ok so I am closing this issue.

[2018-10-07 04:05] #5406 closed

[2018-10-07 06:18] soumya-ranjan7 commented on #5362
@niranjan94 Can you assign me this issue?

[2018-10-07 15:32] cursed4ever commented on #5402
please asign

[2018-10-07 19:56] iamareebjamal opened #5407 "Docker compose is misconfigured and missing celery"
Docker compose file is missing configuration for celery, and has web ports misconfigured.

Also, binding ports of postgres and redis can lead to conflicts with local installations

[2018-10-08 09:58] prabhupant opened #5409 "Error in models/access_code.py"
**Describe the bug**

in the __repr__() function of this file, in place of `self.id`, it should be `self.code`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g

[2018-10-08 10:11] prabhupant opened #5411 "Change in models/discount_code.py"
**Describe the bug**

in the repr() function of this file, in place of `self.id`, it should be `self.code`

**Additional context**

I've filed a PR for the same.

[2018-10-08 10:38] prabhupant opened #5414 "Correction in models/order.py"
**Describe the bug**

The repr() function should return `self.identifier` in place of `self.code`

**Additional context**

I've filed a PR for the same

[2018-10-08 12:38] prabhupant opened #5416 "Correction in docstring in full_text_search/events.py"
**Describe the bug**

correction in the docstring

**Additional context**

i've filed a PR for this

[2018-10-08 13:09] prabhupant opened #5418 "Docstring in admin_sales/utils.py"
**Describe the bug**

correction in docstring of admin_sales/utils.py

**Additional context**

i've filed a PR for this

[2018-10-09 10:57] #5418 closed

[2018-10-09 10:57] #5416 closed

[2018-10-09 18:37] pandyamarut opened #5420 "Error While deploying on docker"
While deploying on Docker.
after some instructions When you give this command
cmd-" docker-compose run web/bin/bash"
 There is Usual error (Shown below)-
ERROR: Cannot start service web: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"/bin/bash\": stat /bin/bash: no such file or directory": unknown

[2018-10-09 18:38] pandyamarut commented on #5420
Like, It would be great if we have this solution in deploying guide via docker.
Because this issue is faced by many ( Newcomers) so it will great help to them.

[2018-10-09 18:53] pandyamarut opened #5421 "cannot find module in create_db.py"
line 5 which is
"from flask_migrate import stamp"
While executing this file it shows that there is no such module.

[2018-10-10 10:06] sanudatta11 commented on #4937
Is it solved? I would like to look into it

[2018-10-10 10:10] sanudatta11 commented on #4937
I think its fixed! I cannot seem to find the above routes! Can you guide me to the routes @srv-twry

[2018-10-10 15:40] sanudatta11 commented on #4903
1. How to check the env. What's the exact key value pair we are looking for.

[2018-10-10 17:34] iamareebjamal commented on #4903
`DEBUG`

[2018-10-10 19:02] satyasashi commented on #5421
@pandyamarut Did you try checking in the shell "from flask_migrate import stamp" and it gives error? And did you check if "Flask-Migrate" is installed in your environment?

[2018-10-11 08:37] pandyamarut commented on #5421
@satyasashi i tried

[2018-10-11 11:39] #5402 closed

[2018-10-11 12:07] #5409 closed

[2018-10-11 14:07] prabhupant commented on #5421
@pandyamarut make sure you installed the requirements using python3 and also that you are using python3 to run the commands, as sometimes little typos play a major role :sweat_smile: . Otherwise, please post the complete error log here :)

[2018-10-12 16:27] satyasashi opened #5422 "Unable to goto next step in Create Event. Shows Content Security Policy Error."
**Describe the bug**
I have logged in, and tried Creating Event. At the end of the section 1, when published, It doesn't go to next section "Sponsors"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost:4200/create' enter the details
2. Click on 'Publish'
3. Look at the terminal
4. See the Error "Content Security Policy Violation" in Open-event-Frontend Terminal
5. See the Infor

[2018-10-15 23:43] CosmicCoder96 opened #5423 "Adding an event image while creating event leads to a timeout"
**Describe the bug**

On event creation wizard step 1, if an event image is added which corresponds to the `original-image-url` attribute of event model inside the server, the POST or PATCH request times out, and server doesn't generate any logs.

If this block of code is removed from `api/events.py`, the issue gets fixed, which means it has something to do with these helper functions.

[code]

[2018-10-16 16:46] bhaveshAn commented on #5423
There is a need to create a asynchronous celery task concerning this block.

[2018-10-17 05:01] prabhupant opened #5425 "Post request to checkEmail returns opposite result"
**Describe the bug**

post request to checkEmail returns inverted results, i.e, if the user's email id is present, it returns false, and if absent, then it returns true

**To Reproduce**
Steps to reproduce the behavior:
1. open postman
2. make a post call to `/v1/users/checkEmail`
3. if the user is in the database, the response will be false, otherwise true

**Expected behavior**

the `result='Fal

[2018-10-17 05:47] prabhupant opened #5427 "content-type missing in API blueprint of checkEmail"
**Describe the bug**

the content-type should be set to `application/json` for the `.json` property to work, otherwise it will be `None` , refere to this [link](https://stackoverflow.com/questions/20001229/how-to-get-posted-json-in-flask)

**Expected behavior**

`AttributeError: 'NoneType' object has no attribute 'get'` pops up if content-type is not set

**Additional context**

working on this on

[2018-10-17 18:11] 2DSharp opened #5429 "OAuth2 authentication with google account fails (500)"
**Describe the bug**
While trying to create an event, and create an account with my gmail account, the process failed with an internal server error (500).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to eventyay.com
2. Click on Create an event
3. Select Google+ for logging in.
4. Choose the account.
5. See the error.

**Expected behavior**
Should take me to the dashboard.

**Additional

[2018-10-18 04:15] CosmicCoder96 commented on #5425
No, the responses are correct. If you read the lines above, you will notice that it asks if the email is available for use , if it exists in the database, it is not. Hence the response False is correct in this case and vice-versa.

[2018-10-18 04:15] #5425 closed

[2018-10-18 04:19] CosmicCoder96 commented on #5423
@bhaveshAn If you are willing to do it, it sounds good, please let me know ASAP, else I will be removing it for now, as it's a direct blocker to creating an event.

[2018-10-19 19:00] #5427 closed

[2018-10-21 05:50] prabhupant opened #5434 "Corrections in autodeploy"
**Describe the bug**

- unlike the steps mentioned in the docs, the autodeploy script doesn't work unless the workdir and config file is provided via the command line

- Also the required `PyYAML` library is missing from requirements.txt.

- `yaml.load` should be `yaml.safe_load` to avoid dangerous file parsing and also to avoid codacy issues.

**To Reproduce**
Steps to reproduce the behavior:
Try

[2018-10-21 09:59] prabhupant opened #5438 "Missing else condition in line 142 of api/users.py"
**Describe the bug**

In `app/api/users.py` at line 142, there should be a condition for else case

**Additional context**

i've filed a PR for this

[2018-10-21 19:14] #5423 closed

[2018-10-21 19:15] #5438 closed

[2018-10-21 19:29] CosmicCoder96 commented on #5362
The issue needs to be fixed here, since Eventyay is running through the legacy codebase: https://github.com/fossasia/open-event-legacy/issues/67

[2018-10-21 19:29] #5362 closed

[2018-10-21 19:30] CosmicCoder96 commented on #5429
The issue needs to be fixed here, since Eventyay is running through the legacy codebase: fossasia/open-event-legacy#67

[2018-10-21 19:30] #5429 closed

[2018-10-21 19:31] CosmicCoder96 commented on #5422
@satyasashi You must have been trying to add an event image while creating it, it has been fixed now along with  #5423 . If it persists, please comment below, closing it for now.

[2018-10-21 19:31] #5422 closed

[2018-10-23 05:44] #5397 closed

[2018-10-25 16:05] Manas-kashyap commented on #5391
Is this issue closed means someone worked on it and filed a pull request or not ?

[2018-10-25 19:29] ra100 opened #5444 "Add Slovak Translation"
**Is your feature request related to a problem? Please describe.**
I can't see Slovak translation in available languages.

**Describe the solution you'd like**
Enable Slovak on weblate, maybe Czech will good too

**Describe alternatives you've considered**
none

**Additional context**
n/a

[2018-10-25 19:30] #5444 closed

[2018-10-28 17:43] #5297 closed

[2018-10-29 05:10] #5298 closed

[2018-11-05 06:37] cursed4ever opened #5448 "Error while running requirements.txt"
**Describe the bug**

One of the header files that is 'openssl/aes.h' could not be found when running requirements.txt using pip. I think this error is native to macOS, as apple dropped OpenSSL headers recently.

**To Reproduce**
Steps to reproduce the behavior:
1. Run pip install -r requirements.txt
2. Everything installs as usual.
3. But finishes with throwing error that "<openSSL/aes.h> file co

[2018-11-05 08:31] cursed4ever commented on #5448
For all those who are also facing this issue i have got a small hack. This is native to macOS High Sierra.
please see this link https://tutorials.technology/solved_errors/1-OSX-openssl_opensslv_h-file-not-found.html

[2018-11-05 08:34] cursed4ever commented on #5448
I think some one should add this to the documentation.

[2018-11-09 18:06] niranjan94 commented on #5411
Hi @prabhupant why would this be considered a _bug_ ? Could share some more context on what is affected by it ?

[2018-11-14 06:11] mohitsakhuja commented on #5320
I want to work on this. Where should I start from i.e. which module(s) should I write tests for?

[2018-11-14 14:42] srv-twry commented on #5320
@mohitsakhuja You'll have to figure out yourself. Check if there is a module that is yet to be tested and write tests for it. If you don't find any then please inform so that I can close this issue.

[2018-11-14 14:44] mohitsakhuja commented on #5320
@srv-twry Okay, I'll go through the codebase more thoroughly.

[2018-11-15 09:47] mohitsakhuja opened #5449 "Add unit tests for filter helpers and utilities helpers"
**Is your feature request related to a problem? Please describe.**
We should add more tests for filter and utilities helpers in order to increase the code coverage.

**Additional context**
Parent issue: #5320

I would like to work on this.

[2018-11-16 04:08] prabhupant opened #5451 "Action names are incomplete in Sessions API blueprints"
**Describe the bug**

Name of actions for `List Sessions under an Event`, `List Sessions under a Track`, `List Sessions under a Microlocation`, `List Sessions under a Session Type`, and `List Sessions under a Speaker` are all written as `List Sessions`

**Expected behavior**

Each should have a unique action name

**Screenshot**
![session](https://user-images.githubusercontent.com/19776278/4859728

[2018-11-19 18:18] war-turtle commented on #5448
I want to do this task.

[2018-11-22 12:21] pandyamarut commented on #5421
@bhaveshAn No.

[2018-11-22 14:39] #5421 closed

[2018-11-29 08:16] prateekj117 commented on #5175
@bhaveshAn Seems like this issue is still open. Can I work on this?

[2018-11-29 14:01] iamareebjamal commented on #5175
Go ahead

[2018-11-29 14:05] #5448 closed

[2018-11-29 14:08] #5449 closed

[2018-11-29 21:05] iamareebjamal opened #5454 "Docker Container Tasks"
These are tasks for improving container support for automatic deployment

When running docker-compose up, image is built on each change in requirements or other targets. Also, database user, name, and password are exposed directly. Using current docker-compose is not suitable for production as it is mainly used for quick development environment setup. However, there are several things that can be

[2018-11-30 04:47] prabhupant opened #5455 "Docstrings in helpers/third_party_auth.py are incorrect"
**Describe the bug**

The docstrings for twiiter is written as "facebook credentials" while the docstring for Instagram are missing.

**Expected behavior**

The docstrings should be correct

**Additional context**

I'm working on this one

[2018-11-30 06:02] #5407 closed

[2018-11-30 06:03] iamareebjamal commented on #5420
Fixed in #5408

[2018-11-30 06:03] #5420 closed

[2018-11-30 06:08] iamareebjamal opened #5457 "Synchronous image download on event creation"
**Describe the bug**
On creating an event, images are synchronously downloaded and resized which contributes to slow process of event creation.
**To Reproduce**
Steps to reproduce the behavior:
1. Give original image URL to a large email and send a request to create and event

**Expected behavior**
Images should be downloaded and resized asynchronously

[2018-11-30 06:10] iamareebjamal commented on #5457
Implementation details are open for discussion as to which URLs to show while images are downloaded and clients will most probably eagerly fetch the data and cache it. So it should be a robust solution which does not enforce clients to refetch the event resource from server to get resized images

[2018-12-01 11:00] iamareebjamal opened #5458 "Wrong email verification link"
**Describe the bug**
This link is sent to verification email - http://open-event-frontend-dev.herokuapp.com/verify?token=<token> which is wrong

**To Reproduce**
Steps to reproduce the behavior:
Send verification email to your account

**Expected behavior**
Correct verification email should be sent to users

[2018-12-02 07:46] #5455 closed

[2018-12-04 21:03] poush commented on #5451
@prabhupant are you working on this? Let me know, I can assign you this.

[2018-12-05 02:43] prabhupant commented on #5451
@poush yeah i'm working on it :+1:

[2018-12-05 08:51] ajit2704 commented on #5454
@iamareebjamal  I would like to work on it

[2018-12-05 13:51] iamareebjamal commented on #5454
Which task, choose one.

[2018-12-05 18:17] ajit2704 commented on #5454
I will go with first one.

[2018-12-05 20:52] iamareebjamal commented on #5454
Please create a new issue describing the first one and list this issue as its parent and you can start working on it

[2018-12-06 11:03] poush commented on #5458
It looks like a configuration issue on the deployed application.

[2018-12-06 14:04] iamareebjamal commented on #5458
What should be the correct link @poush

[2018-12-06 14:33] ajit2704 opened #5460 "Build and push docker image on each build with proper tags"
There need improvement in docker image building with proper tags & updates of each  build. referring to first task of issue

-  #5454 Docker Container Tasks
**You working on it?**
yes

[2018-12-08 22:13] openedev opened #5461 "unable to register via gamail"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `4629c62`]

**Additional context**

[2018-12-09 05:33] iamareebjamal opened #5462 "Add No Response bot"
Add config for no-response bot which will close issues with `needs-info` label and no response from the author in 14 days

[2018-12-09 09:04] iamareebjamal commented on #5458
@poush Can't we simply have a backend URL which verifies the email? What's the API endpoint for that? Surely, even the frontend app is requesting the server to verify the email. I couldn't find it in API docs

[2018-12-09 12:13] prabhupant opened #5464 "Can't access API endpoints that need access tokens"
**Describe the bug**

`request does not contain an access token` comes up when accessing API endpoints that need access token even after providing the token

**To Reproduce**
Steps to reproduce the behavior:
1. Make a post request to `/v1/sessions` to create a new session
2. Fill in the body of the request accordingly
3. Send it
4. An access token error will come up

**Expected behavior**

this er

[2018-12-11 02:52] mrsaicharan1 commented on #5320
Do the tests require to be in a different file altogether? In addition, does adding tests to the auth helper methods come under this?

[2018-12-11 04:08] srv-twry commented on #5320
@mrsaicharan1 Hi, Yes we have a separate file for tests of each module. Adding any kind of unit tests comes under this.

[2018-12-11 11:29] prabhupant opened #5465 "Tests missing for admin statistics"
**Describe the bug**

hooks for admin statistics are missing

**Expected behavior**

there should be hooks added for the admin statistics

**Additional context**

I'm working on it!

[2018-12-11 11:52] prabhupant opened #5466 "Adding dredd tests for custom system roles"
**Is your feature request related to a problem? Please describe.**

add dredd tests for custom system roles

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

I'm working on it!

[2018-12-11 11:58] prabhupant opened #5467 "Adding dredd tests for panel permission"
**Is your feature request related to a problem? Please describe.**

Add dredd tests for panel persmission
**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

I'm working on it!

[2018-12-11 12:43] iamareebjamal commented on #5467
@prabhupant Ideally, the case for issues with parent issue is to:

- Link the parent issue in child issue
- Only create child issues when the PR is read to be sent

Second point is necessary, or else the issue tracker will be flooded with child issues with no PR

[2018-12-11 12:45] prabhupant commented on #5467
@iamareebjamal ok. I am sending the PR right now

[2018-12-11 13:39] #5462 closed

[2018-12-12 21:59] #5466 closed

[2018-12-14 08:14] pranavpandey1998official commented on #5458
@poush any updates on the issue

[2018-12-15 07:14] #5467 closed

[2018-12-15 14:29] nyc-pm opened #5470 "Saving speaker profile does not work"
There is an issue with saving a new speaker profile.

I have submitted all the details but it has trouble saving the information.

[2018-12-15 16:40] rastermann commented on #5470
Same for me... tried multiple times.

[2018-12-15 16:44] iamareebjamal commented on #5470
Can you please share the request and response of the failed attempt?

[2018-12-16 12:44] rastermann commented on #5470
Well as it's https - no. i can't. i can't sniff it. but the response is a pretty useless error page that says:

"We seem to be having some issues on our side. Please report any errors or bug to our Issue tracker on GitHub."

You should have these logs on your server side... :)

[2018-12-16 15:14] iamareebjamal commented on #5470
To clarify, you faced this issue using the API or the frontend application? Did you use eventyay.com or api.eventyay.com?

[2018-12-16 18:11] iamareebjamal commented on #5470
That is legacy project. @nyc-pm Did you also face the issue on eventyay.com. If so, we can move it to the legacy project.

[2018-12-16 20:14] rastermann commented on #5470
well. the website does say to report the issue on github right to this link... :)

[2018-12-16 20:47] iamareebjamal commented on #5470
Yes, because we moved the legacy site to a different repository and host the next-gen API in this one. Sorry for the inconvenience

[2018-12-17 15:58] prabhupant opened #5471 "Completing tests for event role permissions"
**Is your feature request related to a problem? Please describe.**

completing the to-dos for writing event role permissions hooks

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

I'm working on it

[2018-12-17 22:40] hpdang commented on #5470
@rastermann @TScottJ thank you for reporting. A workaround, create a new account with the same email, it will overwrite the old profile. @rastermann I updated your profile in the system based on what I know, you can log-in and edit it now.

[2018-12-18 22:06] rastermann commented on #5470
Thanks Hong Phuc. Awesome to see you  here! You've indeed edited - but I can't make any changes. Still has an error. :( Should I try make a new account then?

[2018-12-19 07:58] prabhupant opened #5474 "Add the missing dredd hooks"
**Is your feature request related to a problem? Please describe.**

many tests like for create events, create users are just mentioned to be pass.

**Describe the solution you'd like**

proper tests should be written

**Describe alternatives you've considered**

**Additional context**

i'm working on this one

[2018-12-19 18:47] miphilomath commented on #5470
Creating a new account is not helping either. Should I email my talk proposal somewhere?

I am attaching the screen shot of the error, but it is not very descriptive.
![image](https://user-images.githubusercontent.com/26297035/50241114-a6603980-03ec-11e9-9d3c-f2b7ccc823fa.png)

[2018-12-20 08:03] sk9331657 opened #5476 "Accepting only images in profile section to upload"
**Describe the bug**

User should not be able to select video file format like mkv , mp4 or other non image formats.

[2018-12-20 10:08] rastermann commented on #5470
That's just what I get too - I see a new account is not a solution, but I was able to submit a talk proposal. I just couldn't edit my speaker bio/details at all. Perhaps it's time that this reverts to email as the deadline is in 2 days for 2019 FOSSASIA submissions.

[2018-12-20 13:11] #5476 closed

[2018-12-20 14:45] #5474 closed

[2018-12-21 04:00] prabhupant opened #5477 "Adding dredd hooks for event locations"
**Is your feature request related to a problem? Please describe.**

dredd hooks for event locations are missing

**Describe the solution you'd like**

adding dredd hooks for event locations

**Describe alternatives you've considered**

**Additional context**

i'm working on this one

[2018-12-21 07:35] CosmicCoder96 opened #5479 "Orders API: Order is Unable to handle a patch request if identified through attendee relationship"
**Describe the bug**

When the frontend sends a PATCH request to the orders API, attendees which identify the orders through their identifier or string based *order-id*, the API fails to identify the order using the string based identifier

[2018-12-21 07:51] CosmicCoder96 commented on #5479
handled on frontend

[2018-12-21 07:51] #5479 closed

[2018-12-21 12:31] #5477 closed

[2018-12-21 12:37] prabhupant opened #5481 "corrections in sessions test"
**Describe the bug**

currently the sessions test use event factory and track factory, but i think it should be using sessions factory

**Expected behavior**

it should be using sessions factory

**Additional context**

i'm working on this one

[2018-12-22 04:26] prabhupant opened #5483 "corrections in sessions type test"
**Describe the bug**

`Sessions Type` factory is using `Event Factory` in dredd hooks

**Expected behavior**

it should be using `session types` factory

**Additional context**

i'm working on this one

[2018-12-22 08:35] #5483 closed

[2018-12-22 12:26] prabhupant opened #5485 "Modifications in dredd hooks"
**Describe the bug**

in some places, different factories not related to the module being tested has been used.

**Expected behavior**

use the correct factory for respective tests

**Additional context**

I'm working on this one

[2018-12-22 18:15] ShridharGoel commented on #5458
@iamareebjamal Any updates on this? Unable to create events on Open Event Organizer App because it requires an account with verified email.

[2018-12-22 19:13] iamareebjamal commented on #5458
@CosmicCoder96 Do you have any clue about the URL?

[2018-12-22 20:57] CosmicCoder96 opened #5487 "Incorrect definition for level attribute in sessions schema"
**Describe the bug**

The level is defined as an integer field, however, in the model the field is a string, which is the desired behavior.

[2018-12-22 21:02] CosmicCoder96 commented on #5458
@iamareebjamal I will take a look

[2018-12-23 05:12] #5461 closed

[2018-12-23 15:06] iamareebjamal commented on #5458
Even next.eventyay.com is giving 404

[2018-12-24 04:58] #5464 closed

[2018-12-24 07:57] SDkie opened #5489 "Internal Server Error 500 while adding Speaker details for FOSS 2019 Conference"
**Describe the bug**
When I try to add Speaker details for FOSS 2018 Conference, I am getting "Internal Server Error 500"
I have attached the screenshot for the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Signup on eventyay.com by signup form
2. Goto link: https://eventyay.com/e/cfs/34f83e1881c1b854d08537166bf819ab51ab8b04
3. Click on "Submit Proposal"
4. Click on "Add Speaker Deta

[2018-12-24 12:46] sk9331657 commented on #4625
@open-event-bot

[2018-12-25 07:17] #5451 closed

[2018-12-25 19:19] CosmicCoder96 commented on #5458
@iamareebjamal both the above deployments were set up my maintainers who are no longer active, we are in the middle of a transition. You may checkout the the current test deployment we have for testing the switch from legacy to v2: http://95.216.163.108

[2018-12-25 19:32] iamareebjamal commented on #5458
@CosmicCoder96 That is fine, I know that. But if we know the correct URL that should be generated(do we know that?), then I can fix the deployed version. Perhaps we can take the discussion to gitter

[2018-12-25 19:34] iamareebjamal commented on #5458
OK, so the problem was that the frontend was old. I'll update the frontend to the latest version

[2018-12-27 04:01] mrsaicharan1 commented on #5320
@srv-twry I've implemented a part of the test cases for payments. While I was doing this, I came across a parameter named `order_invoice` in `capture_payments` method located in the helpers file payments.py . I wasn't able to understand the object's structure exactly. Can you help me out here?

[2018-12-27 06:36] championballer opened #5491 "Changes to README.md"
There are certain changes that I feel should be made in order to make the documentation clearer and formal. For example adding colons after the types of branches in the project, removing the 'to' after 'PRs' in the development branch block as it does not seem right there.

[2018-12-27 15:32] srv-twry commented on #5320
Hi @mrsaicharan1 , I had implemented it during my GSoC. The `order_invoice` parameter is just the order for which we are charging the payment. I could have named it `order` only, but `order_invoice` looked a little more appropriate. In fact in the docstring, I have explained it -> `:param order_invoice: Order to be charged for`.

[2018-12-27 16:00] mrsaicharan1 commented on #5320
I wasn't able to find the doctoring in the code. Could you point me to the file it was implemented so that I can implement a test case for capturing payments?

[2018-12-27 17:59] srv-twry commented on #5320
https://github.com/fossasia/open-event-server/blob/e55d84117188d9e2df6eebe1362b6400f3fdb72c/app/api/helpers/payment.py#L86

[2018-12-28 06:57] iamareebjamal opened #5493 "Session schema is wrong"
Session Schema has level field as `int` whereas it should be string.

TODO: Make generic issue to weed out all schema errors by analyzing the DB and correcting schema files

[2018-12-28 07:00] iamareebjamal commented on #5493
Fixed in fe52889929618cb4f0fd3a265f7e823726eb13bb

[2018-12-28 07:00] #5493 closed

[2018-12-28 16:49] iamareebjamal opened #5494 "Mount point in docker-compose are wrong"
Mount point for server should be `./static:/data/app/static`

[2018-12-28 17:20] #5494 closed

[2018-12-30 09:59] iamareebjamal opened #5496 "Settings don't refresh on PATCH"
**Describe the bug**
Settings are cached in memory and never again fetched from DB, even when they are patched.

- Refresh settings on PATCH request

Secondly, if someone edits settings from DB, there is no way to refresh them. Call for discussion if this should be left that way. Cache should be expired after a period of time, or there should be an endpoint to explicitly refresh in memory settings

[2018-12-30 10:07] iamareebjamal opened #5498 "Set up logging correctly"
Currently, logging is hardcoded in the app and never really used. Logging should be used almost on every action with proper label as:

- trace
- debug
- info
- warn
- error

Right now, logger is hardcoded to show ERROR only. This needs to be configurable through the command line.

Also, I think default should be `INFO` or even `DEBUG` for the app itself and warn for other 3rd party libraries.

[2018-12-30 10:09] iamareebjamal commented on #5496
@poush @CosmicCoder96 What are your views on the second problem?

[2018-12-30 10:10] iamareebjamal commented on #5487
Fixed in fe52889

[2018-12-30 10:10] #5487 closed

[2018-12-30 10:11] iamareebjamal commented on #5460
What;s the status?

[2018-12-30 14:04] iamareebjamal opened #5499 "Make frontend URL is wrong"
make_frontend_url('/verify') for `https://fossasia.github.io/open-event-server` should be `https://fossasia.github.io/open-event-server/verify`, but actually it is `https://fossasia.github.io/verify`

Add unit tests and fix

[2018-12-30 14:39] #5499 closed

[2018-12-30 14:55] iamareebjamal commented on #5460
This is already done, just tags need to be configured correctly

[2018-12-30 14:56] iamareebjamal commented on #5454
Image is already configured to be built on each push. Just need to configure tags correctly

[2018-12-30 22:48] makkoncept commented on #5498
Hi @iamareebjamal, I would like to work on this issue.
I am new to logging for a big code-base, so I have to do some research.  Can you please provide some useful links.

[2018-12-31 17:08] prateekj117 commented on #5498
@makkoncept Sorry, but I am already working on this issue.

[2019-01-02 04:43] prabhupant opened #5501 "Modifications in Speakers API Bluerprints"
**Describe the bug**

action names are incomplete in speakers api blueprints

**Screenshot**
![speakers](https://user-images.githubusercontent.com/19776278/50580636-15bb3c00-0e77-11e9-8f9f-44aa4d17ab25.png)

**Additional context**

I'm working on it

[2019-01-02 10:28] prabhupant opened #5504 "Adding tests for orders"
**Is your feature request related to a problem? Please describe.**

tests for orders are skipping

**Describe the solution you'd like**

adding tests for orders

**Describe alternatives you've considered**

**Additional context**

i'm working on it

[2019-01-04 14:09] #5501 closed

[2019-01-05 04:45] #5277 closed

[2019-01-06 05:40] chetanyachopra commented on #5454
hey hi @iamareebjamal i am up for 2nd task ie production ready docker-compose  should i start with making issue?

[2019-01-06 11:08] iamareebjamal commented on #5454
Yes, please go ahead

[2019-01-06 16:44] prateekj117 commented on #5498
@makkoncept Feel free to take this issue.

[2019-01-06 19:51] iamareebjamal opened #5508 "Update PyYAML version"
Update PyYAML version to latest

[2019-01-06 22:22] #5508 closed

[2019-01-08 10:39] chetanyachopra opened #5510 "Create Production specific dock-compose setup"
create  docker-compose suitable for production environment and also there is need of hiding all secrets in a file that will be environment specific

**Approach**
will add all credentials  ie   `(username, passwords)` to `.env` that will be environment specific

i think it will be the best approach feel free to share  better solution down here

reffering to task in #5454

- **working on it ?**
yes

[2019-01-09 04:46] prabhupant opened #5511 "Complete action names of Tickets and Ticket Tags in API blueprints"
**Describe the bug**

action names of tickets and ticket tags in API blueprints are incomplete and repetitive

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `4629c62`]

**Additional context**

i'm working on it

[2019-01-09 08:04] #5485 closed

[2019-01-09 14:59] #5511 closed

[2019-01-10 17:32] YogeshSharma0201 opened #5513 "Fix import event api endpoint and Add api to access Import Jobs"
**Is your feature request related to a problem? Please describe.**
Related frontend issue fossasia/open-event-frontend#767

[2019-01-13 15:06] YogeshSharma0201 commented on #4793
working on this

[2019-01-14 09:00] Divya063 commented on #5498
Can I work on this issue?

[2019-01-14 20:47] mariobehling opened #5586 "Admin Image Settings: Change of Image settings does not work"
Changing image settings in https://eventyay.com/admin/settings/images does not result in any effect.

![screenshot from 2019-01-14 21-45-56](https://user-images.githubusercontent.com/1583873/51140093-e973c800-1845-11e9-8836-aba42cdcb03e.png)

[2019-01-15 11:08] mrsaicharan1 commented on #5470
@rastermann  Could you explain how to reproduce the error so that it would be easy to get around it?

[2019-01-15 11:32] rastermann commented on #5470
Literally fill in the form (speaker profile), submit it, then get that error. Happens every single time for me regardless of content of the form it seems.

[2019-01-15 11:42] mrsaicharan1 commented on #5470
I can see that even the form isn't opening now. @rastermann, you are referring to this link right? https://2019.fossasia.org/speaker-registration

[2019-01-16 04:34] GrahamDumpleton opened #5567 "No longer see in My Sessions talks where am an additional speaker."
**Describe the bug**

After the update to ``https://eventyay.com``, when you go to ``My Sessions`` you can no longer see talk proposals where you were added as an additional speaker by someone else. Thus you cannot see whether those talks are still marked as pending, or if accepted or confirmed, as there is no entry for them.

**To Reproduce**

Presumably have someone else create a talk proposal w

[2019-01-16 16:07] jospoortvliet opened #5569 "Can't delete 'expired orders'"
**Describe the bug**
I now have a lot of 'expired orders', which seem to add to the max nr of tickets - so we have 28 of 100 tickets sold, even though only 7 orders were placed, the rest are tests or expired. I tried to delete them but 'an unexpected error occured'. Cancellation gives the same issue.
https://eventyay.com/events/d1196adb/tickets/orders/expired

Happens in Chromium/Linux.

[2019-01-16 19:57] strypey opened #5518 "Use ActivityPub to allow inter-operation with other free code events servers"
There are a number of free code projects who aim to build a federated replacement for the event functionality of datafarms like FB and MeetUp. These include [Calendar-social](https://gitea.polonkai.eu/gergely/calendar-social/issues/122), [GetTogether](https://github.com/GetTogetherComm/GetTogether/issues/60),
[Human Connection](https://github.com/Human-Connection/WebApp/issues/318), and [Mobilizon

[2019-01-17 02:16] CosmicCoder96 opened #5519 "Session Export CSV does not include all data"
The Session Export should export all data sets that are available e.g. including:
* Submission time
* All speakers
* Proposed length
* Type (Workshop, Talk)
* Level (e.g. Intermediate)
* Status (e.g. pending, accepted etc.)

![screenshot from 2019-01-17 00-04-14](https://user-images.githubusercontent.com/1583873/51284380-a3f0ff80-19eb-11e9-9a1c-3b37c6ad36ad.png)

[2019-01-17 02:17] CosmicCoder96 commented on #5519
@mrsaicharan1 Can you take this up?

[2019-01-17 02:21] mrsaicharan1 commented on #5519
Yes. I'll work on this issue.

[2019-01-17 04:55] mrsaicharan1 commented on #5320
@srv-twry When I start running tests using *nosetests tests/all* , I get the error opev_test does not exist. Was the database supposed to be created while installation ?

[2019-01-17 11:13] ShridharGoel opened #5521 "Email address verification mail is not being sent"
**Describe the bug**
Did not receive any mail after new sign up.

Tried resending the mail using https://open-event-api-dev.herokuapp.com/v1/auth/resend-verification-email.
Still no mail was sent although the response was:
[code]

**To Reproduce**
Create a new account. No verification mail will be received.

**Expected behavior**
A verification mail should have been sent to the email address.

[2019-01-17 15:18] iamareebjamal commented on #5521
I tried it just now and got it

[2019-01-17 15:19] iamareebjamal commented on #5521
/remind me to close this in 1 day

[2019-01-18 14:06] thanostx opened #5522 "Read from environment variables when creating the super admin user"
**Is your feature request related to a problem? Please describe.**

When deploying on Kubernetes or Openshift, the super admin account points to the default one, that is hardcoded in manage.py file. https://github.com/fossasia/open-event-server/blob/fix-celery/manage.py#L89

**Describe the solution you'd like**

Extend manage.py file to read environment variables on database initialization. If the

[2019-01-18 15:37] mariobehling opened #5523 "Orders with bank transfers: Provide option to change status and mark them as completed"
The system naturally is not able to detect offline transactions. But: The organizer should have the option to change the status of a ticket manually. Therefore please implement the option to change the status of tickets, e.g. to "Completed" in the orders section (and specifically when looking at the "Placed" filtered tickets).

![screenshot from 2019-01-18 16-33-56](https://user-images.githubuserc

[2019-01-19 06:41] dini-rockz93 commented on #5522
I am working on this!

[2019-01-19 06:58] dini-rockz93 commented on #5522
I am working on it!

[2019-01-20 11:31] ShridharGoel commented on #5521
Another user faced a similar issue https://github.com/fossasia/open-event-orga-app/pull/1447#issuecomment-455850568

[2019-01-20 11:35] iamareebjamal commented on #5521
You mentioned that this was eventyay server. It's dev server issue. eventyay.com is sending email correctly. Dev server indeed has an issue of not sending emails

[2019-01-20 14:32] CosmicCoder96 opened #5526 "Discount code shows error and invalid for non-logged in users"
Discount code works, but it does not show for not-logged-in users.

![whatsapp image 2019-01-19 at 11 55 55](https://user-images.githubusercontent.com/1583873/51425879-61454800-1be2-11e9-9a4e-8b9af91f42ce.jpeg)

This issue was originally opened on open event frontend
https://github.com/fossasia/open-event-frontend/issues/1910

[2019-01-20 14:54] #5411 closed

[2019-01-21 06:19] CosmicCoder96 commented on #5526
fixed in 32689d9808ef8529480a0919e808b55cde61868e

[2019-01-21 06:19] #5526 closed

[2019-01-21 14:08] prateekj117 commented on #5522
I would like to work on this issue.

[2019-01-21 15:08] mariobehling opened #5579 "Co-organizer cannot add sessions/speakers and is not listed on dashboard"
The co-organizer isn't able to add session/speakers. It shows a loading icon eternally.

![screenshot from 2019-01-21 16-08-21](https://user-images.githubusercontent.com/1583873/51482466-cc378000-1d96-11e9-941c-1e341c1e4005.png)

https://r6---sn-i5heen7l.googlevideo.com/videoplayback?id=6602b1cd8654edc0&itag=18&source=picasa&begin=0&requiressl=yes&mm=30&mn=sn-i5heen7l&ms=nxu&mv=m&pl=23&sc=yes&ei=3

[2019-01-21 17:03] YogeshSharma0201 opened #5527 "Dasherize admin sales apis and fix admin/sales/location api."
**Describe the bug**

- Most of the Admin sales api are not dasherized.
- admin/sales/location returns the data without id.

These fixes are required by fossasia/open-event-frontend/issues/1807

[2019-01-21 19:15] #5527 closed

[2019-01-22 03:05] CosmicCoder96 opened #5529 "Update docs on Events end point to accomodate additional fields for Front end's sidebar"
The frontend facilitates all the public aspects of an event through a side menu as shown below.
![image](https://user-images.githubusercontent.com/17252805/51509651-e2941900-1e34-11e9-9e09-cfcfccca1ef0.png)

However, it is desired to only show a menu item, if it's corresponding entries exist. For instance, display the item sessions, if sessions are present, display speakers if speakers are present

[2019-01-22 03:07] CosmicCoder96 commented on #5529
@iamareebjamal What would be the correct approach to rectify this situation.

[2019-01-22 13:13] ShridharGoel commented on #5521
@iamareebjamal Please remove the invalid label if this issue exists.

[2019-01-22 14:40] #5465 closed

[2019-01-22 14:41] iamareebjamal commented on #5521
@CosmicCoder96 Do you have access to the dev instance of server?

[2019-01-22 14:42] iamareebjamal commented on #5529
An event info endpoint which tells the status and information about what is present in the event in form of booleans

[2019-01-22 15:30] prabhupant opened #5532 "Adding seed data for development of custom placeholders"
**Parent Issue**
#4477

**Is your feature request related to a problem? Please describe.**
According to the parent issue 4477, this aims to add seed data of custom placeholders for development

**Describe the solution you'd like**

adding seed data for custom placeholder

**Additional context**

I'm working on it

[2019-01-23 05:18] CosmicCoder96 opened #5534 "Modify Docker image to run fastboot server in production environment"
Current deployment does not make use of ember fast boot, the site should load through a fastboot sever.

[2019-01-23 05:19] CosmicCoder96 commented on #5534
Moved to frontend.

[2019-01-23 05:19] #5534 closed

[2019-01-23 15:32] prabhupant opened #5535 "Adding sessions seed data for development"
**Parent Issue**
#4477

**Is your feature request related to a problem? Please describe.**
According to the parent issue 4477, this aims to add seed data of sessions for development

**Describe the solution you'd like**

adding seed data for sessions

**Additional context**

i'm working on it

[2019-01-23 16:43] mariobehling opened #5581 "Email: New Session Proposal does not provide correct link"
The proposal email does not provide correct link, e.g. it is: https://eventyay.com/events/598/sessions/5201

![screenshot from 2019-01-23 17-43-00](https://user-images.githubusercontent.com/1583873/51622223-700b6200-1f36-11e9-9d5f-a5fc76c63c16.png)

[2019-01-23 17:39] mariobehling opened #5555 "Uploaded Presentations still stored in Google Cloud instead of local system"
The previously uploaded presentation slides are still stored in Google cloud instead of the local volume.

![screenshot from 2019-01-23 18-39-29](https://user-images.githubusercontent.com/1583873/51625740-3f2f2b00-1f3e-11e9-911a-38afc9f0ace7.png)

[2019-01-24 16:21] #5532 closed

[2019-01-24 20:33] mariobehling opened #5607 "Ticket PDF: Time not correct"
The time of the event on the PDF ticket is different to the event time, e.g. FOSSASIA Summit: It is one hour earlier.

![screenshot from 2019-01-24 21-32-15](https://user-images.githubusercontent.com/1583873/51706756-b092da80-201f-11e9-912b-1ba45d86afe0.png)

[2019-01-24 20:54] mariobehling opened #5608 "Ticket PDF: Security Issue, can be accessed by anyone"
The ticket PDF for events can be accessed by anyone who can find out the link, e.g. see https://api.eventyay.com/static/media/attendees/tickets/pdf/6ae42516-0a03-4436-b2a6-8a60f6a2b16d/QkJ0VHpPUX/ae067598-2896-4579-b4d9-8d5fa8a34e01.pdf

Expected should only be possible to open it from the actual account.

[2019-01-25 04:54] mrsaicharan1 opened #5538 "Missing docs to set up test database"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'docs/installation/local.md'

**Expected behavior**
Documentation on how to set up the opev_test database to run the tests locally must be present.

[2019-01-25 08:48] prabhupant opened #5540 "Unused line in API Blueprints"
**Describe the bug**

The line 24100 in API Blueprints is unused
![unused](https://user-images.githubusercontent.com/19776278/51734767-7bcc6500-20ab-11e9-92ca-e61a454f5d28.png)
![unused line](https://user-images.githubusercontent.com/19776278/51734773-7ec75580-20ab-11e9-9831-13765d289793.png)
![unused line 2](https://user-images.githubusercontent.com/19776278/51734927-f85f4380-20ab-11e9-8e5a-fbd01

[2019-01-25 14:14] shreyanshdwivedi opened #5543 "Billing Information: Add fields to the order-form"
**Describe the bug**

For solving issue https://github.com/fossasia/open-event-frontend/issues/1939 in the frontend, we need to add fields to order-form. Currently, the info is not getting saved in the model

**Expected behavior**

On submitting the form, info should be saved in database

**Additional Context**
I'm working on it

[2019-01-26 09:59] #5540 closed

[2019-01-26 18:06] iamareebjamal commented on #5521
@CosmicCoder96 ping

[2019-01-27 15:16] CosmicCoder96 opened #5546 "Server: Implement Ticketing Process as in Eventyay Version 1"
In Eventyay V1 and Eventbrite users can get tickets without logging in. If they already enter their email and pay through a registered way (e.g. credit card, paypal), they don't have to login. New users will automatically receive an email after they buy a ticket. In that email is the account information. Existing users will have their ticket automatically added to their account even if they did no

[2019-01-27 15:18] CosmicCoder96 opened #5547 "Orders API: Remove constraint for a user to be verified in order to place an order."
Parent issue #5546

[2019-01-27 15:48] CosmicCoder96 opened #5549 "Add a new class of email for non logged in users placing an order."
In cases where non-registered users place an order, an account for them will be created automatically with a random system generated password. The welcome mail to them should be different from the one which is sent when they register using a password. This welcome mail should include a reset password link, with the instructions to the user.

Parent issue #5546

[2019-01-27 15:49] #5547 closed

[2019-01-27 15:50] CosmicCoder96 commented on #5521
@iamareebjamal yes, I will register you as an admin.

[2019-01-27 17:15] nkkumawat commented on #5549
hi, @CosmicCoder96 can I try this?

[2019-01-27 18:27] CosmicCoder96 opened #5550 "Allow access to discount codes to non-registered users"
Currently, users who visit a discount code link are denied access to the discount on the frontend, since the API requires a jwt token to view them using GET endpoints.

Parent issue #5546

[2019-01-27 18:56] #5550 closed

[2019-01-27 21:22] uds5501 opened #5552 "Adding "is_featured" field to event object"
**Is your feature request related to a problem? Please describe.**

To solve the enhancement request of adding a featured event section in the homepage, we will need a `is_featured` field (something along the lines of is_featured in speakers)

Front-end Issue : fossasia/open-event-frontend#1925

**Additional context**

Working on it

[2019-01-28 02:58] CosmicCoder96 commented on #5549
@nkkumawat Sure, go ahead.

[2019-01-28 08:37] mrsaicharan1 commented on #5543
I'll add the fields in the scheme asap.

[2019-01-28 14:35] #5538 closed

[2019-01-28 17:39] mrsaicharan1 commented on #5543
@shreyanshdwivedi What fields do you need to add exactly? I've added street address and changed the existing ones which had to be changed to optional and mandatory.

[2019-01-28 20:51] apoorvkhare07 commented on #5529
Is this issue up for taking ?
Would like to work on it.

[2019-01-29 03:05] mrsaicharan1 commented on #5543
I can see that the fields are added already in the ticket_holders form. I've changed some of the fields from mandatory to optional as per records.

[2019-01-29 03:09] CosmicCoder96 commented on #5529
@apoorvkhare07 go ahead.

[2019-01-29 22:39] Akhelesh commented on #5175
Since there has been no progress on this issue for a long time I am taking up the issue. Currently working on it.

[2019-01-30 02:38] CosmicCoder96 opened #5556 "Order flow: Implement a 'was_registered_with_order' field to the User model"
This field will be true for users who were registered while placing an order as a guest.
This can be used to differentiate between the kind of welcome email which has to be sent.

[2019-01-30 02:59] CosmicCoder96 commented on #5549
@nkkumawat Any updates?

[2019-01-30 03:15] #5556 closed

[2019-01-30 03:35] prateekj117 commented on #5175
@Akhelesh I was just busy, working on this issue.

[2019-01-30 06:38] manisaiprasad opened #5562 "sign in with google isn't working"
when you click on sign in with Google it just shows "We seem to be having some issues on our side."

**Additional details (please complete the following information):**
 - OS: MacOS

[2019-01-30 06:41] prateekj117 commented on #5562
I would like to work on this issue.

[2019-01-30 06:44] manisaiprasad commented on #5562
even i would like to work on this issue

[2019-01-30 06:45] prateekj117 commented on #5562
@manisaiprasad Ok, go ahead.

[2019-01-30 07:15] CosmicCoder96 commented on #5529
@apoorvkhare07 I have added the fileds in https://github.com/fossasia/open-event-server/pull/5560
As a beginner's issue perhaps you can instead help with updating the docs corresponding to this change. I have modified the issue title.

[2019-01-30 08:38] 16608770879 commented on #5546
leva起来

[2019-01-30 13:39] #5549 closed

[2019-01-30 15:31] iamareebjamal commented on #5529
@CosmicCoder96 This will slow down the list queries by a lot. This should be handled by a separate relationship to event

[2019-01-30 19:36] Akhelesh commented on #5175
Sorry I was unclear whether you were working on the issue or not. You can take up the issue

[2019-01-30 19:47] Akhelesh commented on #5153
The issue has been inactive for a long time. I am taking it up

[2019-01-31 03:32] #5523 closed

[2019-01-31 06:12] CosmicCoder96 commented on #5529
@iamareebjamal okay, will make a new PR.

[2019-01-31 16:08] iamareebjamal commented on #5153
@Hudda I don't see it mentioned anywhere that you were working on it

[2019-01-31 16:08] #5519 closed

[2019-01-31 17:11] #5567 closed

[2019-01-31 17:34] Hudda commented on #5153
@iamareebjamal sorry, my mistake. I started working on this but didn't mention it anywhere.

[2019-01-31 19:55] Akhelesh commented on #5153
@Hudda It's not appropriate to not mention that you are working on an issue or else it creates such problems. Besides I too have come up with the solution and would not like my effort to be wasted but I am willing to step down since you started early, if you can open the PR within a day(since you completed it mostly). I will open the PR if that is not the case.
Be sure to comment on the issue in t

[2019-01-31 20:21] iamareebjamal commented on #5521
Fixed

[2019-01-31 20:21] #5521 closed

[2019-02-01 01:47] #5569 closed

[2019-02-01 04:36] Hudda commented on #5153
@Akhelesh thanks brother.

[2019-02-01 05:14] Anupam-dagar opened #5574 "Make date and time in generated pdf look better"
**Describe the bug**

The current date time written in thee ticket pdf is not easy to understand, dividing the date and time in from and start will result in more understandable pdf of ticket.
**Screenshots**

![3ab13ae4-a422-4224-b5f3-6a32a1ac17d7-pdf 01-02-2019 10-37-10](https://user-images.githubusercontent.com/21174572/52103971-4e813900-260e-11e9-8c93-e5b79b20deb4.png)

**Desktop (please compl

[2019-02-01 15:15] #5574 closed

[2019-02-04 12:06] chetanyachopra commented on #4632
is this solved ??

[2019-02-04 15:52] #5552 closed

[2019-02-04 23:16] Akhelesh opened #5583 "api/auth.py: Implement the OAuth login using the requests-oauthlib library"
**Describe the bug**
The current implementation of the auth.py module uses requests library to make calls to the API vendors. The project already has the requests-oauthlib dependency which is rarely used but is a better solution. This will help keep the code consistent among the different vendor requests.

**Expected Behaviour**
Use requests-oauthlib instead of requests library

**Additional conte

[2019-02-05 03:43] prateekj117 commented on #5347
@bhaveshAn @iamareebjamal Is this issue still open? I would like to work on it.

[2019-02-05 03:45] prateekj117 commented on #5358
@mayank8318 @iamareebjamal Is this issue still open? I would like to work on it.

[2019-02-05 14:56] iamareebjamal commented on #5510
/remind me to review this in 2 days

[2019-02-06 12:54] rajdeepbharati commented on #5363
Can I work on this?

[2019-02-06 17:56] CosmicCoder96 opened #5584 "TODO: Make resizing of event images a celery task"
Earlier, the functionality to use the original image to generate images of various sizes was temporarily commented out as it was a blocking task, and the server timed out. It should be handled as a celery task.

[2019-02-07 03:59] #5543 closed

[2019-02-07 08:54] uds5501 commented on #5363
@mrsaicharan1 Can I work on instagram/facebook Oauth?

[2019-02-07 09:04] mrsaicharan1 commented on #5363
@uds5501 Facebook has already been integrated and @prateekj117 is working on instagram I suppose. Maybe you can work on Github OAuth?

[2019-02-07 09:21] uds5501 commented on #5363
@mrsaicharan1 Alright, do I need to open a new issue for that?

[2019-02-07 09:23] uds5501 commented on #5363
@mrsaicharan1 Alright, I am working on the Github OAuth and will refer to this issue only

[2019-02-07 09:31] shreyanshdwivedi commented on #5363
@uds5501 @prateekj117 I'm working on the frontend part of twitter OAuth - https://github.com/fossasia/open-event-frontend/issues/2140
If you want, I can implement the frontend of Github and Instagram OAuth too :)

[2019-02-07 10:03] uds5501 commented on #5363
@shreyanshdwivedi That'd be great

[2019-02-07 10:04] uds5501 opened #5836 "Can't Submit a session via cfs"
**Describe the bug**

I cannot submit a session via cfs by a user who has **not** created the event
**To Reproduce**
Steps to reproduce the behavior:
1. Go to CFS of an event which user has not created
2. Click on the add session proposal
3. Fill the details and hit submit
4. See error

**Expected behavior**

It should not be happening, the session should've been accepted

**Screenshots**

![ezgif

[2019-02-07 11:41] mrsaicharan1 opened #5588 "Facebook Login Should throw an error when auth keys unavailable"
**Describe the bug**
Whenever a user clicks on Login with Facebook, he should be notified if the keys are not set in the admin settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Login Page'
2. Click on 'Login with Facebook'
3. Doesn't do anything

**Expected behavior**
It should notify the user that the keys are not set, otherwise redirect to facebook oauth login page.

**Addit

[2019-02-07 20:59] shubham3211 opened #5591 "Users are given various roles when they are deleted"
**Describe the bug**
Users are given various roles when they are deleted

**Expected behavior**

**Screenshots**
![userdelete](https://user-images.githubusercontent.com/19900978/52442524-5cbce100-2b49-11e9-9c3d-1ddc5ce649b2.gif)

**Additional context**
I am working on this issue

[2019-02-08 16:40] prateekj117 opened #5592 "Implement Facebook OAuth using flask_dance"
Third party authentication using Facebook is already implemented. We should implement it using flask_dance as it is being for other OAuth providers as well.

**Additional context**
I am working on this issue

[2019-02-08 17:25] #5584 closed

[2019-02-09 05:05] #5591 closed

[2019-02-09 14:27] #5588 closed

[2019-02-09 20:56] shubham3211 opened #5594 "Remove delete button if the user is already deleted"
**Describe the bug**
Remove delete button if the user is already deleted

**To Reproduce**
Go to http://localhost:4200/admin/users/deleted

**Screenshot**
![deleteduser](https://user-images.githubusercontent.com/19900978/52526183-28792a00-2cdb-11e9-9b72-a22c3314cef2.png)

**Expected behavior**
Delete button should not be there if the user is already deleted

**Additional context**
I am working on

[2019-02-09 20:58] #5594 closed

[2019-02-10 01:00] CosmicCoder96 commented on #5586
Was caused due to inconsistency between legacy and next-gen naming conventions for event and speaker images, legacy used the type names as `event` and `profile` whereas nextgen uses `event-image` and `speaker-image`.

[2019-02-10 01:00] #5586 closed

[2019-02-10 04:15] CosmicCoder96 opened #5595 "Implement resizing of speaker images using a celery task."
Currently, speaker images are not resized and stored at all.

[2019-02-10 05:01] chetanyachopra commented on #5510
resolved !!

[2019-02-10 05:01] #5510 closed

[2019-02-10 08:15] #5595 closed

[2019-02-10 14:33] shreyanshdwivedi commented on #5175
@prateekj117 are you working on Instagram OAuth? If not, @mrsaicharan1 can do this as he is already working on Twitter OAuth.

[2019-02-10 14:37] prateekj117 commented on #5175
@shreyanshdwivedi @mrsaicharan1 Yes, I am working on this issue, I got caught up in some other work, so sorry for being inactive for a couple of days.

[2019-02-11 12:23] uds5501 opened #5598 "Making the required password length uniform"
**Describe the bug**

For front end : A new user has to set a password of length >= 6
For server : A new user has to set a password of atleast 4 characters. (On making a super-admin by `create_db.py` )

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create_db.py
2. See error

**Expected behavior**

The required length should be uniform so I am proposing to set this length to 6 on serve

[2019-02-12 04:49] mrsaicharan1 commented on #5496
Is this error still occurring? Would like to look into fixing this as this might be a priority in some cases.

[2019-02-12 06:36] #5414 closed

[2019-02-12 08:39] iamareebjamal commented on #5496
I've fixed the bug. The issue is open to discuss the second point

[2019-02-12 16:12] mrsaicharan1 opened #5602 "Make speaker image visible"
**Describe the bug**
Speaker image is not visible on session page
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sessions' section for an event
2. See error

**Expected behavior**
Should show the image as a thumbnail rather than a full resolution image(URL should be in the model)

**Additional context**
Related to https://github.com/fossasia/open-event-frontend/issues/2027
Working on

[2019-02-12 19:24] uds5501 opened #5604 "Admin Statistics counting deleted events"
**Describe the bug**

The frontend is accounting deleted event data in the front-end admin statistics.
For ex. the published event count being shown is 3 even though one of the events has been deleted. Same goes for draft counts.

Note : I am opening this issue in the server side because the `admin` panel has direct end-point at the server.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2019-02-13 03:01] #5604 closed

[2019-02-13 04:47] #5598 closed

[2019-02-13 05:34] mrsaicharan1 opened #5606 "Admin Messages section filled with dummy data"
**Describe the bug**
Go to admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Messages in Admin Panel'
2. See error

**Additional context**
Working on the aforementioned bug fix

[2019-02-13 06:24] mrsaicharan1 commented on #5608
Would like to work on this.

[2019-02-13 08:41] iamareebjamal commented on #5606
This is most likely a duplicate

[2019-02-13 14:33] mrsaicharan1 commented on #5496
@iamareebjamal IMO, creating an endpoint would be much feasible as the user can click a button and get the updates instantaneously.

[2019-02-13 14:35] mrsaicharan1 commented on #5496
Otherwise, he would have to wait for the cache cycle-time to finish.

[2019-02-13 15:22] mrsaicharan1 commented on #5606
Will close this issue.

[2019-02-13 15:22] #5606 closed

[2019-02-14 12:17] iamareebjamal commented on #5496
This option does not concern the user. But yes, I agree there should be an endpoint for admins to refresh the settings

[2019-02-15 06:31] uds5501 opened #5611 "Discount Codes' time frame not being considered while applying it"
**Describe the bug**

ATM, any discount code's validity time frame is not being considered while applying it. In short, if my discount code is valid from 24 Feb to 2 March '19, I can still manage to apply it on 14 Feb. Moreover, the discount codes with Inactive condition are also being applied which should not be the case

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a discount code

[2019-02-15 15:23] uds5501 commented on #5611
@CosmicCoder96 @iamareebjamal @niranjan94
I could actually use some assistance regarding which `schema` \ `before_get_object` to be modified whenever we use this request in the frontend : `http://localhost:4200/e/<event_id(or code)>?code=<discount_name>`
Please guide me on which file to modify in the server

[2019-02-16 08:15] #5607 closed

[2019-02-17 11:51] divyam-goel opened #5614 "Unable to login to the Admin Panel."
**Description:**
When we try to login to admin panel, even if the credentials belong to super-admin, it returns "Credential incorrect"

**Steps to reproduce the behavior:**
1. Go to 127.0.0.1:5000/admin
2. Enter the admin credentials
3. Click on login button
4. See error "Credential incorrect"

**Expected Behaviour:**
It should login the user to the admin panel if credentials are correct and the u

[2019-02-17 11:56] mrsaicharan1 commented on #5614
Will work on this and fix it up.

On Sun, 17 Feb 2019 at 5:21 PM, Divyam Goel <notifications@github.com>
wrote:

[2019-02-17 11:57] divyam-goel commented on #5614
@mrsaicharan1  I wanted to work on this issue.

[2019-02-17 11:57] mrsaicharan1 commented on #5614
Go ahead :)

On Sun, 17 Feb 2019 at 5:26 PM, saicharan reddy <saicharan.reddy1@gmail.com>
wrote:

[2019-02-17 13:02] ajitesh-30 commented on #5562
@manisaiprasad  Any updates on this issue as the problem still exists.

[2019-02-17 15:31] #5614 closed

[2019-02-17 16:58] #5611 closed

[2019-02-18 06:52] mrsaicharan1 opened #5616 "Admin sales shows unexpected error occurred when orders are None"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin sales section of admin panel'
2. See error

**Expected behavior**
Should show correct order info

**Screenshots**
![screenshot from 2019-02-18 10-50-16](https://user-images.githubusercontent.com/25197147/52933563-c7f08980-3379-11e9-9e69-054233a5bdd7.png)

**Stacktrace**

    'sales_total': sum([o.amount for o i

[2019-02-18 08:46] shreyanshdwivedi opened #5617 "Add isBillingEnabled to order object"
**Is your feature request related to a problem? Please describe.**

In redesigning the order review page, we need to know is billing was enabled for that particular order or not
Currently there is no way to know this.

**Describe the solution you'd like**

Adding `isBillingEnabled` field to the `order` can allow us to get this info

**Additional context**

Working on it

[2019-02-18 09:44] mrsaicharan1 opened #5618 "Donations PATCH error"
**Describe the bug**
Donations aren't getting enabled on the admin panel. Throws a 409 conflict error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin Panel'
2. Click on 'Modules Section'
3. See unexpected error

**Additional context**
Working on this.
![screenshot from 2019-02-18 15-12-59](https://user-images.githubusercontent.com/25197147/52941946-e9f50680-338f-11e9-9882-45bf3

[2019-02-18 10:28] mrsaicharan1 commented on #5618
Has donations been set up prior to this? Or do we just need to fix the PATCH issue?

[2019-02-18 10:55] mrsaicharan1 commented on #5616
Would like to confirm if it's a local error or a site-wide error.

[2019-02-18 11:18] mrsaicharan1 opened #5619 "Translations download not working for Admin(.po messages)"
**Describe the bug**
Admin should be able to download .po messages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin page'
2. Click on 'Content tab'
3. Click down to 'Translations' bar
4. Click on the download button for .po files
5. No action
**Expected behavior**
The .po files should be downloaded in a .zip format

**Additional context**
Willing to work on this

[2019-02-18 13:42] uds5501 opened #5621 "By-Organizer section showing no information in Admin/Sales"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Sales
2. See error
![image](https://user-images.githubusercontent.com/21087061/52954161-6e0ab680-33af-11e9-9d7e-f18597574159.png)

**Expected behavior**

It should be showing the information of the sales per event organiser email

**Additional details (please complete the following information):**
 - OS: [e.g. M

[2019-02-18 15:19] iamareebjamal commented on #5617
Billing enabled for a particular order?

[2019-02-18 15:33] shreyanshdwivedi commented on #5617
@iamareebjamal yes. Please refer to discussion here - https://github.com/fossasia/open-event-frontend/issues/2047#issuecomment-464494518

[2019-02-19 06:54] uds5501 opened #5622 "Custom Forms for a new user's event not being created"
**Describe the bug**

A server side extension of the bug fossasia/open-event-frontend#2205

**To Reproduce**
Steps to reproduce the behavior:
1. First Logout of the session
2. Click on Create Event
3. Register a new user
4. Make a dummy event and publish it with tickets
5. Go to Event | Tickets  | Order Form

**Expected behavior**

Custom Forms should've been created regardless of user status (new

[2019-02-19 07:06] uds5501 commented on #5616
@mrsaicharan1 I have created a fresh database and created no event so far. The Page is loading fine
![image](https://user-images.githubusercontent.com/21087061/52996232-f4240d00-3442-11e9-8edf-bf0e95d4a2dd.png)

[2019-02-19 18:06] mrsaicharan1 commented on #5616
Hmm. Seems to be a local database entry error. Will close it in favour of this.

[2019-02-19 18:06] #5616 closed

[2019-02-20 10:25] uds5501 opened #5626 "copied events have no organizer"
**Describe the bug**

Currently, copied events have no associated event roles and are being showed with no organizers

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any event
2. Click on copy
3. Go to Admin/Events
4. See error

![screenshot from 2019-02-20 15-53-44](https://user-images.githubusercontent.com/21087061/53084979-eb593700-3527-11e9-86a5-1a5c868d3db5.png)

**Expected behavi

[2019-02-20 15:50] #5621 closed

[2019-02-20 18:43] uds5501 opened #6266 "every user is organizer for every event"
**Describe the bug**

Please refer to the screen shot given below

**Expected behavior**

Only the events whom the user is actually an organiser should be displayed

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/53115919-5bd67700-356d-11e9-9181-adbf6bf4eddf.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu
 - Browser [e.g. chrome

[2019-02-20 19:40] divyam-goel commented on #5363
@mrsaicharan1 @uds5501 is there any other OAuth left to implement?

[2019-02-20 19:51] uds5501 commented on #5363
I don't think that there are any notable third party oauths left for now

On Thu, 21 Feb 2019, 01:10 Divyam Goel <notifications@github.com wrote:

[2019-02-20 20:47] prateekj117 opened #5628 "Dump oevent database to opev_test"
**Describe the bug**
Delete the clause in local.md to dump the oevent database into opev_test as it would mess up running local tests.

**Additional context**
Working on it.

[2019-02-20 20:50] prateekj117 opened #5629 "Changes in .env.example"
**Describe the bug**
Correction of password in TEST_DATABASE_URL in .env.example

**Additional context**
Working on it

[2019-02-20 20:51] iamareebjamal commented on #5629
Duplicate of #5628

All document related changes should be done in single issue/PR

[2019-02-20 20:51] #5629 closed

[2019-02-20 21:59] uds5501 opened #5631 "admin dashboard : number of organisers > number of actual users"
**Describe the bug**

Currently, the admin dashboard is effectively reporting the number of `published + draft` events in the `No. of organizers` tab which should not be the case.
In my example, the number of total organisers is 3 while the number reported here is 7

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin Dashboard
2. See error

**Expected behavior**

It should be reporti

[2019-02-21 12:23] divyam-goel opened #5633 "File upload helper tests failing."
**Describe the bug**
The tests "test_upload_single_file" and "test_upload_multiple_file" in "tests/all/integration/api/helpers/test_files.py" are failing.

**To Reproduce**
Steps to reproduce the behavior:
1. Run python3 -m unittest tests/all/integration/api/helpers/test_files.py
4. See error

**Expected behavior**
The forementioned tests should pass.

**Stacktrace**
![error](https://user-images.g

[2019-02-21 15:31] #5633 closed

[2019-02-21 19:14] #5631 closed

[2019-02-22 04:07] #5628 closed

[2019-02-22 04:11] #5622 closed

[2019-02-22 04:54] uds5501 opened #5644 "deleting Inactive Users assigning them roles automatically"
**Describe the bug**

Deleting Inactive Users assigning them roles automatically, please see the GIF for clarity

**Expected behavior**

No such roles should be assigned to any deleted user

**GIF**

![ezgif com-video-to-gif 5](https://user-images.githubusercontent.com/21087061/53220697-e57c6680-368b-11e9-9c07-1afb9d2450ff.gif)

**Desktop (please complete the following information):**
 - OS: [e.g.

[2019-02-22 19:47] Anupam-dagar opened #5639 "Link to maps API in readme is 404."
**Describe the bug**

In the readme, the link to retrieve the google maps API key is now 404.

**Expected behavior**
Correct link should be there.

[2019-02-23 03:36] mrsaicharan1 opened #5641 "Improve test for authentication"
**Describe the bug**
Currently, the test `test_auth.py` only checks for one method. This  leads to less test coverage.

**Expected behavior**
Needs to test all available methods for good testability.

**Additional context**
Working on it.

[2019-02-23 04:32] #5626 closed

[2019-02-23 20:29] divyam-goel opened #5643 "Email IDs are case-sensitive, allowing multiple accounts with one handle"
**Describe the bug**
Currently, email id is stored in the database as raw string i.e. as entered by the user and then during auth the user is expected to enter the exact case-sensitive email id. This can lead to creation of multiple accounts with one email id and is a major bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login
2. Go to create account
3. Enter email id and password

[2019-02-24 01:43] #5639 closed

[2019-02-24 01:44] #5641 closed

[2019-02-24 05:17] divyam-goel commented on #5643
@iamareebjamal @CosmicCoder96 this change will have to be made at multiple places. Essentially everytime we take email id as input from the user we will have to lowercase it for consistency in the database. Can you suggest what all places should I look into to fix the issue?

[2019-02-24 06:12] iamareebjamal commented on #5643
The only place it needs to change is registration

[2019-02-24 10:09] divyam-goel commented on #5643
@iamareebjamal I will have to make the following changes if we want to allow the users to enter the 'email' in any 'case'.

Changes for Email consistency:
-- app/api/users.py
UserList - before_create_object (change)
UserDetail - before_update_object (change)
is_email_available (change)

-- app/api/events.py
EventList - before_create_object (add)
EventDetail - before_update_object (change)

-- app/

[2019-02-24 10:09] uds5501 opened #5645 "Number of attendees in admin section is wrong"
**Describe the bug**

In the admin dashboard, the given number of attendees is wrong because we can simply find the list of attendees in any event's attendee list

![image](https://user-images.githubusercontent.com/21087061/53297811-e22ed980-3849-11e9-9463-f84f4d2f945f.png)

![screenshot from 2019-02-24 15-33-02](https://user-images.githubusercontent.com/21087061/53297815-ef4bc880-3849-11e9-8a63-d

[2019-02-24 10:26] divyam-goel opened #5646 "Change method used for password validation in jwt_authenticate"
**Describe the bug**
jwt_authenticate function currently uses check_password_hash to validate password while a User class method exists for the same. Therefore to increase consistency in the code we should replace check_password_hash with is_correct_password (instance method of User class).

**Additional context**
I am working on it.

[2019-02-24 13:07] iamareebjamal commented on #5643
Just create an index on email fields to be unique lower

[code]

[2019-02-24 16:56] uds5501 commented on #5581
Working on this

[2019-02-24 17:02] divyam-goel commented on #5643
That's a great solution. I will update it and create a PR as soon as possible.

[2019-02-24 17:28] divyam-goel commented on #5643
This is a good solution however, I feel it will miss some cases. For example: while logging in, if the user entered the email in a different case then the might fail. Moreover, the data in database won't be as consistent, I think it's better if all the emails are stored in lowercase. Therefore, I think the best way to solve this issue might be that whenever we take email as input from the user we

[2019-02-24 17:38] iamareebjamal commented on #5643
Why will it fail?

How does your solution work on pre-existing data? And ensures on database level that data will not be inconsistent

[2019-02-24 19:35] #5645 closed

[2019-02-26 03:20] prateekj117 opened #5650 "Travis build shows wrong error message"
**Describe the bug**
Travis CI build shows Multiple migrations heads error even when the error is something else.

**Additional context**
Working on it

[2019-02-26 06:49] divyam-goel commented on #5643
I will explain what I am trying to say with an example:

## Example
### During Registration
email entered by the user: "EXAMPLE@EXAMPLE.COM"

### Database
email stored in the database: "EXAMPLE@EXAMPLE.COM"
email in the index: "example@example.com"

### During Logging In
email entered by the user: "EXAMPLE@example.com"

### Problem
The email id entered by the user during logging in, does not match

[2019-02-26 07:06] divyam-goel commented on #5592
@prateekj117 are you still working on this issue? If not, I'd be interested to work on it.

[2019-02-26 08:04] divyam-goel commented on #5583
Can I work on this issue?

[2019-02-26 15:19] iamareebjamal commented on #5643
We need a solution which works for previous emails and prevents inconsistency on database level

[2019-02-26 17:02] divyam-goel commented on #5643
My plan was to use both the things mentioned below.

This will prevent future inconsistency.

This will make sure the system works for previously  existing emails in database.
I think this will solve the issue.

[2019-02-26 17:12] iamareebjamal commented on #5643
OK

[2019-02-26 19:19] divyam-goel commented on #5496
I guess both the things should be there. Incase user makes an update but then forgets about refreshing the cached settings, it will automatically happen once the cache expires. Moreover, if the user wants the settings to immediately be reflected then he/she can simply hit the refresh button.

[2019-02-26 19:19] angmas1 opened #5652 "Events list based on location."
**Is your feature request related to a problem? Please describe.**
I want to suggest user similar events in open-events-android app based on searchable location of the event he is currently viewing.

**Describe the solution you'd like**

I will pass event-identifier of the event user is currently viewing and want a list if events which include the searchable location of the event whose id is sent.

[2019-02-27 16:54] uds5501 commented on #5652
I would like to work on it post completion of #5651 , meanwhile if anyone wants to take it up, feel free to do so

[2019-02-28 01:51] dhsgisc opened #5653 "Make discount/promotional code case-insensitive"
**Is your feature request related to a problem? Please describe.**

Users get invalid discount/promotional code error because it is currently case-sensitive.

**Describe the solution you'd like**

It will be a better user experience if we make the discount/promotional code case-insensitive.

**Describe alternatives you've considered**

**Additional context**

[2019-02-28 01:57] prateekj117 commented on #5652
@uds5501 I will work on it after Insta Oauth gets done.

[2019-02-28 02:52] #5646 closed

[2019-02-28 03:43] shreyanshdwivedi commented on #5653
@dhsgisc are you working on this? I would like to take this up

[2019-02-28 04:34] dhsgisc commented on #5653
pls be my guest mr @shreyanshdwivedi :)

[2019-02-28 05:38] rolandturner opened #5654 "Password reset link is not a hyperlink"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `4629c62`]

**Additional context**

[2019-02-28 10:02] uds5501 commented on #5654
@rolandturner Shall I work on this?
Also, I'm afraid your image link isn't working either :sweat_smile:

[2019-02-28 10:22] mrsaicharan1 commented on #5654
Will take a closer look into this.

[2019-03-01 01:41] #5581 closed

[2019-03-01 01:41] #5617 closed

[2019-03-02 01:54] rolandturner commented on #5654
I have no objection to anyone working on it, I filed the ticket merely to make the problem visible in the hope that someone will work on it!

I'm not sure what you mean by my image link.

[2019-03-03 19:23] Haider8 commented on #5654
@uds5501 can i please work on this issue

[2019-03-03 19:25] Haider8 commented on #5602
@mrsaicharan1 since it's been 19 days, can i work on this issue now

[2019-03-03 19:27] Haider8 commented on #5496
@iamareebjamal can i work on adding a endpoint to refresh settings

[2019-03-03 22:03] uds5501 commented on #5654
@Haider8 @rolandturner Certain things I came across while traiging.
I can't see any beacon whatsoever. Could you please provide a screen shot maybe?
The link is perfectly clickable (at least in legacy version)

[2019-03-04 13:10] shreyanshdwivedi commented on #5653
@Anupam-dagar I already made the changes on my local but couldn't make a PR due to my busy schedule.

[2019-03-04 13:17] Anupam-dagar commented on #5653
@shreyanshdwivedi is it okay if I keep my PR open? I missed out on the claim part here.

[2019-03-04 13:24] shreyanshdwivedi commented on #5653
@Anupam-dagar it's ok. Please take care for next time

[2019-03-04 13:27] Anupam-dagar commented on #5653
@shreyanshdwivedi  sure :tada:

[2019-03-05 07:58] kushthedude opened #5660 "Register doesn't recognises 'string@string' as valid Email"
**Describe the bug**

Register user produces an unexpected error upon registering with email of type 'string@string'.

**To Reproduce:**
Steps to reproduce the behaviour:
1.)Go to'/Register'.
2.)Register with email of type 'string@string'
3.)See the error

**Expected behavior**
It should recognise it has an email as 'string@string' is a valid email format.

**Additional details (please complete th

[2019-03-05 09:53] #5496 closed

[2019-03-05 09:58] iamareebjamal commented on #5602
Go ahead

[2019-03-05 12:13] uds5501 opened #5661 "Loading admin/users throws 404"
**Describe the bug**

Clicking on Admin/Users throws a 404 error screen
![image](https://user-images.githubusercontent.com/21087061/53804556-d5a73100-3f6d-11e9-9b14-cd10d1485266.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Users
2. See error

**Expected behavior**

Normal User lists should've load up instead of a 404

**Stacktrace**

[code]
**Additional details (please co

[2019-03-05 14:21] prateekj117 commented on #5592
@divyam-goel Yaa, working on it.

[2019-03-05 18:11] CosmicCoder96 commented on #5661
@uds5501 a pointer: I have seen this before, usually occurs when marshmallow validation fails.

[2019-03-05 18:20] uds5501 commented on #5661
@CosmicCoder96 Thanks for the pointer!

[2019-03-05 20:10] kushthedude opened #5662 "Deleted events stays in cache until refreshed"
**Describe the bug**

-Whenever you delete an event,A tooltip appears showing event is deleted.
-Event stays in cache until the page is refreshed.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/Events/Live'
2. Try to delete an event.
3. Refresh the page .
4. See error

**Expected behavior**

When a event is deleted , The page should be refreshed to remove the event from the list.

**

[2019-03-06 05:03] iamareebjamal commented on #5662
How is this a server issue?

[2019-03-06 05:15] kushthedude commented on #5662
Sir,Should I move it to frontend issue ?

[2019-03-06 06:29] kushthedude commented on #5660
@uds5501 i was trying to find where the rules of email are specified but i was not able to find as everywhere its just using email as an attribute. Any help?

[2019-03-06 06:33] kushthedude commented on #5662
Sorry @iamareebjamal ,Without giving a second look at issue i instantly opened it here , will keep in mind from here.

[2019-03-06 06:33] #5662 closed

[2019-03-06 08:44] uds5501 commented on #5660
@kushthedude In the server, authorisation is being handled by `flask_login` and maybe this 422 error is from there only.

[code]
This is the error trace that I am getting and yeah, this is not being handled by the project so it must be `flask_login` . Kindly check the documentation for the same

[2019-03-06 10:10] uds5501 commented on #5661
@CosmicCoder96 @iamareebjamal I have a work around which is not exactly removing the 404 from the front end but is somewhat working without an error as an API

The modifications I did were :
[code]
and
[code]
after these modifications, the request `http://127.0.0.1:5000/v1/users?page[size]=10&get_trashed=true&filter=[]`
is giving me
[code]

[2019-03-06 10:11] uds5501 commented on #5661
but the front-end is still throwing a 404

[2019-03-06 13:54] iamareebjamal commented on #5660
This has surfaced recently. Even normal emails are denied

[2019-03-06 14:17] uds5501 opened #5663 "User can create events in past dates"
**Describe the bug**

I can create an event with the duration in the past which should be (obviously) not allowed.

**To Reproduce**
![ezgif com-video-to-gif 7](https://user-images.githubusercontent.com/21087061/53887524-7bc76980-4048-11e9-87d3-99127a603152.gif)

**Expected behavior**

It should throw UnprocessableEntry error if event's start-date is set before current date

**Additional details (

[2019-03-06 19:42] CosmicCoder96 commented on #5661
no you don't modify the library, clear your database, and new users, the issue shouldn't persist.

[2019-03-07 02:38] CosmicCoder96 opened #5664 "Make resizing of user images a celery task"
it may time out as it is being handled synchronously right now.

[2019-03-07 03:05] Haider8 commented on #5664
@CosmicCoder96 Can i work on this issue please ?

[2019-03-07 05:40] iamareebjamal commented on #5664
Go ahead

[2019-03-07 05:41] iamareebjamal commented on #5663
Low priority. You may work on it but there are higher priority tasks which need to be done

[2019-03-07 05:44] uds5501 commented on #5663
@iamareebjamal Sure, I would start working on the high priority ones first and maybe finish this one later!

[2019-03-07 09:19] kushthedude commented on #5660
@iamareebjamal Can i work on it?

[2019-03-07 09:29] mrsaicharan1 opened #5665 "Travis:Failing tests for resized images"
**Describe the bug**
Below tests are failing in `tests_files`
     ERROR: Method to test create image sizes
     ERROR: Method to test create resized images
`urllib.error.HTTPError: HTTP Error 403: Forbidden`

**Expected behavior**
Tests should pass

[2019-03-07 11:14] mrsaicharan1 commented on #5665
![screenshot from 2019-03-07 14-52-28](https://user-images.githubusercontent.com/25197147/53952980-424e3700-40f8-11e9-94d0-b55f7f8f1e6f.png)
![screenshot from 2019-03-07 14-52-35](https://user-images.githubusercontent.com/25197147/53952983-437f6400-40f8-11e9-84c5-5b99c2aac332.png)

[2019-03-07 19:18] iamareebjamal commented on #5665
Since which PR did it start failing?

[2019-03-07 19:19] iamareebjamal commented on #5660
First work on normal email validation failure such as 'test@example.com'

[2019-03-08 07:04] Haider8 commented on #5663
@uds5501 can i try to fix this until then ?

[2019-03-08 07:06] uds5501 commented on #5663
@Haider8  go ahead

[2019-03-08 11:42] mrsaicharan1 commented on #5665
#5658 I believe.

[2019-03-08 12:41] prateekj117 opened #5667 "Facebook Login shows error in next.eventyay website"
![auth-issue](https://user-images.githubusercontent.com/31065687/54029183-90813a00-41cd-11e9-8540-8935372723ca.png)

[2019-03-08 12:43] YogeshSharma0201 commented on #5546
Working on this issue.

[2019-03-08 12:49] prateekj117 opened #5668 "Facebook Login doesn't work"
**Describe the bug**
When testing the website locally using API server also running locally, clicking on Facebook Login does not trigger anything. It doesn't show any pop-up or any error in logs or on the website.

**Expected behavior**
It should show a pop-up to ask permission for using our Facebook's info.

**Additional context**
Working on it.

[2019-03-08 12:51] prateekj117 commented on #5667
Link related to issue - https://stackoverflow.com/questions/37001004/facebook-login-message-url-blocked-this-redirect-failed-because-the-redirect

[2019-03-08 13:55] mrsaicharan1 commented on #5668
This is not an issue I believe. You need to set the OAuth keys for this to work.

[2019-03-08 13:57] prateekj117 commented on #5668
@mrsaicharan1 Did that already. Plus, even if someone does not do that, the button shouldn't be unresponsive, it should have shown some error.

[2019-03-08 22:34] iamareebjamal commented on #5668
This should be in frontend

[2019-03-08 22:35] iamareebjamal commented on #5667
@CosmicCoder96 Who has access to the Facebook app settings?

[2019-03-08 22:37] iamareebjamal commented on #5665
Doesn't make sense, tests passed on that PR. If that was the case they would have failed

[2019-03-08 22:37] iamareebjamal commented on #5665
Also, nothing related to authorization changed there

[2019-03-09 12:14] Haider8 opened #5670 "Sessions can have the date in the past"
**Describe the bug**
Currently a session can be held in the past date which is not correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'create event' or 'edit event' on the Manage Events section
2. Click on 'Sessions and Speakers' tab
3. After filling mandatory fields input 'Starts' or 'Ends' field in the past
4. See error

**Expected behavior**
Should have rejected the past dates

[2019-03-09 12:51] iamareebjamal commented on #5670
Yes there may be many more logical errors but there are much more higher priority tasks than this. You may work on this but try to take up tasks which block the API from being used bug free. These issues can be categorized as enhancements and taken up later when breaking bugs are solved. However since you have worked recently on a similar issue, go ahead

[2019-03-09 13:24] Haider8 commented on #5670
@iamareebjamal will work on high priority issues.

[2019-03-10 01:24] Nightrider0098 opened #5672 "ubuntu failed to perforom step 4 of basic installation in docs"
after creating database and closing postgresql next step 'cp .env.example .env ' is giving error
cp: cannot stat '.env.example': No such file or directory

[2019-03-10 03:23] mrsaicharan1 commented on #5665
My bad, I'll check what's causing this.

[2019-03-10 03:36] mrsaicharan1 commented on #5665
@iamareebjamal Is it something wrong with the link(urllib isn't able to access) or is it something else?

[2019-03-10 03:42] mrsaicharan1 commented on #5665
https://travis-ci.org/fossasia/open-event-server/builds/501947056?utm_source=github_status&utm_medium=notification

[2019-03-10 03:43] mrsaicharan1 commented on #5665
Please correct me if I'm wrong,Travis started failing from that PR. But I dont' see why the test was failing. Will try testing it with another link

[2019-03-10 04:57] mrsaicharan1 commented on #5672
Please check this once again.  Might be a file path error on your system.

[2019-03-10 06:44] #5665 closed

[2019-03-10 06:50] iamareebjamal commented on #5672
You're not in the correct directory. I'm closing the issue because it's not actually an issue but continue the discussion to get it resolved on your end

[2019-03-10 06:50] #5672 closed

[2019-03-10 12:28] kushthedude commented on #5670
@Haider8 I think its same as #5663

[2019-03-10 14:32] iamareebjamal commented on #5670
No, it's not

[2019-03-10 17:35] mrsaicharan1 opened #5674 "Replace all 3rd party links to reliable resource"
**Describe the bug**
Many links which have either been used for testing/mainstream access  using `urllib` are often blocked due to some issue with the site security or some other reason.

**Expected behavior**
All links must point to a certain reliable resource like FOSSASIA's website to ensure reliable access.

**Stacktrace**
One of the plausible errors which might occur `urllib.error.HTTPError:

[2019-03-10 19:32] uds5501 commented on #5643
@divyam-goel if you have not invested much time on this enhancement, could I take over?

[2019-03-10 20:49] uds5501 commented on #5498
@iamareebjamal Can multiple people work on this issue?

[2019-03-10 22:58] uds5501 commented on #5579
@CosmicCoder96 @mariobehling @iamareebjamal  this issue can be closed. I can easily create sessions by co-organizer access and FWIW, here is a picture which shows Co-Organizers being listed as expected

![image](https://user-images.githubusercontent.com/21087061/54092765-1b248d80-43b6-11e9-9de4-524e4d5791bf.png)

[2019-03-10 23:09] uds5501 opened #5675 "Super Admin is unverified user"
**Describe the bug**

Admin/Users shows the super admin to be unverified

**Expected behavior**

It should simply be verified!

![image](https://user-images.githubusercontent.com/21087061/54092850-4eb3e780-43b7-11e9-968d-d94040fe563b.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu 16.04 LTS
 - Browser [e.g. chrome, safari] Chrome

**Additional context**

Ope

[2019-03-11 02:13] CosmicCoder96 commented on #5579
yeah it started working when I refactored the role invites API.

[2019-03-11 02:13] #5579 closed

[2019-03-11 02:16] iamareebjamal commented on #5498
Yes

[2019-03-11 08:35] CosmicCoder96 commented on #5602
No, this is not a valid issue, speaker image resizing was to be done as a celery task which was already completed in #5595
The frontend should be able to access all the images now.

[2019-03-11 08:35] #5602 closed

[2019-03-11 08:51] uds5501 opened #5676 "every user is organizer for every event"
**Describe the bug**

Please refer to the screen shot given below

**Expected behavior**

Only the events whom the user is actually an organiser should be displayed

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/53115919-5bd67700-356d-11e9-9181-adbf6bf4eddf.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu
 - Browser [e.g. chrome

[2019-03-12 21:18] AnkurIngale commented on #5675
I'll like to work on it.

[2019-03-13 07:48] mrsaicharan1 opened #5680 "Date for speakers call shouldn't be past event date"
![Screenshot from 2019-03-13 13-17-53](https://user-images.githubusercontent.com/25197147/54261749-9347aa80-4592-11e9-9bdf-1dc71a134e4e.png)
**Describe the bug**
Currently, the Call for Speakers date can be set after the Event date.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create event'
2. Fill in necessary details and go to Sessions&Speakers tab
3. Set the Event date as Friday

[2019-03-13 22:04] shreyanshdwivedi opened #5682 "is_billing_enabled is not updatable"
**Describe the bug**

`is_billing_enabled` field is not updatable which is the primary reason of forbidden message when integrating `isBillingEnabled` to front-end and ordering ticket.

**Expected behavior**

The tickets should be ordered without any forbidden message

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS] Ubuntu 18.04

**Additional

[2019-03-14 02:48] prateekj117 opened #5684 "Ticketing not enabled error message"
**Describe the bug**
Ticketing not enabled error message comes when an unverified user tries to register an event or someone tries to register the event without giving a location.

**Expected behavior**
Error Message should be more clear and helpful to the user.

**Additional context**
Working on it.

[2019-03-14 02:51] prateekj117 opened #5685 "Link in email verification"
**Describe the bug**
The link for the email verification sent to the user starts with eventyay rather than next.eventyay and this has to be changed manually when accessing the link to verify the user.

**Additional context**
Working on it

[2019-03-14 03:07] prateekj117 commented on #5668
@iamareebjamal I think here we can discuss the implementation for the OAuth problem of Facebook. I have also opened an issue on the frontend regarding the same.
https://github.com/fossasia/open-event-frontend/issues/2298

[2019-03-14 03:39] iamareebjamal commented on #5668
Ok. @mrsaicharan1 Can you please mention other people who were implementing other OAuth providers so that we can discuss?

[2019-03-14 03:40] iamareebjamal commented on #5685
Development configuration issue. @CosmicCoder96 can you please change the frontend URL in the admin settings?

[2019-03-14 03:54] mrsaicharan1 commented on #5668
@uds5501 We can discuss regarding the Oauth issue here.

[2019-03-14 06:54] mrsaicharan1 commented on #5684
What is the expected Error Message here?

[2019-03-14 07:05] prateekj117 commented on #5684
@mrsaicharan1 Error message should give the detail why ticketing is not enables, like "User is unverified" or "You need to specify the location of the event", etc.

[2019-03-14 07:48] kushthedude commented on #5668
@mrsaicharan1 I would like to participate in workaround needed for the Oauth reconfiguration.

[2019-03-14 19:35] #5670 closed

[2019-03-14 20:45] #5663 closed

[2019-03-15 11:37] harsh-jindal opened #5694 "Fix bug in start and end date"
**Describe the bug**

Currently a user can choose the start/end date to be before the current date.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Event'
2. Click on 'Session & Speakers'
3. Scroll down to 'Call for speakers'
4. See error

**Expected behavior**

User should not be able to select the start/end date before the current date.
**Screenshots**

![Screenshot 2019-03-15

[2019-03-16 07:38] uds5501 opened #5690 "import event is broken"
**Describe the bug**

When trying to import an event in a fresh database , it is throwing an error which states.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event and export it, you should get a zip folder like : `event<id>.zip`
2. Drop current database and create fresh database
3. Try importing this event as an admin
4. See error

**Expected behavior**
It should've imported wi

[2019-03-16 07:40] uds5501 commented on #5690
On frontend :
![image](https://user-images.githubusercontent.com/21087061/54472334-d735ec00-47ec-11e9-84c5-71338ffae433.png)

[2019-03-16 07:53] iamareebjamal commented on #5690
Check the error again. I think it is a one time error

[2019-03-16 08:12] uds5501 commented on #5690
@iamareebjamal I tried it again in the same sequence of events, it gives the same error

[2019-03-16 08:23] iamareebjamal commented on #5690
OK. Strange

[2019-03-16 09:24] Haider8 opened #5691 "Cookie policy link on the landing page is broken"
**Describe the bug**

The cookie policy link (http://next.cookie-policy.eventyay.com) is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'landing page'.
2. Click on 'click here' link on the message shown at the top.
3. See error.

**Screenshots**
![cookie-policy-link](https://user-images.githubusercontent.com/43299408/54473266-5b8f6b80-47fb-11e9-9e88-e38a7e6587ee.png)
![Uploadi

[2019-03-16 09:27] iamareebjamal commented on #5691
Not a server issue. Should be moved to frontend

[2019-03-16 09:30] Haider8 commented on #5691
@iamareebjamal but this link is specified in the ```app/models/setting.py```

[2019-03-16 11:19] iamareebjamal commented on #5691
Ok

[2019-03-16 14:59] uds5501 commented on #5644
Pushing a PR tonight

[2019-03-17 05:33] uds5501 commented on #5691
@Haider8 @iamareebjamal I think https://eventyay.com/cookie-policy/ redirects to legacy (v1) cookie policy page. shouldn't there be a new one for v2?

[2019-03-18 02:17] CosmicCoder96 commented on #5685
@iamareebjamal done.

[2019-03-18 02:17] #5685 closed

[2019-03-19 03:11] #5682 closed

[2019-03-19 08:15] shreyanshdwivedi opened #5697 "Payment currency missing in admin sales api"
**Describe the bug**

`payment_currency` is missing in `discounted` and `events` of `admin_sales`.

**Expected behavior**

`payment_currency` must be returned too

**Additional context**

Related to https://github.com/fossasia/open-event-frontend/issues/2316
Working on it

[2019-03-19 10:07] kushthedude commented on #5694
@harsh-jindal Can i solve it if you have not made significant progress on it?

[2019-03-19 13:24] mrsaicharan1 commented on #5608
I've closed the previous PR corresponding to this for clarity reasons. @CosmicCoder96 Will it be credible enough to check if the ticket holder is the same person who's accessing the link(writing conditionals in Jinja)?

[2019-03-20 11:15] #5674 closed

[2019-03-20 11:21] iamareebjamal commented on #5608
No, the access needs to be controlled from API side.

[2019-03-20 11:23] iamareebjamal commented on #5694
These are minor issues guys. Focus on bugs which prevent the system from being usable. These are not even bugs, these are enhancements

[2019-03-20 11:27] iamareebjamal commented on #5697
Why can't the payment currency of event be used?

[2019-03-20 11:44] shreyanshdwivedi commented on #5697
@iamareebjamal the data available at `/admin/sales` doesn't include event info. It only has the details returned by this api.
![Screenshot from 2019-03-20 17-13-27](https://user-images.githubusercontent.com/25428397/54681952-9f53df00-4b33-11e9-8216-6ef9ae337ee8.png)

[2019-03-20 11:50] #5618 closed

[2019-03-20 12:57] #5697 closed

[2019-03-20 12:59] kushthedude commented on #5694
@iamareebjamal No problem!

[2019-03-20 16:11] bhawesh96 commented on #5694
@harsh-jindal Looks like this issue can be closed here

[2019-03-20 16:13] iamareebjamal commented on #5694
Let it he open. Just focus on bugs

[2019-03-20 16:14] kushthedude commented on #5694
@bhawesh96 let the issue be open so that it can be worked upon later.

[2019-03-20 16:41] uds5501 commented on #5470
@iamareebjamal I guess we can close this issue now?

[2019-03-20 16:43] mrsaicharan1 commented on #5608
@iamareebjamal Alright.

[2019-03-20 17:08] uds5501 commented on #5026
@iamareebjamal @CosmicCoder96 I think it has been recently fixed in FE using `destroyRecord`

[2019-03-20 19:03] pnijhara commented on #5652
Can I work on this issue.

[2019-03-20 19:05] prateekj117 commented on #5652
@pnijhara Go ahead.

[2019-03-20 19:53] #5026 closed

[2019-03-20 19:58] #5470 closed

[2019-03-21 04:57] mrsaicharan1 commented on #5690
I suppose this is a duplicate of #4613

[2019-03-21 05:24] Haider8 commented on #5650
@prateekj117 can you please elaborate this a bit :)

[2019-03-21 05:32] uds5501 commented on #5690
@mrsaicharan1 the error messeges are different

[2019-03-21 06:29] kush-mish opened #5700 "Getting 500 Internal Server Error on calling event-copyright details"
**Describe the bug**
On the following request

getting the following response
[code]

[2019-03-21 08:50] anhanh11001 opened #5701 "Creating Identifier for Ticket of different users"
**Is your feature request related to a problem? Please describe.**
I have taken a look into the Open Event API Server website, and I find a problem, please correct me if there is anything wrong.

In Tickets/List Tickets for an Order, it returns a list of tickets under one order by ```/v1/orders/{order_identifier}/tickets```. So the problem in here is that although there is an indentifier for an or

[2019-03-21 08:52] mrsaicharan1 commented on #5701
Would definitely like to take a look into implementing individual
identifiers. Will take it up

On Thu, 21 Mar 2019 at 2:20 PM, Duc Le Tran <notifications@github.com>
wrote:

[2019-03-21 08:54] shreyanshdwivedi commented on #5701
@CosmicCoder96 can you please suggest a way to tackle this? According to me, we can have an identifier for ticket also. And we can view separate tickets like `<order id>/<ticket id>`. For beginning we can use ticket number in place of ticket id e.g. if there are 3 tickets, we can have 1, 2, 3 as ticket id.

[2019-03-21 09:09] mrsaicharan1 commented on #5701
@shreyanshdwivedi I think that would be a good idea. Alternatively, we could also assign each ticket a uuid and represent them as `<order_id>/<ticket_uuid>`

[2019-03-21 09:16] iamareebjamal commented on #5701
Right now we match an identifier with an attendee. We need this mapping in order to enable scanning in the orga app. This should be taken into account while changing the implementation

[2019-03-21 09:17] iamareebjamal commented on #5701
Prefer uuid over integers always for publicly exposed keys

[2019-03-21 09:30] CosmicCoder96 commented on #5701
A question @iamareebjamal Same ticket is purchased by various users. So let's say a ticket has id 4.

It is a part of several orders: let's say of order id's : 1,2,3,4,5,6

on using orders/<identifier>/tickets
we get the list of tickets that order has in it, let's say tan order of id 2 has tickets with ids: [4,5,6]

What exactly do we mean by individual identifiers? No separate instance of a ticke

[2019-03-21 09:34] iamareebjamal commented on #5701
As per my understanding. A user creates an order which can have multiple attendees. And each attendee has a different ticket? If not so, then this function is not needed. But if there are multiple tickets in an order, then we need to identify them individually. Also if there's only one ticket instance per order, the issue is invalid but it's a limitation. What if you ordered a ticket for yourself

[2019-03-21 09:37] iamareebjamal commented on #5701
I think we have a misunderstanding about tickets. I misunderstood what was meant by a ticket. You are right. Same ticket identifier will be used by many orders. I confused it with a physical ticket rather than a collective term we use in the API. My final question will be, do we have a way to individually identify attendees, e.g. if an order has 4 attendees. Can we identify them each individually

[2019-03-21 09:42] CosmicCoder96 commented on #5701
Talking strictly in terms of the server's perspective, (I am not sure if the FE or the app make use of it) it is possible. In the `TicketHolder` model (attendee) there is a field called `ticket_id` which is a foreign key corresponding to the tickets table. Hence, each attendee is aware of which ticket was meant for him.

[2019-03-21 09:46] #5701 closed

[2019-03-21 09:46] CosmicCoder96 commented on #5701
okay sounds good @iamareebjamal thanks!

[2019-03-21 09:48] iamareebjamal commented on #5701
@anhanh11001 I hope this answers your questions about what ticket means in terms of open event API. You can check out orga app's code to see what is used to identify individual attendees

[2019-03-21 13:38] prateekj117 commented on #5592
@iamareebjamal I think we should close this.

[2019-03-21 13:42] #5592 closed

[2019-03-21 13:44] #5668 closed

[2019-03-22 04:04] prabhupant commented on #5675
@uds5501 This happens only when the super admin changes its email id. I don't think this is an issue as this ensures that the new email id entered is authentic by sending it a confirmation link. Views @CosmicCoder96 ?

[2019-03-22 04:52] #5644 closed

[2019-03-22 06:15] mrsaicharan1 commented on #5660
@kushthedude Still working on this? Would like to take it up if you're involved in other bugs.

[2019-03-22 13:01] ShridharGoel commented on #5700
Same for Speakers Call

[2019-03-22 15:54] uds5501 commented on #5700
@kush-mish are you working on it or can I have a look into it?

[2019-03-22 16:27] uds5501 commented on #5700
@iamareebjamal the problem looks in `fields[event]=id` part. That triggers:

[code]

[2019-03-22 17:41] kush-mish commented on #5700
@uds5501 this is open for anyone willing to take it.

[2019-03-23 10:47] kushthedude commented on #5660
I am still working for it😅

On Fri, 22 Mar 2019 at 11:45 AM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-03-23 11:17] mariobehling commented on #5153
Priority low: Delay

[2019-03-23 11:17] #5153 closed

[2019-03-23 13:39] uds5501 opened #5705 "404 error on free orders + paid orders"
**Describe the bug**

Admin/Sales page throws a 404 Error when both free orders and paid orders are there

**To Reproduce**
![image (1)](https://user-images.githubusercontent.com/21087061/54866842-fa3d3e80-4d9e-11e9-85db-8e7f9ad2dd47.png)

Steps to reproduce the behavior:
1. Make some free and paid orders
2. Go to Admin/Sales
3. See error

**Expected behavior**

It should not throw a 404 error

**

[2019-03-23 16:05] shreyanshdwivedi opened #5707 "Admin Sales: Discrepancies in Admin Sales' Fee Summary"
**Describe the bug**

Currently, `Tickets` column contains amount of sales by `Completed`, `Pending` and `Expired` orders. Also, `maximum_fee` is not returned.
Also, the `Revenue` doesn't includes `maximum_fee` into calculation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Admin`
2. Click on `Sales`
3. Click on `Fees`
4. See error

**Expected behavior**

`Tickets` should have numbe

[2019-03-24 09:03] #5391 closed

[2019-03-24 14:07] prabhupant opened #5710 "Getting 404 error after creation of events"
**Describe the bug**

404 error page is displayed right after the creation of event

**To Reproduce**
Steps to reproduce the behavior:
1. start creating an event
2. complete the info
3. publish the event and see the error page

**Expected behavior**

this page shouldn't be displayed. The user should be taken to the homepage

**Stacktrace**

[code]

**Additional details (please complete the followi

[2019-03-24 16:26] iamareebjamal commented on #5710
Have you ran the migrations?

[2019-03-24 17:35] iamareebjamal commented on #5059
Don't think so, using Date with TimeZone is better

[2019-03-24 18:50] iamareebjamal opened #5711 "Update dependencies"
Need to update these dependencies on priority:

- marshmallow = ">=2.15.1"
- requests = ">=2.20.0"

[2019-03-24 18:51] prateekj117 commented on #5711
@iamareebjamal Can I work on this?

[2019-03-24 18:57] iamareebjamal commented on #5711
Go ahead

[2019-03-24 22:08] kushthedude commented on #5675
@uds5501 This is not a issue as @prabhupant told this only happens when the super user has changed his **Email ID**
<img width="757" alt="Screenshot 2019-03-25 at 3 37 29 AM" src="https://user-images.githubusercontent.com/44091822/54886573-5db69180-4eaf-11e9-8ad8-e91bc4d3e431.png">

[2019-03-24 22:14] uds5501 commented on #5675
@kushthedude I have seen this behaviour in few more instances rather than just email changes.infact, any time when I have seen this behaviour take place, my admin email was untouched :) so I am still investigating this

[2019-03-24 22:28] kushthedude commented on #5363
@mariobehling Is It up for grabs?

[2019-03-25 03:58] #5680 closed

[2019-03-25 05:27] prabhupant commented on #5710
I forgot to run the migrations. Works fine now. Thanks :smile:

[2019-03-25 05:27] #5710 closed

[2019-03-25 05:49] prabhupant commented on #5676
@uds5501 are you still working on this?

[2019-03-25 05:54] uds5501 commented on #5676
@prabhupant No I am not, but would like to provide a heads up. It's a FE issue. The relations are correct in the server but not in the frontend. If you want to take over, be my guest

[2019-03-25 05:58] uds5501 commented on #5700
@iamareebjamal can you tell me what does `fields[event]=id` signify in the request?

[2019-03-25 06:06] uds5501 commented on #5498
@iamareebjamal Can I include logging.info in ical and pentbar exports?

[2019-03-25 06:07] uds5501 commented on #5555
Working on it

[2019-03-25 09:12] pnijhara commented on #5711
@iamareebjamal @prateekj117 Can I work on this issue?

[2019-03-25 09:13] prateekj117 commented on #5711
@pnijhara Go ahead.

[2019-03-25 09:16] prateekj117 commented on #5555
@mariobehling @iamareebjamal I would like to work on this issue.

[2019-03-25 11:01] uds5501 commented on #5694
@iamareebjamal Looks like this has been taken care of in #5686

[2019-03-25 13:59] #5059 closed

[2019-03-25 14:57] Haider8 opened #5713 "Error 500 in Admin's sales tab"
**Describe the bug**

Error 500 is returned in the Admin's sales tab

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin' section.
2. Click on 'Sales' tab.
3. See error.

**Expected behavior**

Should have returned sales data, status code 200.

**Stacktrace**

[code]

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Ve

[2019-03-25 15:55] prateekj117 commented on #4903
@iamareebjamal I would like to work on it.

[2019-03-25 16:30] iamareebjamal commented on #4903
Go ahead

[2019-03-25 16:31] iamareebjamal commented on #5700
It tells which field of event to return

[2019-03-25 16:32] iamareebjamal commented on #5713
#5706 will fix this

[2019-03-25 16:34] iamareebjamal commented on #5713
Duplicate of #5705

[2019-03-25 16:34] #5713 closed

[2019-03-25 16:34] #5694 closed

[2019-03-25 16:36] iamareebjamal commented on #5498
Add logs in auth module. Signing In, Signing Up, Verification Token Generated, etc

[2019-03-25 16:59] iamareebjamal commented on #5555
This is a development issue. Not related to code AFAIK

[2019-03-25 17:00] uds5501 commented on #5498
@iamareebjamal Okay.

[2019-03-25 17:03] iamareebjamal commented on #5498
One of you can add logging config of sentry. Create a sentry account and configure the app to send logging.warning and above to sentry and verify

[2019-03-25 17:07] prateekj117 commented on #5498
@uds5501 I can work on the sentry part, you work on Auth. Cool?

[2019-03-25 17:09] uds5501 commented on #5498
@prateekj117 Sounds good enough :+1:

[2019-03-25 18:18] kushthedude commented on #5676
@uds5501 Transfer it to FE

[2019-03-26 02:18] #5705 closed

[2019-03-26 15:43] Haider8 commented on #5713
@iamareebjamal issue is still there.

[2019-03-26 15:47] kushthedude opened #5715 "Minor Typo In ReadMe.md"
**Is your feature request related to a problem? Please describe.**

No, A minor typo in ReadMe.md
**Describe the solution you'd like**

Correct the typo
**Describe alternatives you've considered**

**Additional context**

<img width="815" alt="Screenshot 2019-03-26 at 9 16 26 PM" src="https://user-images.githubusercontent.com/44091822/55011801-74bec600-500c-11e9-8c2c-50a1a481f2dc.png">

[2019-03-26 16:18] Haider8 opened #5717 "Saving draft with only event name gives 500 error"
**Describe the bug**

When draft is saved with only event name, success message is shown (```Your event has been saved```) and then the error (see the screenshot)

![draft-500-error](https://user-images.githubusercontent.com/43299408/55014045-52c74280-5010-11e9-885d-e66f825c861e.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Event' page.
2. Enter 'event name'.
3. Click on

[2019-03-26 16:19] Haider8 commented on #5717
@uds5501 Can you please confirm this issue.

[2019-03-26 16:21] prateekj117 commented on #5717
@Haider8 Run migrations and try again.

[2019-03-26 16:26] Haider8 commented on #5717
@prateekj117 This is giving me the error
[code]

[2019-03-26 16:28] prateekj117 commented on #5717
@Haider8 Update migrations and see if it also shows any error. If it does, I would suggest deleting the databases and making a new one again, I ran into the same error and this worked for me.

[2019-03-26 18:39] iamareebjamal commented on #5713
You haven't run the migrations yer

[2019-03-26 18:43] #5715 closed

[2019-03-27 05:33] mrsaicharan1 commented on #5717
@Haider8 Sync the database using ` python manage.py db upgrade`

[2019-03-27 08:08] #5717 closed

[2019-03-27 17:11] prateekj117 commented on #5643
@divyam-goel @uds5501 Anyone working on this issue?

[2019-03-27 17:12] uds5501 commented on #5643
@prateekj117 No, I am not, you should probably take over

[2019-03-27 17:16] prateekj117 commented on #5643
@uds5501 Ok.

[2019-03-27 17:36] mohitm15 opened #5720 "Typo in the readme file"
**Describe the bug**

Typo in the readme file.-Repetition of a word.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'readme file'
2. Scroll down to 'contribution best practices'
3. See error

**Additional context**

  I am working on it

[2019-03-27 18:55] prateekj117 opened #5722 "Logs are not being printed"
**Describe the bug**
Logs are not printed in the console

**Additional context**
Working on it.

[2019-03-27 19:08] prateekj117 commented on #5722
@iamareebjamal In the pull request of setting up logging correctly, I set the level of app logs to be WARN. Logs were really helping out during development as they were telling which files are being executed and which endpoints are being accessed, so I think we should change it. Your views on this?

[2019-03-27 19:28] iamareebjamal commented on #5722
I don't think it's about the log level. It's just that flask request logger is missing from the dictconfig. Also, set default level to INFO

[2019-03-27 22:43] #5664 closed

[2019-03-28 02:55] #5720 closed

[2019-03-28 06:14] #5619 closed

[2019-03-28 06:17] prateekj117 commented on #5722
@iamareebjamal Running python manage.py db heads gives:
`Raven is not configured (logging is disabled). Please see the documentation for more information.
Adding job tentatively -- it will be properly scheduled when the scheduler starts
Adding job tentatively -- it will be properly scheduled when the scheduler starts
Adding job tentatively -- it will be properly scheduled when the scheduler starts

[2019-03-28 08:08] CosmicCoder96 opened #5724 "Free orders return a 422 status code due to zero amount."
Placing a free order results in a status of 422 because it fails the validation specified in the schema.

@iamareebjamal Is the validation intentionally for > 0 ? I am not aware, if it is, we can close this issue. Else it can be fixed if I change the comparison to >=0.

It's defined here:
https://github.com/fossasia/open-event-server/blob/8a8af7f9d8b08f86f2211dd1faf0cedbf455a17b/app/api/schema/ord

[2019-03-28 09:42] CosmicCoder96 opened #5726 "Sessions incorrectly labelled as draft while running migrations"
Sessions with the status `confirmed` get their state changed to `drafts` while running migrations on the legacy data.

[2019-03-28 13:15] pnijhara commented on #5726
@CosmicCoder96 can I work on this issue?

[2019-03-28 14:12] mrsaicharan1 commented on #5726
I guess there's an  PR which has a fix to this already

On Thu, 28 Mar 2019 at 6:45 PM, Prajjwal Nijhara <notifications@github.com>
wrote:

[2019-03-28 15:20] #5711 closed

[2019-03-30 16:21] prateekj117 commented on #4526
@CosmicCoder96 @iamareebjamal Can you please elaborate this a bit more.

[2019-03-30 16:27] prateekj117 commented on #4554
@bhaveshAn @iamareebjamal Is this still required?

[2019-03-30 16:33] prateekj117 commented on #5529
@iamareebjamal @CosmicCoder96 May I work on this issue?

[2019-03-30 16:35] prateekj117 commented on #3945
@niranjan94 May I work on this issue?

[2019-03-30 17:09] prabhupant opened #5731 "ElasticSearch object has no attribute 'sync'"
**Describe the bug**

ElasticSearch object has no attribute 'sync' which is used to sync all newly created, updated or deleted events

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshot
![elastic](https://user-images.githubusercontent.com/19776278/55279263-95ed2280-533c-11e9-95d7-42e8cdbcb739.png)

**Additional de

[2019-03-30 19:56] iamareebjamal commented on #3945
Go ahead

[2019-03-30 19:57] iamareebjamal commented on #5529
Go ahead

[2019-03-30 19:57] iamareebjamal commented on #4554
Low priority, skip

[2019-03-30 19:59] iamareebjamal commented on #4526
Implement backend endpoint for social connect. For e.g., I want to connect my Google account to the server so I can authenticate.

Cannot be done till OAuth for these systems has not been implemented, so skip but is needed

[2019-03-31 10:52] Haider8 opened #5732 "Does not create event even when start-date before end-date for dates having little difference"
**Describe the bug**

For dates with small difference, for example, ```start-date``` is 3 April 2019 and ```end-date``` is 4 April 2019 with both having time 00:00, it still shows the error message that ```start-date``` should be smaller then ```end-date```.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Event' page.
2. Fill form with dates mentioned above in bug description.

[2019-03-31 16:25] shubham3211 opened #5734 "deletedAt for user is a readonly column and can not be changed"
**Describe the bug**
The admin should be able to restore the deleted users. So changing the value of deleted user from a date to null should be possible (only for an admin).

**Additional context**
Up for grabs

[2019-03-31 17:19] prateekj117 opened #5735 "Copying of event fails"
**Describe the bug**
Copying of event fails

**Expected behavior**
Should be able to copy events.

**Additional context**
Working on this.

[2019-03-31 18:06] prateekj117 opened #5737 "Error when clicking forward on editing the created event."
**Describe the bug**
After creating the event, when you edit the event again, you get a "Copyright error" or sometimes a "tax not found error".

**Expected behavior**

Event creator should be able to edit the event without any errors.

**Additional context**

Working on it.

[2019-04-01 03:36] #5735 closed

[2019-04-01 09:13] prabhupant opened #5738 "Inactive users shows deleted users"
**Describe the bug**

When logged in as an admin, in the users tab under inactive users, deleted user is shown in place of inactive user

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin > Users
2. Click on inactive users
3. Scroll down
4. See error

**Expected behavior**

only inactive users must be shown

**Screenshot**

![inactive shows deleted](https://user-images.githubusercon

[2019-04-01 09:40] prabhupant opened #5739 "Active users shows inactive users too"
**Describe the bug**

in the active users section under the users tab in admin, inactive users are also shown with the active users

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

only active users should be shown

**Screenshot**

![active shows inactive](https://user-images.githubusercontent.com/197

[2019-04-01 12:23] #5726 closed

[2019-04-01 12:24] iamareebjamal commented on #5738
Is it really a server issue??

[2019-04-01 12:26] prabhupant commented on #5738
I think it's a frontend issue

[2019-04-01 12:26] shreyanshdwivedi commented on #5724
Working on this

[2019-04-01 12:29] shreyanshdwivedi commented on #5738
@prabhupant can I work on this on front-end side?

[2019-04-01 14:50] Anupam-dagar opened #5740 "Allow adding custom tags in case other is selected while creating an event."
**Describe the bug**

Currently while creating an event, if Other is selected as a topic then it appears as is in the event. It will be better to allow user to add its own tag when other is selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/create'
2. Click on 'other in event topic'
3. See error

**Expected behavior**

An input should come up when other is selected in the even

[2019-04-01 17:37] uds5501 commented on #5739
@prabhupant This is a Frontend issue.

[2019-04-01 17:39] uds5501 commented on #5739
@prabhupant Can i work on the front-end side of this issue?

[2019-04-01 17:40] uds5501 commented on #5738
@prabhupant @shreyanshdwivedi Two things to point out.
Yes it's a frontend issue.
Second, an inactive user's definition is simply the who has not accessed his/her account in an year. I don't see why a deleted user can't be classified into an inactive user given he/she doesn't access the account in a long time

[2019-04-01 21:25] iamareebjamal opened #5743 "Issues with search"
Listing issues with search in my opinion and also calling for contributors for adding their opinion. To be worked on in GSoC

- [ ] No geolocation based filter (filtering is done on text matching instead)
- [ ] Search on frontend and mobile is implemented using events endpoint which is not actually search API.
- [ ] Search integration (with ElasticSearch) is optional and not implemented on any ins

[2019-04-01 21:50] #5650 closed

[2019-04-02 02:56] prabhupant commented on #5739
@uds5501 sure

[2019-04-02 02:59] prabhupant commented on #5738
@shreyanshdwivedi sure
@uds5501 I think deleted users shouldn't be classified as inactive users also because they can't access their accounts ever, but an inactive user can and become active

[2019-04-02 10:18] iamareebjamal commented on #5739
Is this a server issue?

[2019-04-02 10:20] mrsaicharan1 opened #5744 "translations download link for frontend"
**Describe the bug**

The translations download link needs to be stored
**Linked to**
[PR](https://github.com/fossasia/open-event-frontend/pull/2445)
**Additional info**
Working on it

[2019-04-02 10:22] Anupam-dagar commented on #5740
@CosmicCoder96  @iamareebjamal  Is this issue okay. Can I start working on this?

[2019-04-02 11:57] shreyanshdwivedi commented on #5734
@CosmicCoder96 can I work on this?

[2019-04-02 11:58] CosmicCoder96 commented on #5734
@shreyanshdwivedi go ahead.

[2019-04-02 21:17] uds5501 commented on #5739
@iamareebjamal No, it's not, please transfer it to frontend

[2019-04-03 02:25] mrsaicharan1 commented on #5744
@iamareebjamal Regarding the storage of the link for translations downloads on the frontend, could you please tell me which model should I be storing it at?

[2019-04-03 07:53] iamareebjamal commented on #5744
Why can't it be created on the fly?

[2019-04-03 07:56] mrsaicharan1 commented on #5744
Alirght, so when should `url_for('download_translations')` be sent to the front-end ?

[2019-04-03 08:12] iamareebjamal commented on #5744
Yes

[2019-04-03 08:19] mrsaicharan1 commented on #5744
I just had one more doubt, when should it be sent while accessing the route?

[2019-04-03 09:12] iamareebjamal commented on #5744
I don't understand

[2019-04-03 09:14] mrsaicharan1 commented on #5744
The link for downloading .po messages, at what point should it be sent if we are creating it on the fly?

[2019-04-03 09:45] iamareebjamal commented on #5744
Why can't it be created on frontend?

[2019-04-03 09:53] mrsaicharan1 commented on #5744
https://github.com/fossasia/open-event-frontend/pull/2445

On Wed, 3 Apr 2019 at 3:15 PM, Areeb Jamal <notifications@github.com> wrote:

[2019-04-03 13:27] iamareebjamal commented on #5744
@CosmicCoder96 Will better understand the backend flow here

[2019-04-03 13:28] #5707 closed

[2019-04-03 17:39] mrsaicharan1 commented on #5744
I guess it was supposed to be stored in one of the models or create a new model for admin. @CosmicCoder96 Your views?

[2019-04-04 06:46] mrsaicharan1 opened #5752 "Versioning Error(Relationship missing)"
**Describe the bug**
While trying to implement versioning on the `event` model, the following error occurs:

`sqlalchemy.exc.InvalidRequestError: When initializing mapper Mapper|Ticket|tickets, expression 'AccessCode' failed to locate a name ("name 'AccessCode' is not defined"). If this is a class name, consider adding this relationship() to the <class 'app.models.ticket.Ticket'> class after both

[2019-04-04 06:52] CosmicCoder96 commented on #5744
@mrsaicharan1 Can you clarify if the link generated to download the zip file is dynamic and generated each time or is it a static link? If it's dynamic then you need to provide an endpoint to trigger the download on FE, if it's static it can be hardcoded on FE.

[2019-04-04 06:55] mrsaicharan1 commented on #5744
the link isn't dynamic as I've kept the translations download logic under a static route `'/admin/content/translations/all`

[2019-04-04 07:19] CosmicCoder96 commented on #5744
@mrsaicharan1
if it's a route then you can just do `this.get('loader').load('/admin/content/translations/all')` on the frontend using the `loader` service. Loader service automatically pre-fixes the rest of the API URL.

[2019-04-04 07:32] uds5501 opened #5753 "add accessCode tests in the repository"
**Describe the bug**

Currently access Code tests are missing from the repository which should be added

**Additional context**

Working on it

[2019-04-06 20:44] iamareebjamal opened #5756 "Prepare for markdown"
Please refer here - https://github.com/fossasia/open-event-frontend/issues/2493

[2019-04-07 04:47] #5684 closed

[2019-04-07 10:54] prateekj117 opened #5758 "Error 404 should be returned when a normal user tries url "/admin""
**Describe the bug**
Error Code 403 is returned which does give the idea of url of admin panel.

**Expected behavior**
Error Code 404 should be returned.

**Additional context**
Working on it.

[2019-04-07 11:12] Anupam-dagar commented on #5758
@prateekj117 Looking by the error code `403` is `Forbidden`, I guess it's correct only unless we want to explicitly hide the admin url.

[2019-04-07 11:14] #5758 closed

[2019-04-07 15:19] #5724 closed

[2019-04-07 15:30] CosmicCoder96 opened #5760 "Handling unauthenticated user orders for pre-registered users"
Currently, Orders API requires a JWT token in order to create an order. For users whose email address is not registered -- the frontend creates a new user and sends him the ticket along with a password reset link -- just like the legacy system.

However, pre-existing users are prompted to enter their password. The goal is to give even the pre-registered users the ability to place an order without

[2019-04-07 16:18] iamareebjamal commented on #5760
So, let's say I am unauthenticated. And I go to buy a ticket, enter my email which is already registered. And complete the payment, it should be added to my account without me entering the password.

Am I understanding it correctly?

In the end, if the ticket buyer's email is already registered, we place the order without the requirement of authentication?

[2019-04-08 05:44] mrsaicharan1 opened #5761 "Date Filter not working for events"
**Describe the bug**
The filter on the events list page is not functioning properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Browse events' tab
2. Try to put in a value in the field above the Date column.
3. See the error message `Unexpected Error Occurred`

**Expected behavior**
It needs to output the dates in accordance with the filter input
**Stacktrace**
`"GET /v1/users/1/

[2019-04-08 06:08] CosmicCoder96 commented on #5760
@iamareebjamal Yes, precisely.

[2019-04-08 06:31] uds5501 commented on #5761
@mrsaicharan1 tried using numbers?

[2019-04-08 06:33] uds5501 opened #5762 "Super Users being created are non-verified"
**Describe the bug**

When a super user is being created by the following sequence, it is being created as unverified user.

**To Reproduce**
Steps to reproduce the behavior:
1. Keep a user Logged in
2. Stop the server
3. Make new user by `create_db.py`
4. Start the server
5. See the error

**Expected behavior**

The user being created should be verified.

**Additional details (please complete the

[2019-04-08 08:50] iamareebjamal commented on #5760
- Have to make Order Endpoint open for unauthenticated user.
- Check if the email being used in order is registered
  - If not, "creates a new user and sends him the ticket along with a password reset link -- just like the legacy system."
  - If registered, use that and save the order under that user's name

I believe this will solve the issue.

Problems with this approach - I can buy tickets for

[2019-04-08 14:37] felixonmars opened #5764 "Broken License URL in README"
It's currently a 404.

[2019-04-08 17:43] CosmicCoder96 commented on #5760
@iamareebjamal Oddly enough Eventbrite allowed me to do that. I used incognito and just gave my pre-registered email while not logged in. This is weird --anyone can place orders for a registered account. Someone can purchase 100s of free tickets if we do this on Open Event.
I had a discussion with @mariobehling regarding this some time back. One possible solution is to allow a buyer to enter a pre

[2019-04-09 02:44] #5744 closed

[2019-04-09 07:49] mrsaicharan1 opened #5766 "Translations zip file deletion(Celery task) not working"
**Describe the bug**
Translations donwloads as a zip file are generated properly but the deletion of the file as a celery task fails due to error given in the screenshot.

Reference: https://github.com/fossasia/open-event-frontend/pull/2445
![55771111-47b4ed80-5ab9-11e9-8fbe-d24649d19bc5](https://user-images.githubusercontent.com/25197147/55782349-b601ac00-5ac9-11e9-87c0-3228e9419a39.png)

**To Re

[2019-04-09 08:15] mrsaicharan1 commented on #5766
@iamareebjamal @CosmicCoder96 I've tried using `delete_translation.delay(path_to_zip)`  and was able to proceed with the normal download. Do we need to have a countdown for this?

[2019-04-09 10:38] iamareebjamal commented on #5766
Yes, or else the file will be deleted before the download is complete

[2019-04-09 14:00] mrsaicharan1 commented on #5766
@iamareebjamal When I use `apply_async` for the celery task, the above error occurs. What might be the problem?

[2019-04-09 15:20] iamareebjamal commented on #5766
There should be an assignment somewhere near

[2019-04-10 01:39] mrsaicharan1 commented on #5766
@iamareebjamal @CosmicCoder96 The assignment error was occurring because apply_async was returning `celery.result.AsyncResult` whihc needed to be stored somehwere. Pushing a PR now as it is now fixed.

[2019-04-10 05:44] Anupam-dagar opened #5768 "Make wrong current password error message more informative."
**Describe the bug**

Currently when the user tries to change the password and enters a wrong current password, user is notified `Wrong Password`. While this is correct in terms of current password but in frontend it can be confusing for the user to know which password was wrong. Making it more informative will be helpful for the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/

[2019-04-10 07:18] kushthedude commented on #5760
@CosmicCoder96 If we implement this, Chances of spam may get high and mistake too, Let's say a user enters the Email of a preexisting user and he buys a paid ticket considering that he will get them but the person whose email he entered by mistake gets the ticket.
Another approach to this problem I have thought is that, if a preexisting user places an order there should be some sort of OAuth or So

[2019-04-10 07:22] CosmicCoder96 commented on #5760
@kushthedude The point of the issue is to not make user authenticate before buying tickets to ease the buying process. And you are talking about two-factor authentication, that's more authentication. Eventbrite is a commercially successful platform which is able to manage this. Ease of purchasing increases the likelihood of a sale being made. We will make an additional field to confirm the email b

[2019-04-10 07:28] kushthedude commented on #5760
@CosmicCoder96 I see that its more practical approach but still we need to think about free tickets as you said. Else I think it's fine.

[2019-04-10 07:29] kushthedude commented on #5762
@uds5501 But just asking if there is no need to create another superuser when you already have one so, Is this issue significant? 😕

[2019-04-10 07:32] Anupam-dagar opened #5771 "Error while adding or removing uploaded slides."
**Describe the bug**

When removing file from the session and clicking on save the following error comes up
`UnboundLocalError: local variable 'session_speaker_link' referenced before assignment`

I can't add slides, url or link both ways.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit session'
2. Click on 'remove uploaded file'
3. Click submit.
4. See error

**Expected behavior

[2019-04-10 07:37] kushthedude commented on #5761
@mrsaicharan1 Search filters need working as there functionality is not completed and its one of the roadmap in GSOC for Open-Event, There are many places filters are not behaving correctly.
And regarding date as far as it is considered, An `semantic UI date selector` should pop-up when clicked on it, As you can see here
![image](https://user-images.githubusercontent.com/44091822/55860326-98981500

[2019-04-10 07:38] CosmicCoder96 opened #5772 "Documentation: Add documentation for translations download zip endpoint"

[2019-04-10 07:39] CosmicCoder96 opened #5773 "Documentation: Update users docs"
A field called `was_registered_with_order` was added, documentation has not been updated.

[2019-04-10 07:41] CosmicCoder96 opened #5774 "Documentation: Update orders API docs"
Information Fields regarding billing was added to orders API. Documentation has not been updated.

[2019-04-10 07:41] prateekj117 commented on #5773
@CosmicCoder96 I would like to take this up.

[2019-04-10 07:42] kushthedude commented on #5773
@CosmicCoder96 There should `good first issue` tag with this too I think

[2019-04-10 07:42] prateekj117 commented on #5774
@CosmicCoder96 Would like to work on this.

[2019-04-10 07:43] CosmicCoder96 opened #5775 "Documentation: Update docs with new role-invite end points"
Some miscellaneous routes were added regarding role-invites and to accept them. Docs need to be updated.

[2019-04-10 07:45] kushthedude commented on #5772
Working on it.

[2019-04-10 07:47] kushthedude commented on #5775
Would like to take it up.

[2019-04-10 07:53] CosmicCoder96 commented on #5775
@kushthedude One issue at a time. First get #5772 merged, allow other developers to work on issues parallelly.

[2019-04-10 07:53] kushthedude commented on #5722
@prateekj117 Is it up for grabs?

[2019-04-10 07:54] kushthedude commented on #5775
No problem 😅

[2019-04-10 08:09] #5764 closed

[2019-04-10 08:14] #5661 closed

[2019-04-10 08:17] #4772 closed

[2019-04-10 08:18] #5583 closed

[2019-04-10 08:19] CosmicCoder96 commented on #5347
Migrations is how tables should be transferred. Done for the transfer.

[2019-04-10 08:19] #5347 closed

[2019-04-10 08:20] #4793 closed

[2019-04-10 08:21] CosmicCoder96 commented on #5268
Migration files do this automatically. Not sure what was going on here.

[2019-04-10 08:21] #5268 closed

[2019-04-10 08:24] #5097 closed

[2019-04-10 08:25] CosmicCoder96 commented on #5358
Not implementing elastic search as of now.

[2019-04-10 08:25] #5358 closed

[2019-04-10 08:25] CosmicCoder96 commented on #5218
Works now.

[2019-04-10 08:25] #5218 closed

[2019-04-10 08:26] CosmicCoder96 commented on #5457
This task was made a celery task to handle image resizing asynchronously.

[2019-04-10 08:26] #5457 closed

[2019-04-10 08:54] iamareebjamal commented on #5307
This is still a concern AFAIK

[2019-04-10 08:55] iamareebjamal commented on #5722
PR is now reverted so this is working fine now

[2019-04-10 08:55] #5722 closed

[2019-04-10 09:18] iamareebjamal commented on #5761
Whenever I see a query of event filters, my eyes get relieved - `/v1/users/1/events?include=tickets%2Csessions%2Cspeakers%2Corganizers%2Ccoorganizers%2Ctrack-organizers%2Cregistrars%2Cmoderators&filter=%5B%7B%22name%22%3A%22state%22%2C%22op%22%3A%22eq%22%2C%22val%22%3A%22published%22%7D%2C%7B%22or%22%3A%5B%7B%22name%22%3A%22starts-at%22%2C%22op%22%3A%22ge%22%2C%22val%22%3A%222019-04-08T10%3A52%3A0

[2019-04-10 09:19] iamareebjamal commented on #5762
Yes, there should be ability to add multiple super users

[2019-04-10 09:22] iamareebjamal commented on #5768
Ideally these things should be handled on client side only. Based on error codes. Maybe they don't want to show the same message in frontend and mobile. @CosmicCoder96  Your thoughts?

[2019-04-10 09:44] kushthedude commented on #5762
@iamareebjamal I tried to create a new superuser and now I cant access `admin\users\` and server log shows this : -
![image](https://user-images.githubusercontent.com/44091822/55869051-5c6db000-5ba3-11e9-95e1-474a18374fae.png)

[2019-04-10 09:48] kushthedude commented on #5667
Currently, the *FB Oauth* has been commented out as specified in https://github.com/fossasia/open-event-frontend/issues/2509

[2019-04-10 10:02] kushthedude commented on #4734
@iamareebjamal Is kubernetes logs set up for the server now?

[2019-04-10 12:02] iamareebjamal commented on #5762
data is not a dict, it's a list

[2019-04-11 05:32] #5734 closed

[2019-04-11 07:26] Anupam-dagar opened #5777 "Change the session status from pending to rejected if the event has passed."
**Describe the bug**

Currently if the user's session is in pending state till the event has happened, it still shows pending after the event has passed. A better label will be rejected since the user's session wasn't accepted till the event.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'my sessions after event has passed'
2. Click on 'an older session'
3. See error

**Expected beh

[2019-04-11 13:14] angmas1 commented on #5660
Still not working, I think it's a major bug. Please resolve this on priority.

[2019-04-11 13:16] shreyanshdwivedi commented on #5660
@kushthedude are you working on this? Please resolve this asap or let other contributor try :)

[2019-04-11 13:18] kushthedude commented on #5660
@shreyanshdwivedi i completely forgot about it , if anyone wants to takeover please be my guest as i have not started doing anything on it

[2019-04-11 13:18] shreyanshdwivedi commented on #5660
Okay. I'm working on it then

[2019-04-11 13:20] kushthedude commented on #5660
Btw @shreyanshdwivedi i did some ground work about it and found that this error is gettin causes by flask_login and i am afraid should we modify the external dependancy or not ?

[2019-04-11 13:24] shreyanshdwivedi commented on #5660
@kushthedude if this is the case, I think @iamareebjamal can decide it. However I'll once take a look at it to find out the reason for this error

[2019-04-11 14:34] mrsaicharan1 opened #5778 "Missing Factory for Export Jobs"
**Describe the bug**
The `ExportJob` Model does not possess a factory file which is usually used for integration testing and other purposes.

**Expected behavior**
There should be a factory file present for testing.

**Additional context**
Working on it.

[2019-04-11 16:33] shreyanshdwivedi opened #5780 "The condition for restoring deleted user is incorrect"
**Describe the bug**

As the title says, the condition for deleted user is buggy due to which deleted users cannot be restored. A PR was merged but the condition was buggy

**Expected behavior**

changing the value of deleted user from a date to null should be possible (only for an admin).

**Additional context**

Working on it
Related issue https://github.com/fossasia/open-event-server/issues/573

[2019-04-11 16:59] iamareebjamal commented on #5660
Not needed then. Will see if a customer support request comes. Closing. Still comment if you find anything @shreyanshdwivedi

[2019-04-11 17:50] aggarwalpulkit596 opened #5782 "Un-Authenticated request for Event Feedback List"
**Is your feature request related to a problem? Please describe.**
https://api.eventyay.com/v1/events/1/feedbacks?sort=rating&filter=%5B%5D
the request is only allowed for logged in user I guess it shouldn't be right?

**Describe the solution you'd like**
Remove the authentication from event feedback list as each and every user should be able to see the ratings and comments from other users

[2019-04-12 02:14] kushthedude commented on #5660
Should i closw the issue than @shreyanshdwivedi @iamareebjamal

[2019-04-12 03:01] mrsaicharan1 commented on #5782
@aggarwalpulkit596 Would like to work on this.

[2019-04-12 03:23] #5780 closed

[2019-04-12 03:23] #5771 closed

[2019-04-12 06:10] CosmicCoder96 opened #5784 "Generate ticket PDFs on the go"
Currently, tickets PDFs are generated when an order is completed and stored in a directory.
This adds the overhead of storage and the complexity of moving them around when storage changes, and we need to manipulate strings hardcoded in the tickets URL field. This will happen often, considering we are in the development phase.

Legacy system generated PDFs on the fly, is it feasible to do it in our

[2019-04-12 06:14] mrsaicharan1 commented on #5784
@CosmicCoder96 I'd be interested in implementing this for the tickets as I've already worked on the translations downloads as a zip file. This would be an improved way as we shouldn't be serving the tickets from a static folder.

[2019-04-12 09:40] uds5501 commented on #5775
@CosmicCoder96 Shall I have a go?

[2019-04-12 09:48] CosmicCoder96 commented on #5775
Yes

On Fri, 12 Apr 2019 at 5:40 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-04-12 15:50] shubham3211 opened #6954 "User Links should not be visible if user is deleted"
**Describe the bug**
User Links are there even if user is deleted

**Expected behaviour**
User Links should not be visible if user is deleted

**Screenshots**
![u5](https://user-images.githubusercontent.com/19900978/56050087-93d98980-5d68-11e9-9ce9-40076fe4ab08.png)

**Additional context**
I am working on it

[2019-04-12 16:41] uds5501 commented on #5784
@mrsaicharan1 how are you planning to implement this? It surely helps in solving the security issue attached to it!

[2019-04-12 17:03] mrsaicharan1 commented on #5784
@uds5501 The best way to go about this is to implement the access control over a flask route.  The access-control check would be checking if the user is authorized to access the ticket by comparing the logged-in user and the ticket-holder. TO geenrate the PDFs dynamically, we could use a python package called `pdfkit` which acts as a wrapper to generate PDFs from Jinja Templates dynamically.

[2019-04-12 17:38] iamareebjamal commented on #5784
We are already generating PDFs, so no new logic for that should be necessary. Rest can be done as explained by @mrsaicharan1

[2019-04-12 17:39] #5782 closed

[2019-04-12 17:39] #5660 closed

[2019-04-12 17:44] mrsaicharan1 commented on #5784
@CosmicCoder96 @iamareebjamal I'll go ahead with the implementation right away as this seems like a high priority issue regarding security and how the PDFs are served.

[2019-04-12 17:52] uds5501 commented on #5784
@mrsaicharan1 that sounds good.

[2019-04-12 18:23] iamareebjamal opened #5787 "Logs not being printed in case of error in DB layer"
Status 500 on from server but nothing is printed in logs

[2019-04-12 18:24] mrsaicharan1 commented on #5787
I would like to take this up.

On Fri, 12 Apr 2019 at 11:53 PM, Areeb Jamal <notifications@github.com>
wrote:

[2019-04-12 18:53] mrsaicharan1 commented on #5787
@iamareebjamal Is logging the only problem now?

[2019-04-12 19:24] mrsaicharan1 commented on #5784
@iamareebjamal Just another question. The storage overhead for the tickets as static files will still be prevalent. Would it be ok to schedule the deletion of ticket pdfs as a celery task(we could schedule it for after 10 mins. of ticket access) similar to the translations zip downloads? In this way, we wouldn't be needing to store the files on the server. I also believe that we shouldn't be servi

[2019-04-13 04:46] iamareebjamal commented on #5787
Try to diagnose why it may be happening, because there are no logs so can't do anything on production

[2019-04-13 04:51] iamareebjamal commented on #5784
I don't think they should be deleted. I mean, if we run out of storage, we'll just delete the entire folder but just go ahead with generating and saving. It'll save us time to just show the saved ticket. However, if generating and serving saved ticket have very little time difference between the 2, then yes, we may delete the file

[2019-04-13 05:00] prateekj117 commented on #5700
@uds5501 Will have a look into it. Are you still working on this issue?

[2019-04-13 05:01] uds5501 commented on #5700
@prateekj117 Go ahead

[2019-04-13 05:17] mrsaicharan1 opened #5788 "Ticket Flow Refactoring"
**Describe the bug**
The tickets are currently served as static files without any access-control check which exposes it to everyone who possesses the link to the tickets. In addition, the ticket needs to served from a route which has a security check equipped with it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://api.eventyay.com/static/media/attendees/tickets/pdf/6ae42516-0

[2019-04-13 05:38] #5766 closed

[2019-04-13 12:47] #5768 closed

[2019-04-13 15:01] uds5501 commented on #5775
@CosmicCoder96 Just a quick doubt,  I need to change the `api_blueprint.apib` file, right? :sweat_smile: ea

[2019-04-13 15:04] CosmicCoder96 commented on #5775
Yes.

On Sat, Apr 13, 2019 at 11:01 PM Uddeshya Singh <notifications@github.com>
wrote:

[2019-04-13 15:22] CosmicCoder96 commented on #5787
@iamareebjamal Counter needs to be reset in the database for the user's table, it's an object creation error.

[2019-04-13 15:23] mrsaicharan1 commented on #5787
Maybe rebuilding the database would help?

[2019-04-13 15:26] CosmicCoder96 commented on #5787
Fixed.

[2019-04-13 15:26] CosmicCoder96 commented on #5787
@iamareebjamal It is weird though that I obtained the logs through postgres container, this should have been logged in the opev-web container as well.

[2019-04-13 15:45] mrsaicharan1 opened #5791 "Email IDs need to be stored in lowercase format(Register/Login)"
**Describe the bug**
According to the current logic, Test@gmail.com and test@gmail.com are two different registered email addresses. We need store them in a lowercase format when we register and log in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'signup/login'
2. Type in your email with a capital letter and the password.
3. See `Incorrect Credentials` error
**Screenshots**
![Scree

[2019-04-13 17:14] shreyanshdwivedi commented on #5773
@prateekj117 are you working on it?

[2019-04-13 17:15] shreyanshdwivedi commented on #5774
@prateekj117 I see you've already claimed #5773
Can I work on this till you solve that issue?

[2019-04-13 17:31] CosmicCoder96 commented on #5774
@shreyanshdwivedi proceed, @prateekj117 can work on #5773 meanwhile

[2019-04-13 17:57] iamareebjamal commented on #5788
How is it different from #5608 ?

[2019-04-13 18:00] #5643 closed

[2019-04-13 18:04] iamareebjamal commented on #5787
No, unfortunately, Postgres does not restore the sequence on restore. https://wiki.postgresql.org/wiki/Fixing_Sequences

Although, we still need to diagnose why log wasn't printed

[2019-04-13 19:30] mrsaicharan1 commented on #5788
Duplicate isseu. Closing.

[2019-04-13 19:30] #5788 closed

[2019-04-13 21:19] aggarwalpulkit596 opened #5793 "Unable to Submit Feedback"
**Describe the bug**
Unable to make a request on this end point
https://api.eventyay.com/v1/feedbacks
Body
{
  "data": {
    "relationships": {
      "event": {
        "links": {
          "self": "/v1/feedbacks/771/relationships/event",
          "related": "/v1/feedbacks/771/event"
        }
      }
    },
    "attributes": {
      "rating": "4",
      "deleted-at": null,
      "comment": "Awes

[2019-04-13 21:20] aggarwalpulkit596 commented on #5793
@mrsaicharan1 another issue for you although i'm not sure if it's a issue or not

[2019-04-13 21:53] mrsaicharan1 commented on #5793
Yeah! Will take this up and try to find out what's causing this!

On Sun, 14 Apr 2019 at 2:50 AM, Pulkit Aggarwal <notifications@github.com>
wrote:

[2019-04-14 03:42] kushthedude opened #5794 "Notify user when he enters same old password as new password"
**Is your feature request related to a problem? Please describe.**

When a user changes his old password, Notify the user that he has entered the same old password as new password

**Describe the solution you'd like**

Notify user he has entered the same old password as new password

**Additional context**

![image](https://user-images.githubusercontent.com/44091822/56079180-7c54dc00-5e0e-11e9-9a7

[2019-04-14 06:58] mrsaicharan1 commented on #5793
@aggarwalpulkit596 Is this due to a GET request?

[2019-04-14 07:12] aggarwalpulkit596 commented on #5793
Body
{
"data": {
"relationships": {
"event": {
"links": {
"self": "/v1/feedbacks/771/relationships/event",
"related": "/v1/feedbacks/771/event"
}
}
},
"attributes": {
"rating": "4",
"deleted-at": null,
"comment": "Awesome event"
},
"type": "feedback",
"id": 1,
"links": {
"self": "/v1/feedbacks/771"
}
},
"jsonapi": {
"version": "1.0"
},
"links": {
"self": "/v1/feedbacks/771"
}
}
this is body

[2019-04-14 07:14] aggarwalpulkit596 commented on #5793
@mrsaicharan1 this is exactly same as https://open-event-api-dev.herokuapp.com/#feedback-feedback-collection-post

[2019-04-14 07:35] mrsaicharan1 commented on #5793
@aggarwalpulkit596
I'm able to submit it locally and getting the same valid response as mentioned on the API server blueprint. Might be because you're making the request on the legacy API site. Will close this issue. If there's any other blocking issues, please do notify :)

[2019-04-14 07:45] aggarwalpulkit596 commented on #5793
@mrsaicharan1 i tried this from postman but still wasn't able to do it

[2019-04-14 07:47] mrsaicharan1 commented on #5793
![Screenshot from 2019-04-14 13-16-23](https://user-images.githubusercontent.com/25197147/56089891-95659780-5eb7-11e9-8f78-a763a43f3830.png)
Just check if you have your headers set right.

[2019-04-14 07:49] aggarwalpulkit596 commented on #5793
![Screenshot 2019-04-14 at 1 19 11 PM](https://user-images.githubusercontent.com/29139786/56089911-ec6b6c80-5eb7-11e9-93ce-ef21cfacedc9.png)
@mrsaicharan1

[2019-04-14 07:49] mrsaicharan1 commented on #5793
`{
  "data": {
    "type": "feedback",
    "relationships": {
      "event": {
        "data": {
          "type": "event",
          "id": "1"
        }
      },
      "user": {
        "data": {
          "type": "user",
          "id": "1"
        }
      }
    },
    "attributes": {
      "rating": "4",
      "comment": "Awesome event."
    }
  }
}`

[2019-04-14 07:50] mrsaicharan1 commented on #5793
Could you show me the body?

[2019-04-14 07:52] #5791 closed

[2019-04-14 07:52] aggarwalpulkit596 commented on #5793
@mrsaicharan1 just checking with the above body request

[2019-04-14 08:01] aggarwalpulkit596 commented on #5793
@mrsaicharan1 yup it's working closing this

[2019-04-14 08:01] #5793 closed

[2019-04-14 08:10] mrsaicharan1 commented on #5700
@ShridharGoel Will be opening an issue for speakrs call too.

[2019-04-14 08:14] mrsaicharan1 opened #5795 "500 Internal Server Error: Getting Speakers-Call Details"
**Describe the bug**
An internal server error is thrown when the ID of an event is requested along with the speakers call details.

**To Reproduce**
On the following request

`speakers-calls/1?include=event&fields[event]=id`

**Expected behavior**

**Stacktrace**
`Traceback (most recent call last):
  File "/home/sai/.local/lib/python3.6/site-packages/flask/app.py", line 2309, in __call__
    retur

[2019-04-14 08:23] prateekj117 commented on #5773
@shreyanshdwivedi Ya, you take up #5774

[2019-04-14 09:01] RotBolt opened #5796 "Integrate PayPal Braintree for ticket purchasing"
**Is your feature request related to a problem? Please describe.**
Yes , This is blocking issue for [Open-event-android](https://github.com/fossasia/open-event-android/issues/1607)

**Describe the solution you'd like**
Currently PayPal Rest SDK is being used but
BrainTree is recommended way for doing the paypal payments .It also provide seamless Integration with android clients.

**Would you like

[2019-04-14 09:08] RotBolt opened #5797 "Integrate Firebase Python Admin SDK (FCM )for push notifications"
**Is your feature request related to a problem? Please describe.**
EventBrite provides push notifications to clients for upcoming events and update of events .
Open-event-android does not have any push notifications unlike Event-Brite
Related Issue : https://github.com/fossasia/open-event-android/issues/1608

**Describe the solution you'd like**
FCM will provide the ability to generate push notifi

[2019-04-14 09:38] RotBolt opened #5798 "Implement Organisers API"
**Is your feature request related to a problem? Please describe.**
Yes , EventBrite gives option to search for organisers
Related to feature : https://github.com/fossasia/open-event-android/issues/1611

<img src="https://user-images.githubusercontent.com/24780524/56091016-ef218e00-5ec6-11e9-82bd-34c975490ff3.jpeg" width=360>

**Describe the solution you'd like**
I would make Orgainsers API , which

[2019-04-14 09:48] uds5501 commented on #5798
@theLimitBreaker Are you working on it?

[2019-04-14 09:57] theLimitBreaker commented on #5743
Hello , 2 questions
- Does it mean we need to change Search Mechanism on Server (Use whoosh or manticore) and integrate it with frontend/mobile ?
- AFAIK , filter through db for events, at the end goes to Text matching.
If by geolocation based you mean , server get the coordinates for  Allahbad, Uttar Pradesh , But he would also get  results for GhaziaBad, Uttar Pradesh or get results for radius a

[2019-04-14 09:58] uds5501 commented on #5732
@Haider8 Can't recreate the error

[2019-04-14 10:10] mrsaicharan1 commented on #5732
The error is persistent @uds5501. Try 11th May 00:00 and 12th May 00:00

On Sun, 14 Apr 2019 at 3:28 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-04-14 10:10] mrsaicharan1 commented on #5732
Also, @Haider8, if you're not working on this, I'll look into it.

On Sun, 14 Apr 2019 at 3:39 PM, saicharan reddy <saicharan.reddy1@gmail.com>
wrote:

[2019-04-14 10:17] theLimitBreaker commented on #5798
Yes I will be

[2019-04-14 12:51] iamareebjamal commented on #5798
This can already be implemented using /users endpoint AFAIK

Please confirm

[2019-04-14 12:53] iamareebjamal commented on #5797
The integration will be optionally integrated and implemented in many phases and is open for all, as it is not trivial to add

[2019-04-14 13:01] iamareebjamal commented on #5796
Design issue to be discussed here. How will clients know which payment options are available and which SDK to show?

Stripe, Braintree, both or other?

Need more probable issues to think before implementation

[2019-04-14 13:03] theLimitBreaker commented on #5798
Currently organisers come with events api like other attributes. I am talking about separate organisers api
`/organisers/{Location}`

for `/users` in response I get `organiser-events`, `track-organisers-event` etc . No organisers

[2019-04-14 13:12] iamareebjamal commented on #5743
Frontend/Mobile will be using a new search API, where instead of writing `https://api.eventyay.com/v1/events?filter=%5B%7B%22and%22%3A%5B%7B%22name%22%3A%22state%22%2C%22op%22%3A%22eq%22%2C%22val%22%3A%22published%22%7D%2C%7B%22name%22%3A%22privacy%22%2C%22op%22%3A%22eq%22%2C%22val%22%3A%22public%22%7D%5D%7D%2C%7B%22name%22%3A%22name%22%2C%22op%22%3A%22ilike%22%2C%22val%22%3A%22%25hello%25%22%7D%2

[2019-04-14 13:12] theLimitBreaker commented on #5797
Currently I thought Push Notifications for
- Update of event to clients
  - Speaker add/delete/update
  - Event time update
  - Event Location update
  - Event cancelled
  - Session/Track update/delete/add

- New Upcoming events to clients from subscribed organizers (require #5798 to be implemented according to my  knowledge)

[2019-04-14 13:13] iamareebjamal commented on #5732
@mrsaicharan1 Please go ahead

[2019-04-14 13:16] iamareebjamal commented on #5797
All of the above updates can be grouped in `event_update` push. Once received, the client will fetch the new info about the event. For fine-grained details, we'll just pass the parameter of what's changed in the event. The level of detail like add/update/delete is not required

[2019-04-14 13:19] iamareebjamal commented on #5798
You can use filter API for that

[2019-04-14 13:30] theLimitBreaker commented on #5798
so  I call `/events` with filter for organisers to filter out the organisers in all the events . It can give me the data to show to client side .

But having different api would be clean. Further Organisers API would also help for https://github.com/fossasia/open-event-android/issues/1608

[2019-04-14 13:38] theLimitBreaker commented on #5798
OK . But when Users subscribe to Organisers for updates , I need to make some changes in the method for user api . If am going to work with with /users api . Would that be fine ? @iamareebjamal

[2019-04-14 13:41] iamareebjamal commented on #5798
Subscription is out of scope for now. Maybe we'll do if all blocking issues have been solved

[2019-04-14 13:43] theLimitBreaker commented on #5798
Well This issue I raised mainly for that . For subscribing to organisers and all organisers related thing .

[2019-04-14 13:50] theLimitBreaker commented on #5797
that's what I meant actually for code and actual push  . Sorry I explained it in verbose manner .

[2019-04-14 16:51] shreyanshdwivedi commented on #5773
@prateekj117 if you are busy with something else, please let me know. I would like to take this up :)

[2019-04-14 18:16] prateekj117 commented on #5773
@shreyanshdwivedi No, I will work on this.

[2019-04-15 02:41] #5778 closed

[2019-04-15 07:32] iamareebjamal commented on #4734
`Is kubernetes logs set up for the server now?`

Logs?

[2019-04-15 08:30] shreyanshdwivedi commented on #5772
@kushthedude any update?

[2019-04-15 08:31] kushthedude commented on #5772
Will be pushing tonight

On Mon, 15 Apr 2019 at 2:00 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-04-15 09:04] shreyanshdwivedi opened #5809 "No check for CFS and Ticket end date"
**Describe the bug**

Currently, the CFS end date and ticket end date can be more than the event end date. Proper error must be raised on such cases

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `Create Event`
2. Create an event with a ticket having end date greater than the event end date
3. Open CFS with end date more than the event end date
4. See error

**Expected behaviour**

P

[2019-04-15 12:35] Anupam-dagar opened #6955 "Filter upcoming events on the basis of their end date and time."
**Describe the bug**

Currently the events are being filtered on the basis of end date only. If an event is single day event of 2hrs, then the vent will get removed from upcoming events on the next day. The event should not be shown in upcoming events if it is over.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event.
2. Set event start time and end time for a small period.
3. A

[2019-04-15 12:48] uds5501 opened #5802 "'AnonymousUserMixin' object has no attribute 'email' on updating an event"
**Describe the bug**

We are facing this Attribute Error the moment we try updating any event related object which corresponds to a celery task

**To Reproduce**
Steps to reproduce the behavior:
1. Update any existing event
2. See error

**Expected behavior**

It should work normally without any error

**Stacktrace**

[code]
**Additional details (please complete the following information):**
 - OS

[2019-04-15 16:52] theLimitBreaker opened #5804 "Place Order API not working"
**Describe the bug**
on hitting `orders?include=event,attendees&fields[event]=id&fields[attendees]=id` endPoint , `HTTP 422 UNPROCESSABLE ENTITY`

### Update
When Some fields in Body being sent null (Like amount or order-example) this error code is generated . This is the response

[code]