[2019-07-29 20:21] prateekj117 opened #6252 "Redundant code in CustomFormDetail"
**Describe the bug**
In the `before_get_object`, we are checking for event_id, while we have no Url which is trying to get custom form using the event_id. Just one plain simple custom-forms/<int:id>.

**Additional context**
On it.

[2019-07-29 20:23] CosmicCoder96 opened #6253 "Verify any user automatically if clicks on a reset password link"
If a user is using reset password link to reset his password, he is by default verifying his account

[2019-07-29 20:26] smdp2000 commented on #6252
@prateekj117 i would like to work on this issue

[2019-07-29 20:27] prateekj117 commented on #6252
@smdp2000 Go ahead.

[2019-07-29 20:50] #6253 closed

[2019-07-30 07:51] yitzikc opened #6258 "Paid tickets can be received without actually paying"
**Describe the bug**
Under certain circumstances, the payment checkout is skipped, and paid tickets are issued without charging money

**To Reproduce**
Environment: backend 1.3.0 + frontend 1.1.0.
Browsers used: Safari and Chrome on OS/X

Steps to reproduce the behaviour:
1. Set-up Stripe in the system settings as a payment gateway, with a test set of client-id and keys
2. Create an event with 1 o

[2019-07-30 08:19] shreyanshdwivedi commented on #6258
I explored the issue and its possible fixes. I found few things -
- We should force stripe authorization if we select it as a possible payment method. Currently, it is not there
- We already have a function to check if we have a payment method enabled if we have a paid ticket. It just needs to include stripe authorization.
- FE also needs a few changes. Tickets are saved before stripe authorizatio

[2019-07-30 08:47] yitzikc commented on #6258
Thanks for the quick response! I believe the issue could be broader and affect PayPal as well, although I haven't finalised the PayPal setup so I'm not sure about that.

[2019-07-30 08:51] prateekj117 opened #6260 "Wrong Url in Docs for Ticket Discount Code"
**Describe the bug**
Incorrect [Url](https://api.eventyay.com/#discount-codes-ticket-discount-code-collection-post) is defined in Docs for creating Ticket Discount Code.

**Additional context**
On it.

[2019-07-30 08:59] iamareebjamal commented on #6258
@shreyanshdwivedi This should be mostly handled on server without any complex check. Before issuing any paid ticket, simply check the payment mode and use the API stripe/paypal to confirm that the payment has actually been made.

[2019-07-30 10:14] CosmicCoder96 commented on #5962
Was fixed in V1.1.0

[2019-07-30 10:14] #5962 closed

[2019-07-30 11:12] shreyanshdwivedi commented on #6258
@yitzikc can you please add a gif or screenshot of the page you are finally getting to

[2019-07-30 11:15] yitzikc commented on #6258
I can later (tonight your time). In the meantime you're very much invited to try this use-case on my staging site, at the link I provided in the ticket.

[2019-07-30 11:18] shreyanshdwivedi commented on #6258
Thanks. Have checked it out on your site. Saw your error
Will work on the fix right away

[2019-07-30 17:02] CosmicCoder96 opened #6263 "Users API is missing all role based relationship end points"
The relationships for ownerEvents, organizerEvents, etc. are defined in the model, but the routes in API are not defined.

[2019-07-30 20:42] CosmicCoder96 opened #6268 "Give event organizer the ability to decide if billing info is mandatory"
Introduce a field in the event model for this purpose.

[2019-07-30 21:05] #6141 closed

[2019-07-31 02:47] #6263 closed

[2019-07-31 02:47] #6266 closed

[2019-07-31 02:47] #6268 closed

[2019-07-31 03:28] prateekj117 opened #6272 "before_get_object not called at some places"
**Describe the bug**
`before_get_method` is not defined in methods fields at some places, because of which it is not called.

**Expected behavior**
Should be called before `GET` method.

**Additional context**
Working on it.

[2019-07-31 04:38] CosmicCoder96 commented on #6191
CustomForms are not truly custom, they can only be toggled on and off, as the field options available in custom forms are hardcoded in the user, event and attendee schemas.
Here onwards, complex custom form fields refer to fields which are not predefined in the system, but the user will create them.

Proposed Schema Changes
Add a separate model called `customFormOptions` to store various options o

[2019-07-31 08:14] CosmicCoder96 opened #6273 "Manually correct the order of fields for open thailand summit"
After migrating from legacy, their ids, are jumbled up, not following the usual pattern.

[2019-07-31 11:09] uds5501 commented on #6012
@mrsaicharan1 I am taking up this one, fixed it on my local!

[2019-07-31 13:18] prateekj117 commented on #5998
@iamareebjamal Would like to take this up.

[2019-07-31 13:48] iamareebjamal commented on #6273
order of fields in custom form?

[2019-07-31 13:48] #6260 closed

[2019-07-31 13:51] unnawut opened #6275 "Pressing Pay Now button leads to a standstill"
**Describe the bug**
Pressing "Pay Now" on the order summary page does not cause any change on the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://eventyay.com/e/aac5bcc7
2. Pick one Early Bird ticket
3. Press "Pay Now"
4. Fill in the billing form
5. Chose "credit card" as payment method
6. Click "Proceed to checkout"
7. Click "Pay Now"

At this point after clicking, noth

[2019-07-31 13:53] #6272 closed

[2019-07-31 15:07] uds5501 commented on #6273
@iamareebjamal yes, in session custom form.

[2019-07-31 17:18] #6244 closed

[2019-07-31 18:32] #6276 closed

[2019-07-31 19:18] iamareebjamal commented on #6191
Yes, a JSON field will be more efficient than having to join all the options everytime a fetch happens. This field can be null for text type form option.

Also, I'd like to club the default form options issue with this one. For example, in attendee custom form, the required fields like first name, last name and email are only required in FE, not in server, which breaks the model when the custom fo

[2019-08-01 01:16] mrsaicharan1 opened #6280 "Server checks for ticket prices are missing"
**Describe the bug**
Server checks are required for ticket prices. This would also allow decimal values greater than zero to pass through [similar to eventbrite]

**Additional context**
Corresponding FE PR which requires these checks : https://github.com/fossasia/open-event-frontend/pull/3341

[2019-08-01 01:26] mrsaicharan1 opened #6282 "Implement function for tickets sold in previous month"
**Describe the feature**
A method is required to output the info related to tickets sold in the previous month. Should be present in the schema as well

**Additional context**
Required for invoice flow in the app

[2019-08-01 05:18] CosmicCoder96 opened #6283 "After successful charge, order redirection to success page fails"
![image](https://user-images.githubusercontent.com/17252805/62267475-d32c0300-b449-11e9-853c-35930f1904df.png)

[2019-08-01 06:38] iamareebjamal commented on #6283
Fixed by #6283

[2019-08-01 06:38] #6283 closed

[2019-08-01 13:44] prateekj117 commented on #6213
@mrsaicharan1 The problem is with the received download link in the Email as well.

[2019-08-01 14:17] uds5501 commented on #6171
@kushthedude Please tell me a few things about this issue -

- Was the celery on and working during this report?
- What are the types of images which shows this error (extensions)

Also is there anything particular which comes up during this issue?

[2019-08-01 14:42] kushthedude commented on #6171
Celery was on during it

On Thu, 1 Aug, 2019, 19:47 Uddeshya Singh, <notifications@github.com> wrote:

[2019-08-01 14:42] kushthedude commented on #6171
Some index error was there in upload.py

On Thu, 1 Aug, 2019, 20:12 Kush Trivedi, <kushthedude@gmail.com> wrote:

[2019-08-01 16:18] iamareebjamal commented on #6171
Paste the output of image variable - image

[2019-08-01 18:38] ashutosh1919 commented on #6280
@mrsaicharan1 Please see my closed branch which passes all the integration tests and change accordingly.

[2019-08-02 04:35] liveHarshit commented on #6201
Can it be solved?

[2019-08-02 04:41] ashutosh1919 commented on #6168
@James7777 and @iamareebjamal, I want to work on this issue, Please assign me the task. I will do it within 3 days.

[2019-08-02 04:42] CosmicCoder96 commented on #6201
@mariobehling please share the stripe test keys.

On Fri, 2 Aug 2019 at 10:05 AM, Harshit Khandelwal <notifications@github.com>
wrote:

[2019-08-02 09:08] mrsaicharan1 opened #6290 "Wrong event invoice status fields in db schema"
**Describe the bug**
The values allowed for invoices are paid, due &incoming [schema choices]. They are currently equal to those of orders.

[2019-08-02 09:22] mrsaicharan1 commented on #6224
@npettiaux do you require any specific .po file?

[2019-08-02 10:18] shreyanshdwivedi opened #6291 "Event invoices cannot be fetched via identifier"
**Describe the bug**

Currently, we can find event invoice only via `event-invoices/<int:id>` but it should be allowed to be fetched by identifier too - `event-invoices/<identifier>` just like for orders

**Additional context**

On it

[2019-08-02 12:01] James7777 commented on #6168
Hi,
Unfortunately I cant assign issues.
Thanks
Caleb

On Fri, 2 Aug 2019 at 05:41, Ashutosh Hathidara <notifications@github.com>
wrote:

[2019-08-02 14:25] kushthedude opened #6293 "Allow unverified user to buy `Free Ticket`"
Since we already have a check for free orders, It's useless to check if a user wants to buy a free ticket or not.

[2019-08-03 08:31] #6102 closed

[2019-08-03 08:33] #6168 closed

[2019-08-03 08:44] shreyanshdwivedi opened #6298 "Missing condition to avoid speaker email check on being overridden"
**Describe the bug**

When email is overridden, a check is still being called and `is-email-overridden` missing in docs

**Expected behavior**

If email is overridden, the check should be avoided

**Additional context**

On it

[2019-08-03 09:37] #6298 closed

[2019-08-03 19:51] #6291 closed

[2019-08-04 04:24] npettiaux commented on #6224
Le vendredi 02 août 2019 à 02:22 -0700, Saicharan Reddy a écrit :

it would be even better & much simpler if you could synchonize such
files with the application offered online by crowdin.

Best regards

--
Nicolas Pettiaux, phd - nicolas@pettiaux.be - portable 0496 24 55 01
Educode - asbl - informer, former & réfléchir aux défis du numérique
https://educode.be & https://wiki.educode.be - ven 27/9

[2019-08-04 09:06] iamareebjamal opened #6302 "Recreate Order APIs"
There are a lot of issues in Order API and it does not fit the model of CRUD JSON RESTAPI without forcing clients to do unnecessary and buggy calculations.

Orders with tax and discounts cannot be modeled by just returning DB models and asking clients to create attendee, create order and handle ticket prices and discount code, etc

- [ ] API for ticket pricing with discount code and tax included.

[2019-08-04 09:25] iamareebjamal commented on #6074
Duplicate of #4548

[2019-08-04 09:25] #6074 closed

[2019-08-04 11:16] ShridharGoel opened #6303 "Wrong image link gets stored instead of becoming null when image is deleted"
**Describe the bug**
On deleting profile image, the same image link gets stored in `avatarUrl` with `localhost` instead of `open-event-api-dev.herokuapp.com`.

**Expected behavior**
Image link should become null.

[2019-08-04 12:06] shreyanshdwivedi commented on #6303
Will take a look

[2019-08-04 14:33] CosmicCoder96 opened #6305 "Redesign Role Invite Acceptance Flow"
Currently, it is assumed that the invitee has already been registered in the system, and thus user invite acceptance requires the user object, to create an entry in the Users Events Roles table.

In most scenarios, this is not true, and often the invitee has never used the system.
Instead of throwing an exception, a new verified user account should be created with the email.
Also in such cases, th

[2019-08-04 14:33] CosmicCoder96 commented on #6305
@iamareebjamal Any feedback/improvements over this approach?

[2019-08-04 20:39] iamareebjamal commented on #6305
No, sounds good

[2019-08-05 07:24] iamareebjamal commented on #5787
Working

[2019-08-05 07:24] #5787 closed

[2019-08-05 10:49] mariobehling opened #6306 "Emails: Not showing "from Name" specified in admin settings"
On eventyay in the email settings the from name specified is "Eventyay". However the emails received do not show the name. They only show the from email.

![Screenshot from 2019-08-05 12-48-04](https://user-images.githubusercontent.com/1583873/62459371-76995280-b77f-11e9-8ce7-cd7191cd2f77.png)

[2019-08-05 18:30] liveHarshit commented on #6201
Please solve it. cannot test on android without this implementation.

[2019-08-05 19:58] uds5501 opened #6309 "Billing Information not showing up in placed orders PDF"
**Describe the bug**

After the compulsion of inclusion of billing information in paid orders, the `orders.is_billing_enabled` is not being used, thus billing information is skipped

![Screenshot from 2019-08-06 01-26-15](https://user-images.githubusercontent.com/21087061/62491383-5a320000-b7e9-11e9-9082-5786434fde0a.png)

**Expected behavior**

Being a paid order, it should've contained billing i

[2019-08-05 21:13] mrsaicharan1 opened #6312 "Add Date to Order invoice"
**Describe the bug**
The date for the order invoice is missing. According to Eventbrite, the date on which the PDF was generated is present on the invoice

[2019-08-05 22:21] #6258 closed

[2019-08-05 22:21] #6312 closed

[2019-08-05 23:07] #6293 closed

[2019-08-06 07:48] #6290 closed

[2019-08-06 09:11] mariobehling commented on #6201
@iamareebjamal I have shared the credentials on the internal devops channel with you. Does it work?

[2019-08-06 09:22] iamareebjamal commented on #6201
Checking

[2019-08-06 09:38] shreyanshdwivedi commented on #6302
Will create sub-issues one by one and solve it

[2019-08-06 09:40] shreyanshdwivedi opened #6320 "API for order creation with attendee info using a single endpoint"
**Is your feature request related to a problem? Please describe.**
Parent Issue - https://github.com/fossasia/open-event-server/issues/6302
API for order creation with attendee info using a single endpoint. It should not be needed to hit 30 endpoints to create an order

**Additional context**

On it

[2019-08-06 09:41] iamareebjamal opened #6321 "Add stripe test key fields in DB"
Currently, there are only stripe client ID, secret key and publishable key in settings model, there should be test keys fields and they should be used when Debug is true

[2019-08-06 09:43] shreyanshdwivedi commented on #6321
On it

[2019-08-06 09:46] iamareebjamal commented on #6201
Added

[2019-08-06 09:48] iamareebjamal commented on #6320
The first part would be to take in ticket info and quantity with optional discount code and return calculated price info with tax, discount code, access code calculation. Please create a sub-issue on it and first work on this

[2019-08-06 09:49] shreyanshdwivedi commented on #6320
Ok. On it

[2019-08-06 10:05] shreyanshdwivedi opened #6323 "API for ticket pricing with discount code and tax included"
**Is your feature request related to a problem? Please describe.**
Parent Issue - #6302
The first part would be to take in ticket info and quantity with optional discount code and return calculated price info with tax, discount code, access code calculation

**Additional context**

On it

[2019-08-06 10:13] liveHarshit commented on #6201
@iamareebjamal  @CosmicCoder96 It is not enabled from frontend side-
![image](https://user-images.githubusercontent.com/27783786/62531898-f519f100-b860-11e9-9055-d2f47b2ea41a.png)

[2019-08-06 10:26] iamareebjamal commented on #6201
@CosmicCoder96 Please enable it

[2019-08-06 18:41] prateekj117 commented on #6303
@shreyanshdwivedi If you haven't spent much time on it, May I take this up?

[2019-08-06 18:42] shreyanshdwivedi commented on #6303
@prateekj117 yeah sure. I'm a bit busy with other issues

[2019-08-06 19:50] prateekj117 commented on #6303
@shreyanshdwivedi @ShridharGoel I tried it in development (herokuapp) instance,  making `PATCH` request to change `avatar-url` from `non-null` to `null` works fine, and returns null.

[2019-08-07 02:02] #6306 closed

[2019-08-07 02:10] #6197 closed

[2019-08-07 02:11] #6137 closed

[2019-08-07 14:57] mrsaicharan1 opened #6326 "Send notification to all organizers/co-organizers for ticket sales"
**Describe the bug**
When there are ticket sales for an event, all the co-organizers must receive notifications

**Additional context**
Working on it.

[2019-08-07 15:01] mrsaicharan1 opened #6327 "Mails should be sent even though attachments are being blocked"
**Describe the bug**
A mail containing the link to eventyay should be sent event though the attachments are blocked.

**To Reproduce**
Steps to reproduce the behavior:
1. Place any order
2. When attachments are blocked, mails are not sent

**Expected behavior**
Simple mail must be sent.

**Additional context**
Working on it.

[2019-08-07 16:05] prateekj117 commented on #6303
@iamareebjamal

[2019-08-07 20:26] prateekj117 commented on #5307
Not reproducible anymore. @iamareebjamal @uds5501 Let's close this.

[2019-08-07 20:32] prateekj117 commented on #5871
@iamareebjamal On it.

[2019-08-07 20:34] prateekj117 commented on #6028
@iamareebjamal On it.

[2019-08-07 20:58] #5307 closed

[2019-08-08 05:22] mrsaicharan1 opened #6330 "attachments showing up as not found"
**Describe the bug**
FIleNotFoundError is coming up when attachments are trying to be sent out.
Stack Trace:
[code]

**Expected behavior**
Mail should be sent along with attachments

[2019-08-08 05:42] mrsaicharan1 commented on #6330
@uds5501 Please add this to the milestone

[2019-08-08 05:42] mrsaicharan1 commented on #6327
@uds5501 Please add this to the milestone

[2019-08-08 05:42] mrsaicharan1 commented on #6326
@uds5501 Please add this to the milestone

[2019-08-08 05:44] mrsaicharan1 commented on #6303
@ShridharGoel this will be fixed here https://github.com/fossasia/open-event-frontend/pull/3361

[2019-08-08 07:40] iamareebjamal commented on #6303
But that is happening on mobile, so it is server issue. Fixing something in frontend won't fix it in mobile

[2019-08-08 07:41] mrsaicharan1 commented on #6303
Okay.

On Thu, 8 Aug 2019 at 1:10 PM, Areeb Jamal <notifications@github.com> wrote:

[2019-08-08 07:58] #6330 closed

[2019-08-08 07:59] #6321 closed

[2019-08-08 08:55] #6119 closed

[2019-08-08 10:37] #6282 closed

[2019-08-08 11:04] anhanh11001 opened #6332 "Refresh token not returned for mobile application's request"
**Describe the bug**
Refresh token not return for logging in with mobile application

I use the endpoint: `POST  /v1/auth/login`
I follow the request body from the documentation:
`{"email":"letrananhduc0311@gmail.com","password":"my password","remember-me":true,"include-in-response":true}`
The response only includes access token

**Stacktrace**
[code]

**Related Issues**
https://github.com/fossasi

[2019-08-08 11:11] iamareebjamal commented on #6332
Always develop on dev instance. It is not released on production yet. No development should be done on production. This has been said repeatedly

[2019-08-08 11:11] #6332 closed

[2019-08-08 11:19] mrsaicharan1 opened #6333 "Previous month's ticket sales' object bug"
**Describe the bug**
For the previous month ticket sales function, the filter should be applied on the ticket_sales_object. Follow up on #6287

[2019-08-08 11:48] #6333 closed

[2019-08-08 11:58] liveHarshit commented on #6201
Please transfer it to frontend

[2019-08-08 14:16] #6309 closed

[2019-08-08 21:06] prateekj117 commented on #5871
@iamareebjamal I tested the API, it's not returning ticket under an event if `deleted_at != None` for that ticket.

[2019-08-08 21:28] iamareebjamal commented on #5871
Test all relationships

[2019-08-09 18:10] shreyanshdwivedi opened #6337 "Users can create duplicate rating for session"
**Describe the bug**

Currently, there is no check to stop a user from creating a new rating for the same session.

**Expected behavior**

If a user already has a rating for a session, then an error should be raised if the creation of rating for the same session is tried again

**Additional context**

On it

[2019-08-09 19:19] #6337 closed

[2019-08-10 09:28] #6326 closed

[2019-08-10 10:44] shreyanshdwivedi opened #6340 "Add paytm variables to event model"
**Is your feature request related to a problem? Please describe.**

Parent issue - https://github.com/fossasia/open-event-server/issues/6247
As we are moving forward with paytm now, we should have variables to ask organizer about their info if they want to link paytm to their event as a payment gateway

**Describe the solution you'd like**

I'll add new fields required for paytm to event model

**

[2019-08-10 12:29] Abhi-khandelwal commented on #6340
Hey @shreyanshdwivedi , I would like to work on this issue.

[2019-08-10 12:54] mrsaicharan1 opened #6341 "Implement routes for initiating transactions with PayTM"
**Feature Description**
Sub issue #6247
This is the first stage in the payment workflow where a request with appropriate headers is sent to the transaction API to obtain txn token.
We'll be using this txn token to further proceed with the processing of payments.

[2019-08-10 14:18] #6248 closed

[2019-08-10 15:23] shreyanshdwivedi commented on #6340
@Abhi-khandelwal actually we are having discussions about this feature since a week ago and I've already made changes locally.
 I think you should start with some beginner friendly issues.

[2019-08-10 15:38] CosmicCoder96 commented on #6273
Done.

[2019-08-10 15:38] #6273 closed

[2019-08-10 16:50] CosmicCoder96 opened #6343 "Discount codes patch: 500 internal server error"
[code]

[2019-08-10 18:29] shreyanshdwivedi commented on #6171
@kushthedude can you check if this is still reproducible?

[2019-08-10 18:31] shreyanshdwivedi commented on #6179
@CosmicCoder96 are we good to close this issue?

[2019-08-10 22:30] #6343 closed

[2019-08-11 04:01] prateekj117 commented on #5871
@iamareebjamal So I did find one issue, for now, say we want tickets under a ticket-tag, we use the endpoint `/ticket-tags/{ticket_tag_id}/tickets`, but if say that `ticket_tag_id` is deleted, flask-rest-jsonapi does not check for that, and returns the tickets (not deleted ones) under that `ticket_tag_id`.

[2019-08-11 04:14] iamareebjamal commented on #5871
Open other issue for this

[2019-08-11 05:13] prateekj117 commented on #5871
@iamareebjamal I could not find an issue tracker in `fossasia/flask-rest-jsonapi`, so I will just make a PR.

[2019-08-11 07:43] uds5501 commented on #6175
Fixed  now

[2019-08-11 07:43] #6175 closed

[2019-08-11 07:44] #6123 closed

[2019-08-11 08:24] prateekj117 commented on #6187
@uds5501 Why was this closed?

[2019-08-11 09:36] iamareebjamal commented on #5871
Issue should be created here

[2019-08-11 10:24] iamareebjamal opened #6345 "Add test stripe client ID field in settings model"
I was mistaken, as there is a separate client ID for testing. Please add this field in Settings Model as well

[2019-08-11 12:04] kushthedude commented on #6345
On It

[2019-08-11 12:11] smcri commented on #5872
Can I work on this issue?

[2019-08-11 12:12] kushthedude commented on #5872
@smcri Go ahead

[2019-08-11 13:56] thesmallstar commented on #6341
Can I work on this?

[2019-08-11 16:42] mrsaicharan1 commented on #6341
This is already being worked upon. Please take another issue :)

On Sun, 11 Aug 2019 at 7:26 PM, Manthan Surkar <notifications@github.com>
wrote:

[2019-08-11 21:45] iamareebjamal opened #6347 "Stripe client ID disappears automagically"
Stripe client ID disappears from the setting table from DB automatically after some time. Most likely when a new PR is merged and the deployment is made on heroku

Happened thrice by now.
Live secret and publishable key also vanish :tada: but test keys remain.

This is a very neat trick, but we need to get this resolved

[2019-08-12 01:36] CosmicCoder96 commented on #6347
@iamareebjamal
culprit 😈 : https://github.com/fossasia/open-event-server/blob/735dac3f8bb00f63659e5ecd1f7f2322f9cfcac9/populate_db.py#L90

Should we remove them from there or add config vars for heroku?

[2019-08-12 03:26] iamareebjamal commented on #6347
Thought so.

Remove this code. As there will always be a conflict on whether to pick value from DB or environment variable. Since we are preferring the frontend UI, it should not be picked up from environment variable

[2019-08-12 04:44] uds5501 commented on #6111
Closing in favour of #6191

[2019-08-12 04:44] #6111 closed

[2019-08-12 07:54] prateekj117 opened #6348 "flask-rest-jsonapi returning fields related to a deleted field"
**Describe the bug**
Say we want tickets under a ticket-tag, we use the endpoint `/ticket-tags/{ticket_tag_id}/tickets`, but if say that ticket_tag_id is deleted, flask-rest-jsonapi does not check for that, and returns the tickets (not deleted ones) under that ticket_tag_id.

**Expected behavior**
Flask-Rest-JsonAPI should not return fields related to a deleted field.

**Additional context**
Worki

[2019-08-12 08:34] prateekj117 opened #6350 "Multiple rows with same value allowed in ticket-tags"
**Describe the bug**
It should check if the same ticket-tag already exists for the specified event.

**Expected behavior**
Should throw an error that entry already exists in case it does.

**Additional context**
Working on it.

[2019-08-12 15:32] mrsaicharan1 opened #6353 "Implement functions to process payTM transaction"
**Is your feature request related to a problem? Please describe.**
Parent issue: #6247
This is the second step in the workflow of PayTM transactions. After obtaining the txn token from the initiation process, we proceed to steps pertaining to fetching the payments options and processing the transaction.

[2019-08-12 15:32] mrsaicharan1 commented on #6353
@uds5501 please add this to the current milestone.

[2019-08-12 15:33] #6347 closed

[2019-08-13 07:18] mrsaicharan1 opened #6356 "is_paytm_activated shouldn't be a read only attribute"
**Describe the bug**
 Alipay, Omise, and PayPal have a property to enable them(e.g. `is_paypal_activated`). They were hybrid properties(condition was like `if client_key and secret_key then true`), so they had a dump_only=True. We need to remove this as we've moved away from such a practice. The reason for this is because we need the keys to be stored, whether the property is enabled/disabled

**A

[2019-08-13 10:21] #6350 closed

[2019-08-13 10:23] #6356 closed

[2019-08-13 10:23] #5872 closed

[2019-08-13 11:51] #6340 closed

[2019-08-13 13:09] CosmicCoder96 commented on #5998
@iamareebjamal how would pending and other sessions will be retrieved after this?

[2019-08-13 13:13] prateekj117 commented on #5998
@CosmicCoder96 By id. For cases like the one stated by @shreyanshdwivedi on Gitter, we can check the role of retriever and return session list accordingly.

[2019-08-13 13:17] CosmicCoder96 commented on #5998
Whar do you mean by `id`? `Id` of what?

[2019-08-13 13:19] iamareebjamal commented on #5998
Only admin and event owner will be able to see the pending sessions, that too after passing a query parameter, not by default

[2019-08-13 13:21] CosmicCoder96 commented on #5998
@prateekj117 To clarify, as of this moment, none of the pages which are not public, work on the frontend, including admin sessions, all, live, past, draft are broken and

`Will` implies even server-side refactor was not in the PR? The frontend is completely crippled.

[2019-08-13 13:22] iamareebjamal commented on #5998
Revert the PR then

[2019-08-13 15:14] CosmicCoder96 commented on #6303
@ShridharGoel  I don't follow? What's the correlation between image link has to do with localhost and heroku?

[2019-08-13 16:37] #6345 closed

[2019-08-13 16:45] iamareebjamal commented on #6303
Image link is - open-event-api-dev.herokuapp.com/static/haha.jpeg

Becomes localhost/static/haha.jpeg on deleting it

[2019-08-13 17:32] prateekj117 commented on #6303
@iamareebjamal

[2019-08-13 18:08] iamareebjamal commented on #6303
@ShridharGoel Can you please test again

[2019-08-13 18:12] ShridharGoel commented on #6303
Tested again. The issue is still there.

[2019-08-13 18:17] prateekj117 commented on #6303
@ShridharGoel If possible, can you please share the exact request being sent to the server.

[2019-08-13 18:49] CosmicCoder96 commented on #6303
@iamareebjamal @ShridharGoel @prateekj117 I can't reproduce it through postman, does it happen only via android? It's strange because, deleting an image is equivalent to changing, the avatar URL, from some value to null, the keyword `localhost` can't magically appear.

@ShridharGoel How exactly are you testing it? If it's not reproducible via postman, then it's not a server issue.

[2019-08-13 21:59] CosmicCoder96 commented on #6179
Yes, invites seem to be working now.

[2019-08-13 21:59] #6179 closed

[2019-08-14 06:31] uds5501 opened #6363 "Implement event invoice pdf download endpoint"
Prepare an endpoint for downloading event invoice PDFs with appropriate security measures.

[2019-08-14 17:33] #6205 closed

[2019-08-14 19:03] liveHarshit opened #6364 "Attendee pdf URL is not working"
Fixes https://github.com/fossasia/open-event-attendee-android/issues/2273

https://open-event-api-dev.herokuapp.com/generated/tickets/orders/tickets/pdf/6cbaf31d-7d10-4b8d-b22c-5be61209ad1d/MnNBVEJ1Q1/6cbaf31d-7d10-4b8d-b22c-5be61209ad1d.pdf

![image](https://user-images.githubusercontent.com/27783786/63048465-40cd3a00-bef4-11e9-8554-056c5156316b.png)

![image](https://user-images.githubuserconten

[2019-08-14 19:08] prateekj117 commented on #6364
@liveHarshit Looking into it.

[2019-08-15 12:53] ShridharGoel commented on #6303
@CosmicCoder96 After deleting an image, I am setting the avatar-url to null and updating the user. But then on fetching the user details again, the link with localhost is being fetched.

[2019-08-15 14:26] iamareebjamal commented on #6303
Try with Postman. If it is not happening with Postman, something is wrong on Android side

[2019-08-15 16:06] #6280 closed

[2019-08-16 12:02] uds5501 opened #6368 "Generated event invoices have a default state of 'pending'"
**Describe the bug**

Any new event invoice being generated have a default state of `pending` which shouldn't be the case.

![Screenshot from 2019-08-16 17-30-12](https://user-images.githubusercontent.com/21087061/63166368-d3ccb800-c04b-11e9-833d-a17c8da3d8c0.png)

**Expected behavior**

The default state should be of `due`

[2019-08-16 12:46] #6245 closed

[2019-08-16 19:55] kushthedude commented on #6368
@uds5501 How are event invoiced getting generated? On what basis ?

[2019-08-16 19:58] ShridharGoel commented on #6303
![Postman screenshot](https://user-images.githubusercontent.com/35566748/63194673-3e9ee300-c08e-11e9-9d7d-3c7fceaba50f.png)

[2019-08-16 20:18] prateekj117 commented on #6303
@iamareebjamal I am not experiencing it using Postman.

[2019-08-16 20:48] iamareebjamal commented on #6303
Try with same payload @prateekj117

[2019-08-16 20:48] iamareebjamal commented on #6303
@ShridharGoel Does the same happen in production?

[2019-08-16 21:40] iamareebjamal opened #6372 "Increase dredd timeout"
dredd has been timing out a lot lately. Increase the timeouts

Also, dredd 4.0 is ancient. It hasn't been updated since dredd tests were added in the repo. Use latest one

[2019-08-16 23:53] kushthedude commented on #6372
@iamareebjamal For the second part, Is there anything rather than updating Dredd in `.yml` ?

[2019-08-16 23:56] iamareebjamal commented on #6372
Yes, you'll have to fix any deprecations

[2019-08-17 00:23] iamareebjamal opened #6374 "Add cache for npm"
There is no cache for npm in Travis

Also, avoid global installation and use npx instead

[2019-08-17 01:12] #6372 closed

[2019-08-17 01:31] iamareebjamal opened #6377 "Make API documentation compatible with latest dredd"
2 tests are failing on latest dredd. https://travis-ci.org/fossasia/open-event-server/builds/572997848?utm_source=github_status&utm_medium=notification

Fix them

Also, remove the warnings about API documentation

[2019-08-17 02:20] iamareebjamal opened #6378 "Disable push builds for branches other than development and master"
Self-explanatory. It consumes too much of Travis resources for dependabot builds that it queues actual builds

[2019-08-17 02:24] iamareebjamal opened #6379 "Separate dredd and test tasks and add stages"
Dredd takes 18 minutes to run and then tests run in 4 minutes. Both have no connection and running them parallelly will reduce the build time.

4 minutes of reduction is not the biggest feature though. More importantly, we'll have better understanding of what fails (dredd or tests) instead of having dredd time out or fail without nosetests running

Another stage will be introduced which will run o

[2019-08-17 02:26] iamareebjamal commented on #5460
Already happening for a long time

[2019-08-17 02:26] #5460 closed

[2019-08-17 02:31] iamareebjamal commented on #5893
Already happening now.

Only one thing is remaining, that is using image in docker-compose instead of build

The only other thing remaining is that app version is not supplied internally. So, API cannot be queried to know what is the server version

[2019-08-17 02:35] iamareebjamal commented on #5454
Second option not needed right now, so closing

It is recommended to copy the docker-compose file elsewhere and modifying it accordingly

[2019-08-17 02:35] #5454 closed

[2019-08-17 03:06] #5827 closed

[2019-08-17 05:37] mrsaicharan1 commented on #6327
Closed via #6370

[2019-08-17 05:37] #6327 closed

[2019-08-17 07:59] prateekj117 commented on #6303
@iamareebjamal Tried. Still not happening locally. Though I found something weird. When I am sending this request:

![Screenshot from 2019-08-17 13-26-50](https://user-images.githubusercontent.com/31065687/63208520-c4547a00-c0f2-11e9-944f-d39820d87ce0.png)

Only `avatar_url` gets updated, and the data in `before_update_object` function only has `avatar_url` in it. Can you please check if something

[2019-08-17 09:16] ShridharGoel opened #6381 "Anyone can edit details of other users"
**Describe the bug**
`PATCH` request to edit details of any user on production instance gets executed successfully which is a serious security issue.

While on the dev instance, `Access Forbidden` error is thrown, which is the correct behaviour.

[2019-08-17 09:16] ShridharGoel commented on #6381
@iamareebjamal @CosmicCoder96

[2019-08-17 09:17] mrsaicharan1 commented on #6381
I’ll fix this

On Sat, 17 Aug 2019 at 2:46 PM, Shridhar Goel <notifications@github.com>
wrote:

[2019-08-17 09:28] prateekj117 commented on #6364
@iamareebjamal The url generated has the correct path. I think it's because flask does not simply serve static files with path url specified. Am I right?

[2019-08-17 09:35] ShridharGoel commented on #6303
In production, the image is not getting deleted. Same link is being returned. Tried deleting the image via frontend too, but it did not get deleted.

[2019-08-17 10:52] ShridharGoel commented on #6303
@iamareebjamal Should I create a separate issue for this?

[2019-08-17 11:15] prateekj117 commented on #6303
@ShridharGoel Try again after updating frontend dev branch, it was solved in https://github.com/fossasia/open-event-frontend/pull/3361.

@ShridharGoel Try again after updating frontend dev branch, it was solved in https://github.com/fossasia/open-event-frontend/pull/3361.

[2019-08-17 11:18] ShridharGoel commented on #6303
But it's a server issue because it's there on Android too and can be reproduced via Postman also.

[2019-08-17 11:32] prateekj117 commented on #6303
@ShridharGoel Yes. That is the case. But the localhost url is wrong anyway, so it should not have displayed the avatar after deletion. So it was happening on frontend due to some different issue I guess.

[2019-08-17 11:34] ShridharGoel commented on #6303
@prateekj117 It is displaying the same avatar after deletion only on the production instance. For the dev instance the link is getting changed to the `localhost` one.

[2019-08-17 11:53] iamareebjamal commented on #6303
@prateekj117 Frontend comes nowhere in this issue

[2019-08-17 11:54] prateekj117 commented on #6303
@iamareebjamal Yes, that's a different issue.

[2019-08-17 11:54] iamareebjamal commented on #6303
All images except avatar-url and maybe thumbnail-url are/should be dump only. So, they should not be sent to server,

Nevertheless, sending them should not break the implementation

[2019-08-17 11:55] iamareebjamal commented on #6364
That statement makes no sense to me. See how it is being shown on frontend and specify here

@mrsaicharan1 Please take a look

[2019-08-17 11:56] mrsaicharan1 commented on #6364
@iamareebjamal I will take a look at what’s wrong

On Sat, 17 Aug 2019 at 5:25 PM, Areeb Jamal <notifications@github.com>
wrote:

[2019-08-17 12:03] prateekj117 commented on #6364
@iamareebjamal so say I want to serve a pdf whose path url is: `(root project directory)/abc/abc.pdf`.
So if we start the server, and go to `localhost:5000/abc/abc.pdf`, will we get that pdf on browser? If not, I think the pdf rendering is working that way. It has the directory path url after `localhost:5000`

[2019-08-17 13:11] #6368 closed

[2019-08-17 13:12] CosmicCoder96 opened #6382 "Ticket tag migrations failing for production data"
[code]

[2019-08-17 13:13] mrsaicharan1 commented on #6364
@prateekj117 The files would be served over a route which handles security & other aspects. Check `app/api/helpers/auth.py`

[2019-08-17 13:57] prateekj117 commented on #6382
@CosmicCoder96 Will push a PR in an hour.

[2019-08-17 14:26] iamareebjamal commented on #6382
Please do it ASAP and think about things which may break regardless of if they don't break locally

[2019-08-17 14:35] iamareebjamal opened #6383 "Ticket PDF not found while sending emails"
https://sentry.io/share/issue/5257703ed89345b3abf0b2432765f4ae/

[2019-08-17 14:44] mrsaicharan1 commented on #6383
@iamareebjamal #6331 This PR should've fixed that. Is this happening on the dev server or production?

[2019-08-17 14:45] iamareebjamal commented on #6383
Alright. This was production

[2019-08-17 14:45] #6383 closed

[2019-08-17 14:48] iamareebjamal commented on #6383
https://sentry.io/share/issue/fdf7fc78bcdf45f4b5baad6454a6a9f1/
https://sentry.io/share/issue/a19b0ddffd644211a714b612c6b4ff9b/

These will be fixed by it as well, right?

[2019-08-17 14:51] mrsaicharan1 commented on #6383
@iamareebjamal These weren't related to that tickets URL path fix so these might persist. I will check right now and get back to you here.

[2019-08-17 14:51] iamareebjamal opened #6384 "Error while adding custom form field"
https://sentry.io/organizations/fosssia/issues/1165980634/?project=1438484

Feel free to reassign

[2019-08-17 14:54] iamareebjamal commented on #6383
FileNotFound - 'attachments': ['generated/tickets/attendees/ticke...","id":"c4a1ef4d-54f6-4392-afd4-da91f181f815","exc":"FileNotFoundError(2, 'No such file or directory')"}

'attachments': ['generated/tickets/attendees/ticke...","id":"c4a1ef4d-54f6-4392-afd4-da91f181f815","exc":"FileNotFoundError(2, 'No such file or directory')"}

[2019-08-17 14:58] mrsaicharan1 commented on #6383
@iamareebjamal Okay looking at the attachment paths, yes they would be fixed. These would be fixed as well.
Also, 'ticket_attendee': 'attendees/tickets/pdf/{identifier}' can be safely removed from storage helpers as we've moved to 'tickets_all': `generated/orders/tickets/pdf/...` so that co-organizers, organizers and attendees could download the tickets.

[2019-08-17 15:11] iamareebjamal commented on #6383
OK, open an issue to remove this

[2019-08-17 15:18] mrsaicharan1 opened #6385 "Remove tickets_attendee path from storage helpers"
**Description**
'ticket_attendee': 'attendees/tickets/pdf/{identifier}'
can be safely removed from storage helpers as we've moved to 'tickets_all': generated/orders/tickets/pdf/... so that co-organizers, organizers and attendees could download the tickets.

**Additional Context**
Just to be sure, please check if any of the downloads break by any chance because of this.

[2019-08-17 16:15] iamareebjamal commented on #6382
Manually fixing the duplication in production DB copy and replaying the commands since I don't think we'll have a working solution soon

[2019-08-17 18:33] #6378 closed

[2019-08-17 18:45] kushthedude opened #6388 "Add placeholder for FE version in Release Drafter"
Add a placeholder for FE version in Release Drafter configuration as done in FE

[2019-08-17 19:07] prateekj117 commented on #6381
@mrsaicharan1 May I take this one up?

[2019-08-17 22:56] iamareebjamal opened #6389 "Rename association table to a proper name"
There's a table called association

Can anyone guess what it is used for?

That's right. Linking ticket tags and tickets. So obvious...

[2019-08-18 02:46] #5961 closed

[2019-08-18 07:55] uds5501 commented on #6252
Not of priority rn

[2019-08-18 07:55] #6252 closed

[2019-08-18 07:59] uds5501 commented on #6101
Working now

[2019-08-18 07:59] #6101 closed

[2019-08-18 07:59] uds5501 commented on #6171
Working now

[2019-08-18 07:59] #6171 closed

[2019-08-18 16:32] iamareebjamal opened #6392 "All URLs of event are on localhost"
Pentabarf, iCal, xCal URLs are all on localhost

https://open-event-api-dev.herokuapp.com/v1/events/7

[2019-08-18 17:08] ashwani99 commented on #6392
@iamareebjamal Can I take this?

[2019-08-18 17:12] iamareebjamal commented on #6392
Go ahead

[2019-08-18 17:22] iamareebjamal commented on #6210
Copied from PR:

The check has to be this way. The implementation may not be correct here, but frontend will have to change its implementation when the check is in place.

There is no way this check can be implemented without frontend changing its implementation, so let's stop using the excuse that frontend will break. It will in either case. Having a check on frontend is not enough.

The issue wa

[2019-08-18 19:42] ShridharGoel opened #6393 "Wrong number of speakers"
**Describe the bug**
https://eventyay.com/e/c0e175a3
Event has only 1 speaker but number of confirmed speakers is being shown as 5 on both frontend and Android.

![Number of speakers issue](https://user-images.githubusercontent.com/35566748/63229484-42616f80-c21e-11e9-88d8-8e6c6434a02d.png)

[2019-08-18 20:16] shreyanshdwivedi commented on #6393
Will check

[2019-08-18 20:38] #6382 closed

[2019-08-19 00:10] iamareebjamal commented on #6303
@CosmicCoder96 Try uploading the image on https://open-event-fe.netlify.com

All links are localhost

[2019-08-19 00:12] iamareebjamal commented on #6303
Deleting is not working as well

[2019-08-19 00:13] iamareebjamal commented on #6303
I reproduced it the first time I tried. I don't know what you guys were doing. @prateekj117

[2019-08-19 01:32] prateekj117 commented on #6303
@iamareebjamal I was trying on localhost.

[2019-08-19 01:37] prateekj117 commented on #6303
@iamareebjamal In case you were able to reproduce it on localhost, can you please share your exact request.

[2019-08-19 04:49] prateekj117 commented on #6381
Looking into it.

[2019-08-19 04:51] mrsaicharan1 commented on #6381
@prateekj117 if this issue isn’t present on the Dev server(which will
eventually be merged into master), is this still valid?

On Mon, 19 Aug 2019 at 10:19 AM, Prateek Jain <notifications@github.com>
wrote:

[2019-08-19 04:55] ShridharGoel commented on #6381
Dev server does not mean the dev branch, it means the debug instance of the
server being used for testing purposes.

On Mon 19 Aug, 2019, 10:21 AM Saicharan Reddy <notifications@github.com
wrote:

[2019-08-19 05:02] prateekj117 commented on #6381
@ShridharGoel Which is in sync with the current commits, right? I think it's not valid in that case @mrsaicharan1 .

[2019-08-19 05:57] ShridharGoel commented on #6381
Okay, in that case we should wait for @iamareebjamal to confirm whether it's valid or not.

[2019-08-19 06:45] liveHarshit opened #6394 "Wrong error and pointer for unverified user"
Reference: https://github.com/fossasia/open-event-attendee-android/pull/2287#discussion_r314992174

![image](https://user-images.githubusercontent.com/27783786/63244440-027ca580-c27b-11e9-8f69-552c0596d74d.png)
![image](https://user-images.githubusercontent.com/27783786/63244456-0c9ea400-c27b-11e9-985e-154010904a27.png)

[2019-08-19 07:20] shreyanshdwivedi commented on #6394
So you need error `Please verify your account to order free tickets`? And pointer?

[2019-08-19 07:31] liveHarshit commented on #6394
@iamareebjamal

[2019-08-19 08:38] iamareebjamal commented on #6303
Issue is on hosted instances

[2019-08-19 08:41] iamareebjamal commented on #6381
I mean find why it is happening at least. What if it only happens due to ProductionConfig.

Go back in commit history and find the faulty commit and then we can close it

[2019-08-19 08:42] iamareebjamal commented on #6394
user should be pointer. UNAUTHORIZED should be the error

[2019-08-19 09:36] shreyanshdwivedi commented on #6393
@ShridharGoel is the speaker associated with 5 confirmed sessions?

[2019-08-19 09:42] ShridharGoel commented on #6393
No, 3 confirmed sessions.

[2019-08-19 09:53] shreyanshdwivedi commented on #6393
@ShridharGoel  I checked the db and relationships. I think I know the probable cause. Can you tell me if you have deleted sessions that were assigned to the speaker earlier? If yes, how many sessions were there?

[2019-08-19 10:03] ShridharGoel commented on #6393
Yes I think I had deleted sessions when I was making changes to the schedule, though I don't remember how many. But there were no changes in the number of speakers.

[2019-08-19 10:10] shreyanshdwivedi commented on #6393
Ok. @iamareebjamal @ShridharGoel  the error here is we have tables `sessions`, `speakers` and `sessions_speakers_links` in the db. The table `sessions_speakers_links` is used to establish relationship between speakers and sessions and also to retrieve speaker count. But when a session is deleted it is not reflected in this table and so deleted session and speakers are being counted too.

[2019-08-19 12:58] iamareebjamal commented on #6393
Why?

It doesn't need to be reflected. Deleted speakers should be filtered out

[2019-08-19 13:37] ShridharGoel opened #6396 "Return list of completed attendees instead of all"
**Describe the bug**
While fetching the list of attendees using the endpoint `events/{id}/attendees` all attendees are returned while only completed attendees should be returned.

[2019-08-19 15:53] prateekj117 commented on #6381
@iamareebjamal On it.

[2019-08-19 16:36] prateekj117 opened #6397 "Unique constraint migration not being called."
**Describe the bug**
I was going through migration history and realized 3-4 last migrations were not being called.

[2019-08-19 16:59] prateekj117 commented on #6187
Output of 'python3 manage.py db history'

![Screenshot from 2019-08-19 22-28-16](https://user-images.githubusercontent.com/31065687/63284280-ce33d400-c2d0-11e9-9f3b-a5b032cda9c4.png)

[2019-08-19 20:53] iamareebjamal commented on #6187
Create a new project and run migrations and see

[2019-08-19 20:54] #6397 closed

[2019-08-19 20:55] prateekj117 commented on #6187
@iamareebjamal Oh ya.

[2019-08-20 06:40] liveHarshit commented on #6394
Shouldn't it be unverified?

[2019-08-20 06:52] shreyanshdwivedi commented on #6394
I think the error earlier was fine - 'Unverified user cannot buy free tickets'. @liveHarshit?

[2019-08-20 07:02] iamareebjamal commented on #6394
There is no UNVERIFIED HTTP status code https://httpstatuses.com/401

However, I was wrong, it should be 403 FORBIDDEN

HTTP spec should be changed. 401 UNAUTHORIZED should be UNAUTHENTICATED and 403 FORBIDDEN should be UNAUTHORIZED

[2019-08-20 07:06] liveHarshit commented on #6394
It's detail, see the error title.

[2019-08-20 15:03] shreyanshdwivedi opened #6401 "Implement route to get transaction status of the payment"
**Is your feature request related to a problem? Please describe.**

Parent Issue - #6247
Implement route to get transaction status of the payment to verify if payment is actually made or not

**Additional context**

On it

[2019-08-20 18:54] kushthedude commented on #6396
@ShridharGoel What do you mean by completed attendee ?

[2019-08-20 19:08] ShridharGoel commented on #6396
@kushthedude Check out the attendees page of any event of yours on the frontend. There you will see the various categories. Completed attendee basically means an attendee with a completed order.

[2019-08-20 19:10] kushthedude commented on #6396
All attendees should be returned, and for completed we can apply sort filters.
@iamareebjamal ?

[2019-08-20 19:11] ShridharGoel commented on #6396
@kushthedude Check this: https://gitter.im/fossasia/open-event-organizer-android?at=5d5aa53353490e334d21dcd4

[2019-08-20 19:12] kushthedude commented on #6396
What about the attendee with offline tickets @ShridharGoel , They have status of placed.

[2019-08-20 20:37] #6341 closed

[2019-08-20 22:45] #6394 closed

[2019-08-20 22:46] iamareebjamal commented on #6396
@kushthedude Server should only return valid values by default without filtering. If more are required, they are be queried explicitly

[2019-08-21 09:50] ashwani99 commented on #6392
@iamareebjamal Can you please help me reproduce the error in local? I have tried creating new events but they all are having `i_cal`, `x_cal` values to be `null`

[2019-08-21 10:58] anhanh11001 opened #6405 "PayPal not configured for verify payment method"
**Describe the bug**
PayPal not configured for verify payment method for mobile client

**Stacktrace**
[code]

[2019-08-21 16:33] prateekj117 commented on #6187
Created a new database.

![Screenshot from 2019-08-21 22-02-18](https://user-images.githubusercontent.com/31065687/63450329-65c72d00-c45f-11e9-8cda-daf7b12c7fc4.png)

[2019-08-21 21:22] iamareebjamal commented on #6187
Strange. Closing

[2019-08-21 21:22] #6187 closed

[2019-08-22 02:59] CosmicCoder96 opened #6407 "Implement schema and APIs to support complex custom forms"
Parent issue: #6191

Adds necessary APIs, migration files to begin implementing custom forms

[2019-08-22 14:48] mariobehling opened #6409 "Speaker CSV download directs to localhost"
http://localhost/static/media/exports/677/csv//RG84OVJwWE/speakers-817dsomethingseomthing.csv

Speaker download page of events directs to localhost.

![Screenshot from 2019-08-22 16-46-25](https://user-images.githubusercontent.com/1583873/63524604-98733300-c4fc-11e9-92c3-d4b2cdf857fc.png)

[2019-08-23 05:27] #6405 closed

[2019-08-23 11:29] anhanh11001 opened #6411 "Wrong type to compare when verifying PayPal order"
**Describe the bug**
In verify paypal payment, the type of order amount from PayPal is a string, which make function always return False

[2019-08-23 13:50] #6411 closed

[2019-08-23 14:53] mrsaicharan1 opened #6413 "Factories & Integration test for Role Invite Deletion"
**Is your feature request related to a problem? Please describe.**
Sub issue #5320

[2019-08-23 18:24] #6247 closed

[2019-08-23 18:24] #6353 closed

[2019-08-25 06:48] prateekj117 commented on #6396
@iamareebjamal Working on this.

[2019-08-25 08:21] anhanh11001 opened #6416 "save_to_db function is mistakenly removed in helpers/payment.py"
**Describe the bug**
save_to_db function is mistakenly removed in helpers/payment.py

[2019-08-27 12:05] #5893 closed

[2019-08-27 12:06] #6416 closed

[2019-08-28 01:08] CosmicCoder96 opened #6419 "Tickets not generated for all attendees in a 4 ticket order"
attachment for invoice), however we encounter some small issues. May we
please ask you help us out?

We have the following issues:

·3 of the 4 persons (except for ****) received an email, however
the link to the ticket is not working (‘Not found’ error)

·The download of the tickets via the main page (where the tickets were
bought) gives only 1 ticket for ****

[2019-08-29 07:24] CosmicCoder96 opened #6423 "Event on public page fails to open"
On eventyay.com,
https://eventyay.com/e/78230603

This event is listed in the public page, but server cannot fetch it using it's identifier as the identifier is missing alphabets and thus is interpreted as an ID.

Ideal behavior: identifiers should always have letters in them.

Is the rationale correct @iamareebjamal

[2019-08-29 07:24] CosmicCoder96 commented on #6423
As a temporary solution manually changing ID now.

[2019-08-29 07:34] CosmicCoder96 opened #6433 "Server returns 409 : Ticket already sold out, even though tickets are remaining"
![image](https://user-images.githubusercontent.com/17252805/63919905-a8fc3f80-ca0d-11e9-9dc3-a50b20b31769.png)
{"errors": [{"status": 409, "source": {"pointer": "/data/attributes/ticket_id"}, "title": "Conflict", "detail": "Ticket already sold out"}], "jsonapi": {"version": "1.0"}}

Either the statistic is incorrect on frontend or it's wrong on the server.

[2019-08-29 08:34] kushthedude opened #6424 "Admin: Add gMap keys fields in settings"
Please See https://github.com/fossasia/open-event-frontend/issues/3484

[2019-08-29 09:50] iamareebjamal commented on #6423
Yes, it is correct

[2019-08-29 17:45] jospoortvliet opened #6426 "Enhance csv ticket export"
In the ticket view is a nice export button. I'd like to have it expanded to all relevant info, including address data, nr and details of ticket holders, payment details etc. This is useful for further processing and tracking of attendees & payments!

In our case, we send invoices manually and we track the state in a spreadsheet.

[2019-08-29 18:33] kushthedude opened #6428 "Blank Currency Symbol in `Orders` PDF file generated"
**Describe the bug**

Blank Currency Symbol in `Orders` PDF file generated

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Events/Tickets/Order'
2. Click on 'Export As PDF'
3. See error

[2019-08-30 00:21] #6213 closed

[2019-08-30 00:21] #6214 closed

[2019-08-30 00:21] #6392 closed

[2019-08-30 00:21] #6409 closed

[2019-08-30 05:27] #6323 closed

[2019-08-30 12:44] #6401 closed

[2019-08-30 17:52] mrsaicharan1 opened #6430 "AliPay/Omise routes should only be accessible for authenticated users"
**Describe the bug**
The current routes are prone to faulty source creation on test deployments.
Needs to be fixed using Flask-JWT Extended.

[2019-08-31 07:21] #6430 closed

[2019-09-01 07:12] uds5501 commented on #6174
Fixed by @CosmicCoder96

[2019-09-01 07:12] #6174 closed

[2019-09-02 13:17] #6407 closed

[2019-09-02 13:21] CosmicCoder96 opened #6434 "Add JSON column to attendees, sessions and speakers"
Parent issue: #6191

[2019-09-03 14:22] #6428 closed

[2019-09-04 14:49] #6191 closed

[2019-09-04 14:49] #6434 closed

[2019-09-06 20:27] prateekj117 commented on #6210
@iamareebjamal Working on this one.

[2019-09-07 18:03] prateekj117 commented on #4781
@iamareebjamal I think we can close this, right? Because this is done now in #6435

[2019-09-09 14:58] prateekj117 commented on #6424
@kushthedude Will be taking a look into it.

[2019-09-09 14:58] prateekj117 commented on #6093
@iamareebjamal Looking into it.

[2019-09-09 15:09] kushthedude commented on #6424
@prateekj117 Please take a look at FE once, since its a external dependancy, I dont think we can extract the key in our FE config

[2019-09-09 16:04] sameshl commented on #6388
@kushthedude I would love to work on this. Can you elaborate a bit on the issue

[2019-09-09 16:47] kushthedude commented on #6388
@sameshl See this https://github.com/fossasia/open-event-frontend/commit/ba2c6c3b0fe48d9e4466ec5af5133a38ec1dec79

[2019-09-10 22:28] #6348 closed

[2019-09-13 02:31] kushthedude opened #6444 "Add fields regarding `Billing Info` on choice of Attendee or Organiser"
Parent Issue https://github.com/fossasia/open-event-frontend/issues/3518

Changes to be done:
- Addition of field `is_billing_info_enabled_by_organiser`
- Addition of field `is_billing_info_filled_by_attendee`

[2019-09-13 12:48] iamareebjamal commented on #6444
Why is this field needed? `is_billing_info_filled_by_attendee`

[2019-09-13 17:11] kushthedude commented on #6444
To check if an attendee is willing to fill billing information or not, If filled, To store the info and use the following boolean to display it in order details too.

[2019-09-13 18:18] iamareebjamal commented on #6444
If the attendee is willing to enter the information, he/she will enter it. What will this field accomplish?

[2019-09-13 18:35] kushthedude commented on #6444
The idea is to give a checkbox if attendee wants to enter he will tick it

[2019-09-13 19:51] iamareebjamal commented on #6444
The checkbox is purely frontend component just to show/hide the form. It has no relevance in context of server or DB

[2019-09-14 16:44] asha15 commented on #5813
Hi,
Can i get some more information about this issue?

[2019-09-14 18:22] iamareebjamal commented on #5813
This is a discussion document on how notifications in the system should be implemented. This is marked for later and not actionable yet

[2019-09-16 06:55] iamareebjamal opened #6448 "Add celery, redis and SQLAlchemy integrations in sentry"
- [ ] Celery integration
- [ ] Redis Integration
- [ ] SQLAlchemy Integration

[2019-09-16 09:07] mariobehling opened #6620 "After-Event Mail: Separate Email Template of Speaker and Owner/Organizer"
There is an after-event message, that should not go to the speaker and organizer at the same time, which can be viewed at https://eventyay.com/admin/messages/list .

![Screenshot from 2019-09-16 10-59-01](https://user-images.githubusercontent.com/1583873/64946703-c20d4900-d873-11e9-9e2d-e07f22fefc0c.png)

Instead there should be
a) a message to the owner and organizers
b) a message to the speaker

[2019-09-17 19:09] prateekj117 opened #6450 "`before_delete_object` not being called in orders.py"
**Describe the bug**
As we are not deleting the order and just updating the `deleted_at` field, `before_delete_object is not being called`.

**Additional context**
Working on it.

[2019-09-17 19:17] prateekj117 opened #6451 "Correct API docs of update orders"
**Describe the bug**
The `PATCH` request for orders API docs shows identifier instead of the id as the value of `id` in body of the request, which actually shows an error when used.

**Expected behavior**
API docs should have id there to prevent confusion and error for someone simply following the documentation.

**Additional context**
Feel free to take this up.

[2019-09-18 07:41] mrsaicharan1 opened #6452 "Migrate Classes from Python 2->3"
**Describe the feature**
Some classes which are currently defined throughout the codebase are pertinent to Python2. Python3 Styled syntax is required.

[2019-09-18 07:43] iamareebjamal commented on #6452
I don't understand what's the difference

https://github.com/fossasia/open-event-server/blob/development/app/api/activities.py

Seems like Python3 to me.

Maybe change schemas and models to dataclasses?

https://docs.python.org/3/library/dataclasses.html

[2019-09-18 07:56] mrsaicharan1 commented on #6452
`app/api/helpers/payment.py`
The representation of Classes in this file and many other places are written as `class PaymentsManager(object):` which is Python2.
You don't need to subclass the object in Python3.  Classes are defined like this
`class PaymentsManager:`

https://realpython.com/python3-object-oriented-programming/

[2019-09-18 11:42] sameshl commented on #6452
I would love to take this up @mrsaicharan1

[2019-09-18 11:48] sameshl commented on #6451
@prateekj117 I would love to take it up. Working on it right away!

[2019-09-18 12:23] prateekj117 commented on #6451
@sameshl Go ahead.

[2019-09-18 13:55] mrsaicharan1 commented on #6452
@sameshl Please check the assignees before claiming an issue.

[2019-09-18 14:26] sameshl commented on #6452
@mrsaicharan1 I didn't look at that. My bad

[2019-09-19 18:21] #6452 closed

[2019-09-20 18:24] soumya-ranjan7 commented on #6393
@shreyanshdwivedi Can I take up this issue?

[2019-09-20 22:19] shreyanshdwivedi commented on #6393
@soumya-ranjan7 I'll suggest you to try out some beginner friendly issues first to get the understanding of codebase.

[2019-09-21 15:56] ranjsa opened #6459 "Make comment optional in feedback"
**Is your feature request related to a problem? Please describe.**
Writing comment should be optional in feedback , but right now it does not accept feedback without writing comment .
![screen2](https://user-images.githubusercontent.com/43692789/65375714-3867dc00-dcb6-11e9-9e63-c7b5b6f88011.png)

**Describe the solution you'd like**
I want to change the code in server to accept empty comment with

[2019-09-22 18:31] tronku opened #6461 "Allow getting tickets without logging in"
**Is your feature request related to a problem? Please describe.**
It's with reference to the issue created in Open Event attendee project. [Issue #1869](https://github.com/fossasia/open-event-attendee-android/issues/1869)

**Describe the solution you'd like**
Allowing users to allow buying tickets without logging in. Currently, there's an issue from server side to implement it. A user has to be a

[2019-09-23 10:48] kushthedude commented on #6461
@iamareebjamal For the guest orders, We are following when the user creates the `Order` after entering his `Email ID`, We mail him the `password reset link` and make his account. So I think there is no issue from the server-side. As the following is also followed in `Event Brite`. Hence I think its a vague issue.

[2019-09-23 10:50] kushthedude commented on #6459
The following is the issue from `Client Side`, On the server, the comment is already optional, As we are also using `Feedbacks` in the web client.

[2019-09-23 10:50] #6459 closed

[2019-09-23 11:50] iamareebjamal commented on #6461
How will the user create order when custom form is only allowed to be seen by authenticated user?

[2019-09-23 15:18] mrsaicharan1 commented on #6419
@iamareebjamal Instead of creating 4 different tickets(PDFs) for one order and sending them separately, wouldn't it be better to merge the info related to the attendees in one ticket which could be sent to the attendees on that order?

[2019-09-23 16:08] iamareebjamal commented on #6419
Yes, sounds better. But, then you can't have separate tickets for separate people making scanning difficult in my opinion

[2019-09-23 16:09] kushthedude commented on #6461
If thats the case, Than the following must be the issue on `Web Client` too ?

[2019-09-23 18:18] iamareebjamal commented on #6461
How are they working. What is the flow exactly. AFAIK it does not match that of eventbrite

[2019-09-23 19:51] iamareebjamal opened #6463 "Add static types in codebase"
A lot of benefits can be reaped and a log of bugs can be caught with static typing in Python using validators and linters like mypy

This is a parent issue tracking various areas where static typing can be added and is reserved for first time and new contributors

https://docs.python.org/3/library/typing.html
https://mypy.readthedocs.io/en/stable/index.html

This issue can be broken down into 2 ph

[2019-09-23 19:54] Dilshaad21 commented on #6463
@iamareebjamal can I take this issue

[2019-09-23 20:48] iamareebjamal commented on #6463
Take one part of it. Analyze the codebase and tell me which component you'd like to work on

[2019-09-24 03:14] mrsaicharan1 commented on #6419
We'd also need to refactor the generation of the QR code in such a way that it pulls the info about every attendee on that order, similar to other ticketing sites.

[2019-09-24 07:52] iamareebjamal commented on #6419
No, that is opposite of what we want. We want different QR for each person so it is easy to track individual attendee on organizer app

Also, we never make backward incompatible changes when dealing with mobile clients unless absolutely needed and critical. You'll make this change and it'll break every organizer app in the world

[2019-09-24 10:46] Dilshaad21 commented on #6463
I would like to work with the utils component. Then how should I begin with it?

[2019-09-24 10:56] sameshl commented on #6463
@iamareebjamal I would like to take the api helpers part

[2019-09-24 11:20] iamareebjamal commented on #6463
@Dilshaad21 There are a lot of utilities in api.helpers as well unfortunately

Like this test - https://github.com/fossasia/open-event-server/blob/development/tests/all/unit/api/helpers/test_utilities.py

It is testing things from helpers but they are actually utilities.

Start with common.py and take up utilities in helpers. Anything not related to API is a utility - file utility, compression, te

[2019-09-24 23:13] mrsaicharan1 opened #6465 "Refactoring model definitions to data classes"
**Feature Description**
A ton of boilerplate code is written everywhere because of the redundant `__init__`, `__repr__` and other methods. Moving to the dataclass architecture would prove to get rid of this and focus mainly on data.

**Describe the solution you'd like**
Implementation of Data Classes

[2019-09-25 19:39] iamareebjamal opened #6467 "Deduplicate marshmallow schema by using marshmallow-sqlalchemy"
There is a lot of repetition between sqlalchemy models and marshmallow schema

Use https://marshmallow-sqlalchemy.readthedocs.io to remove this duplication

This is a parent issue and new contributors can take an API component and send contributions converting their schemas

[2019-09-26 07:50] Soniyanayak51 commented on #6467
Hi, I would like to work on this issue. This will be my first pull request here. Can you help me with where to start?

[2019-09-26 08:59] iamareebjamal commented on #6467
Take a look at codebase and marshmallow schema files. Read about the above mentioned library and tell which component will you start working on here

[2019-09-26 14:40] Soniyanayak51 commented on #6467
@iamareebjamal I am willing towork on any of the schemas but I am not able to figure out the repetitions. I see that models serialize the data. Can you give an example?

[2019-09-26 15:00] iamareebjamal commented on #6467
Can you please take a look at the library I have linked in the issue and read about its usage. The issue will become apparent

[2019-09-26 22:48] iamareebjamal opened #6470 "Add server version and an API to show it"
- [x] README shows wrong release information, update it to correct release
- [ ] Add an API which shows the current version of the server.

[2019-09-26 22:58] iamareebjamal opened #6471 "Implement docker healthcheck and fix endpoint"
Currently, the health check endpoint shows that celery is not up. Which is untrue
https://api.eventyay.com/health-check

Besides, the presence or absence of celery does not signify the health of the web container. Hence, only DB and migrations should be checked by default and celery should have another endpoint for itself for checking the celery container

The second part of the issue is to add he

[2019-09-26 23:06] jatinAroraGit commented on #6470
Hi there,
I would like to work on this issue.
Can you please assign it to me ?
Thanks.

[2019-09-26 23:09] iamareebjamal commented on #6470
You can start working on it

[2019-09-27 11:47] codedsun commented on #6448
@iamareebjamal Can you guide me how can I take this?

[2019-09-27 13:02] iamareebjamal commented on #6448
You have to add these extensions in sentry integration. Read sentry python docs

[2019-09-27 13:12] moulikcipherX commented on #6374
Anyone is working on this issue?

[2019-09-27 13:13] moulikcipherX commented on #6471
Hello I want to work on this issue.. If anyone is not doing.

[2019-09-27 14:36] iamareebjamal commented on #6471
Go ahead

[2019-09-27 14:36] iamareebjamal commented on #6374
No

[2019-09-27 17:59] Soniyanayak51 commented on #6467
@iamareebjamal I went through the library. I need to rewrite the models and schemas using marshmallow-sqlalchemy but I am unable to find the repetiton. As per the documentation we still need to deserialize after the schema class. Sorry I am new but could you show me an example?

[2019-09-27 18:53] iamareebjamal commented on #6467
You don't need to rewrite the models. Just the schema

https://github.com/fossasia/open-event-server/blob/b8f136eee28e884409068d7bf348e6a89f77c27f/app/models/event.py#L44-L180

https://github.com/fossasia/open-event-server/blob/b8f136eee28e884409068d7bf348e6a89f77c27f/app/api/schema/events.py#L44-L288

Can you see the repetition now?

[2019-09-28 07:58] aryan2305 commented on #6379
Hi, I would like to work on this issue. This will be my first pull request here. Can you help me with where to start?

[2019-09-28 08:04] iamareebjamal commented on #6379
Read the travis docs about stages and reconfigure the config in .travis.yml

[2019-09-28 14:42] sargamm commented on #6463
@iamareebjamal  Can I take this issue for the API handlers part? I was planning to start with db.py

[2019-09-29 02:59] ranjsa opened #6472 "Add name of the user who has submitted feedback with comment and rating"
**Is your feature request related to a problem? Please describe.**

Right now we are only getting comment and rating in the feedback submitted by a user , So we cant see who has actually posted the feedback .
![WhatsApp Image 2019-09-29 at 8 21 48 AM](https://user-images.githubusercontent.com/43692789/65825288-d2212180-e292-11e9-9624-a179deaa5c8e.jpeg)

**Describe the solution you'd like**

Add na

[2019-09-29 12:18] GeniusLearner commented on #5498
I  am a newcomer and want to resolve this issue.

[2019-09-29 12:35] GeniusLearner commented on #6389
@iamareebjamal I am a newcomer and I want to take this issue.

[2019-09-29 12:39] kushthedude commented on #6389
Go on

On Sun, 29 Sep, 2019, 18:05 Sanchit Khurana, <notifications@github.com>
wrote:

[2019-09-30 18:56] #6448 closed

[2019-10-01 14:07] adrianocanofre commented on #6471
Hello, my suggestion is create a endpoint for /healthcheck and other for /working.

**/healthcheck** : Return 200 if ok.
[code]
**/working** : Return a list of all dependency
ex:
[code]

This structure is good, so the healthcheck response time is short.
I use this structure in my [projects](https://github.com/adrianocanofre/flask-template)

[2019-10-01 14:25] iamareebjamal commented on #6471
Makes sense :+1:

[2019-10-01 16:49] Soniyanayak51 commented on #6465
Hi, I am having trouble with testing. Can you tell me the the process of running unit tests?
`python3 -m unittest discover tests/all/` raises many module not found errors. Where can I find all the dependencies that need to be installed?

[2019-10-01 17:03] iamareebjamal commented on #6465
`nosetests tests/all`

[2019-10-01 17:13] Soniyanayak51 commented on #6465
@iamareebjamal I am still getting many errors like

ERROR: Failure: InvalidRequestError (One or more mappers failed to initialize - can't proceed with initialization of other mappers. Triggering mapper: 'mapped class EventTopic->event_topics'. Original exception was: When initializing mapper mapped class EventTopic->event_topics, expression 'EventSubTopic' failed to locate a name ("name 'EventSubT

[2019-10-01 17:25] iamareebjamal commented on #6465
Are you running it on development branch or after some changes you made?

[2019-10-01 17:27] Soniyanayak51 commented on #6465
I created a different branch. Running the command after I made changes.

[2019-10-01 17:27] iamareebjamal commented on #6465
Then there's a problem in the changes you made. Debug what's the issue

[2019-10-01 17:38] Soniyanayak51 commented on #6465
@iamareebjamal but I did not make changes to the files mentioned in the error and I created the branch after updating the development branch. The last part of the error is:
`======================================================================
ERROR: Test generation of hash for a key.
----------------------------------------------------------------------
Traceback (most recent call last):
  File

[2019-10-01 17:39] hpdang opened #6481 "Export As CSV is not possible for sessions"
**Describe the bug**
Log-in as an event organizer, unable to download sessions data using Export as CSV function. Click Export as CSV, an error message came up "CSV Export has failed"

**Desktop**
 - OS: Ubuntu 18.04.2
 - Browser: Chrome

**Screenshots**
![Screenshot from 2019-10-01 19-35-44](https://user-images.githubusercontent.com/1658742/65985914-1a069b00-e483-11e9-92ef-aafb41ede166.png)
![Scr

[2019-10-01 18:20] iamareebjamal commented on #6465
In which files did you make the changes. A very standard way to test if the errors are caused by you or already there is simply reverting your changes and running the tests. If you are still getting errors on unmodified development branch, we can take a look at what's wrong. However, chances are that the errors are due to your changes or maybe setting database url or app config wrong, because all

[2019-10-01 18:55] iamareebjamal commented on #6379
Done

[2019-10-01 18:55] #6379 closed

[2019-10-01 22:07] iamareebjamal commented on #6481
Fixed. Please try now

[2019-10-01 22:07] #6481 closed

[2019-10-02 04:21] prateekj117 commented on #5498
@GeniusLearner Go ahead.

[2019-10-02 05:45] prateekj117 commented on #6243
@iamareebjamal @uds5501 Taking this one.

[2019-10-02 07:34] iamareebjamal commented on #6243
There is a much more important bug. Monthly invoice mails are erroring out and not going. Since this happens once a month, it is hard to debug. Please take that issue up on priority and add tests for it

[2019-10-02 07:36] iamareebjamal opened #6486 "Monthly invoice mails are erroring out"
When deploying 1.6.2 last night, I noticed there are several errors in celery and APS and basically, no invoice email was sent most probably.

I could not copy logs as I was in middle of deployment.

Write tests for the invoice mail generation and debug what could go wrong

[2019-10-02 07:57] GeniusLearner commented on #6389
Hi, @kushthedude could you help me with this.
I am new to the community and open source.

[2019-10-02 08:00] prateekj117 commented on #6486
@iamareebjamal On it.

[2019-10-02 12:16] adrianocanofre commented on #6471
Create a issue for this fix endpoints??
I think it would be better to create issue to fix the docker and other for docker.

[2019-10-02 13:20] iamareebjamal commented on #6471
There is already a healthcheck endpoint, it just needs to get fixed

[2019-10-02 23:25] iamareebjamal opened #6493 "Remove all new features from flask-rest-jsonapi fork"
Almost all if not all features added in the fork can be shifted from it to the app and implemented and tested correctly.

The most difficult and still incorrectly implemented feature is soft deletion. Which can be implemented more robustly in this manner -
https://github.com/miguelgrinberg/sqlalchemy-soft-delete/blob/master/app.py

It is a pain to maintain the library and most tests are failing

[2019-10-02 23:29] kushthedude commented on #6493
From the `Fossasia's fork` ?

[2019-10-02 23:31] iamareebjamal commented on #6493
Yes

[2019-10-02 23:35] vishakhanihore commented on #6493
The new features which you are referring to are the commits made by us on fork?

[2019-10-02 23:36] kushthedude commented on #6493
The new features you referring to are the commits made by us on it?

[2019-10-03 01:11] iamareebjamal commented on #6493
Yes

[2019-10-03 01:17] kushthedude commented on #6493
@iamareebjamal We can just switch the branch for this, Currently we are using `shubh-amp master` which needs to be change to `master`<, this must be enough I think. Or do we need to use latest Flask-Rest API

[2019-10-03 01:20] prateekj117 commented on #6493
@kushthedude What about the changes? We still want those changes.

[2019-10-03 01:22] prateekj117 commented on #6493
@iamareebjamal Why was it decided to use our own modified version of flask-rest-jsonapi instead of making desired changes in the app from the beginning?

[2019-10-03 01:24] iamareebjamal commented on #6493
There are some changes still required in the library but most of them are now implemented in the library itself. Some features implemented in the fork resulted from less research on how to achieve the result

[2019-10-03 09:40] iamareebjamal opened #6494 "Cron job for marking event invoices due is wrong"
PR https://github.com/fossasia/open-event-server/pull/6166 is wrong. The query fails in every case

https://github.com/fossasia/open-event-server/blob/bc45c1d267b924b556d36855f29c1dd96e901209/app/api/helpers/scheduled_jobs.py#L164-L174

This line is not valid SQLAlchemy syntax:

https://github.com/fossasia/open-event-server/blob/bc45c1d267b924b556d36855f29c1dd96e901209/app/api/helpers/scheduled_jo

[2019-10-03 09:53] iamareebjamal commented on #6155
Still not working

`No such file or directory: 'generated/tickets/orders/tickets/pdf/9b2314a4-594b-485d-9997-f5ca4a716f12/UC9XeTI5Q3/9b2314a4-594b-485d-9997-f5ca4a716f12.pdf'`

[2019-10-03 10:11] iamareebjamal opened #6495 "Image resizing and handling fails due to Forbidden error"
The current image resizing and setting is extremely wasteful and expensive and screams for a redesign.

We should not accept external URLs in our API. What if I link a 1 GB file as an image? The server will try to download it and waste resources like bandwidth, disk space and CPU resources

Secondly, it shouldn't even accept URLs. Even in the scenario the URL is of our server, we redownload the fi

[2019-10-03 10:25] arpit551 commented on #6494
@iamareebjamal I would like to take this one if no one is working on it.

[2019-10-03 10:34] iamareebjamal commented on #6494
Go ahead. This is high priority issue so please try to submit a PR within few days

[2019-10-03 15:56] mrsaicharan1 commented on #6155
@iamareebjamal This issue was regarding the attachments. When the email was successfully sent, the tickets are attached. Why was this re-opened?

[2019-10-03 16:35] iamareebjamal commented on #6155
Because it's still not fixed?

[2019-10-03 17:04] iamareebjamal opened #6496 "Move APScheduler tasks and crons to celery"
100s of APscheduler tasks are failing with WORKER timeouts and throwing errors like `error with status PGRES_TUPLES_OK and no message from the libpq`

This happens due to connection sharing not working across processes.

I thought APscheduler would be good enough for most things and celery was an overkill, but for python, due to its GIL, it's better to not use forking and use completely decoupled

[2019-10-04 07:45] kushthedude commented on #6467
@iamareebjamal I will take it.

[2019-10-04 21:27] itnug987 commented on #6450
Is this issue still open? Can I work on this issue??

[2019-10-04 23:32] iamareebjamal opened #6503 "Switch tests to py.test from nose"
nose is unmaintained and recommends to use nose2, unittest or pytest

pytest has fixture based dependency injection, and parametrization, and is generally better

[2019-10-04 23:53] iamareebjamal opened #6505 "Run docker container as non root user"
Currently, the app and celery run as root in docker containers

They should be run as normal users

[2019-10-05 00:51] TJBANEY commented on #6503
Tests you say? I'd be happy to take this on for you 💪

[2019-10-05 05:27] asha15 commented on #6374
@iamareebjamal Shall i try this?

[2019-10-05 06:58] arpit551 commented on #6494
@iamareebjamal are there any tests written for scheduled jobs?

[2019-10-05 08:55] iamareebjamal commented on #6494
For some of them, it might be written, I'm not sure

[2019-10-05 08:56] iamareebjamal commented on #6374
Hi, I forgot to update this, but all npm commands have shifted to circle CI with caching enabled, so this issue is invalid. There are other issues open, please find one.

[2019-10-05 08:56] #6374 closed

[2019-10-05 09:31] souravsingh commented on #6503
Made a PR at #6507. Please provide feedback.

[2019-10-05 09:38] iamareebjamal commented on #6503
@TJBANEY mentioned to work on it first. Also, this issue was not going to get solved by changing a line in requirements.txt

If it would be, we wouldn't have opened an issue for it, just did it ourselves

[2019-10-05 09:48] souravsingh commented on #6503
My bad. I forgot to add the commits to test files

[2019-10-05 10:00] kushthedude commented on #6503
Did you just ignore my comments and @iamareebjamal  comment on your PR and the following issue?
@souravsingh We follow a proper development workflow here at FOSSASIA and you just created a vague PR before dropping comment and also not to mention that change was of one line.

[2019-10-05 10:01] iamareebjamal commented on #6503
Please let @TJBANEY work on it as he commented first. If he has not worked on it for a week, you can proceed. We follow rules and ethic here

[2019-10-05 10:08] souravsingh commented on #6503
@kushthedude I had forgotten to add the commits for test files, which I added later(which you didn't care to see). And I worked on the issue, since the issue doesn't have any assignee. I apologize if this inconvenienced you.

[2019-10-05 10:23] iamareebjamal commented on #6503
We don't add assignees here. Please read the guidelines. We can't accept your PR unless @TJBANEY agrees to it or does not send a PR within a week.

[2019-10-05 11:36] TJBANEY commented on #6503
@iamareebjamal  @souravsingh This is fine, It was late in my timezone when I started on it, so I didn't get much headway on it anyway 🙂

[2019-10-05 12:55] iamareebjamal opened #6508 "Make dredd tests strict"
Currently, dredd tests only test root structure of the schema and not the array contents, which make them obsolete for any list API. For example, https://app.apiary.io/public/tests/run/b514cf23-133e-4dc5-831e-41b0977668b7

In user permission API, the API is returning no items and the test is still passing.

https://dredd.org/en/latest/how-to-guides.html#making-dredd-validation-stricter

[2019-10-05 14:20] paras112 commented on #6508
Can I work on this issue?

[2019-10-05 14:53] iamareebjamal commented on #6508
Go ahead

[2019-10-06 06:11] prateekj117 commented on #6450
@itnug987 Go ahead.

[2019-10-06 06:29] prateekj117 opened #6509 "dataclasses dependency not found"
**Describe the bug**
In PR #6466, dataclasses module was not added in requirements.txt

**Additional context**
On it.

[2019-10-06 06:36] mrsaicharan1 commented on #6509
Dataclasses come built-in with Python 3.7

[2019-10-06 06:37] prateekj117 commented on #6509
@iamareebjamal @mrsaicharan1 Didn't know we are using 3.7 now. My bad. Closing this.

[2019-10-06 06:37] #6509 closed

[2019-10-06 06:38] mrsaicharan1 commented on #6494
@arpit551 If you're pre-occupied elsewhere, I'll go ahead & fix this.

[2019-10-06 11:47] iamareebjamal commented on #6494
@mrsaicharan1 Please go ahead, this is high priority

[2019-10-07 05:35] InfiniteVerma commented on #6385
Hi. I'll like to work on this issue.

[2019-10-07 07:54] iamareebjamal opened #6511 "ICalExporter not working"
https://github.com/fossasia/open-event-server/blob/97e94f2ce14d20341253822b5456c93bef590c71/app/api/helpers/ICalExporter.py#L48-L53

There is no email attribute on event object.

Fix the method and write tests

[2019-10-07 09:06] iamareebjamal opened #6513 "Pentabarf export not working"
https://github.com/fossasia/open-event-server/blob/97e94f2ce14d20341253822b5456c93bef590c71/app/api/helpers/pentabarfxml.py#L61-L64

Line 64: `unsupported operand type(s) for -: 'NoneType' and 'NoneType'`

[2019-10-07 14:00] PalAditya commented on #6513
I would like to help out with this if possible, but I am not sure what is being asked here. Is the bug due to the fact that ```session.ends_at``` and ```session.starts_at``` is sometimes None? In that case a simple if-else or try-except block would suffice.

However, I looked at Session.py, and in Lines 30-31:

https://github.com/fossasia/open-event-server/blob/97e94f2ce14d20341253822b5456c93bef59

[2019-10-07 16:04] PalAditya commented on #6513
That is my question actually: from the schema, I am unclear whether allowing nulls is intentional or not (as there is ```nullable=False```, seems it is unintentional), but could you confirm that whether *Not Null* is the intended behavior or not?
Or, could you kindly point me to a place where the intended behavior is documented?

[2019-10-07 17:30] iamareebjamal commented on #6513
There can be nulls in starts_at and ends_at. I don't know if it is intended behavior, but there are nulls in the database, so that is what we'll have to work with.

The "intended behavior" is lost when there is a gap between design and implementation, which is true in this case. Since we can't just add arbitrary values where nulls are present, we will assume that nulls are allowed

[2019-10-07 19:36] prateekj117 commented on #6493
@iamareebjamal Ok, so I will see what features are implemented in shubh-amp master, and open relevant sub-issues. I see we are also 164 commits behind original repo of flask-rest-jsonapi, and 27 commits ahead, what should be our way to go in this case?

[2019-10-07 20:40] prateekj117 commented on #6170
@iamareebjamal Should we close this issue? I can't think of any reason why the error was occurring in that particular custom-form id.

[2019-10-08 10:44] #6170 closed

[2019-10-08 10:45] iamareebjamal commented on #6493
Move features one by one from the fork to the app

[2019-10-08 11:00] iamareebjamal opened #6516 "Discrepancy between migrations and production DB"
Migrations in the app are not applied to production DB because it was just stamped to the latest migration without running them. In fact, the migrations can't even be run successfully on a database created from scratch. Since we are not in a position to correct the old migrations, the only thing we can do is to create new migrations to make production DB aligned with current schema or change the s

[2019-10-08 11:40] mrsaicharan1 commented on #6511
@iamareebjamal We have tests for ical exports. Will fix this method.

[2019-10-08 12:23] iamareebjamal commented on #6511
Yes, but we don't have tests which fail for this case which is equal to having no tests

[2019-10-08 14:40] tronku opened #6517 "Event chip filter not working properly"
**Describe the bug**
In the Events tab of the Attendee app, when a particular tag or chip of an event is clicked, it navigates to a search screen which shows results depending upon the chip. The issue is that the search gives results only if the first chip is selected not the other ones. On debugging, I noticed that everything is properly working on app side but no result is recorded from the back

[2019-10-08 17:38] #6494 closed

[2019-10-09 02:05] mrsaicharan1 commented on #6511
@iamareebjamal What kind of a privacy scenario are we considering here when it comes to using `speaker.email` ?

[2019-10-09 02:10] iamareebjamal commented on #6511
I don't know, maybe it's discussed on the PR in which it was implemented

[2019-10-09 12:36] mariobehling commented on #6516
This is absolutely vital. Cause we need to be able to update.

[2019-10-09 13:48] CosmicCoder96 commented on #6516
@iamareebjamal > Migrations in the app are not applied to production DB because it was just stamped to the latest migration without running them.

Was this at some point after the migration from legacy to current system?
During transition from legacy, first the DB was downgraded to the point where legacy and next-gen split, and then upgraded to the next-gen?

[2019-10-09 17:10] iamareebjamal commented on #6516
I don't know honestly. I'm also investigating it. It may be that the non-null migrations were not even created. And when people run `create_db.py` or in tests, it creates the database from the model definitions and just stamps the latest migration. And that's why there's a difference between the database schema and the production DB.

If you run the migrations on an empty database, they'll fail af

[2019-10-11 11:14] prateekj117 opened #6520 "Update docs to python 3.7"
**Describe the bug**
As most systems still have installed python 3.6, we should update our documentation to make virtual env of python 3.7 by default.

@iamareebjamal As I was testing out the system (for Dev Sprint) on some other laptops, unless specified python3.7 in commands, everything starts with python 3.6, as that's the default for python3 in most systems for now. So for ease of installment

[2019-10-11 11:31] iamareebjamal commented on #6520
Just specifying python3.7 won't work. You need to install it using pyenv

[2019-10-11 11:34] prateekj117 commented on #6520
@iamareebjamal It worked. Just need to install python 3.7, and it's dev tools using apt, and specify virtualenv python version to be 3.7 while creating the virtualenv. Something like: `virtualenv -p python3.7 venv`.

[2019-10-11 11:34] prateekj117 commented on #6520
And due to `And when a new virtualenv is created using a particular python version, all commands resolve to that python version only`, everything will work fine after that.

[2019-10-13 05:22] ranjsa opened #6522 "Add Organizer email in get event details attribute"
**Is your feature request related to a problem? Please describe.**
Event organizer email should be added to contact organizer through email .

https://github.com/fossasia/open-event-attendee-android/issues/1964

**Additional context**

[2019-10-13 05:38] kushthedude commented on #6522
Event details already have relationship. Please check the model before opening issue.

[2019-10-13 11:49] iamareebjamal commented on #6522
Please mention the relationship used to get the organizer email and then close the issue

[2019-10-13 12:16] tronku commented on #6461
Any updates on the issue?

[2019-10-13 12:53] iamareebjamal commented on #6461
@kushthedude What's the workflow?

[2019-10-13 13:03] kushthedude commented on #6522
[code]

[2019-10-13 13:14] kushthedude commented on #6461
This is:
- User enters his email and if the email is not associated with any previous user, his account is created using following:
[code]
- After this User is logged in to his account and also an email with password reset link is sent to him.

[2019-10-13 13:34] iamareebjamal commented on #6522
404 Not found

[2019-10-13 14:05] kushthedude commented on #6522
We are already doing many functions using organiser . Since its already related to User as defined in the model. I dont know about android client, but we are already performing operations using web client on organiser. So you are the boss here to decide @iamareebjamal , but we can't add every functionality in server just because the android client get fetch info easily.

[2019-10-13 16:32] iamareebjamal commented on #6522
Give me a link of organizer info of an event @kushthedude

Nobody is talking about android client, I'm asking the API link to fetch organizer email.

I don't know what that means

Who cares about web or android, both use the same server, so there must be same endpoint used by both

It seems someone from Android hurt you, I don't know what this statement means. No one asked for fetching info easily

[2019-10-13 16:36] iamareebjamal commented on #6461
@tronku Please follow the same workflow for now. We'll be adding no authentication for free orders later on

[2019-10-13 16:36] #6461 closed

[2019-10-14 10:25] lladhibhutall commented on #6470
@iamareebjamal @prateekj117
Would like like to take this issue! is the server version stored somewhere?

[2019-10-14 10:29] prateekj117 commented on #6470
@lladhibhutall Go ahead. I don't think there is. @iamareebjamal Correct me if I am wrong.

[2019-10-14 10:33] iamareebjamal commented on #6470
No, it needs to be added as a constant in the project

[2019-10-14 10:46] roshnet commented on #6511
@iamareebjamal Based on my limited understanding of this issue, I need to ask how can an email be related to an event? Are we referring to the email of the organizer instead?

[2019-10-14 10:51] lladhibhutall commented on #6470
Will create a new file in the root of the project named server_version.py which will have the endpoint returning the current version.

[2019-10-14 11:03] iamareebjamal commented on #6511
Yes, @roshnet, it's supposed to be the email of owner/organizer.

[2019-10-14 11:05] iamareebjamal commented on #6470
Create the file in app folder

[2019-10-14 11:20] kushthedude commented on #6522
I dont think why would you think if someone hurt me, Also FE does not make 20 api calls, if it was the case the following attribute have been added before. As I already said if you want to add let it be.

Since both use the same server, the things which FE is able to do should be the case with android. I think you like the android one's more than the web client.

[2019-10-14 11:26] iamareebjamal commented on #6522
That's why I am asking you to paste the link frontend uses to get the organizer info. I'll refrain from responding unless you have something productive to add to the discussion.

[2019-10-15 05:31] akshat0047 commented on #6522
I would like to take up the issue and add organizer email in the event detail @prateekj117 @iamareebjamal

[2019-10-15 05:32] prateekj117 commented on #6522
@akshat0047 Go ahead.

[2019-10-15 05:38] AnirbanBanik1998 commented on #6467
I would like to work on this issue @iamareebjamal @prateekj117

[2019-10-15 05:39] kushthedude commented on #6467
Go ahead

On Tue, 15 Oct, 2019, 11:08 Anirban Banik, <notifications@github.com> wrote:

[2019-10-15 06:10] ranjsa commented on #6522
@akshat0047 @PARAG00991  actually I am working on this ....can you please take another issue.

[2019-10-15 06:17] prateekj117 commented on #6522
@ranjsa Without claiming the issue? You always need to claim the issue before working on it.

[2019-10-15 06:21] ranjsa commented on #6522
@PARAG00991  yes sorry I forgot to add that . In the issue description

[2019-10-15 06:35] prateekj117 commented on #6522
@ranjsa When did my username change from @prateekj117 to @PARAG00991? Ok no issue. You go ahead with this one.

[2019-10-15 06:48] ranjsa commented on #6522
@prateekj117  lol Actually it came in suggestions at top ...so I thought it was you ..... but thanks for correcting me and I am working on it .

[2019-10-15 07:03] akshat0047 commented on #6450
I would like to work on this issue @prateekj117

[2019-10-15 07:49] AnirbanBanik1998 commented on #6467
@kushthedude @iamareebjamal @prateekj117  I am working on the event schemas.

[2019-10-15 09:15] chiral-carbon commented on #6463
@prateekj117 @iamareebjamal can I work the SQLAlchemy models part?

[2019-10-15 09:15] prateekj117 commented on #6463
@chiral-carbon Ok, go ahead.

[2019-10-15 09:33] prateekj117 commented on #6450
@akshat0047 Go ahead.

[2019-10-15 12:30] akshat0047 opened #6525 "default value of ticket_include is false in system"
**Describe the bug**
ticket_include is set to 'false' by default which complicates setting up a new event for testers in the development

**To Reproduce**
1. Go to createdb.py file
2. Set the default value to true

**Expected behavior**
A tester should directly be able to create event while testing without enabling it manually in the database

**Additional context**
I am taking up this issue

[2019-10-15 15:12] Soniyanayak51 commented on #6465
Hi @iamareebjamal, extremely sorry to bother again. I have added data classes for event related modules. But I still have a problem in testing. I am getting a persistent error
`AttributeError: 'NoneType' object has no attribute 'drivername'`
The error is in flask_sqlalchemy package and I thing I am setting the DATABASE_URL wrong.
Error Log example:
[code]

[2019-10-15 15:48] Soniyanayak51 commented on #6465
I am raising a WIP PR. Could you please review it?

[2019-10-15 16:23] kushthedude commented on #6525
What is the complexity you got? Also, he can enable the following through the FE.

[2019-10-15 16:25] kushthedude commented on #6525
The current workflow is better AFAIK.
cc: @iamareebjamal

[2019-10-15 16:26] kushthedude commented on #6517
Shouldn't this be an issue on the client-side ?

[2019-10-15 17:53] tronku commented on #6517
I have checked on client-side. The app is sending the request to the server but no data is provided in the results. Please check it at server-side once too.

[2019-10-15 19:12] iamareebjamal commented on #6517
Please paste the URL generated

[2019-10-15 19:20] iamareebjamal commented on #6465
`TEST_DATABASE_URL=sqlite:// APP_CONFIG=config.TestingConfig nosetests tests/all`

[2019-10-15 20:55] prateekj117 commented on #6525
@kushthedude Unless and until other mentors agree on something regarding anything which requires maintainers access, please don't perform that action. Almost every mentor here is half of the time correcting you instead of the person solving the issue.

@akshat0047 Rather than having default value as true, @iamareebjamal suggested updating the docs with this information that the tester needs to upd

[2019-10-15 21:19] kushthedude commented on #6525
I think you missed the cc.

On Wed, 16 Oct, 2019, 02:25 Prateek Jain, <notifications@github.com> wrote:

[2019-10-15 21:21] prateekj117 commented on #6525
@kushthedude I think you again missed the key points. `please don't perform that action`.

[2019-10-15 21:22] kushthedude commented on #6525
Please tell me mentor except @iamareebjamal correcting me, rather you have
been corrected more than me. Correct your knowledge before correcting me
@prateekj17

On Wed, 16 Oct, 2019, 02:25 Prateek Jain, <notifications@github.com> wrote:

[2019-10-15 21:22] kushthedude commented on #6525
I noted a lot more than your key points.

On Wed, 16 Oct, 2019, 02:51 Prateek Jain, <notifications@github.com> wrote:

[2019-10-15 21:42] prateekj117 commented on #6525
@kushthedude Go through the issues and PR's once, and you will know. You again missed the key point of the conversation, this is not adding anything productive to the issue.

[2019-10-15 21:43] iamareebjamal commented on #6525
Let's keep things civil. Let's not close issues without discussion, and keep the snaps to ourselves. Both of you should evaluate what you say before commenting here.

[2019-10-15 21:46] iamareebjamal commented on #6525
Ignoring the part about correcting anyone, I don't think there is any active maintainer here except me, and the repo seems like a battleground lately. Before writing a comment, both of you should paste it somewhere and look at it, and think if it is an issue board of an open-source project where you're going to write that, or some facebook/reddit flame war.

[2019-10-15 22:23] kushthedude opened #6527 "Add CircleCI Badge"
cc: @iamareebjamal

[2019-10-15 22:24] kushthedude commented on #6527
@iamareebjamal Since `CircleCI` Badge URL is available to only `Maintainers`.If you may post the badge URL, It can be a `Good First Issue`. Else you may add it.

[2019-10-15 22:35] iamareebjamal commented on #6527
https://shields.io/category/build

[2019-10-15 22:41] kushthedude commented on #6527
Actually I was saying for the following badge which circleCI only shows to repo maintainers.
<img width="133" alt="Screenshot 2019-10-16 at 4 09 56 AM" src="https://user-images.githubusercontent.com/44091822/66875125-d8213d00-efca-11e9-8e66-7ba8323afaf6.png">

[2019-10-15 22:43] iamareebjamal commented on #6527
We should follow same badge style as other badges in the repo

[2019-10-15 22:45] kushthedude commented on #6527
:+1:

On Wed, Oct 16, 2019 at 4:13 AM Areeb Jamal <notifications@github.com>
wrote:

[2019-10-16 00:02] harry-wood opened #6528 "google API key for geocoding exceeded usage limits"
The eventyay.com google API key for geocoding has exceeded its usage limits. When creating an event, filling in the "Location" field, it's showing error message "This page can't load google maps correctly" :

<img width="417" alt="Screenshot 2019-10-16 at 00 32 42" src="https://user-images.githubusercontent.com/227525/66878043-05142680-efb0-11e9-9cf0-01b3f3d0b605.png">

This in turn **prevents the

[2019-10-16 07:17] akshat0047 commented on #6525
Ok, I will create a PR updating the same in docs. @prateekj117 @iamareebjamal

[2019-10-16 08:36] kushthedude commented on #6528
@harry-wood You can always enter the address manually by clicking on `Enter Address`.
Regarding G-Map Key:
cc: @iamareebjamal @mariobehling

[2019-10-16 10:28] iamareebjamal commented on #6528
Let's move this to frontend. And yes, it should not block in any case.

We should also switch to OpenStreetMap or MapBox dynamically with whatever key is provided.

[2019-10-16 10:34] iamareebjamal commented on #6525
A nice enhancement will be to add a manage script to enable modules from command line

`python manage.py module enable ticketing`

[2019-10-16 17:30] akshat0047 commented on #6525
ok, on it. @iamareebjamal

[2019-10-16 19:46] #6511 closed

[2019-10-17 03:47] lladhibhutall commented on #6517
What is the status of the issue? Would like to take it if its a server side problem. @tronku  @prateekj117 @iamareebjamal

[2019-10-17 06:55] iamareebjamal commented on #6517
@tronku Please paste the API URL

[2019-10-17 09:14] tronku commented on #6517
https://open-event-api-dev.herokuapp.com/v1/events?include=event-sub-topic,event-topic,event-type&sort=name&filter={filter data}
here's the URL

[2019-10-17 09:25] tronku commented on #6517
filter data depends on some conditions like free event, speaker sessions and location.
Here's an example -
"and":[{
           "name":"location-name",
           "op":"ilike",
           "val":"%kolkata%"
        }, {
           "name":"name",
           "op":"ilike",
           "val":"%%"
        }, {
           "name":"event-type",
           "op":"has",
           "val": {
           "name":"na

[2019-10-17 09:48] iamareebjamal commented on #6517
I understand, but you need to form an issue like this:

	Reproduction Steps:

	1. Visit the URL - <complete_url>
	2. Notice the events have these tags - party
	3. Now, visit this URL which filters events on basis of party - <complete_url>

	Expected:
	I expect it to give 3 events

	Actual:
	No events are returned

This is the easiest way for anyone working on the issue to confirm the bug, work on

[2019-10-17 09:49] iamareebjamal commented on #6517
People working on server will not be able to go through the app and see where and what is wrong, it needs to be reported in context of the API, not the app

[2019-10-17 10:05] tronku commented on #6517
Okay, I got it. I will edit the issue description.

[2019-10-17 10:10] iamareebjamal commented on #6517
No, not a problem

[2019-10-17 10:17] iamareebjamal commented on #6517
`{"name":"ends-at","op":"ge","val":"%2019-10-17T15:01%"}`

This should be
`{"name":"ends-at","op":"ge","val":"2019-10-17T15:01"}`

I'm not even sure why it was working before

[2019-10-17 11:50] tronku commented on #6517
So, is it working now?

[2019-10-17 12:17] iamareebjamal commented on #6517
You tell

[2019-10-17 12:43] tronku commented on #6517
but the same thing works with the first chip and % is added in every condition
this works -
https://open-event-api-dev.herokuapp.com/v1/events?include=event-sub-topic,event-topic,event-type&sort=name&filter=%5B%7B%0A%20%20%20%22and%22%3A%5B%7B%0A%20%20%20%20%20%20%20%22name%22%3A%22location-name%22%2C%0A%20%20%20%20%20%20%20%22op%22%3A%22ilike%22%2C%0A%20%20%20%20%20%20%20%22val%22%3A%22%25kolkata

[2019-10-17 13:36] iamareebjamal commented on #6517
Thank you, finally you have given something to work with, excellent. Let's see

1. Works
[code]

2. Doesn't work

[code]

Now, we know the issue, and can work on it. Before, no one even knew what was wrong

[2019-10-17 13:43] iamareebjamal commented on #6517
It doesn't work because `Auto, Boat & Air` event type does not exist

These are all the event types:

[code]

[2019-10-17 13:50] tronku commented on #6517
So, I think these filters shouldn't be provided in the app also.

[2019-10-17 14:06] #6517 closed

[2019-10-17 18:43] #6527 closed

[2019-10-17 21:00] iamareebjamal commented on #6513
Fixed in #6533

[2019-10-17 21:03] #6513 closed

[2019-10-18 09:17] prateekj117 commented on #6520
Still says python3.6 https://github.com/fossasia/open-event-server#components

[2019-10-18 09:19] chiral-carbon commented on #6520
@prateekj117 shall I make the doc change?

[2019-10-18 10:18] prateekj117 commented on #6389
@iamareebjamal On it.

[2019-10-18 10:28] #6520 closed

[2019-10-18 13:12] #6525 closed

[2019-10-18 15:49] lladhibhutall commented on #6505
@iamareebjamal This seems interesting, would like to take it.

[2019-10-18 15:49] prateekj117 commented on #6505
@lladhibhutall Go ahead.

[2019-10-19 10:50] Batey96 opened #6539 "requests.exceptions.ConnectionError when running on localhost"
**Describe the bug**

When on localhost and disconnected from the internet,a connection error occurs..If so why put it on localhost?
**To Reproduce**
switch off internet and rerun server
python3 manage.py runserver

![runsere](https://user-images.githubusercontent.com/24868289/67143753-74b33b80-f266-11e9-83e5-bc84d7f6f6b9.png)

[2019-10-19 12:19] iamareebjamal commented on #6539
The API is usable. Only the docs are not available, which is tracked in other issue #4548

[2019-10-19 12:19] iamareebjamal commented on #6539
Duplicate of #4548

[2019-10-19 12:19] #6539 closed

[2019-10-19 17:03] #6470 closed

[2019-10-19 23:54] amansheaven commented on #5854
Looks like this issue isn't being done by the interested member. Willing to pick this up, Can I?

[2019-10-20 00:24] amansheaven commented on #6503
Can I pick up on this? @iamareebjamal

[2019-10-20 04:06] YashJipkate commented on #6471
Hi @iamareebjamal I would like to work on this. Should I start on it if nobody's working on it?

[2019-10-20 06:56] iamareebjamal commented on #6471
Yes, please, go ahead

[2019-10-20 06:57] iamareebjamal commented on #6503
Go ahead

[2019-10-20 07:00] iamareebjamal commented on #5854
Sorry, this has already been fixed in #6490

[2019-10-20 07:00] #5854 closed

[2019-10-20 11:42] akshat0047 commented on #6472
I would like to work on this issue @prateekj117 @iamareebjamal

[2019-10-20 11:55] iamareebjamal commented on #6472
Go ahead

[2019-10-20 19:55] akshat0047 commented on #6472
Referring to #6522 according to which user name is not to be implemented as an attribute, I went through the complete flask rest JSON API docs, we have to get the name using user relationship. But how can I proceed, I explored resource linkage, include=model. Do I need to query in resource manager? @iamareebjamal @prateekj117

[2019-10-21 03:21] iamareebjamal commented on #6472
You need to just link the user as a relationship. See any schema like event or speaker

[2019-10-21 06:06] Tlazypanda commented on #6451
@prateekj117 can I work on this issue?

[2019-10-21 07:26] prateekj117 commented on #6451
@Tlazypanda There is already a PR opened, but as it is stale, I will close that one. You go ahead with a new one.

[2019-10-21 08:13] akshat0047 commented on #6472
[Code](https://pasteboard.co/ICY8SWK.png)
I see it already linked in the file, the only change that can be made is to change the schema to UserSchemaPublic

[2019-10-21 08:38] iamareebjamal commented on #6472
You need to dynamically update the schema depending on the kind of user requesting the resource - admin or normal

[2019-10-21 08:41] akshat0047 commented on #6472
ok

[2019-10-21 11:16] akshat0047 commented on #6472
Actually, I can fix it with a lambda function like [this](https://pasteboard.co/ICZjqvj.png) but I see a check already defined in User Resource Manager for a detail view [this](https://pasteboard.co/ICZk8Jr.png). On testing API by clicking on the related link under relationships even if I hardcode it UserSchemaPublic, the before get validators again change it to UserSchema according to the check d

[2019-10-21 13:19] Tlazypanda commented on #6451
@prateekj117 have opened a pr for the same.Kindly look into it.

[2019-10-21 14:44] Tlazypanda commented on #6450
@prateekj117 can I take this up?

[2019-10-21 15:00] akshat0047 commented on #6472
Please let me know if what I figured out is correct and this issue is invalid, else I will research more towards solution @iamareebjamal

[2019-10-21 15:34] iamareebjamal commented on #6472
Yes, the issue is invalid

[2019-10-21 15:34] #6472 closed

[2019-10-21 16:05] prateekj117 commented on #6450
@akshat0047 Are you still on it?

[2019-10-21 16:09] akshat0047 commented on #6450
This issue/feature has been discussed as not required in Gitter discussions, maybe this needs to be closed @prateekj117  @iamareebjamal

[2019-10-21 16:24] prateekj117 commented on #6450
The discussion says we don't want the order deletion functionality altogether, then we need to implement that, otherwise right now, because of this issue, anyone can delete anyone's order and we can also delete a placed/deleted order. @iamareebjamal

[2019-10-21 16:27] akshat0047 commented on #6450
So should I continue with the fix why the order is not being deleted, as there was a bug occurring while fixing the issue which leads to this discussion or a new issue referencing this one is to be worked upon?

[2019-10-22 05:41] grassknoted commented on #6508
Hi @iamareebjamal , could you please provide a little more clarity on the issue? The API Test link in your original comment is dead.

[2019-10-22 06:37] iamareebjamal commented on #6508
https://app.apiary.io/public/tests/run/324e76bf-2442-45fd-bb1e-7b9b0d963bfb

[2019-10-22 06:45] grassknoted commented on #6508
Thanks @iamareebjamal ! The changes to make the dread tests stricter would be made in the `open-event-server/tests/hook_main.py`, right?
Please point me in the right direction, I'd really like to sort this issue out.

[2019-10-22 06:58] iamareebjamal commented on #6508
Yes, that's correct

[2019-10-22 08:04] pravarag commented on #6505
@lladhibhutall are you working on it? otherwise I can take it.

[2019-10-22 13:17] #6389 closed

[2019-10-22 16:23] prateekj117 commented on #6210
@iamareebjamal For a POST request, what would you suggest the way to go?

[2019-10-23 15:35] #6451 closed

[2019-10-23 15:39] Tlazypanda commented on #6471
@iamareebjamal Can I work on this issue if it is still available?

[2019-10-23 16:04] Tlazypanda commented on #6450
@prateekj117 Is this issue still available?

[2019-10-23 19:12] iamareebjamal commented on #6471
@YashJipkate is working on it

[2019-10-23 19:29] Tlazypanda commented on #6038
@iamareebjamal Is this issue still available? I would like to work on this.

[2019-10-23 19:57] liveHarshit commented on #6038
Go ahead

[2019-10-24 16:16] amansheaven commented on #6503
Sorry for late response but I was successful in setting up the server, I tried running nosetests but they seem to be unsuccessful. Screenshot is attached for the same,

Stack :
======================================================================
ERROR: Test generation of hash for a key.
----------------------------------------------------------------------
Traceback (most recent call last):
  Fi

[2019-10-25 18:38] lladhibhutall commented on #6505
@pravarag Yes still working on it.

[2019-10-26 07:58] Haider8 opened #6552 "[Docs]: Grammatical mistake in documentation for local installation"
**Describe the bug**

A grammatical mistake in the documentation for the [local installation](https://github.com/fossasia/open-event-server/blob/development/docs/installation/local.md) of the project.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/fossasia/open-event-server/blob/development/docs/installation/local.md#using-pipenv'
2. Scroll down to 'Step 2'
4. See

[2019-10-26 08:07] iamareebjamal commented on #6552
p->P is not a grammatical mistake. Besides, postgres is not wrong

[2019-10-26 08:08] iamareebjamal commented on #6552
OK, `to` is missing

[2019-10-26 20:02] prateekj117 commented on #6210
@iamareebjamal One thing we can do is, first, we can introduce a new field in events table, something like, `to_be_published`.
Now whenever someone makes a `POST` request to publish an event, the workflow will go something like this:
1. Change `to_be_published` to be true for that event, and change event status to
   `draft`.
2. When the `POST` request to ticket is made, we check the event's
   `t

[2019-10-26 20:06] iamareebjamal commented on #6210
There's no need to introduce a field. It will solve no problem and only increase.  problems. There are already way too many fields

[2019-10-27 08:43] Tlazypanda commented on #5775
@CosmicCoder96 Can I work on this issue?

[2019-10-27 08:50] kushthedude commented on #5775
Go Ahead @Tlazypanda

[2019-10-27 11:27] krashish8 commented on #6038
@iamareebjamal  @liveHarshit  I would like to work on this issue. Is this still open?

[2019-10-28 02:40] Swap76 opened #6556 "The image in readme broken"
**Describe the bug**
The image in readme is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Readme.md
3. Scroll down to Installation
4. See the broken image

**Additional context**
<img width="682" alt="Screenshot 2019-10-28 at 8 07 39 AM" src="https://user-images.githubusercontent.com/37082605/67647965-2be03e80-f95a-11e9-908d-999ccc5282a9.png">

[2019-10-28 02:41] Swap76 commented on #6556
I will love to work on this as first issue on fossasia :-)

[2019-10-28 07:58] iamareebjamal commented on #6556
The screenshot itself is broken

[2019-10-28 07:59] Swap76 commented on #6556
<img width="1062" alt="Screenshot 2019-10-28 at 1 29 14 PM" src="https://user-images.githubusercontent.com/37082605/67661333-f69e1580-f986-11e9-92ec-60b255bb2897.png">
@iamareebjamal Updated the Screen Shot

[2019-10-29 14:30] Samiksha99 commented on #6552
I would like to work on this issue

[2019-10-29 14:38] Haider8 commented on #6552
@Samiksha99 Sure, go ahead.

[2019-10-29 16:36] grassknoted commented on #6508
@Dishebh, please take it. I am sorry I haven't had any time to get to it @iamareebjamal.

[2019-10-29 20:41] AkashDhiman opened #6560 "local install fails- cannot import name 'DocType' from 'elasticsearch_dsl'"
I was following the steps listed [here](https://github.com/fossasia/open-event-server/blob/development/docs/installation/local.md), when I encountered the problem.

**Things I did**
1. git cloned the repository.
2. setup a virtual environment with python3.7
3. created the default user and databases exactly as shown via postgresql
4. executed step 5 and python3 create_db returned error

**Stacktrac

[2019-10-29 20:45] iamareebjamal commented on #6560
Ensure you have pulled the latest changes and retry

This was already fixed in https://github.com/fossasia/open-event-server/pull/6557

[2019-10-29 20:45] #6560 closed

[2019-10-30 08:35] kushthedude commented on #6556
The docker svg is broken, You need to find a nice svg replacement . You may work on it.

[2019-10-30 08:38] kushthedude commented on #6493
@prateekj117 Are you checking on it ?

[2019-10-30 08:57] prateekj117 commented on #6493
@kushthedude Yup. But it's going to take a lot of time and a lot of help from @iamareebjamal. You can also work on some issues.

@iamareebjamal It would be great if you could open some issues here reflecting the changes made in our fork of flask-rest-jsonapi.

[2019-10-30 09:02] Swap76 commented on #6556
@kushthedude Thanks, Assign it to me

[2019-10-30 09:15] Swap76 commented on #6556
@iamareebjamal Thanks for the info will send PR

[2019-10-30 21:24] akshat0047 commented on #6522
@ranjsa  are you still working on this?

[2019-10-31 00:34] ranjsa commented on #6522
@akshat0047 yes ...

[2019-10-31 06:31] iamareebjamal commented on #6522
It's been 16 days. You can work on it @akshat0047

[2019-10-31 19:46] prateekj117 commented on #6450
Need your insight @iamareebjamal.

[2019-11-01 05:45] iamareebjamal commented on #6450
This should be closed and functionality of deleting an order should be removed

[2019-11-01 07:40] amansheaven commented on #6503
sure sir, I just wanted to shall I downgrade to get this DocType issue resolved??

[2019-11-01 08:11] iamareebjamal commented on #6503
Fetch latest code and install requirements again. It'll be fixed

[2019-11-01 19:24] #6556 closed

[2019-11-02 12:23] prateekj117 opened #6565 "Call for Speakers Signup Form: "Don't require this email" possible for everyone"
Server issue for [fossasia/open-event-frontend#3506](https://github.com/fossasia/open-event-frontend/issues/3506)

[2019-11-02 13:10] prateekj117 commented on #6565
Working on this.

[2019-11-02 18:08] #6565 closed

[2019-11-02 18:54] prateekj117 opened #6567 "Remove functionality of deleting an order"
**Describe the bug**
Right now, anyone can delete anyone's order and we can also delete a placed/deleted order. So we should delete the order deletion feature altogether.

Reference:
[#6450](https://github.com/fossasia/open-event-server/issues/6450)

[2019-11-02 18:54] prateekj117 commented on #6567
Working on this.

[2019-11-02 19:04] NNRepos commented on #6552
Since this hasn't been done in a while, I'll do it instead. I think it would've been wiser to approve @snitin315's commit by the way.

[2019-11-02 19:10] prateekj117 commented on #6552
@NNRepos It's a documentation issue and not an urgent one. And it's important for a newcomer to know how things should go so that no two developers work on the same issue. Though it has been a few days and there has been no PR from @Samiksha99, you can go ahead with this issue.

[2019-11-02 20:41] #6450 closed

[2019-11-02 21:10] kushthedude commented on #6450
@iamareebjamal As I told before in gitter chat, this functionality should be available to Admin/Super Admin, As when creating orders, some orders are expired and some orders are set to initialising, Also we have a corresponding issue for implementing a orders tab for `Admin Dashboard` where he can see the deleted orders too, That is why we removed the delete orders tab from the event dashboard.
Al

[2019-11-02 21:26] prateekj117 commented on #6450
If some orders are expired and some orders are set to initializing, how does it imply that `this functionality should be available to Admin/Super Admin`.

If this issue was known, why wasn't it reported on the server?
And are you sure it happens on the server and the `status` column of `orders` does not update to expired?

[2019-11-02 21:41] kushthedude commented on #6450
Play with web app after creating more than 20 orders for each event. You
will see for yourself.

On Sun, 3 Nov, 2019, 02:56 Prateek Jain, <notifications@github.com> wrote:

[2019-11-02 21:42] kushthedude commented on #6450
There is no sense in showing dummy orders and initialising orders to the
event dashboard, also see on FE some of the placed orders appears as pay
with paypal.
Hence its necessary to delete ambiguos orders.
You must be knowing for yourself eventyay is not completely bug free till
now. Until we get to a more stable system, I suggest to retain the
functionality of Deletion.

On Sun, 3 Nov, 2019, 03:1

[2019-11-02 21:46] iamareebjamal commented on #6450
Deletion should not be possible. Even if there is dummy data, the root cause should be fixed and the dummy data should be removed.

[2019-11-02 21:46] kushthedude commented on #6450
Regarding placed order with payment:
https://github.com/fossasia/open-event-frontend/issues/3505

Also we dont have a good amount of testing for FE ,So it gets difficult to check if the error is from web client or server.

[2019-11-02 21:47] prateekj117 commented on #6450
By your tone, you are sure it is a server-side issue, right? And that the order status is not changing. Good enough then, please open an issue and I will have a look into it.

event dashboard, also see on FE some of the placed orders appears as pay
with paypal.
Hence its necessary to delete ambiguos orders.

Let's delete everything which goes wrong from now on?

[2019-11-02 21:49] kushthedude commented on #6450
If its the case , you can go and become the one man army and solve the bugs for yourself. Also, if you have tested and played with the web app more, you might have got the GIST of each and everything I am talking about. But since you are not in attitude of listening to me.
Go on and proceed as you wish.
Thanks

[2019-11-02 22:10] kushthedude commented on #6450
@iamareebjamal I don't need to mention `how the crucial server is to web-client and vice-versa`.
You have a much greater knowledge about the functioning of Server then I have. But I know a bit more about the Web-Client and the current issues. I know the `frontend` has a quite amount of bugs and out of which some are happening only in productions.

The issue links I mentioned above and the points I

[2019-11-02 22:26] iamareebjamal commented on #6450
I see no one raising an argument here except you

This is asking if it is a server issue or frontend. And to fix it.

Which I agree with. If you think delete orders should be kept, then give the reasons why? Because of bugs in frontend? Why can't they be fixed?

Deleting is an extremely dangerous action, specially for something involving real life value - money in this case. A month back, a normal

[2019-11-02 22:27] prateekj117 commented on #6450
@kushthedude Go to all the previous arguments (if you want to call them that) and see who was wrong most of the time (Spoiler Alert: I'm not even close).
Also, this was not an argument, I simply asked if are you sure that it was a server-side issue, and if yes, I asked you to open an issue for the same. You are the one having an argument with me rather than providing actual intellect or issue refe

[2019-11-02 22:34] iamareebjamal commented on #6450
Also, what is this elitist attitude of `directly raised an argument against me`?

This is not military where there is a chain of command. This is an open-source project. This is a democracy, everyone is supposed to raise arguments against anyone. You have done it many times to me. Did I flip my arms out and started bickering like kids like you 2 are.

Everyone is allowed to criticize any idea and

[2019-11-03 07:22] #6552 closed

[2019-11-03 18:10] mariobehling opened #6569 "Discount Code Orders possible even though number of discounted tickets exhausted"
Organizers have the option to limit discount tickets. Even though the number is exhausted users can still get discounted tickets. This should not be possible.

Replicate: Go to event dashboard, click on "Tickets" choose "Discount" on the left sidebar and create a discount code. Use this discount code and try to buy tickets after you ordered the number of max. discount tickets. It will still work.

[2019-11-03 18:25] kushthedude commented on #6569
I will take a look at it.

[2019-11-03 18:37] JanPokorny opened #6570 "Scheduler is somewhat broken"
**Describe the bug**
Hi, just tried out EventYay, the version at eventyay.com. The scheduler seems broken -- some sessions disappeared when reloading the scheduler, and when moving sessions, some disappear and some even duplicate. The broken state even persists page reloads.

**To Reproduce**
Steps to reproduce the behavior:
1. I'm not really sure what I did wrong, just registered and placed some

[2019-11-03 22:00] prateekj117 commented on #6423
@iamareebjamal On it.

[2019-11-04 09:03] mariobehling commented on #6570
Thanks will look into this. It seems to work with some events while others have issues. Need to check this more in detail.

[2019-11-04 15:56] prateekj117 opened #6571 "Check Authorization level before exporting an event."
**Describe the bug**
Export event has some information which should not be available to a normal user.

**Expected behavior**
Only the coorganizer and the above roles should be able to export an event.

**Additional context**
Working on it.

[2019-11-05 06:32] Rits1272 commented on #6569
Can I work on this issue?

[2019-11-05 06:58] prateekj117 commented on #6569
Hey @Rits1272, great to see you want to contribute here. This is a high priority issue. You can look into some other issues for now.

@kushthedude Update?

[2019-11-05 07:03] Rits1272 commented on #6569
Sure @prateekj117.I will look into some other issue.

[2019-11-05 07:24] Rits1272 commented on #6126
Hey everyone, Can I work on this issue?

[2019-11-05 07:29] prateekj117 commented on #6126
@Rits1272 Go ahead.

[2019-11-05 08:13] Rits1272 commented on #5175
Can I work on this issue?

[2019-11-05 09:12] iamareebjamal commented on #5175
Entire OAuth has to be implemented correctly so it is to be taken later on

[2019-11-05 09:23] Rits1272 commented on #5175
Ok @iamareebjamal

[2019-11-05 10:38] Rits1272 commented on #6126
Ok @prateekj117 !

[2019-11-05 21:47] prateekj117 opened #6579 "Error on running `python3 manage.py list_routes`"
**Describe the bug**
`AttributeError: module 'urllib' has no attribute 'unquote'`

**Expected behavior**
The command should work properly

**Additional context**
On it.

[2019-11-05 22:46] kushthedude commented on #6571
@prateekj117 The FE PR is ready for this https://github.com/fossasia/open-event-frontend/pull/3606

[2019-11-06 02:58] #6579 closed

[2019-11-06 18:48] #6423 closed

[2019-11-07 05:20] prateekj117 commented on #6320
@iamareebjamal Next step?

[2019-11-07 05:27] prateekj117 commented on #6569
@kushthedude Progress on this?

[2019-11-07 05:32] kushthedude commented on #6569
Not much, you may take it up, was occupied with ci and routing issue. You
may take up if you want.

On Thu, 7 Nov, 2019, 10:57 Prateek Jain, <notifications@github.com> wrote:

[2019-11-07 07:32] iamareebjamal commented on #6320
Design API to create an order. Will take same input as the price calculation API, along with attendee information as well and will create an order

[2019-11-07 11:10] prateekj117 commented on #6569
@mariobehling @iamareebjamal Taking this one up.

[2019-11-09 20:30] himanshupathak21061998 commented on #6463
@chiral-carbon If you are not working on this I want to work on this issue.
@prateekj117 I will start by adding annotation and after that, I will add mypy test

[2019-11-10 19:12] chiral-carbon commented on #6463
@himanshupathak21061998 hey, i'm still working on this.

[2019-11-11 06:03] iamareebjamal commented on #6463
@chiral-carbon 26 days have passed without any progress. Besides, this issue is huge, there is no way 2 or even 5 contributors will have conflicts or work on same area when adding static types. So, not just 1 contributor can solve this issue

[2019-11-11 07:44] jhasaurabh312 commented on #6508
Is this issue still not resolved? If it is open can i take it @iamareebjamal

[2019-11-11 07:56] jhasaurabh312 commented on #6503
Is this issue still not resolved? If it is open can i take it @iamareebjamal

[2019-11-11 09:04] iamareebjamal commented on #6503
Go ahead

[2019-11-11 09:04] iamareebjamal commented on #6508
Go ahead

[2019-11-11 10:21] chiral-carbon commented on #6463
@iamareebjamal  okay.

[2019-11-11 16:59] Rits1272 commented on #6126
Hello @prateekj117! I am a new contributor here trying to understand the codebase and solve this issue.
Can you please help me out by confirming that in the db level queries we need to enhance the code by converting the pythonic code to postgresql queries using psycopg2 python library inside the function?

[2019-11-11 17:01] akshat0047 commented on #6396
I would like to take up this issue @iamareebjamal @prateekj117

[2019-11-11 17:05] akshat0047 commented on #6424
I think this issue too needs to be closed as we're shifting away from google maps fossasia/open-event-frontend#3484

@prateekj117

[2019-11-11 17:13] akshat0047 commented on #6388
I would like to implement this small fix @kushthedude

[2019-11-11 18:10] #6424 closed

[2019-11-11 18:10] iamareebjamal commented on #6396
Go ahead

[2019-11-11 18:11] iamareebjamal commented on #6126
We don't need to convert to SQL queries, we want to use SQLAlchemy

[2019-11-11 19:07] akshat0047 opened #6586 "Fix: Attendee endpoint serving none values for non-required fields"
**Describe the bug**
On rendering attendee information on frontend there are fields with labels but no value we need to fix it by serving only not null value to front end

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Event on Frontend and add tickets
2. Make attendee form with mixed, required and non required values
3. Buy few tickets with mixed information and check attendees un

[2019-11-12 19:58] akshat0047 commented on #6396
While solving the issue I've realized there is no documentation for the urls below(I checked them with find too):

- /events/{int:event_id}/attendees
- /events/{event_identifier}/attendees
- /users/{user_id}/attendees
- /tickets/{ticket_id}/attendees

But we have them in routes and all of them are working and described as routes
![Screenshot_2019-11-13_01-13-07](https://user-images.githubuserconte

[2019-11-12 20:03] iamareebjamal commented on #6396
Documentation as in API docs?

[2019-11-12 20:06] akshat0047 commented on #6396
ok adding an issue.

[2019-11-12 20:17] akshat0047 opened #6591 "Add missing end-points to the API docs"
There are four end-points missing from the API docs though they are working and well defined in the API

- /events/{int:event_id}/attendees
- /events/{event_identifier}/attendees
- /users/{user_id}/attendees
- /tickets/{ticket_id}/attendees

**Describe the solution you'd like**
Add documentation for the same under the attendees tab

Working on It

[2019-11-13 13:24] Rits1272 commented on #6126
@iamareebjamal So we need to write code in the models so we can fetch old holders from a method rather than calculating inside the function? Am I going the right way?

[2019-11-13 14:08] iamareebjamal commented on #6126
`from a method rather than calculating inside the function`

I don't get it. What'd be the difference between method and function if it's going to do stuff in Python

[2019-11-13 16:18] akshat0047 commented on #6586
@iamareebjamal @prateekj117 I think setting a default value will be a better solution with "Not Specified" ?

[2019-11-13 17:07] Rits1272 commented on #6126
Oh sorry I does not mean that. I was saying that do we need to write a field in the models for the old_holders?

[2019-11-13 17:46] akshat0047 commented on #6591
This issue is on hold due to #6594

[2019-11-13 18:06] akshat0047 opened #6595 "Add end-point for attendees list in context to Admin"
**Is your feature request related to a problem? Please describe.**
At present the attendees endpoint is returning all of them irrespective of their status, we need users to fetch attendees with completed/placed status and admin to fetch attendees with completed/placed/pending status.

**Describe the solution you'd like**
We may implement the same by:
- adding a route for admin
- adding a handler i

[2019-11-13 18:52] iamareebjamal commented on #6126
No

[2019-11-13 18:53] iamareebjamal commented on #6586
Default value should be saved when saving in DB, not when returning in the API

[2019-11-13 18:55] iamareebjamal commented on #6591
It shouldn't be on hold. Both are unrelated

[2019-11-14 20:54] codedsun commented on #6038
I am taking this up. @liveHarshit.

[2019-11-14 21:08] codedsun commented on #6038
@liveHarshit I have added the documentation to the file .apib but how do I check these changes on local? I m unable to see a newly added section in the docs.

[2019-11-15 00:09] iamareebjamal commented on #6038
https://github.com/fossasia/open-event-server/blob/15e323e062d9a5d37164bd25632de00be1331af2/.travis.yml#L36
https://github.com/fossasia/open-event-server/blob/b3a8c3305ec232f3a0a6b30c5961ca5a43e26df5/scripts/push_api_docs.sh#L26

[2019-11-15 07:43] Rits1272 commented on #6126
Hello again @iamareebjamal ! From a past few days I have been trying really hard to solve this issue. But I am stuck. Can you please give me a guideline or some steps to solve the issue?

[2019-11-15 08:01] iamareebjamal commented on #6126
It's not a beginner friendly issue, you can try to solve other issues

[2019-11-15 08:16] Rits1272 commented on #6126
Okay sure.

[2019-11-15 18:13] rob729 opened #6597 "Wrong Ticket Type for Free Tickets"
**Describe the bug**
The ticket type of free tickets is shown as TICKET_TYPE_PAID.

**To Reproduce**
Try booking a ticket using attendee app.

**Expected behavior**
The ticket type of free tickets should be TICKET_TYPE_FREE.

[2019-11-15 18:15] iamareebjamal commented on #6597
Paste the URL and response

[2019-11-15 18:23] iamareebjamal opened #6598 "Run container using CLI arguments instead of environment variables"
Currently, the container is started using an environment variable to decide if server or celery instance will be run. It makes it difficult to modify the image for quick edits when running.

https://github.com/fossasia/open-event-server/blob/b3a8c3305ec232f3a0a6b30c5961ca5a43e26df5/scripts/container_start.sh#L2-L9
https://github.com/fossasia/open-event-server/blob/b3a8c3305ec232f3a0a6b30c5961ca5a4

[2019-11-15 20:24] codedsun commented on #6038
@liveHarshit The api response is not receiving verification token, the function says something else

[code]

Now what shall I add in the doc?

[2019-11-15 20:44] codedsun commented on #6598
taking this up

[2019-11-16 00:35] akshat0047 opened #6600 "Fix: Unable to fetch user details of an attendee"
**Describe the bug**
The endpoint /attendees/{attendee_id}/user is not working niether it is documented

**To Reproduce**
Steps to reproduce the behavior:
1. Ping /attendees/{attendee_id}/user
2. Error => AttributeError: 'NoneType' object has no attribute 'is_admin'

**Expected behavior**
Should return UserSchemaPublic or UserSchema based on user access

**Additional details (please complete the f

[2019-11-16 05:25] liveHarshit commented on #6038
The endpoint is working:
[code]

[2019-11-16 09:51] iamareebjamal commented on #6600
Low priority as it is most probably not used by any client right now

[2019-11-16 10:14] #6591 closed

[2019-11-16 10:19] iamareebjamal opened #6601 "Docs are not being deployed"
Since moving to CircleCI for dredd tests, docs are not being deployed to gh-pages, which means that new changes in docs are not tracked. However, we want to store docs in the deployed server itself in the future, it is not apparent how to tackle it right now without increasing the size of repo too much due to constant git diffs - #4548

So, we need to deploy built docs to gh-pages directory from C

[2019-11-16 21:09] rob729 commented on #6597
URL: https://open-event-api-dev.herokuapp.com/v1/events/11/tickets?include=event&fields[event]=id&page[size]=0
Response:
[code]

[2019-11-17 06:57] codedsun commented on #6038
@liveHarshit I am getting this as response

![image](https://user-images.githubusercontent.com/20026440/69004212-78091800-0935-11ea-8210-5468dca55095.png)

The response is not this https://github.com/fossasia/open-event-server/issues/6038#issuecomment-502528247

Request is the above as suggested by you

{
  "data": {
    "token": "your token"
  }
}

Response
{
    "message": "Email Verified"
}

[2019-11-17 07:48] liveHarshit commented on #6038
Check how it is used in attendee android app. https://github.com/fossasia/open-event-attendee-android/pull/2037

[2019-11-17 08:11] codedsun commented on #6038
@liveHarshit The reponse I wrote above "Email verified" in message is not valid? How come?

I am telling you that the response as mentioned in https://github.com/fossasia/open-event-server/issues/6038#issuecomment-502528247 is wrong

The response is
Response
{
"message": "Email Verified"
}

not this
{
    "message": "your token"
}

Please state, where I am wrong

[2019-11-17 14:12] #6038 closed

[2019-11-17 14:34] codedsun commented on #6597
@rob729 Are you working on this?

[2019-11-17 14:36] iamareebjamal commented on #6597
No

[2019-11-17 14:44] codedsun commented on #6597
Taking this up!

[2019-11-17 16:56] kushthedude commented on #6569
@prateekj117 Did you get time to debug ?

[2019-11-17 17:21] codedsun commented on #6597
I am getting the correct type for free and paid ticket.

[code]

[2019-11-17 17:35] prateekj117 commented on #6569
@kushthedude Yup. The logic is kind of complex so I and @iamareebjamal decided to look after these issues directly in the new Orders API.

[2019-11-17 17:35] codedsun commented on #6597
Also working fine on dev env

Endpoint: https://open-event-api-dev.herokuapp.com/v1/events/9/tickets?include=event&fields[event]=id&page[size]=0 (1294ms)

{"data": [{"type": "ticket", "relationships": {"event": {"links": {"self": "/v1/tickets/8/relationships/event", "related": "/v1/tickets/8/event"}, "data": {"type": "event", "id": "9"}}, "ticket-tags": {"links": {"self": "/v1/tickets/8/relationsh

[2019-11-17 17:53] kushthedude commented on #6569
What about the new release than?
If there is any hotfix for this currently @iamareebjamal . As order api may
take some time.

On Sun, 17 Nov, 2019, 23:05 Prateek Jain, <notifications@github.com> wrote:

[2019-11-17 18:10] codedsun commented on #6597
@iamareebjamal Inputs please, what shall be done as the response is correct

[2019-11-17 18:40] iamareebjamal commented on #6597
https://github.com/fossasia/open-event-server/issues/6597#issuecomment-554674573

[2019-11-17 19:38] codedsun commented on #6597
@iamareebjamal This is an issue in frontend -
What I did is
1. I choose Paid ticket
2. In price value I write free instead of price
3. Publish the changes.

Frontend should not allow the price non-integer value

Results : This create a Paid ticket in backend
![image](https://user-images.githubusercontent.com/20026440/69012797-d1a62c80-099f-11ea-8a29-099f58a63539.png)

[2019-11-17 19:41] iamareebjamal commented on #6597
The frontend has 0 responsibility to allow or disallow anything. Everything is server's responsibility

[2019-11-17 19:43] codedsun commented on #6597
Okay, got this will send a PR.

[2019-11-17 22:40] tjwebb opened #6603 "Unable to run create_db.py"
**Describe the bug**
I cannot successfully execute create_db.py

**To Reproduce**
Steps to reproduce the behavior:
Set all the postgres variables, and run create_db.py

**Expected behavior**
I expected to not get an error

**Stacktrace**
[code]
**Additional details (please complete the following information):**
 - OS: Linux `cs-6000-devshell-vm-04afeef9-07a4-45af-bb01-74a7d90eb826 4.19.72+ #1 SMP

[2019-11-17 22:45] tjwebb commented on #6603
I found this issue: https://github.com/sabricot/django-elasticsearch-dsl/issues/119

I updated `requirements/common.txt` to use this version of elasticsearch: `elasticsearch-dsl~=6.1.0`, and the script ran successfully.

[2019-11-17 23:48] iamareebjamal commented on #6603
Duplicate of #6560

[2019-11-17 23:48] #6603 closed

[2019-11-17 23:52] iamareebjamal commented on #6603
Please pull latest changes and retry

[2019-11-18 06:16] kushthedude commented on #6569
@iamareebjamal

On Sun, 17 Nov, 2019, 23:22 Kush Trivedi, <kushthedude@gmail.com> wrote:

[2019-11-18 06:50] iamareebjamal commented on #6569
Yes, once 1-2 PRs are finalized, we'll make a release

[2019-11-18 18:52] #6597 closed

[2019-11-19 13:28] kushthedude commented on #6601
@iamareebjamal We need to auto deploying to gh-pages as travis was doing, if yes, I would like to work on it

[2019-11-19 14:13] iamareebjamal commented on #6601
Go ahead

[2019-11-21 13:50] prateekj117 opened #6606 "Refactor code for custom endpoints."
**Describe the bug**
Custom endpoints should be shifted to a different folder so as to solve the problem of circular dependency in case of Limiter functionality.  And also for a better design and follow single responsibility principle.

**Additional context**
On it.

[2019-11-21 21:06] prateekj117 opened #6607 "Separate order and event blueprints"
**Describe the bug**
Right now even the custom endpoints of orders and events have been extended from ticket_blueprint.

**Additional context**
On it.

[2019-11-22 04:49] sharmaaditya570191 opened #6608 "New account creation with same email is allowed"
**Describe the bug**
The system currently allows to create 2 accounts with same email id.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Register page.
2. Create new account with same registered email id.

**Expected behaviour**
2 accounts with same email id should not be allowed.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Browser: Firefox
 - Ver

[2019-11-22 07:18] kushthedude commented on #6608
I am not able to reproduce nor on local neither production !

[2019-11-22 07:31] iamareebjamal commented on #6608
Yes, as expected, thus wanting more info from the user about the claims

[2019-11-22 07:59] kushthedude opened #6609 "payTM is not functional"
**Describe the bug**

payTM is not working.
**To Reproduce**
Steps to reproduce the behavior:
1. Activate payTM with `Test & Development` Option.
2. Make an order using payTM
3. Click on `pay with payTM`
4. See error

**Expected behavior**

The button should function as expected.
**Stacktrace**

[code]

[2019-11-22 07:59] kushthedude commented on #6609
@iamareebjamal

[2019-11-22 11:56] sharmaaditya570191 commented on #6608
Hi @prateekj117 . There is a checker on the server side for this. What about checking this on the client side?  It would make the process fast.

[2019-11-22 12:05] kushthedude commented on #6608
No check needed for client

On Fri, 22 Nov, 2019, 17:26 Aditya Sharma, <notifications@github.com> wrote:

[2019-11-22 12:11] iamareebjamal commented on #6609
Go ahead

[2019-11-22 12:11] #6608 closed

[2019-11-22 12:37] sharmaaditya570191 commented on #6608
I meant checking if user already exists just after user is done typing the email.

[2019-11-22 12:43] kushthedude commented on #6608
We have more severe issues and bugs to fix before this. Also this is not a
bug but an enhancement.

On Fri, 22 Nov, 2019, 18:07 Aditya Sharma, <notifications@github.com> wrote:

[2019-11-22 13:44] mishra-tanay commented on #6503
Is this Issue still open ?

[2019-11-22 13:57] iamareebjamal commented on #6503
Green means open. Red means closed

[2019-11-23 09:57] sharmaaditya570191 commented on #6608
Hi @kushthedude . Can I open a new issue for the same in open-event-server with `enhancement` label?

[2019-11-23 10:45] iamareebjamal commented on #6608
No

[2019-11-24 03:03] Aju100 opened #6614 "Not able to import modules from 'elasticsearch_dsl"
** Not able to import modules from 'elasticsearch_dsl **
I am unable to run create_db.py to setup this [repository.]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'clone the repository and activate virtualenv '
2. setup database and package
3. run python3 create_db.py
4. See error

`Traceback (most recent call last):
  File "create_db.py", line 7, in <module>
    from app import curr

[2019-11-24 05:12] kushthedude commented on #6614
Not Reproducible, Please mention some more specific instructions.

[2019-11-24 07:25] iamareebjamal commented on #6614
Duplicate of #6560

[2019-11-24 07:25] #6614 closed

[2019-11-25 03:08] Aju100 commented on #6614
@iamareebjamal  still didn't  get the point to setup this repository.

[2019-11-25 05:08] iamareebjamal commented on #6614
Have you pulled the latest changes and reinstalled dependencies

[2019-11-25 07:04] #6444 closed

[2019-11-25 14:34] codedsun commented on #6493
@iamareebjamal Can i work on this issue, also I see no branch of ` shubh-amp master`.

[2019-11-25 14:56] codedsun commented on #6493
@iamareebjamal @prateekj117  Can you tell me the first step like what feature shall be made to the app from the fork. So that we can move forward with this. Thanks

[2019-11-25 15:04] codedsun commented on #6467
@iamareebjamal @prateekj117 taking this up

[2019-11-25 15:41] iamareebjamal commented on #6493
decide schema method

[2019-11-25 19:51] himanshupathak21061998 commented on #6496
Hello, @iamareebjamal I want to solve this issue.
So, I have to do something like this https://stackoverflow.com/questions/1990531/how-can-i-schedule-a-task-to-execute-at-a-specific-time-using-celery
For all the tasks present here https://github.com/fossasia/open-event-server/blob/04ec741536c6974627b51edcc280ab078db84f44/app/__init__.py#L262

[2019-11-25 20:41] iamareebjamal commented on #6496
Not getting errors now after some refactoring, so not an issue for now

[2019-11-25 20:41] #6496 closed

[2019-11-26 06:37] mariobehling opened #6623 "After-Event Email with unrelated events"
The after-event email includes the following:

"Thank You for participating in our event. We hope you enjoyed it. Please check the list of more upcoming events.
Here are the upcoming events: ..."

Please change this as follows.
* Only show "Thank You for participating in our event. We hope you enjoyed it. Please check out other upcoming events around you on eventyay.com"
* Take out the list of upc

[2019-11-26 08:30] mariobehling opened #6622 "Changing Ticket Name results in "unexpected error""
For a ticket that has not been used, changing the ticket name should be possible. Currently it results in an unexpected error.

![Screenshot from 2019-11-26 09-29-07](https://user-images.githubusercontent.com/1583873/69612070-51329c00-102f-11ea-8785-4066ca1d7436.png)

[2019-11-26 09:40] iamareebjamal opened #6618 "Image resizing is not working"
https://github.com/fossasia/open-event-server/blob/9bb9f68305c261713ee486f3840ebcf55dc70d23/app/api/helpers/files.py#L80

urlib is throwing 403 Forbidden error for almost all images.

Please use requests and verify image resizing works. Also, create a management command which finds all events which have no resized images and resizes them

[2019-11-26 09:40] iamareebjamal commented on #6618
@codedsun Can you please take this up?

[2019-11-26 12:10] iamareebjamal opened #6619 "PATCH endpoint is broken"
The point of PATCH endpoint is to only update selected fields of the the resource. Right now, the PATCH endpoint resets all fields except the ones sent to it. This should be fixed on priority

Take the current saved instance of the object and patch only the fields sent from the client

[2019-11-26 15:19] mariobehling opened #6621 "Cannot create ticket with name "Business Ticket" if former ticket with name "Business Ticket" was deleted"
Cannot create ticket with name "Business Ticket" if former ticket with name "Business Ticket" was deleted. Error message appears.

[2019-11-26 15:56] codedsun commented on #6619
I am taking this up.

[2019-11-26 15:58] iamareebjamal commented on #6619
Please take #6618 It's more important

[2019-11-26 15:59] codedsun commented on #6619
@iamareebjamal Cool, thanks. Taking that up

[2019-11-26 16:00] codedsun commented on #6618
Taking this up

[2019-11-26 18:43] codedsun commented on #6618
@iamareebjamal I learnt that this task creates resized image and stored in static folder. How do i test that for 403 error via which api `upload image?` Please guide me how should I proceed?

As when I am hitting through the frontend and selecting the image like event background, event logo it works fine.

[2019-11-26 19:18] iamareebjamal commented on #6618
Send this as original image URL in Postman - https://storage.eventyay.com/eventyay.com/events/758/background/Vk0zSTdyZX/1517e947-29df-4a3c-9580-373db3ba9ba9.png

Also, working fine means the image is resized and all image URLs are correctly set. Is that happening?

For management command, no

[2019-11-26 19:30] iamareebjamal commented on #6622
Duplicate of #6621

[2019-11-26 19:30] #6622 closed

[2019-11-26 19:31] iamareebjamal commented on #6621
[code]

Append `-deleted` to the ticket name when deleting. Similar to what we did in user email field

[2019-11-26 19:41] codedsun commented on #6618
@iamareebjamal

![image](https://user-images.githubusercontent.com/20026440/69666656-9c41c300-10b2-11ea-8871-edccba04100e.png)

They are null

[2019-11-26 20:03] codedsun commented on #6623
Taking this up

[2019-11-26 20:07] codedsun commented on #6618
@iamareebjamal When the event is created the files.py function is run. What is expected that large_image_url, thumbnail_image_url - should be created with a valid url? Am I right?

[2019-11-26 20:41] iamareebjamal commented on #6618
Yes

[2019-11-26 21:02] codedsun commented on #6618
@iamareebjamal Okay I will debug it tomorrow.

[2019-11-26 21:07] kushthedude commented on #6621
@iamareebjamal Shouldn't the ticket be deleted when we click remove ?

[2019-11-26 21:07] kushthedude commented on #6621
Why the id is still stored ?

[2019-11-26 21:15] codedsun commented on #6621
@kushthedude I think there should be a log for everything in the database, so soft deletion method followed for deletion of tickets.

[2019-11-26 21:32] iamareebjamal commented on #6621
Tickets may be related to orders, so first of all, any ticket with placed order should not be able to be deleted, but this is another issue. Secondly, people make mistakes, and regarding events, tickets, and orders are the most important things related to an event in an event management system, so no, they shouldn't be deleted.

[2019-11-26 21:44] codedsun commented on #6621
@iamareebjamal For this issue the name of ticket shall be changed in`beforedeleteobject` method ? and also the permission has to be checked or not?

[2019-11-26 21:52] iamareebjamal commented on #6621
If it can be done in the same PR reliably, then great

[2019-11-26 22:50] #6623 closed

[2019-11-27 16:39] codedsun commented on #6621
@iamareebjamal I am stuck on beforedeleteibject method, I can't figure how to update the schema before the deletion, do i have to perform a db session transaction here or you can give me a example where it's done.

[2019-11-27 16:45] iamareebjamal commented on #6621
` I can't figure how to update the schema before the deletion`

Why do you want to do that?

[2019-11-27 16:46] codedsun opened #6626 "Remove decorators from stripe authorization"
**Describe the bug**
Remove the decorators to fix the stripe authorization in the frontend

https://github.com/fossasia/open-event-frontend/issues/3523

**Additional context**
Working on it

[2019-11-27 16:48] codedsun commented on #6621
@iamareebjamal

[2019-11-27 16:55] kushthedude commented on #6621
@codedsun Please stick to one issue at a time.

[2019-11-27 16:57] iamareebjamal commented on #6621
@kushthedude At least he's sending PRs to urgent issues within a day

[2019-11-27 16:58] iamareebjamal commented on #6621
@codedsun It's not called updating the schema. It's updating DB, and see how it's done when deleting a user

[2019-11-27 17:00] codedsun commented on #6621
@kushthedude - I love learning here and also this issue is not very major
one..I am working on it side by side..also as I am new to django, I will
take time to figure things out here.

Also, I am free all day and night, what else shall I do..

If you can want you can take this up. :)

On Wed, Nov 27, 2019, 10:27 PM Areeb Jamal <notifications@github.com> wrote:

[2019-11-27 17:33] #6571 closed

[2019-11-27 19:18] imrahul361 commented on #6471
I am new to this open source community. I would like to know can i work on this issue if anyone is not working?and can anyone guide me through what to do in this and to setup the environment for that?

[2019-11-27 21:03] #6626 closed

[2019-11-27 21:08] kushthedude commented on #6621
Its great to hear from you, anyways I will be unavailable next week due to
end semester exams :( , Go ahead with the issues.

On Wed, 27 Nov, 2019, 22:30 Suneet Srivastava, <notifications@github.com>
wrote:

[2019-11-28 07:53] codedsun commented on #6620
I am taking this up!

[2019-11-28 13:09] #6607 closed

[2019-11-28 17:29] iamareebjamal opened #6632 "Disable elasticsearch in .env.example"
ENABLE_ELASTICSEARCH should be false

Elasticsearch is not working and this causes errors for beginners

[2019-11-29 06:12] #6609 closed

[2019-11-29 09:23] samyakbvs commented on #6619
Can I take this up?

[2019-11-29 09:39] iamareebjamal commented on #6619
Already taken and not beginner friendly

[2019-12-01 06:31] #6632 closed

[2019-12-02 16:34] dinolinjob commented on #6463
I would like to work on this issue @iamareebjamal

[2019-12-02 17:18] iamareebjamal commented on #6463
OK

[2019-12-03 17:02] dinolinjob commented on #6463
@iamareebjamal Is there a way to check whether the typing annotations written is correct before writing mypy test?
I have began adding typing annotations to auth.py in helpers. Any suggestions?

[2019-12-03 18:53] iamareebjamal commented on #6463
No such way

[2019-12-03 20:18] codedsun commented on #6619
@iamareebjamal I will take this issue now, Do i have to send seperate PR for every end point ?

Also,

Then how the patch request are working currently? are they working or not?

[2019-12-03 20:20] #6621 closed

[2019-12-03 20:22] iamareebjamal commented on #6619
You have to fix the patching mechanism. If it were to be done for each endpoint, I might have as well asked to rewrite the entire app because it would be useless

It's mentioned in the issue how they are working right now

[2019-12-04 09:09] codedsun commented on #6619
@iamareebjamal  I ran a patch request for modules, it's working fine and is setting the values which I passed.

But it sets correctly. For which endpoint should I reproduce this error?

[2019-12-04 11:06] iamareebjamal commented on #6619
event

[2019-12-04 22:15] iamareebjamal commented on #6618
Status? PATCH endpoint is not as important. That is atleast working with its limitation. This is completely broken

[2019-12-05 01:50] codedsun commented on #6618
@iamareebjamal Sorry I missed that due to health issues. I am resuming and working on it now.

[2019-12-05 06:55] codedsun commented on #6618
@iamareebjamal I am finding a way to check that celery worker is running or not on my machine also how do I turn on logs for celery.. I see that function is called, but I m debugging more about it.

[2019-12-05 07:22] iamareebjamal commented on #6618
celery won't run if you've not run it. It's simple

[2019-12-05 07:25] iamareebjamal commented on #6618
Did you follow the instructions and run celery? https://github.com/fossasia/open-event-server/blob/development/docs/installation/basic.md

[2019-12-05 12:18] codedsun commented on #6618
Yeah, while running `celery worker -A app.celery`

I am having error
[code]

[2019-12-05 12:31] iamareebjamal commented on #6618
ENABLE_ELASTICSEARCH=False in your .env

[2019-12-05 14:41] codedsun commented on #6618
@iamareebjamal For the locally saved images on the server it's working fine for me.i.e. From frontend I tried to upload the images, they are getting resized and stored in the events table.

Now as per the requirement, that creating an event by using a postman request with imageurl of not a locally saved file, it's throwing 403 error. I am debugging it now.

[2019-12-05 14:57] iamareebjamal commented on #6618
No need to debug. The cause and solution both are written in the issue itself

[2019-12-05 14:58] codedsun commented on #6618
@iamareebjamal Lol, what should I do then?

[2019-12-05 14:59] iamareebjamal commented on #6618
Follow what's written in the issue

[2019-12-05 15:00] codedsun commented on #6618
How do we write a management command, please guide me?
Also, What should be done for 403 error?

[2019-12-05 15:01] iamareebjamal commented on #6618
I have literally pasted what I wrote in the issue

[2019-12-05 15:04] codedsun commented on #6618
What's the solution here? I need to fix 403 error of urllib

It's throwing for the files which are not saved locally on the server, do I need to fix this for the images which are from the source other than local machine or test for which are locally saved on the server?

[2019-12-05 15:15] codedsun commented on #6618
That hyperlink made a ton of difference for a beginner like me. I thought request as a hitting api.

For this you meant to replace using urllib and use requests instead to open the file and then perform the resizing. Am I correct here?

[2019-12-05 15:16] iamareebjamal commented on #6618
Yes

[2019-12-05 15:19] codedsun commented on #6618
@iamareebjamal If that hyperlink would have been present, it wouldn't have taken a day. Thanks :)

[2019-12-06 17:29] mariobehling opened #6654 "Ticket Ordering Confirmation Email Directs to dead link at "api.eventyay.com..""
After a user receives an email, the user receives a confirmation email comes with a broken link.

In the test the email link is http://url4008.eventyay.com/wf/click?upn=jq3Y4iMptY{somehash}
It forwards to https://api.eventyay.com/generated/tickets/orders/tickets/pdf/c9e893{somehash} with a broken link.

EXPECTED: The link in the email should direct to the same link as on the downloads page in the

[2019-12-06 17:49] codedsun opened #6640 "Add default value of image-sizes in the schema and DB"
**Describe the bug**

Currently, the default values of image-sizes are present in the factory, factories wont be used hence they will be added to the schema and DB.

Parent issue #6641
**Additional context**
Working on it.

[2019-12-06 17:49] mariobehling opened #6642 "Canceled orders with invoice links to 404 page"
If an organizer cancels a ticket the user receives an email with "Click here to view/download the invoice." and a wrong link. The entire message is:

Please contact the organizer for more info
Message from the organizer: None
Click here to view/download the invoice.
Login to manage the orders at https://eventyay.com

![Screenshot from 2019-12-06 18-44-40](https://user-images.githubusercontent.com/

[2019-12-06 17:52] iamareebjamal opened #6641 "Reimplement image sizing"
Image sizes (event and speaker) are implemented very poorly and cause a lot of confusion. Reimplement both

Problems:

- [ ] Different fields are used for event and speaker sizes even when different rows of DB define the sizes
- [ ] No default sizes present in DB or models even when different fields are being used for event and speaker sizes
- [ ] Duplication of default sizes
- [ ] Wrong types in

[2019-12-06 17:58] codedsun commented on #6641
Shall i close this? https://github.com/fossasia/open-event-server/issues/6640 due to same

[2019-12-06 18:00] iamareebjamal commented on #6641
No, that is sub issue and this is parent issue

[2019-12-06 18:08] codedsun commented on #6640
https://github.com/fossasia/open-event-server/blob/6d098cb7548a82f85129e4b817bef13170ec2dec/populate_db.py#L87-L104

@iamareebjamal Few default values are missing what shall be used in that?

[2019-12-06 18:12] iamareebjamal commented on #6640
Don't create sub issues unless working on PRs. Fix the current open PR. Eevrything else will be handled later. refactor is not important right now. There are much more important issues

[2019-12-06 18:20] codedsun commented on #6640
@iamareebjamal Sir, you asked me to open this issue.

[2019-12-06 18:34] iamareebjamal commented on #6640
My mistake. Thought you opened another one which was supposed to be fixed in the current open PR. Apologies

[2019-12-06 20:02] codedsun commented on #6642
Taking this up!

[2019-12-06 20:25] iamareebjamal commented on #6642
Message from the organizer should be there if it is not None

[2019-12-07 08:47] imrahul361 commented on #5498
can i try working on it?

[2019-12-07 14:53] codedsun commented on #6619
@iamareebjamal Resuming the work on this high priority issue.

[2019-12-07 15:04] iamareebjamal commented on #6619
https://github.com/fossasia/open-event-server/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Priority%3A+URGENT%22

[2019-12-07 15:32] codedsun commented on #6569
Taking this up 👍

[2019-12-07 15:57] iamareebjamal commented on #6569
https://github.com/fossasia/open-event-server/issues/6569#issuecomment-554768218

[2019-12-08 11:32] Fik-shun commented on #6467
@iamareebjamal  Hey! I'd like to take this issue.
So basically i just have to remove the entire marshmallow schema(repeated) and put the sqlalchemy model there
eg -> model = Event
under Meta class in EventSchemaPublic.
And similarly for other API components.
Right?

[2019-12-08 11:33] ashwani99 commented on #6601
Is this still open? I would like to work on this

[2019-12-08 11:37] iamareebjamal commented on #6467
If it works, yes

[2019-12-08 13:53] codedsun opened #6646 "Tickets can be created with end date greater than event end date"
**Describe the bug**
Tickets can be created with end date greater than event end date.

**Expected behavior**
There should be a server-side check to check that this doesn't happen

**Additional context**
- [x]  Taking this up

[2019-12-08 14:37] #6642 closed

[2019-12-09 09:43] iamareebjamal commented on #6618
[code]

You didn't test the exceptions @codedsun Please fix ASAP

[2019-12-09 09:53] codedsun commented on #6618
@iamareebjamal No nopes, it was not replaced to Invalid URL

[2019-12-09 09:53] codedsun commented on #6618
@iamareebjamal https://github.com/fossasia/open-event-server/pull/6648

[2019-12-09 10:03] iamareebjamal commented on #6618
[code]

Resize task is using safe_query which means it removes deleted events when querying. Thus, it throws an error when you try to resize images of deleted events. It's an internal module and hence shouldn't use safe_query. See if there is any way to trigger resize event or speaker through API. If there's not, then change safe_query to normal query

[2019-12-09 10:25] codedsun commented on #6618
@iamareebjamal Will check and reply.

[2019-12-09 10:57] codedsun commented on #6618
For Events image resizing and speaker image reisizing
The task is only triggered when we patch an event/speaker image or the first time event/speaker is created using POST request.

[2019-12-09 14:50] codedsun commented on #6646
@prateekj117 @iamareebjamal I can also create ticket before start of event, can this happend? If not I will also add this check to this PR.

[2019-12-09 16:00] codedsun commented on #6471
@iamareebjamal while running `http://localhost:5000/health-check` it gives `INFO:werkzeug:127.0.0.1 - - [09/Dec/2019 21:27:42] "GET /health-check HTTP/1.1" 404 -` Can you tell me why it's not working?

Also, for the celery endpoint as stated

But when I referred to the PRs you said here that no, new end point is needed. https://github.com/fossasia/open-event-server/pull/6544#issuecomment-544438124

[2019-12-09 17:40] iamareebjamal commented on #6471
/health-check?celery

[2019-12-09 17:40] iamareebjamal commented on #6471
Debug

[2019-12-09 17:43] iamareebjamal commented on #6646
So, ticket sales should only start after the start of event?

"I want to buy tickets to the movie"
"Sorry sir, the movie has started"
"OK, so when will the next show tickets be available?"
"After the movie starts after 3 hours"
After 3 hours:
"I want to buy tickets to the movie"
"Sorry sir, the movie has started"

[2019-12-09 17:43] codedsun commented on #6471
@iamareebjamal Does the server needs up be run via docker inorder for the health-check to be working?

[2019-12-09 17:50] iamareebjamal commented on #6471
How would server even know it is running inside docker?

[2019-12-09 17:52] codedsun commented on #6471
Okay, I will debug but the https://api.eventyay.com/health-check endpoint is working fine. Okay will debug and get back to you. Thanks.

[2019-12-09 18:14] iamareebjamal commented on #6471
It's not

[2019-12-09 19:04] codedsun commented on #6471
I meant that the endpoint is  giving a proper response

[code]

As per the issue,

This is also saying celery ok

[2019-12-09 19:07] codedsun commented on #6618
Also, guide me for this sir. Thanks

[2019-12-09 20:02] #6618 closed

[2019-12-09 20:04] iamareebjamal commented on #6471
It wasn't working at the time of me raising the issue. Anyway it is mainly about separating the endpoint of celery and adding healthcheck in Dockerfile

[2019-12-10 17:49] codedsun commented on #6471
@iamareebjamal Health-check was previously giving me 404 error for my machine, but then I followed the documentation and changed to

[code]

But when hitting localhost:5000/healthcheck getting 500 status

[code]

![image](https://user-images.githubusercontent.com/20026440/70554630-7c76c880-1ba3-11ea-9e2f-ae65a77a942a.png)

[2019-12-10 18:14] Apoorv01017 commented on #6508
if no one is working on this can you assign this to me

[2019-12-10 18:32] iamareebjamal commented on #6508
Please go ahead. We don't assign people because they usually say they want to work on it and disapear. If you want to work on it, go ahead and send a PR. If it's good, it'll be merged. Assigning is pointless for external contributors in an open source project

[2019-12-11 05:04] cweitat opened #6653 "Server showing 409: tickets sold out when they are not"
**Describe the bug**
409 payload error message shows when booking a ticket. This can be verified by multiple users.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to event (https://eventyay.com/e/d99b1f7e)
2. Select 1 Free ticket and click order now
3. 409 payload error message appears

**Expected behaviour**
Should display the information page

**Screenshots**

![image](https://user-im

[2019-12-11 05:46] codedsun commented on #6471
@iamareebjamal The second part of the issue shall be done in same PR or another PR?

[2019-12-11 05:54] iamareebjamal commented on #6471
Same

[2019-12-11 07:51] cweitat commented on #6653
I'm a user, not a developer of this project. Just reporting what attendees who failed signed up are facing and not obliged to do so as well. And no one is triggered here. The short reply given earlier without any image is misleading.

So thanks for the more detailed reply of why attendees are seeing the error message.

[2019-12-11 08:44] iamareebjamal commented on #6653
We are also all volunteers here with no obligation :)

[2019-12-11 08:46] Apoorv01017 commented on #6508
I would like to work on it but I am new to open source if you could guide me on  how to get started it would be a great help

[2019-12-11 08:49] iamareebjamal commented on #6508
Sorry, we don't have the capacity to train people. If you want to get started, read the documentation, and the issue description. Generally, we recommend to only take issues you know you can work on

[2019-12-11 08:50] Apoorv01017 commented on #6508
can you please advise me what all i need to know before getting started

[2019-12-11 08:51] Apoorv01017 commented on #6508
just listing the topics would be a great help

[2019-12-11 08:54] codedsun commented on #6653
@iamareebjamal Taking this up! Thanks

[2019-12-11 08:55] iamareebjamal commented on #6508
Everything is written in README. Every open source project has a README, and it should the document you should start with. As it quite literally says "READ ME" :)

[2019-12-11 08:56] Apoorv01017 commented on #6508
thank you so much

[2019-12-11 17:31] codedsun commented on #6653
@iamareebjamal The error is not in the attendees api else it would be failing for everyevent. How can i get the logs for the server? and also how can i know what values are present their in the table for this event for debugging?

[2019-12-11 18:57] prateekj117 commented on #6653
@iamareebjamal While working on the New Orders API, I did had a hard time understanding the old logic for tickets left and it seemed wrong to me. It would be great if you could give it a look as well. I will get back with more details after my exam tomorrow.

[2019-12-11 23:56] iamareebjamal commented on #6653
It cannot be anywhere else

No, it can fail for certain events where some people bought tickets and then the pending ticket holders remained from being expired

[2019-12-12 01:06] iamareebjamal commented on #6653
Well, you can see why it is broken. In order statistics API, this is how you calculate the sold tickets:

https://github.com/fossasia/open-event-server/blob/80b47a62bb40d81e796ee2933645cc4ed4a43290/app/api/order_statistics/events.py#L49-L50

This returns 19

https://github.com/fossasia/open-event-server/blob/80b47a62bb40d81e796ee2933645cc4ed4a43290/app/api/attendees.py#L58-L60

This returns 50. Si

[2019-12-12 01:19] iamareebjamal commented on #6653
And needless to say that order expiry logic is not working as well. It is also something which is difficult to get right in current design

[2019-12-12 13:20] kushthedude commented on #6653
The Pending Mechanism holds the tickets only for 30 min , Needless to say, the reservation is needed as order may get payment failure or some other issue. Talking about the other ticket buyer when he comes to buy the ticket, There we had an idea of implementing the order waitlist as it is done in other similar platforms.
Now we have two options, One to remove the reservation feature which may hit

[2019-12-12 13:23] kushthedude commented on #6653
Also this is related to https://github.com/fossasia/open-event-server/issues/6433 https://github.com/fossasia/open-event-server/pull/6432#issuecomment-549126183

[2019-12-12 13:34] kushthedude commented on #6653
Also, There is other discrepancy while ordering the ticket through offline payment. All the ticket which are bought through offline mode of payment gets a placed label, not to mention these tickets are counted in `Ticket Statistics Table`. But here comes the twist, Suppose I have 10 tickets and I buy all the 10 using offline mode, All of the 10 Tickets will be with the label `placed` and the ticke

[2019-12-12 13:48] iamareebjamal commented on #6653
And keeps holding it. It is not implemented corectly

[2019-12-12 13:53] kushthedude commented on #6653
The expiry mechanisn is not working then, I suppose

[2019-12-12 14:31] iamareebjamal commented on #6653
Duplicate: #6433 but there are 2 issues.

1. Count query of sold tickets. Solution: Calculate only placed orders + initializing orders which were created under order expiry time
2. The frontend creating dummy attendees without order ID. So, even if count query and reservation mechanism is fixed, we will not be able to track entries of attendees with dummy data since they are not linked to any orde

[2019-12-12 14:32] iamareebjamal commented on #6433
Duplicate of #6653

[2019-12-12 14:32] #6433 closed

[2019-12-12 15:05] iamareebjamal commented on #6653
@kushthedude Is there any case where an attendee without `order_id` is valid?

[2019-12-12 15:07] iamareebjamal opened #6655 "Add created_at, modified_at in ticket holders"
Currently, ticket holders/attendees have no information when they were created and when they were modified. At these to the model

[2019-12-12 17:09] iamareebjamal commented on #6653
I've deleted dummy attendees manually, so, it should work for now temporarily while we work on a fix

[2019-12-12 18:15] kushthedude commented on #6653
@iamareebjamal I will take a loom at the order process thoroughly tonight.

On Thu, 12 Dec, 2019, 22:39 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-13 13:13] codedsun commented on #6655
Taking this up!

[2019-12-13 13:15] codedsun commented on #6653
@iamareebjamal https://github.com/fossasia/open-event-server/issues/6653#issuecomment-565030517

For this shall I create the sub issue and send the PR for it?

[2019-12-13 13:18] iamareebjamal commented on #6653
No need for sub issue. This is the issue itself

[2019-12-13 13:43] iamareebjamal opened #6659 "Add error handler for status 429"
Status 429 Too many requests has no error handler, and hence it returns HTML instead of JSON

https://flask-limiter.readthedocs.io/en/stable/#custom-rate-limit-exceeded-responses

[2019-12-13 14:23] NickSneo commented on #6659
I am new to open source and would ike to start with this one, please assign it to me

[2019-12-13 14:25] NickSneo commented on #6655
want to take this up

[2019-12-13 14:25] codedsun commented on #6659
@NickSneo No need for assign, you can work and send the PR

[2019-12-13 14:28] NickSneo commented on #6659
okay thanks

[2019-12-13 14:32] iamareebjamal commented on #6655
@NickSneo This is a high priority issue, not good for beginners, as we need this mered fast. And anyway, it is already taken up

[2019-12-13 14:42] NickSneo commented on #6655
@iamareebjamal okay, no problem!!!

[2019-12-13 15:40] #6655 closed

[2019-12-13 15:45] iamareebjamal opened #6661 "Delete ticket holders after order_expiry_time + created_at if they don't have order_id"
Sometimes, some dummy ticket holders get created with no order_id, it'll take time to create new order API, hence for now, after every `order_expiry_time`, a function should run which will delete all ticket holders with no order_id which have `created_at + order_expiry_time < now`

[2019-12-13 15:48] codedsun commented on #6661
@iamareebjamal Do i have to write a job for that?

[2019-12-13 15:49] iamareebjamal commented on #6661
It's in the settings

[2019-12-13 20:12] KumarOjas opened #6664 "Issue"
**Describe the bug**

Refactor code for custom endpoints.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Stacktrace**

**Additional details (please complete the following information):**
 - OS: [e.g. MacOS, Ubuntu, CentOS]
 - Python Version [e.g. `3.5`, `3.6`]
 - `HEAD` Commit hash [e.g. `4629c62`]

[2019-12-13 20:22] #6664 closed

[2019-12-14 07:59] iamareebjamal opened #6665 "Register error handler for custom errors and change return statements to raise"
https://github.com/fossasia/open-event-server/blob/9ba29f50ff2907e911dba2a51661015183ca658a/app/api/helpers/errors.py#L62-L75

https://flask.palletsprojects.com/en/1.1.x/errorhandling/#generic-exception-handlers

[2019-12-14 08:22] iamareebjamal opened #6666 "Improve query performance"
Right now, the events endpoint takes 1 second to return. Which is too much. It takes 3 ms to run the SQL query. So I took a look where the issue is. Marshmallow serialization was taking too long. 950+ ms. Thought it's just slow and we can do nothing. But, when I tried querying events with sparse fieldsets and it was only taking 7 ms! I was shocked. So I took a look at all the fields being sent by

[2019-12-14 08:26] iamareebjamal commented on #6666
`has_sessions`, `has_speakers`: #5560, #5529

As mentioned in issue and PR, this slowed down list queries a lot, and should be handled by a separate relationship. Also, the query does not need to count sessions and speakers to know if there are any, it just needs 1. count is a lot slower than just knowing if there are any sessions or speakers in the event. Secondly, it does not filter out deleted

[2019-12-14 08:29] iamareebjamal commented on #6666
To improve marhsmallow JSONAPI link generation - #6656 https://github.com/marshmallow-code/marshmallow-jsonapi/pull/278

[2019-12-14 08:49] iamareebjamal commented on #6666
`tickets_available`, `tickets_sold`, `revenue`: #5313 #5309

[2019-12-14 09:06] iamareebjamal commented on #6666
`average_rating`: #4865 #4808

#### Impact
Removing shaves: 29 ms from list query

[2019-12-14 09:23] iamareebjamal commented on #6666
## Breakdown: /v1/events endpoint

### List Query

### Before
1.1 seconds - 1100ms

**Result**: 1100ms

### Optimizing Link Generation
[code]
= **-550 ms**
Query cost reduces to 50%!!!

**Result**: 550ms

### Remove has_sessions, has_speakers
[code]
= **-230 ms**

**Result**: 320ms

### Remove tickets_available, tickets_sold, revenue
[code]
= **-200 ms**

**Result**: 120ms

### Remove average_rati

[2019-12-14 10:08] kushthedude commented on #6666
What about the ticket queries which we removed recently from our tables ? @iamareebjamal

[2019-12-14 10:10] iamareebjamal commented on #6666
What about them?

[2019-12-14 11:40] kushthedude commented on #6666
That column was quite handy, will improving the query method allow us to
reestablish thek atleast for the organisers view rather than admin?

On Sat, 14 Dec, 2019, 15:40 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-14 11:53] iamareebjamal commented on #6666
Which column? None of the columns removed were used in frontend. Can you please be specific?

[2019-12-14 11:55] kushthedude commented on #6666
Column in the sense the ticket query which we removed in Frontend for the
sake of loading time.

On Sat, 14 Dec, 2019, 17:23 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-14 11:58] iamareebjamal commented on #6666
That will not be added. Makes no sense to show all the tickets and their sales in a list of events. If need be, add a relationship to a new resource which shows the ticket sales, which I still think shouldn't be shown in a list. Is there a discussion somewhere of it being useful? Anyway, this issue has nothing to do with it, please open another issue for it if you want, this is about removing unne

[2019-12-14 12:21] iamareebjamal commented on #6666
Reopening to analyze more about possible performance improvements in other endpoints

[2019-12-14 13:49] iamareebjamal opened #6668 "Use hashids for event identifier"
https://github.com/davidaurelio/hashids-python

This enables us to decode event ID without a database hit in future

[2019-12-14 15:43] kushthedude commented on #6668
@iamareebjamal Do we need to implement hashid in here https://github.com/fossasia/open-event-server/blob/496e2e2d69e30f23ebb62ec3caeedb2f7dd41ae4/app/models/event.py#L29 ?

[2019-12-14 15:50] iamareebjamal commented on #6668
Yes

[2019-12-14 15:50] kushthedude commented on #6653
@iamareebjamal For your point one:
It makes sense to count the queries for placed order, But why intializing ? Since `Initialising` is only used untill the order is changed to pending or expired. Shouldn't it be placed & completed ?

[2019-12-14 15:53] iamareebjamal commented on #6653
Then the reservation system will be broken.

[2019-12-14 16:02] kushthedude commented on #6653
Ohk, so we will include all the expired and pending initially which will be
removed by the job which is currently being implemented by @codedsun, hence
only completed tickets will be stored.

On Sat, 14 Dec, 2019, 21:23 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-14 17:05] iamareebjamal commented on #6653
count = completed orders + (initializing orders created within order expiry time) + (placed orders created within 10 minutes)

What @codedsun has made is a job to remove orphan ticket holders which have no order ID. They won't be counted, and can't be counted.

[2019-12-14 17:08] iamareebjamal commented on #6653
What is the current state transition of orders is this:

1. initializing - wait for `order_expiry_time` and then change to expired
User is entering the information and can enter upto `order_expiry_time`
2. placed - wait for 10 minutes and then change to expired
User has entered the information and now in the process of payment
3. completed - User has paid for the order

@prateekj117 @kushthedude P

[2019-12-14 17:12] iamareebjamal commented on #6653
These are the states in the DB:

[code]

Why is `initialized` used? And what's the difference between `deleted` and ordders where `deleted_at` is not null? This is confusing

[2019-12-14 17:18] iamareebjamal commented on #6653
Wow, there's also `trashed_at` field in orders along with `deleted_at`. There are more `trashed_at` orders than `deleted_at` in production. I'm there are wrong sales and tickets sold data because of this. Every new state is like a salt to the wound. If someone has reason for this, please help

[2019-12-14 18:50] kushthedude commented on #6653
No, There are some minor changes @iamareebjamal :
- For the placed, it is incorrect . All the orders which are made using offline mode of payment are placed orders which have no expiry time.
- Pending orders have a window of 30 minutes after `order_expiry_time` to convert it into expired if payment is not done.
- Completed is either user has paid or ticket is free.
- Cancelled is the status assign

[2019-12-14 18:52] kushthedude commented on #6653
I have not idea about `intialized` and `initialising`, Most common guess of mine is there is some typo in our code for this!

[2019-12-14 18:59] iamareebjamal commented on #6653
Why not completed?

[2019-12-14 19:04] kushthedude commented on #6653
This was the change suggested by @mariobehling .

[2019-12-14 19:05] iamareebjamal commented on #6653
OK, if they want to have a distinction between placed and completed, but this makes it more complicated and now there are 2 states for valid orders. placed and completed. I think there should be a single final state and maybe a boolean field to mark if the order is placed or not.

This will reduce the states to initializing, cancelled, expired, completed (once we have finalized and removed deleted

[2019-12-14 19:07] kushthedude commented on #6653
There is a undue feature requested by @mariobehling for listing of all the deleted orders in the `Admin Panel` rather then showing it to the organisers and event rolees ?

[2019-12-14 19:09] kushthedude commented on #6653
Exactly, And we are neglecting the placed orders in every aspect whether it be no of tickets sold checks or the final sales amount shown for the event.

What will the final state make a difference ? Since we require the both completed and placed to show the organiser distinction between offline and online orders .

[2019-12-14 19:14] iamareebjamal commented on #6653
Final state will make query easier as you just have to check for order.status == 'completed', for revenue or ticket sold, online of offline. All in all, it being offline is not a state, it's an attribute of the order

We already have trashed_at and deleted_at, why do we need `deleted` state?

[2019-12-14 19:20] kushthedude commented on #6653
So what I can understand is we will have a boolean to check if the order is offline paid. If the order is offline we will assign it a completed state and for the FE we may show something like `Completed Order [ Offline Mode]` or something other. For ease of organiser .

[2019-12-14 19:30] iamareebjamal commented on #6653
Yes, or show it as placed. It doesn't really matter. Order will only have a few states, and offline or online will be notified using a boolean.

[2019-12-14 19:40] iamareebjamal commented on #6653
So, I just checked and all of the orders with `initialized` state have `paid_via` set to `paypal` or `stripe`, and also have `paypal_token` and `stripe_token`. Now, I really hope it is not what it seems that the orders were paid for and never got saved as completed :(

And there are 3 `initializing` orders from 12th Dec 2019 which were never expired, because the cron job expires orders which have

[2019-12-14 19:42] kushthedude commented on #6653
@iamareebjamal I think we should involve @mariobehling in this order status too. It is too complex rn and we can discuss what more further improvements cam be done

[2019-12-15 10:28] iamareebjamal opened #6669 "Make ticket_id and event_id not null in TicketHolder"
Self explanatory

[2019-12-16 06:21] codedsun commented on #6668
Taking this up!

[2019-12-16 14:27] ashwani99 commented on #6669
Working on this

[2019-12-16 15:37] codedsun commented on #6668
@iamareebjamal Do we need to remove the previous implementation to get the previous id or do we encode this id with hashid and where do we have to save this?

[2019-12-17 01:51] kushthedude opened #6673 "My-Ticket route is broken."
Some recent PR broke the `My-Ticket` Route of Frontend

Stacktrace :
[code]

[2019-12-17 01:54] kushthedude commented on #6673
cc: @iamareebjamal

[2019-12-17 04:12] codedsun commented on #6673
#6656 might broke this..

[2019-12-17 08:18] Rits1272 commented on #6659
Can I work on this?

[2019-12-17 10:55] ashwani99 commented on #6505
Working on this

[2019-12-17 19:29] codedsun commented on #6673
Also breaking while buying a ticket

[code]

[2019-12-17 19:35] vishakhanihore commented on #6673
@codedsun If it is the root cause, I am working on making the PR

[2019-12-17 19:43] codedsun commented on #6673
@vishakhanihore Let @iamareebjamal confirm what went wrong.

[2019-12-18 13:01] vishakhanihore commented on #6673
@mrsaicharan1 can you please check it m?

On Wed, 18 Dec, 2019, 01:13 Suneet Srivastava, <notifications@github.com>
wrote:

[2019-12-21 05:15] strypey opened #6682 "Compulsory donation expected on top of FOSSASIA 2020 ticket, then returned to blank ticket page"
**Describe the bug**

I just tried to register for the FOSSASIA 2020 Summit on Eventyay.com. It says the "Community Super Early Bird" ticket is available until 26 Dec, so I selected one of "Quantity" = 1 and clicked "order now" to pay. However, the system indicated it wanted me to enter a "donation ticket" amount of at least 119 SGD before proceeding. It seemed odd that I would need to pay for bot

[2019-12-21 15:30] kushthedude commented on #6682
Hey @strypey, This behaviour is not expected as you should be free to buy any ticket.
Also **There is no policy by FOSSASIA to buy a compulsory Donation Ticket with a Community Bird Early Ticket**
I suggest you to disable any blocker and try once again on an incognito tab. If you still experience this, Please share the `Console Logs` with us so that we can solve this on priority.
Thanks!

[2019-12-21 16:28] prateekj117 commented on #6673
@kushthedude @mariobehling The solution implemented was a workaround. I am making a new PR reverting the workaround and implementing the solution.

[2019-12-21 18:45] iamareebjamal commented on #6673
That did not break the endpoint, it was already wrong, and should have been fixed as with @prateekj117's PR

[2019-12-21 18:53] #6673 closed

[2019-12-21 18:54] kushthedude commented on #6673
Welcome back @iamareebjamal 😄

On Sun, 22 Dec, 2019, 00:23 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-21 19:52] iamareebjamal commented on #6668
For now, this will just change the get_new_identifier function which will take id as input

[2019-12-22 05:26] codedsun commented on #6668
@iamareebjamal But how can we pass `id` here?

https://github.com/fossasia/open-event-server/blob/496e2e2d69e30f23ebb62ec3caeedb2f7dd41ae4/app/api/data_layers/EventCopyLayer.py#L47

and

https://github.com/fossasia/open-event-server/blob/496e2e2d69e30f23ebb62ec3caeedb2f7dd41ae4/app/api/event_copy.py#L62

[2019-12-22 10:59] #6661 closed

[2019-12-22 11:00] iamareebjamal commented on #6668
Yes, it needs to be thought about how identifier can be generated

[2019-12-23 02:45] kushthedude opened #6691 "Ticket Dashboard: Completed_At Property of Order is not timezone aware."
**Describe the bug**

Completed_At Property of Order is not timezone aware.

**To Reproduce**
Steps to reproduce the behavior:
1. Make any completed order
2. Visit order dashboard
3. See error

**Expected behavior**

Time should be correct

**Additional context**

<img width="1120" alt="Screenshot 2019-12-23 at 8 14 42 AM" src="https://user-images.githubusercontent.com/44091822/71332452-4bf83c80-2

[2019-12-23 17:44] #6691 closed

[2019-12-23 19:00] #6598 closed

[2019-12-24 05:10] mariobehling opened #6695 "Session CSV Export: Missing fields and Incorrect Columns"
Exporting session/speaker information does not show all collected columns. Specifically the information on session length is missing, but also a lot of other info collected.

Furthermore <SessionType 'Talks'> shows up on rows. Expected is just: Talks

![Screenshot from 2019-12-24 06-09-29](https://user-images.githubusercontent.com/1583873/71394935-0c8d2700-2614-11ea-9936-04b3f56c1335.png)

[2019-12-24 14:53] ektaarora3501 commented on #6669
hey ! is the issue resolved ? If not can I work on it ?

[2019-12-24 18:11] #6646 closed

[2019-12-24 18:32] #6567 closed

[2019-12-27 19:04] codedsun commented on #6695
taking this up.

[2019-12-28 11:09] #6653 closed

[2019-12-28 12:16] codedsun commented on #6505
@iamareebjamal What shall be the name of the user? in this command

`USER <your_user_name>`

[2019-12-28 12:50] iamareebjamal commented on #6505
open_event_user

[2019-12-28 18:51] #6505 closed

[2019-12-29 06:41] Pranay144 opened #6698 ""https://open-event-api.herokuapp.com/ " showing application error!"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://open-event-api.herokuapp.com/'
2. See error

[2019-12-29 09:09] iamareebjamal commented on #6698
https://open-event-api-dev.herokuapp.com

[2019-12-29 09:09] #6698 closed

[2019-12-29 12:47] edenyay opened #6701 "Organizer unable to add new speakers into new sessions"
**Describe the bug**
I failed to add speaker's info into the new session I've just added for the the FOSSASIA Summit 2020, even with organizer role. Email and other info disappeared, couldn't upload photo either.
![Screen Shot 2019-12-29 at 19 37 48](https://user-images.githubusercontent.com/32028823/71557031-fbf50a80-2a72-11ea-9edc-e6b639e8b745.png)

**Expected behavior**
Be able to add new sessi

[2019-12-29 13:49] Aju100 opened #6702 "Unable to create file migrations/versions"
**Describe the bug**
Upon trying to clone the repository. It shows these errors.

`
C:\Users\Aju\Desktop>git clone https://github.com/Aju100/open-event-server.git
Cloning into 'open-event-server'...
remote: Enumerating objects: 60676, done.
remote: Total 60676 (delta 0), reused 0 (delta 0), pack-reused 60676
Receiving objects: 100% (60676/60676), 46.96 MiB | 626.00 KiB/s, done.
Resolving deltas: 1

[2019-12-29 14:03] iamareebjamal commented on #6702
Please use linux. Windows has arcane file name restrictions

[2019-12-29 14:03] #6702 closed

[2019-12-29 14:57] Aju100 commented on #6702
@iamareebjamal  sure.

[2019-12-30 17:03] #6695 closed

[2019-12-30 17:47] codedsun commented on #6654
@iamareebjamal Taking this up

[2019-12-30 19:06] HardikM1999 commented on #6463
Can I work on this issue @iamareebjamal ?

[2019-12-30 19:29] iamareebjamal commented on #6463
Yes, one more to the list

[2019-12-31 03:34] kushthedude opened #6703 "Unable to order ticket"
**Describe the bug**

Unable to order ticket after syncing fork with development

**Stacktrace**

[code]

[2019-12-31 03:35] kushthedude commented on #6703
cc: @iamareebjamal

[2019-12-31 08:09] iamareebjamal commented on #6703
Try to find out which commit caused problem using git bisect

[2019-12-31 08:31] kushthedude commented on #6703
@maze-runnar can you please also mention the issue you are facing while
ordering.

On Tue, 31 Dec, 2019, 13:39 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-31 09:20] codedsun commented on #6703
@iamareebjamal @kushthedude this caused the issue and broke the ordering system

https://github.com/fossasia/open-event-server/pull/6573

[2019-12-31 09:38] iamareebjamal commented on #6703
Reason?

[2019-12-31 09:49] maze-runnar commented on #6703
@kushthedude When go to event for ordering ticket ,  the message popup to fill the detail then send to page your ticket is expired  .

[2019-12-31 10:02] kushthedude commented on #6703
@codedsun Can you please also check what is the issue faced by @maze-runnar
?

On Tue, 31 Dec, 2019, 15:19 Sundaram Dubey, <notifications@github.com>
wrote:

[2019-12-31 10:05] iamareebjamal commented on #6703
The order is returning expired immediately after being created.

[2019-12-31 10:18] codedsun commented on #6703
https://github.com/fossasia/open-event-server/blob/d5cce64f78844bab8781f93af86ee839e4cf7b46/app/api/helpers/permission_manager.py#L394-L400

Aslo the earlier commit function says

[code]

[code]

Due to the patch request the permission manager changes the changes the kwarg from order identifier to id.

[2019-12-31 10:37] iamareebjamal commented on #6703
This is really bad logic. Why should permission manager change this? The entire function is sad to look at. Needless metaprogramming. Changing something required locally layers away to induce confusion

Reverting the PR. Open an issue to removw all logic from permission manager to appropriate routes and use it only for permission management as its name suggests

[2019-12-31 11:06] prateekj117 commented on #6703
@iamareebjamal Wow, this was totally unexpected. Sorry I missed that.
We can take an approach similar to:
https://github.com/fossasia/open-event-server/blob/d5cce64f78844bab8781f93af86ee839e4cf7b46/app/api/helpers/permissions.py#L149-L169

[2019-12-31 12:12] kushthedude commented on #6703
@maze-runnar Please verify is your issue is resolved too.

On Tue, 31 Dec, 2019, 17:39 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-31 17:20] maze-runnar commented on #6703
@kushthedude  , yes the issue is resolved now .

[2020-01-01 06:30] AmitAronovitch opened #6706 "failure when saving images to aws bucket storage"
**Describe the bug**

When setting up storage to aws, images do not get uploaded to bucket (they are lost after server reastart).

**To Reproduce**

Steps to reproduce the behavior:

1. Install on Heroku (manual install) from the  1.9.0 release
2. Go to admin setup, configure storage to a new empty AWS bucket
3. Login as a normal user, go to profile.
4. upload profile picture.
5.  restart the dyno

[2020-01-01 07:40] #6706 closed

[2020-01-02 06:39] codedsun opened #6708 "Remove all logic from permission manager to appropriate routes"
**Describe the bug**
Remove all logic from permission manager to appropriate routes

Currently, the permission manager has logic other than permission management, the goal is to remove them.

Parent issue: #6703

[2020-01-02 07:26] Aju100 opened #6709 "User warning to run create_db.py"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'generic installation'
2. Follow the instructions
3. Run python3 create_db.py
4. See error
`UserWarning: Could not any envfile.
  warnings.warn('Could not any envfile.')
`DATABASE_URL` either not exported or empty
`

**Additional details (please complete the following information):**
 - OS: [Ubuntu]
 - Python Version

[2020-01-02 07:36] codedsun commented on #6709
Read the  instruction file.

`cp .env.example .env` you didn't performed this step

[2020-01-02 07:41] Aju100 commented on #6709
@codedsun  I have perform it.

[2020-01-02 07:42] Aju100 commented on #6709
@codedsun
`UserWarning: Use of the default `get_ipaddr` function is discouraged. Please refer to https://flask-limiter.readthedocs.org/#rate-limit-domain for the recommended configuration
`
How to remove such warning.

[2020-01-02 07:57] iamareebjamal commented on #6709
git pull upstream development

[2020-01-02 07:57] #6709 closed

[2020-01-02 09:31] iamareebjamal opened #6710 "Remove event-orga endpoint"
It is not being used and redundant. Create proper sales stats API if needed

[2020-01-02 10:57] #4667 closed

[2020-01-02 10:59] iamareebjamal commented on #4667
finally

[2020-01-02 11:01] codedsun commented on #4667
@iamareebjamal - This was wow 👍 Congo!

[2020-01-02 11:46] kushthedude opened #6711 "Question: Error on starting server"
**Describe the bug**

After updating the fork, Server is not able to start due to name collision. I am not sure if it is issue on my local.

**Stacktrace**

[code]

[2020-01-02 11:47] kushthedude commented on #6711
cc : @iamareebjamal

[2020-01-02 11:48] iamareebjamal commented on #6711
`find . -name \*.pyc -delete
`

[2020-01-02 11:53] kushthedude commented on #6711
No good

[2020-01-02 12:06] iamareebjamal commented on #6711
Working fine for me, suneet and dredd

[2020-01-02 12:07] iamareebjamal commented on #6711
Try ELASTICSEARCH_ENABLED=false if it is not already

[2020-01-02 12:09] iamareebjamal opened #6712 "Remove elasticsearch initialization"
elasticsearch is neither working nor supported. It causes confusion and incompatibilities for beginners. Hence, it's integration should be removed. For now, remove any iniitalization but keep the integration code.

However, in future as well, we should not use a service which requires 64 GB of RAM to run (sarcasm)

[2020-01-02 12:15] kushthedude commented on #6711
This was the issue

[2020-01-02 12:16] #6711 closed

[2020-01-02 13:26] codedsun commented on #6654
@iamareebjamal How do i reproduce this issue, the values in db says that it's working fine

Snapshot of Mails table in db message

`Hi, this is a confirmation mail of your tickets for the event Eventyay Testing<br/>Your order has been processed successfully.<br/> <a href='http://127.0.0.1:5000/generated/tickets/orders/tickets/pdf/4216b933-b714-47cf-ac2b-054b9f1dcfc4/S000UkdqUE/4216b933-b714-47cf-a

[2020-01-02 18:13] leson238 commented on #6463
Can I work on this @iamareebjamal ?

[2020-01-03 03:10] #6710 closed

[2020-01-03 04:21] kushthedude opened #6716 "Urgent: Stripe is not working"
Stripe is not working because server is not recognising Pending Orders.

[code]
<img width="1353" alt="Screenshot 2020-01-03 at 9 50 52 AM" src="https://user-images.githubusercontent.com/44091822/71707176-8d1b0700-2e0e-11ea-938a-6b7ebebc2d63.png">

Refers https://github.com/fossasia/open-event-frontend/issues/3712

[2020-01-03 04:35] kushthedude commented on #6703
@iamareebjamal The issue stated by @maze-runnar is not resolved.
Procedure:-
- Create a Pendind Order.
- Don't pay for it and let it convert to Expired.
- Now every order you place will be directly expired !

[2020-01-03 08:06] #6712 closed

[2020-01-03 08:12] iamareebjamal commented on #6716
Duplicate of #6703?

[2020-01-03 08:16] kushthedude commented on #6716
Might be, Not sure

[2020-01-03 11:16] edenyay opened #6717 "Keywords search not working (sessions & speakers tabs)"
**Describe the bug**
Under the sessions, I cannot search for keywords such as speaker name or track name. The results either not appear at all, or only a limited results appear. Under the speakers table,  I cannot search for any keywords other than speakers' names.

**Expected behaviour**
Need to have search functions work again to filter/sort out sessions according to tracks, modify sessions, spe

[2020-01-03 11:17] iamareebjamal commented on #6717
Sessions can't be searched using speaker names, that'd be too inefficient and heavy for the server to compute. It should be able to filter sessions by track however

[2020-01-04 08:47] prateekj117 opened #6719 "Endpoint for charging and fulfilling an order"
Parent issue: #6302

API for charging/fulfilling an order which works with Payment SDKs on the server, calculated on the server taking in correct values for ticket prices, discount codes and tax

[2020-01-04 10:08] codedsun commented on #6703
@iamareebjamal @prateekj117 - Will #6719 fixes this issue or shall I take this up and look more to it, what went wrong?

[2020-01-04 10:09] iamareebjamal commented on #6703
No, that will not be used for a long time now. Take this up

[2020-01-04 11:31] kushthedude commented on #6703
@iamareebjamal This is the commit 7e9400673dcc751d77cbd93561f2454a468a9c6b where things got messed up. I used git bisect and everything before is working

[2020-01-04 11:40] iamareebjamal commented on #6703
This commit is not even setting the tickets as expired. That was done in other PR so how can this break things?

[2020-01-04 11:43] kushthedude commented on #6703
I just resetted my head to the following, The issue is https://github.com/fossasia/open-event-frontend/blob/255c4a7e425ef7ec75bff8e4edb7dbe23425138c/app/components/forms/orders/order-form.js#L47 .
The expire timer is not resetting for new orders. Once a order is created the expire timer goes on & on.

[2020-01-04 11:44] iamareebjamal commented on #6703
The actual issue is https://github.com/fossasia/open-event-server/pull/6693/files#r363030941

[2020-01-04 11:46] iamareebjamal commented on #6703
@codedsun Please fix this

[2020-01-04 11:49] kushthedude commented on #6716
It can not be as #6703 was caused due to https://github.com/fossasia/open-event-server/pull/6693  and this patch is not release in production rn.

[2020-01-04 11:55] iamareebjamal opened #6722 "Create tests for all created_at"
Create tests verifying that all created_at in all models are set to current time

[2020-01-04 11:58] codedsun commented on #6703
@kushthedude  - Thankyou for taking this up. 👍

[2020-01-04 13:00] #6703 closed

[2020-01-04 18:51] iamareebjamal opened #6724 "Speaker images not being resized correctly"
thumbnail width height is set to 150px but still the image generated is of 500px

https://eventyay.com/e/423d0650/sessions/s/all

Also, if I upload an image of 320x320 px and resize width is set to 500px. It upscales the image to 500px. If the image dimension is less than target dimension, return the original image URL as is

[2020-01-04 18:52] iamareebjamal commented on #6724
@codedsun Can you please take a look

[2020-01-05 06:49] #6716 closed