[2015-05-08 09:17] mariobehling opened #1 "Please help to define the details for the backend"

[2015-05-08 16:13] leto opened #2 "Create schema"
Create a database schema in a ```models.py``` file which is a representation of the re-data event schema

[2015-05-08 16:13] leto opened #3 "Create Vagrantfile"
Start a new vagrantfile so we can easily test our code in a virtual machine

[2015-05-08 16:14] leto opened #4 "Create vagrant provision script"
Write a shell script which installs the necessary dependencies (postgres, nginx/etc) so our code can run

[2015-05-09 21:47] rafalkowalski commented on #1
Maybe Django will be better than Flask ? I think that it will be better to maintain

[2015-05-09 22:24] leto commented on #1
@rafalkowalski please explain why

[2015-05-09 22:35] rafalkowalski commented on #1
I never used Flask, just I like the structure of django. In django We are able to create app in fast time, but if you choose a Flask it will be nice to me to learn it :)

[2015-05-11 15:10] leto commented on #1
Please do some additional research when asking questions. Flask is inspired by Django and if you understand one, you will understand the other. Flask came second and was design by developers, based on the good ideas from Django, which was designed by journalists.

[2015-05-11 15:28] rafalkowalski commented on #2
I created database schema in a models.py, but we need to define columns for Speaker and Session table.

[2015-05-11 15:32] leto commented on #2
@rafalkowalski this is a great start! Keep up the good work. Do you have any questions about how to represent the redata schema in SQL? I haven't looked at every detail, so there may be some "fun parts" :smiling_imp:

[2015-05-11 15:39] championswimmer commented on #2
The schema I have begun with is not exactly 100% re-data compliant right
now. Trying to keep it simple initially.
Fewer nestings in the json and fewer endpoints for now.
I have taken cues from their API though.
On May 11, 2015 9:02 PM, "Duke Leto" <notifications@github.com> wrote:

[2015-05-11 15:41] leto commented on #2
@championswimmer that is fine. Iterative improvements on simple beginnings is a great plan.

[2015-05-11 18:10] rafalkowalski commented on #3
I created Vagrantfile with simple configuration. I added to provision install.sh script, where we can define different commands.

[2015-05-11 18:29] leto commented on #3
Finished, closing

[2015-05-11 18:29] #3 closed

[2015-05-11 21:47] championswimmer commented on #2
@rafalkowalski
I finished the database schema :)

https://github.com/fossasia/open-event/blob/master/DATABASE.md

[2015-05-11 21:48] leto commented on #2
:+1:, closing

[2015-05-11 21:48] #2 closed

[2015-05-12 05:50] rafalkowalski commented on #2
Great! I will add it to models.py.  @championswimmer  Could you change in DataBase.md Columns timestart - start_time
timeend -> end_time
loclat -> latitude
loclang -> longitude
locname -> location_name?

It was not readable for me.

[2015-05-12 06:53] rafalkowalski commented on #2
@championswimmer I added the missing models. You can see it here:
https://github.com/fossasia/open-event-orga-server/commit/5fd7570cfaebbf8d9f1daf0ccc291bbf04790c68

[2015-05-12 07:16] rafalkowalski opened #5 "Setting up database"
Currently I  configured sqlite, but our goal is configure postresql in config.py

[2015-05-12 07:46] championswimmer commented on #2
@rafalkowalski feel free to change the names of columns on DATABASE.md if
you wish to make them more readable.
 On May 12, 2015 12:23 PM, "Rafał Kowalski" <notifications@github.com>
wrote:

[2015-05-12 07:49] rafalkowalski commented on #2
ok thanks :)

[2015-05-12 18:06] leto commented on #5
It is good to support SQLite for testing and then we will use Postgres in production. These can be config variables

[2015-05-13 20:28] rafalkowalski opened #6 "Validation should be added to models(Speaker, Event etc.)"
We have to define which columns should be validated

[2015-05-15 06:40] rafalkowalski commented on #4
@leto I added postgres and nginx to provision https://github.com/fossasia/open-event-orga-server/blob/master/install.sh

[2015-05-15 17:10] rafalkowalski commented on #6
@mariobehling @leto @championswimmer  Could you tell me which columns should be required or optional?

I have a suggestion which columns should be required, but I don't know that it will be correct.
My proposition:
Event:
    -name(required)
    -start_time(required)
    -end_time(required)
    -latitude(optional)
    -longitude(optional)
    -location_nam(optional)
    -logo(optional)

Session:

[2015-05-15 17:15] leto commented on #6
Looks good! Let the code flow...

[2015-05-15 18:27] rafalkowalski commented on #6
I fixed it

[2015-05-15 18:27] #6 closed

[2015-05-16 12:15] championswimmer opened #7 "multiple events should be able to belong to a track"
Right now, if I make a track "X"

And then make session A, with track X, and then make another session B also with track X, then session A's track becomes null. And only session B stays in track X.

Ideally, multiple events can belong to a particular track.

[2015-05-16 12:17] championswimmer opened #8 "timestamps should be shown in ISO8601 format in JSON API"
Please check http://en.wikipedia.org/wiki/ISO_8601

That is, timestamps should look exactly like this string
"2015-05-15T13:05:05+00:00"
or
"2015-05-15T13:05:05Z"
(Z stands for 00:00 timezone)

[2015-05-16 13:33] mananwason commented on #8
Instead of this we can just put the gmt time and calculate the difference between the device's current time and the GMT at that point to get the difference and add it to the gmt time in the data downloaded.

[2015-05-16 14:53] championswimmer commented on #8
Well technically, we can still do that in ISO8061, by only using Zulu time.
The reason I want to stick to a protocol like ISO8061 is because Date and
Timestamps for ISO8061 is defined in all major computer languages. It's
easy to parse, and widely used. (Or we can use RFC3339, which is the most
widespread internet standard, which although is afterall just a profile of
ISO8061).
We could also use e

[2015-05-16 15:19] mananwason commented on #8
I am sorry I don't know much about time formats but I'd like to point out my concerns about making things complex by following these formats. We can just keep it simple by the method I have written above.

[2015-05-16 15:30] championswimmer commented on #8
Well, we have to stick to one format at least.

We cannot have some times like "Sat, 16 May 2015 15:00:00 GMT" and some
like "2015-05-15T13:05:05+00:00"

ISO8061 is the easiest to parse from string to Calendar object, because we
will need that to set up alarms/reminders.
The format is YYYY-MM-DD followed by the letter "T" followed by HH:MM:SS,
followed by "Z" if GMT, or +HH:MM if timezone is neede

[2015-05-16 15:35] mananwason commented on #8
Yes I agree to that. We have to finalize a format but without making thing complex and enter the timezone. As it is the event would be in the same timezone. It's the users who'll be in different timezones, so there is no point in specifying the timezone.
As for the format ISO8061 seems just fine.

[2015-05-16 18:24] rafalkowalski commented on #8
I fixed it in commit: https://github.com/fossasia/open-event-orga-server/commit/30ed6fee350d060e52f3cf7f581f0fa5a4467392. Is it good?

[2015-05-16 19:59] championswimmer commented on #8
Looks perfect :)

On 16 May 2015 at 23:54, Rafał Kowalski <notifications@github.com> wrote:

[2015-05-16 20:02] #8 closed

[2015-05-16 20:44] rafalkowalski commented on #7
I resolved it https://github.com/fossasia/open-event-orga-server/commit/c68db02707df1cdc3465ff9749343226d0a84176 . @championswimmer  Could you check it ;) ?

[2015-05-19 08:02] leto commented on #4
Great job, closing!

[2015-05-19 08:02] #4 closed

[2015-05-19 16:50] championswimmer opened #10 "add an option to drop and recreate tables"
in each page Events, Speakers . . so on, there should be a an option to "Clear all data" which will drop that table and create a new one.

During the dev phase, when we are changing the schema every now and then, it'll be very helpful :)

[2015-05-19 19:46] leto commented on #10
This can be done manually by dropping and recreating the database. Also, since we are using vagrant, things will be created fresh on each new "vagrant up", so this seems unnecessary.

[2015-05-19 19:46] #10 closed

[2015-05-20 06:23] #7 closed

[2015-05-20 16:42] rafalkowalski opened #11 "Possibility to sort data by parameter"

[2015-05-20 17:40] leto commented on #11
flask-admin provides this natively

[2015-05-20 17:41] leto commented on #11
You may need to define the columns you want with ```column_filter``` or similar

[2015-05-20 17:41] leto commented on #11
@rafalkowalski let me know if you have more specific questions, i.e. specific lines of code that you wrote that are not working as you think

[2015-05-20 20:25] rafalkowalski commented on #11
@mananwason I added filtering and sorting by parameter in URL
For example:
You can order by everyone column
http://127.0.0.1:5000/get/api/v1/events?order_by=end_time
http://127.0.0.1:5000/get/api/v1/events?order_by=name

You can order and filter
http://127.0.0.1:5000/get/api/v1/events?order_by=end_time&id=1
http://127.0.0.1:5000/get/api/v1/events?name=aa&id=4

[2015-05-21 08:49] rafalkowalski commented on #11
@leto  do you think is it enough?

[2015-05-21 13:26] mananwason opened #12 "Server api not working"
@championswimmer Please check. Shows internal server error while accessing the api

[2015-05-21 19:06] leto commented on #11
Yes

[2015-05-21 19:06] #11 closed

[2015-05-23 08:36] championswimmer commented on #12
fixed. though the data has been cleared. so have to add the data back. database is empty now.

[2015-05-23 08:36] #12 closed

[2015-05-23 11:00] rafalkowalski opened #13 "Provides configuration with Api"
- Gui color - string
- conference logo - string(url to image)
- event title string
- conference email string

Please give me some suggestions on what else should be added @championswimmer @mananwason @mariobehling @leto

[2015-05-23 13:07] rafalkowalski opened #14 "Configuration view in Admin Panel"

[2015-05-23 21:08] mariobehling commented on #13
@rafalkowalski Please make an outline and define milestones first here to draw the bigger steps first. https://github.com/fossasia/open-event/issues/22

[2015-05-23 22:15] #14 closed

[2015-05-23 22:31] rafalkowalski opened #15 "Add configuration Api"

[2015-05-23 22:52] rafalkowalski commented on #15
I have added configuration api. You can check it: get/api/v1/configuration
@mananwason  @championswimmer

[2015-05-23 22:52] #15 closed

[2015-05-24 05:31] mananwason opened #16 "Possibilities of versioning data"
fossasia/open-event-android#7

[2015-05-25 14:17] rafalkowalski opened #17 "Refactoring event settings form"

[2015-05-25 14:28] mariobehling commented on #17
@rafalkowalski Could you please add more details to issues? What are you actually planning to do? Please add all issues and features https://github.com/fossasia/open-event/issues/22 to this repo and assign a milestone.

[2015-05-25 14:35] rafalkowalski commented on #17
I'm going to improve ConfigView class, It looks very ugly
https://github.com/fossasia/open-event-orga-server/commit/ec9d0e58b28203b7081c832fb05178aff5704caf

Besides I wanna add a wtforms validation to fields like(email, logo, title, color).
Currently validation doesn't works

[2015-05-25 15:47] mananwason opened #18 "Api end point name for microlocation"
Please Change name to microlocation instead of microlocations.

[2015-05-25 16:11] rafalkowalski commented on #18
Could you explain me where?

[2015-05-25 16:22] rafalkowalski commented on #18
I assumed that we can have few microlocations, so we want only one?

[2015-05-25 16:23] mariobehling commented on #18
@rafalkowalski +1

[2015-05-25 16:24] mananwason commented on #18
Rafal I was just talking about the address as all other addresses are like
/event, /sponsor etc. But this is plural.
On 25-May-2015 9:52 pm, "Rafał Kowalski" <notifications@github.com> wrote:

[2015-05-25 16:31] rafalkowalski commented on #18
I changed it, Is it good?
https://github.com/fossasia/open-event-orga-server/commit/9aa35b07f7b1e4417c4ec49c215a93539a5a2370

[2015-05-25 16:38] mananwason commented on #18
I just intended to end the discrepency. Plural sounds better. Please change in json response as well as shown here
![image](https://cloud.githubusercontent.com/assets/10570249/7799908/6bad371e-032a-11e5-8f1c-1b433b465850.png)

[2015-05-25 18:57] rafalkowalski opened #19 "Preparing technical/functional documentation"
I will write technical documentation, where Pylint shows me that it is required.
Additionally I will prepare functional documentation, which covers all use cases.
I wonder where can i attach documentation

[2015-05-25 19:40] championswimmer commented on #18
The idea of 'microlocations' is for locations inside the area. like halls,
auditoriums, stages etc.
microlocations will be optional, not all events might have detailed event
area plans, but if microlocations are used, they will be plural, because
there will be multiple microlocations.

microlocation != event location
event location is specified in the /event api as a latitude and longitude.

On 25

[2015-05-25 20:23] rafalkowalski commented on #18
@championswimmer I have changed microlocation to microlocations.
I think we should close this ticket
https://github.com/fossasia/open-event-orga-server/commit/aa527499608b6e33ce01355d4cbcc10d92fb5887

[2015-05-26 01:55] #18 closed

[2015-05-26 03:27] mananwason opened #20 "Session in Speaker api response"
Please change Sessions array of objects to deliver only Session id. We don't need title.

[2015-05-26 07:07] rafalkowalski commented on #20
@mananwason I will change it to below format
[code]

[2015-05-26 07:32] championswimmer commented on #20
I think that's not what he meant.

He is speaking about the sessions[] inside the /speakers API.
On May 26, 2015 12:37 PM, "Rafał Kowalski" <notifications@github.com> wrote:

[2015-05-26 07:44] rafalkowalski commented on #20
@championswimmer Thanks, I changed it
https://github.com/fossasia/open-event-orga-server/commit/bc2def4cb015fcba50b5c7c3b749bcedfc0dd273

[2015-05-26 07:45] #20 closed

[2015-05-26 07:50] mananwason commented on #20
Exactly @championswimmer. Please change this on the hosted server as well. @rafalkowalski commit looks good.

[2015-05-26 08:46] rafalkowalski opened #21 "View improvements"
This bug occurs when we have a lot of data in columns.
It's visible on the below image
![zrzut ekranu 2015-05-26 o 10 42 56](https://cloud.githubusercontent.com/assets/2479753/7808531/316b0c10-0394-11e5-92ba-15d586193ee9.png)

[2015-05-26 09:46] rafalkowalski commented on #21
I will show only the columns required

[2015-05-26 09:50] rafalkowalski commented on #21
I fixed it

[2015-05-26 10:00] mananwason commented on #21
Instead you could limit the width of the column, so that all columns are displayed.

[2015-05-26 10:06] rafalkowalski commented on #21
Nice idea @mananwason. I forgot about it :D

[2015-05-26 10:11] mananwason commented on #21
Sure :D

[2015-05-26 11:27] rafalkowalski commented on #21
In this commit https://github.com/fossasia/open-event-orga-server/commit/1469b3f583ae790515c14cc715e0d0e62a96ed7d , I've written column formatter

[2015-05-26 11:28] #21 closed

[2015-05-27 18:22] #13 closed

[2015-05-27 19:41] rafalkowalski opened #22 "Prepare documentation"
How to deploy orga-server to Heroku

[2015-05-28 06:37] rafalkowalski opened #23 "Create Api view"
This view allows to go directly to page of model api

[2015-05-28 08:54] #23 closed

[2015-05-28 09:15] rafalkowalski opened #24 "Add shell script, which will run pylint, coverage, pep"

[2015-05-29 15:23] championswimmer opened #25 "allow cross origin request on heroku"
I am not sure if heroku will allow it or not, but the webapp cannot access the heroku becuase CORS is blocked on your heroku container.

@rafalkowalski can it be done ?

[2015-05-29 15:36] rafalkowalski commented on #25
Could you give me an error?

[2015-05-29 15:44] championswimmer commented on #25
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the
remote resource at
http://glacial-earth-2730.herokuapp.com/get/api/v1/sessions. This can be
fixed by moving the resource to the same domain or enabling CORS.

On 29 May 2015 at 21:06, Rafał Kowalski <notifications@github.com> wrote:

[2015-05-29 15:45] championswimmer commented on #25
I think this should be the appropriate resource to fix this problem

http://stackoverflow.com/questions/25594893/how-to-enable-cors-in-flask-and-heroku

On 29 May 2015 at 21:14, Arnav Gupta <championswimmer@gmail.com> wrote:

[2015-05-29 15:48] rafalkowalski commented on #25
I fixed it, Could you check it?

[2015-05-29 15:50] championswimmer commented on #25
Works ! Awesome !

You can check http://fossasia.github.io/open-event-webapp/

Just shows the 'descriptions' of sessions right now. I am working on
showing the rest of the data and formatting :)

On 29 May 2015 at 21:18, Rafał Kowalski <notifications@github.com> wrote:

[2015-05-29 15:51] rafalkowalski commented on #25
@championswimmer Great!

[2015-05-29 17:21] leto commented on #25
Great work! This is exactly what the mentors want to see :+1:

[2015-05-29 21:58] rafalkowalski commented on #24
I added check_errors.sh file. After running this file you will get information about code(test coverage, code duplicated)

[2015-05-29 21:58] #24 closed

[2015-05-29 22:38] rafalkowalski opened #26 "Add migration to database"
Install flask-migrate

[2015-05-30 22:55] #26 closed

[2015-05-30 23:16] rafalkowalski opened #27 "Improve code"
Use tools(pylint and test coverage)

[2015-05-31 07:28] #17 closed

[2015-05-31 17:31] mananwason opened #28 "Logo URL not shown in api"
![image](https://cloud.githubusercontent.com/assets/10570249/7902928/d0235a94-07e8-11e5-8749-04dca0b59920.png)

[2015-05-31 18:08] rafalkowalski commented on #28
thank you for pointing a bug. I fixed it :)

[2015-05-31 18:08] #28 closed

[2015-05-31 18:13] mananwason commented on #28
Thanks but it doesn't seem to be quite fixed

[2015-06-03 06:50] mananwason opened #30 "Tracks data Displayed in speakers and sessions"
![image](https://cloud.githubusercontent.com/assets/10570249/7954199/e04ab562-09ea-11e5-86c3-63d6e7e02f21.png)
![image](https://cloud.githubusercontent.com/assets/10570249/7954206/eccbf8a0-09ea-11e5-9640-a105ff830354.png)

[2015-06-03 06:56] mariobehling commented on #30
@mananwason How can be displayed as text instead of an image?

[2015-06-03 06:59] mananwason commented on #30
Yes @mariobehling I didn't think of that. I'll edit it.

[2015-06-03 15:13] rafalkowalski commented on #30
I fixed it

[2015-06-03 15:13] #30 closed

[2015-06-03 16:28] mananwason opened #31 "Array of speakers and microlocations in session.json"
@rafalkowalski For speakers and microlocations in session please remove the names and make it an array of id's only.

[2015-06-03 19:39] championswimmer commented on #31
Yes, let's do it this way for everything then. Wherever objects are cross
referenced, lets only use array of id.

On 3 June 2015 at 21:58, Manan Wason <notifications@github.com> wrote:

[2015-06-03 19:48] rafalkowalski commented on #31
ok :+1:

[2015-06-03 19:49] mananwason commented on #31
Yup That's the plan @championswimmer .

[2015-06-04 08:36] mananwason commented on #31
@rafalkowalski

[2015-06-04 08:38] rafalkowalski commented on #31
@mananwason Could you show me where is a problem?

[2015-06-04 08:39] mananwason commented on #31
[code]

[2015-06-04 08:40] mananwason commented on #31
![image](https://cloud.githubusercontent.com/assets/10570249/7980219/683c259a-0ac3-11e5-950b-79044f51bf71.png)
Here microlocation should be an array

[2015-06-04 08:46] rafalkowalski commented on #31
@mananwason @championswimmer i think not, because Session have one microlocation.So you don't need array.

[2015-06-04 08:48] mananwason commented on #31
Oh yes @rafalkowalski my mistake, I confused sessions with tracks idealogy. Sorry :smile:

[2015-06-04 08:48] #31 closed

[2015-06-04 21:27] #16 closed

[2015-06-04 21:30] rafalkowalski opened #32 "Provides Api: Files and Images"

[2015-06-04 21:31] rafalkowalski opened #33 "Possibility to create/manage Roles(Admin, Speaker)"
Authentication http://examples.flask-admin.org/auth/admin/

[2015-06-05 00:45] leto commented on #33
Let me know if you have specific questions!

[2015-06-05 12:50] leto commented on #33
You will basically create that define which columns are shown, which filters are available and things like that. You get to define an ```is_accessible``` method which decides if a specific URL can be viewed by a given user.

[2015-06-06 00:23] championswimmer opened #34 "option to select event should come before adding sessions, tracks, micrlocations"
when we go to http://open-event.herokuapp.com/admin/session/ we should have to select which event we want to add session to first, then add details of the session,

right now the event selector is at the bottom.

or maybe on that page http://open-event.herokuapp.com/admin/session/ we can show a list of events, and organiser selects event, then goes to page http://open-event.herokuapp.com/admin/ses

[2015-06-06 07:36] rafalkowalski commented on #34
@championswimmer @mananwason we could apply switching between events as it is at Frab.
http://frab-test.herokuapp.com/en/conferences/new
In the  top right corner you could switch conference.Therefore if you want add session, it will be added to current event. What do you think about it?

[2015-06-06 07:54] mariobehling commented on #34
Sounds good to me.

[2015-06-06 08:11] championswimmer commented on #34
Sounds perfect to me as well. makes sense :)

[2015-06-06 08:11] mananwason commented on #34
Sounds nice. So, there will be no event column now in the sessions or somewhere else right?

[2015-06-06 08:16] championswimmer commented on #34
What about speakers then ?
A speaker might speak at multiple events, and multiple sessions at one event.

Right now only one event is attached to a speaker.

How can we work this out ?

[2015-06-06 08:18] championswimmer commented on #34
In the sessions field of speakers maybe we use this format : [eventid]/[sessionid] or eventid_sessionid

like "sessions": [ "1/2", 1/4", "3/9"]

for a speaker who is conducting session 2 and 4 at event 1, and session 9 at event 3

[2015-06-06 08:19] mananwason commented on #34
So sessions are being managed in the current version itself and it would be nice to keep speakers separate for different events.

[2015-06-06 08:20] mananwason commented on #34
No please keep it separate for different events. We need to keep the data download as minimum as possible and getting speaker info for a different event is useless

[2015-06-06 08:35] rafalkowalski commented on #34
@mananwason @championswimmer @mariobehling
Summary:
1. Prepare view where we could switching between events
Main menu:
   - Switch event
       Sub menu:
       - Event 1
       - Event 2
       - Create Event

![zrzut ekranu 2015-06-06 o 10 34 45](https://cloud.githubusercontent.com/assets/2479753/8018978/b47e2384-0c37-11e5-9c3c-c35d23ba9c4f.png)

2. Speakers should belongs to few Events
3. Chang

[2015-06-06 08:39] mananwason commented on #34
@rafalkowalski Instead of this what about if you display events after the login page where user can select the event that concerns him and then go to the page where he can add speakers, sponsors etc.
We should keep the data as less as possible, while seeing that we don't miss anything crucial as well.

[2015-06-06 08:56] rafalkowalski commented on #34
@mananwason @mariobehling I think my option will be more useful, because i don't need create new view. Additionally i would like to inform user about current event. In frab after login page shows form where you could create event.

[2015-06-06 09:54] mananwason commented on #34
I just thought that what I suggested would be a little less cumbersome, making it easier to select events for the user. Let's take everyone's take on it. @mariobehling @leto @creativepsyco @championswimmer

[2015-06-06 09:55] rafalkowalski commented on #34
OK @mananwason

[2015-06-06 10:18] championswimmer commented on #34
I like this method https://github.com/fossasia/open-event-orga-server/issues/34#issuecomment-109553088

[2015-06-06 10:19] championswimmer commented on #34
in the JSON API, can you make it that when I GET on /event/2/speakers I get only speakers who have sessions in event 2, and not get any speakers who are in other events ?

[2015-06-08 22:57] rafalkowalski opened #35 "Possibility to switch between events(requirements)"
Preparing new admin views based on below urls

/admin/events -> Displays all events
/admin/events/<event_id> -> show event
/admin/events/new -> create new event
/admin/events/<event_id>/edit -> edit event

I want to create new view methods like(create, edit, delete, show)

/admin/events/<event_id>/tracks -> Displays all tracks for specific events
/admin/events/<event_id>/tracks/<track_id> -> show

[2015-06-09 18:53] rafalkowalski opened #36 "Add jquery datatable"
It's necessary to displaying objects in table.
https://datatables.net/

[2015-06-10 14:21] #27 closed

[2015-06-11 17:43] rafalkowalski opened #37 "Custom view(Track)"
- Preparing custom view for track model in admin panel
- Add posibility to remove, update and create new track

admin/event/event_id/track
admin/event/event_id/track/new
admin/event/event_id/track/track_id/edit
admin/event/event_id/track/track_id/delete

[2015-06-11 17:44] rafalkowalski commented on #34
https://github.com/fossasia/open-event-orga-server/issues/37

[2015-06-11 17:46] rafalkowalski commented on #37
https://github.com/fossasia/open-event-orga-server/issues/34

[2015-06-11 17:47] rafalkowalski opened #38 "Custom View(Session)"
Preparing custom view for session model in admin panel
Add posibility to remove, update and create new session
admin/event/event_id/session
admin/event/event_id/session/new
admin/event/event_id/session/session_id/edit
admin/event/event_id/session/session_id/delete

[2015-06-11 17:47] rafalkowalski commented on #38
https://github.com/fossasia/open-event-orga-server/issues/34

[2015-06-11 17:49] rafalkowalski opened #39 "Custom View(Sponsor)"
Preparing custom view for sponsor model in admin panel
Add posibility to remove, update and create new sponsor
admin/event/event_id/sponsor
admin/event/event_id/sponsor/new
admin/event/event_id/sponsor/sponsor_id/edit
admin/event/event_id/sponsor/sponsor_id/delete

[2015-06-11 17:50] rafalkowalski opened #40 "Custom View(Speaker)"
Preparing custom view for speaker model in admin panel
Add posibility to remove, update and create new speaker
admin/event/event_id/speaker
admin/event/event_id/speaker/new
admin/event/event_id/speaker/speaker_id/edit
admin/event/event_id/speaker/speaker_id/delete

[2015-06-11 17:51] rafalkowalski opened #41 "Custom View(Microlocation)"
Preparing custom view for microlocation model in admin panel
Add posibility to remove, update and create new microlocation
admin/event/event_id/microlocation
admin/event/event_id/microlocation/new
admin/event/event_id/microlocation/microlocation_id/edit
admin/event/event_id/microlocation/microlocation_id/delete

[2015-06-11 17:51] rafalkowalski commented on #41
https://github.com/fossasia/open-event-orga-server/issues/34

[2015-06-11 17:52] rafalkowalski commented on #40
https://github.com/fossasia/open-event-orga-server/issues/34

[2015-06-11 17:53] rafalkowalski commented on #39
https://github.com/fossasia/open-event-orga-server/issues/34

[2015-06-11 17:54] rafalkowalski commented on #35
https://github.com/fossasia/open-event-orga-server/issues/34

[2015-06-11 18:09] #37 closed

[2015-06-12 22:32] #40 closed

[2015-06-12 22:32] #38 closed

[2015-06-12 23:49] rafalkowalski opened #42 "Improving code in custom views(refactoring, testing)"

[2015-06-13 23:32] #39 closed

[2015-06-13 23:33] #41 closed

[2015-06-14 22:09] #36 closed

[2015-06-15 19:37] rafalkowalski opened #44 "Deploy new version to heroku"

[2015-06-16 07:44] #35 closed

[2015-06-16 20:48] #34 closed

[2015-06-16 21:19] rafalkowalski opened #45 "Add validations to form"
I will define, which fields are required

[2015-06-17 01:33] leto commented on #45
More details, please!

[2015-06-17 06:15] leto opened #46 "Test database exception-handling of save_to_db and delete_from_db"
These tests are used by almost every part of the code, so they need tests!

[2015-06-18 00:18] rafalkowalski commented on #46
@leto I tested above functions. You can see it here: https://github.com/rafalkowalski/open-event-orga-server/commit/b5658f64659f56deb77315734a8072cf7787e666
Please merge branch if it will be ok

[2015-06-18 00:34] rafalkowalski commented on #45
@leto
Event(name, email, start_time, end_time, location)
Sponsor(name)
Speaker(Name, Email, Country)
Session(Title, Description, Start_time, End_time)
Track(name, description)
Microlocation(name latitude, longitude)

In email for example i have to check whether contains "@"

[2015-06-18 15:00] #46 closed

[2015-06-18 15:27] #42 closed

[2015-06-18 22:36] mananwason commented on #44
@rafalkowalski The server is not working correctly. I suggest you keep 2 versions : one beta and other stable because both arnav and me are dependent on your server, if it doesn't work, we can't do much work.

[2015-06-19 04:06] rafalkowalski commented on #44
@mananwason I had two versions, even i sent to you a link with testing version to test http://glacial-earth-2730.herokuapp.com/admin/
I assumed that you didn't report a bugs through whole weekend so I deployed it to http://open-event.herokuapp.com/admin

Tell me where bug is occured(Test case).

[2015-06-19 06:02] mananwason commented on #44
Yeah @rafalkowalski I didn't use the api's from the test version in the app as I would have to change all the url's but I guess you depliyed the new version yesterday and all the data was gone. The session api was showing Internal server error http://open-event.herokuapp.com/get/api/v1/event/2/sessions

[2015-06-19 15:42] rafalkowalski commented on #44
@mananwason Thanks for reported a bug, I fixed it :)

[2015-06-19 17:38] championswimmer opened #48 "double nesting of events[] array in api endpoint"
there's a little bug here

http://glacial-earth-2730.herokuapp.com/get/api/v1/event

The response has an event[] array inside an object inside another event[] array.
as per dicussion response should have been
https://github.com/fossasia/open-event/blob/master/API.md#event

[2015-06-19 18:00] #48 closed

[2015-06-19 18:03] rafalkowalski commented on #48
@championswimmer http://open-event.herokuapp.com/get/api/v1/event

[2015-06-19 22:43] #45 closed

[2015-06-19 22:45] #44 closed

[2015-06-19 22:51] rafalkowalski opened #49 "Remove bootsrap styleheets from admin panel , add material design"
http://materializecss.com/getting-started.html

[2015-06-20 14:27] mananwason opened #50 "Versioning of the database not working in the new implementation of the server"
So only the main id is being changed and the other id's remain same on adding new records but change if we edit existing records

[2015-06-20 21:09] #50 closed

[2015-06-21 14:17] mananwason opened #51 "Addition of an image related to a track"
@rafalkowalski Please add a field photo/image where we can add add link to an image related to the particular track.

[2015-06-21 17:56] leto commented on #51
Let's call it ```track_image_url``` or something similar

[2015-06-21 18:02] mananwason commented on #51
Sounds good :+1:

[2015-06-21 18:15] mananwason opened #52 "Unique constraint for track name"
@rafalkowalski There can be only one track with a particular name in a given event, So, there should be a unique constraint there.

[2015-06-22 21:47] #49 closed

[2015-06-23 21:29] #51 closed

[2015-06-23 21:30] rafalkowalski opened #55 "When Database is empty, adding new object to orgaserv will throw an error"
AttributeError: 'NoneType' object has no attribute 'event_ver'

[2015-06-24 20:48] rafalkowalski opened #57 "Track doesn't save image field"

[2015-06-24 20:49] rafalkowalski opened #58 "Bug occured when floor field is empty in Microlocation"

[2015-06-24 20:59] #57 closed

[2015-06-24 20:59] #55 closed

[2015-06-24 21:05] mananwason opened #60 "Error on deleting event"
Integrity error. (psycopg2.IntegrityError) update or delete on table "events" violates foreign key constraint "versions_event_id_fkey" on table "versions" DETAIL: Key (id)=(3) is still referenced from table "versions".

[2015-06-25 13:55] leto commented on #60
Something odd is up. Can you describe more about what caused this and what you think the solution should be ?

[2015-06-25 13:55] leto commented on #58
Let's add a test that verifies we can add events without a floor or default floor=1 or something like that

[2015-06-25 20:34] #60 closed

[2015-06-25 21:28] mananwason opened #62 "Creation of duplicate events on creating an event."
I created this event and another one with same attributes was created.
![image](https://cloud.githubusercontent.com/assets/10570249/8366062/469cb33a-1baf-11e5-983a-b4af05b2a394.png)

[2015-06-26 19:47] mananwason opened #63 "Possibility to scroll through the data or make the data fields fit in the screen"
@rafalkowalski Like in the speaker tab, I can't see all the fields and thus the edit/delete button is also hidden

[2015-06-26 20:50] rafalkowalski opened #64 "filling in any field with link(www.google.com) , after submit form, it will redirect us to link page"

[2015-06-26 21:43] rafalkowalski commented on #62
can we solve this unique name?

[2015-06-26 23:20] #64 closed

[2015-06-26 23:21] #58 closed

[2015-06-26 23:21] #63 closed

[2015-06-28 18:14] rafalkowalski opened #66 "Add User Model"
Columns
nickname(string)
login(string)
email(string)
password(string)

Event
owner = ForeignKey(User)

#33

[2015-06-28 18:31] leto commented on #66
Please add more details. What are the datatypes of each column? How does it relate to #33?

[2015-06-28 20:03] mananwason opened #67 "Multiple sessions in a track"
@rafalkowalski there should be an option to add many sessions into one track. Also while creating a new session, we should be able to choose the track that it belongs to.

[2015-06-29 06:57] mananwason opened #68 "Session version doesn't change"
If I change the session while editing tracks, tracks version changes but session version doesn't change. So this causes the session data to be stale in the app. @rafalkowalski Please fix this :D

[2015-06-29 15:24] leto commented on #68
@mananwason can you describe more fully exactly how to reproduce this problem? I don't understand from your description.

[2015-06-29 18:01] mananwason commented on #68
@leto I am sorry if I was not clear earlier. So, While editing any track, if I change the value of session in it, the tracks version  in the version api changes but the session version doesn't change even though the track value in the session api changes.
 So essentially, the session api values changes on changing session value in track api , hence the session version should also change.

[2015-06-29 18:34] leto commented on #68
@mananwason can you provide an example with curl? I think I understand, but that would make it easier to debug

[2015-06-29 18:49] mananwason commented on #68
@leto  I am not sure what to do. Please explain a bit. Thanks.

[2015-06-30 13:30] championswimmer opened #70 "heroku specific key must be in if block"
`SQLALCHEMY_DATABASE_URI = os.environ['DATABASE_URL'] # heroku`

The above line in config.py line must be in a if block specifically when running on heroku. For other environments this line is not correct.

[2015-06-30 13:39] championswimmer opened #71 "error while deploying locally"
[code]
This is the error I get when deploying locally with `python run.py`

[2015-06-30 17:10] rafalkowalski commented on #71
@championswimmer did you create a database via python console?

execute this code:

"""from open_event import app
from open_event.models import db

with app.app_context():
	db.drop_all()

with app.app_context():
	db.create_all()"""

[2015-06-30 21:06] #66 closed

[2015-06-30 21:09] rafalkowalski opened #72 "Add edit permission"
Possibility to edit models only by event owner

[2015-07-01 20:57] #72 closed

[2015-07-01 21:06] #68 closed

[2015-07-01 21:12] rafalkowalski opened #74 "Testing/refactor event.py file"
A lot of lines are duplicated.

[2015-07-02 19:54] #70 closed

[2015-07-03 19:57] rafalkowalski opened #75 "Rewrite tests"
I need to rewrite tests, because when I added a possibility to sign up/login, currently test are failed.

[2015-07-04 20:39] #75 closed

[2015-07-05 16:19] rafalkowalski commented on #71
@championswimmer Could you tell me whether above commands helps?

[2015-07-05 17:15] rafalkowalski commented on #52
@mananwason I resolved it You can check it here http://glacial-earth-2730.herokuapp.com/admin

[2015-07-06 15:08] mananwason commented on #62
I think keeping a unique event will solve the issue but there is some bug in the code that needs to be solved. What do you think @leto

[2015-07-06 15:23] mananwason commented on #52
@rafalkowalski I don't have permissions, please give me right to change records.

[2015-07-06 16:10] mananwason commented on #67
@rafalkowalski What's the status on this

[2015-07-06 21:09] rafalkowalski commented on #67
@mananwason Currently I'm working on it

[2015-07-06 23:25] championswimmer opened #76 "error while deploying vagrant on digitalocean"
[code]

[2015-07-06 23:28] championswimmer commented on #76
ok so
`vagrant plugin install push` solves the problem.

Umm, is there a way to install the plugins from Vagrantfile ? So we don't need any commands other than `vagrant up`

[2015-07-07 01:47] leto commented on #62
@rafalkowalski yes, there should be a UNIQUE constraint on the name of events and tracks.

[2015-07-07 01:52] leto commented on #76
Yep! :smiling_imp:

Here is an example which installs the vagrant-aws plugin if it does not exist.

Also, ```push``` is new and if you have Vagrant 1.7+ that should be there. Which version of vagrant are you using?

[code]

[2015-07-07 07:07] championswimmer commented on #76
1.4.3, as that's the standard that comes with `apt-get install vagrant` on
Ubuntu LTS

On 7 July 2015 at 07:22, Duke Leto <notifications@github.com> wrote:

[2015-07-07 07:08] championswimmer commented on #76
1.4.3, as that's the standard that comes with `apt-get install vagrant` on Ubuntu LTS

[2015-07-07 10:47] leto commented on #76
That is way too old.

Use 1.7 or higher

Duke
On Jul 7, 2015 3:08 AM, "Arnav Gupta" <notifications@github.com> wrote:

[2015-07-07 18:16] championswimmer commented on #76
Even with 1.7, `vagrant up` straightaway isn't working because it's right now configured by default to deploy to heroku.

Gonna test when @rafalkowalski fixes up for generic VPS deployment.

[2015-07-08 16:11] rafalkowalski commented on #76
@championswimmer Could you explain me how can I help you?

[2015-07-08 16:30] championswimmer commented on #76
Basically the current Vagrantfile defaults to pushing the app to heroku.

I think this shouldn't be the default. By default it should deploy on
localhost on some port (eg 5000) when we do vagrant up

On 8 July 2015 at 21:41, Rafał Kowalski <notifications@github.com> wrote:

[2015-07-08 17:09] leto commented on #76
You must always specific where you are deploying:

vagrant up local
vagrant up dev

If you don't, it defaults. There is no bug ;)
On Jul 8, 2015 12:30 PM, "Arnav Gupta" <notifications@github.com> wrote:

[2015-07-11 21:09] #74 closed

[2015-07-12 19:39] rafalkowalski opened #77 "Display event owner"

[2015-07-12 20:21] #77 closed

[2015-07-13 20:44] rafalkowalski commented on #62
@leto I added unique constraint You can see it here :) https://github.com/fossasia/open-event-orga-server/commit/9be0bab1a3f70934a63e1667cff8cf9e3d3f063e

[2015-07-13 20:44] #62 closed

[2015-07-13 20:45] rafalkowalski commented on #52
@mananwason Only owner of event can add tracks ;)

[2015-07-13 20:45] #52 closed

[2015-07-14 07:34] mananwason commented on #52
@rafalkowalski then can you add me as a owner for one of the events

[2015-07-14 20:18] #67 closed

[2015-07-14 20:28] rafalkowalski opened #78 "Display current location"
Display current location in menu(active button).

[2015-07-18 08:06] rafalkowalski opened #79 "Validation start, end in Event/ Session"
"We need to validate that the session start and end timestamps are in between the event start and end timestamp."

[2015-07-23 19:00] rafalkowalski opened #80 "Create File model"
file_name = String
file_path = String

Form
filefield to upload

[2015-07-24 20:37] #80 closed

[2015-07-27 03:05] leto commented on #32
Please add details

[2015-07-28 19:37] rafalkowalski opened #81 "Displays all owner files in upload view"

[2015-07-28 21:48] #81 closed

[2015-07-29 20:14] rafalkowalski opened #82 "Add possibility to remove files from database"

[2015-07-29 20:46] #82 closed

[2015-07-30 14:48] rafalkowalski opened #83 "Current User"
Current user name should be displaying in top navigation

[2015-07-30 14:57] rafalkowalski opened #84 "Versioning Events doesn't work"

[2015-07-30 15:43] #83 closed

[2015-07-31 20:35] #84 closed

[2015-07-31 20:40] #79 closed

[2015-07-31 20:45] rafalkowalski opened #86 "Add color picker to color column in Event Form"

[2015-08-01 18:44] championswimmer commented on #71
Hi I was updating latest code and deploying to DigitalOcean (springboard.championswimmer.in)

and I faced this error

[code]

[2015-08-01 21:20] #86 closed

[2015-08-01 21:22] rafalkowalski commented on #71
@championswimmer Could you pull changes now?

[2015-08-02 20:38] rafalkowalski opened #87 "Add breadcrumbs"
http://flask-breadcrumbs.readthedocs.org/en/latest/

[2015-08-03 18:22] rafalkowalski opened #88 "error during uploading files to heroku server"

[2015-08-03 20:00] #88 closed

[2015-08-04 17:35] rafalkowalski opened #89 "Parse data in re:publica format to orga serv"

[2015-08-04 18:24] rafalkowalski opened #90 "Implement Event Parser"
#89

[2015-08-04 19:24] rafalkowalski opened #91 "Implement Session Parser"
#89

[2015-08-04 19:53] #90 closed

[2015-08-04 20:57] rafalkowalski opened #92 "Create script which create database and database role"

[2015-08-04 21:45] #71 closed

[2015-08-05 19:05] rafalkowalski opened #93 "Implement Speaker Parser"
#89

[2015-08-05 20:26] rafalkowalski opened #94 "Implement Track Parser"
#89

[2015-08-05 21:17] #93 closed

[2015-08-05 21:20] #94 closed

[2015-08-06 20:31] #91 closed

[2015-08-06 20:31] rafalkowalski opened #95 "Write tests to Republica parsers"

[2015-08-07 18:17] #33 closed

[2015-08-07 21:37] #78 closed

[2015-08-07 21:38] #32 closed

[2015-08-09 12:05] rafalkowalski opened #96 "send email after create account/ password reminder"
- [x] send email after create account
- [x] password reminder

[2015-08-09 12:17] rafalkowalski opened #97 "Possibility to add session via speaker account"

[2015-08-09 12:26] mariobehling opened #98 "Enable logo/image upload on add event page, sponsor page, speaker pages etc."
Uploads of images needs to happen, where the data is collected, e.g. right at the event page, sponsor page etc.

![screenshot from 2015-08-09 14 39 45](https://cloud.githubusercontent.com/assets/1583873/9154903/cf1b574e-3ea4-11e5-863f-4a4268d96888.png)
![screenshot from 2015-08-09 14 25 06](https://cloud.githubusercontent.com/assets/1583873/9154834/89e3c564-3ea2-11e5-86b1-78c6465442df.png)

[2015-08-09 12:40] mariobehling opened #99 "Enable map choice and add address of location"
Organizers should be able to enter the address and choose a map location from the UI.
![screenshot from 2015-08-09 14 40 27](https://cloud.githubusercontent.com/assets/1583873/9154898/9762891c-3ea4-11e5-9427-ab1d4485d619.png)

[2015-08-09 12:42] rafalkowalski opened #100 "Add super Admin account"

[2015-08-09 12:50] rafalkowalski opened #101 "Remove save and add button"

[2015-08-09 12:55] mariobehling opened #102 "Implement microlocation and session thought through"
* [x] make long/lat an option
* [x] add room as an option
* [x] take out session
* [x] in session tab screen add "microlocation" as an option

![screenshot from 2015-08-09 14 52 25](https://cloud.githubusercontent.com/assets/1583873/9154924/6ade4898-3ea6-11e5-8152-ffb060ebd019.png)

[2015-08-09 12:57] mariobehling opened #103 "Api Implementation for specific event"
Make Api relevant for the event only and keep this view in line with the other tabs.

![screenshot from 2015-08-09 14 56 06](https://cloud.githubusercontent.com/assets/1583873/9154936/da2dfef0-3ea6-11e5-86d5-44a5dfc998d3.png)

[2015-08-09 13:01] mariobehling opened #104 "Files should be added in the specific feature requesting a file"
If files are added with the feature requesting a file, then I do not see the need for a files tab. Or please explain why we need it.

![screenshot from 2015-08-09 15 00 05](https://cloud.githubusercontent.com/assets/1583873/9154958/7a8395fe-3ea7-11e5-9c92-7c6253d30ecf.png)

[2015-08-09 13:01] mariobehling commented on #104
Well, if we have a super admin, he/she could have access to all files. Maybe then yes.

[2015-08-09 13:09] mariobehling opened #105 "Home page with overview info"
Currently the start page only shows random info
![screenshot from 2015-08-09 15 06 00](https://cloud.githubusercontent.com/assets/1583873/9154981/41c2bcd0-3ea8-11e5-9184-94e38ce3e4cf.png)
The user should have less clicks and info right away. Please implement:
* [x] Table with an overview of all events of the user
* [x] Button "Create Event"

[2015-08-09 13:41] mariobehling opened #106 "Implement ical export"

[2015-08-09 13:56] mariobehling opened #107 "Standard number of items to 50 and improve space usage on ID etc. for tables of speakers, sessions etc."
Set standard to 50 items and improve spacing e.g. ID takes a lot of space (width). Check this on speaker, sessions etc.

![screenshot from 2015-08-09 15 51 52](https://cloud.githubusercontent.com/assets/1583873/9155157/ec419266-3eae-11e5-8c9c-db1a0e082c06.png)

[2015-08-09 15:15] #107 closed

[2015-08-09 15:45] mariobehling opened #108 "Allow admin to give editing rights to users"
Some events have several organizers. Reflect this by enabling admin to give other users:
* [x] admin rights (additional admins)
* [x] editor rights

[2015-08-09 19:15] #105 closed

[2015-08-09 20:58] #103 closed

[2015-08-10 16:32] #102 closed

[2015-08-10 17:25] #101 closed

[2015-08-10 21:08] #96 closed

[2015-08-11 19:15] rafalkowalski opened #109 "Type error in Api events"
TypeError
TypeError: <Color black> is not JSON serializable
http://springboard.championswimmer.in/api/v1/event/1

[2015-08-11 19:23] #109 closed

[2015-08-12 09:37] championswimmer commented on #25
Ok, CORS is causing problem on the DigitalOcean server too :P

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://springboard.championswimmer.in/api/v1/event/3. (Reason: CORS header 'Access-Control-Allow-Origin' missing).`

[2015-08-12 10:34] mananwason opened #111 "Work to be done in the redata format server"
- [ ] Populate the sessions json http://springboard.championswimmer.in/api/v1/event/1/sponsors
- [ ] Fix the null values and enter data instead of it.
- [ ] Pointing out differences between existing server and re:data and make changes to ammend this

[2015-08-12 10:35] mananwason commented on #111
@championswimmer @rafalkowalski Please contribute to complete this list.

[2015-08-12 12:09] championswimmer commented on #111
I was already noting down the required API changes here

https://github.com/fossasia/open-event/issues/31
On 12-Aug-2015 4:05 pm, "Manan Wason" <notifications@github.com> wrote:

[2015-08-12 15:03] rafalkowalski commented on #111
@mananwason on the re:data is empty http://data.re-publica.de/api/rp15/sponsors, So you can add some manually

[2015-08-12 15:42] mananwason commented on #111
@championswimmer I'll close this then. @rafalkowalski Can't you add the existing jsons from some other event?

[2015-08-12 15:42] #111 closed

[2015-08-12 17:29] rafalkowalski commented on #111
for  different events this data doesn't exist @mananwason

[2015-08-12 17:30] mananwason commented on #111
@rafalkowalski okay.

[2015-08-12 17:38] rafalkowalski commented on #25
curl -GET http://springboard.championswimmer.in/api/v1/event/1 it's working
via curl, could you reproduce it ?  @championswimmer

[2015-08-12 17:48] #89 closed

[2015-08-12 19:01] championswimmer commented on #25
cURL works, yes. But to show in webapp, it needs cross origin requests to
be enabled .

On 12 August 2015 at 23:08, Rafał Kowalski <notifications@github.com> wrote:

[2015-08-12 19:18] rafalkowalski commented on #25
ok thanks, Could you check on heroku server? http://open-event.herokuapp.com/api/v1/event/6
I will investigate it

[2015-08-12 19:44] championswimmer commented on #25
I have fixed it by adding the header through Apache virtualhost control.

On 13 August 2015 at 00:48, Rafał Kowalski <notifications@github.com> wrote:

[2015-08-12 19:45] championswimmer commented on #25
I have fixed it by adding the header through Apache virtualhost control.

[2015-08-12 19:45] #25 closed

[2015-08-12 19:51] rafalkowalski commented on #25
great thanks :) @championswimmer

[2015-08-12 21:44] #100 closed

[2015-08-16 17:55] championswimmer opened #112 "Implement pagination in the API"
Something like this  https://github.com/opendatacity/re-data/blob/master/doc/api.md#pagination

[2015-08-18 17:20] rafalkowalski commented on #108
http://springboard.championswimmer.in/ You can check it here

[2015-08-18 17:20] #108 closed

[2015-08-18 19:57] rafalkowalski commented on #112
@championswimmer @mananwason I added pagination http://springboard.championswimmer.in/api/v1/event/1/sessions
If you want display second page you have to add additional parameter "page"
http://springboard.championswimmer.in/api/v1/event/1/sessions/page/2
Per page i displays 50 objects

[2015-08-18 19:57] #112 closed

[2015-08-19 15:33] championswimmer commented on #112
Hey could you make it 20 instead of 50. Even 50 can be slow on the webapp :P

Also, how do I know which page is the last ?
Can you put 'count' in the response like in re:Data api ?

[2015-08-19 15:50] rafalkowalski commented on #112
@championswimmer I will change it to 20.

Maybe additional column page will be enought(pages)?

[2015-08-19 17:58] championswimmer commented on #112
Yes that will be best :)
Some thing like
{
count: xxx
page: 2
total_pages: 10
sessions [ ... ]
}

That possible ?

On 19 August 2015 at 21:20, Rafał Kowalski <notifications@github.com> wrote:

[2015-08-19 18:16] mananwason commented on #112
@championswimmer Why do we need these fields?

[2015-08-19 18:27] championswimmer commented on #112
To know when to stop requesting more pages.

On 19 August 2015 at 23:46, Manan Wason <notifications@github.com> wrote:

[2015-08-19 18:31] mananwason commented on #112
Can't you just keep a counter for this? and in which api is this going to be included in?

[2015-08-19 18:33] rafalkowalski commented on #112
@championswimmer @mananwason i added it

[2015-08-19 23:05] #87 closed

[2015-08-19 23:06] #76 closed

[2015-08-19 23:06] #5 closed

[2015-08-19 23:06] #1 closed

[2015-08-20 06:13] championswimmer opened #114 "improve pagination implementation"
Basically, if we GET `/sessions` we should get all the data

if we GET `/sessions?page=n` we get nth page. 1,2,3,4 so on.

/sessions/page/2 isn't correct REST path
@creativepsyco @leto  please correct me if I am wrong here,

[2015-08-20 06:16] rafalkowalski commented on #114
Do we need display whole data?

[2015-08-20 06:45] mananwason commented on #114
Yes @rafalkowalski The android app doesn't require the pagination, so to download the whole data at once, we need to display the whole data as well.

[2015-08-20 06:49] rafalkowalski commented on #114
ok @mananwason  Thanks I will add it :)

[2015-08-20 08:51] championswimmer commented on #114
Yeah basically its best if pagination is optional. Only make pages if page
parameter is given in URL.

I think you can get the URL arguments using request.args.get('page')
On 20-Aug-2015 12:19 pm, "Rafał Kowalski" <notifications@github.com> wrote:

[2015-08-20 14:32] mananwason commented on #114
Cool @rafalkowalski :+1:

[2015-08-20 19:59] #114 closed

[2015-08-20 20:00] #97 closed

[2015-08-25 15:02] leto commented on #99
Let's use OpenStreetMap

[2015-08-25 15:03] rafalkowalski commented on #99
OK @leto

[2015-08-25 15:06] leto commented on #99
Let's use this API: http://wiki.openstreetmap.org/wiki/Overpass_API

Let me know how it goes!

[2015-08-25 19:36] rafalkowalski commented on #99
@mariobehling @leto I added map to Microlocation view. Map based on @leto solution.
http://springboard.championswimmer.in/admin/event/1/microlocation/1/edit

[2015-08-25 19:36] #99 closed

[2015-08-28 19:45] championswimmer opened #116 ""title" field missing in sessions array in API /speakers"
[code]

[2015-08-28 19:45] championswimmer commented on #116
as available on this http://springboard.championswimmer.in/api/v1/event/1/speakers/page/1

[2015-09-14 13:43] SaptakS opened #117 ""track" field is null in the API JSON response data for all sessions."
As available in http://openevent.championswimmer.in/api/v1/event/1/sessions/page/2 , the track field is null for all the sessions.

"subtitle": null,
      "title": "Fremd gehen immer nur die anderen \u2013 Liebe und Beziehung in Zeiten der Digitalit\u00e4t",
      "track": null

[2015-09-22 10:30] rafalkowalski commented on #117
@SaptakS I fixed it please check

[2015-09-22 18:49] leto commented on #117
I verified that non-null ```track``` exists at the above mentioned URL, closing.

[2015-09-22 18:49] #117 closed

[2015-09-23 01:56] SaptakS commented on #117
ok..

[2015-10-02 15:28] leto opened #118 ""vagrant up" gives an error"
Goals:

- [ ] Our dependencies are installed in a dedicated place with virtualenv
- [ ] Our dependency files are owned by a dedicated user `oe`
- [ ] The above dependencies use a version of Python that we specify that is not the system Python
- [ ] At the end of a `vagrant up`, once can go to a URL and see the flask-admin interface running, without having to `vagrant ssh` into the VM and run addit

[2015-10-05 15:51] leto commented on #95
Is this still wanted, @rafalkowalski ? If so, please write exactly what needs to happen in the description of the issue

[2015-10-05 15:53] leto commented on #106
This looks relevant: https://pypi.python.org/pypi/icalendar/

[2015-10-05 15:54] leto commented on #116
@championswimmer the above URL no longer works

[2015-10-05 15:56] leto commented on #104
@mariobehling I am not sure how to move forward with this. What needs to happen?

[2015-10-05 15:57] leto commented on #92
I believe that run.py does this, closing

[2015-10-05 15:57] #92 closed

[2015-10-05 15:58] leto commented on #19
This issue is too large and I will be creating documentation issues which are smaller and more focused

[2015-10-05 15:58] #19 closed

[2015-10-05 16:09] leto opened #119 "How To Use Open-Event With Your Event"
We need documentation which tells someone exactly how they can use open-event with their conference. The options are:

 * How to run their own instance of orga-server (the harder option)
 * How to ask for access to use our production orga-server (the easier option)

[2015-10-06 17:17] leto opened #120 "Use requirements.txt and freeze dependencies"
Currently our install.sh does a bunch of ```pip install``` commands, when it would be better to do

```pip install -r requirements.txt```

The requirements.txt file already exists, but it should probably be regenerated with ```pip freeze``` so we know exactly which dependency versions work with our code.

[2015-10-06 18:40] rafalkowalski commented on #116
@leto Please check http://openevent.championswimmer.in/api/v1/event/1/speakers/page/1 But I don't understand this issue.

[2015-10-06 20:51] leto commented on #116
@championswimmer I am with @rafalkowalski now, can you more clearly explain what you expect to see? Thanks

[2015-10-06 21:00] championswimmer commented on #116
Within speakers, each speaker should have a sessions array, with each
session object having a "title" column

On 7 October 2015 at 02:21, Duke Leto <notifications@github.com> wrote:

[2015-10-06 21:04] leto commented on #116
@championswimmer I see that some elements have ``` "sessions": [ ]``` while others list session ID's such as ```"sessions": [
        35,
        255
      ], ```. Do we really want to fully populate session with the actually data? I don't have a strong opinion at this point.

[2015-10-06 21:06] leto commented on #116
@creativepsyco do you have an opinion about fully populating ```sessions``` vs only giving ID's ?

[2015-10-06 21:06] championswimmer commented on #116
just titles and ids, not the whole  session object

doing this processing on client side (loading sessions based on id,) will
mean more queries and over bandwidth.

on contrary if we send the data from the server itself it will be more
economic

On 7 October 2015 at 02:34, Duke Leto <notifications@github.com> wrote:

[2015-10-06 21:10] leto commented on #116
@championswimmer can you give an example of exactly how you would want the data structure such that it is very easy to parse on your side?

[2015-10-06 21:22] leto commented on #22
@rafalkowalski can you work on this? Basically just document what it takes for you to deploy to Heroku

[2015-10-06 21:23] leto commented on #95
@mariobehling @creativepsyco my inclination is to say this is no longer relevant. Can y'all chime in ?

[2015-10-06 21:28] leto opened #121 "Create a CREDITS file"
It should be easy and convenient to see who has worked on our code, so I suggest a CREDITS file.

Here is an example: https://github.com/parrot/parrot/blob/master/CREDITS

[2015-10-06 22:08] championswimmer commented on #116
In the very first comment, it is in the code block given

[2015-10-07 03:03] creativepsyco commented on #116
Returning titles and ids is completely fine however, I am assuming that in future you will probably also require other stuff like cover image, links etc which you may want to be rendered. From a display POV it makes sense but not so much from a logical standpoint. There will be data duplication and that is not desired. Further, `sessionStorage` should allow for retrieval of sessions by ids, then y

[2015-10-07 16:12] leto commented on #116
Well, I implemented it anyway (see the ```speaker_session_titles branch```) because I hadn't seen @creativepsyco's comment, which I agree with. I think it makes the job of the API consumer a bit easier and it could noticeably cut down on API request  for speakers with many sessions. That could be important when we are hosting multiple events on our production server. I do feel strongly that we sho

[2015-10-07 16:47] creativepsyco commented on #116
:+1: LGTM

[2015-10-08 19:10] rafalkowalski commented on #120
Issue resolved by @jamesthechamp

[2015-10-08 19:10] #120 closed

[2015-10-25 18:48] leto commented on #116
Closing

[2015-10-25 18:48] #116 closed

[2015-10-25 18:52] leto commented on #118
Now I am getting
[code]

[2015-10-25 19:06] mbj36 commented on #118
@leto

I also got this
Then i installed it by "sudo pip install flask"

And its working :)

[2015-10-25 19:07] leto commented on #118
@mbj36 that is a temporary solution to work around this, yes. But this is a bug in our provision scripts, which should do this step

[2015-10-25 20:16] leto commented on #118
I am working on this (and other related bugs) in the `gh_118` branch. We need to be installing our dependencies as a non-root user and not in the system-wide path using `virtualenv`.

[2015-10-26 10:54] SaptakS commented on #98
I would really like to solve this issue. Should there be provision for only single image upload or multiple upload?

[2015-10-26 10:55] SaptakS commented on #104
I would really like to contribute on solving this issue. Can you please let me know what may be the possible solution. The solution as it appears to me vaguely is to remove the files tab.

[2015-10-26 15:36] leto commented on #98
@SaptakS let's start with just a single image and lets say that the image should be less than 1MB or else it is rejected. Let me know if you have more questions!

[2015-10-26 17:06] SaptakS commented on #98
ok, i will start working on it..

[2015-11-30 09:23] batraabhishek commented on #118
@leto I am getting same errors. Is this fixed in gh_118 branch.? :)

[2015-11-30 15:37] creativepsyco commented on #118
@batraabhishek @leto I am trying to fix the vagrant related issues. You can find my changes under the `mohit_dev` branch, I think the repo requires quite a lot of cleanup especially from installation standpoint, I am having issues running the basic Flask app with Postgres. Guess need @rafalkowalski to take a look at it.

[2015-11-30 16:44] creativepsyco commented on #118
Just found out that in [version 0.3 of Flask-Login](https://github.com/maxcountryman/flask-login/blob/master/CHANGES#L25-L26) they introduced a breaking change regarding model fields being properties instead of methods.

I think `mohit_dev` should have most issues resolved by tomorrow, some issues with requirements.txt and Database related issues were to blame.

I will clean it up, test it and ret

[2015-11-30 17:16] rafalkowalski commented on #118
@creativepsyco I've fixed problems with version 0.3 could you check?

[2015-12-01 03:50] creativepsyco opened #130 "Compress CSS, JS and other static files."
Right now, the heroku deployment is slower and a lot of css files are not correctly minified. This should probably change so that access is faster. See image below for clues on where to optimise.

![image](https://cloud.githubusercontent.com/assets/547235/11492056/03f77092-9823-11e5-8848-148055db1865.png)

[2015-12-02 17:57] championswimmer opened #131 "Add swagger API docs"
We need to add a API documentation on the server. Swagger (http://www.django-rest-framework.org/topics/documenting-your-api/) implements a dynamic self-updating one.

I.e. once swagger is installed, it keeps a auto-updated API documentation, with sandbox support for testing the APIs.

For flask the following are available -
https://github.com/rantav/flask-restful-swagger
https://github.com/acooman

[2015-12-06 12:39] PiotrKowalski opened #132 "During clicking "Files" and "Switch event" in http://localhost:8001/admin/login/"
<q> Exception on /admin/event/upload [GET]
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1817, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1477, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/usr/local/lib/python2.7/dist-packages/flask_cor

[2015-12-06 13:44] #132 closed

[2015-12-07 16:13] rafalkowalski opened #135 "Empty space in menu"
Please remove html tag if events are empty "<li class="divider"></li>"
Current view:
![zrzut ekranu 2015-12-07 o 17 04 46](https://cloud.githubusercontent.com/assets/2479753/11632093/bcc686b2-9d05-11e5-9eef-c3e4e2a9cd11.png)

Expected Result:
![zrzut ekranu 2015-12-07 o 17 10 55](https://cloud.githubusercontent.com/assets/2479753/11632106/c9f4a332-9d05-11e5-940d-5b55c4e56c58.png)

[2015-12-09 11:57] aditya1702 commented on #135
I have solved this issue....I just want to know how to put if-else statements in the html tag

[2015-12-10 16:20] aditya1702 commented on #22
I have created a documentation for this issue.Please let me know if any changes are needed

[2015-12-13 07:34] leto commented on #118
This has been fixed, closing

[2015-12-13 07:34] #118 closed

[2015-12-13 07:41] leto opened #138 "DATABASE_URL does not exist for vagrant user"
`install.sh` has a bug described here:

https://github.com/fossasia/open-event-orga-server/commit/24840007c627a0d4e841e0be283502c4e7693265#diff-3fbb47e318cd8802bd325e7da9aaabe8R120

[2015-12-13 07:43] leto opened #139 "Document default user/pass to login to admin area"
This should be documented close to the link to the admin area in our README

[2015-12-13 07:45] leto commented on #106
@mariobehling are you still interested in this? Perhaps we can carve this into a few GCI tasks?

[2015-12-13 07:47] leto commented on #22
Just merged #137

[2015-12-13 07:47] #22 closed

[2015-12-13 07:50] #138 closed

[2015-12-13 07:52] leto commented on #121
This was done by @mbj36 , thanks!

[2015-12-13 07:52] #121 closed

[2015-12-14 17:23] rafalkowalski commented on #135
Cool!

[2015-12-14 17:24] #135 closed

[2015-12-14 17:26] rafalkowalski opened #140 "User events[GCI]"
User events exist after event after removing

![zrzut ekranu 2015-12-14 o 18 24 13](https://cloud.githubusercontent.com/assets/2479753/11788214/308fb8a4-a290-11e5-8ffb-36ec7666831c.png)

[2015-12-14 18:16] leto commented on #140
@rafalkowalski can you describe a bit better what the bug is and what you would expect to be happening? It is not quite clear

[2015-12-14 18:31] rafalkowalski commented on #140
@leto Sure,
How to reproduce bug:
- run project according to documentation
- Create own user account
- Create own event
- On main page you are able to see event
- then remove it
After removing you will see a above results events without name

You have to update eventsusers table after removing events

[2015-12-14 18:34] leto commented on #140
@rafalkowalski this seems like a good GCI task. If you add it, you can put me down as a mentor :smile:

[2015-12-14 18:37] rafalkowalski commented on #140
@leto I'm not able to add you as a mentor. Could you add yourself ?https://codein.withgoogle.com/dashboard/tasks/5114998573498368/

[2015-12-14 18:49] leto commented on #140
@rafalkowalski I can't seem to add myself either

[2015-12-14 18:49] leto commented on #140
@mariobehling can you add me as a mentor to the above task? Not sure we have the permissions

[2015-12-14 18:54] mariobehling commented on #140
@leto done.

[2015-12-14 19:22] leto commented on #139
After talking with @rafalkowalski he told me there currently is no default, it must be manually created. We are planning to make a GCI task to make this automatic

[2015-12-14 19:22] #139 closed

[2015-12-16 00:08] mariobehling opened #143 "Add map to New/Edit Event View like Microlocation View"
The objective of the task is to add map to New/Edit Event View like Microlocation View. Latitude and Longitude fields should be filled by map pointer position.

[2015-12-16 06:05] leto opened #144 "Example heroku deployment gives a 500"
http://open-event.herokuapp.com/admin/ is a 500

`heroku logs` says:

[code]

[2015-12-16 06:30] rafalkowalski commented on #144
@leto IF you want an access to heroku i will give you, problem occurs in datatable relation

[2015-12-17 02:34] creativepsyco commented on #106
i like this :+1:

[2015-12-17 20:02] leto commented on #106
@creativepsyco what exactly are we asking for? Would each event have an ical export URL, or track or what?

[2015-12-17 20:03] leto commented on #144
@rafalkowalski yeah I would like access. Do I need to send you an SSH key? We are telling GCI students to go look at it, so we should keep it stable and working. Did things get messed up because of database schema changes?

[2015-12-17 20:08] rafalkowalski commented on #144
@leto I've added you as a collborator, I suppose that maybe there is a problem

[2015-12-17 21:00] leto opened #146 "Search a given event for a speaker"
Given an event ID X and a string S, search through all speakers at event X and return speaker data about all speakers who have a name matching S.

A JSON array should be returned

[2015-12-17 21:03] leto opened #147 "Search a given event for a session title"
Given an event ID X and a string S, search through all session titles at event X and return data about all sessions who have a name matching S.

A JSON array should be returned

[2015-12-18 01:59] #143 closed

[2015-12-18 02:00] creativepsyco commented on #106
I think to start with we can have a URL to export the event like
event/123/export/iCal and it will work. The android client can then use the
same URL for bookmarking in calendar instead of creating the event
manually. Similarly we can export track calendars etc. For example
track/123/export/iCal would give the ics file containing all those events.
This way we can embed it somewhere as well. I thin

[2015-12-18 02:31] leto opened #150 "Adding a new sponsor with logo does not work"
To reproduce:

* Make sure you have the latest commit on master with the `static/sponsor_log` directory
* Go to http://0.0.0.0:8001/admin/event/1/sponsor/new
* Create a new sponsor with an uploaded image
* It will seem to work, but there will be no sponsor row in the UI. Your logs will show this:

[code]

NOTE: The file does actually get saved correctly into the `static/sponsor_logo` directory

[2015-12-18 03:05] leto opened #151 "Add API method to export event in iCal format"
Implement `event/123/export/iCal` using https://pypi.python.org/pypi/icalendar/

This is a child issue of #106

[2015-12-18 03:07] leto opened #152 "Add API method to export track in iCal format"
Implement `track/123/export/iCal` using https://pypi.python.org/pypi/icalendar/

Child ticket of #106

[2015-12-18 17:22] aditya1702 commented on #150
Well, I think its because that particular event does not have the permission. When I run it locally on my computer it's displaying the image in the UI
![screen shot 2015-12-18 at 22 51 10](https://cloud.githubusercontent.com/assets/15054664/11902725/f6acfcd0-a5d9-11e5-94c9-cbecd40d0a36.png)

[2015-12-19 19:18] leto commented on #150
@rafalkowalski @creativepsyco can y'all try to create a sponsor with logo and let us know if it works?

[2015-12-19 20:03] leto commented on #150
I tried using a small 14K PNG as a logo (previously it was a large JPG) and I still get the same error:

[code]

[2015-12-20 02:55] leto commented on #144
I tried this:
[code]
but the error still happens. I am still not sure why this only happens on Heroku and not in vagrant. @creativepsyco any ideas?

[2015-12-20 16:09] creativepsyco commented on #150
Nope it doesnt work.

[2015-12-20 17:20] creativepsyco commented on #144
is it deployed to heroku?

[2015-12-20 17:22] #150 closed

[2015-12-20 17:23] creativepsyco commented on #150
Ok fixed. file field was being assigned to a string type.

[2015-12-20 17:39] creativepsyco commented on #144
Full error on heroku:

[code]

[2015-12-20 17:39] creativepsyco commented on #144
Its probably a flask login thing:  `AttributeError: 'AnonymousUserMixin' object has no attribute 'events_assocs'`

[2015-12-20 18:38] leto commented on #144
@creativepsyco yes, I deployed that if/else change to heroku master because I was unsure of how to test it otherwise. It can be reverted

[2015-12-20 19:04] #144 closed

[2015-12-20 19:05] creativepsyco commented on #144
The data is gone but the app is fixed. @rafalkowalski can you help to import the re:data again?

[2015-12-20 19:13] creativepsyco opened #156 "Add search box for easier selection of location"
Right I have to manually enter the latitude and longitude of the where the event is taking place, i can drag the pointer on the map, however if there is a way to easily select location by providing a text box (Which is already there -- See the textbox with `Singapore`) and adjust the map location accordingly.

![image](https://cloud.githubusercontent.com/assets/547235/11919520/7baaa916-a790-11e5-9

[2015-12-21 06:05] aditya1702 commented on #150
Ohh!I must have forgotten to change it in my initial commits!

[2015-12-21 06:06] creativepsyco commented on #150
The same error was present for speaker as well. So it was a generic problem.

[2015-12-21 10:34] aditya1702 commented on #150
Yaaa..I saw that.Next time I will commit properly:)

[2015-12-25 01:31] #147 closed

[2015-12-27 20:12] leto commented on #146
This was already completed by @aditya1702, closing

[2015-12-27 20:12] #146 closed

[2016-01-05 10:57] shiftsayan opened #165 "Table in list of all events goes out of the wrapper"
<img width="1280" alt="screen shot 2016-01-05 at 4 23 20 pm" src="https://cloud.githubusercontent.com/assets/8451336/12113453/d5687f7a-b3c8-11e5-9ca5-fd1d83e2ef7f.png">

The problem is even worse on smaller screens.

<img width="1280" alt="screen shot 2016-01-05 at 4 25 45 pm" src="https://cloud.githubusercontent.com/assets/8451336/12113486/131609aa-b3c9-11e5-8759-b4d06aeff7a7.png">

[2016-01-05 14:57] aditya1702 opened #166 "Sponsor Id doesnt decrement"
When a new sponsor is created it is displayed in the table. However when you delete it and then again create a new sponsor the sponsor Id will not be same.It gets incremented although the the same sponsor Id as the
![screen shot 2016-01-05 at 20 23 59](https://cloud.githubusercontent.com/assets/15054664/12118107/ba78d74c-b3ea-11e5-82c8-37e476f9b380.png)
previous one should have been assigned to it

[2016-01-05 15:23] creativepsyco commented on #166
I believe the ids should auto increment. It shouldn't reuse ids because you never know which ID has been used where.

[2016-01-06 12:59] aditya1702 commented on #165
@shiftsayan Its not happening with me. Did you clone the most recent update of this repo?Could you tell more about this bug

[2016-01-06 13:08] shiftsayan commented on #165
I am using the demo version in the readme file.
Log in -> List of all events

[2016-01-06 18:00] aditya1702 commented on #165
@shiftsayan clone the repo and run the app on the web server. It will work fine.

[2016-01-06 18:05] shiftsayan commented on #165
So that means that the demo version has an issue to be fixed?

[2016-01-07 21:56] leto commented on #166
@aditya1702 @creativepsyco is correct. The id's are only ever used once. Even if we know it is logically the same thing, internally it assigns it a new id

[2016-01-07 21:56] #166 closed

[2016-01-08 08:30] aditya1702 commented on #166
@leto ok

[2016-01-10 10:06] aditya1702 commented on #165
I think so yes @shiftsayan

[2016-01-13 01:19] #98 closed

[2016-01-14 16:17] yasoob opened #170 "Broken preview for file-uploads"
Broken preview for file-uploads. Steps to reproduce:

- Open http://open-event.herokuapp.com/admin/event/upload
- Upload a file which is not an image
- Broken preview in the `Min` column

Fix:
- Do not try to provide a preview for files which are not of an `image` type.

[2016-01-17 19:48] yasoob opened #175 "Allows uploading multiple files with the same name"
- Navigate to [http://localhost:8001/admin/event/upload](File Upload) Page.
- Upload a file.
- Edit the contents of the original copy of that same file.
- Upload that same file again with the modified content.
- It uploads without any errors.

The second file over-rights the first file without giving us any clue. The default behavior of the application should not allow us to upload two different f

[2016-01-17 20:34] yasoob opened #176 "XSS+Phishing attack"
Issue
--------

- Create a file named `test.html` with the following content:

[code]

- Upload it by going to the [Upload Page](http://localhost:8001/admin/event/upload)
- Open [the Uploaded file](http://localhost:8001/pic/test.html).
- You will be redirected to the website of the uploaders choice. In this case my homepage

The issue is that the uploaded files are globally accessible. Event if I

[2016-01-20 19:54] leto commented on #152
This is done

[2016-01-20 19:54] #152 closed

[2016-01-20 19:54] leto commented on #151
This is done

[2016-01-20 19:54] #151 closed

[2016-01-21 10:54] suheb commented on #170
@rafalkowalski @leto @creativepsyco @championswimmer @aditya1702
Hey guys, what's the expected behavior here?
In my latest commit, I just show the preview depending upon whether it's an image file or not. But both this and #176 can also be fixed if we only allow image files to be uploaded.

[2016-01-21 19:51] leto commented on #170
I don't see a use case for uploading files that are not images. Can anybody else? Maybe @mariobehling has some thoughts

[2016-01-21 21:01] yasoob commented on #146
Hey @leto Can you also close all the instances for [this task](https://codein.withgoogle.com/tasks/5148923479982080/?sp-is_beginner=False) as well?

[2016-01-21 22:46] leto commented on #146
@yasoob I am unable to close tasks

[2016-01-21 22:51] yasoob commented on #146
Okay @leto  :+1:

[2016-01-22 05:24] creativepsyco commented on #170
So we can either restrict uploading or provide the preview image ourselves in case it is broken (similar to FB/GitHub providing a default profile in case you are missing one).

[2016-01-22 15:33] aditya1702 commented on #170
@leto I agree with @creativepsyco .We can use a default image that gets displayed in absence of an image.

[2016-01-22 15:52] yasoob commented on #170
We can only allow uploading `.docx`, `pdf` and image files. I don't think there is any need for any other files apart from these.

[2016-01-22 19:11] suheb commented on #170
Looking at the current design, it seems file uploading was intended for images only. For instance, the url ``` /pic/file_name ``` and the preview column in the table.
Let me know how to move forward with this.

[2016-01-22 19:31] leto commented on #170
@suheb Let's do pictures only for now, because that was the intention. We should accept .jpg, .jpeg, .gif and .png

[2016-01-23 11:36] suheb commented on #170
@leto Done, see my pull request.

[2016-01-23 16:37] suheb opened #178 "Creating an event with logo does not work."
Steps to reproduce:
1. Click on "Create New Event" on home page.
2. Fill in the required fields.
3. Choose any file for the logo field. This step is important.
4. Click on "Submit".
This gives an internal server error.
Tested on both local machine and <a href="http://open-event.herokuapp.com/admin/">Demo site</a>.
It should be noted that this does not happen when logo field is left empty.

[2016-01-23 20:23] yasoob commented on #140
Hey @leto I am not sure how to intercept the `.delete` endpoint of Flask-Admin.

[2016-01-24 02:22] leto commented on #178
Verified that this happens. Part of the problem is that `static/event_logo` needs to exist, which it doesn't. Even then, `create_event` in `open_event/helpers/data.py` doesn't work correctly any more.

[2016-01-24 02:24] leto commented on #140
@yassob can you describe a bit more about what you are trying to do? @rafalkowalski is also a good person to  ask

[2016-01-24 09:34] creativepsyco opened #179 "Accept rating for talk"
System should allow accepting rating & feedback for a session that has become over.

See issue https://github.com/fossasia/open-event-webapp/issues/106

[2016-01-24 10:00] mananwason commented on #179
@rafalkowalski Are you free to work with me on this?

[2016-01-24 15:59] aditya1702 commented on #156
@creativepsyco I have added the search enhancement to the map in create event.Will you please look at it:)

[2016-01-24 16:02] creativepsyco commented on #156
I will let @leto look into it :)

[2016-02-01 10:07] creativepsyco opened #184 "Images are not preserved between heroku deployments"
Currently images are not preserved during heroku deployments because its filesystem wipes all file data.

We need to allow wherever we allow file upload to accept URLs for images, files etc.

[2016-02-03 08:29] SaptakS commented on #179
I would like to assist.

[2016-02-03 09:31] creativepsyco commented on #179
This requires some backend work + client.

[2016-02-03 13:12] SaptakS commented on #179
I have prior experience in flask and Django. So, wanted to give it a try..

[2016-02-03 14:45] creativepsyco commented on #179
yup go ahead. i reckon there will be an authentication mechanism which for simple reasons for now can just be the email of the person.

So:
[code]

Some comments:
* We can only fetch the reviews when the person is looking at the session, it doesn't sync
* we can choose to have reviews anonymous (Not review email)
* The client will login from various different sources (Github, Google, Facebook, etc

[2016-02-03 17:02] aditya1702 commented on #179
@creativepsyco  I too would like to help in this

[2016-02-03 18:59] mananwason commented on #179
Great @aditya1702. Go ahead !!

[2016-02-07 12:15] rafalkowalski commented on #184
@creativepsyco Could you check if branch https://github.com/fossasia/open-event-orga-server/tree/issue-184 resolves this issue?

[2016-02-08 09:14] aayusharora commented on #179
@mananwason ,I would like to work for the client side in it.

[2016-02-13 15:29] mananwason commented on #179
@SaptakS @aditya1702 Progress?

[2016-02-14 17:43] aditya1702 commented on #179
@mananwason had my exams.Just finished.I have started working and will let you know of any progress:)

[2016-02-14 19:08] mananwason commented on #179
Great :+1:

[2016-02-16 05:04] creativepsyco commented on #184
Yep no need to store images when we can just store them as urls.

[2016-02-16 05:04] #184 closed

[2016-02-16 05:04] creativepsyco commented on #184
Fixed via 45771fd

[2016-02-16 05:06] creativepsyco commented on #178
I believe everywhere now we are using urls for images and files. We cannot guarantee file storage successfully because of issue #184 please check this issue again and close this if it is working as prescribed.

[2016-02-16 05:06] #175 closed

[2016-02-16 09:49] suheb commented on #178
Closing as this is effectively fixed by [this](https://github.com/fossasia/open-event-orga-server/commit/45771fd5f294545e72c777feffb1cece0a110132)

[2016-02-16 10:26] #178 closed

[2016-02-17 20:28] SaptakS commented on #179
@mananwason  @creativepsyco please check the PR #186 . I have made the necessary functions as suggested by @creativepsyco

[2016-02-18 07:18] leto opened #187 "API keys for write operations"
This issue was prompted by #186 and @creativepsyco's comment about the need for a shared secret between frontend and backend.

What we need for the mobile/web apps to have a login feature where people give their email/password and then that hits /api/v1/authenticate, which returns the API key if the password is correct. Then to do a write operation the mobile/web apps give that API key as an HTTP

[2016-02-19 11:36] suheb commented on #176
@yasoob You can close this issue. Fix #177

[2016-02-19 11:36] suheb commented on #170
@yasoob You can close this issue. Fix #177

[2016-02-19 21:38] #170 closed

[2016-02-19 21:39] #176 closed

[2016-02-21 14:19] suheb commented on #140
@rafalkowalski We should close this. Fix #183

[2016-02-21 14:39] rafalkowalski commented on #140
Cool :)

[2016-02-21 14:39] #140 closed

[2016-02-23 09:59] SaptakS commented on #187
I am working on the review functionality. For the time being it isn't authenticating anything, which I accept is wrong. Would love to work on this authentication.

[2016-03-03 22:59] leto commented on #156
This was merged recently. Hopefully it made @creativepsyco happy

[2016-03-03 22:59] #156 closed

[2016-03-07 06:20] shivamMg opened #190 "[Help Request] Trouble connecting to postgres inside vagrant"
I was following the instructions to setup server in vagrant. After ssh-ing into the box, everything went well until `python create_db.py` which threw an error,

    password authentication failed for user "open_event_user"

The `DATABASE_URL` was set. I tried to manually log in to postgres but it still showed the same error. The password is set to the default provided for testing, `start`.

Here's

[2016-03-07 18:25] aditya1702 commented on #190
@shivamMg  have you tried reinstalling the packages?

[2016-03-07 20:51] shivamMg commented on #190
@aditya1702 I removed and reinstalled the packages, both the ones specified for apt-get in `install.sh` and the ones in `requirements.txt`, but it still gives the same error.

[2016-03-07 21:05] aditya1702 commented on #190
@shivamMg I think the code is correct. The problem is with the password. Look at these links, they may help
https://github.com/cms-dev/cms/issues/60
http://stackoverflow.com/questions/5963739/got-an-error-while-connecting-to-database

[2016-03-08 09:11] shivamMg commented on #190
Thanks @aditya1702, I got it running. Turns out some commands in install.sh didn't execute, so the tables were never created. It's working now. :)

[2016-03-08 09:11] #190 closed

[2016-03-08 10:10] shivamMg opened #191 "Use package manager for front-end"
We can use `bower` for managing front-end dependencies. It will keep track of the packages used. It will also solve the minification issue at https://github.com/fossasia/open-event-orga-server/issues/130. The minified files will be provided with assets inside the installed packages, so a minifier will not be needed.

[2016-03-08 10:12] shivamMg commented on #130
@creativepsyco I've taken this on https://github.com/fossasia/open-event-orga-server/issues/191. What do you think?

[2016-03-08 21:36] aditya1702 commented on #187
@leto @creativepsyco do we strictly have to use API keys or can we use other authentication ways also...like OAuth1 , OAuth2 ...?

[2016-03-09 04:02] shivamMg opened #193 "[Bug] Internal Server Error at Languages API for Events"
The `get_languages()` method inside `open_event/views/views.py` accepts a `page` parameter (a functionality which is already implemented by `get_languages_per_page()`). It should require only the `event_id` parameter.

I have fixed the bug, if someone can review previous PR https://github.com/fossasia/open-event-orga-server/pull/192 I can publish the changes.

[2016-03-10 14:48] shivamMg opened #196 "Unnecessary validation of the Event creation form"
The form is being validated before request method check. This makes the "This field is required" messages to appear even though the user has not submitted the form through POST. Validate form only if it is a POST request.

You can check it at: https://open-event.herokuapp.com/admin/event/new/

[2016-03-13 18:40] #196 closed

[2016-03-13 18:42] #193 closed

[2016-03-18 19:08] aviaryan commented on #165
I was testing the most recent version of the app locally and it also has the same problem.

[2016-03-18 20:59] aviaryan opened #202 "Logging-in with email"
Like most other web-apps and services, `Open Event Organizer` should also allow logging in with email in addition to username.

UPDATE : Opened PR #203

[2016-03-18 21:09] aviaryan commented on #202
I can't help but wonder why is `email` field not unique here . https://github.com/fossasia/open-event-orga-server/blob/master/open_event/models/user.py#L13 . I believe it has something to do with `roles` but I am not quite sure. Any hints would be lovely.

[code]

[2016-03-19 06:30] aviaryan opened #204 "Standardize ical export"
In reference to #106, the ical export method should try to use standard fields (see iCalendar specification below) for compatibility with existing calendar services.
Example - Fields like 'start time' and 'end time' are non-standard and 'dtstart' and 'dtend' should be used in their place.

Some helpful links
* [Google Calendar ICS export](https://support.google.com/calendar/answer/37118?hl=en)
* [

[2016-03-19 06:34] aviaryan commented on #106
Fields like `start time` and `end time` used in current implementation of ical export are non-standard. We should use `dtstart` and 'dtend' in their place. Other fields should also be renamed according to the ical standard. #204

[2016-03-19 07:01] aviaryan commented on #106
@creativepsyco @mariobehling
What are your opinions about including sessions in tracks. Currently exported `track` is useless because it has nothing except the name. We can add sessions as events or just the track start and end time. (assuming it goes on without break).
Sample track ICS export - http://open-event.herokuapp.com/api/v1/track/5/export/iCal
[code]

[2016-03-19 10:18] aviaryan opened #206 "[BUG] Inconsistent data returned by api/export/iCal"
**Issue**
The data returned by `api/../export/iCal` for a track or an event is wrong at times. Actually duplicate events are added to the returned data.

**Steps to reproduce**
* Open a `api/export/iCal` page in the browser . For example http://open-event.herokuapp.com/api/v1/track/5/export/iCal
* Continuously refresh it with F5.
* You will notice that the returned data changes at times.

[2016-03-19 12:16] niranjan94 opened #209 "Google Maps or OpenStreetMaps. Single provider to be used throughout the project."
The **New Event** creation form uses Google Maps and the **Microlocation** creation form uses OpenStreetMaps. I think we should choose a single provider and make sure all the maps across the project uses the same provider for consistency.

My vote is for **Google Maps** :sweat_smile: . But if we're all able to come to a consensus on a provider, I'll be happy to make the required changes and send i

[2016-03-19 12:54] aviaryan commented on #204
Opened PR #208

[2016-03-19 13:08] aditya1702 commented on #209
@niranjan94  I used Google Maps in order to improve the Search funtionality which is better than the one provided by Openstreet maps. So the Google Maps one will be used.

[2016-03-19 14:38] championswimmer opened #211 "refactor: use minified and compressed assets"
The css for example is 2.2 MB is size and takes considerable time to load
![screenshot from 2016-03-19 20 06 56](https://cloud.githubusercontent.com/assets/1327050/13899207/454f2f62-ee0e-11e5-9e59-e20a1d3a2a66.png)

[2016-03-19 18:37] leto commented on #211
My first question is: Why is the CSS so large, it must be mostly unused. Can we use a different layout.

In general I am all for minifying+compressing CSS/JS/etc in production, but I don't want it during development locally. It makes debugging a pain, so it should be able to be turned on/off.

[2016-03-19 18:45] leto commented on #209
@mariobehling what are your feelings on this? I know that some FOSS people have issue with Google Maps and would only want to use OSM, perhaps even if they couldn't use the search functionality.

Should we support only one or make it some kind of config parameter which to use? There may be less functionality if people choose OSM.

Give Mario a few days to answer, at least. I am sure he is extremel

[2016-03-20 03:06] aviaryan commented on #211
:+1: . I think [materialize](http://materializecss.com/) will be an excellent replacement for the other frameworks used here.

Why ?
* All components (including icons) we are currently using in open-event-server's frontend are supported by the framework.
* Modern material design
* **Excellent mobile support** ([Have a look](http://materializecss.com/mobile.html))

The CSS is around **170kb uncompr

[2016-03-20 05:18] niranjan94 commented on #211
Actually, that entire stylesheet is unused. So, I have removed it and also minified and compressed the assets. The PR #198 takes care of that.

**The PR does:**
1. Combines, minifies, caches and servers all the javascript and css assets using [Flask-Assets](http://flask-assets.readthedocs.org/en/latest/)
2. Re-arranges the static assets for easier maintenance.

**The PR removes:**
1. `material-ful

[2016-03-21 10:35] aviaryan commented on #206
PR #207

[2016-03-26 09:54] niranjan94 opened #223 "Non-human readable display of labels for QuerySelectField and QuerySelectMultipleField in all forms"
WTForm uses the model object's `__str__` or `__unicode__` to get the string to use as the label for `QuerySelectField` and `QuerySelectMultipleField` [as explained here](http://wtforms.readthedocs.org/en/2.1/ext.html#wtforms.ext.sqlalchemy.fields.QuerySelectField).

But, most of the models don't have a `__str__` or `__unicode__` defined. Hence, WTForm uses the value returned by `__repr__`. Which i

[2016-03-26 16:23] niranjan94 opened #226 "Redirect user to the intended URL after login"
User is not redirected to his intended URL after login.

#### Expected Behavior
- The user is not logged in.
- He tries to goto `http://open-event.herokuapp.com/admin/event/new/`.
- He's redirected back to the login page with the URL he/she tried to access in the `next` query string parameter
- After login, he's should be taken back to the URL he had tried to reach before logging in.

#### Current

[2016-03-26 23:13] #204 closed

[2016-03-26 23:13] #206 closed

[2016-03-27 03:16] #226 closed

[2016-03-27 03:17] #223 closed

[2016-03-27 18:45] aviaryan commented on #202
PR #203 Merged. Closing

[2016-03-27 18:45] #202 closed

[2016-04-06 18:33] aviaryan opened #237 "Application crash - UndefinedError: 'event_id' is undefined"
The following pages crash (as far as I have seen)
* http://localhost:5000/admin/
* http://localhost:5000/admin/event/

The output of the HTML page -

The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

The stack-trace -
[code]

[2016-04-06 18:44] aviaryan commented on #237
Opened Pull request #238

[2016-04-08 17:24] #237 closed

[2016-04-09 15:05] aditya1702 opened #240 "fix: deleting an event gives error"
How to produce the error:
1. Create an Event
2. Create a sponsor for that event
3. Now try to delete that event.It will give an Internal Server Error.
This will happen when an event has either a sponsor, session, microlocation ,tracks etc...
It will work successfully if only an event is created. Basically this happens because of the ForeignKey constraint on the sponsor,session ,microlocation,etc..

[2016-04-11 22:55] leto commented on #240
This makes it plainly clear that we need API tests, which would hopefully catch something like this.

[2016-04-12 03:59] SaptakS commented on #240
Yes. We do need to write automated tests for the API to ensure that the code doesn't break.

[2016-04-15 03:10] juslee opened #243 "chore: set up travis-ci"
Require setting up of travis ci

[2016-04-15 03:27] #95 closed

[2016-04-15 06:49] aviaryan commented on #243
@rafalkowalski Isn't the code incompatible with Python 3 (because of print statements). If so, it would be better to remove python 3 from .travis.yml and let's just concentrate on python 2.6 and **2.7** for now.

[2016-04-15 07:58] aviaryan commented on #243
@juslee I have managed to get travis CI out of build error. Build is working fine now.
On the other hand, 7 tests are failing both locally and on travis cloud but that can be fixed.
Here is the log https://travis-ci.org/aviaryan/open-event-orga-server/builds/123264147
I will open a PR with the changes.

[2016-04-15 10:43] #243 closed

[2016-04-15 10:52] juslee opened #248 "chore: update dependencies to the latest versions and fix any failures"
Update all flask dependencies to the latest versions. Fix any build errors that happens when the flask dependencies are updated.

[2016-04-15 11:56] aviaryan commented on #248
I am on it

[2016-04-15 11:58] niranjan94 commented on #211
@championswimmer Could you have a look at PR #217 .. ? I believe it resolves this issue.

[2016-04-15 12:37] juslee opened #252 "refactor: reduce lint issues"
Reduce the lint issues to < 100 issues. Both on codacy and codeclimate.

[2016-04-15 12:43] aviaryan commented on #248
Opened PR #251

[2016-04-15 13:21] #248 closed

[2016-04-15 13:54] juslee opened #253 "refactor: flask vs django"
Before we go forward, there is a request from @rafalkowalski to rewrite everything in django. Should we stick with flask and refactor, or should we restart with django?

@leto @mariobehling please provide your thoughts.

[2016-04-15 13:58] leto commented on #253
Where is this request from @rafalkowalski ? Rewriting our entire app in django at this point does not seem productive. Let's focus on actually running a conference and getting users.

[2016-04-15 14:00] mananwason commented on #253
Agreed @leto. Writing the entire app doesn't sound very productive. Anyways what's wrong with Flask @rafalkowalski?

[2016-04-15 14:02] aditya1702 commented on #253
I too agree with @leto . Moreover I think the present focus should be on developing a test suit.

[2016-04-15 14:07] juslee commented on #253
It seems that django might be easier to roll out features faster. Is there any recommended guidance for the following:

- flask with rest api
- flask with angular front-end
- flask with ACL out of the box
- flask with some sort of ORM with sql and nosql support

@leto @mananwason What are your thoughts? Is flask just as easy and powerful as django?

[2016-04-15 14:18] mananwason commented on #253
@juslee sorry but what kind of guidance are you looking for. In general, I agree that django will be easier to roll out features faster plus it has a lot of tools and extensions which flask doesn't seem to have, Flask is kinda limited but right now I think that we aren't facing any issues or limitations with Flask, so we can continue with it. Making the entire thing in django will take a lot of ti

[2016-04-15 14:32] leto commented on #253
We have the beginnings of a rest api already and flask has plenty of libraries related to that.

Why do we need an angular frontend?  Also, a simple search returns various people and projects using flask and angular.

Not sure what you mean by "ACL out of the box".

We use sqlalchemy as an ORM and currently don't use anything "nosql"-ish. And never in my experience have I used an ORM for a noSQL d

[2016-04-15 14:57] juslee commented on #253
Ok. Got it. Let's hear from @rafalkowalski.

I'm satisfied with justifications to continue working with flask.

I'm looking for a bootstrap admin dashboard theme right now. Just exploring possibilities right now. Whether if angular could actually help speed up creating the admin dashboard.

For REST API, I'm thinking flask-restplus. Thoughts?

[2016-04-15 15:01] shivamMg commented on #253
Agreed. We do not face any limitations from flask, so there shouldn't be a need to move to Django. But the Admin Panel that Django ships with can really reduce our load to design views. Views for the admin won't be needed. The Django Auth package comes with built-in user permission system, that we can alter to include speaker etc. tbh I think we can create a django OE organizer server faster than

[2016-04-15 15:09] shivamMg commented on #253
@juslee We can use [Flask-HTTPAuth](https://flask-httpauth.readthedocs.org/en/latest/). That way we wouldn't have to rewrite the existing api endpoints.

[2016-04-15 15:12] niranjan94 commented on #253
I don't think we need to change our web framework. Flask seems to be good enough for our needs.

Instead, We could go for an API-Centric approach. The API could be made the only interface for an read/write operations on the data.

##### What should be done if we're going ahead with this ?
1. We'll have to build a comprehensive RESTful API for all actions.
2. The front-end could use a lite javascri

[2016-04-15 16:05] SaptakS commented on #253
@juslee I agree with others. Most of the things such as RESTful API and stuff can be done in Flask as well. And I dont see any need of Angular JS for its front end. Simple Material Design should do I think.

[2016-04-15 17:07] aviaryan commented on #253
Though I prefer Django over Flask but in this case, since the project is up and running in Flask without any shortcomings, there is no need to switch to Django, atleast now when we have an event in hand.
But the Django admin panel and permissions are awesome and if I had to start this project from scratch, I would have preferred Django over Flask.

[2016-04-15 17:34] championswimmer commented on #253
If anyone is considering rewriting, I can suggest node.js over either
django or flask. Simply because it is like 20x more easy to implement
things like ACL and Oauth on nodejs, vis a vis Python (either Flask or
Django).

I was intending to try it out myself. Not part of GSoC or anything, as a
personal project, to rewrite orga server in Nodejs, and when it is
functionally comparable with current ve

[2016-04-15 17:41] mananwason commented on #253
@championswimmer Seriously I have also been tinkering with Node.js for some personal projects and it's awesome in terms of not only ease of writing code but also because of all the support that is available for it. And yeah it's also asynchronous !! 😉  If we plan to write the server again, Node.js will be the best option.

[2016-04-15 18:10] niranjan94 commented on #253
@championswimmer +1 for Node.js... It's truly amazing... Got tons of frameworks and packages. And the development environment plays well with the client-side javascript libraries too. Would be a good alternative to consider instead of python.

[2016-04-17 07:36] SaptakS commented on #252
Files in migrations/version folder are to be ignored. They are generated automatically by Flask.

[2016-04-17 09:01] rafalkowalski opened #254 "UI Design"
Therefore that our interface is not user friendly, we need to choose a library which help us to implement better UI
Few proposal:

http://startbootstrap.com/template-categories/popular/
http://flatfull.com/themes/materil/angular/#/app/dashboard
http://byrushan.com/projects/ma/1-5-2/jquery/

Give your proposals if you know some frameworks

[2016-04-17 09:34] juslee commented on #253
Decided to continue using flask, and refactor using flask-boost, flask-restplus.

[2016-04-17 09:34] #253 closed

[2016-04-20 10:54] SaptakS commented on #254
@rafalkowalski I think the 2nd template is quite good. Also, I think its code is openly available in github. So, it would be a nice choice.

Few other templates:
http://www.codecovers.eu/materialadmin/dashboards/dashboard
http://www.xtendify.com/en/product/preview/1010-mdladmin-lite-starter-admin-for-google-material-design-lite?type=Frontoffice
http://blog.creative-tim.com/web-design/21-free-dashb

[2016-04-20 14:02] shivamMg commented on #191
Bower added in https://github.com/fossasia/open-event-orga-server/pull/257

[2016-04-20 14:02] #191 closed

[2016-04-22 08:22] aditya1702 commented on #254
@rafalkowalski  the third template seems nice. Also the template suggested by @SaptakS http://www.codecovers.eu/materialadmin/dashboards/dashboard
seems interesting.

[2016-04-22 14:07] juslee commented on #254
I like these 2:

http://www.codecovers.eu/materialadmin/dashboards/dashboard
http://flatfull.com/themes/materil/html/

Choose 1 and we'll stick to it for both webapp, android, and orga-server.

[2016-04-22 14:17] rafalkowalski commented on #254
@juslee Good idea

[2016-04-22 14:56] aditya1702 commented on #254
@juslee @rafalkowalski how about the first one
http://www.codecovers.eu/materialadmin/dashboards/dashboard

[2016-04-24 13:11] niranjan94 commented on #254
Most the of the ones discussed above seem to be premium templates. I came across this free one which is really good.

**Source:** [github.com/puikinsh/gentelella](https://github.com/puikinsh/gentelella)
**Demo:** [colorlib.com/polygon/gentelella/](https://colorlib.com/polygon/gentelella/index.html)

![Gentelella Bootstrap Admin Template](https://cdn.colorlib.com/wp/wp-content/uploads/sites/2/gente

[2016-04-25 07:05] aditya1702 opened #260 "Logo not being displayed"
![screenshot from 2016-04-25 12 30 55](https://cloud.githubusercontent.com/assets/15054664/14776131/fe7ec502-0ae1-11e6-8bcc-d898f00f295d.png)
The Logo created in Sponsor is not being shown in the Table although the url is entered in the form
![screenshot from 2016-04-25 12 32 17](https://cloud.githubusercontent.com/assets/15054664/14776152/1e0b70be-0ae2-11e6-8fa5-e136f2167b62.png)

[2016-04-25 07:06] aditya1702 commented on #260
@rafalkowalski Cant we have an upload button which helps the event users to upload and display Logo in the table?

[2016-04-25 07:22] aditya1702 opened #261 "Whitespace in the Switch Events tab"
![screenshot from 2016-04-25 12 51 33](https://cloud.githubusercontent.com/assets/15054664/14776489/90ce9bba-0ae4-11e6-8c05-b4609970fbd5.png)

[2016-04-25 16:41] leto commented on #254
Howdy,

I really like this admin template, +1

Duke

On Sun, Apr 24, 2016 at 6:11 AM, Niranjan Rajendran <
notifications@github.com> wrote:

--
Jonathan "Duke" Leto <duke@leto.net>
Leto Labs LLC http://letolabs.com
209.691.DUKE http://duke.leto.net
@dukeleto http://linkedin.leto.net https://github.com/leto

[2016-04-25 19:54] batraabhishek commented on #254
+1 for the theme suggested by @niranjan94

[2016-04-26 01:04] #261 closed

[2016-04-26 01:06] #240 closed

[2016-04-26 13:47] juslee commented on #254
http://www.codecovers.eu/materialadmin/dashboards/dashboard
Pros: material design, has all the components we need (form-wizard, calendar, dynamic tables, etc)
Cons: cost $20 bucks, can't be used for open source projects I reckon

https://github.com/puikinsh/gentelella
Pros: bootstrap 3, has all the components we need
Cons: not material design

TBH, gentelella seems to be the best choice right now.

[2016-04-27 15:16] aditya1702 commented on #260
@mariobehling @juslee Could we have an image upload button to save images to a folder?

[2016-04-27 15:18] aditya1702 commented on #209
@mariobehling Here we are using the google maps for creating an event and the OSM map for the microlocation page. As @leto  asked , what needs to be done?

[2016-04-27 15:20] aditya1702 commented on #131
@championswimmer I implemented the "@auto-doc" decorator to generate the APIs. Can we close this issue or we need something more?

[2016-04-27 15:25] championswimmer commented on #131
can be closed.

we can discuss after ots is over, when we make changes to the server (there
can be a rehaul of how it works)

On 27 April 2016 at 20:50, Aditya Vyas <notifications@github.com> wrote:

[2016-04-27 17:47] #131 closed

[2016-05-03 20:04] leto opened #273 "docs: Document how to run tests"
Add instructions for how to run our tests to the README.

[2016-05-06 12:07] shivamMg opened #274 "Missing Sessions associated with a Track in API?"
Every Track has Sessions associated with it (`/admin/event/:event_id/track/new`). But our API endpoint for track does not list them https://github.com/fossasia/open-event/blob/master/API.md#tracks.

A track should list its sessions (at least IDs and titles):

[code]

@leto Should I use the above schema (listing IDs and titles for Sessions) or just keep it like it is for Speakers (https://github.co

[2016-05-07 21:03] aditya1702 opened #278 "Heroku Build is failing"
I get the following error on running the app on Heroku:
1. to the PKG_CONFIG_PATH environment variable
2. No package 'libffi' found

[2016-05-07 21:05] aditya1702 commented on #274
@leto I think it would be nice if the session names are also displayed rather than just their ids.What do you say?

[2016-05-08 12:27] rafalkowalski commented on #278
sudo apt-get install libffi-dev i think it can solve above problem. Please add it to install.sh and check ;p

[2016-05-08 17:40] leto commented on #274
Yes, titles and id's for sessions sound good. What if there are hundreds of sessions? Will the sessions be paginated?

[2016-05-09 06:54] aviaryan commented on #260
This issue seems to be fixed now. The logo is displayed when the URL is correct.
![screenshot from 2016-05-09 12 20 09](https://cloud.githubusercontent.com/assets/4047597/15105578/7133a154-15e0-11e6-9b68-7c359054d9bb.png)
I have added URL validators to the form and opened PR #281

[2016-05-09 06:57] aviaryan commented on #260
I guess the template is handing it as `<img src="{{ logo_url }}">` . That maybe the reason nothing is displayed.

[2016-05-09 06:57] #260 closed

[2016-05-09 07:24] aviaryan commented on #252
Most of the files in `open_event/static/admin` are js and css library files and we should ignore them too. There constitute a high amount of issues.
In codacy, to ignore them, one (the admin) can go to settings->Ignored Files.
Ignoring files in codeclimate can be done by [adding the paths](https://docs.codeclimate.com/docs/excluding-files-and-folders) to `exclude_paths`

[2016-05-09 12:53] shivamMg commented on #252
To add to aviaryan, only two static files should be checked for linting issues:

- `open_event/static/admin/css/open-event.css`
- `open_event/static/admin/js/map.js`

Rest all can be ignored.

[2016-05-09 14:01] shivamMg commented on #274
@leto @aditya1702 ...a different discussion than above.

Suppose there are two sessions: Session1 and Session2, and there are two tracks: Track1 and Track2.

I'm adding Session1 and Session2 as sessions for Track1. Now I edit Track2 (which previously didn't have any sessions) and add Session1 & Session2 to it. This makes Track1 to lose both sessions. This shouldn't be the case. If a session has be

[2016-05-09 14:22] leto commented on #274
@shivamMg agreed, sessions should have zero or one tracks associated to it, instead of tracks having multiple sessions

[2016-05-09 15:15] shivamMg commented on #274
@leto Then I think I'll implement this before solving the above API issue.

[2016-05-09 17:02] shivamMg commented on #274
@leto Fix for track-session: https://github.com/fossasia/open-event-orga-server/pull/282

[2016-05-11 20:06] shivamMg opened #284 "Configure Coveralls and CircleCI"
Configure coveralls to exclude check on site-packages. e.g. In [this](https://coveralls.io/builds/6142318) build it is checking coverage for code outside our repo.

Configure CircleCI. It is running our tests with `python manage.py test` (incorrect command) while it should be running nosetests. e.g. [here](https://circleci.com/gh/fossasia/open-event-orga-server/2#tests).

[2016-05-11 20:24] shivamMg commented on #274
@leto About the track API issue, I just checked the Speakers API, it already serializes sessions as a list with `id`s and `title`s, and not just a list with integer ids like it's written in the [spec](https://github.com/fossasia/open-event/blob/master/API.md#speakers). Seems like it hasn't been updated, I've submitted a PR with the correct spec [link](https://github.com/fossasia/open-event/pull/36

[2016-05-11 20:35] shivamMg commented on #274
Also, I put up some thoughts into the pagination requirement for sessions list in Speakers and Tracks API (and the speakers list in Session API).

I think it might not be needed because even if there are many sessions it is unlikely that a single session will have many speakers, or a single speaker will be associated with a large number of sessions.

[2016-05-12 04:40] aviaryan commented on #284
I will try fixing the CircleCI build :smile:

[2016-05-12 05:12] aviaryan commented on #284
CircleCI Fixed #286

[2016-05-12 05:20] aviaryan commented on #284
Now working on coveralls fix :smile:

[2016-05-12 05:31] aviaryan commented on #284
Coveralls fixed #287

[2016-05-12 08:04] #284 closed

[2016-05-12 08:50] #278 closed

[2016-05-12 12:54] #211 closed

[2016-05-12 12:54] #252 closed

[2016-05-12 13:23] rafalkowalski opened #288 "feat: Create a Table Users Events Roles"

[2016-05-12 13:27] juslee commented on #254
Accepted Gentelella - https://github.com/puikinsh/gentelella

[2016-05-12 13:27] #254 closed

[2016-05-12 13:29] juslee opened #289 "feat: Set up Gentellela template for the front-end"
Start the code for using Gentellela template

[2016-05-12 13:35] juslee opened #290 "feat: create landing page"
design the basic landing page based on http://bit.ly/1SvimFa with a header and footer.

[2016-05-12 14:57] aditya1702 commented on #288
@rafalkowalski dont we already have an events users class?

[2016-05-12 16:37] juslee opened #292 "refactor: remove local prism.js/css dependency"
remove open_event/static/admin/js/prism.js and static/admin/css/prism.css in favour for bower libs.

used in open_event/templates/admin/permissions/permission.html

[2016-05-12 16:48] juslee opened #293 "Test ticket from Code Climate"

[2016-05-12 16:48] #293 closed

[2016-05-12 16:48] juslee opened #294 "Fix "E302" issue in open_event/__init__.py"
Expected 2 blank lines, found 1

https://codeclimate.com/github/fossasia/open-event-orga-server/open_event/__init__.py#issue_5734ab5aace1b1000164584f

[2016-05-12 16:53] #294 closed

[2016-05-12 17:12] #274 closed

[2016-05-12 17:13] juslee commented on #284
Removed CircleCI in favour for TravisCI instead.

[2016-05-12 17:14] #106 closed

[2016-05-12 17:15] #104 closed

[2016-05-12 17:15] #119 closed

[2016-05-12 17:15] #130 closed

[2016-05-12 17:15] #165 closed

[2016-05-12 17:15] #179 closed

[2016-05-12 17:15] #187 closed

[2016-05-12 17:15] #209 closed

[2016-05-12 17:21] juslee opened #295 "docs: move installation docs from README.md to /docs/*.md"
create separate .md file for each setup installation (Vagrant, Heroku, Docker, etc) under /docs

[2016-05-12 17:32] juslee opened #296 "feat: add root account by default when database is set up"
Add root user for administering the entire app. To prepare for the ability to manage all users within the app.

[2016-05-12 17:33] juslee opened #297 "feat: add database setup script to install demo user and demo data"
some demo data to start with to make UI testing easier.

[2016-05-12 18:13] aditya1702 opened #299 "feat: add Oauth 2.0 for logging in using Google,Facebook etc.."

[2016-05-12 19:11] shivamMg opened #300 "test: add more tests for 'CustomDateSessionValidate'"
- Add more tests for `CustomDateSessionValidate`. Start and End times for an Event Session should always be inside the Event date range. There could be three cases for validationerror:
  - Session start time outside Event time
  - Session end time outside Event time
  - Both of them outside Event time
- Remove `test_event_start_time_smaller_than_end_time` test from `test_validations.py`. There are

[2016-05-12 19:12] leto commented on #300
One more validationerror case:

Session start_time == end_time

[2016-05-12 19:13] leto commented on #300
And end_time < start_time, too

[2016-05-12 19:15] shivamMg commented on #300
@leto Will add a test to check equality :+1: . Test for End time < start time is already included.

[2016-05-13 06:43] #300 closed

[2016-05-13 14:29] aditya1702 commented on #292
@juslee Didnt exacly understand. Do I have to remove the old files and replace them with the bower generated ones? On running 'bower install' new prism.js and prism.css files are created in the static/admin/lib/prism/ folder. Do u mean to use those?

[2016-05-13 14:31] aayusharora commented on #290
@jsulee , Is the carousel working for you ?

[2016-05-13 14:39] rafalkowalski commented on #288
It's not enough for current specification

[2016-05-13 14:52] rafalkowalski opened #306 "Implement Event Stages"
- [x] Stage 1 Create Event #324
- [x] Stage 2 Call for Speakers #325
- [x] Stage 3 Create Schedule #326
- [x] Stage 4 Schedule Published #619
- [x] Stage 5 Event #620
- [x] Stage 6 After Event #621

[2016-05-14 09:18] aviaryan opened #308 "bug: generate_icalender_track view crashing"
Also the endpoint is `/api/v1/track/<int:track_id>/export/iCal`
It should be `/api/v1/event/<int:event_id>/tracks/<int:track_id>/export/iCal` as a track is inside event.

[2016-05-14 09:27] championswimmer commented on #308
As general convention of rest apis, we should keep ical in all small
instead of camelcase
On 14-May-2016 14:48, "Avi Aryan" <notifications@github.com> wrote:

[2016-05-14 09:33] aviaryan commented on #308
:+1:

[2016-05-14 10:51] rafalkowalski opened #310 "Event Draft state"
Project Issue: #306
Intended URL: /admin/events/new/

**Wizard (Step 1) - Default**
Form consists of:
   - Name of event (Title) *
   - e.g. FOSSASIA 2016
   - Description
   - Location -> a map
   - Start Date/End Date
   - Background image
   - Logo
   - Event URL - automatically generated by event ID and optional editable
   - e.g. /events/123456

**Wizard Step (2) - Sessions**

- Type of sessi

[2016-05-14 11:07] aviaryan commented on #106
@juslee The current ical export and event is like
[code]

It only has the event, no sessions inside it. It will be great to have sessions in the event too, in that way it will become a complete calendar (like the one [for OTS](https://calendar.google.com/calendar/render?cid=t3sacg6lr2s85f51ujggg0usk4@group.calendar.google.com) https://github.com/OpenTechSummit/2016.opentechsummit.net/issues/21).
W

[2016-05-14 11:28] aviaryan opened #311 "refactor: tests - set_up.py and setup_database.py are duplicates"
In tests dir, set_up and setup_database are exact same files.

[2016-05-14 13:48] shivamMg opened #313 "Fix unicode handling at models"
The unicode handling in models is not implemented properly. Currently every model has a `__str__()` method defined that converts the model class's object to a readable format. Previously when `__str__()` was not defined for models, the `__repr__()` method was used to represent object. This created problems in templates. So e.g. in the Track field of Session form one would see tracks getting render

[2016-05-14 16:24] shivamMg opened #314 "Remove SQLALCHEMY_TRACK_MODIFICATIONS warning"
[code]

[2016-05-14 19:06] #313 closed

[2016-05-14 19:27] aditya1702 commented on #292
@juslee could you tell exactly what is wanted here?

[2016-05-15 03:47] shivamMg commented on #314
Fixed at https://github.com/fossasia/open-event-orga-server/pull/315

[2016-05-15 03:47] #314 closed

[2016-05-16 02:21] #311 closed

[2016-05-16 02:22] #308 closed

[2016-05-16 02:24] juslee commented on #292
Yes. Remove prism.css and .js from the repo. Any reference to prism needs to be updated.

[2016-05-16 05:25] shivamMg opened #318 "Separate requirements for Development, Production and Testing mode"
There is no need to install gunicorn, Fabric, coveralls, etc. with pip for local development. Similarly pylint, pep8 and other testing and development modules don't have to be installed in production site.

Segregate requirements for each.

Create a common requirements file that has modules that need to be installed in all three. Extend it for Development and Production requirements file. For Test

[2016-05-16 06:41] aviaryan opened #320 "Return 404 status code in API when event doesn't exist"
When an event doesn't exist, all the api requests for it should have 404 as status code. Currently it returns 200.

[code]

[2016-05-16 07:48] aviaryan opened #321 "API views crash due to non-existant entity"
For example, the following code will crash if speaker_id is non-existant. Some error handling must be implemented and 404 code should be returned if request is invalid.

[code]

As I am already working on #320 and both the issues are from the same codebase, I will patch them together and send a single PR.

[2016-05-16 08:51] aviaryan commented on #321
Currently the following is returned.
[code]

[2016-05-16 17:48] rafalkowalski opened #324 "Event Stage 1 name: Event Details"
Project Issue #306 Event Stage 1 name: Event Details
EVENT VIEW: /admin/events/[eventID]/

Implement Wizard for Event Creation
* [x] Step 1: Event Details https://github.com/fossasia/open-event-orga-server/issues/634
* [x] Step 2: Create Event Wizard Step 2: Sponsors #697
* [x] Step 3: Session Types #635, Tracks & Rooms https://github.com/fossasia/open-event-orga-server/issues/636
* [x] Step 4: Ca

[2016-05-16 17:54] rafalkowalski opened #325 "Event Stage 2 name: Call for Speakers"
#306 Wizard step 2 name: Call for Speakers
EVENT VIEW: /admin/events/[eventID]/
EVENTS DETAILS (like in step 1)
Event and Call for Speakers Published
* [x] Publish Call for Speakers and show CfS on a dedicated page (Offer date setting to open and close CfS automatically depending on date chosen)
* [ ] Offer organizer to sent out Announcement Email (#1237)
* ~~Offer organizer to sent out tweet~~ (#

[2016-05-16 17:57] rafalkowalski opened #326 "Event Stage 3 name: Create Schedule"
Project Issue #306 Wizard step 3 name: Create Schedule
EVENT VIEW: /admin/events/[eventID]/ -> visible for organizer, track-organizer and co-organizer:
EVENTS DETAILS (like in step 1)
Create Schedule
* [x] Implement Schedule at `/events/ID/schedule/edit`(https://github.com/fossasia/open-event-orga-server/issues/622) and provide a link to it at event dashboard `/events/ID/` See dashboard here https

[2016-05-16 21:08] mariobehling opened #327 "Implement Email gateway"
At the Berlin meeting we discussed different solution for email gateways. In the meantime I have met the CEO of phplist. Open Source projects can get a very good free plan and the software that is running phplist is Open Source. So, if we want we could just use their API and set it up ourselves later. They would even help us to integrate it, if we need it.

Link: https://www.phplist.com

@juslee W

[2016-05-17 06:54] aviaryan opened #328 "Make app config configurable from an environment var, fix broken configs"
Currently the project runs by default on ProductionConfig which has DEBUG disabled. This is not convenient for development purposes as every change in code requires re-running the server.

Solution - Make app config configurable from an environment variable. If no env var is set, the default (ProductionConfig ?) will be used.

Also there are some configs like DevelopmentConfig, StagingConfig which

[2016-05-17 06:56] shivamMg commented on #318
Changes added at https://github.com/fossasia/open-event-orga-server/pull/317

[2016-05-17 06:56] #318 closed

[2016-05-17 07:34] aviaryan commented on #328
Opened PR #329

[2016-05-17 07:56] shivamMg opened #330 "Unused Python dependencies"
`livereload` and `glob2` are specified in requirements but are not used anywhere in the project.

`logging` comes with the python standard library and doesn't need to be specified in requirements.

Add versions for packages.

[2016-05-17 09:49] championswimmer opened #331 "The demo version is down"
http://open-event.herokuapp.com/admin/

![screenshot from 2016-05-17 15 18 50](https://cloud.githubusercontent.com/assets/1327050/15318208/b13ea79a-1c42-11e6-8275-4b926dc24ae0.png)

[2016-05-17 09:53] championswimmer commented on #331
Deploying to heroku is not working either
![screenshot from 2016-05-17 15 21 57](https://cloud.githubusercontent.com/assets/1327050/15318333/4239a402-1c43-11e6-9b1e-afadfe3b0b5e.png)

[2016-05-17 11:59] aviaryan commented on #331
@championswimmer Can you provide logs from heroku ?

[2016-05-17 12:09] aviaryan opened #332 "Improve Heroku deploy docs"
The heroku deploy docs (https://github.com/fossasia/open-event-orga-server/blob/master/docs/HowtoDeploytoHeroku.md) don't mention anything about creating a database and setting DATABASE_URL to it. Without that step, the deployed app won't function.
Also nothing is mentioned about database migrations on server.

[2016-05-17 12:20] aviaryan commented on #331
I opened issue #332 on improving the Heroku documentation. With that, I will also make sure that the instructions in the guide work. So this issue will also be taken care of. :smile:

[2016-05-17 13:09] aditya1702 commented on #332
@aviaryan I have already rearranged the files and opened a PR for the docs. If you may allow I could assign this to myself. Moreover the database migration instructions are mentioned in the VAGRANT.md ..Here is the link https://github.com/fossasia/open-event-orga-server/pull/305/files

[2016-05-17 13:56] aviaryan commented on #331
Fixed it finally ! https://open-event-test.herokuapp.com
PR #333

[2016-05-17 14:02] aviaryan commented on #332
@aditya1702 By migration, I meant migration on a running heroku server. BTW, I have changed a lot in the heroku file. See PR #333 for that. Let us see what @juslee @leto think about the changes, then we can work on conflict issues. Anyways, we can always update one PR after the other is merged.

[2016-05-17 14:15] aditya1702 commented on #332
@aviaryan Ok :+1:

[2016-05-17 18:20] shivamMg opened #334 "Swagger spec for existing GET API endpoints"
I've created the swagger spec for existing APIs. The demo heroku app doesn't seem to be working right now, so I've set the host as 127.0.0.1:8001. You can test it with your local installation here: http://editor.swagger.io/#/?import=https://gist.githubusercontent.com/shivamMg/dacada0b45585bcd9cd0fbe4a722eddf/raw/ddb8af9f34a5ca163c4e49b5c14ee0d4db342fe0/swagger.yaml

<del>I haven't created a PR yet

[2016-05-17 20:12] rafalkowalski commented on #334
Please add PUT and POST, DELETE methods

[2016-05-17 20:21] rafalkowalski opened #335 "Add table SessionType"
#310
Field: length of session (minutes?)
Field: name(string)

Event has many Sessions types
Session has one Session type

[2016-05-17 22:42] shivamMg opened #336 "New REST API URLs"
Spec for the current API can be seen [here](http://editor.swagger.io/#/?import=https://gist.githubusercontent.com/shivamMg/dacada0b45585bcd9cd0fbe4a722eddf/raw/ddb8af9f34a5ca163c4e49b5c14ee0d4db342fe0/swagger.yaml) (you can test it with your local installation). I wanted to propose some changes to the URLs. It would help us when defining endpoints for post, put and delete.

1. Use the following en

[2016-05-17 22:47] shivamMg commented on #334
@rafalkowalski Wanted to have a discussion before that. [Feedback appreciated](https://github.com/fossasia/open-event-orga-server/issues/336).

[2016-05-17 22:47] #334 closed

[2016-05-17 22:53] shivamMg commented on #320
@aviaryan I think it's better to return an empty array like it does right now. And return 404 when accessing a non-existing session. Although, this has not been implemented yet, meaning you cannot retrieve a particular session. I've discussed this in an [issue](https://github.com/fossasia/open-event-orga-server/issues/336). Feedback is appreciated :smile:

[2016-05-18 04:20] aviaryan commented on #320
I agree.

There is an endpoint for something like that. `@app.route('/api/v1/event/sessions/<int:session_id>', methods=['GET'])`

[2016-05-18 04:23] aviaryan commented on #320
Opened PR #322

[2016-05-18 04:43] aviaryan opened #337 "Write tests for API views"
Almost the whole of open_event/views/views.py which comprises of API methods is untested.
We need to write tests to cover the same.

[2016-05-18 04:59] aviaryan opened #338 "Relative ID for sessions, speakers and other things"
Currently sessions, speakers, tracks and eveything else have an absolute id. That is, if the first session is created in an event with id 234, it may well have the id 10234. If that's the case, then the url to get that session will be `events/234/sessions/10234` (see #336) which ideally should have been `events/234/sessions/1` .
Same goes for speaker, languages, microlocation, sponsors and other t

[2016-05-18 05:02] aviaryan commented on #336
:+1: I agree with the things mentioned. That WhiteHouse API docs are really good and we must follow the guidelines mentioned there.
BTW, one thing that bugs me a lot is that sessions, speakers and all other models (except event) have absolute id's. So the first session in event id 243 may have the session_id 10234 and so on. As sessions and other things are inside event, there id's should start fr

[2016-05-18 07:43] shivamMg commented on #320
Mmm.. I completely missed that. I was searching for something like `/event/:event_id/sessions/:session_id`.

[2016-05-18 07:52] championswimmer commented on #320
Return error 5xx with message "Event id invalid" maybe?

On Wed 18 May, 2016 13:13 Shivam Mamgain, <notifications@github.com> wrote:

[2016-05-18 07:59] shivamMg commented on #320
@championswimmer Simply saying that the event does not exist and returning a 404 would be better. See the get method for TodoDAO in the flask-restplus [example](http://flask-restplus.readthedocs.io/en/stable/example.html).

[2016-05-18 08:23] aviaryan commented on #320
I agree with @shivamMg . That would be the best. StackExchange top rated answers too point the same.
http://programmers.stackexchange.com/questions/203492/when-to-use-http-status-code-404-in-an-api
http://stackoverflow.com/questions/9930695/rest-api-404-bad-uri-or-missing-resource

[2016-05-18 09:20] rafalkowalski commented on #336
@shivamMg Please add also speakers, tracks, etc. I don't know what etc. means. I think that we should have option to start/end session.

[2016-05-18 09:36] shivamMg commented on #336
@rafalkowalski By "speakers, tracks, etc." I meant like the URL path `/events/2/sessions/4` same would go for speakers (`/events/2/speakers/3`), tracks (`/events/2/tracks/4`), microlocations and sponsors, i.e. all services will have similar url pattern: `/events/<event_id>/<service>/<service_id>`.

I do not follow. What do you mean?

[2016-05-18 10:07] rafalkowalski commented on #336
I mean that we have to have a possibility to update state of session, but it will contain in /events/2/sessions url method PUT. Sorry for mess

[2016-05-18 11:57] #292 closed

[2016-05-18 21:17] #335 closed

[2016-05-19 07:41] juslee commented on #336
Keep the session id absolute.

Reason: in the db, you just need to make sure the session table has the event id reference. Session ID is the primary key. If session id is relative, it will require more checking in code to determine if session id is part of the event. And there isn't any point to have a separate primary key and session id.

So far I like where this is going. Good job @shivamMg. Wel

[2016-05-19 07:42] juslee commented on #338
Explained in #336

[2016-05-19 08:09] aviaryan commented on #338
I was thinking the same. The main hurdle in doing this is lack of an efficient solution.

[2016-05-19 14:39] aditya1702 opened #341 "Write tests for SessionType table"

[2016-05-19 15:48] rafalkowalski commented on #288
Currently i've added it to gsoc2016 branch

[2016-05-19 15:48] #288 closed

[2016-05-19 16:02] leto commented on #336
In general, this looks good. Nice work @shivamMg . I also agree with @juslee , let's keep all id's absolute.

[2016-05-19 16:05] aditya1702 commented on #341
Solved by #342 . Closing #341

[2016-05-19 16:05] #341 closed

[2016-05-19 16:06] leto commented on #320
I agree that if you are asking for a list of "sessions" (or something else) and none exist, return a 200 with an empty array. The query succeeded and the answer is nothing.

If the API call is looking for a specific entity and it doesn't exist, a 404 is more appropriate. 5xx status codes are only for server-side errors and not finding something isn't quite a server-side error.

[2016-05-19 18:58] rafalkowalski opened #343 "Interface to adding session types"
#310

[2016-05-19 18:59] rafalkowalski opened #344 "Add Data Picker to form"
#310

[2016-05-20 03:33] #330 closed

[2016-05-20 03:35] #331 closed

[2016-05-20 03:35] #332 closed

[2016-05-20 03:37] #328 closed

[2016-05-20 04:28] aviaryan commented on #338
Since we are going with absolute id's , closing this issue now. It can be reopened if needed.

[2016-05-20 04:28] #338 closed

[2016-05-20 05:37] rafalkowalski opened #345 "Add Social Link Table"
Field: name
Field: link
relation: Event has many social links
#310

[2016-05-20 05:39] rafalkowalski opened #346 "Add View to define track in event"
#310

[2016-05-20 05:49] aditya1702 opened #347 "Add test for Social Link Table"

[2016-05-20 05:56] rafalkowalski opened #348 "Upload Background Image and logo"
Do we need to upload a background image and logo or link from another service will be enough?

@juslee @aditya1702 @aviaryan

[2016-05-20 06:44] aviaryan commented on #348
I'll go with **links from other services** as storing data on our server can be tricky. We may need to use external AWS space or Digital Ocean for the same.
One thing I would like to suggest is to give a link in those type of forms to image hosting services like Imgur or [PostImage](http://postimage.org/). This will make things convenient for many people.

[2016-05-20 07:42] aviaryan commented on #320
In this case, what should be the data returned -
The string "X doesn't exist"
or
empty dict "{}" or empty list "[]"

@leto @shivamMg . I will update PR #322 according to that. Currently it returns empty dict or list.

[2016-05-20 08:23] aditya1702 commented on #348
@rafalkowalski I too think links will be better. Earlier we had tried out storing the images in a folder via an 'Upload' button but it wasnt getting stored on the Heroku server. If the storage can be done easily then we can go for upload otherwise link is better.

[2016-05-20 09:06] rafalkowalski commented on #348
Thanks guys :) @mariobehling what do you think?

[2016-05-20 13:36] niranjan94 opened #349 "Implementation of the Scheduler UI"
The Scheduler would allow the organizers to graphically schedule/manage the sessions in their conference/event. The proposed features for the Scheduler are:

1. Drag-and-drop sessions into tracks on a timeline.
1. Change the timings of the sessions by resizing the sessions' element on the timeline.
1. Create new tracks.
1. Switch between timelines of the different days of the event.
1. Print the t

[2016-05-20 19:25] shivamMg commented on #320
@aviaryan You can return a 404 with a message like:

[code]

That's how [restplus](http://flask-restplus.readthedocs.io/en/stable/errors.html) does it.

[2016-05-21 07:56] aviaryan opened #351 "HTML Template rendered when page doesn't exist in API"
If a paginated API endpoint is called with a non-existant page number, a template is rendered which should never happen in case of REST APIs.

[code]

[2016-05-21 07:57] rafalkowalski commented on #345
Done

[2016-05-21 07:57] #345 closed

[2016-05-21 08:56] #343 closed

[2016-05-21 08:57] aviaryan commented on #351
Opened PR #352

[2016-05-21 11:54] aditya1702 commented on #347
Closing #347

[2016-05-21 11:54] #347 closed

[2016-05-21 23:36] rafalkowalski opened #354 "Add Wizards steps UI"
#310

[2016-05-21 23:55] shivamMg opened #355 "GET APIs with flask-restplus | Create APIs"
Cover all point discussed at https://github.com/fossasia/open-event-orga-server/issues/336

Create a separate app. Register as a separate Blueprint (api_v2 for now).

Create APIs for all the services:

- Sessions
- Events
- Sponsors
- Tracks
- Speakers
- Microlocations
- Levels
- Languages
- Formats

Create all of these as separate namespaces in separate files, and add all of them in `api` in `__i

[2016-05-22 03:58] shivamMg opened #356 "GET APIs with flask-restplus | Handle complex API fields"
Create list and nested fields in the API models where necessary (e.g. speakers field in sessions).

[2016-05-22 05:13] championswimmer commented on #355
Let's create a standalone API-viewer repository ? I used swagger-ui and made this https://github.com/championswimmer/openevent-api (which is live on http://championswimmer.in/openevent-api)

[2016-05-22 06:37] shivamMg commented on #355
@championswimmer We might not need it. flask-restplus automatically documents the APIs corresponding to the API models https://flask-restplus.readthedocs.io/en/stable/swagger.html

I've created the GET APIs at [add/restplus-get-api](https://github.com/shivamMg/open-event-orga-server/tree/add/restplus-get-api) branch in my repo. If you want to clone, you can get the Swagger docs at http://127.0.0.1

[2016-05-22 09:41] rafalkowalski opened #357 "Problem with migration [gsoc2016] branch"

[2016-05-22 10:40] #296 closed

[2016-05-22 10:41] rafalkowalski opened #358 "Add social View"
#310
Input: name
Input Link

View should be similar to Session types View #343

[2016-05-22 17:11] niranjan94 commented on #349
@mariobehling @leto @juslee I have been working on a prototype for the Scheduling UI.

I built a basic one with:
- Drag and drop sessions into tracks
- Graphically resize sessions to change timings.

It can be previewed at https://oes-testbed.codezero.xyz/scheduling/ .

It's still a primitive interface.
Any suggestions are welcome.

[2016-05-22 17:17] niranjan94 commented on #349
As of now, it's hosted as a static site (since it's just a prototype).

If you guys are fine with this idea, I'll start implementing it into the Open Event Server UI and continue to build upon it.

[2016-05-22 19:10] SaptakS opened #359 "Make UI responsive for creating events"
As of now, when I view the new event creation page in my laptop using mozilla browser, I get something like this:

![screenshot from 2016-05-23 00 40 27](https://cloud.githubusercontent.com/assets/9530293/15455913/d9915bd0-207e-11e6-8862-ede9114df868.png)

So, we will need to work on the UI to make it responsive.

[2016-05-22 19:13] SaptakS commented on #349
I was thinking that along with drag & drop feature we can also create a new event directly by clicking or dragging over a time period. Also, if a specific time is mentioned while creating the event, it should be automatically there on the calendar.

[2016-05-22 19:15] rafalkowalski commented on #349
@niranjan94 I think it's exactly what we need.
@SaptakS great idea

[2016-05-22 19:30] rafalkowalski opened #360 "Info about current user[gsoc2016-branch]"
- [x] Name should be display on the right corner with avatar
- [x] Possibility to log out
- [x] Add Simple profile settings in openevent.com/admin/profile
      - name
      - social links
      -   email
      -   basic info
      -   avatar

[2016-05-22 21:01] aayusharora commented on #349
@niranjan94 , in this schedule tabular UI , genetellela will become unresponsive . I have checked it on my mobile . Please check if you have used col-xs

[2016-05-22 21:20] #354 closed

[2016-05-23 02:30] niranjan94 commented on #349
@SaptakS That's a wonderful  idea... I'll implement what has been done till now into the Server UI today . Then you can add that into it. Fine?

@aayusharora yea... I think I used xs. Will fix it. But I don't think the scheduler UI would be easy to use on a small screen.

[2016-05-23 04:25] aayusharora commented on #349
@niranjan94 , we have to go for something simpler for mobile then.

[2016-05-23 05:07] #351 closed

[2016-05-23 05:57] SaptakS commented on #349
I agree with @niranjan94 . Scheduler UI is something I don't thing will be used from mobile. But we will still need to make some alternative for the mobile as well..

[2016-05-23 05:58] shivamMg opened #362 "GET APIs with flask-restplus | Write tests"

[2016-05-23 06:20] aviaryan opened #363 "Inconsitent social profile fields in Speaker model"
When adding/editing a speaker, both username and full profile links are accepted as input for twitter, facebook, github and linkedin field. So type of those fields is not consistent (url or string username). This complexifies the client apps as they now have to convert the username to link themselves if one exists.

Two solutions that come to my mind -
1. Only accept full links to profile, reject

[2016-05-23 12:04] aditya1702 commented on #357
Solved by #353

[2016-05-23 12:04] #357 closed

[2016-05-23 16:15] niranjan94 opened #365 "Implement the Scheduler UI interface's base into the Server"
Implement the primitive interface of the Scheduler UI as discussed here at #349 into the Server UI so that we can start working on it.

Demo: https://oes-testbed.codezero.xyz/scheduling/

The base interface should contain:
- Drag and drop sessions into tracks
- Graphically resize sessions to change timings.

[2016-05-23 17:49] mananwason opened #367 "3rd party authentication with client apps"
@rafalkowalski @aditya1702 @shivamMg @aviaryan
We want to have a system where the client app at startup shows 3rd party auth options.
On successful authentication,
* [ ] Credentials are sent to the server using POST
* [ ] Server replies with a unique token which will be included in every request by the clients.

We need to work side by side on this issue. Please give your views and suggestions.

[2016-05-23 19:53] #344 closed

[2016-05-23 19:55] rafalkowalski opened #368 "Add Map"
#310

Map should be added and position from map should be saved to event

[2016-05-23 20:03] rafalkowalski opened #369 "Divide details view for smaller parties"
#306

[2016-05-23 20:35] #369 closed

[2016-05-24 03:05] aviaryan commented on #367
Why every request ? If I get it right, client means the web and android app. So far, the only feature I know which will require authentication is session reviews.

---

I wanted to do something like that and have written it in my proposal ([Drive Link](https://drive.google.com/open?id=1xwoWwsr9QY_TcJX7CeyQaJxAiC1G83TPlUCOWRqoM9s)) -

get access token and will send it over to server for cross verif

[2016-05-24 03:15] aditya1702 commented on #367
@mananwason @aviaryan I have already implemented this in my PR. Check here:https://github.com/fossasia/open-event-orga-server/pull/323

[2016-05-24 03:30] aviaryan commented on #367
@aditya1702 Great. I didn't knew you had added facebook authentication too. :smile:  That will surely save a lot of work.

[2016-05-24 04:05] SaptakS commented on #358
#364 fixes

[2016-05-24 04:05] #358 closed

[2016-05-24 04:21] SaptakS opened #371 "Make date fields required [GSoC2016 branch]"
If the date fields are not made required then the event creation view gives an error.

[2016-05-24 04:31] #371 closed

[2016-05-24 04:37] aditya1702 commented on #368
@rafalkowalski @SaptakS Do we need latitude and longitude fields on the event form?

[2016-05-24 05:19] rafalkowalski commented on #368
i think only location will be enough

[2016-05-24 06:46] niranjan94 commented on #365
@rafalkowalski @juslee Where should the scheduler be located ?
I don't think it should be part of the event wizard. The scheduler should a separate tool under each event.

[2016-05-24 10:34] rafalkowalski commented on #365
it's in our user stories, am I wrong? @niranjan94 @juslee
we will show this part when event will have scheduling state

[2016-05-24 10:37] niranjan94 commented on #365
@rafalkowalski yes. It's there in the user story. Okay.. I'll put as per the user story for now.

[2016-05-24 10:38] rafalkowalski commented on #365
if you have better idea please inform us :)

[2016-05-24 10:57] niranjan94 commented on #365
@rafalkowalski It actually looks good as it is :wink: .

![screenshot 47](https://cloud.githubusercontent.com/assets/2404372/15501691/72460d46-21cc-11e6-9e39-34ac8e7aeb72.png)

[2016-05-24 11:23] juslee commented on #355
Nope. Swagger is meant to be generating the doc spec after you write code. It seems to be the preferred way now in the dev world. Code is the source of truth. @shivamMg

[2016-05-24 11:23] #355 closed

[2016-05-24 11:23] juslee commented on #356
Good job.

[2016-05-24 11:23] #356 closed

[2016-05-24 11:23] juslee commented on #362
Good job with the tests.

[2016-05-24 11:23] #362 closed

[2016-05-24 11:33] SaptakS opened #376 "Multiple social links not working"

[2016-05-24 11:38] SaptakS commented on #376
https://github.com/fossasia/open-event-orga-server/pull/377 fixes

[2016-05-24 11:48] #365 closed

[2016-05-24 11:51] rafalkowalski opened #378 "Displaying Events in table[gsoc2016 - branch]"
URL admin/events/
Columns:

-  name
-  url
-  start date
- end date
- options(link to details(events/1), delete)

[2016-05-24 11:59] SaptakS commented on #376
@rafalkowalski #377 fixes this.. Please do check.

[2016-05-24 11:59] shivamMg opened #379 "RESTplus APIs"
RESTplus GET APIs have been created [link](https://github.com/fossasia/open-event-orga-server/pull/373). I've created a separate blueprint instead of putting it inside the views module. The blueprint is registered as API version2 (for now, so it doesn't conflict with api.v1). You can get the Swagger docs at [127.0.0.1:8001/api/v2](http://127.0.0.1:8001/api/v2/) and the corresponding swagger config

[2016-05-24 12:12] SaptakS opened #381 "Dragging error in Schedule UI"
If the session is dragged to the left beyond the calendar, the session is translated.
![screenshot from 2016-05-24 17 36 16](https://cloud.githubusercontent.com/assets/9530293/15503279/bd645f3a-21d6-11e6-95b2-720973582b91.png)

As we can see the session lies in an awkward position. We need to prevent this.

[2016-05-24 12:17] niranjan94 commented on #381
On it.

[2016-05-24 12:21] aviaryan commented on #337
Since API v2 has been made using flask-restplus and merged to master, we would be working on it.
So @juslee , should this issue be closed ?

[2016-05-24 12:28] #320 closed

[2016-05-24 12:28] #321 closed

[2016-05-24 12:45] aviaryan opened #383 "Wrong session swagger docs"
The swagger docs for sessions have wrong model schema . This is only happening with sessions, no other models.
[code]
![screenshot from 2016-05-24 18 10 06](https://cloud.githubusercontent.com/assets/4047597/15504211/75428132-21db-11e6-8af9-cdb7ad577d75.png)

[2016-05-24 12:50] aviaryan commented on #383
I found the reason, this is because `SESSION` variable is being modified by further imports in api/__init__.py .

[2016-05-24 13:47] aviaryan commented on #379
Great work @shivamMg .. flask-restplus is awesome .

What exactly more needs to be done here ?

[2016-05-24 13:50] aviaryan opened #385 "Add paginated responses to api v2"
API v1 used to have paginated views which would give 20 items per page.
Is the same needed to be done in API v2 ?
cc @juslee @shivamMg @leto

EDIT - See https://github.com/fossasia/open-event-orga-server/issues/385#issuecomment-221485640

[2016-05-24 15:13] leto commented on #367
@aviaryan @aditya1702 just to clarify, we will want to include these tokens in any API call that creates/edits/writes to something. Right now it seems like session reviews is the only API call that requires that, but we may add others. For instance, if we want to have an API method for logging out, the user should give us their auth_token for that, or else anybody could logout anybody else.

[2016-05-24 20:12] #378 closed

[2016-05-24 20:52] SaptakS commented on #381
@niranjan94 though I am unable to drag it entirely out of the calendar but I can still drag it half-way through..
![screenshot from 2016-05-25 02 22 20](https://cloud.githubusercontent.com/assets/9530293/15519487/4fca97d4-221f-11e6-9197-feedef6400ce.png)

[2016-05-24 20:55] SaptakS opened #386 "Improve the Draft UI for General Information[GSoC 2016 Branch]"

[2016-05-24 20:59] rafalkowalski commented on #376
done

[2016-05-24 21:00] #376 closed

[2016-05-24 22:25] SaptakS commented on #360
https://github.com/fossasia/open-event-orga-server/pull/388

Fixes:

- [x] Name should be display on the right corner with avatar
- [x] Possibility to log out
- [ ] Add Simple profile settings in openevent.com/admin/profile
      - name
      - social links
      -   email
      -   basic info
      -   avatar

[2016-05-25 02:39] niranjan94 commented on #381
@SaptakS Sorry ... I missed a commit in the PR :sweat_smile: .

[2016-05-25 04:47] aditya1702 opened #389 "End date should be greater than start date[Gsoc2016 branch]"

[2016-05-25 04:48] aditya1702 opened #390 "Edit/Delete button should not be visible if no events exist in table[Gsoc2016 branch]"

[2016-05-25 04:53] #346 closed

[2016-05-25 05:57] #383 closed

[2016-05-25 06:08] shivamMg opened #391 "API error response structure"
About what the response should be when an error is returned. The current response is something like this:

[code]

We can make it more descriptive by adding more fields like status code, custom code for developers, etc. This would help in forms like login and signup where the client developer has to display form errors. A "field" attribute would tell what field did not pass validation. But that ca

[2016-05-25 06:09] shivamMg commented on #379
@aviaryan Right now the error response just contains a message. We can make a custom error message structure with more fields. I've explained it here: https://github.com/fossasia/open-event-orga-server/issues/391

[2016-05-25 06:15] shivamMg commented on #385
@aviaryan :+1: It would be needed. I searched restplus docs for pagination support, but it didn't have it. So we will have to create our own. 20 would be fine I guess.

[2016-05-25 06:16] aditya1702 opened #392 "Event deletion error[Gsoc 2016 branch]"

[2016-05-25 06:35] aviaryan commented on #385
I was looking at some pagination styles and how to correctly create paginated APIs. DRF has some ways [here](http://www.django-rest-framework.org/api-guide/pagination/), I like Page Number pagination the most.
URL - ```https://api.example.org/accounts/?page=4```
Response -
[code]

Another good one is Limit and offset based.
```https://api.example.org/accounts/?limit=100&offset=400```
The offset is

[2016-05-25 08:24] aviaryan opened #394 "list_events url is inconsistent in API v2"
The url is `/events/` whereas it should be `/events` to be consistent with other urls.

[2016-05-25 10:25] #381 closed

[2016-05-25 10:56] niranjan94 opened #399 "Cleanup of the base Gentelella template file."
The template file at `open_event/templates/gentelella/admin/base.html` needs some clean up.
The scripts can be moved to the end of document, just before `</body>` for a better page load performance.

The changes to be done are:
1. `bootstrap.min.js`, `js/custom.js`, `js/admin.js` to be moved to the end of the body.
2. Create two new blocks. `head_js` (for scripts inside the head) and `tail_js`(for

[2016-05-25 11:29] #399 closed

[2016-05-25 11:39] rafalkowalski opened #401 "'Save Draft' button not working"
admin/events/new

[2016-05-25 11:43] rafalkowalski opened #402 "Add possibility to managing roles(Add/Remove/Update)"
It should be added to admin/events/2/ We need separate container for this(I mean something similar to Event State)

[2016-05-25 11:49] rafalkowalski opened #403 "Add flash messages"

[2016-05-25 12:55] niranjan94 opened #404 "Load live data using the API into the Scheduler."
Right now the scheduler UI displays dummy data.
Instead it has to load proper tracks and sessions using the API.

[2016-05-25 15:02] aviaryan opened #406 "Pagination in API v2 | Write tests"
See #385 for the parent issue

[2016-05-25 17:26] #394 closed

[2016-05-25 17:28] #385 closed

[2016-05-25 17:29] #404 closed

[2016-05-25 17:36] niranjan94 opened #408 "Session element overflow and overlap"
- The sessions overlap one another.
- The session name is not displayed correctly

![capture](https://cloud.githubusercontent.com/assets/2404372/15550003/0a95dbca-22cd-11e6-8381-c80687fa4caa.PNG)

- The session element is overflowing (to the left of) the designated track div.
- The session timings are overflowing due to lack of space

![capture2](https://cloud.githubusercontent.com/assets/2404372/

[2016-05-25 18:11] #389 closed

[2016-05-25 18:11] #390 closed

[2016-05-25 18:11] #392 closed

[2016-05-25 21:47] #401 closed

[2016-05-25 22:55] rafalkowalski opened #410 "Add Modal Window to Roles view"

[2016-05-25 22:59] #410 closed

[2016-05-26 05:26] SaptakS opened #411 "Add Track button in Schedule UI"
Add Track button that opens up a modal to add a track to the Schedule UI and make necessary changes in the database.

[2016-05-26 05:28] SaptakS opened #412 "Save each session change/update using the API"
Anytime a session is rescheduled (move or resize) with the scheduling UI, the updated timings and track has to be stored to the database. This can be implemented by making an API Call on each change.

[2016-05-26 06:14] aditya1702 opened #413 "feat:Display current events[Gsoc 2016 branch]"
- [ ] !completed state

[2016-05-26 07:00] aditya1702 opened #414 "feat: Display completed events"
- [ ] Only Completed state

[2016-05-26 08:27] rafalkowalski opened #415 "Merging gsoc2016 with master"

[2016-05-26 08:28] rafalkowalski opened #416 "Add a login cum authentication template(Google and Facebook login) to gentelella"

[2016-05-26 08:38] rafalkowalski commented on #368
TODO #310
- [ ] Add possibility to save location name to database, longitude and latitude
- [ ] Remove button GO! it's ugly we need a changing listener if you put Singapore location automatically location should be changed on the map
- [ ] Move Map on the right

[2016-05-26 08:40] rafalkowalski commented on #360
#profile doesn't work on the latest changes

[2016-05-26 08:46] rafalkowalski commented on #412
@juslee @SaptakS it can be difficult, because API is changing in master branch(I don't know why @aviaryan ) So we need to make merge ASAP(I've added ticket #415 to milestone 3)

[2016-05-26 09:14] SaptakS commented on #412
@rafalkowalski Yes.. So maybe we will need to do this after merging... That is the reason I added milestone 3 to this as well..

[2016-05-26 09:16] SaptakS commented on #360
What do you mean by #profile??

[2016-05-26 09:17] aviaryan commented on #412
API v2 is made using Flask-restplus. It also auto generates Swagger specification and docs. It is much better suited for our needs. Btw, just so you know, the old API (v1) is still **fully functional**.

[2016-05-26 09:35] aditya1702 commented on #416
@rafalkowalski By authentication template you mean the login template?

[2016-05-26 09:35] aditya1702 commented on #416
@rafalkowalski By authentication template you mean the login template?

[2016-05-26 10:17] rafalkowalski commented on #416
yes

[2016-05-26 11:45] rafalkowalski opened #423 "Schedulling bug"
![screen shot 2016-05-26 at 13 43 27](https://cloud.githubusercontent.com/assets/2479753/15573548/168be566-2348-11e6-8bf4-d05728c84bb5.png)

[2016-05-26 11:58] SaptakS commented on #411
Adding the view is remaining..

[2016-05-26 11:59] SaptakS commented on #423
@rafalkowalski you need to do `bower install` to install js files.. I guess you missed that.. Please check..

[2016-05-26 12:44] #408 closed

[2016-05-26 12:46] niranjan94 opened #424 "Handle session overlaps within a track on the timeline"
- Add a button to clear all session clashes. (Sessions that clash will be moved to the unscheduled column from where the user can re-assign them properly)
- Notify user if he/she tries to drop a session on an existing session.

[2016-05-26 13:04] #386 closed

[2016-05-26 13:21] niranjan94 opened #426 "Wrong end-time shown in Scheduler UI when dragging/resizing."
End end-time is wrongly displayed on the tooltip when the session is dragging or resized

[2016-05-26 13:41] #406 closed

[2016-05-26 14:12] #411 closed

[2016-05-26 14:33] #424 closed

[2016-05-27 03:54] SaptakS commented on #423
@rafalkowalski can you confirm whether this is fixed on your side?

[2016-05-27 03:55] SaptakS commented on #360
@rafalkowalski can you confirm whether this is fixed on your side? It works fine in my system.

[2016-05-27 03:58] SaptakS commented on #359
Fixed by @rafalkowalski here https://github.com/fossasia/open-event-orga-server/commit/f3e28cd566f6ed7b74cc7575dedccc5873a55b04

[2016-05-27 03:58] #359 closed

[2016-05-27 04:25] shivamMg commented on #391
Implemented at https://github.com/fossasia/open-event-orga-server/pull/409

[2016-05-27 04:25] #391 closed

[2016-05-27 07:18] aviaryan opened #429 "Write permissions module [ACL]"
Write helper permissions functions (in open_event/permissions/permissions.py preferably) to be used in the API and the views .
<strike>This is required to be implemented before moving on to implementing write APIs. </strike>

Doc Links and specifications
- https://github.com/fossasia/open-event/blob/master/docs/GSOC2016/rest-api.md#users-management-acl
- https://github.com/fossasia/open-event/blob

[2016-05-27 08:07] rafalkowalski opened #431 "Add closing date field to Database"
- [x] Closing date field type:datetime

- [x] add Date Picker
- [x] save to databas(Wizard Draft step)

[2016-05-27 12:57] #423 closed

[2016-05-28 04:15] rafalkowalski opened #433 "Change Color Picker [Creating event]"
https://colorlib.com/polygon/gentelella/form_advanced.html

[2016-05-28 04:58] rafalkowalski opened #435 "Location field bug"
if i don't choose any location, latitude and longitude are  '' this value can't be saved as float.

Error Occured

[2016-05-28 06:32] #413 closed

[2016-05-28 06:32] #414 closed

[2016-05-28 06:33] #368 closed

[2016-05-28 06:41] aviaryan commented on #429
As the roles model and roles relationships with users and events has been already created by @rafalkowalski in the gsoc branch, it is best to do this once gsoc branch is merged to master. PR #434

[2016-05-28 06:44] niranjan94 opened #436 "Allow session elements to be removed from the timeline"
Allow session elements to be removed from the timeline.
This will be helpful when the organizers want to re-organize sessions.

[2016-05-28 06:46] niranjan94 opened #437 "Make the available timings on the timeline range from 00:00 to 23:59"
Allow the organisers decide how and where to put the sessions.
For better usability, we could scroll to a more practical time range by default.

[2016-05-28 07:04] SaptakS commented on #436
I guess instead of dragging them out, we can just add a cross on the session. Clicking the cross button removes it from calendar. I think that would be a better UX and also easier to implement.

[2016-05-28 07:05] niranjan94 opened #439 "Change color picker [Scheduling UI - Add Track Modal]"
As pointed out in #433 by Rafał Kowalski, the color picker used can be the one provided along with gentelella (This one: https://colorlib.com/polygon/gentelella/form_advanced.html) so that it would match all the other widgets used.

[2016-05-28 07:06] niranjan94 commented on #436
@SaptakS Nice idea :smile: . And, yes. Very easy to implement :grin:

[2016-05-28 07:11] SaptakS opened #440 "Form Validation in Event Creation."

[2016-05-28 07:28] aditya1702 commented on #439
@niranjan94 Is this for the step 3 in event creation...adding tracks? Because I am already doing that one in #433

[2016-05-28 07:39] niranjan94 commented on #439
@aditya1702 No. This is not for that. This is part of the Scheduling UI.

[2016-05-28 08:26] SaptakS commented on #436
:+1:

[2016-05-28 08:32] #426 closed

[2016-05-28 09:09] aviaryan opened #442 "Create POST APIs"
See https://github.com/fossasia/open-event-orga-server/issues/336 for the schema

Currently these POST methods will be publicy accessible (login needed). Only after #429 is done (which in on hold currently), the access control can be added to it.

[2016-05-28 10:58] #439 closed

[2016-05-28 12:00] SaptakS opened #445 "Invite speakers for event in Call for Papers step"
- [x] Click on Invite Person to open Modal
- [x] Form in Modal to add speakers.
- [x] View for Inviting Persons
- [x] Send email to the email id

[2016-05-28 12:00] SaptakS opened #446 "Add/update closing date for papers"

[2016-05-28 12:01] SaptakS commented on #325
- [ ] Add/update closing date (https://github.com/fossasia/open-event-orga-server/issues/446)
- [ ] Invite users by email_id (https://github.com/fossasia/open-event-orga-server/issues/445)
- [ ] Users get Notified on login about the invitation
- [ ] Users submit papers
- [ ] Accept/reject papers

[2016-05-28 12:08] SaptakS opened #447 "Notification on adding tracks. [Schedule UI]"
Add success or failure notification on adding the track to DB from the modal.

[2016-05-28 12:33] niranjan94 opened #449 "Search/filter for unscheduled sessions list"
A search or a filter option could be added for searching through the unscheduled sessions list in the Scheduler. It's hard to scroll through them if the list is large.

[2016-05-28 12:57] #436 closed

[2016-05-28 13:31] #447 closed

[2016-05-28 16:24] aditya1702 opened #451 "Add colorpicker property for new added track elements"

[2016-05-28 20:40] SaptakS commented on #433
https://github.com/fossasia/open-event-orga-server/issues/451

This needs to be fixed as well.. To get this issue completed..

[2016-05-28 20:59] SaptakS commented on #433
https://github.com/fossasia/open-event-orga-server/pull/453

[2016-05-28 21:44] rafalkowalski commented on #442
@aviaryan please work on gsoc2016 branch i've updated master to gsoc

[2016-05-28 22:35] #289 closed

[2016-05-28 22:35] #348 closed

[2016-05-28 22:59] #360 closed

[2016-05-28 23:00] #403 closed

[2016-05-29 05:42] #451 closed

[2016-05-29 05:55] #435 closed

[2016-05-29 07:46] aviaryan commented on #442
@juslee Will we provide the feature to create an event from the REST API ?

@rafalkowalski Are you sure it will be a good idea considering the gsoc branch tests are failing ?

[2016-05-29 09:48] #437 closed

[2016-05-29 12:17] aviaryan opened #455 "Format missing in Session model"

[2016-05-29 13:53] niranjan94 opened #458 "Clean-up the Scheduler UI code."
The Scheduler UI javascript code contains a lot of code repetition and in-efficient data handling. This was primarily due to the fact that it was built while learning how to build something like that. This needs to be fixed before more features are added to it.

[2016-05-29 14:21] aviaryan opened #460 "POST API | Add input validation"
Currently there is almost no input validation in the POST API .
For string and integer fields, we can use the min and max length params in flask-restplus.
And for more complex fields (like email and url), we can use custom fields to do the validation.
See #474

@shivamMg views ??

[2016-05-29 14:59] #433 closed

[2016-05-29 15:40] #449 closed

[2016-05-29 16:25] juslee commented on #442
@aviaryan every feature you think should be there. You want the REST APIs to be as comprehensive as possible so that your web-app and orga-server can eventually just call the APIs.

[2016-05-30 03:58] aviaryan opened #462 "POST API | Write tests (no ACL)"

[2016-05-30 04:03] aviaryan commented on #442
@juslee Ok. Will keep that in mind.

And as for my question, I will add the method to create event in the API.

[2016-05-30 05:00] aditya1702 opened #463 "Implement backend for login"

[2016-05-30 05:50] juslee commented on #431
Who owns the API?

[2016-05-30 06:08] SaptakS commented on #446
Similar to issue https://github.com/fossasia/open-event-orga-server/issues/431 . So closing this issue.

[2016-05-30 06:08] #446 closed

[2016-05-30 07:28] rafalkowalski commented on #431
@juslee @aviaryan there are only GET Method implemented
I need PUT

I'm able to write it without API but then i will have to rewrite it to API

[2016-05-30 07:30] rafalkowalski commented on #463
- [ ] Sending emails
- [ ] login via facebook
- [ ] via google
- [ ] forget password

[2016-05-30 08:01] aviaryan commented on #431
@rafalkowalski Which model is closing date field part of ? Is it a new field ?

[2016-05-30 08:26] aditya1702 commented on #431
@aviaryan its part of the event table

On Mon, May 30, 2016 at 1:31 PM, Avi Aryan <notifications@github.com> wrote:

[2016-05-30 09:25] shivamMg opened #464 "Put responses and params under `api.doc` decorator"
- Specify parameters for `api.doc` instead of using separate <del>response and</del> param decorators. e.g. in [tracks](https://github.com/fossasia/open-event-orga-server/blob/master/open_event/api/tracks.py#L54).
- Add description to parameters. (and type https://github.com/fossasia/open-event-orga-server/issues/472)
- Document "Object not found" error properly (specify object, track, session, et

[2016-05-30 10:01] aditya1702 commented on #440
@SaptakS @rafalkowalski Earlier we had wtforms so we could easily validate the forms.But how do we validate request.form?

[2016-05-30 10:03] aviaryan commented on #464
Hi. Can you explain the reason why keeping everything inside `api.doc` will be more helpful ?
Using api.params, api.response, api.header etc helps keep them distinct and makes the code more readable (IMHO).

[2016-05-30 13:50] aditya1702 opened #467 "Implement password reminder functionality"

[2016-05-30 13:50] aditya1702 opened #468 "Implement google and facebook login"

[2016-05-30 13:51] #416 closed

[2016-05-30 15:08] SaptakS commented on #440
We can validate the forms in the frontend itself using jquery validate.

[2016-05-30 16:36] mananwason commented on #468
@aditya1702 Please see #367. It's the same issue I suppose.

[2016-05-30 20:16] #402 closed

[2016-05-30 21:35] SaptakS opened #469 "Improve registration page UI"

[2016-05-31 03:20] aditya1702 commented on #468
@mananwason My mistake..I hadnt seen it. will close this

[2016-05-31 03:20] #468 closed

[2016-05-31 04:41] shivamMg opened #472 "Invalid parameter types for paginated responses"
The data types for `start` and `limit` should be integers. Swagger is documenting them as strings instead.

[2016-05-31 04:53] shivamMg commented on #464
@aviaryan To remove duplicate code. For instance to solve https://github.com/fossasia/open-event-orga-server/issues/472 I would have to go to every other service and overwrite:

[code]

to

[code]

It would be better to just specify a constant and pass it to doc decorator.

[code]

I did not do it for the response decorators though, their descriptions had the service names.

[2016-05-31 05:02] #469 closed

[2016-05-31 06:10] aviaryan commented on #464
@shivamMg Neat idea :+1: . Thanks for clearing that up.

[2016-05-31 06:26] aviaryan opened #474 "Create custom fields for email, urls and other data types"
Create custom fields for url, email, color etc. This will help show better example responses and payloads in Swagger specs and possibly help us to validate those fields in a neat manner.

[2016-05-31 07:02] mananwason opened #475 "Add number of days in the event creation page."
This functionality will be used to create a dynamic schedule based on the number of days the event is scheduled for.

[2016-05-31 07:07] mananwason opened #476 "Create dates.json to show event dates"
@juslee @rafalkowalski @leto @championswimmer for the client apps, we need a list of dates for the schedule which references the session, so that we can sort sessions according to date. Either we can do this on the client side or on the server side. I'm confused on where we should add this functionality. Please comment.

[2016-05-31 12:07] #467 closed

[2016-05-31 14:08] niranjan94 opened #480 "Persistence of timeline across day switching"
The data on the timeline is not persistent when switching dates. (i.e), any changes made under a date, changes when the date is switched.

[2016-05-31 14:13] niranjan94 opened #481 "'Fix Overlaps' functionality has become much slower"
The Fix overlaps functionality seems to have become slower than before causing an approximate of `3` seconds of UI blocking.

Possible solutions would be, rework of the `collision` function. Profiling might give us more clues into what is causing the CPU load.

This was first implemented in #427 by @niranjan94 .

[2016-05-31 14:13] niranjan94 opened #482 "Sessions can be dropped onto existing sessions"
We are able to drop sessions onto existing sessions causing an overlap. This must not be allowed. The session should return to it's original location if it is being dropped onto an existing sessions.

This was first implemented in #375 by @niranjan94 .

[2016-05-31 14:51] aditya1702 opened #483 "Write tests for login"

[2016-05-31 19:09] #445 closed

[2016-05-31 19:13] SaptakS opened #485 "Form to submit papers"
openevent.com/events/1234/submit-session
- [x] Form to submit papers.
- [x] Link to the form sent via email while inviting speakers.

[2016-05-31 19:59] #431 closed

[2016-06-01 05:03] rafalkowalski opened #486 "Closing date value not changing in form"

[2016-06-01 05:09] #458 closed

[2016-06-01 05:10] rafalkowalski commented on #415
@juslee #434 please merge

[2016-06-01 14:15] #481 closed

[2016-06-01 16:45] aditya1702 opened #490 "Style of buttons on the login page"

[2016-06-01 17:46] rafalkowalski opened #491 "Bug When sign in via google"
Profile site doesn't work
![screen shot 2016-06-01 at 19 44 58](https://cloud.githubusercontent.com/assets/2479753/15719740/8f50492c-2831-11e6-9eee-3e052d0b6146.png)

[2016-06-01 17:49] rafalkowalski opened #492 "User event's should be only visible in admin page"

[2016-06-01 18:13] aditya1702 opened #493 "Editing an event"

[2016-06-01 18:55] rafalkowalski commented on #493
- [ ] Create url admin/events/id/edit
- [ ] The same process as creating event(wizard)
- [ ] Wizard should be filled by data from database
- [ ] Add button to General info panel which will redirect from  admin/events/id to admin/events/id/edit

[2016-06-01 19:37] #492 closed

[2016-06-01 21:29] SaptakS opened #495 "Display Sessions"
Display all sessions for an event to the Organizer.

[2016-06-01 21:32] SaptakS opened #496 "Tests for Session view"

[2016-06-02 05:39] #485 closed

[2016-06-02 05:40] #490 closed

[2016-06-02 08:36] aditya1702 commented on #491
@rafalkowalski It is working for me. I did Google sign in

[2016-06-02 08:38] rafalkowalski commented on #491
if you go to /admin/profile is it working?

[2016-06-02 08:54] aditya1702 commented on #491
![profile](https://cloud.githubusercontent.com/assets/15054664/15739440/aed392c6-28cd-11e6-8ba6-988c78138ae5.png)

[2016-06-02 09:21] #482 closed

[2016-06-02 12:21] aditya1702 commented on #491
@rafalkowalski Ok now I am getting an error..I dont know why earlier I wasnt!

[2016-06-02 13:23] #463 closed

[2016-06-02 13:23] #483 closed

[2016-06-02 13:24] #299 closed

[2016-06-02 14:23] #495 closed

[2016-06-02 17:44] rafalkowalski opened #500 "Update user details doesn't work if sign in via google or facebook"
- [ ] create UserDetails model during sign up

[2016-06-02 17:45] #491 closed

[2016-06-02 17:55] rafalkowalski opened #501 "Create Sessions Page"
- [x] add page with url: admin/sessions/
- [x] only user sessions visible
- [x] Add table with columns Event, Title, Session Type, Start Date, End Date, State

[2016-06-02 18:29] #480 closed

[2016-06-02 20:51] SaptakS commented on #501
Table with Event, Title, Start_Date, End_Date, State already present. https://github.com/fossasia/open-event-orga-server/pull/494

[2016-06-02 20:53] SaptakS opened #502 "Add Speakers to a Session"
Organizer should be able to add speakers to a particular session.

[2016-06-02 21:22] rafalkowalski commented on #502
@SaptakS Maybe during scheduling process when organizer click on session, he will be able to edit and add speakers. What do you think?

[2016-06-02 21:54] SaptakS commented on #502
Yeah. That can be done. Or while editing session, if the user is organizer, we can give him an option to add speakers maybe.. We can keep both functionalities I think.

[2016-06-02 23:53] SaptakS opened #503 "Edit sessions"
View to edit sessions.

[2016-06-02 23:54] SaptakS opened #504 "Accept/Reject Session view"
View for organizer to either accept or reject the session

[2016-06-03 06:15] shivamMg opened #506 "[gsoc2016] Register front-end libraries as bower dependencies"
There are many static dependencies in the gsoc2016 branch that have been committed to the repo.

I'll remove them and register them as bower dependencies. It'll fix all issues related to js and css libraries: https://github.com/fossasia/open-event-orga-server/pull/434

[2016-06-03 06:17] shivamMg opened #507 "[gsoc2016] Fix all js and css codacy issues"
https://github.com/fossasia/open-event-orga-server/pull/434

[2016-06-03 06:29] SaptakS commented on #500
@rafalkowalski this bug occurs on logging through fb or gmail,right?

[2016-06-03 06:39] aviaryan commented on #474
Opened PR #484

[2016-06-03 07:06] aviaryan opened #508 "Add instructions about enabling development config to README"
Development config can be enabled by setting APP_CONFIG env var to "config.DevelopmentConfig".

[2016-06-03 08:19] mariobehling commented on #501
Who is working on this issue? Please assign.

[2016-06-03 08:33] aviaryan opened #510 "Create DELETE APIs"
See #336 for the schema

Currently these POST methods will be publicy accessible (login needed). Only after #429 is done (which in on hold currently), the access control can be added to it.

[2016-06-03 10:19] niranjan94 commented on #507
@shivamMg while you're fixing this issue, could you leave the following js/css files untouched ? I'm working on them and it'll be better if there are no conflicts. I'll fix the issues in these files myself.

1. `open_event/static/css/admin/scheduling.css`
2. `open_event/static/js/jquery/jquery.codezero.js`
3. `open_event/static/js/admin/event/scheduling.js`

[2016-06-03 10:26] niranjan94 opened #511 "Sort unscheduled sessions alphabetically"
The list of unscheduled sessions can be sorted alphabetically based on the session title so that it's easier for the organizer to find a session.

[2016-06-03 10:28] niranjan94 opened #512 "Option to Export timeline as PNG"
An option could be provided to allow the organizer to export the timeline as a PNG. (Which could be printed and distributed to the participants or displayed somewhere at the venue or emailed to all registrants).

[2016-06-03 10:44] SaptakS commented on #412
@rafalkowalski @juslee can the branches be merged asap? I can't work on this issue as long as the branches are not merged..

[2016-06-03 10:51] niranjan94 opened #513 "Edit a session from the timeline"
Allow the organizer to edit a session from the Scheduler UI's timeline itself. The organizer must be able to modify basic aspects of the session (title, description, abstract timings, etc)

(As suggested by @rafalkowalski in #502 )

[2016-06-03 10:52] SaptakS commented on #501
@rafalkowalski on visiting admin/sessions/ , we need to show the session belonging only the user logged in, right? Thats what you are trying to say?

[2016-06-03 10:56] SaptakS opened #514 "Option to export timeline as ical"

[2016-06-03 10:58] SaptakS opened #515 "Interface to edit Session [Schedule UI]"
- [x] Open modal on clicking edit on a session
- [x] Form in modal to edit session

[2016-06-03 11:09] SaptakS opened #516 "Save the edit session info to backend[Schedule UI]"
- [x] Submit form data through ajax. (#673)
- [x] Update info in the schedule UI frontend. (#673)

[2016-06-03 11:09] SaptakS commented on #513
Interface: https://github.com/fossasia/open-event-orga-server/issues/515
View: https://github.com/fossasia/open-event-orga-server/issues/516

[2016-06-03 12:40] rafalkowalski commented on #516
@SaptakS We need to send an email to speaker that some info was changed

[2016-06-03 12:41] SaptakS commented on #516
@rafalkowalski thats a nice idea.

[2016-06-03 13:13] SaptakS commented on #514
@rafalkowalski @juslee @niranjan94 Needed some suggestion on how to do this. There is a library called [ical.js](https://github.com/nwcell/ics.js) which I think can be used. What do you all think?

[2016-06-03 13:23] aviaryan commented on #514
I think it is better if the generation of ical is done from server side. There is an even a basic functioning version available in the orga-server. Go to `event/1/export/ical` .. We can update it and make it more suitable.
Having the ical export on server side will also mean less load on client's system.

[2016-06-03 13:23] shivamMg commented on #507
@niranjan94 Are these custom generated files?

Also, these are the external libraries in use:

- jscolor
- pnotify (seems to be custom generated, is it?)
- SmartWizard
- google-material-color

Can you confirm? I need to put them as bower dependencies.

[2016-06-03 14:06] aditya1702 opened #518 "Extra elements created on clicking add button in edit event wizard"
![edit_bug](https://cloud.githubusercontent.com/assets/15054664/15781177/85c7762c-29c2-11e6-8f6c-02e600af5bb9.png)

[2016-06-03 14:12] rafalkowalski opened #519 "Change name of "Save Draft" button to "Update""
Edit view

[2016-06-03 14:28] rafalkowalski opened #520 "Why details about event disappeared"
page admin/events/
![screen shot 2016-06-03 at 16 26 13](https://cloud.githubusercontent.com/assets/2479753/15781841/2a1cdc46-29a8-11e6-9466-6f7387eb7225.png)

i'm not able to go to view of proper event admin/events/1

[2016-06-03 16:59] shivamMg opened #521 "Fix all python issues in gsoc2016 branch"

[2016-06-03 17:59] the-dagger opened #522 "Create a model to store the json received from app-generator webpage"
As discussed with @aviaryan, we'll be needing to store the input data received from [here](http://fossasia.github.io/open-event-android/) and then make the json file available for download.
I have already converted the data to json object and need to store them to a database.
For now we need to store only the Email, App's Name and API Link but in future, we will be needing to store 4 more json fil

[2016-06-03 19:46] rafalkowalski opened #523 "Deploy to heroku doesn't work"
- [ ] add node js to heroku

[2016-06-03 22:04] rafalkowalski opened #524 "Create branch Development"
We need this branch, because we need to test everything before we will send changes to master branch.

Once a week someone will be responsible to merge this branch with master(in near future we can do it automatically).
This solution allows us to make a release! 😄

What do you think guys @SaptakS @niranjan94 @aditya1702 @juslee @aviaryan @shivamMg  ?

So please make pull request to development bra

[2016-06-03 23:02] rafalkowalski opened #525 "Problem with javascript dependencies"
#529
![screen shot 2016-06-04 at 01 01 32](https://cloud.githubusercontent.com/assets/2479753/15795221/02df00da-29f0-11e6-8cba-b336cc04a33f.png)

[2016-06-04 00:37] #493 closed

[2016-06-04 01:45] shivamMg commented on #525
@rafalkowalski You need to install bower dependencies. Go to the root where `bower.json` resides and do a `bower install`.

[2016-06-04 02:09] #507 closed

[2016-06-04 02:09] #506 closed

[2016-06-04 03:07] niranjan94 commented on #524
@rafalkowalski good idea :+1:

[2016-06-04 03:11] aditya1702 commented on #524
@rafalkowalski I think this is nice idea! :+1:

[2016-06-04 04:03] #521 closed

[2016-06-04 04:18] shivamMg opened #527 "Improve helpers for API tests"
Helper functions that create test values in db generate only one type of value ('SomeEvent', 'SomeTrack', etc.). Improve them so they can save more values with different names.

[2016-06-04 06:50] mariobehling commented on #515
Please provide screenshots of the UI. Usually they should be provided beforehand.

[2016-06-04 06:56] mariobehling commented on #514
@aviaryan @SaptakS Yes, we also need an ical file for the web app. So, if it is generated on the server it seems best.

[2016-06-04 07:07] aviaryan opened #528 "Unable to create tables on a fresh setup (problem with migrations)"
I get the following error in heroku. The same happens if I try to freshly create the database (tables) using `python manage.py db upgrade` on my local system.

Three revisions (6097b0a20149 98166ca15055 f549304b0b46) are all creating the user_detail model, that is the reason for this issue.

[code]

@rafalkowalski @aditya1702 Please take a look

[2016-06-04 07:09] aviaryan commented on #524
Good idea. :+1: We can work on week days and have the merge to master done sometime in weekends.
I have setup https://open-event-test.herokuapp.com to automatically deploy the development branch but encountered an issue (#528) . @rafalkowalski Please see

[2016-06-04 07:25] aviaryan commented on #522
We can create a model "CustomApp" with fields email, app_name, api_link and text fields for the json files to store the data. And then make the json response fetchable from `openevent.com/api/v2/customapps/id`.
The json you get from above url will be like
[code]

[2016-06-04 07:33] SaptakS commented on #515
@mariobehling the screenshots of the UI are provided in the Pull Request.

[2016-06-04 07:37] SaptakS commented on #524
@rafalkowalski This is a good idea.

[2016-06-04 07:53] the-dagger commented on #522
Sounds great. 👍
@mananwason have a look.

[2016-06-04 07:58] SaptakS commented on #515
![screenshot from 2016-06-03 17 27 46](https://cloud.githubusercontent.com/assets/9530293/15798456/dfd03494-2a56-11e6-9093-e1eabfc4d008.png)

@mariobehling @juslee @rafalkowalski here are the screenshots.

[2016-06-04 08:05] SaptakS opened #529 "Frontend (css, js) not working"
Some of the styling seems to be not working in the master branch. For example,
- [x] Styling for buttons in create new event is not working.
![screenshot from 2016-06-04 01 29 30](https://cloud.githubusercontent.com/assets/9530293/15798512/a3344410-2a58-11e6-9833-b66bbeea5771.png)

- [x] Styling in edit event seems to be messed up.
![screenshot from 2016-06-04 01 32 01](https://cloud.githubusercon

[2016-06-04 08:09] #519 closed

[2016-06-04 08:21] #524 closed

[2016-06-04 08:21] the-dagger commented on #522
@aviaryan there are 2 more json files that the user can upload which are `Json for tracks` and `Json for locations`, so please add those fields too in the model.
I have made the edit in your comment.
Cheers.

[2016-06-04 08:31] aviaryan commented on #522
@the-dagger I know. I had left them intentionally, was too lazy to write them. :stuck_out_tongue_winking_eye:
btw, is this issue urgent or can it wait for a day or two. I have planned different things today so might not be able to work on it.

[2016-06-04 08:35] #442 closed

[2016-06-04 08:36] #455 closed

[2016-06-04 08:40] #508 closed

[2016-06-04 08:43] #525 closed

[2016-06-04 08:47] rafalkowalski commented on #500
yes

[2016-06-04 08:48] mananwason commented on #522
@aviaryan Yes this issue is really urgent. Please implement this asap as we need to resolve this on the android side as well by tomorrow. Thanks

[2016-06-04 08:49] SaptakS commented on #525
@shivamMg the problem wasn't in `bower install` . I believe @rafalkowalski had already done that. The problem was that you didn't change the smartWizard.js link in a file.

[2016-06-04 08:53] aviaryan commented on #462
Done in #459

[2016-06-04 08:53] #462 closed

[2016-06-04 08:54] #415 closed

[2016-06-04 08:56] rafalkowalski commented on #475
@mananwason we have two fields, start and end? i think based on this values you are able to count numbers of days isn't it?

[2016-06-04 09:01] aviaryan commented on #528
I am on it

[2016-06-04 09:01] SaptakS commented on #529
@rafalkowalski @shivamMg The code written in SmartWizard we had locally is different from the one installed through bower.
For example:

Local js file
![screenshot from 2016-06-04 02 28 03](https://cloud.githubusercontent.com/assets/9530293/15798734/e64228c8-2a60-11e6-8047-95330ca2098b.png)

js file installed from bower:
![screenshot from 2016-06-04 02 28 36](https://cloud.githubusercontent.com/as

[2016-06-04 09:21] mananwason commented on #475
@rafalkowalski yes I can do that but this would increase overhead on the android side, which will slow the app, instead of the start and end fields, which are not being used anywhere, number of days should be there

[2016-06-04 09:59] #464 closed

[2016-06-04 10:00] #472 closed

[2016-06-04 10:04] aditya1702 commented on #528
@aviaryan could you do python drop_db.py. That will solve the problem

[2016-06-04 10:13] #520 closed

[2016-06-04 10:22] rafalkowalski commented on #475
@SaptakS what do you think? is it good idea to count range?

[2016-06-04 10:31] #500 closed

[2016-06-04 10:32] aviaryan commented on #522
@mananwason Ok. I will work on it tonight or tomorrow morning after doing #528

[2016-06-04 10:35] aviaryan commented on #523
Is nodejs being used in the project ? What is the exact problem here ?
I was trying to deploy development branch to my heroku but faced issues. Dropping database and re-initializing project didn't work. Thus I opened #528 and am working on it.

[2016-06-04 10:37] aviaryan commented on #528
@aditya1702 didn't work. I also tried deleting the database from the psql shell and recreating it.
What is stamp head, I don't think it should be relevant in my case though as I am already deleting the database and re-running upgrade with `python manage.py db upgrade`

[2016-06-04 10:43] SaptakS commented on #529
Updated new.js to add the bootstrap classes to the buttons in PR #533

Before:
![screenshot from 2016-06-04 01 29 30](https://cloud.githubusercontent.com/assets/9530293/15799098/397283e0-2a6f-11e6-83fe-00b3b06fd5f6.png)

After:
![screenshot from 2016-06-04 04 09 53](https://cloud.githubusercontent.com/assets/9530293/15799099/41242fb2-2a6f-11e6-86ac-b74f20d32ab9.png)

[2016-06-04 10:46] rafalkowalski commented on #529
![screen shot 2016-06-04 at 12 46 18](https://cloud.githubusercontent.com/assets/2479753/15799114/6622707a-2a52-11e6-870d-b7b2776a116a.png)

[2016-06-04 10:47] SaptakS commented on #475
@rafalkowalski @mananwason I think if you are using API to get the information in the app, we can send the number of days in the json by calculating end-start dynamically rather than storing it in DB. What do you think?

[2016-06-04 10:48] SaptakS commented on #529
@rafalkowalski on it.

[2016-06-04 10:54] aviaryan opened #534 "Slogan field no longer in Event model"
The following error comes when trying to POST an event. Travis CI was not able to catch it because the event model was not tested for creating events. (due to issue with SQLite date time)
[code]

[2016-06-04 10:55] aviaryan commented on #534
Also url is event_url

[2016-06-04 10:58] SaptakS commented on #529
@rafalkowalski https://github.com/fossasia/open-event-orga-server/pull/535 fixes the issue.

[2016-06-04 11:05] SaptakS commented on #534
@rafalkowalski @juslee I had the same issue while testing the APIs for iCal export. Should we have the slogan field? And what about the event_url? We need to make the changes accordingly.

[2016-06-04 11:06] SaptakS commented on #529
@rafalkowalski @aditya1702 @shivamMg I guess this issue can be closed. Please verify.

[2016-06-04 11:06] rafalkowalski commented on #529
@SaptakS color-picker has a bug ;p

[2016-06-04 11:07] SaptakS commented on #515
@mariobehling @rafalkowalski @juslee can you verify if this issue is completed?

[2016-06-04 11:12] aditya1702 commented on #534
@SaptakS @aviaryan earlier we are not storing any data from the form to the slogan field of the event. So why do we require the slogan field. Also we are using two urls in the form - one for background , for which I created a column and other is event_url which is getting stored in the event_url field

[2016-06-04 11:17] aditya1702 commented on #528
@aviaryan please check gitter!

[2016-06-04 11:19] #534 closed

[2016-06-04 11:55] rafalkowalski commented on #529
@SaptakS @shivamMg @niranjan94
![screen shot 2016-06-04 at 12 46 18](https://cloud.githubusercontent.com/assets/2479753/15799409/ee279ea6-2a5b-11e6-8a7b-3013f994708b.png)

[2016-06-04 12:29] rafalkowalski opened #538 "please setup bower install during vagrant setup"

[2016-06-04 12:41] #474 closed

[2016-06-04 13:00] aviaryan opened #540 "Post API to create event failing"
In gsoc branch, a new column (role) has been introduced in eventsusers model which is not fulfilled by the current POST method.
[code]

[2016-06-04 13:29] aviaryan commented on #540
Fixed by #541

[2016-06-04 13:30] #540 closed

[2016-06-04 13:39] shivamMg commented on #529
@rafalkowalski I've fixed the datepicker and moment links here: https://github.com/fossasia/open-event-orga-server/pull/542

[2016-06-04 13:43] shivamMg commented on #538
@rafalkowalski I see you haven't assigned this to anybody. Can I take this one?

[2016-06-04 13:46] rafalkowalski commented on #538
@shivamMg of course :)

[2016-06-04 14:00] shivamMg commented on #523
@aviaryan node -> npm -> bower

[2016-06-04 14:24] aviaryan commented on #523
@shivamMg LOL :smile: I almost forgot about that. No wonder why the UI looked so blank. So the need in this issue is to run `bower install` on heroku so that frontend dependencies are loaded, right ?

[2016-06-04 14:29] SaptakS commented on #529
@shivamMg merged. @rafalkowalski can you please check once. It should be fixed now I guess.

[2016-06-04 14:33] aviaryan commented on #523
@rafalkowalski We will need access to the heroku open-event app for this. Do you have access ?
I will like to do this but only tomorrow.

[2016-06-04 14:52] rafalkowalski commented on #523
Please give me your email

[2016-06-04 14:53] aviaryan commented on #523
avi.aryan123@gmail.com
On Jun 4, 2016 20:23, "Rafał Kowalski" <notifications@github.com> wrote:

[2016-06-04 14:53] rafalkowalski commented on #523
done

[2016-06-05 04:08] shivamMg opened #545 "Add tests for listed event/services"
Currently only specific event/services are checked for GET method. There are no tests for listed event/services (e.g. '/events', '/events/1/tracks/1', etc.)

[2016-06-05 06:25] aviaryan commented on #545
fixed by #544

[2016-06-05 06:25] aviaryan commented on #527
fixed by #544

[2016-06-05 06:25] #527 closed

[2016-06-05 06:25] #545 closed

[2016-06-05 08:02] mariobehling opened #546 "Sign in with Google sends me to localhost"
http://open-event.herokuapp.com/

http://localhost:8001/gCallback?state=KSWNUPskXcFa92AMQ0NSz5PjPhTWoU&code=4/sLamGaCxmCm5HSPpuZzLNBoX-BPsihmvFc4KaluuHJw#

[2016-06-05 08:09] mariobehling opened #547 "Do not require username, only use email address as login"
The signup pages requires a username. Not sure why this is necessary. Please compare to sign up procedure of eventbrite for example. Simply use email address.

[2016-06-05 08:26] rafalkowalski commented on #546
@mariobehling I will fix it

[2016-06-05 08:26] rafalkowalski commented on #547
@aditya1702 Please check

[2016-06-05 08:31] mariobehling commented on #515
@SaptakS Cannot see this completed in the live version. I am moving to testing the live version from now on. Please show it, so we can confirm it is working online here http://open-event.herokuapp.com

[2016-06-05 08:34] mariobehling commented on #503
Please provide a screenshot, so we understand what is getting developed.

[2016-06-05 08:37] aditya1702 commented on #546
@rafalkowalski This is because I have included localhost as the address in my Google Developers Console through which i acquired the client secrets and ids. Let me do this I will add the address for the heroku app

[2016-06-05 08:38] aditya1702 commented on #547
Ok will do

[2016-06-05 08:50] mariobehling commented on #516
@rafalkowalski @SaptakS Please implement the main feature first. We can implement "send update to speaker" in a second step. This can be done like at Google Calendar after a user edits the calendar and saves, there is a pop up message "Do you want to inform other participants of changes? | Send Email | Cancel"

[2016-06-05 08:53] mariobehling opened #548 "Make table sortable according to menu item selected"
It should be possible to sort the table according to any menu item clicked by the organizer e.g. start time, name, speaker etc. This goes further than what was suggested in issue https://github.com/fossasia/open-event-orga-server/issues/511

[2016-06-05 08:53] mariobehling commented on #511
Please refer to issue #548

[2016-06-05 08:56] rafalkowalski commented on #546
@aditya1702 No! It shouldn't be manually added

[2016-06-05 09:00] #529 closed

[2016-06-05 09:15] aviaryan commented on #523
After fixing this, should I send a PR to development or master ? @rafalkowalski

[2016-06-05 09:17] SaptakS opened #549 "Create .ics file to store iCal for exporting"

[2016-06-05 09:18] SaptakS commented on #514
@mariobehling @aviaryan created an issue to create ical file on the server #549

[2016-06-05 09:22] aditya1702 commented on #546
@rafalkowalski I dont think there is any other way. http://stackoverflow.com/questions/23717452/how-to-add-multiple-redirect-uris-for-google-oauth-2

[2016-06-05 09:27] mariobehling commented on #510
Please assign all issues. Cheers.

[2016-06-05 09:28] aditya1702 commented on #546
@rafalkowalski I am not talking about adding it in the code...I am talking about adding it to the list of redirect uris in Google Developers Console. If it is not in that list it wont get redirected even if we add that url to our code.

[2016-06-05 09:31] SaptakS commented on #515
@mariobehling the heroku deployment isn't completed. None of the bower dependencies have been installed. So can't show in the live version. The Scheduling UI isn't functional in the live version.

[2016-06-05 09:33] mariobehling commented on #522
@mananwason @the-dagger I am confused why this is urgent and why this needs to be implemented right away in the server. As far as I can see, it is urgent for the Android app project to have a generator. As @juslee mentioned many times as a first step it is enough to use existing JSON files. Please focus on this.

[2016-06-05 09:38] mariobehling commented on #522
@the-dagger Why do we need to store data in a database? Aren't there simpler ways to do this? How about defining a JSON for that as well? A database for a few entries seems overkill.

[2016-06-05 09:44] mariobehling commented on #515
@SaptakS If you know how to do it, please help Rafal or feel free to set up the system somewhere else.

[2016-06-05 09:44] mananwason commented on #522
@mariobehling We are working on setting the app generator on a digital ocean server, we have the script for generating the apk ready but to make it customisable, we need to test it with the inputs from the user. @the-dagger says that we will have to store the data on the server and then make a GET request for the file. The file is then added to the directory and packaged as an apk.

[2016-06-05 09:45] rafalkowalski commented on #523
development

[2016-06-05 09:45] SaptakS commented on #515
@mariobehling I am already doing it. But I don't understand how this specific issue is related to heroku deployment?

[2016-06-05 09:47] the-dagger commented on #522
@mariobehling We are storing the object to a db as I had discussed this with @aviaryan and he suggested for the same.
The server will then provide us with a URL in flash for these files so that they can be packaged while building the app on DigitalOcean.

[2016-06-05 09:49] rafalkowalski commented on #546
ok i didn't know

[2016-06-05 09:52] mariobehling commented on #515
Also deploy new features and bugs solved somewhere, where we can test. Apparently a number of team members do not know how to set up the project online and enable people to do it with ease. So, this should be part of the development process then.

Please always provide a link where we can test new development from now on.

[2016-06-05 09:54] #475 closed

[2016-06-05 09:55] SaptakS commented on #515
@mariobehling on it.

[2016-06-05 10:00] aditya1702 opened #551 "Save Track color to database"

[2016-06-05 10:12] #528 closed

[2016-06-05 10:14] mariobehling commented on #476
Please refer to the JSON files provided from the Open Event Scraper currently. All info should be in the JSON files.

[2016-06-05 10:14] #476 closed

[2016-06-05 10:15] mariobehling commented on #367
This functionality is already on the feature list of Rafal.

[2016-06-05 10:15] #367 closed

[2016-06-05 10:18] aditya1702 commented on #547
@mariobehling The register page will take in the user name just for the data but the login page will have only email and password fields. Is this ok?

[2016-06-05 10:21] #504 closed

[2016-06-05 10:23] mariobehling commented on #547
@aditya1702 No need for username. Email is the username. Please keep it simple. Why make it complicated? We referred many times to other service Eventbrite, Eventnook, any social media. Please check there again and keep everything super easy for users in future.

[2016-06-05 10:24] aditya1702 commented on #547
@mariobehling Ok

[2016-06-05 10:41] niranjan94 commented on #523
Fixed now :smile: ... closing !

[2016-06-05 10:41] #523 closed

[2016-06-05 10:53] aviaryan commented on #523
@niranjan94 please assign issue to yourself before working on it. I too had the patch ready but was late by about 10 mins. :smile:

[2016-06-05 11:03] aviaryan commented on #460
on it

[2016-06-05 11:14] niranjan94 commented on #523
@aviaryan Oh ... I'm sorry ... I noticed this issue only after fixing it. My apologies :sweat_smile:

[2016-06-05 11:18] SaptakS commented on #549
You can test it here:
http://open-event.herokuapp.com/api/v1/event/2/export/ical

To get the file:
http://open-event.herokuapp.com/calendar/event_calendar/event-calendar-2.ics

@rafalkowalski @mariobehling

[2016-06-05 11:18] #549 closed

[2016-06-05 11:23] #547 closed

[2016-06-05 12:11] #551 closed

[2016-06-05 12:11] aviaryan commented on #523
@niranjan94 no problem. :smile_cat:

[2016-06-05 12:32] aviaryan opened #562 "Tests on development branch failing"
This is due to change in track model in #560

[2016-06-05 12:52] mariobehling commented on #324
Let's also get the UI right. Currently it is difficult to reduce the width and the UI does not display well on small and mobile screens. Please fix:
* [ ] top line of 1-2-3-4 should scale smaller than currently possible. Also ensure distance between all points is even
* [ ] in smaller width the is a scroll bar inside the window that comes up (see below). Ensure that the sites adapts to different s

[2016-06-05 13:00] aviaryan opened #565 "Use ColorType field in color field of track model"
Event model uses a ColorType field `color = db.Column(ColorType)`
Maybe the same should be used for track

@aditya1702 what do you think ?

[2016-06-05 13:01] aviaryan commented on #565
anyone willing to work on the issue please assign themselves.

[2016-06-05 13:04] niranjan94 commented on #511
@mariobehling I'm not talking about the table here. This is the list of the unscheduled sessions that are displayed in the Scheduler UI. So, this is a different issue from #548.

[2016-06-05 13:04] aditya1702 commented on #565
@aviaryan What is the difference in db.String and db.ColorType? I mean presently the colour is saved to the db

[2016-06-05 13:06] shivamMg commented on #337
@aviaryan I'm closing this issue. We will most probably be removing version 1 APIs after webapp and android client stop using them.

[2016-06-05 13:06] #337 closed

[2016-06-05 13:07] mariobehling opened #566 "Wizard line corrections and order"
![screenshot from 2016-06-05 15 10 42](https://cloud.githubusercontent.com/assets/1583873/15805590/b49da264-2b2f-11e6-9932-e50bbea00a31.png)

I see a number of errors in the text of the green line wizard. Let's keep it simple and avoid mistakes.
* [x] No need for description or menu items (Please take out descriptions of steps, e.g. "Define session types in session")
* [x] Name menu points as foll

[2016-06-05 13:12] shivamMg commented on #460
@aviaryan We can do validation using existing forms. This can make our validation consistent across the project. So if the validation at the forms is changed, we will not have to update our validators at api. This of course requires forms to be properly defined.

What do you say?

[2016-06-05 13:14] aditya1702 commented on #566
@mariobehling there are some columns in the database for event which we are not using...email and color..Should we remove them?

[2016-06-05 13:15] mariobehling opened #568 "How do you plan to handle room assignments"
The question for the rooms is essential for building the schedule. If a track is in a room, there should be an option in the UI "tick here if all tracks run in a dedicated room" or something similar.

If tracks could run across different rooms the schedule should be build according to rooms.

There also should be a wizard point "rooms" or it should appear together with "tracks". Please tell us how

[2016-06-05 13:17] mariobehling commented on #337
Web and Android app should not be using APIs at this point of time. At the moment these apps should be build by using sample JSON files of events.

[2016-06-05 13:27] mariobehling commented on #511
@niranjan94 Please provide a screenshot. So we can understand this more easily.

[2016-06-05 13:37] niranjan94 commented on #568
@mariobehling shdlr.com does the scheduling only based on rooms.

[2016-06-05 13:50] niranjan94 commented on #511
The list of unscheduled sessions that is show here :
![capture](https://cloud.githubusercontent.com/assets/2404372/15805823/93c512d4-2b52-11e6-9c49-841aa10ed77d.PNG)

[2016-06-05 13:56] mariobehling commented on #511
Thanks. Where can I test this? Please set it up online to test for us.

* [ ] Please avoid scroll bars inside the page as shown on the right hand side of your page. Just extend the length of the page

[2016-06-05 14:00] shivamMg opened #569 "Add Response messages for POST APIs"
Add response to api decorator to register

- 401 as Authentication failure
- 400 as Validation error

[2016-06-05 14:01] mariobehling commented on #568
Yes, we need to go with rooms for practical reason, but should have an option "Track = Rooms". We also need to distinguish sessions with some color.

[2016-06-05 14:04] mariobehling commented on #566
@aditya1702 How is this related to this issue? We probably need color and email later. Let Rafal follow up on this later and let's keep the topic in issues.