[2016-06-05 14:08] shivamMg commented on #337
@mariobehling I named the newer APIs as version 2 only to avoid conflicts with version 1. After version 2 apis are complete we can remove v1 and rename v2 to v1.

[2016-06-05 14:16] aviaryan commented on #562
Closing as PR #563 is merged

[2016-06-05 14:16] #562 closed

[2016-06-05 14:25] aviaryan commented on #565
ColorType takes care of validating the color. It will not accept any random string as color. That's all..
I am validating the color fields in the api so any non-color string won't be able to get in the database, atleast from the api side.
Now when I see the docs, I don't see any real advantage of using colortype in our case.
http://sqlalchemy-utils.readthedocs.io/en/latest/data_types.html#module-s

[2016-06-05 14:51] aviaryan commented on #460
Forms (server-side python forms i.e. WTForms) are now not used in our project. See /open_event/forms/admin/event_form.py, it is outdated. Instead client side validation using javascript is being done.

juslee said https://github.com/fossasia/open-event-orga-server/issues/442#issuecomment-222369265

The API should be self-sufficient and orga-server will eventually totally call the API so I think we

[2016-06-05 15:05] aviaryan opened #572 "Set email in super_admin created by create_db.py"
The user created by create_db.py has no email set.
So we can now not login into the server as it requires email to login .

[2016-06-05 15:14] aditya1702 commented on #565
@aviaryan I think that wont be necessary since the color string will be generated by the colorpicker. Hence it will be completely valid.

[2016-06-05 15:14] #565 closed

[2016-06-05 15:30] aviaryan commented on #572
This happened because of https://github.com/fossasia/open-event-orga-server/commit/241ad33372f04bcbeb6deddcdbf6533ce6a9997d

[2016-06-05 15:38] #511 closed

[2016-06-05 16:06] shivamMg commented on #460
@aviaryan WTForms are not being used right now, but they are being rendered by templates. I've asked the UI guys about this in gitter.

[2016-06-05 18:01] aviaryan commented on #460
@shivamMg
Are you sure that wtforms are being rendered as templates. I did the "Find Usages" option (PyCharm or sublime-anaconda) on each of the forms and found **0 usages** for them (except in testing which is not a use really).
Also some of these forms (events, tracks, session etc) are highly out-of-date. That being said I think they are not being used (or rendered) anymore.
The old views did us

[2016-06-05 22:26] rafalkowalski opened #577 "Error 500 I'm not able to create an event on heroku"

[2016-06-06 00:23] #496 closed

[2016-06-06 05:47] rafalkowalski commented on #460
If it not used please remove it @aviaryan

[2016-06-06 05:49] rafalkowalski commented on #440
@SaptakS we can also validate it in backend side

[2016-06-06 06:28] #538 closed

[2016-06-06 06:33] #569 closed

[2016-06-06 06:39] shivamMg commented on #460
@rafalkowalski Until the server completely moves to API, wtforms should remain.

On the same note, why aren't we using wtforms for form validation (for forms in gentelella)?

[2016-06-06 06:44] rafalkowalski commented on #460
@shivamMg i don't know

[2016-06-06 07:09] shivamMg opened #580 "Ask super_admin for his email"
The Super admin user should be asked for his email address. It shouldn't be assumed to be super_admin@gmail.com.

[2016-06-06 07:26] shivamMg opened #581 "Make Event creation form responsive"
The map overlaps the form for smaller viewports.

[2016-06-06 07:29] shivamMg opened #582 "Add pnotify modules that are in use"
Add desktop and button modules for pnotify.

[2016-06-06 07:44] aviaryan commented on #572
Done by #574

[2016-06-06 07:44] #572 closed

[2016-06-06 07:52] mariobehling commented on #581
Please refer to https://github.com/fossasia/open-event-orga-server/issues/324 and have a look like how map stuff works there when you add an event. This is the desired way.

[2016-06-06 07:56] niranjan94 commented on #460
@shivamMg which all parts of the API are functional now ? And how does the API Authorization take place ?

_I would like to use it for the Scheduling UI. For creation of microlocations_

[2016-06-06 08:04] aviaryan commented on #460
@niranjan94 POST API and GET API are functional right now. The only authorization mechanism implemented right now is "Basic authorization" i.e. username:password . You can test the POST API for microlocations at http://open-event.herokuapp.com/api/v2/#!/microlocations/post_microlocation_list
You will need to be login'd for POST request to be successful.

To add auth to a request, the following lin

[2016-06-06 08:12] aviaryan opened #584 "Basic authentication in POST API broken"
Basic auth in POST API is broken due to removal of login field in user model

[2016-06-06 08:34] niranjan94 commented on #460
We would need a token based auth soon (a token could be generated when the user logs into the admin panel and used for all further API requests). Because, hardcoding the username/password in javascript is a security risk.

[2016-06-06 08:36] #584 closed

[2016-06-06 08:37] aviaryan commented on #460
Yes, we plan to add it too. We can have both authorizations, basic and token based.

PS - Let's keep this issue on-topic.

[2016-06-06 08:49] aviaryan opened #586 "Write tests for REST API authorizations"
Seeing that API authorization will be heavily used by server's UI and the android app, I think it is a good idea if we have it covered by tests.
API currently only implements basic auth so I will write tests for it. When token-based auth is implemented, we can write tests for it too.

[2016-06-06 09:19] mariobehling commented on #501
@aditya1702 Please align with @SaptakS who is taking care of this and post a screenshot of the outcome. Cheers.

[2016-06-06 09:20] aditya1702 commented on #501
@mariobehling Yes will do

[2016-06-06 09:51] mariobehling commented on #568
@niranjan94 Please provide info how you plan to implement this, if you are working on this.

[2016-06-06 10:43] niranjan94 commented on #582
@shivamMg I don't think we need PNotify ... I have a simple SnackBar implementation that I'm using over here https://github.com/fossasia/open-event-orga-server/blob/master/open_event/static/js/jquery/jquery.codezero.js#L157 . It is very lightweight and easy to use.

AFAIK, PNotify is being used only in two place, `open_event/templates/gentelella/admin/event/details/steps/call_for_papers.html` and

[2016-06-06 10:47] niranjan94 commented on #582
In fact, `open_event/templates/gentelella/admin/event/details/steps/scheduling.html` doesn't use PNotify anymore.

[2016-06-06 11:29] aditya1702 opened #590 "Check password also while logging in"
The bug is that if we register an email address and password and then do a login , then there is no check on the password. If the email address is correct then the user can log in irrespective of what password he/she has entered.

[2016-06-06 11:52] mariobehling commented on #590
Please describe this bug. What does it mean? Any relevant screenshot?

[2016-06-06 12:38] aditya1702 opened #591 "Update closing_datetime value to database"
Presently the Update button is not saving the closing_datetime value to database
![screen4](https://cloud.githubusercontent.com/assets/15054664/15822194/f227d090-2c11-11e6-88e2-6a83b0e4d962.png)
The url is not created

[2016-06-06 12:40] niranjan94 commented on #568
The user will be able to schedule the sessions into their respective rooms by drag-dropping the sessions into the rooms.

If there is a clash, the user will be notified. He/she will not be able to drop the session onto another session.

 shdlr.com handles it in a similar fashion.

![capture](https://cloud.githubusercontent.com/assets/2404372/15822141/b0dbfcba-2c11-11e6-921b-9168517c907f.PNG)

[2016-06-06 12:45] aditya1702 opened #592 "Same value of start_time and end_time displayed after editing event"
After changing or updating the start_time or the end_time the value gets changed in the database but the value reflected in the form fields stay the same
![screen5](https://cloud.githubusercontent.com/assets/15054664/15822306/9854a6d2-2c12-11e6-8a11-5b07ad90f85e.png)

[2016-06-06 13:27] niranjan94 commented on #590
@mariobehling it means anyone can log into the administration panel by just typing someone's email address and some random text for the password.

[2016-06-06 14:13] SaptakS commented on #440
Yes @rafalkowalski . We can do that. The problem is in the modal, the forms are already validated by bootstrap javascript, but it somehow doesn't work for wizard. And we would need to validate in backend, but we need to validate using javascript in the wizard, because at each step we are not submitting the form but would want it to be validated. What do you say?

[2016-06-06 14:20] SaptakS commented on #582
@niranjan94 if SnackBar is lightweight and is easier to handle, then go for it. I think it is better anyways to have anyone of them. Keeping both doesn't make sense. Lets stick with SnackBar then.

[2016-06-06 14:25] niranjan94 commented on #582
Alright @SaptakS ...
@shivamMg ... I'm closing this issue now ...

[2016-06-06 14:25] #582 closed

[2016-06-06 14:26] SaptakS opened #594 "Fix Schedule UI in heroku deployed version"
The track API gives 500 status error causing interruption in loading of sessions. As a result the Schedule UI doesn't seem to work in the live version

[2016-06-06 14:31] SaptakS commented on #568
@niranjan94 seems good to me..

[2016-06-06 15:39] aditya1702 commented on #591
@rafalkowalski No it wasnt . Now it is. I will change the value to 'POST' in my pull after which you can merge

[2016-06-06 15:44] aviaryan commented on #594
I think this is because track model was changed recently (track.color added) and the server has not upgraded its database yet .

[2016-06-06 16:44] #577 closed

[2016-06-06 17:33] SaptakS commented on #594
@aviaryan I think the same.

[2016-06-06 19:57] #592 closed

[2016-06-07 00:42] #546 closed

[2016-06-07 00:42] #591 closed

[2016-06-07 01:53] shivamMg opened #597 "Create DELETE APIs with tests"

[2016-06-07 02:02] shivamMg opened #598 "Add missing fields to Event API"
Event model contains fields like "state", "closing_datetime", etc. that have not been included in the API.

[2016-06-07 03:46] #518 closed

[2016-06-07 05:16] #590 closed

[2016-06-07 05:29] aviaryan commented on #586
Fixed by #589

[2016-06-07 05:29] #586 closed

[2016-06-07 05:30] aviaryan commented on #510
closing this as new issue #597 has been created for DELETE APIs

[2016-06-07 05:30] #510 closed

[2016-06-07 05:48] SaptakS commented on #501
@aditya1702 we need to also filter the sessions according to the user_id of the logged in user.

[2016-06-07 05:57] SaptakS commented on #568
@mariobehling @rafalkowalski can you please confirm if we can move on with this prototype? I and Niranjan would then start working on the Schedule UI based on this prototype. Else we are unable to work on the other Schedule UI features. Please confirm. Thanks.

[2016-06-07 06:22] #548 closed

[2016-06-07 06:33] aviaryan opened #601 "Fix POST API testing of event and session model by using custom DateTime field"
Both Event and session model includes a datetime field which currently can't be tested because it is not possible to write datetime fields as string from SQLAlchemy in a SQLite database (used in Testing).

However, this issue can be fixed by a using a custom field for DateTime that returns the DateTime object on POST requests. Using a custom DateTime field will also give more control over the date

[2016-06-07 06:40] SaptakS opened #602 "Create Session Wizard"
To add Speaker details and add/invite other speakers for a session, I guess it is best to have a session Wizard.

The wizard will have 3 steps:-
- [x] Add session details https://github.com/fossasia/open-event-orga-server/issues/631
- [x] Add speaker/self details https://github.com/fossasia/open-event-orga-server/issues/632
- [x] Invite other speakers for session #792

At the beginning, the sessio

[2016-06-07 06:51] aviaryan opened #603 "Add token based authentication in API"
A (access) token based auth should be added side-by-side with the current basic auth in the API.
Here are my views on it,

token - will be a random string stored in the User model as field `token`

To get token the user will send a post request with the credentials to the following urls -
1. The current url for UI login is `\admin\login` . The view function responsible for it can store the token a

[2016-06-07 07:11] aviaryan commented on #594
Fixed it by re-creating the database on the server. @SaptakS please check

[2016-06-07 08:54] #580 closed

[2016-06-07 09:26] mariobehling commented on #598
Please check that you cover all fields as used in the last OpenTechSummit JSONs
https://github.com/OpenTechSummit/2016.opentechsummit.net/tree/gh-pages/programm/json

The rendered schedule is here: http://opentechsummit.net/programm

[2016-06-07 09:27] SaptakS commented on #594
Works great @aviaryan.

[2016-06-07 09:27] #594 closed

[2016-06-07 10:04] niranjan94 commented on #603
Seems to be good :+1:

I have a suggestion for token handling. When a token is generated, it could be stored on a **separate Token model** with reference to the User to whom the token belongs to along with an **expiry time**. This is a bit similar to OAuth and gives us more control over tokens. Also, a single user can have multiple tokens too.

[2016-06-07 10:41] niranjan94 commented on #601
@aviaryan with respect to the scheduling UI, there's no issue. We're anyway parsing the string into a moment object and using that. So, any recognizable format would be fine. `YYYY-MM-DD HH:MM:SS` is cool :+1:

[2016-06-07 10:52] aditya1702 opened #606 "Email validation for user during signup"
If an email does not exist the the user sees a green tick otherwise he gets a message that the email is already occupied

[2016-06-07 11:00] aditya1702 opened #607 "Send email with verification link to user on signing up"

[2016-06-07 12:27] mariobehling commented on #602
@SaptakS Looks good. Speakers can of course also just "answer the call for papers" and propose a session without getting an invite. Apart from that organizers should be able to add sessions as well. Do you have a screenshot how things should look like?

[2016-06-07 12:29] mariobehling commented on #568
@SaptakS Yes, great. Let's do it.

[2016-06-07 12:30] #568 closed

[2016-06-07 12:45] SaptakS commented on #602
@mariobehling It isn't ready yet... I will provide a screenshot as soon as I get it done. Thanks. :)

[2016-06-07 16:04] shivamMg commented on #598
@mariobehling :+1: There were some fields that were included in the database models but were not included in the api models. I've added them now.

[2016-06-07 17:16] aviaryan opened #610 "Use JWT for API authentication"
See #603 for previous version

[GSoC docs](https://github.com/fossasia/open-event/blob/master/docs/GSOC2016/rest-api.md) says we should be using JWT for API authorizations.

I read about JWT today and it looks really good . The main advantage I find of JWT is that it is self-contained. A JWT contains all information about the user which eliminates the need to look in database for every request.

T

[2016-06-07 17:17] aviaryan commented on #603
@niranjan94 Can you please ellaborate why using an expiry time is useful. Sure it is great when someone has gained access to your 'token' but wouldn't it cause problems for the users as they would have to login time and again to fetch the token.
Also what should be the ideal expiry time ?
Also please have a look at #610

[2016-06-07 17:20] shivamMg opened #611 "Write tests for DELETE APIs"

[2016-06-07 17:25] mariobehling opened #612 "Implement the Event API"
* [x] Define Event API with fields and methods https://github.com/fossasia/open-event-orga-server/issues/598
* [x] Implement Event API in Orga Server and ensure all operations are be possible using API
* [x] To POST, PUT, DELETE methods check permissions
* [x] Document all API fields, methods and access in API.md

[2016-06-07 17:26] mariobehling opened #613 "Implement Session API"
* [x] Define Session API with fields and methods
* [x] Implement Session API in Orga Server and ensure all operations are be possible using API
* [x] To POST, PUT, DELETE methods check permissions
* [x] Document all API fields, methods and access in API.md

[2016-06-07 17:27] mariobehling opened #614 "Implement Track API"
* [x] Define Track API with fields and methods
* [x] Implement Track API in Orga Server and ensure all operations are be possible using API
* [x] To POST, PUT, DELETE methods check permissions
* [x] Document all API fields, methods and access in API.md

[2016-06-07 17:28] mariobehling opened #615 "Implement Sponsors API"
* [x] Define Sponsors API with fields and methods
* [x] Implement Sponsors API in Orga Server and ensure all operations are be possible using API
* [x] To POST, PUT, DELETE methods check permissions
* [x] Document all API fields, methods and access in API.md

[2016-06-07 17:29] mariobehling opened #616 "Implement Microlocation API"
* [x] Define Microlocation API with fields and methods
* [x] Implement Microlocation API in Orga Server and ensure all operations are be possible using API
* [x] To POST, PUT, DELETE methods check permissions
* [x] Document all API fields, methods and access in API.md

[2016-06-07 17:30] mariobehling opened #617 "Implement Profile API"
* [x] Define Profile API with fields and methods
* [x] Implement Profile API in Orga Server and ensure all operations are be possible using API
* [x] To POST, PUT, DELETE methods check permissions
* [ ] Some Get methods also might need permissions
* [x] Document all API fields, methods and access in API.md

[2016-06-07 17:31] mariobehling opened #618 "Implement Speakers API"
* [x] Define Speakers API with fields and methods
* [x] Implement Speakers API in Orga Server and ensure all operations are be possible using API
* [x] To POST, PUT, DELETE methods check permissions
* [x] Document all API fields, methods and access in API.md

[2016-06-07 17:59] mariobehling commented on #310
Closing this issue as this is already defined in https://github.com/fossasia/open-event-orga-server/issues/324

[2016-06-07 17:59] #310 closed

[2016-06-07 18:14] mariobehling opened #619 "Event Stage 4 name: Schedule Published"
Project Issue: https://github.com/fossasia/open-event-orga-server/issues/326 Wizard step 4 name:: Schedule Published [Scheduling]
* [x] Implement sent out email to Speakers (see how Eventbrite does it, need to offer Email capabilities)
* [x] Publish Schedule functionality depending on date chosen (similar to CfS, but without an unpublishing date)
* [x] Implement that each generated schedule versio

[2016-06-07 18:16] mariobehling opened #620 "Event Stage 5 name: Event"
Project Issue #306 Event Status 5: Event is running
* [ ] Enable user to add more data and media and generate new app versions for last minute changes
* [ ] Enable automatic tweet capabilities (e.g. tweet sessions of schedule according to time)

[2016-06-07 18:18] mariobehling opened #621 "Event Stage 6 name: After Event"
Project Issue: #306 Event Status 6:
* [x] After-Event, users continue to be able to edit all areas of the schedule
* [x] ability to send out after event emails

[2016-06-07 18:25] mariobehling opened #622 "Implement URL structure and architecture as outlined and document it"
## USER/ADMIN UI/ORGANIZER

* [x] HOME Open-Event main page https://github.com/fossasia/open-event-orga-server/issues/650
    - `/`
    - Create event (big button)
    - Upcoming events (boxes of events)
    - Call for Speakers (boxes of events)
* [x] PROFILE https://github.com/fossasia/open-event-orga-server/issues/688
    - `/myprofile`
    - Add feature to let user add and edit basic profile in

[2016-06-07 18:28] mariobehling opened #623 "Implement Database, Architecture and Permission System"
* [x] Create all roles and list permissions
* [x]  Document all roles and permission in the Readme.md and /docs

**Sitewide Roles**
 * [x] SUPER ADMIN
     - have special panel where can manage every detail of the system, any event, any user - everything (CRUD events, sessions, speakers etc)

**Event Specific Roles**
 * [x] ORGANIZER
     - can edit event/remove
 * [x] CO-ORGANIZER
    - can edit

[2016-06-07 18:38] mariobehling opened #624 "Make JSON data consistent with current version of Open Event Scraper"
Please check out Open Event Scraper of the OpenTechSummit. We have added all kinds of data, that should also be reflected in future versions of JSON files and APIs of the orga server.

Are there any questions about this?

Links:
Scraper: https://github.com/OpenTechSummit/open-event-scraper
JSON Files: https://github.com/OpenTechSummit/2016.opentechsummit.net/tree/gh-pages/programm/json

[2016-06-07 18:46] mariobehling opened #625 "Set up Continuous Deployment on Testing Server"
Currently, we do not have a server that shows the latest development version in the repository. In order to test early and involve more people, we need to have new features online more quickly.

Please implement Continuous Deployment on the testing server.

[2016-06-07 18:59] SaptakS commented on #602
@mariobehling
![screenshot from 2016-06-08 00 20 24](https://cloud.githubusercontent.com/assets/9530293/15870966/edd3f7a4-2d0f-11e6-8150-a8a457d4ea04.png)
![screenshot from 2016-06-08 00 20 29](https://cloud.githubusercontent.com/assets/9530293/15870967/edd6786c-2d0f-11e6-862e-c12f7fcb330c.png)
![screenshot from 2016-06-08 00 20 33](https://cloud.githubusercontent.com/assets/9530293/15870968/ede14

[2016-06-07 19:06] shivamMg commented on #624
We need to define the fields at the database models first and reflect the same at the APIs. Models that require changes are Tracks, Sessions and Sponsors. I guess working on one model at a time would be best. I'll be working on sessions.

[2016-06-07 19:08] shivamMg commented on #581
I'm working on API issues right now, so if anyone's interested please assign yourself the issue.

[2016-06-07 19:11] shivamMg opened #627 "Add missing fields for Sessions"
Add missing fields to Sessions api and database models.

https://github.com/fossasia/open-event-orga-server/issues/624

[2016-06-07 20:06] aviaryan commented on #625
I think the development branch of this project is auto-deployed to http://open-event.herokuapp.com . Isn't that right, @rafalkowalski ?

[2016-06-07 20:09] aviaryan commented on #610
@shivamMg I have almost done this issue locally. In it, there is a login endpoint `api/v2/login` where user sends username and password and gets the JWT .
Should I add it to swagger UI or not ?

[2016-06-07 20:24] shivamMg commented on #610
I think it should be included in the Swagger UI.

[2016-06-07 20:24] #598 closed

[2016-06-07 20:25] shivamMg commented on #598
Implemented at: https://github.com/fossasia/open-event-orga-server/issues/605

[2016-06-07 20:28] aviaryan commented on #610
@shivamMg Okay. I have included it now.

[2016-06-07 21:41] mariobehling commented on #602
I am not sure, if the speaker details should just be kept in the profile. Did you have a look at the speakers form of the last FOSSASIA?

[2016-06-07 21:49] mariobehling opened #631 "Session Wizard Step 1: Add Session Details"
Wizard Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/602
![screenshot from 2016-06-08 00 20 24](https://cloud.githubusercontent.com/assets/9530293/15870966/edd3f7a4-2d0f-11e6-8150-a8a457d4ea04.png)

The session details need to be in a logic order and reflect the idea for the event. Some events require less information, some more.

* [x] Prerequisite is https://github.com/

[2016-06-07 21:49] mariobehling commented on #602
Start and End time in first step does not make sense and order does not make sense entirely. Let's create sub issues for this. https://github.com/fossasia/open-event-orga-server/issues/631

[2016-06-07 22:28] rafalkowalski commented on #625
yes it is, @mariobehling will it be enough ?

[2016-06-07 22:52] mariobehling opened #632 "Session Wizard Step 2: Add Speaker Details"
Wizard Parent Issue: #602
![screenshot from 2016-06-08 00 20 29](https://cloud.githubusercontent.com/assets/9530293/15870967/edd6786c-2d0f-11e6-862e-c12f7fcb330c.png)

* [x] Name and Email are always required, but organizer can define *required fields, but speaker should be able to add additional fields with + button

* [x] Given Name*
* [x] Family Name*
* [x] Email*
* [x] Company, Organization or

[2016-06-07 23:36] mariobehling opened #634 "Create Event Wizard Step 1: Event Details"
Parent issue: https://github.com/fossasia/open-event-orga-server/issues/324

**Step 1. EVENT DETAILS:**
- [x] Event Name
- [x] Location and Map
- [x] Starts/Ends (incl. Timezone Settings)
- [x] Event Image
- [x] Event Logo
- [x] Event Description
- [x] Organizers
- [x] Social Media

About Publishing
- [ ] Publish Button -> Result event is published on a page with basic info, but no Call for Speake

[2016-06-07 23:41] mariobehling opened #635 "Create Event Wizard Step 2: Session Types"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/324

Implement "Create Session Types: in this step.

[2016-06-07 23:44] mariobehling opened #636 "Create Event Wizard Step 3: Tracks and Rooms"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/324

Implement Step 3 "Tracks and Rooms" in the Create Event Wizard.

[2016-06-07 23:48] mariobehling opened #637 "Create Event Wizard Step 4: Call for Speakers"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/324

Implement Event Create Step "Call for Speakers".
* [x] Offer Form Area to write "Call for Speakers" Announcement
* [x] Add submission deadline
* [x] Add dates Call for papers open "from" and "until"

[2016-06-07 23:51] mariobehling opened #638 "Create Event Wizard Step 5: Speaker Submission Forms (session submission and profile submission)"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/324

Implement Event Create Step: Speaker Submission Forms

* [x] Implement create form for session submissions of speakers (Compare #631) (PR - #680 )
* [x] Implement create form for profile submissions of speakers (Compare #632) (PR - #680 )

[2016-06-08 00:08] mariobehling opened #639 "Implement Simple Signup for Not logged in users, who are signing up for events"
Think of a potential speaker, who answers the call for papers. Flow is as follows
1. Potential speaker receives a link to the call for papers, goes to the call for papers page and clicks on "submit session" button.
2. Without logging in the potential speaker (as anonymous user) should be able to
- [x] fill out form "sessions"
- [x] be prompted for email and password to sign up or sign in if he/she

[2016-06-08 03:29] niranjan94 commented on #603
Ideal expiry time, we could keep it a day maybe. Also, all the GET APIs could be made open without any authentication but with [Throttling](https://api.stackexchange.com/docs/throttle) enabled. So, webapps and android app wouldn't require a token.

The admin panel, would generate a token on login. So that would be sufficient for his/her entire session.

[2016-06-08 04:17] aviaryan commented on #603
:+1:

GET APIs are totally open right now however no throttling has been set. I looked on the web and found [Flask-Limiter](https://github.com/alisaifee/flask-limiter) to be close to what we need. We can add the rate-limiter feature later in the project, it does no good right now.

[2016-06-08 04:25] aviaryan opened #640 "Create PUT APIs for existing models"

[2016-06-08 04:33] aviaryan opened #641 "Fix case in API namespace descriptions"
Some namespace descriptions are in lowercase ('microlocations') whereas some are in titlecase ('Events'). Make them all titlecase.

[2016-06-08 07:05] SaptakS commented on #638
@mariobehling do you mean by this that the organizer decides what are the fields that are to be there in the session form and speaker_profile form?

[2016-06-08 07:08] SaptakS commented on #602
@mariobehling what order do you suggest? And I don't understand what you mean to say by
" if the speaker details should just be kept in the profile "

[2016-06-08 07:09] SaptakS commented on #635
@mariobehling @rafalkowalski I guess this step is already completed.

[2016-06-08 07:16] #514 closed

[2016-06-08 07:57] mariobehling commented on #638
Yes. (We might need to make some basic info as required, maybe email address.)
Please compare to #631 and #632

[2016-06-08 08:10] SaptakS commented on #635
![screenshot from 2016-06-08 13 39 19](https://cloud.githubusercontent.com/assets/9530293/15887176/6ec7656c-2d7e-11e6-911f-2a67bb172c7b.png)

Step 2 of this link: http://open-event.herokuapp.com/admin/events/new/

[2016-06-08 08:10] #635 closed

[2016-06-08 08:20] mariobehling commented on #602
Let's follow up in #631 and #632 for specific questions later.

No need to think about speaker profile atm. Just keep it simple first. We can follow up on this later.

[2016-06-08 08:30] #512 closed

[2016-06-08 08:35] mariobehling commented on #625
Just realize, that all kinds of data has to be entered to see all features. Is it possible to have a sample data set in the app?

[2016-06-08 08:44] #611 closed

[2016-06-08 08:44] #597 closed

[2016-06-08 08:51] #641 closed

[2016-06-08 08:51] #610 closed

[2016-06-08 08:52] shivamMg commented on #603
@aviaryan Should I close this one as well?

[2016-06-08 08:54] aviaryan commented on #603
Yes

[2016-06-08 08:54] #603 closed

[2016-06-08 08:58] #503 closed

[2016-06-08 09:01] #515 closed

[2016-06-08 09:06] aviaryan opened #644 "Session POST API fails when speaker doesn't exist"

[2016-06-08 13:24] #644 closed

[2016-06-08 14:17] aviaryan opened #648 "Event API has closing_date as field, should be closing_datetime"
Event API model has closing_date as field name which should be closing_datetime a/c db model.
Because of this, POST in Event API fails.

[2016-06-08 17:21] rafalkowalski opened #650 "HOME Open-Event main page"
#622
- [x] Create event (big button)
- [x] Upcoming events (boxes of events)
- [x] Call for Speakers (boxes of events)

[2016-06-08 17:22] rafalkowalski opened #651 "ADMIN /admin"
#622

- [ ] Implement Create event (big button)
- [ ] Implement Upcoming events (boxes of own events)
- [ ] Implement Call for Speakers (boxes of own Call for Speaker of own events)

[2016-06-08 17:58] #601 closed

[2016-06-08 19:07] #486 closed

[2016-06-08 19:52] rafalkowalski commented on #623
@aditya1702 do you have any idea how we can prepare a permission list?

[2016-06-08 20:30] SaptakS commented on #324
@mariobehling @rafalkowalski This is the prototype I have created:-

Step - 1: Basic Details
![screenshot from 2016-06-09 01 56 51](https://cloud.githubusercontent.com/assets/9530293/15909789/96b18564-2de5-11e6-8d18-724d54c068e7.png)

Step - 2: Session Types
![screenshot from 2016-06-09 01 56 59](https://cloud.githubusercontent.com/assets/9530293/15909790/96b485a2-2de5-11e6-8276-82d72c74b69e.png)

[2016-06-08 20:52] rafalkowalski opened #657 "if closing date is none some error occurs"
![screen shot 2016-06-08 at 22 51 16](https://cloud.githubusercontent.com/assets/2479753/15910563/b6a189c4-2dcb-11e6-8622-d134605909ab.png)

[2016-06-09 03:55] aviaryan commented on #617
Hi @mariobehling
I have doubts with this issue.
First of all, Profile API means User API right. So do we need to have DELETE API (to delete a user account) ? In other words, will it be possible for a user to delete their account ?
Thanks

[2016-06-09 04:07] aditya1702 commented on #623
@rafalkowalski I think we can make use of some frameworks of Flask to achieve this. I will look into it.

[2016-06-09 07:48] aditya1702 opened #660 "Event Stage 5:Create view to upload media"

[2016-06-09 08:10] #648 closed

[2016-06-09 08:11] #640 closed

[2016-06-09 09:06] shivamMg opened #662 "Add missing fields to Tracks and Sponsors"
https://github.com/fossasia/open-event-orga-server/issues/624

[2016-06-09 09:38] aviaryan opened #663 "Add input validation to PUT API"
See #460 for POST API input validation issue

[2016-06-09 16:16] #657 closed

[2016-06-09 16:36] #412 closed

[2016-06-09 16:58] mariobehling commented on #617
@aviaryan Please discuss the details with @rafalkowalski

[2016-06-09 18:16] SaptakS commented on #631
Menu point description removed https://github.com/fossasia/open-event-orga-server/pull/667

[2016-06-09 19:25] mariobehling commented on #636
Thanks. Please post screenshots in issues, when tasks are finished. Cheers.

[2016-06-10 04:53] aviaryan opened #669 "Show login info in swagger UI"
Since POST, PUT and DELETE requests work from the swagger ui using current login'd user as authorizer, it will be better if the show some info of active user in the UI.
If no user is login'd, we can show links to register and login, and use next param in url to come back to swagger UI after either of the processes.

[2016-06-10 06:04] aditya1702 opened #671 "Display new index page on logging in"

[2016-06-10 07:09] #671 closed

[2016-06-10 08:28] aviaryan commented on #460
Fixed in #561. closing

[2016-06-10 08:28] #460 closed

[2016-06-10 08:28] #663 closed

[2016-06-10 09:48] SaptakS commented on #638
@mariobehling , This is the prototype:
![screenshot from 2016-06-10 15 17 23](https://cloud.githubusercontent.com/assets/9530293/15960671/827079a4-2f1e-11e6-894a-a50538cae756.png)

[2016-06-10 10:12] shivamMg opened #674 "Create APIs for SponsorType"
To elaborate more on this, the sponsor types needed apis so the event creator can specify them (like "Platinum Sponsor", "Gold Sponsor") and associate sponsors to them.

[2016-06-10 12:21] #669 closed

[2016-06-10 12:27] niranjan94 commented on #619
@mariobehling

Publish to where ?

[2016-06-10 12:59] niranjan94 opened #676 "Base UI for Event Stage 4: Schedule Published"
Create the Base UI for the **Schedule Published** state of the Event Wizard outlined in #619.

[2016-06-10 13:31] aviaryan opened #677 "requires_auth function should abort if a means of authentication fails"
Suppose a user tried to send a JWT based authentication and his credentials where wrong, then the `requires_auth` function should abort and don't check active session.
This was my intention all along but there was a logic issue and somehow the tests weren't able to catch it.

[2016-06-10 15:58] mariobehling commented on #619
@niranjan94 The schedule is only public, when it is published.

[2016-06-10 16:09] mariobehling commented on #638
Please implement it in a more readable way. Please check out Eventbrite how they do it for attendees.

![screenshot-www eventbrite com 2016-06-10 18-02-39](https://cloud.githubusercontent.com/assets/1583873/15970747/76de6fc0-2f36-11e6-91d9-0179ecac7a0b.png)

[2016-06-10 17:05] SaptakS commented on #638
@mariobehling already on it..

[2016-06-10 17:21] mariobehling commented on #638
@SaptakS As you are posting more screenshots, maybe you could actually use a screenshot module to capture web pages. There are tons of plugins available for all browsers.

[2016-06-10 17:22] SaptakS commented on #638
@mariobehling thanks for the suggestion. Will try one.

[2016-06-10 17:37] mariobehling commented on #638
Please also add:
* [ ] TITLE FOR THE REGISTRATION PAGE
* [ ] INSTRUCTIONS FOR SPEAKERS
* [ ] MESSAGE TO DISPLAY AFTER CALL FOR SPEAKERS CLOSES
* [ ] ALLOW ATTENDEES TO EDIT INFORMATION AFTER REGISTRATION

[2016-06-10 17:56] mariobehling opened #679 "Implement left side bar with links to pages outlined"
This is related to https://github.com/fossasia/open-event-orga-server/issues/622. All links are in this issue.

* [x] Please create a suitable logical left hand admin menu with all items.
* [x] Make left bar expandable and possible to close

[2016-06-10 18:49] SaptakS commented on #638
@mariobehling "Add more questions" feature will be a great idea for enhancement. But can we add this features at a later enhancement phase after completing all the Stages of Event workflow first? I think we can work on enhancing features at later phases? What do you suggest?

[2016-06-10 19:16] mariobehling opened #682 "Create Event Wizard Step 5: Add more Features for Speaker Submission Forms"
Follow up to https://github.com/fossasia/open-event-orga-server/issues/638

Please add:
* [ ] Button "Add more questions"
* [ ] Subform with more questions

~~Also add form areas:~~
* ~~TITLE FOR THE REGISTRATION PAGE~~
* ~~INSTRUCTIONS FOR SPEAKERS~~
* ~~MESSAGE TO DISPLAY AFTER CALL FOR SPEAKERS CLOSES~~
* ~~ ALLOW ATTENDEES TO EDIT INFORMATION AFTER REGISTRATION~~
Let's do this later. (@mariobe

[2016-06-10 19:16] SaptakS commented on #502
@mariobehling @rafalkowalski This will be handled in https://github.com/fossasia/open-event-orga-server/issues/632 . Thus closing this issue.

[2016-06-10 19:16] #502 closed

[2016-06-10 19:19] #513 closed

[2016-06-10 20:08] mariobehling opened #683 "Add Version Number to Dashboard"
Currently it is not obvious which version of the app is deployed on the test server. Please implement the version info and if possible link to the dashboard.

[2016-06-10 21:19] mariobehling opened #686 "Organizers Admin Page: Create List of My Events"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/622

Events sorted as:
* [x] Live
* [x] Draft
* [x] Past

![screenshot-www eventbrite com 2016-06-10 23-05-12](https://cloud.githubusercontent.com/assets/1583873/15978994/b9e15c30-2f61-11e6-925b-361b3907a04a.png)

[2016-06-10 22:01] mariobehling opened #688 "Create Organizer Profile Page"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/622

Create Page as outlined in screenshot below.

![screenshot-www eventbrite com 2016-06-10 23-58-12](https://cloud.githubusercontent.com/assets/1583873/15979949/aa52a368-2f67-11e6-987e-bfc19aa3baac.png)
- [x] upload profile picture

[2016-06-10 22:41] SaptakS commented on #688
@rafalkowalski there is already a page for the profile in `/admin/profile/` . I guess you can edit that to make it something like this.

[2016-06-11 02:22] #363 closed

[2016-06-11 02:25] #677 closed

[2016-06-11 02:54] aviaryan opened #692 "Check if related models are part of same event as session in Sessions API"
Currently Sessions API doesn't check if Track, Level, Microlocation, Speakers etc are members of the same event as session.

[2016-06-11 03:27] aviaryan opened #694 "Fix failing tests in development branch"
6 tests are failing
https://travis-ci.org/fossasia/open-event-orga-server/builds/136835088

Active PR #693

[2016-06-11 03:58] #694 closed

[2016-06-11 04:04] aviaryan opened #695 "UI crashed when no user is logged in and root url is opened for the first time"
This looks because in data_getter , the events list is fetched for the user without checking if he is logged in.

[code]

@rafalkowalski @SaptakS please look

![crash](https://cloud.githubusercontent.com/assets/4047597/15983010/a57cec4a-2fb7-11e6-8e38-e35a2c3b3059.png)

[2016-06-11 04:09] aviaryan commented on #695
get_completed_events and get_user_events also use a similar code. I don't know which ones to change . @rafalkowalski @SaptakS someone take this issue.

[2016-06-11 04:49] mariobehling commented on #686
* [ ] Change site to use /event URL - http://open-event.herokuapp.com/admin/events/ -> http://open-event.herokuapp.com/events

![screenshot from 2016-06-11 06 46 23](https://cloud.githubusercontent.com/assets/1583873/15983205/59769e8e-2fa0-11e6-9220-753f911e3fca.png)

* [ ] Change set to use "tabs" (Live, Draft, Past)
![screenshot from 2016-06-11 06 43 43](https://cloud.githubusercontent.com/asset

[2016-06-11 05:07] niranjan94 opened #696 "Page for Scheduler"
A separate page at `/events/ID/schedule/edit` as per #622 for the Scheduling tool.

[2016-06-11 05:23] mariobehling opened #697 "Create Event Wizard Step 2: Sponsors"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/324

Sponsors is missing so far from the wizard.

* [x] Implement "Sponsors" under wizard step 2
* [x] Move current "Session Types" to be included in step 3 and rename wizard step to "Sessions, Tracks, Rooms"
* [x] Implement the following fields
	* [x] Sponsor
	* [ ] Upload Image
	* [x] Link
	* [x] Level (this means the sponso

[2016-06-11 05:51] niranjan94 commented on #695
@aviaryan I'll take this up

[2016-06-11 05:58] #607 closed

[2016-06-11 06:06] mariobehling opened #701 "Implement Event Dashboard"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/622

* [x] Implement SPECIFIC EVENT DASHBOARD
    -   [x] `/events/ID/`
    -  [x] It shows an event dashboard with info how many proposals there are, how many speakers are
accepted and which countries they are from
    -  [x] Propose and implement interesting widgets for the specific event dashboard (Get inspiration from the

[2016-06-11 06:47] #662 closed

[2016-06-11 07:13] shivamMg opened #702 "Remove debug_toolbar user warning occurring during tests"
[code]

[2016-06-11 08:52] aditya1702 commented on #702
@shivamMg I think you can remove the toolbar itself. What do you think?

[2016-06-11 09:04] mariobehling opened #703 "Implement "My Sessions" Dashboard"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/622

The URL`/events/mysessions` - shows all sessions the user/speaker has submitted to all "his/her" events. Please implement as shown below.
![screenshot-www eventbrite com 2016-06-11 10-40-20](https://cloud.githubusercontent.com/assets/1583873/15984230/78e2d87c-2fc4-11e6-8391-e86e099512c7.png)

[2016-06-11 09:06] niranjan94 commented on #703
I'll work on it right away .. :+1:

[2016-06-11 09:06] #696 closed

[2016-06-11 09:07] #695 closed

[2016-06-11 09:07] #676 closed

[2016-06-11 09:13] #349 closed

[2016-06-11 09:28] #273 closed

[2016-06-11 09:28] #295 closed

[2016-06-11 09:37] SaptakS commented on #701
@mariobehling I have created the dashboard with options on a top menu bar. Here are the screenshots...

![screenshot from 2016-06-11 15 05 57](https://cloud.githubusercontent.com/assets/9530293/15984380/1f8e75d4-2fe6-11e6-993b-56be4820d417.png)
![screenshot from 2016-06-11 15 06 01](https://cloud.githubusercontent.com/assets/9530293/15984381/1fe475ec-2fe6-11e6-9c40-f9b87dc3b897.png)
![screenshot f

[2016-06-11 09:45] niranjan94 commented on #701
@SaptakS ... Looks cool ! :) ...

Could you set the `min-height` to 100% to that page extends till the bottom irrespective of the height of the content ?

[2016-06-11 10:17] niranjan94 opened #705 "Implement view for individual session in the "My Sessions" Dashboard"
From #622.

**URL:** `/events/mysessions/ID` - shows the specific session/sessions that the user has submitted to a specific event.

Prerequisite: #703

[2016-06-11 10:36] mariobehling commented on #701
Nice, please take out sponsors and see where I added sponsors in the wizard:
https://github.com/fossasia/open-event-orga-server/issues/324 and https://github.com/fossasia/open-event-orga-server/issues/697

[2016-06-11 10:45] mariobehling opened #706 "Avoid Confirmation Box"
Please do not show confirmation boxes. It is not necessary and slows down the user.

![screenshot from 2016-06-11 12 43 37](https://cloud.githubusercontent.com/assets/1583873/15984615/4db6aca6-2fd2-11e6-8cf3-34f6eb481331.png)

[2016-06-11 10:49] rafalkowalski commented on #706
k

[2016-06-11 10:51] SaptakS commented on #701
@mariobehling I am already on those Issues.. This Tab is just for displaying the Sponsors for that event that is already in DB.

[2016-06-11 11:08] #706 closed

[2016-06-11 12:05] niranjan94 opened #711 "javascript error in Scheduling UI"
This error occurs only when the internet speed is slow.  Probably to the fact that the api client is accessed before it's fully loaded.

![capture](https://cloud.githubusercontent.com/assets/2404372/15984968/baf4abf6-2ffa-11e6-94f9-41ac2b8ef029.PNG)

[2016-06-11 12:40] mariobehling opened #713 "Make scheduler use "rooms" from the "create event" wizard"
It looks like currently the scheduler has an option to add "microlocations". These microlocations should be defined in the "create event" wizard in step 3 (Sessions, Tracks, Rooms).

* [x] Ensure that microlocations are used that are entered in the wizard.

[2016-06-11 12:43] niranjan94 commented on #713
@mariobehling. Yes. the scheduler already uses the microlocations defined in the "create event" wizard in step 3 (Sessions, Tracks, Rooms).

[2016-06-11 12:46] #711 closed

[2016-06-11 12:52] mariobehling commented on #650
* [ ] Home page does not use standard top bar and is not functional therefore.
* [ ] Please add "Open Event" on the top left and make it link to `/` itself.

[2016-06-11 12:56] mariobehling commented on #713
Ok, good. Can't test right now as it is not loading on the current deployment.

[2016-06-11 13:02] niranjan94 commented on #713
@mariobehling the deployment is fixed now. You can check it out at https://open-event.herokuapp.com/admin/events/8/scheduler/ .

[2016-06-11 13:06] mariobehling commented on #713
It is confusing in the current UI that you can add a microlocation here. For the moment please make this link go to the wizard maybe. Or will microlocations added here be added in the wizard as well? I cannot check this as I get an internal server error and event 8 does not show up in my list of events.

![screenshot from 2016-06-11 15 03 02](https://cloud.githubusercontent.com/assets/1583873/1598

[2016-06-11 13:08] mariobehling commented on #713
Also please make lat/long optional and mark required fields with `*`.

[2016-06-11 13:11] mariobehling commented on #713
![screenshot from 2016-06-11 15 11 15](https://cloud.githubusercontent.com/assets/1583873/15985229/c9e617da-2fe6-11e6-988a-9ab11344a32f.png)

[2016-06-11 13:12] shivamMg commented on #702
@aditya1702 You mean removing it from our dependencies?

[2016-06-11 13:17] niranjan94 commented on #713
@mariobehling the microlocation added here and added in the wizard go to the same database. Anything add in the wizard will be here. Anything added here will be there.

But I'm not sure what's causing the Internal Server Error there. @aditya1702 @rafalkowalski could you check that ?

[2016-06-11 13:19] rafalkowalski commented on #713
@niranjan94 I will check

[2016-06-11 13:23] niranjan94 commented on #713
@rafalkowalski thanks :)

[2016-06-11 13:55] niranjan94 commented on #703
@mariobehling this is the UI prototype
![capture](https://cloud.githubusercontent.com/assets/2404372/15985427/3525a9ac-300a-11e6-81ed-95225326bfb3.PNG)

[2016-06-11 13:59] mariobehling commented on #679
done by Saptaks. Good enough for now. We can later get rid of the sidebar, when links are implemented in the menu.

[2016-06-11 13:59] #679 closed

[2016-06-11 14:11] mariobehling commented on #703
Looks good. Thanks! Please do not forget to add "Manage Sessions" on the top right dropdown menu.

[2016-06-11 14:30] mariobehling opened #715 "Implement show "all events" tabs for Super Admin"
* [x] One the page `/events/` add a tab "all events" to show events of all people and any event for super admins

[2016-06-11 14:34] rafalkowalski commented on #713
@mariobehling @niranjan94 bug's fixed

[2016-06-11 14:41] mariobehling commented on #713
@rafalkowalski Yes, error is gone, but "Edit Event" links to the version 1 wizard. This wizard should be out and deleted already.

![screenshot from 2016-06-11 16 39 57](https://cloud.githubusercontent.com/assets/1583873/15985593/3d6e821c-2ff3-11e6-840e-0db202582ad6.png)

[2016-06-11 14:51] aviaryan opened #716 "Event is not being checked for existence in POST API"
When creating a service model (microlocations, sponsors etc), it is not being checked whether the event with `id` exists or not.

[2016-06-11 15:20] aviaryan opened #717 "Full custom payload validation for API"
API (POST/PUT) currently uses a validate_payload func for validating custom fields and it works quite well.
I suggest we should take this idea and make all fields custom. (String, Integer, Float) are the ones that remain. Then we can create a custom decorator like `api.expect`

Why ?
1. api.expect doesn't allow `null` (None when translated to Python) value as input. This is a **huge problem**. (sp

[2016-06-11 16:33] mariobehling opened #719 "Add Payment Module"
* [x] Decide on Premium Features
* [x] Module preferably as optional external module to plug into system
* [x] Support Strive
* [x] Support Paypal
* [x] Deliver Monthly Invoices by Email (with simple payments by click as Eventbrite and Eventnook)
* [x] Outline Admin-UI

[2016-06-11 17:25] mariobehling opened #722 "Implement "Manage Events" in Top Dropdown Menu"
Please implement "Manage Events" for the link `/admin/events/` in the top dropdown menu for logged in users below "My Sessions"
![screenshot from 2016-06-11 19 23 18](https://cloud.githubusercontent.com/assets/1583873/15986532/2adebf24-300a-11e6-986f-3febc72a1c84.png)

[2016-06-11 17:28] mariobehling commented on #703
One thing here left: Please take out "admin" from the URL.

[2016-06-11 17:31] niranjan94 commented on #703
@mariobehling so, you want admin to be removed from all URLs ?

[2016-06-11 17:38] mariobehling commented on #703
Yes, please. Details here as well https://github.com/fossasia/open-event-orga-server/issues/622

[2016-06-11 17:40] niranjan94 commented on #703
Alright ... Will do

[2016-06-11 17:40] aviaryan commented on #717
Just saw a neat way to make payload validator accept nulls. That was the main motivation for having full custom validation. I guess I will just create nullable fields for String, Integer and Float. https://github.com/noirbizarre/flask-restplus/issues/179

[code]

[2016-06-11 17:42] niranjan94 opened #724 "Remove /admin from all URL. Make URLs relative to root instead."
Remove /admin from all URL. Make URLs relative to root instead. As detailed here in #622.

[2016-06-11 17:43] niranjan94 commented on #703
Opened a separate issue for that here #724. Working on it now. Closing this issue.

[2016-06-11 17:43] #703 closed

[2016-06-11 17:56] #722 closed

[2016-06-11 18:47] #724 closed

[2016-06-11 19:05] aditya1702 commented on #702
@shivamMg Yes.

[2016-06-11 19:06] mariobehling commented on #650
@rafalkowalski @niranjan94 Feel free to get it fixed, whoever of both of you has time. Cheers.

[2016-06-11 19:25] aditya1702 opened #726 "Implement Edit Event URL"

[2016-06-11 19:35] mariobehling opened #727 "Propose and Implement a logging and revision system"
Questions to answer:
* [x] What should be logged?
* [ ] What information should we store to revise?
* [ ] What user information can we store (temporarily) after it gets deleted from the account?
* [ ] Can we implement a trash system, where anything that gets deleted by users "lands" for a period of time?
* [ ] What access info can we store?

[2016-06-11 20:07] mariobehling commented on #697
@SaptakS Actually the Upload function is not implemented yet. So this issue is not finished.

[2016-06-11 20:08] mariobehling commented on #697
Please also rename point 3 to: "Sessions, Tracks, Rooms"

[2016-06-11 20:26] mariobehling opened #728 "Implement Import/Export functionality of events with JSON"
There are a number of data sets - each API - that can be exported as JSON.

[2016-06-11 21:17] mariobehling commented on #686
* [ ] Please add "Create Event" on top right as shown on screenshot

[2016-06-12 02:03] shivamMg commented on #702
@aditya1702 Alright

[2016-06-12 04:21] aviaryan commented on #728
Hi @mariobehling
What I understand by "import" functionality of events with JSON is that a feature which will allow people to import json (speakers.json, sessions.json) etc and automatically create an open-event from it on our service.
So the "export" feature is to make the events saveable as a json file.
Is that correct ? @mariobehling @shivamMg

If the above is correct, should we export an event

[2016-06-12 04:23] #717 closed

[2016-06-12 04:48] aviaryan opened #736 "Return meaningful validation errors in POST and PUT API"
Instead of the generic `'Validation of \'%s\' field failed' % key` , more meaningful errors can be returned.

[2016-06-12 04:50] mariobehling commented on #728
@aviaryan At the moment we are using different JSONs files to generate the web and Android app. We have not defined one big JSON for all. Alternatively we could also generate an .zip file with the different JSON files inside and import/export it.

[2016-06-12 04:57] aviaryan commented on #728
@mariobehling Using a zip is a good idea. I will like to work on this issue after finishing with #736 , I will assign myself when I begin working on this.

[2016-06-12 05:22] shivamMg opened #737 "Error Responses"
A consistent error response structure would help error handling at the client side. Here's an example of the structure.

[code]

Error codes in use:

| Code | Status | Field | Description |
| --- | --- | --- | --- |
| 401 | NOT_AUTHORIZED | null | Invalid token or user not authenticated |
| 400 | INVALID_FIELD | "field_name" | Missing or invalid field |
| 400 | INVALID_SERVICE | null | Service ID

[2016-06-12 05:23] shivamMg opened #738 "Create errors and exceptions for APIs"
Use the structure defined at: https://github.com/fossasia/open-event-orga-server/issues/737

[2016-06-12 05:39] #713 closed

[2016-06-12 05:42] niranjan94 commented on #650
@rafalkowalski I'll work on this now

[2016-06-12 05:45] shivamMg opened #739 "Return 201 status after successful POST"
Return 201 status code (instead of 200) after an object has been successfully created using POST. Also return the url of the newly created object in a header (Location).

Returning the URL of the newly created resource in the header helps the client to locate the resource so he doesn't have to make a get request and take out the created resource. See "201 Created" section for more detail: https://

[2016-06-12 05:55] aviaryan commented on #737
@shivamMg This new schema look good. I was thinking of returning all validation errors at once in POST and PUT API. Is it possible to return many errors (many message+field values) at once using this schema ?

[2016-06-12 06:27] rafalkowalski opened #740 "Uploading files"
we need a function which allows us to upload image(images)

Used on Pages:
- [x] Create Event Wizard Step 2: Sponsors #697
- [x] Create Organizer Profile Page #688
- [x] Session Create Wizard e.g. upload slides https://github.com/fossasia/open-event-orga-server/issues/631

[2016-06-12 06:28] SaptakS commented on #697
@mariobehling renamed at https://github.com/fossasia/open-event-orga-server/pull/733

[2016-06-12 06:32] rafalkowalski commented on #740
#697 #688

[2016-06-12 06:35] rafalkowalski opened #741 "create event redirect to old url"
index page

[2016-06-12 06:39] aditya1702 commented on #740
@rafalkowalski I will do this

[2016-06-12 06:49] SaptakS commented on #741
https://github.com/fossasia/open-event-orga-server/pull/743

[2016-06-12 06:59] #516 closed

[2016-06-12 07:07] #741 closed

[2016-06-12 07:07] rafalkowalski commented on #740
cool @aditya1702 talk with @SaptakS if he's working on it

[2016-06-12 07:19] shivamMg commented on #737
@aviaryan I think we should stick to a simple structure. I've updated the description.

[2016-06-12 07:29] #702 closed

[2016-06-12 07:47] aviaryan commented on #737
@shivamMg OK. No problem. please review #742

[2016-06-12 08:03] mariobehling opened #745 "Add page "how it works" and link to it from start page"
* [x] Create sub tag line on start page: "Organize successful events. Automatically publish Web and Android apps with your schedule. Learn more"
* [x] Create on "Learn more." link to page `/how-it-works/` and create the page

[2016-06-12 08:04] aviaryan commented on #728
After thinking about how to approach this issue, I realized it will not be a small task. So I will create sub-issues for each substantial step involved.

[2016-06-12 08:08] aviaryan opened #746 "Create a Data Access Object for Event"
This will make it consistent with other service models . Event's DAO will have the same methods as other DAO.

This is also required to proceed #728

[2016-06-12 08:15] aviaryan opened #747 "Make POST and PUT requests functionable from DAO"
Make it such that calling DAO.method with payload is the only statement required to successfully execute POST and PUT requests.
Why ?
This allows us to internally do requests on the API. Or in other words, send a *VERB* request when inside another request.

Also this is a required step to proceed #728

[2016-06-12 08:50] #650 closed

[2016-06-12 10:12] rafalkowalski opened #752 "Index page weird behaviour"
![screen shot 2016-06-12 at 12 05 57](https://cloud.githubusercontent.com/assets/2479753/15990571/7da33514-3096-11e6-93ae-247a646006f9.png)
![screen shot 2016-06-12 at 12 06 56](https://cloud.githubusercontent.com/assets/2479753/15990570/7da34a72-3096-11e6-9545-6b8d2b14813d.png)

Bug occured on index page. You are not able to go to create event site via menu because one part of buttons doesn't wor

[2016-06-12 10:33] #692 closed

[2016-06-12 10:34] #716 closed

[2016-06-12 10:36] mariobehling commented on #705
Any screenshot?

[2016-06-12 10:42] rafalkowalski commented on #683
@SaptakS @niranjan94 @aditya1702 do you know heroku API? I need help because i don't know i only recive 200 releases from heroku You can check it here: http://open-event.herokuapp.com/heroku_releases i don't know how can i get the latest

[2016-06-12 10:54] rafalkowalski commented on #686
@mariobehling do we need change color to blue?
i think it will be more visible
![screen shot 2016-06-12 at 12 54 10](https://cloud.githubusercontent.com/assets/2479753/15990713/ce9ff1b8-309c-11e6-993f-b6109e751c29.png)

[2016-06-12 11:14] mariobehling commented on #686
would be nice.

[2016-06-12 11:35] mariobehling opened #755 "Propose Administration Implementation"
As a number of functionalities concern super admins we need to consider how we implement these administration functions.

1. There are two concepts e.g. the one that wordpress follows: There is a dedicated login to Wordpress, but users of the site use the "front". On the other hand systems like Drupal have an administration section integrated. What is the best way for Open Event?

2. We also need

[2016-06-12 13:26] aditya1702 commented on #740
@rafalkowalski the image can be uploaded to a folder. But then do we need to display the image in the sponsors table?

[2016-06-12 13:39] #736 closed

[2016-06-12 13:46] #752 closed

[2016-06-12 13:50] niranjan94 commented on #705
@mariobehling yes. I'll post in a few hours. I'm out right now. Sorry.

[2016-06-12 14:06] niranjan94 commented on #683
@rafalkowalski yes. I'm a bit familiar with it. But I'm out right now. I'll get back to you in an hour or so?

[2016-06-12 14:17] rafalkowalski commented on #683
@niranjan94 thanks

[2016-06-12 14:19] rafalkowalski commented on #740
of course that image should be store in a folder. In user and sponsor table i think that we need to store an  path to this image? what do you think? @SaptakS @aditya1702 @niranjan94

[2016-06-12 14:48] aviaryan opened #758 "Feature to export event as json"
Parent issue: #728

GET request to `\events\<id>\export\json` will export the event as a set of json files archived in a zip and start its download.

Files in the zip will be like
[code]

The information in these JSON files will be the same as what is returned by corresponding GET requests.

[2016-06-12 15:04] niranjan94 commented on #740
Yep. The table can have the path to the image.

[2016-06-12 15:05] niranjan94 commented on #740
Or we could generate the full URL to the image and store in the DB. This way, we can give the organizer to either upload image or just give the URL to an existing image. If they prefer URL, less storage space usage for us. :)

[2016-06-12 15:37] shivamMg commented on #728
@mariobehling @aviaryan Feature to export services (in a zip file) related to an event looks cool (https://github.com/fossasia/open-event-orga-server/issues/758). But import feature looks unnecessary. The import feature should be handled by the client developer by make POST requests to the server.

[2016-06-12 16:35] SaptakS commented on #740
@niranjan94 I think thats a great idea.. That way, we will just have to put the DB content for URL in img src. It will be a more generic approach.

[2016-06-12 16:40] niranjan94 commented on #705
@mariobehling this is how the UI will look like

![screencapture-localhost-5000-events-mysessions-1-1465749584671](https://cloud.githubusercontent.com/assets/2404372/15992451/72add7a0-30ea-11e6-87a7-5ee2d755543d.png)

[2016-06-12 17:05] mariobehling commented on #705
@niranjan94 Good. Maybe move Microlocation, track etc. to the bottom.
How does the "editable version" looks like?

[2016-06-12 17:07] niranjan94 commented on #705
@mariobehling I'll move those to the bottom.
Oh, so the user is allowed to edit his/her session ? Okay ... I didn't implement that in this yet.

[2016-06-12 17:07] mariobehling commented on #705
So, just to confirm - this is the option for the "speaker" to view and edit his submissions.

[2016-06-12 17:09] niranjan94 commented on #705
@mariobehling yes. this is for the **speaker**. I thought they aren't allowed to edit. So, I didn't implement that in this yet But I'll add it as a separate issue.

[2016-06-12 17:12] mariobehling commented on #728
@shivamMg As a user, I want to be able to save and export my event and then import my event in another installation. Cheers.

[2016-06-12 17:23] niranjan94 commented on #705
@mariobehling which all fields is the speaker allowed to edit ?

[2016-06-12 17:23] mariobehling commented on #705
A speaker has to submit this through a form as an answer to the Call for Speakers. @SaptakS is working on the form in step 5 of the create event wizard. The speaker should not be able to edit the location for example.

[2016-06-12 17:24] niranjan94 commented on #705
@mariobehling okay ... so, I'll push this current view now (without edit option) ... I'll add the edit option once Saptak is done with the form.

[2016-06-12 17:24] mariobehling commented on #705
Let's keep it simple. We probably have to add more fields later. Fields are defined in step 5. How about you take out location, track etc. out and implement it later.

[2016-06-12 17:26] niranjan94 commented on #705
Okay ... Cool I'll make it such that the following fields are editable for now. Rest we can add later if required.

1. title
1. subtitle
1. abstract
1. description

[2016-06-12 17:54] shivamMg commented on #728
@mariobehling What I meant is that by importing we mean taking in data in a defined schema and creating resources at the server, which is same as using POST APIs.

[2016-06-12 18:17] mariobehling commented on #728
@shivamMg @aviaryan The first step is to implement this with JSON. In future we probably also ex/import images and other media.

[2016-06-12 19:29] mariobehling commented on #701
@SaptakS On a second thought. Let's keep sponsors in here. Cheers

[2016-06-12 19:59] aditya1702 commented on #740
@SaptakS @niranjan94 I too agree.

[2016-06-12 19:59] #726 closed

[2016-06-12 20:02] rafalkowalski commented on #683
@mariobehling Can we close?

[2016-06-12 21:58] mariobehling opened #763 "Change Style of specific Event Dashboard to match All Events Dashboard and choose white only background for both"
Here is the screenshot of the event dashboard.
![screenshot from 2016-06-12 23 53 19](https://cloud.githubusercontent.com/assets/1583873/15994052/40807d0a-30f9-11e6-9ae3-7e77158f0b39.png)

And here is the dashboard of alle event.
![screenshot from 2016-06-12 23 54 58](https://cloud.githubusercontent.com/assets/1583873/15994054/4c02da74-30f9-11e6-8e13-b87ab2b7545e.png)

* [x] Match the design of th

[2016-06-12 21:59] #651 closed

[2016-06-12 22:08] rafalkowalski commented on #623
@aditya1702 can i take care of permissions?

[2016-06-12 22:11] mariobehling commented on #623
@rafalkowalski Good idea. Please do.

[2016-06-12 22:14] rafalkowalski opened #764 "Prepare footer"
@mariobehling what do you think? Currently it's an empty space
![screen shot 2016-06-13 at 00 13 30](https://cloud.githubusercontent.com/assets/2479753/15994127/c5bc139c-30fb-11e6-8775-469c18376293.png)

[2016-06-12 22:18] rafalkowalski commented on #623
@mariobehling can track-organizer edit every tracks or track defined by organizer/co-organizer?

[2016-06-12 22:22] rafalkowalski commented on #290
@mariobehling i think we can close it

[2016-06-13 02:55] #738 closed

[2016-06-13 03:16] #705 closed

[2016-06-13 04:05] #746 closed

[2016-06-13 04:05] #747 closed

[2016-06-13 04:13] aviaryan commented on #737
Should this be closed ? @shivamMg

[2016-06-13 04:20] shivamMg commented on #737
@aviaryan I've closed it. We can later collect all issues with documentation tag, it will help us in creating docs.

[2016-06-13 04:20] #737 closed

[2016-06-13 04:24] aviaryan commented on #737
@shivamMg Good idea.

[2016-06-13 04:43] SaptakS commented on #701
@mariobehling great.

[2016-06-13 04:47] SaptakS opened #765 "Unable to Create New Tables from Models"
After a certain change in the migration, the python create_db.py is unable to create tables from newly added models. Not sure why this is happening.

[2016-06-13 05:08] shivamMg commented on #623
@rafalkowalski A Track Organizer would be specific for an Event, i.e. a user can be TO in an Event where he has been assigned as one (by the event creator). The TO should be permitted to edit tracks of only those events where he is a TO in.

[2016-06-13 05:09] #379 closed

[2016-06-13 05:16] shivamMg commented on #765
@SaptakS Can you share the traceback of the python create_db.py command, if it had one. It's working at my local repo.

[2016-06-13 05:18] aditya1702 commented on #765
@shivamMg Are you able to create new table? Please look here I found this. According to this you cant auto detect an entire table. http://stackoverflow.com/questions/12409724/no-changes-detected-in-alembic-autogeneration-of-migrations-with-flask-sqlalchem

[2016-06-13 05:28] SaptakS commented on #765
@shivamMg there is no traceback. It executed but then it doesn't create a table from a newly written model. Can you check whether you can create a table from a newly written model?

[2016-06-13 05:51] shivamMg commented on #623
@rafalkowalski Have you started working on the issue, I would like to help. Or I can take up the issue if you want, you seem to be assigned to a lot of issues.

[2016-06-13 05:54] aditya1702 commented on #623
@shivamMg I am also working on the issue. You can help if u want :smile:

[2016-06-13 06:00] shivamMg commented on #623
@aditya1702 Would love to help. Are you working on a common branch? :smiley:

[2016-06-13 06:05] rafalkowalski commented on #623
do you have an idea @shivamMg ?

[2016-06-13 06:19] rafalkowalski commented on #765
ok, so problem is because you have to import somewhere this model for example to views.py

[2016-06-13 06:27] #765 closed

[2016-06-13 06:29] #290 closed

[2016-06-13 06:46] mariobehling commented on #764
Yes, very good! So let's think, which links we have:
Column 1:
* [ ] How it Works
* [ ] Pricing
* [ ] Mobile Apps
* [ ] Sitemap

Column 2:
* [ ] List of Event Categories (automatically generated by our top categories)

Column 3:
* [ ] List of Event Locations (automatically generated by our top locations)

Column 4:
* [ ] Support
* [ ] Twitter
* [ ] Facebook
* [ ] Google+
* [ ] YouTube
* [ ] GitHub

[2016-06-13 06:59] mariobehling commented on #623
@rafalkowalski

A track organizer needs to be assigned to a specific track to be able to edit the track. But, a track organizer can also be added to several tracks.

Could you please document a list what each role is allowed to do.

[2016-06-13 08:43] #739 closed

[2016-06-13 09:40] mariobehling opened #768 "Add Button "New" Session into Events Organizer UI"
It should be possible to add events in two ways
a) a potential speakers can click a registration button to answer the call for papers and fill in sessions in that process
b) an event organizer can add sessions in the event session UI, e.g. of VIPs who do not have to sign up in the system

* [ ] The "New Session" Button should go on this page below
![screenshot from 2016-06-13 11 37 31](https://clo

[2016-06-13 10:11] rafalkowalski commented on #623
@shivamMg @aditya1702
I've found below solutions, if you have another please add it here.
We need to choose the best. I like this one https://github.com/hustlzp/permission 👍 Easy way to create rules :D
RBAC
https://flask-rbac.readthedocs.io/en/latest/
https://github.com/tonyseek/simple-rbac

Permissions
https://github.com/raddevon/flask-permissions
https://github.com/hustlzp/permission

[2016-06-13 10:30] SaptakS commented on #768
![screenshot from 2016-06-13 15 59 21](https://cloud.githubusercontent.com/assets/9530293/16004537/d29eccb0-317f-11e6-989f-702eea86f913.png)

PR https://github.com/fossasia/open-event-orga-server/pull/769

[2016-06-13 10:31] mariobehling commented on #623
@rafalkowalski Please also regard the activity of the project, number of contributors and latest dates of commits.
simple-rbac, 3 contributors, last commit March 29
flask permissions, 3 contributors, Jan 29, 2015
hustlzp/permission, 2 contrib, 12 Nov, 2015

[2016-06-13 10:46] SaptakS commented on #686
@mariobehling I think this can be closed?

[2016-06-13 11:20] aditya1702 opened #770 "Create a doc regarding what each role is allowed to do"
#623

[2016-06-13 11:43] #768 closed

[2016-06-13 11:52] SaptakS commented on #501
Already handled in `/mysession` in PR https://github.com/fossasia/open-event-orga-server/pull/721

[2016-06-13 11:52] #501 closed

[2016-06-13 12:47] mariobehling opened #773 "Use same styling across app"
**My Sessions Page**
* [x] Move top heading into the Gray Area on My Sessions page (same as All Events Page)
![screenshot from 2016-06-13 14 36 27](https://cloud.githubusercontent.com/assets/1583873/16007695/5f28ad60-3174-11e6-8690-b7d1ee9e0528.png)

**All Events Page**
* [x] Rename "Events" to "Manage Events"
* [x] Take out Events List. It is redundant.
![screenshot from 2016-06-13 14 38 22](http

[2016-06-13 12:56] aviaryan opened #774 "Import Event: Create event from exported json"
Parent Issue: #728
Export event: #758 (PR = #772)

A POST request with the jsons zip file to `api/v2/events/import/json` will create the event along with other services (sessions, speakers and so) and return the newly created event as response.

[2016-06-13 12:59] #686 closed

[2016-06-13 13:41] #763 closed

[2016-06-13 13:42] #773 closed

[2016-06-13 13:54] #758 closed

[2016-06-13 14:04] mariobehling opened #777 "Use same styling in "create" and "edit" event wizard"
Follow up issue to https://github.com/fossasia/open-event-orga-server/issues/773

Please use the same styling as in other headers and top menus in the create and edit event wizard.

* [ ] Use the same top menu across all pages (currently in create/edit wizard the "Open Event" look is different with another font)
* [ ] Use the same styling for heading in gray top area
* [x] Take out ": Stage 1" fro

[2016-06-13 14:12] niranjan94 opened #778 "Session resize is not being saved to DB in the Scheduler tool"
In the Scheduler Tool, any session time changes by resize are not being stored in the database.

[2016-06-13 14:20] #778 closed

[2016-06-13 14:42] mariobehling opened #780 "Implement Import/Export buttons in event manager"
Please implement Import and Export of Events as shown below in the Event Manager http://open-event.herokuapp.com/events/

The ultimate design will probably be different, but for the moment the following should be good:
* [ ] **Import Tab**, that opens an overlay box for the import
* [ ] An icon in the "Options Area" to **export** an event

![screenshot from 2016-06-13 16 24 13](https://cloud.githu

[2016-06-13 15:07] niranjan94 opened #782 "Anonymous User: See event and Schedule"
As outlined in #622 .

Url: `/e/ID/` - the public page that holds the main information of an event (Maing menu with all event links, Tag Line, Event Description, Date, Time, Newsletter, Contact, Social Media, Twitter Timeline Embed, Location with Map)

- [x] `/e/ID/` - the public page that holds the main information of an event (#784)
- [x] `/e/ID/#speakers` - the section on the event page that sh

[2016-06-13 15:09] niranjan94 commented on #782
**Sample page from Eventbrite:**
![screencapture-www-eventbrite-com-e-lorem-ipsum-dolor-tickets-26035166885-1465830447016](https://cloud.githubusercontent.com/assets/2404372/16012354/b4b64864-31a6-11e6-922c-b346779864bc.png)

[2016-06-13 15:17] niranjan94 opened #784 "Anonymous User: Public page that holds the main information of an event"
Parent Issue: #782.

**Url:** `/e/ID/` - the public page that holds the main information of an event (Maing menu with all event links, Tag Line, Event Description, Date, Time, Newsletter, Contact, Social Media, Twitter Timeline Embed, Location with Map)

[2016-06-13 15:44] mariobehling opened #785 "Cannot publish event (immediately)"
There are a number of issues with publishing events.
![screenshot from 2016-06-13 17 38 42](https://cloud.githubusercontent.com/assets/1583873/16013584/4f594024-318e-11e6-93b5-a41aeaea6de8.png)
* [ ] Events currently cannot be set to "Publish". It is not published. Please change this "Publish" into "Make your event live"
![screenshot from 2016-06-13 17 41 30](https://cloud.githubusercontent.com/as

[2016-06-13 15:48] rafalkowalski commented on #755
1. Firstly i thought about flask-admin library but we need to customize it. the best solution will be second option(like drupal). Now we have a lots of views implemented so it will be very easy to add super admin panel

[2016-06-13 15:49] rafalkowalski commented on #785
ok i will do it

[2016-06-13 15:51] mariobehling commented on #777
Seems unresolved after checking deployment.

[2016-06-13 15:52] mariobehling commented on #683
Heroku info is partly false.
![screenshot from 2016-06-13 17 52 07](https://cloud.githubusercontent.com/assets/1583873/16013966/a6cd95e8-318f-11e6-90d5-6f8aec8c822d.png)

[2016-06-13 15:53] niranjan94 commented on #777
@mariobehling please check again. It seems to be fine.

![screenshot 50](https://cloud.githubusercontent.com/assets/2404372/16013979/048286a4-31ad-11e6-9515-cfb41268a43e.png)
![screenshot 51](https://cloud.githubusercontent.com/assets/2404372/16013980/0484e67e-31ad-11e6-84fa-56606f66227e.png)

[2016-06-13 15:57] niranjan94 commented on #683
@rafalkowalski @mariobehling That's because the Heroku app seems to be linked to this repo through `mohit.kanwal@gmail.com`'s account.

We could fetch the latest commit info using the GitHub API and display the person info. The version we can obtain from Heroku.

[2016-06-13 16:01] niranjan94 commented on #683
@rafalkowalski The current heroku API will give us the commit hash. (eg. `2417c9c`).

With that, a simple GET request (_no authentication required_) to `https://api.github.com/repos/fossasia/open-event-orga-server/commits/<commit_hash>` gives us the info about the commit and the person responsible for it.

(Eg. https://api.github.com/repos/fossasia/open-event-orga-server/commits/2417c9c)

[2016-06-13 16:47] niranjan94 commented on #782
@mariobehling which all parts of this would be coming from the webapp generator ?

[2016-06-13 17:08] mariobehling commented on #777
You are comparing the same page. Please check with "manage events".

[2016-06-13 17:10] mariobehling commented on #777
![screenshot from 2016-06-13 19 10 05](https://cloud.githubusercontent.com/assets/1583873/16016276/79f19834-319a-11e6-8ec9-6c8940c36a87.png)

[2016-06-13 17:13] mariobehling commented on #785
Does not work in deployment. Event cannot be saved and cannot be published. It does not show up in the list.

[2016-06-13 17:17] niranjan94 commented on #777
@mariobehling it still seems to be correct.
- The same top bar is used.
- Same styling for heading in gray top area.

![screenshot 52](https://cloud.githubusercontent.com/assets/2404372/16016444/c41bac7e-31b8-11e6-9798-c030d83db085.png)

[2016-06-13 17:22] mariobehling commented on #755
@rafalkowalski Ok, in this case we would make an "admin area", e.g. under the `/admin/`URL. Let's take a bit more time to think about the details.

[2016-06-13 17:51] mariobehling commented on #777
Tried with three browsers now. Looking at the css it also looks fine, but still getting the same difference with a fresh browser.

Both have different fonts for "Open Event" and "Create Event" has bolder font.

![screenshot from 2016-06-13 19 49 27](https://cloud.githubusercontent.com/assets/1583873/16017434/1c5e4e1e-31a0-11e6-8a74-cd0a77a78400.png)

[2016-06-13 18:09] niranjan94 commented on #777
@mariobehling Oh ... that's weird. I'll check everything once again

[2016-06-13 18:16] niranjan94 commented on #782
@mariobehling which all parts of this would be coming from the webapp generator ?

[2016-06-13 18:28] mariobehling commented on #782
The web app generator is unrelated to this. We will use the app generator mainly for external sites.

[2016-06-13 18:29] mariobehling commented on #782
we might change the view on this. Maybe we will use the same design. At the moment the first step is to make the pages work.

[2016-06-13 18:29] niranjan94 commented on #782
@mariobehling Okay ... I'll get this ready then.

[2016-06-13 19:02] SaptakS commented on #777
@mariobehling @niranjan94 I don't know why this is happening but I tried removing the font-family, and the design looks perfectly same after doing that. However when I apply Helvetica family again, it looks different. And their content size is also different, though the css computed is exactly the same.

[2016-06-13 19:16] SaptakS commented on #777
The element had a comma separated list of fallback font-family. In one page `Roboto` font was being loaded while in other page `Arial` was being loaded. Don't know exactly why this difference was happening but this is what was happening. Fixed in https://github.com/fossasia/open-event-orga-server/pull/787 . @mariobehling @niranjan94 please review.

[2016-06-13 19:26] mariobehling commented on #784
Good job! Thanks.

[2016-06-13 19:57] rafalkowalski commented on #740
@aditya1702 how is it?

[2016-06-13 20:08] SaptakS opened #789 "Change color for :hover on Tabs"
![screenshot from 2016-06-14 01 36 36](https://cloud.githubusercontent.com/assets/9530293/16021470/915dbb34-31d0-11e6-8b4f-e0bc43bc7045.png)

As you can see, on hovering a tab the text color becomes white.

[2016-06-13 20:11] mariobehling commented on #740
@SaptakS @niranjan94 @rafalkowalski @aditya1702 Regarding uploading files, we also need to upload audio and video potentially and here it might be more viable to keep it hosted externally or eg. on Amazon S3. Regarding image files, yes possibly we can host images externally as well, but if image links are changing this could be a problem. So best is if we could upload images either directly or if

[2016-06-13 20:20] SaptakS commented on #755
@mariobehling @rafalkowalski I think drupal option is good. We can make URLs such as `/admin/events/` , `/admin/sessions/` , etc.. to list all the various features.

[2016-06-13 20:22] SaptakS commented on #638
@mariobehling  the above mentioned tasks will be completed in https://github.com/fossasia/open-event-orga-server/issues/682 . Hence closing.

[2016-06-13 20:32] shivamMg commented on #623
@mariobehling We are working on a custom solution for this. Extensions might require a lot of tinkering to make them suitable for our purpose.

[2016-06-13 20:35] SaptakS commented on #602
@mariobehling can we close #631 and #632 ?

[2016-06-13 20:39] rafalkowalski commented on #566
@mariobehling can we close this?

[2016-06-13 20:39] #632 closed

[2016-06-13 20:41] mariobehling commented on #631
Please implement all fields in the list of this issue and follow the sorting order of the sort order of the list.

[2016-06-13 20:41] rafalkowalski commented on #785
i think it's working now @mariobehling

[2016-06-13 20:43] mariobehling commented on #602
#631 is incomplete. i have not gotten to test the invite speakers function. Did you? Does it work?

[2016-06-13 20:44] #566 closed

[2016-06-13 20:45] SaptakS commented on #602
Invite speakers isn't working. I will create an issue and implement that feature.

[2016-06-13 20:46] rafalkowalski commented on #755
@SaptakS good
/admin/users (CRUD, block user) maybe we can also shows few charts
/admin/payments(Monitoring)
/admin/newsletter

[2016-06-13 20:46] mariobehling commented on #623
@shivamMg :+1:
@leto Any input/ideas about this?

[2016-06-13 20:46] SaptakS commented on #631
@mariobehling ohk. Will do it.

[2016-06-13 20:48] rafalkowalski commented on #623
@mariobehling custom solution will be the best option for us, because our permission model isn't a standard

[2016-06-13 20:48] SaptakS opened #792 "Invite Speakers from Session Wizard"
Parent Issue #602

- [x] Invite speakers for a particular session through Mail.
- [x] Speaker accepts/rejects invitation.

[2016-06-13 20:49] mariobehling commented on #785
Well, it works publishing it, but it does not show up in the published "Live" category.

![screenshot from 2016-06-13 22 49 14](https://cloud.githubusercontent.com/assets/1583873/16022636/216b73f0-31b9-11e6-9320-c58eb05185fd.png)

[2016-06-13 20:50] SaptakS commented on #792
@mariobehling what exactly should be the format of the invitation? What I have thought is:-

- User is sent an invitation mail with a link
- User clicks on the mail and gets an accept/reject invitation.

What do you suggest? Is this the way I should proceed?

[2016-06-13 20:51] rafalkowalski commented on #785
@mariobehling ok i will change a filter

[2016-06-13 20:54] #789 closed

[2016-06-13 20:58] mariobehling commented on #792
Yes, good idea.

[2016-06-13 21:08] mariobehling commented on #623
@rafalkowalski Ok, makes sense. Thank you!

[2016-06-14 03:38] shivamMg opened #795 "ACL Database Models, Permissions system"
Child of the parent issue: https://github.com/fossasia/open-event-orga-server/issues/623

We first need to define correct relationships between models to make them work.

- Event-User-Role relationship
- Role-Service-Mode relationship (Permissions)

Here's a simple representation: https://wireframe.cc/azBwUN

EventUserRoles defines user-roles for Events. So it can contain e.g.:

|Event | User| Rol

[2016-06-14 03:57] #770 closed

[2016-06-14 04:20] #777 closed

[2016-06-14 05:58] shivamMg opened #797 "Create Models and Relationships for Permissions System"
As described here: https://github.com/fossasia/open-event-orga-server/issues/795

Create models and relationships according to the diagram. Some models already exist and just need modifications.

[2016-06-14 06:06] shivamMg opened #798 "Create Model methods to check for Permissions"
https://github.com/fossasia/open-event-orga-server/issues/795

This includes a `has_perm()` method for the User model.

[code]

`operation` could be "create", "update", "read", "delete".
`service` is a Model class that comes under services (Track, Microlocation, Session, Speaker, etc.).

Based on the permissions, `has_perm` must return either True or False.

Apart from this, every model class that

[2016-06-14 06:22] mariobehling commented on #674
I missed this. This seems completely unnecessary and against our goals to keep it simple. All sponsorship information should go into the sponsors API, except if there is a very good reason. What is the very good reason? We would end up with dozens of APIs if such a messy way is going to be continued. The APIs were clearly outlined with @rafalkowalski. The sponsorship API issue is here https://gith

[2016-06-14 06:24] aditya1702 commented on #740
@SaptakS @niranjan94 @rafalkowalski Are we going to have a separate 'Add Image' button and form or are we directly allowing upload from the table like this:
![logo](https://cloud.githubusercontent.com/assets/15054664/16032927/ac785040-3226-11e6-9e2b-f425ab892d94.png)

[2016-06-14 06:25] niranjan94 commented on #740
@aditya1702 I think direct from the table would be suitable

[2016-06-14 06:34] rafalkowalski commented on #795
@shivamMg sounds good but How can we implement track organizers? track organizer can be responsible for few tracs

[2016-06-14 06:44] mariobehling opened #799 "Create APIs, make sample JSON files and document it"
To start off we can use the APIs of the OpenTechSummit https://github.com/fossasia/open-event-orga-server/issues/624 and https://github.com/OpenTechSummit/2016.opentechsummit.net/tree/gh-pages/programm/json

Please add all APIs and relevant issues in the list below:
* [x] Event API https://github.com/fossasia/open-event-orga-server/issues/612
* [x] Speakers API https://github.com/fossasia/open-eve

[2016-06-14 06:51] rafalkowalski commented on #764
@mariobehling can you tell me what categories mean?

[2016-06-14 07:03] SaptakS commented on #792
@mariobehling the first part has been done in the Pull Request in the PR. Can you please review?

[2016-06-14 07:29] shivamMg commented on #795
@rafalkowalski This is something that I wanted to ask. Will the organizer (of an event) first specify what user role to assign (e.g. Track Organizer) and then specify what tracks the user must manage. If this is the case then there really doesn't seem the use of roles, since this can be managed in a simple permissions table, like so:

| User | Service | Service ID | Permission (modes) |
| --- | --

[2016-06-14 07:37] #774 closed

[2016-06-14 07:39] shivamMg opened #801 "Document all API fields, methods and access in API.md"
Parent: https://github.com/fossasia/open-event-orga-server/issues/799

* [x] Event API https://github.com/fossasia/open-event-orga-server/issues/612
* [x] Speakers API https://github.com/fossasia/open-event-orga-server/issues/618
* [x] Profile API https://github.com/fossasia/open-event-orga-server/issues/617
* [x] Sponsors API https://github.com/fossasia/open-event-orga-server/issues/615
* [x] Tra

[2016-06-14 07:40] rafalkowalski commented on #785
@mariobehling I've fixed it

[2016-06-14 08:00] shivamMg opened #802 "Define APIs with fields and methods"
Parent: https://github.com/fossasia/open-event-orga-server/issues/799

Define API fields and methods

* [ ] Event API https://github.com/fossasia/open-event-orga-server/issues/612
* [ ] Speakers API https://github.com/fossasia/open-event-orga-server/issues/618
* [ ] Profile API https://github.com/fossasia/open-event-orga-server/issues/617
* [ ] Sponsors API https://github.com/fossasia/open-event-o

[2016-06-14 08:06] aviaryan commented on #674
@mariobehling SponsorType was created because it allows organizers to create their **own sponsor types**. Then when they are adding a sponsor, they can select the type from the list (of sponsor types). They won't have to type it.
Should we move SponsorType inside Sponsors ?
In that case the API will be `events/<id>/sponsors` for sponsors and `events/<id>/sponsors/types` for sponsor types . (Sponso

[2016-06-14 08:08] rafalkowalski commented on #795
Looks great!

[2016-06-14 08:43] rafalkowalski commented on #683
@niranjan94 i will fix it

[2016-06-14 08:50] aviaryan commented on #617
@rafalkowalski @shivamMg
This is what I have thought so far..

1. POST
To keep it simple, post email and password to `/users` to create a user.

2. GET
GET on `/users` returns all users.
Apart from that, GET on `/users/events/<id>` returns all users part of event with id <id>
GET on `/users/<id>` returns full user profile

3. PUT
PUT on `/users/<id>` is to update a profile

4. DELETE
DELETE on `/u

[2016-06-14 08:58] mariobehling commented on #617
In order to make it easier for us to understand please list all fields and make a sample JSON that would be exported using this API.

[2016-06-14 09:03] mariobehling commented on #764
Good point. Let's better separate categories into a) Types and b) Topics and add "Types" in the Column 2. Also compare with Eventbrite.

![screenshot from 2016-06-14 11 00 53](https://cloud.githubusercontent.com/assets/1583873/16037164/98e238c2-321f-11e6-8031-8fd578f8a1d9.png)

[2016-06-14 09:08] mariobehling commented on #674
What is level for? I thought it is for sponsorship level. I am not sure, if we need level in sessions at the moment.

[2016-06-14 09:13] mariobehling commented on #802
How many issues with the same topic, do you want to open? This topic is already defined in #799 and each API follow up should happen in the links you provided yourself.

[2016-06-14 09:13] #802 closed

[2016-06-14 09:14] aviaryan commented on #617
@mariobehling
Here is the sample output
[code]

This is consistent with how user is stored internally but if needed I can take out that `user_detail` envelope.

[2016-06-14 09:22] aviaryan commented on #674
@mariobehling

It was there from the start. I think it is like difficult level of session. (not sure)

Should I remove level then ? If you are not sure, we can just hide it from the API for the moment.

Also what about sponsor_types and formats ? Should I move them inside their parents or let them be the way they are ?

[2016-06-14 09:44] mariobehling commented on #674
@aviaryan Please refer here https://github.com/fossasia/open-event-orga-server/issues/799

There is a list of APIs. If we need other APIs state why.

Please make list of the fields for each API and discuss details in the specific issue. Some questions are not blockers, e.g. the question of levels. You can still continue and if necessary open a separate issue to follow up later. At the moment we ar

[2016-06-14 09:44] #674 closed

[2016-06-14 09:48] mariobehling commented on #617
What about the picture, github etc.?

How do we restrict access to certain fields? E.g. we want people to be able to access certain data like link to the speakers website, but we dont want to make the phone number public.

[2016-06-14 10:50] niranjan94 commented on #634
@mariobehling This is the UI prototype

![screencapture-localhost-5000-events-create-1465901260742](https://cloud.githubusercontent.com/assets/2404372/16040159/9d161144-324b-11e6-887b-5f2438cf3433.png)

[2016-06-14 10:52] aviaryan commented on #617
picture = avatar in the above json .. Link to user's photo

github, linkedin, website etc have been defined in speaker's model and not in user's. But now that I think of it, it doesn't make sense to have it in speaker's model as a user could be speaker in many events. It makes no sense to copy same values multiple times. This is the current list of fields in a speaker model.

name, photo, biograph

[2016-06-14 12:18] aditya1702 opened #805 "Cant login on heroku"

[2016-06-14 13:31] niranjan94 commented on #634
**Step 2: Sponsors**

![screencapture-localhost-5000-events-create-1465910922422](https://cloud.githubusercontent.com/assets/2404372/16044461/29b33242-3262-11e6-99e4-f984e49b1154.png)

**Step 3: Session, tracks, rooms:**

![screencapture-localhost-5000-events-create-1465910932338](https://cloud.githubusercontent.com/assets/2404372/16044476/35ba9238-3262-11e6-9b20-30d73c52eb7d.png)

**Step 4: Call

[2016-06-14 13:55] mariobehling commented on #634
Ok, good progress. Did you test if this works also on smaller screens and mobile devices? Please do not post other steps in this issue (I deleted it to avoid confusion). Only post Step 1 improvements in this issue.

Please:
* [ ] implement 2 areas for beginning and end of event

I guess we should create separate issues for implementation of more detailed requirements.

Please make the date change,

[2016-06-14 14:03] #785 closed

[2016-06-14 14:04] rafalkowalski commented on #683
![screen shot 2016-06-14 at 16 04 01](https://cloud.githubusercontent.com/assets/2479753/16045660/b2efea0a-3249-11e6-96f2-d66f6989fdf7.png)
@mariobehling please check if can we close

[2016-06-14 14:10] mariobehling commented on #683
Responsible person for last changes: mohit.kanwal@gmail.com ?

I think Mohit is currently not involved.

[2016-06-14 14:15] niranjan94 commented on #634
@mariobehling alright ... Sorry about that ... I'll post the improvements in their respective issues ..

1. Yes I have tested it on smaller screens.
1. The date change, it opens a UI like this. So, that's why I had given a single input box
![capture](https://cloud.githubusercontent.com/assets/2404372/16046006/8212273a-3268-11e6-8d22-a64cdcf45bea.PNG)

I'll make it into two boxes if that's not need

[2016-06-14 14:18] niranjan94 commented on #636
**A more refined UI:** (tested on small/mobile screens)

![screencapture-localhost-5000-events-create-1465910932338](https://cloud.githubusercontent.com/assets/2404372/16046114/e57b3a32-3268-11e6-9c49-178e1a7c7595.png)

[2016-06-14 14:18] niranjan94 commented on #637
**A more refined UI:** (tested on small/mobile screens)

![screencapture-localhost-5000-events-create-1465910941235](https://cloud.githubusercontent.com/assets/2404372/16046128/ee322866-3268-11e6-8716-9629eca39ca8.png)

[2016-06-14 14:18] mariobehling commented on #634
Two boxes please. Just refer to Eventbrite for now if unsure.

[2016-06-14 14:18] niranjan94 commented on #697
**A more refined UI:** (tested on small/mobile screens)

![screencapture-localhost-5000-events-create-1465910922422](https://cloud.githubusercontent.com/assets/2404372/16046142/fd6ee530-3268-11e6-9c0d-2d44f0dc16cb.png)

[2016-06-14 14:19] mariobehling commented on #634
Also, please show the time as well, preferably in a separate box too.

[2016-06-14 14:19] niranjan94 commented on #634
@mariobehling okay .. Will do

[2016-06-14 14:23] #784 closed

[2016-06-14 14:27] #728 closed

[2016-06-14 14:28] mariobehling opened #808 "Import of Event not working"
Download of Event zip works well. If I try to upload/import the same file again, I get an error message.

![screenshot from 2016-06-14 16 26 32](https://cloud.githubusercontent.com/assets/1583873/16046535/126e5194-324d-11e6-93f5-8b855b7d79a0.png)

[2016-06-14 14:43] mariobehling commented on #697
If possible, please implement:
* [ ] Show small version of uploaded image in area of upload button.
* [ ] Dont show "Gold"
* [ ] Implement Level with numbers (e.g. three sponsors in level 1 will show up on the top of sponsorship areas)

[2016-06-14 14:49] mariobehling commented on #637
* [ ] Add tick box "Enable Call for Speakers" (If not ticked by user, do not show below fields).
* [ ] Increase width of text box
* [ ] Make all date/time boxes separate

[2016-06-14 14:52] niranjan94 commented on #697
@mariobehling will implement them.

[2016-06-14 14:53] niranjan94 commented on #637
@mariobehling alright will implement.

okay. I'll make all date/time box separate like Eventbrite

[2016-06-14 15:13] mariobehling commented on #637
Please also test this page on mobile.

[2016-06-14 15:13] aviaryan commented on #808
@mariobehling I downloaded event45.zip and found that the email used for event is invalid. The API validates all types of data and so returned 400 validation error because of invalid data.

[code]

[2016-06-14 15:15] mariobehling commented on #808
@aviaryan Ok, we need to validate this when the user types into the form then.

[2016-06-14 15:15] #808 closed

[2016-06-14 15:18] #780 closed

[2016-06-14 15:19] mariobehling commented on #636
Looks nice, but the colors are usually used for tracks only in the schedule. Please,
* [ ] Only display color choice for tracks
* [ ] Ensure that it is tested on mobile and displays well in mobile screens.

[2016-06-14 15:21] mariobehling commented on #636
For Session Types how can we display a time parameter at length? Could we have HH:MM for example?

[2016-06-14 15:36] niranjan94 commented on #636
@mariobehling
- Alright. I'll put color only for tracks.
- Will test on mobile once again
- Yes. We can display a `HH:MM` time picker as the length field. I'll do that too

[2016-06-14 15:36] niranjan94 commented on #637
@mariobehling I Will test on mobile once again before the final PR

[2016-06-14 15:46] aviaryan opened #810 "Delete Event API not working"
[code]

This is because most of the models are linked to event as foreign key.
The tests passed because SQLite is not so serious with relationships.

[2016-06-14 15:53] mariobehling commented on #810
If this helps: Please delete API sponsor_type and integrate it in sponsor API.

[2016-06-14 16:11] aviaryan opened #811 "Remove sponsor_types API and model"
<strike>
SponsorTypes URL will change to `events/<id>/sponsors/types/` and it will be under sponsors namespace now.
All get, post, list, delete functions will be made functionable from that endpoint.
</strike>
See https://github.com/fossasia/open-event-orga-server/issues/811#issuecomment-226373924

[2016-06-14 16:12] shivamMg commented on #801
@mariobehling Can you please take a look https://github.com/fossasia/open-event-orga-server/blob/development/docs/API.md

[2016-06-14 16:26] shivamMg commented on #811
@aviaryan Does it really matter if it comes under

[code]

or

[code]

It would still be an API. The real question is if the SponsorType field in the Sponsor API should be a simple string or a choices field. SponsorType API helps us provide the choices field. Let @mariobehling decide. If choices field is not required, I can remove the SponsorType API and specify type in Sponsor API as a simple str

[2016-06-14 16:29] mariobehling commented on #801
I still don't understand what kind of APIs you have in there e.g. sponsor type. Please limit the number of APIs as discussed at the beginning of this project.

[2016-06-14 16:31] mariobehling commented on #801
Please also put a number in front of the APIs, e.g. 1. Event API.

It is difficult to see which level are the headers.

[2016-06-14 16:32] shivamMg commented on #801
@mariobehling :+1:

I understand the sponsor type issue. Can you take a look here and tell what should we do https://github.com/fossasia/open-event-orga-server/issues/811#issuecomment-225937155.

[2016-06-14 16:33] mariobehling commented on #801
Another thing, the sorting is confusing. Please keep related entries together, e.g. longitude, latitude or start time, end time.

[2016-06-14 16:45] mariobehling commented on #810
@aviaryan If migrations does not work here, maybe talk to Rafal. It does not matter if we loose some data at this point.

[2016-06-14 16:50] aviaryan commented on #811
@shivamMg
Well having sponsor_type as choices is the practically correct option.
Having sponsor_types as `/events/<event_id>/sponsors/types/<sponsor_type_id>` will make it less scary for the new API user as no of API endpoints at the parent level of Swagger UI will be less.
More importantly since **sponsor_types will not exist without sponsors**, adding them inside it is better.

[2016-06-14 16:54] aviaryan commented on #810
It worked and I have opened a PR.

On Tue, Jun 14, 2016 at 10:15 PM, Mario Behling <notifications@github.com>
wrote:

[2016-06-14 17:06] mariobehling commented on #617
@aviaryan There could be different kind of events, where a speaker wants to provide a different photo and bio. Also, we dont want to change former event data with updated information possibly. So, keeping some of the data separate for each event could make sense. Maybe we can offer the option "copy data from your profile to this event".

[2016-06-14 17:24] mariobehling commented on #799
Currently, I see a "Format" API and a "Levels" API. I don't know what it is and I don't think we need it.

[2016-06-14 17:35] #810 closed

[2016-06-14 17:41] rafalkowalski opened #814 "Can't use menu on page e/ID"
![screen shot 2016-06-14 at 19 40 16](https://cloud.githubusercontent.com/assets/2479753/16053157/dfba753c-3267-11e6-84cf-65da3a349f7f.png)

[2016-06-14 17:45] shivamMg commented on #801
@mariobehling Serializing and sorting done https://github.com/fossasia/open-event-orga-server/blob/development/docs/API.md

[2016-06-14 17:50] shivamMg commented on #799
@mariobehling I'm removing the Format API and Level API. And, the format field and level field from Sessions (both database models and apis). None of us really know what they actually are.

[2016-06-14 17:51] mariobehling commented on #801
As mentioned in other issues, it is not clear why and what for some of the APIs are necessary and why they are not integrated.
* Forma: What is it for?
* Levels: Should be part of another API. I don't know what it is for? Sponsorship or location?
* Languages: Is it necessary to make an API for this?

[2016-06-14 17:52] shivamMg opened #815 "Remove Format and Level Database models and APIs"
https://github.com/fossasia/open-event-orga-server/issues/799#issuecomment-225953808

* [x] Format
* [x] Level

[2016-06-14 17:54] niranjan94 commented on #638
**A more refined UI:** (tested on small/mobile screens)

![screencapture-localhost-5000-events-create-1465926716072](https://cloud.githubusercontent.com/assets/2404372/16053620/2d381994-3287-11e6-8bdb-3c735348454f.png)

[2016-06-14 17:58] shivamMg commented on #801
@mariobehling About Formats and Levels, we are stuck with them because they were already defined in the databases when we started. None of us actually know what they are. https://github.com/fossasia/open-event-orga-server/issues/799#issuecomment-225953808

Languages might need an API, so the event organizer can specify them. OR we can provide with a list of all the languages.

[2016-06-14 17:59] mariobehling commented on #638
Nice. Please make a PR for the changes. Better are smaller PRs than bigger ones.

[2016-06-14 18:01] aviaryan opened #816 "Delete created data if importing event crashes midway"
Suppose you are importing an event and there is problem in the sessions.json file.
Then as the event is created before creating its sessions, the error causes method to immediately abort.  Due to this the created event + other created services (speakers, tracks etc) still remain which should not happen. As the import was unsuccessful, every bit of data created by it should be deleted.

[2016-06-14 18:03] niranjan94 commented on #638
@mariobehling for the wizard, I had to do a lot of internal template changes to remove code repetition. So, the event wizard, I will have to make a single PR with the changes.

[2016-06-14 18:08] aviaryan commented on #617
:+1:
I will do this tomorrow.

[2016-06-14 18:10] mariobehling commented on #638
In the Session Form, I do not know what Level and Format are for. Please take them out.

The options we want for the session forms are:
* [ ] Title
* [ ] Subtitle
* [ ] Short Abstract
* [ ] Long Abstract
* [ ] Session Type (this choice depends on the session type defined by organizers, e.g. workshop, talk etc. #635)
* [ ] Track (this choice depends on the tracks defined by organizers #636)
* [ ] U

[2016-06-14 18:13] mariobehling commented on #801
@shivamMg Please talk to @rafalkowalski how to take formats and levels out or describe why we need them.

We should surely take in a predefined list for languages. There are ready list available.

[2016-06-14 18:14] niranjan94 commented on #638
ok @mariobehling  .... I think @SaptakS is working on these here (#682).If not I'll work on these additional fields once I'm done with the wizard.

[2016-06-14 18:15] shivamMg commented on #801
@mariobehling Alright.

[2016-06-14 18:34] rafalkowalski commented on #801
@shivamMg @mariobehling Last year we decided to base on re-data format API http://data.re-publica.de/doc/api.html#levels, but for now we have different API format so i think we can remove Formats and Levels

[2016-06-14 18:43] shivamMg opened #818 "Remove Languages API and use predefined list of languages."
https://github.com/fossasia/open-event-orga-server/issues/801#issuecomment-225968030

Also remove language database models.

* [x] Remove API and model
* [x] Add predefined list of languages

[2016-06-14 22:16] rafalkowalski opened #821 "field sponsor type doesn't save to DB"

[2016-06-14 22:21] rafalkowalski opened #822 "Social links have wrong width when adding new"
![screen shot 2016-06-15 at 00 20 23](https://cloud.githubusercontent.com/assets/2479753/16061740/173419b0-328f-11e6-892c-fc9beef0a7a2.png)

[2016-06-15 01:05] SaptakS opened #823 "Step 5 of Event Wizard doesn't work."
The data changes are not stored in DB due to some error.

[2016-06-15 03:30] #823 closed

[2016-06-15 03:31] niranjan94 commented on #822
Where are these social link fields? Which form?

[2016-06-15 04:23] #816 closed

[2016-06-15 04:38] aviaryan commented on #821
I tried to create a sponsor type using Swagger UI and it is working. If you are trying to create a sponsor, you will have to create a sponsor type so that you can refer it by sponsor_type_id OR set it to None.

[2016-06-15 04:48] aviaryan commented on #627
@shivamMg are you working on this ?

[2016-06-15 05:42] mariobehling opened #827 "Define and create the admin section"
We need a way for super admins to view all events and sessions. Please outline and implement and admin section at: `/admin/

Starting points are:
* [x] `admin` it shows a dashboard and a table to admin features
* [x] `/admin/events/` shows a table with "All Live Events", "All Draft Events" and "All Past Events"
* [ ] `/admin/sessions/` shows a page similar to the mysessions page, but with "all pas

[2016-06-15 05:47] #805 closed

[2016-06-15 06:01] mariobehling commented on #822
It works for me at http://open-event.herokuapp.com/events/22/edit/ (Step 1).

[2016-06-15 06:10] #637 closed

[2016-06-15 06:10] #638 closed

[2016-06-15 06:11] #634 closed

[2016-06-15 06:12] #636 closed

[2016-06-15 06:14] #697 closed

[2016-06-15 06:19] niranjan94 commented on #683
@mariobehling @rafalkowalski I'll fix this.

[2016-06-15 06:21] #821 closed

[2016-06-15 06:21] mariobehling opened #828 "Session Form: Make Title and Name always required"
In session forms in step 5 of the wizard make "Title" and "Name" always required. Maybe we should make those in another color, so it becomes clear that they cannot be edited or change the UI somehow?

![screenshot from 2016-06-15 08 17 55](https://cloud.githubusercontent.com/assets/1583873/16069896/257ff8d4-32d2-11e6-840d-53ea58adb955.png)

[2016-06-15 06:23] niranjan94 commented on #828
Okay ... will do.

[2016-06-15 06:25] #822 closed

[2016-06-15 07:01] niranjan94 commented on #683
![capture](https://cloud.githubusercontent.com/assets/2404372/16070721/02b8cede-32f5-11e6-82ff-d8ed80959125.PNG)

- The user name is clickable - will go to the user's github profile
- The commit message and revision is clickable - will go to the commit on GitHub

[2016-06-15 07:05] aviaryan opened #829 "Add event type and topic to Event API"
They were added in #813 .
Plan to use a custom field type `fields.Choice` that will allow using only one of the already predefined values. (same as what has been done in [813 (diff)](https://github.com/fossasia/open-event-orga-server/pull/813/files#diff-7043e7db96fb8828645d33ff63695cc9R352))

[2016-06-15 07:13] niranjan94 commented on #828
![screencapture-localhost-5000-events-create-1465974801755](https://cloud.githubusercontent.com/assets/2404372/16071049/c55ba0fa-32f6-11e6-87e9-fead851830f2.png)

how about like this ?
The name and title fields will also be disabled, so that the user can't change it.

[2016-06-15 07:18] niranjan94 commented on #828
I also feel the email field for the speaker should be compulsory. As that's the way we are able to relate speakers with their Open Event accounts,

[2016-06-15 07:22] niranjan94 commented on #727
- All the CUD (create, update, delete) operations. We'll store the operation type, user_id, and the changed model's ID
- Revise ? I don't understand.
- We'll store name and email of user after deletion
- Trash system. It'll need some thinking. We'll have to change our DB codes to make soft deletes on models instead of hard deletes.
- Access info ? Accessing what ?

[2016-06-15 08:06] mariobehling opened #831 "Connect Open Event to Social Media accounts in Profile"
Follow up issue to https://github.com/fossasia/open-event-orga-server/issues/688

- [x] Twitter
- [x] Facebook
- [ ] Instagram

[2016-06-15 08:09] aviaryan commented on #617
working on this now.

[2016-06-15 08:14] mariobehling commented on #688
Feature still missing here is is upload capabilities for pictures.

[2016-06-15 08:21] rafalkowalski commented on #740
@aditya1702 do you need help with upload files?

[2016-06-15 08:28] shivamMg commented on #627
@aviaryan I'm working on other things right now. You can take this up if you like. There are four fields "slides", "video", "signup", "audio". Signup should be URL, rest others must either be uploadable media or urls.

[2016-06-15 08:30] aditya1702 commented on #740
@rafalkowalski I am almost finished :) . Will make a pull in a few mins. I closed the request because it had a lot of merge conflicts :sweat_smile:

[2016-06-15 08:35] SaptakS commented on #627
@aviaryan are you making the changes in the session table as well? I have a similar issue https://github.com/fossasia/open-event-orga-server/issues/631 . So, if you are making changes to table I will wait for the table creation otherwise there will be merge conflicts.

[2016-06-15 08:41] aviaryan commented on #627
@SaptakS Ok, I will try to send a PR soon.

[2016-06-15 08:42] SaptakS commented on #627
@aviaryan great..

[2016-06-15 08:46] mariobehling commented on #727
1. Revision, e.g. similar to Google docs and Wordpress: If someone edits the sessions, it would be nice to have a revision history. Example use case: Several speaker of the same session edit the session information and they want to see what has been changed.

2. Storing access info, e.g. log login attempts, logins, IP address etc. Example use case: A user tells us his account was hacked and we nee

[2016-06-15 08:52] mariobehling commented on #828
Yes, was also thinking about the email, but there is a common use case, where an organizer will fill out the speaker info for VIPs and maybe does not fill in the info. I am unsure, what is the best decision.

Well, maybe make it compulsory for now and we need to get feedback of other organizers at some point.

[2016-06-15 08:54] #829 closed

[2016-06-15 08:56] aviaryan opened #834 "Add Nested validation to API"
[code]

Currently everything under user_detail is not being validated.
Note - This type of API does not exist now but I think it will be needed for the Profile POST/PUT API. There is no harm in adding this feature.

[2016-06-15 08:58] mariobehling commented on #683
Very nice. Let's rename this page to `/admin` and make the future dashboard for admins there. So, we already have one widget :-)

[2016-06-15 08:59] #834 closed

[2016-06-15 09:36] aditya1702 opened #838 "Empty Session length prevents event from being created"

[2016-06-15 09:44] #838 closed

[2016-06-15 10:41] #683 closed

[2016-06-15 10:42] niranjan94 commented on #440
I'll work on this now

[2016-06-15 11:09] SaptakS commented on #682
@mariobehling presently "short abstract" is refered as "abstract" and "long abstract" as "description". Should I change that?

[2016-06-15 11:31] mariobehling opened #843 "Change Session form and add pre-selection"
Change:
* [x] Rename "Abstract" to "Short Abstract"
* [x] Rename "Description" to "Long Abstract"
* [x] Rename "Web" to "Website"
* [x] Rename "Biography" to "Short Biography"

Take out:
 * [x] Sing up URL -> This url should be automatically generated by Open Event

Preselect Include Only:
* [x] Short Abstract
* [x] Slides
* [x] Photo
* [x] Short Biography
* [x] Web
* [x] Twitter
* [x] Organisatio

[2016-06-15 11:36] mariobehling commented on #682
yes, please. Follow up issue with more things to change is here: https://github.com/fossasia/open-event-orga-server/issues/843

[2016-06-15 11:37] SaptakS commented on #682
Great

[2016-06-15 11:38] #627 closed

[2016-06-15 11:43] mariobehling opened #845 "Create Event Wizard Step 4: Increase Width of Call for Papers form a bit more and Make it full width in small screens"
This is about wizard step 4. Currently the form does not seem to be full width in small screens.

![screenshot from 2016-06-15 13 42 00](https://cloud.githubusercontent.com/assets/1583873/16078414/18b8ffe2-32ff-11e6-83fa-b619ee956779.png)

[2016-06-15 11:48] SaptakS commented on #845
Will do this asap.

[2016-06-15 11:54] #828 closed

[2016-06-15 11:55] SaptakS commented on #845
@mariobehling
![profile](https://cloud.githubusercontent.com/assets/9530293/16078754/32e204bc-331e-11e6-9e52-e1988aced4fb.png)

[2016-06-15 11:56] SaptakS commented on #845
@mariobehling  review
![screenshot from 2016-06-15 17 25 24](https://cloud.githubusercontent.com/assets/9530293/16078766/40e13484-331e-11e6-904e-dbd41238cea9.png)

[2016-06-15 12:05] mariobehling opened #846 "What are the search pages and categories we have? We need search output pages for events and bottom categories"
Currently, the location on bottom show up already, but we do not have a structure for search pages. How can we implement something like that?

![screenshot from 2016-06-15 14 04 22](https://cloud.githubusercontent.com/assets/1583873/16079014/2668671a-3302-11e6-944e-1df943865b83.png)

[2016-06-15 12:07] mariobehling commented on #845
Looks good.

[2016-06-15 12:39] mariobehling opened #848 "Add a check list to the specific event dashboard"
How it should work:

**Checklist**
* [x] Each wizard step gets a row.
    * [x] Basic Details
    * [x] Sponsors
    * [x] Session, Tracks, Rooms
    * [x] Call for Speakers
    * [x] Session Forms

**Color Changes and Emoticons**
* [x] If the all essential elements have been filled in the widget background turns green and there is a tick at the end
* [x] If some parts are missing, but some basic

[2016-06-15 12:47] niranjan94 commented on #848
@mariobehling so, where should this be displayed ?

[2016-06-15 12:49] niranjan94 commented on #848
- Where should this be located ?

- All the required elements (the ones marked with a *) are the essential ones ?

[2016-06-15 12:54] mariobehling opened #849 "Create Event Wizard Step 1: Add "Additional Details""
Please add a section on the bottom
* [x] "Additional Details" and
* [x] move "Type" and "Topic" there.

Also add options
* [x] Public page: List this event on Eventbrite and search engines
* [x] Private page: Do not list this event publicly
* [x] Create a follow up issue a) "Create and adapt robots.txt according to site and user policy" and b) "Exclude Events, that are listed a private from search

[2016-06-15 13:00] mariobehling commented on #848
Where: Any event dashboard, e.g. http://open-event.herokuapp.com/events/22/
Just add a widget.

At the moment we only require the event name and have `*`. It does not mean, that the event info is sufficient. We just require very little to get people started and enable them to save the event and continue later. Let's go the first steps and think along the way, how we define an event as red, yellow,

[2016-06-15 13:02] niranjan94 opened #850 "Create and adapt robots.txt according to site and user policy"
A robots.txt has to be served at `/robots.txt` to control search-engine crawler behaviour. (As said here #849)

_(For example) unlisted/private events should not come up on search listings_

[2016-06-15 13:03] niranjan94 opened #851 "Exclude Events, that are listed as private from search results on public search"
Events that are marked as private by the user should not come up on our search results (the search that is to be implemented in Open Event) . (As said here #849)

[2016-06-15 13:16] mariobehling opened #853 "Create an admin page to see all users and an edit link"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/863

We need an admin page to look into issues of users with their profiles if necessary. Please
* [x] set up a page with all users on `/admin/users/`
* [x] restrict access to super admins
* [x] add a button for edit profiles
* ~~add a button to edit users roles~~ (we can do that in permissions)

See an example below:
![screen

[2016-06-15 13:21] mariobehling opened #854 "Create an overview of permissions and enable admin to edit specific permissions of roles"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/863

Please
* [x] add a permissions page at `/admin/permissions/`
* [x] restrict access to super admin only
* [x] enable super admin to edit specific roles to change permissions
* [x] make a list of features and add tickboxes for specific roles

Related to https://github.com/fossasia/open-event-orga-server/issues/853

See an e

[2016-06-15 13:46] mariobehling opened #856 "Create Event Wizard Step 5: Move form tables below each other in small screens."
At small/mobile screen sizes, please move customize speaker form below customize session form (automatically).

![screenshot from 2016-06-15 15 43 33](https://cloud.githubusercontent.com/assets/1583873/16081989/3b303674-3310-11e6-961b-d5415e8eab44.png)
i

[2016-06-15 14:59] niranjan94 commented on #843
![screencapture-localhost-5000-events-create-1466002723329](https://cloud.githubusercontent.com/assets/2404372/16084843/cd07c7b6-3337-11e6-90c8-115ca97b6dec.png)

@mariobehling this is fine ?

[2016-06-15 15:25] mariobehling commented on #843
Photo and Mobile is not preselected. Simply tick the points in this issue, please.

Please also move - Organisation, Position, Country - right after Photo please.

[2016-06-15 15:27] mariobehling commented on #843
Rename Biography to Short Biography and Add Long Biography.
Preselect Short Biography.

[2016-06-15 16:16] mariobehling opened #863 "Create main tab in Admin Area"
1. Create a heading "Administration"

2. Create a top menu similar to the one below (manage events) with the links to the following:
     * [x] Events -> `/admin/events/` https://github.com/fossasia/open-event-orga-server/issues/871
     * [x] Sessions -> `/admin/sessions/` #870
     * [x] Users -> `/admin/users/` https://github.com/fossasia/open-event-orga-server/issues/853
     * [x] Permissions

[2016-06-15 17:36] #856 closed

[2016-06-15 17:46] mariobehling commented on #845
Call for papers should be full width in very small screen resolutions, but it is not yet.
![screenshot from 2016-06-15 19 45 25](https://cloud.githubusercontent.com/assets/1583873/16090956/d3c75f7c-3331-11e6-8d56-5bb6d564a03a.png)

[2016-06-15 17:50] mariobehling commented on #843
When I try to edit events, some events have wrong states, e.g. Required is marked by Include is not. The state also was not saved correctly.

There should not be a "next" button on the last step in the wizard.

![screenshot from 2016-06-15 19 48 31](https://cloud.githubusercontent.com/assets/1583873/16091065/4c91cb2c-3332-11e6-909a-2341e31e2a8c.png)

[2016-06-15 17:52] #798 closed

[2016-06-15 17:52] #797 closed

[2016-06-15 17:56] mariobehling commented on #843
Please also rename:
* [ ] Customize Session Form -> Customize Session Registration Form
* [ ] Customize Speaker Form -> Customize Speaker Registration Form

[2016-06-15 17:58] niranjan94 commented on #845
I will do this ...

[2016-06-15 18:00] mariobehling commented on #843
Add:
* [ ] Session Type
below "Tracks"

[2016-06-15 18:02] niranjan94 commented on #843
What are the available session types ?

[2016-06-15 18:06] mariobehling opened #866 "Create Event Wizard Step 3: Improve Section"
Change as follows:
* [x] Enable/Disable Form (like Call for Papers)
* [x] If disabled make "Tracks and Session Types" gray in Step 5 and in info "You need to enable Tracks in Step 3 to activate this option"
* [x] Make "Floor" as optional and not required
* [x] Change "Lightning Talks" to "Talks" and pre-enter 00:30
* [x] Fix view in small screens as below

![screenshot from 2016-06-15 19 44 24](ht

[2016-06-15 18:27] #843 closed

[2016-06-15 18:27] #845 closed

[2016-06-15 18:27] #849 closed

[2016-06-15 18:31] mariobehling opened #868 "Screen Height erroneous at different resolutions/browser sizes"
Please try to resize each step of the wizard at different screen sizes. Partly things get cut off e.g. step 5 and at other points there is a hug empty area.

![screenshot from 2016-06-15 20 29 51](https://cloud.githubusercontent.com/assets/1583873/16092425/1fd51426-3338-11e6-8180-5f3f11daf39d.png)
![screenshot from 2016-06-15 20 29 27](https://cloud.githubusercontent.com/assets/1583873/16092423/1f

[2016-06-15 18:43] niranjan94 commented on #868
@mariobehling the wizard recalculates the screen height **only every time the page is loaded**. So, instead of resizing it, **refresh the page after resizing** to get the correct height.

[2016-06-15 18:49] niranjan94 commented on #868
So, I don't think this is a bug.

[2016-06-15 19:01] SaptakS commented on #868
@mariobehling as suggested by @niranjan94 you need to reload the website after resizing to get the original sizing o f the various parts.. I think the problem will be solved.

[2016-06-15 21:39] mariobehling commented on #868
Ok, so I understand why it happens. Thank you. Still, reloading is not a good option. We need to find a solution as this is not the expected behavior. There are other issues, e.g. when you load the page and the top line is gray for a short moment and then changes color.

Such things just make the user feel the sites are still under development and unfinished. Try out any major site on the web, the

[2016-06-15 21:47] mariobehling commented on #811
When is this resolved? The API still shows up here sponsor_types. We have people waiting for the correct API outline to plugin the Web App and Android project. Please proceed.

[2016-06-15 21:48] mariobehling commented on #811
Please do not label things discussion, that were already clearly outlined at the beginning of the project. Again, we do not need an API for each field in a form.

[2016-06-15 22:02] #715 closed

[2016-06-15 22:02] #755 closed

[2016-06-15 22:08] mariobehling commented on #827
This is not entirely solves, but let's follow up here: https://github.com/fossasia/open-event-orga-server/issues/863

[2016-06-15 22:08] #827 closed

[2016-06-15 22:11] mariobehling opened #870 "Create an admin page to see all sessions of all events"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/863

We need an admin page to look find all session of events. Please
* [x] set up a page with all users on `/admin/sessions/
* [x] restrict access to super admins
* [x] add a table for all sessions of all events and an edit button
* [x] tabs a) Past b) Upcoming

[2016-06-15 22:17] mariobehling opened #871 "Create an admin page for all events of all users"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/863

**Admin Events Page**
We need an admin page to find all events. Please
* [x] set up a page with all users on `/admin/events/
* [x] restrict access to super admins
* [x] add a table for all events and an edit button
* [x] tabs (in the following order)
   * [x] All Events
   * [x] All Live
   * [x] All Drafts
   * [x] All P

[2016-06-15 22:21] mariobehling opened #872 "Create an admin page for reports"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/863

We need an admin page for reports. Please
* [x] set up an empty placeholder page with the heading "Reports" on `/admin/reports/`
* [x] restrict access to super admins

[2016-06-15 22:53] mariobehling commented on #795
Yes, there are two kind of permissions. Both need to be implemented.
1. Roles that are related to events as outlined in https://github.com/fossasia/open-event-orga-server/issues/623
2. Roles that are systemwide: At the moment Super Admin, and probably more in future
The Super Admin can do anything in any event and access `/admin/` area. He/she can change any role and upgrade/downgrade anyone in an

[2016-06-15 23:48] mariobehling opened #873 "Set up and improve process to add co-organizers etc."
This feature is on the dashboard of events at `/events/ID/`

Think of this process like as if someone is invited to be co-admin etc. at a Facebook Page.

* [x] Send Email with Sign up/Acceptance Link
* [x] If user is already in system, show message in dashboard of invited user "You have been invited to event xyz. Wanna accept?"
* [x] Show in dashboard of invitee who has been invited and who has ac

[2016-06-16 02:39] aviaryan commented on #811
@mariobehling Ok. I will completely remove sponsor_type API and make it a string field in sponsors. Also I will add a **hidden** method that will fetch used sponsor types for an event. This will help to provide a list of choices of already used sponsor types when adding a sponsor.

[2016-06-16 04:04] aviaryan opened #875 "Sponsorship level field missing in Sponsor API"

[2016-06-16 05:36] mariobehling commented on #782
Please add a button "View" to the specific event dashboard as well. So organizers can find this event.

[2016-06-16 05:45] niranjan94 opened #876 "Internal Server Error on Event Edit"
There seemed to be an Internal Server error when editing events.

[2016-06-16 05:50] #876 closed

[2016-06-16 06:02] #625 closed

[2016-06-16 06:13] mariobehling opened #879 "Implement Billing Process"
Process is as follows.

1. User gets an email with bill
2. User pays online through service
3. User is redirected to confirmation page
4. Confirmation page has two links a) View Receipt b) View Billing Details
5. User gets an email with Bill Payment Confirmation and a Bill number

[2016-06-16 06:38] #814 closed

[2016-06-16 06:40] mariobehling opened #880 "Create Event Wizard Step 2: Add delete sponsor option"
Currently sponsorship fields cannot be deleted.
![screenshot from 2016-06-16 08 38 57](https://cloud.githubusercontent.com/assets/1583873/16107641/e5ff7ca8-339d-11e6-932a-baceac724769.png)

[2016-06-16 06:59] mariobehling opened #882 "On location bottom column: Show live events and cities only"
It looks like currently all events no matter what stage, also draft and past, show up on the location bottom column.

* [x] Ensure only cities show up (sorted by cities with the most events on top)
* [x] Only show live events

![screenshot from 2016-06-16 08 56 37](https://cloud.githubusercontent.com/assets/1583873/16108001/a15edd5c-33a0-11e6-8cd4-55ce4472c6ae.png)

[2016-06-16 07:06] aditya1702 opened #883 "Add Image upload to the Profile page"

[2016-06-16 07:11] #811 closed

[2016-06-16 07:11] #875 closed

[2016-06-16 07:29] aviaryan commented on #624
@mariobehling I think this issue is complete.
Missing fields have been added in tracks , session and sponsors. There is one field `header_line` in [OTS tracks json](https://github.com/OpenTechSummit/2016.opentechsummit.net/blob/gh-pages/programm/json/tracks.json) but we don't understand what it is so it has not been added.

Sessions
[code]

Tracks
[code]

Sponsors
[code]

[2016-06-16 07:32] aditya1702 opened #886 "drop_db gives error"

[2016-06-16 07:34] aviaryan commented on #886
Please share some logs/messages.

[2016-06-16 07:37] #886 closed

[2016-06-16 07:38] aviaryan commented on #815
@shivamMg I can work on this issue now if you are busy.

[2016-06-16 07:57] SaptakS commented on #883
![profile](https://cloud.githubusercontent.com/assets/9530293/16109354/f7658f50-33c5-11e6-91b1-f767ebe8ce35.png)

@mariobehling @aditya1702 please review.

[2016-06-16 08:09] aditya1702 commented on #883
Seems good to me

[2016-06-16 08:09] niranjan94 commented on #848
The basic UI prototype. I just added some temporary colors to see how it looks.

![capture](https://cloud.githubusercontent.com/assets/2404372/16109654/9b4da57a-33c7-11e6-9a75-a729d3e41156.PNG)

[2016-06-16 08:12] mariobehling commented on #624
Ok, thanks! Looks good.

[2016-06-16 08:12] #624 closed

[2016-06-16 08:15] mariobehling commented on #815
@aviaryan Yes, please do. Thank you.

[2016-06-16 08:25] aviaryan opened #889 "Show return model of sponsor types list in Swagger spec"
Currently no return model (or schema) is shown for the GET API to get sponsor types used in a Event

![sponsor_type_old](https://cloud.githubusercontent.com/assets/4047597/16110108/be118070-33c9-11e6-8532-ce104c5a57d3.png)

[2016-06-16 08:32] mariobehling commented on #848
Very nice.

[2016-06-16 08:38] #889 closed

[2016-06-16 08:40] mariobehling commented on #883
Not working on live system.

[2016-06-16 08:42] aviaryan commented on #815
@mariobehling will do

[2016-06-16 08:56] aditya1702 commented on #883
@mariobehling This is just the UI. I am working on the backend functioning of it

[2016-06-16 09:03] niranjan94 commented on #848
@mariobehling  ... thanks :) ... So, these are the states I have in mind.

1. Basic details
	- **Yellow** - Event name, start time, end time, description are filled
	- **Green** - (Yellow) + Location + Organizer name + Organizer Description
1. Sponsor Details
	- **Red** - No sponsors are added
	- **Yellow** - Only one sponsor is added but data is incomplete
	- **Green** - At Least one sponsor with

[2016-06-16 12:06] mariobehling opened #893 "Create Event Wizard Step 1: Define details for saving and making events online"
Implement as follows:
**To save an event**
* [x] The only requirement should be to "Name of Event"
* [x] When a user "Creates a new event" automatically fill in a date 10 days later and "Starts" 19:00 and "Ends 22:00" (The user can then change it, but this is the pre-filled in standard)

![screenshot from 2016-06-16 13 55 12](https://cloud.githubusercontent.com/assets/1583873/16115980/9820ae62-33c

[2016-06-16 13:26] mariobehling commented on #815
@aviaryan Documentation should be part of any development.
* [ ] Please update the documentation https://github.com/fossasia/open-event-orga-server/blob/development/docs/API.md

[2016-06-16 13:38] aviaryan commented on #815
@mariobehling I agree. Sorry I forgot about it. Opened PR #895 for it.

[2016-06-16 13:39] mariobehling opened #896 "Complete and update API fields and documentation"
There are a number of API fields, that do not seem to be added yet e.g. Audio and Video.
* [x] Please check which fields are missing and add them.
* [ ] Document and update the API docs at https://github.com/fossasia/open-event-orga-server/blob/development/docs/API.md
* [x] Provide a full set of sample JSON import/export files using the data of the OpenTechSummit https://github.com/OpenTechSummit/

[2016-06-16 13:45] mariobehling commented on #896
I guess, in this issue you need to go through the wizard and check if really all fields are represented in the API already.

[2016-06-16 13:49] aviaryan commented on #896
@mariobehling Ok. I'll see. There is authentication information missing too in the doc, I will add it.

* [ ] Add Authentication info in API.md

[2016-06-16 14:28] shivamMg commented on #815
@aviaryan So this can be closed now?

[2016-06-16 14:29] aviaryan commented on #815
Yes I think

[2016-06-16 14:29] #815 closed

[2016-06-16 15:38] mariobehling opened #904 "Propose and implement a Tickets API covering"
* [ ] Make a list of fields
* [ ] Outline Tickets API
* [ ] Implement API
* [ ] Document API

[2016-06-16 15:41] mariobehling opened #905 "Create Event Wizard Step 1: Add Ticket URL field"
Add field "Ticket URL" below "Organizers Description in event wizard step 1.

[2016-06-16 15:52] #848 closed

[2016-06-16 16:16] #792 closed

[2016-06-16 16:25] mariobehling commented on #848
Very good. We probably need to refine this as we get experience. This is an excellent start to this feature! Thank you.

[2016-06-16 16:28] niranjan94 commented on #848
@mariobehling Thanks a lot :) . Yes. As we progress and get more input from users, we can start refining this event better.

[2016-06-16 16:40] shivamMg commented on #854
@mariobehling @rafalkowalski What would a complete user mean? Authenticated users are those that are logged into our site, rest are anonymous users.

[2016-06-16 16:51] shivamMg commented on #853
@mariobehling The owner (creator) of the event would be the admin of that event, right?

[2016-06-16 16:55] mariobehling commented on #863
Actually this was not completely thought through. We need the white tab area for the menus of each point.

What other options do we have? Maybe sth. like the below?

![screenshot from 2016-06-16 18 49 31](https://cloud.githubusercontent.com/assets/1583873/16125422/dc118938-33f3-11e6-8b6f-4582fe5a4557.png)

[2016-06-16 17:11] mariobehling commented on #853
Yes, correct.

[2016-06-16 17:12] mariobehling commented on #854
The image is just an example. We have our own permission categories/users.

[2016-06-16 17:14] rafalkowalski commented on #863
it looks nice but maybe simple menu will be enough?

[2016-06-16 17:23] mariobehling commented on #863
It is not so much about the style. It is about using the space. Just use whatever styles are available in Genetella. I just want to keep the white area available for the data and subtabs. As an inspiration below.

![screenshot from 2016-06-16 18 49 31](https://cloud.githubusercontent.com/assets/1583873/16126312/d69bb6b4-33f7-11e6-8ebc-51023e121221.png)

[2016-06-16 17:33] shivamMg commented on #854
@mariobehling Alright :+1:

[2016-06-16 17:42] SaptakS commented on #863
@mariobehling this can be done.. We can shift it to right like in your design to use more space..

[2016-06-16 17:56] #866 closed

[2016-06-16 17:56] #905 closed

[2016-06-16 18:16] mariobehling commented on #868
Unfortunately not entirely solved. I am moving this to a later milestone as we can implement basic functionality and get out such small bugs later.

[2016-06-16 18:28] mariobehling opened #910 "Rename "Home" to "Overview in Event Dashboard"
Rename the main tab to "Overview"

![screenshot from 2016-06-16 20 27 07](https://cloud.githubusercontent.com/assets/1583873/16128373/c7ff8b18-3400-11e6-874f-f127296ddd9d.png)

[2016-06-16 19:16] mariobehling opened #913 "Functionality to Manage Events Dashboard and Specific Event Dashboard: Publish, Unpublish, Copy, Delete"
* [x] Publish
* [x] Unpublish
* [x] Copy
* [x] Delete

[2016-06-16 23:37] SaptakS commented on #631
@mariobehling what exactly do you mean by these? Will this be available by default or should this be added from custom form as well?

[2016-06-17 00:22] #440 closed

[2016-06-17 00:38] #883 closed

[2016-06-17 02:43] aviaryan opened #916 "Add session type in API"
Parent Issue #896

Session Type is missing in API (Sessions API).

[2016-06-17 02:52] aviaryan opened #917 "Handle extra fields in API payload"
Suppose an API requires user to send 3 fields "a", "b" and "c" in the json.
But the user sends one more field "d". Currently this results in server error.

There are 2 things that can be done here -
1. Throw a validation error telling that "d" field is extra.
2. Quietly remove extra fields such as "d"

For a stable platform, I think option 1 is better but for now, option 2 is better.

[2016-06-17 04:26] #910 closed

[2016-06-17 04:44] #818 closed

[2016-06-17 04:55] shivamMg commented on #801
@mariobehling All of these have been documented. https://github.com/fossasia/open-event-orga-server/blob/development/docs/API.md. I think we can close this issue.

[2016-06-17 04:55] #801 closed

[2016-06-17 06:09] aditya1702 opened #920 "Add test for file upload"

[2016-06-17 06:11] mariobehling opened #921 "Lower permissions for registered but unverified user"
Let's take twitter as an example. As long as a user does not verify an account it is not possible to perform different tasks.

And this is what we want: A user should be able to enter email and password, but as long as the email is not confirmed, the user cannot make an event live. Please consider what is required to make this possible.

* [x] Check and change the current sign up process to suppor

[2016-06-17 06:28] mariobehling opened #922 "Add ticket URL to Event API and document it"
Related to: https://github.com/fossasia/open-event-orga-server/issues/905

* [ ] Add Ticket URL to event API
* [ ] Document it in API.md

[2016-06-17 07:06] aviaryan opened #923 "Port OTS Json to Open Event for samples, import/export"
Parent issue #799 and #896

https://github.com/OpenTechSummit/2016.opentechsummit.net/tree/gh-pages/programm/json

[2016-06-17 07:21] mariobehling opened #924 "Document APIs with Additional Information and Response Samples"
In order to enable other projects to connect with Open Event, let's refine the API documentation even more. There is a similar project, though smaller in scope, of the Drupal community. Please compare to the API documentation example [here](http://connfa.com/api/getspeakers/) and add details to our API.md (no need to separate the document for the moment, keep all in one document).

Please improve,

[2016-06-17 07:31] mariobehling commented on #880
Next step: Please implement same style as other areas in the wizard. E.g.:
![screenshot from 2016-06-17 09 31 02](https://cloud.githubusercontent.com/assets/1583873/16143641/4c8a17f0-346e-11e6-814d-eb4fb2da735c.png)

[2016-06-17 07:32] SaptakS commented on #880
You want this style of removing? The red button. Don't you think it will look a little odd in the table display?

[2016-06-17 07:53] mariobehling commented on #880
Yeah, maybe right. We need to think about this anyways later, cause on mobile it is not so good yet. But, you are probably right. Just keep it. I was just confused, that there is again a different UI element.

[2016-06-17 07:53] #880 closed

[2016-06-17 08:00] SaptakS commented on #880
@mariobehling agreed. I guess a lot of UI need to be modified for mobile.

[2016-06-17 08:18] mariobehling commented on #623
This issue is really starting to be urgent as it is blocking other features.

[2016-06-17 08:29] #917 closed

[2016-06-17 09:15] aviaryan opened #926 "Add session state field in API"
pending , accepted , rejected are the 3 values it can take.

[2016-06-17 11:47] #913 closed

[2016-06-17 11:48] #926 closed

[2016-06-17 12:20] aviaryan commented on #916
@shivamMg I am confused about what APIs should we create for session_type . We atleast need create, get list, update and delete APIs.

[2016-06-17 12:27] aviaryan opened #937 "If nested fields are null, show null instead of their structure"
Take for example Sessions API. If `track` is None (not set), it shows

[code]

It would be better if it shows

[code]

@shivamMg @mariobehling What do you think ?

[2016-06-17 12:29] niranjan94 opened #938 "Scheduler UI: javascript error while moving"
Due to the recent changes in the Sessions API Object structure, there are some `undefined parameter` errors in the Scheduler UI

[2016-06-17 12:30] #893 closed

[2016-06-17 12:41] aditya1702 opened #939 "Create decorator functions for user roles and permissions"

[2016-06-17 12:52] aviaryan commented on #922
ticket_url was already added to the API (don't know who added it). I added it in docs. closing ..

[2016-06-17 12:52] #922 closed

[2016-06-17 13:06] aviaryan opened #942 "Add creator field in Event API"
Points -

* Creator field cannot be modified by PUT
* Creator field cannot be set by POST. It is auto-set at POST request.

[2016-06-17 13:12] #937 closed

[2016-06-17 13:49] mariobehling commented on #853
Fields in the heading that make sense for us are:
* [ ] Name
* [ ] Email
* [ ] Role
* [ ] Member Since
* [ ] Last Access
* [ ] Options

[2016-06-17 14:25] mariobehling commented on #631
@SaptakS We already implemented this option in step 5 of the Create Event Wizard. Just ensure anything that is marked as "Include" and "Required" is handled exactly as marked by the organizer.

[2016-06-17 14:38] mariobehling commented on #764
Unfortunately the footer design is not like in the screenshot, e.g. text is too dark to read and width of bottom footer is different.

[2016-06-17 15:19] SaptakS commented on #639
@mariobehling I am working on it.

[2016-06-17 15:37] rafalkowalski commented on #846
I will work on this

[2016-06-17 15:50] mariobehling opened #948 "Admin: Make all tables sortable"
Please make all table columns sortable as in the example below.

![screenshot from 2016-06-17 17 48 58](https://cloud.githubusercontent.com/assets/1583873/16156304/eb3d3860-34b3-11e6-8d3c-4dd7cb660766.png)

[2016-06-17 16:02] shivamMg commented on #924
Our API documentation can be found at https://open-event.herokuapp.com/api/v2.

[2016-06-17 16:10] #938 closed

[2016-06-17 16:19] mariobehling opened #949 "Admin: Sessions use admin style table"
In the user space we will adapt the design more and more to make it more suitable for normal users. In the admin area the table design is most suitable.

Please implement the same table design as in the other sections of the admin area in the sessions section at `/admin/sessions/`.

Instead of "Upcoming/Past" use the following tabs

* [x] All Sessions
* [x] All Pending
* [x] All Accepted
* [x] All

[2016-06-17 16:26] mariobehling commented on #882
At the moment it is still the address that shows up, but the goal is that only the city to shows up.

[2016-06-17 16:34] shivamMg commented on #623
I put some thought into the Speaker role, and we might not need it. The Speaker role requires two permissions, one editing his own info (Speaker model he created) and other reading the Session he sent proposal for.

After a user sends a Speaker proposal we can associate that Speaker model with the user. And after it has been accepted, only the associated user will be given permission to edit the i

[2016-06-17 16:41] mariobehling opened #950 "Admin: Implement Search and Number of Items to show in Admin section"
Please implement search and number of items in following admin sections with the standard table view:
* [x] Events
* [x] Sessions
* [x] Users

Number of items to show
* [x] 25
* [x] 50 (standard choice)
* [x] 100
* [x] 200

Examples:
![screenshot from 2016-06-17 18 30 55](https://cloud.githubusercontent.com/assets/1583873/16157940/17212660-34bb-11e6-8c90-fcdfa059b10c.png)

![screenshot from 2016-0

[2016-06-17 16:46] mariobehling commented on #623
Please check if other use cases are relevant here too e.g.:
* There could be several speakers of one session who could edit their session
* This is probably not directly relevant to the speaker role, but should be kept in mind: Organizers and track organizers will probably edit the sessions speaker submitted as well.

[2016-06-17 16:48] mariobehling opened #951 "Where can users see in which event they have which role?"
The model of meetup might be interesting here.

[2016-06-17 16:52] shivamMg commented on #623
But the speakers are not allowed to edit sessions. They can only see their own sessions. Quoting from the main description above:

[2016-06-17 17:05] mariobehling opened #952 "Implement Role: Registered User"
Any user needs to have a role, so we can sort, find and adapt permissions for groups of users easily in the admin section https://open-event.herokuapp.com/admin/users/. Every user who registers should automatically get the role "Registered User".

This is also related to the issue https://github.com/fossasia/open-event-orga-server/issues/921 about unverified registered users.

Please implement the

[2016-06-17 17:07] mariobehling commented on #623
Yes, speakers can change for example their abstract. And also if several speakers have the same session they can all edit the session.

[2016-06-17 17:44] mariobehling opened #953 "Scheduler: Cannot drag and drop items"
I tried out event: https://open-event.herokuapp.com/events/59/scheduler/

[2016-06-17 17:53] mariobehling opened #954 "Implement Sessions Section with more relevant table data"
In the relevant BaseURLs of sessions of specific events `/events/ID/sessions/` (e.g. https://open-event.herokuapp.com/events/59/sessions/) please implement the table as follows:

* [x] State
* [x] Title
* [x] Speaker
* [x] Track
* [x] Short Abstract
* [x] Submission Date
* [x] Last Changed Date
* [x] Options (View, Edit, Delete)
* [x] Accept or Reject Button

[2016-06-17 17:56] shivamMg opened #955 "Implement Speaker roles using Speaker Model"
* [x] Add relationships between User and Speaker models.
* [x] Create helper functions to check if user is a Speaker for a Session.
* [x] Update ROLES.md docs.

[2016-06-17 18:00] mariobehling opened #956 "Implement Speakers Section in Event Dashboard Section"
Please implement a speakers table in the specific event dashboard section at `/events/ID/speakers/` (e.g. https://open-event.herokuapp.com/events/59/speakers/) as follows:

* [x] Small Icon of Speaker Image
* [x] Name of Speaker
* [x] Email
* [x] Phone/Mobile
* [x] Submitted Session Titles
* [x] State (accepted, rejected etc.)
* [x] Options (see, edit, delete)

[2016-06-17 18:55] rafalkowalski commented on #882
@mariobehling can i assume that city is always first?

[2016-06-17 21:17] mariobehling commented on #882
@rafalkowalski No, you need to extract that from the address. There is a library with all kinds of cities and countries available that is related to OpenStreetMap. Not sure, what was the link though. It is not as simple as you might think.

[2016-06-18 02:39] aviaryan commented on #921
Right now, registered but unverified user are not stored in the database. Instead their email-password is serialized and set as hash of confirmation link. When they confirm through the link, the hash is de-serialized to get their credentials and the account is created. To proceed this issue, we will need to add a new bool column `is_verified` in the user model and make related changes to registrat

[2016-06-18 02:41] aviaryan opened #958 "Store unverified users in database, add is_verified bool column"
See https://github.com/fossasia/open-event-orga-server/issues/921#issuecomment-226917272 for description

[2016-06-18 04:12] niranjan94 opened #960 "Anonymous User: the section on the event page page that shows all sessions of an event"
Parent issue #782.

 `/e/ID/session` - the section on the event page page that shows all sessions of an event

[2016-06-18 04:16] shivamMg opened #961 "Improve Manage Roles panel on Event page"
Manage roles Event page at `/events/:id`.

* [x] Display User email
* [x] Change table header "User name" to "Email"
* [x] Use user email instead of user_id
* [x] Display all roles available (add moderator)
* [x] Remove options for organizer role. Organizer should not be edited
* [x] Show role names without underscores and in title case
* [x] Fit search bar in grid

[2016-06-18 04:22] aviaryan commented on #916
As I am not sure whether to create API for session types or not, I will just add session_type in Sessions API for now.

[2016-06-18 04:43] aviaryan opened #962 "Add filter by location in Event GET list API"
Add it in both, normal get list and paginated get list.

[2016-06-18 05:05] mariobehling commented on #916
Yes, good decision. Let's use the existing APIs.

[2016-06-18 05:24] #958 closed

[2016-06-18 06:15] #962 closed

[2016-06-18 07:19] mariobehling opened #965 "Improve Sessions Process and Implementation"
There are issues with the sessions implementation and improvement necessary to ensure the flow of the user. Please implement the following:

**My Sessions**
* [x] Ensure the user sessions show up at `/events/mysessions/`

**Form** #990
* [x] For a given event show **all specified fields** in the session proposal form of speakers (e.g. https://open-event.herokuapp.com/events/50/sessions/create/). -

[2016-06-18 07:28] SaptakS commented on #939
@aditya1702 adding the header and footer in this page.

[2016-06-18 07:30] mariobehling commented on #639
There is a related issue and discussion about email and signup process here as well: https://github.com/fossasia/open-event-orga-server/issues/965

[2016-06-18 07:33] SaptakS commented on #639
@mariobehling , @niranjan94 said he would be working on it. If he doesn't, I will take it up.

[2016-06-18 07:35] mariobehling commented on #954
Please:
* [ ] Implement "Show entries" and Search bar in the same line with Filter "All, Pending ..."
* [ ] Do not user table borders

[2016-06-18 07:56] mariobehling commented on #953
* [ ] Please only show "accepted" sessions" for the scheduler

[2016-06-18 08:13] mariobehling opened #970 "Improve table view of Events Dashboard"
Please improve the table view of the event dashboard as follows:

* [x] Name (of event)
* [x] Date (of event)
* [x] Organizers (here show Organizers, Track Organizers, Moderators in this form: Name (Organizers)
* [x] Sessions (here show number of sessions a) Drafts: xx, b) Submitted: xx, Accepted: xx b) Pending: xx, Rejected: xx)
* [x] Speakers (here show number of speakers)
* [x] URL (here show P

[2016-06-18 08:19] mariobehling commented on #954
* [ ] Move "Show entries" on the left next to "Create Session" button
* [ ] Align Search area on the right
* [ ] Reduce space

![screenshot from 2016-06-18 10 16 30](https://cloud.githubusercontent.com/assets/1583873/16169863/1b953730-353e-11e6-8b41-0c50f5930818.png)

[2016-06-18 08:19] aviaryan opened #972 "Fix session_type table"
It seems that session_type was implemented keeping in mind that one session_type links to one session.
(i.e. one-to-one relationship) (It is evident from the [comment](https://github.com/fossasia/open-event-orga-server/pull/973/files#diff-1f6df12a90bf96660cf4fa6339090ca2L15))
After some discussion on gitter, it is established that many sessions can link to one session type, and a session will have

[2016-06-18 09:32] mariobehling opened #975 "Show Button "View" or "Preview" on Event Dashboard to view public page of event"
Please (re)implement a view or preview button on the specific event dashboard to show `/e/ID/`:

* [x] Button "View" if event has been published.
* [x] Button "Preview" if event has not been published (In this case restrict access to event page to organizers, co-organizers, track organizers of event).

![screenshot from 2016-06-18 11 29 03](https://cloud.githubusercontent.com/assets/1583873/161701

[2016-06-18 09:35] mariobehling commented on #954
* [ ] Reduce space

![screenshot from 2016-06-18 10 16 30](https://cloud.githubusercontent.com/assets/1583873/16169863/1b953730-353e-11e6-8b41-0c50f5930818.png)

[2016-06-18 09:39] mariobehling commented on #954
* [ ] Distribute columns more evenly, especially "Title" smaller

[2016-06-18 09:44] mariobehling commented on #953
Getting an error message on live system.

![screenshot from 2016-06-18 11 41 38](https://cloud.githubusercontent.com/assets/1583873/16170170/ff21c3dc-3549-11e6-822f-2b0f27d856ab.png)

[2016-06-18 09:50] niranjan94 commented on #953
@mariobehling which event ?

(seems to work fine for me here http://open-event.herokuapp.com/events/61/scheduler/ )

[2016-06-18 10:05] mariobehling commented on #953
http://open-event.herokuapp.com/events/50/scheduler/

[2016-06-18 10:07] mariobehling opened #976 "Scheduler: Only show session times defined in the event"
In the first step of the wizard the user adds a time for the event. Only show the available time in the scheduler, where the session can be entered.

Might be related to https://github.com/fossasia/open-event-orga-server/issues/953#issuecomment-226933080

[2016-06-18 10:08] mariobehling commented on #953
Maybe related to https://github.com/fossasia/open-event-orga-server/issues/976

[2016-06-18 10:10] niranjan94 commented on #953
@mariobehling No. it's unrelated to that. It's an issue with the API Validation. API wants Long abstract. But that session doesn't have it.

@aviaryan @shivamMg the validation for the session and speaker API must be dynamic based on the fields selected by the user.

[2016-06-18 10:15] #972 closed

[2016-06-18 10:20] rafalkowalski commented on #846
@mariobehling What filters do we need? location, date, categories something else?

[2016-06-18 10:46] mariobehling commented on #846
Yes, and also event type.

Search results should also take "Description" into account" and "short/long abstracts", e.g. if a key word shows up there.

I guess you are implementing a simple filter first.

We ultimately need a more advanced location filter, e.g. 20km around Berlin.

Please also consider, that many cities have the same name around the world.

[2016-06-18 11:33] #939 closed

[2016-06-18 11:49] aviaryan commented on #953
@niranjan94 So `long_abstract` field is not compulsary. I thought since in database, `long_abstract` is not nullable, it will be compulsary.
Never mind, can you give an insight into how custom form is being stored in the database. And how can  we retrieve data from it.

[2016-06-18 12:00] #920 closed

[2016-06-18 12:02] aditya1702 opened #979 "Implement permissions system to the view functions"

[2016-06-18 12:24] mariobehling opened #980 "Create Placeholder Pages for Organization Pages linked from Botton Areas"
* [x] How it Works
* [x] Pricing
* [x] Mobile Apps
* [x] Sitemap
* [x] About
* [x] Blog
* [x] Help
* [x] Press
* [x] Security
* [x] Developers
* [x] Privacy
* [x] Cookies

[2016-06-18 13:21] mariobehling commented on #846
I also see that past events show up in the search and on the home page list of upcoming events.

Maybe it is nice, if people can also search past events, but we should give the option somewhere "Search Past Events" and "Search Future Events".

[2016-06-18 13:22] niranjan94 commented on #953
@aviaryan ... @SaptakS implemented that part. I think he'll be able to assist you better.

[2016-06-18 13:24] mariobehling commented on #846
Also seems like events that are in draft mode are showing up. Please take out "Drafts" of public search results.

[2016-06-18 13:38] SaptakS commented on #953
@aviaryan except for the Title of the session, none of the fields are necessarily compulsory.. It is upon organizer to decide whether he wants to make that field required. I believe we will need to make modifications in the database table for these other fields.

[2016-06-18 13:39] mariobehling opened #984 "Admin: Add Logs tab and implement logs collection"
Currently, there is no visible way to see what happened on the system.

1. [x]  Make a proposal of what system events and how we can collect them.
2. [x] Implement the system logs at `/admin/logs/` and add a tab into the menu at `/admin/` using the existing design
3. [x] Document what logs you keep and how you collect them

[2016-06-18 13:43] SaptakS commented on #965
@mariobehling when you say to make it into a single form rather than a wizard, do you mean that both session and speaker details should be there in a single page? Wouldn't that look too clumsy?

[2016-06-18 13:47] aviaryan commented on #953
@SaptakS How are you storing custom forms (in session_form and speaker_form fields) in the CustomForm model ? I will need it to validate a speaker or session post/put request according to the event .

[2016-06-18 13:57] mariobehling commented on #965
Yes, please do. Everything in one page. Thanks.

[2016-06-18 13:59] SaptakS commented on #639
@mariobehling as said in #965 we will be having only a single form instead of a wizard. So I think this issue then only will require the last point. Right?

[2016-06-18 14:06] #961 closed

[2016-06-18 14:11] rafalkowalski opened #988 "proposal/autocompletion cities"
@niranjan94 @SaptakS @aviaryan @aditya1702
First idea:
I've found a json which contains all cities i think it can help us to solve autocompletion.
https://raw.githubusercontent.com/David-Haim/CountriesToCitiesJSON/master/countriesToCities.json

Second:
we can store all cities to our database then we can easy make a simple query to API,
But to do this we need most advanced location system

Any idea

[2016-06-18 14:20] aviaryan opened #989 "Validate speaker and session API according to custom forms"
Custom forms are used by the organizer to define which fields they want and require in their event.
The API should validate payload for sessions and speakers according to that custom form.

@SaptakS Can you please explain how form data is being stored in the customform model.

[2016-06-18 14:24] aviaryan commented on #953
@mariobehling This issue should be fixed now.

[2016-06-18 14:26] mariobehling commented on #327
There are already more simple solutions in use in the system. So, closing this. Also, I researched this more. For the specific goal, phplist is not the best solution yet.

[2016-06-18 14:26] #327 closed

[2016-06-18 14:27] #745 closed

[2016-06-18 14:30] SaptakS commented on #965
@mariobehling is this ok?
![session_form](https://cloud.githubusercontent.com/assets/9530293/16171554/4af4387c-358f-11e6-9dfb-6e6029074bf2.png)

[2016-06-18 14:32] niranjan94 commented on #953
Yes. Fixed.

[2016-06-18 14:32] #953 closed

[2016-06-18 14:41] aviaryan commented on #988
We will need to use some indexing and divide-and-rule to speed up searches..
For starters, suppose if we are storing these cities in DB, we can make a table ListCities as (prefix, list) . This prefix will range from aa, ab, ac ... az, ba .... zz .
We will have that column indexed.
Then when time of query comes we will take the first 2 chars from query string and query out its `list` from the db. `

[2016-06-18 14:41] mariobehling opened #990 "Sessions Application: Improve Form"
Parent Issue: #965

Please implement the following:
* [x] For a given event show **all specified fields** in the session proposal form of speakers (e.g. https://open-event.herokuapp.com/events/50/sessions/create/). -> The session fields are specified in the create event wizard in step 5.
* [x] Make "Create Session" into one page form (instead of a wizard) with top "session details", second "speake

[2016-06-18 14:43] mariobehling commented on #965
I think this issue is too big for all details. Please create sub-issues for each area. Relate here to form issues, please: https://github.com/fossasia/open-event-orga-server/issues/990

[2016-06-18 14:47] rafalkowalski commented on #988
@aviaryan I mean that we need to save more params like address, city, zip/postal

[2016-06-18 14:52] mariobehling commented on #990
@SaptakS Please test in live system. Currently, I do not get all form elements from the wizard. Test at: https://open-event.herokuapp.com/events/50/sessions/create/

[2016-06-18 14:57] aviaryan commented on #988
I can't understand what has zip and address got to do with auto-completion of cities ? Please explain.
As far as I get, the need in this issue is to auto-complete/show suggestions for the city field, right ?
Location can be divided into - address, zip, city and country .
If there is a need to filter cities by country, we can still use the divide-and-rule method to speed up searches.

[2016-06-18 15:09] #956 closed

[2016-06-18 15:39] #916 closed

[2016-06-18 15:42] aviaryan opened #993 "Add session type to OTS json"
I left out session type in OTS json eariler because no API was available for session type .
Since it has now been added in #986, session type field can be added to OTS json.

[2016-06-18 15:49] rafalkowalski commented on #882
@mariobehling @SaptakS @niranjan94
I don't have an idea how can i solve this issue  without adding additional field in event creation city. Searching city in text is not efficient. I wasted too much time to think about it. So i need to add a city field to step 1 If you have an idea please inform me

[2016-06-18 15:55] niranjan94 commented on #882
@rafalkowalski location is a compulsory field for an event to be made live. So, if we have location, we have lat and long. We can get city from that.

[2016-06-18 15:57] #993 closed

[2016-06-18 15:57] niranjan94 commented on #882
We can make a call to
`https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452` and get the city if and when required.

Or, we could event create a `city` field, and make a call to that API during event creation/update and store the city

[2016-06-18 17:22] #429 closed

[2016-06-18 18:54] shivamMg opened #1001 "Create Title cased names for Roles"
They are needed wherever the Role names need to be displayed in UI.

* [x] Create `title_name` in the Role db Model.
* [x] Update code to use it.

organizer -> Organizer
track_organizer -> Track Organizer
coorganizer -> Co-organizer
moderator -> Moderator

[2016-06-18 19:45] rafalkowalski commented on #980
@mariobehling can we close it?

[2016-06-18 19:55] #960 closed

[2016-06-18 19:55] #954 closed

[2016-06-18 19:57] mariobehling opened #1002 "Add event name in "Create sessions" form"
Currently there is not event name in the create sessions form at `events/ID/sessions/create/`.
![screenshot from 2016-06-18 21 53 10](https://cloud.githubusercontent.com/assets/1583873/16173362/8736f77e-359f-11e6-8564-0f7cc3e35807.png)

Please add the event name here.

[2016-06-18 20:16] #980 closed

[2016-06-18 20:24] aditya1702 opened #1003 "Implement view to create a Super Admin"

[2016-06-19 00:57] mariobehling opened #1006 "Create Event Wizard Step 3: Fields Should not be automatically created/Cannot delete"
Ater creating the event, I want to edit it.
When I go to Step 3 of the wizard, it shows a new row, which I cannot delete.

Expected behaviour:
* [x] Only show new item, when I click `+` button
* [x] Show a `+` and `-` button on every item, so user can delete it if desired

![screenshot from 2016-06-19 02 52 16](https://cloud.githubusercontent.com/assets/1583873/16174605/5232a116-35c9-11e6-80f5-1f3

[2016-06-19 01:06] mariobehling opened #1007 "Wizard: Only show "Make event live" if it is not live and rename "Update" to "Save""
"Make event live" shows up in the wizard even though it is already live.

Only show it if event is not live yet.

![screenshot from 2016-06-19 03 04 40](https://cloud.githubusercontent.com/assets/1583873/16174622/d671a02a-35ca-11e6-8bdb-4c9494475f47.png)

[2016-06-19 01:38] mariobehling opened #1008 "Only show "upcoming events" in Upcoming Events section on start page"
There seem to be finished events showing up on the start page. Ensure that no drafts or old events show up.

![screenshot from 2016-06-19 03 36 49](https://cloud.githubusercontent.com/assets/1583873/16174718/4d8d4b6a-35cf-11e6-8478-801b5a3ef0d1.png)
u

[2016-06-19 04:41] niranjan94 opened #1009 "Anonymous User: public page where everyone can see the schedule of an event"
Parent Issue #782

`/e/ID/schedule` - the public page where everyone can see the schedule of an event.

[2016-06-19 05:51] #1006 closed

[2016-06-19 05:54] mariobehling commented on #1007
On a second thought: Let's follow the menu in the dashboard. If event is live, show a button "Unpublish" instead of "Make event live".

[2016-06-19 05:55] niranjan94 commented on #1007
@mariobehling alright

[2016-06-19 06:14] #1007 closed

[2016-06-19 06:24] #1002 closed

[2016-06-19 07:46] SaptakS opened #1014 "Editing Custom Forms while editing an Event doesn't work"

[2016-06-19 07:48] aviaryan commented on #952
I am working on implementing sign up date and last access time .

[2016-06-19 07:51] mariobehling opened #1015 "Uploads not covered in migrations and upgrades"
Seems like after a number of PRs the images do not show up anymore, e.g. in Profile.
![screenshot from 2016-06-19 09 50 11](https://cloud.githubusercontent.com/assets/1583873/16176068/5e156efc-3603-11e6-87a5-ece294bc48bd.png)

[2016-06-19 08:01] aviaryan commented on #1015
@mariobehling this is a limitation of Heroku. Currently images are saved on heroku. When a new version of app is deployed on Heroku, the whole filesystem is cleared . So image files are also deleted.
When a heroku app is re-deployed, only data on database remains, everything else is refreshed.

[2016-06-19 08:08] #979 closed

[2016-06-19 08:10] mariobehling commented on #1003
Where and how do you plan to implement this? There are edit buttons in the user menu: https://open-event.herokuapp.com/admin/users/ Maybe here?

[2016-06-19 08:13] #955 closed

[2016-06-19 08:13] #924 closed

[2016-06-19 08:16] shivamMg commented on #623
Implement Speaker role though models: https://github.com/fossasia/open-event-orga-server/issues/955

[2016-06-19 08:16] #623 closed

[2016-06-19 08:19] mariobehling commented on #1015
@aviaryan What would happen if we store files on Amazon S3?

[2016-06-19 08:27] mariobehling opened #1017 "Reduce dependency on outside services to a minimum"
There are a number of services that we access for no obvious reason. Especially we get placeholder images from other sites. Why?

Please reduce dependency on other services and keep system images in a static image folder.

Please list in the documentation which outside services we still need nevertheless.

[2016-06-19 08:32] #795 closed

[2016-06-19 08:34] aviaryan commented on #1015
@mariobehling That would work perfectly well. From our server, we can upload data to Amazon and store the link in our database. I guess this is how it works considering a lot of devs on the Internet seem to prefer amazon storage for their heroku apps.

[2016-06-19 08:38] mariobehling commented on #1015
@aviaryan Sounds good. It is anyways on our list to store files on S3. So, please open an issue and implement it. Let's do it :-) Please also document the process and setup in the /docs folder.

[2016-06-19 09:26] #1014 closed

[2016-06-19 09:34] aviaryan opened #1020 "Store data on Amazon S3"
* Store uploads and other files on Amazon S3.
* When a data is uploaded to server, upload it to S3 and store links in the database.

Related discussion #1015

[2016-06-19 10:28] #1008 closed

[2016-06-19 10:51] #948 closed

[2016-06-19 10:59] rafalkowalski opened #1024 "Two version of App Development and Production"
We need two apps on heroku

- One will be for production(master branch) open-event.herokuapp.com
- Second for development(development branch) dev.open-event.herokuapp.com

[2016-06-19 11:00] #882 closed

[2016-06-19 11:13] niranjan94 commented on #1009
@mariobehling this is the UI prototype

![screencapture-localhost-5000-e-1-schedule-1466334747364](https://cloud.githubusercontent.com/assets/2404372/16176983/edecd43c-363c-11e6-8e94-78ece55de4b2.png)

[2016-06-19 11:35] mariobehling commented on #1009
Very good.

[2016-06-19 12:01] SaptakS commented on #639
@mariobehling This is the implementation that I have created: -
* The user is not logged in and creates a session. If he is not already registered, we register him, assign role as speaker and send an email with a randomly generated password
![screenshot from 2016-06-19 17 28 26](https://cloud.githubusercontent.com/assets/9530293/16177172/866b5584-3643-11e6-99fb-585a27f7c335.png)
* He can then veri

[2016-06-19 12:02] SaptakS commented on #639
Also, I am not sure what to do if the speaker is already registered but is not logged in while filling up form.

[2016-06-19 12:09] SaptakS opened #1026 "Modify Tabs for Mobile UI"
![session_mobile](https://cloud.githubusercontent.com/assets/9530293/16177270/affe1e58-3644-11e6-8f6d-5922a2f17ac2.png)

Presently, the tabs appear like this in Mobile.

[2016-06-19 12:14] mariobehling commented on #639
@SaptakS Login questions are outlined here: https://github.com/fossasia/open-event-orga-server/issues/965 already.

[2016-06-19 12:20] SaptakS opened #1027 "Profile Avatar size needs to be corrected"
![screenshot from 2016-06-19 17 49 47](https://cloud.githubusercontent.com/assets/9530293/16177309/4ae25e56-3646-11e6-82b1-7878c5590fd9.png)

[2016-06-19 12:51] #1009 closed

[2016-06-19 12:58] mariobehling opened #1030 "Implement Create Session for Speakers through Call for Speakers Page"
Parent Issue: https://github.com/fossasia/open-event-orga-server/issues/965

**Email and Login**
* [x] If user is logged in prefill in field "Email" with system email (and make it non-changeable). Add a message: "You can change this email in your profile settings."
* [x] Show "Drafts" in the list of sessions for an event of organizers, but do not send an email to them.
* [x] Send an email to organ

[2016-06-19 13:09] niranjan94 opened #1032 "Anonymous User: the public page that holds the Call for Speakers (with a register button)"
Parent Issue: #782.

`/e/ID/cfs` - the public page that holds the Call for Speakers (with a register button)

[2016-06-19 13:33] mariobehling opened #1033 "Admin: Separate Role into two columns"
Let's clear up open questions by distinguishing system or event roles and showing them in two columns in the Manage All Users section at `/admin/users/`.

* Add a column: System Roles (in this row show list "Super Admin" for users who are in this role)
* Rename column role to "Event Roles

[2016-06-19 13:41] mariobehling opened #1035 "Connect user profiles to Google and Facebook and get details"
If a user logs in using add details and profile photo from the accounts to Open Event.

[2016-06-19 13:58] aviaryan commented on #1020
Status update - I have finished the coding part and tested it with profile image upload. It is working but I haven't written the docs so I will send the PR tomorrow as I am busy rest of today.

[2016-06-19 14:30] mariobehling commented on #949
I think "Create Session" - we need to take it out as it currently does not fit into the structure with different forms etc. So, let's keep it more simple for now.

[2016-06-19 14:34] mariobehling commented on #949
![screenshot from 2016-06-19 16 31 21](https://cloud.githubusercontent.com/assets/1583873/16177954/b9345dce-363b-11e6-8d52-ff9bab459122.png)

* [ ] Please in all views always move "Show xx Sessions" next to tabs
* [ ] Move "Search" on the left in tabs row
* [ ] Show 25 entries as standard

[2016-06-19 14:50] mariobehling commented on #870
Seems to be mostly duplicate to https://github.com/fossasia/open-event-orga-server/issues/949

![screenshot from 2016-06-19 16 31 21](https://cloud.githubusercontent.com/assets/1583873/16177954/b9345dce-363b-11e6-8d52-ff9bab459122.png)

* [ ] Please in all views always move "Show xx Sessions" next to tabs
* [ ] Move "Search" on the left in tabs row
* [ ] Show 25 entries as standard
* [ ] Take out

[2016-06-19 15:41] aditya1702 opened #1039 "Implement method for a super_admin to create other admins"

[2016-06-19 16:01] aditya1702 commented on #1003
@mariobehling I am thinking of displaying a button on the header next to the Browse Events..something like"Become a Super Admin". And as for the edit buttons I will implement them so that a super_admin can edit the status of the users to admin.(#1039)

[2016-06-19 16:12] niranjan94 opened #1040 "Sessions get deleted if the event is edited."
In the current implementation of the event-edit functionality, all the tracks, session_types, microlocations are cleared and recreated again.

This causes all the linked sessions to be removed as well.

[2016-06-19 17:18] #1033 closed

[2016-06-19 19:37] #1032 closed

[2016-06-19 20:45] rafalkowalski commented on #950
@niranjan94 @SaptakS I don't kave idea how can i move page length and search to the same level,

Problem which i've met is overlaps others searching and page length.

[2016-06-19 21:35] rafalkowalski commented on #297
@mariobehling i think it's resolved

[2016-06-20 03:58] niranjan94 commented on #950
@rafalkowalski I'll see if i'm able to move it

[2016-06-20 04:06] shivamMg commented on #1040
@niranjan94 The current implementation is supported by dynamic forms. Like for instance you can specify any number of tracks, rooms, session types, etc in the event create/edit form. During edit-event, the server removes the older entities and creates the new ones coming from the forms. The newer entities (when saved to db) are not the same as the old ones, even if the user does not edit them, but

[2016-06-20 04:11] niranjan94 commented on #1040
1. Import the OTS Sample
1. Publish it
1. Goto /e/<event_id>/sessions - You'll see all the sessions with tracks
1. Now, goto /events/<event_id>/edit
1. Don't have to change anything. Just press save.
1. Goto /e/<event_id>/sessions - You'll see all the tracks, no sessions.
1. Goto /events/<event_id>/sessions - You'll see all the sessions, but the track field will be empty

[2016-06-20 04:14] niranjan94 commented on #1040
When the tracks are recreated, their `ID`s change. But the sessions are still having the old non-existant `track_id`s stored in them

[2016-06-20 04:33] shivamMg commented on #1040
Point 4, `/events/<event_id>/edit` is giving a 500 for that event id. Attribute error for speaker form in events view. Is it working for you?

[2016-06-20 04:47] niranjan94 commented on #1040
What is the event ID ?

[2016-06-20 04:49] shivamMg commented on #1040
The imported event has twelve.

[2016-06-20 04:54] niranjan94 commented on #1040
Check event 1

[2016-06-20 04:55] niranjan94 commented on #1040
http://open-event.herokuapp.com/e/1/sessions/
http://open-event.herokuapp.com/events/1/edit/

[2016-06-20 04:59] shivamMg commented on #1040
Lol, can't login with my registered id, internal server error. Can't register a new one either, internal server error there too.

[2016-06-20 05:32] shivamMg commented on #854
Add options to edit Event specific roles:

- Organizer
- Track Organizer
- Co-organizer
- Moderator

[2016-06-20 05:40] shivamMg commented on #904
- Add two new fields to Event db model:
  - `total_tickets`: Number of tickets made available by the Organizer.
  - `ticket_price`: The price of one ticket.
- Create Tickets db model:
  - `event`: Event the ticket is associated to.
  - `user`: The user who has booked tickets.

We can take out Tickets API for an event at:

[code]

To book a ticket the user will specify the quantity of the tickets h

[2016-06-20 08:08] SaptakS commented on #639
@mariobehling I think this [PR](https://github.com/fossasia/open-event-orga-server/pull/1041) already solves the purpose. Because as far as I understand, a non registered speaker would fill up session form only from `/e/ID/cfs` page. And to fill form from `/event/ID/sessions/create` ,  I think he needs to be logged in. What do you think @niranjan94 ?

[2016-06-20 08:12] aditya1702 commented on #1003
@mariobehling should I proceed with the above implementation

[2016-06-20 08:13] aviaryan commented on #984
After some thinking, I think we should mainly collect create scenarios. like -
- User registers
- Event is created
- Session is proposed

We can skip creations of microlocations, tracks etc.

In addition, we can store logs for --
- When an event goes live
- When an event is completed

In the log, we can store timestamp, actor and the message.
The `actor` will be the user who caused that logged eve

[2016-06-20 08:33] mariobehling commented on #639
Sounds good. Please give me a sample set up and link to test it.

[2016-06-20 08:48] niranjan94 commented on #639
http://open-event.herokuapp.com/e/3/cfs/

[2016-06-20 08:49] mariobehling opened #1049 "Implement "Use Amazon S3" in Admin Settings"
Follow up issue to: https://github.com/fossasia/open-event-orga-server/issues/1020

Please create a tab in the admin section at `/admin/settings/` where admins can choose their upload resource - local or S3 and enter their Amazon S3 Bucket details and reference it in the upload code.

Implement
* [x] Radio buttons to choose "Use local" or "Use Amazon S3"
* [x] Option to enter necessary Amazon S3 c

[2016-06-20 08:51] mariobehling commented on #1020
Excellent job! Thanks for creating the documentation. Looks awesome. You can use it and publish it as a blog post as well, if you like. Please see #1049 as a follow up issue.

[2016-06-20 08:51] #1020 closed

[2016-06-20 08:57] mariobehling opened #1050 "Research and propose best practices for storing files"
Follow up to https://github.com/fossasia/open-event-orga-server/issues/1020

In the [documentation about S3,](https://github.com/fossasia/open-event-orga-server/blob/development/docs/AMAZON_S3.md#using-the-s3-storage-module-in-code) it is mentioned that a solution to keep data distinct is to use subfolders with IDs. Is this the final solution? Please research how other services store data, answer

[2016-06-20 09:02] aviaryan commented on #1020
@mariobehling Thank you.

[2016-06-20 09:04] mariobehling commented on #984
Yes, excellent. Let's start like that.

Please also take into account:
* Who created an event
* Who deleted/edited an event
* Who changed/edited email and profile information
* Who provided roles/accepted etc. roles

Such things are important in case there is a dispute, hack of a personal account etc.

[2016-06-20 09:04] aviaryan commented on #989
The format of custom forms can be seen in this commit by @niranjan94 . https://github.com/fossasia/open-event-orga-server/commit/3b6d07ab5b7b472ba751d1e9a251b1dbdf916c11

[2016-06-20 09:10] mariobehling commented on #1003
@aditya1702 It would be good to have some kind of a mockup or screenshot to understand better, what you want to achieve. Users can not simply "become" super admins. It should be edited in `/admin/users/` in the option section. There is already an edit button. This button could open a simple pop-up for now with tickboxes and information on roles, e.g. see below please.

User Roles
* [ ] Verified Us

[2016-06-20 09:15] mariobehling commented on #989
@aviaryan @SaptakS @niranjan94 Could be a good blog post topic.

[2016-06-20 09:21] aviaryan commented on #1049
Since admin is a site-level role, it means that if a admin decides to use local or a specific S3 bucket for storage, it will **affect the entire site**. So why bother providing option in the UI ?
To use S3, they can set the env vars. If they don't want to use S3, they can remove the env vars.
Am I missing something ?

[2016-06-20 09:24] aviaryan commented on #989
@mariobehling Yes. I will write a post on it. :smile:
Btw, this issue is not fixed yet. We now know the format in which custom forms are stored, the validation of speaker and session forms still needs to be done.

[2016-06-20 09:24] mariobehling commented on #764
Please check the responsiveness. There are a number of issues with the implementation in smaller resolution.

* [ ] The footer font is too dark and difficult to read
* [ ] At points the country bar overlaps
* [ ] in smaller resolutions are errors (Please compare to Eventbrite, grab the side of your browser and see how the footer of Eventbrite adapts to the size.

Compare medium small resolution
![

[2016-06-20 09:25] aviaryan commented on #984
@mariobehling :+1: sounds good . Will do it.

[2016-06-20 09:35] mariobehling commented on #639
Internal Server Error when saving as draft or submitting.

[2016-06-20 09:38] niranjan94 commented on #639
@mariobehling working on

[2016-06-20 09:39] niranjan94 commented on #639
@mariobehling fixed.

[2016-06-20 09:51] mariobehling commented on #1049
Yes, it is the goal to have control for the entire site. Is there any reason it should not be?

The option in the UI will give us the possibility to confirm the status of the system without looking into the code. Admins might not have access to the code and setup in some systems. And what if Admins change? They should be able to get an overview by looking at the settings.

[2016-06-20 09:52] rafalkowalski opened #1052 "Please add possibility to get events from locations and filter it by phase"
#846

location='Berlin'&phase='Python'

TODO
Filtering
- [x] Location
- [x] Phase
- [x] state
- [x] start_time
- [x] end_time
- [x] privacy
- [x] type
- [x] topic

above example should returns all events from Berlin which have Python word in title or description

[2016-06-20 10:05] #990 closed

[2016-06-20 10:12] rafalkowalski commented on #1017
# Services which we use
http://ip-api.com/json/
https://maps.googleapis.com/maps/api/geocode/json?latlng=
https://api.sendgrid.com/api/mail.send.json
https://api.heroku.com/apps/open-event/releases
https://api.github.com/repos/fossasia/open-event-orga-server/commits
https://accounts.google.com/o/oauth2/auth
https://graph.facebook.com/oauth

# Have to change:

- [ ] https://cdnjs.cloudflare.com/aja

[2016-06-20 10:13] aviaryan commented on #1049
I agree. Thanks for the explanation.
On Jun 20, 2016 15:21, "Mario Behling" <notifications@github.com> wrote:

[2016-06-20 10:32] mariobehling commented on #639
Test show, if I submit as draft or session - both shows up as "submitted".

![screenshot from 2016-06-20 12 29 38](https://cloud.githubusercontent.com/assets/1583873/16191080/cf5f36da-36e2-11e6-9eee-19a360d487d4.png)

If I edit proposal I get to another form, not the original form. Why?

![screenshot from 2016-06-20 12 31 33](https://cloud.githubusercontent.com/assets/1583873/16191125/047e0a30-36e

[2016-06-20 10:45] niranjan94 commented on #639
@mariobehling I'll fix that ... As for the form, I made the My Sessions part before the session form was implemented. I'll change that too.

[2016-06-20 10:50] mariobehling commented on #904
Please have a look at Eventbrite and Eventnook and create a list of all functions we need. This is a parent issue, that cannot be solved in one day. Please create subissues.

[2016-06-20 10:50] niranjan94 opened #1053 "CfS: Draft/Submit not being reflected in My Sessions. My Sessions edit form not correct,"
- Irrespective of what the user selects (Draft or Submit), both show up as `submitted` in My Sessions.
- The edit proposal form in My Sessions is primitive and not the same form that is shown when creating sessions.

[2016-06-20 11:10] aviaryan commented on #1052
Filter by location has been added. See https://github.com/fossasia/open-event-orga-server/pull/964
I will add filter by phrase.
You can see and play with available options here - http://open-event.herokuapp.com/api/v2/#!/events/get_event_list_paginated

[2016-06-20 11:36] rafalkowalski commented on #1052
@aviaryan how can i filter only events which are published?

[2016-06-20 11:42] aviaryan commented on #1052
No, not now but I will add filtering for `state` now that you mention it.

[2016-06-20 11:48] rafalkowalski commented on #1052
@aviaryan I've added above todo list what i need

[2016-06-20 12:31] aviaryan opened #1056 "Add case-insensitive filter in API"
API should filter queries in a case insenstive manner .
Currently http://open-event.herokuapp.com/api/v2/events?location_name=berlin returns an empty list because 'b' in 'Berlin' is small.

Related issue: #1052

[2016-06-20 12:43] aviaryan commented on #1052
@rafalkowalski Can you please give example of queries you will need from 'start_time' and 'end_time' ?

[2016-06-20 13:22] #297 closed

[2016-06-20 13:36] rafalkowalski commented on #1052
@aviaryan for example i need to display current published events not past events, so i need to filter it by date

[2016-06-20 13:39] #975 closed

[2016-06-20 13:42] mariobehling commented on #1017
Which services are still part of the deployment? Could you add the info in a Dependencies.md
https://github.com/fossasia/open-event-orga-server/tree/development/docs
or just in the Readme.md? What is best?

[2016-06-20 13:44] mariobehling commented on #853
The system info say "Your event has been deleted". System info should be related to user.

[2016-06-20 13:50] aviaryan commented on #1052
@rafalkowalski Ok. I will add filter by start_time and end_time . In the meanwhile, can you review #1060, I have added all other options in it.
Adding start_time and end_time may take some time.

[2016-06-20 14:07] mariobehling opened #1064 "Event Dashboard: Implement "Add" button for speakers/session"
Currently there is not "Add button" on the specific event dashboard speakers page e.g. http://open-event.herokuapp.com/events/3/speakers/.

* [x] Implement "Add" button next "Rejected"
* [x] **Show "Session/Speaker" form**
* [x] Let "Organizer" change email address of speaker (currently email is added automatically from profile. This is correct, if the user submits own proposals to events, but if

[2016-06-20 14:21] SaptakS commented on #1027
FIxed.
![profile](https://cloud.githubusercontent.com/assets/9530293/16197575/3ad9ee54-3720-11e6-8059-f42760dee5e5.png)

[2016-06-20 14:21] #1027 closed

[2016-06-20 14:56] mariobehling opened #1066 "Settings/Mail: Add Settings in Dropdown menu"
* [x] Add Settings tab in dropdown menu below "Profile"
* [x] On Settings page implement Email Notifications list as in example below

![screenshot-www meetup com 2016-06-20 16-47-50](https://cloud.githubusercontent.com/assets/1583873/16198864/c79a770a-3707-11e6-8bbd-9c172c70a6a3.png)

[2016-06-20 15:04] mariobehling opened #1067 "Admin: Implement Mail Tab for info about system mails"
* [ ] List all system mails in a tab `/admin/mails/`
* [ ] Offer information about where and when mails are sent
* [ ] Show text that is sent as in example below

![screenshot from 2016-06-20 17 01 37](https://cloud.githubusercontent.com/assets/1583873/16199194/f2c3d79a-3708-11e6-84a7-b5c0ecee3de7.png)

[2016-06-20 15:11] #1030 closed

[2016-06-20 15:11] #965 closed

[2016-06-20 15:26] rafalkowalski commented on #1017
@mariobehling i think here https://github.com/fossasia/open-event-orga-server/blob/development/docs/BOWER.md it's enough explained

Currently we only based on Bower dependencies
Or i don't understand your question

[2016-06-20 16:05] mariobehling commented on #1017
Are we still using the following ones for example? Whose API keys are we using if any? Where is the info?

- http://ip-api.com/json/
- https://maps.googleapis.com/maps/api/geocode/json?latlng=
- https://api.sendgrid.com/api/mail.send.json
- https://api.heroku.com/apps/open-event/releases
- https://api.github.com/repos/fossasia/open-event-orga-server/commits
- https://accounts.google.com/o/oauth2/a

[2016-06-20 16:15] rafalkowalski commented on #1017
ok i will add it to doc

[2016-06-20 17:16] #970 closed

[2016-06-20 17:45] #660 closed

[2016-06-20 17:53] niranjan94 commented on #976
@mariobehling This issue might take sometime (probably done by tomorrow) ... I'm having to rewrite parts of the scheduler to accommodate for the timings change across days (Eg. As day 1 may start at noon ... and day 2 would be from morning)

[2016-06-20 23:09] SaptakS opened #1074 "Edit Session view needs to be created."
- [x] `e/event_ID/session/session_ID/edit/` - Edit Session form
- [x] Update Database on submitting form.

[2016-06-21 03:21] #1056 closed

[2016-06-21 03:48] shivamMg commented on #1040
Alright, it's working now, I mean the bug's reproducible. Working on it.

[2016-06-21 04:04] #1053 closed

[2016-06-21 04:13] aviaryan opened #1075 "Show social links in Event GET API"

[2016-06-21 07:51] mariobehling commented on #1067
Thank you, I have seen your PR ##1078. It looks good. However, it solves another issue not this one. You implemented: Logs to see what emails have been sent, which is #984.

In this issue: We are looking for an overview, what standard system messages exist in the system and what is the standard text. Please list which messages exist.

[2016-06-21 08:01] mariobehling commented on #581
Please make the creation form into one column and replicate the behaviour of the map as in Eventbrite.

[2016-06-21 08:07] mariobehling commented on #950
* [ ] Please change the position of "number of sessions" and "search" in sessions section as well.

![screenshot from 2016-06-21 10 06 07](https://cloud.githubusercontent.com/assets/1583873/16222340/cf2dd1fc-3797-11e6-8db9-1b653429c45e.png)

[2016-06-21 08:21] mariobehling commented on #950
In manage "all events" the tabs are positioned nicely, but:
* [ ] Events do not show up anymore (but there are events live)

![screenshot from 2016-06-21 10 20 15](https://cloud.githubusercontent.com/assets/1583873/16222699/d07e0692-3799-11e6-8b36-6e2733127710.png)

[2016-06-21 08:29] mariobehling commented on #976
Please also put this into the a context of Time Zones. We need to offer the choice of timezones in wizard step 1 as well.

[2016-06-21 08:51] mariobehling opened #1081 "Improve top bar for small/mobile screens"
Currently the top bar looks like that in small resolutions:

--
![screenshot from 2016-06-21 10 48 35](https://cloud.githubusercontent.com/assets/1583873/16223520/f9add372-379d-11e6-8f49-a38ac7ed8f80.png)
--
Compare to:
![screenshot from 2016-06-21 10 49 53](https://cloud.githubusercontent.com/assets/1583873/16223524/01bd53c6-379e-11e6-91fb-f8e8d565496a.png)

Please implement a top bar, that works

[2016-06-21 09:03] rafalkowalski commented on #1017
@mariobehling can we close?

[2016-06-21 09:07] aviaryan commented on #1067
Oh. Sorry I got confused.
So I will add the list of standard system messages to `admin/mails` and move the log of mails in a tab under `admin/logs`. Upon completion of #984, `admin/logs` will have 2 tabs , Mail and Activity.
Mail will be for log of mails sent, Activity for general site activity mentioned in #984 comments.
Does that sound right ? @mariobehling

[2016-06-21 09:19] #740 closed

[2016-06-21 09:19] #1039 closed

[2016-06-21 09:56] mariobehling commented on #1067
Yes, sounds good. Thank you.

[2016-06-21 10:00] mariobehling commented on #949
Unfortunately dropdown menu does not seem to work anymore.
![screenshot from 2016-06-21 11 58 38](https://cloud.githubusercontent.com/assets/1583873/16225594/ae58e33a-37a7-11e6-9b5a-9f510109884e.png)

[2016-06-21 10:00] mariobehling commented on #1017
Thank you!

[2016-06-21 10:00] #1017 closed

[2016-06-21 10:03] rafalkowalski opened #1085 "Dropdown and search doesn't work in events and sessions in admin panel"
#949

[2016-06-21 10:40] SaptakS opened #1086 "Comments in Sessions shown only to the organizers."
- [ ] comments added in session should be only shown to the organizer.

[2016-06-21 10:41] SaptakS commented on #631
Closing this issue. Follow up for showing comments only to organizers only https://github.com/fossasia/open-event-orga-server/issues/1086

[2016-06-21 10:41] #631 closed

[2016-06-21 11:02] shivamMg commented on #951
@mariobehling User's profile could a good place to list his roles in different events.

[2016-06-21 11:10] mariobehling commented on #949
Still not working in live system.

[2016-06-21 11:19] aditya1702 opened #1088 "Error during creation of sponsor with no image"

[2016-06-21 11:27] #1088 closed

[2016-06-21 11:31] mariobehling opened #1090 "Simplify View Sessions from Event Dashboard"
We have diverse designs in different views. It starts to be too complex and increases the potential list of issues. Let's keep it simple for now therefore.

Instead of the current "View Session" page (e.g. http://open-event.herokuapp.com/events/3/sessions/165/), please change this design and just show a page in the "Create Session" design - that is not editable.

![screenshot-open-event herokuapp

[2016-06-21 11:37] mariobehling commented on #1086
Where? Which URL/BaseURL?

[2016-06-21 11:45] mariobehling commented on #951
Actually, the dashboard is already the place, where all my events are listed. Yes, the profile can provide some info on that in future as well. But, actually we need to consolidate the system at the moment. There are too many bugs and small issues to finish on too many areas. Closing this for now.

[2016-06-21 11:45] #951 closed

[2016-06-21 12:01] rafalkowalski commented on #950
I will do it

[2016-06-21 12:15] niranjan94 opened #1091 "Allow user to choose timezone for their event"
Allow user to choose timezone for their event. The same timezone should be reflected in the Scheduler and the public event page.

[2016-06-21 12:17] niranjan94 commented on #976
@mariobehling the timezone implementation would require some additional changes. So, I have opened a separate issue for it at #1091

[2016-06-21 12:17] mariobehling commented on #950
Please ensure, that users can click on "Show xx entries" and search works.

[2016-06-21 12:40] #976 closed

[2016-06-21 12:41] #1040 closed

[2016-06-21 12:42] #639 closed

[2016-06-21 13:33] SaptakS commented on #1074
![edit session](https://cloud.githubusercontent.com/assets/9530293/16231215/df75ec66-37e2-11e6-81f5-70ab6865cdcb.png)

[2016-06-21 13:35] SaptakS commented on #1026
![tabs_mobile](https://cloud.githubusercontent.com/assets/9530293/16231227/f02801ac-37e2-11e6-91a2-3e6bdeffeab5.png)

Converted the Tabs to Accordions in case of mobile.. @rafalkowalski  @mariobehling what do you think?

Working on getting the tables responsive.

[2016-06-21 13:40] #1085 closed

[2016-06-21 14:13] shivamMg opened #1094 "Add Permission Denied (403) error to APIs"
* [ ] Add Exception class
* [ ] Create Error response model

[2016-06-21 14:15] shivamMg opened #1095 "Create database fields and models for Ticketing System"
https://github.com/fossasia/open-event-orga-server/issues/904

Ticket

- `name`: Unique ticket name for the event.
- `description`: Optional description about the ticket.
- `quantity`: How many tickets are made available by the Organizer.
- `price`: Fixed price for this ticket (Zero for free ticket)
- `event`: Event the Ticket is associated with.
- `sales_start`: When should the ticket sale start.

[2016-06-21 14:31] #1075 closed

[2016-06-21 15:05] mariobehling commented on #1064
The logic for "Add Speaker" is that a speaker can only be added together with a session. If there is no session then the speaker is not a speaker.

Let us really keep it simple now and just add the full "register as a speaker" form here.

It should not possible currently in our logic to have a speaker, but no session.

Add speaker = speaker + session (normal form).

[2016-06-21 15:08] mariobehling commented on #1090
Please include all speaker form areas here. Another nice option would be: "Choose from existing speakers" (here we should only show speakers that are registered in the specific event).

[2016-06-21 15:10] mariobehling commented on #1090
Sorry actually in this issue, we are only talking about view not edit or submit new sessions. The "choose from existing speakers" should only be implemented in the create/edit form, not here.

[2016-06-21 15:47] niranjan94 commented on #1090
@mariobehling a single event would have multiple speakers. So, should all the speakers be displayed ?

[2016-06-21 16:02] aviaryan opened #1099 "Make social_links of an event importable/exportable"
Export social links of an event in the event zip and then further import them from the same.

[2016-06-21 16:03] aviaryan commented on #1015
@mariobehling  I think this can be closed now

[2016-06-21 17:02] #1015 closed

[2016-06-21 17:06] mariobehling commented on #1090
Yes, good idea. How do we display that in the form?

[2016-06-21 17:12] #1064 closed

[2016-06-21 17:14] niranjan94 commented on #1090
@mariobehling I have added option to choose from existing speaker here
https://github.com/fossasia/open-event-orga-server/pull/1100

[2016-06-21 17:56] SaptakS commented on #1026
![table_responsive](https://cloud.githubusercontent.com/assets/9530293/16240591/8c058328-3807-11e6-8ad1-ef92e7676b58.png)

@mariobehling table made responsive. Is this good?

[2016-06-21 18:06] rafalkowalski commented on #949
@mariobehling it's working now

[2016-06-21 18:13] rafalkowalski commented on #950
@mariobehling it's fixed

[2016-06-21 18:13] #1074 closed

[2016-06-21 18:19] SaptakS commented on #1026
Another option for tables is horizontal scroll:
![table_horizontal](https://cloud.githubusercontent.com/assets/9530293/16241293/a53454b6-380a-11e6-993d-c6e0c4d8fb58.png)

[2016-06-21 18:41] aditya1702 commented on #1026
@SaptakS The horizontal scroll looks nice I think

[2016-06-21 18:57] #1099 closed

[2016-06-21 19:03] SaptakS commented on #1026
@mariobehling made the buttons responsive

![buttons_responsive](https://cloud.githubusercontent.com/assets/9530293/16242608/e2c2d626-3810-11e6-9987-fc79bdbfa042.png)

[2016-06-21 19:09] rafalkowalski commented on #872
@mariobehling what should be included in reports page?

[2016-06-21 19:15] mariobehling commented on #1026
Let's keep it simple. Please start by proposing improvements for most used areas and specific elements first e.g. top bar and footer. A lot of pages would benefit. Please help here. There are issues already: https://github.com/fossasia/open-event-orga-server/labels/Responsive%20UI

[2016-06-21 19:17] SaptakS commented on #1026
The tabs and tables are also there in a lot of pages. Also, the buttons. I will see to the footer and top bar as well. No problem.

[2016-06-21 19:26] mariobehling opened #1105 "Improve Responsiveness of UI"
There are a number of pages, where the design is not final. There is no point in getting into too much detail on those pages. However there are areas that are pretty clear already, e.g. top bar and footer. Please add areas here and create issues for each one.

Improve Responsiveness of:
* [x] Top bar menu https://github.com/fossasia/open-event-orga-server/issues/1081
* [x] Footer design https://gi

[2016-06-21 19:30] SaptakS opened #1106 "Modify tabs for mobile UI"
Make Tabs responsive in
- [x] `/events/`
- [x] `/events/ID/`

![session_mobile](https://cloud.githubusercontent.com/assets/9530293/16177270/affe1e58-3644-11e6-8f6d-5922a2f17ac2.png)

Presently, the tabs appear like this in Mobile.

[2016-06-21 19:32] SaptakS commented on #1106
Tabs made into accordions:

![buttons_responsive](https://cloud.githubusercontent.com/assets/9530293/16243415/c2990966-3814-11e6-8b25-feb8ab06b8cf.png)

[2016-06-21 19:43] mariobehling commented on #872
For now only the logs.

[2016-06-21 19:44] mariobehling commented on #1106
It is a good improvement. We need to think how to keep the colors.

[2016-06-21 19:48] SaptakS commented on #1106
@mariobehling the colors are already there in the website.. It got edited while editing the screen capture.

[2016-06-21 20:04] aditya1702 commented on #1003
@mariobehling I think we can close this. The Super_Admin will be already created when the database is created initially for our app. Thus the only part left is for thesuper_admin to create more admins which I have already implemented here: #1039

[2016-06-21 20:04] #1003 closed

[2016-06-21 20:42] aditya1702 commented on #620
@mariobehling I have started work on the live media thing. Do you want it to be displayed here on this page?
![live_media](https://cloud.githubusercontent.com/assets/15054664/16245479/b9009464-381e-11e6-872e-592d8d8973cc.png)

[2016-06-21 22:14] #950 closed

[2016-06-22 03:08] #1094 closed

[2016-06-22 03:32] aviaryan opened #1109 "Add social links in OTS sample"
OTS json had [services.json](https://github.com/OpenTechSummit/2016.opentechsummit.net/blob/gh-pages/programm/json/services.json) which contains social links for different social networks.
They can be used as content for social_links.json, the file responsible for social links of event.

[2016-06-22 04:05] #1109 closed

[2016-06-22 04:05] #1090 closed

[2016-06-22 04:19] shivamMg opened #1112 "Add Ticketing System to event creation form"
https://github.com/fossasia/open-event-orga-server/issues/904

Please follow examples of other services. Example as below.

![screenshot from 2016-07-23 19 14 22](https://cloud.githubusercontent.com/assets/1583873/17079228/de8e93bc-5109-11e6-9e26-231ec2e7ed67.png)

And..

![screenshot-www eventbrite com 2016-07-23 19-14-49](https://cloud.githubusercontent.com/assets/1583873/17079229/e34bd1bc-5109-

[2016-06-22 04:45] shivamMg opened #1113 "Minor fixes to Manage Events table"
- Remove left padding from lists
- Display Title cased Role names
- Change header from Organizer to Roles

[2016-06-22 04:59] #1113 closed

[2016-06-22 05:04] SaptakS commented on #989
@aviaryan @mariobehling there is already a blog post on this. https://opev.wordpress.com/2016/06/17/open-event-organizers-server-custom-forms/

[2016-06-22 05:09] #602 closed

[2016-06-22 06:37] SaptakS commented on #1081
**Device Size: 320 X 480**
![top320](https://cloud.githubusercontent.com/assets/9530293/16256740/bcfd46fe-3871-11e6-9be3-06a94cd7ceb0.png)

**Device Size: 768 X 1024**
![top768](https://cloud.githubusercontent.com/assets/9530293/16256744/c36ef276-3871-11e6-8412-1b04d9aa4fe5.png)

[2016-06-22 06:50] aviaryan opened #1116 "Convert API datetime format to iso8601"
https://en.wikipedia.org/wiki/ISO_8601

Example - 2016-06-06T11:22:33+0800

To incorporate timezone in the datetime value, it should be converted to a more rich format like ISO8601.
There is a nice library for it. http://pyiso8601.readthedocs.io/en/latest/

[2016-06-22 07:01] #1106 closed

[2016-06-22 07:08] SaptakS opened #1117 "Make widgets responsive"
![event_overview_before](https://cloud.githubusercontent.com/assets/9530293/16257418/251b5812-3876-11e6-8598-f19a71134643.png)