[2017-08-16 18:08] magdalenesuo opened #4363 "Notification for Ticket Purchase to Organiser"
- [ ] Notification to organiser about new ticket bought

[2017-08-16 18:21] magdalenesuo commented on #4361
@sumedh123 Please check again after #4364 gets merged.

[2017-08-16 18:23] magdalenesuo opened #4365 "Notification for Ticket Purchase to Attendees"
- [ ] Notification to attendee with link to pdf containing only his/her ticket
- [ ] Notification to purchaser with link to pdf containing all tickets

[2017-08-16 18:24] magdalenesuo opened #4366 "Notification for Ticket Cancellation to Organiser and Attendee"
- [ ] Notification for ticket cancellation to organiser
- [ ] Notification for ticket cancellation to ticket buyer

[2017-08-16 18:43] #4335 closed

[2017-08-16 19:04] #4363 closed

[2017-08-16 19:59] shubham-padia opened #4368 "Remove redundant booked_ticket table"

[2017-08-17 02:41] sumedh123 commented on #4361
@magdalenesuo I am still getting 500.

[2017-08-17 07:13] #4368 closed

[2017-08-17 09:43] CosmicCoder96 opened #4371 "Orders API docs have missing attributes"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

Not all attributes are enlisted in the docs, there are more of them in the actual response.

[2017-08-17 11:18] #4340 closed

[2017-08-17 11:53] SaptakS commented on #4361
@magdalenesuo the previous error for event_id key was fixed. Right now on making a request with payment-mode: free, it works. But on making a request with payment-mode : paypal, it is giving 500 error.

@sumedh123 please confirm.

@magdalenesuo this is the heroku log:

[code]

I am making a separate issue as well for this for better bug tracking.

[2017-08-17 11:57] SaptakS opened #4373 "Paypal payment mode giving 500 error in Orders API"
**I'm submitting a ...**  (check one with "x")
- [x] bug report ( Follow up of #4361 )
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

Following is the heroku log for making a request to Orders API with payment-mode:paypal

[code]

**E

[2017-08-17 15:21] iamareebjamal opened #4375 "Amount field in Order API should be read only"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Currently, user can POST or PATCH the amount in Order API

**Expected behavior:**
It should be read only

[2017-08-17 15:59] enigmaeth opened #4376 "Stripe-Authorization: Add related endpoints to docs and dredd tests"
Parent issue #4009.

[2017-08-17 16:01] poush commented on #4375
It already recalculates the amount on server. Can you please share the example where your invalid amount is being stored.

[2017-08-17 16:03] poush commented on #4361
@sumedh123 Please recheck this

[2017-08-17 16:06] enigmaeth commented on #4362
Closing in favor of https://github.com/fossasia/open-event-orga-server/pull/4367#issuecomment-322993426.

[2017-08-17 16:06] #4362 closed

[2017-08-17 16:33] iamareebjamal commented on #4375
[code]

Here my attendee holds a ticket of 25.99 and I was able to set the amount of 10.

[2017-08-17 16:37] #4348 closed

[2017-08-17 16:49] bhanu1911 commented on #4371
Can I start working on this?

[2017-08-17 17:24] magdalenesuo commented on #4373
@SaptakS Did that fix it? If not I am not exactly sure what the problem is :sweat_smile:
@poush Can you work on this issue?

[2017-08-17 17:25] shubham-padia commented on #4371
Sure, please go ahead, the api schema can be found at app/api/schema/orders.py.

[2017-08-17 17:49] #4365 closed

[2017-08-17 18:41] poush commented on #4375
What is the response?

[2017-08-17 19:04] poush commented on #4373
@magdalenesuo Sure, I will first test it on my paypal sandbox and try to reproduce it.

[2017-08-17 19:10] #4264 closed

[2017-08-17 19:51] iamareebjamal commented on #4375
[code]

[2017-08-18 01:16] geekyd opened #4380 "Events API: Adding original-image-url to payload gives Error 503"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

API Endpoint
[code]
Payload

[code]

ERROR
[code]

[2017-08-18 05:25] Siddhant2016 commented on #4174
Can I start to work on this?

[2017-08-18 10:30] CosmicCoder96 opened #4381 "Event relationship missing from attendees"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

Events have a relationship with attendees in their response, vice-versa is not true.

[2017-08-18 10:39] shubham-padia commented on #4381
@CosmicCoder96 attendees already have a relationship with event, https://github.com/fossasia/open-event-orga-server/blob/nextgen/app/api/schema/attendees.py, can you recheck?

[2017-08-18 11:13] CosmicCoder96 commented on #4381
@shubham-padia yes, that seems to be the case. It didn't appear in the GET response of Docs, hence I raised this.

[2017-08-18 11:13] #4381 closed

[2017-08-18 11:20] #4281 closed

[2017-08-18 11:27] NinaNC opened #4382 "Regression: clicking "Export CSV doesn't work anymore""
The issue was solved, but now it fails again

**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
When clicking CSV in "Export CSV", nothing seems to happen. When looking at th

[2017-08-18 13:20] shubham-padia opened #4384 "ProgrammingError: (psycopg2.ProgrammingError) column orders.cancel_note does not exist"
https://sentry.eventyay.com/eventyay/api/issues/33/

[code]

[2017-08-18 13:22] shubham-padia commented on #4384
Caused after #4282

[2017-08-18 13:25] shubham-padia commented on #4380
Not a bug, maybe an issue from the side of heroku, please try again.
https://httpstatuses.com/503

[2017-08-18 13:57] shubham-padia commented on #4384
closed until issue pops up again

[2017-08-18 13:57] #4384 closed

[2017-08-18 14:26] #4366 closed

[2017-08-18 14:26] shubham-padia opened #4385 "Bug: KeyError on /v1/users/<int:user_id>/attendees"
https://sentry.eventyay.com/eventyay/dev-api/issues/52/

[code]

[2017-08-18 14:29] enigmaeth opened #4386 "Microlocation: Add related endpoints to docs and dredd tests"
Parent issue : #4009.

[2017-08-18 14:45] #4385 closed

[2017-08-18 18:28] enigmaeth opened #4390 "Tracks: Add related endpoints to docs and dredd tests"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

Parent issue #4009.

[code]

[code]

[2017-08-18 20:25] tipsynerd commented on #4371
Can I take up this issue?

[2017-08-18 20:33] SaptakS commented on #4371
@tipsynerd I think @bhanu1911 is already looking into it.

[2017-08-18 20:38] tipsynerd commented on #4371
Ok, no Problem

[2017-08-18 20:51] SaptakS commented on #3461
@shubham-padia @niranjan94 I think analytics endpoint mostly does this? Can you confirm and close?

[2017-08-18 20:57] SaptakS commented on #3468
This issue is already covered in the above mentioned issues. Closing.

[2017-08-18 20:57] #3468 closed

[2017-08-18 20:59] SaptakS commented on #3591
I think with the present speaker API and relationships and using javascript in frontend this can already be attained. Closing.

[2017-08-18 20:59] #3591 closed

[2017-08-18 21:16] shubham-padia commented on #3461
Yep

[2017-08-18 21:16] #3461 closed

[2017-08-19 02:39] geekyd commented on #4380
@shubham-padia Okay but it does not happen when we add `logoURL`, the problem also persists for custom-placeholder API

[2017-08-19 05:47] sumedh123 opened #4392 "Celery task gives sometimes "FAILURE" response whereas sometimes "SUCCESS" response."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

The celery task API for gettting the download URL for an event gives 'FAILURE' response sometimes whereas it gives 'SUCCESS' response sometimes fo

[2017-08-19 05:54] sumedh123 commented on #4392
@magdalenesuo @poush @SaptakS Please look into this.

[2017-08-19 06:48] shubham-padia commented on #4380
I don't get it :sweat_smile: , please rephrase :)

[2017-08-19 06:56] geekyd commented on #4380
Error 503 only occurs when we try to add `original-image-url`, however when we try to add `logo-url` in events API it works. The same problem also occurs in custom-placeholder API. Its strange!

[2017-08-19 07:26] SaptakS commented on #4392
@sumedh since you said it's working fine right now, so closing.

[2017-08-19 07:26] #4392 closed

[2017-08-19 07:39] SaptakS commented on #4380
@shubham-padia not exactly an heroku server problem. This is the heroku logs.

[code]

@poush please look into it since this is an image resizing problem.

[2017-08-19 10:13] poush commented on #4380
@geekyd Testing on my local system. Can you share the sample orginal_image_url, the one you are trying?

[2017-08-19 10:18] geekyd commented on #4380
@poush
https://open-event-api.herokuapp.com/static/media/temp/images/f7987547-c98a-411f-ad41-79c457db67d8/UTJwTlpqc3/c7ad355b-38cf-4421-969b-2ebf03d662bc.png

[2017-08-19 10:30] poush commented on #4380
Done able to create Event with this image,

[code]

[2017-08-19 10:36] poush commented on #4375
What is permission level of user? Organizers can create order of any amount.

[2017-08-19 11:12] iamareebjamal commented on #4375
But it shouldn't it be validated. Why should even an organizer enter a wrong amount?

[2017-08-19 15:34] poush commented on #4375
This is according to @niranjan94 Organizer should be able to send any amount and it is final.

[2017-08-19 15:39] iamareebjamal commented on #4375
OK

[2017-08-19 17:15] #4337 closed

[2017-08-19 17:32] niranjan94 commented on #4375
Yes. An organiser should be able to override the total amount. We already have this at `eventyay.com` right now.

Related vintage issue: https://github.com/fossasia/open-event-orga-server/issues/1979

[2017-08-19 17:32] sumedh123 opened #4393 "Change Event Copy API from JSON spec to non-JSON spec"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Currently, the POST to event copy is having the request body like:
[code]
which is weird.

Expected:
The request should be a

[2017-08-19 23:53] #4286 closed

[2017-08-20 04:40] sumedh123 commented on #4393
@poush @magdalenesuo @shubham-padia @enigmaeth

[2017-08-20 04:58] poush commented on #4393
@sumedh123 This API is JSON spec API so the type of object is required to create.

[2017-08-20 04:59] poush commented on #4375
Closing as issue resolved.

[2017-08-20 04:59] #4375 closed

[2017-08-20 05:00] sumedh123 commented on #4393
@niranjan94 Please guide.

[2017-08-20 05:02] niranjan94 commented on #4393
@poush then please make it a plain json endpoint. It really doesn't make
sense to have a body like this. event-copy isn't actually a resource.

Let's stick to json-api spec for proper resources. And for such actions,
we'll go for a plain json endpoint.

On Sun, Aug 20, 2017, 10:30 AM Sumedh Nimkarde <notifications@github.com>
wrote:

[2017-08-20 09:50] poush commented on #4393
Okay, sure!

[2017-08-20 10:01] poush commented on #4371
@bhanu1911 can you please update us on the progress?

[2017-08-20 11:22] geekyd opened #4396 "Attendee : user/<id>/attendee gives Error 400"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

URL
[code]

ERROR
[code]
Related Front-end route
[code]
Due to recent changes the URL gives ERROR 400.
@poush @shubham-padia @enigmaeth @magdalene

[2017-08-20 11:37] geekyd opened #4397 "User-Session: user/<id>/sessions returns all the sessions in system"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

The user API returns all the sessions in the system instead of sessions under the user
eg
URL
[code]

Query Params:
[code]

@poush @shubham-padia

[2017-08-20 13:03] poush opened #4400 "Add Docs for Change Password API"
API Docs for change password

[2017-08-20 14:14] magdalenesuo opened #4401 "Docs and Dredd tests for /auth/* endpoints"
- [ ] Add necessary documentation for /auth/* endpoints
- [ ] Add dredd tests to validate the docs

[2017-08-20 14:15] magdalenesuo opened #4402 "Verify Email endpoint doesn’t work."
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

There are two specific errors in the function.
- [x] Firstly the email verification state change isn’t saved in db
- [x] Response for the view fun

[2017-08-20 14:44] #4396 closed

[2017-08-20 15:04] #4402 closed

[2017-08-20 15:51] magdalenesuo commented on #4401
#4404 fixes it.

[2017-08-20 15:51] #4401 closed

[2017-08-20 16:06] magdalenesuo opened #4405 "Send email and notification to user on password changing"
- [ ] Send email to the user
- [ ] Send notification to the user

[2017-08-20 17:33] #4405 closed

[2017-08-20 18:01] enigmaeth opened #4407 "Tax: Add related endpoints to docs and dredd tests"
Parent issue #4009.
**Other information:**

**System information:**

[code]

[code]

[2017-08-20 18:05] #4358 closed

[2017-08-21 06:44] SaptakS commented on #3463
This has been implemented here: https://github.com/fossasia/open-event-orga-server/pull/4297

[2017-08-21 06:44] #3463 closed

[2017-08-21 06:47] SaptakS commented on #3989
The way things have been implemented, i don't think there is a need for this feature. Closing.

[2017-08-21 06:47] #3989 closed

[2017-08-21 06:50] SaptakS commented on #4174
@jancborchardt this has been resolved in the nextgen API version of the project. So closing this. The bug won't be there once the new structure of the project is pushed to production.

[2017-08-21 06:50] #4174 closed

[2017-08-21 07:33] sumedh123 commented on #4286
@magdalenesuo @SaptakS Can you guys let me know the endpoint with the request body for this one or update the docs?

[2017-08-21 07:34] SaptakS commented on #3381
@niranjan94 please create a corresponding issue in frontend repo in case the issue still exists. Closing here

[2017-08-21 07:34] #3381 closed

[2017-08-21 07:35] SaptakS commented on #3046
Closing this here. @niranjan94 please implement this in the new frontend. Thanks.

[2017-08-21 07:35] #3046 closed

[2017-08-21 07:57] SaptakS commented on #4286
@sumedh123 the docs will be updated in this PR: https://github.com/fossasia/open-event-orga-server/pull/4404. The endpoint for change-password is `/v1/auth/change-password`. Example request body will be:

[code]

You also need to send JWT Auth key because this is when the user is logged in. However when the user isn't logged in and has forgot the password, the endpoint for that is `/v1/auth/reset-

[2017-08-21 07:59] sumedh123 commented on #4286
@SaptakS Is this a JSON spec API or a simple one as celery task?

[2017-08-21 08:00] SaptakS commented on #4286
`application/json`. not `application/vnd.api+json`

[2017-08-21 08:01] sumedh123 commented on #4286
@SaptakS How will we identify the user then?

[2017-08-21 08:04] SaptakS commented on #4286
JWT Authentication. The spec is defined by Content-Type header. The authentication is done by Authorization header. So to authenticate, it's same as "Authorization: JWT <auth key>"

[2017-08-21 08:08] sumedh123 commented on #4286
@SaptakS Right now, I am doing the same, sending manual request by Postman to ```https://open-event-api.herokuapp.com/v1/auth/change-password``` with a body like:
[code]
Response:
![change-pass](https://user-images.githubusercontent.com/17925669/29509447-f0db9824-8675-11e7-9fbd-0951b65b3e55.png)

[2017-08-21 08:12] SaptakS commented on #4286
@sumedh123 looks fine to me. Can you share the header?

[2017-08-21 08:17] magdalenesuo opened #4408 "Email for all tickets not sent to Ticket Purchaser."
The ticket purchaser should receive all the tickets as a PDF in email.

[2017-08-21 08:18] magdalenesuo commented on #4361
Continued in #4373

[2017-08-21 08:18] #4361 closed

[2017-08-21 08:23] sumedh123 commented on #4286
@SaptakS
[code]

[2017-08-21 08:26] magdalenesuo commented on #3595
@niranjan94 The custom-forms API can help us create customisation options for attendee API as well. But we will still need to implement additional optional fields as mentioned in #2897 . Closing this.
I'll open a new issue to implement the optional fields in Attendee API that can be added via Custom Form.

[2017-08-21 08:26] #3595 closed

[2017-08-21 08:30] magdalenesuo opened #4409 "Add additional optional fields to Attendee API that can be added via custom forms."
Related issue: #3595

Following additional fields are to be added in the Attendee API. Whether the field is required or included in the frontend form can be set using the CustomForm API.

* [ ] Job Title
* [ ] Email Address
* [ ] Phone
* [ ] Mobile Phone
* [ ] Tax & Business Info
* [ ] Billing Address
* [ ] Home Address
* [ ] Shipping Address
* [ ] Company / Organization
* [ ] Work Address
* [ ] W

[2017-08-21 10:15] harshitagupta30 opened #4410 "'Completed' attribute missing from order-statistics API"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Right now the response contains the following fields
[code]
The attribute `completed` is missing from the response.
Image fo

[2017-08-21 14:33] #2953 closed

[2017-08-21 14:33] #2957 closed

[2017-08-21 16:57] poush commented on #4283
After testing it with some changes I realized we don't need this change as the order will never be able to get into next status if payment is not completed.

[2017-08-21 16:57] #4283 closed

[2017-08-21 19:20] #4410 closed

[2017-08-21 19:34] poush commented on #4380
@SaptakS Try to reproduce it. I'm not able to do reproduce it here.

[2017-08-21 20:51] mejariamol opened #4415 "Broken User Events Relationship"
**I'm submitting a ...**
- [x] bug report

**Current behavior:**
Created an event.
It is available using events endpoint - `http://open-event-api.herokuapp.com/v1/events/326`
but events for the user is returning 0 items - `http://open-event-api.herokuapp.com/v1/users/81/events`

[2017-08-22 04:10] poush commented on #4415
Can you make sure the proper "UsersEventsRole" entries are there because this endpoint is working fine here on my nextgen branch. Ensure that user with ID 81 has any access on any events other than just Attendee

[2017-08-22 05:48] #4407 closed

[2017-08-22 06:37] #4376 closed

[2017-08-22 07:51] #4408 closed

[2017-08-22 15:00] SaptakS opened #4417 "[sentry] KeyError/v1/users/<int:user_id>/access-codes"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

[code]

[2017-08-22 16:03] shubham-padia opened #4420 "[Sentry]: 'EventInvoice' object has no attribute 'stripe_user_id'"
https://sentry.eventyay.com/eventyay/dev-api/issues/59/

[code]

[2017-08-22 18:33] shreyanshdwivedi opened #4422 "Overflow of table data in manage events page after login in mobile view"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
In mobile view, table data on manage events page is overflowing outside its container

**Expected behavior:**
The table data

[2017-08-22 18:33] shreyanshdwivedi commented on #4422
I would like to work on this issue

[2017-08-22 19:37] #4417 closed

[2017-08-22 19:56] #4420 closed

[2017-08-22 21:15] #4415 closed

[2017-08-22 21:59] #4409 closed

[2017-08-23 04:11] SaptakS commented on #4422
@shreyanshdwivedi currently we are moving away from the present development/master architecture to a decoupled architecture. So right now this repo maintains the all the APIs to interact with the backend and manage database entries. This issue will now be handled in [Open Event Frontend repo](https://github.com/fossasia/open-event-frontend). Please have a look in that repository. Thanks.

[2017-08-23 04:11] #4393 closed

[2017-08-23 04:15] SaptakS commented on #4422
@niranjan94 please create a relevant issue in frontend repository if needed. closing here.

[2017-08-23 04:15] #4422 closed

[2017-08-23 04:24] SaptakS commented on #3748
@jospoortvliet this is resolved as far as API is concerned. @niranjan94 can you please take care of this in [Open Event Frontend](https://github.com/fossasia/open-event-frontend)? Closing it here.

@jospoortvliet this will be resolved in the next production release. Thanks for pointing out.

[2017-08-23 04:24] #3748 closed

[2017-08-23 04:28] SaptakS commented on #3597
@NinaNC this part has now been moved to the [Open Event Frontend](https://github.com/fossasia/open-event-frontend) repo since we are decoupling our architecture. @niranjan94 can you please create relevant issues in the frontend repo if this issue still persists? Thanks. Closing here.

[2017-08-23 04:28] #3597 closed

[2017-08-23 04:31] SaptakS commented on #3590
One can use the file API to assure the same result. [Open Event Frontend](https://github.com/fossasia/open-event-frontend) will do a file by file upload and take care of a better UX to show file wise progress. @niranjan94 please create a relevant issue in the frontend repo. Closing it here.

[2017-08-23 04:31] #3590 closed

[2017-08-23 06:00] SaptakS opened #4423 "[Sentry] KeyError/v1/users/<int:user_id>/attendees"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

[code]

[2017-08-23 09:39] shubham-padia opened #4424 "[Sentry] NoResultFound /v1/role-invites"
[code]

[2017-08-23 13:13] magdalenesuo opened #4426 "Fix Discount Code API, Schema and endpoints."
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

With recent changes discount code api went out of its actual behaviour.

**Current behaviour:**

- [ ] Discount code schema has two fields with th

[2017-08-23 13:34] #4423 closed

[2017-08-23 21:02] #4426 closed

[2017-08-23 22:45] enigmaeth opened #4428 "Discount Codes: Add related endpoints to docs and dredd tests"
Parent issue: #4009.

[2017-08-23 22:46] enigmaeth opened #4429 "Orders: Add related endpoints to docs and dredd tests"
Parent issue: #4009.
**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**System information:**

[code]

[code]

[2017-08-24 13:24] #4424 closed

[2017-08-24 19:06] shubham-padia commented on #3975
Currently user can check which events he/she is attending, thus closing this

[2017-08-24 19:06] #3975 closed

[2017-08-25 05:56] #3485 closed

[2017-08-25 06:23] shubham-padia opened #4433 "Implement faq-types api"
In order to group similar FAQs into categories, implement `faq-type` in a similar way as `session-types`

[2017-08-25 11:14] geekyd opened #4436 "Add support for multiple emails for a user"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Users sometimes use work email and personal emails. If they get an invitation to an event to their work email, then they hav

[2017-08-25 17:43] open-event-bot[bot] opened #4437 "Add frontend_url field in the documentation of settings API"
###### Original issue submitted by @CosmicCoder96 in https://github.com/fossasia/open-event-frontend/issues/705
---
The signup link people receive signing up on the front-end is not a link.

![screenshot from 2017-08-13 20-56-03](https://user-images.githubusercontent.com/1583873/29252545-e7dc5662-8069-11e7-93be-dd02b3e318b6.png)

[2017-08-25 18:43] magdalenesuo commented on #4433
@shubham-padia I do not think a separate api is needed here. Can't you just add a `type`(str) field in the faq api itself? Why do you need to confuse people with another thing as faq-type api? FAQ is simply post question and answer. Session type is understood. It makes a difference. But Why make faq big by making a whole separate api type for it?

[2017-08-25 19:22] shubham-padia commented on #4433
@magdalenesuo

 What if I want to group multiple questions under different sections. Sure, you can add a type field in the API itself, but if i have 10 questions under 1 section, it is redundant and not good practice to leave it to the user to enter the type all 10 times.

If you are getting confused with the session-type analogy, think of this in terms of more of a `tags` approach. The faq-type r

[2017-08-25 19:27] magdalenesuo commented on #4433
@shubham-padia Right. Makes sense. Cool then.

[2017-08-26 07:32] geekyd opened #4438 "Events: GET throws error if role-invites is included"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

URL:
[code]
Query param:
[code]

[2017-08-26 09:34] SaptakS commented on #4437
@CosmicCoder96 please re-check this. The frontend_url was missing from the settings table. I have added it now. The docs need to be updated about the frontend_url field.

[2017-08-26 13:15] geekyd commented on #4438
Instead of role-invites respective relationships for roles will be used i.e organizers, moderators etc.
Closing this

[2017-08-26 13:15] #4438 closed

[2017-08-26 21:04] #4429 closed

[2017-08-27 04:41] poush commented on #4437
@SaptakS  Sure

[2017-08-27 10:27] temoto commented on #3528
Please try new eventlet version. Hopefully it fixes this problem

`pip install https://github.com/eventlet/eventlet/archive/b756447bab51046dfc6f1e0e299cc997ab343701.zip`

[2017-08-27 10:37] SaptakS commented on #3528
Thanks @temoto for the fix. We have changed the architecture of the project some what so I am not sure we will be needing eventlet anymore but will surely check out. 🍪

[2017-08-27 18:04] #4433 closed

[2017-08-27 18:33] #4428 closed

[2017-08-27 19:07] enigmaeth commented on #4009
@fossasia/open-event-server-devs @niranjan94 All the inter-related endpoints have been added to docs and dredd tests :) , closing this!
Any new endpoint to be added(except relationship endpoints) must have docs and dredd tests added along with it.

[2017-08-27 19:07] #4009 closed

[2017-08-28 02:36] #3448 closed

[2017-08-28 04:41] mejariamol opened #4441 "Not allowing attendee POST request"
**I'm submitting a ...**
- [x] bug report

**Current behavior:**
Created a new event with new user account. Created a free ticket for the event. for create attendee request the response is:
[code]

[2017-08-28 09:14] #4400 closed

[2017-08-28 13:25] lucasruchel opened #4442 "Events API: return excluded events and with state published"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
API /api/v1/users/me/events  returns excluded events and with state published

[2017-08-28 15:01] #4437 closed

[2017-08-28 15:03] SaptakS commented on #4442
@lucasruchel just to clarify, by excluded you mean deleted, right? Or do you mean private?

[2017-08-28 16:14] lucasruchel commented on #4442
Yes, I mean deleted. The API response all events create by user, including deleted events with the same state when they was published

[2017-08-28 18:19] SaptakS commented on #4380
@poush you won't be able to reproduce in your local system if you are using management command. If you use nginx in your server with same configuration as in heroku, then you might. This is mainly being caused because of timeout to download the image from the url. Please implement it using celery. @fossasia/open-event-server-devs please look into this.

[2017-08-28 21:05] poush commented on #4373
Tried with different scenarios, couldn't reproduce it. If this is still causing any error on Heroku deploy then this could be due to invalid credentials of PayPal in the settings.

[2017-08-28 21:05] #4373 closed

[2017-08-28 21:44] enigmaeth opened #4446 "Add missing docstrings in API Classes"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

Many classes and methods have missing docstring and some have erroneous docstrings.

[2017-08-29 04:54] #4446 closed

[2017-08-29 05:43] shubham-padia commented on #4442
@lucasruchel This has been resolved in the nextgen API, please refer to the same. Closing this :)

[2017-08-29 05:43] #4442 closed

[2017-08-29 13:54] shubham-padia opened #4448 "Make celery follow flask application factories pattern"
http://flask.pocoo.org/docs/0.12/patterns/appfactories/

[2017-08-29 15:21] #2573 closed

[2017-08-29 16:04] geekyd opened #4450 "Event API: Allow events to include roles information"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Currently if we make a request to fetch events at `users/id/events?include=organiser,co-organiser` for non-admin user.

**Ex

[2017-08-29 16:32] #3406 closed

[2017-08-30 04:47] #3544 closed

[2017-08-30 10:43] ayushgangrade commented on #4371
@poush Can I take this up if no one is working?

[2017-08-30 18:26] sumedh123 opened #4452 "User API: Include a 'status' attribute in the response."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Currently, there's no such attribute by which we can track if a user is active or not.

Expected:
Add an attribute called ``

[2017-08-30 18:42] #4441 closed

[2017-08-30 19:16] sumedh123 commented on #4452
@niranjan94 Should this check be done on server side or client? I guess getting a ```status``` attribute in response would be better than getting a ```last-login``` and then checking the activeness in FE?

[2017-08-30 19:26] sumedh123 commented on #4452
Currently we have an attribute called ```last-accessed-at``` in the response.

[2017-08-31 03:56] #4450 closed

[2017-08-31 04:08] SaptakS commented on #4196
@niranjan94 the remaining tasks are being followed in #3467  and #4225 . Closing this.

[2017-08-31 04:08] #4196 closed

[2017-08-31 04:09] SaptakS commented on #4371
@ayushgangrade seems this issue has been stagnant for quite some time. Go ahead.

[2017-08-31 08:43] shubham-padia commented on #4452
@niranjan94 Can you please confirm this? I personally don't think this attribute is required :smile: , the FE can figure it out themselves via `last-accessed-at`

[2017-08-31 08:44] sumedh123 commented on #4452
@shubham-padia Okay. That can be done. There's no point in having a redundant attribute.

[2017-08-31 08:51] shubham-padia commented on #4452
@sumedh123 Closing this then :)

[2017-08-31 08:51] #4452 closed

[2017-08-31 09:57] shubham-padia commented on #4006
not needed atm, will reopen if need arises

[2017-08-31 09:57] #4006 closed

[2017-08-31 13:44] sumedh123 opened #4453 "User API: The 'last-accessed-at' attribute in user api response is null for every user."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

For every user, I am getting the 'last-accessed-at' as null.

[2017-08-31 20:24] unamuno opened #4454 "Update documentation & docker image to match nextgen branch requirements"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Installation on Google Cloud with Ubuntu 16.4 / Debian 7/8 Crashing
on docker-compose build
(Step 10/12)

**Expected behavio

[2017-09-01 10:39] #3467 closed

[2017-09-01 10:39] #4448 closed

[2017-09-01 10:46] shubham-padia opened #4455 "Provide interface for the client to make search"
@niranjan94 Please guide further on client's requirements

[2017-09-01 12:06] sumedh123 opened #4456 "Update docs for the access codes API."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

Update the docs for the access codes API.

[2017-09-01 12:12] S2606 commented on #4456
@sumedh123 I would like to work on this

[2017-09-01 12:18] shubham-padia commented on #4456
@S2606 Please go ahead

[2017-09-01 12:24] S2606 commented on #4456
@sumedh123 Could you please specify as to which part of the API needs to be documented?

[2017-09-01 12:26] sumedh123 commented on #4456
@S2606 Please add the docs which are missing for the whole access codes api. There is some relationship missing in POST request.

[2017-09-02 20:22] shubham-padia commented on #4455
@niranjan94 ping :)

[2017-09-03 09:49] sumedh123 commented on #4453
@poush Any ETA on this one?

[2017-09-04 16:45] #4453 closed

[2017-09-05 11:07] shubham-padia commented on #2313
The mail and notifications are already being stored. They can be accessed in the admin panel. Closing this.
Please re-open if required.

[2017-09-05 11:07] #2313 closed

[2017-09-05 11:09] shubham-padia commented on #3695
Already done in other issues. Closing this :)

[2017-09-05 11:09] #3695 closed

[2017-09-07 04:24] ayush1999 commented on #4371
@SaptakS @poush Any work on this? I'd love to take this up if nobody is working on it right now.

[2017-09-07 05:36] shubham-padia commented on #4371
@ayush1999 please go ahead

[2017-09-07 18:25] unamuno opened #4460 "Timezone Error = 'None'"
**I'm submitting a ...**  (check one with "x")
- [ x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
HTTP 500

**Expected behavior:**
Event Detail Page is loading

**Steps to reproduce:**
Activate the Ticket Plugin and save

[2017-09-08 16:34] mariobehling opened #4461 "Organization Information not stored"
When the user creates an event and enters information about an organization it is not stored and disappears when the user reopens the wizard.

![screenshot from 2017-09-08 18-17-29](https://user-images.githubusercontent.com/1583873/30221624-45c6da9a-94c4-11e7-8376-6b5ef40b99cf.png)

[2017-09-08 16:44] mariobehling opened #4462 "Payment Gateways cannot be saved and result in error"
When a user adds data in the wizard for payments the payment forms cannot be saved and result in an error "An error occurred while saving. Please try again later ..."

![screenshot from 2017-09-08 18-43-39](https://user-images.githubusercontent.com/1583873/30221995-c43f0a7c-94c5-11e7-9c8c-8f7b7afb1f27.png)

[2017-09-10 09:06] ayush1999 commented on #4371
@shubham-padia Thanks! Working on it! :+1:

[2017-09-11 14:54] lucasruchel commented on #4460
Hello @unamuno,

I'm new in python and with Github. I had the same problem and I solved changing the file `app/helpers/wizard/helpers.py`

[code]
If anyone can validate :)

[2017-09-11 17:05] unamuno commented on #4460
Sorry, I made the change and restarted but the bug is still there.

[2017-09-11 17:13] unamuno commented on #4460
Maybe it is not allowed to place a Webproxy in front of the Webapp? I'm using nginx.

[2017-09-12 02:07] lucasruchel commented on #4460
Try to verify in your database if timezone was setted in events table.

[2017-09-12 13:40] shubham-padia opened #4463 "AttributeError: 'unicode' object has no attribute 'id'"
https://sentry.eventyay.com/eventyay/dev-api/issues/128/

[code]

[2017-09-12 13:40] shubham-padia opened #4464 "TypeError: __init__() got an unexpected keyword argument 'created_at'"
https://sentry.eventyay.com/eventyay/dev-api/issues/99/

[code]

[2017-09-12 13:40] shubham-padia opened #4465 "KeyError: 'checkin_times'"
https://sentry.eventyay.com/eventyay/dev-api/issues/102/

[code]

[2017-09-12 13:41] shubham-padia opened #4466 "TypeError: string indices must be integers"
https://sentry.eventyay.com/eventyay/dev-api/issues/97/

[code]

[2017-09-12 13:41] shubham-padia opened #4467 "NoResultFound: No row was found for one()"
https://sentry.eventyay.com/eventyay/dev-api/issues/96/

[code]

[2017-09-12 13:42] shubham-padia opened #4468 "IOError: cannot identify image file <cStringIO.StringI object at 0x7fc26db50a48>"
https://sentry.eventyay.com/eventyay/dev-api/issues/49/

[code]

[2017-09-13 05:18] Kunalgarg2100 commented on #4466
@shubham-padia can I take up this issue?

[2017-09-14 14:54] shubham-padia commented on #4466
@Kunalgarg2100 If you've setup the nextgen branch locally, please go ahead.

[2017-09-14 19:42] vaibhavsingh97 commented on #4467
Can i take up this issue?

[2017-09-14 20:26] shubham-padia commented on #4467
@vaibhavsingh97 Have you setup the nextgen branch locally? If you've setup the nextgen branch locally, please go ahead.

[2017-09-15 09:09] vaibhavsingh97 commented on #4467
@shubham-padia I am trying to setup but faiing while installing requirements from `requirement.txt`.
[code]
I tried all the possible way, i failed 😞
OS: Arch Linux
`Linux deathping 4.12.12-1-ARCH #1 SMP PREEMPT Sun Sep 10 09:41:14 CEST 2017 x86_64 GNU/Linux`

[2017-09-15 09:20] shubham-padia commented on #4467
The project uses python2, please make sure you're not using python 3. Use `pip2` instead of `pip`.

[2017-09-15 10:29] Kunalgarg2100 commented on #4466
I am facing `password authentication failed` while trying to setup nextgen branch locally.
I by mistake ran
` ` `
CREATE USER kunal WITH PASSWORD 'password@'
` ` `
during installation. Now when I type
` ` `
CREATE USER kunal WITH PASSWORD 'start'
` ` `
I get this error ![Error screenshot](https://drive.google.com/file/d/0B8NBXP-EfPUhM0pYdnY4bThpcHM/view), please tell how to fix it, I tried deletin

[2017-09-15 12:21] shubham-padia commented on #4466
@Kunalgarg2100 Please use the gitter channel for general doubts, the issues are specific for discussion related to that topic only. Please help us keep this thread clean :smile:

[2017-09-15 12:40] bhaveshAn opened #4469 "Error on running celery"
Got an error after running
`INTEGRATE_SOCKETIO=false celery worker -A app.celery`

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/celery/app/trace.py", line 240, in trace_task
    R = retval = fun(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist-packages/celery/app/trace.py", line 438, in __protected_call__
    return self.run(*args, **kwargs)
  File "/home

[2017-09-15 13:36] vaibhavsingh97 commented on #4469
I am not getting this error it's just i cannot connect to `redis://localhost:6379/0`
[code]

[2017-09-15 13:40] shubham-padia commented on #4469
Make sure redis is up and running, run `redis-cli ping` on the terminal, make sure get a `PONG` message on the terminal. For more https://redis.io/topics/quickstart

[2017-09-15 13:47] vaibhavsingh97 commented on #4469
@shubham-padia Thanks for prompt reply!! 😄 Now i am getting the same error mentioned by @bhaveshAn

[2017-09-16 07:13] unamuno commented on #4460
@lucasruchel It is set correctly:

[code]

[2017-09-17 17:16] #4469 closed

[2017-09-18 04:22] S2606 opened #4471 "Add upload to docker cloud button"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
There is no button available for docker cloud deployment

**Expected behavior:**
Button for automatic deployment on docker c

[2017-09-18 15:00] ananyo2012 commented on #4465
I have done the Local installation. I would like to work on this. How do we get access to the link mentioned in the issue ?

[2017-09-19 08:25] shubham-padia commented on #4465
All the info required is mentioned in the issue itself. The link is only for reference purposes for maintainers. Cheers :)

[2017-09-20 10:03] hpdang opened #4472 "Call for Speaker not saved"
The call for papers is not saved and the call is not published.

![screenshot from 2017-09-20 12-00-44](https://user-images.githubusercontent.com/1658742/30638421-ac4b0562-9dfb-11e7-96b1-a806868ebf59.png)

[2017-09-20 12:52] invinciblycool opened #4473 "Redundant feedback options in the API docs."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

There are currently two same feedback options in the API docs even, which are unnecessary and add redundancy to the API.
Check it [here](http://d

[2017-09-20 13:41] shubham-padia commented on #4473
@invinciblycool Can you elaborate on the problem here? Please specify which feedback options you are talking about :)

[2017-09-20 13:46] vaibhavsingh97 commented on #4472
@hpdang can i take this issue? Can you please guide me how to reproduce and how can i solve?

[2017-09-20 13:49] poush commented on #4472
If your setup is ready then feel free to try this. However, since this Urgent one. Try to debug issue and post the bug details here in between your fix.

[2017-09-20 14:29] invinciblycool commented on #4473
![fossbug](https://user-images.githubusercontent.com/24691797/30649557-2ca1ca42-9e3e-11e7-8ec5-c86501df8fe2.png)
Hope this makes it clear.

[2017-09-20 19:24] rahuldecoded commented on #4466
@shubham-padia I figured out that request.json return a dictionary they why we'll get TypeError? I'm  unable to reproduce the error, can you help me how to proceed?

[2017-09-20 19:43] vaibhavsingh97 commented on #4467
@shubham-padia How to reproduce? Please guide

[2017-09-20 20:54] niccokunzmann opened #4475 "Integrate Badgeyay"
**I'm submitting a ...**
- [X] feature request

**Current behavior:**

Currently, badgeyay is a standalone website.
I would like to have a one-click solution from eventyay to generate badges.

**Expected behavior:**

Please add a button to the [open-event-orga-server](https://github.com/fossasia/open-event-orga-server) to generate a badge for the list of speakers.

**Steps to reproduce:**

1. I go

[2017-09-20 22:21] shubham-padia commented on #4473
@invinciblycool Thanks. If you want to work on it, please go ahead.

[2017-09-21 05:40] Kanav-7 commented on #4475
I would like to work on this issue.

[2017-09-21 05:43] vaibhavsingh97 commented on #4473
@invinciblycool Are you working on this issue?

[2017-09-21 05:55] invinciblycool commented on #4473
Yes.

[2017-09-21 06:12] vaibhavsingh97 commented on #4472
@poush Can you please help me to reproduce this error, so that i can send fix as soon as possible. As it's a crtical bug so need to be fixed faster

[2017-09-21 07:49] niccokunzmann commented on #4475
@Kanav-7 Sure, please go ahead. Please coordinate on the other issue posted.

[2017-09-21 08:13] ananyo2012 commented on #4465
@shubham-padia Can you help me to reproduce the error. Currently when a send `PATCH` request at `/v1/attendees/{attendee_id}` it successfully executes.

[2017-09-21 09:41] ananyo2012 opened #4477 "Create some seed Data for Development"
**I'm submitting a ...
- [ ] bug report
- [ ] feature request
- [x] support request => According to [gitter discussion](https://gitter.im/fossasia/open-event-orga-server?at=59c37933cfeed2eb6534ad95)

**Current behavior:**
Presently there is no seed data for events, sessions, tickets etc. except the super admin. We have to manually create some data to test out the API. For newcomers It will be espe

[2017-09-21 11:05] ananyo2012 commented on #4464
I want to claim this issue.

[2017-09-21 12:39] poush commented on #4464
Don't say it exactly claiming and yeah feel free to work on it. Make sure you have the setup ready.

[2017-09-21 12:42] ananyo2012 commented on #4464
Yes I have the setup ready. I will come back with possible solution.

[2017-09-21 12:45] poush commented on #4472
Checkout to development branch, run the server, create the event, try to add call for speakers using account other than of admin and see what you get in error.

[2017-09-21 14:28] #4463 closed

[2017-09-21 14:46] #4473 closed

[2017-09-21 16:21] mariobehling commented on #4475
@niccokunzmann This comes a bit early as we are making a transfer to a separated system with front-end and backend. Therefore, this issue should only be tackled after the change has been made and other issues have been closed. Please delay that.

[2017-09-22 02:32] ananyo2012 commented on #4464
@shubham-padia @poush Can you help me to reproduce this error since `jwt-required` in permissions.py is called in multiple no of cases.

[2017-09-22 05:09] rahuldecoded commented on #4466
@shubham-padia Using the below request I'm able to reproduce the error.
![screenshot from 2017-09-22 10-35-07](https://user-images.githubusercontent.com/15686569/30730082-fd5af85e-9f81-11e7-8179-6902cd3f655b.png)
![screenshot from 2017-09-22 10-30-57](https://user-images.githubusercontent.com/15686569/30730110-2f7e2b3a-9f82-11e7-9635-614a0916f39f.png)
So should I handle this error or what to do ne

[2017-09-22 07:20] hpdang opened #4480 "Access Code: No tickets displayed"
The ticket options for the access code are no longer displayed on eventyay.com.

![screenshot from 2017-09-22 09-18-52](https://user-images.githubusercontent.com/1658742/30733458-4bd21ff4-9f77-11e7-89da-8837a2b353d4.png)

[2017-09-22 10:24] hpdang commented on #4480
The ticket shows up if we add it to "hidden ticket". So should be ok. Thanks.

[2017-09-22 10:24] #4480 closed

[2017-09-22 11:42] shubham-padia commented on #4464
@ananyo2012 The error is occurring in the discount codes API.
It maybe a bug in the discount code sqlalchemy model constructor proabably, please check that first.

[2017-09-22 17:07] invinciblycool commented on #4467
Oh! I just noticed that you were about to push a PR @rahuldecoded .
I am extremely sorry.
:disappointed:

[2017-09-22 17:09] rahuldecoded commented on #4467
@invinciblycool No problem.

[2017-09-22 21:16] #4467 closed

[2017-09-23 02:29] rahuldecoded opened #4483 "NoResultFound: No row was found for one()"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Disturbing the normal flow of program.
![screenshot from 2017-09-23 07-35-43](https://user-images.githubusercontent.com/1568

[2017-09-23 11:00] bhaveshtyagi commented on #4465
I want to work on this bug

[2017-09-23 12:14] rahuldecoded opened #4487 "Add 'yes' in required fields in api docs"
Add `yes` in required column for those attributes which are declared as `not null` in database.

**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

![screenshot from 2017-09-

[2017-09-23 14:08] shubham-padia commented on #4465
@bhaveshtyagi Please look for a different issue to work upon :smile:
@ananyo2012 is already working on this

[2017-09-23 14:11] #4487 closed

[2017-09-23 15:24] rahuldecoded commented on #4465
@shubham-padia Can you please review my PR #4486 ?

[2017-09-24 18:32] ananyo2012 commented on #4464
I checked the Discount code model but couldn't find any bug in it. Any other leads in figuring out the error?

[2017-09-24 19:30] ananyo2012 commented on #4371
@ayush1999 Are you working on this ?

[2017-09-25 04:51] mariobehling opened #4490 "Call for Speakers: Gender not saved when entering speaker information"
When a user enters Gender information in the call for speakers the information is not saved and the user has to enter it again when he/she edits speaker details.

![screenshot from 2017-09-25 06-49-59](https://user-images.githubusercontent.com/1583873/30792867-fc791a5e-a1bd-11e7-8470-48f7a4f23e3d.png)

[2017-09-25 04:52] #4462 closed

[2017-09-25 04:52] #4461 closed

[2017-09-25 04:56] mariobehling opened #4491 "Call for Speakers: After Speaker Information is saved screen should be returned to CfS with overlay"
After speaker information is saved the user is firstly returned to the CfS page without overlay or secondly to the "MySessions" page.

Expected the user should be returned to the CfS page (screenshot below) to enter session information.

![screenshot from 2017-09-25 06-54-00](https://user-images.githubusercontent.com/1583873/30792945-95f6813a-a1be-11e7-989a-32ec3c0739e3.png)

[2017-09-25 05:02] #4472 closed

[2017-09-25 05:41] bhaveshAn opened #4492 "Adding a Makefile for checks like pep8 and flake8 inside whole project"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

***If interested please suggest some other features alongwith pep8/flake8 that can be introduced in Makefile***

**Other information:**

**System

[2017-09-25 14:09] ananyo2012 commented on #4491
Working on this. Will respond when I come up with a solution.

[2017-09-25 15:31] invinciblycool commented on #4468
@shubham-padia I am working on this but had a doubt.
I have figured out that to reproduce the error, the user has to be the coorganizer of an event and when he tries to upload an image for the event, the error should occur.If the above mentioned is correct,
I have created a role-invite but how do I get my user to accept it? or else what should be the approach to reproduce the error

[2017-09-25 18:52] rahuldecoded commented on #4490
I'm taking this issue. @mariobehling

[2017-09-25 19:59] ananyo2012 commented on #4490
Hey @mariobehling @rahuldecoded I just made a PR fixing this issue

[2017-09-26 16:44] rahuldecoded commented on #4483
@shubham-padia Thanks

[2017-09-26 16:44] #4483 closed

[2017-09-26 17:38] rahuldecoded commented on #4456
As no one is assigned to this bug as well as there is no activity seen from @S2606 from long time. I'm taking this issue.

[2017-09-28 11:58] mariobehling opened #4497 "Open Event development branch not working on Heroku"
The Heroku link is here: https://open-event-dev.herokuapp.com/

[2017-09-28 12:05] vaibhavsingh97 commented on #4497
@mariobehling can you please post logs too. It will be easier to debug issues

[2017-09-28 16:50] souravsingh commented on #4471
I am interested in taking a stab at the issue.How do I start?

[2017-09-28 17:34] shubham-padia commented on #4492
Not needed currently, closing this

[2017-09-28 17:34] #4492 closed

[2017-09-29 03:49] S2606 commented on #4471
@souravsingh Sorry to say but i am working on this.

[2017-09-30 10:56] mariobehling opened #4499 "Export of Attendees as CSV not working on eventyay.com"
If events have a larger crowd, the CSV export of the event does not work. Please fix as follows:
* Offer a button "Generate CSV"
* After the user hits the button show a progress icon
* When CSV is generated show a download button and store the CSV for a week
* On the download area show the date of the generated file
* Behind the file show "Re-generate" to create a newer version of the CSV

[2017-10-01 02:42] rahuldecoded commented on #4499
@mariobehling I would love to work in this. Can you please assign it to me.

[2017-10-01 12:48] #4471 closed

[2017-10-01 16:41] rahuldecoded commented on #4499
@mariobehling I've been working on #4382 and I tried to fix it in #4501 Should I make more changes as stated by you in this issue?

[2017-10-02 16:42] akshatbhargava123 commented on #3945
@niranjan94  I want to work on the organization but I don't know where to start. I have knowledge of HTMl, CSS, JS, TS, angular 2/4 and ionic, please guide me how can I start?

[2017-10-02 19:28] #4456 closed

[2017-10-03 17:45] #4468 closed

[2017-10-03 17:46] shubham-padia commented on #4497
Working as of oct 3, 2017

[2017-10-03 17:46] #4497 closed

[2017-10-03 17:48] shubham-padia commented on #4466
@rahuldecoded can you share the request in a text format on the issue itself or via pastebin? Its hard to figure out from the image :sweat_smile:

[2017-10-03 17:59] rahuldecoded commented on #4466
@shubham-padia Sure. :smiley: Only the data part or the whole request?

[2017-10-03 18:04] rahuldecoded commented on #4464
@ananyo2012 Are you working in this?

[2017-10-03 18:15] ananyo2012 commented on #4464
Yes I am. But I am unable to figure out the error. Would be great if you can help in reproducing the error !

[2017-10-03 21:51] rahuldecoded commented on #4464
can I see your request?

[2017-10-04 06:22] bhaveshAn opened #4504 "Typos in local.md"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

[code]
**Expected behavior:**

[code]
**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**System

[2017-10-04 08:40] shubham-padia commented on #4466
The data only

On Oct 3, 2017 11:29 PM, "Rahul Bhattacharjee" <notifications@github.com>
wrote:

[2017-10-04 08:41] #4504 closed

[2017-10-04 09:03] rahuldecoded commented on #4466
@shubham-padia
-d '{
          "data": " ",
          "email": "123@gmail.com"
     }'
For the above one I'm able to reproduce the error.

But according to the docs data must be as below
-d '{
         "data": {
               "email": "123@gmail.com"
          }
     }'

[2017-10-04 15:14] shubham-padia commented on #4466
Okay, thanks. Please handle the exception and raise a 400 bad request error
in thus case.

On Oct 4, 2017 2:33 PM, "Rahul Bhattacharjee" <notifications@github.com>
wrote:

[2017-10-09 10:17] #4466 closed

[2017-10-10 13:03] #4371 closed

[2017-10-10 14:04] RaiVaibhav opened #4506 "Replace MAINTAINER with LABEL MAINTAINER"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

The `MAINTAINER` instruction has been [deprecated](https://docs.docker.com/engine/reference/builder/#maintainer-deprecated)
The `LABEL` instruction is a much more flexi

[2017-10-10 18:04] souravsingh commented on #4436
@geekyd @mariobehling I am interested in working on the issue.

[2017-10-12 17:34] mariobehling opened #4508 "[Vintage] Error for Event: Cannot edit event on eventyay"
- [X] bug report

**Current behavior:**
Cannot edit event. Difference to other events is: It does not use ticketing system. https://eventyay.com/events/303/edit/

Public Event: https://eventyay.com/e/565f0942/

Screenshot:
![screenshot from 2017-10-12 19-34-17](https://user-images.githubusercontent.com/1583873/31510229-62bcc03a-af84-11e7-9bb7-c838132b098b.png)

[2017-10-13 19:59] supergr35 commented on #4454
Interested in this one. I'm guessing that this is coming from bower not being installed. Do we want to install bower in the docker image?

[2017-10-13 22:26] niranjan94 commented on #4454
@supergr35 no. The guide/docker image probably needs to be updated. This project no longer uses bower.

[2017-10-14 12:11] rahuldecoded commented on #4508
@mariobehling I'm tried to regenerate it, but not getting such error. It's working fine for me even if I don't use the Ticketing System.

[2017-10-14 12:17] rahuldecoded commented on #4464
@ananyo2012 Still working?

[2017-10-15 03:48] ananyo2012 commented on #4464
Yes I am working on it. I kinda missed your last comment. Will send the request I made in a minute

[2017-10-15 07:21] rahuldecoded commented on #4464
Working from 20 days?

[2017-10-15 08:45] ananyo2012 commented on #4464
Ok I was finally able to reproduce the error. This is happening when we try to explicitly pass a `created_at` parameter in the Discount Codes request while creating a new discount code. But if we don't give a `created_at` parameter it by default takes the current time.

[2017-10-15 15:45] bhaveshAn opened #4510 "Add auto-deployment button for Bluemix and Scalingo"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

[2017-10-15 17:21] bhaveshAn commented on #2675
Is this issue still active? Then I would like to work on this issue.

[2017-10-15 17:25] bhaveshAn commented on #4436
@souravsingh Are you working on this issue? Please let me know.

[2017-10-15 22:23] niranjan94 commented on #2675
@bhaveshAn the issue is active. But not required at this stage of the project.

[2017-10-16 05:29] ananyo2012 commented on #4464
Sorry I was busy with some work in between. And I was working on badgeyay
in the mean time too. I have submitted a PR for the issue yesterday.

On Sun, Oct 15, 2017 at 12:51 PM, Rahul Bhattacharjee <
notifications@github.com> wrote:

[2017-10-17 00:09] niranjan94 commented on #4508
[code]

@rahuldecoded the above is the stack trace. From what I can see it probably occurs due to an incorrect track color or the lack of it.

[2017-10-17 00:41] niranjan94 opened #4514 "Propose implementation for i18n support in emails, notification, categories and other server provided data"
The frontend takes care of translations for all User facing text (like those on buttons and headers). But the text data coming from the server is not translated. The server needs to respond with the appropriate language data depending on the language picked by the user on the frontend.

To facilitate this, the frontend will be making all requests with a header `Accept-Language` which would have th

[2017-10-19 01:46] #4506 closed

[2017-10-19 12:25] venkateshbellale commented on #4213
###hi

so how to get started

[2017-10-19 12:26] mariobehling commented on #4491
@ananyo2012 Thanks for your improvements. The speaker form returns to the Call for Speakers page, but it does not show the popup. Expected: The speaker should be redirected to the Call for Speakers page with: The Popup open.

[2017-10-20 16:16] #4464 closed

[2017-10-20 16:19] niranjan94 commented on #4213
Hi @venkateshbellale :)

This issue isn't a priority at this point. Please check out the other [issues](https://github.com/fossasia/open-event-orga-server/issues) and pick one from them.

[2017-10-21 07:58] ananyo2012 commented on #4491
@mariobehling Can re-verify it once again ?  I am returning a get parameter in [this line](https://github.com/fossasia/open-event-orga-server/pull/4493/files#diff-23af8900ed29426f5ab62f76117c2aabR508) so that `speaker-session-modal` pops up. Below is the attached screenshot of the same.
![image](https://user-images.githubusercontent.com/10486343/31849642-fcb4d666-b662-11e7-979d-24bf7d7caa62.png)
N

[2017-10-22 13:53] #4465 closed

[2017-10-23 12:03] mariobehling opened #4516 "Download of attendees and orders as PDF and CSV not working"
When trying to download the attendee or orders list either it takes very long or it does not work. Sometimes an error message "Bad Gateway" appears.

![screenshot from 2017-10-23 14-00-43](https://user-images.githubusercontent.com/1583873/31888069-e13e6afc-b7fa-11e7-8d22-e59b1cfe21f8.png)

[2017-10-24 01:07] mariobehling opened #4517 "Cannot delete ticket type in Wizard Step 1 even though no tickets have been sold"
In the wizard step 1 it is not possible to delete an existing ticket type on eventyay.com. This ticket type does not have any tickets that we sold and should be deletable.

[2017-10-25 13:33] invinciblycool commented on #4508
@niranjan94 Working on it.
BTW did the error occur on choosing a specific track colour or for any colour.

[2017-10-25 17:32] invinciblycool commented on #4517
@mariobehling Unable to reproduce the behaviour.
Tried editing a event but no abnormality on the edit wizard step 1.
Not sure if it was the correct way :confused:

[2017-10-26 13:45] shubham-padia commented on #4490
closed via #4494

[2017-10-26 13:45] #4490 closed

[2017-10-26 13:53] shubham-padia opened #4519 "Fix api-blueprint parse warnings"
Following is a snapshot of the warnings by the apib parser when dredd is being run: https://pastebin.com/ckP4XtjZ. For the latest data, you can run the dredd tests locally or have a look at the travis build logs for the project

[2017-10-26 14:16] shubham-padia commented on #4491
@mariobehling Can you please recheck on this ?

[2017-10-26 19:44] aashutoshrathi opened #4520 "OAuth Link in README are dead"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Error 400

**Expected behavior:**
Login Credentials form

**Steps to reproduce:**
Valid links to be added

**Related code:**

[2017-10-27 06:16] #4508 closed

[2017-10-27 10:35] invinciblycool commented on #4520
I guess those links are just for reference, because the API automatically routes to the desired page when actually using the links with the open-event-orga-server API.

[2017-10-27 11:11] niranjan94 commented on #4520
@aashutoshrathi which links are you talking about ?

[2017-10-27 11:18] invinciblycool commented on #4520
@niranjan94 Here.

![oauth](https://user-images.githubusercontent.com/24691797/32101648-affbcebe-bb36-11e7-9527-e295d7757fc9.png)

[2017-10-27 11:23] niranjan94 commented on #4520
Those links are not dead. They do work. You cannot make a GET request to them. And you'll need to pass in proper parameters too. Not a fault of the README. The links aren't meant to be clicked on. Just given in the read me for a reference. Please check the code for more details :)

[2017-10-27 11:23] #4520 closed

[2017-10-27 19:08] CosmicCoder96 opened #4525 "Add support/end point for Heroku and kubernetes logs"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

![image](https://user-images.githubusercontent.com/17252805/32120995-4ff7294a-bb78-11e7-8980-2739379a37a7.png)

[2017-10-27 19:10] CosmicCoder96 opened #4526 "Add support/end point for social-links application connect in settings"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

![image](https://user-images.githubusercontent.com/17252805/32121044-89dc5248-bb78-11e7-9dd0-b82ff829cf44.png)

[2017-10-30 19:14] tulikavijay commented on #4454
can I take this up?

[2017-10-31 06:38] poush commented on #4454
@tulikavijay Yeah since no one is working on it, you can continue with this issue.

[2017-10-31 19:50] invinciblycool commented on #4380
@poush @shubham-padia For the given heroku logs, the problem was I guess fixed in #4496 .
Please check. Thanks.

[2017-11-01 10:54] ananyo2012 commented on #4517
I could reproduce the error. This happens in the case of a Paid Ticket. The ticket initially gets removed from the list but after you save the event it still remains. Though it works fine for Free and Donation tickets.

[2017-11-01 10:59] ananyo2012 commented on #4516
Is this similar to what happened in csv download? It works fine with fewer entries.

[2017-11-01 11:09] lunaticmonk opened #4527 "Check if the session speaker relationship is present on server"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Currently, while retrieving data on the FE side, the speakers for sessions are empty. Similarly, the sessions for a speaker

[2017-11-01 11:25] ananyo2012 commented on #4517
I would like to work on this.

[2017-11-01 12:02] shubham-padia commented on #4517
@ananyo2012 Please go ahead.

[2017-11-03 14:30] invinciblycool opened #4529 "Missing exception handling for `test_has_access`"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
While running tests with dredd as well as running unittests an exception is returned for the test `test_has_access`
Here is

[2017-11-03 14:31] invinciblycool commented on #4529
If confirmed, I would like to work on it.

[2017-11-03 22:46] #4519 closed

[2017-11-04 06:48] invinciblycool commented on #4527
@sumedh123 Sessions for a speaker works perfectly for me.
You can check [this](https://open-event-api.herokuapp.com/#sessions-list-sessions-under-a-speaker) endpoint for more info.
@shubham-padia No documentation exists for [speakers for a session](https://open-event-api.herokuapp.com/#speakers-list-speakers-under-a-session) as well as for [speaker profiles for a user](https://open-event-api.herok

[2017-11-07 13:05] mariobehling commented on #4517
The bug seems to appear only at certain events I set up. I cannot always reproduce it. I resolved it by starting fresh. Closing this for now therefore.

[2017-11-07 13:05] #4517 closed

[2017-11-07 20:56] geekyd opened #4530 "Sessions API: Add missing 'Last Modified'"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
![screen shot 2017-11-08 at 2 22 11 am](https://user-images.githubusercontent.com/12807846/32517233-cc9f5704-c42b-11e7-8a7a-

[2017-11-08 12:34] sumedh123 commented on #4527
@shubham-padia Can you please check? Because I am trying to get the sessions and speakers manually and getting empty response in case of speakers for sessions and vice versa.

[2017-11-08 16:23] geekyd commented on #4527
@shubham-padia It seems like the API does not return any relationship if we use the `include` clause.

[2017-11-08 16:43] invinciblycool opened #4531 "Add API documentation for speakers for a session and speaker profiles for a user."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
There is no documentation for [speakers for a session](https://open-event-api.herokuapp.com/#speakers-list-speakers-under-a-

[2017-11-08 18:08] shubham-padia commented on #4527
@sumedh123 @geekyd While creating a speaker, you have to give a sessions relationship to all existing sessions for that speaker. That's how the relationship b/w speaker and session will be built. Are you following that rn? If yes please reply with a sample request :-)

[2017-11-11 13:00] vipuldcoder commented on #4436
I am interested in working on the issue.

[2017-11-11 13:07] sumedh123 commented on #4436
@vipuldcoder Please proceed. I don't think there is progress on this one so you can take this up.

[2017-11-11 13:45] vipuldcoder commented on #4436
Thank You

On Nov 11, 2017 18:37, "Sumedh Nimkarde" <notifications@github.com> wrote:

[2017-11-11 14:37] 0x48piraj opened #4532 "Updating the Documentation of `open-event-orga-server`"
Beautify the documentation of `open-event-orga-server`.

Some tweaks may include :

* Linking the `LICENSE.md`
* Adding `Project Title`
* Moving the badges to top. *(for more clarity, I think)*

[2017-11-11 14:50] 0x48piraj commented on #4532
I'm on it ! :smiley:

[2017-11-12 10:38] heysadboy opened #4534 "Facility to retrieve back the forgotten password"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Currently there is no facility to retrieve back the password if forgotten from the open event android app.

**Expected behav

[2017-11-12 10:42] shubham-padia commented on #4534
@heysadboy there's a rest password API for this purpose, can you have a look at it

[2017-11-12 10:57] heysadboy commented on #4534
Thanks @shubham-padia . So I am closing this issue.

[2017-11-12 10:57] #4534 closed

[2017-11-16 17:25] mohitkyadav commented on #4460
@unamuno can you mention the url, you are facing the error. cause I didn't get any error on `http://localhost:8001/v1/events/1`

[2017-11-18 21:12] #4532 closed

[2017-11-19 18:25] shubham-padia commented on #4527
@sumedh123 @geekyd Any updates?

[2017-11-19 19:08] unamuno commented on #4460
I'm sorry, but I stoped using this project and the installation is not running anymore. :/

[2017-11-19 19:38] #4454 closed

[2017-11-19 20:49] mariobehling commented on #2676
As this is out of scope and we have a lot of tasks to get to the next version, I would say this is out of scope of the project for the time being. Closing it therefore.

[2017-11-19 20:49] #2676 closed

[2017-11-19 20:50] mariobehling commented on #2675
Let's focus on getting the core functionalities to work. Anything else is out of scope for the time being. Closing it therefore. We can come back to it, when we have the core working, which might take a while.

[2017-11-19 20:50] #2675 closed

[2017-11-19 20:51] mariobehling commented on #2674
Out of scope looking at the progress we have been making. Closing it therefore.

[2017-11-19 20:51] #2674 closed

[2017-11-19 20:51] mariobehling commented on #3451
Out of scope for the current development cycles.

[2017-11-19 20:51] #3451 closed

[2017-11-19 20:52] mariobehling commented on #2185
Let's review import and export features once we switch to the next version and open relevant issues then. Closing it therefore.

[2017-11-19 20:52] #2185 closed

[2017-11-19 20:54] mariobehling commented on #3931
@niranjan94 How about simply Open Event Server?

[2017-11-19 21:08] mariobehling commented on #4380
Seems to be fixed. Please reopen and comment if anything is left.

[2017-11-19 21:08] #4380 closed

[2017-11-20 06:06] sumedh123 commented on #4527
@shubham-padia I created an event on my local server and tested it with the endpoint:

Endpoint: http://localhost:5000/v1/events/22/speakers?include=sessions
Response:

[code]
I am getting empty response in sessions for a particular speaker. I guess there is some problem with relationship. Please check and correct me if I am wrong.

[2017-11-20 06:45] sumedh123 opened #4535 "GET call to microlocation returning 404 response."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

Current:
Endpoint: https://open-event-api.herokuapp.com/v1/sessions/67/microlocation

Response:
[code]

[2017-11-20 11:12] mariobehling opened #4536 "Improve Call for Speakers Sign Up Process"
The current process is:

* Go to 2018.fossasia.org (not fossasia.org)
* Click Speaker Registration
* Land at an information page
* Scroll to the bottom, click Submit Proposal
* Be told to log in or sign up
* Sign up
* Be dumped in the main page
* Find submission page somehow (perhaps by going back to the start of the process)
* Fill out form and press submit (I'm guessing, as the form can't even b

[2017-11-20 12:25] rolandturner commented on #4536
It occurs to me to add that we might wish to verify email addresses, so pressing the Submit button should present an explanatory message and the confirmation email should contain a confirmation link, the clicking of which puts the submission into the queue.

Behind the scenes, if this gets modelled as a user account with that email address, it is presumably important for the system to remember tha

[2017-11-20 12:47] MostafaEbrahimi opened #4537 "Ticketing system switch"
I use docker for deploy development branch on my localhost windows system.when I clone project and deploy have missing ticketing system switch feature but in your demo it switch exists.
How to solve this problem ?!

[2017-11-20 14:44] mariobehling opened #4538 "Rename branches and clean up"
* development -> rename to legacy-dev
* master -> rename to legacy-master ==> deploy to eventyay.com
* nextgen -> rename to development ==> deploy to staging.eventyay.com
* nextgen-backup -> rename to master ==> deploy to nextgen.eventyay.com
* delete staging branch

[2017-11-22 12:39] geekyd opened #4539 "Update README"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

Update the README.md file for the new Open Event API.
- Update the name of the repo in readme

[2017-11-22 13:59] poush commented on #4535
@sumedh123 the error output says 404 while you are saying 400.

[2017-11-22 14:11] poush opened #4541 "update PULL_REQUEST_TEMPLATE.md"
Currently, it says `nextgen` while it should be `development`.

[2017-11-22 14:15] Anonymous26 commented on #4541
@poush i would like to work on this issue

[2017-11-22 18:02] sumedh123 commented on #4535
@poush Sorry, my bad.

[2017-11-23 00:02] 0x48piraj commented on #4538
@mariobehling I can do it :smile:
**Should I start ?**

[2017-11-23 00:07] 0x48piraj commented on #4539
_Have you read #3931, @geekyd ?_

[2017-11-23 00:12] 0x48piraj commented on #4541
@poush, **I can do that because I just started to work on #4538 :smile_cat:**

[2017-11-23 04:57] poush commented on #4538
@0x48piraj the required changes has already been done.

[2017-11-23 04:58] SaptakS commented on #4538
Closing this issue since the repositories have been separated and the required branch naming done.

[2017-11-23 04:58] #4538 closed

[2017-11-23 04:59] #4541 closed

[2017-11-23 05:09] SaptakS commented on #3931
Closing this issue since the renaming and separating of new code and legacy code into different repo has been done.

[2017-11-23 05:09] #3931 closed

[2017-11-23 05:13] SaptakS opened #4543 "[Readme] Update branch policy in the readme file to the updated one"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Currently the readme shows the previous branch policy that we had before separating of the legacy code and the API based cod

[2017-11-23 05:21] SaptakS commented on #4537
@MostafaEbrahimi I think you might not have enabled the ticketing system in admin. To enable the ticket switch, you need to do the following steps:
* go to Admin
* go to Modules
* turn on the switches for Ticketing and Payments

[2017-11-23 06:09] invinciblycool opened #4544 "Update installation/deployment instructions."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Currently in all the installation/deployment instructions there are many instances where `open-event-orga-server` still pers

[2017-11-23 06:15] pandyamarut commented on #4544
please give the path to the file for easy access.

[2017-11-23 06:18] invinciblycool commented on #4544
You might want to look [here](https://github.com/fossasia/open-event-api/tree/development/docs/installation)
All the installation/deployment docs can be found here.

[2017-11-23 06:30] SaptakS commented on #4516
@ananyo2012 you ned to implement celery and take care of race case condition to queue the process because gunicorn will timeout after some time. So any download and export should be using celery. You can see the example for export of the entire event or importing of events for the same.

[2017-11-23 06:43] invinciblycool commented on #4535
Taking this up.

[2017-11-24 21:35] HimanshuAttri commented on #4543
@SaptakS @mariobehling Can I take this issue? Since I am new to the organization, could you please help me with the information on current branch policies?

[2017-11-25 08:54] poush commented on #4543
@HimanshuAttri  Go ahead! See #4538 you will see the name of branches has been changed. You will changes names in branch policy according to this.

[2017-11-25 09:45] invinciblycool commented on #4544
@SaptakS @niranjan94  if you could please add the appropriate labels so that it is easier for new contributors. Thanks.

[2017-11-25 09:53] raju249 commented on #4544
Claiming this!

[2017-11-25 10:20] raju249 commented on #4544
Changing all the occurrences of `open-event-orga-server` to open-event-server` .

[2017-11-25 11:20] raju249 commented on #4529
@invinciblycool
Are you working on this or its available ?

[2017-11-25 11:29] raju249 commented on #4477
@shubham-padia Is this issue available for working ?

[2017-11-25 12:15] poush commented on #4529
I checked build log and didn't find any reasons for TypeError on first look. Since permission manager's `has_access` doesn't create any SQL operations, therefore, I guess something on `test_request_context` causing it. Try to debug if something comes up.

[2017-11-25 13:40] raju249 commented on #4529
Claiming this!

[2017-11-26 06:24] raju249 commented on #4529
@poush Any idea of how to recreate this issue locally ?
I tried running the particular test case using nosetests. But that didn't work out. All the tests failed, may be there is some config for running those tests that has to be done before hand.
Let me know how did you reproduce it locally.
Thanks :smile:

[2017-11-26 12:07] poush commented on #4529
Make sure you are following what written under Testing in ReadME. If you are able to run server locally and follow things therein readme. I don't think there will be any issue. Let me know if occurs any.

[2017-11-26 12:13] raju249 commented on #4529
Sure!

[2017-11-28 04:19] raju249 commented on #4526
@CosmicCoder96  Can you please elaborate more on this issue ?

[2017-11-28 16:19] Kreijstal opened #4548 "index file serves a file from github repository"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

Currently in the open event server when you request the root directory "/" it will make a request to github and then serve

[2017-11-28 16:41] #4544 closed

[2017-11-28 17:27] shubham-padia commented on #4548
The project uses aglio(https://github.com/danielgtaylor/aglio) to render API docs. Anyone working on this, please propose how you intend to tackle this problem and then start on it.
Keep in my mind that the docs need to be generated only once during deployment, and they should be included in some directory like `dist/docs/api/v1` in the final build of the project that is deployed to the server.

[2017-11-29 07:16] invinciblycool commented on #4535
@sumedh123 @poush The API endpoint works perfectly fine for me locally.
The endpoint returned a 404 for a non-existing session and returned the JSON for an existing session.
My request was as follows:

Endpoint  localhost:5000/v1/sessions/1/microlocation
Response
[code]
Am I missing something? I am unclear as to what is to be done.

[2017-11-29 13:51] raju249 commented on #4529
I tried using the steps in testing readme.
Here is stack trace I get (I ran only 1 test)
[code]

[2017-11-29 13:55] raju249 commented on #4529
I also gave the privileges on all tables to test user.

[2017-11-30 07:49] abhishekvermasg opened #4549 "Improved documentation"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
When installing the open event server, in the step 5 of the local.md in docs/installation. An error occurs saying:
celery.si

[2017-11-30 07:50] abhishekvermasg commented on #4549
I will make a PR to update the documentation regarding a warning about Anaconda.

[2017-11-30 20:11] MostafaEbrahimi opened #4551 "flask reload"
How to config docker for reload flask app on changing source code?
(changing source code on local machine)

[2017-11-30 21:24] #4549 closed

[2017-12-01 05:34] #4539 closed

[2017-12-02 18:42] abhishekvermasg opened #4552 "README is not updated for setting up database in new local installation"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
After installation, create_db.py shows an error.

**Expected behavior:**

create_db.py should work smoothly.

**Steps to rep

[2017-12-02 18:42] abhishekvermasg commented on #4552
I will send a PR for this.

[2017-12-02 18:58] abhishekvermasg opened #4554 "Prepare a visualization for the database in documentation"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Other information:**
There is no database visualization for the database for this project, which is pertinent.

[2017-12-02 18:59] abhishekvermasg commented on #4554
I would like to work on this, if this seems like a viable option. @mariobehling @niranjan94 @shubham-padia

[2017-12-02 19:12] #4552 closed

[2017-12-02 21:46] bhaveshAn opened #4555 "Implement Yaydoc docs generation in Open-Event-Server"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

Currently there is no yaydoc doc generation for Open Event Server
**Expected behavior:**

Implementing Yaydoc docs generati

[2017-12-02 23:44] shubham-padia commented on #4554
@abhishekvermasg We have a database visualization on localhost:5000/admin, we are using flask-admin for it. Though we have many issue while editing data in flask admin, we use it for read only purposes for now.
If you have any alternative in mind, it would be great if you can try it out where editing data and relationships works well in it.
Till then you can add info about the current flask admin

[2017-12-02 23:56] shubham-padia commented on #4535
Unable to recreate the issue. Closing this thread due to inactivity. Please reopen if needed

[2017-12-02 23:56] #4535 closed

[2017-12-02 23:57] #4537 closed

[2017-12-03 00:03] shubham-padia commented on #4527
@sumedh123 the above request will show the relationship if it exists.
This is not showing any relationship as no relationship exists right now. You will first have to create the relationship when creating the session itself. I'm guessing relationship had not been created when creating the session on the front side

[2017-12-03 00:04] shubham-padia commented on #4543
@HimanshuAttri any updates?

[2017-12-03 00:05] shubham-padia commented on #4531
Any updates here?

[2017-12-03 06:34] raju249 commented on #4543
@shubham-padia , @poush The referenced issue #4538 doesn't talk explicitly which branches are present currently in the repo.
Can you please clarify what exact changes are to be done ?
Thanks

[2017-12-03 07:20] MostafaEbrahimi commented on #4551
may answer me ?!I need it as soon as possible ! :/

[2017-12-03 09:43] niranjan94 commented on #4551
@MostafaEbrahimi please as your question at https://gitter.im/fossasia/open-event-orga-server

Don't use GH issues for technical assistance. :)

[2017-12-03 09:43] #4551 closed

[2017-12-03 10:50] raju249 commented on #4531
I am claiming this but need more info to know how API works.
One method is reading code, any other way @shubham-padia ?

[2017-12-03 12:31] shubham-padia commented on #4531
Checkout the blogs on blog.fossasia.org exposing how to add API documentation

[2017-12-03 12:42] raju249 commented on #4531
Thanks @shubham-padia .
I was actually asking about how do I see the endpoint for the API ? the input needed for URI params

[2017-12-03 15:44] parismita commented on #3618
Hey @mahikaw can I work in this? I m new to the organization, can you please guide me on what to do?

[2017-12-03 16:20] shubham-padia commented on #3618
Please follow the local installation guide and if you find any steps
different on Mac OS, then add a seperate installation guide for the same.

On Dec 3, 2017 9:14 PM, "parismita" <notifications@github.com> wrote:

Hey @mahikaw <https://github.com/mahikaw> can I work in this? I m new to
the organization, can you please guide me on what to do?

—
You are receiving this because you are subscribed to

[2017-12-03 18:07] poush commented on #4531
You will need to check `app/api/__init__.py. All endpoints are there.

[2017-12-04 01:28] raju249 commented on #4531
Sure @poush
Thanks

[2017-12-04 12:16] #4543 closed

[2017-12-04 13:29] Anonymous26 commented on #4530
i would like to work on this issue @geekyd

[2017-12-05 13:27] invinciblycool commented on #4531
No @raju249 .
`/sessions/<int:id>/relationships/session-type` and `/speakers/<int:speaker_id>/user` are the correct routes.
Please check.

[2017-12-05 13:29] invinciblycool commented on #4536
Claiming this.

[2017-12-05 13:33] raju249 commented on #4531
`/sessions/<int:id>/relationships/session-type` Should be `session-type` or `/sessions/<int:id>/relationships/speaker` ?
@invinciblycool

[2017-12-05 13:34] invinciblycool commented on #4531
Please check, I have edited the comment already before

[2017-12-05 13:35] niranjan94 commented on #4516
@open-event-bot move to fossasia/open-event-legacy

[2017-12-05 13:36] raju249 commented on #4531
Sure thing.
Taking those mentioned endpoints for documentation.
Thanks

[2017-12-05 13:40] niranjan94 commented on #4516
@open-event-bot move to fossasia/open-event-legacy

[2017-12-05 13:40] #4516 closed

[2017-12-05 13:42] niranjan94 commented on #4460
@open-event-bot move to fossasia/open-event-legacy

[2017-12-05 13:42] #4460 closed

[2017-12-05 13:42] niranjan94 commented on #4382
@open-event-bot move to fossasia/open-event-legacy

[2017-12-05 13:43] #4382 closed

[2017-12-05 13:44] niranjan94 commented on #4536
@open-event-bot move to fossasia/open-event-legacy

[2017-12-05 13:44] #4536 closed

[2017-12-05 13:54] raju249 commented on #4531
Seems like the documentation is already available [here](https://github.com/fossasia/open-event-server/blob/development/docs/api/api_blueprint.apib#L11863)

I think for some reason its not shown on the web page.
What you think ?

[2017-12-05 14:27] invinciblycool commented on #4531
I guess the issue is not what I expected. @raju249 You can work on other issues meanwhile I figure this out. Thanks!

[2017-12-05 14:32] raju249 commented on #4531
Sure @invinciblycool
I just saw that and reported here :sweat_smile:

[2017-12-05 14:39] invinciblycool commented on #4531
Actually after reading apiary docs, I realized that the request and response are needed for any request to be rendered by aglio. Opening a PR for the same.

[2017-12-05 15:03] rolandturner commented on #4536
Can someone explain, briefly, the reason for the move from open-event-server to open-event-legacy?

[2017-12-05 15:10] raju249 commented on #4531
Sure @invinciblycool
happy that I was able to help :smile:

[2017-12-11 08:00] abishekvashok opened #4559 "Session authentication is vulnerable to attacks"
**I'm submitting a ...**  (check one with "x")
- [x] Vulnerability report
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**

session information is validated with a single cookie.

**Expected behavior:**

session informat

[2017-12-11 08:39] niranjan94 commented on #4559
@abishekvashok I do not see an issue here. Could your provide a PoC for this ? And what advantage a cookie pair would have over a single cookie ?

[2017-12-11 09:04] abishekvashok commented on #4559
As it's a single cookie, when the no of users increases, the chance of guessing the session id value increases as there is a probability of getting into a user's account.

This is how companies like fb, twitter and google authenticate users to session.

[2017-12-11 09:05] abishekvashok commented on #4559
* getting into a random user account.

[2017-12-11 09:44] niranjan94 commented on #4559
@abishekvashok

That needs to be handled by the session ID generation algorithm. Just having multiple cookies isn't gonna solve any issue. And anyway, this problem is on the legacy server. The new one uses token based API auth.

[2017-12-11 09:45] #4559 closed

[2017-12-11 19:07] shubham-padia opened #4560 "Make relation bw user and event independent of roles table"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
For a relationship to exist between user and event, It is necessary right now that the `role` table has the default values o

[2017-12-12 07:47] starlord1311 commented on #4560
i would like to work on this. can i? @shubham-padia

[2017-12-12 09:36] shubham-padia commented on #4560
@starlord1311 have you set up the server on your local machine?

[2017-12-12 13:05] invinciblycool commented on #4548
@shubham-padia Why not use the CLI of aglio(`aglio –theme-variables slate -i api_blueprint.apib -o output.html` as mentioned [here](https://blog.fossasia.org/rendering-open-event-servers-api-blueprint-document/) and use it to output the html once and then render it.
We could check if the html does not exist in a specific directory(say `dist/docs/api/v1`), then render it using the CLI or not otherw

[2017-12-14 10:39] ritikamotwani commented on #4530
I would like to work on this issue.

[2017-12-14 21:04] starlord1311 commented on #4560
@shubham-padia i am unable to. can you help?

[2017-12-15 05:12] shubham-padia commented on #4560
@starlord1311 please join it gitter channel for installation related queries :)

[2017-12-15 08:34] #4530 closed

[2017-12-16 10:05] YashKumarVerma opened #4562 "Empty space, broken links, missing information"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
- Plenty of Blank Lines
![image](https://user-images.githubusercontent.com/14032427/34069292-10f09ae2-e274-11e7-89ca-ca309f3

[2017-12-17 14:13] simsausaurabh commented on #4562
Are you working on this issue - @YashKumarVerma. If not, I would like to work on this issue.

[2017-12-17 21:57] simsausaurabh opened #4563 "Update ISSUE_TEMPLATE.md and other python files"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] support request

**Current behavior:**
1. Gitter-link in open-event-server-->.github-->ISSUE_TEMPLATE.md  is specified https://gitter.im/fossasia/open-event-orga-server instead of https://gitter.im/fossasia/open-event-server

![name1](https://user-images.githubusercontent.com/16608864/34083371-b204ac08-e395-11e7-94f5-aa8a08b034b

[2017-12-17 21:59] simsausaurabh commented on #4563
I am working on this issue. I would like to have more suggestions on this, any suggestion or guidance would be of great help.

[2017-12-18 11:18] Ploypiti opened #4564 "Broken login client"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-orga-server

**Current behavior:**
Cannot login using Google+ or FB, Oauth client was not found/invalid app ID

**Expected behavior:**
Able to log in using G+

[2017-12-19 13:01] #4563 closed

[2017-12-19 14:50] samyakbvs opened #4566 "Hamburger"
![screen shot 2017-12-20 at 12 27 03 am](https://user-images.githubusercontent.com/34275800/34173775-99e6c9b6-e51c-11e7-9a40-ba00ee9ef9b9.png)

![screen shot 2017-12-20 at 12 26 50 am](https://user-images.githubusercontent.com/34275800/34173777-9a51a8d0-e51c-11e7-9e37-4fb407082c4b.png)

There isn't a hamburger in the navbar the other links in the navbar just vanish where as if the hamburger is add

[2017-12-19 14:51] samyakbvs commented on #4566
The screenshots are given for the reviewers to see what I am talking about

[2017-12-19 17:22] saarthakchats opened #4567 "Data not translated(The links)"
![screenshot 72](https://user-images.githubusercontent.com/24372680/34170007-4e4c5c12-e50f-11e7-8cd5-e19ff8b155f2.png)

[2017-12-19 19:00] akshatnitd commented on #4566
Check this (https://github.com/fossasia/open-event-server/blob/development/.github/ISSUE_TEMPLATE.md) for correct issue template

[2017-12-19 19:02] #4566 closed

[2017-12-19 19:06] samyakbvs opened #4568 "Hamburger"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request
- [x] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

The links in the navbar vanish after the window hits tablet size
**Expected behavior:**

All the links would be available to the

[2017-12-19 19:09] simsausaurabh opened #4569 "Include name of contributors in "contributors list""
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] support request

**Current behavior:**

Recent contributors are not showing in contributor list of fossasia/open-event-server

**Expected behavior:**

Include the names of contributors in contributor list

**Steps to reproduce:**

I dont't have any steps for now

[2017-12-19 19:16] simsausaurabh commented on #4567
Please use standard issue template for creating an issue.

[2017-12-20 07:47] ParthPratim opened #4570 "Bug in Event Search Page"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

The search utility does not sanitize user input due to which the script beginning on line number 1578 on page http://open-event-

[2017-12-20 08:50] naveentherocker opened #4571 "No Translation for 4 Languages mentioned in the Drop Down."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Translation of 4 Languages are not working

1. French
2. Polish
3. Russian
4. Thai

**Expected behavior:**
All the Mentioned Lang

[2017-12-20 11:33] awesometushar000 opened #4572 "Increase in Dynos"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Now it seems that the webapp http://open-event-api.herokuapp.com/ has less number of dyno, therefore it loads slowly.
**Expected

[2017-12-20 11:40] awesometushar000 opened #4573 "Hindi Language Issue"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

There is no options of terms, conditions and policy after changing the language to Hindi.
![hindi](https://user-images.githubuse

[2017-12-20 17:42] HarshKhatore commented on #4573
This problem occurs not only with Hindi, but any other language except English. But, if you select English again from the drop-down, after some other language, it is displayed correctly.

[2017-12-20 17:53] HarshKhatore commented on #4573
My guess on this issue is, upon the change of the language, the server upon page refresh is not sending the **footer-menu** div back.

[2017-12-20 18:12] invinciblycool commented on #4568
@samyakbvs This issue should be reported here https://github.com/fossasia/open-event-frontend

[2017-12-21 12:26] CosmicCoder96 opened #4574 "reset-password end point should return 422 status, when non existing email address is provided"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

It returns a 404.
![image](https://user-images.githubusercontent.com/17252805/34255775-3376997e-e678-11e7-8f84-98efd0444f51.png)

[2017-12-21 12:28] ritikamotwani commented on #4574
I would like to work on this issue

[2017-12-21 14:55] pradeepgangwar commented on #4560
@shubham-padia I would like to work on this.

[2017-12-22 06:20] #4574 closed

[2017-12-24 19:40] CosmicCoder96 opened #4576 "Server is not returning the errors using json-api compliant error class for password reset"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

It's returning a custom response using jsonfiy
**Expected behavior:**

It should make use of the classes defined in `api/helpers

[2017-12-24 19:40] ritikamotwani commented on #4576
I would like to work on this.

[2017-12-25 10:54] bhaveshAn commented on #4455
@niranjan94 @shubham-padia
I would like to work on this issue.

[2017-12-25 16:49] bhaveshAn opened #4578 "Use first() instead of one() for the queries"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

There are many apis which are using `one()` instead of `first()` for many of the queries.
Using `one()`
Raises `sqlalchemy.orm.e

[2017-12-26 08:02] raju249 commented on #4572
Adding more dynos to heroku is not free. We can have atmost 2 dynos for free without credit/debit card info.
More information here -- > https://blog.heroku.com/new-dyno-types-public-beta

[2017-12-26 08:28] #4576 closed

[2017-12-26 13:34] vddesai1998 commented on #4578
Please assign this issue to me

[2017-12-26 19:30] #4531 closed

[2017-12-28 09:02] arjunpandey2003 opened #4580 "Bug. Application error occuring when opening on Mac"
**I'm submitting a ...**  (check one with "x")

- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Problem in the logs of the owner of the application
**Expected behavior:**
There should be no application error when opening the

[2017-12-28 09:05] ParthS007 commented on #4580
@arjunpandey2003  Please see recent gitter channel chat, Dynos have exhausted. Application will be right back in few days. You can close this issue 👍

[2017-12-28 09:05] arjunpandey2003 commented on #4580
@ParthS007 ok sure

[2017-12-28 09:05] #4580 closed

[2017-12-29 14:49] bhaveshAn opened #4581 "Flake8 Issue on some files"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Currently, there are many files which are having Flake8 errors.
These errors include:
1. Too many blank lines
2. Variables assig

[2017-12-29 15:22] bhaveshAn commented on #4570
I would like to work on this issue.

[2017-12-29 15:24] bhaveshAn commented on #4569
Can you please tell which names are not ot showing up in contributor list of fossasia/open-event-server

[2018-01-01 15:52] ritikamotwani opened #4583 "Add missing min max validation to access codes api"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

The min and max validation is missing on access code api for tickets.

**Expected behavior:**

The min and max validation should

[2018-01-02 12:43] shubham-padia opened #4585 "Travis build failing due to the recent trusty image update"
https://blog.travis-ci.com/2017-12-12-new-trusty-images-q4-launch
While using the deprecated image may fix the build, fixing the build for the new image is better.

[2018-01-03 21:20] #4585 closed

[2018-01-03 21:52] #4581 closed

[2018-01-03 22:05] #4583 closed

[2018-01-04 08:43] cclauss opened #4592 "unicode() and our migration to Python 3"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

open-event-server is not yet Python 3 compliant but recent steps have been made to get the code ready for Python 3.  An issue th

[2018-01-07 13:06] abishekvashok opened #4593 "I can submit proposal without logging in"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
To submit a speaker proposal I have to login, but if I directly go to the url which becomes available when I login, I can submit

[2018-01-07 15:58] shubham-padia commented on #4593
@open-event-bot move to fossasia/open-event-legacy

[2018-01-07 15:58] #4593 closed

[2018-01-08 12:08] abishekvashok commented on #4593
@shubham-padia sorry for messing it up in the wrong repository

[2018-01-09 21:42] YashKumarVerma opened #4594 "[BUGS] Dates Not Validated, Broken URL in languages other than English, Broken Sharing Methods"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
- Dates not validated
![image](https://user-images.githubusercontent.com/14032427/34744126-2c26f4a4-f5b2-11e7-966c-60b1fdb9257c.p

[2018-01-10 16:14] ritikamotwani opened #4595 "Add missing date validation to discount-code API"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Validation of date is missing in the discount-code API.

**Expected behavior:**

The validation similar to the one in access-code

[2018-01-11 04:54] #4595 closed

[2018-01-11 05:48] ritikamotwani opened #4597 "Update the doc for Sessions API"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

The sessions API has a field 'last_modified_at' which is not present in the doc.

**Expected behavior:**

The fiels should be ad

[2018-01-11 12:05] #4597 closed

[2018-01-11 14:03] ParthS007 opened #4599 "Add Python Version to Documentation"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Presently, It is not clear to new contributors that which python verson is used in Open-event-server

**Expected behavior:**
Pyth

[2018-01-11 14:07] fr0der1c commented on #4599
Would be nice to be my first PR :)

[2018-01-11 14:08] ParthS007 commented on #4599
@fr0der1c  Please go ahead.

[2018-01-13 04:35] Beta-King opened #4601 "Add social links!!"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

the 'connect with us' section is empty

**Expected behavior:**

the 'connect with us' section filled with social links

**Steps

[2018-01-13 18:24] Beta-King commented on #4601
![screen shot 2018-01-13 at 11 54 09 pm](https://user-images.githubusercontent.com/33036913/34908865-201e6d50-f8bd-11e7-91fd-6b2def561ffc.png)
--> its empty !!

[2018-01-13 18:25] Beta-King commented on #4601
No social media links

[2018-01-14 04:38] #4601 closed

[2018-01-14 16:21] #4599 closed

[2018-01-14 18:25] bhaveshAn commented on #4455
@niranjan94 @shubham-padia @mariobehling Can I take up this one. If yes, please discuss the approach, which should be followed.
Thanks!

[2018-01-14 18:27] bhaveshAn commented on #4477
@shubham-padia Can I take up this issue.

[2018-01-14 18:34] bhaveshAn commented on #4475
@mariobehling I think now the backend and frontend (in [Open-event-frontend](https://github.com/fossasia/open-event-frontend))are implemented separately. So can I work on this issue.

[2018-01-14 18:59] bhaveshAn commented on #4499
@mariobehling @shubham-padia Can I take up this one.

[2018-01-16 19:31] starlord1311 commented on #4592
can i take up this issue? @cclauss

[2018-01-16 21:15] cclauss commented on #4592
Sounds good to me.

[2018-01-18 19:25] vibhcool opened #4603 "Not able to click on Add Session Proposal button"
I'm submitting a bug report.
- [X] bug report

**Current behavior:**

1) I am not able to click on "Add Session Proposal" button.
2) I can add speaker details using button "Add Speaker details" again and again.

**Expected behavior:**

1) I shall be able to click on "Add Session Proposal" button.
2) I shall not be allowed to add speaker details using button "Add Speaker details" again and again.

[2018-01-18 19:32] vibhcool commented on #4603
closing this issue, This is related toopen-event-legacy

[2018-01-18 19:32] #4603 closed

[2018-01-22 11:41] bhaveshAn commented on #2675
@mariobehling Please tag/ping me whenever there is the need of this feature, as I am well versed with `query-server`

[2018-01-23 09:38] fr0der1c commented on #4592
@cclauss @starlord1311 It has been a week with no sign of work being done. Should I take this issue?

[2018-01-23 09:54] cclauss commented on #4592
Sounds good to me.

[2018-01-25 21:53] starlord1311 commented on #4592
@cclauss  can you help me with what i am supposed to do?

[2018-01-25 22:11] cclauss commented on #4592
@fr0der1c and @starlord1311 please try to work together.  [Pair programming](https://en.wikipedia.org/wiki/Pair_programming) is all the rage!!

Unicode is not my skill (I always find it confusing) but you might try to start with changing all instances of:
[code]
Then run the tests and see if they pass.

This would work because the first part would work like a charm in Python 2 but would raise an [

[2018-01-27 20:25] poush commented on #4592
There are different ways to do this. I guess one way could be creating an helper named something like `_unicode()` and replace all occurrences of current `unicorn()` with it. In the implementation of the helper method, you can do what @cclauss suggested or something like this:
[code]
I prefer the one suggested by @cclauss

[2018-01-27 20:29] cclauss commented on #4592
The former uses feature detection while the latter does version detection.
* https://docs.python.org/3/howto/pyporting.html#use-feature-detection-instead-of-version-detection

[2018-01-27 23:01] mariobehling opened #4605 "Deploy Dev branch automatically to Heroku"
1. Deploy the development branch automatically to the https://open-event-api-dev.herokuapp.com and share the access with the main developers.

2. Use the API Test server on Heroku as an API server: https://open-event-api.herokuapp.com/

And cancel the automatic deployment to api.eventyay.com.

[2018-01-28 12:18] #4605 closed

[2018-01-28 18:59] shubham-padia opened #4607 "New deployment: app not working due to empty settings table"

[2018-01-28 19:22] shubham-padia commented on #4572
invalid

[2018-01-28 19:22] #4572 closed

[2018-01-28 19:24] #4578 closed

[2018-01-28 19:25] shubham-padia commented on #4571
@open-event-bot move to fossasia/open-event-legacy

[2018-01-28 19:25] #4571 closed

[2018-01-28 19:27] shubham-padia commented on #4573
@open-event-bot move to fossasia/open-event-legacy

[2018-01-28 19:27] #4573 closed

[2018-01-28 19:28] shubham-padia commented on #4570
@open-event-bot move to fossasia/open-event-legacy

[2018-01-28 19:28] #4570 closed

[2018-01-28 19:29] shubham-padia commented on #4568
@open-event-bot move to fossasia/open-event-legacy

[2018-01-28 19:29] #4568 closed

[2018-01-28 19:31] shubham-padia commented on #4567
This depends on the available translated words on weblate. If there is no translation available, the words will appear the same. The translations are contributed by the community and there's nothing that can be done about this

[2018-01-28 19:31] #4567 closed

[2018-01-28 19:34] shubham-padia commented on #4569
@simsausaurabh Works as expected. Please reopen if the issue is found again. Thanks :smile:

[2018-01-28 19:34] #4569 closed

[2018-01-28 19:35] shubham-padia commented on #4562
@open-event-bot move to fossasia/open-event-legacy

[2018-01-28 19:35] #4562 closed

[2018-01-28 19:38] shubham-padia commented on #4594
Duplicate of #4562

[2018-01-28 19:38] #4594 closed

[2018-01-28 19:54] simsausaurabh commented on #4569
@shubham-padia @bhaveshAn my name is not showing 'simsausaurabh'. Please clarify. :smile:

[2018-01-28 20:50] CosmicCoder96 opened #4609 "Event Export is not working"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

**Heroku Error logs**:

[code]

[2018-01-28 22:43] CosmicCoder96 opened #4610 "Generated reset password link is correct but not clickable"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

![image](https://user-images.githubusercontent.com/17252805/35488202-a4284b54-04aa-11e8-981a-f8bf29de8615.png)
The link appears

[2018-01-29 04:19] #4607 closed

[2018-01-29 12:59] Riyuzakii commented on #4610
@CosmicCoder96 Can I help fix this issue?

[2018-01-29 13:10] sumedh123 commented on #4610
@Riyuzakii Please go ahead.

[2018-01-29 13:14] Riyuzakii commented on #4610
@sumedh123 do you mind giving me some directions, I'm kind of a newbie?

[2018-01-29 21:18] mariobehling opened #4611 "Add a test user with full rights to admin section"
The test deployments should have a test user login with full credentials. Please ensure this test user is only working in the test deployments and not in the final master deployments.

Use:
Password: openevent
Test Email: test@fossasia.org

[2018-01-29 21:20] bhaveshAn commented on #4611
Can I work on this issue.

[2018-01-31 14:47] CosmicCoder96 opened #4613 "Event import end point not working"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Event import end point gives the following error
[code]

[2018-01-31 19:14] prshntsingh commented on #4610
@CosmicCoder96 it has been working normally for me. Please check again
![screenshot from 2018-02-01 00-41-05](https://user-images.githubusercontent.com/19731697/35642411-0973550e-06e9-11e8-8190-1bebfc301ddf.png)

[2018-02-02 07:01] CosmicCoder96 commented on #4610
@prshntsingh weird, I have two mails. One shows the link as a hyperlink, other doesn't.
![image](https://user-images.githubusercontent.com/17252805/35720727-eeb4bc80-0814-11e8-8885-ac2414a1815f.png)

Both have been rendered differently.
![image](https://user-images.githubusercontent.com/17252805/35720734-f7dbc3bc-0814-11e8-8b9f-2064c9e58f98.png)

[2018-02-10 20:31] InTheCloudDan opened #4614 "Docker Eventlet"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
[code]
**Expected behavior:**
I would expect docker-compose to just bring up the web container.

**Steps to reproduce:**
docker-c

[2018-02-12 15:17] poush commented on #4610
@sainiak009 Go ahead! Make sure you first able to reproduce it and then fix it.

[2018-02-13 02:23] S2606 opened #4615 "No bower.json file present"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Following the setup instruction, after bower install, No bower file was present in the repo

**Expected behavior:**
I guess there

[2018-02-13 05:40] sainiak009 commented on #4610
@poush Reproduced and corrected it. Please review #4616

[2018-02-14 09:07] sainiak009 commented on #4613
I would like to work on this issue but I am gonna need some help from a mentor.

[2018-02-14 09:12] #4610 closed

[2018-02-14 09:17] sainiak009 commented on #4613
To reproduce the error I tried to create an event using API and I am getting an IOError: Corrupt/Invalid Image error on using create event api for original-image-url with sample request json and even I tried some others image URLs too

[2018-02-14 09:54] shubham-padia opened #4617 "Remove all the steps involving bower from the docs"
Do `git grep 'bower'` and find all the occurrences and remove the steps present at those occurences

[2018-02-14 09:55] shubham-padia commented on #4615
Bower has been removed as a dependency from the project, opened #4617 .

[2018-02-14 09:55] #4615 closed

[2018-02-14 10:53] simsausaurabh commented on #4617
@shubham-padia can I work on this issue?

[2018-02-14 10:57] shubham-padia commented on #4617
sure, go ahead

[2018-02-14 11:43] simsausaurabh commented on #4617
@shubham-padia since we are not following installation using bower, so shall I also remove commands from installation scripts too?

[2018-02-14 12:07] invinciblycool commented on #4617
Yes.

On Feb 14, 2018 5:14 PM, "Saurabh Srivastava" <notifications@github.com>
wrote:

[2018-02-14 14:09] eMBee opened #4619 "make "Where did you heard about our event?" choices configurable"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
choices for "Where did you heard about our event?" are hardcoded.

**Expected behavior:**
the current hardcoded choices for "Wher

[2018-02-14 14:20] eMBee opened #4620 "allow creating an event only with dates without times"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
when creating an event begin and end time values are required.

**Expected behavior:**
for some events time values are not fixed

[2018-02-14 14:24] eMBee commented on #2810
where do i report that aparently the master is still not updated because moving the event location does not work there now? or is that a regression?

[2018-02-14 14:30] eMBee opened #4621 "allow city location without address"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
currently, when specifying a city, a detailed map is always shown.

**Expected behavior:**
when a city is specified without an ad

[2018-02-14 14:38] eMBee opened #4622 "cfs still closed when start is set to current time"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
by default the submission period starts at the current time. when entering a cfs in beijing for an event in the chinese timezone,

[2018-02-14 14:43] eMBee opened #4623 "can't set cfs deadline to midnight without confusing the user."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
when setting the deadline for a cfs, currently i can choose a date and 23:30 as the latest time, or i have to choose the next day

[2018-02-14 14:59] abishekvashok opened #4624 "XSS vulnerability as reported on openbugbounty.org"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

User details can be spoofed. I mean the cookie which is used for session authentication.

**Expected behavior:**

It should not

[2018-02-14 14:59] abishekvashok commented on #4624
Visit using Firefox.

[2018-02-14 15:05] eMBee opened #4625 "timezones should be sorted by time, not by alphabetic location"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
when selecting a timezone for event times, the list is sorted by alphabetic city names. this is problematic when it is not known

[2018-02-14 15:21] eMBee opened #4626 "single track shows as required in event creation"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
creating any event defaults to having a main track and a microlocation (what's that, a room? :-)
then "track" shows up as a requi

[2018-02-14 15:36] eMBee opened #4627 "urls in text fields do not work"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
text fields allow selecting text and setting a destination link, but when the texts are actually published there are no links in

[2018-02-14 15:52] eMBee opened #4628 "'External Event URL' field can't be renamed"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
the first title field in links and social media is read-only (and even when changed in the frontend, a changed title is ignored)

[2018-02-14 16:08] eMBee opened #4629 "'Basic Details' shows up in yellow but can't see what's wrong"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
in the event overview the 'Basic Details' block is yellow, but when i edit the event i can't see what is missing.

**Expected beh

[2018-02-14 16:15] eMBee opened #4630 "editing event always forces the wizard"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
after creating an event by going through the wizard, any further edits of specific steps always force a move to the next step ins

[2018-02-14 16:19] eMBee opened #4631 "typo "Where did you heard about our event?" should be "hear""
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
field is titled: "Where did you heard about our event?"

**Expected behavior:**
field should be titled "Where did you hear about

[2018-02-15 13:37] #4617 closed

[2018-02-18 05:14] pandeybk opened #4632 "Kubernetes Deployment Elasticsearch pods crashloopback"
**Current behavior:**
kubectl get pods -n elasticsearch
NAME                            READY     STATUS             RESTARTS   AGE
elasticsearch-d494f99d5-2v7nt   0/1       CrashLoopBackOff   21         1h

**Expected behavior:**
ES should be up and running

**Steps to reproduce:**
* Deploy open-event-server using kubernetes manifest file
* Check logs `kubectl logs elasticsearch-d494f99d5-2v7nt -

[2018-02-18 05:25] pandeybk commented on #4632
I think I figure out the problem here. I added in `NETWORK_HOST: "_local_"` in configmap and it started working. Here is my complete working sample,

[code]

[2018-02-18 05:33] pandeybk opened #4633 "api-server docker://api-server:Container failed liveness probe"
**Current behavior:**
api-server keep restarting because liveness probe failed.

**Steps to reproduce:**
* Deploy open-event-server using k8s manifest.
* Monitor api-server behavior. Restart count keep increasing.
[code]

* Log from api-server container.
[code]

Log from Celery container
[code]

* describe api-server pod
[code]

[2018-02-20 17:26] simsausaurabh commented on #4560
@shubham-padia If no one is currently working on this issue, can I take this ?

[2018-02-26 19:19] isunitha98selvan commented on #4619
I would like to work on this.

[2018-02-27 10:51] sanudatta11 commented on #4564
Hello I just tried logging in , it works fine. I am looking to the issue. Can you elaborate the steps which led to this issue.

[2018-02-28 12:15] iamareebjamal opened #4636 "Remove SERVER_NAME or add warning in docs"
The `SERVER_NAME` config in example env shadows the possible IP addresses a machine may take. For example, if the local IP is `10.0.3.2` the SERVER_NAME parameter being set to `localhost` will shadow this and 404 error will be shown instead.

This setting should either be removed or a warning should be added in the docs as it can be quite painful to pin point what the issue is

[2018-03-02 03:37] AkshayCHD opened #4637 "Unable to create feedback object through api endpoint"
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Unable to create new feedback with my user id and event id

**Expected behavior:**
should be able to create new feedback with my event id

**Related code:**
error
[code]

[2018-03-02 03:38] AkshayCHD commented on #4637
@iamareebjamal can you have a look at this please.

[2018-03-02 07:19] iamareebjamal commented on #4637
Please confirm that you are using https://open-event-api-dev.herokuapp.com

[2018-03-02 15:42] iamareebjamal opened #4638 "Recursive method for generating event ID does not respect length"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

In model `event.py`

[code]

The recursive call does not pass on the passed argument `length` which will lead to wrong length identifier being generate

[2018-03-02 19:37] AkshayCHD commented on #4637
@iamareebjamal yes i used  https://open-event-api-dev.herokuapp.com
and sorry for the ambiguity, i have made changes in the description

[2018-03-03 03:04] iamareebjamal commented on #4637
A user himself cannot rate his event. So the error is wrong, but the behaviour is right. You can change the issue to throw proper error instead of showing 404

[2018-03-03 06:15] AkshayCHD commented on #4637
@iamareebjamal I tried to give feedback for an event with a different account but i am getting the same response.

[2018-03-03 07:05] iamareebjamal commented on #4637
OK, so the problem is that `is_user_itself` function compares current user ID with the provided ID and the user ID is int whereas provided ID is string, so the comparison fails. I'll send a PR to fix the issue

[2018-03-03 08:37] #4637 closed

[2018-03-05 19:49] harsh-98 opened #4640 "Update basic.md `generic installation`."
**I'm submitting a ...**  (check one with "x")
- [x] documentation update
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
[local installation](https://github.com/fossasia/open-event-server/blob/development/docs/installation/local.md) vs [gen

[2018-03-05 20:58] #4638 closed

[2018-03-05 21:38] ParthS007 commented on #4636
I am working on this .

[2018-03-07 00:05] realslimshanky commented on #4631
Since it's an easy fix, I would like to work on it in order to understand how to setup and kickstart contribution to Open Event Server :relaxed:

[2018-03-07 00:49] realslimshanky opened #4644 "Mismatched sub-dependency `html5lib`"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Problem is with the mismatched sub-dependency named `html5lib`.
Primary dependency to this project `bleach==1.5.0` uses [`html5li

[2018-03-08 11:29] iamareebjamal opened #4645 "Secret is missing on initial run"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
When the server is run initially, the `get_settings()` method does not correctly initialize the secret in the settings and the re

[2018-03-08 11:52] ParthS007 commented on #4645
I want to work on this :+1:

[2018-03-08 12:21] iamareebjamal opened #4646 "Locally generated image URLs don't take port into account"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

The URLs generated locally do not take port of the server into account. For instance, the sample event payload with image URL is

[2018-03-08 13:18] realslimshanky commented on #4646
I would like to work on this issue.

[2018-03-08 20:04] AkshayCHD commented on #4637
@iamareebjamal i am still unable to do this job, also if you have some time can you please have a look at my first draft of proposal for gsoc https://docs.google.com/document/d/1pkm8zEYxfGR809NOQNMwaMsbh5T4HSmrFcf-4nDNC_w/edit

[2018-03-09 00:57] harsh-98 commented on #4624
I have made a PR regarding this issue [https://github.com/fossasia/open-event-legacy/pull/52](https://github.com/fossasia/open-event-legacy/pull/52)

[2018-03-09 00:57] harsh-98 commented on #4624
@abishekvashok @mariobehling

[2018-03-09 01:00] harsh-98 commented on #4644
@realslimshanky try  `pip install --upgrade bleach` or manually upgrade to bleach==1.4.3.
Also refer [this](https://github.com/ckan/ckan/issues/3257)

[2018-03-09 18:34] realslimshanky commented on #4644
@harsh-98 it works for `pip`, not `pipenv` which also supports lock feature.

[2018-03-10 15:57] #4640 closed

[2018-03-12 11:14] Progyan1997 opened #4647 "Installing packages in RHEL/CentOS"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Installation script for `Ubuntu` is available but not `RHEL/CentOS`

**Expected behavior:**

Both should be available.

**Steps

[2018-03-12 11:20] SaptakS commented on #4647
@Progyan1997 `scripts/install.sh` is used inside Vagrantfile for provisioning and in Vagrantfile, we have used an ubuntu box, hence the `install.sh` supports only ubuntu/debian commands and not RHEL/CentOS.

You can, however, update the local and generic documentation to include the steps which are different in CentOS/RHEL like OS.

[2018-03-12 11:20] #4647 closed

[2018-03-14 07:58] sanudatta11 commented on #4646
I would like to take up this

[2018-03-14 13:45] mamakancha opened #4650 "Local Installation Documentation Update"
**I'm submitting a ...**
- [x] documentation update

**Current behavior:**
Missing following few points in the local installation documentation

1.  Adding additional command for those who want to contribute i.e. first forking the original repository and then cloning the forked repository into their local machines

2.  Updating .env file with DATABASE_URL

**Expected behavior:**
Adding above to th

[2018-03-15 01:17] harsh-98 opened #4652 "EndPoint Implementation for updating social media handles of the user."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
No implementaton of the endpoint for updating the social handles of user is there Due to which the issue https://github.com/fossa

[2018-03-15 18:42] AkshayCHD commented on #4637
@geekyd still i am unable to create feedback object through api endpoint, the same error error follows

[2018-03-17 04:37] snuggs commented on #1595
@shivamMg it's actually [405 is a better response](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/405). But great call nonetheless.

[2018-03-24 11:02] eMBee commented on #4631
it's in the call for speakers form when editing an event.
for example: https://eventyay.com/events/390/edit/sessions-tracks-rooms/#call-for-speakers

[2018-03-25 13:48] SaptakS opened #4653 "Create a conference level chat system"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Other information:**

One of the ideas as discussed with @eMBee at the conference, it would be really nice to have a chat system integrated into the

[2018-04-02 18:46] iamareebjamal opened #4654 "Unknown error 500 on creating event"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Posting this, we get Unknown error 500 but the event is successfully created

[code]

**Expected behavior:**
Either 500 should no

[2018-04-02 19:47] iamareebjamal opened #4655 "Wrong schema validation"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Schema validation on the server is broken

[code]
If any of the optional field is null (which is what it can be when serializing

[2018-04-02 20:30] shubham-padia commented on #4655
There has been no change in the repo, it's the same as before, just the location has changed. No changes were made breaking/non-breaking

[2018-04-02 20:37] iamareebjamal commented on #4655
Nevertheless, these responses are being generated on providing the input. Which wasn't the case before. Is it the expected behaviour? If so, what's the use of default fields

[2018-04-02 20:46] shubham-padia commented on #4655
There have been very few changes in the behaviour of the API in the past few months, the bug you've mentioned was pre-existing and should be fixed, but not a part of any recent changes AFAIK. For optional fields, this error should not be generated. But it would be better if the clients take active part in creating issues, there's been very few issuer reported related to the API (not including the

[2018-04-02 20:53] iamareebjamal commented on #4655
This was due to clients not knowing of the divergence from the master and dev branches, We only knew this when the master branch version stopped working altogether, And till a few weeks back, we were able to create tickets and events.

The developement in orga repo is very active so we would have noticed if this was very old. For instance, the event issue arose about 2-3 weeks ago and was noticed

[2018-04-02 20:57] iamareebjamal commented on #4655
Secondly, as I noticed earlier, the development branch was not even deployed to heroku for months on end, and that is why even if the changes were done months ago, we could have only noticed it when the actual deployments started happening which were 2-3 weeks back. So yes, I agree that this behaviour did not arise from the fork but API definitely introduced breaking changes and only in past weeks

[2018-04-02 23:45] shubham-padia commented on #4655
Yep. That sounds like the reason for the changes appearing to the clients

[2018-04-03 12:39] #4650 closed

[2018-04-03 12:48] #4614 closed

[2018-04-04 10:10] schedutron opened #4657 "README badges render unpredictably"
**I'm submitting a _bug report_**

**Current behavior:**
The README badges for services like Travis, Gemnasium, Codacy and Codecov get rendered unpredictably. Sometimes all of them don't render at all and sometimes few of them get rendered while others remain unrendered.

**Expected behavior:**
The badges mentioned above should get correctly rendered everytime the repository page is opened.

**Ste

[2018-04-08 21:05] iamareebjamal opened #4658 "Unknown error 500 on creating Order"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Unknown error 500 on creating Order
[code]

**Expected behavior:**
Order should be created

**Steps to reproduce:**
Create order

[2018-04-09 15:54] iamareebjamal opened #4659 "No reference validation for attendee and ticket relationship"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Someone can add a reference to another event's ticket to an attendee on some other event

Event 155 has tickets 223 and 221

I ca

[2018-04-13 09:07] poush commented on #4645
@ParthS007 Any progress on it?

[2018-04-13 09:15] poush commented on #4646
I think the simplest way would be to add `port` column in the settings table so that the url generator can directly use it from settings.

[2018-04-14 12:05] iamareebjamal opened #4660 "Unknown error 500 on deleting feedback"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Unknown error when deleting feedback

**Expected behavior:**
Feedback should be deleted successfully

**Steps to reproduce:**
DEL

[2018-04-15 09:26] #4657 closed

[2018-04-16 07:31] srv-twry commented on #4660
@iamareebjamal @shubham-padia Can i take it ?

[2018-04-16 07:32] mayank8318 commented on #4658
@iamareebjamal @SaptakS Can I work on this issue?

[2018-04-16 08:01] iamareebjamal commented on #4660
Please go ahead

[2018-04-16 08:01] iamareebjamal commented on #4658
Please go ahead

[2018-04-16 11:28] Masquerade0097 commented on #4646
@iamareebjamal Can i work on this?

[2018-04-16 11:39] iamareebjamal commented on #4646
Go ahead

[2018-04-16 12:07] Masquerade0097 commented on #4620
@eMBee Can i work on it?

[2018-04-16 18:47] iamareebjamal opened #4662 "Cache pip packages in travis build"
Fetching pip packages takes up a lot of build time. So they should be cached

[2018-04-16 19:03] iamareebjamal opened #4663 "Server is not found locally after #4643"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

After #4643, the server cannot be accessed via the URL `localhost:5000` or any other means. This has lead to Travis build failing and inability to test

[2018-04-16 19:03] iamareebjamal commented on #4636
Refer to #4663

[2018-04-16 19:34] simsausaurabh commented on #4662
Working on it :+1:

[2018-04-17 05:00] #4663 closed

[2018-04-17 05:55] mayank8318 commented on #4658
@iamareebjamal @SaptakS I am having difficulty reproducing the issue. I did the following things :
1) Created an event
2) Added tickets to the event
Then tried to add attendees to the event using the above-created ticket id but I get 405 error. Is there some detail or step that I am missing?

[2018-04-17 05:56] iamareebjamal opened #4667 "Rebase singletons to lazy initialization for unit testing"
This is a refactor request, so this can be taken up once server is stable and all bugs are fixed.

` - The Zen of Python, by Tim Peters`

RIght now, each `__init__.py` file contains a hefty amount of logic in it which gets executed when modules are initialized. This has a huge disadvantage though. Just by importing any file from inside a nested package, every line of code in every module, however

[2018-04-17 05:58] iamareebjamal commented on #4658
Please show the log

[2018-04-17 05:59] #4662 closed

[2018-04-17 06:01] mayank8318 commented on #4658
INFO:werkzeug:127.0.0.1 - - [17/Apr/2018 10:55:18] "POST /v1/attendees/1 HTTP/1.1" 405 -
127.0.0.1 - - [17/Apr/2018 10:55:41] "POST /v1/attendees/2 HTTP/1.1" 405 -
INFO:werkzeug:127.0.0.1 - - [17/Apr/2018 10:55:41] "POST /v1/attendees/2 HTTP/1.1" 405 -
127.0.0.1 - - [17/Apr/2018 11:02:19] "POST /v1/attendees/2 HTTP/1.1" 405 -
INFO:werkzeug:127.0.0.1 - - [17/Apr/2018 11:02:19] "POST /v1/attendees/2

[2018-04-17 06:08] mayank8318 commented on #4658
@iamareebjamal I think this is the problem - `can't compare offset-naive and offset-aware datetimes`

[2018-04-17 06:10] iamareebjamal commented on #4658
No that warning is printed each time. What response did you get?

[2018-04-17 06:13] mayank8318 commented on #4658
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>405 Method Not Allowed</title>
<h1>Method Not Allowed</h1>
<p>The method is not allowed for the requested URL.</p>

[2018-04-17 06:27] mayank8318 commented on #4658
URL -> localhost:5000/v1/attendees/2

BODY -> {
  "data": {
    "attributes": {
      "firstname": "John",
      "lastname": "Doe"
    },
    "type": "attendee",
    "relationships": {
      "event": {
        "data": {
          "id": "2",
          "type": "event"
        }
      },
      "ticket": {
        "data": {
          "id": "8",
          "type": "ticket"
        }
      }
    }
  }
}

[2018-04-17 06:28] iamareebjamal commented on #4658
URL should not have /2

[2018-04-17 06:32] mayank8318 commented on #4658
![screenshot from 2018-04-17 12-02-05](https://user-images.githubusercontent.com/22395998/38852353-279c704a-4237-11e8-9d8b-b1e6318d7ce4.png)
But the docs say there should be an event id?

[2018-04-17 06:36] mayank8318 commented on #4658
@iamareebjamal Ok worked. I think the docs need to be corrected then? Also, pdf-url is a required field but the docs say otherwise?

[2018-04-17 06:37] iamareebjamal commented on #4658
pdf-url shouldn't be required

[2018-04-17 06:39] mayank8318 commented on #4658
I get this if it is not specified :
{
    "errors": [
        {
            "status": "422",
            "source": {
                "pointer": "/data/attributes/pdf-url"
            },
            "detail": "Missing data for required field.",
            "title": "Validation error"
        }
    ],
    "jsonapi": {
        "version": "1.0"
    }
}

[2018-04-17 06:40] mayank8318 commented on #4658
Ok should I make another issue for that or do it in this only? Also, I think PR #4666 should solve this issue though. I will try and confirm.

[2018-04-17 06:42] iamareebjamal commented on #4658
Let @shubham-padia @SaptakS @niranjan94 decide about the pdf-url

[2018-04-17 09:28] poush commented on #4658
@mayank8318 It should be optional  only as the pdf_url is filled by orders api itself after completion of order.

[2018-04-17 09:36] iamareebjamal commented on #4658
@mayank8318 Please create an issue to change pdf-url to optional

[2018-04-17 11:41] Masquerade0097 commented on #4620
@iamareebjamal @shubham-padia Can i work on it ?

[2018-04-17 11:43] Masquerade0097 commented on #4620
@iamareebjamal @shubham-padia Can i work on it ?

[2018-04-17 12:07] mayank8318 opened #4668 "Change pdf_url to optional in create attendee api"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Currently, the `pdf_url` attribute is shown as optional in the docs, but is required in the api call.

**Expected behavior:**
It

[2018-04-17 14:28] #4660 closed

[2018-04-17 15:34] #4592 closed

[2018-04-17 16:16] iamareebjamal commented on #4658
@mayank8318 please check if this issue can be closed

[2018-04-17 16:17] iamareebjamal commented on #4654
@srv-twry please check if this issue can be closed

[2018-04-17 16:54] mayank8318 commented on #4658
@iamareebjamal This has a different error:
![screenshot from 2018-04-17 12-26-53](https://user-images.githubusercontent.com/22395998/38884697-fb406b3a-428d-11e8-83ec-8b6b8313b66f.png)

Working on it, will send a PR soon.

[2018-04-17 17:16] iamareebjamal commented on #4658
This is not the issue. See #4645

[2018-04-17 17:17] iamareebjamal commented on #4668
More so, it should be dump only

[2018-04-17 17:33] mayank8318 commented on #4658
'secret' is used for creating the hash while saving the pdf. This happens after the order is saved in the database. I think both the issues coincide. What should I do here?

[2018-04-17 17:34] iamareebjamal commented on #4658
That issue is not linked to this. Just run this command in your console

`update settings set secret = 'some_secret_key';`

[2018-04-17 18:14] Masquerade0097 commented on #4620
@iamareebjamal @shubham-padia Can i work on this ?

[2018-04-17 18:29] iamareebjamal opened #4669 "Futurize Stage 1 for Python 2/3 support"
- [x] Include common code (stage 1 futurize) via `__future__` module

[2018-04-17 18:41] poush commented on #4668
Yeah, it should be dump only.

[2018-04-18 00:30] srv-twry commented on #4654
No, the issue still persists.

[code]

[2018-04-18 02:13] srv-twry commented on #4654
@iamareebjamal I found the issue but would need some help here
The problem is that when we are generating the hash for the ```image_url``` file, the salt passed in is ```None```
[code]

```get_settings()['secret']``` is None

The ```get_settings``` method is as follows
[code]

The error is due to the line ```current_app.config['custom_settings'] = make_dict(s)``` .

Here is the ```make_dict``` fun

[2018-04-18 08:09] Masquerade0097 commented on #4620
@SaptakS @niranjan94 Can i take this up ?

[2018-04-18 08:38] iamareebjamal commented on #4654
That error is not related to this issue. See #4645

[2018-04-18 08:39] iamareebjamal commented on #4654
See my comments on #4658 and then test if it is solved

[2018-04-18 08:40] iamareebjamal commented on #4658
@mayank8318 Status?

[2018-04-18 08:42] iamareebjamal commented on #4659
@Masquerade0097 Can you please take it up

[2018-04-18 08:59] Masquerade0097 commented on #4659
Yes.

[2018-04-18 09:08] srv-twry commented on #4654
Yes, after using the update command it works. We can close this.
Please check my PR though, i have linked it to the original issue

[2018-04-18 10:38] mayank8318 commented on #4658
@iamareebjamal I had an exam today, so couldn't try it. I will update the PR by tonight

[2018-04-18 10:38] iamareebjamal commented on #4654
Fixed by #4666

[2018-04-18 10:38] #4654 closed

[2018-04-18 11:08] #4669 closed

[2018-04-18 11:21] iamareebjamal opened #4672 "Error 500 on Create Ticket : Unique name"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
TIcket creation with same name causes error 500
[code]

**Expected behavior:**
There is a unique constraint on name and event id,

[2018-04-18 11:44] mayank8318 commented on #4658
@iamareebjamal After updating secret in postgres, 201 is returned and the database is updated successfully.

[2018-04-18 13:36] poush commented on #4620
@Masquerade0097 I am not sure if this finalised yet. IMHO it should be better to keep both required. An organiser can update data and timings anytime. We will not definitely want to publish event with no timings. Instead we can allow drafting the event without timings (if we don't yet).

I will suggest you to look for other crucial bugs first.

[2018-04-18 16:56] Masquerade0097 commented on #4672
@iamareebjamal Can i work on this ?

[2018-04-18 20:13] mayank8318 commented on #4672
@iamareebjamal What should be the response?

[2018-04-18 21:25] iamareebjamal commented on #4672
Ticket <name> already exists

[2018-04-19 00:55] srv-twry commented on #4655
@iamareebjamal Can i work on it ?

[2018-04-19 02:57] Masquerade0097 commented on #4672
@iamareebjamal Can i work on this ?

[2018-04-19 05:50] mayank8318 opened #4676 "Should "Last name" in create attendee api be required?"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Docs say that the last name field in create an attendee is required but None is allowed in the API.

**Expected behavior:**
@iama

[2018-04-19 06:34] iamareebjamal commented on #4672
Go ahead @Masquerade0097

[2018-04-19 06:42] iamareebjamal opened #4677 "Final refactoring to make project compatible with Python 2/3"
These things are required to make project compatible with Python 2/3

- [x] Import future package builtins and aliases (eg. str, io, urllib)
- [x] Wrap byte return type with str(<byte>, 'utf-8') for Python 3
- [x] Wrap str type with byte(<string>) for IO functions
- [x] Replace StringIO and cStringIO with io.BytesIO for cross compatibility

[2018-04-19 07:12] maxlorenz commented on #4625
This is a frontend issue. The names are declared in `app/utils/dictionary/date-time.js` and can be sorted there. Should I fix the ordering in the frontend project or add a new route so that the time zones can be controlled here?

[2018-04-19 08:32] shubham-padia commented on #4625
@maxlorenz This should be handled in the frontend itself
@open-event-bot move to fossasia/open-event-frontend

[2018-04-19 08:32] #4625 closed

[2018-04-19 10:05] iamareebjamal commented on #4655
@srv-twry Please go ahead

[2018-04-19 15:37] party98 commented on #4631
Hey, I would like to take this up.

[2018-04-19 15:41] #4631 closed

[2018-04-20 05:48] srv-twry commented on #4655
@iamareebjamal @shubham-padia
I understood the problem and have a proposed solution.
Going through the marshmallow docs, i found that they allow data preprocessing before loading(validation) of the data by defining methods with decorators ```pre_load```.
Reference [here](http://marshmallow.readthedocs.io/en/latest/extending.html#extending)

So the solution could be to define a function in the sche

[2018-04-20 07:01] iamareebjamal commented on #4655
The default values are already given when declaring the schema, I think this will be code duplication

[2018-04-20 07:05] niranjan94 commented on #4676
Both first name and last should be required.

[2018-04-20 12:43] srv-twry commented on #4655
@iamareebjamal
Using this would mean i would have to make sure the variable names match the key in the ```in_data``` variable. For eg. in the ```in_data``` dictionary the description visibility boolean has the key ```is-description-visible``` while the variable name  in python is ```is_description_visible```.
I would have to change the variable name to ```is-description-visible``` which is not all

[2018-04-20 13:15] iamareebjamal commented on #4655
look at the function dasherize

[2018-04-20 14:58] srv-twry commented on #4655
[code]

Adding this method to Ticket schema class works. Is it okay ? If it is i would add this to all the schema classes and send the PR.

[2018-04-21 03:54] srv-twry commented on #4655
@iamareebjamal
1. I forgot to add the ```@pre-load``` in the comment above. Updated it. The ```make_object``` isn't called automatically, so i had to annotate it. It isn't called automatically probably because it's depricated now as you can see [here](http://marshmallow.readthedocs.io/en/latest/upgrading.html?highlight=make_object) and [here](https://github.com/marshmallow-code/marshmallow/issues/

[2018-04-21 04:55] iamareebjamal commented on #4655
I meant this

[code]

[code]

[2018-04-21 04:58] iamareebjamal commented on #4655
And you can also make a class decorator, which adds this function on the class automatically

[2018-04-21 11:25] #4645 closed

[2018-04-21 15:03] party98 commented on #4676
Hey, i'd like to take this up.

[2018-04-21 15:06] mayank8318 commented on #4676
@party98 I have solved it and am about to send in a PR. Maybe you could work on some other issue? ☺

[2018-04-21 15:37] party98 opened #4680 "Unable to create a vagrant installation"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
While intializing the vagrant box, the pip fails to install `flask-rest-jsonapi from git+https://github.com/fossasia/flask-rest-j

[2018-04-21 15:44] party98 commented on #4680
** STATUS UPDATE

The problem was with builtins which exists in the future package. After modifying `scripts/install.sh` to install this, a new error arises:
[code]

[2018-04-21 15:50] party98 commented on #4680
Is there any particular reason for using ubuntu/trusty as the image for vagrant box instead of ubuntu/xenial considering it is a newer LTS version?

[2018-04-24 15:16] schedutron commented on #4646
@Masquerade0097 Are you still working on this? If not, I'd like to pick this up :)

[2018-04-25 08:48] mielamvn opened #4683 "Interface error on Firefox Browser"
**I'm submitting a  bug report

**Current behavior:**
Side menu overlaps the main content page
![interface error](https://user-images.githubusercontent.com/36442723/39235414-0bc41412-48a0-11e8-9eb5-584f005d8e94.png)

Your operating system; Linux Mint

[2018-04-25 09:03] SaptakS commented on #4683
@fossasia/open-event-frontend-devs please ensure this is taken care of in the new version of the application. If it is, please attach a testable link and close. Thanks. :)

@mielamvn thanks for reporting this.

[2018-04-25 09:30] SaptakS commented on #4683
@mielamvn please check the above link and confirm. If you still feel there is some error, feel free to re-open.

[2018-04-26 10:37] Masquerade0097 commented on #4646
@schedutron Ya, please go on.

[2018-04-27 12:13] nikit19 opened #4684 "Update Kubernetes deployment documentation"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Some commands in https://github.com/fossasia/open-event-server/blob/development/docs/installation/gce-kubernetes.md
aren't update

[2018-04-28 20:40] schedutron opened #4686 "Wrong API documentation example for creating a user?"
I'm submitting a
-  bug report

**Current behavior:**
For accessing the API, I need the JWT access token. The docs say "Once you have registered yourself as a user, you can send a request to get the access_token." But to send the request for registering as a user (creating a user), I need the access_token itself. So I'm stuck in a (kind of) deadlock.

As @srv-twry mentioned on Gitter, a JWT token

[2018-04-29 06:05] srv-twry commented on #4686
@schedutron Please follow the steps mentioned by me and other fellow contributors. It should work now.

PS: Also change the title to something related to wrong API documentation example for creating a user. It wrongly states that it needs a JWT token.

[2018-04-29 06:09] bhaveshAn commented on #4686
One more thing for `auth/session`
use `{'Content-Type': 'application/json'}` instead of `{'Content-Type': 'application/vnd.api+json'}`

[2018-04-29 08:04] niranjan94 commented on #4686
@schedutron you are using the wrong API to create a user.

Need to use
https://open-event-api.herokuapp.com/#users-users-collection-post

[2018-04-29 23:11] rngadam commented on #4554
Not sure if what is meant by visualization is ERD diagram, but it's easy to generate one in DBeaver:

![image](https://user-images.githubusercontent.com/538542/39411909-84e080ee-4c45-11e8-8b09-cb41e8f4060d.png)

[2018-04-29 23:20] rngadam opened #4687 "Normalize social links in the database"
**I'm submitting a ...**  (check one with "x")

- [ ] bug report
- [ x feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Overview**

Social links should:

* be configurable for every entity level (speaker, event, user)
* be consistently validated
* only one row from ac

[2018-04-30 20:02] #4659 closed

[2018-05-01 10:11] #4672 closed

[2018-05-01 10:13] #4676 closed

[2018-05-01 10:13] niranjan94 opened #4688 "Migrate existing DB data to ensure a non-nullable last_name field for attendees"
Follow up to #4682

[2018-05-01 10:14] niranjan94 commented on #4688
@mayank8318 you could take this up

[2018-05-01 10:25] mayank8318 commented on #4688
For empty last names, should I add a space character?

[2018-05-01 11:47] mayank8318 commented on #4687
Yesterday's hangout call was really very informative (which I could not attend unfortunately as I was travelling). I saw the recording on youtube and watched a few videos on ERDs. Also, I have set up dbeaver. Could you please explain a little as to what the problem is, the various solutions that could be implemented and what should be the team's approach next?
Thank you :)

[2018-05-01 19:28] bhaveshAn opened #4689 "Update Doc to not include nextgen branch and node deps"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Documentation contains :
1. Currently, The codebase does not require Node Dependencies as backend code is isolated now.
2. Nextg

[2018-05-02 04:02] rngadam commented on #4687
There's already a somewhat better normalization for social links related to the events:

![screen shot 2018-05-02 at 11 13 28 am](https://user-images.githubusercontent.com/538542/39503681-cfcd01c6-4df9-11e8-9b92-1fcc043cb851.png)

This is modeled in the ORM in this file:

open-event-server/app/models/social_link.py

...as you can, instead of having an additional column in the main event table, we

[2018-05-03 04:38] bhaveshAn commented on #4686
@schedutron Have you gone through https://open-event-api.herokuapp.com/#users-users-collection-post as Niranjan wrote.
For creating user goto `/v1/users` POST
Headers:
[code]

Auth Key is what you received from `/auth/session`

Body:
[code]

[2018-05-03 05:28] mayank8318 commented on #4687
@rngadam From what I understand, this approach is very flexible and customisable. For example, in the future, if we want to provide an option of hiding a social link, it can be easily added to the config table without directly affecting the relationship between an event (or speaker) and the social link. Please correct me if I am wrong :slightly_smiling_face:

[2018-05-03 18:38] srv-twry opened #4692 "Key error: 'user_id' when logging in the server"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
When logging in the server, the server returns HTTP 500.

**Expected behavior:**
It should error out.

**Steps to reproduce:**
Tr

[2018-05-03 19:15] iamareebjamal commented on #4692
This is solved in #4677 but I agree with concrete methods

[2018-05-03 19:25] schedutron commented on #4686
@bhaveshAn Thanks a lot; I have my exams till 7th May, after that I will recheck with these values and let you know the results :)

[2018-05-04 04:26] mayank8318 commented on #4687
Should I make new ORMs or modify the existing ones?

[2018-05-04 06:39] mielamvn opened #4693 "Texts are overlapped in long titles"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report

**Current behavior:**
 Texts are overlapped in long titles on the main page
![texts overlapped](https://user-images.githubusercontent.com/36442723/39615444-66e74f06-4fa0-11e8-9e4f-f0eb1682ecf6.png)

Your operating system
[code]

[2018-05-04 07:30] bhaveshAn commented on #4693
I think it is issue of legacy repo and frontend repo (if it persists in open-event-frontend as well)

[2018-05-04 10:48] mayank8318 commented on #4693
@bhaveshAn Right, I think this definitely is a front-end issue. @mielamvn Can you please confirm as to which(dev or master) deployments did you use? I tried to replicate the issue on my local server and found out that now instead of overlapping, the extra title is just cut and not shown at all :
![screenshot from 2018-05-04 16-13-52](https://user-images.githubusercontent.com/22395998/39624388-bcdc

[2018-05-04 12:40] poush commented on #4693
This issue is related with legacy repo.

@open-event-bot move to @fossasia/open-event-legacy

[2018-05-04 13:52] bhaveshAn commented on #4692
For now, I think we can modifying `user_id` to `id` should be done
taking this one.

[2018-05-04 13:57] srv-twry commented on #4692
@bhaveshAn please read the above comment. It already has an active PR IMO.

[2018-05-04 14:00] bhaveshAn commented on #4692
I guess [#4677](https://github.com/fossasia/open-event-server/issues/4677) focussing on Refactoring to Python3 @srv-twry @iamareebjamal

[2018-05-05 18:17] siddhant-curious opened #4696 "Unittests fail as unable to import 'current_app'"
**I'm submitting a ...**  (check one with "x")
- [x ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
When attempting to run the tests as `python -m unittest discover tests/unittests/`, the tests fail with the following error.

[c

[2018-05-05 18:57] iamareebjamal commented on #4692
@bhaveshAn Yes it is, but it also contains fix to this error

[2018-05-05 20:38] bhaveshAn commented on #4652
I would like to take up this one.

[2018-05-05 20:44] bhaveshAn commented on #4636
Is this active now as I can access this app at `localhost:5000`

[2018-05-05 21:01] schedutron commented on #4686
I finally used the right endpoint for creating the user and it worked! Now when I use the registered email and password and send it to the server via the `/auth/session` endpoint, I get a different error instead of the session key:
[code]
The header I use is `{'Content-Type': 'application/vnd.api+json'}` and the data I send is:
[code]

[2018-05-05 21:13] iamareebjamal commented on #4636
Are you using `SERVER_NAME` in env?

[2018-05-05 21:13] iamareebjamal commented on #4636
Also, this is solved in Flask 1.0 so no need to fix this. This will be solved when #4674 is merged

[2018-05-06 06:13] bhaveshAn commented on #4619
Taking this one.

[2018-05-06 06:37] bhaveshAn commented on #4619
@eMBee Can you tell how to reproduce it

[2018-05-06 07:51] niranjan94 commented on #4686
@schedutron use content type as `application/json` for the authentication endpoint.

[2018-05-06 07:51] niranjan94 commented on #4686
Also, i'm closing this issue as this is not a documentation issue.

[2018-05-06 07:51] #4686 closed

[2018-05-06 15:11] srv-twry commented on #4692
closing this since another pr already solves this.

[2018-05-06 15:11] #4692 closed

[2018-05-07 05:03] pandeybk opened #4697 "Single Sign On Features - Integration with keycloak like servers"
Is there any way we can integrate with keycloak like third party sso tool to manage users?

[2018-05-07 13:44] Masquerade0097 opened #4698 "Change IsTicketingEnabled field of Event to dump only"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
It is possible to create tickets for an event in which isTicketingEnabled field is set to false.

**Expected behavior:**
Either t

[2018-05-07 13:48] Masquerade0097 commented on #4698
@iamareebjamal @niranjan94 @shubham-padia Should I make the field dump_only or impose constraints to check the above behaviour ?

[2018-05-07 17:28] Kreijstal opened #4699 "Not cd'ing out after make"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

When running run.sh and redis is not installed it will cd into the redis directory but it won't cd out
**Expected behavior:**

i

[2018-05-08 11:06] bhaveshAn opened #4702 "API doc update for "List all taxes [GET]""
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Currently, there is no doc to get all the taxes in the system.

**Expected behavior:**

Addition of doc to get all taxes.

**Ste

[2018-05-08 15:32] #4702 closed

[2018-05-08 15:33] #4684 closed

[2018-05-08 15:33] #4699 closed

[2018-05-08 17:28] #4680 closed

[2018-05-08 19:22] Kreijstal opened #4704 "Create_db always prompts for input"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Currently at create_db.py, it prompts in terminal for an e-mail address and a password, that all is fine, but currently there is

[2018-05-09 13:10] party98 commented on #4704
A condition can be added to check whether the shell session is interactive or not and use default values in case of non interactive session.

[2018-05-09 16:28] party98 commented on #4611
This functionality already seems to be present in the `create_db.py` script whicl also creates a `super_user` with full access to the admin section.

[2018-05-09 18:34] bhaveshAn commented on #4627
I think it is a frontend issue or of legacy repo
cc @niranjan94

[2018-05-09 18:43] party98 commented on #4704
The script in question is used at a couple of places, and is not limited to development environments. Therefore, the solution needs to be concrete. Furthermore, `config.py` is used as an input for setting the various variables within the project so I don't think that would be a "safe" place to add this data.

[2018-05-09 18:56] bhaveshAn commented on #4652
**PATCH** `/v1/users/<user_id>` endpoint can update any attribute of the user

In this case, one can limit the attributes with only `facebook-url` `twitter-url` `instagram-url` `google-plus-url` in the body of PATCH
[code]
Worked fine for me this way. @harsh-98
Can it be closed.

[2018-05-09 18:58] srv-twry opened #4707 "Internal Server error for update and delete endpoint for Speakers"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
We get HTTP 500 Internal Server error when updating or deleting speakers. Creating a speaker works fine though.

**Expected behav

[2018-05-10 06:29] #4688 closed

[2018-05-10 06:38] simarsingh24 opened #4708 "Rating field of feedback should be float"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
The `rating` field of `feedback` is set to `String`

**Expected behavior:**
`Rating` field should be `float`

<img width="634" alt="screen shot 2018-05

[2018-05-10 06:40] schedutron commented on #4708
Will you be working on this issue? Or can I undertake it? Please let me know :)

[2018-05-10 06:40] simarsingh24 commented on #4708
@schedutron please go ahead

[2018-05-10 18:37] siddhant-curious commented on #4696
@party98 nosetests fail as well, I'll create a separate issue for it. There seems to be a different failure issue than presented here.

[2018-05-10 18:45] siddhant-curious opened #4709 "Nosetests fails due to multiple TypeErrors"
**I'm submitting a ...**  (check one with "x")
- [ x] bug report
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server
- [ ] feature request

**Current behavior:**

Attempting to run `nosetests tests/unittests` results in following errors.

`TypeError: can't compare offset-naive and offset-a

[2018-05-10 18:45] siddhant-curious commented on #4696
@party98 kindly look into https://github.com/fossasia/open-event-server/issues/4709 for additional information.

[2018-05-10 19:13] CosmicCoder96 opened #4710 "Inconsistent data on Admin Statistics end points"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

The admin statistics end points return various stats about events, users etc.
Currently they are completely out of sync with the

[2018-05-10 19:18] bhaveshAn commented on #4710
I would to work on this issue.

[2018-05-10 19:29] CosmicCoder96 opened #4711 "POST returns in 500 during Access Code Creation [heroku deployment]"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

![image](https://user-images.githubusercontent.com/17252805/39889777-72496bde-54b6-11e8-8c51-e4b7a60f8798.png)

[2018-05-10 19:38] bhaveshAn commented on #4711
@CosmicCoder96
POST `/v1/access-codes` works fine for me.
![screenshot from 2018-05-11 01-04-28](https://user-images.githubusercontent.com/22936570/39890134-835cc262-54b7-11e8-82bc-43e05d33d3af.png)

[2018-05-11 04:44] CosmicCoder96 commented on #4711
@bhaveshAn That's local deployment, have you tested the deployed one?

[2018-05-11 04:48] CosmicCoder96 commented on #4710
@bhaveshAn Yeah, that seems to be true, but I think there is still a mismatch because the admin dashboard shows around 716 events
![image](https://user-images.githubusercontent.com/17252805/39907157-76db9476-5504-11e8-9408-fee67cf85a6d.png)
Where as according to the returned statistics by the end point total events are
715 + 410 + 147
![image](https://user-images.githubusercontent.com/17252805/399

[2018-05-11 06:18] mayank8318 commented on #4711
@CosmicCoder96 I think this is happening on the master branch (from the screenshot) and works on the development branch  open-event-api-dev.herokuapp.com

[2018-05-11 06:58] party98 commented on #4709
Please give the full stack trace for the first error: `TypeError: argument cannot be of 'NoneType' type, must be of text type`

[2018-05-11 07:02] party98 opened #4712 "Postman Collection of All Requests"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Expected behavior:**
As the project grows, it becomes difficult to document each request type. I suggest creating a postman collection with appropria

[2018-05-11 08:58] #3618 closed

[2018-05-11 14:16] iamareebjamal commented on #4712
[openevent.postman_collection.json.txt](https://github.com/fossasia/open-event-server/files/1995594/openevent.postman_collection.json.txt)

[2018-05-11 15:40] iamareebjamal commented on #4712
It's not complete yet though

[2018-05-11 16:39] siddhant-curious commented on #4709
@party98 it's already there

[2018-05-11 16:40] party98 commented on #4709
Sorry, missed it

[2018-05-12 08:54] #4677 closed

[2018-05-12 09:52] iamareebjamal opened #4713 "Update docs about Python 3"
The project is now working on Python3 and incompatible with Python2. Docs should be updated with this information

**Would you like to work on this?**

No

[2018-05-12 09:59] bhaveshAn commented on #4713
I would like to work on it.

[2018-05-12 10:12] iamareebjamal commented on #4713
Please go ahead

[2018-05-12 12:13] bhaveshAn opened #4714 "Error when running app with Python3"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Currently, running following commands gives errors.
`python3 -m pip install -r requirements.txt`
`python3 manage.py runserver`

[2018-05-12 12:47] bhaveshAn commented on #4714
Not an issue.

[2018-05-12 12:47] #4714 closed

[2018-05-12 14:08] bhaveshAn opened #4716 "Add more statistics for events"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Currently, admin statistics is limited to
1. `Event` how much live, past or draft
2. `Users` for all users etc

**Expected behav

[2018-05-12 15:37] bhaveshAn opened #4717 "Add third party authentication using facebook oauth"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Currently, there isn't any Server API to connect to facebook using oauth as required at `open-event-frontend`

**Expected behavi

[2018-05-12 19:08] pradeepgangwar opened #4719 "Events not getting created through heroku server"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

Current behavior:
On creating new event it show "Unexpected error occurred". This happens when using heroku deployment of open event server.

Expected

[2018-05-12 19:25] ritikamotwani opened #4720 "POST returns in 500 whenever someone tries to create a new User [heroku deployment]"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Whenever I try to create a new User it results in an error with the error status as 500(Internal Server Error)
![image](https://u

[2018-05-13 00:29] srv-twry commented on #4720
@ritikamotwani Can you please try and check if it fails on the dev server as well ?
https://open-event-api-dev.herokuapp.com/

[2018-05-13 00:34] srv-twry commented on #4719
Please use the dev server - https://open-event-api-dev.herokuapp.com/
It works for me.

[2018-05-13 07:21] Kreijstal opened #4721 "Warn about transitive dependencies like OpenSSL"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Say you're on an old operative system where dependencies like OpenSSL are not installed/supported, when you try to instal open-e

[2018-05-13 08:54] srv-twry commented on #4636
@iamareebjamal

I guess we can close this now.

[2018-05-13 09:32] srv-twry opened #4722 "HTTP 500 on GET user notifications"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
The dev server returns HTTP 500 on trying to fetch the user details using the id.

**Expected behavior:**
It should return the us

[2018-05-13 10:12] srv-twry commented on #4722
On the local server, the get user details works fine strangely, but the server errors out when getting the user notifications.

[code]

[2018-05-13 10:16] #4713 closed

[2018-05-13 16:51] pradeepgangwar commented on #4719
Yeah that worked! Thanks.

[2018-05-13 16:51] #4719 closed

[2018-05-14 05:35] #4721 closed

[2018-05-14 10:26] CosmicCoder96 opened #4726 "Add action detail in notifications of notifications API"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Currently following attributes/response are returned by the notifications api for a given notification
[code]
**Expected behavio

[2018-05-14 10:58] mayank8318 commented on #4726
@CosmicCoder96 I would like to work on this.
The current notifications model has action but doesn't have a type property.
[code]
Should it be added to this model? Also, as far as I understand it is dynamic since a session has an id but some other field might need something else. How should I go about adding this?

[2018-05-14 17:42] CosmicCoder96 commented on #4726
@SaptakS @niranjan94 please guide on how to proceed.

[2018-05-14 20:35] Kreijstal commented on #4644
Instead of manually upgrading bleach, shouldn't we update the requirements archive?

[2018-05-14 20:37] Kreijstal opened #4727 "Heroku script doesn't use python3"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

We switched to python3 and the heroku script remains unchanged to python
**Expected behavior:**

It should run python2 instead
*

[2018-05-15 01:57] srv-twry commented on #4727
It should run python2 instead

I guess you meant python3.

[2018-05-15 02:08] pandeybk opened #4729 "Create Helm chart to support kubernetes deployment"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

Helm chart (https://helm.sh) will make application deployment lot easier in kubernetes. Adding official github charts as reference link, https://github

[2018-05-15 07:49] bhaveshAn commented on #4727
Working on it.

[2018-05-15 10:23] mayank8318 opened #4732 "HTTP 500 on uploading a cropped "Event Image""
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Error 500 occurs when you try to upload a cropped image.

**Expected behavior:**
Image URL should be added to the server successf

[2018-05-15 11:28] pradeepgangwar opened #4733 "Locally generated URLs for events does not take port into account"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
When using local server url for events consists of only localhost and port is missing which leads us to wrong url.

**Expected be

[2018-05-15 11:31] schedutron commented on #4733
See #4646

[2018-05-15 11:39] pradeepgangwar commented on #4733
@schedutron but that is for images. Events url also have the same problem.
![screenshot_2018-05-15 aparoksha events open event](https://user-images.githubusercontent.com/21259802/40054517-b9487106-5862-11e8-803b-cfbcadaea086.png)

[2018-05-15 13:38] bhaveshAn commented on #4733
Working on it.

[2018-05-15 20:33] Kreijstal opened #4734 "Kubernetes still uses python2"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Kurbernetes run script uses python2 instead of python3
**Expected behavior:**

It should execute python3 instead of python

**Re

[2018-05-16 02:50] srv-twry commented on #4734
Taking this one.

[2018-05-16 05:47] mayank8318 commented on #4732
@niranjan94 @SaptakS This is happening because the server cannot read from the localhost file location and can be closed

[2018-05-16 07:14] mayank8318 opened #4735 "Implement Access Event API functionality in Export tab"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
This functionality is not implemented and static content is rendered.

**Expected behavior:**
Implement this

**Steps to reproduc

[2018-05-16 09:50] schedutron commented on #4709
@siddhant-curious Can I work on this issue?

[2018-05-16 11:07] #4655 closed

[2018-05-16 11:18] mayank8318 commented on #4735
Sorry meant for frontend

[2018-05-16 11:18] #4735 closed

[2018-05-16 13:13] schedutron opened #4736 "Sessions should have feedback attributes"
I'm submitting a __feature request__:

**Current behavior:**
Sessions do not have feedback attributes.

**Expected behavior:**
Sessions should have 3 key feedback attributes:

1. Rating (per user) - float
2. Feedback (per user) - string
3. Average rating (aggregate) - float

**Other information:**
I would like to implement these attributes.

[2018-05-16 16:53] siddhant-curious commented on #4709
@schedutron yeah, go ahead.

[2018-05-17 03:29] Masquerade0097 commented on #4698
@poush Please review.

[2018-05-17 04:21] Kreijstal opened #4739 "Google Installation guide still uses python2"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

In the guide it has not been updated that we've changed to Python3 already because they're using python2 commands
**Expected beh

[2018-05-17 15:09] CosmicCoder96 opened #4742 "GET request to notifications of a user results in 500"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

Heroku Error log Trace:
[code]

[2018-05-17 17:49] poush commented on #4726
I have seen the model of Github Notification and Events API. We can take inspiration from both.

Based on the notifications API of github, we can go for something like
[code]

[2018-05-17 20:00] schedutron opened #4743 "Rating field of feedback should be integer"
I'm submitting a __bug report__:

**Current behavior:**
The `rating` field of event feedback is of type `string`.
**Expected behavior:**
`rating` should be of type `integer`.

![image](https://user-images.githubusercontent.com/16715499/39855731-b6a7ebe6-544a-11e8-8cf5-40e41ea9f0af.png)

@poush Done.

[2018-05-17 20:59] Kreijstal opened #4744 "Add some sort of local Tester"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

It's great that Travis-CI can always test the open-event-server from it's servers, but implementing it locally it's totally diff

[2018-05-18 03:52] srv-twry commented on #4742
Duplicate of #4722

[2018-05-18 03:54] srv-twry commented on #4742
@CosmicCoder96 It will be resolved as soon as my PR is merged.

[2018-05-18 04:49] mayank8318 commented on #4726
@poush Just to confirm, `primaryActions` will be in a separate table right?

[2018-05-18 07:58] #4722 closed

[2018-05-18 08:44] CosmicCoder96 commented on #4742
@srv-twry Thanks it's fixed !!

[2018-05-18 08:44] #4742 closed

[2018-05-18 12:41] #4646 closed

[2018-05-18 12:42] #4739 closed

[2018-05-18 15:58] schedutron commented on #4736
@iamareebjamal Should I go ahead and submit a PR adding the above attributes?

[2018-05-18 16:03] schedutron commented on #4744
We can test the code locally via `nosetests`, but why do we have to install the dependencies every single time?

[2018-05-18 21:19] Kreijstal commented on #4744
So we can deploy in presentations, new installations. And so beginners can start readily

[2018-05-19 05:46] pradeepgangwar opened #4745 "Event Copy API returning 500 server error"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
Accessing event copy API returns 500 server error.

**Expected behavior:**
Server should be able to create copy of the event and

[2018-05-19 10:18] #4732 closed

[2018-05-19 11:14] poush commented on #4726
It depends upon what is the primary purpose of "primaryActions". It doesn't need to be exactly different entity, instead the current models can be directly related. For example, if there is some notification on your session, we can simply add related session inside `primaryAction` or `subject` (whatever we choose) using related schema in API.
If different entity is to be created then we need somet

[2018-05-19 12:09] poush commented on #4627
@open-event-bot move to fossasia/open-event-legacy

[2018-05-19 12:09] #4627 closed

[2018-05-19 12:12] poush commented on #4629
@open-event-bot move to fossasia/open-event-legacy

[2018-05-19 12:12] #4629 closed

[2018-05-19 14:08] schedutron commented on #4709
When I run the tests, all of them pass:

[code]

Maybe this is because the project is on Python3 now, and you faced this issue with Python2?

[2018-05-19 14:37] pradeepgangwar commented on #4733
@bhaveshAn Are u working on it? If not, I can try fixing this. :sweat_smile:

[2018-05-19 15:14] pradeepgangwar commented on #4745
This issue was because it could not find images when using local deployment. This problem was because if issue #4646 which has been fixed now.

[2018-05-19 15:14] #4745 closed

[2018-05-19 15:18] poush commented on #4698
I checked the Ticket Schema, there is no validation for this. So yes this check has to be done in the ticket API schema where on creating ticket, event will be checked first for this flag.

[2018-05-19 17:28] poush opened #4748 "Inconsistent requirements in requirements/common.txt"
On upgrading there are some requirements that needs to be updated.

1. `librabbitmq` which is not available on PyPi for python 3
2. `functools32` which is no longer required for Python 3
3. Pillow by default requires "ValueError: zlib is required unless explicitly disabled using --disable-zlib, aborting"
4. xhtml2pdf 0.2.2 has requirement html5lib>=1.0, but you'll have html5lib 0.9999999 which is

[2018-05-19 19:40] schedutron commented on #4748
We can use [`pika`](http://pika.readthedocs.io/en/latest/intro.html) instead of `librabbitmq` for Python 3.

[2018-05-19 20:16] schedutron commented on #4744
How do we plan to enable this? Via a shell script?

[2018-05-19 21:39] poush commented on #4748
See this https://stackoverflow.com/questions/41335873/is-it-possible-to-use-pika-instead-of-librabbitmq-with-celery

[2018-05-20 03:31] #4726 closed

[2018-05-20 03:51] #4704 closed

[2018-05-20 05:50] Kreijstal commented on #4748
This one is caused by bleach.

[2018-05-20 07:34] schedutron commented on #4748
@poush So it `pika` might be slower, but will it be just good enough for our purposes?

[2018-05-20 08:41] Kreijstal opened #4749 "Tests fail locally"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

Tests are not working locally
**Expected behavior:**

Tests should work locally
**Steps to reproduce:**

[code]

**Other informa

[2018-05-20 08:53] Kreijstal opened #4750 "404 error when executing python3 manage.py runserver"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**

When I go to localhost:5000 it throws a 404 error.
**Expected behavior:**

It should not give "404 page not found"
**Steps to re

[2018-05-20 09:08] Kreijstal commented on #4750
This is caused by not commenting out SERVER_NAME in .env file

[2018-05-20 09:08] #4750 closed

[2018-05-20 11:26] iamareebjamal commented on #4748
I thought I had corrected these in my PR. amqp instead, removed functools(couldn't find the use in project), updated PIL and xhtml2pdf

Will look at it

[2018-05-20 11:34] iamareebjamal commented on #4748
@poush I could install the new requirements without issue. I can't understand the context of the question?

[2018-05-20 11:37] iamareebjamal commented on #4644
bleach was upgraded to `>2.13` in #4674

Please confirm so this can be closed

[2018-05-20 11:40] iamareebjamal commented on #4636
This is not yet solved @Kreijstal @bhaveshAn @srv-twry as apparently by recent inability to run server locally

I think it should just be removed from `.env`

[2018-05-20 11:42] bhaveshAn commented on #4636
Yes, its required to be removed from `.env`

[2018-05-20 11:42] srv-twry commented on #4636
Yes, will remove it.

[2018-05-20 11:43] iamareebjamal commented on #4743
Closing this in favor of #4708

[2018-05-20 11:43] #4743 closed

[2018-05-20 11:44] #4711 closed

[2018-05-20 11:44] #4720 closed

[2018-05-20 11:48] iamareebjamal commented on #4733
@bhaveshAn Are you working on this?

[2018-05-20 11:53] iamareebjamal commented on #4696
This is because you ran the project on Python2. Thanks

There is an issue present some tests in local environment

[2018-05-20 11:53] #4696 closed

[2018-05-20 11:54] iamareebjamal commented on #4709
Yes, this is because of running it on Python2

[2018-05-20 11:54] #4709 closed

[2018-05-20 11:55] iamareebjamal commented on #4736
First let's handle the previous issue

[2018-05-20 12:00] bhaveshAn commented on #4733
@pradeepgangwar You can work on it.

[2018-05-20 12:09] iamareebjamal commented on #4744
Travis is always checking the latest version of development branch

Why deployment fail locally?

Travis had different `.env` This will hopefully be fixed and was reported earlier

Why tests fail locally?

Because travis has new db to work each time. This does not work correctly locally. Unfortunately, I haven't spent that amount of time on python to direct to correct usage. But in Java, we never

[2018-05-20 12:11] iamareebjamal commented on #4744
And about a script to handle running the server, I was already one which checks all dependencies and starts/installs missing ones like Redis, Celery and Postgres. I had to stop because of lack of time. I'll share redis shell script if someone wants to continue in the work

[2018-05-20 13:26] schedutron commented on #4749
Does `nosetests tests/unittests` run without error?

[2018-05-20 15:04] schedutron commented on #4744
@iamareebjamal Please share the script, I would like to work on it further.
🙂

On Sun, May 20, 2018 at 5:41 PM, Areeb Jamal <notifications@github.com>
wrote:

[2018-05-20 15:17] iamareebjamal commented on #4744
https://gist.github.com/iamareebjamal/69711787848921eaea64d894089a22c5

[2018-05-20 15:36] #4636 closed

[2018-05-20 15:40] pradeepgangwar opened #4752 "Sponsors step in event creation wizard gives 500 error."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/open-event-server

**Current behavior:**
On proceeding to sponsors step in event creation wizard server returns 500 error.

**Steps to reproduce:**
Try creating a event w

[2018-05-20 15:42] poush commented on #4748
My bad 😅 my repo wasn't upto date.

[2018-05-20 15:42] #4748 closed

[2018-05-20 15:43] iamareebjamal commented on #4752
This needs to be `json.loads(str(base64.b64decode(token_second_segment)))` in `jwt.py`

[2018-05-20 15:45] srv-twry commented on #4752
@pradeepgangwar Please go ahead and fix it if you want as @iamareebjamal stated.

[2018-05-20 15:45] pradeepgangwar commented on #4752
@srv-twry Ok I will do it. Thanks. :sweat_smile:

[2018-05-20 15:50] iamareebjamal commented on #4752
Please check and report if it is working as intended after fixing @pradeepgangwar

[2018-05-20 15:56] iamareebjamal commented on #4752
Also please upgrade to Python 3.6.+ :smile: This occurs on 3.5, but yes it needs to be fixed

[2018-05-20 16:35] pradeepgangwar commented on #4752
@iamareebjamal it gives a new error now. I tried searching for its solution, but couldn't find one. Can you look into this? :sweat_smile:

[code]

[2018-05-20 16:40] iamareebjamal commented on #4752
Did you write this? `json.loads(str(base64.b64decode(token_second_segment), 'utf-8'))`?

[2018-05-20 16:43] iamareebjamal commented on #4752
`str(base64.b64decode(token_second_segment))` converts JSON

[code]

to

`'b\'{"name":"Areeb"}\''`
 which cannot be parsed as JSON as it is not valid JSON

But
`str(base64.b64decode(token_second_segment), 'utf-8')` converts it correctly